Repository DataDog/datadog-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-platform, @DataDog/container-integrations, @DataDog/documentation, @DataDog/do-not-notify, @DataDog/agent-core, @DataDog/agent-apm, @trishankatdatadog, @DataDog/agent-integrations, @DataDog/integration-tools-and-libraries, @DataDog/integrations-tools-and-libraries, @DataDog/processes, @DataDog/networks, @DataDog/agent-security, @Datadog/agent-core, @Datadog/container-integrations, @DataDog/container-app, @Datadog/agent-platform, @DataDog/agent-all, @DataDog/logs-intake, @DataDog/metrics-aggregation

.github/CODEOWNERS:

# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# Config files for various CI systems / tasks
/.*                                     @DataDog/agent-platform

/CHANGELOG.rst                          @DataDog/agent-platform
/CHANGELOG-DCA.rst                      @DataDog/container-integrations

/*.md                                   @DataDog/agent-platform @DataDog/documentation
/NOTICE                                 @DataDog/agent-platform @DataDog/documentation

/LICENSE*                               @DataDog/do-not-notify

# Todo: is this file still needed?
/Makefile.trace                         @DataDog/agent-platform

/release.json                           @DataDog/agent-platform
/requirements.txt                       @DataDog/agent-platform
/pyproject.toml                         @DataDog/agent-platform
/setup.cfg                              @DataDog/agent-platform

/.circleci/                             @DataDog/agent-platform
/.github/                               @DataDog/agent-platform

/chocolatey/                            @DataDog/agent-platform

/cmd/                                   @DataDog/agent-core
/cmd/trace-agent/                       @DataDog/agent-apm
/cmd/agent/app/integrations*.go         @trishankatdatadog @DataDog/agent-integrations @DataDog/agent-core
/cmd/agent/clcrunnerapi/                @DataDog/container-integrations @DataDog/agent-core
/cmd/agent/dist/conf.d/jetson.d         @DataDog/agent-platform
/cmd/agent/*.manifest                   @DataDog/agent-platform
/cmd/agent/*.mc                         @DataDog/agent-platform
/cmd/agent/*.rc                         @DataDog/agent-platform
/cmd/agent/install*.sh                  @DataDog/agent-platform
/cmd/agent/version.h                    @DataDog/agent-platform
/cmd/cluster-agent/                     @DataDog/container-integrations
/cmd/cluster-agent/commands/            @DataDog/container-integrations @DataDog/integration-tools-and-libraries
/cmd/cluster-agent-cloudfoundry/        @DataDog/integrations-tools-and-libraries
/cmd/cluster-agent/api/v1/cloudfoundry_metadata.go        @DataDog/integrations-tools-and-libraries
/cmd/process-agent/                     @DataDog/processes
/cmd/system-probe/                      @DataDog/networks
/cmd/security-agent/                    @DataDog/container-integrations @DataDog/agent-security

/dev/                                   @DataDog/agent-platform
/devenv/                                @DataDog/agent-platform

/Dockerfiles/                           @DataDog/container-integrations

/docs/                                  @DataDog/documentation @DataDog/agent-platform
/docs/agent/                            @DataDog/documentation @DataDog/agent-core
/docs/dogstatsd/                        @DataDog/documentation @DataDog/agent-core
/docs/trace-agent/                      @DataDog/documentation @DataDog/agent-apm
/docs/cluster-agent/                    @DataDog/documentation @DataDog/container-integrations
/docs/dev/checks/                       @DataDog/documentation @DataDog/agent-core

/google-marketplace/                    @DataDog/container-integrations

# These files are owned by all teams, but assigning them to @DataDog/agent-all causes a lot of spam
# Assigning them to a group that doesn't exist means nobody will receive notifications for them, but
# that should be fine since rarely we make PRs that only change those files alone.
/releasenotes/                          @DataDog/do-not-notify
/go.mod                                 @DataDog/do-not-notify
/go.sum                                 @DataDog/do-not-notify

/Makefile.trace                         @DataDog/agent-apm

/omnibus/                               @DataDog/agent-platform
/omnibus/config/software/datadog-agent*.rb                @Datadog/agent-core @DataDog/agent-platform
/omnibus/config/software/datadog-agent-integrations-*.rb  @DataDog/agent-integrations
/omnibus/config/software/datadog-security-agent*.rb       @Datadog/container-integrations @DataDog/agent-platform

/pkg/                                   @DataDog/agent-core
/pkg/aggregator/                        @DataDog/agent-core
/pkg/collector/                         @DataDog/agent-core
/pkg/forwarder/                         @DataDog/agent-core
/pkg/metadata/                          @DataDog/agent-core
/pkg/metrics/                           @DataDog/agent-core
/pkg/serializer/                        @DataDog/agent-core
/pkg/status/                            @DataDog/agent-core
/pkg/telemetry/                         @DataDog/agent-core
/pkg/version/                           @DataDog/agent-core
/pkg/trace/                             @DataDog/agent-apm
/pkg/autodiscovery/                     @DataDog/container-integrations @DataDog/agent-core
/pkg/autodiscovery/listeners/           @DataDog/container-integrations
/pkg/autodiscovery/listeners/cloudfoundry*.go  @DataDog/integrations-tools-and-libraries
/pkg/autodiscovery/listeners/snmp*.go   @DataDog/agent-integrations
/pkg/autodiscovery/providers/cloudfoundry*.go  @DataDog/integrations-tools-and-libraries
/pkg/clusteragent/                      @DataDog/container-integrations
/pkg/clusteragent/orchestrator/         @DataDog/container-app
/pkg/collector/corechecks/cluster/      @DataDog/container-integrations
/pkg/collector/corechecks/containers/   @DataDog/container-integrations
/pkg/collector/corechecks/ebpf/         @DataDog/container-integrations
/pkg/collector/corechecks/embed/        @Datadog/agent-platform
/pkg/collector/corechecks/embed/jmx/    @Datadog/agent-core
/pkg/collector/corechecks/embed/apm*.go            @Datadog/agent-platform @DataDog/agent-apm
/pkg/collector/corechecks/embed/process_agent*.go  @Datadog/agent-platform @DataDog/processes
/pkg/collector/corechecks/net/          @DataDog/agent-platform
/pkg/collector/corechecks/system/       @DataDog/agent-platform
/pkg/collector/corechecks/systemd/      @DataDog/agent-integrations
/pkg/config/config_template.yaml        @DataDog/agent-all @DataDog/documentation
/pkg/tagger/                            @DataDog/container-integrations
/pkg/tagger/collectors/garden*.go       @DataDog/integrations-tools-and-libraries
/pkg/util/cloudfoundry/                 @DataDog/integrations-tools-and-libraries
/pkg/util/clusteragent/                 @DataDog/container-integrations
/pkg/util/containers/                   @DataDog/container-integrations
/pkg/util/containers/collectors/cloudfoundry.go              @DataDog/integrations-tools-and-libraries
/pkg/util/docker/                       @DataDog/container-integrations
/pkg/util/ecs/                          @DataDog/container-integrations
/pkg/util/kubernetes/                   @DataDog/container-integrations @DataDog/container-app
/pkg/util/retry/                        @DataDog/container-integrations
/pkg/logs/                              @DataDog/logs-intake @DataDog/agent-core
/pkg/logs/input/traps/                  @DataDog/agent-integrations @DataDog/agent-core
/pkg/metadata/ecs/                      @DataDog/networks
/pkg/metadata/kubernetes/               @DataDog/networks
/pkg/process/                           @DataDog/processes
/pkg/process/checks/pod*.go             @DataDog/container-app
/pkg/orchestrator/                      @DataDog/container-app
/pkg/network/                           @DataDog/networks
/pkg/ebpf/                              @DataDog/networks
/pkg/quantile/                          @DataDog/metrics-aggregation
/pkg/compliance/                        @DataDog/container-integrations
/pkg/kubestatemetrics                   @DataDog/container-integrations
/pkg/security/                          @DataDog/agent-security
/pkg/snmp/                              @DataDog/agent-integrations

/pkg-config/                            @DataDog/agent-platform

/releasenotes-dca/                      @DataDog/container-integrations

/rtloader/                              @DataDog/agent-core

/tasks/                                 @DataDog/agent-platform
/tasks/agent.py                         @DataDog/agent-core
/tasks/cluster_agent_cloudfoundry.py    @DataDog/integrations-tools-and-libraries
/tasks/process-agent.py                 @DataDog/processes
/tasks/system-probe.py                  @DataDog/networks
/tasks/trace.py                         @DataDog/agent-apm
/tasks/security_agent.py                @DataDog/agent-security

/test/                                  @DataDog/agent-platform
/test/benchmarks/                       @DataDog/agent-core
/test/e2e/                              @DataDog/container-integrations
/test/integration/                      @DataDog/container-integrations
/test/kitchen/                          @DataDog/agent-platform
/test/kitchen/kitchen-azure-security-agent-test.yml @DataDog/agent-security
/test/kitchen/kitchen-vagrant-security-agent.yml @DataDog/agent-security
/test/kitchen/site-cookbooks/dd-security-agent-check/ @DataDog/agent-security
/test/system/                           @DataDog/agent-core

/tools/                                 @DataDog/agent-platform
/tools/ebpf/                            @DataDog/networks
/tools/gdb/                             @DataDog/agent-core
/tools/windows/                         @DataDog/agent-platform

[logging] Do not panic if agent is configured to log nowhere
  pkg/config/log.go
  pkg/config/log_nix_test.go
Owners: @DataDog/agent-core

[jmxfetch logging] Add jmx_log_file doc and release note
  pkg/config/config_template.yaml
  releasenotes/notes/jmxfetch-log-file-8009038117c6d3c5.yaml
Owners: @DataDog/agent-all, @DataDog/documentation, @DataDog/do-not-notify

[logging] Fix additional stacktrace depth for internal HTTP server logger
  cmd/agent/api/server.go
Owners: @DataDog/agent-core

[logging] Fix flushing of log entries logged before logger init
  pkg/util/log/log.go
Owners: @DataDog/agent-core

Read udp ports bindings for all namespaces on init
  pkg/ebpf/tracer.go
  pkg/network/port.go
Owners: @DataDog/networks

Fixes bug introduced by #6694. Install would fail when upgrading from an install that didn't already have system-probe
  tools/windows/install-help/cal/stopservices.cpp
Owners: @DataDog/agent-platform

fix x86 build
  tools/windows/install-help/cal/stopservices.cpp
Owners: @DataDog/agent-platform

Retain the domain/user that was used to register the agent service on initial install; this way, caller doesn't need to know it to upgrade
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  releasenotes/notes/allowupgradenoparams-3e835eaeb8db0b04.yaml
  tools/windows/install-help/cal/FinalizeInstall.cpp
  tools/windows/install-help/cal/caninstall.cpp
  tools/windows/install-help/cal/customactiondata.cpp
  tools/windows/install-help/cal/customactiondata.h
  tools/windows/install-help/cal/ddreg.cpp
  tools/windows/install-help/cal/ddreg.h
  tools/windows/install-help/cal/doUninstall.cpp
  tools/windows/install-help/cal/resource.h
  tools/windows/install-help/cal/stopservices.cpp
  tools/windows/install-help/cal/strings.cpp
  tools/windows/install-help/cal/strings.h
  tools/windows/install-help/cal/stringtable.rc
Owners: @DataDog/agent-platform, @DataDog/do-not-notify

[release] remove 7.24.0-rc.x entries.
  release.json
Owners: @DataDog/agent-platform

[release] switch to releases branches.
  release.json
Owners: @DataDog/agent-platform

[release] omnibus-ruby version use 7.24.x as well.
  release.json
Owners: @DataDog/agent-platform

add compliance containers running metric (#6734)
  pkg/compliance/agent/agent.go
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/telemetry.go
  pkg/compliance/agent/telemetry_test.go
  pkg/util/containers/collectors/detector.go
Owners: @DataDog/container-integrations

Fix missing env vars in the flare (#6744)
  pkg/flare/envvars.go
  pkg/flare/envvars_test.go
  releasenotes/notes/fix-flare-envvars-482c475e00e55803.yaml
Owners: @DataDog/agent-core, @DataDog/do-not-notify

[release] adapt release.json for 7.24.0-rc.6 since the branch off
  release.json
Owners: @DataDog/agent-platform

Rename variable
  pkg/trace/stats/statsraw.go
Owners: @DataDog/agent-apm

[release] 7.24.0-rc.6 release entry.
  release.json
Owners: @DataDog/agent-platform

Fixes bug introduced by #6694. Install would fail when upgrading from an install that didn't already have system-probe (#6765)
  tools/windows/install-help/cal/stopservices.cpp
Owners: @DataDog/agent-platform

[backport] Fixes bug introduced by #6694. Install would fail when upgrading from an install that didn't already have system-probe
  tools/windows/install-help/cal/stopservices.cpp
Owners: @DataDog/agent-platform

[backport] Fixes bug introduced by #6694. Install would fail when upgrading from an install that didn't already have system-probe (#6772)
  tools/windows/install-help/cal/stopservices.cpp
Owners: @DataDog/agent-platform

[logging] Fix a few small regressions (#6763)
  cmd/agent/api/server.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/config/log_nix_test.go
  pkg/util/log/log.go
  releasenotes/notes/jmxfetch-log-file-8009038117c6d3c5.yaml
Owners: @DataDog/agent-core, @DataDog/agent-all, @DataDog/documentation, @DataDog/do-not-notify

[logging] Fix a few small regressions (#6763)
  cmd/agent/api/server.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/config/log_nix_test.go
  pkg/util/log/log.go
  releasenotes/notes/jmxfetch-log-file-8009038117c6d3c5.yaml
Owners: @DataDog/agent-core, @DataDog/agent-all, @DataDog/documentation, @DataDog/do-not-notify

[logging] Fix a few small regressions (#6763) (#6774)
  cmd/agent/api/server.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/config/log_nix_test.go
  pkg/util/log/log.go
  releasenotes/notes/jmxfetch-log-file-8009038117c6d3c5.yaml
Owners: @DataDog/agent-core, @DataDog/agent-all, @DataDog/documentation, @DataDog/do-not-notify

[release] 7.24.0-rc.6 release entry. (#6771)
  release.json
Owners: @DataDog/agent-platform

[orchestrator] fix edge cases container scrubber (#6725)
  pkg/orchestrator/data_scrubber.go
  pkg/orchestrator/data_scrubber_test.go
  pkg/orchestrator/pod.go
  pkg/process/config/data_scrubber_test.go
Owners: @DataDog/container-app, @DataDog/processes

[orchestrator] fix edge cases container scrubber (#6725)
  pkg/orchestrator/data_scrubber.go
  pkg/orchestrator/data_scrubber_test.go
  pkg/orchestrator/pod.go
  pkg/process/config/data_scrubber_test.go
Owners: @DataDog/container-app, @DataDog/processes

Fix 'release.list-major-change' command for python 3
  tasks/release.py
Owners: @DataDog/agent-platform

Add periodic cleanup of kitchen leftovers
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

Only run kitchen cleanup if TESTING_CLEANUP is true
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

add flag to gcloud auth (#6762)
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

Added unit test for ctx_switches
  pkg/collector/corechecks/system/cpu_test.go
Owners: @DataDog/agent-platform

Add missing unit test
  pkg/collector/corechecks/system/cpu_test.go
Owners: @DataDog/agent-platform

Moved integration into correct folder. Renamed vdd to power.
  cmd/agent/app/run.go
  pkg/collector/corechecks/nvidia/jetson/cpuMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/doc.go
  pkg/collector/corechecks/nvidia/jetson/gpuMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/iramMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/jetson.go
  pkg/collector/corechecks/nvidia/jetson/jetson_test.go
  pkg/collector/corechecks/nvidia/jetson/metricsSender.go
  pkg/collector/corechecks/nvidia/jetson/powerMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/ramMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/swapMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/temperatureMetricsSender.go
Owners: @DataDog/agent-core
