Repository DataDog/datadog-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-core, @DataDog/container-integrations, @DataDog/burrito, @DataDog/ramen-intake, @DataDog/metrics-aggregation, @DataDog/prodsec, @DataDog/agent-integrations

.github/CODEOWNERS:

# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

/cmd/                                   @DataDog/agent-core
/omnibus/                               @DataDog/agent-core
/pkg/                                   @DataDog/agent-core
/pkg/aggregator/                        @DataDog/agent-core
/pkg/collector/                         @DataDog/agent-core
/pkg/forwarder/                         @DataDog/agent-core
/pkg/metadata/                          @DataDog/agent-core
/pkg/metrics/                           @DataDog/agent-core
/pkg/serializer/                        @DataDog/agent-core
/pkg/status/                            @DataDog/agent-core
/pkg/version/                           @DataDog/agent-core

/cmd/cluster-agent/                     @DataDog/container-integrations
/Dockerfiles/                           @DataDog/container-integrations
/pkg/autodiscovery/                     @DataDog/container-integrations @DataDog/agent-core
/pkg/autodiscovery/listeners/           @DataDog/container-integrations
/pkg/clusteragent/                      @DataDog/container-integrations
/pkg/collector/corechecks/cluster/      @DataDog/container-integrations
/pkg/collector/corechecks/containers/   @DataDog/container-integrations
/pkg/tagger/                            @DataDog/container-integrations
/pkg/util/clusteragent/                 @DataDog/container-integrations
/pkg/util/containers/                   @DataDog/container-integrations
/pkg/util/docker/                       @DataDog/container-integrations @DataDog/burrito
/pkg/util/ecs/                          @DataDog/container-integrations @DataDog/burrito
/pkg/util/kubernetes/                   @DataDog/container-integrations @DataDog/burrito
/pkg/util/retry/                        @DataDog/container-integrations

/pkg/logs/                              @DataDog/ramen-intake

/pkg/metadata/ecs/                      @DataDog/burrito
/pkg/metadata/kubernetes/               @DataDog/burrito
/pkg/procmatch/                         @DataDog/burrito

/pkg/quantile                           @DataDog/metrics-aggregation

/cmd/agent/app/integrations*.go         @DataDog/prodsec @DataDog/agent-integrations @DataDog/agent-core

Adding version 6.6.0-rc.7
  release.json
Owners: none

adding Changelog for the Datadog Cluster Agent 1.0.0
  CHANGELOG-DCA.rst
Owners: none

updating doc for the Cluster Agent
  docs/cluster-agent/CUSTOM_METRICS_SERVER.md
  docs/cluster-agent/GETTING_STARTED.md
  docs/cluster-agent/README.md
Owners: none

Fix URL
  Dockerfiles/cluster-agent/README.md
Owners: @DataDog/container-integrations

fix names and added comment for new struct
  pkg/autodiscovery/integration/config.go
  pkg/collector/check/id.go
Owners: @DataDog/container-integrations, @DataDog/agent-core

modified TestCheck to add the ExtraString method
  pkg/collector/collector_test.go
Owners: @DataDog/agent-core

added ExtraString to other TestCheck structs in tests
  pkg/collector/check/id_test.go
  pkg/collector/corechecks/loader_test.go
Owners: @DataDog/agent-core

Print correct error when installing integration fails
  cmd/agent/app/integrations.go
  releasenotes/notes/error_print-17ce0929434c5f29.yaml
Owners: @DataDog/prodsec, @DataDog/agent-integrations, @DataDog/agent-core

add datadog-agent config command to print runtime configuration
  cmd/agent/api/agent/agent.go
  cmd/agent/app/config.go
  releasenotes/notes/add-config-command-704a1a143ceca85e.yaml
Owners: @DataDog/agent-core

removed the ExtraString method after re-thinking the feature
  pkg/collector/check/check.go
  pkg/collector/check/id.go
  pkg/collector/check/id_test.go
  pkg/collector/collector_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/collector/corechecks/loader_test.go
  pkg/collector/py/check.go
  pkg/flare/auth_token
  pkg/flare/config_check.go
  releasenotes/notes/check-extra-instance-id-41b01132fa3e8e96.yaml
Owners: @DataDog/agent-core

fixe fmt test
  pkg/autodiscovery/integration/config.go
Owners: @DataDog/container-integrations, @DataDog/agent-core

wip/debugging in progress. adding/fixing support for domain user
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/stdafx.h
  omnibus/resources/agent/msi/cal/strings.cpp
  omnibus/resources/agent/msi/cal/strings.h
  omnibus/resources/agent/msi/cal/usercreate.cpp
  omnibus/resources/agent/msi/source.wxs.erb
Owners: @DataDog/agent-core

Add backup keyserver option for the install script
  cmd/agent/install_script.sh
Owners: @DataDog/agent-core

[windows] fix accidental installation of apm.yaml.default and load.d/conf.yaml.default
  .gitlab-ci.yml
Owners: none

[windows] fix accidental installation of apm.yaml.default and (#2516)
  .gitlab-ci.yml
Owners: none

synced yaml2 revision
  Gopkg.toml
  omnibus/config/software/datadog-agent-finalize.rb
Owners: @DataDog/agent-core

Adding version 6.6.0-rc.8
  release.json
Owners: none

added tests, changed the buildID method in checkbase
  pkg/collector/check/id.go
  pkg/collector/check/id_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/checkbase_test.go
  pkg/collector/py/check_test.go
  pkg/flare/auth_token
Owners: @DataDog/agent-core

Build omnibus into . directory
  .circleci/config.yml
  .gitlab-ci.yml
Owners: none

Disable caching for a bit
  .circleci/config.yml
Owners: none

Add missing checkout
  .circleci/config.yml
Owners: none

Use caching again
  .circleci/config.yml
Owners: none

Add missing enter_venv
  .circleci/config.yml
Owners: none

Add prelude for 6.6.0 release
  releasenotes/notes/prelude-release-6.6.0-f706fa67a70a3b8b.yaml
Owners: none

Run unit tests on gitlab
  .gitlab-ci.yml
Owners: none

No cache for publish dep
  .circleci/config.yml
Owners: none

Fix circleci file
  .circleci/config.yml
Owners: none

Add venv to publish task
  .circleci/config.yml
Owners: none

Adding version 6.6.0 + removing 6.6.0 RCs
  release.json
Owners: none

Update CHANGELOG for 6.6.0
  CHANGELOG.rst
Owners: none

Update CHANGELOG for 6.6.0 (#2519)
  CHANGELOG.rst
Owners: none

[task] Allow missing bugfix note when generating minor changelog
  tasks/release.py
Owners: none

Fix integratio-core version for 6.6.0
  release.json
Owners: none

Replace - in _ for check folder name, move only yaml files
  cmd/agent/app/integrations.go
Owners: @DataDog/prodsec, @DataDog/agent-integrations, @DataDog/agent-core

only push cluster-agent-dev:master from master
  .gitlab-ci.yml
Owners: none

Compile the process agent from source within omnibus
  omnibus/config/software/datadog-process-agent.rb
Owners: @DataDog/agent-core

Use Codecov for code coverage reporting (#2489)
  .circleci/config.yml
  .codecov.yml
  README.md
  appveyor.yml
Owners: none

Make sure we disable network tracer on rm
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
Owners: @DataDog/agent-core

Initial pass at installing and starting the network tracer
  Dockerfiles/agent/SUPERVISION.md
  Dockerfiles/agent/s6-services/network/finish
  Dockerfiles/agent/s6-services/network/log/run
  Dockerfiles/agent/s6-services/network/run
  Dockerfiles/agent/s6-services/process/finish
  cmd/agent/main.go
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-process-agent.rb
  omnibus/config/templates/datadog-agent/systemd.network.service.erb
  omnibus/config/templates/datadog-agent/systemd.process.service.erb
  omnibus/config/templates/datadog-agent/upstart_debian.network.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.network.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.process.conf.erb
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  releasenotes/notes/adding-bpf-network-tracer-998cb72e5a8562e9.yaml
Owners: @DataDog/container-integrations, @DataDog/agent-core

PR feedback and adding network-agent sysvinit support for debian 7
  Dockerfiles/agent/SUPERVISION.md
  Dockerfiles/agent/s6-services/network/finish
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/templates/datadog-agent/systemd.network.service.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.network.erb
  omnibus/config/templates/datadog-agent/upstart_debian.network.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.network.conf.erb
  omnibus/package-scripts/agent/postinst
  tasks/agent.py
Owners: @DataDog/container-integrations, @DataDog/agent-core
