Repository DataDog/datadog-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/croissant, @DataDog/kenafeh, @DataDog/burrito, @DataDog/ramen-intake, @DataDog/sandwich

.github/CODEOWNERS:

# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

/cmd/                                   @DataDog/croissant
/omnibus/                               @DataDog/croissant
/pkg/                                   @DataDog/croissant
/pkg/aggregator/                        @DataDog/croissant
/pkg/collector/                         @DataDog/croissant
/pkg/forwarder/                         @DataDog/croissant
/pkg/metadata/                          @DataDog/croissant
/pkg/metrics/                           @DataDog/croissant
/pkg/serializer/                        @DataDog/croissant
/pkg/status/                            @DataDog/croissant
/pkg/version/                           @DataDog/croissant

/Dockerfiles/                           @DataDog/kenafeh
/pkg/collector/autodiscovery/           @DataDog/kenafeh @DataDog/croissant
/pkg/collector/corechecks/containers/   @DataDog/kenafeh
/pkg/collector/corechecks/cluster/      @DataDog/kenafeh
/pkg/collector/listeners/docker*        @DataDog/kenafeh
/pkg/tagger/                            @DataDog/kenafeh
/pkg/util/docker/                       @DataDog/kenafeh @DataDog/burrito
/pkg/util/ecs/                          @DataDog/kenafeh @DataDog/burrito
/pkg/util/kubernetes/                   @DataDog/kenafeh @DataDog/burrito
/pkg/util/retry/                        @DataDog/kenafeh

/pkg/logs/                              @DataDog/ramen-intake

/pkg/metrics/percentile/                @DataDog/sandwich

/pkg/metadata/ecs/                      @DataDog/burrito
/pkg/metadata/kubernetes/               @DataDog/burrito

[docker] ship and use S6 init to run process/trace (#1104)
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/README.md
  Dockerfiles/agent/SUPERVISION.md
  Dockerfiles/agent/entrypoint.sh
  Dockerfiles/agent/entrypoint/01-check-apikey.sh
  Dockerfiles/agent/entrypoint/10-dogstatsd-socket.sh
  Dockerfiles/agent/entrypoint/50-ecs.sh
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  Dockerfiles/agent/entrypoint/50-mesos.sh
  Dockerfiles/agent/entrypoint/51-defaults.sh
  Dockerfiles/agent/entrypoint/60-network-check.sh
  Dockerfiles/agent/entrypoint/89-copy-customfiles.sh
  Dockerfiles/agent/initlog.sh
  Dockerfiles/agent/probe.sh
  Dockerfiles/agent/s6-services/agent/finish
  Dockerfiles/agent/s6-services/agent/log/run
  Dockerfiles/agent/s6-services/agent/run
  Dockerfiles/agent/s6-services/process/finish
  Dockerfiles/agent/s6-services/process/log/run
  Dockerfiles/agent/s6-services/process/run
  Dockerfiles/agent/s6-services/trace/finish
  Dockerfiles/agent/s6-services/trace/log/run
  Dockerfiles/agent/s6-services/trace/run
  releasenotes/notes/docker-image-s6-init-d7aef5dbbc737659.yaml
Owners: @DataDog/kenafeh

Bind envrionment variable DD_LOGS_CONFIG_DEV_MODE_USE_PROTO to logs_config.dev_mode_use_proto. (#1236)
  pkg/config/config.go
Owners: @DataDog/croissant

[Windows] add process agent support (#1075)
  cmd/agent/app/dependent_services_windows.go
  cmd/agent/main_windows.go
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-process-agent.rb
  omnibus/resources/agent/msi/localization-en-us.wxl.erb
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/Add-Datadog-Process-Agent-to-base-agent-install-b72cd8722f715a6e.yaml
Owners: @DataDog/croissant

[py/checks] Set `urllib3`'s logger to WARN level by default (#1235)
  cmd/agent/dist/checks/__init__.py
  releasenotes/notes/default-urllib3-logging-6a8aebc47b5f9754.yaml
Owners: @DataDog/croissant

s/add_external_tags/set_external_tags
  pkg/collector/py/datadog_agent.c
  pkg/collector/py/datadog_agent.go
  pkg/collector/py/datadog_agent_test.go
  pkg/collector/py/tests/external_host_tags.py
  pkg/metadata/externalhost/externalhost.go
  pkg/metadata/externalhost/externalhost_test.go
Owners: @DataDog/croissant

[Upstart] CentOS 6 uses `network` in addition to `networking` (#1228)
  omnibus/config/templates/datadog-agent/upstart_redhat.conf.erb
  omnibus/config/templates/datadog-cluster-agent/upstart.conf.erb
  omnibus/config/templates/datadog-dogstatsd/upstart.conf.erb
  omnibus/config/templates/datadog-puppy/upstart.conf.erb
  releasenotes/notes/centos6_start_on_reboot-18774a79a6626f1f.yaml
Owners: @DataDog/croissant

test for regressions
  .gitlab-ci.yml
Owners: none

better api
  pkg/collector/py/datadog_agent.go
  pkg/collector/py/datadog_agent_test.go
  pkg/metadata/externalhost/externalhost.go
  pkg/metadata/externalhost/externalhost_test.go
  pkg/metadata/externalhost/payload.go
Owners: @DataDog/croissant

image-filter: document the regex, add kubernetes/pause container
  pkg/collector/corechecks/containers/docker.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/filter_test.go
Owners: @DataDog/kenafeh, @DataDog/burrito

[cmd/agent] Enable 'resources' metadata collector by default
  cmd/agent/app/start.go
  pkg/config/config_template.yaml
Owners: @DataDog/croissant

[cmd/agent] Move metadata collection setup in its own function
  cmd/agent/app/start.go
Owners: @DataDog/croissant

add release note
  releasenotes/notes/default-resources-meta-collector-efb09f46389293fc.yaml
Owners: none

rename
  .gitlab-ci.yml
Owners: none

Adds datadog agent running metric
  pkg/aggregator/aggregator.go
Owners: @DataDog/croissant

Adds comments about the new metric
  pkg/aggregator/aggregator.go
Owners: @DataDog/croissant

Adds release note
  pkg/aggregator/aggregator.go
  releasenotes/notes/datadog_agent_running_metric-09505629a67b788e.yaml
Owners: @DataDog/croissant

Add ability to stop and start services.
  cmd/systray/doconfigure.go
  cmd/systray/doservicecontrol.go
  cmd/systray/systray.go
Owners: @DataDog/croissant

[Import] Adds ability to import the trace configs from datadog.conf
  pkg/legacy/converter.go
  pkg/legacy/importer.go
  releasenotes/notes/import_apm_configs-0a2c5e9a9c2693d1.yaml
Owners: @DataDog/croissant

Put process-agent in embedded/bin directory again
  omnibus/config/software/datadog-process-agent.rb
Owners: @DataDog/croissant

Add flare to tray icon
  Gopkg.lock
  cmd/systray/doflare.go
  cmd/systray/doservicecontrol.go
  cmd/systray/systray.go
  cmd/systray/systray.rc
  cmd/systray/version.h
  tasks/systray.py
Owners: @DataDog/croissant
