Repository DataDog/datadog-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-core, @DataDog/container-integrations, @DataDog/burrito, @DataDog/ramen-intake, @DataDog/metrics-aggregation, @DataDog/prodsec, @DataDog/agent-integrations

Dont move network-tracer.yaml on windows - as its not generated nor supported
  tasks/agent.py
Owners: none

Set a default value to the registry on Windows (#2450)
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/config/config_windows.go
  releasenotes/notes/add-default-value-to-registry-3a91e6b20f29f428.yaml
Owners: @DataDog/agent-core

only push cluster-agent-dev:master from master (#2521)
  .gitlab-ci.yml
Owners: none

Remove non specific code for windows/*nix tailers (#2460)
  pkg/logs/input/file/open_file_nix.go
  pkg/logs/input/file/open_file_windows.go
  pkg/logs/input/file/rotate.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/file/tailer_nix.go
  pkg/logs/input/file/tailer_test.go
  pkg/logs/input/file/tailer_windows.go
Owners: @DataDog/ramen-intake

Print correct error when installing integration fails (#2513)
  cmd/agent/app/integrations.go
  releasenotes/notes/error_print-17ce0929434c5f29.yaml
Owners: @DataDog/prodsec, @DataDog/agent-integrations, @DataDog/agent-core

[docs] Update upgrade docs
  docs/agent/README.md
  docs/agent/upgrade.md
Owners: none

sticking to 6.5.x branch
  .gitlab-ci.yml
  omnibus/config/software/datadog-trace-agent.rb
Owners: @DataDog/agent-core

[task] Allow missing bugfix note when generating minor changelog (#2520)
  tasks/release.py
Owners: none

[docs] Update upgrade docs (#2523)
  docs/agent/README.md
  docs/agent/upgrade.md
Owners: none

[macOS] Only replace site in config when DD_SITE is set
  cmd/agent/install_mac_os.sh
Owners: @DataDog/agent-core

updating doc for the Cluster Agent (#2509)
  docs/cluster-agent/CUSTOM_METRICS_SERVER.md
  docs/cluster-agent/GETTING_STARTED.md
  docs/cluster-agent/README.md
Owners: none

updated logic and tests
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  pkg/collector/check/id.go
  pkg/collector/check/id_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/checkbase_test.go
  pkg/collector/py/check.go
  pkg/collector/py/check_test.go
  pkg/flare/config_check.go
Owners: @DataDog/container-integrations, @DataDog/agent-core

[install scripts] Add support of DD_SITE (#2414)
  cmd/agent/install_mac_os.sh
  cmd/agent/install_script.sh
Owners: @DataDog/agent-core

Run cluster-agent as non-root, support read-only rootfs (#2506)
  Dockerfiles/cluster-agent/Dockerfile
Owners: @DataDog/container-integrations

Change test to remove flakiness
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Owners: @DataDog/container-integrations, @DataDog/burrito

trying to exclude coreos
  tasks/agent.py
Owners: none

return all errors
  cmd/agent/app/integrations.go
Owners: @DataDog/prodsec, @DataDog/agent-integrations, @DataDog/agent-core

Add wildcard support to pod label to tag mappings for k8s.
  Dockerfiles/agent/README.md
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/tmplvar/parse.go
  pkg/util/tmplvar/parse_test.go
Owners: @DataDog/container-integrations, @DataDog/agent-core

Add reno
  releasenotes/notes/support-wildcards-pod-labels-as-tags-45b873f7a94be498.yaml
Owners: none

gofmt
  pkg/tagger/collectors/common.go
Owners: @DataDog/container-integrations

Update integrations-core changelog links
  CHANGELOG.rst
Owners: none

review feedback
  .gitlab-ci.yml
Owners: none

fix tests
  pkg/tagger/collectors/kubelet_extract_test.go
Owners: @DataDog/container-integrations

Update integrations-core changelog links (#2526)
  CHANGELOG.rst
Owners: none

repair test kitchen tests (#2483)
  .gitlab-ci.yml
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.sh
Owners: none

Update integrations-core changelog links (#2526)
  CHANGELOG.rst
Owners: none

Update integrations-core changelog links (#2526)
  CHANGELOG.rst
Owners: none

Update integrations-core changelog links (#2526)
  CHANGELOG.rst
Owners: none

Fix merge mistakes
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/source.wxs.erb
Owners: @DataDog/agent-core

precising forward compatibility
  CHANGELOG-DCA.rst
Owners: none

Only copy network-tracer.yaml config on linux
  tasks/agent.py
Owners: none

Updating network tracer configuration to not use string
  pkg/config/config_template.yaml
Owners: @DataDog/agent-core

logs: reduce number of dependencies for the logs client (#2462)
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/client/connection_manager.go
  pkg/logs/client/connection_manager_test.go
  pkg/logs/client/delimiter.go
  pkg/logs/client/delimiter_test.go
  pkg/logs/client/destination.go
  pkg/logs/client/destinations.go
  pkg/logs/client/destinations_context.go
  pkg/logs/client/destinations_context_test.go
  pkg/logs/client/endpoints.go
  pkg/logs/client/mock/mock.go
  pkg/logs/client/prefixer.go
  pkg/logs/client/prefixer_test.go
  pkg/logs/client/testutil.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/sender_test.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
Owners: @DataDog/ramen-intake

Made pipeline configurable and added new metrics to the logs-agent
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/config/config_test.go
  pkg/logs/config/constants.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/journald/tailer.go
  pkg/logs/input/listener/tailer.go
  pkg/logs/input/windowsevent/tailer_windows.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/pipeline/registry.json
  pkg/logs/processor/processor.go
  pkg/logs/sender/sender.go
  pkg/logs/status/status_test.go
Owners: @DataDog/agent-core, @DataDog/ramen-intake

Add fixme comment
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Owners: @DataDog/container-integrations, @DataDog/burrito

Unblock the sender when additional endpoints is misconfigured
  pkg/logs/client/destination.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/sender_test.go
Owners: @DataDog/ramen-intake

Make consumeAsync private
  pkg/logs/client/destination.go
  pkg/logs/sender/sender.go
Owners: @DataDog/ramen-intake

Display a warning when the send to additional destination fails
  pkg/logs/client/destination.go
Owners: @DataDog/ramen-intake

Export metric with logs dropped
  pkg/logs/agent_test.go
  pkg/logs/client/destination.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/status/status_test.go
Owners: @DataDog/ramen-intake

Nits: wording and naming
  pkg/logs/client/destination.go
  pkg/logs/sender/sender.go
Owners: @DataDog/ramen-intake

.github/CODEOWNERS:

# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

/cmd/                                   @DataDog/agent-core
/omnibus/                               @DataDog/agent-core
/pkg/                                   @DataDog/agent-core
/pkg/aggregator/                        @DataDog/agent-core
/pkg/collector/                         @DataDog/agent-core
/pkg/forwarder/                         @DataDog/agent-core
/pkg/metadata/                          @DataDog/agent-core
/pkg/metrics/                           @DataDog/agent-core
/pkg/serializer/                        @DataDog/agent-core
/pkg/status/                            @DataDog/agent-core
/pkg/version/                           @DataDog/agent-core

/cmd/cluster-agent/                     @DataDog/container-integrations
/Dockerfiles/                           @DataDog/container-integrations
/pkg/autodiscovery/                     @DataDog/container-integrations @DataDog/agent-core
/pkg/autodiscovery/listeners/           @DataDog/container-integrations
/pkg/clusteragent/                      @DataDog/container-integrations
/pkg/collector/corechecks/cluster/      @DataDog/container-integrations
/pkg/collector/corechecks/containers/   @DataDog/container-integrations
/pkg/tagger/                            @DataDog/container-integrations
/pkg/util/clusteragent/                 @DataDog/container-integrations
/pkg/util/containers/                   @DataDog/container-integrations
/pkg/util/docker/                       @DataDog/container-integrations @DataDog/burrito
/pkg/util/ecs/                          @DataDog/container-integrations @DataDog/burrito
/pkg/util/kubernetes/                   @DataDog/container-integrations @DataDog/burrito
/pkg/util/retry/                        @DataDog/container-integrations

/pkg/logs/                              @DataDog/ramen-intake

/pkg/metadata/ecs/                      @DataDog/burrito
/pkg/metadata/kubernetes/               @DataDog/burrito
/pkg/procmatch/                         @DataDog/burrito

/pkg/quantile                           @DataDog/metrics-aggregation

/cmd/agent/app/integrations*.go         @DataDog/prodsec @DataDog/agent-integrations @DataDog/agent-core
