Repository DataDog/datadog-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-core, @DataDog/container-integrations, @DataDog/burrito, @DataDog/ramen-intake, @DataDog/metrics-aggregation, @DataDog/prodsec, @DataDog/agent-integrations

.github/CODEOWNERS:

# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

/cmd/                                   @DataDog/agent-core
/omnibus/                               @DataDog/agent-core
/pkg/                                   @DataDog/agent-core
/pkg/aggregator/                        @DataDog/agent-core
/pkg/collector/                         @DataDog/agent-core
/pkg/forwarder/                         @DataDog/agent-core
/pkg/metadata/                          @DataDog/agent-core
/pkg/metrics/                           @DataDog/agent-core
/pkg/serializer/                        @DataDog/agent-core
/pkg/status/                            @DataDog/agent-core
/pkg/version/                           @DataDog/agent-core

/cmd/cluster-agent/                     @DataDog/container-integrations
/Dockerfiles/                           @DataDog/container-integrations
/pkg/autodiscovery/                     @DataDog/container-integrations @DataDog/agent-core
/pkg/autodiscovery/listeners/           @DataDog/container-integrations
/pkg/clusteragent/                      @DataDog/container-integrations
/pkg/collector/corechecks/cluster/      @DataDog/container-integrations
/pkg/collector/corechecks/containers/   @DataDog/container-integrations
/pkg/tagger/                            @DataDog/container-integrations
/pkg/util/clusteragent/                 @DataDog/container-integrations
/pkg/util/containers/                   @DataDog/container-integrations
/pkg/util/docker/                       @DataDog/container-integrations @DataDog/burrito
/pkg/util/ecs/                          @DataDog/container-integrations @DataDog/burrito
/pkg/util/kubernetes/                   @DataDog/container-integrations @DataDog/burrito
/pkg/util/retry/                        @DataDog/container-integrations

/pkg/logs/                              @DataDog/ramen-intake

/pkg/metadata/ecs/                      @DataDog/burrito
/pkg/metadata/kubernetes/               @DataDog/burrito
/pkg/procmatch/                         @DataDog/burrito

/pkg/quantile                           @DataDog/metrics-aggregation

/cmd/agent/app/integrations*.go         @DataDog/prodsec @DataDog/agent-integrations @DataDog/agent-core

add datadog-agent config command to print runtime configuration (#2514)
  cmd/agent/api/agent/agent.go
  cmd/agent/app/config.go
  releasenotes/notes/add-config-command-704a1a143ceca85e.yaml
Owners: @DataDog/agent-core

Honor external metrics provider settings in status
  pkg/clusteragent/custommetrics/status.go
Owners: @DataDog/container-integrations

use yaml to marshal the runtime config
  cmd/agent/api/agent/agent.go
  cmd/agent/app/config.go
Owners: @DataDog/agent-core

Drop to 150ms sleep
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Owners: @DataDog/container-integrations, @DataDog/burrito

Change test to remove flakiness (#2524)
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Owners: @DataDog/container-integrations, @DataDog/burrito

Moved import downstream
  pkg/logs/input/journald/tailer.go
Owners: @DataDog/ramen-intake

Fix release version and omnibus software
  .gitlab-ci.yml
  release.json
Owners: none

Set DEPPROJECTROOT
  .gitlab-ci.yml
Owners: none

Drop s3 cache and drop breaking file
  .gitlab-ci.yml
Owners: none

Add disabled section
  Dockerfiles/cluster-agent/dist/templates/custommetricsprovider.tmpl
  Dockerfiles/cluster-agent/dist/templates/header.tmpl
  pkg/clusteragent/custommetrics/status.go
  pkg/clusteragent/custommetrics/status_no_apiserver.go
Owners: @DataDog/container-integrations

Some more fixes for ci
  .circleci/config.yml
  .gitlab-ci.yml
Owners: none

Add the ability to run a check n times
  cmd/agent/app/check.go
  releasenotes/notes/check-n-times-3bdb7eb6f43051b1.yaml
Owners: @DataDog/agent-core

Put deb to publish stage
  .gitlab-ci.yml
Owners: none

Drop unneeded jobs
  .circleci/config.yml
Owners: none

Fix build image
  .gitlab-ci.yml
Owners: none

[py] terminate python subprocesses if shutdown in process
  pkg/collector/py/datadog_agent.go
  pkg/collector/py/subprocesses.go
  pkg/collector/py/subprocesses_nix.go
  pkg/collector/py/subprocesses_nocpython.go
  pkg/collector/py/subprocesses_windows.go
  pkg/collector/runner/runner.go
Owners: @DataDog/agent-core
