Repository DataDog/datadog-agent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-platform, @DataDog/agent-core, @DataDog/apm-agent, @DataDog/prodsec, @DataDog/agent-integrations, @DataDog/container-integrations, @DataDog/processes, @DataDog/networks, @DataDog/baklava, @DataDog/agent-all, @Datadog/agent-core, @Datadog/agent-platform, @DataDog/logs-intake, @DataDog/metrics-aggregation

Misc fixes
  Gopkg.lock
  Gopkg.toml
  omnibus/config/software/libbcc.rb
  pkg/collector/corechecks/ebpf/empty.go
Owners: @DataDog/agent-all, @DataDog/agent-platform, @DataDog/agent-core

[dogstatsd] Continue parsing packets with consecutive newlines
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Owners: @DataDog/agent-core

[dogstatsd] Continue parsing packets with consecutive newlines (#4805)
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Owners: @DataDog/agent-core

[dogstatsd] Continue parsing packets with consecutive newlines (#4805)
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Owners: @DataDog/agent-core

Revert "Use 32 bit counters for dns_cache"
  pkg/ebpf/dns_cache.go
Owners: @DataDog/networks

Put stats at the top of the struct
  pkg/ebpf/dns_cache.go
Owners: @DataDog/networks

Misc fixes
  .gitlab-ci.yml
  omnibus/config/projects/agent.rb
  omnibus/config/projects/puppy.rb
  omnibus/config/software/datadog-agent.rb
Owners: @DataDog/agent-platform, @Datadog/agent-core

Add 7.17.0-rc.7 & 6.17.0-rc7 entry to release.json
  release.json
Owners: @DataDog/agent-platform

Pin go-bindata version
  bootstrap.json
  pkg/status/render.go
Owners: @DataDog/agent-platform, @DataDog/agent-core

Add 7.17.0-rc.7 & 6.17.0-rc7 entry to release.json (#4806)
  release.json
Owners: @DataDog/agent-platform

Misc fixes
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

[kitchen] Add 7->7 upgrade tests
  .gitlab-ci.yml
  test/kitchen/kitchen-azure-upgrade7-test.yml
  test/kitchen/tasks/run-test-kitchen.sh
Owners: @DataDog/agent-platform

removing duplicated doc
  Dockerfiles/cluster-agent/DOCKERHUB.md
  Dockerfiles/cluster-agent/README.md
Owners: @DataDog/container-integrations

gitlab: use new builders images.
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

Apply suggestions from code review
  test/kitchen/kitchen-azure-upgrade7-test.yml
Owners: @DataDog/agent-platform

[kitchen] Add A7->A7 upgrade tests (#4808)
  .gitlab-ci.yml
  test/kitchen/kitchen-azure-upgrade7-test.yml
  test/kitchen/tasks/run-test-kitchen.sh
Owners: @DataDog/agent-platform

Make the retrieval of system-probe done by omnibus
  .gitlab-ci.yml
  omnibus/config/projects/agent.rb
  omnibus/config/projects/puppy.rb
  omnibus/config/software/system-probe.rb
Owners: @DataDog/agent-platform

Cleanup
  omnibus/config/software/libc++.rb
Owners: @DataDog/agent-platform

gitlab: use builders images merged in master.
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

Fix
  .gitlab-ci.yml
  omnibus/config/software/system-probe.rb
Owners: @DataDog/agent-platform

[ebpf] fix alignment of dns_cache telemetry fields (#4803)
  pkg/ebpf/dns_cache.go
Owners: @DataDog/networks

Fix system-probe rpath
  .gitlab-ci.yml
Owners: @DataDog/agent-platform

Add intrahost classification algorithm for all connections (#4698)
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/config.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/event_common.go
  pkg/ebpf/state.go
  pkg/ebpf/state_intrahost_test.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer_direction_test.go
  pkg/ebpf/tracer_test.go
Owners: @DataDog/agent-all, @DataDog/networks

Release 7.17.0-rc.8
  release.json
Owners: @DataDog/agent-platform

.github/CODEOWNERS:

# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                       @DataDog/agent-platform

/cmd/                                   @DataDog/agent-core
/cmd/trace-agent/                       @DataDog/apm-agent
/cmd/agent/app/integrations*.go         @DataDog/prodsec @DataDog/agent-integrations @DataDog/agent-core
/cmd/agent/clcrunnerapi/                @DataDog/container-integrations @DataDog/agent-core
/cmd/agent/*.manifest                   @DataDog/agent-platform
/cmd/agent/*.mc                         @DataDog/agent-platform
/cmd/agent/*.rc                         @DataDog/agent-platform
/cmd/agent/install*.sh                  @DataDog/agent-platform
/cmd/agent/version.h                    @DataDog/agent-platform
/cmd/cluster-agent/                     @DataDog/container-integrations
/cmd/process-agent/                     @DataDog/processes
/cmd/system-probe/                      @DataDog/networks

/Dockerfiles/                           @DataDog/container-integrations

/docs/                                  @DataDog/baklava @DataDog/agent-platform
/docs/agent/                            @DataDog/baklava @DataDog/agent-core
/docs/dogstatsd/                        @DataDog/baklava @DataDog/agent-core
/docs/trace-agent/                      @DataDog/baklava @DataDog/apm-agent
/docs/cluster-agent/                    @DataDog/baklava @DataDog/container-integrations
/docs/dev/checks/                       @DataDog/baklava @DataDog/agent-core

/Gopkg.lock                             @DataDog/agent-all
/Gopkg.toml                             @DataDog/agent-all

/Makefile.trace                         @DataDog/apm-agent

/omnibus/                               @DataDog/agent-platform
/omnibus/config/software/datadog-agent*.rb                @Datadog/agent-core @DataDog/agent-platform
/omnibus/config/software/datadog-agent-integrations-*.rb  @DataDog/agent-integrations

/pkg/                                   @DataDog/agent-core
/pkg/aggregator/                        @DataDog/agent-core
/pkg/collector/                         @DataDog/agent-core
/pkg/forwarder/                         @DataDog/agent-core
/pkg/metadata/                          @DataDog/agent-core
/pkg/metrics/                           @DataDog/agent-core
/pkg/serializer/                        @DataDog/agent-core
/pkg/status/                            @DataDog/agent-core
/pkg/telemetry/                         @DataDog/agent-core
/pkg/version/                           @DataDog/agent-core
/pkg/trace/                             @DataDog/apm-agent
/pkg/autodiscovery/                     @DataDog/container-integrations @DataDog/agent-core
/pkg/autodiscovery/listeners/           @DataDog/container-integrations
/pkg/clusteragent/                      @DataDog/container-integrations
/pkg/collector/corechecks/cluster/      @DataDog/container-integrations
/pkg/collector/corechecks/containers/   @DataDog/container-integrations
/pkg/collector/corechecks/embed/        @Datadog/agent-platform
/pkg/collector/corechecks/embed/jmx/    @Datadog/agent-core
/pkg/collector/corechecks/embed/apm*.go            @Datadog/agent-platform @DataDog/apm-agent
/pkg/collector/corechecks/embed/process_agent*.go  @Datadog/agent-platform @DataDog/processes
/pkg/collector/corechecks/net/          @DataDog/agent-platform
/pkg/collector/corechecks/system/       @DataDog/agent-platform
/pkg/collector/corechecks/systemd/      @DataDog/agent-integrations
/pkg/config/config_template.yaml        @DataDog/agent-all @DataDog/baklava
/pkg/tagger/                            @DataDog/container-integrations
/pkg/util/clusteragent/                 @DataDog/container-integrations
/pkg/util/containers/                   @DataDog/container-integrations
/pkg/util/docker/                       @DataDog/container-integrations @DataDog/processes
/pkg/util/ecs/                          @DataDog/container-integrations @DataDog/processes
/pkg/util/kubernetes/                   @DataDog/container-integrations @DataDog/processes
/pkg/util/retry/                        @DataDog/container-integrations
/pkg/logs/                              @DataDog/logs-intake @DataDog/agent-core
/pkg/metadata/ecs/                      @DataDog/networks
/pkg/metadata/kubernetes/               @DataDog/networks
/pkg/process/                           @DataDog/processes
/pkg/ebpf/                              @DataDog/networks
/pkg/procmatch/                         @DataDog/processes
/pkg/quantile                           @DataDog/metrics-aggregation

/releasenotes/                          @DataDog/agent-all
/releasenotes-dca/                      @DataDog/container-integrations

/rtloader/                              @DataDog/agent-core

/tasks/                                 @DataDog/agent-platform
/tasks/agent.py                         @DataDog/agent-core
/tasks/process-agent.py                 @DataDog/processes
/tasks/system-probe.py                  @DataDog/networks
/tasks/trace.py                         @DataDog/apm-agent

/test/benchmarks                        @DataDog/agent-core
/test/e2e                               @DataDog/container-integrations
/test/integration                       @DataDog/agent-all
/test/kitchen                           @DataDog/agent-platform
/test/system                            @DataDog/agent-core
/test/util                              @DataDog/agent-all

/tools/ebpf/                            @DataDog/networks
