Repository DataDog/datadog-agent, pull requests merged in 2018-04, with the labels that each got.

#1545 add release dates to changelog
  CHANGELOG.rst
Labels: noreno

#1553 6.1.2
  release.json
Labels: noreno

#1556 6.1.2 changelog
  CHANGELOG.rst
Labels: noreno

#1489 Refactor ecs util with retrier
  pkg/metadata/ecs/ecs.go
  pkg/tagger/collectors/ecs_main.go
  pkg/util/docker/global.go
  pkg/util/ec2/ec2.go
  pkg/util/ecs/diagnosis.go
  pkg/util/ecs/ecs.go
  pkg/util/ecs/ecs_nodocker.go
  pkg/util/ecs/ecs_test.go
  pkg/util/ecs/types.go
  releasenotes/notes/ecs-retrier-d8c52ab3675f514b.yaml
Labels: team/kenafeh

#1559 Lower log level of cgroup parsing
  pkg/util/docker/cgroup.go
Labels: noreno

#1561 Fix "invoke vet": join tags with whitespaces
  tasks/go.py
Labels: dev/testing, noreno

#1458 [forwarder] implement a circuit breaker and use jittered, truncated exponential backoff
  pkg/config/config.go
  pkg/forwarder/README.md
  pkg/forwarder/blocked_endpoints.go
  pkg/forwarder/blocked_endpoints_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/test_common.go
  pkg/forwarder/transaction.go
  pkg/forwarder/transaction_test.go
  pkg/forwarder/worker.go
  pkg/forwarder/worker_test.go
  pkg/util/common.go
  releasenotes/notes/use-exponential-backoff-e1a4b3b104aff664.yaml
Labels: kind/enhancement

#1557 clean release.json
  release.json
Labels: noreno

#1574 [tagger] return copies of the cache to avoid modifications
  pkg/tagger/tagger.go
  pkg/tagger/tagger_test.go
  releasenotes/notes/docker-tagging-fix-0e1bcc51ae825c97.yaml
Labels: component/tagger, kind/bug, team/kenafeh

#1512 [test kitchen] fix/update
  .gitlab-ci.yml
  test/kitchen/.kitchen-azure.yml
  test/kitchen/Berksfile
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: dev/testing, noreno

#1531 [dogstatsd] handle ipv6 binding properly
  pkg/dogstatsd/listeners/udp.go
  releasenotes/notes/dogstatsd-bind-ipv6-1dcdcdf33d3c230c.yaml
Labels: component/dogstatsd, kind/bug

#1540 [omnibus] adding omnibus versions to build + misc python fixes
  omnibus/Gemfile
  release.json
  tasks/agent.py
  tasks/benchmarks.py
  tasks/cluster_agent.py
  tasks/docker.py
  tasks/systray.py
Labels: noreno

#1570 add support for k8s legacy created-by annotation for tagging
  pkg/tagger/collectors/kubelet_extract.go
  pkg/util/kubernetes/kubelet/pod.go
  pkg/util/kubernetes/kubelet/pod_test.go
  releasenotes/notes/kubernetes-legacy-creator-annotation-dc1b909abb2a3682.yaml
Labels: component/tagger, team/kenafeh

#1581 Update README.md
  Dockerfiles/agent/README.md
Labels: documentation, noreno

#1564 Set collect_ec2_tags from environment variable
  pkg/config/config.go
  releasenotes/notes/set-collect_ec2_tags-from-env-2b317dccfcae657f.yaml
Labels: community

#1560 Expose container filtering logic to python checks
  pkg/collector/py/containers.c
  pkg/collector/py/containers.go
  pkg/collector/py/containers.h
  pkg/collector/py/containers_test.go
  pkg/collector/py/py.go
  pkg/collector/py/tests/testcontainers.py
  pkg/util/docker/docker_util.go
  pkg/util/docker/event_pull.go
  pkg/util/docker/event_pull_test.go
  pkg/util/docker/filter.go
  pkg/util/docker/filter_test.go
  pkg/util/docker/global.go
  releasenotes/notes/container-filtering-python-be16577cc0c28e5d.yaml
Labels: team/kenafeh

#1575 [config template] Document log_to_console and syslog_* options
  pkg/config/config_template.yaml
Labels: documentation, noreno

#1568 [docs] Consolidate legal docs under docs/dev
  README.md
  docs/dev/legal.md
Labels: documentation, noreno

#1584 Add 6.1.3 to release.json
  release.json
Labels: kind/packaging, noreno

#1583 [osx install script] fix stop/start race
  cmd/agent/install_mac_os.sh
Labels: kind/bug, kind/packaging, noreno, os/macOS

#1589 [omnibus] Fix build with custom branch of omnibus-software/ruby
  tasks/agent.py
Labels: kind/packaging, noreno, team/croissant

#1588 change the name of the base check folder on integrations-core
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno

#1595 [changelog] 6.1.3
  CHANGELOG.rst
Labels: noreno

#1594 Fixed a concurrent access issue in the logs auditor
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  releasenotes/notes/logs_auditor_concurrency_issue-74c2b69e74c4f3c1.yaml
Labels: component/logs, kind/bug, severity/major, team/ramen

#1567 [windows] Add collection of useful PDH information to flare.
  pkg/flare/archive.go
  pkg/flare/archive_nix.go
  pkg/flare/archive_win.go
  releasenotes/notes/pdhflare-8950b48d07b13f39.yaml
Labels: os/windows

#1600 honor proxy when validating api keys
  pkg/forwarder/forwarder.go
  releasenotes/notes/validate-api-key-proxy-1f49f83f71750532.yaml
Labels: kind/bug, severity/normal, team/croissant

#1434 [reno] Checks diff against master if PR not created yet
  tasks/test.py
Labels: noreno

#1601 improve timeout logic for api key validation
  pkg/forwarder/forwarder.go
Labels: noreno

#1578 Adding a host alias fetch from the kubelet
  pkg/metadata/host/host.go
  pkg/util/kubernetes/hostinfo/host_alias.go
  pkg/util/kubernetes/hostinfo/no_host_alias.go
  pkg/util/kubernetes/hostinfo/no_tags.go
  pkg/util/kubernetes/hostinfo/tags.go
  pkg/util/kubernetes/hostinfo/tags_test.go
  releasenotes/notes/duplicated-hosts-add-kubernetes-hostname-as-alias-612825b5943aba4d.yaml
Labels: component/metadata, team/kenafeh

#1602 [reno_linting] only check diff against master for feature branches
  tasks/test.py
Labels: noreno

#1571 [gui] allow logs only config in the gui
  cmd/agent/gui/checks.go
  releasenotes/notes/allow-logs-only-config-gui-ffeb404355324839.yaml
Labels: component/GUI, kind/bug, severity/normal, team/croissant

#1612 fix kubernetes_apiserver handling in entrypoint
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  releasenotes/notes/kubernetes-apiserver-entrypoint-5e6fa4ce4d65a4b3.yaml
Labels: kind/packaging, team/kenafeh

#1611 kubernetes apiserver: remove configmap listing logic
  pkg/util/kubernetes/apiserver/apiserver.go
  releasenotes/notes/kubenetes-configmap-list-558603e0c0e90203.yaml
Labels: team/kenafeh

#1605 [corechecks/memory] Add Linux metrics `commit_limit` and `committed_as`
  Gopkg.lock
  Gopkg.toml
  pkg/collector/corechecks/system/memory_nix.go
  pkg/collector/corechecks/system/memory_nix_test.go
  releasenotes/notes/linux-mem-metrics-commit-16b0f60ac51a3fef.yaml
Labels: component/cmd-agent, kind/feature, team/croissant

#1208 [jmxfetch] Add agent5-like JMXFetch helper commands
  cmd/agent/api/server.go
  cmd/agent/app/jmx.go
  docs/agent/changes.md
  pkg/collector/autodiscovery/autoconfig.go
  pkg/collector/check/check.go
  pkg/collector/check/check_test.go
  pkg/collector/corechecks/embed/jmx.go
  pkg/collector/corechecks/embed/jmx_test.go
  pkg/collector/corechecks/embed/jmxloader.go
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/jmx-helper-commands-af9350e1ac926b0b.yaml
Labels: kind/feature, team/croissant

#1604 [linting] Add task to check that no committed files have illegal character in name
  .circleci/config.yml
  tasks/__init__.py
  tasks/test.py
Labels: noreno

#1490 Tweak log if no port is found for pod
  pkg/collector/listeners/kubelet.go
Labels: community, component/autodiscovery, kind/enhancement, noreno, team/kenafeh

#1614 [Logs] Use syslog NILVALUE instead of blank when no structured data is defined
  pkg/logs/processor/encoder.go
  pkg/logs/processor/encoder_test.go
Labels: component/logs, noreno, team/ramen

#1609 [Logs]: Removed different implementations of Message and use only one instead
  pkg/logs/input/container/docker.go
  pkg/logs/input/listener/worker.go
  pkg/logs/input/tailer/tailer.go
  pkg/logs/message/message.go
  pkg/logs/message/message_test.go
  pkg/logs/message/origin.go
  pkg/logs/message/origin_test.go
  pkg/logs/processor/encoder_test.go
  pkg/logs/processor/processor_test.go
Labels: component/logs, noreno, team/ramen

#1622 [deps] Temp fix for golint dep install
  tasks/go.py
Labels: dev/tooling, noreno

#1597 Add docker CPU shares gauge
  pkg/collector/corechecks/containers/docker.go
  pkg/util/docker/cgroup.go
  pkg/util/docker/cgroup_test.go
  releasenotes/notes/add-docker-cpu-shares-gauge-b5a60b49570771a6.yaml
  test/integration/corechecks/docker/basemetrics_test.go
Labels: kind/feature, team/kenafeh

#1626 fixing namespace field position
  Dockerfiles/manifests/cluster-agent.yaml
Labels: noreno

#1627 update RBAC manifest
  Dockerfiles/manifests/rbac/clusterrole.yaml
Labels: documentation, noreno, team/kenafeh

#1631 [Logs] Windows - file tailing - fix misleading bug
  pkg/logs/input/tailer/tailer_windows.go
  releasenotes/notes/logs-windows-tailing-log-ef46c5e0fdaab4f0.yaml
Labels: component/logs, team/ramen

#1630 Added the possibility to filter containers by their name to collect logs
  pkg/logs/config/integration_config.go
  pkg/logs/input/container/container.go
  pkg/logs/input/container/container_test.go
  pkg/logs/status/status.go
  releasenotes/notes/logs_docker_container_name_filtering-09386c09a32fd933.yaml
Labels: component/logs, team/ramen

#1629 [jmxfetch] bump to 0.20.0
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
Labels: noreno

#1635 Allow failures in the test kitchen
  .gitlab-ci.yml
Labels: noreno

#1639 Log errors when we fail to send metadata paylaod.
  pkg/metadata/scheduler.go
Labels: noreno

#1642 [Logs]: Fixed container name filtering for log collection
  pkg/logs/input/container/container.go
  pkg/logs/input/container/container_test.go
Labels: component/logs, kind/bug, noreno, team/ramen

#1616 update OShift/k8s instructions for older versions
  Dockerfiles/agent/OPENSHIFT.md
  Dockerfiles/agent/README.md
  releasenotes/notes/kubernetes-14-support-e8e0893b32fa960d.yaml
Labels: documentation, team/kenafeh

#1634 docker net stats: tag by iface name if network unknown
  pkg/util/docker/network_test.go
  pkg/util/docker/networkstats.go
  releasenotes/notes/docker-network-unknown-c0c5d84e575967c9.yaml
Labels: kind/enhancement, team/kenafeh

#1643 [Logs] Tag messages with file name
  pkg/logs/input/tailer/tailer.go
  pkg/logs/input/tailer/tailer_nix.go
  pkg/logs/input/tailer/tailer_test.go
  pkg/logs/input/tailer/tailer_windows.go
  releasenotes/notes/logs_tag_filename-d449ff6b8f18fbfc.yaml
Labels: component/logs, kind/feature, team/ramen

#1644 [docs] Clarify availability of new JMXFetch helper commands
  docs/agent/changes.md
Labels: documentation, noreno, team/croissant

#1645 [gui] html escape logs
  cmd/agent/gui/agent.go
Labels: team/croissant

#1636 Move config provider info
  cmd/agent/api/agent/agent.go
  cmd/agent/api/response/types.go
  pkg/collector/autodiscovery/autoconfig.go
  pkg/collector/autodiscovery/configresolver.go
  pkg/collector/autodiscovery/configresolver_test.go
  pkg/collector/autodiscovery/templatecache.go
  pkg/collector/autodiscovery/templatecache_test.go
  pkg/collector/check/check.go
  pkg/flare/archive_test.go
  pkg/flare/config_check.go
  releasenotes/notes/simplify-configcheck-af745c1069392673.yaml
Labels: component/autodiscovery, team/kenafeh

#1598 [aggregator] Log minor flush errors with readable metric context
  pkg/aggregator/check_sampler.go
  pkg/aggregator/time_sampler.go
  pkg/metrics/context_metrics.go
  pkg/metrics/context_metrics_test.go
  releasenotes/notes/aggregator-log-message-with-readable-metric-context-2c9cc095dc04431e.yaml
Labels: component/aggregator, kind/enhancement, team/croissant

#1628 Add average check run time to status
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  pkg/collector/check/check.go
  pkg/status/dist/templates/collector.tmpl
  releasenotes/notes/status-avg-check-exec-time-450c8030464cc504.yaml
Labels: team/croissant

#1646 [AD] Fix a possible race condition on container churn
  pkg/collector/autodiscovery/autoconfig.go
  releasenotes/notes/ad-scheduling-race-d664534209e66f03.yaml
Labels: component/autodiscovery, kind/bug, severity/normal, team/kenafeh

#1554 Improve credential filtering
  pkg/flare/strip.go
  pkg/flare/strip_test.go
  releasenotes/notes/improve-flare-credential-filtering-c6e3c395adb3e515.yaml
Labels: team/croissant

#1548 [windows] Changes the configuration for Process Agent and Trace Agent
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/manual-start-44452780881b038b.yaml
Labels: kind/enhancement, os/windows, team/croissant

#1649 Open 6.2.0 release
  release.json
Labels: noreno

#1650 automatically push datadog/cluster-agent-dev:master
  .gitlab-ci.yml
Labels: noreno, team/kenafeh

#1652 bump gopsutil to v2.18.04
  Gopkg.lock
  Gopkg.toml
Labels: noreno

#1653 Fix status page formating
  pkg/status/dist/templates/collector.tmpl
Labels: noreno

#1654 leader election: Close the ticker and manage the starting phase
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
Labels: kind/bug, noreno, team/kenafeh

#1656 Fix typo in config template.
  pkg/config/config_template.yaml
Labels: noreno

#1661 [invoke] Address breaking changes in v0.23.0 of invoke
  tasks/agent.py
  tasks/benchmarks.py
  tasks/cluster_agent.py
  tasks/docker.py
  tasks/dogstatsd.py
  tasks/go.py
  tasks/systray.py
  tasks/test.py
  tasks/utils.py
Labels: dev/tooling, noreno

#1660 Switch logs agent default configuration to use protobuf
  pkg/config/config.go
  pkg/logs/config/config_test.go
  releasenotes/notes/logs_use_proto-dd9460455fd718a1.yaml
Labels: component/logs, team/ramen
