Repository DataDog/datadog-agent, pull requests merged in 2018-08, with the labels that each got.

#2087 [changelog] Remove entry that shouldn't be in 6.4.0 + fix title typo
  CHANGELOG.rst
  releasenotes/config.yaml
  releasenotes/notes/os-level-orchestration-4e96f65bf856c628.yaml
Labels: documentation, noreno, team/agent-core

#2093 fix hostPID operations
  Dockerfiles/agent/Dockerfile
  releasenotes/notes/docker-hostpid-69a79f1c0ac8a245.yaml
Labels: kind/bug, kind/packaging, severity/critical, team/containers

#2082 [DCA] Add metadata controller to incrementally build metamap.
  Dockerfiles/cluster-agent/README.md
  Dockerfiles/cluster-agent/dist/templates/metadatamapper.tmpl
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  docs/cluster-agent/GETTING_STARTED.md
  pkg/config/config.go
  pkg/flare/archive_dca.go
  pkg/status/helpers.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/metadata.go
  pkg/util/kubernetes/apiserver/metadata_test.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/services_test.go
  test/e2e/argo-workflows/cluster-agent.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: noreno, team/containers

#2067 Added unit-tests for UDP listener
  pkg/logs/input/listener/udp_nix_test.go
  pkg/logs/input/listener/udp_test.go
Labels: component/logs, noreno, team/ramen

#2046 [Logs]: Refactored sources to be dynamic
  pkg/logs/agent.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/integration_config_test.go
  pkg/logs/config/sources.go
  pkg/logs/config/sources_test.go
  pkg/logs/config/status.go
  pkg/logs/input/docker/scanner.go
  pkg/logs/input/docker/scanner_nodocker.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/file_provider_test.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
  pkg/logs/input/journald/launcher.go
  pkg/logs/input/journald/launcher_test.go
  pkg/logs/input/listener/listener.go
  pkg/logs/input/listener/tcp.go
  pkg/logs/input/listener/udp.go
  pkg/logs/input/windowsevent/launcher.go
  pkg/logs/logs.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
Labels: component/logs, noreno, team/ramen

#2094 [AD]: Added identifier to config providers
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/providers/consul.go
  pkg/autodiscovery/providers/docker.go
  pkg/autodiscovery/providers/ecs.go
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/providers/zookeeper.go
Labels: noreno

#2077 Update status page working for API Keys status
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/forwarder_health_test.go
Labels: noreno, team/agent-core

#2099 [DCA] Add metadata controller to incrementally build metamap
  Dockerfiles/cluster-agent/README.md
  Dockerfiles/cluster-agent/dist/templates/metadatamapper.tmpl
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  docs/cluster-agent/GETTING_STARTED.md
  pkg/config/config.go
  pkg/flare/archive_dca.go
  pkg/status/helpers.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/metadata.go
  pkg/util/kubernetes/apiserver/metadata_test.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/services_test.go
  test/e2e/argo-workflows/cluster-agent.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: noreno, team/containers

#2105 Install expvar handler in the DCA.
  Dockerfiles/cluster-agent/README.md
  cmd/cluster-agent/main.go
Labels: noreno, team/containers

#2076 Fix API_KEY validation for 'additional_endpoints'
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/forwarder_health_test.go
  pkg/forwarder/forwarder_test.go
  releasenotes/notes/api-key-validation-per-domain-891ebd73ab300a6c.yaml
Labels: team/agent-core

#2041 Add circle check that requires a label of `team/*` on the PR before
  .circleci/config.yml
  tasks/__init__.py
  tasks/test.py
Labels: noreno, team/agent-core

#2104 Update 'add-prelude' method to run on windows
  tasks/release.py
Labels: noreno

#2102 Improve ecs_fargate tagging
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/tagger/collectors/testdata/fargate_meta.json
  releasenotes/notes/fargate-dcf92610dada5a37.yaml
Labels: component/tagger, team/containers

#2081 Split cgroup/network metric logic from docker package
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/py/containers.go
  pkg/dogstatsd/listeners/uds_linux.go
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/util/containers/container_linux.go
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  pkg/util/containers/image.go
  pkg/util/containers/image_test.go
  pkg/util/containers/metrics/cgroup_detect.go
  pkg/util/containers/metrics/cgroup_detect_test.go
  pkg/util/containers/metrics/cgroup_metrics.go
  pkg/util/containers/metrics/cgroup_metrics_test.go
  pkg/util/containers/metrics/common.go
  pkg/util/containers/metrics/common_test.go
  pkg/util/containers/metrics/network.go
  pkg/util/containers/metrics/network_test.go
  pkg/util/containers/metrics/types.go
  pkg/util/containers/runtime.go
  pkg/util/containers/types.go
  pkg/util/docker/cgroup.go
  pkg/util/docker/cgroup_linux_test.go
  pkg/util/docker/common_test.go
  pkg/util/docker/diagnosis.go
  pkg/util/docker/docker_test.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/event_pull_test.go
  pkg/util/docker/global.go
  pkg/util/docker/global_nodocker.go
  pkg/util/docker/host_metadata.go
  pkg/util/docker/host_tags.go
  pkg/util/docker/host_tags_test.go
  pkg/util/docker/network.go
  pkg/util/docker/network_test.go
  pkg/util/docker/networkstats_common.go
  pkg/util/docker/util_common.go
  pkg/util/ecs/common.go
  pkg/util/kubernetes/kubelet/host_metadata.go
Labels: noreno, team/containers

#2109 [rancher] ignore the rancher pause image
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  releasenotes/notes/ignore-rancher's-pause-container-063ec472eec38705.yaml
Labels: kind/enhancement, team/containers

#2057 stop jmxfetch gracefully
  pkg/collector/corechecks/embed/jmx/runner.go
  pkg/jmxfetch/jmxfetch.go
Labels: kind/enhancement, noreno, team/agent-core

#2115 [AD]: Moved all integration names into the same file which is always compiled
  pkg/autodiscovery/providers/consul.go
  pkg/autodiscovery/providers/docker.go
  pkg/autodiscovery/providers/ecs.go
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/providers/providers.go
  pkg/autodiscovery/providers/zookeeper.go
Labels: component/autodiscovery, noreno, team/ramen

#2112 Fix race condition in DCA metadata controller.
  pkg/util/kubernetes/apiserver/metadata.go
  pkg/util/kubernetes/apiserver/services.go
Labels: noreno, team/containers

#2116 [Logs] Docker - properly handle restart of docker containers monitored
  pkg/logs/input/docker/scanner.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/docker/tailer_test.go
  releasenotes/notes/fix-duplicated-logs-on-docker-restart-6942e4925d47ac4d.yaml
Labels: component/logs, team/ramen

#2123 Reducing log severity for metadata map cache access
  pkg/util/kubernetes/apiserver/metadata.go
Labels: dca, noreno, team/containers

#2130 Add UID to pod metadata when converting from kubelet pod.
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  releasenotes/notes/missing-kube-service-tags-bugfix-47da1c20da553149.yaml
Labels: team/containers

#2117 [DCA] Add more expvars for custom metrics, and api request rates.
  Gopkg.lock
  LICENSE-3rdparty.csv
  cmd/cluster-agent/api/v1/install.go
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/store_test.go
  pkg/clusteragent/custommetrics/types.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  pkg/util/kubernetes/hpa/hpa.go
Labels: noreno, team/containers

#2131 Fix unecessary rescheduling + sort tagger list
  cmd/agent/app/tagger_list.go
  pkg/autodiscovery/autoconfig.go
  releasenotes/notes/sort-tagger-list-e72b211262e0e12a.yaml
Labels: component/autodiscovery, team/containers

#2134 flare: remove env section of docker inspect
  pkg/flare/archive_docker.go
  releasenotes/notes/flare-inspect-envvars-4091fd662af565c5.yaml
Labels: team/containers

#2141 [DCA] Fix flaky test for metadata controller.
  pkg/util/kubernetes/apiserver/metadata.go
  pkg/util/kubernetes/apiserver/metadata_test.go
Labels: noreno, team/containers

#2145 Create release target 6.4.2
  release.json
Labels: noreno, team/agent-core

#2136 [Windows] Create user `secretuser`; write the password to the registry
  omnibus/config/software/datadog-agent.rb
  omnibus/resources/agent/msi/cal/.gitignore
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/CustomAction.def
  omnibus/resources/agent/msi/cal/customaction.sln
  omnibus/resources/agent/msi/cal/customaction.vcxproj
  omnibus/resources/agent/msi/cal/stdafx.cpp
  omnibus/resources/agent/msi/cal/stdafx.h
  omnibus/resources/agent/msi/cal/targetver.h
  omnibus/resources/agent/msi/cal/winacl.cpp
  omnibus/resources/agent/msi/cal/winacl.h
  omnibus/resources/agent/msi/source.wxs.erb
  pkg-config/windows/embedded/python-2.7.pc
  tasks/__init__.py
  tasks/customaction.py
Labels: noreno, team/agent-core

#2137 fix possible index out of range error in origin detection
  pkg/util/containers/runtime.go
  pkg/util/containers/runtime_test.go
  releasenotes/notes/origin-detection-index-range-1f65c0684524821b.yaml
Labels: component/dogstatsd, team/containers

#2135 Fix port ordering for %%port_%% on the docker listener
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_test.go
  releasenotes/notes/docker-ad-ports-3bad5bb878f02574.yaml
Labels: component/autodiscovery, team/containers

#2149 agent dockerfile: cleanup apt cache
  Dockerfiles/agent/Dockerfile
Labels: kind/packaging, noreno, team/containers

#2147 remove unwanted ) in aggregator/ServiceCheckFlushed expvar
  pkg/aggregator/aggregator.go
  releasenotes/notes/fix-aggregator-service-check-flushed-expvar-name-a507a94643b37b6f.yaml
Labels: kind/bug, severity/normal, team/agent-core

#2138 Increase k8s rest client timeout for informers.
  Dockerfiles/cluster-agent/README.md
  cmd/cluster-agent/app/app.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/apiserver/apiserver.go
Labels: noreno, team/containers

#2108 Autodiscovery: retry listeners on failure
  cmd/agent/common/autoconfig.go
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/autoconfig_test.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/kubelet.go
  releasenotes/notes/autodiscovery-listeners-retry-34547172d448eeb3.yaml
Labels: component/autodiscovery, team/containers

#2121 downgrade AD provider collect message to debug if no change
  pkg/autodiscovery/autoconfig.go
  releasenotes/notes/ad-provider-logging-b23f18d4f43c01a2.yaml
Labels: component/autodiscovery, team/containers

#2125 make the pupernetes-tags step manual
  .gitlab-ci.yml
Labels: dev/tooling, noreno, team/containers

#2150 [Logs]: Isolated the server configuration to a dedicated structure
  pkg/logs/agent.go
  pkg/logs/sender/connection_manager.go
  pkg/logs/sender/server_config.go
  pkg/logs/sender/server_config_test.go
Labels: component/logs, noreno, team/ramen

#2120 make AD service identifiers the entity name
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver.go
  pkg/autodiscovery/configresolver_test.go
  pkg/autodiscovery/listeners/README.md
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_kubelet.go
  pkg/autodiscovery/listeners/docker_test.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/store.go
  pkg/autodiscovery/store_test.go
  pkg/tagger/collectors/docker_main.go
  pkg/util/containers/entity.go
  pkg/util/containers/entity_test.go
  pkg/util/containers/runtime.go
  pkg/util/containers/types.go
  pkg/util/docker/util_common.go
  test/integration/autodiscovery/autoconfig_test.go
  test/integration/listeners/docker/docker_listener_test.go
Labels: component/autodiscovery, noreno, team/containers

#2155 [Logs]: Refactored the file components and isolated different logics
  pkg/logs/agent.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/rotate_nix.go
  pkg/logs/input/file/rotate_windows.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
  pkg/logs/input/file/tailer_nix.go
  pkg/logs/input/file/tailer_windows.go
Labels: component/logs, noreno, team/ramen

#2156 Fix darwin build (missing function)
  pkg/config/config_darwin.go
  pkg/config/config_nix.go
  pkg/config/config_windows.go
Labels: noreno, team/agent-core

#2157 update minimum versions of docker and k8s
  docs/agent/changes.md
Labels: documentation, noreno, team/containers

#2071 the install script should respect the dd_url in the agent conf
  cmd/agent/install_script.sh
Labels: noreno

#2030 [DCA] Update Gitlab pipeline for DCA releases.
  .gitlab-ci.yml
  tasks/utils.py
Labels: noreno, team/containers

#2042 Clarify and update documentation for the Datadog Cluster Agent
  Dockerfiles/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/datadog-cluster-agent_service.yaml
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  docs/cluster-agent/CUSTOM_METRICS_SERVER.md
  docs/cluster-agent/GETTING_STARTED.md
  docs/cluster-agent/README.md
  pkg/clusteragent/custommetrics/store.go
  pkg/config/config.go
  pkg/status/status_apiserver.go
  test/e2e/argo-workflows/cluster-agent.yaml
Labels: noreno, team/containers

#2154 Speedup unit tests when coverage is on
  .circleci/config.yml
  .gitlab-ci.yml
  tasks/test.py
Labels: dev/tooling, noreno, team/containers

#2126 Fix ECS tag collector lifecycle issue causing missing tags
  pkg/tagger/collectors/ecs_extract.go
  pkg/tagger/collectors/ecs_extract_test.go
  pkg/tagger/collectors/ecs_main.go
  releasenotes/notes/ecs-missing-tags-86fad4214787023e.yaml
Labels: component/tagger, severity/normal, team/containers

#2159 [DCA] Add gc goroutine to HPAWatcher to handle deleted hpas.
  pkg/clusteragent/custommetrics/README.md
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/store_test.go
  pkg/clusteragent/custommetrics/types.go
  pkg/config/config.go
  pkg/util/kubernetes/hpa/README.md
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
Labels: noreno, team/containers

#2132 [invoke/python] pin python development requirements + use pins everywhere CI/builder
  .circleci/config.yml
  .circleci/images/builder/Dockerfile
  .gitlab-ci.yml
  appveyor.yml
  requirements.txt
Labels: noreno, team/agent-core

#2127 [scheduler] bucketed scheduler - single ticker implementation
  Gopkg.lock
  cmd/cluster-agent/main.go
  pkg/collector/scheduler/job.go
  pkg/collector/scheduler/scheduler.go
  pkg/collector/scheduler/scheduler_test.go
  releasenotes/notes/bucketed_scheduler-d4eca4b9e20edc67.yaml
  tasks/cluster_agent.py
Labels: team/agent-core

#2170 [DCA] Delete unused endpoint for latest events.
  cmd/cluster-agent/api/v1/install.go
Labels: dca, noreno, team/containers

#2133 [circleci] split reno and team assignment linters
  .circleci/config.yml
Labels: noreno, team/agent-core

#2179 [github template] Update link to agent docs in github issue template
  .github/ISSUE_TEMPLATE.md
Labels: documentation, noreno, team/agent-core

#2180 Typo: Datacong => Datadog
  Dockerfiles/agent/README.md
Labels: documentation, noreno, team/containers

#2171 use true/false rather than yes/no in the config template
  Dockerfiles/agent/Dockerfile
  Dockerfiles/manifests/agent-kubelet-only.yaml
  Dockerfiles/manifests/agent.yaml
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/metadata/gohai/gohai_test.go
  pkg/util/docker/global.go
  pkg/util/docker/global_nodocker.go
Labels: noreno, team/agent-core

#2162 list envvars we looked for in flare's envvar.log
  pkg/flare/envvars.go
Labels: noreno, team/containers

#2189 [omnibus] Pull Agent deps with `no_checks` set to true
  tasks/agent.py
Labels: kind/packaging, noreno, team/agent-core

#2122 Add an option to split tags
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/metadata/host/host.go
  pkg/metadata/host/host_tags.go
  pkg/metadata/host/host_tags_test.go
  pkg/metadata/host/host_test.go
  pkg/tagger/utils/taglist.go
  pkg/tagger/utils/taglist_test.go
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes/notes/tagger-split-tags-734494f661b4db45.yaml
Labels: component/tagger, team/agent-core, team/containers

#2177 handle negative offsets in the ntp core check
  pkg/collector/corechecks/network/ntp.go
  pkg/collector/corechecks/network/ntp_test.go
  releasenotes/notes/ntp-handle-negative-150ed17056fc2247.yaml
Labels: kind/bug, severity/normal, team/agent-core

#2181 Add metric about number of payload dropped because they can't be split
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  pkg/aggregator/aggregator.go
  pkg/serializer/split/split.go
Labels: noreno, team/agent-core

#2114 Add `kubelet` collector for live containers, revamp interface
  pkg/autodiscovery/listeners/ecs.go
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/py/containers.go
  pkg/collector/py/containers_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/containers/collectors/catalog.go
  pkg/util/containers/collectors/detector.go
  pkg/util/containers/collectors/detector_test.go
  pkg/util/containers/collectors/docker.go
  pkg/util/containers/collectors/ecs_fargate.go
  pkg/util/containers/collectors/kubelet.go
  pkg/util/containers/collectors/types.go
  pkg/util/containers/container_linux.go
  pkg/util/containers/filter.go
  pkg/util/containers/metrics/cgroup_detect.go
  pkg/util/containers/types.go
  pkg/util/docker/containers.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/global.go
  pkg/util/ecs/common.go
  pkg/util/ecs/ecs_test.go
  pkg/util/kubernetes/kubelet/container_test.go
  pkg/util/kubernetes/kubelet/containers.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_common.go
  pkg/util/kubernetes/kubelet/kubelet_common_test.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/kubelet-live-containers-01547c45c2fcbc3f.yaml
  test/integration/corechecks/docker/main_test.go
Labels: team/containers

#2194 remove container_name from kubelet tag collector
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
Labels: component/tagger, noreno, team/containers

#2183 Create clustercheck package and hook to AD with file provider
  .gitignore
  Dockerfiles/cluster-agent/datadog-cluster.yaml
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/types/servercontext.go
  cmd/cluster-agent/api/v1/clusterchecks.go
  cmd/cluster-agent/api/v1/clusterchecks_nocompile.go
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/clusterchecks.go
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/scheduler/meta.go
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/api_nocompile.go
  pkg/clusteragent/clusterchecks/dispatcher.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/store.go
  pkg/collector/scheduler.go
  pkg/config/config.go
  pkg/flare/config_check.go
  tasks/build_tags.py
  tasks/cluster_agent.py
Labels: component/autodiscovery, noreno, team/containers

#2075 [Logs]: Added a support to forward logs to a TCP proxy
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/server.go
  pkg/logs/config/server_test.go
  pkg/logs/logs.go
  pkg/logs/sender/connection_manager.go
  releasenotes/notes/logs-proxy-support-b8d8b316597cb1ba.yaml
Labels: component/logs, team/ramen

#2196 [windows] Fix io metrics collection for mountpoints
  pkg/collector/corechecks/system/iostats_pdh_windows.go
  releasenotes/notes/Fix-io-metrics-collection-for-mountpoints-c775bcab80daff9b.yaml
Labels: team/agent-core

#2188 Renamed launcher and scanner factory methods and simplified journald package
  pkg/logs/agent.go
  pkg/logs/input/journald/launcher.go
  pkg/logs/input/journald/launcher_nosystemd.go
  pkg/logs/input/journald/launcher_test.go
  pkg/logs/input/journald/tailer.go
  pkg/logs/input/journald/tailer_nosystemd.go
  pkg/logs/input/journald/tailer_systemd.go
  pkg/logs/input/journald/tailer_systemd_test.go
  pkg/logs/input/journald/tailer_test.go
  pkg/logs/input/listener/listener.go
  pkg/logs/input/windowsevent/launcher.go
  pkg/logs/input/windowsevent/launcher_test.go
Labels: component/logs, noreno, team/ramen

#2199 Store configuration origin
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/configresolver.go
  pkg/autodiscovery/integration/config.go
Labels: component/autodiscovery, noreno, team/containers

#2151 [Logs]: Added a config var to enable TCP forward over SSL on port 443
  pkg/config/config.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  releasenotes/notes/logs-send-over-ssl-to-port-443-8ec6d20524451410.yaml
Labels: component/logs, team/ramen

#2200 pass the generated datadog-cluster.yaml file as artifact
  .gitlab-ci.yml
Labels: kind/packaging, noreno, team/containers

#2201 update codeowners for clusteragent packages
  .github/CODEOWNERS
Labels: dev/testing, noreno, team/containers

#2195 Move ServerContext to clusteragent package.
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/clusterchecks.go
  cmd/cluster-agent/api/v1/clusterchecks_nocompile.go
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/clusteragent.go
  pkg/clusteragent/servercontext.go
Labels: noreno, team/containers

#2205 Moving internal API start prior to blocking call
  cmd/cluster-agent/app/app.go
Labels: noreno, team/containers

#2198 [DCA] Introducing the HPA Informer
  cmd/cluster-agent/custommetrics/server.go
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/status.go
  pkg/clusteragent/custommetrics/status_no_apiserver.go
  pkg/config/config.go
  pkg/flare/archive_dca.go
  pkg/status/status.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/common/common.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/types.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
Labels: dca, noreno, team/containers

#2212 [gitlab] add DEPPROJECTROOT to get around dep `0.5.0` limitation
  .gitlab-ci.yml
Labels: noreno

#2197 [DCA] Add handlers for node events and add metaBundleStore.
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/store.go
Labels: noreno, team/containers

#2219 [DCA] Use the same informer factory instance to start controllers.
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/controllers.go
Labels: noreno, team/containers

#2165 Move the service listening away from the config resolver
  cmd/agent/common/autoconfig.go
  pkg/autodiscovery/README.md
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/autoconfig_test.go
  pkg/autodiscovery/configresolver.go
  pkg/autodiscovery/configresolver/README.md
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/listeners/README.md
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/store.go
Labels: component/autodiscovery, noreno, team/containers

#2092 Allow omitting GCE metadata from host tags
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/metadata/host/host_tags.go
  releasenotes/notes/allow-excluding-gce-metadata-tags-2252cbb728c7da70.yaml
Labels: community, component/metadata, team/agent-core

#2225 [DCA] Start informer factory after controllers.
  pkg/util/kubernetes/apiserver/controllers.go
Labels: noreno, team/containers

#2224 [DCA] Add Inspect function to avoid querying Datadog for deleted hpas
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/hpa/README.md
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
  pkg/util/kubernetes/hpa/processor.go
  pkg/util/kubernetes/hpa/processor_test.go
Labels: noreno, team/containers

#2222 [DCA] Create informer factory in APIClient so its usable for all apiserver calls
  cmd/cluster-agent/app/app.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/controllers.go
Labels: dca, noreno, team/containers

#2213 [docs][requirements] updating documentation + explicit reqs for python deps
  README.md
  docs/dev/agent_dev_env.md
  requirements.txt
Labels: documentation, noreno, team/agent-core

#2208 [scheduler] lower log levels and improve running behind message
  pkg/collector/scheduler/job.go
Labels: noreno, team/agent-core

#2228 update flask dependency in e2e fake-datadog
  test/e2e/containers/fake_datadog/app/requirements.txt
Labels: dev/tooling, noreno, team/containers

#2230 Remove noisy and useless debug log line from contextResolver
  pkg/aggregator/context_resolver.go
  releasenotes/notes/remove-debug-log-0ed15ae9c10a2105.yaml
Labels: team/integrations

#2204 Make agent status page human readable
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  Dockerfiles/cluster-agent/dist/templates/forwarder.tmpl
  cmd/agent/gui/render.go
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  cmd/agent/gui/views/templates/generalStatus.tmpl
  cmd/agent/gui/views/templates/singleCheck.tmpl
  pkg/status/dist/templates/collector.tmpl
  pkg/status/dist/templates/dogstatsd.tmpl
  pkg/status/dist/templates/forwarder.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/helpers.go
  pkg/status/render.go
  releasenotes/notes/Make-agent-status-page-human-readable-95eb75a95aa16821.yaml
Labels: team/agent-core

#2210 fix python integration logging with the check subcommand
  cmd/agent/app/check.go
  releasenotes/notes/fix-log-level-check-command-932b25311f62ac27.yaml
Labels: kind/bug, severity/normal, team/agent-core

#2231 [status] make jsoniter 100% stdlib compatible
  Gopkg.lock
  pkg/status/helpers.go
  pkg/status/render.go
  pkg/status/status.go
Labels: noreno, team/agent-core

#2216 Display embedded python version in the status page
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/collector/py/py.go
  pkg/metadata/host/host.go
  pkg/metadata/host/host_notwin.go
  pkg/metadata/host/host_test.go
  pkg/metadata/host/host_windows.go
  pkg/status/dist/templates/header.tmpl
  pkg/status/status.go
  releasenotes/notes/fix-python-version-status-page-a0a5c14ccda2a17c.yaml
Labels: team/agent-core

#2190 Unit tests for loading python check
  pkg/collector/py/loader_test.go
  pkg/collector/py/tests/version.py
  pkg/collector/py/tests/working.py
Labels: noreno, team/agent-core

#2223 Add OK/WARNING/ERROR messages next to running checks
  cmd/agent/app/status.go
  cmd/agent/gui/render.go
  cmd/agent/gui/views/private/css/stylesheet.css
  cmd/agent/gui/views/private/css/stylesheet.scss
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  pkg/status/dist/templates/collector.tmpl
  pkg/status/helpers.go
Labels: noreno, team/agent-core

#2107 [AD]: Created the logs-scheduler and plugged it to autodiscovery
  cmd/agent/common/autoconfig.go
  pkg/autodiscovery/providers/file.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/integration_config.go
  pkg/logs/config/integration_config_test.go
  pkg/logs/config/parser.go
  pkg/logs/config/parser_test.go
  pkg/logs/config/sources.go
  pkg/logs/config/sources_test.go
  pkg/logs/config/tests/any_docker_integration.d/any_docker_integration.yaml
  pkg/logs/config/tests/complete/conf.d/integration.d/integration3.yaml
  pkg/logs/config/tests/complete/conf.d/integration.d/integration4.yaml
  pkg/logs/config/tests/complete/conf.d/integration.yaml
  pkg/logs/config/tests/complete/conf.d/integration2.yml
  pkg/logs/config/tests/complete/conf.d/integration5.yml
  pkg/logs/config/tests/complete/conf.d/integration6.yml
  pkg/logs/config/tests/complete/conf.d/misconfigured_integration.yaml
  pkg/logs/config/tests/misconfigured_1/integration.yaml
  pkg/logs/config/tests/misconfigured_2/conf.d/integration.yaml
  pkg/logs/config/tests/misconfigured_3/conf.d/integration.yaml
  pkg/logs/config/tests/misconfigured_4/conf.d/integration.yaml
  pkg/logs/config/tests/misconfigured_5/conf.d/integration.yaml
  pkg/logs/input/docker/container.go
  pkg/logs/input/docker/container_test.go
  pkg/logs/input/docker/scanner.go
  pkg/logs/input/docker/since.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/file_provider_test.go
  pkg/logs/input/file/position.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
  pkg/logs/input/journald/launcher.go
  pkg/logs/input/journald/launcher_test.go
  pkg/logs/input/kubernetes/scanner.go
  pkg/logs/input/listener/listener.go
  pkg/logs/input/windowsevent/launcher.go
  pkg/logs/logs.go
  pkg/logs/processor/processor_test.go
  pkg/logs/scheduler.go
  pkg/logs/status/status_test.go
Labels: component/logs, noreno, team/ramen

#1927 Changed the docker and k8 config providers to return logs config as well
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/providers/utils.go
  pkg/autodiscovery/providers/utils_test.go
Labels: component/logs, noreno, team/ramen

#2227 [gitlab][gopkg] fix gopkg lock generation + android build
  tasks/go.py
Labels: noreno, team/agent-core

#2111 On status page, allow users to know which instance of a check matches which yaml instance
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  cmd/agent/gui/render.go
  cmd/agent/gui/views/private/css/stylesheet.css
  cmd/agent/gui/views/private/css/stylesheet.scss
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  cmd/agent/gui/views/templates/runningChecks.tmpl
  cmd/agent/gui/views/templates/singleCheck.tmpl
  pkg/collector/metadata/agentchecks/agentchecks.go
  pkg/collector/runner/runner.go
  pkg/collector/runner/runner_test.go
  pkg/flare/config_check.go
  pkg/status/dist/templates/collector.tmpl
  pkg/status/helpers.go
  pkg/status/status.go
  releasenotes/notes/match-running-and-yaml-instances-4e696bd27b5fe928.yaml
Labels: team/agent-core

#2241 remove debug println left behind
  pkg/status/helpers.go
Labels: noreno, team/agent-core

#2172 Fixing k8s host aliasing issues through a cluster-name option
  Dockerfiles/agent/README.md
  pkg/collector/py/datadog_agent.c
  pkg/collector/py/datadog_agent.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
  pkg/util/kubernetes/hostinfo/host_alias.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  releasenotes/notes/cluster-name-option-9eda598b1c68fa9f.yaml
Labels: kind/feature, team/containers

#2229 [logs]: Replace the docker scanning logic with autodiscovery
  pkg/logs/agent.go
  pkg/logs/config/integration_config.go
  pkg/logs/config/sources.go
  pkg/logs/input/container/scanner.go
  pkg/logs/input/docker/client.go
  pkg/logs/input/docker/container.go
  pkg/logs/input/docker/container_test.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_nodocker.go
  pkg/logs/input/docker/scanner.go
  pkg/logs/input/docker/since.go
  pkg/logs/input/docker/since_test.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/logs.go
  pkg/logs/scheduler.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/service/providers.go
  pkg/logs/service/service.go
  pkg/logs/service/services.go
Labels: component/logs, noreno, team/ramen

#2246 [runners] bump default to 4
  pkg/config/config.go
  releasenotes/notes/bump-check-runners-4-4ec46f9d8a2cae3e.yaml
Labels: team/agent-core

#1739 Adding host tag to the kubernetes events
  pkg/aggregator/mocksender/asserts.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver_test.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  releasenotes/notes/kubernetes-set-events-tag-according-to-involved-host-3f25d35c576ae5c1.yaml
  test/integration/corechecks/docker/events_test.go
Labels: kind/enhancement, team/containers

#2247 Use the default number of runners for agent containers
  Dockerfiles/agent/datadog-docker.yaml
  Dockerfiles/agent/datadog-ecs.yaml
  Dockerfiles/agent/datadog-kubernetes.yaml
Labels: noreno, team/containers

#2163 Ship a readsecret helper script in the docker image
  .circleci/config.yml
  .gitignore
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/README.md
  Dockerfiles/agent/secrets-helper/README.md
  Dockerfiles/agent/secrets-helper/__init__.py
  Dockerfiles/agent/secrets-helper/readsecret.py
  Dockerfiles/agent/secrets-helper/test_readsecret.py
  releasenotes/notes/docker-image-secrets-script-efabab863b28ff5c.yaml
  tasks/docker.py
Labels: documentation, kind/packaging, team/containers

#2245 Fix instance ID on configcheck for autodiscovery
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  pkg/flare/config_check.go
  pkg/status/dist/templates/collector.tmpl
Labels: kind/bug, noreno, team/agent-core

#2249 update hostname resolution doc
  docs/agent/hostname-resolution.md
  pkg/config/config_template.yaml
  pkg/util/hostname.go
Labels: documentation, noreno, team/agent-core

#2248 fix race condition in test code
  pkg/collector/runner/runner_test.go
Labels: component/collector, noreno, team/containers

#2218 Add 4 system.fs.file_handles.* metrics
  pkg/collector/corechecks/system/file_handles.go
  pkg/collector/corechecks/system/file_handles_test.go
  releasenotes/notes/more-file_handles-metrics-a2fb71b5ec7b75f2.yaml
Labels: team/agent-core

#2234 Add Alibaba instance-id to the host_aliases metadata payload
  pkg/metadata/host/host.go
  pkg/util/alibaba/alibaba.go
  pkg/util/alibaba/alibaba_test.go
  pkg/util/alibaba/diagnosis.go
Labels: noreno, team/agent-core

#2232 [DCA] Update custom metrics store stats when configmap is updated.
  pkg/clusteragent/custommetrics/README.md
  pkg/clusteragent/custommetrics/status.go
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/store_test.go
  pkg/clusteragent/custommetrics/types.go
Labels: kind/bug, noreno, team/containers

#2253 Wait for the check to signal he ran before checking his status
  pkg/collector/runner/runner_test.go
Labels: noreno, team/agent-core

#2206 Node Labels from the DCA
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/metadata_mapper_digest.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes/notes/enabling-collecting-Node-Labels-from-the-Datadog-Cluster-Agent-8b63e92fedbd8668.yaml
Labels: dca, team/containers
