Repository DataDog/datadog-agent, pull requests merged in 2018-02, with the labels that each got.

#1222 Consistency between explanation and example - minor change
  docs/beta.md
Labels: documentation, noreno

#1226 Fix docker integration tests
  .circleci/images/builder/Dockerfile
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  tasks/docker.py
  test/integration/docker/dsd_listening.py
Labels: dev/testing, noreno

#1227 Remove Tagger error because always nil
  pkg/tagger/global.go
  pkg/tagger/tagger.go
  pkg/tagger/tagger_test.go
  pkg/tagger/tagstore.go
  pkg/tagger/tagstore_test.go
Labels: component/tagger, noreno, team/kenafeh

#1224 config: set an appropriate documentation about the new features
  Dockerfiles/agent/README.md
  pkg/config/config_template.yaml
Labels: noreno, team/kenafeh

#1154 Logs agent does not use syslog as a wrapper
  pkg/logs/config/config_test.go
  pkg/logs/config/constants.go
  pkg/logs/config/integration_config.go
  pkg/logs/config/integration_config_test.go
  pkg/logs/input/container/docker.go
  pkg/logs/input/container/docker_test.go
  pkg/logs/message/message.go
  pkg/logs/message/message_test.go
  pkg/logs/message/origin.go
  pkg/logs/message/origin_test.go
  pkg/logs/pb/agent_logs_payload.pb.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/processor/encoder.go
  pkg/logs/processor/encoder_test.go
  pkg/logs/processor/prefixer.go
  pkg/logs/processor/prefixer_test.go
  pkg/logs/processor/processor.go
  pkg/logs/processor/processor_test.go
  pkg/logs/sender/delimiter.go
  pkg/logs/sender/delimiter_test.go
  pkg/logs/sender/sender.go
Labels: component/logs, kind/feature, noreno, team/ramen

#1225 Fix stop cmd
  cmd/agent/app/stop.go
  releasenotes/notes/fix-stop-cmd-630e5967b51d2ba9.yaml
Labels: kind/bug

#1205 [docs] Update jmx debug command
  docs/beta.md
Labels: noreno

#1151 Add osx installation script
  cmd/agent/install_mac_os.sh
  docs/agent/upgrade.md
  releasenotes/notes/osx-install-script-eded6ada75196fc0.yaml
Labels: dev/tooling, os/macOS

#1234 Make health verbose by default
  cmd/agent/app/health.go
Labels: noreno

#1104 [docker] ship and use S6 init to run process/trace
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/README.md
  Dockerfiles/agent/SUPERVISION.md
  Dockerfiles/agent/entrypoint.sh
  Dockerfiles/agent/entrypoint/01-check-apikey.sh
  Dockerfiles/agent/entrypoint/10-dogstatsd-socket.sh
  Dockerfiles/agent/entrypoint/50-ecs.sh
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  Dockerfiles/agent/entrypoint/50-mesos.sh
  Dockerfiles/agent/entrypoint/51-defaults.sh
  Dockerfiles/agent/entrypoint/60-network-check.sh
  Dockerfiles/agent/entrypoint/89-copy-customfiles.sh
  Dockerfiles/agent/initlog.sh
  Dockerfiles/agent/probe.sh
  Dockerfiles/agent/s6-services/agent/finish
  Dockerfiles/agent/s6-services/agent/log/run
  Dockerfiles/agent/s6-services/agent/run
  Dockerfiles/agent/s6-services/process/finish
  Dockerfiles/agent/s6-services/process/log/run
  Dockerfiles/agent/s6-services/process/run
  Dockerfiles/agent/s6-services/trace/finish
  Dockerfiles/agent/s6-services/trace/log/run
  Dockerfiles/agent/s6-services/trace/run
  releasenotes/notes/docker-image-s6-init-d7aef5dbbc737659.yaml
Labels: kind/packaging, team/kenafeh

#1236 [Logs] Bind an environment variable for protocol buffer payloads
  pkg/config/config.go
Labels: component/logs, kind/feature, noreno, team/ramen

#1235 [py/checks] Set `urllib3`'s logger to WARN level by default
  cmd/agent/dist/checks/__init__.py
  releasenotes/notes/default-urllib3-logging-6a8aebc47b5f9754.yaml
Labels: component/collector, kind/enhancement, team/croissant, team/kenafeh

#1243 Put process-agent in embedded/bin directory again
  omnibus/config/software/datadog-process-agent.rb
Labels: noreno

#1233 Improve the management of excluded containers
  pkg/collector/corechecks/containers/docker.go
  pkg/tagger/collectors/docker_extract.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/filter.go
  pkg/util/docker/filter_test.go
Labels: noreno, team/kenafeh

#1223 remove support for config option collect_security_groups
  docs/agent/config.md
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/legacy/converter.go
  pkg/legacy/importer.go
  pkg/legacy/tests/datadog.conf
  pkg/metadata/host/host.go
  releasenotes/notes/support-ec2-metadata-options-6287da5d6462fc44.yaml
Labels: team/croissant

#1231 [AD] add `Uncheduling check` logline to help troubleshoot
  pkg/collector/check/id.go
  pkg/collector/check/id_test.go
  pkg/collector/scheduler/scheduler.go
Labels: component/collector, noreno, team/kenafeh

#1237 Better api to collect external host tags
  pkg/collector/py/datadog_agent.c
  pkg/collector/py/datadog_agent.go
  pkg/collector/py/tests/external_host_tags.py
  pkg/metadata/externalhost/externalhost.go
  pkg/metadata/externalhost/externalhost_test.go
  pkg/metadata/externalhost/payload.go
  pkg/metadata/v5/v5_test.go
Labels: component/collector, noreno

#1244 image-filter: catch region pause container
  pkg/util/docker/docker_util.go
  pkg/util/docker/filter_test.go
Labels: noreno, team/kenafeh

#1247 Add 6.0.0-rc.1 entry to release.json
  release.json
Labels: kind/packaging

#1246 move JMXFetch logs to agent.log
  omnibus/config/software/jmxfetch.rb
  pkg/collector/corechecks/embed/jmx.go
  release.json
Labels: noreno

#1257 [docker] fix probe.sh script
  Dockerfiles/agent/probe.sh
Labels: kind/packaging, team/kenafeh

#1256 [systemd] fixing overall service behavior
  omnibus/config/templates/datadog-agent/systemd.process.service.erb
  omnibus/config/templates/datadog-agent/systemd.service.erb
  omnibus/config/templates/datadog-agent/systemd.trace.service.erb
Labels: noreno

#1260 [Licenses] adds missing licenses
  LICENSE-3rdparty.csv
Labels: noreno

#1190 Move builds to docker-machine
  .gitlab-ci.yml
Labels: dev/tooling, noreno

#1259 integration-tests: add the pause container
  pkg/aggregator/mocksender/asserts.go
  test/integration/corechecks/docker/basemetrics_test.go
  test/integration/corechecks/docker/main_test.go
  test/integration/corechecks/docker/testdata/basemetrics.compose
Labels: noreno, team/kenafeh

#1265 [py/utils/proxy] Fix missing import
  cmd/agent/dist/utils/proxy.py
Labels: component/collector, kind/bug, noreno, team/croissant

#1264 update `cast` lib to enable map envvar binding, update doc
  Dockerfiles/agent/README.md
  Gopkg.lock
  pkg/config/config.go
  releasenotes/notes/support-tagger-envvars-c1bf983a11b0c4ce.yaml
Labels: kind/packaging, team/kenafeh

#1258 Move external host tags payload to agentchecks provider
  pkg/collector/metadata/agentchecks/agentchecks.go
  pkg/collector/metadata/agentchecks/agentchecks_test.go
  pkg/collector/metadata/agentchecks/payload.go
  pkg/metadata/externalhost/externalhost.go
  pkg/metadata/v5/payload.go
  pkg/metadata/v5/payload_gohai.go
  pkg/metadata/v5/v5.go
  pkg/metadata/v5/v5_other.go
  pkg/metadata/v5/v5_test.go
Labels: component/metadata, noreno

#1238 test for build regressions
  .gitlab-ci.yml
Labels: noreno

#1266 [AD] fix %%host_custom%% and %%port_1%% resolution, improve tests
  pkg/collector/autodiscovery/configresolver.go
  pkg/collector/autodiscovery/configresolver_test.go
  releasenotes/notes/ad-host-port-tags-fix-a299e1407c1f5136.yaml
Labels: component/autodiscovery, kind/bug, team/kenafeh

#1229 make tagger more resilient to malformed docker events
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/tagstore.go
  releasenotes/notes/tagger-nil-taginfo-664b5f1a0756d3d6.yaml
Labels: component/tagger, team/kenafeh

#1255 improve DMG installer UI
  omnibus/config/projects/agent.rb
  omnibus/resources/agent/dmg/icon.png
Labels: noreno

#1272 [changelog] 6.0.0-rc.1
  CHANGELOG.rst
  releasenotes/notes/change-iostats-to-WinPDH-95da85afa662b5f4.yaml
Labels: documentation

#1249 Fix AD check unscheduling
  pkg/collector/autodiscovery/autoconfig.go
  pkg/collector/autodiscovery/configresolver.go
  pkg/collector/scheduler/scheduler.go
  releasenotes/notes/fix-ad-unschedulling-02916cbca111ce29.yaml
Labels: component/autodiscovery, kind/bug, team/kenafeh

#1269 Update CLA language
  README.md
Labels: noreno

#1273 update osx install script url
  cmd/agent/install_mac_os.sh
Labels: noreno

#1268 [docker] disable APM by default, document changes
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/README.md
  docs/agent/changes.md
  releasenotes/notes/disable-apm-default-f32eaa7cb3d7f157.yaml
Labels: kind/packaging, team/kenafeh

#1274 [docs] update JMX debug commands for rc1
  docs/beta.md
Labels: noreno

#1279 Create entry in release.json for 6.0.0-rc.2
  release.json
Labels: noreno

#1271 [AD] normalize label/annotation names, update doc and tests
  docs/agent/changes.md
  pkg/collector/listeners/common.go
  pkg/collector/listeners/docker_test.go
  pkg/collector/providers/docker.go
  pkg/collector/providers/kubelet.go
  pkg/collector/providers/kubelet_test.go
  releasenotes/notes/consistent-ad-labels-05d271735c91819f.yaml
  test/integration/listeners/docker/testdata/redis.yaml
Labels: component/autodiscovery, kind/bug, team/kenafeh

#1275 [AD] fix AD starting two checks if using templates in labels
  pkg/collector/listeners/common.go
  pkg/collector/listeners/docker_test.go
  pkg/collector/listeners/kubelet.go
  pkg/collector/listeners/kubelet_test.go
  releasenotes/notes/ad-double-checks-864cdb8950cbfa5c.yaml
Labels: component/autodiscovery, kind/bug, team/kenafeh

#1280 improving doc
  Dockerfiles/agent/README.md
Labels: documentation, noreno

#1276 [aggregation] Ignore metric samples with NaN values
  pkg/metrics/context_metrics.go
  pkg/metrics/context_metrics_test.go
  pkg/metrics/context_sketch.go
  pkg/metrics/context_sketch_test.go
  releasenotes/notes/aggregator-ignore-nan-values-10f8bdff5c0a233b.yaml
Labels: component/aggregator, kind/bug, team/croissant

#1282 [release.json] Update trace and process for 6.0.0-rc.2
  release.json
Labels: noreno

#1285 [docker] Don't skip cgroup parsing with one invalid line
  pkg/util/docker/cgroup.go
  pkg/util/docker/cgroup_test.go
Labels: noreno

#1278 add link to dockerfiles readmes in the doc TOC
  docs/README.md
Labels: documentation, noreno, team/kenafeh

#1290 Fix k8s manifests path
  Dockerfiles/agent/README.md
Labels: documentation, noreno

#1254 [Support] Adds option to print payloads
  pkg/aggregator/aggregator.go
  pkg/config/config.go
  pkg/metrics/series.go
  pkg/metrics/service_check.go
Labels: component/aggregator, noreno

#1286 Fixes to handling of `resources` collector and in metadata payload
  cmd/agent/app/start.go
  pkg/metadata/host/payload.go
  pkg/metadata/resources.go
  pkg/metadata/resources/resources.go
  pkg/metadata/v5/payload.go
  pkg/metadata/v5/v5.go
  releasenotes/notes/metadata-fixes-6c96a2a7fc0f9a71.yaml
Labels: component/metadata, team/croissant

#1291 Use images repo
  .gitlab-ci.yml
Labels: noreno

#1284 Fix bug in device field processing where device field was lost after
  pkg/metrics/series.go
  pkg/metrics/series_test.go
  releasenotes/notes/device-tags-6960a9f9e8123d67.yaml
Labels: component/aggregator, kind/bug, team/croissant

#1288 [windows] update apm initialization
  cmd/agent/app/dependent_services_windows.go
  omnibus/resources/agent/msi/assets/LICENSE.rtf
  omnibus/resources/agent/msi/source.wxs.erb
Labels: noreno

#1294 [windows] Remove reference to trace-agent.conf.example file
  omnibus/resources/agent/msi/source.wxs.erb
Labels: kind/bug, kind/packaging, noreno, os/windows, team/croissant

#1297 Add release notes for 6.0.0-rc.2
  CHANGELOG.rst
Labels: documentation

#1304 [invoke] disable container integrations on OSX build
  releasenotes/notes/disable-container-integrations-if-not-linux-b6f76cc5200d7a6e.yaml
  tasks/agent.py
  tasks/build_tags.py
Labels: kind/packaging, team/kenafeh

#1305 [release] Add 6.0.0-rc.3 entry
  release.json
Labels: noreno

#1296 [metadata/resources] Fix test on Windows
  pkg/metadata/resources/resources_test.go
Labels: component/metadata, dev/testing, noreno, team/croissant

#1289 [Security] allow auth token file path to be set in the config
  pkg/api/security/security.go
  pkg/config/config.go
  releasenotes/notes/allow-auth-token-path-to-be-set-18496202a7de9049.yaml
Labels: kind/security, team/croissant

#1295 Better permissions for auth_token
  pkg/api/security/platform_nowindows.go
  releasenotes/notes/more-secure-permissions-authtoken-412767d86975bd02.yaml
Labels: kind/security, team/croissant

#1301 Fixed bug preventing docker client to retrieve container logs when docker server has version prior to 1.25
  pkg/logs/input/container/scanner.go
  releasenotes/notes/logs-fix-docker-issue-api-version-1ed6a65d6c4322c6.yaml
Labels: component/logs, kind/bug, team/ramen

#1277 updated docs according to recent chages
  README.md
  docs/agent/README.md
  docs/agent/changes.md
  docs/beta.md
Labels: documentation, noreno

#1308 clean dogstatsd workers properly
  pkg/dogstatsd/server.go
Labels: kind/bug, noreno

#1306 Fixed lines miss issue when tailing new files
  pkg/logs/input/tailer/scanner.go
  pkg/logs/input/tailer/scanner_test.go
  releasenotes/notes/logs-fix-lines-miss-issue-7bc7046f4e6b77bc.yaml
Labels: component/logs, kind/bug, team/ramen

#1314 Revert "Fixed lines miss issue when tailing new files"
  pkg/logs/input/tailer/scanner.go
  pkg/logs/input/tailer/scanner_test.go
  releasenotes/notes/logs-fix-lines-miss-issue-7bc7046f4e6b77bc.yaml
Labels: noreno

#1251 Add windows systray process
  Gopkg.lock
  cmd/agent/app/control_service_windows.go
  cmd/systray/ddtray.exe.manifest
  cmd/systray/doconfigure.go
  cmd/systray/doflare.go
  cmd/systray/doservicecontrol.go
  cmd/systray/systray.go
  cmd/systray/systray.rc
  cmd/systray/version.h
  omnibus/config/software/datadog-agent.rb
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/add-systray-windows-84bacf3d7bb2174a.yaml
  tasks/__init__.py
  tasks/go.py
  tasks/systray.py
Labels: component/GUI, kind/feature, os/windows, team/croissant

#1310 Fix glog logger conflict
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  releasenotes/notes/fix-logger-glog-80cfbb7958da4c64.yaml
Labels: kind/bug

#1316 [gitlab] Remove artifacts from previous pipelines before building pkgs
  .gitlab-ci.yml
Labels: noreno, team/croissant

#1317 [windows][services] infra, apm, process agents delayed start
  cmd/systray/systray.go
  omnibus/resources/agent/msi/source.wxs.erb
Labels: os/windows

#1315 Fixed lines miss issue when tailing new files
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/input/tailer/scanner.go
  pkg/logs/input/tailer/scanner_test.go
  pkg/logs/input/tailer/tailer.go
  pkg/logs/input/tailer/tailer_test.go
  releasenotes/notes/logs-fix-lines-miss-issue-7bc7046f4e6b77bc.yaml
Labels: component/logs, kind/bug, team/ramen

#1318 [release] Set tag on integrations-core for 6.0.0-rc.3
  release.json
Labels: kind/packaging

#1312 Update the install script to use the official beta URLs
  cmd/agent/install_script.sh
Labels: noreno

#1321 Update config options doc
  docs/agent/config.md
Labels: documentation

#1325 Update changes doc
  docs/agent/changes.md
Labels: documentation, noreno

#1326 [trace-agent] Pin to tagged 6.0.0-rc.2 until GA
  release.json
Labels: noreno

#1327 improve config doc and add ac_include/exclude envvar binding
  Dockerfiles/agent/README.md
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
Labels: documentation, noreno

#1331 add rbac rules for kubelet access (AD/tagger/check)
  Dockerfiles/manifests/rbac/clusterrole.yaml
Labels: documentation, noreno

#1313 Charly/leaderelection configmap
  Dockerfiles/manifests/rbac/clusterrole.yaml
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_engine.go
  releasenotes/notes/leaderelection-use-configmap-30c89d2e733cd3f3.yaml
  test/integration/util/leaderelection/leaderelection_test.go
  test/integration/util/leaderelection/testdata/apiserver-compose.yaml
Labels: team/kenafeh

#1328 [changelog] Add 6.0.0-rc.3
  CHANGELOG.rst
Labels: documentation, noreno

#1323 Adds processes check for windows to collect queue length and count
  cmd/agent/dist/conf.d/winproc.d/conf.yaml.default
  omnibus/config/software/datadog-agent-finalize.rb
  pkg/collector/corechecks/system/winproc_windows.go
  pkg/util/winutil/pdhutil/pdhcounter.go
  pkg/util/winutil/pdhutil/pdhhelper.go
  releasenotes/notes/processes_metrics_win-e406a8dbcc4bae42.yaml
Labels: kind/feature

#1324 [Windows][Release]
  cmd/agent/app/control_service_windows.go
  cmd/agent/app/dependent_services_windows.go
  cmd/systray/doservicecontrol.go
  cmd/systray/systray.go
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/util/winutil/winstrings.go
  releasenotes/notes/windows-agent-usage-68751daa18f728e0.yaml
Labels: component/GUI, kind/bug, kind/packaging, os/windows, team/croissant

#1330 Rename images in build accounts
  .gitlab-ci.yml
Labels: noreno

#1336 [gui] metrics.yaml is not a configurable file - do not show
  cmd/agent/gui/views/private/js/javascript.js
  releasenotes/notes/gui-metrics-yaml-fix-15797b896b32fe13.yaml
Labels: component/GUI

#1334 [release] Add entry for 6.0.0-rc.4
  release.json
Labels: kind/packaging, noreno

#1337 [docker] override s6-overlay stage3 script avoiding s6 nuke
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/init-stage3
  Dockerfiles/agent/s6-services/agent/finish
  releasenotes/notes/dockerfile-pid-host-47ddbf2cdfa6e02e.yaml
Labels: kind/bug, kind/packaging, team/kenafeh

#1340 [gitlab] Allow failure of all suse-related jobs
  .gitlab-ci.yml
Labels: noreno, os/SUSE

#1341 [windows] pass process-agent svc config file argument
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/procees-svc-definition-fix-6ec12ffa86477ff2.yaml
Labels: os/windows

#1343 [changelog] 6.0.0-rc.4
  CHANGELOG.rst
Labels: documentation

#1344 [windows] GUI should launch, but systray instance should also be set
  cmd/systray/systray.go
Labels: kind/bug, os/windows

#1346 [Docs Update SuSE beta install instructions
  docs/agent/upgrade.md
Labels: documentation, noreno

#1347 [windows] fix start label in systray
  cmd/systray/systray.go
Labels: noreno

#1348 Fix doGetHostname() to initialize the configuration from the conf file.
  cmd/agent/app/hostname.go
  releasenotes/notes/fix-agent-hostname-f6d8b802fdc9e9f1.yaml
Labels: component/cmd-agent, kind/bug, team/croissant

#1353 [release] Add entry for 6.0.0
  release.json
Labels: kind/packaging, noreno

#1358 Update the install script to use the stable repo
  cmd/agent/install_script.sh
Labels: noreno

#1359 Update docs for GA
  docs/agent/changes.md
  docs/beta.md
Labels: noreno

#1339 add support for %%env_%% AD template tag
  pkg/collector/autodiscovery/common_test.go
  pkg/collector/autodiscovery/configresolver.go
  pkg/collector/autodiscovery/configresolver_test.go
  pkg/collector/autodiscovery/stats_test.go
  pkg/collector/listeners/README.md
  releasenotes/notes/ad_envvar_tag-eae282a10d79b3ae.yaml
Labels: component/autodiscovery, team/kenafeh

#1332 [Logs]: Changed the logic to stop the decoder
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/input/container/docker.go
  pkg/logs/input/listener/worker.go
  pkg/logs/input/tailer/scanner_test.go
  pkg/logs/input/tailer/tailer.go
Labels: component/logs, noreno, team/ramen

#1363 Fix Windows agent location
  docs/agent/changes.md
Labels: community, documentation, os/windows

#1368 Add link flags whitelist for go 1.9.4
  tasks/utils.py
Labels: noreno
