Repository DataDog/datadog-agent, pull requests merged in 2018-05, with the labels that each got.

#1663 [forwarder] Sanitize logged URLs when using proxy
  pkg/forwarder/transaction.go
  pkg/util/common.go
  pkg/util/http.go
  releasenotes/notes/sanitize-url-configured-proxy-307729bd8673ff05.yaml
Labels: kind/bug, team/croissant

#1667 fix html log escaping
  cmd/agent/gui/agent.go
Labels: noreno, team/croissant

#1673 lowercase kube host tag keys too (followup on #1593)
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes/notes/fix-env-and-labels-as-tags-d7ee859e3a47d0f4.yaml
Labels: component/metadata, kind/bug, severity/minor, team/kenafeh

#1674 Fix a race condition in the kubernetes service tagging logic
  pkg/util/kubernetes/apiserver/metadata.go
  pkg/util/kubernetes/apiserver/services.go
  releasenotes/notes/metadatamapper-race-6f06357a81519855.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: severity/major, team/kenafeh

#1675 [k8s] reduce the rbac permissions on configmaps
  Dockerfiles/manifests/rbac/clusterrole.yaml
Labels: documentation, noreno, team/kenafeh

#1678 [forwarder] Increase default recovery interval from 1 to 2
  pkg/config/config.go
  pkg/forwarder/README.md
  pkg/forwarder/blocked_endpoints.go
  pkg/forwarder/blocked_endpoints_test.go
Labels: component/forwarder, noreno, team/croissant

#1677 manually pin gopsutil version
  Gopkg.lock
  tasks/go.py
Labels: kind/packaging, noreno, team/croissant

#1684 Fix a possible panic when docker cannot inspect a container
  pkg/util/docker/docker_util.go
  releasenotes/notes/docker-inspect-panic-25cfa5b77a801715.yaml
Labels: kind/bug, severity/normal, team/kenafeh

#1686 ensure AgentCheck submits bytes
  cmd/agent/dist/checks/__init__.py
  cmd/agent/dist/utils/common.py
Labels: noreno

#1687 [changelog] Add entry for 6.2.0
  CHANGELOG.rst
Labels: do-not-merge/WIP, documentation, noreno

#1685 Add docker & swarm container metadata
  pkg/metadata/host/container/loader.go
  pkg/metadata/host/host.go
  pkg/metadata/host/payload.go
  pkg/metadata/v5/v5_test.go
  pkg/util/docker/metadata.go
  releasenotes/notes/docker-container-meta-952cceca1aa20939.yaml
Labels: component/metadata, team/kenafeh

#1638 Refactor the auditor and the origin to be agnostic from the log source
  pkg/logs/auditor/api_v0.go
  pkg/logs/auditor/api_v0_test.go
  pkg/logs/auditor/api_v1.go
  pkg/logs/auditor/api_v1_test.go
  pkg/logs/auditor/api_v2.go
  pkg/logs/auditor/api_v2_test.go
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/input/container/docker.go
  pkg/logs/input/tailer/scanner.go
  pkg/logs/input/tailer/tailer.go
  pkg/logs/input/tailer/tailer_test.go
  pkg/logs/message/origin.go
Labels: component/logs, noreno, team/ramen

#1690 [reno] Configure regexes to match our release and pre-release tags
  reno.yaml
Labels: dev/tooling, noreno

#1563 [gitlab apt/yum release] Stop pushing packages to "main" component
  .gitlab-ci.yml
Labels: kind/packaging, noreno, team/croissant

#1659 Revert "[deps] Temp fix for golint dep install (#1622)"
  tasks/go.py
Labels: dev/tooling, noreno

#1695 document the device_blacklist_re option in the io corecheck
  cmd/agent/dist/conf.d/io.d/conf.yaml.default
Labels: documentation, noreno

#1694 [Logs]: Support all severity values support for logs
  pkg/logs/config/constants.go
  pkg/logs/docker/docker.go
  pkg/logs/input/container/docker.go
  pkg/logs/input/container/docker_test.go
  pkg/logs/input/listener/worker.go
  pkg/logs/input/tailer/tailer.go
  pkg/logs/message/message.go
  pkg/logs/message/message_test.go
  pkg/logs/message/status.go
  pkg/logs/message/status_test.go
  pkg/logs/processor/encoder.go
  pkg/logs/processor/encoder_test.go
  pkg/logs/processor/processor_test.go
Labels: component/logs, noreno, team/ramen

#1618 [Logs]: Added a support for journald
  .circleci/images/builder/Dockerfile
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  README.md
  docs/dev/agent_build.md
  docs/dev/agent_dev_env.md
  pkg/logs/agent.go
  pkg/logs/config/integration_config.go
  pkg/logs/config/integration_config_test.go
  pkg/logs/config/tests/complete/conf.d/integration5.yml
  pkg/logs/input/journald/launcher.go
  pkg/logs/input/journald/launcher_test.go
  pkg/logs/input/journald/tailer.go
  pkg/logs/input/journald/tailer_nosystemd.go
  pkg/logs/input/journald/tailer_systemd.go
  pkg/logs/input/journald/tailer_systemd_test.go
  pkg/logs/input/journald/tailer_test.go
  pkg/logs/message/message.go
  pkg/logs/message/origin.go
  pkg/logs/message/origin_test.go
  pkg/logs/processor/encoder.go
  releasenotes/notes/journald-logs-integration-6fb090f94cfd083c.yaml
  tasks/agent.py
  tasks/build_tags.py
Labels: component/logs, noreno, team/ramen

#1298 Migration to official client-go lib for Kubernetes related agent features.
  Gopkg.lock
  Gopkg.toml
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver_test.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  pkg/config/config.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/client.go
  pkg/util/kubernetes/apiserver/events.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/services_test.go
  releasenotes/notes/migrate-k8s-go-official-ea68d42fa8cb082d.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
  test/integration/util/kube_apiserver/common.go
  test/integration/util/leaderelection/leaderelection_test.go
Labels: team/kenafeh

#1702 [metadata] Fix collection of host tags from GCP project & attributes
  pkg/util/gce/gce.go
  pkg/util/gce/gce_tags.go
  pkg/util/gce/gce_tags_test.go
  pkg/util/gce/test/gce_metadata.json
  releasenotes/notes/fix-gce-attributes-tags-d1715815467eb08e.yaml
Labels: component/metadata, kind/bug, severity/critical, team/croissant

#1709 [jmx] fix jmxfetch configuration (java options & co)
  cmd/agent/app/jmx.go
  pkg/collector/corechecks/embed/jmx.go
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/fix-jmx-config-350ecf3441636542.yaml
Labels: kind/bug, severity/critical, team/croissant

#1716 Updated code owners path for autodiscovery
  .github/CODEOWNERS
Labels: component/autodiscovery, noreno

#1713 updating links on AD README.md
  pkg/autodiscovery/README.md
Labels: noreno

#1711 [packaging/RPM] Write systemd service files to /usr/lib/systemd/system
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  releasenotes/notes/rpm-systemd-service-location-28ea07f7b292a5fb.yaml
Labels: kind/bug, kind/packaging, severity/major, team/croissant

#1712 Update agent documentation about configuration files
  docs/agent/changes.md
Labels: noreno

#1718 Add 6.2.1-rc.1 to the release.json
  release.json
Labels: noreno

#1719 Add 6.2.1-rc.2 to release.json
  release.json
Labels: noreno

#1586 Adding a command to generate reno changelog
  releasenotes/config.yaml
  tasks/__init__.py
  tasks/release.py
Labels: noreno

#1707 Add kubelet version container meta
  pkg/metadata/host/host.go
  pkg/metadata/host/host_test.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_common.go
  pkg/util/kubernetes/kubelet/kubelet_common_test.go
  pkg/util/kubernetes/kubelet/metadata.go
  releasenotes/notes/kubelet-version-container-meta-43d06205687035c5.yaml
Labels: team/kenafeh

#1735 [Logs] Don't submit invalid UTF-8 in payloads
  pkg/logs/processor/encoder.go
  pkg/logs/processor/encoder_test.go
  releasenotes/notes/logs_proto_invalid_utf8-aaad0c13757a19fe.yaml
Labels: component/logs, kind/bug, team/ramen

#1734 bump test timeout to 2min
  tasks/test.py
Labels: noreno

#1741 [install_script] Use correct command to expire YUM metadata
  cmd/agent/install_script.sh
Labels: kind/bug, kind/packaging, noreno, team/croissant

#1742 [docs] Update upgrade docs
  docs/agent/upgrade.md
Labels: documentation, noreno, team/croissant

#1724 Updated the file provider to provider logs config.
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/file_test.go
  pkg/autodiscovery/providers/tests/corge.d/conf.yaml.default
  pkg/autodiscovery/providers/tests/corge.d/logs.yaml
  pkg/autodiscovery/providers/tests/logs-agent_only.yaml
  pkg/legacy/docker.go
  pkg/legacy/kubernetes.go
Labels: component/autodiscovery, noreno

#1386 Omnibus s3 caching
  .gitlab-ci.yml
  omnibus/omnibus.rb
  tasks/agent.py
  tasks/dogstatsd.py
Labels: kind/packaging, noreno, team/croissant

#1746 [docs] Add section on runnng subprocesses from Agent checks
  docs/dev/checks/python/check_api.md
  pkg/collector/py/datadog_agent.c
Labels: documentation, noreno

#1738 [DCA] Refacto and clean up
  Dockerfiles/cluster-agent/Dockerfile
  Dockerfiles/cluster-agent/dist/templates/header.tmpl
  Dockerfiles/cluster-agent/entrypoint.sh
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/flare.go
  cmd/cluster-agent/app/metadata_mapper_digest.go
  cmd/cluster-agent/app/status.go
  cmd/cluster-agent/main.go
  pkg/api/security/security.go
  pkg/api/util/doget.go
  pkg/api/util/util.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/config/config.go
  pkg/config/config_darwin.go
  pkg/config/config_nix.go
  pkg/config/config_windows.go
  pkg/flare/archive_dca.go
  pkg/status/render.go
  pkg/status/status.go
  pkg/tagger/collectors/kubernetes_main.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/version/base.go
  tasks/cluster_agent.py
Labels: noreno

#1752 Avoid pushing windows msi on every pipelines
  .gitlab-ci.yml
Labels: noreno

#1648 Add some documentation for confusing algorithm for creating PDH strings
  pkg/util/winutil/pdhutil/README.md
  pkg/util/winutil/pdhutil/pdhcounter.go
Labels: noreno

#1749 Fix flaky test
  pkg/logs/input/tailer/scanner_test.go
Labels: component/logs, noreno, team/ramen

#1753 Fixes intermittent failure in the runner test.
  pkg/collector/runner/runner_test.go
Labels: noreno

#1751 Add more logs for diagnosing issues connecting to kubelet using TLS
  pkg/collector/py/kubeutil.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/docker/global.go
  pkg/util/ecs/ecs.go
  pkg/util/kubernetes/kubelet/init.go
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: noreno

#1758 [windows][log] fix replace logger with new interface
  cmd/agent/main_windows.go
  cmd/systray/systray.go
Labels: kind/bug, noreno

#1764 [docs] Update IPC docs
  docs/dev/agent_api.md
Labels: documentation, noreno

#1767 Remove dead code
  pkg/config/config.go
  pkg/util/container/providers.go
  pkg/util/container/providers_stub.go
Labels: noreno

#1732 Fix panics from Viper lib when using proxy
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/util/common.go
  releasenotes/notes/fix-panic-viper-211eace2eae26842.yaml
Labels: team/croissant

#1765 Make agent pods part of the guaranteed QoS class
  Dockerfiles/manifests/agent-kubelet-only.yaml
  Dockerfiles/manifests/agent.yaml
Labels: documentation, noreno

#1755 Push windows artifacts to a public S3 bucket like we do for other OS
  .gitlab-ci.yml
Labels: noreno
