Repository DataDog/datadog-agent, pull requests merged in 2018-12, with the labels that each got.

#2738 get goautoneg from github to unblock pipeline
  Gopkg.lock
  Gopkg.toml
Labels: noreno, team/agent-core

#2732 use `service` instead of `systemctl` by default
  cmd/agent/install_script.sh
Labels: kind/bug, kind/packaging, noreno, team/agent-core

#2739 Don't ship openstack_controller
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno, team/integrations

#2746 release 6.8.0-rc.2
  release.json
Labels: noreno, team/agent-core

#2741 [windows] add additional log information for pdh counter collection
  pkg/util/winutil/pdhutil/pdhhelper.go
Labels: noreno, team/agent-core

#2747 Fixes pymqi (for real this time)
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno, team/integrations

#2742 For in-toto, run Datadog/pip in an Agent-readable dir
  cmd/agent/app/integrations.go
  releasenotes/notes/chdir-to-writable-dir-for-in-toto-68a834c59e9986ff.yaml
Labels: team/agent-core

#2751 force netcgo for real
  tasks/agent.py
  tasks/build_tags.py
Labels: noreno, team/agent-core

#2752 release 6.8.0-rc.3
  release.json
Labels: noreno, team/agent-core

#2756 document jmx new gc metric names option
  cmd/agent/dist/conf.d/jmx.d/conf.yaml.example
Labels: documentation, noreno, team/agent-core

#2760 Message file should have positional parameter (%1) instead of printf
  cmd/agent/agentmsg.mc
Labels: noreno, team/agent-core

#2765 Fix filespec for copy to artifacts directory for android
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2766 bump fqdn breaking version in deprecation warning
  pkg/util/hostname.go
Labels: documentation, noreno, team/agent-core

#2767 Add prelude to changelog for logs short image name
  releasenotes/notes/logs-short-image-source-b5b7ad5750517444.yaml
Labels: team/logs

#2770 [test kitchen] update version of azure windows images
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2769 release 6.8.0-rc.4
  release.json
Labels: noreno, team/agent-core

#2777 Update systemd and libdbus in docker images
  Dockerfiles/agent/Dockerfile
  Dockerfiles/cluster-agent/Dockerfile
Labels: kind/packaging, noreno, team/containers

#2778 allow test kitchen failures
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2775 Fix typo: "we" --> "with"
  docs/dev/checks/python/check_api.md
Labels: documentation, noreno

#2776 Fix typo: "informations" --> "information"
  docs/dev/checks/python/check_api.md
Labels: documentation, noreno

#2784 changelog for 6.8.0
  CHANGELOG.rst
Labels: documentation, noreno, team/agent-core

#2787 Add releases notes for PR #2684
  CHANGELOG.rst
Labels: noreno, team/agent-core

#2790 add information about kubernetes integration issue in 6.8.0 to the changelog
  CHANGELOG.rst
Labels: documentation, noreno, team/agent-core

#2780 Revert "allow test kitchen failures (#2778)"
  .gitlab-ci.yml
Labels: documentation, noreno, team/agent-core

#2763 Add secrets info to the flare
  pkg/flare/archive.go
  pkg/secrets/check_right.go
  pkg/secrets/secrets.go
  pkg/secrets/secrets_win.go
  releasenotes/notes/add-secrets-to-flare-29cf71bedead1591.yaml
Labels: team/agent-core

#2730 [windows] Add specific check for elevation for `integration` command.
  cmd/agent/app/check.go
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_windows.go
  cmd/agent/app/jmx.go
  pkg/util/winutil/elevated.go
Labels: noreno, team/agent-core

#2779 Add kube_service config provider
  pkg/autodiscovery/providers/kube_services.go
  pkg/autodiscovery/providers/kube_services_test.go
  pkg/autodiscovery/providers/providers.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/apiserver/controllers.go
Labels: component/autodiscovery, dca, noreno, team/containers

#2759 Collect docker io metrics per device
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/corechecks/containers/docker_test.go
  pkg/util/containers/metrics/cgroup_metrics.go
  pkg/util/containers/metrics/disk.go
  pkg/util/containers/metrics/disk_test.go
  pkg/util/containers/metrics/network_test.go
  pkg/util/containers/metrics/types.go
  releasenotes/notes/docker-io-per-device-92047e9e294be1a6.yaml
Labels: component/collector, team/containers

#2795 add and upgrade notes entry for renamed jmxfetch metrics
  CHANGELOG.rst
  releasenotes/config.yaml
Labels: documentation, noreno, team/agent-core

#2781 Fix go vet tests with Go 1.11
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/containers/docker.go
  pkg/logs/input/docker/container.go
  pkg/logs/input/docker/launcher.go
  pkg/serializer/split/split.go
  pkg/tagger/collectors/kubernetes_main.go
  pkg/util/containers/metrics/network.go
  pkg/util/ecs/ecs.go
  pkg/util/log/log_test.go
Labels: noreno, team/agent-core

#2801 Update 6.8.1 changelog
  CHANGELOG.rst
Labels: noreno, team/agent-core

#2804 Fix access to collectAllSource
  pkg/logs/input/docker/launcher.go
  releasenotes/notes/fix-npe-in-docker-launcher-531873788f6fe84c.yaml
Labels: component/logs, kind/bug, severity/critical, team/logs

#2794 Fix storage location of android APK artifacts, so they can be found by
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2789 [windows] fix downgrade handling.
  omnibus/config/software/datadog-process-agent.rb
  omnibus/config/software/datadog-trace-agent.rb
  omnibus/resources/agent/msi/localbuild/.gitignore
  omnibus/resources/agent/msi/localbuild/README.md
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  omnibus/resources/agent/msi/localbuild/rebuild.bat
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/fixdowngrades-af610fcaf8158ad1.yaml
Labels: team/agent-core

#2806 Promote integration command to Beta feature
  CHANGELOG.rst
  cmd/agent/app/integrations.go
Labels: documentation, noreno, team/agent-core, team/integrations

#2550 Set PYTHONHOME at compile time when using a virtualenv
  README.md
  tasks/agent.py
  tasks/utils.py
Labels: noreno, team/agent-core

#2797 Fix a regression in parsing ignore.resources for traces
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  releasenotes/notes/fix-trace-ignore-933ede7647b4f7fa.yaml
Labels: kind/bug, severity/critical, team/apm

#2512 Include check name/namespace in ID
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  pkg/collector/check/id.go
  pkg/collector/corechecks/checkbase_test.go
  pkg/collector/py/check_test.go
  releasenotes/notes/check-extra-instance-id-41b01132fa3e8e96.yaml
Labels: component/collector, team/containers

#2810 always run cloudfront invalidation regardless of the pipeline success
  .gitlab-ci.yml
Labels: documentation, noreno, team/agent-core

#2809 6.8.2 changelog
  CHANGELOG.rst
Labels: documentation, noreno, team/agent-core

#2786 Add dispatching metrics in clusterchecks module
  Dockerfiles/manifests/cluster-agent/cluster-agent.yaml
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/clusteragent/clusterchecks/stores.go
Labels: component/clusterchecks, noreno, team/containers

#2745 [status] List of configured endpoints move visible in the status page
  Dockerfiles/cluster-agent/dist/templates/endpoints.tmpl
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/forwarder_health_test.go
  pkg/status/dist/templates/endpoints.tmpl
  pkg/status/render.go
  pkg/status/status.go
  releasenotes/notes/endpoints-infos-status-page-5cf49d91e4018737.yaml
Labels: kind/enhancement, team/agent-core

#2811 Bug fix for duplicate logs with docker
  pkg/logs/input/docker/since.go
  pkg/logs/input/docker/since_test.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/docker/tailer_test.go
  releasenotes/notes/fix-bug-duplicate-logs-4e26d6993874444c.yaml
Labels: component/logs, kind/bug, severity/critical, team/logs

#2817 Fix null pointer exception in docker tailer
  pkg/logs/input/docker/reader.go
  pkg/logs/input/docker/reader_test.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/docker/tailer_test.go
  releasenotes/notes/fix-npe-docker-tailer-5d689aa527fce4de.yaml
Labels: component/logs, kind/bug, severity/critical, team/logs

#2785 [flare] Stat the files permissions infos without type assertion
  pkg/flare/archive_nix.go
Labels: noreno, team/agent-core

#2821 Make the agent systemd services compatible with systemd<=229
  omnibus/config/templates/datadog-agent/systemd.network.service.erb
  omnibus/config/templates/datadog-agent/systemd.process.service.erb
  omnibus/config/templates/datadog-agent/systemd.service.erb
  omnibus/config/templates/datadog-agent/systemd.trace.service.erb
  releasenotes/notes/update-service-systemd-229-b8a764431ae3042e.yaml
Labels: team/agent-core

#2783 [docs] bump macOS minimal version from 10.10 to 10.12
  docs/agent/README.md
Labels: documentation, noreno, team/agent-core

#2761 Bump requests version for the python dev env
  requirements.txt
Labels: noreno, team/agent-core

#2825 Add integration version subcommand to get the installed version of a check
  cmd/agent/app/integrations.go
  releasenotes/notes/integration_version-4471d5bef7bfca18.yaml
Labels: team/integrations

#2820 Fix moving of configuration files
  cmd/agent/app/integrations.go
  releasenotes/notes/fix_moving_conf_file-68579cce61154e9f.yaml
Labels: team/integrations

#2832 Add version 6.8.3
  release.json
Labels: noreno, team/agent-core

#2826 Support trace logging for Python checks
  pkg/collector/py/datadog_agent.go
  releasenotes/notes/support-trace-logging-for-python-checks-f72157a532eb3616.yaml
Labels: component/collector, kind/feature, team/agent-core, team/integrations

#2791 Add a health probe in the ccheck dispatching logic
  pkg/clusteragent/clusterchecks/dispatcher_main.go
Labels: component/clusterchecks, noreno, team/containers

#2800 Add kube-services AD listener
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/providers/kube_services.go
  pkg/util/kubernetes/apiserver/services.go
Labels: component/autodiscovery, noreno, team/containers

#2836 Revert "Use DataDog fork of Viper"
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  pkg/config/viper.go
  pkg/config/viper_test.go
  pkg/logs/config/parser.go
Labels: noreno, team/agent-core

#2365 Add expvar on number of packets per listener
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/uds_common.go
  pkg/status/status.go
  releasenotes/notes/expvars-dogstatsd-listeners-5b4aefe7f494964b.yaml
Labels: team/agent-core

#2356 Merge agent and cluster-agent templates
  .gitignore
  .gitlab-ci.yml
  Dockerfiles/cluster-agent/Dockerfile
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  Dockerfiles/cluster-agent/dist/templates/endpoints.tmpl
  Dockerfiles/cluster-agent/dist/templates/forwarder.tmpl
  Dockerfiles/cluster-agent/dist/templates/header.tmpl
  pkg/status/dist/templates/collector.tmpl
  pkg/status/dist/templates/custommetricsprovider.tmpl
  pkg/status/dist/templates/forwarder.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/dist/templates/metadatamapper.tmpl
  pkg/status/status.go
  tasks/cluster_agent.py
Labels: component/cmd-agent, dca, noreno, team/agent-core
