Repository DataDog/datadog-agent, pull requests merged in 2018-11, with the labels that each got.

#2545 Isolate tag freshness check
  cmd/agent/common/autoconfig.go
  pkg/autodiscovery/autoconfig.go
Labels: component/autodiscovery, noreno, team/containers

#2547 Fix race condition in connection_manager_test.go
  pkg/logs/client/connection_manager_test.go
Labels: noreno, team/ramen

#2491 Send message asynchronously to the additional destinations
  pkg/logs/agent_test.go
  pkg/logs/client/destination.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/sender_test.go
  pkg/logs/status/status_test.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2482 Integration command prevents downgrading to version older than shipped
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_test.go
  cmd/agent/app/integrations_windows.go
  releasenotes/notes/install_downgrade-0d94f87dd2601257.yaml
Labels: team/integrations

#2392 clusterchecks: simple dispatching logic
  cmd/cluster-agent/app/app.go
  pkg/autodiscovery/providers/clusterchecks.go
  pkg/clusteragent/clusterchecks/README.md
  pkg/clusteragent/clusterchecks/api_nocompile.go
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  tasks/cluster_agent.py
Labels: dca, noreno, team/containers

#2405 [puppy] build deb packages for x64
  .gitlab-ci.yml
  omnibus/config/projects/puppy.rb
  omnibus/config/software/datadog-puppy.rb
  omnibus/package-scripts/README.md
  omnibus/package-scripts/puppy/postinst
  omnibus/package-scripts/puppy/postrm
  omnibus/package-scripts/puppy/preinst
  omnibus/package-scripts/puppy/prerm
Labels: noreno, puppy, team/agent-core

#2484 use bintray to download jmxfetch
  omnibus/config/software/jmxfetch.rb
Labels: noreno, team/agent-core

#2185 Add doc and improve the status page
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  Dockerfiles/cluster-agent/dist/templates/forwarder.tmpl
  cmd/agent/gui/views/templates/generalStatus.tmpl
  docs/agent/status.md
  pkg/status/dist/templates/aggregator.tmpl
  pkg/status/dist/templates/collector.tmpl
  pkg/status/dist/templates/dogstatsd.tmpl
  pkg/status/dist/templates/forwarder.tmpl
  pkg/status/render.go
  pkg/status/status.go
Labels: documentation, noreno, team/agent-core

#2546 [windows] properly compute programdata rather than hard-code to c:
  cmd/agent/agentmsg.mc
  cmd/agent/app/control_service_windows.go
  cmd/agent/app/install_service_windows.go
  cmd/agent/app/integrations_windows.go
  cmd/agent/app/remove_service_windows.go
  cmd/agent/common/common_windows.go
  cmd/agent/main_windows.go
  cmd/dogstatsd/main_windows.go
  cmd/systray/doservicecontrol.go
  pkg/config/config_windows.go
  pkg/pidfile/pidfile_windows.go
  pkg/util/winutil/eventlog.go
  pkg/util/winutil/shutil.go
  releasenotes/notes/realprogramdata-5a2e502b3c13c59f.yaml
Labels: team/agent-core

#2564 Fix folder permissions on containerd
  Dockerfiles/cluster-agent/Dockerfile
Labels: dca, kind/packaging, noreno, team/containers

#2544 Enable docker config provider if docker.sock exists
  Dockerfiles/agent/datadog-k8s-docker.yaml
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  releasenotes/notes/Enable-docker-config-provider-if-docker.sock-exists-816447ac92471e0d.yaml
Labels: team/containers

#2549 Fix a bug with docker log rotation
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/docker/tailer_test.go
  releasenotes/notes/fix-log-rotate-on-docker-4963d3c52508eb72.yaml
Labels: component/logs, kind/bug, team/ramen

#2656 bump jmxfetch to 0.22.1
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0.22.1-1d1573d52ebda799.yaml
Labels: team/agent-core

#2659 [readme] fix template variable support table
  pkg/autodiscovery/listeners/README.md
Labels: noreno, team/containers

#2434 Update log collection instructions
  Dockerfiles/agent/README.md
Labels: component/logs, documentation, noreno, team/ramen

#2658 Add s6 volume & squash daemonset
  Dockerfiles/manifests/agent.yaml
Labels: documentation, noreno, team/containers

#2655 [kerberos] adding support with libkrb5
  .gitlab-ci.yml
  omnibus/config/software/datadog-agent-integrations.rb
  releasenotes/notes/kerberos-support-with-libkrb5-dc8fd7b739047270.yaml
Labels: team/agent-core, team/integrations

#2666 Avoid panicking for missing fields in HPA
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
Labels: noreno, team/containers

#2559 Move legacy to config subpackage
  cmd/agent/common/import.go
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  pkg/config/legacy/docker.go
  pkg/config/legacy/docker_test.go
  pkg/config/legacy/importer.go
  pkg/config/legacy/importer_test.go
  pkg/config/legacy/kubernetes.go
  pkg/config/legacy/kubernetes_test.go
  pkg/config/legacy/no_docker.go
  pkg/config/legacy/process-agent.go
  pkg/config/legacy/tests/config.py
  pkg/config/legacy/tests/datadog.conf
  pkg/config/legacy/trace-agent.go
  pkg/config/legacy_converter.go
Labels: component/config, noreno, team/agent-guild

#2653 Adding rollup and fix to circumvent time aggregation
  pkg/config/config.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  pkg/util/kubernetes/hpa/datadogexternal_test.go
  pkg/util/kubernetes/hpa/processor.go
  pkg/util/kubernetes/hpa/processor_test.go
Labels: noreno, team/containers

#2680 Fix unit test per change in 2653
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
Labels: noreno, team/containers

#2675 Improve ECS and Fargate tagging consistency
  pkg/tagger/collectors/ecs_extract.go
  pkg/tagger/collectors/ecs_extract_test.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/ecs_main.go
  pkg/tagger/collectors/testdata/fargate_meta_v1.0.json
  pkg/util/ecs/ecs.go
  releasenotes/notes/ecs-tagging-42a6b7923ff420d8.yaml
Labels: component/tagger, team/containers

#2682 Allow users to change the custom metric provider port, to run as non-root
  Dockerfiles/cluster-agent/Dockerfile
  cmd/cluster-agent/custommetrics/server.go
  pkg/config/config.go
Labels: dca, noreno, team/containers

#2664 Collect kubelet containers network addresses
  pkg/util/containers/types.go
  pkg/util/kubernetes/kubelet/container_test.go
  pkg/util/kubernetes/kubelet/containers.go
  pkg/util/kubernetes/kubelet/testdata/podlist_1.8-1.json
Labels: noreno, team/containers

#2538 use netcgo resolver by default on linux
  releasenotes/notes/use-netcgo-dns-68d9fbad3b7c01a9.yaml
  tasks/build_tags.py
Labels: team/agent-core

#2683 Fix flare if can't access APIServer
  Dockerfiles/cluster-agent/dist/templates/metadatamapper.tmpl
  pkg/flare/archive_dca.go
Labels: noreno, team/containers

#2542 Move the logic to filter sensitive env vars to the flare package
  pkg/config/viper.go
  pkg/config/viper_test.go
  pkg/flare/envvars.go
  pkg/flare/envvars_test.go
Labels: noreno, team/agent-core

#2686 [windows] fix implementation of GetProgramDataDir
  pkg/util/winutil/shutil.go
  pkg/util/winutil/shutil_vet.go
  tasks/go.py
Labels: noreno, team/agent-core

#2694 Create additional windows kitchen tests for command line install options
  .gitlab-ci.yml
  cmd/agent/common/common_windows.go
  tasks/go.py
  test/kitchen/.kitchen-azure-winstall.yml
  test/kitchen/site-cookbooks/dd-agent-install/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows.rb
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows_base.rb
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-all-subservices/rspec/dd-agent-all-subservices_spec.rb
  test/kitchen/test/integration/dd-agent-all-subservices/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-installopts/rspec/dd-agent-installopts_spec.rb
  test/kitchen/test/integration/dd-agent-installopts/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-no-subservices/rspec/dd-agent-no-subservices_spec.rb
  test/kitchen/test/integration/dd-agent-no-subservices/rspec/spec_helper.rb
Labels: noreno, team/agent-core

#2661 Deprecated logs_config.tcp_forward_port as it's no longer needed for other integrations.
  pkg/config/config.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  releasenotes/notes/logs-deprecate-tcp-forward-all-26e3cbc7682d99be.yaml
Labels: component/logs, team/logs

#2681 Restart only the reader and not the whole tailer
  pkg/logs/input/docker/tailer.go
Labels: component/logs, noreno, team/logs

#2697 Migrating back to official custom metrics lib
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  cmd/cluster-agent/custommetrics/server.go
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/provider_test.go
Labels: noreno, team/containers

#2695 release 6.7.0
  release.json
Labels: noreno, team/agent-core

#2557 Refactored the logs config setup
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/input/container/launcher.go
Labels: component/logs, noreno, team/agent-guild

#2702 Fix datadog external metric query when no label is set
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
  pkg/util/kubernetes/hpa/processor.go
  pkg/util/kubernetes/hpa/processor_test.go
Labels: dca, noreno, team/containers

#2705 changelog 6.7.0
  CHANGELOG.rst
Labels: noreno, team/agent-core

#2488 Fix timezone mismatch in the status page
  cmd/agent/gui/render.go
  pkg/status/status.go
  releasenotes/notes/fix-timezone-status-page-ac1b18bc0d34420d.yaml
Labels: team/agent-core

#2688 add region tag to fargate containers
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  releasenotes/notes/fargate-region-tag-075a2072619dbba8.yaml
Labels: component/tagger, team/containers

#2485 Change docker inspect error to debug
  pkg/tagger/collectors/docker_main.go
  releasenotes/notes/change-docker-inspect-error-to-debug-831a153cc318b73f.yaml
Labels: component/tagger, team/containers

#2468 Create node agent diagnose command
  pkg/util/clusteragent/diagnosis.go
  releasenotes/notes/dca-add-diagnosis-715155b4cd327dab.yaml
Labels: dca, team/containers

#2698 pkg/config/legacy: add missing trace agent properties to legacy config converter.
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  pkg/config/legacy/importer.go
  pkg/config/legacy/importer_test.go
  pkg/config/legacy/tests/datadog.conf
Labels: noreno, team/agent-guild

#2704 Add short image name in Source and Service fields
  pkg/logs/config/config.go
  pkg/logs/input/docker/container.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/tailer_test.go
  releasenotes/notes/default-to-short-image-name-container-collect-all-3885afb31b823541.yaml
Labels: component/logs, team/logs

#2706 Add GetLeaderIP method to LeaderEngine
  pkg/util/kubernetes/apiserver/endpoints.go
  pkg/util/kubernetes/apiserver/endpoints_test.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  tasks/cluster_agent.py
Labels: dca, noreno, team/containers

#2713 Set short image name as Source and Service tags in kubernetes integration
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
Labels: component/logs, noreno, team/logs

#2719 Add ability to patch `match` string via invoke task to `git tags` so
  tasks/test.py
  tasks/utils.py
  test/kitchen/tasks/run-test-kitchen.sh
Labels: noreno, team/agent-core

#2663 [docs] Minor improvements to config doc
  docs/agent/config.md
Labels: documentation, noreno, team/agent-core

#2712 Cleanup containerd/docker parser: do not drop wrongly parsed messages
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/input/docker/parser.go
  pkg/logs/input/file/parser.go
  pkg/logs/input/file/parser_test.go
  pkg/logs/input/kubernetes/launcher.go
Labels: component/logs, noreno, team/logs

#2724 Fix a race condition in the multiline handle
  pkg/logs/decoder/line_handler.go
Labels: component/logs, noreno, team/logs

#2668 Map WindowsEvent taskId to its name
  pkg/logs/input/windowsevent/tailer.go
  pkg/logs/input/windowsevent/tailer_test.go
  releasenotes/notes/map-windows-event-task-id-db82e99afbd81cfc.yaml
Labels: component/logs, team/logs

#2715 [flare] include a status.log with a message if the agent is not running
  pkg/flare/archive.go
  releasenotes/notes/status-log-flare-bef2703f034a0f6f.yaml
Labels: team/agent-core

#2707 [flare] add a permissions.log file into the flare archive
  pkg/api/security/security.go
  pkg/flare/archive.go
  pkg/flare/archive_dca.go
  pkg/flare/archive_nix.go
  pkg/flare/archive_nix_test.go
  pkg/flare/archive_win.go
  releasenotes/notes/flare-add-permissions-file-8d3258c068998a48.yaml
Labels: team/agent-core

#2717 Use Platform instead of PlatformFamily in host info
  pkg/metadata/host/host_nix.go
  pkg/metadata/host/host_windows.go
Labels: noreno, team/agent-core

#2684 Uninstall all datadog integrations on upgrade
  omnibus/package-scripts/agent/preinst
Labels: noreno, team/agent-core

#2725 Fix flaky test in TCPListener
  pkg/logs/input/listener/tailer_test.go
  pkg/logs/input/listener/tcp.go
  pkg/logs/input/listener/tcp_test.go
  pkg/logs/input/listener/udp_nix_test.go
  pkg/logs/input/listener/udp_test.go
Labels: component/logs, noreno, team/logs

#2555 Have independent pollers for config providers
  cmd/agent/common/autoconfig.go
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/autoconfig_test.go
  pkg/autodiscovery/config_poller.go
  pkg/autodiscovery/providers/providers.go
  pkg/autodiscovery/providers/utils.go
  pkg/autodiscovery/providers/utils_test.go
  pkg/config/config.go
  releasenotes/notes/independent-config-polling-4041382ffdb98cb4.yaml
Labels: component/autodiscovery, team/containers

#2709 Add health port to dogstatsd and cluster-agent
  Dockerfiles/dogstatsd/alpine/Dockerfile
  Dockerfiles/dogstatsd/alpine/probe.sh
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  pkg/tagger/tagger.go
  releasenotes/notes/dogstatsd-health-check-ade16e325a855a37.yaml
Labels: noreno, team/containers

#2727 Remap the #text field to "value" in windows event
  pkg/logs/decoder/line_handler.go
  pkg/logs/input/windowsevent/tailer.go
  pkg/logs/input/windowsevent/tailer_test.go
  releasenotes/notes/map-windows-event-text-field-5707d080d314425a.yaml
Labels: component/logs, os/windows, team/logs

#2728 fixed a small typo (exectutable to executable)
  pkg/logs/input/file/file_provider.go
Labels: component/logs, noreno, team/logs

#2733 [codeowners] Update logs team name
  .github/CODEOWNERS
Labels: dev/tooling, noreno, team/logs

#2461 Fix build failure on 32bit armv7
  pkg/collector/py/datadog_agent.go
  releasenotes/notes/fix-build-failure-on-32bit-armv7-5b5b36c2d9f9ff00.yaml
Labels: team/agent-core

#2734 [gitlab] Make SUSE gitlab jobs non-optional
  .gitlab-ci.yml
Labels: dev/testing, noreno, os/SUSE, team/agent-core

#2700 Add server 2019 to test kitchen matrix
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2711 [flare] dump go routines as well
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  releasenotes/notes/flare-add-routine-dump-c1987d6824cb5aaa.yaml
Labels: team/agent-core

#2540 Db/fix core memcheck
  pkg/collector/corechecks/system/cpu_windows.go
  pkg/collector/corechecks/system/memory_windows.go
  releasenotes/notes/fixcorememcheck-7249771b6fdd38fe.yaml
Labels: team/agent-core

#2687 Make getMainEndpoint public to be able to use it from other agents
  pkg/config/config.go
  pkg/config/config_test.go
Labels: noreno, team/burrito

#2729 Ship unixodbc with the Agent
  omnibus/config/software/datadog-agent-integrations.rb
Labels: do-not-merge/hold, noreno, team/agent-core, team/integrations

#2735 [jmxfetch] bumping to release 0.23.0
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0.23.0-release-bump-d027db1f42a3a87c.yaml
Labels: team/agent-core
