Repository DataDog/datadog-agent, pull requests merged in 2018-06, with the labels that each got.

#1769 [status] Rename `Metrics` to `Metric Samples` to reflect stat meaning
  pkg/aggregator/sender.go
  pkg/collector/check/stats.go
  pkg/status/dist/templates/collector.tmpl
  releasenotes/notes/rename-metric-check-stat-c2eb00055bbb9151.yaml
Labels: component/aggregator, kind/enhancement, team/croissant

#1745 revert part of the html escaping
  cmd/agent/gui/render.go
Labels: noreno, team/croissant

#1768 Speeding up log scrubbing regex matching
  pkg/util/log/strip.go
Labels: noreno

#1727 [log] TLS syslog TLS PEM is a path to a file, not a cert
  docs/agent/config.md
  pkg/config/config_template.yaml
  pkg/config/log.go
  releasenotes/notes/tls_log_pem_path-db4e010f2be3c625.yaml
Labels: team/croissant

#1625 End to End testing
  .gitignore
  .gitlab-ci.yml
  tasks/__init__.py
  tasks/test.py
  test/e2e/argo-workflows/agent.yaml
  test/e2e/containers/fake_datadog/Dockerfile
  test/e2e/containers/fake_datadog/Makefile
  test/e2e/containers/fake_datadog/README.md
  test/e2e/containers/fake_datadog/app/__init__.py
  test/e2e/containers/fake_datadog/app/api.py
  test/e2e/containers/fake_datadog/app/monitoring.py
  test/e2e/containers/fake_datadog/app/requirements.txt
  test/e2e/scripts/run-instance/10-pupernetes-ready.sh
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/21-argo-setup.sh
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/run-instance/argo.sha512sum
  test/e2e/scripts/setup-instance/00-entrypoint-dev.sh
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
  test/e2e/scripts/setup-instance/00-entrypoint-local.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
  test/e2e/scripts/setup-instance/02-ec2.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: noreno, team/kenafeh

#1773 e2e: Specify the image flag in the invoke task
  .gitlab-ci.yml
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
Labels: noreno

#1776 e2e: remove white spaces in username
  test/e2e/scripts/setup-instance/02-ec2.sh
Labels: noreno, team/kenafeh

#1743 Add tagger list command
  cmd/agent/api/agent/agent.go
  cmd/agent/api/response/types.go
  cmd/agent/app/tagger_list.go
  pkg/tagger/global.go
  pkg/tagger/tagger.go
  releasenotes/notes/add-tagger-list-22cd509b72d141a0.yaml
Labels: team/kenafeh

#1771 [status/gui] Fix GUI and cluster agent templates after var renaming
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  cmd/agent/gui/views/templates/singleCheck.tmpl
  pkg/status/dist/templates/collector.tmpl
  pkg/status/dist/templates/dogstatsd.tmpl
  pkg/status/dist/templates/forwarder.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/dist/templates/jmxfetch.tmpl
  pkg/status/dist/templates/logsagent.tmpl
Labels: component/GUI, kind/bug, noreno, team/croissant

#1774 Fix k8s event collection from waiting for timeout when event watch ex…
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/util/kubernetes/apiserver/events.go
Labels: noreno, team/kenafeh

#1683 [docker] check nil pointers on docker client return values
  pkg/autodiscovery/listeners/docker.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/docker-inspect-error-panic-8e9c3e5876599012.yaml
Labels: kind/bug, team/kenafeh

#1783 e2e: check if the image is available on the docker registry
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
Labels: noreno, team/kenafeh

#1780 Argo bump to 2.1.1
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/argo.sha512sum
Labels: noreno, team/kenafeh

#1782 [docker image] remove all default envvars from the dockerfile
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/README.md
  Dockerfiles/agent/datadog-docker.yaml
  Dockerfiles/agent/datadog-ecs.yaml
  Dockerfiles/agent/datadog-kubernetes.yaml
  releasenotes/notes/docker-image-default-envvars-192d75def10335e2.yaml
Labels: kind/packaging, team/kenafeh

#1759 Add host tag for docker swarm node role.
  pkg/metadata/host/host.go
  pkg/util/docker/fake/client.go
  pkg/util/docker/global_nodocker.go
  pkg/util/docker/tags.go
  pkg/util/docker/tags_test.go
  releasenotes/notes/add-host-tag-for-docker-swarm-node-role-e25a7c87fe05618f.yaml
Labels: team/kenafeh

#1763 Use configs for scheduling/unscheduling
  cmd/agent/api/agent/agent.go
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/configresolver.go
  pkg/autodiscovery/configresolver_test.go
  pkg/autodiscovery/store.go
  pkg/autodiscovery/store_test.go
  releasenotes/notes/fix-configcheck-removal-06b817114105b94b.yaml
Labels: component/autodiscovery, team/kenafeh

#1728 [deps] allow setting pins for bootstrap requirements
  bootstrap.json
  tasks/go.py
Labels: do-not-merge/WIP, noreno

#1795 [invoke][bootstrap] fix successive runs
  Gopkg.lock
  tasks/go.py
Labels: noreno

#1731 Add support for multiple URL/API_KEY in the import script
  pkg/legacy/converter.go
  pkg/legacy/converter_test.go
  releasenotes/notes/add-multi-api-key-to-import-cmd-f2a60c0434203cc6.yaml
Labels: team/croissant

#1744 fix windows io check
  pkg/collector/corechecks/system/iostats_pdh_windows.go
  releasenotes/notes/fix-io-check-windows-drive-4c165375e26d570f.yaml
Labels: kind/bug, severity/major, team/croissant

#1591 apply security scanners results
  Dockerfiles/agent/Dockerfile
Labels: kind/security, team/kenafeh

#1794 [no-ci] Document the host PID requirement for dsd origin detection
  Dockerfiles/agent/README.md
  pkg/config/config_template.yaml
Labels: documentation, noreno, team/kenafeh

#1705 [jmx] fix bugs when using AD and/or multiple config files
  cmd/agent/api/agent/agent_jmx.go
  cmd/agent/app/jmx.go
  pkg/collector/corechecks/embed/jmx.go
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/collector/corechecks/embed/jmx/fixtures/cassandra.yaml
  pkg/collector/corechecks/embed/jmx/fixtures/jmx.yaml
  pkg/collector/corechecks/embed/jmx/fixtures/jmx_alt.yaml
  pkg/collector/corechecks/embed/jmx/fixtures/kafka.yaml
  pkg/collector/corechecks/embed/jmx/loader.go
  pkg/collector/corechecks/embed/jmx/loader_test.go
  pkg/collector/corechecks/embed/jmx/runner.go
  pkg/collector/corechecks/embed/jmx/runner_test.go
  pkg/collector/corechecks/embed/jmx/state.go
  pkg/collector/corechecks/embed/jmx_nix.go
  pkg/collector/corechecks/embed/jmx_test.go
  pkg/collector/corechecks/embed/jmx_windows.go
  pkg/collector/runner/runner.go
  pkg/util/cache/basic_cache.go
  pkg/util/common_test.go
  releasenotes/notes/fix-jmx-autodiscovery-1138ee8b3c7a8d20.yaml
Labels: kind/bug, severity/major, team/croissant

#1756 [Flare] add docker ps output
  pkg/flare/archive.go
  pkg/flare/archive_docker.go
  pkg/flare/archive_nodocker.go
  releasenotes/notes/flare-adding-docker-ps-27fc2ddb2ef29510.yaml
Labels: team/kenafeh

#1760 Adding missing err check
  pkg/dogstatsd/listeners/uds_common.go
Labels: kind/enhancement, noreno, team/kenafeh

#1798 [packaging] Fix condition to stop agent in preinst script for RPM
  omnibus/package-scripts/agent/preinst
  releasenotes/notes/fix-preinst-stop-rpm-930dd762811a6dda.yaml
Labels: kind/packaging, team/croissant

#1789 Fix kube_service tagging of kubernetes network metrics
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  releasenotes/notes/kube-service-service-tag-70d8d889fac12e87.yaml
Labels: component/tagger, kind/bug, severity/minor, team/kenafeh

#1800 [packaging][linux] Create dd-agent user without a login shell
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/preinst
  releasenotes/notes/nologin-shell-954a2d921dae2b3e.yaml
Labels: kind/packaging, team/croissant

#1784 fix agent_stats.yaml.example to reflect new netrics names
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  releasenotes/notes/agent-stats-forwarder-14b46251c225994e.yaml
Labels: team/croissant

#1791 Maxime/fix110
  tasks/go.py
Labels: noreno

#1799 [packaging] Allow installing the package on SysV-init systems
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/posttrans
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  releasenotes/notes/pkg-script-no-exit-sysvinit-d193e6f603bee18d.yaml
Labels: kind/packaging, team/croissant

#1803 Refine apiKeyReplacer regexp to avoid hiding ctr ids
  pkg/util/log/strip.go
  pkg/util/log/strip_test.go
Labels: noreno

#1805 docker image: run two collector runners by default
  Dockerfiles/agent/datadog-docker.yaml
  Dockerfiles/agent/datadog-ecs.yaml
  Dockerfiles/agent/datadog-kubernetes.yaml
  releasenotes/notes/dockerimage-two-runners-15f1f47a9312e67f.yaml
Labels: kind/packaging, team/kenafeh

#1754 Add support for port names in template vars for autodiscovery.
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver.go
  pkg/autodiscovery/configresolver_test.go
  pkg/autodiscovery/listeners/README.md
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_kubelet.go
  pkg/autodiscovery/listeners/docker_test.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/listeners/types.go
  releasenotes/notes/add-support-for-port-names-in-template-vars-for-autodiscovery.-4645e174dd559435.yaml
Labels: team/kenafeh

#1721 Return an error when the GCE metadata API responds with an empty body
  pkg/util/gce/gce.go
  pkg/util/gce/gce_test.go
  releasenotes/notes/return-an-error-when-the-GCE-metadata-API-responds-with-an-empty-body-eab83cb87cbfa848.yaml
Labels: team/croissant

#1807 Fixed logs processing rules with autodiscovery
  pkg/logs/config/integration_config.go
  pkg/logs/input/container/container.go
  pkg/logs/input/container/container_test.go
  releasenotes/notes/logs-fix-autodiscovery-parsing-934c668b80a910e3.yaml
Labels: component/logs, team/ramen

#1808 Removed replace holder for include and exclude at match logs processing rules
  pkg/logs/config/integration_config.go
Labels: component/logs, noreno, team/ramen

#1582 [pip+tuf] adds hardened pip to the build
  Gopkg.lock
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_windows.go
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent-integrations.rb
  omnibus/config/software/pip.rb
  omnibus/config/templates/datadog-agent-integrations/public-tuf-config.json.erb
  omnibus/package-scripts/agent/postrm
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/tuf-pip-tooling-3c58a1de215bd789.yaml
  tasks/dogstatsd.py
Labels: kind/feature, team/croissant

#1804 6.3.0-rc.1
  release.json
Labels: noreno

#1815 fix docker ps in flare: file was empty
  pkg/flare/archive_docker.go
Labels: noreno, team/kenafeh

#1817 Fix condition for kubelet code fallback
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: noreno

#1819 [utils] after pip 10 bump, cant call pip internals
  cmd/agent/dist/utils/py_packages.py
Labels: kind/bug, noreno

#1824 Update color used in the version command.
  cmd/agent/app/version.go
Labels: noreno

#1823 [log][flare] scrub regular domain passwords too. URIs cannot contain literal spaces.
  pkg/util/log/strip.go
  pkg/util/log/strip_test.go
Labels: noreno

#1826 [windows] fix deploy target basename to datadog-agent-6-latest.amd64
  .gitlab-ci.yml
Labels: noreno

#1832 [golint] pin dependency so we can build golint
  bootstrap.json
  tasks/go.py
Labels: noreno

#1827 [log] fix syslogging over TLS
  cmd/agent/app/check.go
  cmd/agent/app/diagnose.go
  cmd/agent/app/flare.go
  cmd/agent/app/hostname.go
  cmd/agent/app/jmx.go
  cmd/agent/app/start.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/flare.go
  cmd/dogstatsd/main.go
  docs/agent/config.md
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  test/benchmarks/dogstatsd/main.go
  test/util/util.go
Labels: noreno

#1835 [forwarder] Fix misleading forwarder startup log message
  pkg/forwarder/forwarder.go
Labels: noreno

#1834 [forwarder] Fix log message formatting
  pkg/forwarder/transaction.go
Labels: noreno

#1837 fix `hostname -f` vs `os.Hostname()` logging
  pkg/config/config_template.yaml
  pkg/util/hostname.go
Labels: noreno

#1833 e2e: fix the pupernetes wait race
  test/e2e/scripts/run-instance/10-pupernetes-wait.sh
Labels: noreno

#1816 [tuf] tool improvements + wix TUF metadata uninstall
  cmd/agent/app/integrations.go
  omnibus/resources/agent/msi/source.wxs.erb
Labels: noreno

#1841 [docs] Mention that PRs should be opened against master
  docs/dev/contributing.md
Labels: documentation, noreno

#1828 Detect empty additional URL or API_KEY
  pkg/legacy/converter.go
Labels: noreno

#1838 small improvements to the encrypted secret doc
  docs/agent/secrets.md
Labels: documentation, noreno

#1847 Added missing logs config parameters to config template
  pkg/config/config_template.yaml
Labels: component/logs, noreno, team/ramen

#1850 Properly set default hostname on metrics with no tags
  pkg/dogstatsd/parser.go
  pkg/dogstatsd/parser_test.go
Labels: component/dogstatsd, kind/bug, noreno, team/croissant

#1851 [release] adding 6.3.0 rc.4 entry, removing old candidates
  release.json
Labels: noreno

#1849 e2e: Add the type notify to the systemd unit
  test/e2e/scripts/setup-instance/01-ignition.sh
Labels: noreno, team/kenafeh

#1858 Restrict image push on tags only
  .gitlab-ci.yml
Labels: noreno

#1860 6.3.0
  release.json
Labels: noreno

#1857 [e2e] add docker/kubernetes/system cpu usage e2e test
  Gopkg.lock
  test/e2e/argo-workflows/agent.yaml
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: component/collector, dev/testing, noreno, team/kenafeh

#1863 6.3.0 changelog
  CHANGELOG.rst
Labels: noreno

#1846 Removed log in windows event laucher
  pkg/logs/input/windowsevent/launcher.go
Labels: component/logs, noreno, team/ramen

#1813 Added exclude and include build tags option to invoke test command
  tasks/test.py
Labels: dev/tooling, noreno

#1814 Lets agent handle invalid regexes in log processing rules
  pkg/logs/config/integration_config.go
  pkg/logs/config/integration_config_test.go
  pkg/logs/input/container/container.go
  releasenotes/notes/fix-regex-panic-91e53452f9a6a44f.yaml
Labels: component/logs, team/ramen

#1785 invalidate cloudfront when deploying to staging
  .gitlab-ci.yml
Labels: noreno

#1868 Update the default configuration with the final doc link
  pkg/config/config_template.yaml
Labels: noreno

#1871 Fix build tag on jmx test
  pkg/collector/corechecks/embed/jmx/runner_test.go
Labels: noreno

#1869 [docs] hostname resolution A5 vs A6
  docs/agent/hostname-resolution.md
Labels: documentation, noreno

#1873 Fix dogstatsd static build with go 1.10
  tasks/dogstatsd.py
  tasks/utils.py
  test/integration/docker/dsd_listening.py
Labels: do-not-merge/WIP, kind/packaging, noreno, team/containers

#1876 Fix typo
  CHANGELOG.rst
  releasenotes/notes/add-so_rcvbuf-to-dogstatsd-c4ba178747057dc4.yaml
Labels: documentation, noreno

#1881 End to end testing upgrade to p8s 0.5.0
  test/e2e/scripts/run-instance/10-pupernetes-wait.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
Labels: noreno, team/containers

#1872 Set service and source values to "docker" by default for container entries
  pkg/logs/input/journald/docker.go
  pkg/logs/input/journald/docker_test.go
  pkg/logs/input/journald/tailer_systemd.go
  pkg/logs/input/journald/tailer_systemd_test.go
Labels: component/logs, noreno, team/ramen

#1874 Added a support for container tags collection on journald integration
  pkg/logs/config/integration_config.go
  pkg/logs/input/journald/docker.go
  pkg/logs/input/journald/docker_test.go
  pkg/logs/input/journald/tailer_systemd.go
Labels: component/logs, noreno, team/ramen

#1875 Refactored logs agent status to ease update on new integrations
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/status/status.go
  pkg/status/dist/templates/logsagent.tmpl
Labels: component/logs, noreno, team/ramen

#1886 Added a support for container tags collection on journald integration
  pkg/logs/input/journald/docker.go
  pkg/logs/input/journald/docker_test.go
  pkg/logs/input/journald/tailer_systemd.go
Labels: component/logs, noreno, team/ramen

#1888 Change checks installation according to the new package layout
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno, team/croissant

#1878 [windows] fix imports such that version library will be properly loaded
  pkg/util/winutil/winver.go
  releasenotes/notes/fixserver2008-9e7867cb19c82625.yaml
Labels: noreno, severity/critical

#1891 [skip ci] Update croissant/kenafeh team names in code owner file
  .github/CODEOWNERS
Labels: dev/tooling, noreno

#1885 Use builder to reduce the size of the fake-datadog image
  test/e2e/containers/fake_datadog/Dockerfile
Labels: noreno, team/containers

#1859 End to end testing: create documentation
  docs/dev/agent_tests.md
  test/e2e/README.md
  test/e2e/docs/run-instance.svg
  test/e2e/docs/sequence.md
  test/e2e/docs/setup-instance.svg
Labels: noreno, team/containers

#1842 [Logs]: Properly handle 16kb over docker log message
  pkg/logs/decoder/line_unwrapper.go
  pkg/logs/docker/docker.go
  pkg/logs/docker/docker_test.go
  pkg/logs/input/container/docker.go
  pkg/logs/input/container/docker_test.go
  releasenotes/notes/Allow-agent-to-handle-docker-logs-greater-than-16Kb-d7ff1bbf09e77f3b.yaml
Labels: component/logs, team/ramen

#1896 fix installation of dependencies
  omnibus/config/software/datadog-agent-integrations.rb
  tasks/go.py
Labels: noreno, os/windows

#1889 [jmx] send check_name to jmxfetch
  cmd/agent/api/agent/agent_jmx.go
  releasenotes/notes/jmx_tagging_fix-fdbca83d4acd15c5.yaml
Labels: kind/bug

#1900 [omnibus] fix integration builds
  omnibus/config/software/datadog-agent-integrations.rb
Labels: kind/packaging, noreno

#1895 Add ECS pause containers to the default docker exclusion list
  pkg/util/docker/filter.go
  releasenotes/notes/docker-ecs-pause-container-04bda11f1ceb87e1.yaml
Labels: kind/enhancement, team/containers

#1864 [e2e] Add tests for asserting prometheus metrics from kube-state-metrics.
  test/e2e/argo-workflows/agent.yaml
Labels: dev/testing, noreno, team/containers

#1882 [docs][skip ci] feedback on hostname resolution KB
  docs/agent/hostname-resolution.md
Labels: documentation, noreno, team/agent-core

#1911 Removing option to statically build for the DCA
  .gitlab-ci.yml
  tasks/cluster_agent.py
Labels: noreno

#1890 Fix API_KEY validation for 'additional_endpoints'
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/forwarder_health_test.go
  releasenotes/notes/api-key-validation-per-domain-891ebd73ab300a6c.yaml
Labels: team/agent-core

#1905 [packaging] Avoid install failure if enabling systemd service fails
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/posttrans
  releasenotes/notes/systemd-no-service-enable-failure-c7ac74823b5c1819.yaml
Labels: kind/bug, kind/packaging, severity/minor, team/agent-core

#1892 [DCA] Add namespace to metadata routes to uniquely identify pods by name.
  Dockerfiles/cluster-agent/dist/templates/metadatamapper.tmpl
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/api/v1/install.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/metadata.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/services_test.go
  releasenotes/notes/add-namespace-to-service-mapper-c550314965636890.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: team/containers

#1902 Create a query endpoint for the Kubernetes hpa
  test/e2e/containers/fake_datadog/app/api.py
Labels: noreno, team/containers

#1918 [DCA] Fix validation middleware to allow for namespace in metadata paths.
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/server_test.go
  cmd/cluster-agent/api/v1/install.go
Labels: kind/bug, noreno, team/containers
