Repository DataDog/datadog-agent, pull requests merged in 2018-10, with the labels that each got.

#2262 Rename circleci docker_integration_tests step to more accurate docker_tests
  .circleci/config.yml
Labels: dev/tooling, noreno, team/containers

#2372 Use multi-stage build for cluster-agent image
  Dockerfiles/cluster-agent/Dockerfile
Labels: kind/packaging, noreno, team/containers

#2390 Explictly compile pprof in cluster-agent
  cmd/cluster-agent/main.go
Labels: dca, noreno, team/containers

#2393 Use newer versions of setuptools
  .gitlab-ci.yml
Labels: dev/tooling, kind/packaging, noreno, team/integrations

#2396 Keep the cluster-agent auth token in cache
  pkg/api/util/util.go
Labels: dca, noreno, team/containers

#2394 Fix restart; didn't have correct enumerage permission
  cmd/agent/app/control_service_windows.go
Labels: noreno, team/agent-core

#2382 Update README.md
  pkg/collector/README.md
Labels: community, noreno, team/agent-core

#2399 Check if the service is not nil, to fix potential race
  pkg/autodiscovery/autoconfig.go
  releasenotes/notes/fix-race-ad-8336484e2cd1b6ce.yaml
Labels: team/containers

#2373 Dont block the agent if we can't send logs
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/config/config_test.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/tailer.go
  pkg/logs/logs.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/sender/connection_manager.go
  pkg/logs/sender/connection_manager_test.go
  pkg/logs/sender/destination.go
  pkg/logs/sender/destinations_context.go
  pkg/logs/sender/destinations_context_test.go
  pkg/logs/sender/mock/mock.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/sender_test.go
  pkg/logs/sender/testutil.go
  pkg/logs/status/status.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2401 logs: allow logs-agent to be restarted
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
Labels: component/logs, noreno, team/ramen

#2384 add cache generation mechanism to circleci
  .circleci/config.yml
Labels: dev/tooling, noreno, team/containers

#2398 Drop empty messages after parsing in the decoder
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_test.go
Labels: noreno, team/ramen

#2377 Isolate cluster agent config
  Dockerfiles/cluster-agent/Dockerfile
  cmd/cluster-agent/app/app.go
Labels: noreno, team/containers

#2371 Set telemetry gauge for cluster-agent to datadog.cluster-agent.running
  cmd/agent/app/check.go
  cmd/agent/app/start.go
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender_test.go
  pkg/collector/py/utils_test.go
Labels: component/aggregator, noreno, team/containers

#2402 Fix quote dockerfile
  Dockerfiles/cluster-agent/Dockerfile
Labels: noreno, team/containers

#2403 Add option to enable protobuf apiserver communications
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/apiserver/apiserver.go
  releasenotes/notes/kubernetes_apiserver_use_protobuf-8caae51d5372c5e3.yaml
Labels: dca, team/containers

#2404 push datadog/cluster-agent-dev:master for every build
  .gitlab-ci.yml
Labels: dev/tooling, noreno, team/containers

#2395 Add a mutext wrapping around viper
  pkg/config/types.go
  pkg/config/viper.go
  pkg/config/viper_test.go
Labels: noreno, team/agent-guild

#2406 bubble up controller errors to logs
  pkg/util/kubernetes/apiserver/controllers.go
Labels: dca, noreno, team/containers

#2344 [windows] Add clarifying log messages around failure to get windows
  pkg/util/winutil/pdhutil/pdhhelper.go
Labels: noreno, team/agent-core

#2407 Fix DCA version in status
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/app/app.go
  pkg/status/status.go
  pkg/version/base.go
Labels: dca, dev/tooling, noreno, team/containers

#2410 Fix yaml spacing and remove priority
  Dockerfiles/manifests/cluster-agent/cluster-agent.yaml
  Dockerfiles/manifests/cluster-agent/hpa-example/rbac-hpa.yaml
Labels: noreno, team/containers

#2413 Fix omnibus build
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno, team/agent-core

#2415 Add SetFs to the viper wrapper
  .gitlab-ci.yml
  pkg/config/types.go
  pkg/config/viper.go
Labels: noreno, team/agent-core

#2408 logs: add more instrumentation to the log-agent
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/processor/processor.go
  pkg/logs/sender/sender.go
  pkg/logs/status/status.go
Labels: component/logs, kind/enhancement, noreno, team/ramen

#2418 [Logs]: Fixed a leak in file scanner that could occur when the k8s integration is enabled
  pkg/logs/config/sources.go
  pkg/logs/config/sources_test.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/journald/launcher.go
  pkg/logs/input/listener/launcher.go
  pkg/logs/input/windowsevent/launcher.go
  pkg/logs/status/status_test.go
Labels: component/logs, noreno, team/ramen

#2420 allow ec2+gce hostname providers without build tag
  pkg/util/hostname/ec2.go
  pkg/util/hostname/gce.go
Labels: component/metadata, noreno, team/containers

#2422 ignore eks pause containers
  pkg/util/containers/filter.go
  releasenotes/notes/eks-pause-8539229a37335e9c.yaml
Labels: team/containers

#2423 Avoid nginx timing out with proxy pass
  Dockerfiles/manifests/cluster-agent/hpa-example/nginx.yaml
Labels: noreno, team/containers

#2421 Fix a bug where docker source would not be properly removed
  pkg/logs/input/container/launcher.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/scheduler/scheduler_test.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2430 dogstatsd: remove stale UNIX socket on startup
  Dockerfiles/agent/entrypoint/10-dogstatsd-socket.sh
  Dockerfiles/dogstatsd/alpine/entrypoint.sh
  pkg/dogstatsd/listeners/uds_common.go
  pkg/dogstatsd/listeners/uds_common_test.go
  releasenotes/notes/dsd-remove-stale-unix-socket-025a48a2d7b01aa1.yaml
Labels: team/containers

#2351 handle empty_default_hostname in python and go checks
  docs/agent/config.md
  pkg/autodiscovery/integration/config.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/checkbase_test.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/corechecks/network/ntp.go
  pkg/collector/corechecks/network/snmp.go
  pkg/collector/corechecks/system/cpu.go
  pkg/collector/corechecks/system/disk.go
  pkg/collector/corechecks/system/disk_nix.go
  pkg/collector/corechecks/system/file_handles.go
  pkg/collector/corechecks/system/load.go
  pkg/collector/corechecks/system/memory.go
  pkg/collector/corechecks/system/uptime.go
  pkg/collector/corechecks/system/winproc_windows.go
  pkg/collector/py/check.go
  pkg/collector/py/check_test.go
  releasenotes/notes/handle-empty-hostname-0d530fcc86cba056.yaml
  test/e2e/argo-workflows/agent.yaml
  test/e2e/scripts/run-instance/22-argo-submit.sh
Labels: component/collector, team/containers

#2417 Clear pythong error if we can't import the python check
  pkg/collector/py/loader.go
Labels: noreno, team/agent-core

#2440 upgrade jmxfetch to 0.21.0
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0.21.0-d4dfbf257793ed0c.yaml
Labels: team/agent-core

#2428 Send *_PROXY env var to pip if proxies configured in the agent
  cmd/agent/app/integrations.go
  releasenotes/notes/pip_proxy_env-8bf23f475b80a058.yaml
Labels: team/integrations

#2437 Ship file containing versions of checks included in agent
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno, team/integrations

#2258 [dogstatsd] Allow appending tags to all received metrics
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/dogstatsd-extra-tags-option-dc29c92ab7a39dd4.yaml
Labels: community, component/dogstatsd, kind/feature, team/agent-core

#2192 Add procmatch library
  .github/CODEOWNERS
  pkg/procmatch/default_catalog.go
  pkg/procmatch/gen/generate_catalog.go
  pkg/procmatch/graph.go
  pkg/procmatch/graph_matcher.go
  pkg/procmatch/graph_matcher_test.go
  pkg/procmatch/procmatch.go
  pkg/procmatch/procmatch_test.go
  pkg/procmatch/readme.md
  pkg/procmatch/signature.go
Labels: noreno, team/burrito

#2309 Add a CRI Core Check
  .circleci/config.yml
  Dockerfiles/agent/entrypoint/50-cri.sh
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  cmd/agent/dist/conf.d/cri.d/conf.yaml.example
  pkg/collector/corechecks/containers/cri.go
  pkg/collector/corechecks/containers/cri_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/util/containers/cri/common.go
  pkg/util/containers/cri/diagnosis.go
  pkg/util/containers/cri/metadata.go
  pkg/util/containers/cri/util.go
  pkg/util/containers/cri/util_test.go
  releasenotes/notes/cri-core-check-98323a74c93e79a7.yaml
  tasks/agent.py
  tasks/build_tags.py
Labels: team/containers

#2419 [jmxfetch] add rmi registry ssl config option
  cmd/agent/dist/conf.d/jmx.d/conf.yaml.example
Labels: documentation, noreno, team/agent-core

#2362 handle swarm in docker tag extracts
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  pkg/util/containers/image_test.go
  releasenotes/notes/swarm-image-tag-fix-6197b77e54fa4fbc.yaml
Labels: component/tagger, team/containers

#2445 Add more logging to hpa controller
  pkg/util/kubernetes/apiserver/hpa_controller.go
Labels: dca, noreno, team/containers

#2436 Add readwrite volumes to agent Dockerfile
  Dockerfiles/agent/Dockerfile
  releasenotes/notes/support-read-only-fs-c4ddeb97bfd6dc3e.yaml
Labels: kind/packaging, team/containers

#2442 Make config polling interval configurable
  pkg/autodiscovery/autoconfig.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes/notes/ad-config-polling-dc20866864214e8c.yaml
Labels: team/containers

#2425 Match the behavior of agent 5 for system.mem.pct_usable
  pkg/collector/corechecks/system/memory_nix.go
  pkg/collector/corechecks/system/memory_nix_test.go
  releasenotes/notes/fix-linux-mem.pct_usable-883dccfea4c0a5f9.yaml
Labels: team/agent-core

#2416 Don't stop the agent when journald is stopped or crashes
  cmd/agent/app/run.go
  pkg/config/log.go
  releasenotes/notes/fix-crash-journald-failure-cc1495e4ce130529.yaml
Labels: kind/bug, team/agent-core

#2412 [config] Support new 'site' option in Infra Agent
  Dockerfiles/cluster-agent/entrypoint.sh
  Dockerfiles/dogstatsd/alpine/entrypoint.sh
  cmd/agent/common/common_windows.go
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/config/config.go
  pkg/config/config_android.go
  pkg/config/config_darwin.go
  pkg/config/config_nix.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/config/config_windows.go
  pkg/config/test/datadog.yaml
  pkg/config/test/failing/datadog.yaml
  pkg/config/types.go
  pkg/config/viper.go
  pkg/config/viper_test.go
  pkg/flare/envvars.go
  pkg/flare/flare.go
  pkg/flare/flare_test.go
  pkg/legacy/converter.go
  releasenotes/notes/add-site-config-option-b2e5149b5a9e44ad.yaml
Labels: team/agent-core

#2432 Allow checks config to fail independently of logs config
  pkg/autodiscovery/providers/docker.go
  pkg/autodiscovery/providers/ecs.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/providers/utils.go
  pkg/autodiscovery/providers/utils_test.go
  releasenotes/notes/fix-bug-in-template-parsing-c2016519bcdd8cf4.yaml
Labels: kind/bug, team/ramen

#2444 Add no-deps, in-toto and verbose flags to integration command
  cmd/agent/app/integrations.go
  releasenotes/notes/nodeps_intoto-208171c6e23123a0.yaml
Labels: team/integrations

#2443 Fix logrotate issues on windows
  pkg/logs/input/file/tailer_windows.go
  releasenotes/notes/open-files-in-share-delete-mode-windows-d8c5726ff0ed18d4.yaml
Labels: component/logs, kind/bug, os/windows, team/ramen

#2243 Improve Config.Digest
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  releasenotes/notes/make-config.Digest-stable-on-unsorted-tags-acda4e96abf5d3dc.yaml
Labels: kind/bug, team/containers

#2449 [DCA] Forget keys to avoid borking hpa informer
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/store.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
Labels: noreno, team/containers

#2400 Cache leader URL for clustercheck requests
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/clusteragent/clusterchecks.go
  pkg/util/clusteragent/clusterchecks_test.go
  pkg/util/clusteragent/leader_client.go
Labels: noreno, team/containers

#2438 Add a kubelet_wait_on_missing_container option to handle slow kubelet updates
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_empty.json
  releasenotes/notes/kubelet_wait_for_container-bc4b78630674e75a.yaml
Labels: component/autodiscovery, component/tagger, team/containers

#2435 copy golang http.DefaultTransport configuration in our default transport
  pkg/util/common.go
Labels: noreno, team/agent-core

#2374 Write sysv-init scripts for Agent 6, on Debian
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/templates/datadog-agent/sysvinit_debian.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.process.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.trace.erb
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  releasenotes/notes/debian-sysvinit-424c71c2b7e14a12.yaml
Labels: team/agent-core

#2451 [DCA] GC compares metrics, add unit tests
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
Labels: noreno, team/containers

#2289 [windows] add command line options for datadog EU settings
  cmd/agent/common/common_windows.go
  omnibus/resources/agent/msi/README.md
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/windowssites-0b52e956621bef1d.yaml
Labels: team/agent-core

#2453 Fix typo: Managemet --> Management
  docs/agent/README.md
Labels: community, noreno

#2457 Add version 6.6.0-rc.1
  release.json
Labels: noreno, team/agent-core

#2464 disable happy eyeballs
  pkg/util/common.go
Labels: noreno, team/agent-core

#2470 [docs] Update hostname resolution doc, postpone to 6.7
  docs/agent/hostname-resolution.md
  pkg/util/hostname.go
Labels: documentation, noreno, team/agent-core

#2467 [windows] re add site config from install command line
  cmd/agent/common/common_windows.go
  omnibus/resources/agent/msi/README.md
  omnibus/resources/agent/msi/source.wxs.erb
Labels: noreno, team/agent-core

#2446 Replace PyPI with Datadog index for the pip + TUF default use case.
  cmd/agent/app/integrations.go
  releasenotes/notes/tighten-pip-tuf-index-71cc1530c1ebe930.yaml
Labels: team/integrations

#2472 Add version 6.6.0-rc.2
  release.json
Labels: noreno, team/agent-core

#2463 Add a mutex protecting the hpa controller state
  pkg/util/kubernetes/apiserver/hpa_controller.go
Labels: dca, noreno, team/containers

#2479 Some puppy disk check fixes
  pkg/collector/corechecks/system/disk_nix.go
  pkg/collector/corechecks/system/disk_test.go
  releasenotes/notes/Disk-check-support-for-the-puppy-agent-9b53138b4dfbb4ed.yaml
Labels: team/agent-core

#2476 Fix potential race in the autoscalers controller
  pkg/util/kubernetes/apiserver/hpa_controller.go
Labels: noreno, team/containers

#2474 Convert cluster agent instrumentation to openmetrics
  Dockerfiles/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/cluster-agent.yaml
  cmd/agent/dist/conf.d/go_expvar.d/cluster_agent_stats.yaml
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/main.go
  pkg/clusteragent/custommetrics/store.go
  pkg/config/config.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  releasenotes/notes/instrumentation-openmetrics-8181dffaa1e6fb7f.yaml
Labels: team/containers

#2469 Ignore sysvinit scripts when systemd is used
  docs/agent/README.md
  docs/agent/changes.md
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/prerm
  releasenotes/notes/debian-sysvinit-424c71c2b7e14a12.yaml
Labels: noreno, team/agent-core

#2475 [DCA] Only process updates with relevant changes
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/hpa/hpa.go
Labels: noreno, team/containers

#2471 Add check for milestone
  .circleci/config.yml
  docs/dev/contributing.md
  tasks/__init__.py
  tasks/test.py
Labels: noreno, team/agent-core

#2486 [docs] Mention events and service checks on dogstatsd_tags option
  pkg/config/config_template.yaml
Labels: documentation, noreno, team/agent-core

#2492 [windows] Fixes crash on malformed windows counter database.
  pkg/util/winutil/pdhutil/pdhcounter.go
  releasenotes/notes/fixpdhinitcrash-7515a73a7c9fcb39.yaml
Labels: team/agent-core

#2503 [logs sources] Fix deadlock when a logs config is invalid
  pkg/logs/config/sources.go
  pkg/logs/config/sources_test.go
  releasenotes/notes/fix-deadlock-logs-sources-efb2317f259167b5.yaml
Labels: component/logs, kind/bug, team/ramen

#2516 [windows] fix accidental installation of apm.yaml.default and
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2519 Update CHANGELOG for 6.6.0
  CHANGELOG.rst
Labels: noreno, team/agent-core

#2489 Use Codecov for code coverage reporting
  .circleci/config.yml
  .codecov.yml
  README.md
  appveyor.yml
Labels: dev/testing, noreno, team/agent-core

#2450 Set a default value to the registry
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/config/config_windows.go
  releasenotes/notes/add-default-value-to-registry-3a91e6b20f29f428.yaml
Labels: component/logs, os/windows, team/ramen

#2521 Only push cluster-agent-dev:master from master
  .gitlab-ci.yml
Labels: dev/tooling, noreno, team/containers

#2460 Remove non specific code for windows/nix
  pkg/logs/input/file/open_file_nix.go
  pkg/logs/input/file/open_file_windows.go
  pkg/logs/input/file/rotate.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/file/tailer_nix.go
  pkg/logs/input/file/tailer_test.go
  pkg/logs/input/file/tailer_windows.go
Labels: component/logs, noreno, os/windows, team/ramen

#2513 Print correct error when installing integration fails
  cmd/agent/app/integrations.go
  releasenotes/notes/error_print-17ce0929434c5f29.yaml
Labels: team/integrations

#2520 [task] Allow missing bugfix note when generating minor changelog
  tasks/release.py
Labels: dev/tooling, noreno, team/agent-core

#2523 [docs] Update upgrade docs
  docs/agent/README.md
  docs/agent/upgrade.md
Labels: documentation, noreno, team/agent-core

#2414 [install scripts] Add support of DD_SITE
  cmd/agent/install_mac_os.sh
  cmd/agent/install_script.sh
Labels: do-not-merge/hold, kind/packaging, noreno, team/agent-core

#2506 Run cluster-agent as non-root, support read-only rootfs
  Dockerfiles/cluster-agent/Dockerfile
Labels: dca, kind/packaging, noreno, team/containers

#2526 Update integrations-core changelog links
  CHANGELOG.rst
Labels: noreno, team/integrations

#2483 repair test kitchen tests
  .gitlab-ci.yml
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.sh
Labels: noreno, team/agent-core

#2462 logs: reduce number of dependencies for the logs client
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/client/connection_manager.go
  pkg/logs/client/connection_manager_test.go
  pkg/logs/client/delimiter.go
  pkg/logs/client/delimiter_test.go
  pkg/logs/client/destination.go
  pkg/logs/client/destinations.go
  pkg/logs/client/destinations_context.go
  pkg/logs/client/destinations_context_test.go
  pkg/logs/client/endpoints.go
  pkg/logs/client/mock/mock.go
  pkg/logs/client/prefixer.go
  pkg/logs/client/prefixer_test.go
  pkg/logs/client/testutil.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/sender_test.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
Labels: component/logs, noreno, team/ramen

#2514 add datadog-agent config command to print runtime configuration
  cmd/agent/api/agent/agent.go
  cmd/agent/app/config.go
  releasenotes/notes/add-config-command-704a1a143ceca85e.yaml
Labels: team/agent-core

#2524 Change test to remove flakiness
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Labels: noreno, team/containers

#2536 [dev] Bump `requests` to latest
  requirements.txt
Labels: dev/tooling, noreno, team/agent-core

#2508 Adding Changelog for the Datadog Cluster Agent 1.0.0
  CHANGELOG-DCA.rst
  releasenotes-dca/config.yaml
Labels: noreno, team/containers

#2531 Honor external metrics provider settings in cluster-agent status
  Dockerfiles/cluster-agent/dist/templates/custommetricsprovider.tmpl
  Dockerfiles/cluster-agent/dist/templates/header.tmpl
  pkg/clusteragent/custommetrics/status.go
  pkg/clusteragent/custommetrics/status_no_apiserver.go
Labels: noreno, team/containers

#2532 fix runtime config command
  cmd/agent/api/agent/agent.go
  cmd/agent/app/config.go
Labels: kind/bug, noreno, team/agent-core

#2478 Integration install command moves configuration files
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_test.go
  cmd/agent/app/integrations_windows.go
  releasenotes/notes/move_conf_file-71b1addd871e26e4.yaml
Labels: team/integrations

#2525 Add wildcard support to label to tag mappings for containers.
  Dockerfiles/agent/README.md
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/tmplvar/parse.go
  pkg/util/tmplvar/parse_test.go
  releasenotes/notes/support-wildcards-pod-labels-as-tags-45b873f7a94be498.yaml
Labels: component/autodiscovery, kind/feature, team/containers

#2535 Cherry-picking Datadog Cluster Agent 1.0.0 into master
  Dockerfiles/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/cluster-agent.yaml
  cmd/agent/dist/conf.d/go_expvar.d/cluster_agent_stats.yaml
  cmd/cluster-agent/api/v1/install.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/main.go
  pkg/clusteragent/custommetrics/store.go
  pkg/config/config.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
  pkg/util/kubernetes/hpa/processor.go
Labels: noreno, team/containers

#2533 Add the ability to run a check n times
  cmd/agent/app/check.go
  releasenotes/notes/check-n-times-3bdb7eb6f43051b1.yaml
Labels: component/cmd-agent, team/containers

#2507 add stakeholders to review `datadog-agent integration`
  .github/CODEOWNERS
Labels: noreno, team/agent-core
