Repository DataDog/datadog-agent, pull requests merged in 2018-09, with the labels that each got.

#2254 [config][docs][skip ci] updating config template with check_runners info
  pkg/config/config_template.yaml
Labels: documentation, noreno, team/agent-core

#2259 [Logs]: Fixed kubernetes ingtegration to tail logs from beginning
  pkg/logs/config/integration_config.go
  pkg/logs/config/integration_config_test.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/kubernetes/scanner.go
  pkg/logs/input/kubernetes/scanner_test.go
  pkg/logs/scheduler/scheduler.go
Labels: component/logs, noreno, team/ramen

#2261 [jmxfetch] bump to 0.20.2
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/jmxfetch_0.20.2_bump-7f5f115de57e59c6.yaml
Labels: team/agent-core

#2260 [release] adding 6.5.0-rc.1 to json + JMXFetch bump
  release.json
Labels: noreno, team/agent-core

#2233 [windows] add implementation of getSystemFQDN() for Windows
  pkg/config/config.go
  pkg/util/hostname.go
  pkg/util/hostname_windows.go
  releasenotes/notes/add-fqdn-support-windows-5a9b960c9df7c7aa.yaml
Labels: kind/feature, team/agent-core

#2264 [LICENSE] Update 3rd party license file
  LICENSE-3rdparty.csv
Labels: documentation, noreno, team/agent-core

#2269 [release notes] Move JMXFetch upgrade to `other` section
  releasenotes/notes/jmxfetch_0.20.2_bump-7f5f115de57e59c6.yaml
Labels: documentation, team/agent-core

#2270 [release notes] Clarify what `upgrade` section should contain
  releasenotes/config.yaml
Labels: documentation, noreno, team/agent-core

#2273 Fix typo for DD_CLUSTER_NAME
  Dockerfiles/agent/README.md
Labels: documentation, noreno, team/containers

#2272 [Logs]: Fixed default frame size overriding for tcp/udp log collection
  pkg/logs/agent.go
  pkg/logs/input/listener/listener.go
  pkg/logs/input/listener/tcp.go
  pkg/logs/input/listener/tcp_test.go
  pkg/logs/input/listener/udp.go
  pkg/logs/input/listener/udp_nix_test.go
  pkg/logs/input/listener/udp_test.go
  releasenotes/notes/logs-fix-frame-size-override-ceaa202ba1048d4a.yaml
Labels: component/logs, kind/bug, team/ramen

#2276 Fix kube node labels retrieval
  pkg/util/kubernetes/hostinfo/tags.go
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: component/metadata, kind/bug, noreno, team/containers

#2263 [test][runner] Fix flaky test
  pkg/collector/runner/runner_test.go
  pkg/util/ecs/ecs.go
Labels: dev/testing, noreno, team/agent-core

#2277 [Logs]: Autodiscovery - Docker Label fix
  pkg/logs/input/docker/container.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/scheduler/scheduler.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2281 make all the fields of the check status human readable
  Dockerfiles/cluster-agent/dist/templates/collector.tmpl
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  cmd/agent/gui/views/templates/singleCheck.tmpl
  pkg/status/dist/templates/collector.tmpl
Labels: noreno, team/agent-core

#2283 [windows] remove addition of windows secretuser for release. To be
  omnibus/resources/agent/msi/source.wxs.erb
Labels: noreno, team/agent-core

#2280 [config] Handle `app.datadoghq.eu` similarly to `app.datadoghq.com`
  pkg/config/config.go
  pkg/config/config_test.go
  releasenotes/notes/add-version-prefix-dd-eu-url-ba254eaab0114ec3.yaml
Labels: kind/enhancement, team/agent-core

#2282 remove a few debug log calls
  cmd/agent/common/helpers.go
Labels: noreno, team/agent-core

#2286 Fix some grammar issues
  pkg/logs/input/docker/container.go
  pkg/serializer/split/split.go
Labels: noreno, team/agent-core

#2278 [Logs]: Autodiscovery - Pod Annotation fix
  pkg/logs/input/docker/ad_identifier.go
  pkg/logs/input/docker/ad_identifier_kubelet.go
  pkg/logs/input/docker/container.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/service/service.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2285 Add configuration/environment hostname errors on the status page
  pkg/util/hostname.go
Labels: kind/bug, noreno, team/agent-core

#2295 kubelet tag collector: use taglist for all tags
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/utils/taglist.go
  pkg/tagger/utils/taglist_test.go
Labels: component/tagger, noreno, team/containers

#2294 Whitelist more env vars in the flare
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/flare/envvars.go
  pkg/flare/envvars_test.go
  releasenotes/notes/add-more-env-vars-to-the-flare's-whitelist-bb06a7a6fd102864.yaml
Labels: kind/enhancement, team/containers

#2297 [logs] factor some consts, fix an accessor
  pkg/logs/input/docker/ad_identifier.go
  pkg/logs/input/docker/ad_identifier_kubelet.go
  pkg/logs/input/docker/container.go
Labels: component/logs, noreno, team/ramen

#2302 Honor ac_exclude / ac_include in autodiscovery
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  releasenotes/notes/autodiscovery-ac-exclude-dd681caf9c8809b3.yaml
  test/integration/listeners/docker/docker_listener_test.go
  test/integration/listeners/docker/testdata/redis.yaml
Labels: component/autodiscovery, team/containers

#2306 [Logs]: Fixed deadlock in logs package that would freeze the agent
  pkg/logs/config/sources.go
  pkg/logs/input/docker/launcher_nodocker.go
  pkg/logs/input/journald/launcher_nosystemd.go
  pkg/logs/logs.go
  pkg/logs/service/services.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2303 [runner] add stats only for checks currently in the schedule
  pkg/collector/collector.go
  pkg/collector/runner/runner.go
  pkg/collector/scheduler/job.go
  pkg/collector/scheduler/scheduler.go
Labels: noreno, team/agent-core

#2308 Don't ignore pause containers in autodiscovery
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
Labels: component/autodiscovery, noreno, team/containers

#2311 [release][skip ci] adding 6.5.0, removing RCs
  release.json
Labels: noreno, team/agent-core

#2313 Overwrite 6.5.0 with 6.4.2 as 6.5.1 for upgrade
  release.json
Labels: noreno, team/agent-core

#2316 [changelog] updating with 6.5.0 bug note
  CHANGELOG.rst
Labels: documentation, noreno, team/agent-core

#2314 Fixed a deadlock that could occur when using logs_config.container_collect_all
  pkg/logs/config/config.go
  pkg/logs/input/container/scanner.go
  pkg/logs/input/docker/launcher.go
  releasenotes/notes/logs-fix-deadlock-at-start-025d7b7c0044b3d5.yaml
Labels: component/logs, kind/bug, team/ramen

#2318 [Logs]: Fixed a deadlock that could occur when the container launcher setup fails
  pkg/logs/agent.go
  pkg/logs/input/container/noop.go
  pkg/logs/input/container/scanner.go
  pkg/logs/input/docker/launcher_nodocker.go
  pkg/logs/input/kubernetes/scanner.go
  pkg/logs/input/kubernetes/scanner_nokubelet.go
Labels: component/logs, kind/bug, noreno, team/ramen

#2323 [windows] move omnibus base closer to root to account for longer
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2325 [windows] follow up to LFN fix; make sure artifacts are in the right
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2312 engtools#70: replace remote docker with local docker runner
  .gitlab-ci.yml
Labels: dev/tooling, noreno, team/engtools

#2298 Recover from crashing docker socket
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/tailer.go
  releasenotes/notes/restart-tailer-when-docker-socket-is-lost-7f211a63f9158fd9.yaml
Labels: component/logs, team/ramen

#2329 gitlab: use 2xlarge instances for tests and omnibus
  .gitlab-ci.yml
Labels: dev/tooling, noreno, team/containers

#2330 use buster-slim for docker cluster-agent image
  Dockerfiles/cluster-agent/Dockerfile
Labels: kind/packaging, noreno, team/containers

#2256 Corrected readme run command
  README.md
Labels: documentation, team/agent-core

#2265 Display a warning in status when too many log tail
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/config/messages.go
  pkg/logs/config/messages_test.go
  pkg/logs/config/source.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/file_provider_test.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
  pkg/status/dist/templates/logsagent.tmpl
  releasenotes/notes/add-warnings-in-too-many-tailed-files-a646cbc2960f9976.yaml
Labels: team/ramen

#2339 Fixed a null pointer exception caused by logs docker launcher
  pkg/logs/input/docker/launcher.go
  releasenotes/notes/fix-logs-docker-launcher-crash-bec5a4ff7e21be0a.yaml
Labels: component/logs, kind/bug, team/ramen

#2250 Update hostname-resolution.md
  docs/agent/hostname-resolution.md
Labels: documentation, noreno, team/agent-core

#2331 upgrade dogstatsd docker image to alpine 3.8
  Dockerfiles/dogstatsd/alpine/Dockerfile
Labels: kind/packaging, noreno, team/containers

#2347 Consistently install python dev deps in gitlab jobs
  .gitlab-ci.yml
  tasks/go.py
Labels: dev/tooling, noreno, team/agent-core

#2348 Fix the link to integrations-core's changelog in the prelude
  tasks/release.py
Labels: dev/tooling, noreno, team/agent-core

#2335 Require file paths to be short enough to not cause failures on windows
  releasenotes/notes/collect-Node-Labels-from-Cluster-Agent-8b63e92fedbd8668.yaml
  tasks/test.py
  test/kitchen/test/integration/dd-agent-install-script/rspec/dd-agent-install-script_spec.rb
Labels: noreno, team/agent-core

#2118 Trace HTTP requests
  Dockerfiles/cluster-agent/dist/templates/forwarder.tmpl
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/forwarder_health_test.go
  pkg/forwarder/transaction.go
  pkg/forwarder/worker.go
  pkg/status/dist/templates/forwarder.tmpl
Labels: noreno, team/agent-core

#2257 [android] disable logs; logs got enabled by default, and is now
  cmd/agent/android/app/src/main/assets/datadog.yaml
Labels: noreno, team/agent-core

#2320 updating documentation for the Cluster Agent
  Dockerfiles/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/dca-secret.yaml
  Dockerfiles/manifests/cluster-agent/rbac/rbac-agent.yaml
  Dockerfiles/manifests/cluster-agent/rbac/rbac-cluster-agent.yaml
  docs/cluster-agent/CUSTOM_METRICS_SERVER.md
  docs/cluster-agent/GETTING_STARTED.md
  docs/cluster-agent/README.md
Labels: noreno, team/containers

#2327 Plug log agent kubernetes integration to autodiscovery
  pkg/logs/input/container/scanner.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/kubernetes/kubelet.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_nokubelet.go
  pkg/logs/input/kubernetes/launcher_test.go
  pkg/logs/input/kubernetes/pod_provider.go
  pkg/logs/input/kubernetes/scanner.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/service/providers.go
  releasenotes/notes/log-agent-k8-integration-on-ad-0cef70392ad5456d.yaml
Labels: component/logs, noreno, team/ramen

#2293 ecs: allow to setup the ecs-agent container name
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/ecs/ecs.go
  pkg/util/ecs/ecs_test.go
  releasenotes/notes/ecs-container-name-d627c0f0df230079.yaml
Labels: team/containers

#2353 Copy assets needed for local cluster agent build
  tasks/cluster_agent.py
Labels: noreno, team/containers

#2352 Sync informer to fix test flakiness
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Labels: dev/testing, noreno, team/containers

#2166 Add build instructions for the android agent
  cmd/agent/android/README
  cmd/agent/android/README.md
Labels: documentation, noreno, team/agent-core

#2345 Don't log the property which passes the ddagent-user password from the
  omnibus/resources/agent/msi/source.wxs.erb
Labels: noreno, team/agent-core

#2307 Batching Datadog calls
  Gopkg.lock
  Gopkg.toml
  pkg/clusteragent/custommetrics/provider.go
  pkg/config/config.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  pkg/util/kubernetes/hpa/processor.go
  pkg/util/kubernetes/hpa/processor_test.go
Labels: noreno, team/containers

#2354 fetch GOPATH from 'go env' command if env var is not set
  tasks/bootstrap.py
Labels: noreno, team/agent-core

#2349 use log wrapper in run command
  cmd/agent/app/run.go
  pkg/collector/corechecks/system/cpu_windows.go
  pkg/logs/input/windowsevent/launcher.go
  pkg/logs/input/windowsevent/launcher_windows.go
  pkg/logs/input/windowsevent/tailer.go
  pkg/logs/input/windowsevent/tailer_nix.go
  pkg/logs/input/windowsevent/tailer_windows.go
  releasenotes/notes/fix-agent-exit-log-0293d0788c9c6eb8.yaml
Labels: team/agent-core

#2140 Port disk check to golang
  pkg/collector/corechecks/system/disk.go
  pkg/collector/corechecks/system/disk_nix.go
  pkg/collector/corechecks/system/disk_test.go
  releasenotes/notes/Disk-check-support-for-the-puppy-agent-9b53138b4dfbb4ed.yaml
Labels: team/agent-core

#2369 Update outdated AgentCheck test
  pkg/collector/py/tests/testaggregator.py
Labels: noreno, team/integrations

#2332 remove Cryptodome.SelfTest from agent docker image
  Dockerfiles/agent/Dockerfile
Labels: kind/packaging, noreno, team/containers

#2366 HPA Support for EKS
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  pkg/clusteragent/custommetrics/provider.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_engine.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
Labels: noreno, team/containers

#2304 Add clustercheck configprovider and matching API
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/clusterchecks.go
  cmd/cluster-agent/app/clusterchecks.go
  pkg/autodiscovery/providers/clusterchecks.go
  pkg/autodiscovery/providers/providers.go
  pkg/clusteragent/clusterchecks/README.md
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/common_test.go
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/clusteragent/clusterchecks/store.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/clusteragent/clusterchecks/types/types.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/clusteragent/clusterchecks.go
  releasenotes/notes/clustercheck-provider-349564f27431d37e.yaml
Labels: component/autodiscovery, team/containers

#2368 [Agent-Guild]: Isolated viper implementation from config
  pkg/config/config.go
  pkg/config/viper.go
Labels: component/config, noreno, team/agent-guild

#2381 [LOGS]: Added the possibility to dualship logs
  pkg/logs/agent.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/server.go
  pkg/logs/logs.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/processor/processor.go
  pkg/logs/sender/connection_manager.go
  pkg/logs/sender/connection_manager_test.go
  pkg/logs/sender/destination.go
  pkg/logs/sender/destinations.go
  pkg/logs/sender/prefixer.go
  pkg/logs/sender/prefixer_test.go
  pkg/logs/sender/sender.go
Labels: component/logs, noreno, team/ramen

#2387 Try raising timeout on a flaky test
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
Labels: noreno, team/containers
