Repository DataDog/datadog-agent, pull requests merged in 2019-01, with the labels that each got.

#2818 Add the option to stop a triggered pipeline after the build
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2830 Run pip check during the omnibus build to ensure a clean env
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-env-check.rb
Labels: noreno, team/integrations

#2494 Fix IPC http server error logging
  cmd/agent/api/server.go
  cmd/cluster-agent/api/server.go
  pkg/config/log.go
  pkg/util/log/log.go
Labels: noreno, team/agent-core

#2696 Cluster-checks: handle leader election and follower->leader redirection
  cmd/cluster-agent/api/v1/clusterchecks.go
  cmd/cluster-agent/api/v1/install.go
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/api_test.go
  pkg/clusteragent/clusterchecks/common_test.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_test.go
  pkg/clusteragent/clusterchecks/leadership_kube.go
  pkg/clusteragent/clusterchecks/leadership_nokube.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: dca, noreno, team/containers

#2757 [jmxfetch] Upgrade to 0.24.0
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0-24-0-release-1d9cec733619f151.yaml
Labels: team/agent-core

#1962 Make more precise the doc comments for capped metrics in the docker check yaml
  cmd/agent/dist/conf.d/docker.d/conf.yaml.example
Labels: documentation, noreno, team/containers

#2813 Remove command arguments from flare's container list
  pkg/flare/archive_docker.go
  pkg/flare/archive_docker_test.go
  releasenotes/notes/flare-docker-ps-arguments-8eaf9e69375e6ff8.yaml
Labels: team/containers

#2847 Enable clusterchecks in DCA master
  tasks/cluster_agent.py
Labels: component/clusterchecks, noreno, team/containers

#2848 Increase timeout in isLocked test to reduce flakyness
  pkg/clusteragent/clusterchecks/common_test.go
Labels: dev/testing, noreno, team/containers

#2852 [kitchen] fixing broken pipeline
  test/kitchen/site-cookbooks/dd-agent-install-script/Gemfile
  test/kitchen/site-cookbooks/dd-agent-install/Gemfile
  test/kitchen/site-cookbooks/dd-agent-step-by-step/Gemfile
  test/kitchen/site-cookbooks/dd-agent-upgrade/Gemfile
  test/kitchen/tasks/run-test-kitchen.sh
Labels: dev/testing, noreno, team/agent-core

#2841 Activate k8s on no logs_config.container_collect_all
  pkg/logs/input/container/launcher.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_nokubelet.go
  pkg/logs/input/kubernetes/launcher_test.go
  releasenotes/notes/logs-kubernetes-integration-without-collect-all-ef988eda34f14751.yaml
Labels: component/logs, team/logs

#2815 Disable gohai in dogstatsd alpine image
  .gitignore
  Dockerfiles/dogstatsd/alpine/Dockerfile
  Dockerfiles/dogstatsd/alpine/dogstatsd.yaml
  releasenotes/notes/dsd-image-no-gohai-88b8b32fe4001738.yaml
Labels: kind/packaging, team/containers

#2849 [Containerd] Add post processing filters
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
Labels: noreno, team/containers

#2851 [flare] scrub api keys from other services.
  pkg/flare/archive.go
  pkg/flare/writer_test.go
  releasenotes/notes/redact-non-dd-apikeys-fda787625ce110fe.yaml
Labels: team/agent-core

#2831 Containerd
  Dockerfiles/agent/entrypoint/50-cri.sh
  Gopkg.lock
  LICENSE-3rdparty.csv
  cmd/agent/dist/conf.d/containerd.d/conf.yaml.default
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_events.go
  pkg/collector/corechecks/containers/containerd_events_test.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/diagnosis.go
  releasenotes/notes/adding-containerd-check-c667f1d2253e7f2e.yaml
  tasks/agent.py
  tasks/build_tags.py
Labels: team/containers

#2814 fix hostname resolution logic on ec2/ecs when the hostname_fqdn flag is enabled
  pkg/util/docker/diagnosis.go
  pkg/util/docker/global.go
  pkg/util/ec2/ec2.go
  pkg/util/ecs/ecs.go
  pkg/util/ecs/ecs_nodocker.go
  pkg/util/gce/gce.go
  pkg/util/hostname.go
  pkg/util/hostname/providers.go
  pkg/util/hostname_docker.go
  pkg/util/kubernetes/apiserver/hostname.go
  pkg/util/kubernetes/hostinfo/host_alias.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  releasenotes/notes/fix-ec2-fqdn-f60585931c48412b.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: kind/bug, severity/major, team/agent-core

#2824 Support `site` config in log agent
  pkg/config/config.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  releasenotes/notes/site-config-logs-67782d6e12e2a318.yaml
Labels: component/config, component/logs, team/logs

#2714 [tagger] Introduce OrchestratorCardinality tags
  cmd/agent/api/agent/agent.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/collector/corechecks/containers/cri.go
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/corechecks/containers/docker_eventbundle.go
  pkg/collector/corechecks/containers/docker_events.go
  pkg/collector/py/tagger.go
  pkg/collector/py/tagger_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/dogstatsd/server.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/journald/docker.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/tagger/README.md
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/collectors/ecs_extract.go
  pkg/tagger/collectors/ecs_extract_test.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/tagger/collectors/ecs_main.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/collectors/kubelet_main.go
  pkg/tagger/collectors/kubernetes_main.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/tagger/collectors/types.go
  pkg/tagger/global.go
  pkg/tagger/tagger.go
  pkg/tagger/tagger_test.go
  pkg/tagger/tagstore.go
  pkg/tagger/tagstore_test.go
  pkg/tagger/utils/taglist.go
  pkg/tagger/utils/taglist_test.go
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes/notes/[tagger]-introduce-tag-cardinality-configuration-02a68994450b09cd.yaml
Labels: component/tagger, team/containers

#2771 Add "Tolerate Unready" Annotation
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/testdata/podlist_1.8-2.json
  releasenotes/notes/[AD]-support-new-pod-annotation-to-monitor-unready-pods-1faefa78cd0065d.yaml
  test/e2e/argo-workflows/agent.yaml
Labels: component/autodiscovery, kind/enhancement, team/containers

#2854 Switch default TagCardinality for checks to Low + update containerd tagger call
  Gopkg.lock
  pkg/collector/corechecks/containers/containerd.go
  pkg/config/config.go
Labels: component/autodiscovery, noreno, team/containers

#2069 [stats] allow consuming the channel + test
  pkg/dogstatsd/server.go
  pkg/util/stat.go
  pkg/util/stat_test.go
  releasenotes/notes/dsd-stats-fix-and-expvar-45e2a7ba61a279df.yaml
Labels: kind/bug, team/agent-core

#2856 [omnibus] pin mixlib-cli to previous major to fix builds
  omnibus/Gemfile
Labels: dev/tooling, noreno, team/agent-core

#2857 Fix signature to match change done in #2814
  pkg/util/docker/global_nodocker.go
Labels: kind/bug, noreno, team/agent-core, team/containers

#2842 [windows] repairs bug(s) when windows installation drive is not (c:)
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/config/config.go
  pkg/config/config_android.go
  pkg/config/config_darwin.go
  pkg/config/config_nix.go
  pkg/config/config_windows.go
  releasenotes/notes/fixproblemswithaltwindir-afc7228d0f135400.yaml
Labels: team/agent-core

#2858 release 6.9.0-rc.1
  release.json
Labels: noreno, team/agent-core

#2859 [windows] remove errant debugging printf
  pkg/config/config_windows.go
Labels: noreno, team/agent-core

#2866 [gohai] Update to latest
  .circleci/config.yml
  Gopkg.lock
  releasenotes/notes/gohai-nil-map-dereference-0e27e1c7d855f857.yaml
Labels: kind/bug, team/agent-core

#2869 [gohai] Another update to actually fix the nil map dereference
  .circleci/config.yml
  Gopkg.lock
Labels: kind/bug, noreno, team/agent-core

#2867 [agent] remove go-reaper
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  cmd/agent/main.go
Labels: kind/bug, noreno, team/agent-core

#2870 [jmxfetch] Bump to 0.24.1
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0-24-0-release-1d9cec733619f151.yaml
Labels: team/agent-core

#2845 Call Python3 linter on custom checks
  omnibus/config/projects/agent.rb
  pkg/collector/py/loader.go
  pkg/collector/py/py3_checker.go
  pkg/collector/py/py3_checker_nix.go
  pkg/collector/py/py3_checker_windows.go
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: noreno, team/agent-core

#2872 release 6.9.0-rc.2
  release.json
Labels: noreno, team/agent-core

#2873 Allow windows testkitchen to fail
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2876 [omnibus][python] Build on Linux with `-fPIC`
  omnibus/config/software/python.rb
  releasenotes/notes/fpic-python-linux-039f5bf1c6a0ea28.yaml
Labels: kind/packaging, team/agent-core

#2877 Use python to execute A7 validation
  pkg/collector/py/py3_checker.go
  pkg/collector/py/py3_checker_nix.go
  pkg/collector/py/py3_checker_windows.go
Labels: noreno, team/agent-core

#2879 Remove the unready redis on e2e step delete-redis
  test/e2e/argo-workflows/agent.yaml
Labels: noreno, team/containers

#2883 Switch to user email to avoid non ascii ec2 tags
  test/e2e/scripts/setup-instance/02-ec2.sh
Labels: noreno, team/containers

#2882 Promote agent integration command to GA
  cmd/agent/app/integrations.go
  releasenotes/notes/Promote-integration-command-to-GA-2ad3cdf7f6f3ae13.yaml
Labels: documentation, team/agent-core, team/integrations

#2881 [flare] the display name may be empty, use the login name.
  pkg/flare/archive_nix.go
Labels: kind/bug, noreno, team/agent-core

#2888 Updated timeout when connecting to containerd socket
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  pkg/util/containerd/containerd_util.go
Labels: noreno, team/containers

#2890 [py] fix the list of integrations returned by blacklisting non-integrations
  cmd/agent/gui/checks.go
  cmd/agent/gui/checks_py.go
  cmd/agent/gui/checks_test.go
  pkg/collector/check/jmx.go
  pkg/collector/py/utils.go
Labels: kind/bug, noreno, team/agent-core

#2864 Update notices about future fqdn change
  docs/agent/hostname-resolution.md
  pkg/util/hostname.go
Labels: noreno, team/agent-core

#2846 Update secrets troubleshooting doc on windows
  docs/agent/secrets.md
  docs/agent/secrets_scripts/secrets_tester.ps1
Labels: documentation, noreno, team/agent-core

#2889 review feedback; added expanded release note
  releasenotes/notes/fixproblemswithaltwindir-afc7228d0f135400.yaml
Labels: noreno, team/agent-core

#2897 Add chars to the "others api key" scrubbing regexp.
  pkg/flare/archive.go
Labels: kind/enhancement, noreno, team/agent-core

#2898 [jmx] fix configuration name typo for `jmx_restart_interval`
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/jmxfetch/jmxfetch_nix.go
  releasenotes/notes/jmxfetch-process-managemenet-d0815996c58bef6e.yaml
Labels: kind/bug, noreno, team/agent-core

#2899 Always log host metadata payload, even when too large
  pkg/serializer/serializer.go
  releasenotes/notes/log_host_meta-161ea1937da7bb2a.yaml
Labels: team/integrations

#2903 Update secrets documentation
  docs/agent/secrets.md
Labels: documentation, noreno, team/agent-core

#2913 Android SDK license has changed.
  .gitlab-ci.yml
Labels: noreno, team/agent-core

#2896 Support /conf.d in cluster-agent image
  Dockerfiles/cluster-agent/Dockerfile
  Dockerfiles/cluster-agent/entrypoint.sh
Labels: dca, kind/packaging, noreno, team/containers

#2893 Fix clustercheck leader not starting its dispatching logic
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_test.go
Labels: component/clusterchecks, noreno, team/containers

#2892 Use the appropriate port when redirecting node-agents to leader
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/api_test.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_test.go
Labels: component/clusterchecks, noreno, team/containers

#2862 Cluster-checks: patch configurations on schedule
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: component/clusterchecks, noreno, team/containers

#2796 Sort file by reverse lexicographical order before tailing them
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/file_provider_test.go
  releasenotes/notes/tail-files-reverse-lex-order-d4fe0fa158fa8441.yaml
Labels: component/logs, team/logs

#2723 [corechecks] Support custom tags in every corechecks
  docs/agent/config.md
  pkg/aggregator/mocksender/mocked_methods.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/autodiscovery/integration/config.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver_test.go
  pkg/collector/corechecks/cluster/kubernetes_openshift.go
  pkg/collector/corechecks/cluster/kubernetes_openshift_test.go
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/collector/corechecks/containers/cri.go
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/corechecks/containers/docker_events.go
  pkg/collector/corechecks/net/network.go
  pkg/collector/corechecks/net/network_test.go
  pkg/collector/corechecks/net/snmp.go
  pkg/collector/corechecks/net/snmp_test.go
  pkg/collector/corechecks/system/disk.go
  pkg/collector/corechecks/system/disk_nix.go
  releasenotes/notes/corechecks-custom-tags-7b55a07c4b763735.yaml
  test/integration/corechecks/docker/basemetrics_test.go
  test/integration/corechecks/docker/events_test.go
  test/integration/corechecks/docker/exitcode_test.go
  test/integration/corechecks/docker/globalmetrics_test.go
  test/integration/corechecks/docker/main_test.go
  test/integration/corechecks/docker/serviceup_test.go
Labels: kind/enhancement, team/agent-core

#2863 Add configcheck/config cmd on the cluster agent
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/app/config.go
  cmd/cluster-agent/app/config_check.go
  pkg/autodiscovery/integration/config.go
  pkg/flare/archive_dca.go
  pkg/flare/config_check.go
  releasenotes-dca/notes/add-config-configcheck-cmd-2fb221c733874cb1.yaml
Labels: dca, noreno, team/containers

#2844 Add relative file path in logs
  pkg/config/log.go
  pkg/config/log_test.go
  releasenotes/notes/agent-log-relative-file-fd9022ec8b80ec0d.yaml
Labels: component/logs, team/agent-core, team/agent-guild

#2768 Get package version from invoke
  .gitlab-ci.yml
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/puppy.rb
  tasks/__init__.py
  tasks/agent.py
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/test.py
  tasks/utils.py
  test/kitchen/tasks/run-test-kitchen.sh
Labels: noreno, team/agent-core

#2948 [jmxfetch] Update to 0.25.0
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0-25-0-ff4deb9338a7f31f.yaml
Labels: team/agent-core

#2837 Add docs on the integration command usage
  docs/agent/README.md
  docs/agent/integration.md
Labels: documentation, noreno, team/integrations

#2949 [syslog] unset syslog uri when syslog is disabled.
  pkg/config/log_nix.go
  pkg/config/log_nix_test.go
Labels: noreno, team/agent-core

#2905 Support running in awsvpc mode on classic ECS
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_test.go
  pkg/util/ecs/ecs.go
  pkg/util/ecs/ecs_test.go
  releasenotes/notes/ecs-awsvpc-fc19d0bf007aec66.yaml
Labels: team/containers

#2900 Remove the unused error return from tagger.Init
  cmd/agent/common/autoconfig.go
  cmd/dogstatsd/main.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/journald/docker.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/tagger/global.go
  test/integration/corechecks/docker/main_test.go
Labels: component/tagger, noreno, team/containers

#2954 Add option for JSON output to the check command
  cmd/agent/app/check.go
  pkg/status/status.go
  releasenotes/notes/add-option-for-JSON-output-to-the-check-command-4731cb264afd546a.yaml
Labels: component/cmd-agent, kind/enhancement, team/agent-core, team/integrations

#2957 pkg/trace/agent: consider UTF-8 characters in tags
  pkg/trace/agent/tags.go
  pkg/trace/agent/tags_test.go
Labels: noreno, team/apm

#2956 docs/trace-agent: small documentation improvements.
  docs/trace-agent/README.md
Labels: noreno, team/apm

#2887 Add clustercheck info to the cluster-agent's status and flare
  cmd/cluster-agent/api/v1/clusterchecks.go
  cmd/cluster-agent/app/clusterchecks.go
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/api_nocompile.go
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_test.go
  pkg/clusteragent/clusterchecks/stats.go
  pkg/clusteragent/clusterchecks/types/types.go
  pkg/flare/archive_dca.go
  pkg/flare/cluster_checks.go
  pkg/status/dist/templates/header.tmpl
  pkg/status/status.go
Labels: component/clusterchecks, noreno, team/containers

#2907 Cluster Agent HPA metrics case support
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/store_test.go
  pkg/util/kubernetes/hpa/hpa.go
  pkg/util/kubernetes/hpa/hpa_test.go
  pkg/util/kubernetes/hpa/processor.go
Labels: noreno, team/containers

#2964 pkg/trace: move normalizer* files to api where they are used
  pkg/trace/agent/tags.go
  pkg/trace/agent/tags_test.go
  pkg/trace/agent/truncator_test.go
  pkg/trace/api/api.go
  pkg/trace/api/normalizer.go
  pkg/trace/api/normalizer_test.go
  pkg/trace/test/testutil/span_test.go
Labels: noreno, team/apm

#2965 pkg/trace/agent: move stats related logic to new 'stats' package
  cmd/trace-agent/agent.go
  cmd/trace-agent/agent_test.go
  cmd/trace-agent/model_test.go
  cmd/trace-agent/service.go
  cmd/trace-agent/service_test.go
  cmd/trace-agent/trace_service_extractor.go
  cmd/trace-agent/trace_service_extractor_test.go
  pkg/trace/agent/processed_trace.go
  pkg/trace/agent/stats_payload.go
  pkg/trace/agent/statsraw_test.go
  pkg/trace/event/extractor.go
  pkg/trace/event/extractor_fixed_rate.go
  pkg/trace/event/extractor_fixed_rate_test.go
  pkg/trace/event/extractor_legacy.go
  pkg/trace/event/extractor_metric.go
  pkg/trace/event/extractor_metric_test.go
  pkg/trace/event/extractor_noop.go
  pkg/trace/event/extractor_test.go
  pkg/trace/event/processor.go
  pkg/trace/event/processor_test.go
  pkg/trace/sampler/sampler.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/quantile/README.md
  pkg/trace/stats/quantile/summary.go
  pkg/trace/stats/quantile/summary_bench_test.go
  pkg/trace/stats/quantile/summary_test.go
  pkg/trace/stats/quantile/weighted.go
  pkg/trace/stats/quantile/weighted_test.go
  pkg/trace/stats/stats.go
  pkg/trace/stats/stats_payload.go
  pkg/trace/stats/stats_test.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/stats/sublayers.go
  pkg/trace/stats/sublayers_test.go
  pkg/trace/stats/subtrace.go
  pkg/trace/stats/subtrace_test.go
  pkg/trace/stats/tags.go
  pkg/trace/stats/tags_test.go
  pkg/trace/stats/weight.go
  pkg/trace/stats/weight_test.go
  pkg/trace/test/backend.go
  pkg/trace/test/example_test.go
  pkg/trace/test/testutil/span.go
  pkg/trace/test/testutil/stats.go
  pkg/trace/test/testutil/stats_test.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/stats_test.go
Labels: noreno, team/apm

#2968 github: narrow down scope of APM code owners
  .github/CODEOWNERS
Labels: noreno, team/apm

#2967 docs/trace-agent: add datadog.example.yaml file
  docs/trace-agent/datadog.example.yaml
Labels: noreno, team/apm
