Repository DataDog/datadog-agent, pull requests merged in 2019-10, with the labels that each got.

#4234 Implement Python API for setting check metadata
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init.go
  releasenotes/notes/rtloader-api-for-check-metadata-bfa94b82c27d782d.yaml
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/builtins/datadog_agent.h
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/test/datadog_agent/datadog_agent.go
  rtloader/test/datadog_agent/datadog_agent_test.go
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: component/rtloader, team/agent-core, team/integrations

#4237 pkg/trace/api: clean up some test goroutines
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/agent-apm

#4134 [rtloader] memory accounting on tests + associated fixes
  .gitlab-ci.yml
  releasenotes/notes/rtloader-testing-accounting-and-fixes-41e46c6338c874fe.yaml
  rtloader/CMakeLists.txt
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/log.c
  rtloader/common/log.h
  rtloader/common/rtloader_mem.c
  rtloader/common/rtloader_mem.h
  rtloader/include/rtloader_types.h
  rtloader/test/aggregator/aggregator.go
  rtloader/test/aggregator/aggregator_test.go
  rtloader/test/common/cgo_free.go
  rtloader/test/common/cgo_free_test.go
  rtloader/test/containers/containers.go
  rtloader/test/containers/containers_test.go
  rtloader/test/datadog_agent/datadog_agent.go
  rtloader/test/datadog_agent/datadog_agent_test.go
  rtloader/test/helpers/helpers.go
  rtloader/test/helpers/helpers_native.go
  rtloader/test/init/init.go
  rtloader/test/init/init_test.go
  rtloader/test/kubeutil/kubeutil.go
  rtloader/test/kubeutil/kubeutil_test.go
  rtloader/test/rtloader/rtloader.go
  rtloader/test/rtloader/rtloader_test.go
  rtloader/test/tagger/tagger.go
  rtloader/test/tagger/tagger_test.go
  rtloader/test/util/util.go
  rtloader/test/util/util_test.go
  rtloader/test/uutil/uutil.go
  rtloader/test/uutil/uutil_test.go
  rtloader/three/three.cpp
  rtloader/two/two.cpp
Labels: kind/bug, kind/feature, team/agent-core

#4191 [DCA] HTTP proxy support
  Dockerfiles/cluster-agent/README.md
  pkg/flare/flare.go
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/transaction.go
  pkg/forwarder/worker.go
  pkg/logs/client/http/destination.go
  pkg/process/config/yaml_config.go
  pkg/trace/config/config.go
  pkg/util/common.go
  pkg/util/common_test.go
  pkg/util/http.go
  pkg/util/http/client.go
  pkg/util/http/client_test.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  releasenotes-dca/notes/http-proxy-support-a28834fee0358b22.yaml
Labels: changelog/no-changelog, dca, team/containers

#4200 migrating main docker page from the agent repo to the documentation repo
  Dockerfiles/agent/README.md
Labels: changelog/no-changelog, documentation, team/baklava

#4201 migrates Openshift from the Agent repo to the documentation repo
  Dockerfiles/agent/OPENSHIFT.md
Labels: changelog/no-changelog, documentation, team/baklava

#4210 [gitlab] A6+A7 builds on the same pipeline
  .gitlab-ci.yml
  Dockerfiles/agent/Dockerfile
  omnibus/lib/ostools.rb
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/config/config.go
  release.json
  rtloader/test/init/init_test.go
  rtloader/test/init/init_three.go
  rtloader/test/init/init_two.go
  tasks/agent.py
  tasks/android.py
  tasks/customaction.py
  tasks/process_agent.py
  tasks/rtloader.py
  tasks/systray.py
  tasks/trace_agent.py
  tasks/utils.py
  test/kitchen/kitchen-azure-winstall.yml
  test/kitchen/kitchen-azure.yml
  test/kitchen/tasks/clean.sh
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#4206 The system-probe should not try to access container APIs
  cmd/process-agent/collector_test.go
  cmd/process-agent/info_test.go
  pkg/process/checks/net_test.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_nix_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
Labels: changelog/no-changelog, team/burrito

#4246 Process agent & system-probe ignores sigpipe signals
  pkg/process/util/signal_nowindows.go
  releasenotes/notes/fix-05e775eee53f78d3.yaml
Labels: team/burrito

#4189 replace Secrets docs with a link to Secrets corpsite docs
  docs/agent/secrets.md
Labels: changelog/no-changelog, documentation, team/agent-core, team/baklava

#4247 [Docs] Add placeholders
  docs/agent/changes.md
  docs/agent/config.md
  docs/agent/missing_features.md
Labels: changelog/no-changelog, documentation, team/agent-core

#4248 [Docs] Agent main placeholder
  docs/agent/README.md
Labels: changelog/no-changelog, documentation, team/agent-core

#4253 Pin golang.org/x/tools
  bootstrap.json
  tasks/go.py
Labels: changelog/no-changelog, team/agent-core

#4231 pkg/trace/obfuscate: add detailed obfuscation errors and UTF-8 support
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-detailed-sql-obfuscation-err-028377160c2f73f7.yaml
  releasenotes/notes/apm-obfuscate-sql-utf8-5483752f9bb518c9.yaml
Labels: team/agent-apm

#4255 [gitlab] Do not install checks when building puppy
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#4177 Added missing newlines to console output
  cmd/agent/app/integrations.go
  cmd/agent/app/secret.go
  cmd/agent/main_windows.go
  cmd/process-agent/main_windows.go
  cmd/py-launcher/py-launcher.go
  cmd/trace-agent/main_windows.go
  pkg/config/legacy/docker.go
  pkg/config/legacy/kubernetes.go
  pkg/config/log.go
  pkg/trace/agent/run.go
  pkg/trace/osutil/file.go
Labels: changelog/no-changelog, team/agent-core

#4238 Fix crash caused by calling /config-check too early
  cmd/agent/api/agent/agent.go
  cmd/cluster-agent/api/agent/agent.go
Labels: changelog/no-changelog, team/agent-core

#4126 [kitchen] Check which python version is running
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#4139 [omnibus] Remove Python 3 downloader data
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
Labels: changelog/no-changelog, team/agent-core

#4260 Add example of exposing Go functionality to Python
  rtloader/README.md
Labels: changelog/no-changelog, documentation, team/agent-core, team/integrations

#4257 [kitchen] Fix windows upgrade tests not run in correct location
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/platform

#4265 Remove the local tracer option from the Process Agent
  cmd/process-agent/main_common.go
  pkg/process/checks/net.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#4261 Remove Windows executables in Linux packages
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/pip2.rb
  omnibus/config/software/pip3.rb
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/setuptools3.rb
Labels: changelog/no-changelog, team/platform

#4250 Collect private network info when docker containers are exposed to hosts
  pkg/util/docker/containers.go
  pkg/util/docker/docker_test.go
Labels: changelog/no-changelog, team/containers

#4262 Update CODEOWNERS with new Platform team
  .github/CODEOWNERS
Labels: changelog/no-changelog, documentation, team/agent-core, team/platform

#4256 Keep track of connection type in conntracker.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/noop.go
  pkg/ebpf/netlink/testdata/setup_dnat.sh
  pkg/ebpf/netlink/testdata/teardown_dnat.sh
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/burrito

#4245 Switch windows builds to docker builders
  .gitlab-ci.yml
  tasks/agent.py
  tasks/ssm.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-core

#4251 [logs] Support compression for HTTP endpoints
  pkg/config/config.go
  pkg/logs/client/http/content_encoding.go
  pkg/logs/client/http/content_encoding_test.go
  pkg/logs/client/http/destination.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/status/status_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#4268 [logs] Make linger time configurable for HTTP endpoints
  pkg/config/config.go
  pkg/logs/agent_test.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#4180 Added X-Dd-ContainerCount HTTP header when there are container metrics
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
Labels: changelog/no-changelog, team/burrito

#4197 Fix custom action to behave properly on RODC
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  releasenotes/notes/fixrodc-58337fd4e688e399.yaml
Labels: team/agent-core

#4264 Do not log an error if util.GetContainers() returns a detector error
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
Labels: changelog/no-changelog, team/burrito

#4235 [ebpf] Add DNS information to agent payload
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/encoding/encoding_test.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/encoding/json.go
  pkg/ebpf/encoding/protobuf.go
  pkg/ebpf/event_common.go
  pkg/ebpf/nettop/main.go
  pkg/ebpf/tracer.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
  pkg/process/net/network_linux.go
  pkg/process/net/network_nolinux.go
  releasenotes/notes/feature-a9047802549168c4.yaml
Labels: team/burrito

#4219 Add support for excluding port ranges and tcp/udp connections
  pkg/ebpf/network_filter.go
  pkg/ebpf/network_filter_test.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/util/network_filter.go
  pkg/process/util/network_filter_test.go
Labels: changelog/no-changelog, team/burrito

#4269 clamp kernel blacklist for system-probe
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  tools/ebpf/dev_setup.sh
Labels: changelog/no-changelog, team/burrito

#4252 Copy SNMP profiles during installation
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/agent-core, team/integrations

#4274 [rtloader] setting the correct lib search path iff they exist
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#4275 removing duplicated doc about DCA
  docs/cluster-agent/CUSTOM_METRICS_SERVER.md
  docs/cluster-agent/GETTING_STARTED.md
  docs/cluster-agent/README.md
Labels: changelog/no-changelog, team/containers

#4278 Upgrade JMXFetch to 0.33.0
  release.json
  releasenotes/notes/jmxfetch-0-33-0-0a026f31ed14443c.yaml
Labels: team/agent-core

#4243 Delay only docker services
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/listeners/docker.go
  pkg/util/kubernetes/kubelet/podwatcher.go
  releasenotes/notes/race-ad-kubelet-bc6d30c4f3d7e9b0.yaml
  test/integration/listeners/docker/docker_listener_test.go
Labels: component/autodiscovery, team/containers

#4258 Sets Agent5 source (windows) to specific test build from the `unstable`
  test/kitchen/kitchen-azure-wupgrade5.yml
  test/kitchen/kitchen-azure.yml
Labels: changelog/no-changelog, team/agent-core

#4241 Be more resilient to strange kubelet json
  pkg/util/kubernetes/kubelet/json.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_null_pod.json
  pkg/util/kubernetes/kubelet/testdata/podlist_startup.json
  releasenotes/notes/kubelet-json-34a7c8b2f1a3ceee.yaml
  test/integration/util/kubelet/insecurekubelet_test.go
  test/integration/util/kubelet/securekubelet_test.go
Labels: team/containers

#4263 add logic to include system-probe.yaml into flare
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  pkg/flare/test/datadog-agent.yaml
Labels: changelog/no-changelog, team/burrito

#4276 Copy profiles in integration command
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_test.go
Labels: changelog/no-changelog, component/cmd-agent, team/integrations

#4156 Run jmxfetch once on a call of the `check jmx` command
  cmd/agent/app/check.go
  cmd/agent/app/check_nojmx.go
  cmd/agent/app/jmx.go
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/agent-check-jmx-733a9d418f8cd493.yaml
Labels: team/agent-core

#4281 [omnibus] Preserve the python2-versioned 2to3 script
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/python2.rb
  releasenotes/notes/preserve-2to3-py2-f03fe4686c4786a1.yaml
Labels: team/agent-core, team/containers

#4224 Use pylint directly
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-a7-py2.rb
  pkg/collector/python/py3_checker.go
  releasenotes/notes/use-pylint-432d286b4fc49327.yaml
Labels: component/collector, team/integrations, team/platform

#4270 Remove irrelevant python binaries from the image
  Dockerfiles/agent/Dockerfile
Labels: changelog/no-changelog, team/containers

#4282 [releasenote] Mention label in error message printed by CI
  tasks/test.py
Labels: changelog/no-changelog, team/agent-core

#4175 [python] Review use of 'python' and 'pip' & change to 2 or 3 when necessary
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  pkg/collector/python/py3_checker.go
  rtloader/appveyor.yml
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#4196 Use Python 3 when it's the only one available
  cmd/agent/android/main_android.go
  cmd/agent/app/check.go
  cmd/agent/app/jmx.go
  cmd/agent/common/common_windows.go
  pkg/collector/python/helpers.go
  pkg/config/config.go
  pkg/config/config_test.go
  tasks/agent.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#4286 Fix default python runtime when both are present
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#4259 Fix Kubernetes events collection
  Dockerfiles/cluster-agent/conf.d/kubernetes_apiserver.d/conf.yaml.default
  cmd/agent/dist/conf.d/kubernetes_apiserver.d/conf.yaml.example
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver_test.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/events.go
  pkg/util/kubernetes/apiserver/events_test.go
  releasenotes/notes/fix-kubernetes-events-078fc86a33a98255.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: team/containers

#4287 [invoke] rpath should only require using the one location lib/lib64
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#4233 Fix registering of the External Metrics Server's API
  Gopkg.lock
  cmd/cluster-agent/custommetrics/server.go
Labels: changelog/no-changelog, team/containers

#4292 update container version
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#4293 [invoke] Only add rtloader ldflags if rtloader_lib is nonempty
  tasks/utils.py
Labels: changelog/no-changelog, team/burrito

#4277 Fixing status of DCA if the EMP is not enabled
  pkg/clusteragent/custommetrics/status.go
  pkg/status/dist/templates/custommetricsprovider.tmpl
  pkg/status/dist/templates/header.tmpl
Labels: changelog/no-changelog, team/containers

#4289 Re-include pylint in Agent packages
  omnibus/config/projects/agent.rb
  omnibus/config/software/pylint2.rb
Labels: changelog/no-changelog, team/integrations

#4285 Adding logic to avoid processing too many HPAs
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
Labels: changelog/no-changelog, team/containers

#4290 Adding a buffer of 1 for inventory in case the receiver is not yet ready
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
Labels: changelog/no-changelog, team/agent-core

#4291 Remove monotonic counters from network connection messages
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/encoding/encoding_test.go
  pkg/ebpf/encoding/format.go
Labels: changelog/no-changelog, team/burrito

#4294 Disable windows unit tests on Gitlab
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/platform

#4267 Storage API
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init.go
  pkg/config/config.go
  pkg/persistentcache/persistentcache.go
  pkg/persistentcache/persistentcache_test.go
  releasenotes/notes/storage-api-95ff933e9465b25f.yaml
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/builtins/datadog_agent.h
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/test/datadog_agent/datadog_agent.go
  rtloader/test/datadog_agent/datadog_agent_test.go
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: component/rtloader, kind/feature, team/integrations

#4295 [github] Fix CODEOWNERS default owner
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/platform

#4279 Update pipeline to independently build A6 or A7
  .gitlab-ci.yml
  release.json
Labels: changelog/no-changelog, team/containers, team/platform

#4296 Release 6.15.0-rc1
  release.json
Labels: changelog/no-changelog, team/platform

#4297 Fix inexistent output directory for windows build
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/platform

#4299 Only measure puppy size for A6.
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/platform

#4301 Prevent deb-s3 from running at the same time for 6 and 7
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/platform

#4303 Enable inventory by default
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#4304 [appveyor] Install deps before testing rtloader
  appveyor.yml
Labels: changelog/no-changelog, team/agent-core

#4305 Add 6.15.0-rc.2 and 6.16.0-rc.2
  release.json
Labels: changelog/no-changelog, team/agent-core

#4308 Reset error code to zero, so that uninstall won't fail if deleting
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  releasenotes/notes/allowuserfail-37c0eaca34275c7f.yaml
Labels: team/agent-platform

#4309 Fix system-probe internal deployment task
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/burrito

#4302 Fix tagger warning when docker container not found
  pkg/tagger/collectors/docker_main.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/Fix-tagger-warning-when-docker-container-not-found-ee755e2a2545e4f6.yaml
Labels: component/tagger, kind/bug, team/containers

#4311 DataDog agent builder update: Handle multiple files in validation script
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4313 [logs] Rename config key batch_period_in_s into batch_wait
  pkg/config/config.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#4312 Add 6.15.0-rc.3 and 7.15.0-rc.3
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4310 [omnibus] fix distutils in RHEL builds for binary compilation
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-core

#4314 Fix panic in GetTokenFromConfigmap() with nil map
  pkg/util/kubernetes/apiserver/apiserver.go
Labels: changelog/no-changelog, component/collector, kind/bug, team/containers

#4318 7.15.0-rc.4 and 6.15.0-rc.4
  release.json
Labels: changelog/no-changelog

#4306 Extract cloud provider detection outside of the hostname detection
  cmd/agent/app/run.go
  pkg/util/alibaba/alibaba.go
  pkg/util/azure/azure.go
  pkg/util/cloudprovider.go
  pkg/util/ec2/ec2.go
  pkg/util/ecs/ecs.go
  pkg/util/ecs/ecs_nodocker.go
  pkg/util/gce/gce.go
Labels: changelog/no-changelog, team/agent-core

#4321 Don't print sensitive data in install logs
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/sanitizeinstalllogs-03275281c3e9e802.yaml
Labels: team/agent-platform

#4323 Do not try to stop nil forwarder on exit
  cmd/agent/app/run.go
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core

#4326 Send networkID with CollectorProc messages that include containers
  pkg/process/checks/process.go
Labels: changelog/no-changelog, team/burrito

#4331 [ebpf] Fix nil pointer dereference bug for malformed DNS packets
  pkg/ebpf/dns_snooper.go
Labels: changelog/no-changelog, team/burrito

#4330 [gitlab] tag agent 7 independently
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4332 [rtloader] log_message: we should hold the GIL before parsing tuples
  rtloader/common/builtins/datadog_agent.c
Labels: changelog/no-changelog, team/agent-core

#4337 [Fix][cluster-agent] fix some bug around the event confimap store
  cmd/cluster-agent/api/v1/install.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/events.go
Labels: changelog/no-changelog, dca, kind/bug, team/containers

#4342 [cluster-agent] Fix EventToken configmap update
  pkg/util/kubernetes/apiserver/apiserver.go
Labels: changelog/no-changelog, dca, kind/bug, team/containers

#4338 [system-probe] Disable DNS inspection by default
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net-2.yaml
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#4341 Return err instead of nil while add config files in flare
  pkg/flare/archive.go
Labels: changelog/no-changelog, team/burrito

#4348 [logs] Expose compression metrics
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  pkg/logs/status/builder.go
  pkg/logs/status/status_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#4351 [reno] Only look at tags starting with `6.`
  releasenotes/config.yaml
Labels: changelog/no-changelog, dev/tooling, team/platform

#4346 Adding default for read timeout in the event collection
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/util/kubernetes/apiserver/events.go
Labels: changelog/no-changelog, team/containers

#4352 Fixing hostTags nil in header.tmpl & Collector.tmpl format
  pkg/status/dist/templates/collector.tmpl
  pkg/status/dist/templates/header.tmpl
Labels: changelog/no-changelog, team/agent-core

#4339 Fixes agent binary to not be dependent onthe VC9 runtime on A7 (when
  cmd/agent/agent-py2.exe.manifest
  cmd/agent/agent-py3.exe.manifest
  cmd/agent/agent.rc
  cmd/agent/agent32-py2.exe.manifest
  cmd/agent/agent32-py3.exe.manifest
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform

#4353 Create new python2 zip file without MS CRT
  omnibus/config/software/python2.rb
Labels: changelog/no-changelog, team/agent-platform

#4344 [DCA] Add toleration margin for clc advanced dispatching
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance_test.go
Labels: changelog/no-changelog, dca, team/containers

#4355 Ogaca/x.15.0 rc.6
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4356 Remove symlink to terminfo
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-platform

#4340 [ebpf] Disable socket filter for CentOS
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/dns_snooper_test.go
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/burrito

#4345 install_script changes for Agent 7 and ARM
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#4359 [releasenotes] Remove dev-related release note
  releasenotes/notes/rtloader-testing-accounting-and-fixes-41e46c6338c874fe.yaml
Labels: documentation, team/agent-core

#4357 [DCA][Fix] Show endpoints check source
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_endpoints_test.go
Labels: changelog/no-changelog, dca, team/containers

#4367 Revert "Remove home folder windows"
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/customaction.vcxproj
  omnibus/resources/agent/msi/cal/delfiles.cpp
  omnibus/resources/agent/msi/cal/stdafx.h
  omnibus/resources/agent/msi/cal/usercreate.cpp
  omnibus/resources/agent/msi/cal/userrights.cpp
  releasenotes/notes/remove-ddagentuser-folder-eb811b38023890c9.yaml
Labels: team/agent-core, team/agent-platform

#4358 Fix launching multiple times the docker provider
  pkg/autodiscovery/providers/docker.go
Labels: changelog/no-changelog, team/containers

#4368 [logs] Fix config key for additional endpoints
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#4365 [process] Handle case when `cpu.Times` returns an empty slice
  pkg/process/checks/process.go
  pkg/process/checks/process_rt.go
Labels: changelog/no-changelog, team/burrito

#4329 [system-probe] Improve DNS telemetry
  pkg/ebpf/dns.go
  pkg/ebpf/dns_cache.go
  pkg/ebpf/dns_cache_test.go
  pkg/ebpf/dns_snooper.go
  pkg/ebpf/dns_snooper_test.go
Labels: changelog/no-changelog, team/burrito

#4363 [DCA][Fix] Invalidate changed Endpoints config
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_endpoints_test.go
Labels: changelog/no-changelog, dca, team/containers

#4369 Add 6.15.0-rc.7 and 6.15.0-rc.7
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4372 Revert "Remove home folder windows (#3994)"
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/customaction.vcxproj
  omnibus/resources/agent/msi/cal/delfiles.cpp
  omnibus/resources/agent/msi/cal/stdafx.h
  omnibus/resources/agent/msi/cal/usercreate.cpp
  omnibus/resources/agent/msi/cal/userrights.cpp
  releasenotes/notes/remove-ddagentuser-folder-eb811b38023890c9.yaml
Labels: changelog/no-changelog, team/agent-platform

#4371 [kitchen] Fix install script kitchen test not finding apt/yum repo
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4375 Split A6/A7 pipelines for Windows
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4376 Add 6.15.0-rc.8 and 7.15.0-rc.8
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4385 Release 6.14.2
  release.json
  releasenotes/notes/prelude-release-6.14.2-d3be785f2b67f08f.yaml
  test/kitchen/kitchen-azure.yml
Labels: team/agent-platform

#4388 Use RELEASE_VERSION_6 env var
  .gitlab-ci.yml
  release.json
Labels: team/agent-platform

#4380 Update datadog-agent RBAC in DCA folder
  Dockerfiles/manifests/cluster-agent/rbac/rbac-agent.yaml
Labels: changelog/no-changelog, team/containers

#4390 Update changelog for 6.14.2
  CHANGELOG.rst
  releasenotes/notes/prelude-release-6.14.2-d3be785f2b67f08f.yaml
Labels: team/agent-platform

#4393 Added release 6.15.0-rc.9 and 7.15.0-rc.9
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4386 [DCA] [Fix] Get clc runner IPs from headers
  cmd/cluster-agent/api/v1/clusterchecks.go
  cmd/cluster-agent/api/v1/clusterchecks_test.go
Labels: changelog/no-changelog, dca, team/containers
