Repository DataDog/datadog-agent, pull requests merged in 2019-12, with the labels that each got.

#4537 Fix process agent to just send empty usernames when can't get username
  pkg/process/checks/allprocesses_windows.go
  releasenotes/notes/fixprocessuser-4aec145e005a5caa.yaml
Labels: team/burrito

#4539 Backport changes from 6.14.x branch
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#4531 [kitchen] Add SUSE 11 kitchen tests
  .gitlab-ci.yml
  cmd/agent/install_script.sh
  omnibus/package-scripts/agent/posttrans
  omnibus/package-scripts/agent/prerm
  test/kitchen/kitchen-azure-common.yml
  test/kitchen/kitchen-azure-upgrade5-test.yml
  test/kitchen/kitchen-azure-upgrade6-test.yml
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4543 [gitlab] Ensure cloudfront invalidation runs after successful deploy
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#4549 Do not panic when the cluster-name is invalid
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
  releasenotes/notes/validate-cluster-name-06ce2c1e32f5ffc0.yaml
Labels: kind/bug, team/containers

#4552 [GUI] Remove "6" version from page title
  cmd/agent/gui/views/templates/index.tmpl
Labels: changelog/no-changelog, team/agent-core

#4560 [cmd] Add missing line return in windows GUI logs section
  cmd/agent/gui/views/templates/generalStatus.tmpl
Labels: changelog/no-changelog, component/GUI, kind/bug, team/agent-core, team/logs

#4564 Add 7.16.0-rc.2 and 6.16.0-rc2
  release.json
Labels: changelog/no-changelog, team/agent-core

#4565 Update CHANGELOG for 6.14.3
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-platform

#4561 Avoid panic in conntracker#isNAT
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
Labels: changelog/no-changelog, team/burrito

#4559 [DCA] MetricServer generates k8s event on HPA|WPA
  Gopkg.lock
  cmd/cluster-agent/app/app.go
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/types.go
  pkg/util/kubernetes/apiserver/wpa_controller.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: changelog/no-changelog, dca, team/containers

#4569 [config_template] Document new flare_stripped_keys option
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/integrations

#4577 Fix jpype patch
  omnibus/config/patches/datadog-agent-integrations-py2/jpype_0_7.patch
  omnibus/config/patches/datadog-agent-integrations-py3/jpype_0_7.patch
Labels: changelog/no-changelog, component/config, kind/packaging, team/agent-core, team/integrations

#4580 Add 7.16.0-rc.3 and 6.16.0-rc.3
  release.json
Labels: changelog/no-changelog, team/agent-core

#4566 [DCA] Support CLC advanced dispatching for Node Agents
  cmd/cluster-agent/api/v1/clusterchecks.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance_test.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/clusteragent/clusterchecks/types/types.go
  releasenotes-dca/notes/advanced-dispatching-node-agents-49fe89a801a53fe9.yaml
Labels: changelog/no-changelog, team/containers

#4584 Add 7.16.0-rc.4 and 6.16.0-rc.4
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4585 [SUSE] Enable init scripts with chkconfig
  omnibus/package-scripts/agent/posttrans
  omnibus/package-scripts/agent/prerm
Labels: changelog/no-changelog, team/agent-platform

#4586 Add 7.16.0-rc.5 and 6.16.0-rc.5
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4593 Latest tags update
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core, team/agent-platform, team/containers

#4582 Add a flag (IGNORESVCSTATUS) to allow the installation to succeed even if
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-platform

#4598 Add 7.16.0-rc.6 and 6.16.0-rc.6
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4595 [gitlab] Fix version that's pulled in latest_release_7 job
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#4602 logs/agent: Warn messages when we can't properly close the agent.
  pkg/logs/agent.go
Labels: changelog/no-changelog, team/agent-core, team/logs

#4604 Add 7.16.0-rc.7 and 6.16.0-rc.7
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4605 Bump pip to 19.3.1
  omnibus/config/patches/pip2/remove-python27-deprecation-warning.patch
  omnibus/config/software/pip2.rb
  omnibus/config/software/pip3.rb
  releasenotes/notes/pip-upgrade-urllib3-0b094c61c11a5672.yaml
Labels: kind/packaging, team/agent-platform

#4608 [release.json] 7.16.0-rc.8
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4596 [gitlab] Version dogstatsd and puppy binaries/packages with v7 tag
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4609 Update update_changelog to use 7.x tags
  releasenotes/config.yaml
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform

#4611 Allow dots in cluster names
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
Labels: changelog/no-changelog, component/config, kind/bug, team/burrito, team/containers

#4613 Add 7.16.0-rc.9 and 6.16.0-rc.9
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4620 [release note] Add prelude note about Agent 7
  releasenotes/notes/agent-7-prelude-73db5a64808ff94b.yaml
Labels: documentation, team/agent-core

#4623 Push "datadog/dogstatsd:7" tag as well when releasing latest
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#4622 Add 6.16.0 and 7.16.0
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4629 Update change log
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-platform

#4438 install_script: warn if version not specified
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#4498 [macOS install script] Allow selecting major version to install
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-platform

#4228 [BasicCache] Only update timestamp if value was added/changed
  pkg/util/cache/basic_cache.go
  pkg/util/cache/basic_cache_test.go
Labels: changelog/no-changelog, team/agent-core

#4631 Properly install latest available versions of the Agent with install script on Fedora
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#4610 docs: links for Agent v7 documentation.
  README.md
  docs/agent/changes.md
  docs/agent/config.md
  docs/agent/hostname-resolution.md
  docs/agent/missing_features.md
  docs/agent/upgrade.md
Labels: changelog/no-changelog, documentation, team/agent-core

#4633 [kitchen] Use chef-datadog 4.0.0
  test/kitchen/Berksfile
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4548 dsd parsing: remove allocations during int and float parsing
  pkg/dogstatsd/parser.go
Labels: changelog/no-changelog, component/dogstatsd, team/agent-core

#4461 improve murmur3 perf
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/time_sampler_test.go
  pkg/metrics/context_metrics_test.go
  pkg/metrics/sketch_series_test.go
  pkg/metrics/test_helper.go
Labels: changelog/no-changelog, component/dogstatsd, kind/performance, team/agent-core

#4632 Cherry-pick: Update change log (#4629)
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-platform

#4617 Adding batching logic to retrieve External Metrics values
  Gopkg.lock
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/wpa_controller.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/processor.go
  pkg/util/kubernetes/autoscalers/processor_test.go
Labels: changelog/no-changelog, team/containers

#4551 [dca] small changelog fixes
  CHANGELOG-DCA.rst
Labels: changelog/no-changelog, component/cluster-agent, team/containers

#4562 [entrypoint] ensure leader election only if DD_LEADER_ELECTION is true
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  releasenotes/notes/fix-leader-election-env-var-usage-7e9c38faa403a702.yaml
Labels: team/containers

#4587 [clcrunner] add pod ip to request header
  cmd/cluster-agent/api/v1/clusterchecks.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
Labels: changelog/no-changelog, team/containers

#4550 Add container_mode to set source/service for container logs read from journald
  pkg/logs/config/integration_config.go
  pkg/logs/input/journald/tailer.go
  pkg/logs/input/journald/tailer_test.go
  pkg/logs/input/journald/tailer_util.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/journald-containter-src-ovr-2515a05844d2b8c1.yaml
Labels: component/logs, team/containers

#4625 Automatically format tracer-ebpf.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/burrito

#4555 [gitlab] Add details in failure slack message
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#4642 [gitlab] Tweak verbosity of jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#4637 [invoke] Add the v6 tag (if present) to the release title in changelog
  tasks/release.py
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#4645 Explicitly pin to agent 7 in manifests
  Dockerfiles/manifests/agent-clusterchecks-only.yaml
  Dockerfiles/manifests/agent-kubelet-only.yaml
  Dockerfiles/manifests/agent.yaml
Labels: changelog/no-changelog, team/containers

#4590 [system-probe] Print kernel and platform versions when there are missing kernel functions
  cmd/system-probe/main.go
  pkg/ebpf/common.go
Labels: changelog/no-changelog, team/burrito

#4636 Use DNS encoder in CollectorConnections
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, kind/performance, team/burrito

#4621 Bump Debian base image to current testing (bullseye)
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  releasenotes/notes/base-image-bullseye-e0266946db9d20a7.yaml
Labels: kind/security, team/containers

#4563 Allow ref to capture groups in mask replacement
  pkg/logs/processor/processor.go
  pkg/logs/processor/processor_test.go
  releasenotes/notes/use-capture-groups-in-mask-sequences-4acbb79ab6a7f7b5.yaml
Labels: component/logs, team/agent-core

#4643 Document hostname_force_config_as_canonical
  docs/agent/hostname_force_config_as_canonical.md
Labels: changelog/no-changelog, documentation, team/agent-core

#4544 `inv test` learnt `--no-cache` to bypass go tests caching
  tasks/test.py
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4641 Dockerhub readmes
  Dockerfiles/agent/DOCKERHUB.md
  Dockerfiles/cluster-agent/DOCKERHUB.md
  Dockerfiles/dogstatsd/DOCKERHUB.md
Labels: changelog/no-changelog, team/containers

#4653 Fix --incremental-build option for process-agent/system-probe
  tasks/process_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, team/burrito

#4545 Fix race condition in singleton initialization
  pkg/process/net/network_linux.go
  pkg/util/docker/global.go
  pkg/util/kubernetes/kubelet/kubelet.go
  releasenotes/notes/fix_singleton_race-690c575b8830e5bd.yaml
Labels: kind/bug, team/burrito, team/containers

#4655 docs: fix link syntax
  pkg/dogstatsd/listeners/README.md
Labels: changelog/no-changelog, documentation, team/agent-core

#4659 [docs] Update link to 7.16 hostname config option docs
  docs/agent/hostname_force_config_as_canonical.md
  pkg/util/hostname.go
Labels: changelog/no-changelog, team/agent-core

#4660 [release] adding 6.16.1~rc.1 and 7.16.1~rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#4654 Use open source ARM images for building on CI
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4607 [processes] Fix container check error handling
  pkg/process/checks/container.go
Labels: changelog/no-changelog, team/burrito

#4626 Always fallback to Host IP Provider
  pkg/util/docker/host_ip_provider.go
Labels: changelog/no-changelog, team/burrito

#4597 [system-probe] Fix DNS cache name lost
  pkg/ebpf/dns_cache.go
  pkg/ebpf/dns_cache_test.go
Labels: changelog/no-changelog, team/burrito

#4634 Add dogstatsd ARM build
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4594 Add a tag for kubernetes node role in host metadata
  pkg/util/kubernetes/hostinfo/tags.go
  pkg/util/kubernetes/hostinfo/tags_test.go
  releasenotes/notes/add-a-tag-for-kubernetes-node-role-in-host-metadata-8c426335a7732577.yaml
Labels: team/containers

#4663 [release] creating 6.16.1 and 7.16.1 entries
  release.json
Labels: changelog/no-changelog, team/agent-core

#4557 [invoke/rtloader] Add rtloader.clean command to clear CMake's cache
  tasks/rtloader.py
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#4674 [gitlab] Update Windows builders and fix env vars
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4670 Disallow binary/conf directory changes on upgrade
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  omnibus/resources/agent/msi/localization-en-us.wxl.erb
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/nochangedirs-3a59b0abb8caa529.yaml
Labels: team/agent-platform

#4624 Re-add windows source tests.
  .gitignore
  .gitlab-ci.yml
  pkg/trace/info/info_test.go
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#4675 [release] build 7.16.1-rc.2 and 6.16.1-rc.2
  release.json
Labels: changelog/no-changelog, team/agent-core

#4649 [slack notifier] Add commit author
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#4671 [kitchen] Revert allow failure on Windows upgrade from Agent 6 jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4677 [release] 7.16.1 and 6.16.1 final builds
  release.json
Labels: changelog/no-changelog, team/agent-core

#4483 Add an integration test for conntrack
  pkg/ebpf/netlink/conntracker_integration_test.go
Labels: changelog/no-changelog, team/burrito

#4579 Fix tracer-ebpf compilation on Ubuntu 19.04 Disco
  pkg/ebpf/c/tracer-ebpf.c
  releasenotes/notes/fix_ebpf_compilation-3afacd5471cd37ec.yaml
Labels: component/system-probe, kind/bug, team/burrito

#4661 [Logs][Fix] Simplify logs tagging logic + add waiting for k8s tags
  pkg/config/config.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/file/tailer.go
  pkg/logs/tag/noop_provider.go
  pkg/logs/tag/provider.go
  releasenotes/notes/fix-logs-tagging-350289df776b181f.yaml
Labels: component/logs, team/containers

#4536 Make the log agent retry to connect to docker rather than giving up
  pkg/logs/input/container/launcher.go
  pkg/logs/input/container/noop.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_nodocker.go
  releasenotes/notes/collect_logs_docker_started_after_agent-7ab9653c7d0e9f08.yaml
Labels: component/logs, kind/bug, team/containers, team/logs
