Repository DataDog/datadog-agent, pull requests merged in 2019-06, with the labels that each got.

#3582 [windows] add `system.mem.pagefile.*` metrics back to memory corecheck.
  pkg/collector/corechecks/system/memory_windows.go
  pkg/collector/corechecks/system/memory_windows_test.go
  pkg/util/winutil/winmem.go
  releasenotes/notes/winpagefilemetrics-b7f354de00af0342.yaml
Labels: team/agent-core

#3614 [six] handler: actually return and set error status
  six/six/six.cpp
Labels: changelog/no-changelog, team/agent-core

#3610 Handle error from PySequence_Length
  six/common/builtins/aggregator.c
Labels: changelog/no-changelog, team/agent-core

#3533 Bump gopsutil version
  Gopkg.lock
  Gopkg.toml
Labels: changelog/no-changelog, kind/bug, team/agent-core, team/burrito

#3574 Refactor dev docs, add details about custom builtins
  docs/dev/README.md
  docs/dev/checks/README.md
  docs/dev/checks/builtins/_util.md
  docs/dev/checks/builtins/aggregator.md
  docs/dev/checks/builtins/containers.md
  docs/dev/checks/builtins/datadog_agent.md
  docs/dev/checks/builtins/kubeutil.md
  docs/dev/checks/builtins/tagger.md
  docs/dev/checks/builtins/util.md
  docs/dev/checks/python/README.md
  docs/dev/checks/python/aggregator.md
  docs/dev/checks/python/check_api.md
  docs/dev/checks/python/datadog_agent.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3550 [windows] remove pyc files during rollback
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/customaction.vcxproj
  omnibus/resources/agent/msi/cal/delfiles.cpp
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  test/kitchen/kitchen-azure-winstall.yml
  test/kitchen/kitchen-azure.yml
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows_base.rb
  test/kitchen/test/integration/dd-agent-install-fail/rspec/dd-agent-install-fail_spec.rb
Labels: changelog/no-changelog, team/agent-core

#3616 [release] Add release target 6.12.0-rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#3621 Free string copies created by as_string before freeing ev
  six/common/builtins/aggregator.c
Labels: changelog/no-changelog, team/agent-core

#3497 Send logs over HTTP
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/agent_test.go
  pkg/logs/client/destination.go
  pkg/logs/client/destinations.go
  pkg/logs/client/errors.go
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/client/tcp/connection_manager.go
  pkg/logs/client/tcp/connection_manager_test.go
  pkg/logs/client/tcp/delimiter.go
  pkg/logs/client/tcp/delimiter_test.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/client/tcp/prefixer.go
  pkg/logs/client/tcp/prefixer_test.go
  pkg/logs/client/tcp/test_utils.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/logs.go
  pkg/logs/message/origin.go
  pkg/logs/message/origin_test.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/processor/encoder.go
  pkg/logs/processor/encoder_test.go
  pkg/logs/processor/json.go
  pkg/logs/processor/processor.go
  pkg/logs/processor/proto.go
  pkg/logs/processor/raw.go
  pkg/logs/sender/batch_sender.go
  pkg/logs/sender/config.go
  pkg/logs/sender/message_buffer.go
  pkg/logs/sender/message_buffer_test.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/stream_sender.go
  pkg/logs/sender/stream_sender_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3601 Fix integration command
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_darwin.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_windows.go
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core, team/integrations

#3624 pkg/ebpf/tracer: fix tests
  pkg/ebpf/tracer_test.go
Labels: changelog/no-changelog, team/burrito

#3622 Resubmit service on phase change
  Gopkg.lock
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_container_not_ready.json
  pkg/util/kubernetes/kubelet/testdata/podlist_container_ready.json
Labels: changelog/no-changelog, component/autodiscovery, team/containers

#3618 handle errors set by from_yaml and as_yaml
  six/common/builtins/datadog_agent.c
  six/common/builtins/kubeutil.c
Labels: changelog/no-changelog, team/agent-core

#3626 Remove call to Py_Finalize
  six/three/three.cpp
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3630 Update DataDog/gopsutil to the latest rev
  .circleci/config.yml
  Gopkg.lock
  Gopkg.toml
  releasenotes/notes/Update-gopsutil-7688e96a4276f4f3.yaml
Labels: kind/enhancement, team/burrito

#3565 Add Protobuf serialization to system-probe
  cmd/system-probe/probe.go
  cmd/system-probe/probe_test.go
  pkg/ebpf/encoding/encoding.go
  pkg/ebpf/encoding/encoding_test.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/encoding/json.go
  pkg/ebpf/encoding/protobuf.go
  pkg/ebpf/event_common.go
  pkg/ebpf/event_common_easyjson.go
  pkg/ebpf/event_test.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/event.go
  pkg/ebpf/netlink/event_easyjson.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/model/agent.pb.go
  pkg/process/net/network_linux.go
  pkg/process/net/network_nolinux.go
  pkg/process/proto/agent.proto
  pkg/process/util/address.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/burrito

#3632 Handle redirects when uploading a flare
  pkg/flare/flare.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3638 deps: cleanup easyjson
  Gopkg.lock
Labels: changelog/no-changelog, team/burrito

#3637 Restrict change detection for "clang-format"
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-core

#3640 process-agent: fix invoke build task
  tasks/process_agent.py
Labels: changelog/no-changelog, team/burrito

#3641 Fix PATH env var so GCC it always found
  tasks/process_agent.py
Labels: changelog/no-changelog, team/burrito

#3628 Fix bug of sending empty log from docker container
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/matcher.go
  pkg/logs/input/docker/matcher.go
  pkg/logs/input/docker/matcher_test.go
  pkg/logs/input/docker/parser.go
  pkg/logs/input/docker/parser_test.go
  pkg/logs/input/docker/tailer.go
  releasenotes/notes/logs-fix-empty-log-with-docker-container-64129b051c554ad4.yaml
Labels: component/logs, kind/bug, team/logs

#3636 [pip2] Remove python 2.7 deprecation warnings
  omnibus/config/patches/pip2/remove-python27-deprecation-warning.patch
  omnibus/config/software/pip2.rb
Labels: changelog/no-changelog, team/agent-core

#3648 [LOGS]: Removed logs_config.http_dd_url to use logs_config.dd_url instead
  pkg/config/config.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3645 Do not report additional_endpoints as "unknown fields"
  pkg/config/config.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3650 system-probe: Fix s6 service
  Dockerfiles/agent/s6-services/sysprobe/finish
Labels: changelog/no-changelog, team/burrito

#3653 DogStatsD doc
  docs/dogstatsd/README.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3629 exit datadog_agent.set_external_tags on failure to iterate over the tag list
  six/common/builtins/datadog_agent.c
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3657 Fix agent panic when install an unknown integration
  cmd/agent/app/integrations.go
Labels: changelog/no-changelog, team/integrations

#3654 Fix AD service removal
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
Labels: changelog/no-changelog, component/autodiscovery, kind/bug, team/containers

#3656 [sysprobe] Apply rename to package scripts as well
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
Labels: changelog/no-changelog, team/burrito

#3663 Fixes for two (and three)
  six/three/three.cpp
  six/two/two.cpp
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3660 Prevent panic when no integration version is found
  cmd/agent/app/integrations.go
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core, team/integrations

#3659 Revert "Add protobuf serialization to system-probe (#3565)"
  cmd/system-probe/probe.go
  cmd/system-probe/probe_test.go
  pkg/ebpf/encoding/encoding.go
  pkg/ebpf/encoding/encoding_test.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/encoding/json.go
  pkg/ebpf/encoding/protobuf.go
  pkg/ebpf/event_common.go
  pkg/ebpf/event_common_easyjson.go
  pkg/ebpf/event_test.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/event.go
  pkg/ebpf/netlink/event_easyjson.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/model/agent.pb.go
  pkg/process/net/network_linux.go
  pkg/process/net/network_nolinux.go
  pkg/process/proto/agent.proto
  pkg/process/util/address.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/burrito

#3665 [Logs]: Use docker integration to collect logs by default on kubernetes.
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/config/config_test.go
  pkg/logs/input/container/launcher.go
  releasenotes/notes/logs-container-configuration-toggle-f5f8b2831c6a575f.yaml
Labels: component/logs, team/logs

#3668 [integrations] refactor success message
  cmd/agent/app/integrations.go
Labels: changelog/no-changelog, team/integrations

#3662 Check return of six's init()
  pkg/collector/python/init.go
  six/include/datadog_agent_six.h
  six/include/six.h
  six/six/api.cpp
  six/test/init/init.go
  six/three/three.cpp
  six/three/three.h
  six/two/two.cpp
  six/two/two.h
Labels: changelog/no-changelog, team/agent-core

#3671 [pkg/status] Refer to the web app as "Datadog" instead of "web app"
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/status/dist/templates/header.tmpl
  releasenotes/notes/add-warning-ntp-offset-too-high-4ecabb07d0fd3417.yaml
Labels: team/agent-core

#3642 Refactor flare so we don't have to handle redirects manually
  pkg/flare/flare.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3658 Expire stale conntrack connections
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/generation.go
  pkg/ebpf/netlink/generation_test.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3678 system-probe: Avoid warning logs for some of the config fields
  pkg/config/config.go
Labels: changelog/no-changelog, team/burrito

#3685 Don't fail installation if an integration doesn't already exist
  cmd/agent/app/integrations.go
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core, team/integrations

#3686 Fix iostat counter wrap for await times
  pkg/collector/corechecks/system/iostats_nix.go
  pkg/collector/corechecks/system/iostats_nix_test.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3695 [windows] add hidden config flag to skip the COM initialization; for
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#3694 [windows] fix uninstall to be sure to remove PYC files.
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-core

#3691 [kitchen] update berksfile to use datadog 2.19.0 properly.
  test/kitchen/Berksfile
Labels: changelog/no-changelog, team/agent-core

#3683 bogus error log when events are submited without timestamps, handle error in aggregator.submit_event
  pkg/collector/python/aggregator.go
  six/common/builtins/aggregator.c
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3699 Fix service removal on flaky readiness
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
Labels: changelog/no-changelog, component/autodiscovery, kind/bug, team/containers

#3726 Fix multiple scheduling for short readiness change
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
Labels: changelog/no-changelog, component/autodiscovery, kind/bug, team/containers

#3722 [six] initialize pyyaml: cache relevant pyobjects, and use C-extensions
  six/common/builtins/kubeutil.c
  six/common/stringutils.c
  six/common/stringutils.h
  six/test/datadog_agent/datadog_agent.go
  six/test/kubeutil/kubeutil.go
  six/test/util/util.go
  six/three/three.cpp
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3724 Added the possibility to send logs to multiple destinations when using HTTP
  pkg/logs/client/http/destination.go
  pkg/logs/config/config.go
Labels: changelog/no-changelog, component/logs, team/logs

#3730 system-probe: Allow centos 7 if kernel is >= 3.10.0
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  pkg/process/util/util.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3739 process-agent: Get bind_host from the main config and not the process agent subconfig
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3740 make series payload max size configurable, better defaults
  pkg/config/config.go
  pkg/serializer/jsonstream/compressor.go
  pkg/serializer/jsonstream/compressor_test.go
Labels: changelog/no-changelog, team/agent-core

#3745 Separate tag watching logic in podwatcher
  pkg/autodiscovery/listeners/kubelet.go
  pkg/tagger/collectors/kubelet_main.go
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
Labels: changelog/no-changelog, component/autodiscovery, component/tagger, kind/bug, team/containers

#3735 Added missing config entries
  pkg/config/config.go
Labels: changelog/no-changelog, kind/bug, team/agent-apm, team/agent-core, team/burrito, team/logs

#3742 Explicitly prevent `secrets` from building on windows for the process
  tasks/process_agent.py
Labels: changelog/no-changelog, team/agent-core

#3746 release 6.12.0-rc.9
  release.json
Labels: changelog/no-changelog, team/agent-core

#3747 trace/api: add missing expvar handler and fix silent test fail
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/agent-apm

#3750 Bundle libyaml
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, team/agent-core

#3751 release 6.12.0-rc.10
  release.json
Labels: changelog/no-changelog, team/agent-core

#3756 release 6.12
  release.json
Labels: changelog/no-changelog, team/agent-core

#3563 [system-probe] auto mount debugfs
  omnibus/config/templates/datadog-agent/systemd.sysprobe.service.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.sysprobe.erb
  omnibus/config/templates/datadog-agent/upstart_debian.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.sysprobe.conf.erb
Labels: changelog/no-changelog, team/burrito

#3757 Revert "[system-probe] auto mount debugfs"
  omnibus/config/templates/datadog-agent/systemd.sysprobe.service.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.sysprobe.erb
  omnibus/config/templates/datadog-agent/upstart_debian.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.sysprobe.conf.erb
Labels: changelog/no-changelog, team/burrito

#3760 allow test kitchen failures on centos and suse
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3761 add a note in the prelude about not shipping on windows
  releasenotes/notes/prelude-release-6.12.0-e13c367d9d8e6f1b.yaml
Labels: changelog/no-changelog, team/agent-core

#3762 Update CHANGELOG for 6.12.0
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#3647 Backport fixes from two to three
  six/three/three.cpp
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3664 Cleanup and other non-fixes for two (and three)
  six/common/builtins/aggregator.c
  six/three/three.cpp
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3711 Verify we don't have leftover files on uninstall
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3644 Fix unmarshal receiving non-pointer to output map
  cmd/agent/app/config.go
  cmd/agent/app/health.go
  cmd/agent/app/launchgui.go
  cmd/agent/app/secret.go
  cmd/agent/app/status.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3712 Delete .kitchen from previous runs
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3717 add the golang version to the version command
  cmd/agent/app/version.go
  releasenotes/notes/go-version-59ed0a4e948ddef4.yaml
Labels: team/agent-core

#3661 [pkg/forwarder] Set User-Agent on api key validation request
  pkg/forwarder/forwarder_health.go
Labels: changelog/no-changelog, team/agent-core

#3652 [cmd/agent/app] Rewrite CLI input confirmation messages
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/flare.go
Labels: changelog/no-changelog, team/agent-core

#3702 [test/kitchen] Update and re-format kitchen docs
  test/kitchen/README.md
  test/kitchen/docs/README.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3721 [test/kitchen] Clean up kitchen yamls and fix upgrade-agent-6 suite
  test/kitchen/kitchen-azure-winstall.yml
  test/kitchen/kitchen-azure.yml
Labels: changelog/no-changelog, team/agent-core

#3609 process-agent,system-probe: tag the heartbeat by revision aswell
  cmd/process-agent/collector.go
  cmd/system-probe/probe.go
Labels: changelog/no-changelog, team/burrito

#3758 process-agent: bump gopsutil version and use the same handleSignal helper for all platforms
  Gopkg.lock
  Gopkg.toml
  pkg/process/util/signal_nowindows.go
  pkg/process/util/signal_windows.go
Labels: changelog/no-changelog, team/burrito

#3698 [omnibus/config/software] Update sysstat definition ship_source usage
  omnibus/config/software/sysstat.rb
Labels: changelog/no-changelog, team/agent-core

#3620 pkg/trace/metrics: add disk writer statsd client
  pkg/trace/agent/run.go
  pkg/trace/flags/flags_benchmarking.go
  pkg/trace/flags/flags_z.go
  pkg/trace/metrics/client.go
  pkg/trace/metrics/metrics.go
  pkg/trace/metrics/metrics_benchmarking.go
Labels: changelog/no-changelog, team/agent-apm

#3690 Removing outdated doc
  docs/agent/downgrade.md
  docs/beta.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3765 Revert "Revert "[system-probe] auto mount debugfs""
  omnibus/config/templates/datadog-agent/systemd.sysprobe.service.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.sysprobe.erb
  omnibus/config/templates/datadog-agent/upstart_debian.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.sysprobe.conf.erb
Labels: changelog/no-changelog, team/burrito

#3714 add commandline argument for system-probe to access unix socket endpoints
  cmd/system-probe/check_cmd.go
  cmd/system-probe/main.go
Labels: changelog/no-changelog, team/burrito

#3680 Secrets Management feature is now GA
  Dockerfiles/agent/secrets-helper/README.md
  docs/agent/secrets.md
Labels: documentation, team/agent-core

#3769 add known kubernetes integration issue on 6.12.0
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#3720 [six][docs] adds doxygen style documentation to six + minor cleanup
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init_nix.go
  six/common/builtins/_util.c
  six/common/builtins/_util.h
  six/common/builtins/aggregator.c
  six/common/builtins/aggregator.h
  six/common/builtins/containers.c
  six/common/builtins/containers.h
  six/common/builtins/datadog_agent.c
  six/common/builtins/datadog_agent.h
  six/common/builtins/kubeutil.c
  six/common/builtins/kubeutil.h
  six/common/builtins/tagger.c
  six/common/builtins/tagger.h
  six/common/builtins/util.c
  six/common/builtins/util.h
  six/common/cgo_free.h
  six/common/stringutils.c
  six/common/stringutils.h
  six/include/datadog_agent_six.h
  six/include/six.h
  six/six/api.cpp
  six/six/six.cpp
  six/three/three.cpp
  six/three/three.h
  six/two/two.cpp
  six/two/two.h
Labels: changelog/no-changelog, team/agent-core

#3768 system-probe: Add comment about why we are expiring tcp connections
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/burrito

#3594 [LOGS]: Refactor HTTP client
  pkg/logs/client/errors.go
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/sender/batch_sender.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
  pkg/logs/sender/message_buffer.go
  pkg/logs/sender/message_buffer_test.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/sender_test.go
  pkg/logs/sender/serializer.go
  pkg/logs/sender/serializer_test.go
  pkg/logs/sender/stream_sender.go
  pkg/logs/sender/stream_strategy.go
  pkg/logs/sender/stream_strategy_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3774 changelog for 6.12.1
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core
