Repository DataDog/datadog-agent, pull requests merged in 2019-05, with the labels that each got.

#3362 Allow users to install RCs of integrations
  Gopkg.lock
  Gopkg.toml
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_test.go
  releasenotes/notes/int_rc-7079c8f49d7ac324.yaml
Labels: component/cmd-agent, team/integrations

#3386 Add option to alias with hostname in addition to bosh_id
  pkg/config/config.go
  pkg/metadata/host/host.go
  pkg/util/cloudfoundry/cloudfoundry.go
  pkg/util/cloudfoundry/cloudfoundry_test.go
  releasenotes/notes/pcf_alias-0d227fd4f5d7af93.yaml
Labels: team/integrations

#3285 New main configuration file
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, documentation, kind/enhancement, team/agent-core, team/agent-guild, team/apm, team/baklava, team/bourbon, team/burrito, team/containers, team/engtools, team/integrations, team/logs, team/xuxu

#3400 Revert "Update 'latest' tag for agent-dev docker image"
  .gitlab-ci.yml
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3330 Warn about unknown keys in config yaml
  .circleci/config.yml
  Gopkg.lock
  Gopkg.toml
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/viper.go
  releasenotes/notes/warn-unknown-keys-1724cdee02d841c9.yaml
Labels: kind/enhancement, team/agent-core

#3402 pkg/trace/writer: fix panic
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/apm

#3401 pkg/trace/api: absorb memory based rate-limiting into presampler
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/sampler/presampler.go
Labels: changelog/no-changelog, team/apm

#3375 pkg/trace/{api,writer}: add buffered channels to blocking goroutines
  pkg/trace/agent/agent.go
  pkg/trace/api/api_test.go
  pkg/trace/config/config_test.go
  pkg/trace/writer/config/payload.go
  pkg/trace/writer/fixtures_test.go
  pkg/trace/writer/payload.go
  pkg/trace/writer/payload_test.go
  releasenotes/notes/apm-buffered-writer-channels-204d42dd86564375.yaml
Labels: changelog/no-changelog, team/apm

#3310 Adjust log verbosity
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/py/kubeutil.go
  pkg/collector/runner/runner.go
  pkg/collector/scheduler.go
  pkg/config/config.go
  pkg/dogstatsd/server.go
  pkg/forwarder/transaction.go
  pkg/logs/input/container/launcher.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/scheduler/scheduler.go
  pkg/tagger/tagger.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/run.go
  pkg/trace/agent/sampler.go
  pkg/trace/api/api.go
  pkg/trace/api/responses.go
  pkg/trace/config/apply.go
  pkg/trace/filters/blacklister.go
  pkg/trace/stats/concentrator.go
  pkg/trace/traceutil/trace.go
  pkg/trace/watchdog/info.go
  pkg/trace/writer/payload.go
  pkg/trace/writer/service.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
  pkg/util/kubernetes/apiserver/common/common.go
Labels: changelog/no-changelog, team/agent-guild

#3399 Fix initialization sequence for Six
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init.go
Labels: changelog/no-changelog, team/agent-core

#3406 Revert Appveyor changes
  appveyor.yml
  pkg/collector/python/init.go
  tasks/agent.py
  tasks/test.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#3408 Adding note to the CHANGELOG about 6.11.0 not being latest on windows
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#3389 Adding basic test for 'python' package
  .gitignore
  pkg/collector/python/aggregator_test.go
  pkg/collector/python/check.go
  pkg/collector/python/check_test.go
  pkg/collector/python/datadog_agent_test.go
  pkg/collector/python/kubeutil.go
  pkg/collector/python/kubeutil_test.go
  pkg/collector/python/loader_test.go
  pkg/collector/python/tagger.go
  pkg/collector/python/tagger_test.go
  pkg/collector/python/test_aggregator.go
  pkg/collector/python/test_check.go
  pkg/collector/python/test_datadog_agent.go
  pkg/collector/python/test_kubeutil.go
  pkg/collector/python/test_loader.go
  pkg/collector/python/test_tagger.go
  pkg/collector/python/test_util.go
  pkg/collector/python/util_test.go
  tasks/go.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-core

#3404 [Fix] Immutable MetaBundle stored in cache.Cache
  pkg/clusteragent/api/v1/types.go
  pkg/clusteragent/api/v1/types_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_kubelet.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/services_kubelet.go
  pkg/util/kubernetes/apiserver/services_kubelet_test.go
  pkg/util/kubernetes/apiserver/store.go
Labels: changelog/no-changelog, team/containers

#3409 Improve invoke task to handle multiple python
  .circleci/config.yml
  .gitlab-ci.yml
  appveyor.yml
  omnibus/config/software/datadog-agent.rb
  pkg/collector/python/init.go
  six/three/three.cpp
  six/two/two.cpp
  tasks/agent.py
  tasks/go.py
  tasks/test.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#3410 pkg/trace/writer: switch flushing threshold to max.
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/apm

#3396 [Docker Check] add kernel memory usage metric
  pkg/collector/corechecks/containers/docker.go
  pkg/util/containers/container_linux.go
  pkg/util/containers/metrics/cgroup_metrics.go
  pkg/util/containers/types.go
  releasenotes/notes/docker-kernel-memory-usage-metric-9ae1fecc1f5c0da8.yaml
  test/integration/corechecks/docker/basemetrics_test.go
Labels: kind/enhancement, team/containers

#3414 Remove '--use-embedded-libs' option which is no longer used
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-dogstatsd.rb
  tasks/agent.py
  tasks/android.py
  tasks/build_tags.py
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/go.py
  tasks/systray.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#3415 Fix `novet` option semantic
  pkg/util/log/log_test.go
  pkg/util/winutil/shutil.go
  pkg/util/winutil/test_shutil.go
  tasks/go.py
Labels: changelog/no-changelog, dev/testing, team/agent-core

#3302 cmd/dogstatsd-stats: ask confirmation before overwriting the output file
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/flare.go
  cmd/cluster-agent/app/flare.go
  pkg/util/input/input.go
  releasenotes/notes/dogstatsd-stats-do-not-overwrite-f7d1ad227e871391.yaml
Labels: team/agent-core

#3395 Upgrade Kitchen
  omnibus/.gitignore
  test/kitchen/.gitignore
  test/kitchen/Berksfile
  test/kitchen/README.md
  test/kitchen/Rakefile
  test/kitchen/kitchen-apt-check-azure.yml
  test/kitchen/kitchen-azure-winstall.yml
  test/kitchen/kitchen-azure.yml
  test/kitchen/list.txt
  test/kitchen/tasks/apt-test-6.sh
  test/kitchen/tasks/diagnose.sh
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-alt-dir/rspec/dd-agent-alt-dir_spec.rb
  test/kitchen/test/integration/dd-agent-upgrade-x64/rspec/dd-agent-upgrade_spec.rb
  test/kitchen/test/integration/dd-agent-upgrade/rspec/dd-agent-upgrade_spec.rb
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3419 Upgrade pyyaml to 5.1
  requirements.txt
Labels: changelog/no-changelog, team/agent-core

#3420 Updating Changelog for the Cluster Agent 1.3.0
  CHANGELOG-DCA.rst
Labels: changelog/no-changelog, team/containers

#3412 pkg/trace/writer: introduce concurrent writing
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/testdata/full.ini
  pkg/trace/config/testdata/full.yaml
  pkg/trace/config/testdata/undocumented.yaml
  pkg/trace/writer/config/payload.go
  pkg/trace/writer/fixtures_test.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  releasenotes/notes/apm-concurrent-writing-bfb28ce8db427391.yaml
Labels: team/apm

#3421 Update secrets.md
  docs/agent/secrets.md
Labels: changelog/no-changelog, documentation, team/integrations

#3376 collect ip port and protocol for fargate containers
  pkg/util/ecs/common.go
  pkg/util/ecs/common_test.go
  pkg/util/ecs/ecs_test.go
  pkg/util/ecs/testutil/dummy_ecs.go
  pkg/util/ecs/types.go
Labels: changelog/no-changelog, team/containers

#3431 Make lib destination consistent in two/three/six
  omnibus/config/software/datadog-agent-six.rb
  six/six/CMakeLists.txt
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#3428 Remove separate `six` def; include the six build in the datadog-agent
  omnibus/config/software/datadog-agent-six.rb
  omnibus/config/software/datadog-agent.rb
Labels: changelog/no-changelog, team/agent-core

#3430 pkg/trace/api: add self oom kill at 1.5x max. memory
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/metrics/metrics.go
  pkg/trace/test/testutil/statsd.go
Labels: changelog/no-changelog, team/apm

#3429 pkg/trace/api: add an endpoint to enable block profiling
  pkg/trace/api/api.go
Labels: changelog/no-changelog, team/apm

#3441 pkg/config: add known APM keys
  pkg/config/config.go
Labels: changelog/no-changelog, team/apm

#3436 Datadog.yaml configuration file. Migrate apm param
  docs/trace-agent/datadog.example.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, documentation, team/apm

#3435 Fix problem with duplicate DLLs being installed
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-core

#3444 Remove unused --use-venv option
  tasks/agent.py
  tasks/trace_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#3433 Add the cmake requirement to README.md
  README.md
Labels: changelog/no-changelog

#3442 pkg/trace/writer: fix flaky test
  pkg/trace/writer/sender.go
Labels: changelog/no-changelog, team/apm

#3446 [jmxfetch] Use target_filename to define on-disk name of downloaded file
  omnibus/config/software/jmxfetch.rb
Labels: changelog/no-changelog, team/agent-core

#3449 [6.11.x] Use 6.11.x branch of omnibus-ruby
  release.json
Labels: changelog/no-changelog, team/agent-core

#3439 [pkg/status] Add host tags to agent status and status gui tab
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/status.go
  releasenotes/notes/add-host-tags-to-status-d7eac72734a20cb4.yaml
Labels: team/agent-core

#3405 Handle iostats counters overflow
  pkg/collector/corechecks/system/iostats_nix.go
  pkg/collector/corechecks/system/iostats_nix_test.go
  releasenotes/notes/iostats-counters-overflow-02985d323175aadc.yaml
Labels: kind/bug, team/agent-core

#3437 Don't require inv params to build a dev agent that just works & updated the docs
  README.md
  docs/dev/agent_dev_env.md
  tasks/utils.py
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3447 Fix string type in the datadog_agent module
  six/common/_util.h
  six/common/datadog_agent.c
  six/test/datadog_agent/datadog_agent.go
  six/test/datadog_agent/datadog_agent_test.go
Labels: changelog/no-changelog, team/agent-core

#3425 Remove temporary changes to the gitlab pipeline
  .gitlab-ci.yml
  cmd/py-launcher/py-launcher.go
  tasks/go.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-core

#3454 Lower log line to debug
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#3443 Docker parser per tailer
  pkg/logs/input/docker/parser.go
  pkg/logs/input/docker/parser_test.go
  pkg/logs/input/docker/tailer.go
  releasenotes/notes/Docker-parser-per-tailer-c834707af1942d1b.yaml
Labels: component/logs, kind/enhancement, team/logs

#3458 [release.json] Pin `nightly` to versions of repos known to work
  release.json
Labels: changelog/no-changelog, team/agent-core

#2497 Add postgresql dependency on ARM and pass environment to pip commands
  omnibus/config/software/datadog-agent-integrations.rb
  omnibus/lib/ostools.rb
Labels: changelog/no-changelog, community, kind/enhancement, team/agent-core

#3392 Bump jmxfetch dependency to 0.28.0
  release.json
  releasenotes/notes/jmxfetch-upgrade-42f7b2a0ec5866f9.yaml
Labels: kind/enhancement, team/agent-core

#3450 [pkg/status] Add explicit warning when ntp offset is too high
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/helpers.go
  pkg/status/helpers_test.go
  releasenotes/notes/add-warning-ntp-offset-too-high-4ecabb07d0fd3417.yaml
Labels: team/agent-core

#3456 Blacklist integrations not building on ARM
  omnibus/config/software/datadog-agent-integrations.rb
  omnibus/lib/ostools.rb
Labels: changelog/no-changelog, community, kind/enhancement, team/agent-core

#3461 Alias pip to 'pip2' on Linux
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-core

#3459 pkg/trace/obfuscate: allow module operators in SQL tokenizer
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-sql-obfuscation-modulo-271d765a78d678e5.yaml
Labels: team/apm

#3464 pkg/trace/api: reply 200 when rejecting requests
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/apm

#3462 Properly move configuration files for locally installed wheels
  cmd/agent/app/integrations.go
  releasenotes/notes/properly-move-conf-files-for-locally-installed-wheels-45bcc613d13cf191.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#3440 Allow using .* as wildcard when setting config keys as known
  pkg/config/config.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3453 Make install more resilient to missing domain controller
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/stopservices.cpp
  omnibus/resources/agent/msi/cal/usercreate.cpp
Labels: changelog/no-changelog, team/agent-core

#3457 release: release target 6.11.2-rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#3465 pkg/trace/config: allow stats payload sends to be parallel
  pkg/trace/config/apply.go
  pkg/trace/config/config_test.go
  releasenotes/notes/apm-parallel-stats-writer-45f4c572015748b0.yaml
Labels: team/apm

#3463 Support Python 3 in omnibus
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/templates/datadog-agent-integrations-py2/static_requirements.txt.erb
  omnibus/config/templates/datadog-agent-integrations-py3/static_requirements.txt.erb
  releasenotes/notes/ship-integrations-on-py3-18812c2bedd88460.yaml
Labels: component/config, team/agent-guild, team/integrations

#3423 pkg/trace/metrics/timing: add timing package for measuring hot paths
  pkg/trace/agent/agent.go
  pkg/trace/api/api.go
  pkg/trace/atomic/float.go
  pkg/trace/metrics/timing/example_test.go
  pkg/trace/metrics/timing/timing.go
  pkg/trace/metrics/timing/timing_test.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/test/testutil/statsd.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/apm

#3394 [changelog] Fix trace search link
  CHANGELOG.rst
Labels: changelog/no-changelog, documentation, team/apm

#3467 [kitchen] Actually pin chef version
  test/kitchen/kitchen-azure-winstall.yml
  test/kitchen/kitchen-azure.yml
Labels: changelog/no-changelog, team/agent-core

#3469 pkg/trace/api: add a feature flag for 429 presampling responses
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/apm

#3470 pkg/trace/api: fix an edge-case in tag normalization
  pkg/trace/api/normalizer.go
  pkg/trace/api/normalizer_test.go
  releasenotes/notes/apm-normalize-replacement-char-00bb27b680029ef6.yaml
Labels: team/apm

#3471 Removed config binding for logset which is not used anymore
  cmd/agent/android/app/src/main/assets/datadog.yaml
  pkg/config/config.go
  pkg/config/viper_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3472 Remove unused dep constraint
  Gopkg.toml
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3476 config: Allow env override of jmxfetch check_period
  pkg/collector/check/check.go
  pkg/collector/check/defaults/defaults.go
  pkg/collector/check/defaults/doc.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/checkbase_test.go
  pkg/collector/python/check.go
  pkg/config/config.go
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/override-jmxfetch-check_period-ee2430e75fd8dd47.yaml
Labels: team/agent-core

#3448 [Metadata]: Correctly stop scheduler go routine
  pkg/metadata/scheduler.go
  pkg/metadata/scheduler_test.go
  releasenotes/notes/fix-metadata-scheduler-goroutine-8ea11479c918087d.yaml
Labels: component/metadata, kind/bug, team/logs

#3477 [release] release target 6.11.2-rc.2
  release.json
Labels: changelog/no-changelog, team/agent-core

#3481 KubeUtil, fix race condition in KubeUtil fields
  pkg/util/kubernetes/kubelet/kubelet.go
  releasenotes/notes/fix-race-condition-on-KubeUtil.rawConnectionInfo-254c4d68c325dd8d.yaml
Labels: component/collector, team/containers

#3452 process-agent,network-tracer: Move the main packages and the tooling
  .github/CODEOWNERS
  cmd/network-tracer/main.go
  cmd/network-tracer/tracer.go
  cmd/process-agent/README.md
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/info.go
  cmd/process-agent/info_test.go
  cmd/process-agent/main.go
  cmd/process-agent/main_common.go
  cmd/process-agent/main_windows.go
  cmd/process-agent/windows_resources/process-agent-msg.mc
  cmd/process-agent/windows_resources/process-agent.rc
  cmd/process-agent/windows_resources/project.ico
  cmd/process-agent/windows_resources/project_16x16.ico
  cmd/process-agent/windows_resources/project_32x32.ico
  cmd/process-agent/windows_resources/version.h
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.mk
  pkg/ebpf/nettop/main.go
  pkg/ebpf/nettop/readme.md
  pkg/ebpf/tracer-ebpf.go
  tasks/__init__.py
  tasks/network_tracer.py
  tasks/process_agent.py
  tasks/utils.py
  tools/ebpf/Dockerfiles/Dockerfile-ebpf
  tools/ebpf/Dockerfiles/Dockerfile-tracer-dev
  tools/ebpf/dev_setup.sh
Labels: changelog/no-changelog, team/burrito

#3482 [pkg/status] Fix status page and agent status crash because of host tags
  pkg/status/status.go
Labels: changelog/no-changelog, team/agent-core

#3484 process-agent,network-tracer: add omnibus build steps
  .gitignore
  .gitlab-ci.yml
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-process-agent.rb
  pkg/ebpf/c/tracer-ebpf.mk
  pkg/ebpf/ebpf_bytes_match_test.go
  pkg/ebpf/tracer-ebpf.go
  tasks/network_tracer.py
  tasks/process_agent.py
  tools/ebpf/Dockerfiles/Dockerfile-ebpf
  tools/ebpf/dev_setup.sh
Labels: changelog/no-changelog, team/burrito

#3486 Fix release for Win2k8. Needs specific C runtime in binary dir to
  omnibus/config/software/vc_redist.rb
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-core

#3491 [release] release target 6.11.2
  release.json
Labels: changelog/no-changelog, team/agent-core

#3487 Improve get_class resiliency
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3473 Remove spurious error log
  pkg/collector/python/aggregator.go
Labels: changelog/no-changelog, component/aggregator, team/agent-core

#3496 Fix trace agent to properly locate windows core agent with changes for
  pkg/trace/config/config_windows.go
Labels: changelog/no-changelog, team/agent-core

#3495 Fixes assumption that group name for "Performance Monitor Users" is
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/userrights.cpp
  releasenotes/notes/fixlocalized-d55db28b708fb627.yaml
Labels: team/agent-core

#3498 [release] release target 6.11.2-rc.3
  release.json
Labels: changelog/no-changelog, team/agent-core

#3483 Fix exception raised when no 'tags' key is provided in event dict
  six/common/builtins/aggregator.c
  six/test/aggregator/aggregator_test.go
Labels: changelog/no-changelog, team/agent-core

#3499 Remove cast for consistency
  pkg/collector/python/check.go
Labels: changelog/no-changelog, team/agent-core

#3500 Fix network-tracer build in arm64
  tasks/network_tracer.py
Labels: changelog/no-changelog, kind/enhancement, team/burrito

#3493 process-agent,network-tracer: Backport all the recent changes
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  pkg/ebpf/address.go
  pkg/ebpf/address_test.go
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/config.go
  pkg/ebpf/event.go
  pkg/ebpf/event_common.go
  pkg/ebpf/event_common_easyjson.go
  pkg/ebpf/event_test.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/event.go
  pkg/ebpf/netlink/event_easyjson.go
  pkg/ebpf/netlink/net_ns.go
  pkg/ebpf/netlink/noop.go
  pkg/ebpf/netlink/ntohs.go
  pkg/ebpf/netlink/ntohs_test.go
  pkg/ebpf/state.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/checks/net.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
  pkg/process/model/agent.pb.go
  pkg/process/proto/agent.proto
  tasks/network_tracer.py
  tools/ebpf/Dockerfiles/Dockerfile-tracer-dev
Labels: changelog/no-changelog, team/burrito

#3501 [python] Free a C string
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#3503 [proc] add network_tracer configs as known flags to get rid of the warnings
  pkg/config/config.go
Labels: changelog/no-changelog, team/burrito

#3312 Split start and restart commands
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-core

#3468 Use Yaml instead of JSON between six and the agent
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  appveyor.yml
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/helpers.go
  pkg/collector/python/kubeutil.go
  pkg/collector/python/test_datadog_agent.go
  pkg/collector/python/test_kubeutil.go
  six/common/builtins/datadog_agent.c
  six/common/builtins/kubeutil.c
  six/common/stringutils.c
  six/common/stringutils.h
  six/include/six_types.h
  six/test/containers/containers.go
  six/test/datadog_agent/datadog_agent.go
  six/test/kubeutil/kubeutil.go
  six/test/six/six.go
  six/test/util/util.go
  six/three/three.cpp
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3504 pkg/process/{model,config}: force using zstd v0.5 to avoid breaking with the intake and fix agent bin path on windows
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  pkg/process/config/config_windows.go
  pkg/process/model/message.go
  pkg/process/model/message_test.go
  pkg/process/model/testdata/test_zstd.0.5.dump
  tasks/release.py
Labels: changelog/no-changelog, team/burrito

#3507 tools/ebpf: fix the setup of the VM
  tools/ebpf/dev_setup.sh
Labels: changelog/no-changelog, team/burrito

#3509 Revert "Split start and restart commands"
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-core

#3480 Refactor Logs decoding
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/input/docker/parser.go
  pkg/logs/input/docker/parser_test.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/kubernetes/parser.go
  pkg/logs/input/kubernetes/parser_test.go
  pkg/logs/input/listener/tailer.go
  pkg/logs/input/windowsevent/tailer.go
  pkg/logs/message/message.go
  pkg/logs/parser/parser.go
  pkg/logs/parser/parser_test.go
  pkg/logs/processor/processor_test.go
  pkg/logs/sender/sender_test.go
Labels: changelog/no-changelog, component/logs, kind/enhancement, team/logs

#3505 Fix crash in `integration` command
  cmd/agent/app/integrations.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3512 remove a Py_XDECREF on a ref we lost ownership of
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3515 Fix release note
  releasenotes/notes/pcf_alias-0d227fd4f5d7af93.yaml
Labels: changelog/no-changelog, team/integrations

#3511 Various fixes for libdatadog-agent-two
  six/two/two.cpp
  six/two/two.h
Labels: changelog/no-changelog, team/agent-core

#3516 [python] Comment on why we don't free the pythonHome C string
  pkg/collector/python/init.go
Labels: changelog/no-changelog, team/agent-core

#3479 [pkg/gui/checks] Prevent crash when creating custom check config with the GUI
  cmd/agent/gui/checks.go
  releasenotes/notes/fix-custom-check-config-add-gui-3cff9efb4acdc0d3.yaml
Labels: team/agent-core

#3525 tag nightly docker images on agent-dev with unique tag
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core, team/containers

#3530 publish the dogstatsd image in the correct place when sending nightlies to dockerhub
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core, team/containers

#3520 Use pyyaml patch
  omnibus/config/patches/datadog-agent-integrations-py2/create-regex-at-runtime.patch
  omnibus/config/software/datadog-agent-integrations-py2.rb
  releasenotes/notes/use-pyyaml-patch-for-costly-regex-97dc285e26288e03.yaml
Labels: component/config, kind/packaging, team/agent-core, team/integrations

#3518 Remove last python code from the agent
  cmd/agent/dist/utils/py_mem.py
  cmd/agent/dist/utils/py_packages.py
Labels: changelog/no-changelog, team/agent-core

#3508 s/network-tracer/system-probe
  .github/CODEOWNERS
  .gitignore
  .gitlab-ci.yml
  Dockerfiles/agent/SUPERVISION.md
  Dockerfiles/agent/s6-services/network/run
  Dockerfiles/agent/s6-services/sysprobe/finish
  Dockerfiles/agent/s6-services/sysprobe/run
  cmd/agent/main.go
  cmd/process-agent/README.md
  cmd/process-agent/main.go
  cmd/process-agent/main_common.go
  cmd/system-probe/main.go
  cmd/system-probe/probe.go
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/templates/datadog-agent/systemd.network.service.erb
  omnibus/config/templates/datadog-agent/systemd.process.service.erb
  omnibus/config/templates/datadog-agent/systemd.sysprobe.service.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.sysprobe.erb
  omnibus/config/templates/datadog-agent/upstart_debian.process.conf.erb
  omnibus/config/templates/datadog-agent/upstart_debian.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.process.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.sysprobe.conf.erb
  omnibus/package-scripts/agent/postinst
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/ebpf/common.go
  pkg/ebpf/tracer_test.go
  pkg/flare/envvars.go
  pkg/process/checks/net.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndNetworkConfig-Net.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net-2.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig.yaml
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
  pkg/process/net/network_linux.go
  pkg/process/net/network_nolinux.go
  pkg/process/net/uds.go
  pkg/process/net/uds_test.go
  tasks/__init__.py
  tasks/agent.py
  tasks/system_probe.py
  tools/ebpf/Dockerfiles/Dockerfile-tracer-dev
  tools/ebpf/dev_setup.sh
Labels: changelog/no-changelog, team/burrito

#3531 Update the CHANGELOG for 6.11.2
  CHANGELOG.rst
Labels: team/agent-core

#3490 Warn about duplicated keys in integration yamls
  pkg/autodiscovery/providers/file.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3534 Bump jmxfetch version
  release.json
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3538 Fix bug missing last logs when docker container terminates
  pkg/logs/decoder/line_handler.go
  releasenotes/notes/logs-missing-fix-24bdc1960a02f127.yaml
Labels: component/logs, kind/bug, team/logs

#3524 [omnibus] Fix macOS omnibus build crash on system-probe steps
  omnibus/config/software/datadog-agent.rb
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#2375 Set User-Agent string
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  releasenotes/notes/Set-User-Agent-string-ada57303d92b2f53.yaml
Labels: team/bourbon

#3492 pkg/process/checks: Use x/sys/windows instead of /syscall
  pkg/process/checks/allprocesses_windows.go
Labels: changelog/no-changelog, team/burrito

#3485 docker - include "unhealthy" statement
  pkg/util/docker/containers.go
  pkg/util/docker/docker_test.go
Labels: changelog/no-changelog, kind/bug, team/containers

#3527 Omnibus: Bundle only python2
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-a7-py2.rb
  omnibus/config/software/datadog-a7-py3.rb
  omnibus/config/software/datadog-a7.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/lib/ostools.rb
  release.json
  tasks/six.py
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#3519 network-tracer/system-probe: Fix issue with multiple clients and closed connections and add a workaround for underflows
  cmd/system-probe/probe.go
  pkg/ebpf/state.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/burrito

#3540 Reduce string casts for IP addresses by using Address struct everywhere
  pkg/ebpf/event.go
  pkg/ebpf/event_common.go
  pkg/ebpf/event_test.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/noop.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer.go
  pkg/process/util/address.go
  pkg/process/util/address_test.go
Labels: changelog/no-changelog, team/burrito

#3541 Update ebpf state tests to handle util.AddressFromString
  pkg/ebpf/state_test.go
Labels: changelog/no-changelog, team/burrito

#3478 [doc][template] adding jmx_check_period to template - missed in #3476
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, documentation, team/agent-core

#3543 Use two conntrack sockets & forward conntrack logs
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/logging.go
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/burrito

#3547 Bump the minimum kernel version needed for system-probe
  pkg/ebpf/common.go
Labels: changelog/no-changelog, team/burrito

#3549 Fix windows build. Change to allow specifying 2, 3 or both included
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-a7-py2.rb
  omnibus/config/software/datadog-a7-py3.rb
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-core

#3551 Wipe autotools from the package
  omnibus/config/patches/libkrb5/aclocal-add-parameter-to-disable-keyutils-detection.patch
  omnibus/config/software/libkrb5.rb
  releasenotes/notes/dont-ship-autotools-baaf15320a78cfcb.yaml
Labels: team/agent-core

#3514 [Logs][Enhancement]: Expose logs expvar metrics through the agent status
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/logs.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
  pkg/logs/status/test_utils.go
  pkg/status/dist/templates/logsagent.tmpl
  releasenotes/notes/add-status-logs-metrics-f91ff2ebea159875.yaml
Labels: component/logs, kind/enhancement, team/logs

#3557 Fix nil pointer access for Containerd Check
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  releasenotes/notes/fix_containerd_nil_pointer-204d5f8b041b67de.yaml
Labels: team/containers

#3558 Allow for configurable limits on map sizes for network and conntrack state
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/state.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#3560 pkg/ebpf: Fix beautify key
  pkg/ebpf/event_common.go
  pkg/ebpf/event_test.go
Labels: changelog/no-changelog, team/burrito

#3506 [proc] add expvar to system-probe
  cmd/system-probe/main.go
  cmd/system-probe/probe.go
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/noop.go
  pkg/ebpf/state.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#3555 Add close to Didrotate for log scanner
  pkg/logs/input/file/rotate.go
Labels: changelog/no-changelog, component/logs, kind/enhancement, team/logs

#3571 pkg/trace/config: ensure secrets in environment variables get loaded
  pkg/config/config.go
  pkg/trace/config/config.go
  pkg/trace/config/env.go
  pkg/trace/test/agent.go
  pkg/trace/test/testsuite/secrets_test.go
  pkg/trace/test/testsuite/testdata/secretscript.go
  releasenotes/notes/apm-secrets-in-environment-190ecede8cc8fa0b.yaml
Labels: team/agent-apm, team/agent-core

#3570 [pkg/config] Fix jmx_check_period default
  pkg/config/config.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3517 Fix two memleak where python objets where not free in some cases
  six/common/builtins/_util.c
  six/common/builtins/datadog_agent.c
  six/common/builtins/tagger.c
Labels: changelog/no-changelog, team/agent-core

#3568 [release] release target 6.11.3-rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#3539 [six][common] some minor preprocessor cleanup + comments
  six/common/builtins/containers.c
  six/common/builtins/kubeutil.c
  six/common/builtins/kubeutil.h
  six/common/builtins/tagger.c
  six/common/builtins/tagger.h
  six/common/cgo_free.c
  six/common/stringutils.c
  six/common/stringutils.h
  six/three/three.h
  six/two/two.h
Labels: changelog/no-changelog, team/agent-core

#3573 [jmxfetch] Bump to 0.29.1
  release.json
  releasenotes/notes/jmxfetch-upgrade-42f7b2a0ec5866f9.yaml
Labels: team/agent-core

#3561 Ensure that computeMem is safe
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  releasenotes/notes/[containerd]-Ensure-that-computeMem-is-safe-e08c0a29ee46d396.yaml
Labels: team/containers

#3564 Don't overwrite configuration in cases of encrypted environement variables
  pkg/process/config/config.go
  pkg/process/config/config_nix_test.go
  pkg/process/config/testdata/TestEnvSiteConfig-Enc.yaml
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#3577 Update JMXFetch to 0.27.1
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/jmxfetch-0_27_1-0d46d48c2a88e1c9.yaml
Labels: team/agent-core

#3535 disables repo_gpgcheck in for RH
  cmd/agent/install_script.sh
  docs/agent/downgrade.md
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
Labels: changelog/no-changelog, team/agent-core

#3579 [release] Release target 6.11.3-rc.2
  release.json
Labels: changelog/no-changelog, team/agent-core

#3578 Allow for hostname to be passed as encrypted environment variable
  pkg/process/config/config.go
  pkg/process/config/config_nix_test.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig.yaml
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#3576 pkg/trace/config: ensure secrets are resolved when no config file exists
  pkg/trace/config/config.go
Labels: changelog/no-changelog, team/agent-apm

#3575 [six/two] Fix missing decref on `instances`
  six/two/two.cpp
Labels: changelog/no-changelog, team/agent-core

#3580 DD_PROCESS_AGENT_ENABLED should only have true and false states
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/fix-6f81ff164bc42b89.yaml
Labels: kind/bug, team/burrito

#3559 process-agent,system-probe: Add an internal_deploy stage to the pipeline
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/burrito

#3581 pkg/process/checks: Use the process agent PID as the client ID
  pkg/process/checks/net.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3532 [integrations] fix parseWheelPackageName
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_test.go
  cmd/agent/app/testdata/integrations/datadog_my_integration_name_first_line_valid.whl
  cmd/agent/app/testdata/integrations/datadog_my_integration_name_second_line_valid.whl
  cmd/agent/app/testdata/integrations/datadog_my_integration_no_name_invalid.whl
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core, team/integrations

#3526 Split start and restart commands
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-core

#3585 pkg/trace/api: name the OOM kill metric datadog.trace_agent.receiver.oom_kill
  pkg/trace/api/api.go
Labels: changelog/no-changelog, team/agent-apm

#3372 Consider non ready services in autodiscovery
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_kubelet.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/collector/scheduler.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/logs/input/docker/ad_identifier_kubelet.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
  pkg/logs/scheduler/scheduler.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/util/kubernetes/kubelet/containers.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_init_container_running.json
  pkg/util/kubernetes/kubelet/testdata/podlist_init_container_terminated.json
  pkg/util/kubernetes/kubelet/testdata/podlist_short_lived_absent.json
  pkg/util/kubernetes/kubelet/testdata/podlist_short_lived_terminated.json
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/init-stopped-container-ad-a76798efc547412c.yaml
Labels: component/autodiscovery, team/containers, team/logs

#3587 [system-probe] exit if debugfs is not mounted
  cmd/system-probe/main.go
  cmd/system-probe/probe.go
  pkg/process/config/config.go
  pkg/process/util/util.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3562 Fix external tag behavioron unicode
  six/common/builtins/datadog_agent.c
  six/common/stringutils.c
  six/test/datadog_agent/datadog_agent_py2_test.go
  six/test/datadog_agent/datadog_agent_py3_test.go
  six/test/datadog_agent/datadog_agent_test.go
Labels: changelog/no-changelog, team/agent-core

#3589 system-probe: Fix underflows/stats resets caused by unordered connections
  pkg/ebpf/state.go
  pkg/ebpf/state_test.go
Labels: changelog/no-changelog, kind/bug, team/burrito
