Repository DataDog/datadog-agent, pull requests merged in 2019-08, with the labels that each got.

#3932 [releasenotes] Clarify purpose and usage of the `Upgrade Notes` section
  docs/dev/contributing.md
  releasenotes/config.yaml
Labels: changelog/no-changelog, dev/tooling, documentation, team/agent-core

#3964 [system-probe] add closed_channel_size to known config
  pkg/config/config.go
Labels: changelog/no-changelog, team/burrito

#3963 [docs] Update Agent omnibus docker build command
  docs/dev/agent_omnibus.md
Labels: changelog/no-changelog, team/agent-core

#3966 Add logger helper to rtloader
  pkg/collector/python/init.go
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/log.c
  rtloader/common/log.h
  rtloader/common/stringutils.c
  rtloader/include/rtloader_types.h
  rtloader/three/CMakeLists.txt
  rtloader/two/CMakeLists.txt
Labels: changelog/no-changelog, team/agent-core

#3953 [dockerfile] agent-dev py2+py3 image for integrations-core
  .gitlab-ci.yml
  Dockerfiles/agent/Dockerfile
  tasks/agent.py
Labels: changelog/no-changelog, dev/testing, team/agent-core

#3977 [omnibus] Build system-probe during the omnibus build
  .gitlab-ci.yml
  omnibus/config/software/datadog-agent.rb
Labels: changelog/no-changelog, team/agent-core

#3952 Track install size of the Unix packages
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3967 Db/cert ssm
  omnibus/config/projects/agent.rb
  tasks/agent.py
  tasks/ssm.py
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#3830 Allow 32-bit builds
  .gitignore
  Gopkg.lock
  Gopkg.toml
  cmd/agent/agent.rc
  cmd/agent/agent32.exe.manifest
  cmd/process-agent/collector.go
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/vc_redist.rb
  omnibus/config/software/vc_redist_14.rb
  omnibus/config/software/vc_ucrt_redist.rb
  omnibus/omnibus.rb
  omnibus/resources/agent/msi/cal/customaction.vcxproj
  omnibus/resources/agent/msi/cal/stopservices.cpp
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/collector/collector.go
  pkg/collector/runner/runner.go
  pkg/collector/scheduler/scheduler.go
  pkg/forwarder/domain_forwarder.go
  pkg/process/checks/allprocesses_windows.go
  pkg/util/winutil/pdhutil/pdh.go
  pkg/util/winutil/pdhutil/pdh_386.go
  pkg/util/winutil/pdhutil/pdh_amd64.go
  pkg/util/winutil/pdhutil/pdhhelper.go
  pkg/util/winutil/shutil.go
  pkg/util/winutil/test_shutil.go
  pkg/util/winutil/winmem.go
  pkg/util/winutil/winmem_386.go
  pkg/util/winutil/winmem_amd64.go
  rtloader/CMakeLists.txt
  rtloader/rtloader/CMakeLists.txt
  rtloader/two/CMakeLists.txt
  tasks/agent.py
  tasks/customaction.py
  tasks/go.py
  tasks/process_agent.py
  tasks/rtloader.py
  tasks/systray.py
  tasks/trace_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#3982 Fixed a concurrency issue in logs-agent when using HTTP and dual-shipping
  pkg/logs/pipeline/pipeline.go
  pkg/logs/sender/batch_strategy_test.go
  pkg/logs/sender/serializer.go
  pkg/logs/sender/serializer_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3986 Use a variable to pin the builders in the pipeline.
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3954 Fixing placeholder to match new marathon conf.yaml file
  Dockerfiles/agent/entrypoint/50-mesos.sh
  releasenotes/notes/fix-marathon-entry-point-1fc2727e0fdac0c7.yaml
Labels: kind/bug, team/containers, team/integrations

#3849 disable fast fallback aka "happy eyeballs" on go 1.12
  pkg/util/common.go
Labels: changelog/no-changelog, team/agent-core

#3983 backport processing of new cert to 6.13
  omnibus/config/projects/agent.rb
  tasks/agent.py
  tasks/ssm.py
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#3950 Change info structure allocation.
  pkg/collector/python/init.go
  pkg/collector/python/test_loader.go
  rtloader/demo/main.c
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/test/rtloader/rtloader.go
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: changelog/no-changelog, team/agent-core

#3947 Load custom jar in JMX command
  cmd/agent/app/jmx.go
  pkg/collector/corechecks/embed/jmx/runner.go
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/cmd-jmx-options-6a1a75d4bbf62ca2.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#3975 [rtloader] Add doxygen config & rtloader.generate-doc invoke task
  .gitignore
  docs/dev/agent_dev_env.md
  releasenotes/notes/add-doxygen-265adb2ee5851bce.yaml
  rtloader/doxygen/CustomDoxygen.css
  rtloader/doxygen/Doxyfile
  tasks/rtloader.py
Labels: team/agent-core

#3910 pkg/flare: add trace-agent expvars into flare, when available.
  pkg/flare/archive.go
Labels: changelog/no-changelog, team/agent-core

#3961 [rtloader] high-level memory profiling metrics
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  omnibus/config/patches/datadog-agent/0001-sles-sys-types.h-must-be-included-here-to-build.patch
  omnibus/config/software/datadog-agent.rb
  pkg/collector/python/check.go
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/helpers.go
  pkg/collector/python/init.go
  pkg/collector/python/kubeutil.go
  pkg/collector/python/loader.go
  pkg/collector/python/memory.go
  pkg/collector/python/no_kubeutil.go
  pkg/collector/python/tagger.go
  pkg/collector/python/util.go
  releasenotes/notes/rtloader-high-level-mem-usage-261b2d463b4f8ccb.yaml
  rtloader/common/builtins/_util.c
  rtloader/common/builtins/aggregator.c
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/builtins/kubeutil.c
  rtloader/common/builtins/tagger.c
  rtloader/common/rtloader_mem.c
  rtloader/common/rtloader_mem.h
  rtloader/common/stringutils.c
  rtloader/demo/main.c
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/CMakeLists.txt
  rtloader/rtloader/api.cpp
  rtloader/rtloader/rtloader.cpp
  rtloader/test/common/cgo_free_three.go
  rtloader/test/common/cgo_free_two.go
  rtloader/test/tagger/tagger.go
  rtloader/three/three.cpp
  rtloader/two/two.cpp
  tasks/test.py
  tasks/utils.py
Labels: team/agent-core

#3998 Fix root CA org name
  pkg/api/security/security.go
Labels: changelog/no-changelog, team/agent-core, team/containers

#4000 [rtloader] Fix undefined __THROW on MacOS
  rtloader/common/rtloader_mem.h
Labels: changelog/no-changelog, team/agent-core

#4001 [jmxfetch] Upgrade to 0.30.1
  release.json
  releasenotes/notes/jmxfetch-0-30-1-c0584eb8c49bfb32.yaml
Labels: team/agent-core

#4003 Remove debug print
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-core

#3968 [process-agent] update process-agent check so it could start by datadog-agent in macOS
  cmd/agent/dist/conf.d/process_agent.yaml.default
  omnibus/config/software/datadog-agent-finalize.rb
  pkg/collector/corechecks/embed/process_agent.go
  releasenotes/notes/macos-dd-agent-starts-proc-agent-e71d0d6f3f452e2b.yaml
  tasks/agent.py
Labels: changelog/no-changelog, os/macOS, team/burrito

#4008 pkg/trace/api: add language tags to payload_refused metric
  pkg/trace/api/api.go
  pkg/trace/info/stats.go
  releasenotes/notes/apm-payload-refused-lang-tags-b5c797cfa88bdc21.yaml
Labels: team/agent-apm

#4012 Fixed a bug where the logs-agent could not start new tcp tailers because of a lock
  pkg/logs/input/listener/tailer.go
  pkg/logs/input/listener/tcp.go
Labels: changelog/no-changelog, component/logs, team/logs

#4017 Add apm prefix to release note
  releasenotes/notes/bind_replace-2d64290b8f49ee9e.yaml
Labels: changelog/no-changelog, team/agent-apm

#4015 pkg/trace/config: remove all A5 code
  pkg/config/config.go
  pkg/trace/config/config.go
  pkg/trace/config/config_nix.go
  pkg/trace/config/config_test.go
  pkg/trace/config/config_windows.go
  pkg/trace/config/env_test.go
  pkg/trace/config/testdata/full.ini
  pkg/trace/config/testdata/multi_api_keys.ini
  pkg/trace/config/testdata/no_apm_config.ini
  pkg/trace/config/testdata/no_apm_config.yaml
  pkg/trace/config/testdata/undocumented.ini
Labels: changelog/no-changelog, team/agent-apm

#4007 pkg/trace/info: separate payload_too_large from decoding_error
  pkg/trace/api/api.go
  pkg/trace/info/stats.go
  pkg/trace/info/stats_test.go
  releasenotes/notes/apm-reason-payload-too-large-563bd2a463d41500.yaml
Labels: team/agent-apm

#3990 Improve three::_findSubclassOf resiliency based on two's code.
  rtloader/three/three.cpp
Labels: changelog/no-changelog, team/agent-core

#3979 Use host ntp server
  cmd/agent/dist/conf.d/ntp.d/conf.yaml.default
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/corechecks/net/ntp_local_defined_server_nowindows.go
  pkg/collector/corechecks/net/ntp_local_defined_server_nowindows_test.go
  pkg/collector/corechecks/net/ntp_local_defined_server_windows.go
  pkg/collector/corechecks/net/ntp_local_defined_server_windows_test.go
  pkg/collector/corechecks/net/ntp_test.go
  releasenotes/notes/use_local_defined_ntp_servers-12cfd766212390df.yaml
Labels: team/agent-core

#4026 Upgrading Golang to 1.12.9
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  appveyor.yml
Labels: changelog/no-changelog, team/agent-core

#3991 Fix kitchen signing certificate check.
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#3997 [macos] Do not use logname to get the real user in install script
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-core

#3971 [rtloader] python instance memory tracking
  cmd/agent/api/agent/agent.go
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  pkg/collector/collector.go
  pkg/collector/python/check.go
  pkg/collector/python/memory.go
  pkg/status/status_nopython.go
  pkg/status/status_python.go
  releasenotes/notes/instance-memory-usage-pympler-14483a3f1c2d9a09.yaml
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/rtloader/api.cpp
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: kind/feature, team/agent-core

#4002 Add NetworkID to host metadata
  pkg/config/config.go
  pkg/metadata/host/host.go
  pkg/metadata/host/payload.go
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_test.go
  pkg/util/gce/gce.go
  pkg/util/gce/gce_test.go
  pkg/util/network.go
  releasenotes/notes/report-network-id-43e5afaa0976aeae.yaml
Labels: team/agent-core, team/burrito

#4035 [NTP] Use the timeout from the config
  pkg/collector/corechecks/net/ntp.go
  releasenotes/notes/ntp-timeout-unused-e431a5aa3f7d6c70.yaml
Labels: kind/bug, team/agent-core

#4027 Update documenation following Python3 support in the agent
  README.md
  docs/dev/README.md
  docs/dev/agent_build.md
  docs/dev/agent_dev_env.md
Labels: changelog/no-changelog, documentation, team/agent-core

#4004 Escape message when using JSON format for the logs
  pkg/config/log.go
  releasenotes/notes/escape-json-log-def2b8976376ad65.yaml
Labels: team/agent-core

#4021 Add section on how to upgrade Golang in CircleCI
  .circleci/README.md
Labels: changelog/no-changelog, team/agent-core

#3962 [omnibus] Use the new RPM GPG key to sign RPM packages
  .gitlab-ci.yml
  omnibus/config/projects/agent.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
Labels: changelog/no-changelog, team/agent-core

#3992 Remove dependency on WMI.
  omnibus/resources/agent/msi/cal/stopservices.cpp
  releasenotes/notes/delwmidep-1219234765112adf.yaml
Labels: team/agent-core

#4032 [cmd/agent] Clean up dist/checks folder
  cmd/agent/dist/checks/__init__.py
  cmd/agent/dist/checks/libs/__init__.py
  cmd/agent/dist/checks/libs/wmi/__init__.py
  cmd/agent/dist/checks/libs/wmi/sampler.py
  cmd/agent/dist/checks/network_checks.py
  cmd/agent/dist/checks/prometheus_check/__init__.py
  cmd/agent/dist/checks/winwmi_check.py
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-core, team/integrations

#4037 [NTP] Lower log level for query errors, warn if recurrent
  pkg/collector/corechecks/net/ntp.go
  releasenotes/notes/ntp-errors-less-verbose-ef7bf8dca3686239.yaml
Labels: kind/enhancement, team/agent-core

#4014 Add back trace logs for dsd packets
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/util/log/log.go
Labels: changelog/no-changelog, team/agent-core

#3958 Enable process agent when system-probe is enabled
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#4038 Add networkID to process-agent checks
  Gopkg.lock
  Gopkg.toml
  pkg/process/checks/container.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_nix_test.go
Labels: changelog/no-changelog, team/burrito

#3969 [ebpf] Refactor offset guessing code
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/config.go
  pkg/ebpf/offsetguess.go
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/types.go
Labels: changelog/no-changelog, team/burrito

#4009 [rtloader] Fix encoding of yaml.dump in Python 3
  rtloader/common/stringutils.c
Labels: changelog/no-changelog, team/agent-core

#4045 [omnibus] Upgrade packaged python 3 on Linux/macOS to 3.7.4
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#4046 Fix configcheck crash when agent not ready (again)
  pkg/autodiscovery/autoconfig.go
Labels: changelog/no-changelog, team/agent-core

#3554 [omnibus][python2] shared build
  omnibus/config/software/python2.rb
Labels: changelog/no-changelog, team/agent-core

#4036 Run e2e tests with both python images in gitlab
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#4044 Set explicit patch target
  omnibus/config/software/pip2.rb
Labels: changelog/no-changelog, component/config, team/agent-core

#3994 Remove home folder windows
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/customaction.vcxproj
  omnibus/resources/agent/msi/cal/delfiles.cpp
  omnibus/resources/agent/msi/cal/stdafx.h
  omnibus/resources/agent/msi/cal/usercreate.cpp
  omnibus/resources/agent/msi/cal/userrights.cpp
  releasenotes/notes/remove-ddagentuser-folder-eb811b38023890c9.yaml
Labels: team/agent-core

#3939 Make metadata collection configurable
  cmd/agent/app/run.go
  cmd/agent/app/start.go
  cmd/dogstatsd/main.go
  pkg/metadata/helper.go
  releasenotes/notes/change-metadata-interval-0dc52511f61ebfd1.yaml
Labels: team/agent-core

#4011 [CircleCI] Add doxygen doc generation step
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  tasks/rtloader.py
Labels: changelog/no-changelog, team/agent-core

#4050 Set errors in more places for easier troubleshooting
  pkg/collector/python/init.go
  rtloader/three/three.cpp
Labels: changelog/no-changelog, team/agent-core

#3989 [ebpf] Add support for RTT (round-trip time)
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.h
  pkg/ebpf/event.go
  pkg/ebpf/event_common.go
  pkg/ebpf/offsetguess.go
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
Labels: changelog/no-changelog, team/burrito

#4005 blacklist linux-aws versions prior to 4.4.0-1060
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3781 Remove yum warnings while removing the Agent package.
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  releasenotes/notes/remove-yum-warnings-c8d274bc9a0ae4df.yaml
Labels: changelog/no-changelog, team/agent-core

#4049 Make Python 3 linter timeout configurable
  pkg/collector/python/loader.go
  pkg/collector/python/py3_checker.go
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#4057 Revert "[omnibus][python2] shared build"
  omnibus/config/software/python2.rb
Labels: changelog/no-changelog, team/agent-core

#4054 pkg/trace/api: improve and instrument TCP connection rate limiter
  pkg/trace/api/listener.go
  releasenotes/notes/apm-tcp-connection-metrics-02e916ff1ba27fbb.yaml
Labels: team/agent-apm

#4058 [status] fixing unmarshaling reference bug
  cmd/agent/app/status.go
Labels: changelog/no-changelog, team/agent-core

#4051 Doc: add a mention to the DD_CLUSTER_AGENT_URL variable
  pkg/util/clusteragent/clusteragent.go
Labels: changelog/no-changelog, team/containers

#4056 Upgrade jmxfetch to 0.31.0
  release.json
  releasenotes/notes/jmxfetch-31-ef2df0cce4c7fd18.yaml
Labels: team/agent-core

#4055 [logs] Release file descriptor on file rotation when tailer is stuck
  pkg/logs/input/file/tailer.go
  pkg/logs/input/file/tailer_test.go
  releasenotes/notes/logs-fix-file-descriptor-leak-on-file-rotation-97a86526151321fd.yaml
Labels: component/logs, team/logs

#3907 Fix host metadata on GKE
  pkg/util/gce/gce_tags.go
  pkg/util/gce/test/gce_metadata.json
  releasenotes/notes/fix-kubelet-gke-metadata-84ee03ffbaa4b941.yaml
Labels: team/containers

#3639 add note about host tags format
  docs/agent/changes.md
  docs/agent/config.md
Labels: changelog/no-changelog, documentation

#4061 [omnibus] python2 shared-libs (again) w/ new builders
  .gitlab-ci.yml
  omnibus/config/software/python2.rb
Labels: changelog/no-changelog, team/agent-core

#4052 Fix python bin path for linting
  pkg/collector/python/init.go
  pkg/collector/python/py3_checker.go
  pkg/collector/python/py3_checker_nix.go
  pkg/collector/python/py3_checker_windows.go
Labels: changelog/no-changelog, team/agent-core

#4047 Add 'Origin: datadog' to staging apt repo
  .gitlab-ci.yml
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#4053 do not delete domain user on uninstall
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  releasenotes/notes/nodeluser-cd95639a7760eb58.yaml
Labels: team/agent-core

#3974 Improve systemd configuration and metric names
  NOTICE
  cmd/agent/dist/conf.d/systemd.d/conf.yaml.example
  pkg/collector/corechecks/systemd/dbus_conn.go
  pkg/collector/corechecks/systemd/systemd.go
  pkg/collector/corechecks/systemd/systemd_test.go
  releasenotes/notes/improve-systemd-config-a82bca0014f6ccc6.yaml
Labels: kind/enhancement, team/integrations

#4041 pkg/trace/{api,agent}: merge all container tags into _dd.tags.container
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/api/api.go
Labels: changelog/no-changelog, team/agent-apm

#3987 Get more information from windows events
  pkg/logs/input/windowsevent/event.h
  pkg/logs/input/windowsevent/eventlog.c
  pkg/logs/input/windowsevent/tailer.go
  pkg/logs/input/windowsevent/tailer_test.go
  pkg/logs/input/windowsevent/tailer_windows.go
  releasenotes/notes/richer-windows-event-ce555c0a48ff809a.yaml
Labels: component/logs, os/windows, team/logs

#4063 [omnibus][python3] Remove embedded Python 3 test directory
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#3931 Extract and expose CLC runner stats
  .github/CODEOWNERS
  cmd/agent/api/agent/agent.go
  cmd/agent/app/start.go
  cmd/agent/clcrunnerapi/clc_runner_listener.go
  cmd/agent/clcrunnerapi/clc_runner_server.go
  cmd/agent/clcrunnerapi/v1/clcrunner.go
  cmd/agent/common/common.go
  pkg/api/util/util.go
  pkg/config/config.go
  pkg/status/status.go
  pkg/status/types.go
  releasenotes/notes/expose-clc-runner-stats-dad4462c9c661f3a.yaml
Labels: team/containers

#4033 [kitchen] Add tests to check that the Agent does start with Python 3
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#4065 Revert "Remove yum warnings while removing the Agent package. (#3781)"
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  releasenotes/notes/remove-yum-warnings-c8d274bc9a0ae4df.yaml
Labels: changelog/no-changelog, kind/packaging, team/agent-core

#4048 Enhance short lived container autodiscovery
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/providers/docker.go
  pkg/util/kubernetes/kubelet/podwatcher.go
Labels: changelog/no-changelog, component/autodiscovery, team/containers

#3930 Poll AD docker config more frequently
  Dockerfiles/agent/datadog-docker.yaml
  Dockerfiles/agent/datadog-k8s-docker.yaml
  releasenotes/notes/docker-polling-frequency-613d65da180f29c8.yaml
Labels: team/containers

#3937 Add the histogram bucket bridge
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/check_sampler_bench_test.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/mocksender/asserts.go
  pkg/aggregator/mocksender/mocked_methods.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/sketch_map.go
  pkg/collector/python/aggregator.go
  pkg/collector/python/aggregator_test.go
  pkg/collector/python/init.go
  pkg/collector/python/test_aggregator.go
  pkg/metrics/histogram_bucket.go
  pkg/metrics/metric_sample.go
  pkg/quantile/agent.go
  releasenotes/notes/histogram-bucket-0550f34eab872c19.yaml
  rtloader/common/builtins/aggregator.c
  rtloader/common/builtins/aggregator.h
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/test/aggregator/aggregator.go
  rtloader/test/aggregator/aggregator_test.go
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: component/aggregator, component/rtloader, team/containers

#4013 Add python_version to template config file
  cmd/agent/main.go
  cmd/agent/main_windows.go
  omnibus/config/software/datadog-agent.rb
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  tasks/agent.py
Labels: changelog/no-changelog, documentation, team/agent-core

#4067 Disable linter when the agent runs in python3
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#4034 Use OpenJDK11 in the docker image
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/datadog-docker.yaml
  Dockerfiles/agent/datadog-ecs.yaml
  Dockerfiles/agent/datadog-k8s-docker.yaml
  Dockerfiles/agent/datadog-kubernetes.yaml
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/openjdk11-jvm-ece6b5cc12c86ff6.yaml
Labels: team/agent-core, team/containers

#3759 [omnibus] strip symbols
  .gitlab-ci.yml
  Dockerfiles/agent/Dockerfile
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/package-scripts/agent/postinst-dbg
  omnibus/package-scripts/agent/postrm-dbg
  omnibus/package-scripts/agent/posttrans-dbg
  omnibus/package-scripts/agent/preinst-dbg
  omnibus/package-scripts/agent/prerm-dbg
Labels: changelog/no-changelog, team/agent-core

#4062 Log issues with networkID at Info level
  pkg/metadata/host/host.go
Labels: changelog/no-changelog, team/burrito

#4064 Fix configuration parameter for process & trace so that spaces in the
  omnibus/resources/agent/msi/cal/strings.cpp
  releasenotes/notes/quoteconfigfile-b354ab30b814191d.yaml
Labels: team/agent-core, team/burrito

#4040 [windows] adds missing system.mem.pagefile.* stats back
  docs/agent/changes.md
  pkg/collector/corechecks/system/memory_windows.go
  pkg/collector/corechecks/system/memory_windows_test.go
  releasenotes/notes/syspagefile-18e12a984bfa51b6.yaml
Labels: team/agent-core

#4039 add connection blacklisting
  pkg/config/config.go
  pkg/ebpf/config.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net-2.yaml
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
  pkg/process/util/address.go
  pkg/process/util/address_test.go
  pkg/process/util/network_filter.go
  pkg/process/util/network_filter_test.go
  releasenotes/notes/blacklist-connections-12e099d3647b69f0.yaml
Labels: kind/feature, team/burrito

#4070 [release] Update release.json with 6.14.0-rc.1 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#4072 Revert "Add 'Origin: datadog' to staging apt repo"
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#4071 [pkg/collector/python] Log python linter warnings at debug level
  pkg/collector/python/loader.go
  releasenotes/notes/log-python3-linter-warnings-5b8eb2443fd1db31.yaml
Labels: team/agent-core

#4079 [release] Update release.json with 6.14.0-rc.2 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#4074 Update release workflow
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core, team/containers

#4081 [agent] check command: fix JMX validation
  cmd/agent/app/check.go
Labels: changelog/no-changelog, kind/bug, team/agent-core

#4085 Fixed a race condition for docker logs for short lived containers
  pkg/logs/input/docker/tailer.go
Labels: changelog/no-changelog, component/logs, kind/bug, team/logs

#4087 [memtrack] performance optimization - dont get stack unless necessary
  pkg/collector/python/init.go
  pkg/collector/python/memory.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/log/log.go
Labels: changelog/no-changelog, team/agent-core

#4088 [release] Update release.json with 6.14.0-rc.3 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#4090 [Logs]: Increase the HTTP batch size to provide larger logging throughput
  pkg/logs/sender/batch_strategy.go
Labels: changelog/no-changelog, component/logs, kind/performance, team/logs

#4095 Remove default log-level arg from jmx command
  cmd/agent/app/jmx.go
Labels: changelog/no-changelog, team/agent-core

#4093 [memtrack] two and three need to have their own references to callback
  rtloader/common/rtloader_mem.c
  rtloader/common/rtloader_mem.h
  rtloader/include/rtloader.h
  rtloader/rtloader/api.cpp
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: changelog/no-changelog, team/agent-core

#4091 Add platform detection using uname command
  pkg/process/util/util.go
Labels: changelog/no-changelog, team/burrito

#4083 Fix upstart scripts to not stop the system-probe when agent stops
  omnibus/config/templates/datadog-agent/upstart_debian.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.sysprobe.conf.erb
Labels: changelog/no-changelog, kind/bug, team/burrito

#4098 [release] Update release.json with 6.14.0-rc.4 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#4097 Remove spammy log when we fail formatting windows events
  pkg/logs/input/windowsevent/eventlog.c
Labels: changelog/no-changelog, component/logs, os/windows, team/logs

#4099 Update docker image tagging plan
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core, team/containers

#4094 Fix feature that doesn't remove domain user;
  omnibus/resources/agent/msi/cal/CustomAction.cpp
Labels: changelog/no-changelog, team/agent-core

#4102 [release] Update release.json with 6.14.0-rc.5 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#4106 Log error when the base class can't be found or strings can't be initialized
  rtloader/two/two.cpp
Labels: changelog/no-changelog, team/agent-core
