Repository DataDog/datadog-agent, pull requests merged in 2019-07, with the labels that each got.

#3723 pkg/trace: rewrite sender
  pkg/config/config.go
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  pkg/config/legacy/tests/datadog.conf
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/sampler.go
  pkg/trace/api/api_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/testdata/full.ini
  pkg/trace/config/testdata/undocumented.yaml
  pkg/trace/stats/stats_payload.go
  pkg/trace/test/testutil/trace.go
  pkg/trace/writer/backoff/backoff.go
  pkg/trace/writer/backoff/backoff_test.go
  pkg/trace/writer/backoff/exponential.go
  pkg/trace/writer/backoff/exponential_nix_test.go
  pkg/trace/writer/backoff/exponential_test.go
  pkg/trace/writer/config/payload.go
  pkg/trace/writer/config/service_writer.go
  pkg/trace/writer/config/stats_writer.go
  pkg/trace/writer/config/trace_writer.go
  pkg/trace/writer/endpoint.go
  pkg/trace/writer/endpoint_test.go
  pkg/trace/writer/fixtures_test.go
  pkg/trace/writer/multi.go
  pkg/trace/writer/multi_test.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  pkg/trace/writer/service.go
  pkg/trace/writer/service_nix_test.go
  pkg/trace/writer/service_test.go
  pkg/trace/writer/services.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/stats_test.go
  pkg/trace/writer/testserver.go
  pkg/trace/writer/testserver_test.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_nix_test.go
  pkg/trace/writer/trace_test.go
  releasenotes/notes/apm-rewrite-sender-45a220d7fffab5d9.yaml
Labels: team/agent-apm

#3773 Build python3 support in nightly
  release.json
  rtloader/three/three.cpp
Labels: changelog/no-changelog, team/agent-core

#3779 release 6.12.2-rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#3780 Rename parseContainerNetworkAdresses to parseContainerNetworkAddresses
  pkg/util/kubernetes/kubelet/containers.go
Labels: changelog/no-changelog, team/containers

#3778 pkg/trace/writer: gzip in goroutine
  pkg/trace/writer/trace.go
  releasenotes/notes/apm-gzip-routine-c2037b3700ab944a.yaml
Labels: team/agent-apm

#3782 Revert "allow test kitchen failures on centos and suse (#3760)"
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3709 set logging_frequency to 500
  pkg/collector/runner/runner_test.go
  pkg/config/config.go
  releasenotes/notes/reduce-log-checkruns-dc850866929f4826.yaml
Labels: team/agent-core

#3741 Only install the core dependencies of the base class
  tasks/go.py
Labels: changelog/no-changelog, component/collector, team/agent-core, team/integrations

#3764 system-probe: Use /proc/kallsyms to determine if eBPF will be supported by the current host
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  pkg/ebpf/testdata/kallsyms.empty
  pkg/ebpf/testdata/kallsyms.supported
  pkg/ebpf/testdata/kallsyms.unsupported
  pkg/process/config/tracer_config.go
  pkg/process/util/util.go
  tasks/go.py
Labels: changelog/no-changelog, team/burrito

#3772 📈 system-probe: track tcp miscounts
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.h
  pkg/ebpf/config.go
  pkg/ebpf/event.go
  pkg/ebpf/state.go
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/ebpf/types.go
  tasks/system_probe.py
Labels: changelog/no-changelog, kind/bug, team/burrito

#3718 Turn connection closed log to DEBUG
  pkg/logs/client/tcp/connection_manager.go
Labels: changelog/no-changelog, component/logs, team/logs

#3738 trace-agent: more permissive trace normalization with metrics & logs
  pkg/collector/corechecks/embed/apm_nix.go
  pkg/trace/agent/truncator.go
  pkg/trace/agent/truncator_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/normalizer.go
  pkg/trace/api/normalizer_test.go
  pkg/trace/info/info.go
  pkg/trace/info/info_test.go
  pkg/trace/info/stats.go
  pkg/trace/info/stats_test.go
  pkg/trace/info/testdata/warning.info
  pkg/trace/info/testdata/warning.json
  pkg/trace/sampler/presampler.go
  pkg/trace/sampler/presampler_test.go
  pkg/trace/traceutil/truncate.go
  pkg/trace/traceutil/truncate_test.go
  pkg/trace/writer/stats_test.go
  pkg/trace/writer/trace_test.go
  releasenotes/notes/more-permissive-trace-normalization-20ed9bc015098341.yaml
Labels: team/agent-apm

#3775 Make two and three manage pythonHome the same way
  pkg/collector/python/init.go
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/constants.h.in
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3777 pkg/trace/writer: fix integration tests
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/test/testsuite/secrets_test.go
  pkg/trace/writer/stats_test.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
  tasks/trace_agent.py
Labels: changelog/no-changelog, team/agent-apm

#3748 Refactor permissions for the integration command
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_darwin.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_windows.go
  releasenotes/notes/refactor-integration-command-permissions-50232ce90d1010c7.yaml
Labels: component/cmd-agent, team/integrations

#3787 Fixed race condition in batch sender tests for logs
  pkg/logs/sender/batch_strategy_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3784 [rtloader] Remove rtloader old CircleCI config
  rtloader/.circleci/config.yml
  rtloader/.circleci/docker/Dockerfile
  rtloader/README.md
Labels: changelog/no-changelog, team/agent-core

#3754 use the long version of Datadog GPG key ID
  cmd/agent/install_script.sh
  docs/agent/downgrade.md
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
Labels: changelog/no-changelog, kind/security, team/agent-core

#3790 pkg/trace/writer: fix flaky test
  pkg/trace/writer/trace_test.go
Labels: changelog/no-changelog, team/agent-apm

#3673 system-probe: Fix s6-service definition to ensure that it will work for old builds that don't have the system-probe aswell
  Dockerfiles/agent/s6-services/sysprobe/finish
  Dockerfiles/agent/s6-services/sysprobe/run
  releasenotes/notes/fix-system-probe-s6-services-0c7a53f30d93f74d.yaml
Labels: kind/bug, team/burrito

#3788 Since we don't call PyFinalize, don't free pythonHome
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3794 release 6.12.2
  release.json
Labels: changelog/no-changelog, team/agent-core

#3783 Readding: "Add protobuf serialization to system-probe (#3565)"
  cmd/system-probe/probe.go
  cmd/system-probe/probe_test.go
  pkg/ebpf/encoding/encoding.go
  pkg/ebpf/encoding/encoding_test.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/encoding/json.go
  pkg/ebpf/encoding/protobuf.go
  pkg/ebpf/event_common.go
  pkg/ebpf/event_common_easyjson.go
  pkg/ebpf/event_test.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/event.go
  pkg/ebpf/netlink/event_easyjson.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/model/agent.pb.go
  pkg/process/net/network_linux.go
  pkg/process/net/network_nolinux.go
  pkg/process/proto/agent.proto
  pkg/process/util/address.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/burrito

#3800 [gitlab] update the sles12 version.
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3792 Merge distribution & time samplers
  cmd/agent/app/check.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/dist_sampler_test.go
  pkg/aggregator/sketch_map.go
  pkg/aggregator/sketch_map_test.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
Labels: changelog/no-changelog, component/aggregator, team/containers

#3803 Skip irrelevant network modes when collecting docker IPs
  pkg/util/docker/containers.go
Labels: changelog/no-changelog, team/containers

#3804 changelog for 6.12.2
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#3798 [system-probe] separate expvars into different categories
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
Labels: changelog/no-changelog, team/burrito

#3710 [e2e] Add Argo variable inheritance logic
  test/e2e/scripts/generate-parameters.sh
  test/e2e/scripts/utils.sh
Labels: changelog/no-changelog, team/containers

#3799 pkg/trace: rebrand presampler to ratelimiter
  pkg/config/config_template.yaml
  pkg/trace/agent/agent.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/ratelimiter.go
  pkg/trace/api/ratelimiter_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info.go
  pkg/trace/info/info_test.go
  pkg/trace/info/testdata/okay.json
  pkg/trace/info/testdata/warning.info
  pkg/trace/info/testdata/warning.json
  pkg/trace/sampler/presampler.go
  pkg/trace/sampler/presampler_test.go
  pkg/trace/sampler/sampler.go
  releasenotes/notes/apm-rebrand-presampler-b6cf79b8c9c31f8d.yaml
Labels: team/agent-apm

#3808 pkg/config: remove extra space
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm

#3806 [omnibus] Avoid shipping 2 copies of the system-probe
  omnibus/config/software/datadog-agent.rb
  releasenotes/notes/system-probe-duplicated-copy-fix-5b97780a55a43a8b.yaml
Labels: kind/packaging, team/burrito

#3810 pkg/trace/api: fix flaky OOM kill test
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, do-not-merge/WIP, team/agent-apm

#3651 [gitlab] remove docker tag using the CI
  .gitlab-ci.yml
  tasks/docker.py
Labels: changelog/no-changelog, do-not-merge/hold, team/containers

#3801 fixed typo on init_config
  cmd/agent/dist/conf.d/containerd.d/conf.yaml.example
  cmd/agent/dist/conf.d/kubernetes_apiserver.d/conf.yaml.example
Labels: changelog/no-changelog, team/containers

#3646 Added logs intake HTTP endpoint
  pkg/logs/config/config.go
  pkg/logs/config/endpoints_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3813 [Debug] Make dep verbose
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3802 Comment flaky batch test for logs until it gets fixed
  pkg/logs/sender/batch_strategy_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3732 Added the possibility to send logs to multiple destinations with HTTP
  pkg/logs/client/http/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3593 Use build images from the public repo
  .gitlab-ci.yml
Labels: changelog/no-changelog, dca, dev/testing, dev/tooling, team/agent-core, team/burrito, team/containers

#3766 [omnibus] Stop whitelisting all embedded python libs during omnibus health check
  .github/CODEOWNERS
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/agent-core, team/integrations

#3705 [DCA] Fix DeepCopy function to compute the metadata map
  pkg/clusteragent/api/v1/types.go
  pkg/clusteragent/api/v1/types_test.go
  releasenotes-dca/notes/fix-deepcopy-dca-b2083a101e7fad45.yaml
Labels: changelog/no-changelog, kind/bug, team/containers

#3807 [system-probe] remove problematic command line check
  cmd/system-probe/main.go
Labels: changelog/no-changelog, team/burrito

#3811 [docs] Document a dropped config option
  docs/agent/config.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3818 [system-probe] fix encoding marshaler for unix socket endpoint
  pkg/ebpf/encoding/encoding.go
  pkg/ebpf/encoding/encoding_test.go
Labels: changelog/no-changelog, team/burrito

#3819 [dep] Update Gopkg.lock
  Gopkg.lock
Labels: changelog/no-changelog, team/agent-core

#3820 expose number of bytes received by dogstatsd
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/uds_common.go
  releasenotes/notes/dogstatsd-bytes-fa88ce5094970f2f.yaml
Labels: team/agent-core

#3816 [dep] Use `vendor-only` go dep option in CI
  .circleci/config.yml
  .gitlab-ci.yml
  appveyor.yml
  tasks/go.py
Labels: changelog/no-changelog, team/agent-core

#3824 Added the possibility to send logs to multiple destinations with HTTP
  pkg/logs/client/http/destination.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints_test.go
Labels: changelog/no-changelog, component/logs, team/logs

#3823 Fixed the accounting of logs sent
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/stream_strategy.go
Labels: changelog/no-changelog, component/logs, team/logs

#3681 Make sure we reuse destinations and connections for logs
  pkg/logs/client/tcp/destination.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
Labels: changelog/no-changelog, component/logs, team/logs

#3687 Support Python 3 for the integration command
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_darwin.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_windows.go
  releasenotes/notes/support-py3-for-integration-command-9b9ba65d2ff390ee.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#3676 Fixed several bugs in the decoder
  pkg/logs/config/source.go
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/line_buffer.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/input/docker/decoder_test.go
  pkg/logs/input/docker/json_parser.go
  pkg/logs/input/docker/json_parser_test.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/kubernetes/decoder_test.go
  pkg/logs/input/kubernetes/launcher.go
  releasenotes/notes/logs-docker-kubernetes-format-fix-8f0101796f2fe46c.yaml
Labels: changelog/no-changelog, component/logs, kind/bug, team/logs

#3704 [DCA] Endpoints check revamp
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_endpoints_test.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_endpoints_test.go
  pkg/autodiscovery/providers/kube_services.go
  pkg/autodiscovery/providers/kube_services_test.go
  pkg/autodiscovery/providers/providers.go
  pkg/clusteragent/clusterchecks/dispatcher_endpoints_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/listers_kube.go
  pkg/clusteragent/clusterchecks/listers_nokube.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/util/kubernetes/apiserver/endpoints.go
  releasenotes-dca/notes/endpoints-check-enhancement-d379bb25539b3d5f.yaml
Labels: changelog/no-changelog, dca, team/containers

#3834 pkg/trace/agent: remove sampling goroutine
  pkg/trace/agent/agent.go
  releasenotes/notes/apm-remove-sampling-goroutine-9dfd0df2f19fd560.yaml
Labels: team/agent-apm

#3619 disable sending agent startup event when hostname is not set
  pkg/aggregator/aggregator.go
Labels: changelog/no-changelog, team/containers

#3817 Add safety nil filtering on pod
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_null_pod.json
Labels: changelog/no-changelog, team/containers

#3833 Use jmxfetch 0.30.0
  release.json
  releasenotes/notes/jmxfetch030-9a5628bd856bd6a7.yaml
Labels: team/agent-core

#3835 Added a support for new log directory pattern for kubernetes logs
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
  releasenotes/notes/logs-k8s-support-new-log-directory-pattern-a9f4085ad2244a5a.yaml
Labels: component/logs, team/containers, team/logs

#3785 Merge previous audit
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/stringutils.c
Labels: changelog/no-changelog, team/agent-core

#3837 [dep] Update Gopkg.lock with new import
  Gopkg.lock
Labels: changelog/no-changelog, team/containers

#3836 [Cluster-Agent] Cherry-pick `agent flare` fix commit
  CHANGELOG-DCA.rst
  pkg/flare/flare.go
Labels: dca, kind/bug, team/containers

#3767 Fix tagger regression behavior with SIX
  releasenotes/notes/Fix-tagger-regression-behavior-with-SIX-d1994c01432ff815.yaml
  rtloader/common/builtins/tagger.c
  rtloader/test/tagger/tagger_test.go
Labels: team/containers

#3832 [docs] Mention `non_local_traffic` in removed v6 options
  docs/agent/config.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3838 pkg/trace/agent: remove concentrator routine
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/processed_trace.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
Labels: changelog/no-changelog, team/agent-apm

#3795 📈 system-probe: Add telemetry for # of triggered/missed kprobes
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/debugfs.go
  pkg/ebpf/debugfs_test.go
  pkg/ebpf/testdata/kprobe_profile
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
Labels: changelog/no-changelog, team/burrito

#3845 release note DCA 1.3.2
  CHANGELOG-DCA.rst
Labels: changelog/no-changelog, team/containers

#3840 [gitlab-ci] Change kitchen stage order & fix kitchen logs
  .gitlab-ci.yml
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-core

#3850 Update docs about building the agent packages
  docs/dev/agent_omnibus.md
Labels: changelog/no-changelog, documentation, team/agent-core

#3670 Remove exit file logic for JMXFetch on Windows
  pkg/collector/corechecks/embed/jmx/runner.go
  pkg/jmxfetch/jmxfetch.go
  pkg/jmxfetch/jmxfetch_nix.go
  pkg/jmxfetch/jmxfetch_windows.go
Labels: changelog/no-changelog, team/agent-core

#3827 [tasks] Make GOPATH optional
  tasks/bootstrap.py
  tasks/process_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#3844 pkg/trace/agent: add a feature flag to allow 15k resource lengths
  pkg/trace/agent/truncator.go
Labels: changelog/no-changelog, team/agent-apm

#3556 pkg/trace/api: add support for Unix Domain Sockets
  pkg/config/config.go
  pkg/trace/api/api.go
  pkg/trace/api/api_nix_test.go
  pkg/trace/api/api_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/env.go
  pkg/trace/osutil/file.go
  releasenotes/notes/apm-add-unix-domain-sockets-4b4821727cf024fb.yaml
Labels: team/agent-apm

#3809 pkg/trace/{agent,api,writer}: remove all service writer related logic
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/service.go
  pkg/trace/agent/service_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/info/endpoint.go
  pkg/trace/info/info.go
  pkg/trace/info/info_test.go
  pkg/trace/info/stats.go
  pkg/trace/info/testdata/okay.info
  pkg/trace/info/testdata/okay.json
  pkg/trace/info/testdata/warning.info
  pkg/trace/info/testdata/warning.json
  pkg/trace/info/writer.go
  pkg/trace/pb/services.go
  pkg/trace/pb/services_gen.go
  pkg/trace/pb/services_gen_test.go
  pkg/trace/test/testutil/services.go
  pkg/trace/writer/services.go
  releasenotes/notes/apm-rm-service-writer-8818e02f95020d2c.yaml
Labels: team/agent-apm

#3502 Add support for env vars in integrations config
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/file_test.go
  pkg/autodiscovery/providers/tests/envvars.d/conf.yaml
  releasenotes/notes/config-env-vars-13f26d3b52b32813.yaml
Labels: kind/feature, team/agent-core, team/containers

#3635 Removes quotes from systemd templates
  omnibus/config/templates/datadog-agent/systemd.process.service.erb
  omnibus/config/templates/datadog-agent/systemd.service.erb
  omnibus/config/templates/datadog-agent/systemd.sysprobe.service.erb
  omnibus/config/templates/datadog-agent/systemd.trace.service.erb
  omnibus/config/templates/datadog-dogstatsd/systemd.service.erb
  omnibus/config/templates/datadog-puppy/systemd.service.erb
Labels: changelog/no-changelog, component/metadata, team/agent-core

#3584 Add systemd integration
  .github/CODEOWNERS
  Gopkg.lock
  cmd/agent/app/start.go
  cmd/agent/dist/conf.d/systemd.d/conf.yaml.example
  pkg/collector/corechecks/systemd/doc.go
  pkg/collector/corechecks/systemd/systemd.go
  pkg/collector/corechecks/systemd/systemd_test.go
  releasenotes/notes/corechecks-add-systemd-integration-47ad3e467a8c7452.yaml
  tasks/agent.py
Labels: kind/feature, team/agent-core, team/integrations

#3846 trace-agent: follow-up trace normalization
  pkg/trace/api/normalizer.go
  pkg/trace/api/normalizer_test.go
  releasenotes/notes/more-permissive-trace-normalization-20ed9bc015098341.yaml
Labels: team/agent-apm

#3843 pkg/trace/api: add "Datadog-Meta-Lang-Interpreter-Vendor" HTTP header support
  pkg/trace/api/api.go
  pkg/trace/info/stats.go
  releasenotes/notes/apm-lang-vendor-header-e089c335c0b06e8b.yaml
Labels: team/agent-apm

#3672 Move int64 variables to top of struct so that they are aligned in mem…
  pkg/logs/input/file/tailer.go
Labels: changelog/no-changelog, component/logs, team/logs

#3854 [DCA] Fix kubernetes_apiserver default config file
  Dockerfiles/cluster-agent/conf.d/kubernetes_apiserver.d/conf.yaml.default
Labels: changelog/no-changelog, kind/bug, team/containers

#3727 Do not stop collecting external metrics after 3 failures
  pkg/clusteragent/custommetrics/provider.go
  releasenotes/notes/prevent_hpa_metrics_from_hanging-47209b1e001ad816.yaml
Labels: team/containers

#3857 pkg/trace/writer: reduce stats test flakiness
  pkg/trace/writer/stats_test.go
Labels: changelog/no-changelog, team/agent-apm

#3851 [logs] Fix TLS handshake hanging forever
  pkg/logs/client/tcp/connection_manager.go
  releasenotes/notes/logs-fix-tls-handshake-hanging-forever-84a91b400fe18ec6.yaml
Labels: component/logs, team/logs

#3858 pkg/trace/agent: add language tags to processed traces
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/filters/replacer.go
  pkg/trace/filters/replacer_test.go
  releasenotes/notes/apm-add-tagstats-to-process-metrics-8ba95806f20ea47a.yaml
Labels: team/agent-apm

#3675 [status&gui] Display the Go version of the Agent in GUI/status
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/platform.go
  pkg/status/platform_no_gohai.go
  pkg/status/status.go
  releasenotes/notes/go-version-status-page-1df267e2be853b44.yaml
Labels: team/agent-core

#3831 Db/py3crt
  cmd/agent/common/common_windows.go
  omnibus/config/software/python3.rb
  omnibus/config/software/vc_redist_14.rb
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/fix-file-already-in-use-when-installing-d865635fc235dad4.yaml
Labels: team/agent-core

#3697 [jmxfetch] continue processing jmxfetch output if the output is too long
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/jmxfetch-process-too-long-output-9ea53dbeb397396f.yaml
Labels: community, team/agent-core

#3753 Global tags for Fargate
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  releasenotes/notes/fargate-global-tags-0ff45a9cd6b719b7.yaml
Labels: component/tagger, kind/feature, team/containers

#3842 [process-agent/system-probe] system-probe could extract container id and pid relationship without process check to run
  pkg/process/checks/container.go
  pkg/process/checks/container_nolinux.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/burrito

#3812 [tagger] add kube_cronjob tag
  cmd/cluster-agent/app/config.go
  cmd/cluster-agent/app/status.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  releasenotes/notes/[tagger]-add-kube_cronjob-tag-7344c2d73f5efd1b.yaml
Labels: component/tagger, kind/enhancement, team/containers

#3703 [test/kitchen] Improve OS coverage of kitchen tests.
  .gitlab-ci.yml
  test/kitchen/Berksfile
  test/kitchen/README.md
  test/kitchen/docs/README.md
  test/kitchen/kitchen-azure.yml
  test/kitchen/site-cookbooks/dd-agent-5/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-5/recipes/_install_linux.rb
  test/kitchen/site-cookbooks/dd-agent-5/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-5/templates/datadog.conf.erb
  test/kitchen/site-cookbooks/dd-agent-import-conf/recipes/_datadog-agent-6.rb
  test/kitchen/site-cookbooks/dd-agent-import-conf/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#3862 [release] switch nightlies back to py2-only until RC.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#3828 Use port defined in YAML for NTP check.
  cmd/agent/dist/conf.d/ntp.d/conf.yaml.default
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/corechecks/net/ntp_test.go
  releasenotes/notes/use-NTP-port-de18dae830c08d9d.yaml
Labels: team/agent-core

#3855 [windows] quote the service binary name for the agent.
  omnibus/resources/agent/msi/cal/strings.cpp
  releasenotes/notes/quotesvc-9c3f7b93dc2374aa.yaml
Labels: team/agent-core

#3859 Adds code to be able to work around if the go runtime can't find the
  pkg/api/security/platform_windows.go
  releasenotes/notes/noprofiledir-fc12ac2f9e1a6f29.yaml
Labels: team/agent-core

#3865 Bump gobpf to forked version to include debian stretch fixes
  Gopkg.lock
  Gopkg.toml
Labels: changelog/no-changelog, team/burrito

#3863 Install VCRedist141 only when using python 3
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-core

#3868 pkg/trace/agent: simplify channels
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/agent-apm

#3821 [tagger] change prefix for container runtimes and k8s pods
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_endpoints_test.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_endpoints_test.go
  pkg/autodiscovery/providers/kube_services_test.go
  pkg/autodiscovery/providers/kubelet_test.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/cri.go
  pkg/collector/corechecks/containers/docker_eventbundle.go
  pkg/dogstatsd/listeners/uds_linux.go
  pkg/dogstatsd/parser.go
  pkg/dogstatsd/parser_test.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/journald/docker.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/service/service.go
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/collectors/ecs_extract.go
  pkg/tagger/collectors/ecs_extract_test.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/tagger/collectors/ecs_main.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/tagger/collectors/kubernetes_metadata_mapper_test.go
  pkg/util/containers/entity.go
  pkg/util/containers/entity_test.go
  pkg/util/containers/runtime.go
  pkg/util/containers/runtime_test.go
  pkg/util/docker/containers.go
  pkg/util/docker/docker_test.go
  pkg/util/docker/event_pull_test.go
  pkg/util/docker/event_types.go
  pkg/util/docker/util_common.go
  pkg/util/ecs/common.go
  pkg/util/kubernetes/apiserver/endpoints.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/kubelet/container_test.go
  pkg/util/kubernetes/kubelet/containers.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_common.go
  pkg/util/kubernetes/kubelet/kubelet_common_test.go
  releasenotes/notes/[tagger]-change-entity-prefixes-73313609fa361a8e.yaml
  test/integration/dogstatsd/origin_detection.go
Labels: component/autodiscovery, component/clusterchecks, component/dogstatsd, component/logs, component/tagger, team/containers

#3864 docs/trace-agent: remove macOS section
  docs/trace-agent/README.md
Labels: changelog/no-changelog, documentation, team/agent-apm

#3856 Updating log links
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, component/logs, documentation, team/logs

#3552 add environment variable for DD_DD_URL
  Dockerfiles/agent/README.md
Labels: changelog/no-changelog, documentation, team/containers

#3879 Fix release note text after review from security
  releasenotes/notes/quotesvc-9c3f7b93dc2374aa.yaml
Labels: changelog/no-changelog, team/agent-core

#3674 [system-probe] add several system-probe configs to support environment variables
  pkg/config/config.go
  releasenotes/notes/add-system-probe-env-vars-ca3b3750206ee7fe.yaml
Labels: changelog/no-changelog, team/burrito

#3880 Fix typo
  test/e2e/scripts/generate-parameters.sh
Labels: changelog/no-changelog, team/containers

#3881 [release] Update release.json with 6.13.0-rc.2 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#3883 system-probe: Fix s6-service, the system-probe would not start when bundled with the other agents
  Dockerfiles/agent/s6-services/sysprobe/finish
  Dockerfiles/agent/s6-services/sysprobe/run
Labels: changelog/no-changelog, team/burrito

#3887 Fix entity in service removal
  pkg/autodiscovery/autoconfig.go
Labels: changelog/no-changelog, kind/bug, team/containers

#3888 [release] Update release.json with 6.13.0-rc.3 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#3889 [Fix] Make container_id as a prefix for kuberenetes containers entities
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
Labels: changelog/no-changelog, team/containers, team/logs

#3891 system-probe: Make sure that we don't run the sysprobe if IsTracerSupportedByOS returns false
  cmd/system-probe/main.go
  cmd/system-probe/probe.go
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  pkg/ebpf/nettop/main.go
  pkg/process/checks/net.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3895 Revert "[system-probe] add several system-probe configs to support environment variables"
  pkg/config/config.go
  releasenotes/notes/add-system-probe-env-vars-ca3b3750206ee7fe.yaml
Labels: changelog/no-changelog, team/burrito

#3896 [release] Update release.json with 6.13.0-rc.4 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#3892 [system-probe] add better error messages for debugfs detection
  cmd/system-probe/probe.go
  pkg/process/util/util.go
Labels: changelog/no-changelog, team/burrito

#3899 system-probe: Enable telemetry kretprobe on tcp_sendmsg only in debug mode
  pkg/ebpf/config.go
Labels: changelog/no-changelog, kind/bug, team/burrito

#3903 Revert "Make sure we reuse destinations and connections for logs"
  pkg/logs/client/tcp/destination.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
Labels: changelog/no-changelog, component/logs, team/logs

#3906 [changelog] Mention change in location of embedded python.exe
  CHANGELOG.rst
Labels: changelog/no-changelog, documentation, team/agent-core

#3908 Skip irrelevant entities instead of processing them
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/collectors/ecs_main.go
Labels: changelog/no-changelog, team/containers

#3909 [release] Update release.json with 6.13.0-rc.6 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#3911 [release] adding 6.13.0 rc.7
  release.json
Labels: changelog/no-changelog, team/agent-core

#3919 [release] 6.13.0 entry + prelude
  release.json
  releasenotes/notes/prelude-release-6.13.0-f237fb991b3ceaca.yaml
Labels: team/agent-core

#3920 [release] 6.13.0 changelog update
  CHANGELOG.rst
Labels: team/agent-core

#3884 Allow up to 1k connections per message
  pkg/process/config/config.go
Labels: changelog/no-changelog, team/burrito

#3912 Remove in-development wording in front of system-probe env var parsing
  pkg/process/config/config.go
Labels: changelog/no-changelog, team/burrito

#3886 Remove man pages from the final unix packages
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-core

#3901 Remove useless files from Linux packages to reduce size
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-core

#3871 pkg/trace/agent: remove unused field
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, team/agent-apm

#3876 pkg/ebpf/encoding: Ensure fields are all encoded (even if zeroed) when encoding to JSON
  pkg/ebpf/encoding/encoding.go
  pkg/ebpf/encoding/encoding_test.go
Labels: changelog/no-changelog, team/burrito

#3848 Adds ability to sign using pfx (pkcs12) cert file rather than require
  omnibus/config/projects/agent.rb
Labels: changelog/no-changelog, team/agent-core

#3922 trace-agent: reset metric counts correctly
  pkg/trace/info/stats.go
  releasenotes/notes/trace-normalization-metric-fix-count-a9decee155c70926.yaml
Labels: team/agent-apm

#3890 [kitchen] Make debian and ubuntu kitchen tests' successes mandatory
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3853 [DCA] show endpoint checks in `agent clusterchecks` command
  cmd/cluster-agent/api/v1/endpointschecks.go
  cmd/cluster-agent/app/clusterchecks.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/providers.go
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/dispatcher_endpoints_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/flare/cluster_checks.go
  pkg/flare/config_check.go
Labels: changelog/no-changelog, team/containers

#3860 process-agent: Add default value for process_config.enabled
  pkg/config/config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/burrito

#3902 Allow the check command to display memory profiling data
  cmd/agent/app/check.go
  releasenotes/notes/add-memory-profiling-check-command-e9619c714179609e.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#3897 Adds ddagentuser to "Event Log Readers", which allows access to
  omnibus/resources/agent/msi/cal/CustomAction.cpp
  omnibus/resources/agent/msi/cal/customaction.h
  omnibus/resources/agent/msi/cal/userrights.cpp
  releasenotes/notes/wineventgroup-5bd775df01b169d8.yaml
Labels: do-not-merge/WIP, team/agent-core

#3592 {pkg/trace/api,pkg/trace/agent}: container tagging
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/run.go
  pkg/trace/api/api.go
  releasenotes/notes/apm-container-tagging-e68b49f196813659.yaml
  tasks/trace_agent.py
Labels: team/agent-apm

#3942 [6.13.x] pin builders to relevant version
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#3941 Typo fix
  pkg/quantile/key.go
Labels: changelog/no-changelog, community, team/agent-core

#3943 Fix typo in secrets documentation
  docs/agent/secrets.md
Labels: changelog/no-changelog, team/agent-core

#3924 Change software def for py2 and py3 to point to python packages
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, team/agent-core

#3933 releasenotes/notes: update releasenotes
  CHANGELOG.rst
  releasenotes/notes/apm-enable-log-throttling-5773fe9a5623dbc5.yaml
  releasenotes/notes/apm-flush-based-on-bytes-1141964701cbf725.yaml
  releasenotes/notes/apm-never-drop-traces-bb6f2e36e8979070.yaml
  releasenotes/notes/apm-rm-service-writer-8818e02f95020d2c.yaml
Labels: changelog/no-changelog, team/agent-core

#3900 [kitchen] Test the commit's install script in kitchen
  .gitlab-ci.yml
  test/kitchen/kitchen-azure.yml
Labels: changelog/no-changelog, team/agent-core

#3948 [gitlab] pin builders to relevant version
  .gitlab-ci.yml
Labels: changelog/no-changelog

#3867 [kitchen] Add Debian 10 to kitchen tests
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3875 Tweak docs to make Dockerized build more visible
  docs/dev/agent_omnibus.md
Labels: changelog/no-changelog, documentation, team/agent-core, team/baklava

#3934 [kitchen] Use chef-datadog 3.2.0 cookbook
  test/kitchen/Berksfile
Labels: changelog/no-changelog, team/agent-core

#3825 Change six-specific images to latest
  .circleci/config.yml
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-core

#3861 Ogaca/systray no admin
  cmd/systray/systray.go
  releasenotes/notes/add-message-in-winsystray-for-noadmin-dc2bf3b43dd72306.yaml
Labels: team/agent-core

#3882 Homogenize agent commands code
  cmd/agent/app/check.go
  cmd/agent/app/config.go
  cmd/agent/app/config_check.go
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/flare.go
  cmd/agent/app/health.go
  cmd/agent/app/hostname.go
  cmd/agent/app/jmx.go
  cmd/agent/app/listchecks.go
  cmd/agent/app/reloadcheck.go
  cmd/agent/app/secret.go
  cmd/agent/app/status.go
  cmd/agent/app/tagger_list.go
  cmd/cluster-agent/app/clusterchecks.go
  cmd/cluster-agent/app/config.go
  cmd/cluster-agent/app/config_check.go
  cmd/cluster-agent/app/flare.go
  cmd/cluster-agent/app/metadata_mapper_digest.go
  cmd/cluster-agent/app/status.go
  pkg/config/config.go
  releasenotes/notes/cmds_dd_log_level-567a4952908e3fab.yaml
Labels: team/agent-core
