Repository DataDog/datadog-agent, pull requests merged in 2019-03, with the labels that each got.

#3100 tasks: add cross-compile task to trace-agent
  Makefile.trace
  tasks/trace_agent.py
Labels: dev/tooling, noreno, team/apm

#3069 docs/trace-agent: add 'max_events_per_second' to the example.yaml
  docs/trace-agent/datadog.example.yaml
Labels: noreno, team/apm

#3068 pkg/trace/sampler: add regression test for catalog race
  pkg/trace/sampler/catalog.go
  pkg/trace/sampler/catalog_test.go
Labels: noreno, team/apm

#3099 pkg/trace/writer: be less verbose about flushes
  docs/dev/contributing.md
  pkg/trace/writer/service.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
  releasenotes/notes/apm-move-flush-log-to-debug-221e5f16ca6f2ad5.yaml
Labels: team/apm

#3105 docs/trace-agent: update links
  docs/trace-agent/README.md
  pkg/trace/config/README.md
Labels: noreno, team/apm

#3091 Add manifest for dedicated cluster-checks worker
  Dockerfiles/manifests/agent-clusterchecks-only.yaml
Labels: component/clusterchecks, kind/packaging, noreno, team/containers

#3108 [invoke][release] nothing to do if there are no release notes
  tasks/release.py
Labels: noreno, team/agent-core

#3072 add auth_token exclusion from flare
  pkg/flare/envvars.go
  pkg/flare/envvars_test.go
Labels: noreno, team/containers

#3098 add clustername autodetection
  pkg/util/azure/azure.go
  pkg/util/azure/azure_test.go
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_test.go
  pkg/util/gce/gce.go
  pkg/util/gce/gce_test.go
  pkg/util/kubernetes/clustername/clustername.go
Labels: noreno, team/containers

#3084 Add cluster_checks.extra_tags option
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: component/clusterchecks, noreno, team/containers

#2994 Add image contents sanity checks to agent.docker-build task
  .gitlab-ci.yml
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/test_image_contents.py
  tasks/agent.py
  tasks/docker.py
Labels: dev/testing, noreno, team/containers

#3112 pkg/trace/api: fix incorrect error message
  pkg/trace/api/normalizer.go
  releasenotes/notes/apm-resource-empty-error-df551e379831093d.yaml
Labels: team/apm

#3110 Fix an AD race leading to checks not unscheduling
  cmd/agent/common/autoconfig.go
  pkg/autodiscovery/autoconfig.go
  releasenotes/notes/ad-race-unscheduling-a23d7d59af5bc9a2.yaml
Labels: component/autodiscovery, kind/bug, team/containers

#3094 [Logs] Cleanup logset
  pkg/logs/client/destination.go
  pkg/logs/client/endpoints.go
  pkg/logs/client/prefixer.go
  pkg/logs/client/prefixer_test.go
  pkg/logs/config/config_test.go
  pkg/logs/sender/config.go
  pkg/logs/sender/config_test.go
  releasenotes/notes/cleanup-logset-ee5956b5f3c520ee.yaml
Labels: component/logs, team/logs

#3111 Some old custom check might need their name in __init__
  pkg/collector/python/check.go
Labels: noreno, team/agent-core

#3090 Support milliquantities for the External Metrics Provider
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/provider_test.go
  pkg/clusteragent/custommetrics/types.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/hpa/datadogexternal.go
  pkg/util/kubernetes/hpa/datadogexternal_test.go
Labels: noreno, team/containers

#3119 pkg/trace/agent: improve truncator
  pkg/trace/agent/truncator.go
  pkg/trace/agent/truncator_test.go
  releasenotes/notes/apm-truncate-span-fields-utf8-057ea207e37245c0.yaml
Labels: team/apm

#3113 pkg/trace/event: make event service & operation matching insensitive
  pkg/trace/event/extractor_fixed_rate.go
  pkg/trace/event/extractor_fixed_rate_test.go
  pkg/trace/event/extractor_legacy.go
  pkg/trace/event/extractor_legacy_test.go
  releasenotes/notes/apm-analyzed-spans-insensitive-f0c03d742df708df.yaml
Labels: team/apm

#3101 Add dedicated timeout to the calls to containerd API for the Containerd Check
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_events_test.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/containerd_util_test.go
  releasenotes/notes/containerd-leak-49d81d476ec13144.yaml
Labels: team/containers

#3126 consider k8s endpoints as ad svc providers
  pkg/autodiscovery/providers/kube_services.go
  pkg/autodiscovery/providers/kube_services_test.go
  pkg/util/kubernetes/apiserver/endpoints.go
Labels: noreno, team/containers

#3129 Fix s6 un-tarring due to base image changes
  Dockerfiles/agent/Dockerfile
Labels: kind/packaging, noreno, team/containers

#3040 Various fixes for the kitchen tests
  cmd/agent/common/import.go
  releasenotes/notes/import-empty-integration-conf-dirs-1136c8beecce80b1.yaml
  test/kitchen/.gitignore
  test/kitchen/.kitchen-azure-winstall.yml
  test/kitchen/.kitchen-azure.yml
  test/kitchen/Berksfile
  test/kitchen/docs/README.md
  test/kitchen/docs/dd-agent-all-subservices.md
  test/kitchen/docs/dd-agent-installopts.md
  test/kitchen/docs/dd-agent-no-subservices.md
  test/kitchen/site-cookbooks/dd-agent-5/README.md
  test/kitchen/site-cookbooks/dd-agent-5/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-5/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-5/recipes/_install_windows_base.rb
  test/kitchen/site-cookbooks/dd-agent-5/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-import-conf/.gitignore
  test/kitchen/site-cookbooks/dd-agent-import-conf/Berksfile
  test/kitchen/site-cookbooks/dd-agent-import-conf/Gemfile
  test/kitchen/site-cookbooks/dd-agent-import-conf/README.md
  test/kitchen/site-cookbooks/dd-agent-import-conf/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-import-conf/chefignore
  test/kitchen/site-cookbooks/dd-agent-import-conf/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-import-conf/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows_base.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.ps1
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-installopts/rspec/dd-agent-installopts_spec.rb
  test/kitchen/test/integration/dd-agent-upgrade-agent5
  test/kitchen/test/integration/dd-agent-upgrade-agent5/rspec/dd-agent-upgrade-agent5_spec.rb
  test/kitchen/test/integration/dd-agent-upgrade-agent5/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-upgrade-agent6
  test/kitchen/test/integration/dd-agent-upgrade-agent6/rspec/dd-agent-upgrade-agent6_spec.rb
  test/kitchen/test/integration/dd-agent-upgrade-agent6/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-upgrade/rspec/dd-agent-upgrade_spec.rb
Labels: team/agent-core

#3128 Update the instruction for the logs_dd_url parameter
  omnibus/resources/agent/msi/README.md
Labels: documentation, noreno, team/logs

#3085 Fix minor misspells
  Dockerfiles/agent/README.md
  Dockerfiles/agent/secrets-helper/README.md
  Dockerfiles/dogstatsd/alpine/dogstatsd.yaml
  docs/agent/secrets.md
  releasenotes/notes/ad-extra-sources-f7383a85d6d07a1d.yaml
Labels: documentation, team/containers

#3127 Support list of maps of tags in AD annotation *.instances value
  pkg/autodiscovery/providers/consul.go
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/utils.go
  pkg/autodiscovery/providers/utils_test.go
  pkg/autodiscovery/providers/zookeeper.go
  releasenotes/notes/ad-fix-annotation-value-parsing-152e1a2b2fe10891.yaml
Labels: component/autodiscovery, team/containers

#3086 update docs for windows
  docs/dev/agent_dev_env.md
Labels: noreno, team/agent-core

#3141 Update secret documentation
  docs/agent/secrets.md
Labels: noreno, team/agent-core

#3106 resolve and cache dns name in kubelet
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  releasenotes/notes/use-docker-to-autodiscover-kubelet-host-ff2541815dabd0bc.yaml
Labels: team/containers

#3143 release notes: remove escaped chars
  releasenotes/notes/AD-support-new-pod-annotation-to-monitor-unready-pods-1faefa78cd0065d.yaml
  releasenotes/notes/add-more-env-vars-to-the-flare-s-whitelist-bb06a7a6fd102864.yaml
  releasenotes/notes/ignore-rancher-s-pause-container-063ec472eec38705.yaml
  releasenotes/notes/tagger-introduce-tag-cardinality-configuration-02a68994450b09cd.yaml
Labels: noreno, team/containers

#3133 integration.md updates
  docs/agent/integration.md
Labels: documentation, noreno, team/integrations

#3144 reduce concurrency on circleci unit tests
  .circleci/config.yml
Labels: dev/testing, noreno, team/containers

#3121 Log errors when parsing configuration values
  .circleci/config.yml
  Gopkg.lock
  Gopkg.toml
  pkg/config/legacy/converter_test.go
  pkg/config/legacy/docker_test.go
  pkg/config/viper.go
  pkg/metrics/histogram_test.go
  pkg/trace/config/env_test.go
Labels: noreno, team/containers

#3134 {cmd/trace-agent,pkg/trace/*}: use shared logging package
  cmd/trace-agent/main.go
  cmd/trace-agent/main_windows.go
  docs/trace-agent/datadog.example.yaml
  pkg/config/log.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/log.go
  pkg/trace/agent/run.go
  pkg/trace/agent/sampler.go
  pkg/trace/agent/service.go
  pkg/trace/agent/truncator.go
  pkg/trace/api/api.go
  pkg/trace/api/listener.go
  pkg/trace/api/logger.go
  pkg/trace/api/normalizer.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/env.go
  pkg/trace/config/env_test.go
  pkg/trace/event/sampler_max_eps.go
  pkg/trace/filters/blacklister.go
  pkg/trace/obfuscate/sql.go
  pkg/trace/osutil/file.go
  pkg/trace/sampler/coresampler_test.go
  pkg/trace/sampler/presampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/scoresampler_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/subtrace.go
  pkg/trace/traceutil/trace.go
  pkg/trace/watchdog/info.go
  pkg/trace/watchdog/logonpanic.go
  pkg/trace/watchdog/logonpanic_test.go
  pkg/trace/watchdog/net.go
  pkg/trace/writer/endpoint.go
  pkg/trace/writer/payload.go
  pkg/trace/writer/service.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
  releasenotes/notes/apm-share-log-pkg-7252042acfd39693.yaml
Labels: team/apm

#3135 Configurable max logfile size and number of rotation.
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  releasenotes/notes/configure-log-sizes-55aa3f9bdb851a35.yaml
Labels: kind/enhancement, team/agent-core

#3071 ensure flare directory name is valid
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  releasenotes/notes/hostname-invalid-file-name-82862a66abecec0e.yaml
Labels: team/agent-core

#3156 Fix flaky test
  pkg/logs/decoder/line_handler_test.go
Labels: component/logs, noreno, team/logs

#3059 Support JSON arrays in environment variables
  Gopkg.lock
  Gopkg.toml
  releasenotes/notes/env-vars-json-arrays-ac7c3dd609d3bef9.yaml
Labels: component/config, team/agent-core, team/containers

#3152 List wheels integration when compiling with six
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_nix.go
  cmd/agent/app/integrations_test.go
  cmd/agent/app/integrations_windows.go
  cmd/agent/gui/checks.go
  cmd/agent/gui/checks_cpython.go
  cmd/agent/gui/checks_nopy.go
  cmd/agent/gui/checks_py.go
  cmd/agent/gui/checks_python.go
  pkg/collector/python/utils.go
Labels: noreno, team/agent-core

#3150 Add Baklava as code owners for docs
  .github/CODEOWNERS
Labels: documentation, noreno, team/baklava

#3149 [Logs]: Update sender config to ignore empty logs_dd_url configuration coming from agent migrations
  pkg/logs/sender/config.go
  pkg/logs/sender/config_test.go
  releasenotes/notes/releasenotes/notes/logs-fix-config-after-migration-30e368fd371ea8b5.yaml
Labels: component/logs, kind/bug, team/logs

#3147 pkg/trace/api: ensure http errors get logged
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/logger.go
  releasenotes/notes/apm-http-errors-5f9dd32e92ddbf95.yaml
Labels: team/apm

#3157 pkg/trace/api: small improvements to normalization errors
  pkg/trace/api/api.go
  releasenotes/notes/apm-improve-normalizer-messages-d7e1d88730c8c5bb.yaml
Labels: team/apm

#3154 Add basic telemetry about the python version being used
  pkg/collector/python/init.go
  pkg/config/config.go
Labels: noreno, team/agent-core

#3160 [omnibus] Remove protobuf-py from omnibus deps of Agent
  omnibus/config/software/datadog-agent-integrations.rb
Labels: noreno, team/integrations

#3120 validate length sanity for hostnames from metadata endpoints
  pkg/config/config.go
  pkg/util/alibaba/alibaba.go
  pkg/util/azure/azure.go
  pkg/util/ec2/ec2.go
  pkg/util/gce/gce.go
  releasenotes/notes/metadata-endpoints-max-size-93efc904fd8b3d53.yaml
Labels: team/agent-core

#3151 Use tag v1.5.0 for viper instead of a commit hash
  Gopkg.lock
  Gopkg.toml
Labels: noreno, team/agent-core

#3142 REmove setx from python definition; it's not needed, and it messes with
  omnibus/config/software/python.rb
Labels: noreno, team/agent-core

#3170 tasks: add "secrets" build tag to default tags
  tasks/trace_agent.py
Labels: dev/tooling, noreno, team/apm

#3171 Collect container thread count and limit
  pkg/collector/corechecks/containers/docker.go
  pkg/util/containers/container_linux.go
  pkg/util/containers/metrics/cgroup_metrics.go
  pkg/util/containers/metrics/cgroup_metrics_test.go
  pkg/util/containers/types.go
  releasenotes/notes/container-thread-count-431c5c3b29ca1ddb.yaml
  test/integration/corechecks/docker/basemetrics_test.go
  test/integration/corechecks/docker/testdata/basemetrics.compose
Labels: component/collector, team/containers

#3166 [Agent]: Support Error messages for Logs Status
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/logs.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
  pkg/status/dist/templates/logsagent.tmpl
  releasenotes/notes/logs-error-status-99afc61f269a25df.yaml
Labels: component/logs, kind/enhancement, team/logs

#2750 Add dogstatsd-stats command to print basic stats on metrics processed by dogstatsd.
  cmd/agent/api/agent/agent.go
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/status.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/dogstatsd-metrics-stats-a375b1f812325a66.yaml
Labels: kind/enhancement, team/agent-core

#3185 Check for changelog/no-changelog instead of noreno
  tasks/test.py
Labels: changelog/no-changelog, team/agent-core

#3178 add /metrics to nonResourceURLs rbac permissions
  Dockerfiles/manifests/rbac/clusterrole.yaml
  releasenotes/notes/add-metrics-endpoint-to-nonResourceURLs-rbac-f1a52094fcd9dd00.yaml
Labels: documentation, kind/enhancement, team/containers

#3186 [kitchen] Pin to working 1.24.0
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-core

#3179 Add ability to pdb into checks
  cmd/agent/app/check.go
  releasenotes/notes/Add-ability-to-pass-breakpoint-flag-to-Python-checks-3d289df93c6d609b.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#3097 Update default datadog.yaml with logs parameters
  pkg/config/config_template.yaml
Labels: component/logs, documentation, noreno, team/logs

#3194 [gitlab] pinning builders
  .gitlab-ci.yml
Labels: changelog/no-changelog, noreno, team/agent-core

#3184 [Logs]: Allow logs-agent to send logs to a different account
  pkg/config/config.go
  pkg/logs/sender/config.go
  pkg/logs/sender/config_test.go
  releasenotes/notes/logs-fix-config-after-migration-30e368fd371ea8b5.yaml
Labels: component/logs, kind/feature, noreno, team/logs

#3188 Improve tagger python bridge with the new orchestrator cardinality level
  pkg/collector/py/tagger.c
  pkg/collector/py/tagger.go
  pkg/collector/py/tagger.h
  pkg/collector/py/tagger_test.go
  pkg/collector/py/tests/testtagger.py
Labels: changelog/no-changelog, component/collector, noreno, team/containers

#3190 Make our invoke tasks work with python3 (in addition to python2)
  README.md
  tasks/go.py
  tasks/release.py
  tasks/test.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#3191 [codecov] Remove PR comments and github status of project coverage
  .codecov.yml
Labels: changelog/no-changelog, team/agent-core

#3199 [agent-gui] Fix variable declaration
  cmd/agent/gui/views/templates/generalStatus.tmpl
Labels: changelog/no-changelog, kind/bug, team/agent-core

#3195 [Logs]: Detect and handle Docker logs with only header and empty content
  pkg/logs/input/docker/parser.go
  pkg/logs/input/docker/parser_test.go
  releasenotes/notes/logs-fix-docker-empty-log-content-7e3045cea1be5be7.yaml
Labels: component/logs, kind/bug, team/logs

#3164 [snmp] removing unneeded go-variant
  .circleci/images/builder/Dockerfile
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  README.md
  docs/dev/agent_build.md
  docs/dev/agent_dev_env.md
  omnibus/config/software/datadog-agent.rb
  pkg-config/darwin/embedded/net-snmp-5.7.3.pc
  pkg-config/darwin/system/net-snmp-5.7.3.pc
  pkg-config/linux/embedded/net-snmp-5.7.3.pc
  pkg-config/linux/system/net-snmp-5.7.3.pc
  pkg/clusteragent/README.md
  pkg/collector/corechecks/net/snmp.go
  pkg/collector/corechecks/net/snmp_test.go
  releasenotes/notes/go-snmp-check-removal-438066d84c0cd842.yaml
  tasks/agent.py
  tasks/build_tags.py
  tasks/utils.py
Labels: team/agent-core

#3189 [serializer] Compress metadata payloads
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/split/split.go
  releasenotes/notes/compress-metadata-payload-b217b255aaaef22a.yaml
Labels: team/agent-core

#3203 pkg/trace/api: ensure media-type gets extracted correctly
  pkg/trace/api/api.go
  pkg/trace/api/responses.go
  releasenotes/notes/apm-api-media-type-c5da70310a886488.yaml
Labels: team/apm

#3212 pkg/trace/api: fix content-type header in response
  pkg/trace/api/api.go
  pkg/trace/api/responses.go
  releasenotes/notes/apm-api-response-content-type-d2401b456be2fba3.yaml
Labels: team/apm

#3187 remove rawValue for dogstatsd metrics
  pkg/dogstatsd/parser.go
  pkg/dogstatsd/parser_test.go
Labels: changelog/no-changelog, team/agent-core

#3145 datadog-agent, limit number of DCA call from Agent
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/install.go
  pkg/clusteragent/api/v1/types.go
  pkg/flare/archive_dca.go
  pkg/tagger/collectors/kubernetes_main.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_kubelet.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/services_kubelet.go
  pkg/util/kubernetes/apiserver/services_kubelet_test.go
  pkg/util/kubernetes/apiserver/services_test.go
  pkg/util/kubernetes/apiserver/store.go
  releasenotes/notes/cluster-agent-aggregate-agent-to-dca-api-call-69321589e1bd52bf.yaml
Labels: component/metadata, team/containers

#3215 Fix the tagger.tag cpython bridge function
  pkg/collector/py/tagger.c
  pkg/collector/py/tagger_test.go
Labels: changelog/no-changelog, component/collector, kind/bug, team/containers

#3176 blacklist standard dogstatsd prefixes when adding custom namespace
  cmd/agent/gui/checks.go
  cmd/agent/gui/checks_py.go
  pkg/collector/check/jmx.go
  pkg/config/config.go
  pkg/config/standard_names.go
  pkg/dogstatsd/parser.go
  pkg/dogstatsd/parser_test.go
  pkg/dogstatsd/server.go
  releasenotes/notes/blacklist-dogstatsd-standard-prefix-custom-namespace-2fc6d9a23247f969.yaml
Labels: noreno, team/agent-core

#3177 Fix usage binary name to use the real one
  cmd/agent/app/app.go
Labels: noreno, team/agent-core

#3137 Fix host alias for GCE instances with custom hostname
  pkg/util/gce/gce.go
  pkg/util/gce/gce_test.go
  releasenotes/notes/gce-host-alias-instance-name-deb56d01c077f41f.yaml
Labels: team/agent-core

#3211 [Logs]: Allow for directory tagging when tailing files
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/file_provider_test.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/file/tailer_test.go
  releasenotes/notes/logs-directory-tag-option-7a39ca711c79d699.yaml
Labels: component/logs, kind/feature, team/logs

#3214 pkg/trace/agent: add stream decoder
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/service.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/normalizer.go
  pkg/trace/api/normalizer_test.go
  pkg/trace/test/testutil/trace.go
  releasenotes/notes/apm-sequential-processing-f01280809a19ee2d.yaml
Labels: team/apm

#3224 pkg/trace/api: avoid deadlock
  pkg/trace/api/api.go
Labels: changelog/no-changelog, team/apm

#3209 [Logs]: Change to a randomized exponential backoff in case of connection failure
  pkg/logs/client/connection_manager.go
  pkg/logs/input/docker/parser.go
  releasenotes/notes/logs-fix-backoff-duration-cf5d6257025c7a67.yaml
Labels: component/logs, kind/bug, team/logs

#3226 pkg/trace/api: revert change in #3214
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/service.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/normalizer.go
  pkg/trace/api/normalizer_test.go
  pkg/trace/test/testutil/trace.go
  releasenotes/notes/apm-sequential-processing-f01280809a19ee2d.yaml
Labels: changelog/no-changelog, team/apm

#3220 Fix warning about type mismatch
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#3163 [serializer] improve stream serialization memory efficiency for small payloads
  pkg/serializer/jsonstream/compressor.go
  pkg/serializer/jsonstream/compressor_test.go
  pkg/serializer/jsonstream/payload_builder.go
  pkg/serializer/jsonstream/payload_builder_nozlib.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_benchmark_test.go
Labels: kind/performance, noreno, team/agent-core

#3193 [serializer] enable stream serialization by default
  pkg/config/config.go
  releasenotes/notes/stream-serialization-24b820b6244f2339.yaml
Labels: team/agent-core

#3228 pkg/trace/agent: add a throughput benchmark
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/sampler.go
  pkg/trace/agent/service.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/apm

#3208 No longer decrypt secret in commands when it's not needed
  cmd/agent/app/config.go
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/health.go
  cmd/agent/app/hostname.go
  cmd/agent/app/launchgui.go
  cmd/agent/app/listchecks.go
  cmd/agent/app/reloadcheck.go
  cmd/agent/app/secret.go
  cmd/agent/app/status.go
  cmd/agent/app/stop.go
  cmd/agent/app/tagger_list.go
  cmd/agent/common/common_windows.go
  cmd/agent/common/helpers.go
  cmd/systray/doconfigure.go
  pkg/config/config.go
  pkg/config/config_test.go
  releasenotes/notes/no-secret-in-simple-command-03d2636e39fbac31.yaml
Labels: team/agent-core

#3227 Allow to filter out old pods when parsing the podlist to reduce memory usage
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/kubelet/json.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_expired.json
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/kubernetes_pod_expiration_duration-a061d587ed35d561.yaml
Labels: team/containers

#3223 Allow configuring k8s event collection timeout
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/apiserver/events.go
  releasenotes/notes/kubernetes_event_collection_timeout-138709c7192c296f.yaml
Labels: team/containers

#3229 Bump Python to 2.7.16
  omnibus/config/software/python.rb
  releasenotes/notes/python-2-7-16-ad658e375b138e92.yaml
Labels: team/agent-core

#3174 ec2 tags collection is broken when kube2iam is used
  pkg/util/ec2/ec2_tags.go
  pkg/util/ec2/ec2_tags_test.go
  releasenotes/notes/ec2-tags-collection-is-broken-when-kube2iam-is-used-bf05af7d99a28073.yaml
Labels: team/containers

#3230 Ajacquemot/logs kubernetes tags refresh
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/docker/tailer_test.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/tag/noop_provider.go
  pkg/logs/tag/noop_provider_test.go
  pkg/logs/tag/provider.go
Labels: component/logs, noreno, team/logs

#3060 Add logging agent in logger setup
  Dockerfiles/agent/s6-services/agent/log/run
  Dockerfiles/agent/s6-services/network/log/run
  Dockerfiles/agent/s6-services/process/log/run
  Dockerfiles/agent/s6-services/trace/log/run
  cmd/agent/app/app.go
  cmd/agent/app/check.go
  cmd/agent/app/diagnose.go
  cmd/agent/app/flare.go
  cmd/agent/app/hostname.go
  cmd/agent/app/jmx.go
  cmd/agent/app/start.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/flare.go
  cmd/dogstatsd/main.go
  pkg/autodiscovery/autoconfig_test.go
  pkg/config/log.go
  pkg/config/log_test.go
  pkg/trace/agent/log.go
  pkg/util/containers/collectors/detector_test.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  releasenotes/notes/add-logging-component-508126fd23d77e4d.yaml
  test/benchmarks/dogstatsd/main.go
  test/integration/corechecks/docker/main_test.go
  test/integration/dogstatsd/origin_detection_test.go
  test/integration/listeners/docker/docker_listener_test.go
  test/util/util.go
Labels: component/logs, team/agent-guild

#3200 Added agent uptime to status log and status gui
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/status/dist/templates/header.tmpl
  pkg/status/status.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core

#3146 Tell the checks downloader which Python to use
  cmd/agent/app/integrations.go
Labels: component/cmd-agent, kind/bug, noreno, team/integrations

#3140 Remove the need to set cwd for checks downloader
  cmd/agent/app/integrations.go
Labels: changelog/no-changelog, component/cmd-agent, kind/enhancement, team/integrations

#3233 Add DD_SITE environment variable to README
  Dockerfiles/agent/README.md
Labels: noreno, team/containers
