Repository DataDog/datadog-agent, pull requests merged in 2020-12, with the labels that each got.

#6881 Break down tagger telemetry per source and prefix
  pkg/tagger/metrics.go
  pkg/tagger/tagstore.go
Labels: changelog/no-changelog, team/containers

#6885 [runtime-security] Fix parent filename discarder as regular expression
  pkg/security/probe/discarders_bpf.go
  pkg/security/probe/kfilters.go
  pkg/security/probe/kfilters_test.go
  pkg/security/probe/probe_bpf.go
Labels: changelog/no-changelog, team/agent-security

#6814 [networks] Add kitchen tests for system-probe
  .github/CODEOWNERS
  .gitlab-ci.yml
  pkg/ebpf/testdata/simulate_udp.sh
  pkg/ebpf/testdata/teardown_simulate_udp.sh
  pkg/ebpf/tracer_test.go
  pkg/network/dns_snooper_test.go
  pkg/network/netlink/testdata/setup_cross_ns_dnat.sh
  pkg/network/netlink/testdata/setup_dnat.sh
  pkg/network/netlink/testdata/setup_dnat6.sh
  pkg/network/netlink/testdata/teardown_dnat.sh
  pkg/network/netlink/testdata/teardown_dnat6.sh
  pkg/network/testdata/setup_netns.sh
  pkg/network/testdata/teardown_netns.sh
  tasks/system_probe.py
  test/kitchen/Berksfile
  test/kitchen/kitchen-azure-system-probe-test.yml
  test/kitchen/kitchen-vagrant-system-probe.yml
  test/kitchen/site-cookbooks/dd-system-probe-check/.gitignore
  test/kitchen/site-cookbooks/dd-system-probe-check/Berksfile
  test/kitchen/site-cookbooks/dd-system-probe-check/Gemfile
  test/kitchen/site-cookbooks/dd-system-probe-check/README.md
  test/kitchen/site-cookbooks/dd-system-probe-check/attributes/default.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/chefignore
  test/kitchen/site-cookbooks/dd-system-probe-check/files/default/.gitkeep
  test/kitchen/site-cookbooks/dd-system-probe-check/metadata.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test/integration/dd-system-probe-test/rspec/dd-system-probe-test_spec.rb
  test/kitchen/test/integration/dd-system-probe-test/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/networks

#6865 [ecs] Expire cache key for availability of ECS EC2 resource tags
  pkg/util/ecs/detection.go
  releasenotes/notes/expire-cache-key-for-ec2-resource-tags-in-ecs-e8ff361c6bf62a4c.yaml
Labels: kind/enhancement, team/containers

#6615 pkg/trace/api: enable Windows pipe support
  pkg/config/apm.go
  pkg/trace/api/api.go
  pkg/trace/api/pipe.go
  pkg/trace/api/pipe_off.go
  releasenotes/notes/apm-windows-pipe-c8de92ce85fd930b.yaml
Labels: team/agent-apm

#6890 [release] 7.24.0 release entry and CHANGELOG
  CHANGELOG.rst
  release.json
  releasenotes/notes/prelude-release-7.24.0-25c54d5620341842.yaml
Labels: qa/skip-qa, team/agent-core

#6889 Only update telemetry if source was actually deleted
  pkg/tagger/tagstore.go
Labels: changelog/no-changelog, team/containers

#6884 [KSMCore] Metrics documentation
  pkg/collector/corechecks/cluster/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetes_state.md
  pkg/collector/corechecks/cluster/kubernetes_state_defaults.go
Labels: changelog/no-changelog, team/containers

#6892 [hostname] adding a comment on the future usage of the fqdn warning
  pkg/util/hostname.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6796 [runtime-security] Expose process execution events and introduce process ancestors metadata
  cmd/security-agent/app/runtime.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/cgroup.h
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/container.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/filters.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/probe.c
  pkg/security/ebpf/c/process.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/umount.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/probe/consts.go
  pkg/security/probe/discarders_bpf.go
  pkg/security/probe/model.go
  pkg/security/probe/model_accessors.go
  pkg/security/probe/model_test.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/probe_nobpf.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/process_resolver_bpf.go
  pkg/security/probe/resolvers_bpf.go
  pkg/security/probe/time_resolver.go
  pkg/security/secl/generators/accessors/accessors.go
  pkg/security/tests/process_test.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security

#6834 [jmxfetch] Fix identical config file related crash
  pkg/util/cache/basic_cache.go
  pkg/util/cache/basic_cache_test.go
Labels: changelog/no-changelog, team/agent-core

#6830 Update pipe name env
  pkg/config/config.go
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, team/agent-core

#6888 Add manual stage to build ebpf-only clang 11
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#5738 rtloader: preserve LC_RPATH for `datadog-agent-*` install on mac
  releasenotes/notes/cmake-python-preserve-lc-rpath-2e6b0f93d9ee9e10.yaml
  rtloader/three/CMakeLists.txt
  rtloader/two/CMakeLists.txt
Labels: team/agent-apm

#6893 Address the e2e tests failures of today
  test/e2e/argo-workflows/templates/fake-datadog.yaml
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, dev/testing, team/containers

#6891 [runtime-security] Stop using the linux_bpf build tag
  pkg/security/ebpf/manager.go
  pkg/security/ebpf/map.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/all_nobpf.go
  pkg/security/ebpf/probes/attr.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/ebpf/probes/link.go
  pkg/security/ebpf/probes/mkdir.go
  pkg/security/ebpf/probes/mount.go
  pkg/security/ebpf/probes/open.go
  pkg/security/ebpf/probes/rename.go
  pkg/security/ebpf/probes/rmdir.go
  pkg/security/ebpf/probes/shared.go
  pkg/security/ebpf/probes/unlink.go
  pkg/security/ebpf/probes/xattr.go
  pkg/security/module/module.go
  pkg/security/module/module_unsupported.go
  pkg/security/module/rate_limiter.go
  pkg/security/module/server.go
  pkg/security/probe/approvers.go
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/dentry_resolver_bpf.go
  pkg/security/probe/dentry_resolver_nobpf.go
  pkg/security/probe/discarders.go
  pkg/security/probe/kfilters_bpf.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/mount.go
  pkg/security/probe/mount_bpf.go
  pkg/security/probe/open.go
  pkg/security/probe/open_bpf.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/probe_nobpf.go
  pkg/security/probe/process_cache_entry.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/process_resolver_bpf.go
  pkg/security/probe/process_resolver_nobpf.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/resolvers_bpf.go
  pkg/security/probe/resolvers_nobpf.go
  pkg/security/probe/syscall_stats.go
  tasks/security_agent.py
  test/kitchen/Berksfile
Labels: changelog/no-changelog, team/agent-security

#6902 pkg/trace/agent: fix flakey test
  pkg/trace/agent/agent_test.go
Labels: changelog/no-changelog, team/agent-apm

#6899 [system-probe] Fix kitchen tests on debian 10
  pkg/ebpf/tracer_test.go
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/testdata/setup_cross_ns_dnat.sh
  pkg/network/netlink/testdata/teardown_cross_ns_dnat.sh
Labels: changelog/no-changelog, component/system-probe, dev/testing, team/networks

#6895 [networks] Change system-probe CI test rules
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#6836 Add option to output check results in a tabular format
  LICENSE-3rdparty.csv
  cmd/agent/common/commands/check.go
  go.mod
  go.sum
  pkg/metrics/series.go
  pkg/metrics/service_check.go
  releasenotes/notes/tabular-check-format-4177ef9c7f8d0506.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#6769 Retain the domain/user that was used to register the agent service on
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  releasenotes/notes/allowupgradenoparams-3e835eaeb8db0b04.yaml
  tools/windows/install-help/cal/FinalizeInstall.cpp
  tools/windows/install-help/cal/caninstall.cpp
  tools/windows/install-help/cal/customactiondata.cpp
  tools/windows/install-help/cal/customactiondata.h
  tools/windows/install-help/cal/ddreg.cpp
  tools/windows/install-help/cal/ddreg.h
  tools/windows/install-help/cal/doUninstall.cpp
  tools/windows/install-help/cal/resource.h
  tools/windows/install-help/cal/strings.cpp
  tools/windows/install-help/cal/strings.h
  tools/windows/install-help/cal/stringtable.rc
Labels: team/agent-platform

#6900 [backport] CHANGELOG and release.json from `7.24.0` into `master`.
  CHANGELOG.rst
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6908 [circleci] Update XCode version
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform

#6904 Don't double convert tagger IDs
  pkg/tagger/collectors/kubernetes_main.go
  releasenotes/notes/tagger-entity-leak-7f140966083ac07a.yaml
Labels: team/containers

#6438 Monitor dogstatsd buffer usage
  docs/dogstatsd/internals.md
  pkg/dogstatsd/listeners/packet_assembler_test.go
  pkg/dogstatsd/listeners/packets_buffer.go
Labels: changelog/no-changelog, component/dogstatsd, team/agent-core, team/logs

#6919 Fixing linter issue about int to string conversion
  pkg/metrics/service_check_test.go
  pkg/trace/sampler/scoresampler_test.go
  pkg/util/kernel/version.go
  pkg/util/kubernetes/autoscalers/autoscalers_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6912 [backport] Don't double convert tagger IDs (#6904)
  pkg/tagger/collectors/kubernetes_main.go
  releasenotes/notes/tagger-entity-leak-7f140966083ac07a.yaml
Labels: team/containers

#6911 [backport] Fix parsing of pre-release versions for integrations (#6797)
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_test.go
  releasenotes/notes/fix-integration-prerelease-parsing-dd5e4ae9f865bdb8.yaml
Labels: team/integrations

#6764 [system-probe] Read udp ports bindings for all namespaces on init
  pkg/ebpf/bytecode/bindata/bindataOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/network/port.go
  pkg/network/port_test.go
  pkg/network/testdata/setup_netns.sh
Labels: changelog/no-changelog, component/system-probe, team/networks

#6823 pkg/trace: optimize ExtractSubtraces
  pkg/trace/stats/subtrace.go
  pkg/trace/stats/subtrace_test.go
  pkg/trace/traceutil/trace.go
  pkg/trace/traceutil/trace_test.go
  releasenotes/notes/trace-agent-less-allocs-in-subtrace-extraction-34ab013fefa0ecbe.yaml
Labels: team/agent-apm

#6852 Bumping datadog-go (DogStatsD Go client) to 4.2.0
  go.mod
  go.sum
  pkg/security/module/module.go
  pkg/trace/metrics/metrics.go
Labels: changelog/no-changelog, major_change, team/agent-apm, team/agent-core, team/agent-security

#6929 Revert "[logs/k8s] Retry query to kubelet (#6626)"
  pkg/logs/input/kubernetes/launcher.go
Labels: changelog/no-changelog, team/agent-core

#6930 Revert "[logs/k8s] Retry query to kubelet (#6626)" (#6929)
  pkg/logs/input/kubernetes/launcher.go
Labels: changelog/no-changelog, team/agent-core

#6933 [backport/7.24.x] fix x86 build (#6766)
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6913 [release] 7.24.1-rc.1 release entry
  release.json
  releasenotes/notes/cacert-7.24.1-9f1b2c1e249aa30f.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#5692 new SQL Exec Plan obfuscation API for checks
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init.go
  pkg/config/apm.go
  pkg/trace/config/apply.go
  pkg/trace/obfuscate/json.go
  pkg/trace/obfuscate/json_test.go
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_test.go
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/testdata/json_tests.xml
  releasenotes/notes/sql-exec-plan-obfuscation-916c3d66e436d7ce.yaml
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/builtins/datadog_agent.h
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/test/datadog_agent/datadog_agent.go
  rtloader/test/datadog_agent/datadog_agent_test.go
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: team/agent-apm

#6931 [gitlab] Update & fix builders
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6618 [procutil] add initial models, test files and command line test
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/procutil/process_model.go
  pkg/process/procutil/resources/10389/cmdline
  pkg/process/procutil/resources/10389/io
  pkg/process/procutil/resources/10389/stat
  pkg/process/procutil/resources/10389/statm
  pkg/process/procutil/resources/10389/status
  pkg/process/procutil/resources/test_procfs/proc/1/cmdline
  pkg/process/procutil/resources/test_procfs/proc/1/io
  pkg/process/procutil/resources/test_procfs/proc/1/stat
  pkg/process/procutil/resources/test_procfs/proc/1/statm
  pkg/process/procutil/resources/test_procfs/proc/1/status
  pkg/process/procutil/resources/test_procfs/proc/10088/cmdline
  pkg/process/procutil/resources/test_procfs/proc/10088/io
  pkg/process/procutil/resources/test_procfs/proc/10088/stat
  pkg/process/procutil/resources/test_procfs/proc/10088/statm
  pkg/process/procutil/resources/test_procfs/proc/10088/status
  pkg/process/procutil/resources/test_procfs/proc/15369/cmdline
  pkg/process/procutil/resources/test_procfs/proc/15369/io
  pkg/process/procutil/resources/test_procfs/proc/15369/stat
  pkg/process/procutil/resources/test_procfs/proc/15369/statm
  pkg/process/procutil/resources/test_procfs/proc/15369/status
  pkg/process/procutil/resources/test_procfs/proc/27700/cmdline
  pkg/process/procutil/resources/test_procfs/proc/27700/io
  pkg/process/procutil/resources/test_procfs/proc/27700/stat
  pkg/process/procutil/resources/test_procfs/proc/27700/statm
  pkg/process/procutil/resources/test_procfs/proc/27700/status
  pkg/process/procutil/resources/test_procfs/proc/28342/cmdline
  pkg/process/procutil/resources/test_procfs/proc/28342/io
  pkg/process/procutil/resources/test_procfs/proc/28342/stat
  pkg/process/procutil/resources/test_procfs/proc/28342/statm
  pkg/process/procutil/resources/test_procfs/proc/28342/status
  pkg/process/procutil/resources/test_procfs/proc/29613/cmdline
  pkg/process/procutil/resources/test_procfs/proc/29613/io
  pkg/process/procutil/resources/test_procfs/proc/29613/stat
  pkg/process/procutil/resources/test_procfs/proc/29613/statm
  pkg/process/procutil/resources/test_procfs/proc/29613/status
  pkg/process/procutil/resources/test_procfs/proc/29998/cmdline
  pkg/process/procutil/resources/test_procfs/proc/29998/io
  pkg/process/procutil/resources/test_procfs/proc/29998/stat
  pkg/process/procutil/resources/test_procfs/proc/29998/statm
  pkg/process/procutil/resources/test_procfs/proc/29998/status
  pkg/process/procutil/resources/test_procfs/proc/3/cmdline
  pkg/process/procutil/resources/test_procfs/proc/3/io
  pkg/process/procutil/resources/test_procfs/proc/3/stat
  pkg/process/procutil/resources/test_procfs/proc/3/statm
  pkg/process/procutil/resources/test_procfs/proc/3/status
  pkg/process/procutil/resources/test_procfs/proc/3254/cmdline
  pkg/process/procutil/resources/test_procfs/proc/3254/io
  pkg/process/procutil/resources/test_procfs/proc/3254/stat
  pkg/process/procutil/resources/test_procfs/proc/3254/statm
  pkg/process/procutil/resources/test_procfs/proc/3254/status
Labels: changelog/no-changelog, team/processes

#6506 Adding support for multiple values per dogstatsd datagram
  pkg/dogstatsd/README.md
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/float64_list_pool.go
  pkg/dogstatsd/parse.go
  pkg/dogstatsd/parse_events_test.go
  pkg/dogstatsd/parse_metrics.go
  pkg/dogstatsd/parse_metrics_test.go
  pkg/dogstatsd/parse_service_checks_test.go
  pkg/dogstatsd/parse_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/dogstatsd/server_worker.go
Labels: changelog/no-changelog, team/agent-core

#6770 pkg/trace/obfuscate: allow more context in top-level call SQL escape sequences
  go.sum
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-pl-sql-c6f2391d8ce2fb14.yaml
Labels: team/agent-apm

#6906 pkg/trace/test: ensure that each run installs a fresh agent
  pkg/trace/test/agent.go
  pkg/trace/test/runner.go
Labels: changelog/no-changelog, team/agent-apm

#6883 [logs/AD] Logs tailing from docker label
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/input/file/tailer.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/status/builder.go
  pkg/status/templates/logsagent.tmpl
Labels: changelog/no-changelog, team/agent-core

#6927 Fix systemd check id
  pkg/collector/corechecks/systemd/systemd.go
  pkg/collector/corechecks/systemd/systemd_test.go
  releasenotes/notes/fix_systemd_check_id-06e1ee9caef9800e.yaml
Labels: kind/bug, team/integrations

#6936 Add ddog-gov.com site option to Windows installer
  omnibus/resources/agent/msi/assets/sitedlg.wxi
  omnibus/resources/dogstatsd/msi/assets/sitedlg.wxi
  omnibus/resources/iot/msi/assets/sitedlg.wxi
  releasenotes/notes/add-ddgov-e6247cff63b3951b.yaml
Labels: team/agent-platform

#6800 [procutil] add commandline parsing benchmark for test fs and local fs
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#6937 [AD] Cleanup prometheus AD
  pkg/autodiscovery/common/prometheus.go
  pkg/autodiscovery/providers/prometheus_common_test.go
Labels: changelog/no-changelog, team/containers

#6846 [gitlab] Refactor config file
  .gitlab-ci.yml
  docs/dev/agent_omnibus.md
  tasks/winbuildscripts/buildlocal.bat
  tasks/winbuildscripts/unitlocal.bat
  tasks/winbuildscripts/unittests.bat
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform

#6776 [auditor] Allow to filter registry update by source ID
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/auditor/mock/mock.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/file/tailer_key.go
  pkg/logs/input/file/tailer_nix.go
  pkg/logs/input/file/tailer_test.go
  pkg/logs/input/file/tailer_windows.go
Labels: changelog/no-changelog, team/agent-core

#6917 [networks] Log when DNS inspection is enabled but not supported
  pkg/network/dns_snooper.go
  pkg/network/dns_snooper_test.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks

#6914 Add unit test for secret backend invocation from AD
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/autoconfig_test.go
Labels: changelog/no-changelog, dev/testing, team/containers

#6918 Update storedTags on adds to every source
  pkg/tagger/tagstore.go
Labels: changelog/no-changelog, team/containers

#6844 Add trigger to build internal images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#6949 [release] release entry 7.24.1-rc.2
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6940 Fix a typo in the release note
  docs/dev/contributing.md
  releasenotes/config.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6932 Fix the `security-agent runtime check-policies` command
  cmd/security-agent/app/app.go
  cmd/security-agent/app/runtime.go
  cmd/security-agent/main.go
Labels: changelog/no-changelog, team/agent-security

#6910 Migrate orchestrator config to its own struct/package
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/clusteragent/orchestrator/processor.go
  pkg/orchestrator/config/config.go
  pkg/orchestrator/config/config_test.go
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
  pkg/orchestrator/redact/data_scrubber.go
  pkg/orchestrator/redact/data_scrubber_test.go
  pkg/orchestrator/redact/pod.go
  pkg/orchestrator/redact/pod_test.go
  pkg/process/checks/pod.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/container-app

#6948 [runtime-security] use only one perf ring, clean dentry chain, cleanup dentry after unmount
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/ebpf/bytecode/bindata/bindataTracerO.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/probe_bpf.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/setup_test.go
Labels: changelog/no-changelog, team/agent-security

#6700 Add loader selection to init_config
  pkg/collector/check/jmx.go
  pkg/collector/check/jmx_test.go
  pkg/collector/check/loader.go
  pkg/collector/corechecks/embed/jmx/loader.go
  pkg/collector/corechecks/loader.go
  pkg/collector/loaders/loaders_test.go
  pkg/collector/python/loader.go
  pkg/collector/scheduler.go
  pkg/collector/scheduler_test.go
  releasenotes/notes/add_init_config_loader_config-3429b35fc250feeb.yaml
Labels: kind/enhancement, team/infra-integrations

#6628 [procutil] add parsing status code and tests
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/procutil/resources/test_procfs/proc/6320/cmdline
  pkg/process/procutil/resources/test_procfs/proc/6320/io
  pkg/process/procutil/resources/test_procfs/proc/6320/stat
  pkg/process/procutil/resources/test_procfs/proc/6320/statm
  pkg/process/procutil/resources/test_procfs/proc/6320/status
  pkg/process/procutil/resources/test_procfs/proc/6321/cmdline
  pkg/process/procutil/resources/test_procfs/proc/6321/io
  pkg/process/procutil/resources/test_procfs/proc/6321/stat
  pkg/process/procutil/resources/test_procfs/proc/6321/statm
  pkg/process/procutil/resources/test_procfs/proc/6321/status
  pkg/process/procutil/resources/test_procfs/proc/6322/cmdline
  pkg/process/procutil/resources/test_procfs/proc/6322/io
  pkg/process/procutil/resources/test_procfs/proc/6322/stat
  pkg/process/procutil/resources/test_procfs/proc/6322/statm
  pkg/process/procutil/resources/test_procfs/proc/6322/status
  pkg/process/procutil/resources/test_procfs/proc/8225/cmdline
  pkg/process/procutil/resources/test_procfs/proc/8225/io
  pkg/process/procutil/resources/test_procfs/proc/8225/stat
  pkg/process/procutil/resources/test_procfs/proc/8225/statm
  pkg/process/procutil/resources/test_procfs/proc/8225/status
  pkg/process/procutil/resources/test_procfs/proc/8226/cmdline
  pkg/process/procutil/resources/test_procfs/proc/8226/io
  pkg/process/procutil/resources/test_procfs/proc/8226/stat
  pkg/process/procutil/resources/test_procfs/proc/8226/statm
  pkg/process/procutil/resources/test_procfs/proc/8226/status
  pkg/process/procutil/resources/test_procfs/proc/8227/cmdline
  pkg/process/procutil/resources/test_procfs/proc/8227/io
  pkg/process/procutil/resources/test_procfs/proc/8227/stat
  pkg/process/procutil/resources/test_procfs/proc/8227/statm
  pkg/process/procutil/resources/test_procfs/proc/8227/status
Labels: changelog/no-changelog, team/processes

#6950 [AD][Tagger] Fix potential inconsistent tags hash
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_endpoints_test.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/types.go
  pkg/tagger/global.go
  pkg/tagger/tagger.go
  releasenotes/notes/fix-tags-race-5d9e6ebad31c97aa.yaml
  test/integration/listeners/docker/docker_listener_test.go
Labels: component/autodiscovery, component/tagger, kind/bug, team/containers

#6941 pkg/trace/agent: update top_level field set by tracer
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/traceutil/span.go
Labels: changelog/no-changelog, team/agent-apm

#6946 pkg/trace: switch v0.5 msgpack deserialization to read from []byte
  pkg/trace/api/api.go
  pkg/trace/pb/decoder.go
  pkg/trace/pb/decoder_bytes.go
  pkg/trace/pb/decoder_v05.go
  pkg/trace/pb/decoder_v05_test.go
  releasenotes/notes/trace-agent-improve-msgpack-deserialisation-05-41f959138880358b.yaml
Labels: team/agent-apm

#6935 format cluster-agent orchestrator status
  pkg/clusteragent/orchestrator/status.go
  pkg/status/templates/orchestrator.tmpl
Labels: changelog/no-changelog, team/container-app

#6816 Add output of `lodctr -q` to flare, to make sure counters are enabled
  pkg/flare/archive.go
  pkg/flare/archive_nix.go
  pkg/flare/archive_win.go
Labels: changelog/no-changelog, team/agent-platform

#6916 [networks] Improve kallsym lookup
  pkg/ebpf/ksyms.go
  pkg/process/util/ss_bytes.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#6942 Upgrade to go 1.14.12
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  appveyor.yml
  devenv/scripts/Install-DevEnv.ps1
  releasenotes/notes/go-1.14.12-92ddcc6e26637e1b.yaml
Labels: team/agent-core

#6761 Add profiler to system-probe if enabled
  cmd/system-probe/main.go
  pkg/config/config_template.yaml
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#6956 Update go.mod and go.sum
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6802 [procutil] add benchmark for status parsing
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#6926 pkg/trace/agent: increase maximum allowed tag key length from 100 to 200
  pkg/trace/agent/truncator.go
  releasenotes/notes/apm-max-key-len-100-to-200-31e84fcd225f8e8d.yaml
Labels: team/agent-apm

#6905 serverless: adding an overview on what is/how works the Serverless Agent
  cmd/serverless/README.md
  docs/serverless/README.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6841 [runtime-security] make use of SECL iterator to expose process ancestors
  pkg/security/probe/model.go
  pkg/security/probe/model_accessors.go
  pkg/security/probe/process_cache_entry.go
  pkg/security/rules/model_test.go
  pkg/security/rules/ruleset_test.go
  pkg/security/secl/ast/secl.go
  pkg/security/secl/ast/secl_test.go
  pkg/security/secl/eval/context.go
  pkg/security/secl/eval/errors.go
  pkg/security/secl/eval/eval.go
  pkg/security/secl/eval/eval_operators.go
  pkg/security/secl/eval/eval_test.go
  pkg/security/secl/eval/event.go
  pkg/security/secl/eval/model.go
  pkg/security/secl/eval/model_test.go
  pkg/security/secl/eval/operators.go
  pkg/security/secl/eval/registers.go
  pkg/security/secl/eval/rule.go
  pkg/security/secl/eval/state.go
  pkg/security/secl/generators/accessors/accessors.go
  pkg/security/secl/generators/operators/operators.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#6947 [runtime-security] make sure perf event a handled in the right order
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/probe/model.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/reorderer.go
Labels: changelog/no-changelog, team/agent-security

#6951 Start the security-agent binary if security-agent.yaml is not present
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/config.go
  cmd/security-agent/app/flare.go
  cmd/security-agent/app/status.go
  cmd/security-agent/common/check_command.go
  cmd/security-agent/common/config.go
Labels: changelog/no-changelog, team/agent-security

#6872 Add dockerhub image scan on master and nightly build
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#6785 Separate node schedulability into its own tag
  pkg/clusteragent/orchestrator/processor_test.go
  pkg/clusteragent/orchestrator/transformer.go
  releasenotes-dca/notes/node-unschedulable-4fa23bb955163a3a.yaml
Labels: team/container-app

#6963 [release] 7.24.1 release entry
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6965 Update snyk
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6923 Document new collect_default_jvm_metrics flag for JMXFetch
  cmd/agent/dist/conf.d/jmx.d/conf.yaml.example
  releasenotes/notes/collect_default_jvm_metrics-ebdc0ad0f00f6b07.yaml
Labels: team/agent-core

#6724 Make TestHighPriorityTransaction less flaky
  pkg/forwarder/forwarder_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6943 Fix snmp listener subnet loop
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  releasenotes/notes/snmp_listener_fix_subnets_loop-c870ab18d3fac9fd.yaml
Labels: team/infra-integrations

#6966 Pick up new pod tags
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/util/kubernetes/kubelet/testdata/podlist_container_creating.json
  releasenotes/notes/new-pod-tags-7fc08af62bf4170d.yaml
Labels: team/container-app, team/containers

#6925 make the agent get k8s clusterID from dca API
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/server_test.go
  cmd/cluster-agent/api/v1/cloudfoundry_metadata.go
  cmd/cluster-agent/api/v1/cloudfoundry_metadata_nocompile.go
  cmd/cluster-agent/api/v1/kubernetes_metadata.go
  cmd/cluster-agent/app/app.go
  pkg/process/config/config.go
  pkg/tagger/collectors/garden_extract_test.go
  pkg/tagger/collectors/kubernetes_metadata_mapper_test.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/kubernetes/clustername/clustername.go
  releasenotes/notes/make-agents-get-k8s-clusterID-from-dca-directly-10818f07f6bd4938.yaml
  tasks/build_tags.py
  tasks/go.py
  tasks/test.py
Labels: component/cluster-agent, kind/enhancement, need-change/helm-chart, need-change/operator, team/container-app

#6924 Dedicated logs endpoints for the security-agent
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  cmd/security-agent/app/runtime_unsupported.go
  pkg/logs/config/config.go
Labels: changelog/no-changelog, need-change/helm-chart, need-change/operator, team/agent-security

#6726 [networks] Add prototype for HTTP monitoring in eBPF
  pkg/config/config.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataTracerO.go
  pkg/ebpf/bytecode/bindata/bindataTracerdebugO.go
  pkg/network/config/config.go
  pkg/network/config/config_linux.go
  pkg/network/config/tracer_config.go
  pkg/network/dns_snooper.go
  pkg/network/dns_snooper_test.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/manager.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/http/model.go
  pkg/network/http/monitor.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/consumer.go
  pkg/network/socket_filter.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableHTTP.yaml
  pkg/process/config/yaml_config.go
  pkg/process/util/netns.go
Labels: changelog/no-changelog, team/networks

#6687 pkg/trace: add new stats endpoint for client computed stats
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/agent/truncator.go
  pkg/trace/agent/truncator_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/filters/replacer.go
  pkg/trace/filters/replacer_test.go
  pkg/trace/info/stats.go
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_test.go
  pkg/trace/obfuscate/redis.go
  pkg/trace/pb/stats.pb.go
  pkg/trace/pb/stats.proto
  pkg/trace/pb/stats_gen.go
  pkg/trace/pb/trace.pb.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/quantile/converter.go
  pkg/trace/stats/quantile/converter_test.go
  pkg/trace/stats/stats.go
  pkg/trace/stats/stats_test.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/test/runner.go
  pkg/trace/test/testsuite/stats_test.go
  pkg/trace/test/testsuite/testdata/clientstats.go
  pkg/trace/test/testsuite/testdata/secretscript.go
  pkg/trace/test/testutil/stats.go
  pkg/trace/traceutil/normalize.go
  pkg/trace/traceutil/normalize_test.go
  pkg/trace/traceutil/truncate.go
  pkg/trace/writer/stats.go
Labels: changelog/no-changelog, team/agent-apm

#6938 Make the agent more robust to incomplete ECS API replies
  pkg/autodiscovery/listeners/ecs.go
  releasenotes/notes/fix_ecs_panic-4c2a55c4c9302057.yaml
Labels: component/autodiscovery, team/containers

#6964 Add kube_ownerref_kind, kube_ownerref_name tag to kubernetes pods
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  releasenotes/notes/kube-ownerref-kind-tag-9638f830526c4f1b.yaml
Labels: team/containers

#6970 Add telemetry for retry queue.
  pkg/forwarder/domain_forwarder_test.go
  pkg/forwarder/failed_transaction_removal_policy.go
  pkg/forwarder/failed_transaction_removal_policy_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/retry_queue_telemetry.go
  pkg/forwarder/transaction_container.go
  pkg/forwarder/transaction_container_test.go
  pkg/forwarder/transactions_file_storage.go
  pkg/forwarder/transactions_file_storage_test.go
Labels: changelog/no-changelog, team/agent-core

#6939 [runtime-security] Use dedicated serializers for events
  .gitattributes
  LICENSE-3rdparty.csv
  cmd/security-agent/app/runtime.go
  cmd/security-agent/common/check_command.go
  go.mod
  pkg/compliance/event/reporter.go
  pkg/compliance/mocks/reporter.go
  pkg/security/agent/agent.go
  pkg/security/api/api.pb.go
  pkg/security/api/api.proto
  pkg/security/ebpf/probes/syscall_helpers.go
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/module/module.go
  pkg/security/module/server.go
  pkg/security/probe/consts.go
  pkg/security/probe/model.go
  pkg/security/probe/model_accessors.go
  pkg/security/probe/model_test.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_cache_entry.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/rules/bucket.go
  pkg/security/rules/event.go
  pkg/security/rules/policy.go
  pkg/security/rules/ruleset.go
  pkg/security/rules/ruleset_test.go
  pkg/security/tests/mitre_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
  releasenotes/notes/runtime-security-taxonomy-a6ae3a0a85d663ea.yaml
Labels: component/security-agent, team/agent-security

#6835 [procutil] add parseIO benchmark
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#6975 [system-probe][NET-910] Log DNS stats periodically
  pkg/network/dns_snooper.go
Labels: changelog/no-changelog, team/networks

#6739 [procutil] add parsing IO code and tests
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#6944 [networks] Add test case for DNS over IPv6
  pkg/network/dns_snooper_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#6717 [system-probe] scope dns stats by domain
  go.mod
  go.sum
  pkg/config/config.go
  pkg/network/config/config.go
  pkg/network/config/tracer_config.go
  pkg/network/dns.go
  pkg/network/dns_parser.go
  pkg/network/dns_snooper.go
  pkg/network/dns_snooper_test.go
  pkg/network/dns_stats.go
  pkg/network/dns_stats_test.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/encoding/protobuf.go
  pkg/network/event_common.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableDNSDomains.yaml
  pkg/process/config/yaml_config.go
  releasenotes/notes/add-option-to-collect-dns-domains-614f72210bbfdf11.yaml
Labels: team/networks

#6880 Add gstatus binary
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/gstatus.rb
  releasenotes/notes/add-gstatus-binary-a0eb4181a56c3b07.yaml
Labels: team/integrations

#6982 [gitlab] Fix image scan jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#6983 [pkg/network] Fix TestDNSOverIPv6
  pkg/network/dns_snooper_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#6981 [release] adding 7.25.0-rc.1 and 6.25.0-rc.1 entries.
  release.json
Labels: changelog/no-changelog, team/agent-core

#6987 [system-probe] Increase loop timeout so that it is greater than DNS timeout
  pkg/network/dns_snooper_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#6992 [AD][Fix] `configresolver.Resolve` must return a non-empty tags hash
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
Labels: changelog/no-changelog, kind/bug, team/containers

#6955 pkg/trace/{agent,stats}: add tag for synthetic data
  pkg/trace/agent/agent.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/statsraw_test.go
  releasenotes/notes/apm-tag-synthetic-data-b9ecc0d78a1b594c.yaml
Labels: team/agent-apm

#6993 [runtime-security] Add cached user resolver
  pkg/security/module/module.go
  pkg/security/probe/model.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/user_resolver.go
Labels: changelog/no-changelog, team/agent-security

#6996 Fix and install jetson check config
  cmd/agent/dist/conf.d/jetson.d/conf.yaml.example
  tasks/agent.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6997 Revert "pkg/trace/{agent,stats}: add tag for synthetic data"
  pkg/trace/agent/agent.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/statsraw_test.go
  releasenotes/notes/apm-tag-synthetic-data-b9ecc0d78a1b594c.yaml
Labels: changelog/no-changelog, team/agent-apm

#6986 Backport changelog and release.json from dca 1.10.0
  CHANGELOG-DCA.rst
  release.json
  releasenotes-dca/config.yaml
  releasenotes-dca/notes/prelude-release-1.10.0-e6239bd8aa16c90d.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#6980 Db/add 2004 container
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#7000 [release] adding 7.25.0-rc.2 and 6.25.0-rc.2 entries.
  release.json
Labels: changelog/no-changelog, team/agent-core

#7001 [runtime-security] Fix serializer for 'exec' events
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/probe/user_resolver.go
Labels: changelog/no-changelog, team/agent-security

#6999 Improve check loader debug
  pkg/collector/scheduler.go
Labels: changelog/no-changelog, kind/bug, team/agent-core, team/infra-integrations

#7008 Exclude more files from Windows file diff kitchen test
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7009 [release] update the CHANGELOG with 7.24.1 release entry.
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7012 [release] adding 7.25.0-rc.3 and 6.25.0-rc.3 entries
  release.json
Labels: changelog/no-changelog, team/agent-core

#7016 Add -jmx suffix to automatic trigger
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#7014 Add libssl-dev to Docker image explicitly
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
Labels: changelog/no-changelog, kind/bug, team/containers

#6991 forwarder retry disk improvements on error
  pkg/forwarder/failed_transaction_removal_policy.go
  pkg/forwarder/failed_transaction_removal_policy_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/transaction_container.go
  pkg/forwarder/transactions_file_storage.go
Labels: changelog/no-changelog, team/agent-core

#7021 pkg/trace: fix TruncateResource
  pkg/trace/traceutil/truncate.go
  pkg/trace/traceutil/truncate_test.go
Labels: changelog/no-changelog, team/agent-apm

#7013 Improve writing check flare file to include full check content
  cmd/agent/common/commands/check.go
Labels: changelog/no-changelog, team/agent-core

#7019 Adding prelude and update changelog commands for installer
  .github/CODEOWNERS
  CHANGELOG-INSTALLSCRIPT.rst
  pyproject.toml
  releasenotes-installscript/config.yaml
  releasenotes-installscript/notes/add-release-note-232626f62de75f9e.yaml
  tasks/release.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#7015 [ecs] Only log when there's an error
  pkg/util/ecs/detection.go
Labels: changelog/no-changelog, kind/bug, team/containers

#7023 Make sysprobe profiling config flags known
  pkg/config/config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#7022 [runtime-security] Fix hardlink serialization
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/link.h
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
Labels: changelog/no-changelog, team/agent-security

#7025 [release] adding 7.25.0-rc.4 and 6.25.0-rc.4 entries.
  release.json
Labels: changelog/no-changelog, team/agent-core

#7030 [logs/auditor] Make auditor's TTL configurable
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/pipeline/provider_test.go
Labels: changelog/no-changelog, team/agent-core

#7031 [tagger] Fix concurrent map access in KubeMetadataCollector
  pkg/tagger/collectors/kubernetes_main.go
  releasenotes/notes/fix-panic-in-kubernetes-metadata.yaml
Labels: component/tagger, kind/bug, team/containers

#7034 [runtime-security] Fix process cache memory leak
  go.mod
  go.sum
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/probe/consts.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
Labels: changelog/no-changelog, team/agent-security

#7038 [release] adding 7.25.0-rc.5 and 6.25.0-rc.5 entries.
  release.json
Labels: changelog/no-changelog, team/agent-core

#7040 [runtime-security] handle kernel threads
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
Labels: changelog/no-changelog, team/agent-security

#7043 [release] adding 7.25.0-rc.6 and 6.25.0-rc.6 entries.
  release.json
Labels: changelog/no-changelog, team/agent-core

#6994 Change minimum password length to 16
  releasenotes/notes/winpasswordalgorithm-e8e35c26ee7096ad.yaml
  tools/windows/install-help/cal/customaction.h
  tools/windows/install-help/cal/usercreate.cpp
Labels: team/agent-platform

#6849 [procutil] add parsing statm file and tests
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#7035 Squash docker image layers
  .gitlab-ci.yml
  requirements.txt
Labels: changelog/no-changelog, kind/packaging, team/containers

#7006 Log unhealthy agent components as info instead of debug
  pkg/api/healthprobe/healthprobe.go
Labels: changelog/no-changelog, team/containers

#6969 [DCA] Prometheus endpoint checks in service config provider
  pkg/autodiscovery/common/prometheus.go
  pkg/autodiscovery/common/prometheus_apiserver.go
  pkg/autodiscovery/common/prometheus_test.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/prometheus_pods.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/autodiscovery/providers/prometheus_services_test.go
  pkg/config/config.go
Labels: changelog/no-changelog, component/autodiscovery, component/cluster-agent, component/clusterchecks, team/containers

#6847 [procutil] parse stat file and tests
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/procutil/process_model.go
  pkg/process/procutil/resources/test_procfs/proc/stat
Labels: changelog/no-changelog, team/processes

#7051 [release] adding 7.25.0-rc.7 and 6.25.0-rc.7 entries.
  release.json
Labels: changelog/no-changelog, team/agent-core

#6995 [networks] Improve system-probe kitchen test output
  .github/CODEOWNERS
  pkg/ebpf/bytecode/ebpf_bytes_match_test.go
  pkg/network/dns_snooper_test.go
  test/kitchen/test/integration/dd-system-probe-test/rspec/dd-system-probe-test_spec.rb
  test/kitchen/test/integration/dd-system-probe-test/rspec/spec_helper.rb
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7017 [system-probe] Add `batchManager` to `http` package
  .github/CODEOWNERS
  pkg/ebpf/bytecode/bindata/bindataTracerO.go
  pkg/ebpf/bytecode/bindata/bindataTracerdebugO.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/tracer.h
  pkg/network/http/batch_manager.go
  pkg/network/http/model.go
  pkg/network/http/monitor.go
  pkg/network/http/monitor_test.go
  pkg/network/http/telemetry.go
  pkg/network/tracer/tracer_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#7060 [forwarder] disk persistence: add facilities for per agent features
  cmd/agent/app/run.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
Labels: changelog/no-changelog, team/agent-core

#7059 Fix build for new pip
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/agent-core, team/agent-platform, team/integrations

#7047 Update pip to v20.3.3 to get recent urllib3 version
  omnibus/config/patches/pip2/remove-python27-deprecation-warning.patch
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/pip2.rb
  omnibus/config/software/pip3.rb
  releasenotes/notes/update-pip-version-234234jes213awg2.yaml
Labels: kind/bug, team/agent-platform

#7066 [system-probe] bump ebpf lib version
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#7069 [runtime-security] bump ebpf lib backport 7.25
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#7063 [forwarder] add facilities for per agent features (#7060)
  cmd/agent/app/run.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
Labels: changelog/no-changelog, team/agent-core

#7072 [release] adding release entries for 7.25.0-rc.8
  release.json
Labels: changelog/no-changelog, team/agent-core

#7055 [runtime-security] Lock process resolver before computing cache size
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security

#7074 Partly revert #6776 [auditor] Allow to filter registry update by source ID
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/auditor/mock/mock.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
Labels: changelog/no-changelog, team/agent-core

#7078 [system-probe] Re-build conntrack cache on each call to getConnections
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks

#7083 Backport conntrack fix to 7.25.x
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks
