Repository DataDog/datadog-agent, pull requests merged in 2020-01, with the labels that each got.

#4575 dsd: rewrite parsing logic and split parsing vs enrichment
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/parse.go
  pkg/dogstatsd/parse_events.go
  pkg/dogstatsd/parse_events_test.go
  pkg/dogstatsd/parse_metrics.go
  pkg/dogstatsd/parse_metrics_test.go
  pkg/dogstatsd/parse_service_checks.go
  pkg/dogstatsd/parse_service_checks_test.go
  pkg/dogstatsd/parse_test.go
  pkg/dogstatsd/parser.go
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, team/agent-core

#4678 Bump required go version
  README.md
  cmd/process-agent/README.md
Labels: changelog/no-changelog, team/agent-platform

#4447 [dca] handle NewHandler failure better in setupClusterCheck
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/clusterchecks/leadership_kube.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  releasenotes-dca/notes/improve-setupClusterCheck-failure-bf45823198ac9e74.yaml
Labels: team/containers

#4648 [docker] allow user to add custom docker label for tagging
  pkg/tagger/README.md
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  releasenotes/notes/add-support-for-ad-docker-label-tags-bc5e9908696d2b5b.yaml
Labels: team/containers

#4628 Don't check that laddr.Ip is in local net.Interfaces when determining direction
  pkg/ebpf/tracer.go
  releasenotes/notes/tcp-connection-direction-a951b372641cff06.yaml
Labels: team/burrito

#4669 Introduce Rate Limiting Stats in the /metrics of the Cluster Agent
  Gopkg.lock
  Gopkg.toml
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/processor.go
  pkg/util/kubernetes/autoscalers/processor_test.go
Labels: changelog/no-changelog, team/containers

#4681 Fix API endpoint
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/processor_test.go
Labels: changelog/no-changelog, team/containers

#4680 Harmonize copyright for 2020
  cmd/agent/app/dogstatsd_stats.go
  cmd/cluster-agent/custommetrics/server.go
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/providers/ecs.go
  pkg/autodiscovery/providers/ecs_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/checkbase_test.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  pkg/collector/corechecks/cluster/kubernetes_openshift.go
  pkg/collector/corechecks/cluster/kubernetes_openshift_test.go
  pkg/collector/python/py3_checker.go
  pkg/collector/python/subprocesses.go
  pkg/ebpf/LICENSE
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/status/status_test.go
  pkg/metrics/metric_test.go
  pkg/secrets/check_rights_windows.go
  pkg/secrets/check_rights_windows_test.go
  pkg/secrets/test/argument/argument.go
  pkg/secrets/test/error/error.go
  pkg/secrets/test/input/input.go
  pkg/secrets/test/response_too_long/response_too_long.go
  pkg/secrets/test/simple/simple.go
  pkg/secrets/test/timeout/timeout.go
  pkg/serializer/jsonstream/compressor.go
  pkg/serializer/jsonstream/compressor_nozlib.go
  pkg/serializer/jsonstream/compressor_test.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/util/containers/collectors/ecs_fargate.go
  pkg/util/containers/container_linux.go
  pkg/util/containers/types.go
  pkg/util/ecs/common.go
  pkg/util/kubernetes/apiserver/apiserver_kubelet.go
  pkg/util/kubernetes/apiserver/events.go
  pkg/util/kubernetes/apiserver/events_test.go
  pkg/util/kubernetes/apiserver/services_kubelet.go
  pkg/util/kubernetes/apiserver/services_kubelet_test.go
  pkg/util/kubernetes/autoscalers/autoscalers.go
  pkg/util/kubernetes/autoscalers/autoscalers_test.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/datadogexternal_test.go
  pkg/util/kubernetes/autoscalers/processor.go
  pkg/util/kubernetes/autoscalers/processor_test.go
  pkg/util/winutil/elevated.go
  pkg/util/winutil/winsec.go
  rtloader/LICENSE
  test/integration/util/kube_apiserver/apiserver_test.go
  test/integration/util/kube_apiserver/common.go
  test/integration/util/leaderelection/leaderelection_test.go
Labels: changelog/no-changelog, team/agent-core

#4486 Remove test binary
  pkg/process/config/testdata/secret
Labels: changelog/no-changelog, team/agent-core, team/burrito

#4573 dsd udp: merge multiple datagrams into one "Packet"
  pkg/config/config.go
  pkg/dogstatsd/listeners/packet_buffer.go
  pkg/dogstatsd/listeners/packet_buffer_test.go
  pkg/dogstatsd/listeners/packets_buffer.go
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/udp_test.go
  pkg/dogstatsd/listeners/uds_common.go
Labels: changelog/no-changelog, team/agent-core

#4672 [kitchen] Revert use of a specific Agent 5 version in 5->6/7 tests
  test/kitchen/kitchen-azure-upgrade5-test.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4682 Fix eBPF codegen, make bytecode tests mandatory
  .gitlab-ci.yml
  pkg/ebpf/c/tracer-ebpf.c
Labels: changelog/no-changelog, team/burrito

#4667 Make agent version functions take an explicit major version parameter
  .gitlab-ci.yml
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-dogstatsd.rb
  omnibus/config/software/datadog-puppy.rb
  tasks/agent.py
  tasks/android.py
  tasks/customaction.py
  tasks/dogstatsd.py
  tasks/process_agent.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/utils.py
  tasks/winbuildscripts/build-agent6.bat
  test/kitchen/kitchen-azure-common.yml
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, dev/tooling, team/agent-core, team/agent-platform

#4571 pkg/trace/stats: do not ignore single span sublayer metrics
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/subtrace.go
  pkg/trace/stats/subtrace_test.go
  releasenotes/notes/apm-count-single-span-subtrace-sublayers-c221b755688b2c7e.yaml
Labels: team/agent-apm

#4630 dsd: pool metrics.MetricSample
  cmd/agent/app/check.go
  cmd/agent/app/run.go
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/time_sampler_test.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample_pool.go
  test/benchmarks/aggregator/main.go
Labels: changelog/no-changelog, component/dogstatsd, kind/performance, team/agent-core

#4471 Dogstatsd/Statsd Mapper Feature
  Gopkg.lock
  Gopkg.toml
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/mapper/mapper.go
  pkg/dogstatsd/mapper/mapper_cache.go
  pkg/dogstatsd/mapper/mapper_cache_test.go
  pkg/dogstatsd/mapper/mapper_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/dogstatsd-mapper-668ce195a8c045b5.yaml
Labels: component/dogstatsd, kind/feature, team/agent-core, team/integrations

#4184 Improve payloads events
  pkg/config/config.go
  pkg/metrics/event.go
  pkg/metrics/event_test.go
  pkg/serializer/jsonstream/compressor.go
  pkg/serializer/jsonstream/compressor_nozlib.go
  pkg/serializer/jsonstream/payload_builder.go
  pkg/serializer/jsonstream/payload_builder_nozlib.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/test_common.go
  pkg/util/json/raw_object_writer.go
  releasenotes/notes/use-new-serialization-for-event-a336a848951653d4.yaml
Labels: team/agent-core

#4688 Add team Agent Core to the code owners of the Logs Agent.
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-core

#4686 Adding extra logic for container restart
  pkg/autodiscovery/listeners/docker.go
  releasenotes/notes/support-docker-restart-25e7560dc90dd699.yaml
Labels: team/containers

#4689 [kitchen] Split tests on multiple Azure regions
  .gitlab-ci.yml
  test/kitchen/kitchen-azure-common.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4690 [kitchen] Change SLES 15 image
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4520 Only import new RPM signing key when installing A7
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#4474 Make circleci look for release notes in releasenotes-dca/notes
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#4406 Collect pods
  Gopkg.lock
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
  pkg/config/config.go
  pkg/process/checks/checks.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_nolinux.go
  pkg/process/checks/pod_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/data_scrubber.go
  pkg/process/config/data_scrubber_test.go
  pkg/process/config/yaml_config.go
  pkg/process/util/signal_nowindows.go
  pkg/process/util/signal_windows.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_interface.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  tasks/build_tags.py
  tasks/process_agent.py
  tasks/test.py
Labels: changelog/no-changelog, team/burrito, team/containers

#4639 Add read-secret command in cluster-agent to use as secrets backend
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  Dockerfiles/cluster-agent/readsecret.sh
  cmd/cluster-agent/app/secret_helper.go
  cmd/secrets/secret_helper.go
  cmd/secrets/secret_helper_test.go
  cmd/secrets/testdata/read-secrets/secret1
  cmd/secrets/testdata/read-secrets/secret3
  cmd/secrets/testdata/read-secrets/secret4
  cmd/secrets/testdata/read-secrets/secret5
  cmd/secrets/testdata/read-secrets/secret6
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/secrets/fetch_secret.go
  pkg/secrets/fetch_secret_test.go
  pkg/secrets/no_secrets.go
  pkg/secrets/secrets.go
  releasenotes-dca/notes/enable-secrets-management-in-cluster-agent-028fc4af31fa19c7.yaml
  tasks/cluster_agent.py
Labels: changelog/no-changelog, team/containers

#4692 Display distribution metrics in agent check command
  pkg/metrics/sketch_series.go
  pkg/quantile/sparse.go
  pkg/status/dist/templates/aggregator.tmpl
  releasenotes/notes/display-distribution-metrics-bcde80bb9e08fa0e.yaml
Labels: team/containers

#4691 Fix SystemV init debian scripts for docker compatibility
  omnibus/config/templates/datadog-agent/sysvinit_debian.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.process.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.trace.erb
Labels: changelog/no-changelog, team/agent-platform

#4695 Rely only on config to enable the pod check
  pkg/process/config/config.go
Labels: changelog/no-changelog, team/containers

#4696 dsd: pool metrics.MetricSample
  cmd/agent/app/check.go
  cmd/agent/app/run.go
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/time_sampler_test.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample_pool.go
  test/benchmarks/aggregator/main.go
Labels: changelog/no-changelog, team/agent-core

#4600 telemetry: add observability metrics using the telemetry feature.
  pkg/aggregator/aggregator.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/clusteragent/custommetrics/store.go
  pkg/collector/check/stats.go
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/python/memory.go
  pkg/collector/scheduler/scheduler.go
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/uds_common.go
  pkg/dogstatsd/server.go
  pkg/forwarder/domain_forwarder.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/transaction.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/metrics/metrics.go
  pkg/logs/processor/processor.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/stream_strategy.go
  pkg/metrics/event.go
  pkg/metrics/series.go
  pkg/metrics/service_check.go
  pkg/serializer/jsonstream/compressor.go
  pkg/serializer/jsonstream/payload_builder.go
  pkg/serializer/split/split.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
Labels: changelog/no-changelog, team/agent-core

#4694 Fix regression when matching containerID to Pod due to runtime prefixes
  pkg/tagger/collectors/kubelet_extract.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  releasenotes/notes/fix-container-id-matching-tagging-b3e106aeee2a4bc0.yaml
Labels: component/tagger, kind/bug, team/containers

#4697 [kitchen] Change SLES 15 image again
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4599 telemetry: adds the telemetry package and related features.
  .github/CODEOWNERS
  Gopkg.lock
  cmd/agent/app/run.go
  cmd/cluster-agent/main.go
  pkg/aggregator/aggregator.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/clusteragent/custommetrics/store.go
  pkg/collector/check/check.go
  pkg/collector/check/id_test.go
  pkg/collector/check/stats.go
  pkg/collector/collector_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/embed/apm.go
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/collector/corechecks/embed/process_agent.go
  pkg/collector/corechecks/loader_test.go
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/python/check.go
  pkg/collector/python/memory.go
  pkg/collector/runner/runner_test.go
  pkg/collector/scheduler/scheduler.go
  pkg/collector/scheduler/scheduler_test.go
  pkg/config/config.go
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/uds_common.go
  pkg/dogstatsd/server.go
  pkg/flare/archive.go
  pkg/forwarder/domain_forwarder.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/transaction.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/metrics/metrics.go
  pkg/logs/processor/processor.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/stream_strategy.go
  pkg/metrics/event.go
  pkg/metrics/series.go
  pkg/metrics/service_check.go
  pkg/serializer/jsonstream/compressor.go
  pkg/serializer/jsonstream/payload_builder.go
  pkg/serializer/split/split.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/prom_counter.go
  pkg/telemetry/prom_gauge.go
  pkg/telemetry/prom_telemetry.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/utils.go
  pkg/telemetry/utils_test.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/processor_test.go
Labels: changelog/no-changelog, team/agent-core

#4656 [netlink] Add double entries to conntracker cache to support SNAT
  pkg/ebpf/netlink/conntracker.go
Labels: changelog/no-changelog, team/burrito

#4503 Add hostname sanity checks to prevent using POD name
  pkg/util/containers/types.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/network.go
  pkg/util/docker/uts.go
  pkg/util/docker/uts_test.go
  pkg/util/hostname.go
  pkg/util/kube_hostnetwork.go
  pkg/util/kube_hostnetwork_stub.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/uts_docker.go
  pkg/util/uts_nodocker.go
  releasenotes/notes/check_hostname_is_usable-dc4b99e6f7242b34.yaml
Labels: kind/enhancement, team/containers

#4693 pkg/trace/agent: use shared agent logger
  pkg/trace/agent/log.go
  pkg/trace/agent/run.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/logutil/throttled.go
  pkg/trace/logutil/throttled_test.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
  releasenotes/notes/apm-improve-logging-49b8c0705fa7b2f8.yaml
Labels: team/agent-apm

#4399 pkg/trace/obfuscate: add a filter to extract table names from queries
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
Labels: changelog/no-changelog, team/agent-apm

#4701 Fix master
  pkg/util/kubernetes/kubelet/kubelet_interface.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
Labels: changelog/no-changelog, kind/bug, team/containers

#4570 [codeowners] Change ownership of config_template file
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/baklava

#4525 Revert "Revert #4416"
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4336 Update internal tagging
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#4588 pkg/config: add datadog.tracer to the list of StandardStatsdPrefixes for tracer health metrics.
  pkg/config/standard_names.go
  releasenotes/notes/whitelist-tracer-metrics-82a29f90053042b8.yaml
Labels: team/agent-core

#4644 aggregator: improvements to the deduplication algorithm
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_benchmark_test.go
  pkg/util/sort_uniq.go
  pkg/util/sort_uniq_test.go
Labels: changelog/no-changelog, team/agent-core

#4349 Fix to Allow Mounting Empty Directory to Disable Docker Check
  Dockerfiles/agent/entrypoint/51-docker.sh
  releasenotes/notes/entrypoint-fix-issue-mounting-empty-docker.d-directory-1b136f88235be4bc.yaml
Labels: kind/bug, team/containers

#4703 Set enable_events_stream_payload_serialization at True
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#4603 [Doc]: Explain how to run the agent.
  README.md
Labels: changelog/no-changelog, team/agent-core

#4657 Update builders to allow building updated software deps
  .gitlab-ci.yml
  release.json
  releasenotes/notes/dep-curl-autoconf-procps-update-b4f247335896ea0f.yaml
Labels: team/agent-core

#4387 Collect resource tags on ECS
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/providers/ecs.go
  pkg/autodiscovery/providers/ecs_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/metadata/ecs/ecs.go
  pkg/metadata/ecs/ecs_test.go
  pkg/process/config/config.go
  pkg/tagger/collectors/ecs_common.go
  pkg/tagger/collectors/ecs_common_test.go
  pkg/tagger/collectors/ecs_extract.go
  pkg/tagger/collectors/ecs_extract_test.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/tagger/collectors/ecs_main.go
  pkg/util/containers/collectors/ecs_fargate.go
  pkg/util/docker/containers.go
  pkg/util/docker/network.go
  pkg/util/ecs/common.go
  pkg/util/ecs/common_test.go
  pkg/util/ecs/detection.go
  pkg/util/ecs/detection_nodocker.go
  pkg/util/ecs/diagnosis.go
  pkg/util/ecs/ecs.go
  pkg/util/ecs/ecs_test.go
  pkg/util/ecs/metadata/clients.go
  pkg/util/ecs/metadata/clients_nodocker.go
  pkg/util/ecs/metadata/detection.go
  pkg/util/ecs/metadata/detection_test.go
  pkg/util/ecs/metadata/doc.go
  pkg/util/ecs/metadata/metadata.go
  pkg/util/ecs/metadata/testutil/dummy_ecs.go
  pkg/util/ecs/metadata/v1/client.go
  pkg/util/ecs/metadata/v1/client_nodocker.go
  pkg/util/ecs/metadata/v1/client_test.go
  pkg/util/ecs/metadata/v1/testdata/commands.json
  pkg/util/ecs/metadata/v1/testdata/instance.json
  pkg/util/ecs/metadata/v1/testdata/tasks.json
  pkg/util/ecs/metadata/v1/types.go
  pkg/util/ecs/metadata/v2/client.go
  pkg/util/ecs/metadata/v2/client_nodocker.go
  pkg/util/ecs/metadata/v2/client_test.go
  pkg/util/ecs/metadata/v2/testdata/container_stats.json
  pkg/util/ecs/metadata/v2/testdata/task.json
  pkg/util/ecs/metadata/v2/testdata/task_with_tags.json
  pkg/util/ecs/metadata/v2/types.go
  pkg/util/ecs/metadata/v3/client.go
  pkg/util/ecs/metadata/v3/client_nodocker.go
  pkg/util/ecs/metadata/v3/types.go
  pkg/util/ecs/testutil/dummy_ecs.go
  pkg/util/ecs/types.go
  releasenotes/notes/ecs-resource-tag-collection-884550f107eb8da3.yaml
Labels: team/agent-core, team/burrito, team/containers

#4665 [system-probe] Add support for docker-proxy traffic
  pkg/process/checks/container.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/dockerproxy/filter.go
  pkg/process/dockerproxy/filter_test.go
  pkg/process/net/resolver/resolver.go
  pkg/process/net/resolver/resolver_test.go
Labels: changelog/no-changelog, team/burrito

#4540 [process-agent] Fix behavior when custom endpoint has a path specified
  cmd/process-agent/collector.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
Labels: changelog/no-changelog, team/burrito

#4591 [system-probe] Allow system-probe `systemd` unit to be enabled
  omnibus/config/templates/datadog-agent/systemd.sysprobe.service.erb
Labels: changelog/no-changelog, team/burrito

#4705 [system-probe] Enable DNS inspection by default
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-DisableDNS.yaml
  releasenotes/notes/sys-probe-enable-dns-c58f028a6f015360.yaml
Labels: team/burrito

#4704 [system-probe] Fix conntrack test
  pkg/ebpf/netlink/conntracker_integration_test.go
Labels: changelog/no-changelog, team/burrito

#4699 Logic to fully support AWS Fargate on Amazon EKS
  Dockerfiles/agent/entrypoint/50-eks.sh
  pkg/config/config.go
  pkg/util/kubernetes/kubelet/kubelet.go
  releasenotes/notes/aws-fargate-amazon-eks-support-9a194a9f6c022062.yaml
Labels: team/containers

#4706 Fix registration of agent as event log source
  omnibus/resources/agent/msi/source.wxs.erb
  releasenotes/notes/fixagenteventlogs-c7c2678d3d3b1fa4.yaml
Labels: team/agent-platform

#4709 [jmxfetch] bump to 0.34.0
  release.json
  releasenotes/notes/jmxfetch-0_34_0-version-bump-d91e5e568f900494.yaml
Labels: team/agent-core

#4712 Update Windows builders to use latest ffi-yajl
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4714 Revert "Revert "Revert #4416""
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4713 remove exposing config content from expvar for process-agent
  cmd/process-agent/info.go
Labels: changelog/no-changelog, team/burrito

#4711 Fix secret helper read secret test Windows
  cmd/secrets/secret_helper_test.go
  cmd/secrets/testdata/read-secrets/secret1
Labels: changelog/no-changelog, team/containers

#4717 Fix build cancellation race condition by having transfer directory
  .gitlab-ci.yml
  tasks/winbuildscripts/build-agent6.bat
  tasks/winbuildscripts/build-puppy.bat
  tasks/winbuildscripts/buildcf.bat
  tasks/winbuildscripts/builddsdwin.bat
  tasks/winbuildscripts/buildwin.bat
Labels: changelog/no-changelog, team/agent-platform

#4722 [omnibus] Codesign binaries shipped in MacOS package
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-platform

#4724 Add 7.17.0-rc.2 and 6.17.0-rc.2
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4727 [system-probe] use IsLoopback instead of Direction=LOCAL to filter local DNS
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/util/address.go
  pkg/process/util/address_test.go
Labels: changelog/no-changelog, team/burrito

#4730 telemetry: do not set the namespace, the configuration check will take care of it
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/telemetry.go
Labels: changelog/no-changelog, team/agent-core, team/containers

#4733 telemetry: a metric of the cluster agent was not properly ported to the telemetry pkg
  cmd/cluster-agent/api/v1/install.go
Labels: changelog/no-changelog, team/agent-core

#4721 Bump copyright year to 2020
  Dockerfiles/cluster-agent/entrypoint.sh
  Dockerfiles/dogstatsd/alpine/entrypoint.sh
  LICENSE
  NOTICE
  omnibus/config/projects/agent.rb
  omnibus/config/projects/cf-windows.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/puppy.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/datadog-agent-prepare.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-buildpack-finalize.rb
  omnibus/config/software/datadog-cf-finalize.rb
  omnibus/config/software/datadog-dogstatsd-finalize.rb
  omnibus/config/software/datadog-dogstatsd.rb
  omnibus/config/software/datadog-puppy.rb
  omnibus/config/software/jmxfetch.rb
  omnibus/config/software/sysstat.rb
  omnibus/omnibus.rb
  omnibus/resources/agent/msi/assets/LICENSE.rtf
  omnibus/resources/dogstatsd/msi/assets/LICENSE.rtf
  omnibus/resources/puppy/msi/assets/LICENSE.rtf
  omnibus/resources/puppy/pkg/license.html.erb
  pkg/dogstatsd/listeners/packets_buffer.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_nolinux.go
  pkg/process/checks/pod_test.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/prom_counter.go
  pkg/telemetry/prom_gauge.go
  pkg/util/docker/uts.go
  pkg/util/kubernetes/kubelet/kubelet_interface.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator_test.go
  pkg/util/sort_uniq_test.go
  tools/windows/install-help/cal/customaction.rc
  tools/windows/install-help/install-cmd/install-cmd.rc
Labels: changelog/no-changelog, team/agent-core

#4728 Fix status page for the Cluster Agent
  pkg/status/dist/templates/collector.tmpl
Labels: changelog/no-changelog, team/containers

#4732 [cluster-agent] fix eventrecorder init
  cmd/cluster-agent/app/app.go
Labels: changelog/no-changelog, component/cluster-agent, kind/bug, team/containers

#4731 Fix kube node roles to host tags feature (handles multiple roles / node)
  pkg/util/kubernetes/hostinfo/tags.go
  pkg/util/kubernetes/hostinfo/tags_test.go
  releasenotes/notes/fix-kube-node-role-tag-9c29a785c79b3c50.yaml
Labels: kind/bug, team/containers

#4737 Revert "[docker] allow user to add custom docker label for tagging"
  pkg/tagger/README.md
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  releasenotes/notes/add-support-for-ad-docker-label-tags-bc5e9908696d2b5b.yaml
Labels: changelog/no-changelog, team/containers

#4740 telemetry: avoid using the `type` tag.
  pkg/aggregator/aggregator.go
  pkg/dogstatsd/server.go
  pkg/forwarder/transaction.go
Labels: changelog/no-changelog, team/agent-core

#4751 Revert "pkg/trace/stats: do not ignore single span sublayer metrics (#4571)
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/subtrace.go
  pkg/trace/stats/subtrace_test.go
  releasenotes/notes/apm-count-single-span-subtrace-sublayers-c221b755688b2c7e.yaml
Labels: changelog/no-changelog, team/agent-apm

#4742 telemetry: support options while creating telemetry metrics.
  cmd/cluster-agent/api/v1/install.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/clusteragent/custommetrics/store.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/options.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
Labels: changelog/no-changelog, team/agent-core, team/containers

#4738 Adding logic to show DCA status for Cluster Level Check feature only
  pkg/status/render.go
Labels: changelog/no-changelog, team/containers

#4725 Fix typo in writeEvent
  pkg/metrics/event.go
Labels: changelog/no-changelog, team/agent-core

#4748 dsd: return packets to their pool
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, team/agent-core

#4747 [kitchen] Use forked driver with retry logic
  .gitlab-ci.yml
  test/kitchen/Rakefile
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4755 dsd: remove one alloc by sample linked to telemetry
  pkg/dogstatsd/server.go
  pkg/telemetry/utils.go
Labels: changelog/no-changelog, team/agent-core

#4736 Gitlab DAG: Add more dependencies
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4741 omnibus: bump python3 to 3.7.6 on Linux/macOS/Windows
  omnibus/config/software/python3.rb
  releasenotes/notes/python-3-7-6-3c67b33550165aee.yaml
Labels: team/agent-platform

#4760 [dogstatsd] Include full metric message in error when invalid
  pkg/dogstatsd/parse_events.go
  pkg/dogstatsd/parse_metrics.go
  pkg/dogstatsd/parse_service_checks.go
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, team/agent-core

#4757 Add make-kitchen-gitlab-yml invoke task
  .gitlab-ci.yml
  tasks/__init__.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#4685 CI: Add `--signed-push` to `docker.publish-bulk`
  .gitlab-ci.yml
Labels: changelog/no-changelog, kind/security, team/containers

#4761 Revert "Gitlab DAG: Add more dependencies (#4736)"
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4764 Fix WINDOWS_TESTING_S3_BUCKET not being defined
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4765 Fix inv make-kitchen-gitlab-yaml to correctly render python runtimes var
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#4723 Adds additional log_level documentation in config_template.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-core

#4743 Add checks last execution date in status output
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  cmd/agent/gui/views/templates/singleCheck.tmpl
  pkg/collector/check/stats.go
  pkg/status/dist/templates/collector.tmpl
  releasenotes/notes/add-execution-date-in-status-cmd-b2205885b86153e8.yaml
Labels: team/agent-core

#4746 Fix flaky test in conntracker_test.go
  pkg/ebpf/netlink/conntracker_test.go
Labels: changelog/no-changelog, team/burrito

#4768 Fix build script for puppy, DSD, and cf_buildpack build.
  tasks/winbuildscripts/buildwin.bat
Labels: changelog/no-changelog, team/agent-platform

#4758 [gitlab] Do not trigger pipeline on tag creation
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4769 telemetry: fix an error between UDS/UDP packets bytes count.
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/uds_common.go
Labels: changelog/no-changelog, team/agent-core

#4773 telemetry: proper tags for this telemetry metric.
  pkg/dogstatsd/listeners/udp.go
Labels: changelog/no-changelog, team/agent-core

#4771 Splitting golangci task to remain under circleCI memory limit
  tasks/go.py
Labels: changelog/no-changelog, team/agent-core

#4776 Revert "[gitlab] Do not trigger pipeline on tag creation (#4758)"
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4735 Fix golangci issues for container stuff
  .golangci.yml
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/docker_kubelet.go
  pkg/autodiscovery/listeners/docker_test.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/provider_test.go
  pkg/clusteragent/custommetrics/status.go
  pkg/clusteragent/custommetrics/store.go
  pkg/collector/corechecks/containers/containerd_events.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/tagger/collectors/kubernetes_metadata_mapper_test.go
  pkg/tagger/tagger_test.go
  pkg/util/containerd/containerd_util_test.go
  pkg/util/containers/common_test.go
  pkg/util/containers/metrics/common_test.go
  pkg/util/containers/metrics/network_test.go
  pkg/util/docker/containers.go
  pkg/util/docker/network.go
  pkg/util/docker/network_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
  pkg/util/kubernetes/apiserver/services_kubelet.go
  pkg/util/kubernetes/apiserver/types.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/datadogexternal_test.go
  pkg/util/kubernetes/autoscalers/processor_test.go
  pkg/util/kubernetes/kubelet/init.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_interface.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  test/integration/util/kubelet/insecurekubelet_test.go
  test/integration/util/kubelet/securekubelet_test.go
Labels: changelog/no-changelog, team/containers

#4783 [invoke] add golangci-lint to the bootstrappable deps
  bootstrap.json
  tasks/bootstrap.py
  tasks/go.py
Labels: changelog/no-changelog, team/agent-core

#4781 Fix "Do not trigger pipeline on tag creation"
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#4720 Fix: update go-datadog-api dep for DCA fix
  Gopkg.lock
  Gopkg.toml
Labels: changelog/no-changelog, component/cluster-agent, kind/bug, team/containers

#4772 [backport] telemetry: fix an error between UDS/UDP packets bytes count.
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/uds_common.go
  pkg/telemetry/prom_telemetry.go
Labels: changelog/no-changelog, team/agent-core

#4785 Add 7.17.0-rc.5 entry to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4766 Update gohai version for fix for more than 64 CPUs.
  Gopkg.lock
  releasenotes/notes/fixlotsacpus-1c02ebecbcad8897.yaml
Labels: team/agent-core, team/agent-platform

#4789 Correct Python3 syntax in /readsecret.py
  Dockerfiles/agent/secrets-helper/readsecret.py
  Dockerfiles/agent/secrets-helper/test_readsecret.py
  releasenotes/notes/correct-python3-syntax-in-readsecret.py-e5c626675759797b.yaml
  tasks/docker.py
Labels: team/containers

#4795 [backport to 7.17.x] Correct Python3 syntax in /readsecret.py (#4789)
  Dockerfiles/agent/secrets-helper/readsecret.py
  Dockerfiles/agent/secrets-helper/test_readsecret.py
  releasenotes/notes/correct-python3-syntax-in-readsecret.py-e5c626675759797b.yaml
  tasks/docker.py
Labels: team/containers

#4744 Check for missing WPA CRD before starting WPA controller loop
  Gopkg.lock
  Gopkg.toml
  cmd/cluster-agent/app/app.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/wpa_controller.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  releasenotes-dca/notes/wait-for-wpa-crd-9233aab7a067ec4a.yaml
Labels: changelog/no-changelog, team/containers

#4797 Fix dead code flagged by golangci in wpa_controller.go
  pkg/util/kubernetes/apiserver/wpa_controller.go
Labels: changelog/no-changelog, team/containers

#4790 [ebpf] Add log entry when system-probe isn't running on root NS
  pkg/ebpf/tracer.go
  pkg/process/util/netns.go
Labels: changelog/no-changelog, team/burrito

#4792 Remove explicit check of sketch Memsize to 32 Bytes
  pkg/quantile/store_test.go
Labels: changelog/no-changelog, team/metrics-aggregation

#4800 [ebpf] Add log entry when system-probe isn't running on root netns
  pkg/ebpf/tracer.go
  pkg/process/util/netns.go
Labels: changelog/no-changelog, team/burrito

#4799 [kitchen] Fix issues with SLES kitchen tests
  .gitlab-ci.yml
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4801 Add 7.17.0-rc.6 entry to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4775 ignore missing label com.datadoghq.ad.check_names
  pkg/autodiscovery/listeners/common.go
  releasenotes/notes/ignore-missing-com.datadoghq.ad.check_names-01aa07d04a52f667.yaml
Labels: component/collector, team/containers

#4702 Replace uses of the PYTHON_RUNTIMES env var by explicit parameter
  .circleci/config.yml
  .gitlab-ci.yml
  appveyor.yml
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-puppy.rb
  omnibus/lib/ostools.rb
  tasks/agent.py
  tasks/android.py
  tasks/process_agent.py
  tasks/rtloader.py
  tasks/system_probe.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/utils.py
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/unittests.bat
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#4805 [dogstatsd] Continue parsing packets with consecutive newlines
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, team/agent-core

#4806 Add 7.17.0-rc.7 & 6.17.0-rc7 entry to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#4808 [kitchen] Add A7->A7 upgrade tests
  .gitlab-ci.yml
  test/kitchen/kitchen-azure-upgrade7-test.yml
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4803 [ebpf] fix alignment of dns_cache telemetry fields
  pkg/ebpf/dns_cache.go
Labels: changelog/no-changelog, team/networks

#4698 Add direction classification algorithm for all connections
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/config.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/event_common.go
  pkg/ebpf/state.go
  pkg/ebpf/state_intrahost_test.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer_direction_test.go
  pkg/ebpf/tracer_test.go
Labels: changelog/no-changelog, team/networks

#4804 Update CODEOWNERS for processes/networks split
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/networks, team/processes

#4784 Increase CircleCI VM Size for unit tests
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#4716 [reno] Change title of security-related section
  releasenotes/config.yaml
Labels: changelog/no-changelog, documentation, team/agent-platform

#4719 sort uniq: benchmark fix
  pkg/util/sort_uniq_test.go
Labels: changelog/no-changelog, team/agent-core
