Repository DataDog/datadog-agent, pull requests merged in 2020-07, with the labels that each got.

#5871 [DCA] Allow label joins for autoscaler metrics
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/processor_test.go
Labels: changelog/no-changelog, team/containers

#5872 Remove M-BM- characters causing extra spaces
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-core, team/integrations

#5873 Report telemetry metrics as iot_agent when iot_host is true
  pkg/aggregator/aggregator.go
Labels: changelog/no-changelog, team/agent-core

#5874 Fix panic on Fargate when retrieving stats for stopped containers
  pkg/util/ecs/metadata/v2/client.go
  pkg/util/ecs/metadata/v2/client_test.go
  pkg/util/ecs/metadata/v2/testdata/container_stats.json
Labels: changelog/no-changelog, kind/bug, team/containers

#5869 Refactor freetds to only copy needed files
  omnibus/config/software/freetds.rb
Labels: changelog/no-changelog, team/agent-platform, team/integrations

#5879 Fix permissions of files and directories which are world writable
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/test_image_contents.py
Labels: changelog/no-changelog, team/containers

#5880 [a5 import] Trim spaces when importing tags
  cmd/agent/common/import_test.go
  cmd/agent/common/tests/a5_conf/datadog.conf
  pkg/config/legacy/converter.go
Labels: changelog/no-changelog, team/agent-core

#5882 [dogstatsd] don't consider the debug loop enabled while creating the server.
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, component/dogstatsd, team/agent-core

#5883 Update release.json to 7.21.0-rc2
  release.json
Labels: changelog/no-changelog, team/agent-core

#5848 [tasks/ssm] Retry metadata endpoint timeouts on Windows
  tasks/ssm.py
Labels: changelog/no-changelog, team/agent-platform

#5884 Fix pointer assignation in pod list + add chunking test
  pkg/process/util/orchestrator/pod_test.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator_test.go
Labels: changelog/no-changelog, team/container-app

#5892 Fix start of security-agent
  Dockerfiles/agent/s6-services/security/run
Labels: changelog/no-changelog, kind/bug, team/containers

#5887 Do not use after_script for other than cleaning up
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5889 [gitlab] Fix chocolatey job needs
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5900 [gitlab] Fix dev_master_docker_hub-a7-windows
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5895 Remove useless `libbcc` artifacts (examples, man pages…)
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#5891 [Tagger][PodWatcher] Detect kubernetes pod phase change
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  releasenotes/notes/fix-podphase-tagging-2db951956eeed605.yaml
Labels: team/container-app, team/containers

#5905 Revert "[Tagger][PodWatcher] Detect kubernetes pod phase change"
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  releasenotes/notes/fix-podphase-tagging-2db951956eeed605.yaml
Labels: team/container-app

#5910 Add 7.21.0-rc.3
  release.json
Labels: changelog/no-changelog, team/agent-core

#5862 [KSMv2] Label joins
  .github/CODEOWNERS
  pkg/collector/corechecks/cluster/kube-state-metrics.go
  pkg/collector/corechecks/cluster/kube-state-metrics_test.go
  pkg/kubestatemetrics/store/store.go
  pkg/kubestatemetrics/store/store_test.go
Labels: changelog/no-changelog, team/containers

#5920 Jaime/jmxbump
  release.json
Labels: changelog/no-changelog, team/agent-core

#5911 Convert kubelet to tagger entity IDs for expiration
  pkg/tagger/collectors/kubelet_main.go
  pkg/util/kubernetes/kubelet/kubelet_common.go
  pkg/util/kubernetes/kubelet/kubelet_common_test.go
  releasenotes/notes/remove-tags-expired-pods-e14594407cafe255.yaml
Labels: team/containers

#5919 [gitlab] Fix missing folder in windows_choco_online_7_x64
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5859 [kitchen] Remove linux chef tests
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5899 [kitchen] Only run step-by-step tests on triggered pipelines
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5923 [gitlab] Fix missing folder in windows_choco_online_7_x64
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5924 [circleci] Use new version of MacOS script
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform

#5926 [DCA] Admission Controller release note
  releasenotes-dca/notes/admission-controller-dca-ec9e6360bfdc6223.yaml
Labels: team/containers

#5907 [compliance] Improve logging
  pkg/compliance/checks/common.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/resource.go
Labels: changelog/no-changelog, team/containers

#5925 [circleci] Use new version of MacOS script
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform

#5835 Use a consistent version of golangci-lint across CI systems
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  appveyor.yml
  bootstrap.json
  go.mod
Labels: changelog/no-changelog, team/networks

#5849 [KSMv2] Support labels_mapper config
  pkg/collector/corechecks/cluster/kube-state-metrics.go
  pkg/collector/corechecks/cluster/kube-state-metrics_test.go
Labels: changelog/no-changelog, team/containers

#5927 Update nightly for 7.21.x
  release.json
Labels: changelog/no-changelog, team/agent-core

#5930 [DCA] Compliance check cmd
  cmd/cluster-agent/app/compliance_cmd.go
  cmd/security-agent/app/check.go
  cmd/security-agent/common/check_command.go
Labels: changelog/no-changelog, team/containers

#5912 Fixed ECS client initializers to check whether AWS is configured
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/providers/ecs.go
  pkg/config/config_template.yaml
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/util/cloudprovider.go
  pkg/util/ecs/common.go
  pkg/util/ecs/common/common.go
  pkg/util/ecs/detection.go
  pkg/util/ecs/detection_nodocker.go
  pkg/util/ecs/diagnosis.go
  pkg/util/ecs/metadata/clients.go
  pkg/util/ecs/metadata/clients_nodocker.go
  pkg/util/fargate/hostname_process.go
  releasenotes/notes/fix-fargate-metadata-not-disabled-93e50a3f9fc02240.yaml
Labels: component/metadata, kind/bug, team/agent-core, team/containers

#5934 Shorten DatadogMetrics autogen names to avoid matching scrubbing rules
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  pkg/clusteragent/externalmetrics/provider_test.go
  pkg/clusteragent/externalmetrics/utils.go
  pkg/clusteragent/externalmetrics/utils_test.go
Labels: changelog/no-changelog, component/cluster-agent, team/containers

#5858 Move testing RPM repo to yumtesting.datad0g.com/testing/*
  .gitlab-ci.yml
  test/kitchen/kitchen-azure-common.yml
  test/kitchen/kitchen-azure-install-script-test.yml
Labels: changelog/no-changelog, team/agent-platform

#5935 Unify cacerts recipes
  omnibus/config/projects/agent.rb
Labels: changelog/no-changelog, team/agent-platform

#5929 Fix CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform

#5936 [Gitlab] Use Python 3 on Docker images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5932 [compliance] Refactor Reporter and Event for reuse outside of compliance
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/common/check_command.go
  pkg/compliance/agent/agent.go
  pkg/compliance/agent/agent_test.go
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/audit_check_test.go
  pkg/compliance/checks/base_check.go
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/command_check.go
  pkg/compliance/checks/command_check_test.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/docker_check_test.go
  pkg/compliance/checks/env/env.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/checks/group_check.go
  pkg/compliance/checks/group_check_test.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/checks/kubeapiserver_check_test.go
  pkg/compliance/checks/process_check.go
  pkg/compliance/checks/process_check_test.go
  pkg/compliance/event/event.go
  pkg/compliance/event/reporter.go
  pkg/compliance/mocks/clients.go
  pkg/compliance/mocks/configuration.go
  pkg/compliance/mocks/env.go
  pkg/compliance/mocks/reporter.go
  pkg/compliance/rule_event.go
Labels: changelog/no-changelog, team/containers

#5939 [tasks] Remove unused options from deps
  .circleci/config.yml
  .gitlab-ci.yml
  appveyor.yml
  docs/dev/agent_dev_env.md
  tasks/go.py
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform

#5913 [Tagger][PodWatcher] Detect kubernetes pod phase change
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  releasenotes/notes/fix-podphase-tagging-2db951956eeed605.yaml
Labels: component/tagger, do-not-merge/hold, team/container-app

#5931 Add a CI check for atomic operations on non-aligned struct fields
  bootstrap.json
  tasks/go.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#5922 Create agent version history file and add the file to flare
  cmd/agent/app/run.go
  pkg/flare/archive.go
  pkg/util/version_history.go
  pkg/util/version_history_test.go
Labels: changelog/no-changelog, team/agent-platform

#5850 [circleci] Add MacOS source tests
  .circleci/config.yml
  cmd/system-probe/check_cmd.go
  cmd/system-probe/main.go
Labels: changelog/no-changelog, team/agent-platform, team/networks

#5851 [process-agent] collect requests and limits
  go.mod
  go.sum
  pkg/process/util/orchestrator/pod.go
  pkg/process/util/orchestrator/pod_test.go
  releasenotes/notes/collect-resourcerequirements-aba87bf5b54d8272.yaml
Labels: team/container-app

#5938 [CI] Drop Python 2 for installing requirements
  .gitlab-ci.yml
  appveyor.yml
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform

#5954 Pin conntrack commit as per maintainer's request
  go.mod
Labels: changelog/no-changelog, team/agent-platform

#5956 [release] Add 7.21.0-rc.5 to release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#5947 [KSMv2] Feature parity (step 1)
  pkg/collector/corechecks/cluster/kube-state-metrics_test.go
  pkg/collector/corechecks/cluster/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/kubernetes_state_test.go
Labels: changelog/no-changelog, team/containers

#5952 [compliance] Expression syntax evaluation package for compliance checks
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/compliance/eval/ast.go
  pkg/compliance/eval/eval.go
  pkg/compliance/eval/eval_test.go
  pkg/compliance/eval/parser.go
  pkg/compliance/eval/parser_test.go
  pkg/compliance/eval/util.go
  pkg/compliance/eval/util_test.go
Labels: changelog/no-changelog, kind/enhancement, team/containers

#5964 updated readme with info to windows devenv directory
  README.md
Labels: changelog/no-changelog, team/agent-core

#5951 [compliance] Change event.Data to allow storing not only strings
  cmd/security-agent/app/compliance.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/event/event.go
Labels: changelog/no-changelog, team/containers

#5957 Specify pid owner when calling start-stop-daemon
  omnibus/config/templates/datadog-agent/sysvinit_debian.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.process.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.security.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.trace.erb
  releasenotes/notes/fix-start-stop-daemon-5717af86440846ef.yaml
Labels: team/agent-platform

#5968 [release] adding 7.21.0 and 6.21.0 final entries
  release.json
Labels: changelog/no-changelog, team/agent-core

#5723 Start adding sysprobe to windows build.
  .gitignore
  cmd/agent/app/dependent_services_windows.go
  cmd/agent/common/system_probe_config_helper.go
  cmd/agent/common/system_probe_config_helper_unsupported.go
  cmd/system-probe/main.go
  cmd/system-probe/main_common.go
  cmd/system-probe/main_windows.go
  cmd/system-probe/windows_resources/project.ico
  cmd/system-probe/windows_resources/project_16x16.ico
  cmd/system-probe/windows_resources/project_32x32.ico
  cmd/system-probe/windows_resources/system-probe-msg.mc
  cmd/system-probe/windows_resources/system-probe.rc
  cmd/system-probe/windows_resources/version.h
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-windows-filter-driver.rb
  omnibus/resources/agent/msi/assets/apikeydlg.wxi
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/ebpf/c/ddfilterapi.h
  release.json
  tasks/agent.py
  tasks/system_probe.py
  tasks/winbuildscripts/buildlocal.bat
  tasks/winbuildscripts/unitlocal.bat
  tools/windows/install-help/cal/customactiondata.cpp
  tools/windows/install-help/cal/customactiondata.h
  tools/windows/install-help/cal/resource.h
  tools/windows/install-help/cal/stopservices.cpp
  tools/windows/install-help/cal/strings.cpp
  tools/windows/install-help/cal/strings.h
  tools/windows/install-help/cal/stringtable.rc
Labels: changelog/no-changelog, do-not-merge/WIP, team/agent-platform, team/networks

#5963 pkg/trace/stats: speed up concentrator
  pkg/trace/stats/concentrator.go
Labels: changelog/no-changelog, team/agent-apm

#5973 [KSMv2] ResourceQuota metric transformer
  pkg/collector/corechecks/cluster/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/kubernetes_state_test.go
  pkg/collector/corechecks/cluster/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/kubernetes_state_transformers_test.go
Labels: changelog/no-changelog, team/containers

#5975 [Linux] Remove version history on uninstall
  omnibus/package-scripts/agent/prerm
  omnibus/package-scripts/iot-agent/prerm
Labels: changelog/no-changelog, team/agent-platform

#5544 [system-probe] Introduce module API
  cmd/system-probe/api/common.go
  cmd/system-probe/check_cmd.go
  cmd/system-probe/loader.go
  cmd/system-probe/main.go
  cmd/system-probe/main_common.go
  cmd/system-probe/main_linux.go
  cmd/system-probe/main_windows.go
  cmd/system-probe/modules/network_tracer.go
  cmd/system-probe/modules/network_tracer_test.go
  cmd/system-probe/modules/oom_kill_probe.go
  cmd/system-probe/modules/tcp_queue_tracer.go
  cmd/system-probe/probe.go
  cmd/system-probe/utils/utils.go
  pkg/status/templates/systemprobe.tmpl
Labels: changelog/no-changelog, team/networks

#5979 Update CHANGELOG for 7.21.0
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#5985 [release] clean up the release.json file after the 7.21.0 release.
  release.json
Labels: changelog/no-changelog, team/agent-core

#5944 [pre-commit] Add golint, gofmt and govet to pre-commit
  .pre-commit-config.yaml
  tasks/git-hooks/gofmt.py
  tasks/git-hooks/golint.py
  tasks/git-hooks/govet.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5950 [secrets] Consistently resolve secrets when new services are found
  pkg/autodiscovery/autoconfig.go
  releasenotes/notes/consistent-config-secret-decryption-f24dd89f5c485f88.yaml
Labels: team/agent-core, team/containers

#5967 [requirements.txt] Update development requirements
  requirements.txt
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5916 [process-agent] generate unique uid for static pods
  LICENSE-3rdparty.csv
  go.sum
  pkg/process/util/orchestrator/pod.go
  pkg/process/util/orchestrator/pod_test.go
Labels: changelog/no-changelog, team/container-app

#5991 [CircleCI] Bump cache version
  .circleci/config.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5993 [jmxfetch] Bump to 0.38.2
  release.json
  releasenotes/notes/jmxfetch-0-38-2-121bb45b07e5d195.yaml
Labels: team/agent-core

#5980 [telemetry] Fix checks_entered gauge
  pkg/collector/scheduler/scheduler.go
Labels: changelog/no-changelog, team/agent-core

#5997 [kitchen] Temporarily allow failure of kitchen_centos_upgrade6_agent-a6
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5996 Update gitlab_agent_deploy image
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5998 [backport] Update gitlab_agent_deploy image
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5994 [release] add 7.21.1-rc.1 build entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#6000 Update certificate hash to validate new signing certificate
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-core

#6001 Update certificate hash to validate new signing certificate
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5860 [gitlab] Clean up INTEGRATIONS_VERSION
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5983 Add DogStatsD Mapper trace logs for mapped metrics
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core, team/integrations

#5984 Make DSD Mapper also map metrics that already contain tags.
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/dsd_mapper_remove_tags_condition-a3cdccda119a27be.yaml
Labels: kind/enhancement, team/agent-core, team/integrations

#5948 Add a unit test to ensure AD generates same config
  pkg/autodiscovery/providers/utils_test.go
Labels: changelog/no-changelog, component/autodiscovery, team/containers

#6005 [deploy] Specify runner env in invalidation script
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6004 Fix security-agent running without being explicitely activated
  cmd/security-agent/app/app.go
  cmd/security-agent/main.go
Labels: changelog/no-changelog, kind/bug, team/containers

#6007 Changelog for DCA 1.7.0
  CHANGELOG-DCA.rst
Labels: changelog/no-changelog, team/containers

#6009 [backport] Fix security-agent running without being explicitely activated (backport of #6004)
  cmd/security-agent/app/app.go
  cmd/security-agent/main.go
Labels: changelog/no-changelog, kind/bug

#5961 pkg/trace/agent: annotate only sampled spans with sublayers
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
Labels: changelog/no-changelog, team/agent-apm

#5909 Add system.cpu.num_cores metric
  pkg/collector/corechecks/system/cpu.go
  pkg/collector/corechecks/system/cpu_test.go
  pkg/collector/corechecks/system/cpu_windows.go
  releasenotes/notes/cpu-core-77cef52173085bbe.yaml
Labels: component/collector, team/containers

#6010 [backport] [deploy] Specify runner env in invalidation script
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6011 [release] add 6.21.1-rc.2 and 7.21.1-rc.2 entries.
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#5995 Adding embedded path argument to system probe build
  .gitlab-ci.yml
  tasks/system_probe.py
Labels: changelog/no-changelog, team/burrito, team/networks

#6018 Fix DockerHub tag revert job
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#6017 pkg/trace: fix spans sampling
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, team/agent-apm

#5969 Adding tag to kubernetes events for pods, rs, deployments
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle_test.go
  releasenotes/notes/add-kind-specific-tag-k8s-events-6e0c8c84893a113c.yaml
Labels: team/containers

#5962 pkg/trace/stats: improve sublayer metrics computation
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/stats_test.go
  pkg/trace/stats/sublayers.go
  pkg/trace/stats/sublayers_test.go
Labels: changelog/no-changelog, team/agent-apm

#5970 merge latest driver and update counts
  pkg/network/event_windows.go
  release.json
  tasks/winbuildscripts/buildlocal.bat
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#5906 [windows] Fix DelUserFromGroup log messages
  tools/windows/install-help/cal/userrights.cpp
Labels: changelog/no-changelog, team/agent-platform

#6006 [kitchen] Add custom recipe to resize the root partition on RHEL
  test/kitchen/Berksfile
  test/kitchen/kitchen-azure-upgrade5-test.yml
  test/kitchen/kitchen-azure-upgrade6-test.yml
  test/kitchen/kitchen-azure-upgrade7-test.yml
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/.gitignore
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/Berksfile
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/Gemfile
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/README.md
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/chefignore
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-rhel-workaround/recipes/default.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6008 [pkg/collector] Add error message when rtloader fails
  pkg/collector/python/init.go
Labels: changelog/no-changelog, team/agent-platform

#6015 [tasks, pre-commit] Fix vet task and pre-commit
  tasks/git-hooks/govet.py
  tasks/go.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6013 Fix inv make-kitchen-gitlab-yaml
  tasks/test.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#5981 [compliance] Agent-side compliance check evaluation
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/testdata/configs/cis-docker.yaml
  pkg/compliance/agent/testdata/configs/cis-kubernetes.yaml
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/audit_check_test.go
  pkg/compliance/checks/base_check.go
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/builder_test.go
  pkg/compliance/checks/check.go
  pkg/compliance/checks/checkable.go
  pkg/compliance/checks/command_check.go
  pkg/compliance/checks/command_check_test.go
  pkg/compliance/checks/command_utils.go
  pkg/compliance/checks/common.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/docker_check_test.go
  pkg/compliance/checks/env/env.go
  pkg/compliance/checks/file.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/checks/file_windows.go
  pkg/compliance/checks/global.go
  pkg/compliance/checks/group_check.go
  pkg/compliance/checks/group_check_test.go
  pkg/compliance/checks/helpers.go
  pkg/compliance/checks/iterator.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/checks/kubeapiserver_check_test.go
  pkg/compliance/checks/process_check.go
  pkg/compliance/checks/process_check_test.go
  pkg/compliance/checks/process_utils_test.go
  pkg/compliance/checks/resource_check.go
  pkg/compliance/eval/ast.go
  pkg/compliance/eval/eval.go
  pkg/compliance/eval/eval_test.go
  pkg/compliance/eval/parser.go
  pkg/compliance/eval/util.go
  pkg/compliance/eval/util_test.go
  pkg/compliance/mocks/builder.go
  pkg/compliance/mocks/configuration.go
  pkg/compliance/mocks/env.go
  pkg/compliance/mocks/evaluatable.go
  pkg/compliance/mocks/iterator.go
  pkg/compliance/resource.go
  pkg/compliance/resource_test.go
  pkg/compliance/suite_test.go
  pkg/compliance/testdata/cis-docker.yaml
  releasenotes/notes/compliance-agent-side-evaluation-1d70de16fc8c854e.yaml
Labels: team/containers

#6003 Fix DCA - security-agent build on windows
  cmd/cluster-agent/api/v1/cloudfoundry_metadata.go
  cmd/cluster-agent/api/v1/cloudfoundry_metadata_nocompile.go
  cmd/cluster-agent/app/compliance_cmd.go
  cmd/security-agent/app/check.go
  go.sum
Labels: changelog/no-changelog, team/containers

#6023 Add 7.21.1 to release.json
  release.json
  releasenotes/notes/prelude-release-7.21.1-40cd7ce929a9d1c6.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#5988 Avoid sending container with no tags for garden
  pkg/process/checks/container.go
  pkg/process/checks/container_test.go
  pkg/util/cloudfoundry/garden.go
  pkg/util/containers/types.go
  releasenotes/notes/skip_garden_no_tags-8b87ede2f03338b2.yaml
Labels: team/intg-tools-libs

#5989 [system-probe] make http.Serve not blocking the rest of the execution
  cmd/system-probe/loader.go
  cmd/system-probe/main.go
Labels: changelog/no-changelog, team/networks

#6024 Add 7.21.1 to the changelog.
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6030 Add 7.21.1 to CHANGELOG.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6028 [compliance] Additional docker check agent side eval tests
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/docker_check_test.go
  pkg/compliance/checks/helpers.go
  pkg/compliance/checks/testdata/docker/container-3c4bd9d35d42.json
Labels: changelog/no-changelog, team/containers

#6035 [NET-596] enable dns stats through env variable
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableDNSStats.yaml
Labels: changelog/no-changelog, team/networks

#6036 [compliance] Fixes for compliance rule init and execution
  pkg/compliance/agent/agent.go
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/testdata/configs/cis-kubernetes.yaml
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/checkable.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/helpers.go
  pkg/compliance/checks/resource_check.go
  pkg/compliance/resource.go
  pkg/compliance/rule.go
Labels: changelog/no-changelog, team/containers

#6038 [kitchen] Update debian images
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6031 Add support for glob syntax in file check
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/env/env.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/checks/file_utils.go
  pkg/compliance/checks/file_utils_test.go
  pkg/compliance/gen_mocks.sh
  pkg/compliance/mocks/audit_client.go
  pkg/compliance/mocks/builder.go
  pkg/compliance/mocks/clients.go
  pkg/compliance/mocks/configuration.go
  pkg/compliance/mocks/docker_client.go
  pkg/compliance/mocks/env.go
  pkg/compliance/mocks/evaluatable.go
  pkg/compliance/mocks/iterator.go
  pkg/compliance/mocks/reporter.go
  pkg/compliance/mocks/scheduler.go
Labels: changelog/no-changelog, team/containers

#6043 Fix code following cross edit in multiple PRs
  pkg/compliance/checks/file_check.go
Labels: changelog/no-changelog, team/containers

#6044 [tasks] Increase timeout for golangci-lint
  tasks/go.py
Labels: changelog/no-changelog, dev/testing, qa/skip-qa, team/agent-platform

#6040 Fix invoke not being present when needed
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6048 Add special built-in variable to allow applying iterable functions without call
  pkg/compliance/eval/eval.go
  pkg/compliance/eval/eval_test.go
Labels: changelog/no-changelog, team/containers

#6047 [compliance] Refactor rule scope and host selector
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/common/check_command.go
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/node_labels.go
  pkg/compliance/agent/testdata/configs/cis-docker.yaml
  pkg/compliance/agent/testdata/configs/cis-kubernetes.yaml
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/builder_test.go
  pkg/compliance/rule.go
  pkg/compliance/suite_test.go
  pkg/compliance/testdata/cis-docker.yaml
Labels: changelog/no-changelog, kind/enhancement, team/containers

#5901 Fix panic in compliance/process check
  pkg/compliance/checks/builder_test.go
  pkg/compliance/checks/process_check_test.go
  pkg/compliance/checks/process_utils.go
Labels: changelog/no-changelog, kind/bug, team/containers

#6052 [compliance] Schema changes - add schema version and rule description
  go.mod
  pkg/compliance/agent/testdata/configs/cis-docker.yaml
  pkg/compliance/agent/testdata/configs/cis-kubernetes.yaml
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/check.go
  pkg/compliance/rule.go
  pkg/compliance/suite.go
  pkg/compliance/suite_test.go
  pkg/compliance/testdata/cis-docker-unsupported.yaml
  pkg/compliance/testdata/cis-docker.yaml
Labels: changelog/no-changelog, kind/enhancement, team/containers

#5976 [rpm] Clearer prerm comments when upgrading
  omnibus/package-scripts/agent/prerm
Labels: changelog/no-changelog, team/agent-platform

#6049 [gitlab] Update gitlab-agent-deploy image
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#6021 Support include/exclude containers in ECS Fargate (process-agent)
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/collector/python/containers.go
  pkg/collector/python/test_containers.go
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  pkg/util/docker/docker_util.go
  pkg/util/ecs/common.go
  pkg/util/kubernetes/kubelet/kubelet.go
  releasenotes/notes/fargate-containers-incl-excl-d564e11f01cfdc6c.yaml
Labels: team/containers

#5885 [windows] Fix Windows uninstall when ddagent user is not found
  tools/windows/install-help/cal/doUninstall.cpp
Labels: changelog/no-changelog, team/agent-platform

#6056 [compliance] Report check error in event data
  pkg/compliance/checks/check.go
  pkg/compliance/checks/check_test.go
  pkg/compliance/checks/checkable.go
  pkg/compliance/checks/checkable_test.go
  pkg/compliance/checks/mock_checkable.go
Labels: changelog/no-changelog, kind/enhancement, team/containers

#6053 Add system.mem.slab_reclaimable gauge
  pkg/collector/corechecks/system/memory_nix.go
  pkg/collector/corechecks/system/memory_nix_test.go
  releasenotes/notes/Add-slab_reclaimable-gauge.-18e37186b7323f63.yaml
Labels: team/agent-platform

#6019 [gitlab] Add invoke commands to trigger and follow pipelines
  .gitlab-ci.yml
  tasks/__init__.py
  tasks/deploy/__init__.py
  tasks/deploy/color.py
  tasks/deploy/gitlab.py
  tasks/deploy/pipeline_tools.py
  tasks/pipeline.py
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#6058 [compliance] Use omitempty on KubernetesResource Group field
  pkg/compliance/resource.go
Labels: changelog/no-changelog, kind/enhancement, team/containers

#6050 Do not collect docker container logs if they are matching `DD_CONTAINER_EXCLUDE_LOGS`
  pkg/autodiscovery/listeners/docker.go
  releasenotes/notes/honor-DD_CONTAINER_EXCLUDE_LOGS-f42c6b2fa8aa6b32.yaml
Labels: component/autodiscovery, kind/bug, team/containers

#6060 Regenerate the kubernetes sample manifests from the latest version of the Helm chart
  Dockerfiles/manifests/agent-clusterchecks-only.yaml
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-apiservice.yaml
  Dockerfiles/manifests/cluster-agent/agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/datadog-cluster-agent_service.yaml
  Dockerfiles/manifests/cluster-agent/dca-secret.yaml
  Dockerfiles/manifests/cluster-agent/hpa-rbac.yaml
  Dockerfiles/manifests/cluster-agent/rbac/rbac-agent.yaml
  Dockerfiles/manifests/cluster-agent/rbac/rbac-cluster-agent.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-apiservice.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/hpa-rbac.yaml
  Dockerfiles/manifests/datadog_configmap.yaml
Labels: changelog/no-changelog, documentation, team/containers

#6064 Update the shellcheck download link
  tasks/test.py
Labels: changelog/no-changelog, team/containers

#5946 Add pod status as tag in payload
  pkg/process/util/orchestrator/pod.go
Labels: changelog/no-changelog, team/container-app

#5999 Collect deployments/replicasets
  cmd/cluster-agent/app/app.go
  cmd/process-agent/collector.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/clusteragent/orchestrator/processor.go
  pkg/clusteragent/orchestrator/transformer.go
  pkg/clusteragent/orchestrator/transformer_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/test_common.go
  pkg/process/util/orchestrator/pod.go
  pkg/process/util/orchestrator/pod_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/apiserver/types.go
Labels: changelog/no-changelog, team/container-app

#6068 [windows] Use call ridk enable on x64 build
  tasks/winbuildscripts/buildwin.bat
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6039 [KSMv2] Job and CronJob metric transformers
  pkg/collector/corechecks/cluster/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/kubernetes_state_transformers_test.go
Labels: changelog/no-changelog, team/containers

#5977 Don't allow pressing the disable check button twice
  cmd/agent/gui/views/private/js/javascript.js
  releasenotes/notes/disable-button-inactive-429ba5f4c9aef945.yaml
Labels: team/agent-core

#6074 Adding back debug server
  cmd/system-probe/main.go
Labels: changelog/no-changelog, component/system-probe, kind/bug, team/networks

#5725 [invoke] Refactor build tags management
  tasks/agent.py
  tasks/android.py
  tasks/bench.py
  tasks/build_tags.py
  tasks/cluster_agent.py
  tasks/cluster_agent_cloudfoundry.py
  tasks/cluster_agent_helpers.py
  tasks/dogstatsd.py
  tasks/go.py
  tasks/process_agent.py
  tasks/pylauncher.py
  tasks/security_agent.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/test.py
  tasks/trace_agent.py
Labels: changelog/no-changelog, team/agent-platform

#5855 [gitlab] Use rules to not create pipelines on tag
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6020 pkg/trace/api: reduce channel sends
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/test/testsuite/chunking_test.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
Labels: changelog/no-changelog, team/agent-apm

#5966 [System Probe][Windows] Record transport bytes by default, but enable option for monotonic counts
  pkg/config/config.go
  pkg/ebpf/config.go
  pkg/ebpf/tracer_windows.go
  pkg/network/driver_interface.go
  pkg/network/event_windows.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#6072 [KSMv2] Add persistentvolume by phase and service type transformers
  pkg/collector/corechecks/cluster/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/kubernetes_state_transformers_test.go
Labels: changelog/no-changelog, team/containers

#6077 Fix replicaset chunk mixup & add tests
  .github/CODEOWNERS
  pkg/clusteragent/orchestrator/processor.go
  pkg/clusteragent/orchestrator/processor_test.go
Labels: changelog/no-changelog, component/cluster-agent, team/container-app

#6041 [system-probe] Enable conntrack for all namespaces
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/socket.go
  pkg/network/netlink/socket_buffer.go
  releasenotes/notes/Enable-conntrack-for-all-namespaces-5450b33d93de9dc8.yaml
Labels: component/system-probe, kind/bug, team/burrito, team/networks

#6078 [compliance] Add missing compliance_config section to config template
  pkg/config/config_template.yaml
  pkg/config/render_config.go
Labels: changelog/no-changelog, team/containers

#6042 [KSMv2] Pod metric transformers
  pkg/collector/corechecks/cluster/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/kubernetes_state_transformers_test.go
  pkg/kubestatemetrics/store/store.go
  pkg/kubestatemetrics/store/store_test.go
Labels: changelog/no-changelog, team/containers

#5974 [DSD] UDP origin detection telemetry
  pkg/dogstatsd/enrich.go
Labels: changelog/no-changelog, team/agent-core, team/containers

#6025 [KSMv2] Add more KSM check v2 metric transformers
  pkg/collector/corechecks/cluster/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/kubernetes_state_transformers_test.go
Labels: changelog/no-changelog, team/containers

#6076 Remove latest MSIs from staging
  .gitlab-ci.yml
  tasks/deploy/pipeline_tools.py
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6083 [runtime-security] Introduce inode discarders for unlink and open events
  pkg/security/config/config.go
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/filters.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setattr.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/module/module.go
  pkg/security/probe/consts.go
  pkg/security/probe/dentry.go
  pkg/security/probe/ebpf.go
  pkg/security/probe/kfilters.go
  pkg/security/probe/model.go
  pkg/security/probe/model_accessors.go
  pkg/security/probe/open.go
  pkg/security/probe/policy.go
  pkg/security/probe/probe.go
  pkg/security/probe/unlink.go
  pkg/security/rules/bucket.go
  pkg/security/rules/model_test.go
  pkg/security/rules/ruleset.go
  pkg/security/rules/ruleset_test.go
  pkg/security/rules/truth_table.go
  pkg/security/rules/utils.go
  pkg/security/secl/eval/context.go
  pkg/security/secl/eval/errors.go
  pkg/security/secl/eval/eval.go
  pkg/security/secl/eval/eval_test.go
  pkg/security/secl/eval/event.go
  pkg/security/secl/eval/macro.go
  pkg/security/secl/eval/model.go
  pkg/security/secl/eval/model_test.go
  pkg/security/secl/eval/rule.go
  pkg/security/secl/generators/accessors/accessors.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/tests.go
  pkg/security/utils/rand.go
Labels: changelog/no-changelog, team/agent-security

#6090 add logs and a bit of cleanup
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/ebpf/c/oom-kill-kern.c
  pkg/ebpf/oom_kill.go
Labels: changelog/no-changelog, team/containers

#6089 [runtime-security] update runtime security metrics prefix
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security
