Repository DataDog/datadog-agent, pull requests merged in 2020-04, with the labels that each got.

#5233 Fix systemd tests on master
  pkg/collector/corechecks/systemd/systemd_test.go
Labels: changelog/no-changelog, dev/testing, team/integrations

#5204 Ignore auto_conf.yaml in the GUI
  cmd/agent/gui/views/private/js/javascript.js
  releasenotes/notes/ignore_auto_conf_yaml_in_gui-c1400f26dd5ea395.yaml
Labels: team/agent-core

#5073 Document how to use fake_datadog in-cluster
  test/e2e/containers/fake_datadog/README.md
  test/e2e/containers/fake_datadog/app/api.py
  test/e2e/containers/fake_datadog/fake-datadog.yaml
Labels: changelog/no-changelog, team/containers

#5223 Add kitchen tests for agent's integration command
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform

#5221 Add retries to some jobs in case of unknown errors
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5091 Add the ability to tail log file from the beginning
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/auditor/mock/mock.go
  pkg/logs/config/integration_config.go
  pkg/logs/input/file/file_provider.go
  pkg/logs/input/file/position.go
  pkg/logs/input/file/position_test.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
  pkg/logs/status/builder.go
  releasenotes/notes/logfile-tailing-from-the-begining-fbb49b9c2481204c.yaml
Labels: team/agent-core

#5237 Remove tests `.pem` files from docker images
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
Labels: changelog/no-changelog, team/containers

#5080 [NET-316][system-probe] Count DNS responses received for each connection
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/config.go
  pkg/ebpf/dns.go
  pkg/ebpf/dns_parser.go
  pkg/ebpf/dns_snooper.go
  pkg/ebpf/dns_snooper_test.go
  pkg/ebpf/dns_stats.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/event_common.go
  pkg/ebpf/state.go
  pkg/ebpf/state_test.go
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/dns-response-count-51f311ac58e53fbe.yaml
Labels: team/networks

#5136 [dogstatsd] readability improvements
  cmd/agent/app/check.go
  cmd/agent/app/run.go
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender_test.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/listeners/packet_assembler.go
  pkg/dogstatsd/listeners/packet_assembler_test.go
  pkg/dogstatsd/listeners/packet_buffer.go
  pkg/dogstatsd/listeners/packets_buffer.go
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/udp_test.go
  pkg/dogstatsd/listeners/uds_common.go
  pkg/dogstatsd/listeners/uds_linux_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  test/benchmarks/aggregator/main.go
  test/integration/dogstatsd/origin_detection.go
Labels: changelog/no-changelog, team/agent-core

#5240 pkg/trace/sampler: revert score sampler removal
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/sampler.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/scoresampler.go
  pkg/trace/test/testutil/sampler.go
Labels: changelog/no-changelog, team/agent-apm

#5202 Allow process-agent/container checks to run on Windows + Change Manifest publication
  .gitlab-ci.yml
  Dockerfiles/agent/windows/amd64/Dockerfile
  Gopkg.lock
  cmd/process-agent/main_linux.go
  cmd/process-agent/main_windows.go
  cmd/trace-agent/main_nix.go
  cmd/trace-agent/main_windows.go
  pkg/metrics/service_check_test.go
  pkg/process/checks/container.go
  pkg/process/checks/container_nolinux.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/container_rt_nolinux.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_nolinux.go
  pkg/process/config/config_test.go
  pkg/process/config/config_windows.go
  pkg/process/util/containers.go
  pkg/process/util/containers_nolinux.go
  pkg/util/containers/collectors/kubelet.go
  pkg/util/containers/providers/cgroup/provider.go
  pkg/util/containers/providers/windows/provider.go
  pkg/util/containers/types.go
  pkg/util/docker/containers.go
  pkg/util/docker/docker_util.go
  pkg/util/kubernetes/kubelet/container_test.go
  pkg/util/kubernetes/kubelet/containers.go
  pkg/util/kubernetes/kubelet/no_containers.go
  tasks/docker.py
Labels: changelog/no-changelog, team/containers

#5224 Implement `kube_namespace:` prefix in `ac_include` and `ac_exclude`
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/python/containers.go
  pkg/collector/python/containers_test.go
  pkg/collector/python/test_containers.go
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  pkg/util/docker/containers.go
  pkg/util/docker/event_pull.go
  pkg/util/kubernetes/kubelet/containers.go
  releasenotes/notes/namespace_include_exclude-52ef2afcf7b7bdb2.yaml
  rtloader/common/builtins/containers.c
  rtloader/include/rtloader_types.h
  rtloader/test/containers/containers.go
  rtloader/test/containers/containers_test.go
Labels: component/autodiscovery, component/rtloader, kind/feature, team/containers

#5236 pkg/config: clarify dd_url
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-core

#5241 [DCA] Autodiscover standard tags for Cluster and Endpoint Checks
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/common_test.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_endpoints_test.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  releasenotes-dca/notes/standard-tags-clc-4333bc927d135aba.yaml
Labels: component/autodiscovery, component/cluster-agent, team/containers

#5229 Fix check command when there are JMX and Python/Go instances
  cmd/agent/app/check.go
  cmd/agent/app/jmx.go
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core

#5243 Fix missing image for Windows x86 builds
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#5166 [tools] Add docker image with gdb and debug symbols
  docs/dev/tools.md
  tools/gdb/.gdbinit
  tools/gdb/Dockerfile
  tools/gdb/README.md
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#5168 [Process Agent] Support EKS Fargate
  pkg/config/config.go
  pkg/process/config/config.go
  pkg/util/ecs/detection.go
  pkg/util/fargate/detection.go
  pkg/util/fargate/hostname_core.go
  pkg/util/fargate/hostname_process.go
  pkg/util/fargate/hostname_process_test.go
  pkg/util/fargate/types.go
  pkg/util/hostname.go
  releasenotes/notes/process-agent-support-eks-fargate-b82e118ea3a1e8c8.yaml
  tasks/build_tags.py
Labels: team/containers, team/processes

#5218 Collect network metadata if running docker in host mode
  pkg/metadata/gohai/gohai.go
  pkg/metadata/gohai/gohai_test.go
  releasenotes/notes/docker-host-network-d12a266ca8e87f0e.yaml
Labels: team/networks

#5246 [jmxfetch] Bump nightlies to 0.36.1
  release.json
  releasenotes/notes/jmxfetch-0-36-1-983ecfebc05f6a5c.yaml
Labels: team/agent-core

#5247 Exclude docker code from Windows 32bit builds
  tasks/agent.py
  tasks/build_tags.py
Labels: changelog/no-changelog, team/agent-platform

#5185 Report jmxfetch startup failure with metadata
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/collector/corechecks/embed/jmx/runner.go
  pkg/collector/metadata/agentchecks/agentchecks.go
  pkg/jmxfetch/jmxfetch_nix.go
  pkg/status/jmx_status.go
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/templates/jmxfetch.tmpl
Labels: changelog/no-changelog, team/agent-core

#5179 Add System Probe information to agent flare
  pkg/process/checks/net.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_unsupported.go
  pkg/process/net/common_windows.go
  pkg/process/net/types_linux.go
  pkg/process/net/types_windows.go
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/status_system_probe.go
  pkg/status/templates/systemprobe.tmpl
Labels: changelog/no-changelog, team/networks

#5205 Fixes missing C runtime DLL (specifically for jpype, probably others
  omnibus/config/software/python3.rb
  omnibus/config/software/vc_redist_14.rb
  releasenotes/notes/addcruntimejpype-ed68ff8e996d75a6.yaml
Labels: team/agent-platform

#5248 Revert "Fix check command when there are JMX and Python/Go instances"
  cmd/agent/app/check.go
  cmd/agent/app/jmx.go
Labels: changelog/no-changelog, component/cmd-agent, team/agent-core, team/integrations

#5234 pkg/trace/sampler: catch rare non p1 trace chunks
  Gopkg.lock
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/sampler/exception_sampler.go
  pkg/trace/sampler/exception_sampler_test.go
  pkg/trace/traceutil/span.go
Labels: changelog/no-changelog, team/agent-apm

#5239 Add check error status in CLCStats
  pkg/clusteragent/clusterchecks/types/types.go
  pkg/status/status.go
  pkg/status/status_test.go
  pkg/status/types.go
Labels: changelog/no-changelog, component/clusterchecks, team/containers

#5256 re-build tracer-ebpf.go
  pkg/ebpf/tracer-ebpf.go
Labels: changelog/no-changelog, team/networks

#5225 [logs] LI-264: Default agent to https with compression
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/logs.go
  pkg/logs/status/test_utils.go
  pkg/metadata/host/host.go
  pkg/metadata/host/host_test.go
  pkg/metadata/host/payload.go
  pkg/status/templates/logsagent.tmpl
  releasenotes/notes/logs-default-agent-to-http-b96697b94baf78c7.yaml
Labels: component/logs, team/logs

#5257 Fix Windows x86 build tags for process-agent
  tasks/build_tags.py
  tasks/process_agent.py
Labels: changelog/no-changelog, team/agent-platform

#5231 [system-probe] Don't write DNS mappings if an IP maps to more than 1000 domains
  pkg/ebpf/dns_cache.go
  pkg/ebpf/dns_cache_test.go
Labels: changelog/no-changelog, team/networks

#5258 [System Probe] Fix flare code for unsupported OS's
  pkg/process/net/common_unsupported.go
Labels: changelog/no-changelog, team/networks

#5164 Add host_provider_id tag to k8s events
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver_test.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  releasenotes/notes/add-host_provider_id-k8s-events-7293acb131d7c088.yaml
Labels: component/cluster-agent, kind/feature, team/containers

#5255 [cmd/check] Fix for integrations with both JMX and non-JMX instances
  cmd/agent/app/check.go
  cmd/agent/app/check_nojmx.go
  cmd/agent/app/jmx.go
  cmd/agent/app/standalone/doc.go
  cmd/agent/app/standalone/jmx.go
  cmd/agent/app/standalone/jmx_nojmx.go
  cmd/agent/app/standalone/setup.go
  cmd/agent/app/standalone/warnings.go
  pkg/jmxfetch/jmxfetch.go
Labels: changelog/no-changelog, team/agent-core

#5193 Use pkg/forwarder for submitting process-agent payloads
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/main_common.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/test_common.go
  pkg/forwarder/transaction.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/net.go
  pkg/process/checks/pod.go
  pkg/process/checks/process.go
  pkg/process/checks/process_rt.go
  pkg/process/config/config_test.go
  pkg/process/util/api/transport.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core, team/container-app, team/networks, team/processes

#4619 Add eBPF tracer for TCP queue length
  .gitlab-ci.yml
  Gopkg.lock
  cmd/agent/app/run.go
  cmd/agent/dist/conf.d/tcp_queue_length.d/conf.yaml.example
  cmd/system-probe/probe.go
  omnibus/config/software/system-probe.rb
  pkg/collector/corechecks/ebpf/empty.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/config/config.go
  pkg/ebpf/c/tcp-queue-length-kern-user.h
  pkg/ebpf/c/tcp-queue-length-kern.c
  pkg/ebpf/tcp_queue_length.go
  pkg/ebpf/tcp_queue_length_stub.go
  pkg/ebpf/tcpqueuelength/types.go
  pkg/ebpf/tracer-ebpf.go
  pkg/process/config/yaml_config.go
  pkg/process/net/check.go
  releasenotes/notes/add_ebpf_probe_to_check_tcp_queues-46d466efd9e5d408.yaml
  tasks/agent.py
  tasks/system_probe.py
Labels: component/system-probe, kind/feature, team/containers

#5263 [system-probe] Add telemetry for dropped netlink register events
  pkg/ebpf/netlink/conntracker.go
Labels: changelog/no-changelog, team/networks

#5251 [telemetry+dogstatsd] avoid heap escape in telemetry.Counter
  pkg/dogstatsd/server.go
  pkg/telemetry/counter.go
  pkg/telemetry/prom_counter.go
Labels: changelog/no-changelog, team/agent-core

#5266 [System probe] Add unsupported getstats to system probe flare
  pkg/status/status_system_probe.go
  pkg/status/status_system_probe_unsupported.go
Labels: changelog/no-changelog, team/networks

#5268 [System Probe] Update path variable name in check code
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/process/net/check.go
Labels: changelog/no-changelog, team/processes

#5267 [netlink] Disable unregister events
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_integration_test.go
  pkg/ebpf/netlink/conntracker_test.go
Labels: changelog/no-changelog, team/networks

#5259 Clean up pid file on process-agent and system-probe
  cmd/process-agent/main_common.go
  cmd/system-probe/main.go
  cmd/system-probe/main_common.go
  releasenotes/notes/process-clean-pid-file-f0f6ba647fe12aa2.yaml
Labels: kind/bug, team/networks, team/processes

#5272 pkg/trace/test/testsuite: randomize binary folder
  pkg/trace/test/testsuite/secrets_test.go
Labels: changelog/no-changelog, team/agent-apm

#5274 [tcp_queue_length] Disable when building without cgo
  pkg/collector/corechecks/ebpf/empty.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
Labels: changelog/no-changelog, team/containers, team/networks

#5275 Add 6/7.19.0-rc.1 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5002 Fixes memory leak on Windows process agent when retrieving process
  Gopkg.lock
  Gopkg.toml
  pkg/process/checks/allprocesses_windows.go
  pkg/util/winutil/process.go
  releasenotes/notes/fixwinprocessargs-4d745db8ff52e3fc.yaml
Labels: team/processes

#5284 [chocolatey] Fix missing parenthesis in chocolateyinstall.ps1
  chocolatey/tools/chocolateyinstall.ps1
Labels: changelog/no-changelog, team/agent-platform

#5286 Harmonize acceptable log_level input
  pkg/config/log.go
  pkg/config/runtime_settings_test.go
Labels: changelog/no-changelog, team/agent-core

#5280 Run docker rmi and docker prune on Windows build jobs
  .gitlab-ci.yml
  tasks/docker.py
Labels: changelog/no-changelog, team/agent-platform, team/containers

#5279 Fix Windows tag publish
  .gitlab-ci.yml
  cmd/trace-agent/main_linux.go
  cmd/trace-agent/main_nix.go
Labels: changelog/no-changelog, team/agent-platform

#5287 Update PyYAML to 5.3.1
  requirements.txt
Labels: changelog/no-changelog, team/agent-platform

#5297 Add 6/7.19.0-rc.2 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5270 add ContainerHostType on all message payloads to identify host type
  Gopkg.lock
  Gopkg.toml
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_rt.go
  pkg/process/config/config.go
Labels: changelog/no-changelog, team/processes

#5300 [gitlab] send_pkg_size-a7: create tmp puppy rpm folder before using it
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5299 Make retrials global in case of non script error
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5301 Fix strip URI password
  pkg/util/log/strip.go
  pkg/util/log/strip_test.go
Labels: changelog/no-changelog, team/agent-core, team/integrations

#5304 Don't panic when RemoteSysProbeUtil is not initialized
  pkg/process/checks/net.go
  pkg/process/net/common.go
  pkg/process/net/common_unsupported.go
Labels: changelog/no-changelog, team/networks

#5303 Fix panic due to concurrent map access in Docker AD provider
  pkg/autodiscovery/providers/docker.go
  releasenotes/notes/fix-concurrent-map-access-9226d0f36d5f9a39.yaml
Labels: kind/bug, team/containers

#5302 [gitlab] Fix chocolatey publish paths
  .gitlab-ci.yml
  tasks/winbuildscripts/Publish-Chocolatey-Package.ps1
Labels: changelog/no-changelog, team/agent-platform

#5310 Add 6/7.19.0-rc.3 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5260 [cmd/check] Stop after running JMXFetch if no other instances are set
  cmd/agent/app/check.go
  cmd/agent/app/standalone/jmx.go
Labels: changelog/no-changelog, team/agent-core

#5308 [logs] LI-264: Timeout HTTP connectivity test after 5s
  pkg/logs/client/http/destination.go
Labels: changelog/no-changelog, component/logs, team/agent-core, team/logs

#5315 Remove path from API endpoint if specified
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
Labels: changelog/no-changelog, kind/bug, team/container-app, team/networks, team/processes

#5319 Revert the default value management for `system_probe_config.sysprobe_socket`
  pkg/config/config.go
Labels: changelog/no-changelog, component/system-probe, team/processes

#5293 Disable API key health checks on process/cluster agent
  cmd/agent/app/run.go
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  cmd/process-agent/collector.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/metadata/scheduler_test.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-core, team/processes

#5323 [py3linter] Re-introduce serial linting, and lint once per check name
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#5316 [logs] LI-264: Update release note with use_tcp & use_http
  releasenotes/notes/logs-default-agent-to-http-b96697b94baf78c7.yaml
Labels: changelog/no-changelog, component/logs, team/agent-core, team/logs

#5321 [Fix][Config] Fallback when host paths are not mounted
  pkg/config/config.go
Labels: changelog/no-changelog, team/containers

#5313 [System Probe] Switch build tags for system probe status page
  pkg/status/status_system_probe.go
  pkg/status/status_system_probe_unsupported.go
Labels: changelog/no-changelog, team/networks

#5325 Fixing flare command on missing auth_token
  cmd/agent/app/flare.go
Labels: changelog/no-changelog, team/agent-core

#5330 Add 6/7.19.0-rc.4 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5327 Enable zlib build tag in Cluster Agent to enable compression
  tasks/cluster_agent.py
Labels: changelog/no-changelog, team/containers

#5326 Update StandardStatsdPrefixes with new JMX integrations
  pkg/config/standard_names.go
  releasenotes/notes/update-jmx-statsd-prefixes-3578475df54665b6.yaml
Labels: team/agent-core, team/integrations

#5338 [logs] Log correct value in log message
  pkg/logs/config/integration_config.go
  releasenotes/notes/logfile-tailing-from-the-begining-fbb49b9c2481204c.yaml
Labels: changelog/no-changelog, team/agent-core

#5337 [netlink] Add DeleteConn method
  pkg/ebpf/common_test.go
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_integration_test.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/noop.go
  pkg/ebpf/tracer.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#5345 [logs] LI-264: Don't default to HTTP when additional endpoints are set
  pkg/logs/config/config.go
  pkg/logs/config/endpoints_test.go
Labels: changelog/no-changelog, component/logs, team/agent-core, team/logs

#5342 add pids to container object in kubelet collector
  pkg/util/docker/containers.go
  pkg/util/kubernetes/kubelet/containers.go
Labels: changelog/no-changelog, team/containers

#5346 Add 6/7.19.0-rc.5 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5347 pkg/trace/writer: ensure stats payloads are cloned on multiple senders
  pkg/trace/stats/stats_payload.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/agent-apm

#5340 [proc] Regenerate procmatch default catalog
  pkg/process/net/common.go
  pkg/procmatch/default_catalog.go
  pkg/procmatch/procmatch_test.go
Labels: changelog/no-changelog, team/processes

#5350 Use Debug level when logging open fds errors
  pkg/collector/corechecks/containers/containerd.go
  pkg/util/containers/providers/cgroup/cgroup_metrics.go
Labels: changelog/no-changelog, team/containers

#5291 [DCA][AD] Wait for client-go cache to sync
  Gopkg.lock
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_services.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/config/config.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/util.go
Labels: changelog/no-changelog, component/autodiscovery, component/cluster-agent, team/containers

#5335 Exclude more ecr/gcr/mcr pause containers
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  releasenotes/notes/exclude-more-pause-containers-75297c120188da8f.yaml
Labels: team/containers

#5353 Setup 7.19.x CI
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5354 rm hostname from KubeCheck struct
  pkg/collector/corechecks/cluster/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetes_apiserver_test.go
Labels: changelog/no-changelog, team/containers

#5352 Include entire C-runtime MSM in the python3 directory. Found some older
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, team/agent-platform

#5355 fix c runtime problem on 7.19 branch
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, team/agent-platform

#5271 [Autodiscovery] Fix config Digest method
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
Labels: changelog/no-changelog, team/containers

#5359 [AD][Kubelet] Support tag keys with multiple values
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  releasenotes/notes/ad-support-tags-with-multiple-values-857102ef7ceb7edb.yaml
Labels: component/tagger, team/containers

#5210 [aggregator] replace selection sort with insertion sort and adjust the insertion sort threshold.
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/sort.go
  pkg/aggregator/ckey/sort_test.go
  pkg/util/sort.go
  pkg/util/sort_benchmarks_note.md
  pkg/util/sort_test.go
  pkg/util/sort_uniq.go
  pkg/util/sort_uniq_test.go
  releasenotes/notes/insertion-sort-002a4a1f977f6772.yaml
Labels: team/agent-core

#5360 Fix flaky test
  pkg/clusteragent/clusterchecks/common_test.go
Labels: changelog/no-changelog, team/containers

#5361 Add 6/7.19.0-rc.6 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5334 [docs] Add inline deprecation comment about StandardJMXIntegrations
  pkg/config/standard_names.go
Labels: changelog/no-changelog, team/agent-core, team/integrations

#5348 Update release note
  releasenotes/notes/collect-logs-in-old-k8s-versions-b07c0c4ca779658d.yaml
Labels: team/containers

#5328 Add error messages to system-probe.test task
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#5281 Fix make-kitchen-gitlab-yml task
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform

#5309 JMXFetch cycle management on Windows
  pkg/collector/corechecks/embed/jmx/runner.go
  pkg/jmxfetch/jmxfetch.go
  pkg/jmxfetch/jmxfetch_nix.go
  pkg/jmxfetch/jmxfetch_windows.go
  releasenotes/notes/jmx-windows-lifecycle-a3bea187d613c003.yaml
Labels: team/agent-platform

#5364 Update reno
  releasenotes/notes/collect-logs-in-old-k8s-versions-b07c0c4ca779658d.yaml
Labels: changelog/no-changelog, team/containers

#5324 ECS Fargate/Dogstatsd task_arn tag on with orchestrator cardinality
  pkg/dogstatsd/server.go
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/tagger/global.go
  releasenotes/notes/ecs-fargate-dogstatsd-task_arn-4b86cba851ba1fce.yaml
Labels: team/containers

#5312 [AD] Exclude logs and metrics separately
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_kubelet.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/listeners/types.go
  pkg/collector/scheduler.go
  pkg/config/config.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/scheduler/scheduler_test.go
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  pkg/util/containers/types.go
  releasenotes/notes/separate-logs-and-metrics-exclusion-3952ea3ff3030a59.yaml
Labels: component/autodiscovery, team/containers

#5362 Fix S6 supervisor management when the core agent dies
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/init-stage3
  Dockerfiles/agent/init-stage3-host-pid
  Dockerfiles/agent/s6-services/sysprobe/run
  Dockerfiles/agent/test_image_contents.py
  releasenotes/notes/fix-s6-shutdown-b2460e486a4ba68a.yaml
Labels: kind/bug, team/containers

#5365 Fix ENV vars propagation to services and start of process-agent service in Windows containers
  Dockerfiles/agent/entrypoint.ps1
  Dockerfiles/agent/install.ps1
  pkg/config/config.go
Labels: changelog/no-changelog, team/containers

#5368 Backport #5362 to 7.19.x: Fix S6 supervisor management when the core agent dies
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/init-stage3
  Dockerfiles/agent/init-stage3-host-pid
  Dockerfiles/agent/s6-services/sysprobe/run
  Dockerfiles/agent/test_image_contents.py
  releasenotes/notes/fix-s6-shutdown-b2460e486a4ba68a.yaml
Labels: kind/bug, team/containers

#5370 [7.19 Backport] Fix ENV vars propagation to services and start of process-agent service in Windows containers
  Dockerfiles/agent/entrypoint.ps1
  Dockerfiles/agent/install.ps1
  pkg/config/config.go
Labels: changelog/no-changelog, team/containers

#5371 Add 6/7.19.0-rc.7 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5376 change log level of service map error for deleted nodes
  cmd/cluster-agent/api/v1/install.go
Labels: changelog/no-changelog, component/cluster-agent, team/containers

#5374 [Process Agent] Support multiple container sources
  pkg/process/config/yaml_config.go
  pkg/process/util/containers.go
  pkg/process/util/containers_test.go
  releasenotes/notes/process-support-multiple-container-sources-d84907e66c65c753.yaml
Labels: team/containers, team/processes

#5377 Remove procmatch library
  .github/CODEOWNERS
  pkg/procmatch/default_catalog.go
  pkg/procmatch/gen/generate_catalog.go
  pkg/procmatch/graph.go
  pkg/procmatch/graph_matcher.go
  pkg/procmatch/graph_matcher_test.go
  pkg/procmatch/procmatch.go
  pkg/procmatch/procmatch_test.go
  pkg/procmatch/readme.md
  pkg/procmatch/signature.go
Labels: changelog/no-changelog, team/processes

#5220 pkg/trace/writer: consume response and close body for trace http response
  pkg/trace/writer/sender.go
  releasenotes/notes/fix-kal-trace-agent-c0ed330fb13ebd87.yaml
Labels: team/agent-apm

#5250 Run Android and Win x86 jobs on branches
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5382 [gitlab] Fix build_puppy_agent-deb_arm64
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5105 [gitlab] Add shell script linting job
  .gitlab-ci.yml
  cmd/agent/install_mac_os.sh
  cmd/agent/install_script.sh
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/postrm
  omnibus/package-scripts/agent/preinst
  omnibus/package-scripts/agent/prerm
  omnibus/package-scripts/puppy/postrm
  omnibus/package-scripts/puppy/preinst
  omnibus/package-scripts/puppy/prerm
Labels: changelog/no-changelog, team/agent-platform

#4983 [DOCS-664] Adding receiver_socket parameter doc
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, documentation, team/agent-apm

#5311 Add device_name tags to IO stats and disk checks
  pkg/collector/corechecks/system/disk_nix.go
  pkg/collector/corechecks/system/disk_test.go
  pkg/collector/corechecks/system/iostats_nix.go
  pkg/collector/corechecks/system/iostats_nix_test.go
  pkg/collector/corechecks/system/iostats_test.go
  releasenotes/notes/add-device_name-tag-7ee4c054d1b351ca.yaml
Labels: team/agent-platform

#5378 Build systemd check on puppy
  tasks/agent.py
  tasks/build_tags.py
Labels: changelog/no-changelog, team/agent-platform

#5385 [system-probe] Re-enable ENOBUFs
  pkg/config/config.go
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_integration_test.go
  pkg/ebpf/tracer.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#5387 [system-probe] Re-enable ENOBUFs (#5385)
  pkg/config/config.go
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_integration_test.go
  pkg/ebpf/tracer.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#5391 Add 6/7.19.0-rc.8 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5394 Fix android.build invoke task
  tasks/android.py
Labels: changelog/no-changelog, team/agent-platform

#5398 [system-probe] Change ENOBUF param name and default value
  pkg/config/config.go
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/tracer.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#5400 don't override conntrack socket buffer size
  pkg/ebpf/netlink/conntracker.go
Labels: changelog/no-changelog, team/networks

#5399 [system-probe] Change ENOBUF param name and default value
  pkg/config/config.go
  pkg/ebpf/config.go
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/tracer.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#5401 don't override conntrack socket buffer size
  pkg/ebpf/netlink/conntracker.go
Labels: changelog/no-changelog, team/networks

#5402 Add 6/7.19.0-rc.9 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5404 Fix install script import command on upgrade
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#5390 Revert Revert [docker] allow user to add custom docker label for tagg…
  pkg/tagger/README.md
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  releasenotes/notes/add-support-for-ad-docker-label-tags-bc5e9908696d2b5b.yaml
Labels: team/containers

#5289 [NET-377][system-probe] Collect DNS errors
  Gopkg.lock
  Gopkg.toml
  pkg/ebpf/dns_parser.go
  pkg/ebpf/dns_snooper.go
  pkg/ebpf/dns_snooper_test.go
  pkg/ebpf/dns_stats.go
  pkg/ebpf/encoding/format.go
  pkg/ebpf/event_common.go
  pkg/ebpf/state.go
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer_test.go
  releasenotes/notes/dns-error-count-03f7c54d06f934d6.yaml
Labels: team/networks

#5314 [System Probe] Update unit test to reflect UDP connection direction changes
  pkg/ebpf/tracer_direction_test.go
Labels: changelog/no-changelog, team/networks

#5290 [github] add a "how to test" section in the Github PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, team/agent-core

#5333 Improve install script kitchen tests
  cmd/agent/install_script.sh
  test/kitchen/site-cookbooks/dd-agent-install-script/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-install-script/rspec/dd-agent-install-script_spec.rb
Labels: changelog/no-changelog, team/agent-platform

#5410 Add 6/7.19.0-rc.10 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5409 [AD] Fix config collision
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  releasenotes/notes/fix-ad-container-restart-840258fca73e737e.yaml
Labels: team/containers

#5373 Add agent install info to host metadata
  cmd/agent/install_script.sh
  pkg/metadata/host/host.go
  pkg/metadata/host/host_test.go
  pkg/metadata/host/payload.go
  releasenotes/notes/add-install-info-management-58d81114ab2a369e.yaml
  test/kitchen/test/integration/dd-agent-install-script/rspec/dd-agent-install-script_spec.rb
Labels: team/agent-platform

#5411 [ECS Fargate] Fix for container stats missing in ECS Fargate 1.4.0
  pkg/util/ecs/metadata/v2/client.go
  pkg/util/ecs/metadata/v2/client_test.go
  pkg/util/ecs/metadata/v2/testdata/container_stats.json
  releasenotes/notes/ecs-fargate-container-stats-fix-1.4.0-df40c0cb2a8f6135.yaml
Labels: team/containers

#5413 Revert "Add agent install info to host metadata (#5373)"
  cmd/agent/install_script.sh
  pkg/metadata/host/host.go
  pkg/metadata/host/host_test.go
  pkg/metadata/host/payload.go
  releasenotes/notes/add-install-info-management-58d81114ab2a369e.yaml
  test/kitchen/test/integration/dd-agent-install-script/rspec/dd-agent-install-script_spec.rb
Labels: changelog/no-changelog, team/agent-platform

#5292 Migrate to go module
  .circleci/README.md
  .circleci/images/builder/Dockerfile
  .github/CODEOWNERS
  .gitlab-ci.yml
  .wwhrd.yml
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  bootstrap.json
  go.mod
  go.sum
  omnibus/config/patches/datadog-agent/0001-sles-sys-types.h-must-be-included-here-to-build.patch
  pkg/collector/corechecks/cluster/kubernetes_openshift.go
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/collector/corechecks/system/cpu_test.go
  pkg/config/viper.go
  pkg/config/viper_test.go
  pkg/logs/config/parser.go
  pkg/logs/input/windowsevent/README.md
  pkg/trace/test/agent.go
  pkg/util/compression/zstd.go
  pkg/util/containerd/containerd_util_test.go
  tasks/__init__.py
  tasks/agent.py
  tasks/bench.py
  tasks/bootstrap.py
  tasks/cluster_agent.py
  tasks/cluster_agent_helpers.py
  tasks/dogstatsd.py
  tasks/go.py
  tasks/process_agent.py
  tasks/pylauncher.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, dev/tooling, team/containers

#5397 Remove LeaderElectorInterface
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/types.go
  pkg/util/kubernetes/apiserver/wpa_controller.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
Labels: changelog/no-changelog, team/containers

#5235 pkg/status: include APM into agent status
  .gitignore
  cmd/agent/app/status.go
  cmd/agent/gui/agent.go
  cmd/agent/gui/gui.go
  cmd/agent/gui/render.go
  cmd/agent/gui/views/private/js/apm.js
  cmd/agent/gui/views/private/js/ejs.min.js
  cmd/agent/gui/views/private/js/javascript.js
  cmd/agent/gui/views/templates/generalStatus.tmpl
  cmd/agent/gui/views/templates/index.tmpl
  pkg/status/helpers.go
  pkg/status/render.go
  pkg/status/templates/logsagent.tmpl
  pkg/status/templates/trace-agent.tmpl
  pkg/trace/agent/run.go
  pkg/trace/api/api.go
  pkg/trace/info/info.go
  releasenotes/notes/apm-status-f1e9af0d2c6f0641.yaml
  tasks/go.py
Labels: team/agent-apm

#5424 [pipeline/build] fix android build
  .gitlab-ci.yml
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/conntracker_test.go
  pkg/ebpf/netlink/noop.go
  tasks/android.py
  tasks/build_tags.py
Labels: changelog/no-changelog, team/agent-platform

#5420 Use the latest builder images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5244 [system-probe] Extract network code to its own package
  .github/CODEOWNERS
  .golangci.yml
  cmd/system-probe/probe.go
  cmd/system-probe/probe_test.go
  pkg/ebpf/bytecode/bpf_module.go
  pkg/ebpf/bytecode/ebpf_bytes_match_test.go
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/event.go
  pkg/ebpf/tcp_queue_length.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_direction_test.go
  pkg/ebpf/tracer_test.go
  pkg/ebpf/tracer_unsupported.go
  pkg/ebpf/tracer_windows.go
  pkg/network/dns.go
  pkg/network/dns_cache.go
  pkg/network/dns_cache_test.go
  pkg/network/dns_parser.go
  pkg/network/dns_snooper.go
  pkg/network/dns_snooper_test.go
  pkg/network/dns_stats.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/encoding/protobuf.go
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/conntracker_test.go
  pkg/network/netlink/event.go
  pkg/network/netlink/generation.go
  pkg/network/netlink/generation_test.go
  pkg/network/netlink/logging.go
  pkg/network/netlink/net_ns.go
  pkg/network/netlink/noop.go
  pkg/network/netlink/ntohs.go
  pkg/network/netlink/ntohs_test.go
  pkg/network/netlink/socket_buffer.go
  pkg/network/netlink/testdata/setup_dnat.sh
  pkg/network/netlink/testdata/teardown_dnat.sh
  pkg/network/nettop/main.go
  pkg/network/nettop/readme.md
  pkg/network/network_filter.go
  pkg/network/network_filter_test.go
  pkg/network/port.go
  pkg/network/port_test.go
  pkg/network/proc_net.go
  pkg/network/proc_net_test.go
  pkg/network/state.go
  pkg/network/state_intrahost_test.go
  pkg/network/state_test.go
  pkg/network/tcp_dns_layer.go
  pkg/process/net/common.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#5407 [kitchen] Add Ubuntu 20.04 to tested platforms
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5317 [logs/docker] configurable docker client read timeout.
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/input/container/launcher.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_nodocker.go
  pkg/logs/input/docker/tailer.go
Labels: changelog/no-changelog, component/logs, team/agent-core

#5430 Fix run_security_scan_test in gitlabci
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/containers

#5423 pkg/trace/api: remove WriteHeader call from httpOK
  pkg/trace/api/responses.go
  releasenotes/notes/apm-superfluous-header-01753e9cc4c72365.yaml
Labels: team/agent-apm

#5428 fix err var name
  pkg/collector/corechecks/containers/containerd.go
Labels: changelog/no-changelog, team/containers

#5388 [System Probe][Windows] Convert Flows to ConnectionStats
  pkg/ebpf/driver_interface.go
  pkg/ebpf/event_windows.go
  pkg/ebpf/tracer_windows.go
Labels: changelog/no-changelog, team/networks

#5379 Build systemd for all Linuxes
  .gitlab-ci.yml
  requirements.txt
  tasks/agent.py
  tasks/android.py
  tasks/build_tags.py
  tasks/uninstallcmd.py
Labels: changelog/no-changelog, team/agent-platform

#5432 Add 6/7.19.0 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5419 Increase GCE metadata endpoint default timeout.
  pkg/config/config.go
  pkg/util/gce/gce.go
  releasenotes/notes/increase-gce-timeout-4cb9da76cca9863c.yaml
Labels: team/agent-core
