Repository DataDog/datadog-agent, pull requests merged in 2020-11, with the labels that each got.

#6673 [release] 7.24.0-rc.1 entry
  release.json
Labels: changelog/no-changelog, team/agent-core

#6676 Only cleanup the test artifacts if the tests succeed
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6683 [runtime-security] Fix a race condition in the load controller of the runtime security module
  pkg/security/probe/load_controller.go
Labels: changelog/no-changelog, team/agent-security

#6688 [runtime-security] Fix rule tags load, copy ruleDef.Tags to secl.Rule
  pkg/security/rules/ruleset.go
Labels: changelog/no-changelog, team/agent-security

#6692 [AD][kubelet] Avoid sending the same service multiple times
  pkg/autodiscovery/listeners/kubelet.go
Labels: changelog/no-changelog, team/containers

#6690 [jmxfetch] Fix standalone jmx collect command
  cmd/agent/app/jmx.go
  cmd/agent/app/standalone/jmx.go
Labels: changelog/no-changelog, team/agent-core

#6682 Filter out the utf-8 characters from the `argo get` output
  test/e2e/scripts/run-instance/23-argo-get.sh
Labels: changelog/no-changelog, dev/testing, team/containers

#6691 [forwarder] fix endpoint url building when using the additional endpoints feature.
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
Labels: changelog/no-changelog, team/agent-core

#6689 Fix missing initialization of KubeUtil filter
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: changelog/no-changelog, kind/bug, team/containers

#6685 Fix random Kubelet panic in searchPodForContainerID
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/providers/kubelet_test.go
  pkg/autodiscovery/providers/prometheus_pods_test.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_common_test.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/fix-kubelet-panic-f99149eb00b1d59a.yaml
Labels: kind/bug, team/containers

#6695 [config] Log dogstatsd_mapper_profiles parsing issue from env as an error
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#6686 [runtime-security] avoid dentry resolution failures with high level of events
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setattr.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/probe/dentry_resolver_bpf.go
  pkg/security/probe/probe_bpf.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/mitre_test.go
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#6696 [release] 7.24.0-rc.2 entry
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6699 [aggregator] Fix flushed value when 2 identical values are submitted
  pkg/metrics/monotonic_count.go
  pkg/metrics/monotonic_count_test.go
Labels: changelog/no-changelog, team/agent-core

#6702 [runtime-security] Fix dentry resolver concurrent map read / write access
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/probe/dentry_resolver_bpf.go
Labels: changelog/no-changelog, team/agent-security

#6701 [runtime-security] Send fork events to user space to update the process cache
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/probe/model.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/process_resolver_bpf.go
Labels: changelog/no-changelog, team/agent-security

#6703 [logging] Fix logger initialization
  pkg/config/log.go
Labels: changelog/no-changelog, team/agent-core

#6705 [runtime-security] Remove pid discarder on process exit
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/c/exec.h
Labels: changelog/no-changelog, team/agent-security

#6706 Move some Kubelet client logs from info to debug
  pkg/util/kubernetes/kubelet/kubelet_client.go
Labels: changelog/no-changelog, kind/bug, team/containers

#6704 [release] 7.24.0-rc.3 release entry.
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6711 Fix the file and line number reported in logs
  cmd/cluster-agent/klog.go
  pkg/util/log/log.go
Labels: changelog/no-changelog, component/cluster-agent, kind/bug, severity/minor, team/containers

#6712 Fix nil pointer in containerd spec read
  pkg/collector/corechecks/containers/containerd.go
  releasenotes/notes/fix-containerd-panic-15d508acf9a70125.yaml
Labels: kind/bug, team/containers

#6715 [orchestrator] fix status for additional endpoints
  pkg/clusteragent/orchestrator/status.go
  pkg/status/templates/orchestrator.tmpl
Labels: changelog/no-changelog, component/cluster-agent, team/container-app

#6716 Fix the file and line number reported in logs
  cmd/cluster-agent/klog.go
Labels: changelog/no-changelog, component/cluster-agent, kind/bug, severity/minor, team/containers

#6718 [release] 7.24.0-rc.4 release entry.
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6721 Fix KSMv2 CronJob metrics
  pkg/collector/corechecks/cluster/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/kubernetes_state_test.go
Labels: changelog/no-changelog, kind/bug, severity/normal, team/containers

#6720 Do not ping Platform when LICENSE-3rdparty.csv changes
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6722 [AD][kubelet] Consider service readiness in kubeletSvcEqual
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
Labels: changelog/no-changelog, team/containers

#6723 [runtime-security] Fix resolved mount points for non-overlayfs filesystem
  pkg/security/probe/mount.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/testdrive.go
Labels: changelog/no-changelog, team/agent-security

#6714 Specify a default configuration file
  cmd/security-agent/app/app.go
Labels: changelog/no-changelog, team/agent-security

#6729 [kitchen] Update SLES image in kitchen tests
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6730 pkg/trace/api: add some normalization to ClientGroupedStats
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/agent/truncator.go
  pkg/trace/agent/truncator_test.go
  pkg/trace/api/api.go
  pkg/trace/traceutil/normalize.go
  pkg/trace/traceutil/normalize_test.go
  pkg/trace/traceutil/truncate.go
Labels: changelog/no-changelog, team/agent-apm

#6727 pkg/trace/obfuscate: fix handling of UTF-8 encoding
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
Labels: changelog/no-changelog, team/agent-apm

#6743 [release] 7.24.0-rc.5 entry.
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6655 Add docker authentication for docker build in CI
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#6694 When upgrading from the NPM beta to 7.24 (which doesn't include npm),
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#6737 [gitlab] update windows build image, add windows GCR jobs, make job names uniform
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#6756 [release] bumping jmxfetch to 0.40.2, updating relnote
  release.json
  releasenotes/notes/jmxfetch-support-uds-dff1750ddba3b575.yaml
Labels: team/agent-core

#6733 Bug fixes for log agent tracking per source bytes
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/config/source.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/status/templates/logsagent.tmpl
Labels: changelog/no-changelog, team/agent-core

#6760 [agent/tcp_queue_length] Rename tcp_queue_length metrics
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/ebpf/c/tcp-queue-length-kern.c
  pkg/ebpf/tcp-queue-length-kern-user.h
  pkg/ebpf/tcp_queue_length.go
  pkg/ebpf/tcpqueuelength/types.go
  releasenotes/notes/tcp-queue-length-max-fill-rate-492a5b1a6444a609.yaml
Labels: changelog/no-changelog, team/containers

#6734 Add compliance containers running metric
  pkg/compliance/agent/agent.go
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/telemetry.go
  pkg/compliance/agent/telemetry_test.go
  pkg/util/containers/collectors/detector.go
Labels: changelog/no-changelog, team/containers

#6744 [FLare] Fix missing env vars in the flare
  pkg/flare/envvars.go
  pkg/flare/envvars_test.go
  releasenotes/notes/fix-flare-envvars-482c475e00e55803.yaml
Labels: kind/bug, team/containers

#6765 Fixes bug introduced by #6694. Install would fail when upgrading fro…
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#6772 [backport] Fixes bug introduced by #6694. Install would fail when upgrading from an install that didn't already have system-probe
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#6763 [logging] Fix a few small regressions
  cmd/agent/api/server.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/config/log_nix_test.go
  pkg/util/log/log.go
  releasenotes/notes/jmxfetch-log-file-8009038117c6d3c5.yaml
Labels: team/agent-core

#6774 [7.24.x] Backport #6763
  cmd/agent/api/server.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/config/log_nix_test.go
  pkg/util/log/log.go
  releasenotes/notes/jmxfetch-log-file-8009038117c6d3c5.yaml
Labels: team/agent-core

#6771 [release] 7.24.0-rc.6 release entry.
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6725 [orchestrator] fix edge cases container scrubber
  pkg/orchestrator/data_scrubber.go
  pkg/orchestrator/data_scrubber_test.go
  pkg/orchestrator/pod.go
  pkg/process/config/data_scrubber_test.go
Labels: changelog/no-changelog, component/cluster-agent, kind/bug, severity/critical, team/container-app

#6762 [gitlab] add flag to gcloud auth
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#6741 Update documents on building Windows agent
  docs/dev/agent_dev_env.md
  docs/dev/agent_omnibus.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6497 [install script] Add new signing keys
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#6679 Add periodic cleanup of kitchen leftovers
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6752 Bundle ebpf object files as separate go files for easier diff checks
  .gitattributes
  .github/CODEOWNERS
  bootstrap.json
  go.mod
  go.sum
  pkg/ebpf/bytecode/asset_bindata.go
  pkg/ebpf/bytecode/bindata/bindata.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCBpfcommonH.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCOomkillkernC.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTcpqueuelengthkernC.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTracerebpfO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTracerebpfdebugO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfOomkillkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfTcpqueuelengthkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecuritysyscallwrapperO.go
  pkg/ebpf/bytecode/tracer-ebpf.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#6709 Reduce allocations in windows system-probe to reduce CPU usage
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_windows.go
  pkg/network/driver_buffer.go
  pkg/network/driver_interface.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/encoding/protobuf.go
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/event_windows.go
  pkg/network/nettop/main.go
  pkg/network/state.go
  pkg/network/state_test.go
Labels: changelog/no-changelog, os/windows, qa/skip-qa, team/networks

#6728 [networks] Add OS telemetry for `CollectorConnections`
  go.mod
  go.sum
  pkg/metadata/host/host_windows.go
  pkg/process/checks/net.go
Labels: changelog/no-changelog, team/networks

#6668 [system-probe] Only expire connections if they are not in the system conntrack table
  LICENSE-3rdparty.csv
  go.mod
  pkg/ebpf/cached_conntrack.go
  pkg/ebpf/cached_conntrack_test.go
  pkg/ebpf/event.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/network/netlink/conntrack.go
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/conntracker_test.go
  pkg/network/netlink/decoding.go
  pkg/network/netlink/encoding.go
  pkg/network/netlink/encoding_test.go
  pkg/network/netlink/generation.go
  pkg/network/netlink/generation_test.go
  pkg/network/netlink/mock_conntrack.go
  pkg/network/netlink/testdata/setup_cross_ns_dnat.sh
Labels: changelog/no-changelog, component/system-probe, team/networks

#6782 [runtime-security] Do not ignore opened file descriptors
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/c/open.h
Labels: changelog/no-changelog, team/agent-security

#6780 Expire kube metadata entities collected by the tagger
  pkg/tagger/collectors/kubernetes_main.go
Labels: changelog/no-changelog, team/containers

#6783 [7.24.x] Backport #6780
  pkg/tagger/collectors/kubernetes_main.go
Labels: changelog/no-changelog, team/containers

#6784 pkg/trace/{api,pb}: update model and add obfuscation
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/pb/stats.pb.go
  pkg/trace/pb/stats.proto
  pkg/trace/pb/stats_gen.go
Labels: changelog/no-changelog, team/agent-apm

#6775 [7.24.x] Backport #6725
  pkg/orchestrator/data_scrubber.go
  pkg/orchestrator/data_scrubber_test.go
  pkg/orchestrator/pod.go
  pkg/process/config/data_scrubber_test.go
Labels: changelog/no-changelog, team/container-app

#6789 [release] 7.24.0-rc.7 release entry.
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6768 [runtime-security] make sure arm64 is not interpreted as ia32
  go.mod
  go.sum
  pkg/security/ebpf/probes/syscall_helpers.go
Labels: changelog/no-changelog, team/agent-security

#6531 Demote emitted signal log message level from Critical to Info
  pkg/process/util/signal_nowindows.go
  pkg/process/util/signal_windows.go
Labels: changelog/no-changelog, team/processes

#6781 [runtime-security] Do not ignore opened file descriptors
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTcpqueuelengthkernC.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfTcpqueuelengthkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/open.h
Labels: changelog/no-changelog, team/agent-security

#6732 [kitchen tests] Update SLES 12 to service pack 5
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#6678 [DCA][AD][CLC] Add Prometheus k8s Services Autodiscovery
  pkg/autodiscovery/common/prometheus.go
  pkg/autodiscovery/common/prometheus_apiserver.go
  pkg/autodiscovery/common/prometheus_apiserver_test.go
  pkg/autodiscovery/common/prometheus_kubelet.go
  pkg/autodiscovery/common/prometheus_kubelet_test.go
  pkg/autodiscovery/common/prometheus_test.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/providers/names/provider_names.go
  pkg/autodiscovery/providers/prometheus_common.go
  pkg/autodiscovery/providers/prometheus_common_test.go
  pkg/autodiscovery/providers/prometheus_pods.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/autodiscovery/providers/prometheus_services_test.go
Labels: changelog/no-changelog, team/containers

#6597 pkg/trace/test: add better payload generators and more integration tests
  pkg/trace/test/runner.go
  pkg/trace/test/testsuite/chunking_test.go
  pkg/trace/test/testsuite/events_test.go
  pkg/trace/test/testsuite/hostname_test.go
  pkg/trace/test/testsuite/traces_test.go
  pkg/trace/test/testutil/generate.go
  pkg/trace/test/testutil/generate_test.go
  pkg/trace/test/testutil/span.go
  pkg/trace/writer/stats_test.go
Labels: changelog/no-changelog, team/agent-apm

#6675 fix double shipping of orchestrator data in dca
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/main_common.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/forwarder/forwarder.go
  pkg/process/util/api/transport.go
  pkg/process/util/api/transport_test.go
  releasenotes-dca/notes/fix-cluster-agent-k8s-resource-dual-shipping-264514b8c4590153.yaml
Labels: component/cluster-agent, kind/bug, severity/minor, team/container-app

#6753 Add util/kernel package
  LICENSE-3rdparty.csv
  cmd/process-agent/main_common.go
  go.mod
  go.sum
  pkg/ebpf/benchmark_test.go
  pkg/ebpf/common_linux.go
  pkg/ebpf/common_linux_test.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/ebpf/utils_linux.go
  pkg/ebpf/utils_linux_test.go
  pkg/network/dns_snooper_test.go
  pkg/network/nettop/main.go
  pkg/process/util/util.go
  pkg/security/probe/consts.go
  pkg/security/probe/probe_bpf.go
  pkg/util/kernel/fs.go
  pkg/util/kernel/headers.go
  pkg/util/kernel/headers_test.go
  pkg/util/kernel/version.go
  pkg/util/kernel/version_test.go
Labels: changelog/no-changelog, team/networks

#6797 Fix parsing of pre-release versions for integrations
  cmd/agent/app/integrations.go
  cmd/agent/app/integrations_test.go
  releasenotes/notes/fix-integration-prerelease-parsing-dd5e4ae9f865bdb8.yaml
Labels: component/cmd-agent, kind/bug, team/integrations

#6755 [runtime-security] Remove invalid discarder test
  pkg/security/probe/probe_test.go
Labels: changelog/no-changelog, team/agent-security

#6808 [gitlab] Update builders to fix azure kitchen cleanup job
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#6810 [release] bumping jmxfetch to 0.40.3
  release.json
  releasenotes/notes/jmxfetch-support-uds-dff1750ddba3b575.yaml
Labels: team/agent-core

#6809 [release] 7.24.0-rc.9 release entry
  release.json
  releasenotes/notes/jmxfetch-support-uds-dff1750ddba3b575.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6766 fix x86 build
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#6707 [runtime-security] Preset resolvers of event zero to avoid race
  pkg/security/probe/kfilters_bpf.go
  pkg/security/probe/probe_bpf.go
  pkg/security/tests/filters_test.go
Labels: changelog/no-changelog, team/agent-security

#6805 [runtime-security] Use BestOff selector instead of AllOf for syscalls to handle missing ones
  go.mod
  go.sum
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/syscall_helpers.go
Labels: changelog/no-changelog, team/agent-security

#6735 pkg/trace: cleanup unused argument of SliceSummary.Insert
  pkg/trace/stats/quantile/summary.go
  pkg/trace/stats/quantile/summary_bench_test.go
  pkg/trace/stats/quantile/summary_test.go
  pkg/trace/stats/quantile/weighted_test.go
  pkg/trace/stats/stats.go
  pkg/trace/stats/statsraw.go
Labels: changelog/no-changelog, team/agent-apm

#6821 [release] 7.24.0-rc.10 release entry
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6819 [AD][kubelet] Support custom check ad-identifier
  pkg/autodiscovery/common/kubelet.go
  pkg/autodiscovery/common/kubelet_test.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/providers/kubelet_test.go
  releasenotes/notes/support-custom-k8s-ad-id-4d7084e1125b7c2a.yaml
Labels: team/containers

#6751 Added `--flare` to `agent check` so checks can be reported in an agent flare
  cmd/agent/common/commands/check.go
  cmd/agent/common/common_android.go
  cmd/agent/common/common_darwin.go
  cmd/agent/common/common_nix.go
  cmd/agent/common/common_windows.go
  releasenotes/notes/check-in-flare-d87c57032be2cddb.yaml
Labels: team/agent-core

#6804 [runtime-security] Invalidate inode of an overriden file by a rename
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/rename.h
  pkg/security/probe/dentry_resolver_bpf.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/testdrive.go
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#6680 Allow installation to succeed even when service start fails.
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-platform

#6681 Make logging of actions regarding installation command line options more
  cmd/agent/common/common_windows.go
Labels: changelog/no-changelog, team/agent-platform

#6745 pkg/trace: remove string concatenation on sublayer insertions
  pkg/trace/stats/statsraw.go
  releasenotes/notes/trace-agent-no-concatenations-on-sublayer-insert-3f931794114b7dcc.yaml
Labels: team/agent-apm

#6829 [kubelet] Return init containers spec
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/fix-init-containers-log-source-7fdbed729e5188af.yaml
Labels: kind/bug, team/containers

#6788 [Fix][Unified Tagging] Use container image name as logs source
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
  releasenotes/notes/fix-logs-source-value-a623c6b83dbbc0f2.yaml
Labels: kind/bug, team/containers

#6822 Fix some logs severity levels
  pkg/clusteragent/orchestrator/processor.go
  pkg/orchestrator/pod.go
  pkg/orchestrator/util.go
Labels: changelog/no-changelog, team/container-app

#6742 Add AD container label tags in Fargate env
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/testdata/fargate_meta.json
  releasenotes/notes/ad-tags-support-fargate-38b3cf09163b1265.yaml
Labels: team/containers

#6818 pkg/trace: remove allocations for stats.Input in process
  pkg/trace/agent/agent.go
  pkg/trace/stats/concentrator.go
  releasenotes/notes/trace-agent-less-allocs-in-processing-e6801581437368f8.yaml
Labels: team/agent-apm

#6828 [ecs] Add ecs_metadata_timeout config setting
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/ecs/common/common.go
  pkg/util/ecs/metadata/v1/client.go
  pkg/util/ecs/metadata/v2/client.go
  pkg/util/ecs/metadata/v3/client.go
  releasenotes/notes/add-ecs-metadata-timeout-config-setting-54eea3e21e54421b.yaml
Labels: kind/enhancement, team/containers

#6811 Move all built/to-be-bundled files to `pkg/ebpf/bytecode/build` directory
  .github/CODEOWNERS
  .gitignore
  .gitlab-ci.yml
  pkg/ebpf/bytecode/bindata/bindata.go
  pkg/ebpf/bytecode/bindata/bindataBpfcommonH.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataOomkillkernC.go
  pkg/ebpf/bytecode/bindata/bindataOomkillkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCBpfcommonH.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCOomkillkernC.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTcpqueuelengthkernC.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTracerebpfO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfCTracerebpfdebugO.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfOomkillkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataPkgEbpfTcpqueuelengthkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataPkgSecurityEbpfCRuntimesecuritysyscallwrapperO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/ebpf/bytecode/bindata/bindataTcpqueuelengthkernC.go
  pkg/ebpf/bytecode/bindata/bindataTcpqueuelengthkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataTracerebpfO.go
  pkg/ebpf/bytecode/bindata/bindataTracerebpfdebugO.go
  pkg/ebpf/bytecode/bpf_module.go
  pkg/ebpf/bytecode/ebpf_bytes_match_test.go
  pkg/ebpf/c/oom-kill-kern.c
  pkg/ebpf/c/tcp-queue-length-kern.c
  pkg/ebpf/config.go
  pkg/ebpf/oom_kill.go
  pkg/ebpf/tcp_queue_length.go
  pkg/network/dns_snooper_test.go
  pkg/security/probe/probe_bpf.go
  tasks/process_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#6825 [networks] Improve heartbeat URL sanitization
  pkg/process/heartbeat/metric_flusher.go
  pkg/process/heartbeat/metric_flusher_test.go
Labels: changelog/no-changelog, team/burrito

#6759 pkg/trace: remove heap allocations in signature computations
  pkg/trace/sampler/signature.go
  pkg/trace/sampler/signature_test.go
  releasenotes/notes/trace-agent-no-heap-allocs-in-signature-computations-5418d04185c2e1ca.yaml
Labels: team/agent-apm

#6840 [tagger][kubelet] Ignore empty container IDs
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
Labels: changelog/no-changelog, team/containers

#6541 [runtime-security] Count execution calls per binary path
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/buffer_selector.h
  pkg/security/ebpf/c/probe.c
  pkg/security/ebpf/c/raw_syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/syscall_stats.go
Labels: changelog/no-changelog, team/agent-security

#6833 Regenerate the sample kubernetes manifest files from the latest version of the Helm chart
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/agent-only/rbac.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/rbac.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/README.md
  Dockerfiles/manifests/cluster-agent-datadogmetrics/agent-services.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/daemonset.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/hpa-external-metrics-rbac.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/rbac.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/hpa-external-metrics-rbac.yaml
  Dockerfiles/manifests/cluster-agent/rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/hpa-external-metrics-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/rbac.yaml
Labels: changelog/no-changelog, documentation, team/containers

#6553 VSCode launch and tasks defaults
  .gitignore
  .vscode/.gitignore
  .vscode/launch.json.template
  .vscode/tasks.json.template
  devenv/README.md
Labels: changelog/no-changelog, team/agent-core

#6719 Provide more information about log integrations started with the "collect all container logs" option in `status` command
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/config/source.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/status/templates/logsagent.tmpl
  releasenotes/notes/additional-container-logs-info-111f7ef20a9296f8.yaml
Labels: team/agent-core

#6848 Auto-exclude pause containers based on container labels
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/collector/corechecks/containers/cri.go
  pkg/collector/corechecks/containers/cri_test.go
  pkg/util/containers/pause.go
  pkg/util/containers/pause_test.go
  pkg/util/docker/containers.go
  releasenotes/notes/auto-exclude-pause-containers-e8cbe84dc6ab3fbe.yaml
Labels: team/containers

#6662 dogstatsd: allow empty message for events (resolves #6054)
  pkg/dogstatsd/parse_events.go
  pkg/dogstatsd/parse_events_test.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/dogstatsd-allow-empty-event-message-5e54cd17790027bf.yaml
Labels: community, team/agent-core

#6850 Exclude cdk/pause containers
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  releasenotes/notes/exclude-cdk-pause-containers-8ac069929b82a544.yaml
Labels: team/containers

#6843 pkg/trace: fix bug in sublayer aggregation
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/statsraw.go
Labels: changelog/no-changelog, team/agent-apm

#6838 [backport][networks] Improve heartbeat URL sanitization
  pkg/process/heartbeat/metric_flusher.go
  pkg/process/heartbeat/metric_flusher_test.go
Labels: changelog/no-changelog, team/processes

#6854 Add `container_id` tag to `compliance.containers_running` metric
  pkg/compliance/agent/telemetry.go
  pkg/compliance/agent/telemetry_test.go
Labels: changelog/no-changelog, team/containers

#6855 Codeowners: jetson check is owned by platform
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6853 [tegrastats] Sleep 1 second instead of 2
  pkg/collector/corechecks/nvidia/jetson/jetson.go
Labels: changelog/no-changelog, team/agent-platform

#6799 [windows] Enable system-probe and process-agent with new flags
  cmd/agent/app/dependent_services.go
  cmd/agent/app/dependent_services_nix.go
  cmd/agent/app/dependent_services_windows.go
Labels: changelog/no-changelog, team/networks

#6591 [cmd/serverless] implement the Datadog Agent Extension
  .gitignore
  LICENSE-3rdparty.csv
  cmd/agent/common/commands/check.go
  cmd/serverless/README.md
  cmd/serverless/main.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_serverless_test.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_worker.go
  pkg/forwarder/sync_forwarder.go
  pkg/metadata/host.go
  pkg/serverless/protocol.go
  pkg/serverless/serverless.go
  pkg/util/cloudfoundry/types.go
  pkg/util/flavor/flavor.go
  pkg/util/hostname.go
  pkg/util/hostname_serverless.go
Labels: changelog/no-changelog, team/agent-core

#6806 [runtime-security] allow to write rule or macros on multiple lines
  pkg/security/secl/ast/secl.go
  pkg/security/secl/ast/secl_test.go
Labels: changelog/no-changelog, team/agent-security

#6859 [release] 7.24.0-rc.11 release entry
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6820 [orchestrator] scrub args as well
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
  pkg/process/config/data_scrubber_test.go
  releasenotes/notes/scrub-args-61700bb5b32f4ef8.yaml
Labels: component/cluster-agent, team/container-app

#6860 pkg/trace/{agent,api}: allow client to override top-level computation
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  releasenotes/notes/apm-client-computed-top-level-96f21b29ee88d9ca.yaml
Labels: team/agent-apm

#6731 [runtime-security] Support reloading rules
  cmd/security-agent/app/runtime.go
  cmd/system-probe/loader.go
  cmd/system-probe/modules/security_runtime.go
  go.mod
  pkg/config/config.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/ebpf/bytecode/bindata/bindataTracerebpfO.go
  pkg/ebpf/bytecode/bindata/bindataTracerebpfdebugO.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/filters.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/probe.c
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/probes/all.go
  pkg/security/module/module.go
  pkg/security/module/module_unsupported.go
  pkg/security/module/rate_limiter.go
  pkg/security/module/server.go
  pkg/security/policy/policy.go
  pkg/security/probe/applier.go
  pkg/security/probe/approvers_bpf.go
  pkg/security/probe/discarders_bpf.go
  pkg/security/probe/kfilters_bpf.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/mount_bpf.go
  pkg/security/probe/open_bpf.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/probe_nobpf.go
  pkg/security/probe/process_resolver_bpf.go
  pkg/security/rules/ruleset.go
  pkg/security/tests/config_test.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/mitre_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/testdrive.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#6870 pkg/trace/{agent,writer}: remove Out channel
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
Labels: changelog/no-changelog, team/agent-apm

#6868 [runtime-security] Fix dentry inode when accessing lower layer
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/open.h
  pkg/security/tests/dentry_test.go
Labels: changelog/no-changelog, team/agent-security

#6817 [runtime-security] remove the wilcard suffix limitation
  pkg/security/probe/kfilters.go
  pkg/security/probe/kfilters_test.go
  pkg/security/probe/model.go
  pkg/security/probe/model_test.go
  pkg/security/secl/eval/eval.go
  pkg/security/secl/eval/eval_test.go
  pkg/security/secl/eval/operators.go
  pkg/security/secl/eval/operators_test.go
Labels: changelog/no-changelog, team/agent-security

#6845 [runtime-security] Do not cache fake inodes
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/rename.h
  pkg/security/probe/dentry_resolver_bpf.go
Labels: changelog/no-changelog, team/agent-security

#6495 vendor: bump mountinfo to v0.4.0
  go.mod
  go.sum
  pkg/security/probe/mount.go
Labels: changelog/no-changelog, team/agent-security

#6873 Add orchestrator explorer k8s manifests example
  Dockerfiles/manifests/generate.sh
  Dockerfiles/manifests/orchestrator-explorer/README.md
  Dockerfiles/manifests/orchestrator-explorer/agent-secret.yaml
  Dockerfiles/manifests/orchestrator-explorer/agent-services.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-deployment.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/daemonset.yaml
  Dockerfiles/manifests/orchestrator-explorer/install_info-configmap.yaml
  Dockerfiles/manifests/orchestrator-explorer/rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/secrets.yaml
Labels: changelog/no-changelog, documentation, team/container-app, team/containers

#6851 [e2e tests] Enable all agents and check for pod readiness
  .gitlab-ci.yml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/scripts/run-instance/21-argo-setup.sh
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
  test/e2e/scripts/setup-instance/04-send-dd-event.sh
Labels: changelog/no-changelog, dev/testing, team/containers

#6874 [runtime-security] Pre-allocate dentry error
  pkg/security/probe/dentry_resolver_bpf.go
Labels: changelog/no-changelog, team/agent-security

#6877 Delete sender/checkSampler when check is unscheduled
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/cluster/kubernetes_state.go
  pkg/collector/python/check.go
  releasenotes/notes/deregister-sender-check-unschedule-c21f79fda4d79c93.yaml
Labels: team/agent-core

#6862 [omnibus] Upgrade libkrb5 dependency
  omnibus/config/patches/libkrb5/aclocal-add-parameter-to-disable-keyutils-detection.patch
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/libkrb5.rb
  releasenotes/notes/libkrb5-1-18-1ee47c966ee50a02.yaml
Labels: team/agent-core, team/integrations

#6875 Update docker dogstatsd based image
  Dockerfiles/dogstatsd/alpine/amd64/Dockerfile
  Dockerfiles/dogstatsd/alpine/arm64/Dockerfile
  Dockerfiles/dogstatsd/socat-proxy/Dockerfile
  releasenotes/notes/update-dogstatsd-base-image-a8e0893b32fa960d.yaml
Labels: component/dogstatsd, team/containers
