Repository DataDog/datadog-agent, pull requests merged in 2020-06, with the labels that each got.

#5436 Generate the kubernetes manifests from the helm chart (1/3)
  Dockerfiles/manifests/README.md
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/agent-only/rbac.yaml
  Dockerfiles/manifests/agent-only/secrets.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/rbac.yaml
  Dockerfiles/manifests/all-containers/secrets.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/agent-secret.yaml
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/rbac.yaml
  Dockerfiles/manifests/cluster-agent/secrets.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-secret.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/secrets.yaml
  Dockerfiles/manifests/generate.sh
  Dockerfiles/manifests/hpa-example/cluster-agent-hpa-svc.yaml
  Dockerfiles/manifests/hpa-example/hpa-manifest.yaml
  Dockerfiles/manifests/hpa-example/nginx.yaml
  Dockerfiles/manifests/hpa-example/rbac-hpa.yaml
Labels: changelog/no-changelog, documentation, team/containers

#5541 [DCA][Admission Controller] Agent config and tags injection
  LICENSE-3rdparty.csv
  cmd/cluster-agent/admission/server.go
  cmd/cluster-agent/app/app.go
  go.mod
  go.sum
  pkg/clusteragent/admission/const.go
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/common_test.go
  pkg/clusteragent/admission/mutate/config.go
  pkg/clusteragent/admission/mutate/config_test.go
  pkg/clusteragent/admission/mutate/mutate.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/clusteragent/admission/mutate/tags_test.go
  pkg/clusteragent/admission/mutate/test_utils.go
  pkg/clusteragent/admission/util.go
  pkg/clusteragent/admission/util_test.go
  pkg/config/config.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/const.go
Labels: changelog/no-changelog, team/containers

#5642 pkg/trace/obfuscate: obfuscate AUTH command in Redis
  pkg/trace/obfuscate/redis.go
  pkg/trace/obfuscate/redis_test.go
  releasenotes/notes/apm-obfuscate-redis-auth-2936583a1bbc70de.yaml
Labels: team/agent-apm

#5659 Pin dulwich dependency
  requirements.txt
Labels: changelog/no-changelog, team/agent-platform

#5502 pkg/trace/config: increase payload limit from 10MB to 50MB
  pkg/config/config.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  releasenotes/notes/apm-payload-size-limit-1a97bd78c8b87864.yaml
Labels: team/agent-apm

#5660 Pin dulwich dependency
  requirements.txt
Labels: changelog/no-changelog, team/agent-platform

#5652 Revert gosnmp upgrade and extra auth protocols
  go.mod
  go.sum
  pkg/snmp/snmp.go
  releasenotes/notes/snmp-revert-more-auth-protocols-810e139380f644b4.yaml
Labels: team/integrations

#5663 EC2 tags are now cached to avoid missing tags when user exceed his AWS quotas.
  pkg/util/ec2/ec2_tags.go
  pkg/util/ec2/ec2_tags_test.go
  releasenotes/notes/cache-ec2-tags-ec80ccf049e12274.yaml
Labels: team/agent-core

#5277 [kitchen] Check Win uninstall doesn't remove any system files
  test/kitchen/Berksfile
  test/kitchen/kitchen-azure-chef-test.yml
  test/kitchen/site-cookbooks/dd-agent-system-files-check/.gitignore
  test/kitchen/site-cookbooks/dd-agent-system-files-check/Berksfile
  test/kitchen/site-cookbooks/dd-agent-system-files-check/Gemfile
  test/kitchen/site-cookbooks/dd-agent-system-files-check/README.md
  test/kitchen/site-cookbooks/dd-agent-system-files-check/chefignore
  test/kitchen/site-cookbooks/dd-agent-system-files-check/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-system-files-check/recipes/list-files-before-install.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform

#5672 [iot-agent] Only render relevant sections in config
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#5635 [kitchen] Add iot-agent kitchen tests
  .gitlab-ci.yml
  test/kitchen/kitchen-azure-install-script-test.yml
  test/kitchen/site-cookbooks/dd-agent-install-script/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/test/integration/common/rspec/iot_spec_helper.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-install-script/rspec/dd-agent-install-script_spec.rb
  test/kitchen/test/integration/dd-agent-install-script/rspec/iot_spec_helper.rb
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#5562 [kitchen] Make install script dir owned by non-root user
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform

#5675 Reverts #5623 and #5481
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/postrm
  omnibus/package-scripts/agent/posttrans
  omnibus/package-scripts/iot-agent/postinst
  omnibus/package-scripts/iot-agent/postrm
  omnibus/package-scripts/iot-agent/posttrans
Labels: changelog/no-changelog, team/agent-platform

#5673 Fix CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform

#5680 [kitchen] Fix SUSE install script test
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#5681 [kitchen] Update README
  test/kitchen/docs/README.md
Labels: changelog/no-changelog, documentation, team/agent-platform

#5605 [dogstatsd] emit starting/running metric specific to DogStatsD.
  cmd/dogstatsd/main.go
  pkg/aggregator/aggregator.go
Labels: changelog/no-changelog, component/dogstatsd, team/agent-core

#5628 [dogstatsd] improved granularity and amount of information in the dogstatsd-stats
  cmd/agent/app/settings/runtime_setting_dogstatsd_stats.go
  cmd/agent/app/settings/runtime_settings_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, team/agent-core

#5539 [cmd/agent/main_windows.go] Fix event log type mismatch
  cmd/agent/main_windows.go
Labels: changelog/no-changelog, team/agent-platform

#5676 [DCA] Telemetry cmd and flare
  cmd/cluster-agent/app/telemetry.go
  pkg/flare/archive_dca.go
  pkg/flare/dca_telemetry.go
  releasenotes-dca/notes/dca-telemetry-cmd-and-flare-8b4a17dfdbd56bf4.yaml
Labels: team/containers

#5666 [DCA] Admission Controller observability
  pkg/clusteragent/admission/status.go
  pkg/clusteragent/admission/status_no_apiserver.go
  pkg/status/status.go
  pkg/status/templates/header.tmpl
Labels: changelog/no-changelog, team/containers

#5674 [DCA] Admission Controller metrics
  cmd/cluster-agent/admission/server.go
  pkg/clusteragent/admission/controllers/secret/controller.go
  pkg/clusteragent/admission/controllers/webhook/controller.go
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/common_test.go
  pkg/clusteragent/admission/mutate/config.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/clusteragent/admission/mutate/tags_test.go
  pkg/clusteragent/admission/mutate/test_utils.go
Labels: changelog/no-changelog, team/containers

#5384 Add support of new DatadogMetric CRD as support for ExternalMetrics.
  .gitignore
  LICENSE-3rdparty.csv
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  go.mod
  go.sum
  pkg/clusteragent/custommetrics/status.go
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/store_configmap.go
  pkg/clusteragent/custommetrics/store_configmap_test.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller_test.go
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/clusteragent/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/externalmetrics/model/utils.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/clusteragent/externalmetrics/provider_test.go
  pkg/clusteragent/externalmetrics/store.go
  pkg/clusteragent/externalmetrics/utils.go
  pkg/clusteragent/externalmetrics/utils_for_test.go
  pkg/clusteragent/externalmetrics/utils_test.go
  pkg/config/config.go
  pkg/status/templates/header.tmpl
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/datadogexternal_test.go
  pkg/util/kubernetes/autoscalers/processor.go
  pkg/util/kubernetes/autoscalers/processor_test.go
  releasenotes/notes/add-autoscaling-datadogmetric-crd-f175fdf235123e62.yaml
  tasks/cluster_agent_helpers.py
Labels: kind/feature, team/containers

#5665 [dogstatsd] log a warning message when a burst of metrics is received
  cmd/agent/app/settings/runtime_setting_dogstatsd_stats.go
  cmd/agent/app/settings/runtime_settings_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/dogstatsd-spike-detection-d342b03d632df131.yaml
Labels: changelog/no-changelog, team/agent-core

#5687 [install_script] Add missing service default
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#5425 Enable the eBPF-based TCP queue length tracer in the CI
  .gitlab-ci.yml
Labels: changelog/no-changelog, component/system-probe, team/containers

#5033 Add sample rate support to distributions
  pkg/aggregator/sketch_map.go
  pkg/aggregator/sketch_map_test.go
  pkg/aggregator/time_sampler.go
  pkg/quantile/agent.go
  pkg/quantile/agent_test.go
  pkg/quantile/main_test.go
  pkg/quantile/summary/summary.go
  pkg/quantile/summary/summary_test.go
  releasenotes/notes/fix-dist-sampling-cdb732a3a339c37d.yaml
Labels: team/metrics-aggregation

#5615 Allow reporting on cgroup statistics when the container id isn't in all paths
  pkg/util/containers/providers/cgroup/cgroup_detect.go
  pkg/util/containers/providers/cgroup/cgroup_detect_test.go
  releasenotes/notes/systemd-cgroup-docker-interopability-91e946effb4830b4.yaml
Labels: team/containers

#5661 Add install_info file to Docker images
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/install_info
  Dockerfiles/agent/test_image_contents.py
  Dockerfiles/agent/windows/amd64/Dockerfile
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/install_info
  Dockerfiles/dogstatsd/alpine/amd64/Dockerfile
  Dockerfiles/dogstatsd/alpine/arm64/Dockerfile
  Dockerfiles/dogstatsd/alpine/install_info
Labels: changelog/no-changelog, team/agent-platform

#5679 Fixes 32 bit build break caused by (my) changes for process agent.
  go.mod
  omnibus/config/software/datadog-agent-integrations-py3.rb
  pkg/process/checks/pod_null.go
  pkg/util/winutil/iphelper/adapters.go
  pkg/util/winutil/iphelper/routes.go
  rtloader/test/CMakeLists.txt
  rtloader/test/aggregator/aggregator.go
Labels: changelog/no-changelog, team/agent-platform

#5457 Fixes problem wherein uninstall leaves the user home directory around,
  releasenotes/notes/removeuserdir-b60c96e155ffedc3.yaml
  tools/windows/install-help/cal/customaction.h
  tools/windows/install-help/cal/customaction.vcxproj
  tools/windows/install-help/cal/delfiles.cpp
  tools/windows/install-help/cal/doUninstall.cpp
  tools/windows/install-help/cal/stdafx.h
  tools/windows/install-help/install-cmd/install-cmd.vcxproj
  tools/windows/install-help/uninstall-cmd/stdafx.h
  tools/windows/install-help/uninstall-cmd/uninstall-cmd.vcxproj
Labels: do-not-merge/hold, team/agent-platform

#5700 Remove SLES11 from Kitchen tests
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5686 Added support for parent directory info to flare zip
  pkg/flare/archive.go
  releasenotes/notes/include-parent-directory-permissions-in-flare-22df1fb86fe46bd3.yaml
Labels: team/agent-core

#5637 Add snmp_listener config
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, component/config, team/agent-core, team/containers, team/integrations

#5709 Update CHANGELOG for 7.20.0
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-platform

#5697 Adding an option to use RFC3339 format for the log time.
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/jmxfetch/jmxfetch.go
  releasenotes/notes/rfc3339-log-format-421cb22a034845bf.yaml
Labels: team/agent-core

#5720 [release] 6.20.1, 7.20.1 entries and prelude
  release.json
  releasenotes/notes/prelude-release-7.20.1-cbecc819364435f2.yaml
Labels: team/agent-core

#5721 [changelog] updating with 7.20.1 changelog entry.
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#5718 [logs+apm] Add options to allow resetting connections at configurable interval
  pkg/config/config.go
  pkg/logs/client/http/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env.go
  pkg/trace/config/testdata/undocumented.yaml
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  pkg/util/http/client.go
  pkg/util/http/client_test.go
  pkg/util/http/transport.go
  pkg/util/http/transport_test.go
Labels: changelog/no-changelog, team/agent-apm, team/agent-core

#5728 [7.20 backport] Logs+APM connection reset options
  pkg/config/config.go
  pkg/logs/client/http/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/endpoints.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env.go
  pkg/trace/config/testdata/undocumented.yaml
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  pkg/util/http/client.go
  pkg/util/http/client_test.go
  pkg/util/http/transport.go
  pkg/util/http/transport_test.go
Labels: changelog/no-changelog, team/agent-apm, team/agent-core

#5727 [release] Add 6/7.20.2-rc.1 entries to release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5729 Fix 7.20.2-rc.1 release.json entry
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5707 Fixing panic on 32bit when using atomic operations on non 64bit aligned variables
  cmd/agent/app/settings/runtime_settings_test.go
  pkg/dogstatsd/server.go
  pkg/trace/sampler/exception_sampler.go
Labels: changelog/no-changelog, team/agent-core

#5677 Fix previously skipped dirs in golangci-lint for process/network
  .golangci.yml
  pkg/ebpf/common.go
  pkg/ebpf/offsetguess.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/network/dns_parser.go
  pkg/network/dns_snooper.go
  pkg/network/netlink/align.go
  pkg/network/netlink/attribute_scanner.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/decoding.go
  pkg/network/netlink/generation.go
  tasks/go.py
Labels: changelog/no-changelog, team/burrito

#5689 Fix/disable known failing tests in eBPF code to allow CI
  pkg/ebpf/tracer_test.go
Labels: changelog/no-changelog, team/burrito

#5703 Added api key sanitization for additional endpoints and logs agent
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/process/config/config.go
  pkg/trace/config/apply.go
  pkg/trace/config/config_test.go
  pkg/trace/config/testdata/full.yaml
  releasenotes/notes/sanitize-api-keys-6beaed1627c86ce3.yaml
Labels: team/agent-core

#5710 [release] Clean-up release.json after 7.20.0 release
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5735 Add install_info to macOS install script
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-platform

#5519 [System Probe][Windows] Put sysprobe windows connectionstats in state
  cmd/process-agent/main_windows.go
  cmd/system-probe/check_cmd.go
  pkg/ebpf/c/ddfilterapi.h
  pkg/ebpf/tracer_windows.go
  pkg/network/driver_interface.go
  pkg/network/event_windows.go
  pkg/process/checks/net.go
  pkg/process/config/config.go
  pkg/process/config/config_nix.go
  pkg/process/config/config_test.go
  pkg/process/config/config_windows.go
  pkg/process/config/helpers.go
  pkg/process/config/yaml_config.go
  pkg/process/net/common_windows.go
  pkg/process/net/uds.go
  pkg/process/net/uds_test.go
Labels: changelog/no-changelog, team/networks

#5734 [circleci] Move shellcheck job to CircleCI & add pre-commit hook
  .circleci/config.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/dev/agent_dev_env.md
  tasks/__init__.py
  tasks/test.py
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#5732 Remove linux_ebpf tag from linting
  pkg/ebpf/common.go
  pkg/ebpf/common_linux.go
  pkg/ebpf/common_linux_test.go
  pkg/ebpf/common_test.go
  pkg/ebpf/config.go
  pkg/ebpf/config_linux.go
  pkg/ebpf/types.go
  tasks/go.py
Labels: changelog/no-changelog, team/networks

#5685 [circleci] Add MacOS omnibus build job
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform

#5740 [gitlab] Remove old Windows builds
  .gitlab-ci.yml
  tasks/winbuildscripts/oldbuildwin.bat
  tools/windows/decompress_merge_module.ps1
Labels: changelog/no-changelog, team/agent-platform

#5746 [CLC] Increase timeout for tests
  pkg/clusteragent/clusterchecks/handler_test.go
Labels: changelog/no-changelog, team/containers

#5744 [kitchen] Update Windows Server 2016 and 2019 images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5712 Add Python linter to CircleCI
  .circleci/config.yml
  .pre-commit-config.yaml
  Dockerfiles/agent/secrets-helper/test_readsecret.py
  Dockerfiles/agent/test_image_contents.py
  cmd/agent/dist/checks/__init__.py
  cmd/agent/dist/checks/libs/wmi/sampler.py
  cmd/agent/dist/checks/network_checks.py
  cmd/agent/dist/checks/prometheus_check/__init__.py
  cmd/agent/dist/checks/winwmi_check.py
  cmd/agent/dist/config.py
  cmd/agent/dist/utils/containers.py
  cmd/agent/dist/utils/platform.py
  cmd/agent/dist/utils/subprocess_output.py
  cmd/agent/dist/utils/tailfile.py
  cmd/agent/dist/utils/timeout.py
  devenv/tasks/packer.py
  pkg/collector/runner/runner_test.py
  pkg/config/legacy/tests/config.py
  rtloader/test/python/datadog_checks/checks/__init__.py
  setup.cfg
  tasks/__init__.py
  tasks/agent.py
  tasks/android.py
  tasks/bench.py
  tasks/build_tags.py
  tasks/customaction.py
  tasks/docker.py
  tasks/dogstatsd.py
  tasks/go.py
  tasks/installcmd.py
  tasks/process_agent.py
  tasks/release.py
  tasks/release_tests.py
  tasks/rtloader.py
  tasks/security_agent.py
  tasks/selinux.py
  tasks/ssm.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/uninstallcmd.py
  tasks/utils.py
  test/e2e/containers/fake_datadog/app/api.py
  test/integration/docker/dsd_listening.py
  test/system/python_binding/datadog_agent.py
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#5633 Celene/static tags collector
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/static_extract.go
  pkg/tagger/collectors/static_extract_test.go
  pkg/tagger/collectors/static_main.go
  pkg/tagger/utils/expiry.go
  pkg/tagger/utils/taglist.go
  releasenotes/notes/add-tagger-static-collector-a33679ef323ae658.yaml
Labels: team/containers

#5750 [release] 6.20.2, 7.20.2 entries and prelude
  release.json
  releasenotes/notes/prelude-release-7.20.2-bc6fe9481093125f.yaml
Labels: changelog/no-changelog, team/agent-platform

#5730 Add dogstatsd package scripts
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/software/datadog-dogstatsd-finalize.rb
  omnibus/package-scripts/dogstatsd/postinst
  omnibus/package-scripts/dogstatsd/postrm
  omnibus/package-scripts/dogstatsd/posttrans
  omnibus/package-scripts/dogstatsd/preinst
  omnibus/package-scripts/dogstatsd/prerm
  releasenotes/notes/add-dogstatsd-package-scripts-988e7f5c79d31e42.yaml
Labels: team/agent-platform

#5749 [pkg/status] Fix Cluster Agent status output
  pkg/status/status.go
  releasenotes/notes/Fix-cluster-agent-status-command-3808d84571f703d5.yaml
Labels: team/agent-platform

#5688 [DCA] Admission Controller: Inject DD_ENTITY_ID
  pkg/clusteragent/admission/mutate/config.go
Labels: changelog/no-changelog, team/containers

#5747 Support kube_namespace based exclusion for docker and containerd checks
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/util/docker/containers.go
  releasenotes/notes/exclude-runtime-metrics-by-kube-ns-b60d1c43aef11a95.yaml
Labels: team/containers

#5753 [backport] [kitchen] Update Windows Server 2016 and 2019 images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5754 Set cluster agent flavor
  pkg/config/config.go
  tasks/cluster_agent_helpers.py
Labels: changelog/no-changelog, team/agent-platform

#5752 Bump JMXFetch to 0.37.0
  release.json
  releasenotes/notes/jmxfetch-0-37-0-52029258df2c0db5.yaml
Labels: team/agent-core

#5742 trace/obfuscator: refactor to simplify obfuscator config
  pkg/trace/agent/agent.go
  pkg/trace/obfuscate/http.go
  pkg/trace/obfuscate/http_test.go
  pkg/trace/obfuscate/json.go
  pkg/trace/obfuscate/json_test.go
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_test.go
  releasenotes/notes/refactor-trace-obfuscator-config-3da22d15bd9ede0a.yaml
Labels: team/agent-apm

#5662 Capture telemetry metrics and send with connection intake
  cmd/system-probe/main.go
  go.mod
  go.sum
  pkg/ebpf/debugfs.go
  pkg/ebpf/debugfs_test.go
  pkg/ebpf/tracer.go
  pkg/network/dns_cache.go
  pkg/network/dns_cache_test.go
  pkg/network/dns_snooper.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/encoding/protobuf.go
  pkg/network/event_common.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/burrito

#5513 Switch to using rules and condition mixins
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5759 [AD][Docker][Fix] Logs and metrics missing after AD-labeled container restart
  pkg/autodiscovery/providers/docker.go
  releasenotes/notes/fix-ad-container-restart-c0e6a2942aab9c45.yaml
Labels: component/autodiscovery, team/containers

#5694 [omnibus] create MSI install_info on GUI install
  omnibus/resources/agent/msi/assets/install_info
  omnibus/resources/agent/msi/source.wxs.erb
  omnibus/resources/dogstatsd/msi/assets/install_info
  omnibus/resources/dogstatsd/msi/source.wxs.erb
  omnibus/resources/iot/msi/assets/install_info
  omnibus/resources/iot/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-platform

#5761 Yaml query util
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/checks/testdata/file/pod.yaml
  pkg/compliance/resource.go
  pkg/util/json/jsonquery.go
  pkg/util/json/jsonquery_test.go
Labels: changelog/no-changelog, team/containers

#5691 [system-probe] Improve perf batching for low connection churn
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.h
  pkg/ebpf/config.go
  pkg/ebpf/event.go
  pkg/ebpf/perf_batching.go
  pkg/ebpf/perf_batching_test.go
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/networks

#5704 [io] On Windows, add option to send lowercased device tag value
  cmd/agent/dist/conf.d/io.d/conf.yaml.default
  pkg/collector/corechecks/system/iostats.go
  pkg/collector/corechecks/system/iostats_nix.go
  pkg/collector/corechecks/system/iostats_pdh_windows.go
  pkg/collector/corechecks/system/iostats_pdh_windows_test.go
  releasenotes/notes/win-io-lowercase-device-tag-978f242b19f6ecd1.yaml
Labels: team/agent-platform

#5760 [ecs] Remove Printf usage
  pkg/util/ecs/metadata/detection.go
  releasenotes/notes/hostname-ecs-remove-printf-5888fcbe4871cb3f.yaml
Labels: team/containers

#5780 [System Probe][Windows]Fix reversed protocol numbers
  pkg/network/event_windows.go
Labels: changelog/no-changelog, team/networks

#5782 Remove kubeapiserver build flag in order to fix x86 build
  cmd/security-agent/app/compliance.go
Labels: changelog/no-changelog, team/containers

#5766 [kitchen] Whitelist C:/Windows/Assembly/Temp
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform

#5763 [gitlab] Fix rules + manual and some oversights
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#5599 [cmd/dogstatsd] Improve exit logic (no api key & OS signal handling)
  cmd/dogstatsd/main.go
  cmd/dogstatsd/main_windows.go
  releasenotes/notes/dogstatsd-standalone-sigpipe-e7b28f919ab5d751.yaml
Labels: team/agent-core

#5768 Move tag_release_7_manifests from deploy7-manifests to deploy7
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5788 [Gitlab, Windows] Fail job when a powershell command fails
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5789 [circleci] Increase MacOS build timeout threshold
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform

#5797 [Fix][DCA] Fix panic when calling `agent status`
  pkg/clusteragent/admission/status.go
Labels: changelog/no-changelog, team/containers

#5757 remove unnecessary changelog
  releasenotes/notes/refactor-trace-obfuscator-config-3da22d15bd9ede0a.yaml
Labels: changelog/no-changelog, team/agent-apm

#5777 Add promote_install_script CI job
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5778 pkg/trace/obfuscate: avoid infinite loop on non-ASCII numerals
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-avoid-infinite-loop-on-non-ASCII-numerals-3892675b876d4c99.yaml
Labels: team/agent-apm

#5792 Change go-bindata version for system-probe
  pkg/ebpf/bytecode/bpf_module.go
  pkg/ebpf/bytecode/ebpf_bytes_match_test.go
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/tcp_queue_length.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#5668 Add Kubeapiserver check
  LICENSE-3rdparty.csv
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/compliance.go
  go.mod
  go.sum
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/testdata/configs/cis-kubernetes.yaml
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/builder_test.go
  pkg/compliance/checks/common.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/checks/kubeapiserver_check_test.go
  pkg/compliance/checks/process_check_test.go
  pkg/compliance/checks/process_utils.go
  pkg/compliance/checks/testdata/file/pod.yaml
  pkg/compliance/resource.go
  pkg/compliance/resource_test.go
  pkg/compliance/rule.go
  pkg/util/json/jsonquery.go
  pkg/util/json/jsonquery_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/hostinfo/tags.go
  pkg/util/kubernetes/hostinfo/tags_utils.go
  releasenotes/notes/compliance-cluster-agent-33913d1c7c28b9bd.yaml
Labels: component/cluster-agent, team/containers

#5786 Bump Go to 1.13.11 Circle CI
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
Labels: changelog/no-changelog, team/agent-core

#5793 [circleci] Use MacOS builder script
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform

#5803 [gitlab] Add allow_failure: true to promote_install_script manual job & fix dependencies
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5775 Disable tagger on cluster check runners
  pkg/tagger/tagger.go
Labels: changelog/no-changelog, component/tagger, team/containers

#5784 [process-agent] use mergeConfig to read in system-probe.yaml
  pkg/process/config/config.go
  releasenotes/notes/process-config-bugfix-f97778bc85caa41c.yaml
Labels: team/networks, team/processes

#5791 [tasks] Honor integrations-core version in deps task
  .gitlab-ci.yml
  tasks/go.py
Labels: changelog/no-changelog, team/agent-platform

#5765 Fix boolean option for jmxfetch
  pkg/jmxfetch/jmxfetch.go
Labels: changelog/no-changelog, team/agent-core

#5796 [Gitlab] Use Python 3 in the pipeline when possible
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5774 Collect recommended k8s labels as tags
  pkg/tagger/collectors/const.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/const.go
  releasenotes/notes/collect-recommended-k8s-tags-095651035a2030a7.yaml
Labels: team/containers

#5800 [gitlab] Remove deploy_staging_iot_agent job
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5801 Push armhf deb/rpm packages to staging
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5806 Use $S3_CP_CMD everywhere
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5808 Fix snyk security tests
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5804 Bump Go to 1.13.11
  .circleci/README.md
  .circleci/images/builder/Dockerfile
  .gitlab-ci.yml
  appveyor.yml
  devenv/scripts/Install-DevEnv.ps1
  releasenotes/notes/bump-go-to-1.13.11-de62f7d057ea740b.yaml
Labels: team/agent-core

#5491 [process-agent] [system-probe] Accept multiple API keys per endpoint
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  releasenotes/notes/process-multiple-api-keys-9157ff06057de363.yaml
Labels: team/networks, team/processes

#5695 Automatically enable the tcp_queue_length core check when it has been enabled on system-probe side
  Dockerfiles/agent/entrypoint/60-sysprobe-check.sh
Labels: changelog/no-changelog, team/containers

#4977 Added a fallback for the alias in case /instance/name returns an error
  pkg/util/gce/gce.go
  pkg/util/gce/gce_test.go
  releasenotes/notes/gce-metadata-workload-identity-workaround-4e5ac23c53bfaf8f.yaml
Labels: team/agent-core

#5802 Add IOT agent upgrade kitchen tests
  .gitlab-ci.yml
  test/kitchen/Berksfile
  test/kitchen/kitchen-azure-upgrade7-test.yml
Labels: changelog/no-changelog, team/agent-platform

#5771 Fix `dogstastd` typo into `dogstatsd`
  .gitlab-ci.yml
  cmd/agent/common/common.go
  cmd/dogstatsd/main.go
  docs/dogstatsd/drops.md
  tasks/bench.py
Labels: changelog/no-changelog, team/agent-platform

#5813 Fix dogstatsd binary size + compliance not default activated
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/config/config.go
  pkg/util/jsonquery/jsonquery.go
  pkg/util/jsonquery/jsonquery_test.go
Labels: changelog/no-changelog, kind/bug, team/containers

#5716 Add `docker.cpu.limit` and `containerd.cpu.limit` metrics based on container limits
  go.mod
  pkg/collector/corechecks/containers/containerd.go
  pkg/collector/corechecks/containers/containerd_events_test.go
  pkg/collector/corechecks/containers/containerd_test.go
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/corechecks/containers/docker_test.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containers/metrics/types.go
  pkg/util/containers/providers/cgroup/cgroup_detect.go
  pkg/util/containers/providers/cgroup/cgroup_metrics.go
  pkg/util/containers/providers/cgroup/cgroup_metrics_test.go
  pkg/util/containers/providers/cgroup/provider.go
  pkg/util/containers/types.go
  pkg/util/containers/types_helper.go
  pkg/util/ecs/common.go
  pkg/util/ecs/common_test.go
  releasenotes/notes/docker-normalized-cpu-e7870a4af0015da1.yaml
Labels: component/collector, kind/feature, team/containers

#5814 [gitlab] Revert removal of IoT Agent binary jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5811 [DCA] fix permission for SecretBackend with dd-agent user
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  releasenotes-dca/notes/fix-dd-agent-perssion-with-secret-backend-f2f1d90973a2b600.yaml
Labels: component/cluster-agent, team/containers

#5799 [process-agent] add collection of init containers
  go.mod
  go.sum
  pkg/process/util/orchestrator/pod.go
  pkg/process/util/orchestrator/pod_test.go
  releasenotes/notes/collect-init-containers-56f038ab0988361b.yaml
Labels: team/container-app

#5805 Patch libbcc to remove references to glibc symbols with a too recent version
  .gitlab-ci.yml
  omnibus/config/software/libbcc_compat.patch
Labels: changelog/no-changelog, team/containers

#5812 [ebpf] Fix linter flaky error
  pkg/ebpf/common.go
  pkg/ebpf/common_linux.go
  pkg/ebpf/common_linux_test.go
  pkg/ebpf/common_test.go
Labels: changelog/no-changelog, team/agent-platform

#5821 Collect ECS Fargate's Availability Zone as a tag
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/testdata/fargate_meta.json
  pkg/util/ecs/metadata/v2/client_test.go
  pkg/util/ecs/metadata/v2/types.go
  releasenotes/notes/collect-fargate-availability-zone-tag-db49abbf39c7a8f4.yaml
Labels: team/containers

#5751 Add python autoformatter
  .circleci/config.yml
  .pre-commit-config.yaml
  Dockerfiles/agent/secrets-helper/readsecret.py
  Dockerfiles/agent/secrets-helper/test_readsecret.py
  cmd/agent/dist/checks/prometheus_check/__init__.py
  cmd/agent/dist/checks/winwmi_check.py
  cmd/agent/dist/utils/platform.py
  cmd/agent/dist/utils/py_mem.py
  cmd/agent/dist/utils/tailfile.py
  devenv/tasks/__init__.py
  devenv/tasks/packer.py
  pkg/collector/runner/runner_test.py
  pkg/config/legacy/tests/config.py
  pyproject.toml
  rtloader/test/python/datadog_checks/base/utils/agent/packages.py
  rtloader/test/python/fake_check/__init__.py
  setup.cfg
  tasks/__init__.py
  tasks/agent.py
  tasks/android.py
  tasks/bench.py
  tasks/bootstrap.py
  tasks/build_tags.py
  tasks/cluster_agent.py
  tasks/cluster_agent_cloudfoundry.py
  tasks/cluster_agent_helpers.py
  tasks/customaction.py
  tasks/docker.py
  tasks/dogstatsd.py
  tasks/go.py
  tasks/installcmd.py
  tasks/process_agent.py
  tasks/pylauncher.py
  tasks/release.py
  tasks/release_tests.py
  tasks/rtloader.py
  tasks/security_agent.py
  tasks/selinux.py
  tasks/ssm.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/uninstallcmd.py
  tasks/utils.py
  test/e2e/containers/fake_datadog/app/api.py
  test/e2e/containers/fake_datadog/app/monitoring.py
  test/integration/docker/dsd_listening.py
  test/system/python_binding/datadog_agent.py
Labels: changelog/no-changelog, dev/tooling, team/agent-platform

#5807 Add tagger list to agent flare
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  releasenotes/notes/add-tagger-list-to-flare-87afe4791a394f3f.yaml
Labels: team/containers

#5824 fix include header
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/c/tcp-queue-length-kern.c
  pkg/ebpf/tcp_queue_length.go
Labels: changelog/no-changelog, team/containers, team/networks

#5820 Regenerate the k8s sample manifests with `clusterAgent.metricsProvider: true`
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/agent-only/rbac.yaml
  Dockerfiles/manifests/agent-only/secrets.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/rbac.yaml
  Dockerfiles/manifests/all-containers/secrets.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/agent-secret.yaml
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/rbac.yaml
  Dockerfiles/manifests/cluster-agent/secrets.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-secret.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/secrets.yaml
  Dockerfiles/manifests/generate.sh
Labels: changelog/no-changelog, team/containers

#5815 Fix release note.
  releasenotes/notes/bump-go-to-1.13.11-de62f7d057ea740b.yaml
Labels: team/agent-core

#5580 Pin k8s.io/klog@release-1.x
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-platform

#5790 Add network to available SNMP template extra configs
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  releasenotes/notes/add_snmp_devices_count-afbf05f0ce69d14c.yaml
Labels: team/containers, team/integrations

#5767 [kitchen] Add dogstatsd kitchen tests
  .gitlab-ci.yml
  omnibus/config/software/datadog-dogstatsd.rb
  omnibus/config/templates/datadog-dogstatsd/upstart_debian.conf.erb
  omnibus/config/templates/datadog-dogstatsd/upstart_redhat.conf.erb
  omnibus/package-scripts/dogstatsd/postinst
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/test/integration/common/rspec/dogstatsd_spec_helper.rb
  test/kitchen/test/integration/common/rspec/iot_spec_helper.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-agent-install-script/rspec/dd-agent-install-script_spec.rb
  test/kitchen/test/integration/dd-agent-install-script/rspec/dogstatsd_spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform

#5708 [Tagger][Logs] Use 'service' standard tag as logs attribute
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_test.go
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
  pkg/logs/input/service_name.go
  pkg/logs/input/service_name_test.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/collectors/ecs_extract.go
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/tagger/collectors/static_extract.go
  pkg/tagger/collectors/types.go
  pkg/tagger/global.go
  pkg/tagger/tagger.go
  pkg/tagger/tagstore.go
  pkg/tagger/tagstore_test.go
  pkg/tagger/utils/taglist.go
  pkg/tagger/utils/taglist_test.go
  pkg/telemetry/prom_telemetry.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes/notes/standard-tags-logs-d244a1db08df2dc0.yaml
Labels: component/logs, component/tagger, team/containers

#5705 [System Probe] Add logging for offset guessing
  pkg/config/config.go
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.h
  pkg/ebpf/config.go
  pkg/ebpf/offsetguess.go
  pkg/process/config/config.go
  pkg/process/config/tracer_config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/networks

#5776 Support installing non-core integrations
  cmd/agent/app/integrations.go
  releasenotes/notes/support-installing-non-core-integrations-985b24d4d4a08f4f.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#5819 [DCA] Add `leader_election_is_leader` metric to allow label joins
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/clusteragent/clusterchecks/stores.go
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/store_configmap.go
  pkg/telemetry/prom_telemetry.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_engine.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  pkg/util/kubernetes/apiserver/leaderelection/metrics/metrics.go
  releasenotes-dca/notes/add-leadership-metric-for-cluster-agent-308cb6a5bf0f48b1.yaml
  test/integration/util/leaderelection/leaderelection_test.go
Labels: team/containers

#5810 Fix A5 import logic
  cmd/agent/common/import.go
  cmd/agent/common/import_test.go
  cmd/agent/common/tests/a5_conf/conf.d/cassandra.yaml
  cmd/agent/common/tests/a5_conf/conf.d/docker_daemon.yaml
  cmd/agent/common/tests/a5_conf/conf.d/kubernetes.yaml
  cmd/agent/common/tests/a5_conf/conf.d/mysql.yaml
  cmd/agent/common/tests/a5_conf/datadog.conf
  cmd/agent/common/tests/a6_conf/conf.d/cassandra.d/conf.yaml
  cmd/agent/common/tests/a6_conf/conf.d/docker.d/conf.yaml
  cmd/agent/common/tests/a6_conf/conf.d/kubelet.d/conf.yaml
  cmd/agent/common/tests/a6_conf/conf.d/mysql.d/conf.yaml
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  pkg/config/legacy/docker.go
  pkg/config/legacy/docker_test.go
  pkg/config/legacy/kubernetes.go
  pkg/config/legacy/kubernetes_test.go
  pkg/config/legacy/no_docker.go
  releasenotes/notes/fix-broken-a5-import-a2358410cf4a37da.yaml
Labels: kind/bug, team/agent-core

#5825 Collect namespaced PIDs
  go.mod
  go.sum
  pkg/process/checks/process.go
  releasenotes/notes/process-collect-nspid-fea6595b0ec7a6cc.yaml
Labels: team/burrito

#5794 [gitlab] Reuse go deps in pipeline
  .gitlab-ci.yml
  tasks/go.py
Labels: changelog/no-changelog, team/agent-platform

#5827 Add registry.json to flare artifact
  pkg/flare/archive.go
Labels: changelog/no-changelog, team/agent-platform

#5798 [gitlab] Use new gitlab_agent_deploy image
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5758 Flare command for security agent for compliance
  cmd/security-agent/api/agent/agent.go
  cmd/security-agent/app/flare.go
  pkg/flare/archive.go
  pkg/flare/archive_dca.go
  pkg/flare/archive_security.go
  pkg/flare/archive_security_test.go
  pkg/flare/test/compliance.d/cis-docker.yaml
  pkg/status/status.go
Labels: changelog/no-changelog, team/containers

#5836 [jmxfetch] Bump nightlies to jmxfetch 0.38.0
  release.json
  releasenotes/notes/jmxfetch-0-37-0-52029258df2c0db5.yaml
  releasenotes/notes/jmxfetch-0-38-0-fd6e1b74a5ca153c.yaml
Labels: team/agent-core

#5831 [tasks] Remove --no-checks option
  .circleci/config.yml
  .gitlab-ci.yml
  appveyor.yml
  tasks/agent.py
  tasks/go.py
  tasks/winbuildscripts/buildwin.bat
Labels: changelog/no-changelog, team/agent-platform

#5837 [Gitlab] Fix pupernetes jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5737 Non zero exit code when using trace malloc and py2
  cmd/agent/app/check.go
  cmd/agent/app/jmx.go
  cmd/agent/app/standalone/setup.go
  cmd/agent/common/common_windows.go
  cmd/agent/common/helpers.go
  cmd/agent/common/import.go
  cmd/dogstatsd/main.go
  cmd/py-launcher/py-launcher.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/process/config/config.go
  pkg/trace/config/config.go
  releasenotes/notes/traceMallocPy2Warnining-82144ddb08000758.yaml
Labels: team/agent-core

#5838 [DCA][Admission Controller] Cache pod's owner
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/clusteragent/admission/mutate/tags_test.go
  pkg/config/config.go
Labels: changelog/no-changelog, team/containers

#5818 [CircleCI] Use Python 3 only
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  tasks/docker.py
  tasks/test.py
  test/integration/docker/dsd_listening.py
Labels: changelog/no-changelog, team/agent-platform

#5822 Remove device_name logic from populate device field
  pkg/metrics/series.go
  pkg/metrics/series_test.go
  releasenotes/notes/remove-device_name-populateDeviceField-3967de244ebed07f.yaml
Labels: team/agent-platform

#5828 [slack-notifier] Add success messages
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5842 Fix non-ascii character in release note
  releasenotes/notes/check_hostname_is_usable-dc4b99e6f7242b34.yaml
Labels: team/agent-platform

#5844 Remove docker prune commands
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5840 Fix a5 conf import when docker is not included as a build flag
  cmd/agent/common/import_docker_test.go
  cmd/agent/common/import_test.go
Labels: changelog/no-changelog, team/agent-core

#5826 Add dump call for ipv6 back to conn tracker code
  .gitignore
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/testdata/message_dump
  pkg/network/netlink/testdata/setup_dnat6.sh
  pkg/network/netlink/testdata/teardown_dnat6.sh
Labels: changelog/no-changelog, team/burrito, team/networks

#5503 pkg/trace/config: remove connection limit by default
  pkg/trace/api/api.go
  pkg/trace/config/config.go
  releasenotes/notes/apm-rm-connection-limit-99f1adb6000b7d2a.yaml
Labels: team/agent-apm

#5841 Upgrade jquery to 3.5.1
  cmd/agent/gui/views/private/js/jquery-3.4.1.min.js
  cmd/agent/gui/views/private/js/jquery-3.5.1.min.js
  cmd/agent/gui/views/templates/index.tmpl
  releasenotes/notes/jquery-3.5.1-1c5a6865e35b7e6e.yaml
Labels: team/agent-core

#5845 Ensure we ship up-to-date packages inside the agent docker images
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
Labels: changelog/no-changelog, team/containers

#5733 [grpc] adding grpc server with grpc-gateway to REST
  LICENSE-3rdparty.csv
  cmd/agent/api/agent/agent.go
  cmd/agent/api/check/check.go
  cmd/agent/api/listener.go
  cmd/agent/api/pb/agent.protoset
  cmd/agent/api/pb/api.pb.go
  cmd/agent/api/pb/api.pb.gw.go
  cmd/agent/api/pb/api.proto
  cmd/agent/api/pb/api.swagger.json
  cmd/agent/api/pb/google/api/annotations.proto
  cmd/agent/api/pb/google/api/http.proto
  cmd/agent/api/server.go
  cmd/agent/api/tls.go
  cmd/agent/api/tools.go
  cmd/agent/app/integrations_darwin.go
  cmd/system-probe/check_cmd.go
  cmd/system-probe/main_common.go
  cmd/system-probe/probe.go
  cmd/system-probe/probe_test.go
  go.mod
  go.sum
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/etcd_test.go
  pkg/collector/corechecks/embed/apm_nix.go
  pkg/logs/input/windowsevent/tailer.go
  pkg/process/checks/process_common_test.go
  releasenotes/notes/grpc_server_api-84b8c7616c053609.yaml
  requirements.txt
  test/integration/config_providers/etcd/etcd_provider_test.go
Labels: team/agent-core, team/agent-guild

#5706 Add OOM Kill probe
  Dockerfiles/agent/entrypoint/60-sysprobe-check.sh
  cmd/agent/dist/conf.d/oom_kill.d/conf.yaml.example
  cmd/system-probe/probe.go
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/config/config.go
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/c/bpf-common.h
  pkg/ebpf/c/oom-kill-kern-user.h
  pkg/ebpf/c/oom-kill-kern.c
  pkg/ebpf/c/tcp-queue-length-kern.c
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  pkg/ebpf/oom_kill.go
  pkg/ebpf/oom_kill_stub.go
  pkg/ebpf/oomkill/types.go
  pkg/ebpf/tcp_queue_length.go
  pkg/ebpf/testdata/test-asset.c
  pkg/ebpf/testdata/test-header.h
  pkg/process/config/yaml_config.go
  pkg/process/net/check.go
  releasenotes/notes/add-oom-kill-probe-and-check-defff94654400cbc.yaml
  tasks/agent.py
  tasks/system_probe.py
Labels: team/containers
