Repository DataDog/datadog-agent, pull requests merged in 2020-03, with the labels that each got.

#5029 Fix kitchen_test_windows_installer
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5041 [release] add release note entry for python 3.8 enforcing utf8 encoding.
  releasenotes/notes/py3-8-utf8-mdoe-0cb975b54408765a.yaml
Labels: team/agent-core

#5036 Build system-probe with go version 1.10.1
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/networks

#5043 Adding 6.18.0-rc.5 and 7.18.0-rc.5
  release.json
Labels: changelog/no-changelog

#5047 Add MacOS IBM WAS blacklist release note
  releasenotes/notes/blacklist-ibm-was-macos-6edceb9c144e2c1c.yaml
Labels: team/agent-platform, team/integrations

#5046 [gitlab] Update deploy builder to include distro
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5050 [dogstatsd] add a trace message while resetting the string interner cache
  pkg/dogstatsd/intern.go
Labels: changelog/no-changelog, team/agent-core

#5049 [MacOS] Blacklist aerospike integration on Python 2
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, team/agent-platform, team/integrations

#5042 [selinux] More precise warnings when policy install fails
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/posttrans
Labels: changelog/no-changelog, team/agent-platform, team/networks

#5051 Adding 6.18.0-rc.6 and 7.18.0-rc.6
  release.json
Labels: changelog/no-changelog

#4888 [System-Probe] Build Probe on Windows
  cmd/system-probe/main.go
  cmd/system-probe/main_common.go
  cmd/system-probe/main_windows.go
  cmd/system-probe/probe.go
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_unsupported.go
  pkg/ebpf/tracer_windows.go
  pkg/ebpf/utils_linux.go
  pkg/ebpf/utils_linux_test.go
  pkg/ebpf/utils_unsupported.go
  pkg/ebpf/utils_windows.go
  pkg/process/net/common.go
  pkg/process/net/network_linux.go
  pkg/process/net/types_linux.go
  pkg/process/net/types_unsupported.go
  pkg/process/net/types_windows.go
  pkg/process/net/uds.go
  pkg/process/net/uds_test.go
  pkg/process/net/windows_pipe.go
Labels: changelog/no-changelog, team/burrito

#5024 [omnibus] python3: set embedded dir as openssl dir
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, team/agent-platform

#5031 Fix 'check' command segfault when running for more than 1 hour
  cmd/agent/app/check.go
  pkg/aggregator/aggregator.go
  releasenotes/notes/fix-check-segfault-27d75a9b2dbd906b.yaml
Labels: team/agent-core

#4840 Config change at runtime
  cmd/agent/api/agent/agent.go
  cmd/agent/app/config.go
  pkg/config/config.go
  pkg/config/log.go
  pkg/config/runtime_setting.go
  pkg/config/runtime_setting_log_level.go
  pkg/config/runtime_settings_test.go
  pkg/util/log/log.go
  releasenotes/notes/runtime-config-change-06132b1d9b1a2bd9.yaml
Labels: team/agent-core

#5006 [gitlab] Fix send_pkg_size-a6 JSON payload format
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5008 [gitlab] Fix pupernetes jobs missing distro dependency
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5007 [gitlab] Use nightly-a7 section of release.json
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5060 Fix loglevel lowercasing sequence
  pkg/config/log.go
Labels: changelog/no-changelog, team/agent-core

#5056 Revert "Fix 'check' command segfault when running for more than 1 hour"
  cmd/agent/app/check.go
  pkg/aggregator/aggregator.go
  releasenotes/notes/fix-check-segfault-27d75a9b2dbd906b.yaml
Labels: team/agent-core

#5044 Upgrade ebpf builder images, remove hack
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/networks

#4971 Fix pipelines when building only A6 or A7
  .gitlab-ci.yml
  tasks/__init__.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, team/containers

#5054 Fix 'port 0' in the status page when using the default HTTPS port
  pkg/logs/status/builder.go
  releasenotes/notes/fix-logs-status-page-port-cb09ece4226cec6f.yaml
Labels: changelog/no-changelog, team/agent-core

#5057 [dogstatsd] move the string interner reset log message from trace level to debug level.
  pkg/dogstatsd/intern.go
Labels: changelog/no-changelog, team/agent-core

#5040 Add a retry loop around `docker push` to workaround notary intermittent failures
  tasks/docker.py
Labels: changelog/no-changelog, team/agent-platform, team/containers

#4937 Hide sensitive data from `agent configcheck` command output
  cmd/agent/app/config_check.go
  releasenotes/notes/scrub-sensitive-data-from-agent-configcheck-output-33baa8916e28a46f.yaml
Labels: team/agent-core

#5062 Support legacy k8s logs
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
  releasenotes/notes/collect-logs-in-old-k8s-versions-b07c0c4ca779658d.yaml
Labels: team/containers

#5067 [omnibus] Target MacOS 10.12 when building on MacOS
  omnibus/config/software/python2.rb
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform

#5068 [backport] [omnibus] Target MacOS 10.12 when building on MacOS (#5067)
  omnibus/config/software/python2.rb
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform

#5058 Make TasksCurrent optional for systemd core check
  pkg/collector/corechecks/systemd/systemd.go
Labels: changelog/no-changelog, kind/bug, team/integrations

#4953 Factor debian redhat suse only conditional
  tasks/agent.py
  tasks/android.py
  tasks/build_tags.py
  tasks/customaction.py
  tasks/dogstatsd.py
  tasks/installcmd.py
  tasks/trace_agent.py
Labels: changelog/no-changelog, team/agent-core

#5059 Mock time.Now() in the retrier tests to make them not flaky
  pkg/util/retry/retrier.go
  pkg/util/retry/retrier_test.go
  pkg/util/retry/types.go
Labels: changelog/no-changelog, dev/testing, team/containers

#5066 Make the docker entrypoint script honor DD_CRI_SOCKET_PATH
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
Labels: changelog/no-changelog, kind/bug, team/containers

#5069 [system-probe] don't test with absolute package name
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#5076 [kitchen] Rename CentOS 7.7 image
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#5075 Backport #5066 to 7.18.x: Make the docker entrypoint script honor DD_CRI_SOCKET_PATH (#5066)
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
Labels: changelog/no-changelog, kind/bug, team/containers

#5078 [backport] [kitchen] Rename CentOS 7.7 image (#5076)
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/testing, team/agent-platform

#4929 [system-probe] Use same Go version from datadog-agent
  .gitlab-ci.yml
  omnibus/config/software/datadog-agent.rb
  pkg/ebpf/netlink/conntracker.go
  tasks/process_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, team/processes

#5077 Ensure libbcc cannot be used by a non-privileged user
  .gitlab-ci.yml
Labels: changelog/no-changelog, component/system-probe, team/networks

#5072 Add new iphelper package, wrapper around windows iphelper
  pkg/util/winutil/iphelper/adapters.go
  pkg/util/winutil/iphelper/routes.go
  pkg/util/winutil/winstrings.go
  tasks/go.py
Labels: changelog/no-changelog, team/agent-platform

#5079 [system-probe] fail build pipeline when .o file cannot be built
  .gitlab-ci.yml
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/networks

#5052 [System-Probe][Windows] Set up pulling of driver stats in the windows tracer
  pkg/ebpf/c/ddfilterapi.h
  pkg/ebpf/common.go
  pkg/ebpf/common_test.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/ebpf/tracer_windows.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#5086 fix dogstatsd metrics enrichTags() function
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
Labels: changelog/no-changelog, component/dogstatsd, team/containers

#5087 [backport to 7.18.x] removes short path in enrichTags() when tags is empty
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_test.go
Labels: changelog/no-changelog, component/dogstatsd, team/containers

#5065 Fix 'check' command segfault when running for more than 1hour
  cmd/agent/app/check.go
  pkg/aggregator/aggregator.go
  releasenotes/notes/fix-check-segfault-27d75a9b2dbd906b.yaml
Labels: team/agent-core

#4995 [tasks] stop the build if GO111MODULE is set to on.
  tasks/agent.py
  tasks/bootstrap.py
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/process_agent.py
  tasks/system_probe.py
  tasks/trace_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-core

#5085 Scrub hyphen from URI password
  pkg/util/log/strip.go
  pkg/util/log/strip_test.go
Labels: changelog/no-changelog, team/agent-core

#4935 Add cluster agent binary and basic functionality for cloud foundry
  .github/CODEOWNERS
  .gitignore
  .golangci.yml
  Gopkg.lock
  Gopkg.toml
  LICENSE-3rdparty.csv
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent-cloudfoundry/main.go
  cmd/cluster-agent/app/clusterchecks.go
  cmd/cluster-agent/app/config_check.go
  cmd/cluster-agent/commands/clusterchecks.go
  cmd/cluster-agent/commands/configcheck.go
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/autodiscovery/providers/cloudfoundry.go
  pkg/autodiscovery/providers/cloudfoundry_test.go
  pkg/autodiscovery/providers/endpointschecks.go
  pkg/autodiscovery/providers/names/provider_names.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/util/cloudfoundry/bbscache.go
  pkg/util/cloudfoundry/bbscache_test.go
  pkg/util/cloudfoundry/types.go
  pkg/util/cloudfoundry/types_test.go
  tasks/__init__.py
  tasks/cluster_agent.py
  tasks/cluster_agent_cloudfoundry.py
  tasks/cluster_agent_helpers.py
Labels: changelog/no-changelog, team/containers

#5083 [pipeline] Remove default before_script
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5097 Revert "Trim forward slashes from config urls (#4843)"
  pkg/config/config.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, team/agent-core, team/processes

#5100 Fix buildtags for some cluster agent related files
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent-cloudfoundry/main.go
  cmd/cluster-agent/commands/clusterchecks.go
Labels: changelog/no-changelog, team/agent-platform

#5074 Remove call to user.Current which doesn't work on Windows Nano
  Gopkg.lock
  Gopkg.toml
  pkg/api/security/platform_windows.go
Labels: changelog/no-changelog, team/agent-platform

#5099 Changing baklava team into documentation team
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform

#5023 Improve resolution of docker sha256 to docker image name in some cases
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  pkg/util/containers/image.go
  pkg/util/containers/image_test.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/docker-image-name-7febcbe00bb068df.yaml
Labels: component/tagger, team/containers

#4972 Add --full-sketches option to display bins in `agent check` output
  cmd/agent/app/check.go
  pkg/config/config.go
  pkg/metrics/sketch_series.go
  pkg/metrics/sketch_series_test.go
  pkg/quantile/sparse.go
  pkg/util/common/common.go
  pkg/util/common/common_test.go
  releasenotes/notes/bins-information-sketches-8d76e76fd919d5b1.yaml
Labels: component/cmd-agent, kind/feature, team/containers

#4844 [docs] adding agent memory troubleshooting 101 guide
  docs/dev/README.md
  docs/dev/agent_memory.md
Labels: changelog/no-changelog, documentation, editorial review, team/agent-core

#5108 Fix flakes in tests related to Cloud Foundry
  cmd/cluster-agent-cloudfoundry/app/app.go
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/util/cloudfoundry/bbscache.go
  pkg/util/cloudfoundry/bbscache_test.go
Labels: changelog/no-changelog, team/container-app

#5110 Install services in Windows Docker image
  Dockerfiles/agent/install.ps1
Labels: changelog/no-changelog, team/agent-platform

#5101 Install JRE in Windows Docker image
  .gitlab-ci.yml
  Dockerfiles/agent/install.ps1
  Dockerfiles/agent/windows/amd64/Dockerfile
Labels: changelog/no-changelog, team/agent-platform

#5048 Send configuration errors with metadata
  pkg/collector/metadata/agentchecks/agentchecks.go
  releasenotes/notes/send-config-errors-with-metadata-60a379fd5d8ab38a.yaml
Labels: team/agent-core

#5115 [pyyaml] Fix create-regex-at-runtime patch
  omnibus/config/patches/datadog-agent-integrations-py2/create-regex-at-runtime.patch
Labels: changelog/no-changelog, team/agent-platform, team/integrations

#5111 Adding final version fo 7.18.0
  release.json
Labels: changelog/no-changelog

#5064 Auth token file creation only happens with `agent run` command
  cmd/agent/api/server.go
  cmd/agent/clcrunnerapi/clc_runner_server.go
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/server_test.go
  pkg/api/security/security.go
  pkg/api/security/security_test.go
  pkg/api/util/util.go
  pkg/util/clusteragent/clusteragent_test.go
  releasenotes/notes/create-auth-token-file-only-for-run-cmd-d98a86e00fefaa9f.yaml
Labels: team/agent-core

#5119 Bump PyYAML and Docker dependencies
  appveyor.yml
  requirements.txt
Labels: changelog/no-changelog, team/agent-platform, team/containers

#5127 [debian, selinux] Revert adding selinux policy for system-probe
  omnibus/package-scripts/agent/postinst
  releasenotes/notes/remove-debian-selinux-policy-00af5b4a09f11219.yaml
Labels: team/agent-platform, team/networks

#5102 Rebuild seelog logger when changing log level
  cmd/agent/app/config.go
  pkg/config/log.go
  pkg/config/log_test.go
  pkg/config/runtime_setting_log_level.go
  pkg/config/runtime_settings_test.go
  pkg/config/seelog/seelog_config.go
  pkg/util/log/log.go
Labels: changelog/no-changelog, team/agent-core

#5112 Use Windows Nano
  .gitlab-ci.yml
  Dockerfiles/agent/windows/amd64/Dockerfile
Labels: changelog/no-changelog, team/agent-platform

#5129 [backport] [debian, selinux] Revert adding selinux policy for system-probe (#5127)
  omnibus/package-scripts/agent/postinst
  releasenotes/notes/remove-debian-selinux-policy-00af5b4a09f11219.yaml
Labels: team/agent-platform, team/networks

#5116 Do not use DD_CRI_SOCKET_PATH for a docker socket
  Dockerfiles/agent/entrypoint/50-cri.sh
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  Dockerfiles/agent/entrypoint/51-docker.sh
  Dockerfiles/manifests/agent.yaml
Labels: changelog/no-changelog, kind/bug, team/containers

#5109 Add proper publication for Windows Docker images
  .gitlab-ci.yml
  tasks/docker.py
Labels: team/containers

#4984 Collect unassigned pod from cluster-agent
  Gopkg.lock
  Gopkg.toml
  cmd/cluster-agent/app/app.go
  cmd/process-agent/collector.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/process/checks/pod.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  pkg/process/util/api/transport.go
  pkg/process/util/orchestrator/pod.go
  pkg/process/util/orchestrator/pod_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/types.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator_test.go
  tasks/cluster_agent.py
Labels: changelog/no-changelog, component/cluster-agent, team/container-app

#5123 Fix release.update-changelog command to ignore A6 release tag
  releasenotes/config.yaml
Labels: changelog/no-changelog, team/agent-core

#5039 [omnibus] Skip jmxfetch codesign on MacOS if code_signing_identity is not set
  omnibus/config/software/jmxfetch.rb
Labels: changelog/no-changelog, team/agent-platform

#5134 [system-probe] Improve conntrack resiliency to deletes
  Gopkg.lock
  pkg/ebpf/netlink/conntracker.go
  pkg/ebpf/netlink/logging.go
  pkg/ebpf/netlink/socket_buffer.go
Labels: changelog/no-changelog, team/networks

#5121 Fix a flake in tests for Cloud Foundry listener
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/util/testutil/timeout.go
Labels: changelog/no-changelog, team/container-app

#5142 [dogstatsd] on parse errors, display origin tags in the log message when they're available.
  pkg/config/config.go
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, team/agent-core

#5030 add orchestrator-cluster-id
  cmd/cluster-agent/app/app.go
  cmd/process-agent/collector.go
  pkg/config/config.go
  pkg/process/util/api/transport.go
  pkg/util/kubernetes/apiserver/common/common.go
  pkg/util/kubernetes/apiserver/common/common_test.go
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
Labels: changelog/no-changelog, component/cluster-agent, kind/feature, team/container-app

#5143 [backport] [dogstatsd] on parse errors, display origin tags in the log message w…
  pkg/config/config.go
  pkg/dogstatsd/server.go
Labels: changelog/no-changelog, team/agent-core

#5131 Add additional logging to troubleshoot unexpected error
  tools/windows/install-help/cal/userrights.cpp
Labels: changelog/no-changelog, team/agent-platform

#5145 Adding 6.18.2-rc.8 and 7.18.2-rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core

#5147 Autodiscover standard tags from Docker containers
  pkg/tagger/collectors/const.go
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  releasenotes/notes/docker-standard-tags-0e5623ff7a0fa4a8.yaml
Labels: team/containers

#5151 Return copy instead of unprotected reference in expvar funcs
  pkg/collector/python/init.go
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#5155 Don't reuse the same omnibus-ruby tag for all releases
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform

#5154 Revert "add orchestrator-cluster-id"
  cmd/cluster-agent/app/app.go
  cmd/process-agent/collector.go
  pkg/config/config.go
  pkg/process/util/api/transport.go
  pkg/util/kubernetes/apiserver/common/common.go
  pkg/util/kubernetes/apiserver/common/common_test.go
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
Labels: changelog/no-changelog, team/containers

#5149 [system-probe] Replicate improvements to register netlink socket
  pkg/ebpf/netlink/conntracker.go
Labels: changelog/no-changelog, team/networks

#5153 Autodiscover standard tags via kubelet
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/const.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/kubelet-standard-tags-3ace897c4a14aeec.yaml
Labels: team/containers

#4966 Lower locking scope while py-linting
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, team/agent-core

#5157 [system-probe] Replicate improvements to register netlink socket
  pkg/ebpf/netlink/conntracker.go
Labels: changelog/no-changelog, team/networks

#5132 [PROC-182] Add initial test for process http API
  cmd/process-agent/collector_api_test.go
  pkg/process/util/api/transport.go
Labels: changelog/no-changelog, kind/enhancement, team/networks, team/processes

#5159 Remove arbitrary limits in pkg/collector/check/stats.go
  pkg/collector/check/stats.go
Labels: changelog/no-changelog, team/agent-core

#5162 Normalize tag names to lower case and remove duplicates for a given IP
  pkg/ebpf/dns_cache.go
  pkg/ebpf/dns_cache_test.go
  pkg/ebpf/dns_parser.go
Labels: changelog/no-changelog, kind/bug, team/networks

#4882 Bump Go to 1.13.8
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  README.md
  appveyor.yml
  devenv/scripts/Install-DevEnv.ps1
  pkg/ebpf/tracer-ebpf.go
  releasenotes/notes/go-1-13-8-d98857855401db29.yaml
  tasks/agent.py
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/trace_agent.py
  test/integration/dockerize_tests.sh
Labels: team/agent-core

#5055 [Docker] Resolve image name favoring container config.Image
  pkg/autodiscovery/listeners/docker.go
  pkg/collector/corechecks/containers/docker.go
  pkg/tagger/collectors/docker_extract.go
  pkg/tagger/collectors/docker_extract_test.go
  pkg/util/docker/docker_test.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/resolve-docker-image-name-config.Image-d648bcbf124f7db6.yaml
Labels: team/containers

#5160 Revert "Revert "add orchestrator-cluster-id (#5030)" (#5154)"
  cmd/cluster-agent/app/app.go
  cmd/process-agent/collector.go
  pkg/config/config.go
  pkg/process/util/api/transport.go
  pkg/util/kubernetes/apiserver/common/common.go
  pkg/util/kubernetes/apiserver/common/common_test.go
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
Labels: changelog/no-changelog, team/container-app

#5167 [release] fix release note entry about Go 1.13.8
  releasenotes/notes/go-1-13-8-d98857855401db29.yaml
Labels: team/agent-core

#5161 Fix Windows unit tests
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform

#5170 update docker tests to use t.Run
  pkg/util/docker/docker_test.go
Labels: changelog/no-changelog, team/containers

#5171 Fix dca internal-token generation
  cmd/cluster-agent/api/server.go
Labels: changelog/no-changelog, component/cluster-agent, team/containers

#5172 Update datadog-agent-builders
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5176 [windows] Fix rtloader test CMakeLists
  rtloader/test/CMakeLists.txt
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#5175 Build two Windows images, with and without jmxfetch
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5180 Autodiscover standard tags in ECS Fargate
  pkg/tagger/collectors/ecs_fargate_extract.go
  pkg/tagger/collectors/ecs_fargate_extract_test.go
  pkg/tagger/collectors/testdata/fargate_meta.json
  pkg/tagger/collectors/testdata/fargate_meta_v1.0.json
  releasenotes/notes/ecs-fargate-standard-tags-ad5e4e01b373f5ef.yaml
Labels: team/containers

#5181 Exclude optional dependency from known unsupported targets
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, component/config, team/agent-core, team/integrations

#4976 Fix build tags + config parameter
  pkg/config/config_template.yaml
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
Labels: changelog/no-changelog, team/containers

#5156 [MacOS] Add code signing entitlements
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/jmxfetch.rb
  omnibus/files/macos/Entitlements.plist
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5183 Build and push Windows 1909 Docker images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5182 pkg/trace/config: support setting additional endpoints by means of env.
  pkg/trace/config/env.go
  pkg/trace/config/env_test.go
Labels: changelog/no-changelog, team/agent-apm

#5189 Clean up release.json
  release.json
Labels: changelog/no-changelog, team/agent-platform

#5187 Fix one more CloudFoundryListener test flake
  pkg/autodiscovery/listeners/cloudfoundry_test.go
Labels: changelog/no-changelog, team/containers

#5184 [gitlab] Do not pull datadog_checks_base for builds
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5141 Allow setting `is_jmx` at the instance level
  cmd/agent/app/check.go
  cmd/agent/app/jmx.go
  pkg/collector/check/jmx.go
  pkg/collector/check/loader.go
  pkg/collector/corechecks/embed/jmx/fixtures/hazelcast.yaml
  pkg/collector/corechecks/embed/jmx/loader.go
  pkg/collector/corechecks/embed/jmx/loader_test.go
  pkg/collector/corechecks/loader.go
  pkg/collector/corechecks/loader_test.go
  pkg/collector/loaders/loaders_test.go
  pkg/collector/python/loader.go
  pkg/collector/python/test_loader.go
  pkg/collector/scheduler.go
  pkg/collector/scheduler_test.go
  releasenotes/notes/allow-defining-jmx-instance-level-018fe85d4898b684.yaml
Labels: component/cmd-agent, component/collector, team/agent-core, team/integrations

#5094 Write clusterID in CollectorPod message
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/orchestrator/controller.go
  pkg/process/checks/pod.go
  pkg/process/util/orchestrator/pod.go
Labels: changelog/no-changelog, kind/enhancement, team/container-app

#5190 pkg/trace/writer: replace "APM events" with "Analyzed spans" when logging
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/agent-apm

#4869 [system-probe] fill in connection direction for UDP connections
  .gitlab-ci.yml
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.h
  pkg/ebpf/config.go
  pkg/ebpf/port.go
  pkg/ebpf/proc_net.go
  pkg/ebpf/testdata/simulate_udp.sh
  pkg/ebpf/tracer-ebpf.go
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_test.go
  pkg/ebpf/types.go
  pkg/ebpf/utils_linux.go
  pkg/ebpf/utils_linux_test.go
  releasenotes/notes/udp-connection-direction-90505424246e0748.yaml
  tasks/system_probe.py
Labels: team/networks

#5178 Add golangci-lint to pkg/procmatch, cmd/process-agent, and cmd/system-probe
  .golangci.yml
  cmd/process-agent/info.go
  cmd/system-probe/main.go
  pkg/procmatch/graph.go
  pkg/procmatch/signature.go
Labels: changelog/no-changelog, kind/enhancement, team/networks, team/processes

#5169 Add attempt/success handlers to HTTPTransaction
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/test_common.go
  pkg/forwarder/transaction.go
Labels: changelog/no-changelog, kind/enhancement, team/agent-guild, team/networks, team/processes

#5191 Prefix change for standard tags from labels in kubelet, docker and ECS fargate
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/const.go
  pkg/tagger/collectors/docker_extract_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/collectors/testdata/fargate_meta.json
  pkg/tagger/collectors/testdata/fargate_meta_v1.0.json
Labels: changelog/no-changelog, team/containers

#5192 [rtloader] Enforce minimum supported python versions with CMake
  README.md
  rtloader/three/CMakeLists.txt
  rtloader/two/CMakeLists.txt
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#5188 [dogstatsd] add telemetry in Dogstatsd pools and string interner
  pkg/dogstatsd/intern.go
  pkg/dogstatsd/listeners/packet_pool.go
  pkg/metrics/metric_sample_pool.go
Labels: changelog/no-changelog, team/agent-core

#5117 pkg/trace/writer: fix pooling bug when multiple APM endpoints are configured
  pkg/trace/writer/sender.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
Labels: changelog/no-changelog, team/agent-apm

#5198 pkg/trace/sampler: removal of score sampler
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/sampler.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/scoresampler.go
  pkg/trace/sampler/scoresampler_test.go
  pkg/trace/test/testutil/sampler.go
Labels: changelog/no-changelog, team/agent-apm

#5203 pkg/trace/sampler: error sampling rates upscale
  pkg/trace/sampler/scoresampler.go
  pkg/trace/sampler/scoresampler_test.go
Labels: changelog/no-changelog, team/agent-apm

#5197 Add retries to every jobs in case of unknown errors
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5215 Revert "Add retries to every jobs in case of unknown errors (#5197)"
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#5206 Remove dev_setup.sh script
  pkg/ebpf/README.md
  tools/ebpf/dev_setup.sh
Labels: changelog/no-changelog, team/networks

#5120 Expose new JMXFetch methods
  cmd/agent/app/check.go
  cmd/agent/app/check_nojmx.go
  cmd/agent/app/jmx.go
  releasenotes/notes/jmx-check-rate-5ea5744536ebbd12.yaml
Labels: component/cmd-agent, team/agent-core, team/integrations

#4999 Fix debug message in docker log tailer
  pkg/logs/input/docker/tailer.go
Labels: changelog/no-changelog, kind/bug, team/containers

#5213 pkg/trace/sampler: error sampling update signatures
  pkg/trace/sampler/sampler.go
  pkg/trace/sampler/signature.go
  pkg/trace/sampler/signature_test.go
  pkg/trace/traceutil/span.go
Labels: changelog/no-changelog, team/agent-apm

#5216 Make Windows container metrics provider thread safe
  Gopkg.lock
  pkg/util/containers/providers/windows/provider.go
  pkg/util/containers/types.go
Labels: changelog/no-changelog, team/containers

#4941 Collect and submit systemd version as check metadata
  pkg/collector/corechecks/systemd/systemd.go
  pkg/collector/corechecks/systemd/systemd_test.go
  releasenotes/notes/Collect-and-submit-systemd-version-as-metadata-87533c24e3c2a12a.yaml
Labels: team/integrations

#4970 Adding busyness metric
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/metrics.go
Labels: changelog/no-changelog, team/containers

#5126 Add RPM and DEB releases of puppy agent (x64 and ARM)
  .gitlab-ci.yml
  omnibus/config/projects/puppy.rb
Labels: changelog/no-changelog, team/agent-platform

#5186 Update system-probe buildimage
  .gitlab-ci.yml
  pkg/ebpf/tracer-ebpf.go
Labels: changelog/no-changelog, team/networks

#5228 [jmxfetch] Bump nightlies to 0.36.0
  release.json
  releasenotes/notes/jmxfetch-0-36-0-fc73686acbb13c83.yaml
Labels: team/agent-core

#5150 [logs/message] Send source category as `sourcecategory` tag in JSON
  pkg/logs/message/origin.go
  pkg/logs/message/origin_test.go
  pkg/logs/processor/encoder_test.go
  releasenotes/notes/source-category-http-67e8d1008c369672.yaml
Labels: component/logs, team/agent-core, team/logs

#5219 Add system.io.r_await and system.io_w_await
  pkg/collector/corechecks/system/iostats_pdh_windows.go
  releasenotes/notes/addwindowsawait-4c37236e18c1da58.yaml
Labels: team/agent-platform
