Repository DataDog/datadog-agent, pull requests merged in 2020-10, with the labels that each got.

#6481 Update kitchen tests to test SLES 15 SP2
  .gitlab-ci.yml
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform

#6489 Update 7.22.1 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-platform

#6490 Backport 7.22.1 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6474 [NET-784][process-agent] Group connections by similarity
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/networks

#6423 Disable stack protector on system-probe build
  releasenotes/notes/disable-system-probe-stack-protector-9b73b8b88b74e2ba.yaml
  tasks/system_probe.py
Labels: team/networks

#6494 [compliance] Check if a file is present before checking audit rule
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/audit_check_test.go
Labels: changelog/no-changelog, team/containers

#6486 Fix an incorrect data length check
  pkg/security/probe/model.go
Labels: changelog/no-changelog, team/agent-security

#6414 io check: Rename blacklist to exclude
  cmd/agent/dist/conf.d/io.d/conf.yaml.default
  pkg/collector/corechecks/system/iostats.go
  releasenotes/notes/iocheck-rename-exclude-list-0ecd76a177a71c90.yaml
Labels: team/agent-platform

#6500 pkg/trace/agent: do not stop processing after finding a filtered trace
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
Labels: changelog/no-changelog, team/agent-apm

#6504 Fix stuck benchmark
  pkg/dogstatsd/server_bench_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6509 [AD] Allow ignoring auto_config.yaml files
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/file_test.go
  pkg/autodiscovery/providers/tests/ignored.d/auto_conf.yaml
  pkg/config/config.go
  releasenotes/notes/allow-ignoring-autoconf-files-e3068d17b5d2f2a4.yaml
Labels: team/containers

#6447 [orchestrator] add orchestratorinformation for DCA output
  pkg/clusteragent/orchestrator/controller.go
  pkg/clusteragent/orchestrator/processor.go
  pkg/clusteragent/orchestrator/stats.go
  pkg/clusteragent/orchestrator/status.go
  pkg/clusteragent/orchestrator/status_no_apiserver.go
  pkg/clusteragent/orchestrator/transformer.go
  pkg/forwarder/forwarder.go
  pkg/orchestrator/cache.go
  pkg/orchestrator/cache_test.go
  pkg/orchestrator/pod.go
  pkg/orchestrator/util.go
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/templates/orchestrator.tmpl
  releasenotes/notes/orchestrator-section-244a6149e9ac1152.yaml
Labels: component/cluster-agent, team/container-app

#6488 ebpf checks: update tag cardinality
  .github/CODEOWNERS
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
Labels: changelog/no-changelog, team/containers

#6511 add dev_branch_google_container_registry gitlab job
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#6510 [release] adding 7.23.0 and 6.23.0 entries
  release.json
  releasenotes/notes/prelude-release-7.23.0-6119522672282dc9.yaml
Labels: changelog/no-changelog, team/agent-core

#6516 Update CHANGELOG for 7.23.0
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6517 Update CHANGELOG for 7.23.0 (#6516)
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6522 Delete RC entries and add final entries
  release.json
Labels: changelog/no-changelog, team/agent-core

#6527 [ec2] Account for IMDSv2 config flag when requesting EC2 tags
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_tags.go
  releasenotes/notes/fix-imdsv2-ignored-setting-c79fdd188cd12f9b.yaml
Labels: changelog/no-changelog, team/agent-core

#6529 [ec2] Account for IMDSv2 config flag when requesting EC2 tags (#6527)
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_tags.go
  releasenotes/notes/fix-imdsv2-ignored-setting-c79fdd188cd12f9b.yaml
Labels: team/agent-core

#6530 [release.json] 7.23.1-rc.1
  release.json
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#6385 Make sure that temporary files and directories are removed in case of…
  pkg/security/tests/testdrive.go
Labels: changelog/no-changelog, team/agent-security

#6371 [system-probe] Add activation validator
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/ebpf/bytecode/manager.go
  pkg/ebpf/bytecode/types.go
  pkg/ebpf/tracer.go
Labels: changelog/no-changelog, team/agent-security

#6533 [release.json] Add 7.23.1 release
  release.json
  releasenotes/notes/prelude-release-7.23.1-9d7f5297a6c9aab9.yaml
Labels: team/agent-core, team/agent-platform

#6521 [KSMv2] Change check name and force building a unique ID
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/cluster/kubernetes_state.go
Labels: changelog/no-changelog, team/containers

#6520 merge install fixes into 7.23.1
  releasenotes/notes/support_netbios_name_different_from_domain_name-a24a2c841672239e.yaml
  tools/windows/install-help/cal/FinalizeInstall.cpp
  tools/windows/install-help/cal/TargetMachine.cpp
  tools/windows/install-help/cal/TargetMachine.h
  tools/windows/install-help/cal/caninstall.cpp
  tools/windows/install-help/cal/customaction.h
  tools/windows/install-help/cal/customaction.vcxproj
  tools/windows/install-help/cal/customactiondata.cpp
  tools/windows/install-help/cal/customactiondata.h
  tools/windows/install-help/cal/delfiles.cpp
  tools/windows/install-help/cal/doUninstall.cpp
  tools/windows/install-help/cal/lmerr_str.h
  tools/windows/install-help/cal/stopservices.cpp
  tools/windows/install-help/cal/strings.cpp
  tools/windows/install-help/cal/strings.h
  tools/windows/install-help/cal/usercreate.cpp
  tools/windows/install-help/install-cmd/install-cmd.vcxproj
  tools/windows/install-help/uninstall-cmd/uninstall-cmd.vcxproj
  tools/windows/parse_lmerr_h.py
Labels: team/agent-core, team/agent-platform

#6537 [release.json] Add 7.23.1-rc.2
  release.json
  releasenotes/notes/prelude-release-7.23.1-9d7f5297a6c9aab9.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6503 fix CPU calculation for new containers
  pkg/process/checks/container_common.go
  pkg/process/checks/container_test.go
Labels: changelog/no-changelog, team/processes

#6512 [windows][system-probe] Read from driver and set TCPEstablished/Closed on ConnectionStats object
  pkg/network/ddnpmapi.h
  pkg/network/event_windows.go
  release.json
Labels: changelog/no-changelog, os/windows, team/networks

#6514 [sysstat] Remove dependency
  omnibus/config/projects/agent.rb
  omnibus/config/software/sysstat.rb
  releasenotes/notes/remove-sysstat-dep-123142e9fc5d9a82.yaml
Labels: team/agent-core, team/integrations

#6328 [runtime-security] Execute runtime security functional tests using Kitchen
  .github/CODEOWNERS
  .gitlab-ci.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/config/default.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/getattr.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/ebpf/kprobe_bpf.go
  pkg/security/ebpf/module.go
  pkg/security/module/module.go
  pkg/security/probe/hookpoints.go
  pkg/security/probe/mount_bpf.go
  pkg/security/probe/resolvers_bpf.go
  pkg/security/probe/syscalls.go
  pkg/security/tests/mitre_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/testdrive.go
  pkg/security/tests/tests.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
  tasks/security_agent.py
  tasks/test.py
  test/kitchen/Berksfile
  test/kitchen/kitchen-azure-security-agent-test.yml
  test/kitchen/kitchen-vagrant-security-agent.yml
  test/kitchen/site-cookbooks/dd-security-agent-check/.gitignore
  test/kitchen/site-cookbooks/dd-security-agent-check/Berksfile
  test/kitchen/site-cookbooks/dd-security-agent-check/Gemfile
  test/kitchen/site-cookbooks/dd-security-agent-check/README.md
  test/kitchen/site-cookbooks/dd-security-agent-check/attributes/default.rb
  test/kitchen/site-cookbooks/dd-security-agent-check/chefignore
  test/kitchen/site-cookbooks/dd-security-agent-check/metadata.rb
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test/integration/dd-security-agent-test/rspec/dd-security-agent-test_spec.rb
  test/kitchen/test/integration/dd-security-agent-test/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-security

#6543 [logs/tcp] Allow recreating tcp connections at configurable interval
  pkg/logs/client/tcp/connection_manager.go
  pkg/logs/client/tcp/connection_manager_test.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/config/config.go
Labels: changelog/no-changelog, component/logs, team/agent-core

#6545 [7.23.x] Backport #6543
  pkg/logs/client/tcp/connection_manager.go
  pkg/logs/client/tcp/connection_manager_test.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/config/config.go
Labels: changelog/no-changelog, team/agent-core

#6549 [release] add entries for 7.23.1-rc.3 and 6.23.1-rc.3
  release.json
Labels: changelog/no-changelog, team/agent-core

#6544 Support wildcard in k8s node labels and pod annotations as tags
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/tagger/collectors/kubelet_main.go
  pkg/tagger/utils/k8s_metadata.go
  pkg/tagger/utils/k8s_metadata_test.go
  pkg/util/kubernetes/hostinfo/tags.go
  pkg/util/kubernetes/hostinfo/tags_test.go
  releasenotes/notes/k8s-wildcard-tags-528c933cfbf00a35.yaml
Labels: team/containers

#6552 [DCA] Scrub creds in `agent config` output
  cmd/cluster-agent/api/agent/agent.go
Labels: changelog/no-changelog, team/containers

#6559 Adding DCA 1.9.0 changelog
  CHANGELOG-DCA.rst
Labels: changelog/no-changelog, team/containers

#6546 Sign dogstatsd RPM with the new RPM signing key
  .gitlab-ci.yml
  omnibus/config/projects/dogstatsd.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#6557 Prevent clobbering of return value from `State.Connections()`
  pkg/ebpf/tracer_test.go
  pkg/network/state.go
Labels: changelog/no-changelog, kind/bug, qa/skip-qa, team/networks

#6571 [release] add entries for 7.23.1
  release.json
  releasenotes/notes/prelude-release-7.23.1-f80d0e19590a9def.yaml
Labels: changelog/no-changelog, team/agent-core

#6473 Update GCP Marketplace deployment to use Datadog Operator
  google-marketplace/Dockerfile
  google-marketplace/Makefile
  google-marketplace/README.md
  google-marketplace/apptest/deployer/manifest/tester.yaml.template
  google-marketplace/apptest/deployer/schema.yaml
  google-marketplace/chart/datadog-mp/Chart.yaml
  google-marketplace/chart/datadog-mp/charts/datadog-operator-0.1.2.tgz
  google-marketplace/chart/datadog-mp/requirements.lock
  google-marketplace/chart/datadog-mp/requirements.yaml
  google-marketplace/chart/datadog-mp/templates/application.yaml
  google-marketplace/chart/datadog-mp/templates/datadog-agent.yaml
  google-marketplace/chart/datadog-mp/values.yaml
  google-marketplace/cmdline_rbac/datadog-agent-rbac.yaml.template
  google-marketplace/crd/app-crd.yaml
  google-marketplace/deployer/Dockerfile
  google-marketplace/manifest/datadog-agent-daemonset.yaml.template
  google-marketplace/manifest/datadog-agent-rbac.yaml.template
  google-marketplace/schema-test.yaml
  google-marketplace/schema.yaml
  google-marketplace/test/deployer/manifest/tester.yaml.template
  google-marketplace/test/deployer/schema.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#6573 [release] add changelog entries for 7.23.1
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6575 [release] add changelog entries for 7.23.1
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6555 Move functional tests to the end of the pipeline
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#6417 Improve eBPF automated tests
  pkg/ebpf/event.go
  pkg/ebpf/testdata/simulate_udp.sh
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_benchmark_test.go
  pkg/ebpf/tracer_test.go
  pkg/network/dns_snooper_test.go
  pkg/network/event_common.go
  pkg/network/netlink/testdata/setup_dnat.sh
  pkg/network/netlink/testdata/setup_dnat6.sh
Labels: changelog/no-changelog, team/networks

#6563 [system-probe] Turn on by default listening for conntrack updates from all network namespaces
  pkg/ebpf/config.go
  pkg/process/config/config.go
  releasenotes/notes/turn-on-listen-conntrack-all-namespaces-by-default-8b484309d3eb7be7.yaml
Labels: component/system-probe, team/networks

#6564 [gitlab] Add gitlab jobs for linux agent 7 on Google Container Registry
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#6589 Revert "Supporting secrets in JSON payload set in env vars"
  pkg/secrets/secrets.go
  pkg/secrets/secrets_test.go
  releasenotes/notes/revert-yaml-in-secret-a2f8b0b7fbe6a820.yaml
  releasenotes/notes/support-secrets-in-json-in-env-7221222ffa7c245c.yaml
Labels: changelog/no-changelog, team/agent-core

#6535 MacOS build on merges to master (Gitlab), not per PR (CircleCI)
  .circleci/config.yml
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6594 [release.json] 7.23.1-rc.4
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6482 [agent] Check for hidepid=2 on proc mount and report in logs
  cmd/agent/app/run.go
  cmd/agent/common/misconfig/global.go
  cmd/agent/common/misconfig/mounts.go
  cmd/agent/common/misconfig/mounts_test.go
  cmd/agent/common/misconfig/tests/proc-mounts-hidepid-2
  cmd/agent/common/misconfig/tests/proc-mounts-hidepid-2-groups
  cmd/agent/common/misconfig/tests/proc-mounts-no-hidepid
  go.mod
  releasenotes/notes/add-misconfig-check-for-hidepid=2-option-135228c24e86e227.yaml
Labels: kind/enhancement, team/containers

#6536 [runtime-security] Migrate the runtime security module to DataDog/ebpf
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/arch.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/raw_syscalls.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/ebpf/kprobe_bpf.go
  pkg/security/ebpf/manager.go
  pkg/security/ebpf/map.go
  pkg/security/ebpf/module.go
  pkg/security/ebpf/perfmap.go
  pkg/security/ebpf/probe.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/all_nobpf.go
  pkg/security/ebpf/probes/attr.go
  pkg/security/ebpf/probes/const.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/ebpf/probes/link.go
  pkg/security/ebpf/probes/mkdir.go
  pkg/security/ebpf/probes/mount.go
  pkg/security/ebpf/probes/open.go
  pkg/security/ebpf/probes/rename.go
  pkg/security/ebpf/probes/rmdir.go
  pkg/security/ebpf/probes/shared.go
  pkg/security/ebpf/probes/syscall_helpers.go
  pkg/security/ebpf/probes/unlink.go
  pkg/security/ebpf/probes/xattr.go
  pkg/security/ebpf/table.go
  pkg/security/ebpf/tracepoint.go
  pkg/security/module/module.go
  pkg/security/probe/applier.go
  pkg/security/probe/dentry_bpf.go
  pkg/security/probe/exec.go
  pkg/security/probe/exec_bpf.go
  pkg/security/probe/hookpoints.go
  pkg/security/probe/kfilters_bpf.go
  pkg/security/probe/model.go
  pkg/security/probe/mount.go
  pkg/security/probe/mount_bpf.go
  pkg/security/probe/mount_test.go
  pkg/security/probe/open.go
  pkg/security/probe/open_bpf.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/probe_nobpf.go
  pkg/security/probe/resolvers_bpf.go
  pkg/security/probe/syscall_stats.go
  pkg/security/probe/syscalls.go
  pkg/security/probe/unlink.go
  pkg/security/tests/tests.go
Labels: changelog/no-changelog, team/agent-security

#6582 [config_template] Update docs of collect_ec2_tags option
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, documentation, qa/skip-qa, team/agent-core

#6593 Revert "Supporting secrets in JSON payload set in env vars" (#6589)
  pkg/secrets/secrets.go
  pkg/secrets/secrets_test.go
  releasenotes/notes/revert-yaml-in-secret-a2f8b0b7fbe6a820.yaml
  releasenotes/notes/support-secrets-in-json-in-env-7221222ffa7c245c.yaml
Labels: changelog/no-changelog, team/agent-core

#6586 Unit test on "-" string values in yaml maps
  pkg/config/config_template.yaml
  pkg/secrets/secrets_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core, team/containers

#6551 Adding release.json for DCA 1.9.0
  release.json
Labels: changelog/no-changelog, team/container-app, team/containers

#6588 [orchestrator] move added node tag name
  pkg/clusteragent/orchestrator/processor.go
  pkg/util/kubernetes/const.go
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes-dca/notes/fix-tag-name-9f31ba1dce867c81.yaml
Labels: component/cluster-agent, team/container-app

#6601 Add revert of secret support in JSON
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6532 Use warning as error
  pkg/collector/python/init.go
  pkg/collector/python/test_check.go
  pkg/collector/python/test_loader.go
  pkg/logs/input/windowsevent/event.h
  pkg/logs/input/windowsevent/eventlog.c
  tasks/utils.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6604 [gitlab] add agent 6 tag release, latest release, and revert latest jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#6602 Add revert of secret support in JSON
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#6440 forwarder retry queue payloads max size
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/forwarder/README.md
  pkg/forwarder/domain_forwarder.go
  pkg/forwarder/domain_forwarder_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/test_common.go
  pkg/forwarder/transaction.go
  releasenotes/notes/forwarder-retry-queue-payloads-max-size-adc4053aaac6175b.yaml
Labels: team/agent-core

#6609 [7.23.1 changelog] Remove link to integrations
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6603 [Tagger][Aggregator] Add Agent tagger tags to telemetry metrics submitted by the Aggregator
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/config/config.go
  pkg/tagger/global.go
Labels: changelog/no-changelog, team/containers

#6525 Add library for system-probe module heartbeats
  cmd/process-agent/main_common.go
  cmd/system-probe/main.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/process/heartbeat/api_watcher.go
  pkg/process/heartbeat/metric_flusher.go
  pkg/process/heartbeat/metric_flusher_test.go
  pkg/process/heartbeat/monitor.go
  pkg/process/heartbeat/monitor_test.go
  pkg/process/heartbeat/statsd_flusher.go
Labels: changelog/no-changelog, team/networks

#6605 [runtime-security] zero the event instead of allocation
  pkg/security/probe/model_accessors.go
  pkg/security/probe/probe_bpf.go
  pkg/security/secl/generators/accessors/accessors.go
Labels: changelog/no-changelog, team/agent-security

#6461 [runtime-security] fix container_path and inode
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/filename.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mnt.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setattr.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/c/umount.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/open.go
  pkg/security/probe/model.go
  pkg/security/probe/mount.go
  pkg/security/probe/mount_test.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/resolvers_bpf.go
  pkg/security/rules/bucket.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/tests.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
  pkg/security/utils/proc.go
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#6456 Finer checking of GetEvents() rate limiting
  pkg/security/module/server.go
Labels: changelog/no-changelog, team/agent-security

#6620 [gitlab] add missing image ref on revert jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#6606 Fix racy test
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6608 [runtime-security] Fix discarders with rules mixing filename and basename
  pkg/security/probe/kfilters.go
  pkg/security/probe/kfilters_bpf.go
  pkg/security/probe/kfilters_test.go
  pkg/security/probe/open_bpf.go
  pkg/security/probe/unlink_bpf.go
  pkg/security/rules/ruleset.go
Labels: changelog/no-changelog, team/agent-security

#6592 [orchestrator] ensure leader runs
  pkg/clusteragent/orchestrator/controller.go
  pkg/clusteragent/orchestrator/status.go
  pkg/status/templates/orchestrator.tmpl
  releasenotes-dca/notes/fix-leader-election-1ac51001b205541a.yaml
Labels: component/cluster-agent, team/container-app

#6413 Tracemalloc: Rename white/blacklist to include/exclude
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes/notes/tracemalloc-include-exclude-f3130fc4f932eeef.yaml
Labels: changelog/no-changelog, team/agent-core

#6457 Migrate e2e tests from CoreOS Container Linux to Fedora CoreOS
  .gitlab-ci.yml
  tasks/test.py
  test/e2e/argo-workflows/agent.yaml
  test/e2e/argo-workflows/cluster-agent.yaml
  test/e2e/argo-workflows/templates/cpu-stress.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/templates/dsd-hostname.yaml
  test/e2e/argo-workflows/templates/fake-datadog.yaml
  test/e2e/argo-workflows/templates/logs-hello-world.yaml
  test/e2e/argo-workflows/templates/nginx.yaml
  test/e2e/argo-workflows/templates/redis.yaml
  test/e2e/argo-workflows/workflow.yaml
  test/e2e/containers/fake_datadog/Dockerfile
  test/e2e/containers/fake_datadog/app/api.py
  test/e2e/containers/fake_datadog/app/requirements.txt
  test/e2e/scripts/run-instance/10-pupernetes-wait.sh
  test/e2e/scripts/run-instance/11-pupernetes-ready.sh
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/21-argo-setup.sh
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/run-instance/argo.sha512sum
  test/e2e/scripts/setup-instance/00-entrypoint-dev.sh
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
  test/e2e/scripts/setup-instance/02-ec2.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, dev/testing, team/containers

#6507 [loader/jmx] Report jmx loading error in agent status
  pkg/collector/corechecks/embed/jmx/fixtures/jmx.yaml
  pkg/collector/corechecks/embed/jmx/fixtures/kafka.yaml
  pkg/collector/corechecks/embed/jmx/loader.go
  pkg/collector/scheduler.go
Labels: changelog/no-changelog, team/agent-core

#6560 dogstatsd_mapper_profiles can be set via environment variable
  pkg/config/config.go
  pkg/config/config_test.go
  releasenotes/notes/mapper-profiles-as-env-var-b77eda826b697c87.yaml
Labels: team/agent-core

#6624 Prevent collectors from deleting others' tags
  pkg/tagger/README.md
  pkg/tagger/tagstore.go
  pkg/tagger/tagstore_test.go
  releasenotes/notes/prevent-tag-deletion-from-multiple-sources-3c7182119d955f2a.yaml
Labels: changelog/no-changelog, team/containers

#6554 Expose log ingestion volume per source in agent-status and expvar
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/config/source.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/journald/tailer.go
  pkg/logs/input/listener/tailer.go
  pkg/logs/input/traps/tailer.go
  pkg/logs/input/windowsevent/tailer_windows.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/status/templates/logsagent.tmpl
  releasenotes/notes/per-source-log-volume-42a57217d16cbd11.yaml
Labels: team/agent-core

#6518 [system-probe] Make port mapping code network namespace aware
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/ebpf/c/tracer-ebpf.c
  pkg/ebpf/c/tracer-ebpf.h
  pkg/ebpf/event.go
  pkg/ebpf/testdata/teardown_simulate_udp.sh
  pkg/ebpf/tracer.go
  pkg/ebpf/tracer_direction_test.go
  pkg/ebpf/tracer_test.go
  pkg/network/port.go
  pkg/network/port_test.go
  pkg/network/proc_net.go
  pkg/network/proc_net_test.go
  pkg/network/testdata/setup_netns.sh
  pkg/network/testdata/teardown_netns.sh
  pkg/process/util/netns.go
  pkg/process/util/util.go
  tasks/process_agent.py
  tasks/system_probe.py
  tools/ebpf/Dockerfiles/Dockerfile-process-agent-dev
Labels: changelog/no-changelog, component/system-probe, team/networks

#6639 [runtime-security] safer zero event
  pkg/security/probe/model_accessors.go
  pkg/security/probe/probe_bpf.go
  pkg/security/secl/generators/accessors/accessors.go
Labels: changelog/no-changelog, team/agent-security

#6630 Support arbitrary tag values on the forwarder behind a feature flag
  pkg/config/config.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
Labels: changelog/no-changelog, team/agent-core

#6637 cherry-pick npm fixes to 7.23.2 for beta
  CHANGELOG.rst
  pkg/ebpf/tracer_test.go
  pkg/ebpf/tracer_windows.go
  pkg/network/ddnpmapi.h
  pkg/network/driver_interface.go
  pkg/network/event_windows.go
  pkg/network/state.go
  release.json
Labels: changelog/no-changelog, team/networks

#6646 [tasks/deploy] Bump cryptography dependency
  tasks/deploy/requirements-github.txt
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6631 pkg/trace/config: ensure apm_config.analyzed_spans allows non-float64
  pkg/trace/config/apply.go
  releasenotes/notes/apm-analyzed-spans-float64-bug-ed3f1011ef393f06.yaml
Labels: team/agent-apm

#6515 Support passing cluster-wide user tags
  go.mod
  go.sum
  pkg/clusteragent/orchestrator/controller.go
  pkg/clusteragent/orchestrator/processor.go
  pkg/config/config.go
  pkg/orchestrator/pod.go
  pkg/process/checks/pod.go
  releasenotes-dca/notes/orchestrator-cluster-tags-f91a25192a22c753.yaml
Labels: component/cluster-agent, team/container-app

#6617 Add ability to retry host tags providers and set Kubernetes retry to 10s
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/metadata/host/host_tags.go
  pkg/metadata/host/host_tags_test.go
  releasenotes/notes/fix-missing-host-tags-7662be0de55b5493.yaml
Labels: component/metadata, team/containers

#6634 Check error on system-probe debug server if activated as it may be scraped by an Agent check
  cmd/system-probe/main.go
Labels: changelog/no-changelog, team/containers

#6645 pkg/trace: push UTF8 validation and repair into decoding layer to ensure strings are UTF8 validated at most once
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/pb/decoder.go
  pkg/trace/pb/decoder_test.go
  releasenotes/notes/apm-utf8-validate-7d04e6f4718cb248.yaml
Labels: team/agent-apm

#6584 Simplify and isolate Kubelet client
  pkg/config/config.go
  pkg/util/filesystem/file.go
  pkg/util/kubernetes/auth.go
  pkg/util/kubernetes/kubelet/init.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_client.go
  pkg/util/kubernetes/kubelet/kubelet_hosts.go
  pkg/util/kubernetes/kubelet/kubelet_hosts_test.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  test/integration/util/kubelet/securekubelet_test.go
Labels: changelog/no-changelog, team/containers

#6642 [runtime-security] Isolate mount point events handler
  pkg/security/probe/mount.go
  pkg/security/probe/mount_test.go
  pkg/security/probe/probe_bpf.go
  pkg/security/tests/mount_test.go
Labels: changelog/no-changelog, team/agent-security

#6640 Improve system-probe config loading
  pkg/config/config_template.yaml
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfig-NetConfig.yaml
  pkg/process/config/testdata/TestDDAgentConfig-OOMKillOnly.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly.yaml
  pkg/process/config/yaml_config.go
  releasenotes/notes/fix-system-probe-config-d2c8df32f453109b.yaml
Labels: team/agent-security, team/networks

#6636 [collector] Add `Cancel` to the `check.Check` interface
  pkg/collector/check/check.go
  pkg/collector/check/id_test.go
  pkg/collector/check/stub.go
  pkg/collector/collector.go
  pkg/collector/collector_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/embed/apm.go
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/collector/corechecks/embed/process_agent.go
  pkg/collector/corechecks/loader_test.go
  pkg/collector/python/check.go
  pkg/collector/runner/runner_test.go
  pkg/collector/scheduler/scheduler_test.go
  pkg/compliance/checks/check.go
Labels: changelog/no-changelog, component/collector, team/agent-core, team/containers

#6651 Fix when upgrading from a prior, non-npm-enabled release.
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#6480 pkg/trace/obfuscate: optimize the SQL obfuscator
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/refactor-sql-obfuscator-3c8a0d1ef428c410.yaml
Labels: team/agent-apm

#6653 [logs/source] 64-bit align BytesRead expvar on 32-bit systems
  pkg/logs/config/source.go
Labels: changelog/no-changelog, team/agent-core

#5671 [logging] Makes jmxfetch use its own logger
  cmd/agent/api/agent/agent.go
  cmd/agent/app/app.go
  cmd/agent/app/flare.go
  cmd/agent/app/run.go
  cmd/agent/common/common_android.go
  cmd/agent/common/common_darwin.go
  cmd/agent/common/common_nix.go
  cmd/agent/common/common_windows.go
  cmd/agent/gui/agent.go
  cmd/security-agent/common/check_command.go
  cmd/systray/doflare.go
  pkg/config/config.go
  pkg/config/log.go
  pkg/flare/archive.go
  pkg/flare/archive_nix_test.go
  pkg/flare/archive_test.go
  pkg/jmxfetch/jmxfetch.go
  pkg/trace/agent/agent_test.go
  pkg/trace/logutil/throttled_test.go
  pkg/trace/watchdog/logonpanic_test.go
  pkg/trace/writer/sender_test.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  pkg/util/log/log.go
  pkg/util/log/log_bench_test.go
  pkg/util/log/log_test.go
Labels: changelog/no-changelog, team/agent-core

#6626 [logs/k8s] Retry query to kubelet
  pkg/logs/input/kubernetes/launcher.go
Labels: changelog/no-changelog, team/agent-core

#6572 pkg/trace/agent: use automaxprocs
  LICENSE-3rdparty.csv
  cmd/trace-agent/main.go
  go.mod
  go.sum
  releasenotes/notes/apm-automaxprocs-41ca2da9b16c36e3.yaml
Labels: team/agent-apm

#6652 [KSM core] Implement Cancel()
  pkg/collector/corechecks/cluster/kubernetes_state.go
Labels: changelog/no-changelog, team/containers

#6650 [compliance] Fix truncated status in compliance checks
  pkg/status/templates/compliance.tmpl
  releasenotes/notes/fix-truncated-compliance-status-output-ec5f92b3751d1d00.yaml
Labels: kind/bug, team/containers

#6648 Add additional pause container regex filter
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  releasenotes/notes/add-additional-pause-container-filters-xok77yd3ez5dxstw.yaml
Labels: team/containers

#6657 [test] Fix tests_ebpf
  pkg/security/tests/tests.go
Labels: changelog/no-changelog, team/agent-security

#6612 Adding prelude and update changelog commands for DCA
  releasenotes-dca/config.yaml
  releasenotes-dca/notes/Add-Group-exec-perm-for-the-SecretBackend-command-a7fbe1ece1fad50b.yaml
  releasenotes-dca/notes/enable-stats-collection-from-clc-runners-baf52a8a434b86aa.yaml
  releasenotes-dca/notes/expose-metrics-clc-advanced-ee6b571da0daf3f8.yaml
  tasks/release.py
Labels: changelog/no-changelog, team/agent-core, team/containers

#6659 Adding Changelog for 1.9.1
  CHANGELOG-DCA.rst
  release.json
Labels: changelog/no-changelog, team/containers

#6625 tcp_queue_length: aggregate the fill rate of tcp buffers for all the connections of a container
  cmd/agent/dist/conf.d/tcp_queue_length.d/conf.yaml.example
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/ebpf/c/bpf-common.h
  pkg/ebpf/c/tcp-queue-length-kern.c
  pkg/ebpf/tcp-queue-length-kern-user.h
  pkg/ebpf/tcp_queue_length.go
  pkg/ebpf/tcpqueuelength/types.go
  pkg/process/net/check.go
  releasenotes/notes/tcp-queue-length-max-fill-rate-492a5b1a6444a609.yaml
Labels: component/system-probe, kind/performance, team/containers

#6614 [DCA] Convert klog logs to datadog logs
  cmd/cluster-agent/klog.go
  go.mod
Labels: changelog/no-changelog, team/containers

#6491 Track forwarder payload bytesize
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/forwarder/domain_forwarder.go
  pkg/forwarder/domain_forwarder_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/test_common.go
  pkg/forwarder/transaction.go
  pkg/forwarder/transaction_test.go
  pkg/status/templates/forwarder.tmpl
Labels: changelog/no-changelog, kind/enhancement, team/agent-core, team/container-app

#6658 pkg/trace: Trim unused sublayer tags set on spans
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/stats/sublayers.go
  pkg/trace/stats/sublayers_test.go
  pkg/trace/test/testsuite/sublayers_test.go
  releasenotes/notes/apm-remove-analytics-sublayers-737fa4255043ff02.yaml
Labels: changelog/no-changelog, team/agent-apm

#6661 Updating dev doc about labels and milestones
  docs/dev/contributing.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#6524 Export security_agent running metrics
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/metrics.go
  cmd/security-agent/app/runtime.go
  cmd/security-agent/app/runtime_unsupported.go
Labels: changelog/no-changelog, team/agent-security

#6654 Update default value for forwarder_retry_queue_payloads_max_size.
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-core

#6567 Make failure logs more readable
  tools/windows/install-help/cal/caninstall.cpp
Labels: changelog/no-changelog, team/agent-platform

#6619 [DCA] [orchestrator] optimize scrubbing for orchestrator containers
  pkg/clusteragent/orchestrator/controller.go
  pkg/clusteragent/orchestrator/processor.go
  pkg/orchestrator/config/config.go
  pkg/orchestrator/data_scrubber.go
  pkg/orchestrator/data_scrubber_test.go
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
  pkg/process/checks/pod.go
  pkg/process/config/data_scrubber.go
  pkg/process/config/data_scrubber_test.go
Labels: changelog/no-changelog, component/cluster-agent, team/container-app

#6664 [runtime-security] Send inode invalidation events only when necessary
  pkg/ebpf/bytecode/tracer-ebpf.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/probe.c
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/probe/probe_bpf.go
Labels: changelog/no-changelog, team/agent-security

#6595 add entity to jmx config
  pkg/collector/corechecks/embed/jmx/loader.go
Labels: changelog/no-changelog, team/containers

#6666 [omnibus] Fix snowflake-connector-python dependencies
  omnibus/config/patches/snowflake-connector-python-py2/cryptography-dependency.patch
  omnibus/config/patches/snowflake-connector-python-py3/cryptography-dependency.patch
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/snowflake-connector-python-py2.rb
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/agent-platform, team/integrations

#6565 JMXFetch support dogstatsd over UDS
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/dogstatsd/server.go
  pkg/jmxfetch/jmxfetch.go
  pkg/status/jmx_status.go
  pkg/status/templates/jmxfetch.tmpl
  release.json
  releasenotes/notes/jmxfetch-support-uds-dff1750ddba3b575.yaml
Labels: team/agent-core

#6647 [windows] Upgrade builders
  .gitlab-ci.yml
  tasks/test.py
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/libyajl2_install.ps1
Labels: changelog/no-changelog, team/agent-platform

#6671 [macos] Keep excluding snowflake
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, team/agent-platform, team/integrations
