Repository DataDog/datadog-agent, pull requests merged in 2021-01, with the labels that each got.

#7087 [runtime-security] do not rely on ticker to handle remaining events in queue
  go.mod
  go.sum
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/module/module.go
  pkg/security/module/rate_limiter.go
  pkg/security/module/server.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/reorderer.go
Labels: changelog/no-changelog, team/agent-security

#6211 pkg/trace/obfuscate: Normalize arrays and table names
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_test.go
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-group-arrays-and-quantize-table-names-276e71a2949631e2.yaml
Labels: team/agent-apm

#7070 [system-probe] set is_windows automatically
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7093 Add object kind tags to k8s events
  pkg/collector/corechecks/cluster/kubernetes_eventbundle.go
  pkg/collector/corechecks/cluster/kubernetes_eventbundle_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/util/kubernetes/const.go
  releasenotes/notes/k8s-events-tagging-b6eaff06cd73fd9f.yaml
Labels: team/containers

#6968 [runtime-security] Make CPU part of the events
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/umount.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/probe/model.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/reorderer.go
Labels: changelog/no-changelog, team/agent-security

#7065 [runtime-security] Introduce datadog.runtime_security.process_resolver.cache_miss and add support for kernel processes in snapshot
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
  pkg/security/ebpf/manager.go
  pkg/security/module/module.go
  pkg/security/probe/model.go
  pkg/security/probe/mount.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security

#7097 [runtime-security] Do not keep eBPF as bindata any more
  pkg/ebpf/bytecode/bindata/bindataRuntimesecurityO.go
  pkg/ebpf/bytecode/bindata/bindataRuntimesecuritysyscallwrapperO.go
Labels: changelog/no-changelog, team/agent-security

#7095 [procutil] add OpenFdCount data collection
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#6988 Refactor build batch files so that there's a file for building locally
  tasks/winbuildscripts/buildlocal.bat
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/dobuild.bat
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7053 [windows] Make uninstall/upgrade explicitly stop all services.
  releasenotes/notes/installstopallservices-5391c764f737d90a.yaml
  tools/windows/install-help/cal/CustomAction.cpp
  tools/windows/install-help/cal/customaction.h
  tools/windows/install-help/cal/stopservices.cpp
Labels: team/agent-platform

#7036 [runtime-security] fix path resolution from lower layer and invalidate discarder on whiteout
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/filters.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setattr.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/c/umount.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/open.go
  pkg/security/probe/consts.go
  pkg/security/probe/discarders.go
  pkg/security/probe/model.go
  pkg/security/probe/mount.go
  pkg/security/probe/mount_test.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/reorderer.go
  pkg/security/probe/resolvers.go
  pkg/security/rules/policy.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
Labels: changelog/no-changelog, team/agent-security

#7045 [KubeUtil] Identify NotFound and Retriable errors
  pkg/errors/errors.go
  pkg/errors/errors_test.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/testdata/invalid.json
Labels: changelog/no-changelog, team/containers

#7075 [runtime-security] introduce stress and performance regression tests
  .gitlab-ci.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/security/tests/setup_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/stresser.go
  tasks/security_agent.py
  test/kitchen/kitchen-azure-security-agent-stress.yml
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/dd-security-agent-stress/rspec/dd-security-agent-stress_spec.rb
  test/kitchen/test/integration/dd-security-agent-test/rspec/dd-security-agent-test_spec.rb
Labels: changelog/no-changelog, team/agent-security

#7107 [Fix] Fix sending duplicated k8s events
  pkg/util/kubernetes/apiserver/events.go
  releasenotes/notes/fix-k8s-events-0438b8a02a838106.yaml
Labels: kind/bug, team/containers

#7090 [dogstatsd] optional EOL termination requirement
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, team/agent-core

#7108 [gitlab] Update periodic cleanup script to remove all kitchen resources
  .gitlab-ci.yml
  test/kitchen/docs/README.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7100 Fix MappingProfile Json Parsing of match_type
  pkg/config/config.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, team/agent-core

#6801 Logs agent pipeline latency statistics on status page
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/compliance/event/reporter.go
  pkg/logs/config/source.go
  pkg/logs/decoder/decoder.go
  pkg/logs/input/docker/tailer.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/journald/tailer.go
  pkg/logs/input/listener/tailer.go
  pkg/logs/input/traps/tailer.go
  pkg/logs/input/windowsevent/tailer.go
  pkg/logs/message/message.go
  pkg/logs/processor/processor_test.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
  pkg/logs/sender/message_buffer_test.go
  pkg/logs/sender/sender_test.go
  pkg/logs/sender/serializer_test.go
  pkg/logs/sender/stream_strategy.go
  pkg/logs/sender/stream_strategy_test.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/status/templates/logsagent.tmpl
  pkg/util/stats_tracker.go
  pkg/util/stats_tracker_test.go
  releasenotes/notes/log-pipeline-latency-stats-bd10d36fa6d08e8c.yaml
Labels: team/agent-core

#6959 Prevent unsafe map access in inventories (#6958)
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  releasenotes/notes/Fix-a-crash-in-metadata/inventories-dce415da91e3fec5.yaml
Labels: team/agent-core

#7110 Fix deadlock in HTTP monitor
  pkg/network/http/monitor.go
Labels: changelog/no-changelog, team/networks

#7111 Improve TestShouldSkipExcludedConnection
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7056 Optimise KSMv2 check
  .github/CODEOWNERS
  pkg/collector/corechecks/cluster/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetes_state_label_joins.go
  pkg/collector/corechecks/cluster/kubernetes_state_label_joins_test.go
  pkg/collector/corechecks/cluster/kubernetes_state_test.go
  tasks/bench.py
  test/benchmarks/kubernetes_state/README.md
  test/benchmarks/kubernetes_state/main.go
  test/benchmarks/kubernetes_state/testdata/.gitignore
  test/benchmarks/kubernetes_state/testdata/generate.sh
Labels: changelog/no-changelog, kind/enhancement, team/containers

#7112 [release] adding release entries for 7.25.0-rc.10
  release.json
Labels: changelog/no-changelog, team/agent-core

#7049 [procutil] add StatsForPIDs function
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#7113 Fix: only push internal images on release with a manual validation
  .gitlab/image_deploy/internal_trigger.yml
Labels: changelog/no-changelog, team/containers

#7115 Fix the image push to internal registry in gitlabci
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/containers

#6869 [runtime-security] Export concurrent syscalls count metric
  go.mod
  go.sum
  pkg/security/ebpf/c/raw_syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/syscall_stats.go
Labels: changelog/no-changelog, team/agent-security

#6798 Add autodiscovery of environment features to setup AD and checks
  Dockerfiles/agent/datadog-docker.yaml
  Dockerfiles/agent/datadog-ecs.yaml
  Dockerfiles/agent/datadog-k8s-docker.yaml
  Dockerfiles/agent/datadog-kubernetes.yaml
  Dockerfiles/agent/entrypoint-ps1/50-kubernetes.ps1
  Dockerfiles/agent/entrypoint-ps1/51-docker.ps1
  Dockerfiles/agent/entrypoint/50-cri.sh
  Dockerfiles/agent/entrypoint/50-ecs.sh
  Dockerfiles/agent/entrypoint/50-kubernetes.sh
  Dockerfiles/agent/entrypoint/51-docker.sh
  Dockerfiles/agent/test_image_contents.py
  cmd/agent/app/config.go
  cmd/agent/app/config_check.go
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/jmx.go
  cmd/agent/app/listchecks.go
  cmd/agent/app/reloadcheck.go
  cmd/agent/app/run.go
  cmd/agent/app/secret.go
  cmd/agent/app/standalone/setup.go
  cmd/agent/app/status.go
  cmd/agent/app/tagger_list.go
  cmd/agent/common/auto_listener.go
  cmd/agent/common/auto_listener_docker.go
  cmd/agent/common/auto_listener_nodocker.go
  cmd/agent/common/autoconfig.go
  cmd/agent/common/autoconfig_test.go
  cmd/agent/common/autodiscovery.go
  cmd/agent/common/commands/check.go
  cmd/agent/common/commands/health.go
  cmd/agent/common/loader.go
  cmd/agent/dist/conf.d/containerd.d/conf.yaml.default
  cmd/agent/dist/conf.d/cri.d/conf.yaml.default
  cmd/agent/dist/conf.d/docker.d/conf.yaml.default
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/config.go
  cmd/cluster-agent/app/metadata_mapper_digest.go
  cmd/cluster-agent/app/status.go
  cmd/cluster-agent/commands/clusterchecks.go
  cmd/cluster-agent/commands/configcheck.go
  cmd/security-agent/app/config.go
  cmd/security-agent/app/status.go
  pkg/autodiscovery/listeners/environment.go
  pkg/config/config.go
  pkg/config/config_overrides.go
  pkg/config/config_test.go
  pkg/config/environment.go
  pkg/config/environment_autodiscovery.go
  pkg/config/environment_detection.go
  releasenotes/notes/autodiscovery-container-runtimes-1c0bab73f1052663.yaml
Labels: component/config, major_change, team/containers

#6998 Check ListenAndServe return status
  cmd/agent/app/run.go
  cmd/cluster-agent/main.go
  cmd/dogstatsd/main_nix.go
  cmd/dogstatsd/main_windows.go
  cmd/process-agent/main_common.go
  cmd/security-agent/app/app.go
  cmd/serverless/main.go
Labels: changelog/no-changelog, team/agent-core

#7117 Fix build broken in #6998
  cmd/process-agent/main_common.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7119 [gitlab] Allow pupernetes-master job to fail
  .gitlab/e2e.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform, team/containers

#7042 Enable transport for host metadata calls
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/util/alibaba/alibaba.go
  pkg/util/azure/azure.go
  pkg/util/ec2/ec2.go
  pkg/util/gce/gce.go
  releasenotes/notes/enable-transport-for-metadata-calls-727408e9f5916cb7.yaml
Labels: team/agent-core

#7020 [windows] migrate to new VS2019 based build containers
  .gitlab-ci.yml
  Dockerfiles/agent/windows/.gitignore
  Dockerfiles/agent/windows/entrypoint/Service.cpp
  Dockerfiles/agent/windows/entrypoint/build.bat
  Dockerfiles/agent/windows/entrypoint/entrypoint.vcxproj
  tools/windows/install-help/cal/customaction-tests/customaction-tests.vcxproj
  tools/windows/install-help/cal/customaction.vcxproj
  tools/windows/install-help/install-cmd/install-cmd.vcxproj
  tools/windows/install-help/uninstall-cmd/uninstall-cmd.vcxproj
Labels: changelog/no-changelog, team/agent-platform

#7120 tasks/dogstatsd: slightly increase the maximum valid size for the DogStatsD binary size.
  tasks/dogstatsd.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7081 Improve memory allocation made by EnrichTags
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_bench_test.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/listeners/packet_assembler_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/event.go
  pkg/metrics/histogram_bucket.go
  pkg/metrics/metric_sample.go
  pkg/metrics/service_check.go
Labels: changelog/no-changelog, do-not-merge/WIP, team/agent-core

#6985 Return status message directly if no conditions
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
Labels: changelog/no-changelog, team/container-app

#7085 [process-agent] Use build tag to disable docker collector on macOS
  pkg/process/util/containers.go
  pkg/util/containers/collectors/docker.go
Labels: changelog/no-changelog, team/container-app, team/containers, team/processes

#7124 [DCA][Fix] Avoid potential nil pointer
  pkg/autodiscovery/listeners/kube_endpoints.go
Labels: changelog/no-changelog, team/containers

#7114 [networks] Skip flaky HTTP test for now
  pkg/network/http/monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7102 Use 8.8.4.4 as test address during offset guessing
  pkg/network/netlink/ntohs.go
  pkg/network/netlink/ntohs_test.go
  pkg/network/tracer/event.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer_test.go
  releasenotes/notes/sysprobe-udp-dest-addr-fix-c3cb9cffd623c1bd.yaml
Labels: kind/bug, team/networks

#6897 Support nonexact matches for no_proxy
  LICENSE-3rdparty.csv
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/metadata/host/host.go
  pkg/metadata/host/host_test.go
  pkg/metadata/host/payload.go
  pkg/status/status.go
  pkg/status/templates/header.tmpl
  pkg/util/http/transport.go
  pkg/util/http/transport_test.go
  releasenotes/notes/no-proxy-nonexact-match-cb5b83bc4c555176.yaml
Labels: team/agent-core

#7101 Modify libyajl2 so that build is always done in-container (even when
  tasks/winbuildscripts/libyajl2_install.ps1
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7106 Update PR template `Describe your test plan`
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7131 [gitlab] Increase dsd max size test to 21MiB
  tasks/dogstatsd.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core, team/agent-platform

#7077 Simplify the Forwarder interface by removing the argument `priority`
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
Labels: changelog/no-changelog, team/agent-core

#7028 [runtime-security] Ignore self generated events
  pkg/security/ebpf/c/filters.h
  pkg/security/probe/probe_bpf.go
  pkg/security/tests/setup_test.go
Labels: changelog/no-changelog, team/agent-security

#7098 Add a comment for HttpTransaction handlers.
  pkg/forwarder/transaction.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7116 [ECS Fargate] Fix and improve collecting containers resource limits
  pkg/util/ecs/common.go
  pkg/util/ecs/common_test.go
  releasenotes/notes/ecs-fargate-resource-limits-a5202ebdbef7ff32.yaml
Labels: team/containers, team/processes

#7128 [procutil] move Status field to Stats structure
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_model.go
Labels: changelog/no-changelog, team/processes

#7130 logging instance id for easier cross-referencing of build problems
  .gitlab/binary_build/windows.yml
  .gitlab/choco_build.yml
  .gitlab/choco_deploy.yml
  .gitlab/deploy_7/docker.yml
  .gitlab/docker_common/tag_job_templates.yml
  .gitlab/image_build/docker_windows.yml
  .gitlab/package_build/windows.yml
  .gitlab/source_test/windows.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7134 Fix end-to-end tests
  test/e2e/scripts/setup-instance/01-ignition.sh
Labels: changelog/no-changelog, dev/testing, team/containers

#7137 [networks] Avoid netlink for UDP timeouts
  pkg/network/config/tracer_config.go
  pkg/network/tracer/event.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks

#7140 [backport][networks] Avoid netlink for UDP timeouts
  pkg/network/config/tracer_config.go
  pkg/network/tracer/event.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks

#7142 7.25.0 RC11 release json
  release.json
Labels: changelog/no-changelog, team/agent-core

#7123 [AD] Auto-configure prometheus config providers
  cmd/agent/common/autodiscovery.go
  pkg/config/autodiscovery/autodiscovery.go
  pkg/config/environment_autodiscovery.go
  releasenotes-dca/notes/prometheus-autodiscovery-83ae779949c15478.yaml
  releasenotes/notes/prometheus-autodiscovery-83ae779949c15478.yaml
Labels: changelog/no-changelog, team/containers

#6861 [cmd/serverless] add support for Logs Collection in the Datadog Agent Extension
  cmd/agent/app/run.go
  cmd/agent/app/settings/runtime_settings_test.go
  cmd/dogstatsd/main.go
  cmd/serverless/main.go
  pkg/aggregator/aggregator.go
  pkg/config/log.go
  pkg/config/log_format.go
  pkg/config/log_format_serverless.go
  pkg/dogstatsd/README.md
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/logs/agent.go
  pkg/logs/auditor/auditor.go
  pkg/logs/auditor/auditor_test.go
  pkg/logs/auditor/null_auditor.go
  pkg/logs/client/destinations_context.go
  pkg/logs/config/integration_config.go
  pkg/logs/input/channel/launcher.go
  pkg/logs/input/channel/tailer.go
  pkg/logs/logs.go
  pkg/logs/message/message.go
  pkg/logs/pipeline/mock/mock.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
  pkg/logs/processor/encoder.go
  pkg/logs/processor/encoder_noserverless.go
  pkg/logs/processor/encoder_serverless.go
  pkg/logs/processor/json.go
  pkg/logs/processor/json_serverless.go
  pkg/logs/processor/processor.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/stream_strategy.go
  pkg/logs/sender/stream_strategy_test.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/logs.go
  pkg/serverless/protocol.go
  pkg/serverless/serverless.go
  test/benchmarks/dogstatsd/main.go
Labels: changelog/no-changelog, team/agent-core

#7144 Revert "[gitlab] Allow pupernetes-master to fail (#7119)"
  .gitlab/e2e.yml
Labels: changelog/no-changelog, dev/testing, team/containers

#7139 [logs] changing process-agent log message to only log nonempty queues
  cmd/process-agent/collector.go
Labels: changelog/no-changelog, team/processes

#7148 Delete entry from `pending_bind` map in kretprobe
  pkg/network/ebpf/c/prebuilt/tracer.c
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7150 7.25.0 release.json
  release.json
  releasenotes/notes/prelude-release-7.25.0-94197cd079863800.yaml
Labels: changelog/no-changelog, team/agent-core

#7153 7.25.0 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#7138 [orchestrator] add config tests and use viper auto register of envar
  pkg/config/config.go
  pkg/orchestrator/config/config.go
  pkg/orchestrator/config/config_test.go
Labels: changelog/no-changelog, team/container-app

#7155 [gitlab] Update rpm devtoolset in rpm builders
  .gitlab-ci.yml
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-platform

#6607 [runtime-security] Add perf buffer usage metrics
  pkg/config/config.go
  pkg/ebpf/bytecode/bindata/.gitignore
  pkg/security/config/config.go
  pkg/security/ebpf/c/buffer_selector.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/raw_syscalls.h
  pkg/security/ebpf/manager.go
  pkg/security/ebpf/map.go
  pkg/security/ebpf/probes/all.go
  pkg/security/module/module.go
  pkg/security/probe/event_stats.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/syscall_stats.go
  pkg/security/tests/.gitignore
  pkg/security/tests/stress_test.go
  releasenotes/notes/runtime-security-perf-map-monitor-741fc50bfe4f68a1.yaml
  tasks/system_probe.py
Labels: team/agent-security

#6973 [runtime-security] Add support for openat2 syscall
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/open.go
  pkg/security/ebpf/probes/syscall_helpers.go
  pkg/security/tests/open_test.go
Labels: changelog/no-changelog, team/agent-security

#7133 pkg/trace/agent: simplify rates
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/sampler.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/coresampler_test.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/sampler.go
  pkg/trace/sampler/scoresampler.go
  pkg/trace/sampler/scoresampler_test.go
  pkg/trace/test/testutil/sampler.go
Labels: changelog/no-changelog, team/agent-apm

#7121 Revert "Revert "pkg/trace/{agent,stats}: add tag for synthetic data""
  pkg/trace/agent/agent.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/statsraw_test.go
  releasenotes/notes/apm-tag-synthetic-data-b9ecc0d78a1b594c.yaml
Labels: team/agent-apm

#7151 Constrain linux header search to only directories containing `uname -r`
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7152 Preserve numbers in probe expvar names but strip UID/PID
  pkg/ebpf/debugfs.go
  pkg/ebpf/probes.go
  pkg/network/tracer/string.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks

#7149 [cmd/health] Do not resolve secrets + fix CLI options
  cmd/agent/app/health.go
  cmd/agent/common/commands/health.go
  cmd/cluster-agent/app/health.go
  releasenotes/notes/health-cmd-without-secrets-c8d9abe36c225aa8.yaml
Labels: component/cluster-agent, team/agent-core, team/containers

#7173 [runtime-security] use passed duration for stress tests
  pkg/security/tests/stress_test.go
Labels: changelog/no-changelog, team/agent-security

#7160 Re-order offset guessing of dport and family fields
  pkg/network/tracer/offsetguess.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7125 [rtloader/aggregator] Parse optional flush_first_value boolean with |b
  releasenotes/notes/fix-agent-arm-metrics-23b8b5893b75a7d4.yaml
  rtloader/common/builtins/aggregator.c
Labels: team/agent-core, team/agent-platform

#7185 [7.25.0 changelog] Fix format nits + release date
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#7164 [pkg/dogstatsd] Fix `parseEvent` header parsing with negative values
  pkg/dogstatsd/parse_events.go
  pkg/dogstatsd/parse_events_test.go
  pkg/dogstatsd/server_test.go
  releasenotes/notes/fix-dogstatd-event-header-offset-parsing-f879851ece9974aa.yaml
Labels: team/agent-core

#7127 Use 8.8.4.4 as test address during offset guessing
  pkg/network/netlink/ntohs.go
  pkg/network/netlink/ntohs_test.go
  pkg/network/tracer/event.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer_test.go
  releasenotes/notes/sysprobe-udp-dest-addr-fix-c3cb9cffd623c1bd.yaml
Labels: kind/bug, team/networks

#7181 [bugfix] Re-order offset guessing of dport and family fields
  pkg/network/tracer/offsetguess.go
Labels: changelog/no-changelog, kind/bug, qa/skip-qa, team/networks

#7189 7.25.0 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-core

#7190 Do not try to vet an empty list of targets
  tasks/git-hooks/govet.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7177 [system-probe] do not keep eBPF as bindata any more
  .gitlab/binary_build/system_probe.yml
  .gitlab/source_test/ebpf.yml
  pkg/ebpf/bytecode/bindata/bindata.go
  pkg/ebpf/bytecode/bindata/bindataBpfcommonH.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessO.go
  pkg/ebpf/bytecode/bindata/bindataOffsetguessdebugO.go
  pkg/ebpf/bytecode/bindata/bindataOomkillkernC.go
  pkg/ebpf/bytecode/bindata/bindataOomkillkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataTcpqueuelengthkernC.go
  pkg/ebpf/bytecode/bindata/bindataTcpqueuelengthkernuserH.go
  pkg/ebpf/bytecode/bindata/bindataTracerO.go
  pkg/ebpf/bytecode/bindata/bindataTracerdebugO.go
  pkg/ebpf/bytecode/bindata/package.go
  pkg/ebpf/bytecode/ebpf_bytes_match_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#7182 [backport] [rtloader/aggregator] Parse optional flush_first_value boolean with |b
  releasenotes/notes/fix-agent-arm-metrics-23b8b5893b75a7d4.yaml
  rtloader/common/builtins/aggregator.c
Labels: team/agent-core, team/agent-platform

#7187 [collector] Fix flaky test on check Cancel timeout
  pkg/collector/collector_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7145 [runtime-security] Performance benchmark and tooling
  .gitlab/source_test/ebpf.yml
  pkg/security/tests/molecule/default/molecule.yml
  pkg/security/tests/molecule/resources/playbooks/check-symbol/converge.yml
  pkg/security/tests/molecule/resources/playbooks/check-symbol/verify.yml
  pkg/security/tests/molecule/resources/playbooks/noop.yml
  pkg/security/tests/molecule/resources/playbooks/run-script/converge.yml
  pkg/security/tests/molecule/resources/playbooks/run-script/verify.yml
  pkg/security/tests/molecule/resources/playbooks/testsuite/converge.yml
  pkg/security/tests/molecule/resources/playbooks/testsuite/verify.yml
  pkg/security/tests/setup_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/trace_pipe.go
  test/kitchen/kitchen-azure-security-agent-stress.yml
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/stress-tests.rb
  test/kitchen/test/integration/dd-security-agent-stress/rspec/dd-security-agent-stress_spec.rb
Labels: changelog/no-changelog, team/agent-security

#7191 [runtime-security] Fix event stats race
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#7193 [cherry-pick] Prevent unsafe map access in inventories (#6958)
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  releasenotes/notes/Fix-a-crash-in-metadata/inventories-dce415da91e3fec5.yaml
Labels: team/agent-core

#7143 [docs] test/e2e/README.md: Minor formatting improvements
  test/e2e/README.md
Labels: changelog/no-changelog, team/containers

#7104 (windows) backport fix for agent startup
  cmd/agent/app/run.go
  cmd/agent/windows/service/service.go
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#7091 [runtime-security] Load all macros before rules
  pkg/security/rules/policy.go
Labels: changelog/no-changelog, team/agent-security

#7192 [runtime-security] use logs tags for security events
  cmd/security-agent/common/check_command.go
  pkg/compliance/event/reporter.go
  pkg/compliance/mocks/reporter.go
  pkg/security/agent/agent.go
  pkg/security/api/api.pb.go
  pkg/security/api/api.proto
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/module/server.go
Labels: changelog/no-changelog, team/agent-security

#7200 serverless: space-separated lambda logs type to collect instead of comma-separated.
  cmd/serverless/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7197 7.25.1.rc1 release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#6952 [DCA] Add `external_metrics_provider.endpoint` config
  pkg/config/config.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  releasenotes-dca/notes/external-metrics-provider-endpoint-5f8ef7cd3879ecaa.yaml
Labels: team/containers

#7105 backport change password minimum password length to 16
  releasenotes/notes/winpasswordalgorithm-e8e35c26ee7096ad.yaml
  tools/windows/install-help/cal/customaction.h
  tools/windows/install-help/cal/usercreate.cpp
Labels: team/agent-platform

#7048 [windows] fix status to SCM
  cmd/agent/app/run.go
  cmd/agent/windows/service/service.go
Labels: changelog/no-changelog, team/agent-core, team/agent-platform

#7103 backport stop all services fix
  releasenotes/notes/installstopallservices-5391c764f737d90a.yaml
  tools/windows/install-help/cal/CustomAction.cpp
  tools/windows/install-help/cal/customaction.h
  tools/windows/install-help/cal/stopservices.cpp
Labels: team/agent-platform

#7203 [release] adding 7.25.1-rc.2 and 6.25.1-rc.2
  cmd/agent/windows/service/service.go
  release.json
Labels: changelog/no-changelog, team/agent-core

#7196 dogstatsd: Fix error handling in ListenUDP()
  pkg/dogstatsd/listeners/udp.go
  pkg/dogstatsd/listeners/udp_test.go
  releasenotes/notes/dogstatsd-Fix-error-handling-in-ListenUDP-288a788984dd1750.yaml
Labels: team/agent-core

#7158 [orchestrator] Add QoS to pod payload
  go.mod
  go.sum
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
  releasenotes/notes/orchestrator-Add-QoS-to-the-pod-payload-775e2f281339cc85.yaml
Labels: team/container-app

#7201 Document the usage of `GetClient(false)`.
  pkg/api/util/doget.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7207 [orchestrator] collect resourceVersion
  go.mod
  go.sum
  pkg/clusteragent/orchestrator/transformer_test.go
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
Labels: changelog/no-changelog, team/container-app

#7171 Fix flakiness in TestNamedPipeSeveralClients
  pkg/dogstatsd/listeners/named_pipe_windows_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7169 [logs] submit expected tags for configurable amount of time
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/logs/config/config.go
  pkg/logs/tag/provider.go
  pkg/logs/tag/provider_test.go
  pkg/metadata/host/host.go
  pkg/metadata/host/host_tags.go
  pkg/metadata/host/host_tags_test.go
  pkg/metadata/host/payload.go
  releasenotes/notes/logs-submit-expected-host-tags-7698438c382d2d68.yaml
Labels: team/agent-core

#7212 Fix Windows build scripts error checks
  tasks/winbuildscripts/buildlocal.bat
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/dobuild.bat
Labels: changelog/no-changelog, team/agent-platform

#7079 Remove retry queue from forwarder
  cmd/process-agent/collector.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/forwarder/README.md
  pkg/forwarder/domain_forwarder.go
  pkg/forwarder/domain_forwarder_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/transaction_container.go
  releasenotes/notes/remove-forwarder_retry_queue_max_size-a4b473b1249081f4.yaml
Labels: team/agent-core, team/processes

#7194 Sign deb packages
  .gitlab-ci.yml
  .gitlab/package_build/deb.yml
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/sign-deb-packages-a2c44c01554632a4.yaml
Labels: team/agent-platform

#7206 Update Android NDK and gomobile
  .gitlab/package_build/apk.yml
  bootstrap.json
  cmd/agent/android/build.gradle
  cmd/agent/android/gradle/wrapper/gradle-wrapper.properties
  tasks/go.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7174 Use go.mod to install tools
  .circleci/config.yml
  .gitlab-ci.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/linux.yml
  .gitlab/deps_fetch.yml
  .gitlab/package_build/apk.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/security_scan.yml
  .wwhrd.yml
  LICENSE-3rdparty.csv
  bootstrap.json
  cmd/agent/gui/gui.go
  go.mod
  go.sum
  pkg/security/probe/syscalls.go
  pkg/status/render.go
  pkg/trace/pb/trace.go
  tasks/android.py
  tasks/bootstrap.py
  tasks/go.py
  tasks/test.py
  tasks/winbuildscripts/unittests.ps1
  tools.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7216 Fix some Windows CI jobs being green even when failing
  .gitlab/binary_build/windows.yml
  .gitlab/package_build/windows.yml
  .gitlab/source_test/windows.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7118 Update config.go
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#7209 [runtime-security] fix process cache entry memory leak
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/model.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_cache_entry.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#7211 [networks] Reduce allocations on connection close codepath
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer.go
  pkg/process/util/address.go
Labels: changelog/no-changelog, team/networks

#7205 [gitlab] Allow docker release jobs to target dev repositories on non-tagged pipelines
  .gitlab/deploy_6/docker.yml
  .gitlab/deploy_7/docker.yml
  .gitlab/docker_common/tag_job_templates.yml
  .gitlab/image_deploy/docker_windows.yml
Labels: changelog/no-changelog, team/agent-platform, team/containers

#7136 [logs/k8s] Retry query to kubelet, partial reimplementation of #6626
  pkg/logs/input/kubernetes/launcher.go
  pkg/logs/input/kubernetes/launcher_test.go
Labels: changelog/no-changelog, team/agent-core

#7161 Fix arm64 support for network tracer in system-probe
  pkg/ebpf/probes.go
  pkg/ebpf/probes_test.go
  pkg/network/config/config_linux.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/manager.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/netlink/testdata/setup_dnat6.sh
  pkg/network/netlink/testdata/teardown_dnat6.sh
  pkg/network/tracer/tracer_test.go
  releasenotes/notes/sysprobe-networks-arm64-e9fbfca70abc43a5.yaml
Labels: team/networks

#7129 [networks] Make dns_snooper.go OS agnostic
  pkg/network/dns.go
  pkg/network/dns_parser.go
  pkg/network/dns_snooper.go
  pkg/network/dns_snooper_test.go
  pkg/network/dns_stats.go
  pkg/network/dns_stats_test.go
  pkg/network/event_common.go
  pkg/network/packet_source_linux.go
  pkg/network/socket_filter.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tcp_dns_layer.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7221 [ci] Fix tests_ebpf
  .gitlab/source_test/ebpf.yml
Labels: changelog/no-changelog, team/networks

#7224 [system-probe] Fix: conntrack initial dump blocks due to output channel not being read
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/consumer.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#7222 Remove some hardcoded VOLUMES from Datadog Agent image
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  releasenotes/notes/remove-volumes-dockerfile-bfd439d55a7ba71e.yaml
Labels: team/containers

#7219 [runtime-security] fix eventstats race (#7191)
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#7057 [runtime-security] add support of pattern in list
  pkg/security/secl/ast/dot/dot.go
  pkg/security/secl/ast/dot/dot_test.go
  pkg/security/secl/ast/secl.go
  pkg/security/secl/ast/secl_test.go
  pkg/security/secl/eval/eval.go
  pkg/security/secl/eval/eval_test.go
  pkg/security/secl/eval/operators.go
Labels: changelog/no-changelog, team/agent-security

#7213 pkg/trace/agent: replace confusing maxTPS
  pkg/trace/agent/sampler.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env_test.go
  pkg/trace/info/testdata/okay.json
  pkg/trace/info/testdata/warning.json
  pkg/trace/sampler/adjust.go
  pkg/trace/sampler/adjust_test.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/coresampler_test.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/scoresampler.go
  pkg/trace/sampler/scoresampler_test.go
  pkg/trace/sampler/state.go
Labels: changelog/no-changelog, team/agent-apm

#7231 [Snyk] Security upgrade pyyaml from 5.3.1 to 5.4
  requirements.txt
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7199 Add datadog-agent jmx help message
  cmd/agent/app/jmx.go
Labels: changelog/no-changelog, team/agent-core

#7218 [runtime-security] Fix process cache entry memory leak (#7209)
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/model.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_cache_entry.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#7210 [runtime-security] add test and tool to test and debug process resolver
  cmd/security-agent/app/runtime.go
  pkg/security/agent/agent.go
  pkg/security/agent/client.go
  pkg/security/api/api.pb.go
  pkg/security/api/api.proto
  pkg/security/module/module.go
  pkg/security/module/server.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/process_resolver_test.go
  pkg/security/probe/resolvers.go
  releasenotes/notes/process-detection-cache-dump-3cc2e4e569b0e508.yaml
  tasks/security_agent.py
Labels: team/agent-security

#7215 pkg/trace: add feature flags to disable sublayer configs
  pkg/trace/agent/agent.go
  pkg/trace/stats/sublayers.go
Labels: changelog/no-changelog, team/agent-apm

#7214 [DCA] Do not overwrite DATADOG_HOST if it's set
  pkg/util/kubernetes/autoscalers/datadogexternal.go
Labels: changelog/no-changelog, team/containers

#7236 pkg/trace Support synthetics in stats endpoint
  pkg/trace/agent/agent.go
  pkg/trace/pb/stats.pb.go
  pkg/trace/pb/stats.proto
  pkg/trace/pb/stats_gen.go
  pkg/trace/pb/stats_gen_test.go
  pkg/trace/test/testsuite/testdata/clientstats.go
Labels: changelog/no-changelog, team/agent-apm

#7234 [docker/darwin] Disable docker check on macos
  pkg/collector/corechecks/containers/docker.go
  pkg/collector/corechecks/containers/docker_config.go
  pkg/collector/corechecks/containers/docker_eventbundle.go
  pkg/collector/corechecks/containers/docker_events.go
  pkg/collector/corechecks/containers/docker_events_test.go
  pkg/collector/corechecks/containers/docker_rate_capping.go
  pkg/collector/corechecks/containers/docker_rate_capping_test.go
  pkg/collector/corechecks/containers/docker_test.go
Labels: changelog/no-changelog, team/agent-core

#7109 [logs] Tail docker containers from file
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/input/container/launcher.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_nix.go
  pkg/logs/input/docker/launcher_nodocker.go
  pkg/logs/input/docker/launcher_test.go
  pkg/logs/input/docker/launcher_windows.go
  pkg/logs/input/file/tailer.go
  releasenotes/notes/tail-docker-containers-from-file-16f01b57a7adfab7.yaml
Labels: team/agent-core

#7237 pkg/trace Enable stats endpoint
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/test/testsuite/stats_test.go
  releasenotes/notes/apm-stats-endpoint-af32faf45378fc21.yaml
Labels: team/agent-apm

#7029 [AD] Improve documentation and test coverage
  pkg/autodiscovery/README.md
  pkg/autodiscovery/common/README.md
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/listeners/README.md
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/autodiscovery/listeners/common.go
  pkg/autodiscovery/listeners/common_test.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/providers/README.md
  pkg/autodiscovery/providers/cloudfoundry.go
  pkg/autodiscovery/providers/consul.go
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/file_test.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/providers/prometheus_common.go
  pkg/autodiscovery/providers/prometheus_common_test.go
  pkg/autodiscovery/providers/prometheus_pods.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/autodiscovery/providers/zookeeper.go
Labels: changelog/no-changelog, team/containers

#7241 7.25.1.rc3 release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#7244 7.25.1-rc.4 release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#7163 Stream logs agent logs for troubleshooting
  cmd/agent/api/agent/agent.go
  cmd/agent/api/server.go
  cmd/agent/app/stream_logs.go
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/api/util/doget.go
  pkg/logs/agent.go
  pkg/logs/diagnostic/message_receiver.go
  pkg/logs/diagnostic/message_receiver_test.go
  pkg/logs/diagnostic/noop_message_receiver.go
  pkg/logs/logs.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/processor/processor.go
  pkg/metrics/sketch_series.go
  releasenotes/notes/log-diagnostic-streaming-13dbb9b09286f7b3.yaml
Labels: team/agent-core

#6894 [runtime-security] Introduce ProbeMonitor and emit security events when agent limits are reached
  pkg/config/config.go
  pkg/security/agent/agent.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/process.h
  pkg/security/module/module.go
  pkg/security/module/rate_limiter.go
  pkg/security/module/server.go
  pkg/security/probe/consts.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/custom_events_easyjson.go
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/metrics.go
  pkg/security/probe/model.go
  pkg/security/probe/model_test.go
  pkg/security/probe/perf_buffer_monitor.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/process_resolver_test.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/probe/syscall_stats.go
  pkg/security/rules/model_test.go
  pkg/security/rules/policy.go
  pkg/security/rules/ruleset.go
  pkg/security/secl/eval/event.go
  pkg/security/secl/eval/model_test.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/probe_monitor_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/stresser_test.go
Labels: changelog/no-changelog, component/security-agent, team/agent-security

#7178 [runtime] add package to handle gomaxprocs and runtime settings
  cmd/agent/app/run.go
  cmd/trace-agent/main.go
  pkg/runtime/runtime.go
  pkg/runtime/runtime_test.go
  releasenotes/notes/gomaxprocs-sane-settings-87c98222af7086d3.yaml
Labels: team/agent-core

#7220 Fix docstring typo in RtLoader
  rtloader/include/datadog_agent_rtloader.h
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7233 [runtime-security] Pause perf maps while applying rules
  go.mod
  go.sum
  pkg/security/probe/probe_bpf.go
Labels: changelog/no-changelog, team/agent-security

#7175 [e2e pupernetes tests] Add some facilities to ease failure diagnostic
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/templates/fake-datadog.yaml
  test/e2e/argo-workflows/templates/nginx.yaml
  test/e2e/argo-workflows/workflow.yaml
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/run-instance/argo.sha512sum
Labels: changelog/no-changelog, dev/testing, team/containers

#7084 Do not store api key in retry file
  pkg/collector/metadata/agentchecks.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/retry_queue_telemetry.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/forwarder/transaction.go
  pkg/forwarder/transaction_container.go
  pkg/forwarder/transaction_container_test.go
  pkg/forwarder/transactions_file_storage.go
  pkg/forwarder/transactions_file_storage_test.go
  pkg/forwarder/transactions_serializer.go
  pkg/forwarder/transactions_serializer_test.go
  pkg/serializer/serializer.go
  pkg/util/common/slice.go
Labels: changelog/no-changelog, team/agent-core

#7239 Add telemetry around the new remote tagger machinery
  pkg/tagger/remote/tagger.go
  pkg/tagger/subscriber/subscriber.go
  pkg/tagger/telemetry/telemetry.go
Labels: changelog/no-changelog, team/containers

#7245 pkg/trace Support nil in map
  pkg/trace/pb/decoder_bytes.go
  pkg/trace/pb/span_gen.go
  pkg/trace/pb/span_gen_modifs_test.go
Labels: changelog/no-changelog, team/agent-apm

#7188 [networks] Decouple http batch rotation from notification
  pkg/network/ebpf/c/http.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/http/batch_manager.go
  pkg/network/http/model.go
  pkg/network/http/monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7208 Allow agents to use the remote gRPC Tagger API
  cmd/agent/common/loader.go
  cmd/dogstatsd/main.go
  cmd/process-agent/main_common.go
  pkg/config/apm.go
  pkg/config/config.go
  pkg/process/config/config.go
  pkg/trace/agent/run.go
  releasenotes/notes/remote-tagger-81fd36a9e0ff39e8.yaml
  test/integration/corechecks/docker/main_test.go
  test/integration/listeners/docker/docker_listener_test.go
Labels: team/containers

#7044 pkg/trace/config: always activate APM non-local traffic in containerized environments if no explicit setting
  pkg/trace/config/apply.go
  releasenotes/notes/apm-non-local-traffic-default-cont-f8f9277d9ce2abf1.yaml
Labels: component/config, team/containers

#7250 Change snmp code owner to infrastructure-integrations
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/infra-integrations

#7240 [runtime-security] add flush mechanism to process resolver
  pkg/security/probe/metrics.go
  pkg/security/probe/probe_bpf.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security

#7248 add support for arguments in secrets_tester.ps1
  docs/agent/secrets_scripts/secrets_tester.ps1
Labels: changelog/no-changelog, documentation, qa/skip-qa, team/agent-core

#7254 Copy system-probe object files before security regression testing
  .gitlab/source_test/ebpf.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, team/networks
