Repository DataDog/datadog-agent, pull requests merged in 2021-09, with the labels that each got.

#9016 Update pre-commit dependencies
  .circleci/config.yml
  .pre-commit-config.yaml
  Dockerfiles/agent/secrets-helper/test_readsecret.py
  tasks/agent.py
  tasks/android.py
  tasks/build_tags.py
  tasks/cluster_agent_helpers.py
  tasks/docker.py
  tasks/go.py
  tasks/libs/common/github.py
  tasks/libs/common/gitlab.py
  tasks/libs/github_actions_tools.py
  tasks/libs/pipeline_tools.py
  tasks/libs/types.py
  tasks/pipeline.py
  tasks/release.py
  tasks/release_tests.py
  tasks/security_agent.py
  tasks/selinux.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/uninstallcmd.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8990 [omnibus] Exclude IBM i from Python 2 env
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, team/agent-platform

#8989 Collapse diff of `go.sum` and avoid merge
  .gitattributes
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8961 Remove dead networks code
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/sock.h
  pkg/network/ebpf/c/syscalls.h
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/event.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9019 Use generated cgo types for offset guessing
  pkg/network/ebpf/offsetguess_types.go
  pkg/network/ebpf/offsetguess_types_linux.go
  pkg/network/tracer/offsetguess.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9025 [kitchen] Add non-English Windows VM to test platforms
  .gitlab/kitchen_testing/windows.yml
  test/kitchen/platforms.json
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/common/rspec/windows_npm_spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa

#8952 [pkg/util/log] Add zap wrapper over agent logger
  go.sum
  pkg/util/log/go.mod
  pkg/util/log/go.sum
  pkg/util/log/log.go
  pkg/util/log/zap/zapcore.go
  pkg/util/log/zap/zapcore_test.go
  pkg/util/log/zap/zapencoder.go
  pkg/util/log/zap/zapencoder_test.go
  pkg/util/winutil/go.sum
Labels: changelog/no-changelog, team/agent-platform

#9033 [process-agent] Correct order in which winopts are parsed and checked
  cmd/process-agent/main.go
  cmd/process-agent/main_common.go
  cmd/process-agent/main_windows.go
Labels: kind/bug, changelog/no-changelog, team/processes

#9027 Revert "Revert "[pkg/collector] Add worker utilization stats to expvars""
  pkg/collector/runner/expvars/expvars.go
  pkg/collector/runner/expvars/expvars_test.go
  pkg/collector/runner/expvars/workers.go
  pkg/collector/runner/expvars/workers_test.go
  pkg/collector/runner/runner.go
  pkg/collector/runner/runner_test.go
  pkg/collector/worker/utilization_tracker.go
  pkg/collector/worker/utilization_tracker_test.go
  pkg/collector/worker/worker.go
  pkg/collector/worker/worker_test.go
  pkg/util/sliding_window.go
  pkg/util/sliding_window_test.go
Labels: team/agent-core, changelog/no-changelog

#9028 upgrade to go 1.16.7 in circleci docker image
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9031 add a comment about http/2 being subtly disabled
  pkg/util/http/transport.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9020 Use generated cgo types for ebpf conntracker
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/network/ebpf/c/conntrack.h
  pkg/network/ebpf/c/runtime/conntrack-maps.h
  pkg/network/ebpf/c/runtime/conntrack-types.h
  pkg/network/ebpf/c/runtime/conntrack.c
  pkg/network/ebpf/conntrack.go
  pkg/network/ebpf/conntrack_types.go
  pkg/network/ebpf/conntrack_types_linux.go
  pkg/network/ebpf/tuple.go
  pkg/network/ebpf/tuple_types.go
  pkg/network/ebpf/tuple_types_linux.go
  pkg/network/tracer/conntracker_test.go
  pkg/network/tracer/ebpf_conntracker.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9024 Fix missing store unlock in DatadogMetric store
  pkg/clusteragent/externalmetrics/datadogmetric_controller.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller_test.go
Labels: kind/bug, team/containers, changelog/no-changelog

#9046 Fix isContainerized in the Cluster Agent
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
Labels: kind/bug, team/containers, changelog/no-changelog

#9041 [7.31.x backport][process-agent] Correct order in which winopts are parsed and checked
  cmd/process-agent/main.go
  cmd/process-agent/main_common.go
  cmd/process-agent/main_windows.go
Labels: kind/bug, changelog/no-changelog, team/processes

#9052 Cherry-Pick Fix isContainerized in the Cluster Agent (#9046)
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
Labels: changelog/no-changelog, component/cluster-agent

#9034 [pipeline] Run Docker & Chocolatey promotion jobs automatically on RCs
  .gitlab-ci.yml
  .gitlab/choco_deploy.yml
  .gitlab/deploy_6/docker.yml
  .gitlab/deploy_7/docker.yml
  .gitlab/deploy_7/winget.yml
Labels: changelog/no-changelog, team/agent-platform

#8999 [release tooling] Simplify release.json
  release.json
  tasks/libs/version.py
  tasks/libs/version_tests.py
  tasks/pipeline.py
  tasks/release.py
  tasks/release_tests.py
Labels: changelog/no-changelog, team/agent-platform

#9038 [cws] do not use http proxy for unix sockets
  pkg/security/agent/agent.go
Labels: changelog/no-changelog, team/agent-security

#9050 Revert "Bump github.com/dgraph-io/ristretto from 0.0.3 to 0.1.0 (#8500)"
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-guild

#9051 Revert "Copy `netapi32.dll` from servercore image in nano-based Windows image"
  .gitlab/image_build/docker_windows.yml
  Dockerfiles/agent/windows/amd64/Dockerfile
Labels: team/containers, changelog/no-changelog

#9049 [CI] Remove fallback master references on Gitlab and CircleCI
  .circleci/config.yml
  .gitlab-ci.yml
  .gitlab/source_test/ebpf.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9057 Backport #9050: Revert "Bump github.com/dgraph-io/ristretto from 0.0.3 to 0.1.0 (#8500)"
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: os/windows, team/containers, changelog/no-changelog

#8981 Add checks' version to the log line indicating when runs occur
  pkg/collector/python/check.go
Labels: component/collector, team/agent-core, changelog/no-changelog

#9032 register the binary as the eventlog source when creating the container
  Dockerfiles/agent/install.ps1
Labels: team/containers, changelog/no-changelog

#9060 [release] entries for 7.31.0-rc.9
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9054 [Tagger] Add a containerd collector and support container_env_as_tags
  pkg/collector/corechecks/containers/containerd/containerd_events_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/tagger/collectors/containerd_extract.go
  pkg/tagger/collectors/containerd_extract_test.go
  pkg/tagger/collectors/containerd_main.go
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/utils/k8s_metadata.go
  pkg/tagger/utils/k8s_metadata_test.go
  pkg/util/containerd/containerd_util.go
  releasenotes/notes/container-env-as-tags-f208f5d35ada84d4.yaml
Labels: team/containers

#9068 [CI notifications] Silence arm jobs
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9018 Add suggestion to forwarder error message
  pkg/forwarder/domain_forwarder.go
Labels: team/agent-core, changelog/no-changelog

#9067 [AD] Resolve template vars and envs in log checks
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  releasenotes/notes/ad-template-vars-in-logs-be75bad673178a0c.yaml
Labels: team/containers

#9056 [Tagger] Support container_env_as_tags for Docker
  pkg/config/config_template.yaml
  pkg/tagger/collectors/common.go
  pkg/tagger/collectors/common_test.go
  pkg/tagger/collectors/docker_main.go
Labels: team/containers, changelog/no-changelog

#9040 Extract kprobe-based tracer to adhere to common interface
  pkg/network/ebpf/conntrack_types_linux.go
  pkg/network/ebpf/kprobe.go
  pkg/network/ebpf/kprobe_types.go
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/ebpf/tuple_types_linux.go
  pkg/network/ephemeral_linux.go
  pkg/network/ephemeral_windows.go
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/event_windows.go
  pkg/network/http/http_statkeeper.go
  pkg/network/tracer/benchmark_test.go
  pkg/network/tracer/cached_conntrack.go
  pkg/network/tracer/cached_conntrack_test.go
  pkg/network/tracer/compile.go
  pkg/network/tracer/connection/kprobe/compile.go
  pkg/network/tracer/connection/kprobe/compile_test.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/perf_batching.go
  pkg/network/tracer/connection/kprobe/perf_batching_test.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/kprobe/tracer_test.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/event.go
  pkg/network/tracer/gateway_lookup.go
  pkg/network/tracer/perf_batching_test.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_benchmark_test.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9076 [AD] Refactor unnecessary for in ConfigResolver
  pkg/autodiscovery/configresolver/configresolver.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#8984 [ebpf/build] system-probe look for headers in /lib/modules/$(uname -r)/build
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8974 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9061 DBM-561: Update dbquery track endpoint to dbquery-intake.
  pkg/epforwarder/epforwarder.go
Labels: changelog/no-changelog, team/database-monitoring

#9035 pkg/trace/api: add metrics for UDS connections
  pkg/trace/api/api.go
  pkg/trace/api/listener.go
  pkg/trace/api/listener_test.go
  pkg/trace/api/pipe.go
  releasenotes/notes/apm-uds-connection-metrics-97dd7c13813e22c8.yaml
Labels: team/agent-apm

#9072 tagger: don't clean up empty tags with expiration date
  pkg/tagger/local/tagstore.go
Labels: team/containers, changelog/no-changelog

#9077 tagger: convert pod ids between tagger and kubeUtil
  pkg/tagger/collectors/kubelet_main.go
Labels: team/containers, changelog/no-changelog

#9087 [Tagger] Collect image_id tag from kubelet
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/image-id-tag-a3bf63b586f3b5fa.yaml
Labels: team/containers

#8779 Move away from bcc - V2
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/binary_build/system_probe.yml
  .gitlab/deps_build.yml
  .gitlab/internal_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/source_test/ebpf.yml
  LICENSE-3rdparty.csv
  cmd/system-probe/modules/oom_kill_probe.go
  cmd/system-probe/modules/tcp_queue_tracer.go
  omnibus/config/software/libbcc.rb
  omnibus/config/software/libbcc_compat.patch
  omnibus/config/software/system-probe.rb
  pkg/collector/corechecks/ebpf/c/bcc/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/c/bcc/tcp-queue-length-kern.c
  pkg/collector/corechecks/ebpf/c/oom-kill-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/bpf-common.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern.c
  pkg/collector/corechecks/ebpf/probe/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oom_kill_stub.go
  pkg/collector/corechecks/ebpf/probe/oom_kill_test.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_stub.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_test.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/compiler/wrapper.h
  tasks/agent.py
  tasks/system_probe.py
  tasks/test.py
Labels: team/containers, changelog/no-changelog, team/agent-security

#9042 [flare] Include logs with the existing subdirectory tree
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  releasenotes/notes/flare-log-subdirectories-e64dd654a49040ba.yaml
Labels: team/agent-core

#9092 [invoke] Make pipeline.run fail if target ref is not specified
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9089 Update snowflake patch
  omnibus/config/patches/snowflake-connector-python-py3/dependencies.patch
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations

#9099 [release] prepare 7.31.0-rc.10 release candidate build
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9079 [Serverless] merge v10 into main
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/logs.go
  pkg/logs/logs_test.go
  pkg/serverless/tags/tags.go
  pkg/serverless/tags/tags_test.go
Labels: changelog/no-changelog, team/serverless

#9101 Adding release.json for DCA 1.15.0
  release.json
Labels: changelog/no-changelog, component/cluster-agent

#9100 [kitchen] Add Windows Server 2022 to test platforms
  .gitlab/kitchen_testing/windows.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9103 [kitchen] Refactor test utils
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9104 [kitchen] Exclude Windows Defender Scheduled Scan from system files check
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9105 [backport] Update snowflake patch
  omnibus/config/patches/snowflake-connector-python-py3/dependencies.patch
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations, team/agent-platform

#9106 Kacper murzyn/7.31.0 rc.11
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9097 [DCA][Admission] Fix Webhook object not picking config changes
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/admission/controllers/secret/controller.go
  pkg/clusteragent/admission/controllers/secret/controller_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_base_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/start.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_engine.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  releasenotes-dca/notes/fix-admission-leader-bug-812a3d5a7df8e64f.yaml
Labels: team/containers

#8707 pkg/trace/agent: increase maximum tag (meta & metric) size to 25k bytes.
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/truncator_test.go
  pkg/trace/traceutil/truncate.go
  releasenotes/notes/apm-update-meta-and-metrics-maximum-length-edc779e32cc6dcfe.yaml
Labels: team/agent-apm

#9065 Do not send host metadata from CLC
  pkg/metadata/scheduler.go
  releasenotes/notes/CLC-do-not-send-host-metadata-d1a83bf84cc879af.yaml
Labels: team/containers, component/clusterchecks

#9107 Added clarifying comment for no-proxy metadata payload
  pkg/metadata/host/host.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9119 [aggregator] query time once per batch
  pkg/aggregator/aggregator.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8584 [system-probe] Automatically download kernel headers (2)
  .gitlab-ci.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/deps_build.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  omnibus/config/software/system-probe.rb
  tasks/agent.py
  tasks/system_probe.py
  tasks/utils.py
Labels: do-not-merge/hold, changelog/no-changelog, team/networks

#9125 [tests] Exclude flaky utilization tests from Windows/Darwin
  pkg/collector/worker/utilization_tracker_test.go
  pkg/util/sliding_window_test.go
Labels: component/collector, team/agent-core, changelog/no-changelog, qa/skip-qa

#9127 7.31.0 final release.json
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9116 [ckey] reduce amount of moves
  pkg/aggregator/ckey/key.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9128 7.31.0 - prelude added
  releasenotes/notes/prelude-release-7.31.0-7e2bed9affaad762.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9129 Fix a memory leak in auto-discovery code
  pkg/autodiscovery/templatecache.go
  pkg/autodiscovery/templatecache_test.go
Labels: component/autodiscovery, team/containers, changelog/no-changelog

#9073 [omnibus] Check integration classifiers for inclusion
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  tasks/agent.py
Labels: changelog/no-changelog, team/integrations, team/agent-platform

#9075 [omnibus] Remove useless blacklisted folders
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/integrations

#9112 Create new dbm event type for Active queries
  pkg/collector/check/stats.go
  pkg/config/config.go
  pkg/epforwarder/epforwarder.go
Labels: changelog/no-changelog, team/database-monitoring

#9133 Be more resilient to server errors when sending flares
  pkg/flare/flare.go
  pkg/flare/flare_test.go
Labels: team/agent-core, changelog/no-changelog

#9109 Add Copyright to LICENSES-3rdparty.csv (with UNKNOWN)
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  tasks/go.py
  tasks/licenses.py
Labels: team/agent-core, changelog/no-changelog

#9083 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9131 7.31.0 changelog
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9138 [go.mod] Update containerd to v1.5.5
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9126 [networks] Add support for DNS with NAT
  pkg/network/encoding/format.go
  pkg/network/nat.go
  pkg/network/state.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9139 [network] Use explicit relative paths instead of PWD
  pkg/network/tracer/compile.go
  pkg/network/tracer/connection/kprobe/compile.go
Labels: changelog/no-changelog, team/networks, team/agent-security

#9145 7.31.0 changelog (#9131)
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9141 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9134 [networks] Remove allocations from `NetIPFromAddress`
  pkg/network/dns/snooper.go
  pkg/network/network_filter.go
  pkg/network/route_cache.go
  pkg/network/tracer/cached_conntrack.go
  pkg/network/tracer/gateway_lookup.go
  pkg/process/util/address.go
  pkg/process/util/address_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9152 Fix system-probe build on arm
  .gitlab/binary_build/system_probe.yml
  .gitlab/deps_build.yml
  tasks/system_probe.py
  tasks/utils.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9030 [runtime-security] generate syscall enum based on kernel source tables
  pkg/security/probe/syscall_table_generator/syscall_table_generator.go
  pkg/security/probe/syscalls.go
  pkg/security/probe/syscalls_linux_amd64.go
  pkg/security/probe/syscalls_linux_arm64.go
  pkg/security/probe/syscalls_string_linux_amd64.go
  pkg/security/probe/syscalls_string_linux_arm64.go
Labels: changelog/no-changelog, team/agent-security

#9036 [runtime-security] use exponential backoff for log when failing to connect to the socket
  pkg/security/agent/agent.go
  releasenotes/notes/security-agent-log-exp-backoff-5e39878383f69b1d.yaml
Labels: team/agent-security

#9154 Resolve UNKNOWN copyrights and prohibit adding more
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  tasks/go.py
Labels: team/agent-core, changelog/no-changelog

#9140 Refactor agent inventory metadata property list
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  pkg/util/cloudprovider.go
  pkg/util/hostname.go
Labels: team/agent-core, changelog/no-changelog

#9164 [internal/tools] Bump `modvendor` to v0.5.0
  internal/tools/go.mod
  internal/tools/go.sum
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9151 calculate ipv4 header length and check packet boundary
  pkg/network/ebpf/c/ip.h
Labels: changelog/no-changelog, team/networks

#9165 [Gitlab] Make Android job independent
  .gitlab/package_build/apk.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9159 [system-probe] Fix ARM omnibus build without nikos
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa

#9009 Use ProtoStream to encode sketches
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/metrics/sketch_benchmark_test.go
  pkg/metrics/sketch_series.go
  pkg/metrics/sketch_series_test.go
  pkg/serializer/marshaler/marshaler.go
  pkg/serializer/stream/compressor.go
Labels: team/agent-core, changelog/no-changelog

#9156 Adding 'flavor' and 'version' to the inventory payload
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories_collector.go
Labels: team/agent-core, changelog/no-changelog

#9110 Fix reporting of system probe status during datadog-agent {status, flare}
  cmd/agent/app/status.go
  cmd/system-probe/config/config.go
Labels: changelog/no-changelog, team/networks

#8834 add some helpful driver status to flare
  pkg/flare/archive.go
  pkg/flare/archive_nix.go
  pkg/flare/archive_win.go
  pkg/util/winutil/shutil.go
  pkg/util/winutil/test_shutil.go
Labels: changelog/no-changelog, team/networks

#9142 [networks] Re-use same IP strings during encoding
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9148 [runtime-security] Do not load eRPC programs when eRPC resolution is disabled
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/manager.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/const.go
  pkg/security/ebpf/probes/dentry.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#9150 Use AWS Ubuntu mirror when building Docker images in CI
  .gitlab/image_build/docker_linux.yml
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9117 [pkg/otlp] Pass all OTLP traces through the core Agent
  .copyright-overrides.yml
  .github/CODEOWNERS
  LICENSE-3rdparty.csv
  cmd/agent/app/run.go
  cmd/agent/common/common.go
  go.mod
  go.sum
  pkg/config/apm.go
  pkg/config/config.go
  pkg/config/otlp.go
  pkg/otlp/README.md
  pkg/otlp/collector.go
  pkg/otlp/collector_test.go
  pkg/otlp/config.go
  pkg/otlp/config_parser.go
  pkg/otlp/config_parser_test.go
  pkg/otlp/config_test.go
  pkg/otlp/testdata/bindhost.yaml
  pkg/otlp/testdata/disabled.yaml
  pkg/otlp/testdata/invalid.yaml
  pkg/otlp/testdata/nobindhost.yaml
  pkg/otlp/testdata/nonlocal.yaml
  pkg/trace/config/apply.go
  pkg/trace/config/config_test.go
  pkg/trace/config/testdata/full.yaml
Labels: changelog/no-changelog, team/agent-apm, team/agent-platform

#8996 [corecheck/snmp] Add autodiscovery to snmp corecheck
  pkg/collector/corechecks/snmp/.gitignore
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/discovery/discovery.go
  pkg/collector/corechecks/snmp/discovery/discovery_test.go
  pkg/collector/corechecks/snmp/discovery/ip_utils.go
  pkg/collector/corechecks/snmp/discovery/ip_utils_test.go
  pkg/collector/corechecks/snmp/discovery/testing.go
  pkg/collector/corechecks/snmp/fetch/fetch.go
  pkg/collector/corechecks/snmp/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
  releasenotes/notes/snmp_corecheck_autodiscovery-5830c3e8fc76a9e8.yaml
Labels: kind/enhancement, team/infra-integrations

#9168 Adding install tool metadata info to the inventory payload
  pkg/metadata/host/host.go
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: team/agent-core, changelog/no-changelog

#9172 Add a `kube_priority_class` label to metrics coming from pods with a priority class
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/Add-kube_priority_class-label-62967efb50864d66.yaml
Labels: component/collector, team/containers, component/tagger

#9161 [gitlab] Prefetch windows dependencies
  .gitlab/deps_fetch.yml
  .gitlab/package_build/windows.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/windows.yml
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/cache-deps.bat
  tasks/winbuildscripts/extract-modcache.bat
  tasks/winbuildscripts/sysprobe.bat
  tasks/winbuildscripts/unittests.bat
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8900 pkg/trace/api: Upgrade Profiling Intakes to v2 Endpoint
  pkg/trace/api/profiles.go
  pkg/trace/api/profiles_test.go
  releasenotes/notes/apm-profiling-upgrade-intakes-v2-1fbba441bbc08d20.yaml
Labels: changelog/no-changelog, team/agent-apm

#9183 Remove Windows Python build jobs
  .gitlab-ci.yml
  .gitlab/windows_python_build.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9184 [invoke] Fix ordering in pipeline.run
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9182 Update 'version' metadata for 'agent_version'
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: team/agent-core, changelog/no-changelog

#9176 [network/ebpf] GetConnections() avoid set tcpStats that are not used by the filter
  pkg/network/tracer/connection/kprobe/perf_batching.go
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, team/networks

#9187 [gui] Fix check runner count status value
  cmd/agent/gui/views/templates/generalStatus.tmpl
Labels: kind/bug, team/agent-core, component/GUI, changelog/no-changelog, severity/minor

#9132 [secrets] Add new executable to fetch secrets from files and Kubernetes secrets
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/secrets-helper/readsecret_multiple_providers.sh
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  Dockerfiles/cluster-agent/readsecret_multiple_providers.sh
  cmd/secrets/providers/file.go
  cmd/secrets/providers/file_test.go
  cmd/secrets/providers/k8s_secret.go
  cmd/secrets/providers/k8s_secret_test.go
  cmd/secrets/secret_helper.go
  cmd/secrets/secret_helper_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  releasenotes/notes/read-secrets-from-multiple-backends-a2cc225cd86c9256.yaml
Labels: team/containers

#6882 Add config option to automatically detect common multi-line patterns when tailing logs.
  pkg/config/config.go
  pkg/logs/config/integration_config.go
  pkg/logs/decoder/auto_multiline_handler.go
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_benchmark_test.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/decoder/line_parser.go
  pkg/logs/decoder/multiline_handler.go
  pkg/logs/decoder/single_line_handler.go
  pkg/logs/input/docker/matcher.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/tailer.go
  pkg/logs/input/file/tailer_test.go
  releasenotes/notes/multiline-auto-sensing-daa189b46e547de3.yaml
Labels: team/agent-core

#9167 Add changelog for DCA 1.15
  CHANGELOG-DCA.rst
Labels: team/containers, changelog/no-changelog, component/cluster-agent

#9155 [runtime-security] Support kernel 5.12 and later
  .gitlab/functional_test/security_agent.yml
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/mount_resolver.go
  test/kitchen/platforms.json
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#9158 [release tooling] Improve pre-RC invoke tasks
  tasks/libs/common/github.py
  tasks/libs/common/github_api.py
  tasks/libs/common/github_workflows.py
  tasks/libs/common/gitlab.py
  tasks/libs/common/remote_api.py
  tasks/libs/github_actions_tools.py
  tasks/libs/pipeline_notifications.py
  tasks/libs/pipeline_tools.py
  tasks/libs/version.py
  tasks/pipeline.py
  tasks/release.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-platform

#9153 [runtime-security] add kernel lockdown sanity check
  pkg/process/util/util.go
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/module/module.go
  pkg/security/probe/mount_resolver.go
  pkg/security/utils/proc.go
  pkg/util/kernel/fs.go
  pkg/util/kernel/lockdown.go
  pkg/util/kernel/lockdown_test.go
Labels: changelog/no-changelog, team/agent-security

#9188 [runtime-security] fix incorrect parent discarders and enforce path field checks
  pkg/security/probe/discarders.go
  pkg/security/probe/kfilters_test.go
Labels: changelog/no-changelog, team/agent-security

#9191 Windows Dockerfile: Include kernel ver in installer_version
  Dockerfiles/agent/install.ps1
Labels: changelog/no-changelog, team/agent-platform

#9197 [tests] Skip flappy `TestUtilizationTrackerAccuracy` on Windows
  pkg/collector/worker/utilization_tracker_test.go
Labels: component/collector, team/agent-core, changelog/no-changelog, severity/minor, qa/skip-qa

#9190 [compliance] fix send on closed chan
  pkg/compliance/event/reporter.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#9195 [gitlab] Stop muting ARM job notifications
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9194 Ensure log lines for dependencies don't contain build path
  pkg/config/log.go
  pkg/config/log_test.go
Labels: changelog/no-changelog, team/agent-platform

#9204 [invoke] Fix latest_workflow_run_for_ref method
  tasks/libs/common/github_workflows.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9169 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9205 [Serverless] Prevent panic when DD_API_KEY is not set
  pkg/serverless/daemon/daemon.go
  pkg/serverless/daemon/daemon_test.go
Labels: changelog/no-changelog, team/serverless

#9198 Fix the python object count
  cmd/agent/dist/utils/py_mem.py
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9215 [invoke] Prevent invoke.create-rc from using dep versions higher than Agent version
  tasks/libs/version.py
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9216 [pkg/otlp] Bump OpenTelemetry Collector to v0.36.0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/otlp/collector.go
  pkg/otlp/config_parser.go
  pkg/otlp/config_parser_test.go
Labels: changelog/no-changelog, team/agent-platform

#9185 Remove Windows x86 gitlab jobs
  .gitlab/package_build/windows.yml
  .gitlab/source_test/windows.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9206 [networks] Improve memory allocation pattern
  pkg/network/buffer.go
  pkg/network/buffer_test.go
  pkg/network/driver_buffer.go
  pkg/network/driver_interface.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/kprobe/perf_batching.go
  pkg/network/tracer/connection/kprobe/perf_batching_test.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_windows.go
  pkg/network/tracer/tracer_windows_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9217 Ensure NPM enabled config flag is reliable
  cmd/system-probe/config/config.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8861 Show enabled autodiscovery features in agent status
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/templates/autodiscovery.tmpl
  releasenotes/notes/show-enabled-ad-features-agent-status-4989469e8b499f26.yaml
Labels: team/containers

#9219 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9209 Revert "[corechecks/snmp] Add config to use DeviceID as hostname for metrics and service checks"
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/report/report_metrics.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9227 Remove outdated comment
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9221 add dca 1.15.0 to release.json
  release.json
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9189 [corechecks/snmp] Use getnext for reachable device status
  pkg/collector/corechecks/snmp/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/gosnmplib/testing_utils.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9202 Remove all snowflake references in python 2
  omnibus/config/patches/snowflake-connector-python-py2/dependencies.patch
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/snowflake-connector-python-py2.rb
Labels: changelog/no-changelog, team/integrations

#9192 improve sysvinit agent exit messages
  omnibus/config/templates/datadog-agent/sysvinit_debian.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.process.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.security.erb
  omnibus/config/templates/datadog-agent/sysvinit_debian.trace.erb
  omnibus/config/templates/datadog-agent/sysvinit_suse.erb
  omnibus/config/templates/datadog-agent/sysvinit_suse.process.erb
  omnibus/config/templates/datadog-agent/sysvinit_suse.security.erb
  omnibus/config/templates/datadog-agent/sysvinit_suse.trace.erb
Labels: kind/packaging, changelog/no-changelog, team/agent-platform

#9223 [system-probe] Collect telemetry from all runtime-compiled assets
  pkg/ebpf/bytecode/runtime/runtime_asset.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks

#9232 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9230 Update build images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9229 [cspm] specify intake protocol for compliance
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/logs/logs.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#9237 [cspm] fix cspm intake protocol backport
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/logs/logs.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#9233 [release] prepare release 7.31.1-rc.1
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9175 Adding top level feature status to the inventories metadata payload
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: team/agent-core, changelog/no-changelog

#9074 Upgrade to Go1.16.7
  .circleci/config.yml
  .gitlab-ci.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/deps_build.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  README.md
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  go.mod
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/proto/go.mod
  pkg/quantile/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  releasenotes/notes/go1.16.7-4ec8477608022a26.yaml
  tasks/system_probe.py
  tasks/utils.py
  tools/retry_file_dump/go.mod
Labels: team/agent-core, team/agent-platform, team/networks

#9173 Rename misleading telemetry name
  pkg/forwarder/domain_forwarder.go
  pkg/forwarder/domain_forwarder_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/telemetry.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9238 [cspm] fix protocol cspm dca backport
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/logs/logs.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#9240 [DCA][Release] prepare dca-1.15.1-rc.1
  release.json
Labels: team/containers, changelog/no-changelog

#9082 [process-agent] Create process discovery check
  cmd/process-agent/collector.go
  cmd/process-agent/main.go
  cmd/process-agent/main_windows.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/telemetry.go
  pkg/forwarder/test_common.go
  pkg/process/checks/allprocesses_fallback.go
  pkg/process/checks/allprocesses_linux.go
  pkg/process/checks/allprocesses_windows.go
  pkg/process/checks/checks.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/procutil/process_unsupported.go
  releasenotes/notes/process-discovery-check-c4662c390293827b.yaml
Labels: kind/feature, team/processes, need-change/operator, need-change/helm-chart

#9249 Use buffered i/o to reduce allocations in procfs io parsing
  pkg/process/procutil/process_linux.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9225 [corechecks/snmp] Add namespace to SNMP integration and SNMP Listener
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/checkconfig/config_utils.go
  pkg/collector/corechecks/snmp/discovery/discovery_test.go
  pkg/collector/corechecks/snmp/metadata/payload.go
  pkg/collector/corechecks/snmp/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/snmp/snmp.go
  pkg/snmp/snmp_test.go
  releasenotes/notes/snmp_add_namespace-298a0d4f07ee1ef5.yaml
Labels: kind/enhancement, team/infra-integrations

#9236 [runtime-security] look for /etc/os-release file in HOST_ROOT when defined
  pkg/security/ebpf/kernel/kernel.go
Labels: changelog/no-changelog, team/agent-security

#9247 Adding 'site' configuration to the inventory payload
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: team/agent-core, changelog/no-changelog

#9256 [omnibus/pip{2,3}] Fix license location
  omnibus/config/software/pip2.rb
  omnibus/config/software/pip3.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8677 Update devenv script
  devenv/gcloud.pkr.hcl
  devenv/scripts/Install-DevEnv.ps1
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa
