Repository DataDog/datadog-agent, pull requests merged in 2021-12, with the labels that each got.

#10053 [codeowners] Assign pkg/util/podman to container-integrations
  .github/CODEOWNERS
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10050 Make run-test-kitchen.sh work as non-root
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9945 [CWS] add end-to-end test
  .github/CODEOWNERS
  .gitlab/e2e.yml
  tasks/test.py
  test/e2e/argo-workflows/cws-workflow.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/workflow.yaml
  test/e2e/cws-tests/requirements.txt
  test/e2e/cws-tests/tests/lib/__init__.py
  test/e2e/cws-tests/tests/lib/app.py
  test/e2e/cws-tests/tests/lib/config.py
  test/e2e/cws-tests/tests/lib/const.py
  test/e2e/cws-tests/tests/lib/docker.py
  test/e2e/cws-tests/tests/lib/kubernetes.py
  test/e2e/cws-tests/tests/lib/log.py
  test/e2e/cws-tests/tests/lib/policy.py
  test/e2e/cws-tests/tests/lib/stepper.py
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/cws-tests/tests/test_e2e_cws_kubernetes.py
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/run-instance/kind-cluster.yaml
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, team/agent-security

#10055 redact sts annotations
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_processor.go
Labels: changelog/no-changelog, component/cluster-agent, team/container-app

#10054 redact sts annotations
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_processor.go
Labels: changelog/no-changelog, component/cluster-agent, team/container-app

#10060 Separate workloadmeta consts into stanzas
  pkg/workloadmeta/types.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10040 update to agent-payload v5.0.4
  go.mod
  go.sum
Labels: changelog/no-changelog, team/networks, category/bugfix, bugfix/new_feature

#10065 Avoid unnecessary allocations for trace logs in ebpf conntracker
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10062 [corechecks/containerd] Log error in computeMetrics()
  pkg/collector/corechecks/containers/containerd/containerd.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10056 General shellcheck pass
  Dockerfiles/dogstatsd/alpine/entrypoint.sh
  Dockerfiles/manifests/generate.sh
  google-marketplace/publish-marketplace.sh
  google-marketplace/test-marketplace.sh
  test/e2e/scripts/generate-parameters.sh
  test/e2e/scripts/run-instance/10-setup-kind.sh
  test/e2e/scripts/setup-instance/00-entrypoint-local.sh
  test/e2e/scripts/utils.sh
  test/integration/dockerize_tests.sh
  test/integration/serverless/run.sh
  test/integration/serverless_perf/compute.sh
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
  test/kitchen/tasks/clean.sh
  test/kitchen/tasks/kitchen_setup.sh
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/tasks/show-strays.sh
  test/system/python_binding/test.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10070 [pkg/otlp/model] [Backport] Do not pick up localhost-like names from attributes
  pkg/otlp/model/attributes/hostname.go
  pkg/otlp/model/attributes/hostname_test.go
  releasenotes/notes/otlp-0.0.0.0-hostname-1581cd6eb09aba0e.yaml
Labels: team/agent-platform

#10064 [go.mod] Update dd-trace-go profiler to 1.34.0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: team/agent-core, changelog/no-changelog

#10029 Fix an issue where `close(tc.shutdown)` can be called twice.
  pkg/dogstatsd/replay/writer.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10080 [Serverless] Block list hello and flush routes from traces
  pkg/serverless/trace/trace.go
  pkg/serverless/trace/trace_test.go
Labels: changelog/no-changelog, team/serverless

#10076 [workloadmeta/store] Delete redundant assignment
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10048 [corechecks/snmp] Support multiple symbols for metadata
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/checkconfig/config_metadata.go
  pkg/collector/corechecks/snmp/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/checkconfig/config_validate_enrich.go
  pkg/collector/corechecks/snmp/checkconfig/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/metadata/store.go
  pkg/collector/corechecks/snmp/metadata/store_test.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/test/metadata_conf.d/snmp.d/profiles/f5-big-ip.yaml
  releasenotes/notes/snmp_support_multiple_symbols_for_metadata-08aacc0a109ff92e.yaml
Labels: team/infra-integrations

#10086 [circleci] Cache dependencies with requirements.txt checksums
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10061 Switch to new dependency name
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10058 [corechecks/snmp] Add profile metadata match syntax
  pkg/collector/corechecks/snmp/checkconfig/config_metric.go
  pkg/collector/corechecks/snmp/checkconfig/config_validate_enrich.go
  pkg/collector/corechecks/snmp/checkconfig/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/checkconfig/profile_test.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/report/report_utils.go
  pkg/collector/corechecks/snmp/report/report_utils_test.go
  pkg/collector/corechecks/snmp/test/metadata_conf.d/snmp.d/profiles/f5-big-ip.yaml
  releasenotes/notes/snmp_metadata_match_syntax-04ff1174d935e58e.yaml
Labels: team/infra-integrations

#10091 Fix typo in install script
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10083 [tools] Add copyright lint tooling for Golang files
  tasks/__init__.py
  tasks/libs/copyright.py
  tasks/test.py
Labels: kind/enhancement, dev/tooling, changelog/no-changelog, severity/minor, team/agent-platform, qa/skip-qa, python, category/improvement

#10085 backport fix encoding extra hosts
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/networks, category/bugfix, bugfix/regression

#10084 Fixes encoding of extra domain bug.
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/networks

#10095 [release] Update release.json and Go modules for 6/7.33.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10088 Remove env var suggestion for trace agent obfuscation in datadog.yaml template
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/agent-apm, component/config

#10074 [kitchen] Upgrade chef-datadog to latest version
  test/kitchen/Berksfile
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9993 [CSPM] remove agent-side helpers and upgrade policies version
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/checks/rego_helpers/datadog.rego
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#9850 [CWS] do no use host pid for kitchen functional test
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10071 [CSPM] upgrade opa-rego lib to v0.35.0
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#10101 [CSPM] remove agent-side helpers and upgrade policies version (#9993)
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/checks/rego_helpers/datadog.rego
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#10102 [kitchen] Get RPM keys from keys.datadoghq.com
  test/kitchen/site-cookbooks/dd-agent-reinstall/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10087 [corechecks/snmp] Fix flaky test TestDiscovery
  pkg/collector/corechecks/snmp/discovery/discovery_test.go
Labels: changelog/no-changelog, team/infra-integrations

#10105 [CWS] fix schema inode check
  pkg/security/tests/schemas.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10096 [corechecks/snmp] Set external tags for device hosts
  pkg/collector/corechecks/snmp/common/contants.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#10051 Remove unused v2 implemenatations for events, service_checks
  cmd/agent/android/app/src/main/assets/datadog.yaml
  pkg/config/config.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  test/benchmarks/aggregator/main.go
  test/benchmarks/aggregator/memory.go
  test/benchmarks/dogstatsd/main.go
Labels: team/agent-core, changelog/no-changelog

#10068 [Serverless] remove otlp from serverless build
  cmd/agent/common/common.go
  cmd/agent/common/common_otlp.go
  pkg/otlp/collector.go
  pkg/otlp/config.go
  pkg/otlp/config_serverless_noop.go
  pkg/otlp/map_provider.go
Labels: changelog/no-changelog, team/serverless

#10045 [security-agent] Show the endpoints used for both CSPM and CWS in status and flare
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/api/agent/agent.go
  cmd/security-agent/api/server.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/flare.go
  cmd/security-agent/app/runtime.go
  pkg/compliance/agent/agent.go
  pkg/compliance/agent/agent_test.go
  pkg/flare/archive_security.go
  pkg/flare/archive_security_test.go
  pkg/logs/config/endpoints.go
  pkg/logs/status/builder.go
  pkg/security/agent/agent.go
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/templates/compliance.tmpl
  pkg/status/templates/runtimesecurity.tmpl
Labels: changelog/no-changelog, team/agent-security

#10106 [pkg/otlp/model] [backport] Backport dimensions PR from collector-contrib
  pkg/otlp/model/translator/dimensions.go
  pkg/otlp/model/translator/dimensions_test.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/sketches_test.go
  pkg/otlp/model/translator/ttlcache.go
  pkg/otlp/model/translator/ttlcache_test.go
  releasenotes/notes/otlp-backport-hostname-ad4c24619004906c.yaml
Labels: kind/bug, severity/normal, team/agent-platform, category/bugfix

#9992 Add an `sslkeylogfile` parameter to store the TLS master secrets
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/http/transport.go
Labels: team/containers, changelog/no-changelog, category/improvement

#10118 [kitchen] Use APT keyrings instead of apt-key add
  test/kitchen/Berksfile
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/.gitignore
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/Berksfile
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/Gemfile
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/README.md
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/chefignore
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-debian-workaround/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
  test/kitchen/test-definitions/chef-test.yml
  test/kitchen/test-definitions/install-script-test.yml
  test/kitchen/test-definitions/security-agent-stress.yml
  test/kitchen/test-definitions/security-agent-test.yml
  test/kitchen/test-definitions/step-by-step-test.yml
  test/kitchen/test-definitions/upgrade5-test.yml
  test/kitchen/test-definitions/upgrade6-test.yml
  test/kitchen/test-definitions/upgrade7-test.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10108 [kitchen] Update dogstatsd install script to use keys.datadoghq.com
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10116 stub out fetching cloud provider NTP servers in tests
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/corechecks/net/ntp_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10098 Remove scrubber.Writer
  cmd/agent/common/commands/check.go
  pkg/flare/archive.go
  pkg/flare/archive_dca.go
  pkg/flare/archive_docker.go
  pkg/flare/archive_test.go
  pkg/flare/envvars.go
  pkg/flare/metadata.go
  pkg/util/scrubber/default.go
  pkg/util/scrubber/scrubber.go
  pkg/util/scrubber/writer.go
  pkg/util/scrubber/writer_test.go
Labels: team/agent-core, changelog/no-changelog

#10079 [security-agent] Allow auth_token to be read by the datadog agent
  pkg/api/security/platform_nowindows.go
  pkg/api/security/platform_windows.go
  pkg/api/security/security.go
  pkg/dogstatsd/server.go
  pkg/process/net/uds.go
  pkg/util/filesystem/permission_nowindows.go
  pkg/util/winutil/shutil.go
  pkg/util/winutil/users.go
  pkg/util/winutil/users_test.go
Labels: changelog/no-changelog, team/agent-security

#10124 Enable collection of PV/PVCs by default in the orchestrator check
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  releasenotes-dca/notes/collect-pv-b6ac11450c23b469.yaml
Labels: component/cluster-agent, team/container-app

#10089 [workloadmeta,tagger] Move garden collector to workloadmeta
  .github/CODEOWNERS
  pkg/tagger/collectors/garden_extract.go
  pkg/tagger/collectors/garden_extract_test.go
  pkg/tagger/collectors/garden_main.go
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_main.go
  pkg/workloadmeta/collectors/cloudfoundry/cloudfoundry.go
  pkg/workloadmeta/collectors/collectors.go
  pkg/workloadmeta/types.go
Labels: changelog/no-changelog, team/intg-tools-libs

#10035 [Serverless] Merge v16 into main
  pkg/serverless/logs/logs_test.go
  pkg/serverless/tags/tags_test.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
Labels: changelog/no-changelog, team/serverless

#9950 Define custom qlpack for Code Scanning
  .github/codeql_config.yml
  .github/workflows/codeql.yml
Labels: dev/tooling, team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#10134 Improve error message when logfile cannot be read
  pkg/logs/input/file/file_provider.go
Labels: team/agent-core, changelog/no-changelog, @DataDog/agent-core

#10136 remove unused private function
  pkg/logs/input/file/file_provider.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10139 Fix `tls: failed to write to key log: invalid argument` errors
  pkg/util/http/transport.go
Labels: team/containers, changelog/no-changelog, category/bugfix

#10129 pkg/obfuscate: Expose more SQL tokeniser state
  pkg/obfuscate/sql_tokenizer.go
Labels: changelog/no-changelog, team/agent-apm

#9941 appsec: add a status code tag to the intake error metric
  pkg/appsec/appsec.go
Labels: changelog/no-changelog, team/agent-apm

#9899 [CWS] add `autogenerated do not edit` warning message to documentation result files
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/scripts/common.py
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/backend.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/agent-security

#9988 [Serverless] Add Runtime API proxy
  cmd/serverless/main.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/proxy/invocation_details.go
  pkg/serverless/proxy/invocation_processor.go
  pkg/serverless/proxy/proxy.go
  pkg/serverless/proxy/proxy_test.go
  pkg/serverless/proxy/transport.go
Labels: changelog/no-changelog, team/serverless

#10112 pkg/obfuscate: downgrade easyjson
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/obfuscate/obfuscate_easyjson.go
Labels: changelog/no-changelog, team/agent-apm

#10150 [pkg/obfuscate] Update go.sum
  pkg/obfuscate/go.sum
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#10148 Use best effort selector to attach SElinux kprobes
  pkg/security/ebpf/probes/event_types.go
Labels: changelog/no-changelog, team/agent-security

#10133 [networks] Fix HTTP monitoring for Kernel 4.4
  .gitlab/functional_test/system_probe.yml
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/http-buffer.h
  pkg/network/ebpf/c/http.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/networks, bugfix/regression

#10152 [Serverless] fix proxy flaky tests
  pkg/serverless/proxy/proxy_test.go
Labels: changelog/no-changelog, team/serverless

#10157 Support alignment checks when searching for multibyte newlines
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/matcher.go
  pkg/logs/decoder/matcher_test.go
  pkg/logs/input/file/tailer.go
Labels: team/agent-core, changelog/no-changelog

#10099 Fix do_sendfile return value handling
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10138 Fix flaky TestProviderExpectedTags
  pkg/logs/tag/provider_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10153 Use best effort selector to attach SElinux kprobes
  pkg/security/ebpf/probes/event_types.go
Labels: changelog/no-changelog, team/agent-security, bugfix/regression

#10147 [release] Update release.json and Go modules for 6/7.33.0-rc.6
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10140 [kitchen] Fix + update step-by-step tests
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10151 [pipeline] Fix Github - Slack map
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10166 [kitchen] Simplify dd-agent-reinstall cookbook
  test/kitchen/site-cookbooks/dd-agent-reinstall/README.md
  test/kitchen/site-cookbooks/dd-agent-reinstall/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-reinstall/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-reinstall/recipes/default.rb
  test/kitchen/test-definitions/windows-npm-test.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10146 Update doc for use_device_id_as_hostname
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#10131 Updating cloudprovider.GetHostAliases to make it generic
  pkg/util/cachedfetch/fetcher.go
  pkg/util/cachedfetch/fetcher_test.go
  pkg/util/cloudproviders/alibaba/alibaba.go
  pkg/util/cloudproviders/alibaba/alibaba_test.go
  pkg/util/cloudproviders/alibaba/diagnosis.go
  pkg/util/cloudproviders/azure/azure.go
  pkg/util/cloudproviders/azure/azure_test.go
  pkg/util/cloudproviders/azure/diagnosis.go
  pkg/util/cloudproviders/cloudfoundry/cloudfoundry.go
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/tencent/tencent.go
  pkg/util/cloudproviders/tencent/tencent_test.go
  pkg/util/hostname/kubelet/host_alias.go
  pkg/util/hostname/kubelet/no_host_alias.go
Labels: team/agent-core, changelog/no-changelog

#10167 pkg/obfuscate: improve tokenizer state access
  pkg/obfuscate/sql_tokenizer.go
  pkg/obfuscate/sql_tokenizer_test.go
Labels: changelog/no-changelog, team/agent-apm

#9923 [omnibus] Use license & license_file DSL, fix missing licenses
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/datadog-agent-mac-app.rb
  omnibus/config/software/datadog-agent-prepare.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-buildpack-finalize.rb
  omnibus/config/software/datadog-cf-finalize.rb
  omnibus/config/software/datadog-dogstatsd-finalize.rb
  omnibus/config/software/datadog-dogstatsd.rb
  omnibus/config/software/datadog-iot-agent.rb
  omnibus/config/software/datadog-security-agent-policies.rb
  omnibus/config/software/freetds.rb
  omnibus/config/software/gstatus.rb
  omnibus/config/software/jmxfetch.rb
  omnibus/config/software/libkrb5.rb
  omnibus/config/software/pip2.rb
  omnibus/config/software/pip3.rb
  omnibus/config/software/pylint2.rb
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/setuptools2.rb
  omnibus/config/software/setuptools3.rb
  omnibus/config/software/snowflake-connector-python-py3.rb
  omnibus/config/software/system-probe.rb
  omnibus/config/software/vc_redist.rb
  omnibus/config/software/vc_redist_14.rb
  omnibus/config/software/version-manifest.rb
Labels: changelog/no-changelog, team/agent-platform

#10169 [kitchen] Remove usage of obsolete agent6 attribute
  test/kitchen/test-definitions/windows-install-test.yml
  test/kitchen/test-definitions/windows-npm-test.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10115 Add GitHub Action to run Serverless integration tests on relevant PRs
  .github/CODEOWNERS
  .github/workflows/serverless-integration.yml
  test/integration/serverless/run.sh
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#9882 Set doc team as release notes owner
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10172 [serverless] Fix test snapshots for .NET runtime tag
  test/integration/serverless/snapshots/log-csharp
  test/integration/serverless/snapshots/metric-csharp
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#10170 Kernel header downloading improvements
  go.mod
  go.sum
  pkg/util/kernel/download_headers.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10164 pkg/obfuscate: fix SQL Obfuscation errors on stmts with bind variables starting with digits
  pkg/obfuscate/sql_test.go
  pkg/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-fix-sql-obfuscation-bind-vars-with-digit-prefix-ee2792fc124adfd8.yaml
Labels: team/database-monitoring

#9939 Upload runtime ids with remote config requests
  cmd/agent/api/grpc.go
  pkg/config/config.go
  pkg/config/remote/service/client.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/subscriber.go
  pkg/config/remote/service/subscriber_stream.go
  pkg/config/remote/service/tracer_cache.go
  pkg/config/remote/service/tracer_cache_test.go
  pkg/proto/datadog/api/v1/api.proto
  pkg/proto/datadog/config/config.proto
  pkg/proto/pbgo/api.pb.go
  pkg/proto/pbgo/api.pb.gw.go
  pkg/proto/pbgo/config.pb.go
  pkg/proto/pbgo/config_gen.go
  pkg/proto/pbgo/config_gen_test.go
  pkg/proto/pbgo/mocks/api_mockgen.pb.go
  pkg/trace/config/subscriber.go
Labels: team/agent-core, changelog/no-changelog, team/agent-apm

#10174 [CSPM] bump policies version to v0.18.6
  release.json
Labels: changelog/no-changelog, team/agent-security

#10128 [containerd] Watch all namespaces by default when outside Kubernetes
  pkg/collector/corechecks/containers/containerd/containerd.go
  pkg/collector/corechecks/containers/containerd/containerd_events.go
  pkg/collector/corechecks/containers/containerd/containerd_events_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/diagnosis.go
  pkg/util/containerd/namespaces.go
  pkg/util/containerd/namespaces_test.go
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/containerd/collector_test.go
  pkg/workloadmeta/collectors/containerd/containerd.go
  pkg/workloadmeta/collectors/containerd/event_builder.go
  pkg/workloadmeta/collectors/containerd/event_builder_test.go
  releasenotes/notes/containerd-all-namespaces-67ca51b407c1e1a1.yaml
Labels: team/containers

#10171 [DCA][Admission] Fix admission controller not starting
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/admission/api_discovery.go
  pkg/clusteragent/admission/start.go
  pkg/clusteragent/admission/util.go
  releasenotes-dca/notes/admission-retry-8a668e427eecb117.yaml
Labels: kind/bug, team/containers, component/cluster-agent

#10184 [serverless] Remove extraneous WARN log, update integration tests
  pkg/serverless/trace/trace.go
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#10185 Update release.json and Go modules for 6/7.32.2-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#10163 [Serverless] disable backoff delay in serverless mode
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
Labels: changelog/no-changelog, team/serverless

#10187 [changelog] 7.32.2
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10189 [jmxfetch][7.33.x port] Upgrade to 0.44.4, and apply log4j mitigation
  pkg/jmxfetch/jmxfetch.go
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10188 [jmxfetch][main port] Upgrade to 0.44.4, and apply log4j mitigation
  pkg/jmxfetch/jmxfetch.go
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10007 [tests/e2e] Add end to end tests for OTLP endpoint
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/e2e.yml
  test/e2e/argo-workflows/otlp-workflow.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/templates/otlp-test.yaml
  test/e2e/containers/otlp_sender/Dockerfile
  test/e2e/containers/otlp_sender/Makefile
  test/e2e/containers/otlp_sender/cmd/sender/main.go
  test/e2e/containers/otlp_sender/go.mod
  test/e2e/containers/otlp_sender/go.sum
  test/e2e/containers/otlp_sender/internal/filereceiver/factory.go
  test/e2e/scripts/run-instance/22-argo-submit.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10179 [CSPM] bump policies version to v0.18.6
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#10190 [release] Update release.json and Go modules for 6/7.33.0-rc.7
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10125 Add support for '/host/etc' folder when running in containerized mode.
  pkg/config/config.go
  pkg/flare/envvars.go
  releasenotes/notes/support-host-etc-folder-a45dc78da37872e1.yaml
Labels: team/agent-core, team/networks, team/agent-security

#9748 Adding oracle cloud support
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/oracle/diagnosis.go
  pkg/util/cloudproviders/oracle/oracle.go
  pkg/util/cloudproviders/oracle/oracle_test.go
  releasenotes/notes/add-oracle-cloud-12445d3962a5d4b0.yaml
Labels: team/agent-core

#10194 [containerd] Extract mocked client and reuse it
  pkg/collector/corechecks/containers/containerd/containerd_events_test.go
  pkg/util/containerd/fake/containerd_util.go
  pkg/util/containerd/namespaces_test.go
  pkg/util/containers/v2/metrics/containerd/collector_test.go
  pkg/workloadmeta/collectors/containerd/container_builder_test.go
  pkg/workloadmeta/collectors/containerd/containerd_test.go
  pkg/workloadmeta/collectors/containerd/event_builder_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10193 [omnibus] Add missing license info for Python2/3 on Windows
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/setuptools2.rb
  omnibus/config/software/setuptools3.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10159 [tools] Add basic fixing capabilities to the copyright linter tool
  tasks/libs/copyright.py
  tasks/test.py
Labels: dev/tooling, changelog/no-changelog, severity/minor, team/agent-platform, qa/skip-qa, category/improvement

#10192 Update winbuildimages to include IBM MQ client
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10207 [serverless] Enable proxy in .NET integration tests
  test/integration/serverless/serverless.yml
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#10075 [CWS] do not use stress test diff. returns top N for CPU/Mem
  .gitlab/source_test/ebpf.yml
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/model.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/stresser_test.go
  tasks/security_agent.py
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/stress-tests.rb
  test/kitchen/test/integration/security-agent-stress/rspec/security-agent-stress_spec.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10168 [CWS] refactor SECL opts
  cmd/security-agent/app/runtime.go
  pkg/security/module/module.go
  pkg/security/probe/approvers_test.go
  pkg/security/probe/discarders_test.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/eval/opts.go
  pkg/security/secl/model/legacy_secl.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10073 [Cluster Checks] Support advanced autodiscovery rules with check config files
  .github/CODEOWNERS
  cmd/agent/common/autodiscovery.go
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/autoconfig_test.go
  pkg/autodiscovery/common/utils/prometheus_apiserver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/container.go
  pkg/autodiscovery/listeners/ecs_fargate.go
  pkg/autodiscovery/listeners/environment.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/providers/clusterchecks.go
  pkg/autodiscovery/providers/config_reader.go
  pkg/autodiscovery/providers/config_reader_test.go
  pkg/autodiscovery/providers/consul.go
  pkg/autodiscovery/providers/endpointschecks.go
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/file_test.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_services.go
  pkg/autodiscovery/providers/kube_services_file.go
  pkg/autodiscovery/providers/kube_services_file_test.go
  pkg/autodiscovery/providers/kube_services_test.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/providers/names/provider_names.go
  pkg/autodiscovery/providers/prometheus_pods.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/autodiscovery/providers/prometheus_services_test.go
  pkg/autodiscovery/providers/providers.go
  pkg/autodiscovery/providers/tests/advanced_ad.yaml
  pkg/autodiscovery/providers/zookeeper.go
  pkg/collector/corechecks/embed/jmx/loader_test.go
  pkg/config/autodiscovery/autodiscovery.go
  pkg/config/config.go
  pkg/flare/cluster_checks.go
  pkg/util/kubernetes/apiserver/services.go
  releasenotes-dca/notes/file-ad-svc-checks-8a88590505f56e06.yaml
  test/integration/listeners/docker/docker_listener_test.go
Labels: component/autodiscovery, team/containers, kind/feature

#10212 [tests/e2e] Fix script issues with Dependabot name
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/setup-instance/02-ec2.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10154 [Serverless] Add java integration tests for the Serverless Extension
  test/integration/serverless/.gitignore
  test/integration/serverless/recorder-extension/go.mod
  test/integration/serverless/recorder-extension/go.sum
  test/integration/serverless/recorder-extension/main.go
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/log-java
  test/integration/serverless/snapshots/simple-trace-go
  test/integration/serverless/snapshots/simple-trace-java
  test/integration/serverless/snapshots/simple-trace-node
  test/integration/serverless/snapshots/simple-trace-python
  test/integration/serverless/snapshots/timeout-java
  test/integration/serverless/snapshots/with-ddlambda-java
  test/integration/serverless/src/java-tests/error/pom.xml
  test/integration/serverless/src/java-tests/error/src/main/java/ErrorHandler.java
  test/integration/serverless/src/java-tests/error/src/main/resources/log4j2.xml
  test/integration/serverless/src/java-tests/log/pom.xml
  test/integration/serverless/src/java-tests/log/src/main/java/LogHandler.java
  test/integration/serverless/src/java-tests/log/src/main/resources/log4j2.xml
  test/integration/serverless/src/java-tests/timeout/pom.xml
  test/integration/serverless/src/java-tests/timeout/src/main/java/TimeoutHandler.java
  test/integration/serverless/src/java-tests/timeout/src/main/resources/log4j2.xml
  test/integration/serverless/src/java-tests/trace/pom.xml
  test/integration/serverless/src/java-tests/trace/src/main/java/TraceHandler.java
  test/integration/serverless/src/java-tests/trace/src/main/resources/log4j2.xml
  test/integration/serverless/src/java-tests/with-ddlambda/pom.xml
  test/integration/serverless/src/java-tests/with-ddlambda/src/main/java/Handler.java
  test/integration/serverless/src/java-tests/with-ddlambda/src/main/resources/log4j2.xml
Labels: changelog/no-changelog, team/serverless

#10203 Backport fix: agent encoding fix
  go.mod
  go.sum
Labels: changelog/no-changelog, team/networks, category/bugfix, bugfix/new_feature

#10199 [release] Fix milestone & next final version computation when building RCs
  tasks/release.py
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa

#10219 [release] Update release.json and Go modules for 6/7.33.0-rc.8
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10218 [Serverless] Bump log4j versions for integration tests
  test/integration/serverless/serverless.yml
  test/integration/serverless/src/java-tests/error/pom.xml
  test/integration/serverless/src/java-tests/log/pom.xml
  test/integration/serverless/src/java-tests/timeout/pom.xml
  test/integration/serverless/src/java-tests/trace/pom.xml
  test/integration/serverless/src/java-tests/with-ddlambda/pom.xml
Labels: changelog/no-changelog, team/serverless

#10232 [CircleCI] Use dedicated cache key for 7.32.x branch
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10230 [pylint] Pin lazy-object-proxy dependency to latest working
  omnibus/config/software/pylint2.rb
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10236 [release] Update release.json and Go modules for 6/7.32.3-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10217 [tests/e2e] Address comment from #10212
  test/e2e/scripts/run-instance/22-argo-submit.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9007 pkg/trace/api: add telemetry proxy endpoint
  pkg/config/apm.go
  pkg/trace/api/api.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/api/telemetry.go
  pkg/trace/api/telemetry_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/apply_test.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/info/info_test.go
  releasenotes/notes/add-trace-agent-telemetry-endpoint-f398bcd47e637081.yaml
Labels: team/agent-apm

#10046 Reducing the memory used by flushSeries: Refactor serie signature
  pkg/aggregator/check_sampler.go
  pkg/aggregator/time_sampler.go
  pkg/metrics/context_metrics.go
  pkg/metrics/context_metrics_flusher.go
  pkg/metrics/context_metrics_flusher_test.go
Labels: team/agent-core, changelog/no-changelog

#10234 [backport][pylint] Pin lazy-object-proxy dependency to latest working
  omnibus/config/software/pylint2.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10235 [backport][7.33.x][pylint] Pin lazy-object-proxy dependency to latest working
  omnibus/config/software/pylint2.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10063 Introduce iterable stream json marshaler
  pkg/metrics/context_metrics_flusher.go
  pkg/metrics/iterable_series.go
  pkg/metrics/iterable_series_test.go
  pkg/metrics/series.go
  pkg/metrics/service_check.go
  pkg/serializer/marshaler/marshaler.go
  pkg/serializer/marshaler/marshaler_adapter.go
  pkg/serializer/serializer.go
  pkg/serializer/stream/json_payload_builder.go
  pkg/serializer/stream/json_payload_builder_nozlib.go
  pkg/serializer/test_common.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10213 [corechecks/snmp] Add missing `oid_batch_size` to config template
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#10237 [codeowners] Add container-app to DCA release notes
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/container-app, qa/skip-qa

#10229 [tasks] Refactor working with agent flavors
  .circleci/config.yml
  .gitlab/binary_build/linux.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  omnibus/config/software/datadog-iot-agent.rb
  tasks/agent.py
  tasks/build_tags.py
  tasks/flavor.py
  tasks/winbuildscripts/dobuild.bat
Labels: changelog/no-changelog, team/agent-platform

#10238 [workloadmeta] Fix deadlock in Subscribe function
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/new_feature

#10240 [jmxfetch][7.33.x port] Upgrade to 0.44.5
  omnibus/config/software/jmxfetch.rb
  pkg/jmxfetch/jmxfetch.go
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10241 [jmxfetch][main port] Upgrade to 0.44.5
  pkg/jmxfetch/jmxfetch.go
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10242 [workloadmeta] Fix deadlock in Subscribe
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10211 [tasks] Enable tag inclusion/exclusion for process agent builds
  tasks/process_agent.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10246 update changelog 7.32.3
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10222 Revert "Enable NAT gateway lookup by default (#9751)"
  pkg/config/system_probe.go
  pkg/network/config/config_test.go
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-DisableGwLookup.yaml
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableGwLookup.yaml
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  releasenotes/notes/enable-npm-nat-gw-lookup-default-4dd11a75e9b9a582.yaml
Labels: changelog/no-changelog, team/networks

#10233 [listeners/snmp] Update auth and priv protocols
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#10244 [CWS] fix empty macros map
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, team/agent-security

#10183 [Serverless] Add enhanced error metric to invokationlifecycle package
  cmd/serverless/main.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/metrics/metric.go
  pkg/serverless/metrics/metric_test.go
Labels: changelog/no-changelog, team/serverless

#10247 [changelog] 7.32.3
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10243 [AD] Add telemetry
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/workloadmeta.go
  pkg/autodiscovery/providers/file.go
  pkg/autodiscovery/providers/kubelet.go
  pkg/autodiscovery/telemetry/README.md
  pkg/autodiscovery/telemetry/telemetry.go
  releasenotes-dca/notes/ad-telemetry-be7d6fa1730a9b1f.yaml
  releasenotes/notes/ad-telemetry-be7d6fa1730a9b1f.yaml
Labels: component/autodiscovery, team/containers

#10110 [CWS] use more recent packages loader in `accessors` generator script
  pkg/security/module/event.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/serializers.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, team/agent-security

#10149 [CWS] e2e tests improvements and bugfixes
  test/e2e/cws-tests/tests/lib/app.py
  test/e2e/cws-tests/tests/lib/stepper.py
Labels: changelog/no-changelog, team/agent-security

#10249 [AD/listeners] Add missing returns in `Register` func
  pkg/autodiscovery/listeners/types.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10215 [containers] Add CRI collector
  pkg/util/containers/cri/crimock/criutil.go
  pkg/util/containers/cri/util.go
  pkg/util/containers/v2/metrics/cri/collector.go
  pkg/util/containers/v2/metrics/cri/collector_test.go
  pkg/util/containers/v2/metrics/cri/doc.go
  pkg/util/containers/v2/metrics/facade.go
  pkg/workloadmeta/types.go
  releasenotes/notes/cri-collector-container-check-95bca028451e4baa.yaml
Labels: team/containers

#10200 Improve rtloader path resolution to work OOTB outside GOPATH
  tasks/utils.py
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix

#10256 [kubelet] Add query telemetry
  pkg/util/kubernetes/kubelet/kubelet_client.go
  pkg/util/kubernetes/kubelet/telemetry.go
  releasenotes/notes/kubelet-telem-b45f1eb7201b18d0.yaml
Labels: team/containers

#10033 [Orchestrator] update cache hits
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_processor.go
  pkg/orchestrator/util.go
  pkg/util/orchestrator/pod.go
  releasenotes-dca/notes/fix-orchestrator-cache-hits-d66b3eaf6510699c.yaml
Labels: component/cluster-agent, team/container-app, category/bugfix

#10254 [gitlab] Add build for new heroku agent flavor
  .gitlab/deploy_6/nix.yml
  .gitlab/deploy_7/nix.yml
  .gitlab/kitchen_cleanup.yml
  .gitlab/kitchen_deploy.yml
  .gitlab/package_build/deb.yml
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent.rb
  tasks/agent.py
  tasks/build_tags.py
  tasks/flavor.py
  tasks/process_agent.py
  tasks/trace_agent.py
Labels: changelog/no-changelog, team/agent-platform

#10253 pkg/config: fix APM env. vars.
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm

#10210 [CSPM] end-to-end tests
  .gitlab/e2e.yml
  test/e2e/argo-workflows/cspm-workflow.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/cws-tests/requirements.txt
  test/e2e/cws-tests/tests/lib/const.py
  test/e2e/cws-tests/tests/lib/cspm/api.py
  test/e2e/cws-tests/tests/lib/cspm/finding.py
  test/e2e/cws-tests/tests/lib/cws/app.py
  test/e2e/cws-tests/tests/lib/cws/policy.py
  test/e2e/cws-tests/tests/lib/docker.py
  test/e2e/cws-tests/tests/lib/kubernetes.py
  test/e2e/cws-tests/tests/test_e2e_cspm_docker.py
  test/e2e/cws-tests/tests/test_e2e_cspm_kubernetes.py
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/cws-tests/tests/test_e2e_cws_kubernetes.py
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
Labels: changelog/no-changelog, team/agent-security

#10224 [Serverless] Implement span post processor
  pkg/serverless/daemon/daemon.go
  pkg/serverless/trace/span_modifer_test.go
  pkg/serverless/trace/span_modifier.go
  pkg/serverless/trace/trace.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
Labels: changelog/no-changelog, team/serverless

#9323 [Serverless] Add check for the extension binary size
  .gitlab/JOBOWNERS
  .gitlab/binary_build/serverless.yml
Labels: changelog/no-changelog, team/serverless

#9171 [network/agent/ebpf] connections tags
  go.mod
  go.sum
  pkg/network/ebpf/c/http-types.h
  pkg/network/ebpf/c/http.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tags-types.h
  pkg/network/ebpf/c/tags.h
  pkg/network/ebpf/c/tracer-stats.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/kprobe_types.go
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/encoding/format_test.go
  pkg/network/event_common.go
  pkg/network/http/http_statkeeper.go
  pkg/network/http/http_stats.go
  pkg/network/http/http_stats_test.go
  pkg/network/http/model.go
  pkg/network/tags.go
  pkg/network/tags_linux.go
  pkg/network/tags_nolinux.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/networks

#10265 [kitchen] Add kitchen tests for Heroku agent + related fixes
  .gitlab/kitchen_common/testing.yml
  .gitlab/kitchen_testing/debian.yml
  omnibus/config/projects/agent.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/test/integration/install-script/rspec/install-script_spec.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10142 (rc) extract uptane client, use TUF state as source of truth
  cmd/agent/api/grpc.go
  cmd/agent/app/remote_config.go
  cmd/agent/app/run.go
  go.mod
  pkg/config/remote/client/http.go
  pkg/config/remote/meta/1.config.json
  pkg/config/remote/meta/1.director.json
  pkg/config/remote/meta/meta.go
  pkg/config/remote/service/meta/meta.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/subscriber.go
  pkg/config/remote/service/subscriber_stream.go
  pkg/config/remote/service/tuf/config.go
  pkg/config/remote/service/tuf/config_test.go
  pkg/config/remote/service/tuf/director.go
  pkg/config/remote/service/tuf/director_test.go
  pkg/config/remote/service/tuf/tuf.go
  pkg/config/remote/service/tuf/tuf_test.go
  pkg/config/remote/service/util.go
  pkg/config/remote/store/store.go
  pkg/config/remote/store/store_test.go
  pkg/config/remote/uptane/client.go
  pkg/config/remote/uptane/client_test.go
  pkg/config/remote/uptane/local_store.go
  pkg/config/remote/uptane/local_store_test.go
  pkg/config/remote/uptane/partial_client.go
  pkg/config/remote/uptane/remote_store.go
  pkg/config/remote/uptane/remote_store_test.go
  pkg/config/remote/uptane/target_store.go
  pkg/config/remote/uptane/target_store_test.go
  pkg/config/remote/uptane/util.go
  pkg/config/remote/uptane/util_test.go
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/remote-config

#10267 Fix log message for auth token creation
  pkg/api/security/security.go
Labels: changelog/no-changelog, team/agent-security

#10261 [CWS & CSPM] e2e improvements
  test/e2e/cws-tests/requirements.txt
  test/e2e/cws-tests/tests/lib/cws/app.py
Labels: changelog/no-changelog, team/agent-security

#10220 pkg/trace/api: Add proxy endpoint for pipeline stats
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
  pkg/trace/api/pipeline_stats.go
  pkg/trace/api/pipeline_stats_test.go
  releasenotes/notes/pipeline-stats-ac5fc6d441312541.yaml
Labels: team/agent-apm

#10263 Move connections check code to network agent team
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/processes, team/networks
