Repository DataDog/datadog-agent, pull requests merged in 2021-08, with the labels that each got.

#8735 [cluster_agent] Allow to use per-metric maxAge
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/clusteragent/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  releasenotes-dca/notes/use-datadogmetric-max-age-77a566a0db2cb4d7.yaml
Labels: team/containers

#8638 pkg/trace/sampler: improve ServiceCatalog tests
  pkg/trace/sampler/catalog_test.go
Labels: changelog/no-changelog, team/agent-apm

#8733 Upgrade sketches-go library
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/network/encoding/encoding_test.go
  pkg/trace/stats/concentrator_test.go
Labels: changelog/no-changelog, team/agent-apm

#8772 [KSMCore] Add pod.count and improve owner tagging
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes-dca/notes/ksm-core-count-metrics-ebb99a5dd69df324.yaml
  releasenotes/notes/ksm-core-count-metrics-ebb99a5dd69df324.yaml
Labels: team/containers

#8651 [CWS] run kitchen functional tests on arm64, and fix bugs
  .gitlab/functional_test/security_agent.yml
  .gitlab/source_test/ebpf.yml
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/syscalls_amd64_test.go
  test/kitchen/platforms.json
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#8777 [Tagger] Better telemetry for queries and fetches
  pkg/tagger/local/tagger.go
  pkg/tagger/telemetry/telemetry.go
Labels: changelog/no-changelog, team/containers

#8778 Correctly clear DockerUtil caches after listing containers
  pkg/util/docker/containers.go
  releasenotes/notes/docker-memory-leak-dd5a121782d0506b.yaml
Labels: team/containers

#8747 [runtime-security] add context for aptly replace in `go.mod`
  go.mod
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8783 [Tagger] Update telemetry for remote and replay tagger
  pkg/tagger/remote/tagger.go
  pkg/tagger/replay/tagger.go
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#8785 [runtime-security] fix log level for invalidateDentry error
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8787 [fix] Lower the log level for tagger pulling errors
  pkg/tagger/local/tagger.go
Labels: changelog/no-changelog, team/containers

#8794 [Backport][fix] Lower the log level for tagger pulling errors (#8787)
  pkg/tagger/local/tagger.go
Labels: changelog/no-changelog, team/containers

#8793 [runtime-security] fix log level for invalidateDentry error backport
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8796 [release] add release entry for 7.30.0-rc.13
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8789 [ksm core] fix statefulset label mapping
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes/notes/fix-ksm-check-statefulset-tag-293627a2b7c00d3e.yaml
Labels: team/containers

#8786 Include error in non-forced local flares
  cmd/agent/api/agent/agent.go
  cmd/agent/app/flare.go
  cmd/agent/gui/agent.go
  cmd/systray/doflare.go
  pkg/flare/archive.go
  pkg/flare/archive_nix_test.go
  pkg/flare/archive_test.go
  releasenotes/notes/flare-local-include-error-bdacf400f6ad841a.yaml
Labels: team/agent-core

#8754 [collector healthcheck] More accurate and less aggressive collector queue healthcheck
  pkg/collector/scheduler/job.go
  releasenotes/notes/less-aggressive-collector-queue-health-82822ea0a9da7850.yaml
Labels: component/collector, team/agent-core

#8800 [runtime-security] add security-agent.yaml to flare
  pkg/flare/archive.go
  releasenotes/notes/runtime-security-flare-317b08786582f7cd.yaml
Labels: team/agent-security

#8797 [runtime-security] do not invalidate on syscall error
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#8737 [runtime-security] do not discard inode or mount id equal to zero
  pkg/security/ebpf/c/discarders.h
  pkg/security/probe/discarders.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8718 [runtime-security] apply deny policy filter even if there is no rule
  pkg/security/probe/applier.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8666 [tagger] fix tag lookup when replay tagger is active
  cmd/agent/app/dogstatsd_replay.go
  pkg/dogstatsd/listeners/uds_linux.go
  pkg/tagger/replay/tagger.go
  releasenotes/notes/dogstatsd-tagger-replay-fix-fdba87ea70a46bbc.yaml
Labels: team/agent-core

#8784 Fix improper log call
  pkg/aggregator/time_sampler.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8810 Be safer handling unlocked data in logging tag provider
  pkg/logs/tag/local_provider.go
Labels: team/agent-core, changelog/no-changelog

#8805 [cgroups] Fix CPU reporting when cgroup files are missing
  pkg/collector/corechecks/containers/docker/docker.go
  pkg/process/checks/container.go
  pkg/process/checks/container_common.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/container_test.go
  pkg/process/util/containers_common.go
  pkg/util/containers/metrics/types.go
  pkg/util/containers/providers/cgroup/cgroup_metrics.go
  pkg/util/containers/providers/cgroup/cgroup_metrics_test.go
  pkg/util/containers/providers/windows/provider.go
  pkg/util/ecs/common.go
  releasenotes/notes/fix-missing-cgroup-cpu-d870368249ee588a.yaml
Labels: team/containers, team/processes

#8818 [kitchen] Update Ubuntu 16.04 image
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8719 [runtime-security] Use a ticker to send process resolver hits and misses metrics
  pkg/security/probe/load_controller.go
  pkg/security/probe/perf_buffer_monitor.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security

#8781 [runtime-security] fix oracle centos test crashs
  test/kitchen/platforms.json
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8817 [runtime-security] always discard after cache invalidation
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/rename.h
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8819 [kitchen] Update Ubuntu 16.04 image
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8690 [runtime-security] remove executable_path, executable_inode and executable_mount_id
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/schemas/process.json
  pkg/security/tests/schemas/schemas.go
Labels: changelog/no-changelog, team/agent-security

#8765 [runtime-security] Add missing syscalls
  pkg/security/probe/syscalls.go
  pkg/security/probe/syscalls_string_linux.go
Labels: changelog/no-changelog, team/agent-security

#8816 Exclude avi_vantage from py2 build
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, team/integrations

#8820 Automatically tags CF app containers based on app metadata
  pkg/util/cloudfoundry/bbscache_test.go
  pkg/util/cloudfoundry/types.go
  pkg/util/cloudfoundry/types_test.go
  releasenotes/notes/cf-auto-tags-07f975b67e24e513.yaml
Labels: component/cluster-agent, team/intg-tools-libs

#8533 [CWS] fix inconsistencies between C and Go structs, for unmarshallers
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/commit_creds.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/model/unmarshallers.go
  pkg/security/tests/utimes_test.go
Labels: changelog/no-changelog, team/agent-security

#8799 [omnibus] Add README for the embedded configuration folder
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-prepare.rb
  releasenotes/notes/fix-agent-packages-unixodbc-config-5fd08a31a8bb19b7.yaml
Labels: changelog/no-changelog, team/agent-platform

#8806 [gitlab] Remove size tag in job definitions
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/check_deploy.yml
  .gitlab/deploy_6/docker.yml
  .gitlab/deploy_6/nix.yml
  .gitlab/deploy_6/windows.yml
  .gitlab/deploy_7/cluster_agent_cloudfoundry.yml
  .gitlab/deploy_7/docker.yml
  .gitlab/deploy_7/install_script.yml
  .gitlab/deploy_7/nix.yml
  .gitlab/deploy_7/windows.yml
  .gitlab/deploy_invalidate.yml
  .gitlab/deps_build.yml
  .gitlab/deps_fetch.yml
  .gitlab/e2e.yml
  .gitlab/image_build/docker_linux.yml
  .gitlab/image_deploy/docker_linux.yml
  .gitlab/image_deploy/twistlock.yml
  .gitlab/integration_test.yml
  .gitlab/internal_deploy.yml
  .gitlab/kitchen_common/cleanup.yml
  .gitlab/kitchen_common/testing.yml
  .gitlab/kitchen_deploy.yml
  .gitlab/maintenance_jobs/docker.yml
  .gitlab/maintenance_jobs/kitchen.yml
  .gitlab/package_build/apk.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/dmg.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/pkg_metrics.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/security_scan.yml
  .gitlab/trigger_release.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8821 [kitchen] Only retry failed kitchen tests
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8811 [serverless] Tag all telemetry with the Lambda Extension version number
  pkg/serverless/serverless_test.go
  pkg/serverless/tags/tags.go
  pkg/serverless/tags/tags_test.go
Labels: changelog/no-changelog, team/serverless

#8826 [Gitlab] Update kitchen CentOS 6 image
  .gitlab/kitchen_testing/centos.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8760 Add parameters to customize InCluster config used to reach APIServer
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/kubernetes/apiserver/apiserver.go
  releasenotes/notes/apiserver-ca-4f3bc0f6d7f99a2f.yaml
Labels: team/containers

#8827 [backport] [Gitlab] Update kitchen CentOS 6 image
  .gitlab/kitchen_testing/centos.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8637 [AD] Ignore containers stopped too long ago
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/docker_test.go
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/config/config.go
  releasenotes/notes/ad-ignore-stopped-containers-ee856d1e3df0bf7d.yaml
Labels: team/containers

#8739 Add Windows kernel VARIANT to install_info
  .gitlab/image_build/docker_windows.yml
  .gitlab/image_build/docker_windows_agent6.yml
  .gitlab/image_build/docker_windows_agent7.yml
  Dockerfiles/agent/install.ps1
  Dockerfiles/agent/windows/amd64/Dockerfile
Labels: changelog/no-changelog, team/agent-platform

#8614 [runtime-security] Fix manager dead lock
  pkg/security/probe/probe.go
  pkg/security/probe/reorderer.go
  pkg/security/probe/reorderer_test.go
  pkg/security/tests/filters_test.go
Labels: changelog/no-changelog, team/agent-security

#8723 [runtime-security] add functional test to check discarder mask mechanism
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/probes/raw_sys_exit.go
  pkg/security/model/events.go
  pkg/security/probe/approvers.go
  pkg/security/probe/discarders.go
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/setup_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8776 [Docker] Consistently report tags for stopped containers
  pkg/collector/corechecks/containers/docker/docker.go
  releasenotes/notes/docker-stopped-containers-tags-c3850944f4d196f6.yaml
Labels: team/containers

#8828 [Dependabot] Exclude nikos dependency
  .github/dependabot.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8824 [orchestrator] rework cache stats tmpl
  pkg/clusteragent/orchestrator/status.go
  pkg/status/templates/orchestrator.tmpl
Labels: changelog/no-changelog, team/container-app

#8829 Always run feature detection on config.load
  pkg/config/config.go
Labels: kind/bug, team/containers, changelog/no-changelog

#8822 [ckey] re-introduce context key optimization
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/time_sampler_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample.go
  pkg/metrics/test_helper.go
  pkg/util/tags_builder.go
  releasenotes/notes/faster-ckey-hash-8f30ad530cce348a.yaml
Labels: team/agent-core

#8839 [Backport] Always run feature detection on config.load (#8829)
  pkg/config/config.go
Labels: team/containers, changelog/no-changelog

#8838 [windows] Update signing certificate hash in kitchen tests
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8841 [backport] [windows] Update signing certificate hash in kitchen tests
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8840 [tasks] Improve error message when workflow rules are not matched
  tasks/libs/pipeline_tools.py
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8830 [Tagger] Run pulling, store, and bookkeeping on separate goroutines
  pkg/tagger/collectors/kubernetes_metadata_mapper.go
  pkg/tagger/local/tagger.go
  pkg/tagger/local/tagstore.go
  releasenotes/notes/no_async_for_tagger-0e1f1c582f8fd61b.yaml
Labels: team/containers

#8837 [tasks] Add pipeline ID to nightly packages versions
  .gitlab/package_build/windows.yml
  tasks/agent.py
  tasks/android.py
  tasks/dogstatsd.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8843 [release] add release entry for 7.30.0-rc.14
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8825 Update `.gitlab/kitchen_testing/centos/yml`
  .gitlab/kitchen_testing/centos.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8833 [Serverless] remove files which include big libraries from the serverless build
  pkg/autodiscovery/listeners/common.go
  pkg/snmp/traps/testing.go
Labels: changelog/no-changelog, team/serverless

#8706 Remove eBPF probe bundling
  pkg/network/testdata/run_latency_bench.sh
  tasks/system_probe.py
  tools/ebpf/Dockerfiles/Dockerfile-ebpf
  tools/ebpf/Dockerfiles/Dockerfile-tracer-dev
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8849 [system-probe] Add to runtime compilation results
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/runtime_asset.go
Labels: changelog/no-changelog, team/networks

#8809 [system-probe] Add config flags for package management repository paths
  pkg/config/system_probe.go
  pkg/ebpf/bytecode/runtime/runtime_asset.go
  pkg/ebpf/config.go
  pkg/util/kernel/download_headers.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/find_headers_test.go
Labels: changelog/no-changelog, team/networks

#8636 [orchestrator] refactor expvar usage by dynamically create them using IOTA types
  cmd/process-agent/collector.go
  pkg/aggregator/mocksender/mocked_methods.go
  pkg/aggregator/sender.go
  pkg/clusteragent/orchestrator/status.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_transformer.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/telemetry.go
  pkg/forwarder/test_common.go
  pkg/orchestrator/cache.go
  pkg/orchestrator/util.go
  pkg/orchestrator/util_test.go
  pkg/process/checks/pod.go
  pkg/serializer/serializer.go
  pkg/serializer/test_common.go
  pkg/util/orchestrator/pod.go
  pkg/util/orchestrator/pod_test.go
Labels: changelog/no-changelog, team/container-app

#8848 Use container instance guid for ADIdentifier
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/autodiscovery/providers/cloudfoundry_test.go
  pkg/util/cloudfoundry/types.go
  pkg/util/cloudfoundry/types_test.go
  releasenotes/notes/cloudfoundry-ad-2d22f320dd2b172c.yaml
Labels: component/autodiscovery, component/cluster-agent, team/intg-tools-libs

#8762 Stop dropping TCP connections on log collection after 60s
  pkg/logs/input/listener/tcp.go
  releasenotes/notes/tcp-logs-remove-timeout-bedd771596893d8d.yaml
Labels: team/agent-core

#8689 [runtime-security] Improve kernel and user space dentry resolvers
  pkg/config/config.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/discarders.go
  pkg/security/probe/model.go
  pkg/security/probe/mount_resolver.go
  pkg/security/probe/perf_buffer_monitor.go
  pkg/security/probe/probe.go
  pkg/security/probe/resolvers.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/probe_monitor_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
Labels: changelog/no-changelog, team/agent-security

#8856 Release 7.30.0
  go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/prelude-release-7.30.0-987a4d791081a358.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8863 [tasks] Rename token for pipeline schedules to correspond to real usage
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8701 [dogstatsd] capture: make capture destination location configurable
  cmd/agent/api/grpc.go
  cmd/agent/app/dogstatsd_capture.go
  pkg/dogstatsd/replay/capture.go
  pkg/dogstatsd/replay/writer.go
  pkg/dogstatsd/replay/writer_test.go
  pkg/dogstatsd/server.go
  pkg/proto/datadog/model/v1/model.proto
  pkg/proto/pbgo/model.pb.go
  releasenotes/notes/dogstatsd-capture-replay-arbitrary-location-9087c90b8876ba5a.yaml
Labels: team/agent-core

#8850 [Serverless] skip hostname resolution in Serverless context (2)
  pkg/serverless/trace/trace.go
  pkg/serverless/trace/trace_test.go
  pkg/util/grpc/agent_client.go
  pkg/util/grpc/agent_client_test.go
Labels: changelog/no-changelog, team/serverless

#8866 Update CHANGELOG for 7.30.0
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8858 [config_check] Print message when metrics or logs reporting are disabled
  pkg/autodiscovery/integration/config.go
  pkg/flare/config_check.go
  pkg/flare/config_check_test.go
  releasenotes/notes/configcheck-print-not-reporting-msg-c7d2ff2a730d09a1.yaml
Labels: team/containers

#8868 Update CHANGELOG for 7.30.0
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8748 [pkg/collector] Modularize `pkg/collector/runner/` logic
  pkg/collector/collector.go
  pkg/collector/metadata/agentchecks/agentchecks.go
  pkg/collector/runner/expvars/expvars.go
  pkg/collector/runner/expvars/expvars_test.go
  pkg/collector/runner/expvars/timestamp.go
  pkg/collector/runner/expvars/timestamp_test.go
  pkg/collector/runner/runner.go
  pkg/collector/runner/runner_test.go
  pkg/collector/runner/tracker/tracker.go
  pkg/collector/runner/tracker/tracker_test.go
  pkg/collector/worker/check_logger.go
  pkg/collector/worker/check_logger_test.go
  pkg/collector/worker/worker.go
  pkg/collector/worker/worker_test.go
Labels: kind/enhancement, component/collector, team/agent-core, changelog/no-changelog, severity/normal

#8852 [windows] Update to latest fixed driver;
  pkg/network/tracer/tracer_test.go
  release.json
Labels: changelog/no-changelog, team/networks

#8872 [config_check] Reuse existing config.IsTemplate func
  pkg/flare/config_check.go
Labels: team/containers, changelog/no-changelog

#8864 [runtime-security] add `security-agent.yaml` to `.gitignore`
  .gitignore
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8878 [release] clean up release.json
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8870 [kitchen] Fix kitchen logs in Gitlab artifacts
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8771 Add note about describing QA setup
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8802 [SNMP] Add `min_collection_interval` for snmp listener
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/collector/corechecks/snmp/config.go
  pkg/collector/corechecks/snmp/config_test.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/snmp/snmp.go
  pkg/snmp/snmp_test.go
  releasenotes/notes/snmp_listener_extra_min_collection_interval-225566a35b6661e9.yaml
Labels: kind/enhancement, team/infra-integrations

#8855 [orchestrator] refactor informer usage
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/util/kubernetes/apiserver/types.go
Labels: changelog/no-changelog, team/container-app

#8877 [process] Lowercase UDP => udp when comparing in NetworkAddress
  pkg/process/checks/container.go
Labels: kind/bug, changelog/no-changelog, team/processes

#8823 [runtime-security] improve CWS config comment
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8871 Fix unformatted debug logs
  pkg/status/render.go
  pkg/status/status.go
  pkg/trace/agent/agent.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8885 Exempt the `/agent/flare` endpoint from `server_timeout`
  cmd/agent/api/agent/agent.go
  releasenotes/notes/no-timeout-for-flares-930505387df0e5c4.yaml
Labels: team/agent-core

#8887 [kitchen] Pin yum cookbook
  test/kitchen/site-cookbooks/dd-agent-5/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-import-conf/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-install/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-reinstall/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/metadata.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8890 [kitchen] Pin yum cookbook
  test/kitchen/site-cookbooks/dd-agent-5/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-import-conf/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-install/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-reinstall/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/metadata.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8815 [gitlab] Refactor functional tests definition
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe.yml
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa, team/agent-security

#8860 pkg/trace/obfuscate: replace digits in IDs as well when quantize_sql_tables is enabled
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_easyjson.go
  pkg/trace/obfuscate/obfuscate_test.go
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  releasenotes/notes/replace-digits-in-sql-ids-f846ad5f8938889d.yaml
Labels: team/agent-apm

#8891 [kitchen] Add Debian 11
  .gitlab/kitchen_testing/debian.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8879 [profiling] display a warning when changing runtime settings
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/settings/runtime_profiling_common.go
  pkg/config/settings/runtime_setting_block_profile_rate.go
  pkg/config/settings/runtime_setting_mutex_profile_fraction.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/util/profiling/profiling.go
Labels: team/agent-core, changelog/no-changelog

#8814 pkg/trace/api: add live debugger proxy endpoint
  pkg/config/apm.go
  pkg/trace/agent/agent.go
  pkg/trace/api/debugger.go
  pkg/trace/api/debugger_test.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
  pkg/trace/api/profiles.go
  pkg/trace/api/profiles_test.go
  pkg/trace/config/config.go
  pkg/trace/config/env_test.go
  releasenotes/notes/live-debugger-endpoint-9fa1ddaa9412bdfe.yaml
Labels: team/agent-apm

#8884 Factor HTTP request timeout into a separate function
  cmd/agent/api/server.go
Labels: team/agent-core, changelog/no-changelog

#8893 Add changelog and release for DCA 1.14.X
  CHANGELOG-DCA.rst
  release.json
Labels: team/containers, changelog/no-changelog, component/cluster-agent

#8874 Reduce log spam when encountering missing netns/pid/map keys
  pkg/network/netlink/conntrack.go
  pkg/network/tracer/cached_conntrack.go
  pkg/network/tracer/tracer.go
  pkg/process/util/netns.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8812 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#8899 Added cobra support and deprecated non-posix flags
  cmd/process-agent/main.go
  cmd/process-agent/main_common.go
  cmd/process-agent/main_windows.go
  releasenotes/notes/process-agent-cobra-4be0f08037b8141e.yaml
Labels: team/processes

#8663 Add more prometheus scrape params and make default true bool params configurable
  pkg/autodiscovery/common/types/prometheus.go
  releasenotes/notes/add-prometheus-scrape-params-11753f10b91b21f7.yaml
Labels: team/containers

#8756 [telemetry] optimize tagger and dsd telemetry
  pkg/dogstatsd/server.go
  pkg/tagger/local/tagger.go
  pkg/tagger/local/tagger_test.go
  pkg/tagger/remote/tagger.go
  pkg/tagger/replay/tagger.go
  pkg/tagger/telemetry/telemetry.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/histogram.go
  pkg/telemetry/options.go
  pkg/telemetry/prom_counter.go
  pkg/telemetry/simple_counter.go
Labels: team/agent-core, changelog/no-changelog

#8907 [pkg/collector] Allow build outside of GOPATH
  omnibus/config/software/datadog-agent.rb
  pkg/collector/python/aggregator.go
  tasks/winbuildscripts/unittests.ps1
Labels: team/agent-core, changelog/no-changelog

#8894 Fix unformatted logs
  pkg/aggregator/check_sampler.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8898 Update Python3 to 3.8.11
  omnibus/config/software/python3.rb
  releasenotes/notes/py3.8.11-1d161eb53260a506.yaml
Labels: team/agent-core, team/integrations, team/agent-platform

#8788 Track timeseries with huge tagsets
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/tagset_telem.go
  pkg/aggregator/tagset_telem_test.go
Labels: team/agent-core, changelog/no-changelog

#8635 [orchestrator] [dca] adding PV and PVC collection
  .github/CODEOWNERS
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_processor.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_transformer.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_transformer_test.go
  pkg/orchestrator/util.go
  pkg/util/orchestrator/pod.go
  releasenotes-dca/notes/collect-pv-pvc-d90655211f408419.yaml
Labels: team/container-app

#8875 add separate queue for realtime checks to limit the queue size
  cmd/process-agent/collector.go
  pkg/config/config.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/processes

#8914 [release] add release entry for 7.30.1-rc.1
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8886 Allow re-introduction of the tcp log timeout
  pkg/logs/config/integration_config.go
  pkg/logs/input/listener/tcp.go
Labels: team/agent-core, changelog/no-changelog

#8906 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#8873 [windows] Clean up output of lint
  tasks/go.py
Labels: changelog/no-changelog, team/agent-platform

#8880 [snmp_listener] Update snmp listener config template
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#8892 [pkg/quantile] Bundle into a Go module
  .github/dependabot.yaml
  go.mod
  pkg/quantile/.golangci.yml
  pkg/quantile/go.mod
  pkg/quantile/go.sum
  tasks/modules.py
Labels: team/agent-core, changelog/no-changelog

#8911 [runtime-security] add hwe ubuntu 20.04 for kitchen tests on x64
  .gitlab/functional_test/security_agent.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8857 set `forwarder_storage_max_disk_ratio` to `0.80`
  pkg/config/config.go
  pkg/config/config_template.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8935 Release 7.30.1
  go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/prelude-release-7.30.1-9856a40abf56ba5c.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8672 [config] add a runtime setting for `log_payloads`.
  cmd/agent/app/config.go
  pkg/config/settings/runtime_setting_log_payloads.go
Labels: team/agent-core, changelog/no-changelog

#8936 Update CHANGELOG for 7.30.1
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8924 Ensure conntracker is closed cleanly
  pkg/network/netlink/circuit_breaker.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/consumer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8917 Query Org and Space data from CC API
  go.mod
  go.sum
  pkg/util/cloudfoundry/bbscache_test.go
  pkg/util/cloudfoundry/cccache.go
  pkg/util/cloudfoundry/cccache_test.go
  pkg/util/cloudfoundry/types.go
  pkg/util/cloudfoundry/types_test.go
  releasenotes/notes/dca-space-org-eb6b0cf762c5acdd.yaml
Labels: component/cluster-agent, team/intg-tools-libs

#8937 Use offline copy of S6 GPG Key as currently not available upstream
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/hack/s6-pgp-key
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#8526 [aggregator/ckey] tool to validate that current hash algorithm isn't creating collisions
  pkg/aggregator/ckey/tests/README.md
  pkg/aggregator/ckey/tests/collisions_test.go
  pkg/aggregator/ckey/tests/generate_contexts.py
  pkg/aggregator/ckey/tests/random_sorted_uniq_contexts.csv
  pkg/aggregator/ckey/tests/run_test.sh
Labels: component/aggregator, team/agent-core, changelog/no-changelog, qa/skip-qa

#8909 Fix invocation of wingetcreate
  tasks/winbuildscripts/Update-Winget.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#8938 [backport][7.30] Use offline copy of S6 GPG Key as currently not available upstream
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/hack/s6-pgp-key
Labels: team/containers, changelog/no-changelog

#8939 [aggregator/ckey] fix collision unit test broken after a merge into `main`
  pkg/aggregator/ckey/tests/collisions_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8844 [CSPM] allow to execute fallback when there 1 process/file resource instance
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/process_check.go
Labels: changelog/no-changelog, team/agent-security

#8946 Make windows always return `unknown` when checking whether port is in
  pkg/network/event_windows.go
  releasenotes/notes/tempremmovewinephemeral-89bcb327ffacdf64.yaml
Labels: team/agent-platform, team/networks

#8869 [packaging] Add datadog-signing-keys dependency to the deb packages
  .gitlab/kitchen_common/cleanup.yml
  .gitlab/kitchen_deploy.yml
  cmd/agent/install_script.sh
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes-installscript/notes/install-signing-keys-package-0065f732bfee1d7f.yaml
  releasenotes/notes/install-signing-keys-package-a502a5b5f78f1902.yaml
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
  test/kitchen/test/integration/common/rspec/dogstatsd_spec_helper.rb
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: team/agent-platform

#8923 pkg/trace/obfuscate: Fix SQL Normalization of Negative Integer Values
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-fix-sql-normalization-of-negative-integers-4ffd29fc5dbcdff3.yaml
Labels: kind/bug, team/database-monitoring

#8950 [release] add release entry for 7.30.2-rc.1
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8741 Add possibility to automatically shutdown the Agent based on running processes
  cmd/agent/app/run.go
  cmd/manager/auto_exit.go
  cmd/manager/auto_exit_noprocess.go
  cmd/manager/auto_exit_noprocess_test.go
  cmd/process-agent/main_common.go
  cmd/security-agent/app/app.go
  cmd/system-probe/app/run.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/trace/agent/run.go
  releasenotes/notes/auto-shutdown-process-17515db7a3a55f5a.yaml
Labels: team/containers, kind/feature

#8948 Skip CloudFoundry tests on Windows
  pkg/util/cloudfoundry/bbscache_test.go
  pkg/util/cloudfoundry/cccache_test.go
  pkg/util/cloudfoundry/main_test.go
  pkg/util/cloudfoundry/types_test.go
Labels: changelog/no-changelog, team/intg-tools-libs

#8949 Fix hostname detection when on-host Agent monitors containerized workloads
  pkg/util/hostname.go
  pkg/util/hostname_docker.go
  releasenotes/notes/fix-container-hostname-on-host-87b3cb8f3a5faa94.yaml
Labels: team/containers

#8933 Tag eks fargate containers with eks_fargate_node
  pkg/tagger/collectors/static_extract.go
  pkg/tagger/collectors/static_extract_test.go
  pkg/tagger/collectors/static_main.go
  pkg/tagger/collectors/static_main_test.go
  releasenotes/notes/eks-fargate-node-tag-267dc014fdfc703b.yaml
Labels: team/containers

#8721 Tag release candidate images when deploying the agent
  .gitlab/deploy_6/docker.yml
  .gitlab/deploy_7/docker.yml
Labels: team/containers, changelog/no-changelog

#8953 Update CHANGELOG for 7.30.1
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8896 Enable logs intake v2 by default
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/config/config.go
  pkg/epforwarder/epforwarder.go
  pkg/logs/client/http/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/endpoints.go
  pkg/logs/logs.go
Labels: team/agent-core, changelog/no-changelog

#8954 Release 7.30.2
  go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/prelude-release-7.30.2-6b16e8e80571409b.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8745 [dogstatsd] replay: allow for multiple iterations, loop forever
  cmd/agent/app/dogstatsd_replay.go
  pkg/dogstatsd/replay/reader.go
  pkg/dogstatsd/replay/reader_test.go
  pkg/dogstatsd/replay/resources/test/datadog-capture.dog.zstd
  releasenotes/notes/dogstatsd-replay-iteration-count-08a27f943eca09f2.yaml
Labels: component/dogstatsd, team/agent-core

#8763 Log diagnostics at the info level
  pkg/diagnose/runner.go
  pkg/util/alibaba/diagnosis.go
  pkg/util/azure/diagnosis.go
  pkg/util/clusteragent/diagnosis.go
  pkg/util/containers/cri/diagnosis.go
  pkg/util/docker/diagnosis.go
  pkg/util/ec2/diagnosis.go
  pkg/util/ecs/diagnosis.go
  pkg/util/gce/diagnosis.go
  pkg/util/kubernetes/apiserver/diagnosis.go
  pkg/util/kubernetes/kubelet/diagnosis.go
  pkg/util/tencent/diagnosis.go
  releasenotes/notes/diagnose-info-log-ae1b2adf9a60ae58.yaml
Labels: team/agent-core

#8957 Update CHANGELOG for 7.30.2
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8910 Remove support for the unimplemented v2 series submission
  pkg/config/config.go
  pkg/forwarder/README.md
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/metrics/series.go
  pkg/metrics/series_test.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
Labels: team/agent-core, changelog/no-changelog

#8956 Add support for non-English windows netsh
  pkg/network/event_windows.go
  pkg/network/event_windows_test.go
  tasks/go.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8958 [release] add release entries for 7.30.1 and 7.30.2
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8913 Add logs agent http sender latency telemetry + expvar
  pkg/logs/client/http/destination.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/status/status_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#8920 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#8486 [secrets] get SID for user dynamically as opposed to hard-coded ddagentuser
  pkg/api/security/platform_windows.go
  pkg/secrets/check_rights_windows.go
  pkg/secrets/check_rights_windows_test.go
  pkg/secrets/test/setAcl.ps1
  pkg/util/winutil/go.mod
  pkg/util/winutil/users.go
  pkg/util/winutil/users_test.go
  releasenotes/notes/windows-secrets-support-any-user-844cb3e5e7a1a173.yaml
Labels: os/windows, team/agent-core, changelog/no-changelog

#8912 Process Agent Set Log Level
  cmd/process-agent/api/server.go
  cmd/process-agent/main_common.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/process-agent-log-level-config-8b6873639c21f411.yaml
Labels: team/processes

#8926 [windows] Update to latest signed driver
  release.json
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8960 [kitchen] Skip signing keys package check on Windows
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa
