Repository DataDog/datadog-agent, pull requests merged in 2021-10, with the labels that each got.

#9293 [NDM] add collect metadata config
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, component/config, team/infra-integrations

#9224 [corechecks/snmp] Add config to use DeviceID as hostname for metrics and service checks
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/report/report_metrics.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/snmp/snmp.go
  pkg/snmp/snmp_test.go
  releasenotes/notes/add-use-device-id-as-hostname-e4b72dd63784711d.yaml
Labels: team/infra-integrations

#9327 Fix deprecated CRD version in external metrics K8S maninfest
  Dockerfiles/manifests/hpa-example/rbac-hpa.yaml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9226 [runtime-security] do not cache file with hardlinks
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/model/model.go
  pkg/security/model/unmarshallers.go
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/tests/hardlink_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/stress_test.go
Labels: changelog/no-changelog, team/agent-security

#9330 Update Kubernetes deps
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9339 Fix the `image_scan` GitLab jobs
  .gitlab/docker_common/publish_job_templates.yml
Labels: dev/tooling, team/containers, changelog/no-changelog

#9272 pkg/trace: add remote endpoint
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/subscriber.go
  pkg/trace/config/subscriber_test.go
Labels: changelog/no-changelog, team/agent-apm

#7995 pkg/trace/agent/agent: clarify debug logs on ignore resources
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#9313 [tagger] Enable remote tagger by default
  cmd/dogstatsd/main.go
  cmd/process-agent/main_common.go
  pkg/config/apm.go
  pkg/config/config.go
  pkg/trace/agent/run.go
  pkg/trace/test/agent.go
  pkg/trace/test/testsuite/secrets_test.go
  releasenotes/notes/remote-tagger-by-default-6ccbe955041871ec.yaml
Labels: team/containers

#9343 Fix docker image publication job
  .gitlab/docker_common/publish_job_templates.yml
Labels: dev/tooling, team/containers, changelog/no-changelog, qa/skip-qa

#9317 [ksm core] Remove the `reason` tag from the `.job.failed` metric
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers_test.go
  releasenotes/notes/remove-reason-from-kubernetes_state.job.failed-ed68ab9bb7700630.yaml
Labels: component/collector, team/containers

#9254 pkg/trace: add remote dynamic rates
  pkg/trace/config/apply.go
  pkg/trace/pb/remote_rates.pb.go
  pkg/trace/pb/remote_rates.proto
  pkg/trace/pb/remote_rates_gen.go
  pkg/trace/pb/remote_rates_gen_test.go
  pkg/trace/sampler/adjust.go
  pkg/trace/sampler/catalog.go
  pkg/trace/sampler/catalog_test.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/remote_rates.go
  pkg/trace/sampler/remote_rates_test.go
  pkg/trace/sampler/scoresampler_test.go
Labels: changelog/no-changelog, team/agent-apm

#9326 [cri] Simplify CRIUtil test using strings.TrimPrefix
  pkg/util/containers/cri/util_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9340 Fix dependabot after force push
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9336 Fix data race in LogStatus
  pkg/logs/config/status.go
Labels: team/agent-core, changelog/no-changelog

#9274 [ksm-core] Improve Job completion metrics
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers_test.go
  releasenotes/notes/add-new-ksm-job-completion-metrics-d870f075ec2372d3.yaml
Labels: component/collector, team/containers

#9320 [pkg/otlp/model] Create pkg/otlp/model module
  .github/dependabot.yaml
  go.mod
  pkg/otlp/model/doc.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  tasks/modules.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9118 [CSPM] Added support for rules written in Rego
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/check.go
  go.mod
  go.sum
  pkg/compliance/agent/agent.go
  pkg/compliance/check.go
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/audit_check_test.go
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/check.go
  pkg/compliance/checks/command_check.go
  pkg/compliance/checks/command_check_test.go
  pkg/compliance/checks/custom/helper_for_test.go
  pkg/compliance/checks/custom_check_test.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/docker_check_test.go
  pkg/compliance/checks/env/env.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/file_check_test.go
  pkg/compliance/checks/group_check.go
  pkg/compliance/checks/group_check_test.go
  pkg/compliance/checks/helpers.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/checks/kubeapiserver_check_test.go
  pkg/compliance/checks/process_check.go
  pkg/compliance/checks/process_check_test.go
  pkg/compliance/checks/rego_builtins.go
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/checks/rego_helpers/datadog.rego
  pkg/compliance/checks/resource_check.go
  pkg/compliance/checks/resource_check_test.go
  pkg/compliance/eval/eval.go
  pkg/compliance/gen_mocks.sh
  pkg/compliance/mocks/configuration.go
  pkg/compliance/mocks/env.go
  pkg/compliance/mocks/rego_configuration.go
  pkg/compliance/resource.go
  pkg/compliance/resource_test.go
  pkg/compliance/rule.go
  pkg/compliance/suite.go
  pkg/compliance/suite_test.go
  releasenotes/notes/cspm-rego-evaluation-engine-28531f5183745846.yaml
Labels: team/agent-security

#9342 [WorkloadMetaCollector] Fix panic in handleContainer()
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_test.go
Labels: team/containers, changelog/no-changelog

#9348 [gitlab] Update buildimages to fix SSL issues
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9344 [runtime-security] Check CI error
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
Labels: changelog/no-changelog, team/agent-security

#9325 [gitlab] Only cache from main/stable branches, namespace cache by branch
  .gitlab/package_build/windows.yml
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9307 pkg/trace/info: reporting number of traces using any priorities between -10 and 10 including PriorityRuleSampler priorities (3,-3)
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/info/stats.go
  pkg/trace/info/stats_test.go
Labels: changelog/no-changelog, team/agent-apm

#9354 Make the kubelet collector able to retry kubelet connection
  pkg/util/containers/collectors/kubelet.go
  releasenotes/notes/make-the-kubelet-collector-able-to-return-a-retriable-b68752777b712b48.yaml
Labels: team/containers

#9288 [networks] Decouple DNS information from `ConnectionStats`
  pkg/network/dns.go
  pkg/network/encoding/dns.go
  pkg/network/encoding/dns_test.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/event_common.go
  pkg/network/event_windows.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9356 [github] Checkout wheel cache without trying to authenticate
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9085 [runtime-security] add trace/span context to event
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/commit_creds.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/process.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/selinux.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/span.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/c/umount.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/model/model.go
  pkg/security/model/unmarshallers.go
  pkg/security/probe/discarders.go
  pkg/security/probe/erpc.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/span.schema.json
  pkg/security/tests/schemas/span_context.json
  pkg/security/tests/span_test.go
  pkg/security/tests/syscall_tester.go
  pkg/security/tests/syscall_tester/bindata.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
  releasenotes/notes/cws-span-trace-11de74a05f24fefc.yaml
  tasks/security_agent.py
Labels: kind/feature, team/agent-security

#9178 Update some forwarder telemetries from counter to gauge.
  pkg/forwarder/domain_forwarder_test.go
  pkg/forwarder/internal/retry/file_removal_policy.go
  pkg/forwarder/internal/retry/on_disk_retry_queue.go
  pkg/forwarder/internal/retry/on_disk_retry_queue_test.go
  pkg/forwarder/internal/retry/telemetry.go
  pkg/forwarder/internal/retry/transaction_retry_queue.go
  pkg/forwarder/internal/retry/transaction_retry_queue_test.go
Labels: team/agent-core, changelog/no-changelog

#9305 Send process discovery payloads to its own endpoint
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  pkg/forwarder/telemetry.go
Labels: changelog/no-changelog, team/processes

#9357 Infer HTTP(S) monitoring settings from service monitoring
  pkg/config/system_probe.go
  pkg/network/config/config.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9113 [networks] Enable shared library detection during runtime
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/http-types.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/http/ebpf_crypto.go
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
  pkg/network/http/monitor.go
  pkg/network/http/shared_libraries.go
  pkg/network/http/testutil/testdata/cert.pem.0
  pkg/network/http/testutil/testutil.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks

#9265 [networks] Add `ClientBuffer`
  cmd/system-probe/modules/network_tracer.go
  cmd/system-probe/modules/network_tracer_test.go
  pkg/network/client_pool.go
  pkg/network/client_pool_test.go
  pkg/network/encoding/dns_test.go
  pkg/network/encoding/encoding_test.go
  pkg/network/event_common.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/kprobe/perf_batching.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9358 (rc) set production roots
  pkg/config/remote/service/meta/config.json
  pkg/config/remote/service/meta/director.json
Labels: changelog/no-changelog, team/agent-apm

#9283 [process-agent] Small Fixes for Process Discovery Check
  pkg/process/config/yaml_config.go
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_windows_toolhelp.go
Labels: changelog/no-changelog, team/processes

#9360 Add /usr/include/linux to default kernel header paths
  pkg/util/kernel/find_headers.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#8977 Introduce eBPF maps DumpHandler()
  cmd/system-probe/app/debug.go
  cmd/system-probe/modules/network_tracer.go
  go.mod
  go.sum
  pkg/network/ebpf/c/sockfd.h
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/http_types.go
  pkg/network/ebpf/http_types_linux.go
  pkg/network/ebpf/kprobe_types.go
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/http/dump.go
  pkg/network/http/ebpf_main.go
  pkg/network/http/monitor.go
  pkg/network/tracer/connection/kprobe/dump.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9362 [tests] Reduce jitter-based failures in collector tests
  pkg/collector/worker/utilization_tracker_test.go
Labels: component/collector, team/agent-core, changelog/no-changelog, qa/skip-qa

#9365 Update release.json and Go modules for 6/7.32.0-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9363 [listeners/snmp] Handle use_device_id_as_hostname in GetExtraConfig
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
Labels: kind/bug, changelog/no-changelog, team/infra-integrations

#9366 [invoke] Fix release tasks to not crash on API errors
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9361 Always use atomics to access an atomic value
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
Labels: team/agent-core, changelog/no-changelog

#9368 Use new ECR repo for internal images
  .gitlab/internal_image_deploy.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9372 [invoke] Fix PR milestone & label update in release.create-rc
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9375 Fix windows TestConnectionClobber test
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9374 Update release.json and Go modules for 6/7.32.0-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9369 [networks] Switch back to stream-based API for TCP_CLOSE
  pkg/network/buffer.go
  pkg/network/buffer_test.go
  pkg/network/client_pool.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/kprobe/perf_batching.go
  pkg/network/tracer/connection/kprobe/perf_batching_test.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
Labels: kind/bug, changelog/no-changelog, team/networks

#9370 [corechecks/snmp] Fix device_id/hostname to use namespace and ip_addr instead of hash
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9390 Remove processes team as code owner of .gitlab/internal_deploy.yml
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#9380 Fix a regression preventing docker and kubelet retries
  pkg/util/retry/retrier.go
  pkg/util/retry/retrier_test.go
  releasenotes/notes/docker-kubelet-retry-fix-9bae7e5a5902d429.yaml
Labels: team/containers

#9392 Fix e2e tests
  test/e2e/scripts/setup-instance/01-ignition.sh
Labels: team/containers, changelog/no-changelog

#9308 [tooling] Add `dep_why` helper script to `dep_tree_resolver` tooling
  tools/dep_tree_resolver/README.md
  tools/dep_tree_resolver/dep_why.py
Labels: dev/tooling, changelog/no-changelog, severity/minor, team/agent-platform, qa/skip-qa

#9394 [networks] Remove double channel send
  pkg/network/tracer/connection/kprobe/perf_batching_test.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer.go
Labels: kind/bug, changelog/no-changelog, kind/performance, team/networks

#9385 Removed host from ProcessDiscovery message
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
Labels: changelog/no-changelog, team/processes

#9393 Revert "Make the kubelet collector able to retry kubelet connection"
  pkg/util/containers/collectors/kubelet.go
  releasenotes/notes/make-the-kubelet-collector-able-to-return-a-retriable-b68752777b712b48.yaml
Labels: team/containers

#9399 Partially revert #9313 and #9312
  pkg/config/apm.go
  pkg/config/config.go
  pkg/tagger/collectors/static_extract.go
  pkg/tagger/collectors/static_extract_test.go
  pkg/tagger/collectors/static_main.go
  pkg/tagger/collectors/static_main_test.go
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_main.go
  pkg/tagger/collectors/workloadmeta_test.go
  pkg/trace/test/agent.go
  pkg/trace/test/testsuite/secrets_test.go
  releasenotes/notes/remote-tagger-by-default-6ccbe955041871ec.yaml
Labels: team/containers, changelog/no-changelog

#9091 [ndm/snmp] Use EP intake v2 for ndm metadata
  pkg/epforwarder/epforwarder.go
  releasenotes/notes/ndm_metadata_use_ep_v2-678b6f6ab5c142fc.yaml
Labels: kind/enhancement, team/infra-integrations

#9407 [release] Update release.json and Go modules for 6/7.32.0-rc.3
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9699 pkg/trace/api: do not use fixed port in OTLP tests
  pkg/trace/api/otlp_test.go
  pkg/trace/test/testutil/testutil.go
Labels: changelog/no-changelog, team/agent-apm
