Repository DataDog/datadog-agent, pull requests merged in 2021-07, with the labels that each got.

#8498 [profiling] expose more profiling options
  cmd/process-agent/main_common.go
  cmd/system-probe/app/run.go
  cmd/system-probe/config/config.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/config/system_probe.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
  pkg/util/profiling/profiling.go
  pkg/util/profiling/profiling_test.go
Labels: changelog/no-changelog, team/agent-core

#8532 Revert "[profiling] expose more profiling options"
  cmd/process-agent/main_common.go
  cmd/system-probe/app/run.go
  cmd/system-probe/config/config.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/config/system_probe.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
  pkg/util/profiling/profiling.go
  pkg/util/profiling/profiling_test.go
Labels: changelog/no-changelog, team/agent-core

#8476 [runtime-security] run security agent tests on Oracle Linux
  .gitlab/functional_test/security_agent.yml
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/model/accessors.go
  pkg/security/model/legacy_secl.go
  pkg/security/model/model.go
  pkg/security/model/process_cache_entry.go
  pkg/security/probe/accessors.go
  pkg/security/probe/model.go
  pkg/security/probe/mount_resolver.go
  pkg/security/probe/mount_resolver_test.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/schemas/chmod.schema.json
  pkg/security/tests/schemas/chown.schema.json
  pkg/security/tests/schemas/container_path.json
  pkg/security/tests/schemas/exec.schema.json
  pkg/security/tests/schemas/file.json
  pkg/security/tests/schemas/open.schema.json
  pkg/security/tests/schemas/process.json
  pkg/security/tests/schemas/rename.schema.json
  pkg/security/tests/schemas/schemas.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
  test/kitchen/platforms.json
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-security

#8507 [CWS] fix errors with docker functional tests
  pkg/security/tests/chown32_test.go
  tasks/security_agent.py
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#8535 [runtime-security] install glibc.i686 on Oracle (fix kitchen tests on Oracle)
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#8536 [KSMCore] append cluster name to hostname
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes/notes/ksmcore-append-cluster-name-to-hostname-4602201ad32c2ce7.yaml
Labels: team/containers

#8503 [Networks] Pin new agent-payload version for post-resolution field
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8542 Increase default timeout to sync informers from 2 to 5 seconds
  pkg/config/config.go
  releasenotes/notes/increase-kube-sync-timeout-54bd44a2b6238470.yaml
Labels: component/cluster-agent, component/config, team/container-app

#8292 [runtime-security] run security agent functional tests using race detector
  .gitlab/source_test/ebpf.yml
  pkg/security/module/module.go
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/reorderer.go
  pkg/security/probe/reorderer_monitor.go
  pkg/security/probe/reorderer_test.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/macros_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/probe_monitor_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/stresser_test.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
  tasks/security_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, team/agent-security

#8543 [runtime-security] use ktimeval directly in utimes event
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/utimes.h
Labels: changelog/no-changelog, team/agent-security

#8434 Implement statefulset collection
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_processor.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_transformer.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_transformer_test.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/telemetry.go
  pkg/orchestrator/cache.go
  pkg/orchestrator/util.go
  pkg/status/templates/orchestrator.tmpl
  pkg/util/kubernetes/apiserver/types.go
  releasenotes-dca/notes/collect-sts-c6554614c1d40dce.yaml
Labels: need-change/helm-chart, need-change/operator, team/container-app

#8547 cmd/agent/gui/views/private/js: fix Internet Explorer incompatibility
  .github/CODEOWNERS
  cmd/agent/gui/views/private/js/apm.js
  releasenotes/notes/apm-ie-backtick-13bd231beeb2c777.yaml
Labels: team/agent-apm

#8554 Add changelog and releases for DCA 1.13.x
  CHANGELOG-DCA.rst
  release.json
Labels: changelog/no-changelog, team/containers

#8553 Expose CLC telemetry on API port
  cmd/agent/app/run.go
  cmd/agent/clcrunnerapi/clc_runner_server.go
  go.sum
  pkg/config/config.go
Labels: changelog/no-changelog, kind/enhancement, team/containers

#8548 Remove Agent Platform ownership of .github/*
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8544 Remove orchestrator-explorer clusterID retrieval when feature is disabled
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  releasenotes/notes/orchestrator-explorer-dca-call-bug-3175bbf12f757106.yaml
Labels: kind/bug, team/container-app

#8550 Use ParseFloat instead of ParseInt
  pkg/collector/corechecks/snmp/report_bandwidth_usage_test.go
  pkg/collector/corechecks/snmp/value.go
  pkg/collector/corechecks/snmp/value_test.go
Labels: changelog/no-changelog, team/infra-integrations

#8440 [DCA][Admission] Support admissionregistration.k8s.io/v1
  cmd/cluster-agent/admission/server.go
  pkg/clusteragent/admission/common/const.go
  pkg/clusteragent/admission/controllers/webhook/common.go
  pkg/clusteragent/admission/controllers/webhook/config.go
  pkg/clusteragent/admission/controllers/webhook/controller.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_base_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/controllers/webhook/utils_test.go
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/config.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/clusteragent/admission/start.go
  pkg/clusteragent/admission/util.go
  pkg/clusteragent/admission/util_test.go
  releasenotes-dca/notes/dca-admission-controller-v1-38c40f8f432cf755.yaml
Labels: team/containers

#8449 Fix incorrect log source name when tailing docker containers from file
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_test.go
  releasenotes/notes/fix-docker-log-source-when-tailing-from-file-086646718c05f2bb.yaml
Labels: team/agent-core

#8484 Make logs agent file scan interval configurable
  pkg/config/config.go
  pkg/logs/agent.go
  pkg/logs/input/file/scanner.go
  pkg/logs/input/file/scanner_test.go
  releasenotes/notes/make-file-scan-interval-configurable-7497d639f3a2dc6b.yaml
Labels: team/agent-core

#8508 [KSMCore] Fix label joins
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/kubestatemetrics/builder/builder.go
  releasenotes/notes/ksm-core-label-joins-fix-9655ae6b2dd092bc.yaml
Labels: team/containers

#8490 Add a single entrypoint for the agent docker image
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/cont-init.d/01-check-apikey.sh
  Dockerfiles/agent/cont-init.d/50-ci.sh
  Dockerfiles/agent/cont-init.d/50-ecs.sh
  Dockerfiles/agent/cont-init.d/50-eks.sh
  Dockerfiles/agent/cont-init.d/50-kubernetes.sh
  Dockerfiles/agent/cont-init.d/50-mesos.sh
  Dockerfiles/agent/cont-init.d/51-docker.sh
  Dockerfiles/agent/cont-init.d/59-defaults.sh
  Dockerfiles/agent/cont-init.d/60-network-check.sh
  Dockerfiles/agent/cont-init.d/60-sysprobe-check.sh
  Dockerfiles/agent/cont-init.d/89-copy-customfiles.sh
  Dockerfiles/agent/entrypoint-ps1/02-set-env-vars.ps1
  Dockerfiles/agent/entrypoint-ps1/89-copy-customfiles.ps1
  Dockerfiles/agent/entrypoint.d.windows/_default.ps1
  Dockerfiles/agent/entrypoint.d.windows/agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/init-config.ps1
  Dockerfiles/agent/entrypoint.d.windows/init-volume.ps1
  Dockerfiles/agent/entrypoint.d.windows/process-agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/security-agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/trace-agent.ps1
  Dockerfiles/agent/entrypoint.d/_default
  Dockerfiles/agent/entrypoint.d/agent
  Dockerfiles/agent/entrypoint.d/clusterchecks-agent
  Dockerfiles/agent/entrypoint.d/init-config
  Dockerfiles/agent/entrypoint.d/init-volume
  Dockerfiles/agent/entrypoint.d/process-agent
  Dockerfiles/agent/entrypoint.d/seccomp-setup
  Dockerfiles/agent/entrypoint.d/security-agent
  Dockerfiles/agent/entrypoint.d/system-probe
  Dockerfiles/agent/entrypoint.d/trace-agent
  Dockerfiles/agent/entrypoint.ps1
  Dockerfiles/agent/entrypoint.sh
  Dockerfiles/agent/faccessat/README.md
  Dockerfiles/agent/faccessat/faccessat.c
  Dockerfiles/agent/faccessat/faccessat.sym
  Dockerfiles/agent/windows/amd64/Dockerfile
  releasenotes/notes/single_entrypoint-021cd1c52dc2b92b.yaml
Labels: kind/packaging, team/containers

#8564 [SB] Add `readsecret.sh` to core Agent
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/secrets-helper/README.md
  Dockerfiles/agent/secrets-helper/readsecret.sh
  cmd/agent/app/secret_helper.go
  releasenotes/notes/support-readsecret-sh-75bddd76f73e950d.yaml
Labels: team/containers

#8362 Fix CLC detection in case clusterchecks provider is set multiple times
  pkg/config/config.go
Labels: changelog/no-changelog, kind/bug, team/containers

#8529 [aggregator/ckey] implement a faster hash to reduce CPU and RAM usage
  pkg/aggregator/aggregator.go
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample.go
  releasenotes/notes/faster-ckey-hash-8f30ad530cce348a.yaml
Labels: component/aggregator, kind/performance, team/agent-core

#8294 [collector] Log error when a check can't be loaded for an instance
  pkg/collector/scheduler.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8567 Move Linux kitchen tests from US North to other regions
  .gitlab/kitchen_common/testing.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8545 Move E2E tests to kind
  .gitlab/JOBOWNERS
  .gitlab/e2e.yml
  pkg/util/kubernetes/kubelet/host_metadata.go
  test/e2e/README.md
  test/e2e/argo-workflows/templates/cpu-stress.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/templates/dsd-hostname.yaml
  test/e2e/argo-workflows/templates/fake-datadog.yaml
  test/e2e/argo-workflows/templates/nginx.yaml
  test/e2e/argo-workflows/templates/redis.yaml
  test/e2e/containers/fake_datadog/Dockerfile
  test/e2e/containers/fake_datadog/Makefile
  test/e2e/containers/fake_datadog/app/api.py
  test/e2e/docs/run-instance.svg
  test/e2e/docs/sequence.md
  test/e2e/scripts/run-instance/10-pupernetes-wait.sh
  test/e2e/scripts/run-instance/10-setup-kind.sh
  test/e2e/scripts/run-instance/11-pupernetes-ready.sh
  test/e2e/scripts/run-instance/11-setup-kind-cluster.sh
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/21-argo-setup.sh
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/run-instance/argo.sha512sum
  test/e2e/scripts/run-instance/kind-cluster.yaml
  test/e2e/scripts/setup-instance/.gitignore
  test/e2e/scripts/setup-instance/00-entrypoint-dev.sh
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
  test/e2e/scripts/setup-instance/00-entrypoint-local.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
  test/e2e/scripts/setup-instance/02-ec2.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#8572 [circleci] address python linting issue adding env vars
  .circleci/config.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-core

#8481 Report container inclusion/exclusion errors in agent status
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/templates/autodiscovery.tmpl
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
  releasenotes/notes/report-container-filter-errors-in-agent-status-c91b07d6649e16a8.yaml
Labels: team/containers

#8134 Migrate docker publication GitLab jobs to public-images
  .gitlab-ci.yml
  .gitlab/deploy_6/docker.yml
  .gitlab/deploy_7/docker.yml
  .gitlab/docker_common/tag_job_templates.yml
  .gitlab/e2e.yml
  .gitlab/image_build/docker_linux.yml
  .gitlab/image_deploy/docker_linux.yml
  .gitlab/image_deploy/docker_windows.yml
  .gitlab/image_deploy/twistlock.yml
  .gitlab/image_scan.yml
  .gitlab/maintenance_jobs/docker.yml
  tasks/docker.py
Labels: changelog/no-changelog, dev/tooling, team/containers

#8571 [release] adding 7.29.1-rc.1 build section
  release.json
Labels: changelog/no-changelog, team/agent-core

#8374 Log bytes and lines processed by file tailer when the tailer stops
  pkg/logs/decoder/decoder.go
  pkg/logs/input/file/tailer.go
Labels: changelog/no-changelog, team/agent-core

#8524 [networks] Add support for sendfile(2) traffic
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/config/config_linux.go
  pkg/network/ebpf/c/prebuilt/offset-guess.c
  pkg/network/ebpf/c/prebuilt/offset-guess.h
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/sockfd.h
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/manager.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8574 [backport] Move Linux kitchen tests from US North to other regions
  .gitlab/kitchen_common/testing.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8436 Fix win service shutdown
  cmd/agent/agentmsg.mc
  cmd/agent/windows/service/service.go
  cmd/dogstatsd/main_windows.go
  cmd/dogstatsd/windows_resources/dogstatsd-msg.mc
  cmd/process-agent/main_windows.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/windows_resources/security-agent-msg.mc
  cmd/system-probe/windows/service/service.go
  cmd/system-probe/windows_resources/system-probe-msg.mc
  cmd/trace-agent/main_windows.go
  releasenotes/notes/fix-win-service-shutdown-4666c669c03bc04b.yaml
Labels: team/agent-core, team/agent-security, team/networks

#8559 pkg/trace/sampler: add an LRU for the service catalog
  .github/CODEOWNERS
  pkg/config/apm.go
  pkg/trace/sampler/catalog.go
  pkg/trace/sampler/catalog_test.go
  releasenotes/notes/apm-service-catalog-limit-5000-fed8029e69a96db5.yaml
Labels: team/agent-apm

#8558 [profiling] expose more profiling options, take 2
  cmd/process-agent/main_common.go
  cmd/system-probe/app/run.go
  cmd/system-probe/config/config.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/config/system_probe.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
  pkg/trace/agent/run.go
  pkg/util/profiling/profiling.go
  pkg/util/profiling/profiling_test.go
Labels: changelog/no-changelog, team/agent-core

#8576 [KSMCore] kube_cronjob tag on job metrics
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers_test.go
  releasenotes/notes/cronjob-tag-8482d14da2e3eedf.yaml
Labels: team/containers

#8555 [logs] Add support for new intake api
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/config/config.go
  pkg/epforwarder/epforwarder.go
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/config/config.go
  pkg/logs/config/config_keys.go
  pkg/logs/config/config_test.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/logs.go
  pkg/logs/status/test_utils.go
Labels: changelog/no-changelog, team/agent-core, team/agent-security, team/containers, team/infra-integrations

#8557 [runtime-security] Build syscall tester statically
  pkg/security/tests/syscall_tester/bindata.go
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#8540 Update to go 1.15.13
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  appveyor.yml
  devenv/scripts/Install-DevEnv.ps1
  internal/tools/go.mod
  internal/tools/proto/go.mod
  releasenotes/notes/bump-go-to-1.15.13-8745fbc6715b9e4d.yaml
Labels: qa/skip-qa, team/agent-core, team/networks

#8568 [runtime-security] add agent version to event log
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/module/server.go
  pkg/security/probe/custom_events.go
  pkg/security/rules/ruleset.go
Labels: changelog/no-changelog, team/agent-security

#8580 Apply `max_returned_metrics` from prometheus annotations to openmetrics check
  pkg/autodiscovery/common/types/prometheus.go
  releasenotes/notes/apply-max-returned-metrics-from-prometheus-annotations-77f27c6dd22f2c78.yaml
Labels: team/containers

#8562 Store HTTP latencies as nanoseconds represented by float64
  go.mod
  go.sum
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/http/http_statkeeper_test.go
  pkg/network/http/http_stats.go
  pkg/network/http/http_stats_test.go
  pkg/network/http/model.go
  pkg/network/http/model_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8370 [runtime-security] add selinux event probes
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/selinux.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/map.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/const.go
  pkg/security/ebpf/probes/dentry.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/selinux.go
  pkg/security/model/accessors.go
  pkg/security/model/events.go
  pkg/security/model/model.go
  pkg/security/model/unmarshallers.go
  pkg/security/probe/accessors.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/selinux_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/schemas.go
  pkg/security/tests/schemas/selinux.schema.json
  pkg/security/tests/selinux_test.go
  releasenotes/notes/runtime-security-selinux-events-2e09fcf826c227be.yaml
Labels: team/agent-security

#8582 [runtime-security] make sure to not use external deps in model
  pkg/security/model/unmarshallers.go
  pkg/security/model/utils.go
  pkg/security/rules/bucket.go
  pkg/security/secl/secl_test.go
  pkg/security/utils/cgroup.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8569 [runtime-security] report policies versions as part of the running metric
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#8575 [corechecks/snmp] Set default oid_batch_size to 5
  pkg/collector/corechecks/snmp/config.go
  pkg/collector/corechecks/snmp/config_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  releasenotes/notes/snmp_corecheck_update_default_oid_batch_size-7ec7a91efe7f4bfa.yaml
Labels: kind/bug, team/infra-integrations

#8521 Use Env AD to choose which providers to trigger in different components (tagger, hostname, host tags...)
  go.sum
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/environment.go
  pkg/config/environment_containers.go
  pkg/config/environment_detection.go
  pkg/config/environment_detection_test.go
  pkg/config/environment_testing.go
  pkg/logs/input/docker/launcher.go
  pkg/metadata/host/host_tags.go
  pkg/process/config/config.go
  pkg/tagger/collectors/docker_main.go
  pkg/tagger/collectors/ecs_fargate_main.go
  pkg/tagger/collectors/ecs_main.go
  pkg/tagger/collectors/garden_main.go
  pkg/tagger/collectors/kubernetes_main.go
  pkg/tagger/local/tagger.go
  pkg/util/containers/collectors/docker.go
  pkg/util/containers/collectors/kubelet.go
  pkg/util/docker/host_metadata.go
  pkg/util/ecs/metadata/detection.go
  pkg/util/hostname/kubelet/hostname.go
  pkg/util/hostname_docker.go
  pkg/util/kubernetes/kubelet/host_metadata.go
  releasenotes/notes/env-ad-components-e9b43e96cf901a9b.yaml
  test/integration/corechecks/docker/main_test.go
  test/integration/listeners/docker/docker_listener_test.go
Labels: kind/enhancement, major_change, team/containers

#8581 Fix missing .node.count metric in KSM Core
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
Labels: changelog/no-changelog, team/containers

#8588 Update tested python package version
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, qa/skip-qa, team/integrations

#8579 [orchestrator] update follower case
  pkg/clusteragent/orchestrator/status.go
  releasenotes-dca/notes/orchestrator-status-new-leader-48c81d8e85c02513.yaml
Labels: team/container-app

#8587 [KSMCore] Add global user-defined tags
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes/notes/ksm-core-global-tags-7392c80979a25d01.yaml
Labels: team/containers

#8592 [jmxfetch] Upgrade to 0.44.2
  release.json
  releasenotes/notes/jmxfetch-0-44-2-614bafe82f085414.yaml
Labels: team/agent-core

#8523 pkg/trace/api: add orchestrator tags to profiles in Fargate environments
  pkg/trace/api/profiles.go
  pkg/trace/api/profiles_test.go
  releasenotes/notes/apm-add-orchestrator-tag-f16b9cc1d55ac082.yaml
Labels: team/agent-apm

#8594 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8578 [system-probe] Terminate gracefully when system-probe is not enabled
  cmd/system-probe/app/run.go
  cmd/system-probe/windows/service/service.go
Labels: changelog/no-changelog, team/networks

#8556 Add options support for the SQL obfuscator and update CGo bindings
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init.go
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_easyjson.go
  pkg/trace/obfuscate/obfuscate_test.go
  pkg/trace/obfuscate/sql.go
  pkg/trace/obfuscate/sql_test.go
  releasenotes/notes/add-sql-obfuscator-options-and-update-cgo-bindings-078a7fe8bf91076e.yaml
  rtloader/common/builtins/datadog_agent.c
  rtloader/include/rtloader_types.h
  rtloader/test/datadog_agent/datadog_agent.go
  rtloader/test/datadog_agent/datadog_agent_test.go
Labels: team/agent-apm

#8595 Bugfixes to windows npm
  pkg/network/dns.go
  pkg/network/driver_interface.go
  pkg/network/event_windows.go
  pkg/network/network_filter.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, os/windows, qa/skip-qa, team/networks

#7871 [system-probe] Automatically download kernel headers (1)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/system_probe.go
  pkg/ebpf/bytecode/runtime/runtime_asset.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/compiler/compiler.go
  pkg/ebpf/config.go
  pkg/network/encoding/format.go
  pkg/network/event_common.go
  pkg/network/tracer/tracer.go
  pkg/util/kernel/download_headers.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/find_headers_test.go
  pkg/util/kernel/headers.go
Labels: changelog/no-changelog, team/networks

#8398 [containers] improve handling of CPU metrics when missing cgroup files
  pkg/collector/corechecks/containers/docker/docker.go
  pkg/collector/corechecks/containers/docker/docker_test.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/util/containers/metrics/types.go
  pkg/util/containers/providers/cgroup/cgroup_metrics.go
  releasenotes/notes/cgroup-cpu-fix-4168af308d4b2874.yaml
Labels: do-not-merge/WIP, team/containers, team/processes

#8598 Final release entries + add prelude for 7.29.1 release
  go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/prelude-release-7.29.1-e9b9de0131baaad3.yaml
Labels: team/agent-core

#8600 Adding 7.30.0-rc.1 to the release.json
  go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/release-7.30.0-rc.1-90bce528d2cd7e1c.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8601 Revert "[containers] improve handling of CPU metrics when missing cgroup files"
  pkg/collector/corechecks/containers/docker/docker.go
  pkg/collector/corechecks/containers/docker/docker_test.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/util/containers/metrics/types.go
  pkg/util/containers/providers/cgroup/cgroup_metrics.go
  releasenotes/notes/cgroup-cpu-fix-4168af308d4b2874.yaml
Labels: qa/skip-qa, team/containers, team/processes

#8604 Fix docker image deployment
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#8605 [release] add release entry for 7.30.0-rc.2
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8586 make dns by querytype encoding changes configurable
  pkg/config/system_probe.go
  pkg/network/config/config.go
  pkg/network/dns_parser.go
  pkg/network/dns_snooper.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/process/checks/net.go
Labels: changelog/no-changelog, team/networks

#8610 Do not retry tagger collector when feature is disabled
  pkg/tagger/local/tagger.go
Labels: changelog/no-changelog, component/tagger, kind/bug, team/containers

#8612 [release] add release entry for 7.30.0-rc.3
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8616 Fix condition to use Kubelet hostname provider
  pkg/util/hostname/kubelet/hostname.go
  pkg/util/hostname/kubelet/hostname_test.go
Labels: changelog/no-changelog, kind/bug, team/containers

#8512 [Serverless] merge extension v9 into main
  LICENSE-3rdparty.csv
  cmd/serverless/api_key.go
  cmd/serverless/api_key_test.go
  cmd/serverless/main.go
  pkg/dogstatsd/server.go
  pkg/forwarder/sync_forwarder.go
  pkg/logs/config/channel_message.go
  pkg/logs/input/channel/tailer.go
  pkg/logs/input/channel/tailer_test.go
  pkg/logs/logs.go
  pkg/logs/logs_test.go
  pkg/logs/processor/json_serverless.go
  pkg/logs/scheduler/scheduler.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/arn_test.go
  pkg/serverless/aws/logs.go
  pkg/serverless/aws/logs_test.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/protocol.go
  pkg/serverless/protocol_test.go
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
  pkg/serverless/tags.go
  pkg/serverless/tags_test.go
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, team/serverless

#8613 [corechecks/snmp] Handle snmp v1 no valid oids
  pkg/collector/corechecks/snmp/fetch_scalar.go
  pkg/collector/corechecks/snmp/fetch_test.go
Labels: changelog/no-changelog, team/infra-integrations

#8617 Allow setting DD_SOURCE header for new v2 logs intake
  cmd/cluster-agent/app/compliance.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/compliance.go
  cmd/security-agent/app/runtime.go
  pkg/epforwarder/epforwarder.go
  pkg/logs/client/http/destination.go
  pkg/logs/config/config.go
  pkg/logs/config/config_test.go
  pkg/logs/config/endpoints.go
  pkg/logs/config/endpoints_test.go
  pkg/logs/logs.go
  pkg/logs/status/test_utils.go
Labels: changelog/no-changelog, team/agent-security

#8625 Revert "[Serverless] merge extension v9 into main (#8512)"
  LICENSE-3rdparty.csv
  cmd/serverless/api_key.go
  cmd/serverless/api_key_test.go
  cmd/serverless/main.go
  pkg/dogstatsd/server.go
  pkg/forwarder/sync_forwarder.go
  pkg/logs/config/channel_message.go
  pkg/logs/input/channel/tailer.go
  pkg/logs/input/channel/tailer_test.go
  pkg/logs/logs.go
  pkg/logs/logs_test.go
  pkg/logs/processor/json_serverless.go
  pkg/logs/scheduler/scheduler.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/arn_test.go
  pkg/serverless/aws/logs.go
  pkg/serverless/aws/logs_test.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/protocol.go
  pkg/serverless/protocol_test.go
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
  pkg/serverless/tags.go
  pkg/serverless/tags_test.go
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8626 [release] add release entry for 7.30.0-rc.4
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8624 [forwarder] Revert buffer size from 1000 to 100
  pkg/config/config.go
  pkg/forwarder/domain_forwarder_test.go
Labels: changelog/no-changelog, team/agent-core, team/infra-integrations

#8627 [runtime-security] do not use zero cookie
  pkg/security/ebpf/c/cgroup.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/process.h
Labels: changelog/no-changelog, kind/bug, team/agent-security

#8628 [runtime-security] defaults to logs v2 api
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-security

#8634 [release] add release entry for 7.30.0-rc.5
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8633 [runtime-security] specify the service as a log attribute
  cmd/security-agent/common/check_command.go
  pkg/compliance/event/reporter.go
  pkg/compliance/mocks/reporter.go
  pkg/security/agent/agent.go
  pkg/security/api/api.pb.go
  pkg/security/api/api.proto
  pkg/security/module/module.go
  pkg/security/module/server.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#8631 Make conntrack initialization timeout a configurable value
  pkg/config/system_probe.go
  pkg/network/config/config.go
  pkg/network/netlink/conntracker.go
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#8640 [networks] Check for `sockfd_lookup_light` symbol
  pkg/network/config/config_linux.go
Labels: changelog/no-changelog, team/networks

#8642 [release] add release entry for 7.30.0-rc.6
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8359 appsec: preview version
  .github/CODEOWNERS
  .golangci.yml
  pkg/appsec/appsec.go
  pkg/appsec/appsec_test.go
  pkg/appsec/config.go
  pkg/appsec/config_test.go
  pkg/config/appsec.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/trace/api/api.go
  pkg/trace/api/apiutil/limited_reader.go
  pkg/trace/api/apiutil/limited_reader_test.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
  pkg/trace/api/otlp.go
  pkg/trace/api/responses.go
  releasenotes/notes/appsec-proxy-8e34c687cfc23e51.yaml
Labels: team/agent-appsec

#8644 Fix CloudFoundry tagger collector
  pkg/tagger/collectors/garden_main.go
Labels: changelog/no-changelog, component/tagger, team/intg-tools-libs

#8650 Fix CC API polling interval configuration, and allow batch size configuration
  cmd/cluster-agent-cloudfoundry/app/app.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/cloudfoundry/cccache.go
  pkg/util/cloudfoundry/main_test.go
Labels: changelog/no-changelog, component/cluster-agent, team/intg-tools-libs

#8648 Use cloud_foundry config option to detect CF environment
  pkg/config/environment_containers.go
  pkg/tagger/collectors/garden_main.go
Labels: changelog/no-changelog, component/tagger, team/intg-tools-libs

#8654 [runtime-security] enforce erpc read
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/resolvers.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#8656 [release] add release entry for 7.30.0-rc.7
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8658 [release] nightly builds use release branches
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8609 [install_script] Fix APT keyring permissions
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/fix-debian-keyring-permissions-0ef75b553c321082.yaml
Labels: team/agent-platform

#8591 Suggest installing the IoT Agent on armv7l
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/install-script-detect-raspberrypi-a55cbc9bb0307cf8.yaml
Labels: qa/skip-qa, team/agent-platform

#8590 Better detect if systemd is the init system
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/install-script-better-systemd-detection-32a16ed87bf04a76.yaml
Labels: qa/skip-qa, team/agent-platform

#8622 Rename master -> main in a few missed spots
  README.md
  docs/dev/contributing.md
  pkg/clusteragent/README.md
Labels: changelog/no-changelog, qa/skip-qa

#8639 Update security and compliance agent's code owners
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, team/containers

#8608 Reduce flakiness of some system-probe tests
  pkg/network/event_common.go
  pkg/network/tracer/testdata/peek.py
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8621 logs-agent: retry on 429's from intake
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  releasenotes/notes/retry-log-send-on-429-ec0c5e071c44f5b9.yaml
Labels: team/agent-core

#8630 Fix nettop invoke task path
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/networks

#8618 Fix cgroup parsing with systemd cgroup manager and CRIO
  pkg/util/containers/providers/cgroup/cgroup_detect.go
  pkg/util/containers/providers/cgroup/provider.go
  releasenotes/notes/fix-crio-systemd-58f6343fb742c9d5.yaml
Labels: kind/bug, team/containers

#8615 Fix Kubelet container ID matching in some scenarios
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: changelog/no-changelog, kind/bug, team/containers

#8611 Fix delve build arguments
  tasks/utils.py
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#8670 AppSec Preview - Intake Reverse Proxy
  .github/CODEOWNERS
  .golangci.yml
  pkg/appsec/appsec.go
  pkg/appsec/appsec_test.go
  pkg/appsec/config.go
  pkg/appsec/config_test.go
  pkg/config/appsec.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/trace/api/api.go
  pkg/trace/api/apiutil/limited_reader.go
  pkg/trace/api/apiutil/limited_reader_test.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
  pkg/trace/api/otlp.go
  pkg/trace/api/responses.go
  releasenotes/notes/appsec-proxy-8e34c687cfc23e51.yaml
Labels: team/agent-appsec

#8659 [snmp] Suggest single quote for community string
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#8676 Revert "[aggregator/ckey] implement a faster hash to reduce CPU and RAM usage (#8529)"
  pkg/aggregator/aggregator.go
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample.go
  releasenotes/notes/faster-ckey-hash-8f30ad530cce348a.yaml
Labels: changelog/no-changelog, team/agent-core

#8678 Revert "[aggregator/ckey] implement a faster hash to reduce CPU and RAM usage (#8529)"
  pkg/aggregator/aggregator.go
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample.go
  releasenotes/notes/faster-ckey-hash-8f30ad530cce348a.yaml
Labels: changelog/no-changelog, team/agent-core

#8682 Fix cgroup parsing with systemd cgroup manager and CRIO (#8618)
  pkg/util/containers/providers/cgroup/cgroup_detect.go
  pkg/util/containers/providers/cgroup/provider.go
  releasenotes/notes/fix-crio-systemd-58f6343fb742c9d5.yaml
Labels: changelog/no-changelog, team/containers

#8673 [kitchen tests] specify version of selinux cookbook dependency
  test/kitchen/Berksfile
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8686 [release] add release entry for 7.30.0-rc.8
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8675 [runtime-security] fix mutex lock around expired events
  pkg/security/module/server.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8683 Ensure namespaced resolution has a non-zero namespace
  .github/CODEOWNERS
  pkg/process/net/resolver/resolver.go
  pkg/process/net/resolver/resolver_linux_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8652 Set hostname to "none" by default for containerized CI Agent
  Dockerfiles/agent/datadog-ci.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8585 Add kitchen testing of windows system-probe
  .gitlab/functional_test/system_probe.yml
  .gitlab/kitchen_testing/windows.yml
  .gitlab/source_test/ebpf.yml
  pkg/network/driver_buffer.go
  pkg/network/driver_interface.go
  pkg/network/packet_source_windows.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_shared.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_windows.go
  pkg/network/tracer/tracer_windows_test.go
  release.json
  tasks/build_tags.py
  tasks/release.py
  tasks/system_probe.py
  tasks/winbuildscripts/sysprobe.bat
  tasks/winbuildscripts/sysprobe.ps1
  test/kitchen/.gitignore
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/files/windows/decompress_merge_module.ps1
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/default.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/linux.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/windows.rb
  test/kitchen/test-definitions/windows-npm-test.yml
  test/kitchen/test-definitions/windows-npmdriver.yml
  test/kitchen/test-definitions/windows-sysprobe-test.yml
  test/kitchen/test/integration/common/rspec/windows_npm_spec_helper.rb
  test/kitchen/test/integration/win-sysprobe-test/rspec/spec_helper.rb
  test/kitchen/test/integration/win-sysprobe-test/rspec/sysprobe_spec_helper.rb
  test/kitchen/test/integration/win-sysprobe-test/rspec/win-sysprobe-test_spec.rb
  test/kitchen/test/integration/win-sysprobe-test/rspec/windows_npm_spec_helper.rb
Labels: changelog/no-changelog, os/windows, qa/skip-qa, team/networks

#8643 [CWS] small fixes (typos, test expected/actual order)
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/ioctl.h
  pkg/security/probe/process_resolver_test.go
  pkg/security/probe/reorderer_test.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/macros_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/probe_monitor_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/selinux_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8698 [release] add release entry for 7.30.0-rc.9
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8687 [AD][Kubelet] AD checks should not target init containers
  pkg/autodiscovery/listeners/kubelet.go
  pkg/autodiscovery/listeners/kubelet_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/do-not-target-init-containers-8453301cc6d5b378.yaml
Labels: team/containers

#8700 [install_script] Release version 1.6.0
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8703 [install_script] Changelog for release 1.6.0
  CHANGELOG-INSTALLSCRIPT.rst
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8691 [runtime-security] fix iouring test
  .gitlab/functional_test/security_agent.yml
  go.mod
  go.sum
  pkg/security/tests/open_test.go
  test/kitchen/platforms.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#8665 [draft] Track agent binary sizes as well as package sizes
  .gitlab/pkg_metrics.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8668 Deep copy checkStats for external consumption
  pkg/collector/runner/runner.go
  pkg/collector/runner/runner_test.go
Labels: changelog/no-changelog, team/agent-core

#8705 Allow Windows containers entrypoint executable to take command from environment variable
  Dockerfiles/agent/entrypoint.d.windows/_default.ps1
  Dockerfiles/agent/entrypoint.d.windows/agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/process-agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/security-agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/trace-agent.ps1
  Dockerfiles/agent/windows/amd64/Dockerfile
  Dockerfiles/agent/windows/entrypoint/entrypoint.cpp
Labels: changelog/no-changelog, team/containers

#8708 [7.30][Backport] Allow Windows containers entrypoint executable to take command from environment variable
  Dockerfiles/agent/entrypoint.d.windows/_default.ps1
  Dockerfiles/agent/entrypoint.d.windows/agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/process-agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/security-agent.ps1
  Dockerfiles/agent/entrypoint.d.windows/trace-agent.ps1
  Dockerfiles/agent/windows/amd64/Dockerfile
  Dockerfiles/agent/windows/entrypoint/entrypoint.cpp
Labels: changelog/no-changelog, kind/bug, team/containers

#8704 [KSMCore] Add `kube_<kind>:<owner name>` tags to pod metrics
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  pkg/util/kubernetes/helpers.go
  pkg/util/kubernetes/helpers_test.go
  releasenotes-dca/notes/ksm-core-owner-tags-950d8dca71c3652a.yaml
  releasenotes/notes/ksm-core-owner-tags-950d8dca71c3652a.yaml
Labels: team/containers

#8709 [release] add release entry for 7.30.0-rc.10
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8662 [Serverless] merge extension v9 into main (2)
  LICENSE-3rdparty.csv
  cmd/serverless/api_key.go
  cmd/serverless/api_key_test.go
  cmd/serverless/main.go
  pkg/dogstatsd/server.go
  pkg/forwarder/sync_forwarder.go
  pkg/logs/config/channel_message.go
  pkg/logs/input/channel/tailer.go
  pkg/logs/input/channel/tailer_test.go
  pkg/logs/logs.go
  pkg/logs/logs_test.go
  pkg/logs/processor/json_serverless.go
  pkg/logs/scheduler/scheduler.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/arn_test.go
  pkg/serverless/aws/logs.go
  pkg/serverless/aws/logs_test.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/protocol.go
  pkg/serverless/protocol_test.go
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
  pkg/serverless/tags.go
  pkg/serverless/tags_test.go
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, team/serverless

#8696 [runtime-security] fix the `TestProcessLineage` test
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#8710 [runtime-security] use a bit mask when using event_type discarder
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/discarders.h
Labels: changelog/no-changelog, kind/bug, team/agent-security

#8712 [runtime-security] use a bit mask when using event_type discarder backport
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/discarders.h
Labels: changelog/no-changelog, kind/bug, team/agent-security

#8619 Move DNS instrumentation to a separate package
  .gitlab/binary_build/system_probe.yml
  .gitlab/internal_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/source_test/ebpf.yml
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/system-probe.rb
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/dns.go
  pkg/network/dns/cache.go
  pkg/network/dns/cache_test.go
  pkg/network/dns/driver_windows.go
  pkg/network/dns/ebpf.go
  pkg/network/dns/monitor_linux.go
  pkg/network/dns/monitor_windows.go
  pkg/network/dns/null.go
  pkg/network/dns/packet_source_windows.go
  pkg/network/dns/parser.go
  pkg/network/dns/snooper.go
  pkg/network/dns/snooper_test.go
  pkg/network/dns/stats.go
  pkg/network/dns/stats_test.go
  pkg/network/dns/tcp_dns_layer.go
  pkg/network/dns/types.go
  pkg/network/driver/ddnpmapi.h
  pkg/network/driver/flow_windows.go
  pkg/network/driver/handle.go
  pkg/network/driver/types.go
  pkg/network/driver/types_windows.go
  pkg/network/driver_interface.go
  pkg/network/ebpf/bpf_module.go
  pkg/network/ebpf/c/defs.h
  pkg/network/ebpf/c/ip.h
  pkg/network/ebpf/c/prebuilt/dns.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/manager.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/event_common.go
  pkg/network/event_windows.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/compile.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
  pkg/process/checks/net_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#8717 [release] add release entry for 7.30.0-rc.11
  go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8679 [corechecks/snmp] Support inline profile definition
  pkg/collector/corechecks/snmp/config_profile.go
  pkg/collector/corechecks/snmp/config_test.go
  pkg/collector/corechecks/snmp/profile.go
  pkg/collector/corechecks/snmp/profile_test.go
  releasenotes/notes/snmp_corecheck_support_inline_profile_definition-68b85e2302346fda.yaml
Labels: kind/bug, team/infra-integrations

#8715 [runtime-security] check that the security-agent is initialized when handling a `/status` request
  pkg/status/status.go
  releasenotes/notes/fix-security-agent-status-autodiscovery-9d6796f71e86cf16.yaml
Labels: team/agent-security

#8720 [runtime-security] add missing serializers for SELinux events
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/schemas/schemas.go
  pkg/security/tests/schemas/selinux.schema.json
Labels: changelog/no-changelog, kind/bug, team/agent-security

#8711 [corechecks/snmp] Raise error on wrong sysobjectid
  pkg/collector/corechecks/snmp/session.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#8667 Boyan env options in yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, documentation, team/agent-guild

#8726 Add a checklist item for team label
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8727 better sentence in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8722 [runtime-security] Simplify serializers
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, team/agent-security

#8479 [CWS] inject self-test rule/policy at startup and offer ways to trigger it
  cmd/security-agent/app/runtime.go
  pkg/config/config.go
  pkg/security/agent/client.go
  pkg/security/api/README.md
  pkg/security/api/api.pb.go
  pkg/security/api/api.proto
  pkg/security/config/config.go
  pkg/security/module/module.go
  pkg/security/module/self_tester.go
  pkg/security/module/server.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/model.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/serializers.go
  pkg/security/tests/setup_test.go
  releasenotes/notes/runtime-security-agent-self-test-064458b0d144ff87.yaml
Labels: team/agent-security

#8732 [runtime-security]go generate protection check
  .gitlab/source_test.yml
  .gitlab/source_test/go_generate_check.yml
Labels: changelog/no-changelog, team/agent-security

#8736 Revert Do not spawn tagger pull in a background goroutine
  pkg/tagger/local/tagger.go
  releasenotes/notes/no_async_for_tagger-0e1f1c582f8fd61b.yaml
Labels: changelog/no-changelog, team/containers

#8684 [pkg/util] Add `hostname_file` configuration option
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/util/azure/azure.go
  pkg/util/docker/diagnosis.go
  pkg/util/docker/global.go
  pkg/util/docker/global_nodocker.go
  pkg/util/ec2/ec2.go
  pkg/util/ecs/metadata/doc.go
  pkg/util/gce/gce.go
  pkg/util/hostname.go
  pkg/util/hostname/apiserver/hostname.go
  pkg/util/hostname/file.go
  pkg/util/hostname/file/hostname.go
  pkg/util/hostname/file/hostname_test.go
  pkg/util/hostname/kubelet/host_alias.go
  pkg/util/hostname/kubelet/hostname.go
  pkg/util/hostname/kubelet/hostname_test.go
  pkg/util/hostname/providers.go
  pkg/util/hostname_docker.go
  pkg/util/hostname_test.go
  pkg/util/kubernetes/kubelet/kubelet_hosts.go
  pkg/util/tencent/tencent.go
  releasenotes/notes/add-hostname-file-config-option-fa039cfd5ae8bcc8.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: kind/feature, team/agent-core, team/containers

#8729 [serverless] Try encrypting KMS key without encryption context first
  cmd/serverless/api_key.go
  cmd/serverless/api_key_test.go
Labels: changelog/no-changelog, team/serverless

#8738 [tasks] Add tasks for manipulating pipeline schedules
  tasks/libs/common/gitlab.py
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#8731 Make Serverless team owner of cmd/serverless directory
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/serverless

#8740 Backport: Revert Do not spawn tagger pull in a background goroutine (#8736)
  pkg/tagger/local/tagger.go
  releasenotes/notes/no_async_for_tagger-0e1f1c582f8fd61b.yaml
Labels: changelog/no-changelog, team/containers

#8746 [runtime-security] use the first event type as index for the discarder mask
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/discarders.h
Labels: changelog/no-changelog, team/agent-security

#8713 Add comments about thread-safety of safeConfig
  pkg/config/viper.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#8725 Copy the list of source pointers in LogSources#GetSources
  pkg/logs/config/sources.go
Labels: changelog/no-changelog, team/agent-core
