Repository DataDog/datadog-agent, pull requests merged in 2021-11, with the labels that each got.

#9697 [corechecks/snmp] Set device id as instance name
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9708 Enable zypper RPM debug mode
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/support-zypp-rpm-debug-a041f1c818a0ec16.yaml
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
Labels: team/agent-platform

#9718 Bump go.opentelemetry.io/collector[/model] to v0.38.0
  go.mod
  go.sum
  pkg/otlp/map_provider.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
Labels: changelog/no-changelog, team/agent-platform

#9720 [KSMCore] Add node info as tags with a default label join
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes-dca/notes/ksm-core-node-info-df4fe65746707ef7.yaml
  releasenotes/notes/ksm-core-node-info-df4fe65746707ef7.yaml
Labels: team/containers

#9684 [Flare][CLI] Dump workloadmeta store
  cmd/agent/api/agent/agent.go
  cmd/agent/app/workload_list.go
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  pkg/workloadmeta/dump.go
  pkg/workloadmeta/dump_test.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
  pkg/workloadmeta/utils.go
  releasenotes/notes/workload-meta-dump-f601aa6ffe80c8e9.yaml
Labels: team/containers

#9213 pkg/trace/traceutil: card obfuscation
  pkg/config/apm.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env_test.go
  pkg/trace/config/testdata/full.yaml
  pkg/trace/obfuscate/credit_cards.go
  pkg/trace/obfuscate/credit_cards_test.go
  pkg/trace/obfuscate/obfuscate.go
  pkg/trace/obfuscate/obfuscate_test.go
  pkg/trace/pb/decoder_v05.go
  pkg/trace/pb/hook.go
  pkg/trace/pb/hook_test.go
  pkg/trace/pb/span.pb.go
  pkg/trace/pb/span_gen.go
  pkg/trace/test/testsuite/cards_test.go
  pkg/trace/traceutil/span.go
  pkg/trace/traceutil/span_test.go
  releasenotes/notes/apm-credit-cards-obfuscation-918935ff76b3d897.yaml
Labels: team/agent-apm

#9589 Support reading podman logs
  pkg/config/config.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_test.go
  pkg/logs/input/file/tailer.go
Labels: team/agent-core, changelog/no-changelog

#9690 Remove code duplication with a http.Get helper
  pkg/util/alibaba/alibaba.go
  pkg/util/azure/azure.go
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_tags.go
  pkg/util/gce/gce.go
  pkg/util/http/helpers.go
  pkg/util/http/helpers_test.go
  pkg/util/tencent/tencent.go
Labels: team/agent-core, changelog/no-changelog

#9403 Introduce generic metrics provider and generic container check
  cmd/agent/app/run.go
  cmd/agent/dist/conf.d/container.d/conf.yaml.default
  pkg/autodiscovery/listeners/environment.go
  pkg/collector/corechecks/containers/generic/adapters.go
  pkg/collector/corechecks/containers/generic/check.go
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/collector/corechecks/containers/generic/processor_test.go
  pkg/util/cgroups/cgroup_shared.go
  pkg/util/cgroups/cgroupv1_io.go
  pkg/util/cgroups/cgroupv1_memory.go
  pkg/util/cgroups/reader.go
  pkg/util/cgroups/stats.go
  pkg/util/containers/providers/cgroup/provider.go
  pkg/util/containers/v2/metrics/collector.go
  pkg/util/containers/v2/metrics/collector_disk_linux.go
  pkg/util/containers/v2/metrics/collector_disk_linux_test.go
  pkg/util/containers/v2/metrics/collector_network_linux.go
  pkg/util/containers/v2/metrics/collector_network_linux_test.go
  pkg/util/containers/v2/metrics/collector_system_linux.go
  pkg/util/containers/v2/metrics/collector_system_linux_test.go
  pkg/util/containers/v2/metrics/mock.go
  pkg/util/containers/v2/metrics/provider.go
  pkg/util/containers/v2/metrics/provider_test.go
  pkg/util/containers/v2/metrics/types.go
  pkg/util/filesystem/file.go
  pkg/util/pointer.go
  pkg/util/testutil/tempfolder.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
  releasenotes/notes/container-check-0b68ad11c6684b02.yaml
Labels: team/containers, kind/feature

#9716 [CWS] cleanup ubuntu hwe CI versions
  .gitlab/functional_test/security_agent.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-security

#9701 [pkg/otlp] Refactor OTLP receiver PipelineConfig field
  pkg/otlp/collector.go
  pkg/otlp/collector_test.go
  pkg/otlp/config.go
  pkg/otlp/config_test.go
  pkg/otlp/internal/testutil/doc.go
  pkg/otlp/internal/testutil/testutil.go
  pkg/otlp/map_provider.go
  pkg/otlp/map_provider_test.go
  pkg/otlp/testdata/port/alldisabled.yaml
  pkg/otlp/testdata/port/bindhost.yaml
  pkg/otlp/testdata/port/disabled.yaml
  pkg/otlp/testdata/port/invalid.yaml
  pkg/otlp/testdata/port/nobindhost.yaml
  pkg/otlp/testdata/port/nonlocal.yaml
Labels: changelog/no-changelog, team/agent-platform

#9722 [networks] replace GetDNSNamesV2
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/networks

#9723 [gitlab] Remove twistlock jobs
  .gitlab/JOBOWNERS
  .gitlab/image_deploy.yml
  .gitlab/image_deploy/twistlock.yml
Labels: team/containers, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9603 [runtime-security] Add timeout metrics
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/module/module.go
  pkg/security/probe/discarders.go
  pkg/security/probe/erpc.go
  pkg/security/probe/perf_buffer_monitor.go
  pkg/security/probe/probe.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/probe_monitor_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/selinux_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/xattr_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#9719 [corechecks/snmp] Skip already processed OIDs
  pkg/collector/corechecks/snmp/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/fetch/fetch_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9704 [corechecks/snmp] Use GetNext as fallback on GetBulk failure
  pkg/collector/corechecks/snmp/fetch/fetch.go
  pkg/collector/corechecks/snmp/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/fetch/fetch_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9729 Revert "[corechecks/snmp] Use GetNext as fallback on GetBulk failure"
  pkg/collector/corechecks/snmp/fetch/fetch.go
  pkg/collector/corechecks/snmp/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/fetch/fetch_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9208 Add runtime compilation version of the HTTP program
  .gitlab/binary_build/system_probe.yml
  .gitlab/internal_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/source_test/ebpf.yml
  omnibus/config/software/system-probe.rb
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/runtime/conn-tuple.h
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/http/compile.go
  pkg/network/http/ebpf_main.go
  pkg/network/tracer/tracer.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, proc-slack-ignore

#9730 Revert "Revert "[corechecks/snmp] Use GetNext as fallback on GetBulk failure""
  pkg/collector/corechecks/snmp/fetch/fetch.go
  pkg/collector/corechecks/snmp/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/fetch/fetch_test.go
Labels: changelog/no-changelog, team/infra-integrations

#9735 [gitlab] Update system-probe build images
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9689 [workloadmeta] Separate pulling and event processing
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog

#9698 [runtime-security] Use a 1 minute ticker for the containers_running metric
  pkg/compliance/agent/telemetry.go
  pkg/security/agent/telemetry.go
Labels: changelog/no-changelog, team/agent-security

#9677 Kacper murzyn/code unfreeze inv task
  tasks/release.py
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9742 [gitlab] Record compressed packages size
  .gitlab/pkg_metrics.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9744 [AD] Fix assignment to entry in nil map
  pkg/autodiscovery/providers/kubelet.go
Labels: team/containers, changelog/no-changelog

#9737 Fix missing container check in corechecks list
  tasks/agent.py
Labels: kind/bug, team/containers, changelog/no-changelog, qa/skip-qa

#9745 Always use atomics to access an atomic value
  pkg/logs/pipeline/provider.go
  pkg/logs/pipeline/provider_test.go
Labels: team/agent-core, changelog/no-changelog

#9703 [pkg/otlp] Expose translator configuration in the Agent
  pkg/config/otlp.go
  pkg/otlp/collector.go
  pkg/otlp/collector_test.go
  pkg/otlp/config.go
  pkg/otlp/config_test.go
  pkg/otlp/internal/serializerexporter/config.go
  pkg/otlp/internal/serializerexporter/exporter.go
  pkg/otlp/internal/serializerexporter/factory.go
  pkg/otlp/internal/serializerexporter/factory_test.go
  pkg/otlp/map_provider.go
  pkg/otlp/map_provider_test.go
  pkg/otlp/testdata/metrics/allconfig.yaml
  releasenotes/notes/expose-otlp-translator-configuration-d44d06627259e8c5.yaml
Labels: team/agent-platform

#9740 [CWS] remove useless comment and cleanup documentation script
  pkg/security/probe/serializers.go
  pkg/security/secl/compiler/generators/accessors/doc/doc.go
  pkg/security/secl/compiler/generators/accessors/doc/doc_easyjson.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
Labels: changelog/no-changelog, team/agent-security

#9734 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9739 Introduce ECS metrics provider
  pkg/autodiscovery/listeners/environment.go
  pkg/util/containers/v2/metrics/collector_ecs_fargate.go
  pkg/util/containers/v2/metrics/collector_ecs_fargate_test.go
  pkg/util/containers/v2/metrics/collector_system_linux.go
  pkg/util/containers/v2/metrics/util.go
  pkg/util/pointer.go
Labels: team/containers, changelog/no-changelog

#9649 pkg/trace/obfuscate: fix bug where obfuscation fails for autovacuum sql text
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-fix-obfuscation-autovacuum-sql-text-1266db4af8dba140.yaml
Labels: team/agent-apm, team/database-monitoring

#9756 [container check] Minor logging improvements
  pkg/collector/corechecks/containers/generic/processor.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9753 Update release.py
  tasks/release.py
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9724 Improve datetime output when cleaning pipelines
  tasks/libs/pipeline_tools.py
Labels: changelog/no-changelog, team/agent-security

#9728 Remove duplicate code by adding helpers for the hostname package
  pkg/util/hostname.go
  pkg/util/hostname/providers.go
  pkg/util/hostname/providers_test.go
  pkg/util/hostname_docker.go
  pkg/util/hostname_docker_stub.go
Labels: team/agent-core, changelog/no-changelog

#9754 [CWS] fix sizeof inode constant on kernel 5.0.0 (used in ubuntu 18.04.3 LTS)
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/mount_resolver.go
Labels: changelog/no-changelog, team/agent-security

#9747 Hide security-agent compliance event command
  cmd/security-agent/app/compliance.go
Labels: changelog/no-changelog, team/agent-security

#9767 [CWS] fix NoisyProcess test
  pkg/security/tests/probe_monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#9758 [install_script] Fix SUSE detection of unsupported versions
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#9768 [containers/ecs_fargate] Run only if the feature is enabled
  pkg/util/containers/v2/metrics/collector_ecs_fargate.go
Labels: team/containers, changelog/no-changelog

#9765 [CWS] fix SECL generation with vendor
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#9764 [install_script] Direct user to support even when reporting the error
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9763 [install_script] Honor $DD_SITE when reporting errors
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9743 [CWS] various optimisations around event serializers
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/module/server.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/custom_events_easyjson.go
  pkg/security/probe/model.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/serializers_test.go
Labels: changelog/no-changelog, team/agent-security

#9770 [DCA] Fix webhook and secret controllers hogging cpu
  pkg/clusteragent/admission/controllers/secret/controller.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
Labels: kind/bug, team/containers, changelog/no-changelog

#9749 [containers] Add containerd collector (linux and windows)
  pkg/autodiscovery/listeners/environment.go
  pkg/util/containers/v2/metrics/collector_containerd.go
  pkg/util/containers/v2/metrics/collector_containerd_test.go
  pkg/util/containers/v2/metrics/util.go
Labels: team/containers, changelog/no-changelog

#9750 [CWS] Fix TestOpenParentDiscarderFilter test
  pkg/security/tests/filters_test.go
Labels: changelog/no-changelog, team/agent-security

#9771 [Backport][DCA] Fix webhook and secret controllers hogging cpu
  pkg/clusteragent/admission/controllers/secret/controller.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
Labels: team/containers, changelog/no-changelog

#9772 [ECS Fargate collector] Allow retrying the client connection
  pkg/util/containers/v2/metrics/collector_ecs_fargate.go
  pkg/util/containers/v2/metrics/util.go
  pkg/util/ecs/metadata/clients.go
Labels: team/containers, changelog/no-changelog

#9732 pkg/trace: enable configuration of error sampler tps
  pkg/config/apm.go
  pkg/config/config_template.yaml
  pkg/flare/envvars.go
  pkg/trace/agent/agent_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env_test.go
  pkg/trace/config/testdata/undocumented.yaml
  pkg/trace/sampler/scoresampler.go
  pkg/trace/sampler/scoresampler_test.go
  releasenotes/notes/apm-error-sampler-configurable-90589d4753bdc1d6.yaml
Labels: team/agent-apm

#9524 Support v2 / protobuf submission of metrics series
  pkg/config/config.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/metrics/series.go
  pkg/metrics/series_test.go
  pkg/serializer/json_payload_builder_benchmark_test.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/series_benchmark_test.go
  releasenotes/notes/use_v2_api_series-a5a79efb817e946c.yaml
Labels: team/agent-core

#9777 Final build for 7.32.0
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9644 [serverless] Remove /flush route
  cmd/serverless/main.go
  pkg/serverless/daemon/daemon.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/registration/logs_api.go
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
Labels: changelog/no-changelog, team/serverless

#9769 Add `base_branch` value to release.json.
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  release.json
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9766 [CWS] improvements to the documentation generation scripts
  .gitlab/source_test/go_generate_check.yml
  docs/cloud-workload-security/README.md
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/scripts/Dockerfile
  docs/cloud-workload-security/scripts/backend-doc-gen.py
  docs/cloud-workload-security/scripts/common.py
  docs/cloud-workload-security/scripts/generate_documentation_docker.sh
  docs/cloud-workload-security/scripts/secl-doc-gen.py
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/backend.md
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#9714 [CSPM] upgrade rego dependency
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: do-not-merge/WIP, changelog/no-changelog, team/agent-security

#9776 system-probe use common runtime settings helpers
  cmd/system-probe/app/config.go
Labels: changelog/no-changelog, team/networks, team/agent-security

#9759 [pkg/otlp/model] Backport attributes changes from Datadog exporter
  pkg/otlp/model/attributes/attributes.go
  pkg/otlp/model/attributes/attributes_test.go
Labels: changelog/no-changelog, team/agent-platform

#9762 Drop aptly fork
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#9779 [install script] Exclude patch version when comparing minor
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9781 Most of AD is owned by container-integrations
  .github/CODEOWNERS
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9789 [pkg/otlp/model] Backport translator changes
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/sketches_test.go
  pkg/otlp/model/translator/ttlcache.go
  pkg/otlp/model/translator/ttlcache_test.go
  releasenotes/notes/otlp-reset-starts-ed9e79da8acca363.yaml
Labels: team/agent-platform

#9792 Bump shellcheck version
  cmd/agent/install_mac_os.sh
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9761 [kitchen] Add more explicit tags on EC2 kitchen instances
  test/kitchen/drivers/ec2-driver.yml
Labels: dev/testing, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9751 Enable NAT gateway lookup by default
  pkg/config/system_probe.go
  pkg/network/config/config_test.go
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-DisableGwLookup.yaml
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableGwLookup.yaml
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  releasenotes/notes/enable-npm-nat-gw-lookup-default-4dd11a75e9b9a582.yaml
Labels: team/networks, qa/skip-qa

#9505 [CSPM] Rego v2: new features for the rego evaluator
  cmd/security-agent/app/check.go
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/check.go
  pkg/compliance/checks/check_test.go
  pkg/compliance/checks/command_check.go
  pkg/compliance/checks/constants_check.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/env/env.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/global.go
  pkg/compliance/checks/group_check.go
  pkg/compliance/checks/helpers.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/checks/process_check.go
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/checks/resource_check.go
  pkg/compliance/checks/resource_check_test.go
  pkg/compliance/checks/utils.go
  pkg/compliance/eval/eval.go
  pkg/compliance/eval/eval_test.go
  pkg/compliance/event/event.go
  pkg/compliance/gen_mocks.sh
  pkg/compliance/mocks/audit_client.go
  pkg/compliance/mocks/builder.go
  pkg/compliance/mocks/clients.go
  pkg/compliance/mocks/configuration.go
  pkg/compliance/mocks/docker_client.go
  pkg/compliance/mocks/env.go
  pkg/compliance/mocks/evaluatable.go
  pkg/compliance/mocks/iterator.go
  pkg/compliance/mocks/kube_client.go
  pkg/compliance/mocks/rego_configuration.go
  pkg/compliance/mocks/reporter.go
  pkg/compliance/mocks/scheduler.go
  pkg/compliance/report.go
  pkg/compliance/resource.go
  pkg/compliance/rule.go
  pkg/compliance/suite.go
  releasenotes/notes/cspm-rego-v2-d2ce66c42c04c661.yaml
Labels: team/agent-security

#9725 Do not send API key in query string for sketch series
  pkg/forwarder/forwarder.go
Labels: team/agent-core, changelog/no-changelog

#9680 [PodWatcher] Remove isWatchingTags
  pkg/util/kubernetes/kubelet/podwatcher.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/workloadmeta/collectors/kubelet/kubelet.go
Labels: team/containers, changelog/no-changelog

#9632 Fix uncontrolled data in path expression
  cmd/agent/gui/checks.go
  go.mod
Labels: team/agent-core, changelog/no-changelog

#9780 [github] Update the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev/tooling, team/agent-core, changelog/no-changelog, qa/skip-qa

#9752 Enable DNS domain collection by default
  pkg/config/system_probe.go
  pkg/network/config/config_test.go
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-DisableDNSDomains.yaml
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableDNSDomains.yaml
  releasenotes/notes/enable-npm-dns-domain-default-b7ed3bce98ee4ade.yaml
Labels: team/networks, qa/skip-qa

#9612 Add docker collector for metrics provider
  pkg/autodiscovery/listeners/environment.go
  pkg/collector/corechecks/containers/generic/processor_test.go
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/containerd/collector_test.go
  pkg/util/containers/v2/metrics/containerd/doc.go
  pkg/util/containers/v2/metrics/docker/collector.go
  pkg/util/containers/v2/metrics/docker/collector_linux.go
  pkg/util/containers/v2/metrics/docker/collector_linux_test.go
  pkg/util/containers/v2/metrics/docker/collector_test.go
  pkg/util/containers/v2/metrics/docker/collector_windows.go
  pkg/util/containers/v2/metrics/docker/collector_windows_test.go
  pkg/util/containers/v2/metrics/docker/doc.go
  pkg/util/containers/v2/metrics/ecsfargate/collector.go
  pkg/util/containers/v2/metrics/ecsfargate/collector_test.go
  pkg/util/containers/v2/metrics/ecsfargate/doc.go
  pkg/util/containers/v2/metrics/facade.go
  pkg/util/containers/v2/metrics/mock.go
  pkg/util/containers/v2/metrics/provider/collector.go
  pkg/util/containers/v2/metrics/provider/provider.go
  pkg/util/containers/v2/metrics/provider/provider_test.go
  pkg/util/containers/v2/metrics/provider/types.go
  pkg/util/containers/v2/metrics/provider/util.go
  pkg/util/containers/v2/metrics/system/collector_disk_linux.go
  pkg/util/containers/v2/metrics/system/collector_disk_linux_test.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
  pkg/util/containers/v2/metrics/system/collector_linux_test.go
  pkg/util/containers/v2/metrics/system/collector_network_linux.go
  pkg/util/containers/v2/metrics/system/collector_network_linux_test.go
  pkg/util/containers/v2/metrics/system/doc.go
  pkg/util/containers/v2/metrics/system/util.go
Labels: team/containers, changelog/no-changelog

#9794 [runtime-security] Check unmarshallString error
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/secl/model/utils_test.go
Labels: changelog/no-changelog, team/agent-security

#9793 pkg/trace/api: preserve OpenTelemetry TraceID by default
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
Labels: changelog/no-changelog, team/agent-apm

#9809 [CWS] fix some int/uint parsing issues
  pkg/security/probe/mount_resolver.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security

#9812 [KSM Core] Support VPA and update the ksm lib to 2.1
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/util/kubernetes/apiserver/apiserver.go
  releasenotes-dca/notes/ksm-core-vpa-3a569c3fb8f606be.yaml
  releasenotes/notes/ksm-core-vpa-3a569c3fb8f606be.yaml
Labels: team/containers

#9813 [cmd/workload-list] Fix error message
  cmd/agent/app/workload_list.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9804 remove unnecessary newlines in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9787 [process-agent] Fix ProcessQueueBytes default value comment
  pkg/process/config/config.go
Labels: changelog/no-changelog, team/processes

#9782 [serverless] Remove /hello route
  pkg/serverless/daemon/daemon.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/daemon/interval.go
  pkg/serverless/daemon/interval_test.go
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
Labels: changelog/no-changelog, team/serverless

#9788 [pkg/otlp] Expose receiver configuration in `experimental.otlp.receiver`
  pkg/config/otlp.go
  pkg/otlp/collector_test.go
  pkg/otlp/config.go
  pkg/otlp/config_test.go
  pkg/otlp/internal/testutil/testutil.go
  pkg/otlp/testdata/receiver/advanced.yaml
  pkg/otlp/testdata/receiver/noprotocols.yaml
  pkg/otlp/testdata/receiver/portandreceiver.yaml
  pkg/otlp/testdata/receiver/simple.yaml
  pkg/otlp/testdata/receiver/typo.yaml
  releasenotes/notes/otlp-receiver-config-8383b827f910e935.yaml
Labels: team/agent-platform

#9696 [Serverless] merge v13 -> main
  pkg/serverless/daemon/daemon.go
  pkg/serverless/daemon/daemon_test.go
Labels: changelog/no-changelog, team/serverless

#9817 pkg/trace: add config to disable rare sampler
  pkg/config/apm.go
  pkg/flare/envvars.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/config/apply.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env_test.go
  pkg/trace/config/testdata/undocumented.yaml
  pkg/trace/sampler/rare_sampler_test.go
  releasenotes/notes/apm-disable-rare-sampler-config-f5f3a6efac3d4ba1.yaml
Labels: team/agent-apm

#9814 Kacper murzyn/7.32.0 changelog
  CHANGELOG.rst
  releasenotes/notes/semconv-1.5.0-otlp-8e6dc691398e2bd1.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9710 [networks] Handle TCP_CLOSE/conntrack race
  pkg/network/event_common.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/noop.go
  pkg/network/state.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/testutil/conntrack.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9819 Add Docker images for Windows ltsc2022
  .gitlab/image_build/docker_windows_agent7.yml
  .gitlab/image_deploy/docker_windows.yml
  releasenotes/notes/windows2022-e554d1e56b4946e8.yaml
Labels: team/containers

#9775 [CWS] add runtime-settings support to security-agent
  cmd/agent/app/config.go
  cmd/agent/common/commands/config/config.go
  cmd/cluster-agent/app/config.go
  cmd/process-agent/main_common.go
  cmd/security-agent/api/agent/agent.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/config.go
  cmd/system-probe/app/config.go
  pkg/config/settings/api.go
  releasenotes/notes/security-agent-runtime-settings-d764cbfaa6f77aca.yaml
Labels: team/agent-security

#9826 Revert "Add Docker images for Windows ltsc2022 (#9819)"
  .gitlab/image_build/docker_windows_agent7.yml
  .gitlab/image_deploy/docker_windows.yml
  releasenotes/notes/windows2022-e554d1e56b4946e8.yaml
Labels: team/containers, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9805 [serverless] Increment errors metric in case of timeout or OOM
  pkg/serverless/logs/logs_test.go
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  pkg/serverless/metrics/metric.go
  pkg/serverless/metrics/metric_test.go
  pkg/serverless/serverless.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#9806 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation

#9821 [CSPM] rego print statement and log for resolve fail
  pkg/compliance/checks/rego_check.go
  releasenotes/notes/cspm-rego-print-9c6e7f6168a29a4d.yaml
Labels: team/agent-security

#9802 [CWS] replace mocks generation script with invoke tasks
  pkg/compliance/gen_mocks.sh
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#9835 pkg/trace/test: find a free port to use when running the agent
  pkg/trace/test/agent.go
  pkg/trace/test/testutil/testutil.go
Labels: changelog/no-changelog, team/agent-apm

#9838 [install_script] Release version 1.7.0
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9733 [runtime-security] Fix multiple races in testModule and unload policies at the end of a test
  pkg/security/probe/mount_resolver_test.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/cmdwrapper.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/hardlink_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/macros_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/probe_monitor_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/selinux_test.go
  pkg/security/tests/serializers_test.go
  pkg/security/tests/span_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/stresser_test.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/tests/xattr_test.go
Labels: changelog/no-changelog, team/agent-security

#9823 [gitlab] Update last_stable release.json fields
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9364 Use fmt.Fprint instead of fmt.Sprintf
  cmd/agent/gui/checks.go
  cmd/cluster-agent/api/v1/kubernetes_metadata.go
  pkg/flare/archive.go
  pkg/trace/api/api.go
Labels: team/agent-core, team/containers, changelog/no-changelog, team/agent-apm

#9841 [install_script] Add changelog for 1.7.0
  CHANGELOG-INSTALLSCRIPT.rst
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9499 [Gitlab] Make Windows staging repo follow branch conventions
  .gitlab-ci.yml
  .gitlab/check_deploy.yml
  .gitlab/choco_build.yml
  .gitlab/deploy_6/nix.yml
  .gitlab/deploy_6/windows.yml
  .gitlab/deploy_7/nix.yml
  .gitlab/deploy_7/windows.yml
  .gitlab/deploy_invalidate.yml
  .gitlab/image_scan.yml
  .gitlab/package_build/windows.yml
  .gitlab/pkg_metrics.yml
  tasks/libs/pipeline_tools.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9834 Update the embedded `pip` version to 21.3.1 on Python 3
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/pip3.rb
  releasenotes/notes/update-pip-version-21.3.1-python3-d9d2ff96ef3c9774.yaml
Labels: team/integrations, team/agent-platform, dependencies

#9844 [CSPM] allow creation of error findings from rego
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/checks/rego_helpers/datadog.rego
Labels: changelog/no-changelog, team/agent-security

#9818 feat: add resource kind in DatadogMetrics.status.references
  pkg/clusteragent/externalmetrics/autoscaler_watcher.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  releasenotes-dca/notes/improve-resource-reference-in-DatadogMetric-status.yaml
Labels: team/containers, kind/feature, component/cluster-agent

#9757 pkg/trace/{api,agent,pb}: introduce new client payload formats: TracerPayload & TraceChunk
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/agent/processed_trace.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/api/payload.go
  pkg/trace/api/version.go
  pkg/trace/event/processor.go
  pkg/trace/event/processor_test.go
  pkg/trace/pb/agent_payload.pb.go
  pkg/trace/pb/agent_payload.proto
  pkg/trace/pb/span.pb.go
  pkg/trace/pb/trace.go
  pkg/trace/pb/trace.pb.go
  pkg/trace/pb/trace.proto
  pkg/trace/pb/trace_payload.pb.go
  pkg/trace/pb/trace_payload.proto
  pkg/trace/pb/trace_test.go
  pkg/trace/pb/tracer_payload.pb.go
  pkg/trace/pb/tracer_payload.proto
  pkg/trace/pb/tracer_payload_gen.go
  pkg/trace/pb/tracer_payload_gen_test.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/rare_sampler.go
  pkg/trace/sampler/rare_sampler_test.go
  pkg/trace/sampler/sampler.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/stats/weight.go
  pkg/trace/test/backend.go
  pkg/trace/test/example_test.go
  pkg/trace/test/runner.go
  pkg/trace/test/testsuite/cards_test.go
  pkg/trace/test/testsuite/chunking_test.go
  pkg/trace/test/testsuite/events_test.go
  pkg/trace/test/testsuite/hostname_test.go
  pkg/trace/test/testsuite/traces_test.go
  pkg/trace/test/testutil/generate.go
  pkg/trace/test/testutil/stats.go
  pkg/trace/test/testutil/trace.go
  pkg/trace/traceutil/trace.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
  releasenotes/notes/trace-agent-new-endpoint-d0f6ae8fde1cf098.yaml
Labels: team/agent-apm

#9683 [Serverless] Detect runtime from the extension using proc files
  pkg/serverless/proc/proc.go
  pkg/serverless/proc/proc_test.go
  pkg/serverless/proc/testData/1/.gitkeep
  pkg/serverless/proc/testData/13/environ
  pkg/serverless/proc/testData/142/.gitkeep
  pkg/serverless/serverless_test.go
  pkg/serverless/tags/tags.go
  pkg/serverless/tags/tags_test.go
  pkg/serverless/tags/testInvalid/os-release
  pkg/serverless/tags/testValid/os-release
Labels: changelog/no-changelog, team/serverless

#9836 [kitchen] Exclude C:/windows/AppReadiness/ from system files check
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9795 Export cluster id for rego checks
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/custom/helper_for_test.go
  pkg/compliance/checks/env/kubernetes.go
  pkg/compliance/checks/kubeapiserver_check_test.go
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_helpers/datadog.rego
  pkg/compliance/mocks/kube_client.go
Labels: changelog/no-changelog, team/agent-security

#9837 [omnibus] Add missing project license file
  omnibus/config/projects/agent-binaries.rb
  omnibus/config/projects/agent.rb
  omnibus/config/projects/iot-agent.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9783 Fix deadlock in WeightedQueue
  cmd/process-agent/collector.go
  pkg/process/util/api/weighted_queue.go
  pkg/process/util/api/weighted_queue_test.go
Labels: team/agent-core, changelog/no-changelog, team/processes

#9829 Fix intermittent BBSCache/CCCache test failures (and speed up tests)
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/autodiscovery/providers/cloudfoundry_test.go
  pkg/util/cloudfoundry/bbscache.go
  pkg/util/cloudfoundry/bbscache_test.go
  pkg/util/cloudfoundry/cccache.go
  pkg/util/cloudfoundry/cccache_test.go
  pkg/util/cloudfoundry/main_test.go
  pkg/util/cloudfoundry/types_test.go
Labels: changelog/no-changelog, team/intg-tools-libs

#9845 [CSPM] add helpers for k8s master/worker resource id
  pkg/compliance/checks/rego_helpers/datadog.rego
Labels: changelog/no-changelog, team/agent-security

#9828 Fix debugfs mountpoint detection logic
  pkg/util/kernel/fs.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9682 Move RedactingWriter from pkg/flare to pkg/util/scrubber
  cmd/agent/common/commands/check.go
  pkg/flare/archive.go
  pkg/flare/archive_dca.go
  pkg/flare/archive_docker.go
  pkg/flare/archive_security.go
  pkg/flare/archive_test.go
  pkg/flare/envvars.go
  pkg/flare/writer.go
  pkg/flare/writer_test.go
  pkg/util/scrubber/default.go
  pkg/util/scrubber/scrubber.go
  pkg/util/scrubber/writer.go
  pkg/util/scrubber/writer_test.go
Labels: team/agent-core, changelog/no-changelog

#9839 [Docker] Improve docker.exit service check
  cmd/agent/common/tests/a6_conf/conf.d/docker.d/conf.yaml
  cmd/agent/dist/conf.d/docker.d/conf.yaml.default
  pkg/collector/corechecks/containers/docker/docker.go
  pkg/collector/corechecks/containers/docker/docker_config.go
  pkg/collector/corechecks/containers/docker/docker_events.go
  pkg/collector/corechecks/containers/docker/docker_events_test.go
  pkg/config/legacy/docker_test.go
  releasenotes/notes/docker-exit-c5b8c5ab4885d54c.yaml
Labels: component/collector, team/containers

#9849 Fix debugfs mountpoint detection logic
  pkg/util/kernel/fs.go
  releasenotes/notes/debugfs-fix-ecs-97afb26f9d5a8c8b.yaml
Labels: team/networks, qa/skip-qa

#9853 [release] Update release.json and Go modules for 6/7.32.1-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9738 Creating a 'cloudproviders' package
  .github/CODEOWNERS
  .golangci.yml
  cmd/agent/app/run.go
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/api/v1/cloudfoundry_metadata.go
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/cloudfoundry_test.go
  pkg/autodiscovery/providers/cloudfoundry.go
  pkg/autodiscovery/providers/cloudfoundry_test.go
  pkg/collector/corechecks/net/ntp.go
  pkg/metadata/host/host.go
  pkg/metadata/host/host_tags.go
  pkg/otlp/model/attributes/azure/azure.go
  pkg/process/checks/container.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/tagger/collectors/garden_extract.go
  pkg/tagger/collectors/garden_main.go
  pkg/util/cloudproviders/alibaba/alibaba.go
  pkg/util/cloudproviders/alibaba/alibaba_test.go
  pkg/util/cloudproviders/alibaba/diagnosis.go
  pkg/util/cloudproviders/azure/azure.go
  pkg/util/cloudproviders/azure/azure_test.go
  pkg/util/cloudproviders/azure/diagnosis.go
  pkg/util/cloudproviders/cloudfoundry/bbscache.go
  pkg/util/cloudproviders/cloudfoundry/bbscache_test.go
  pkg/util/cloudproviders/cloudfoundry/cccache.go
  pkg/util/cloudproviders/cloudfoundry/cccache_test.go
  pkg/util/cloudproviders/cloudfoundry/cloudfoundry.go
  pkg/util/cloudproviders/cloudfoundry/cloudfoundry_test.go
  pkg/util/cloudproviders/cloudfoundry/garden.go
  pkg/util/cloudproviders/cloudfoundry/garden_test.go
  pkg/util/cloudproviders/cloudfoundry/main_test.go
  pkg/util/cloudproviders/cloudfoundry/types.go
  pkg/util/cloudproviders/cloudfoundry/types_test.go
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/gce/diagnosis.go
  pkg/util/cloudproviders/gce/gce.go
  pkg/util/cloudproviders/gce/gce_no_tags.go
  pkg/util/cloudproviders/gce/gce_tags.go
  pkg/util/cloudproviders/gce/gce_tags_test.go
  pkg/util/cloudproviders/gce/gce_test.go
  pkg/util/cloudproviders/gce/test/gce_metadata.json
  pkg/util/cloudproviders/network.go
  pkg/util/cloudproviders/tencent/diagnosis.go
  pkg/util/cloudproviders/tencent/tencent.go
  pkg/util/cloudproviders/tencent/tencent_test.go
  pkg/util/containers/collectors/cloudfoundry.go
  pkg/util/hostname/azure.go
  pkg/util/hostname/gce.go
  pkg/util/hostname/kubelet/no_host_alias.go
  pkg/util/hostname/providers_test.go
  pkg/util/hostname_docker.go
  pkg/util/kubernetes/clustername/clustername.go
Labels: team/agent-core, team/containers, changelog/no-changelog

#9731 [networks] Fix HTTP connection joining in certain cases
  pkg/network/http/http_statkeeper.go
  pkg/network/http/monitor_test.go
  pkg/network/http/testutil/testutil.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9847 add Nomad namespace and datacenter tag extraction
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_test.go
  releasenotes/notes/add-nomad-namespace-and-dc-efe2b0d6bb081efe.yaml
Labels: team/containers

#9852 [networks] Fix eBPF conntracker
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/testutil/ping.go
  pkg/network/tracer/conntracker_test.go
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, team/networks

#9807 [process-agent] Start process agent on Windows when process discovery is enabled
  cmd/agent/app/dependent_services_windows.go
  releasenotes/notes/start-process-agent-service-for-process-discovery-5590b43aa330591c.yaml
Labels: kind/enhancement, team/processes

#9843 [process-agent] Allow process discovery to run when container check is off
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/process-discovery-without-container-collection-138d8e4f6c5446c9.yaml
Labels: kind/bug, team/processes

#9855 inventories_*_interval configs are in integer seconds
  pkg/metadata/inventories_collector.go
Labels: team/agent-core, changelog/no-changelog

#9857 Minor cleanup for pkg/util/scrubber
  pkg/forwarder/transaction/transaction.go
  pkg/util/scrubber/default.go
  pkg/util/scrubber/scrubber.go
  pkg/util/scrubber/scrubber_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9864 [conf.d] Rename systemd config file so it's enabled by default in containers
  cmd/agent/dist/conf.d/systemd.d/conf.yaml.default
  releasenotes/notes/enable-systemd-by-default-5c69894f68f43a80.yaml
Labels: kind/bug, team/agent-core

#9831 pkg/trace/obfuscate: fix obfuscation error on SQL queries using the "!" operator
  pkg/trace/obfuscate/sql_test.go
  pkg/trace/obfuscate/sql_tokenizer.go
  releasenotes/notes/apm-fix-sql-obfuscation-not-op-a7d74aa46c5ea2a5.yaml
Labels: kind/bug, team/agent-apm, team/database-monitoring

#9851 Remove unused MetadataEndpoint
  pkg/forwarder/endpoints/endpoints.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/telemetry.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#9803 [logs-agent] Use workloadmeta instead of AD to learn about new containers
  pkg/logs/logs.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/scheduler/scheduler_test.go
  pkg/serverless/logs/logs_test.go
  pkg/workloadmeta/testing/store.go
Labels: team/agent-core, changelog/no-changelog

#9863 [serverless] Remove alias from function ARN
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#9868 Adding changelog for DCA 1.16.0
  CHANGELOG-DCA.rst
Labels: team/containers, changelog/no-changelog

#9257 [Inventory] Send top feature info
  pkg/flare/archive.go
  pkg/flare/metadata.go
  pkg/forwarder/endpoints/endpoints.go
  pkg/forwarder/forwarder.go
  pkg/logs/logs.go
  pkg/metadata/host/host.go
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  pkg/metadata/inventories_collector.go
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/hostname.go
  releasenotes/notes/add-metadata-to-flare-ac60b58459cb8077.yaml
Labels: team/agent-core, changelog/no-changelog

#9869 Fix system-probe startup in ECS
  go.mod
  go.sum
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9870 [serverless] Do not send platform log messages without stringRecord to intake
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#9871 Fix system-probe startup in ECS
  go.mod
  go.sum
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#9846 Remove spammy debug log
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
Labels: team/containers, changelog/no-changelog

#9808 Update the `container` check release notes
  releasenotes/notes/container-check-0b68ad11c6684b02.yaml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9867 [CSPM] fix dump rego input feature when the dump file is present but empty
  pkg/compliance/checks/rego_check.go
Labels: changelog/no-changelog, team/agent-security

#9862 [CSPM] improves rego consistency on `len = 0` cases
  pkg/compliance/checks/audit_check.go
  pkg/compliance/checks/command_check.go
  pkg/compliance/checks/constants_check.go
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/file_check.go
  pkg/compliance/checks/group_check.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/compliance/checks/process_check.go
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_check_input_test.go
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/checks/resource_check.go
  pkg/compliance/checks/resource_check_test.go
Labels: changelog/no-changelog, team/agent-security

#9876 [release] Update release.json and Go modules for 6/7.32.1-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#9877 Make SLES11 deprecation note more explicit
  releasenotes/notes/build-on-opensuse-42-ef3db38a090254d0.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9874 Revert "[conf.d] Rename systemd config file so it's enabled by default in containers"
  cmd/agent/dist/conf.d/systemd.d/conf.yaml.example
  releasenotes/notes/enable-systemd-by-default-5c69894f68f43a80.yaml
Labels: team/agent-core, team/containers, changelog/no-changelog, qa/skip-qa

#9810 Lenaic/improve e2e
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#9500 [runtime-security] Fix 5.11+ kernels compatibility
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/probe/mount_resolver.go
  pkg/security/probe/probe.go
  pkg/security/tests/open_test.go
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-security

#9878 [Cluster Checks] Return 404 instead of 412 when feature not enabled
  cmd/cluster-agent/api/v1/clusterchecks.go
Labels: team/containers, changelog/no-changelog

#9873 [gitlab] Upload unittest JUnit files to CI App
  .gitlab-ci.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/windows.yml
  .gitlab/source_test_junit_upload.yml
  tasks/__init__.py
  tasks/libs/junit_upload.py
  tasks/test.py
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#9879 [workloadmeta] Fix error log formatting in kubemetadata
  pkg/workloadmeta/collectors/kubemetadata/kubemetadata.go
Labels: team/containers, changelog/no-changelog

#9880 Fix type in ksm core metrics doc
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#9875 pkg/trace/test/testsuite: add credit card obfuscation test for all endpoints
  pkg/trace/api/api.go
  pkg/trace/api/otlp.go
  pkg/trace/event/processor.go
  pkg/trace/test/runner.go
  pkg/trace/test/testsuite/cards_test.go
Labels: changelog/no-changelog, team/agent-apm

#9848 [CSPM] export rule inputs and ID in the rego input context document
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_check_input_test.go
Labels: changelog/no-changelog, team/agent-security

#9815 [orchestration] fix output in case CLC is running
  cmd/cluster-agent/commands/clusterchecks.go
  pkg/clusteragent/clusterchecks/stats.go
  pkg/clusteragent/clusterchecks/types/types.go
  pkg/clusteragent/orchestrator/status.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/flare/archive_dca.go
  pkg/flare/cluster_checks.go
  pkg/flare/config_check.go
  pkg/flare/config_check_test.go
  pkg/orchestrator/util.go
  pkg/status/templates/orchestrator.tmpl
  releasenotes-dca/notes/orchestrator-status-new-clc-932678c503c030af.yaml
Labels: component/cluster-agent, team/container-app
