Repository DataDog/datadog-agent, pull requests merged in 2021-03, with the labels that each got.

#7533 Add snmp core check extract value using regex
  pkg/collector/corechecks/snmp/config_metric.go
  pkg/collector/corechecks/snmp/config_validate_enrich.go
  pkg/collector/corechecks/snmp/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/report_bandwidth_usage.go
  pkg/collector/corechecks/snmp/report_metrics.go
  pkg/collector/corechecks/snmp/report_metrics_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/collector/corechecks/snmp/value.go
  releasenotes/notes/add_snmp_corecheck_extract_value-db28c18a72097976.yaml
Labels: team/infra-integrations

#7232 [serverless] implement an adaptive flush automatically deciding the best moment to flush
  cmd/serverless/main.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_worker.go
  pkg/logs/agent.go
  pkg/logs/logs.go
  pkg/logs/pipeline/mock/mock.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/provider.go
  pkg/logs/processor/processor.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/sender.go
  pkg/logs/sender/stream_strategy.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/logs.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/flush/strategy.go
  pkg/serverless/flush/strategy_test.go
  pkg/serverless/interval.go
  pkg/serverless/interval_test.go
  pkg/serverless/protocol.go
  pkg/serverless/serverless.go
Labels: changelog/no-changelog, team/agent-core

#7490 Add a comment to explain why domain is not stored in the retry file.
  pkg/forwarder/transactions_serializer.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7546 [DCA][Fix] Support DD_FORCE_TLS_12
  cmd/cluster-agent/api/server.go
  releasenotes-dca/notes/dca-supportforce-tls1.2-dee4998518e78910.yaml
Labels: changelog/no-changelog, kind/bug, team/containers

#7518 [system-probe] Fix conntrack netlink sampling rate handling
  pkg/network/config/tracer_config.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/consumer_test.go
  releasenotes/notes/conntrack-sampling-is-disabled-on-older-Linux-kernels-fca7c4fc56c61070.yaml
Labels: component/system-probe, qa/skip-qa, team/networks

#7541 [system-probe] Ignore udp port binding map update already exists error
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/networks

#7549 Fix TestPerfBatchStateCleanup to not depend on actual elapsed time
  pkg/network/tracer/perf_batching.go
  pkg/network/tracer/perf_batching_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7529 Send timeout metric, handle restarts after timeouts, and send metrics when logs are disabled
  cmd/serverless/README.md
  cmd/serverless/main.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/arn_test.go
  pkg/serverless/aws/logs.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/protocol.go
  pkg/serverless/serverless.go
Labels: changelog/no-changelog, team/serverless

#7545 Move SNMP auto_conf.yaml from integrations-core to agent repo
  .github/CODEOWNERS
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
Labels: changelog/no-changelog, team/infra-integrations

#7483 Get Cloud Foundry application name from Cloud Controller API
  LICENSE-3rdparty.csv
  cmd/cluster-agent-cloudfoundry/app/app.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/util/cloudfoundry/bbscache.go
  pkg/util/cloudfoundry/bbscache_test.go
  pkg/util/cloudfoundry/cccache.go
  pkg/util/cloudfoundry/cccache_test.go
  pkg/util/cloudfoundry/main_test.go
  pkg/util/cloudfoundry/types.go
  pkg/util/cloudfoundry/types_test.go
  pkg/util/log/strip.go
  releasenotes/notes/cccache-cc1fddbcf74992b7.yaml
Labels: team/intg-tools-libs

#7493 [runtime-security] Track process credentials updates
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/cgroup.h
  pkg/security/ebpf/c/commit_creds.h
  pkg/security/ebpf/c/container.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/process.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/model/accessors.go
  pkg/security/model/consts.go
  pkg/security/model/events.go
  pkg/security/model/model.go
  pkg/security/model/process_cache_entry.go
  pkg/security/model/unmarshallers.go
  pkg/security/probe/accessors.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/secl/eval/model_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
  pkg/security/utils/proc.go
  releasenotes/notes/runtime-security-commit-credentials-a62130bb6c4adb81.yaml
Labels: team/agent-security

#7554 [runtime-security] handle multierror in runtime security policy check
  cmd/security-agent/app/runtime.go
Labels: changelog/no-changelog, team/agent-security

#7455 [clcrunner] Allow runners to use different identifiers
  cmd/cluster-agent/api/v1/clusterchecks.go
  pkg/autodiscovery/providers/clusterchecks.go
  pkg/clusteragent/clusterchecks/api.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/config/config.go
  pkg/tagger/collectors/garden_extract_test.go
  pkg/tagger/collectors/kubernetes_metadata_mapper_test.go
  pkg/util/clusteragent/clusterchecks.go
  releasenotes/notes/clc-runner-id-76878b3dc7a16860.yaml
Labels: team/containers

#7552 Try to align fields in struct
  pkg/util/cloudfoundry/cccache.go
Labels: changelog/no-changelog, team/intg-tools-libs

#7449 Custom resource version for pods
  pkg/orchestrator/pod.go
  pkg/orchestrator/pod_test.go
  releasenotes/notes/pod-resource-version-5656c0b1441b96a9.yaml
Labels: team/container-app

#7547 Remove snmp default conf
  cmd/agent/dist/conf.d/snmp.d/conf.yaml.default
Labels: changelog/no-changelog, team/infra-integrations

#7553 Redirect gRPC server logs to the Datadog logger
  cmd/agent/api/grpc.go
  pkg/tagger/remote/grpclog.go
  pkg/tagger/remote/tagger.go
  pkg/util/grpc/logger.go
  releasenotes/notes/quiet-grpc-logs-6215415cb0154177.yaml
Labels: team/containers

#7556 Revert "Send timeout metric, handle restarts after timeouts, and send metrics when logs are disabled"
  cmd/serverless/README.md
  cmd/serverless/main.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/arn_test.go
  pkg/serverless/aws/logs.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/protocol.go
  pkg/serverless/serverless.go
Labels: changelog/no-changelog, team/serverless

#7559 [DSD] Use inclusive terminology
  pkg/dogstatsd/enrich.go
Labels: changelog/no-changelog, team/containers

#7514 snmp_listener: add loader config
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/config/config_template.yaml
  pkg/snmp/snmp.go
  releasenotes/notes/add_loader_config_to_snmp_listener-18cc470abc368ec8.yaml
Labels: team/infra-integrations

#7504 Update CHANGELOG for 7.26.0
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7422 pkg/trace: enable client tracers to drop auto_drop/p0 spans
  pkg/trace/agent/agent.go
  pkg/trace/agent/processed_trace.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/info/stats.go
  pkg/trace/sampler/memory_backend.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  releasenotes/notes/apm-clients-drop-p0-traces-61bb0c8744ba5aa8.yaml
Labels: changelog/no-changelog, team/agent-apm

#7510 [system-probe] Fix, document, and validate system_probe_config.sysprobe_socket config on windows
  cmd/agent/app/dependent_services_windows.go
  cmd/agent/common/system_probe_config_helper.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/process/config/config.go
  pkg/process/config/config_nix.go
  pkg/process/config/config_test.go
  pkg/process/config/config_windows.go
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net-Windows.yaml
  pkg/process/config/yaml_config.go
  pkg/status/status_system_probe.go
  pkg/status/status_system_probe_unsupported.go
Labels: changelog/no-changelog, os/windows, qa/skip-qa, team/networks

#7517 Improve resiliency external metrics server Part 1
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/clusteragent/admission/controllers/secret/controller.go
  pkg/clusteragent/admission/controllers/secret/controller_test.go
  pkg/clusteragent/admission/controllers/webhook/controller.go
  pkg/clusteragent/admission/controllers/webhook/controller_test.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/clusteragent/admission/status.go
  pkg/clusteragent/api/v1/types_test.go
  pkg/clusteragent/custommetrics/store_configmap.go
  pkg/clusteragent/custommetrics/store_configmap_test.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller.go
  pkg/compliance/checks/custom/kube_defaultserviceaccounts.go
  pkg/compliance/checks/custom/kube_networkpolicies.go
  pkg/compliance/checks/kubeapiserver_check.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_kubelet.go
  pkg/util/kubernetes/apiserver/common/common.go
  pkg/util/kubernetes/apiserver/common/common_test.go
  pkg/util/kubernetes/apiserver/controller_util.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/events.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_engine.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  pkg/util/kubernetes/apiserver/metadata_controller_test.go
  pkg/util/kubernetes/apiserver/openshift.go
  pkg/util/kubernetes/apiserver/util.go
  pkg/util/kubernetes/apiserver/wpa_controller.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  pkg/util/kubernetes/autoscalers/autoscalers.go
  pkg/util/kubernetes/autoscalers/autoscalers_test.go
  pkg/util/kubernetes/autoscalers/processor.go
  pkg/util/kubernetes/certificate/certificate.go
  releasenotes-dca/notes/migrate-to-dynamic-client-wpa-controller-035d1d93d7f3410b.yaml
  test/integration/util/kube_apiserver/apiserver_test.go
  test/integration/util/leaderelection/leaderelection_test.go
Labels: component/cluster-agent, kind/enhancement, team/containers

#7544 Do not override iot_host, just change the default
  pkg/util/flavor/flavor.go
Labels: changelog/no-changelog, team/agent-platform

#7564 Send timeout metric, handle restarts after timeouts, and send metrics when logs are disabled (attempt 2)
  cmd/serverless/README.md
  cmd/serverless/main.go
  pkg/serverless/aws/arn.go
  pkg/serverless/aws/arn_test.go
  pkg/serverless/aws/logs.go
  pkg/serverless/enhanced_metrics.go
  pkg/serverless/enhanced_metrics_test.go
  pkg/serverless/protocol.go
  pkg/serverless/serverless.go
Labels: changelog/no-changelog, team/serverless

#7536 Fix panic in system-probe tcp_queue_length check.
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length.go
  releasenotes/notes/fix-panic-in-tcp_queue_length-check-4a028688cf07caf4.yaml
Labels: component/system-probe, kind/bug, severity/major, team/containers

#7568 [macOS] Report correct architecture for Mac M1 chip
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  releasenotes/notes/macos-m1-15626d0e3f02fbde.yaml
Labels: team/agent-platform

#7540 [docker] Simplify DockerUtil.ResolveImageNameFromContainer
  pkg/util/docker/docker_test.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/docker-simplify-image-name-from-container-6c93cd7652abfbed.yaml
Labels: kind/bug, team/containers

#7571 Fix nil interface check
  cmd/agent/app/run.go
  cmd/cluster-agent/app/app.go
Labels: changelog/no-changelog, qa/skip-qa, team/container-app

#7534 [system-probe] Retry failed offset guessing
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/networks

#7457 refactor kitchen tests
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe.yml
  .gitlab/kitchen_testing/centos.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/suse.yml
  .gitlab/kitchen_testing/ubuntu.yml
  .gitlab/kitchen_testing/windows.yml
  test/kitchen/.gitignore
  test/kitchen/README.md
  test/kitchen/drivers/azure-driver.yml
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/drivers/hyperv-driver.yml
  test/kitchen/drivers/vagrant-driver.yml
  test/kitchen/kitchen-azure-common.yml
  test/kitchen/kitchen-vagrant-security-agent.yml
  test/kitchen/platforms.json
  test/kitchen/tasks/__init__.py
  test/kitchen/tasks/kitchen.py
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/test-definitions/chef-test.yml
  test/kitchen/test-definitions/install-script-test.yml
  test/kitchen/test-definitions/platforms-common.yml
  test/kitchen/test-definitions/security-agent-stress.yml
  test/kitchen/test-definitions/security-agent-test.yml
  test/kitchen/test-definitions/step-by-step-test.yml
  test/kitchen/test-definitions/system-probe-test.yml
  test/kitchen/test-definitions/upgrade5-test.yml
  test/kitchen/test-definitions/upgrade6-test.yml
  test/kitchen/test-definitions/upgrade7-test.yml
  test/kitchen/test-definitions/windows-install-test.yml
  test/kitchen/test-definitions/windows-npm-test.yml
  test/kitchen/test-definitions/windows-npmdriver.yml
  test/kitchen/test/integration/common/rspec/spec_helper.rb
  test/kitchen/uservars-example.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7569 [omnibus] Update patch for pyyaml 5.4.1
  omnibus/config/patches/datadog-agent-integrations-py2/create-regex-at-runtime.patch
Labels: changelog/no-changelog, team/agent-platform

#7527 [tasks] Go modules RFC release tooling
  tasks/modules.py
  tasks/release.py
  tasks/test.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7543 [DCA] changelog release dca-1.11.0
  CHANGELOG-DCA.rst
  releasenotes-dca/notes/prelude-release-1.11.0-07dbb2dd2b6000bd.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/container-app, team/containers

#7573 update to latest release signed driver
  release.json
Labels: changelog/no-changelog, team/networks

#7574 Don't log failure message when install is still pending.
  tools/windows/install-help/cal/stopservices.cpp
Labels: changelog/no-changelog, team/agent-platform

#7500 [system-probe] Use eBPF for conntrack NAT translation tracking (runtime-compilation only)
  .gitlab/binary_build/system_probe.yml
  .gitlab/internal_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/source_test/ebpf.yml
  go.mod
  go.sum
  omnibus/config/software/system-probe.rb
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/config/config.go
  pkg/network/ebpf/c/conntrack.h
  pkg/network/ebpf/c/ip.h
  pkg/network/ebpf/c/ipv6.h
  pkg/network/ebpf/c/runtime/conntrack-maps.h
  pkg/network/ebpf/c/runtime/conntrack-types.h
  pkg/network/ebpf/c/runtime/conntrack.c
  pkg/network/ebpf/c/runtime/netns.h
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer-telemetry.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/conntracker_test.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/consumer_test.go
  pkg/network/netlink/decoding_test.go
  pkg/network/netlink/testdata/setup_cross_ns_dnat.sh
  pkg/network/netlink/testdata/setup_dnat.sh
  pkg/network/netlink/testdata/setup_dnat6.sh
  pkg/network/netlink/testdata/teardown_cross_ns_dnat.sh
  pkg/network/netlink/testdata/teardown_dnat.sh
  pkg/network/netlink/testdata/teardown_dnat6.sh
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/port.go
  pkg/network/port_test.go
  pkg/network/testutil/cmd.go
  pkg/network/testutil/ping.go
  pkg/network/testutil/server.go
  pkg/network/tracer/compile.go
  pkg/network/tracer/compile_test.go
  pkg/network/tracer/conntracker_test.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/event.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
  pkg/process/util/netns.go
  tasks/process_agent.py
  tasks/system_probe.py
  tools/ebpf/Dockerfiles/Dockerfile-process-agent-dev
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7184 [procutil] avoid gathering FD names when fetching FD count
  pkg/process/procutil/dirent_linux.go
  pkg/process/procutil/endian_big.go
  pkg/process/procutil/endian_little.go
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes

#7561 Add 7.26.0 to release.json
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7562 Update CHANGELOG for 7.26.0
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7488 Use telemetry in `retry_queue_telemetry`
  pkg/forwarder/retry_queue_telemetry.go
Labels: changelog/no-changelog, team/agent-core

#7563 [runtime-security] add command line arguments to exec events
  pkg/config/config.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/model/accessors.go
  pkg/security/model/events.go
  pkg/security/model/model.go
  pkg/security/model/process_cache_entry.go
  pkg/security/model/unmarshallers.go
  pkg/security/model/utils.go
  pkg/security/probe/accessors.go
  pkg/security/probe/discarders.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/model.go
  pkg/security/probe/model_test.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/secl/eval/eval.go
  pkg/security/secl/generators/accessors/accessors.go
  pkg/security/tests/process_test.go
  pkg/security/tests/setup_test.go
  releasenotes/notes/runtime-security-args-3636e9611a1096d5.yaml
Labels: kind/feature, team/agent-security

#7288 Fix DCA status with multiple endpoints
  pkg/clusteragent/orchestrator/status.go
  pkg/status/templates/orchestrator.tmpl
Labels: changelog/no-changelog, team/container-app

#7558 [tagger] Further improvements to remote tagger
  cmd/agent/api/grpc.go
  pkg/tagger/local/tagger.go
  pkg/tagger/local/tagstore.go
  pkg/tagger/remote/tagger.go
  pkg/tagger/remote/tagstore.go
  pkg/tagger/subscriber/subscriber.go
  pkg/tagger/telemetry/telemetry.go
  pkg/util/grpc/timeout.go
Labels: changelog/no-changelog, team/containers

#7412 Avoid warning about EC2 tags when detecting cluster name with ec2
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_no_tags.go
  pkg/util/ec2/ec2_tags.go
Labels: changelog/no-changelog, team/agent-core

#7583 [Tagger] Try kubelet connection only when running in kubernetes
  pkg/tagger/collectors/kubelet_main.go
  releasenotes/notes/try-kubelet-only-in-k8s-10ca92c8af714525.yaml
Labels: team/containers

#7584 [android] Bump gradle to version 5.3
  cmd/agent/android/gradle/wrapper/gradle-wrapper.properties
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#6738 cmd/trace-agent: enable build for aix/ppc64
  pkg/config/config_android.go
  pkg/config/config_nix.go
  pkg/config/log_nix.go
  pkg/pidfile/pidfile_nix.go
  pkg/trace/watchdog/cpu.go
  pkg/trace/watchdog/cpu_aix.go
  pkg/util/hostname_docker_stub.go
  releasenotes/notes/add-aix-support-0170d23332663a08.yaml
Labels: team/agent-apm

#7570 trace/agent: moved logger initialization higher to persist errors to …
  pkg/trace/agent/run.go
  releasenotes/notes/apm-start-up-error-logging-3e927cdbb059db57.yaml
Labels: team/agent-apm

#7407 Rework usage of GetAPIClient/WaitForAPIClient to try our best to connect to K8S Apiserver
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/api/agent/agent.go
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/kubernetes_metadata.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/custommetrics/server.go
  cmd/security-agent/common/check_command.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_services.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/tagger/collectors/kubernetes_main.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/hostinfo/apiserver.go
Labels: changelog/no-changelog, kind/enhancement, team/containers

#7535 [DSD][Origin Detection] Allow DSD clients to change tags cardinality
  pkg/aggregator/aggregator.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_bench_test.go
  pkg/dogstatsd/enrich_test.go
  pkg/metrics/event.go
  pkg/metrics/metric_sample.go
  pkg/metrics/metric_sample_test.go
  pkg/metrics/service_check.go
  pkg/tagger/collectors/utils.go
  releasenotes/notes/control-dsd-cardinality-via-tags-c0f8b08f424deeda.yaml
Labels: major_change, team/containers

#7560 [runtime-security] generate security-agent.yaml and install security-agent.yaml.example
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/package-scripts/agent/postinst
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  tasks/agent.py
  tasks/security_agent.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-security

#7580 [system-probe] Fix concurrent map access
  pkg/network/http/http_statkeeper.go
  pkg/network/http/http_statkeeper_test.go
  pkg/network/http/model.go
  pkg/network/http/model_test.go
  pkg/network/http/monitor.go
  pkg/network/http/telemetry.go
Labels: changelog/no-changelog, team/networks

#7349 [networks][hotfix] Fix map size when HTTP monitoring is disabled
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7198 Add support for UDP on IPv6 "unconnected" sends.
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/c/bpf_helpers.h
  pkg/network/config/config_linux.go
  pkg/network/config/tracer_config.go
  pkg/network/ebpf/c/prebuilt/offset-guess.c
  pkg/network/ebpf/c/prebuilt/offset-guess.h
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/manager.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
  pkg/util/kernel/ip.go
  pkg/util/kernel/ip_unsupported.go
Labels: changelog/no-changelog, team/networks

#6669 Run clang-format and clang-tidy on eBPF code
  .clang-format
  .clang-tidy
  pkg/network/ebpf/c/.clang-format
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7526 Forwarder use agent name in folder
  pkg/config/config_template.yaml
  pkg/forwarder/failed_transaction_removal_policy.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_max_storage.go
  pkg/forwarder/forwarder_max_storage_test.go
  pkg/forwarder/transaction_container.go
  pkg/forwarder/transaction_container_test.go
  pkg/forwarder/transactions_file_storage.go
  pkg/forwarder/transactions_file_storage_test.go
  pkg/util/filesystem/permission_nowindows.go
  pkg/util/filesystem/permission_windows.go
Labels: changelog/no-changelog, team/agent-core

#7575 rename feature flag to NPM
  omnibus/resources/agent/msi/source.wxs.erb
  release.json
  tools/windows/install-help/cal/customactiondata.cpp
Labels: changelog/no-changelog, team/agent-platform

#7579 Do not make the liveness probe fail in case of network issue
  pkg/autodiscovery/config_poller.go
  pkg/autodiscovery/listeners/docker.go
  pkg/autodiscovery/listeners/ecs.go
  pkg/autodiscovery/listeners/kubelet.go
  releasenotes/notes/fix_liveness_when_network_issue-98591d54e7163395.yaml
Labels: team/containers

#7413 [runtime-security] replace overlay_numlower by an in_upper_layer boolean
  .gitlab/functional_test/security_agent.yml
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mnt.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/overlayfs.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/procfs.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/setattr.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/open.go
  pkg/security/model/accessors.go
  pkg/security/model/consts.go
  pkg/security/model/model.go
  pkg/security/model/unmarshallers.go
  pkg/security/probe/accessors.go
  pkg/security/probe/model.go
  pkg/security/probe/mount.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/unlink_test.go
  releasenotes/notes/runtime-security-upper-layer-3c1e0859458ec8ad.yaml
Labels: team/agent-security

#7071 Support DNS reverse lookups in windows
  pkg/network/dns_parser.go
  pkg/network/dns_snooper.go
  pkg/network/driver_interface.go
  pkg/network/filter/packet_source_linux.go
  pkg/network/packet_source_windows.go
  pkg/network/tracer/tracer_windows.go
  releasenotes/notes/windows-npm-dns-69b2d1cdba079c9c.yaml
Labels: major_change, team/networks

#6977 Optimize payload builder using a shared compressor buffer
  pkg/config/config.go
  pkg/metrics/event_test.go
  pkg/metrics/series_test.go
  pkg/metrics/service_check_test.go
  pkg/serializer/jsonstream/compressor_test.go
  pkg/serializer/jsonstream/payload_builder.go
  pkg/serializer/jsonstream/payload_builder_nozlib.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_benchmark_test.go
  releasenotes/notes/improve-jsonstream-compression-9c950c00676a67fc.yaml
Labels: team/agent-core

#7572 [networks] Add copyright headers
  pkg/network/netlink/align.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/message.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7590 [omnibus] Relax pyjwt dependency
  omnibus/config/patches/snowflake-connector-python-py2/cryptography-dependency.patch
  omnibus/config/patches/snowflake-connector-python-py3/cryptography-dependency.patch
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7592 [dca] fix release date
  CHANGELOG-DCA.rst
Labels: changelog/no-changelog, qa/skip-qa, team/container-app, team/containers

#7578 [DCA] changelog release dca-1.11.0 (#7543)
  CHANGELOG-DCA.rst
  releasenotes-dca/notes/prelude-release-1.11.0-07dbb2dd2b6000bd.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/container-app, team/containers

#7591 releasenotes: clarify release note about AIX processor type requirement.
  releasenotes/notes/add-aix-support-0170d23332663a08.yaml
Labels: changelog/no-changelog, team/agent-apm

#7576 fix orchestrator config loading
  cmd/agent/app/run.go
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/orchestrator/status.go
  pkg/orchestrator/config/config.go
  pkg/orchestrator/config/config_test.go
  pkg/process/config/config.go
Labels: changelog/no-changelog, team/container-app

#7408 pkg/trace: Update stats payload format
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/processed_trace.go
  pkg/trace/info/writer.go
  pkg/trace/pb/stats.pb.go
  pkg/trace/pb/stats.proto
  pkg/trace/pb/stats_gen.go
  pkg/trace/pb/stats_gen_test.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/quantile/README.md
  pkg/trace/stats/quantile/converter.go
  pkg/trace/stats/quantile/converter_test.go
  pkg/trace/stats/quantile/summary.go
  pkg/trace/stats/quantile/summary_bench_test.go
  pkg/trace/stats/quantile/summary_test.go
  pkg/trace/stats/quantile/weighted.go
  pkg/trace/stats/quantile/weighted_test.go
  pkg/trace/stats/stats.go
  pkg/trace/stats/stats_payload.go
  pkg/trace/stats/stats_test.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/stats/subtrace.go
  pkg/trace/stats/subtrace_test.go
  pkg/trace/stats/tags.go
  pkg/trace/stats/tags_test.go
  pkg/trace/stats/weight.go
  pkg/trace/stats/weight_test.go
  pkg/trace/test/backend.go
  pkg/trace/test/example_test.go
  pkg/trace/test/testsuite/stats_test.go
  pkg/trace/test/testsuite/testdata/clientstats.go
  pkg/trace/test/testutil/stats.go
  pkg/trace/test/testutil/stats_test.go
  pkg/trace/traceutil/span.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/stats_test.go
  releasenotes/notes/apm-new-stats-payload-e718e56797cd408f.yaml
Labels: team/agent-apm

#7586 Adding expvar metrics to capture the current number of context in the aggregator
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/time_sampler.go
Labels: changelog/no-changelog, team/agent-core

#7530 [NET-999][system-probe] Add runtime compilation telemetry
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/runtime_asset.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/encoding/protobuf.go
  pkg/network/event_common.go
  pkg/network/tracer/compile.go
  pkg/network/tracer/tracer.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#7585 Added custom PCF tags on containers
  cmd/cluster-agent-cloudfoundry/app/app.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/cloudfoundry/bbscache.go
  pkg/util/cloudfoundry/main_test.go
  pkg/util/cloudfoundry/types.go
  pkg/util/cloudfoundry/types_test.go
  releasenotes/notes/pcf-containers-tag-cfbc2f0441f3b5ef.yaml
Labels: team/intg-tools-libs

#7597 [system-probe] Fix ebpf tests
  pkg/network/tracer/compile_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/networks

#7588 Add a release note for `forwarder_storage_max_size_in_bytes`
  releasenotes/notes/forwarder_storage_max_size_in_bytes-e5ae09e82c590f1a.yaml
Labels: qa/skip-qa, team/agent-core

#7594 Adding 'dogstatsd_context_expiry_seconds' to configure when we expire dogstatsd contexts in the aggregator
  pkg/aggregator/check_sampler.go
  pkg/aggregator/time_sampler.go
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-core

#6990 [runtime-security] Test the recycled inode
  pkg/security/tests/rename_test.go
Labels: changelog/no-changelog, team/agent-security

#7595 [runtime-security] do not try to resolve inode for forks
  pkg/security/metrics/metrics.go
  pkg/security/model/legacy_secl.go
  pkg/security/module/module.go
  pkg/security/module/rate_limiter.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security

#7599 pkg/trace/writer: Fix flaky test
  pkg/trace/writer/stats_test.go
Labels: changelog/no-changelog, team/agent-apm

#7565 Keep track of # of multiline regex matches in the line handler + refactor how logs agent info is surfaced to the status page
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/config/info.go
  pkg/logs/config/source.go
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/input/docker/launcher.go
  pkg/logs/input/docker/launcher_test.go
  pkg/logs/input/docker/launcher_test_windows.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/status/templates/logsagent.tmpl
  releasenotes/notes/add-mutltiline-match-to-status-ac2177fecc15f24e.yaml
Labels: team/agent-core

#7312 Optimize sketch serialization and compression
  pkg/aggregator/check_sampler.go
  pkg/collector/metadata/agentchecks/payload.go
  pkg/config/config.go
  pkg/metadata/inventories/payload.go
  pkg/metadata/v5/payload.go
  pkg/metadata/v5/payload_no_gohai.go
  pkg/metrics/event.go
  pkg/metrics/event_test.go
  pkg/metrics/series.go
  pkg/metrics/series_test.go
  pkg/metrics/service_check.go
  pkg/metrics/service_check_test.go
  pkg/metrics/sketch_benchmark_test.go
  pkg/metrics/sketch_series.go
  pkg/metrics/sketch_series_test.go
  pkg/metrics/test_helper.go
  pkg/serializer/jsonstream/compressor_nozlib.go
  pkg/serializer/marshaler/marshaler.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_benchmark_test.go
  pkg/serializer/serializer_test.go
  pkg/serializer/split/split_test.go
  pkg/serializer/stream/compressor.go
  pkg/serializer/stream/compressor_nozlib.go
  pkg/serializer/stream/compressor_test.go
  pkg/serializer/stream/json_payload_builder.go
  pkg/serializer/stream/json_payload_builder_nozlib.go
  releasenotes/notes/sketch-series-optimization-f08a7b92139ebd0e.yaml
Labels: team/agent-core

#7253 [process-agent] Get hostname from main agent via grpc
  cmd/agent/api/pb/mocks/mockgen_api.pb.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/util/grpc/agent_client.go
  pkg/util/grpc/agent_client_test.go
Labels: changelog/no-changelog, team/processes

#7444 Add retry_file_dump
  .github/CODEOWNERS
  tools/retry_file_dump/README.md
  tools/retry_file_dump/go.mod
  tools/retry_file_dump/go.sum
  tools/retry_file_dump/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7587 Remove unneeded line.
  pkg/forwarder/transaction_container.go
Labels: changelog/no-changelog, team/agent-core

#7604 Adding 7.27.0-rc.1 and 6.27.0-rc.1 to release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#7609 make windows npm tests mandatory
  .gitlab/kitchen_testing/windows.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7606 Avoid check errors in malloc
  pkg/network/dns_snooper_test.go
  pkg/network/driver_interface.go
Labels: changelog/no-changelog, team/networks

#7615 Do not make the liveness probe fail in case of network issue
  pkg/metadata/scheduler.go
Labels: changelog/no-changelog, team/containers

#7618 [process-agent][system-probe][PROC-815] Missed constant replacement for TCPQueueLength
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/processes

#7612 fix copy-paste error in system probe invoke task
  tasks/system_probe.py
Labels: changelog/no-changelog, team/agent-platform, team/networks

#7620 Initialize memory to zero; fixes intermittent probe startup failure
  pkg/network/driver_interface.go
Labels: changelog/no-changelog, team/networks

#7621 Update build-dev-image command
  tasks/process_agent.py
  tools/ebpf/Dockerfiles/Dockerfile-process-agent-dev
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7614 Fix ksm_core *.count from _labels metrics
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
Labels: changelog/no-changelog, kind/bug, team/containers

#7619 [process-agent] Increase grpc global timeout to 60 seconds to the main agent and adjust backoff configs.
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly.yaml
  pkg/process/config/yaml_config.go
  pkg/util/grpc/agent_client.go
Labels: changelog/no-changelog, team/processes

#7629 Upstart: change respawn limit to 4 times in 25 seconds
  omnibus/config/templates/datadog-agent/upstart_debian.conf.erb
  omnibus/config/templates/datadog-agent/upstart_debian.process.conf.erb
  omnibus/config/templates/datadog-agent/upstart_debian.security.conf.erb
  omnibus/config/templates/datadog-agent/upstart_debian.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_debian.trace.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.process.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.security.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.sysprobe.conf.erb
  omnibus/config/templates/datadog-agent/upstart_redhat.trace.conf.erb
  omnibus/config/templates/datadog-dogstatsd/upstart_debian.conf.erb
  omnibus/config/templates/datadog-dogstatsd/upstart_redhat.conf.erb
  omnibus/config/templates/datadog-iot-agent/upstart_debian.conf.erb
  omnibus/config/templates/datadog-iot-agent/upstart_redhat.conf.erb
Labels: changelog/no-changelog, team/agent-platform

#7631 Adding 7.27.0-rc.2 and 6.27.0-rc.2 to release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#7623 [runtime-security] Fix fstype for mount events
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/mount.h
  pkg/security/model/model.go
  pkg/security/probe/model.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/serializers.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/setup_test.go
  pkg/security/tests/testdrive.go
Labels: changelog/no-changelog, team/agent-security

#7627 Ensure system-probe other features are usable when the network tracer can’t start
  cmd/system-probe/modules/network_tracer.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_windows.go
Labels: changelog/no-changelog, component/system-probe, team/containers

#7628 [runtime-security] fix tty parsing
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/process.h
  pkg/security/model/strings.go
  pkg/security/model/strings_test.go
  pkg/security/model/unmarshallers.go
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/probe/compile_test.go
  pkg/security/probe/kernel.go
  pkg/security/probe/model.go
  pkg/security/probe/mount.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#7632 corechecks/snmp: Fix raise warning instead of error during profile loading
  pkg/collector/corechecks/snmp/config_test.go
  pkg/collector/corechecks/snmp/profile.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/collector/corechecks/snmp/test/valid_invalid_conf.d/snmp.d/profiles/_abstract-profile.yaml
  pkg/collector/corechecks/snmp/test/valid_invalid_conf.d/snmp.d/profiles/_base.yaml
  pkg/collector/corechecks/snmp/test/valid_invalid_conf.d/snmp.d/profiles/_generic-if.yaml
  pkg/collector/corechecks/snmp/test/valid_invalid_conf.d/snmp.d/profiles/f5-big-ip-invalid.yaml
  pkg/collector/corechecks/snmp/test/valid_invalid_conf.d/snmp.d/profiles/f5-big-ip.yaml
Labels: changelog/no-changelog, team/infra-integrations

#7633 [networks] Fix eBPF invalid memory read
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/http.h
  pkg/network/ebpf/c/runtime/conntrack.c
  pkg/network/ebpf/c/tracer-telemetry.h
  pkg/network/ebpf/c/tracer.h
  tasks/system_probe.py
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/networks

#7639 Revert "trace/agent: missing API key is now logged with the logger and not just stdout (#7570)"
  pkg/trace/agent/run.go
  releasenotes/notes/apm-start-up-error-logging-3e927cdbb059db57.yaml
Labels: changelog/no-changelog, team/agent-apm

#7638 [runtime-security] make policy and rule version part of events
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/module/module.go
  pkg/security/module/server.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/custom_events_easyjson.go
  pkg/security/rules/ruleset.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#7613 Fix DSD EnrichTags when using Orchestrator cardinality
  go.sum
  pkg/metrics/metric_sample.go
  pkg/metrics/metric_sample_test.go
  pkg/tagger/interface.go
  pkg/tagger/local/fake_tagger.go
  releasenotes/notes/fix-dsd-orchestrator-dded107b26305032.yaml
Labels: component/dogstatsd, team/containers

#7630 Empty output from /proc/net/if_inet6 should be treated as IPv6 disabled
  pkg/util/kernel/ip.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#7651 [runtime-security] send either runtime or fim metrics but not both
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#7653 [Fix][KSMcore] Add container resource req/lim metrics
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
Labels: changelog/no-changelog, team/containers

#7650 [runtime-security] convert args from array to string
  pkg/security/model/accessors.go
  pkg/security/model/model.go
  pkg/security/model/process_cache_entry.go
  pkg/security/probe/accessors.go
  pkg/security/probe/model.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#7654 Add changes for unit tests reporting on top of existing branch
  .gitlab/source_test/linux.yml
  .gitlab/source_test/windows.yml
  tasks/libs/common/gitlab.py
  tasks/libs/pipeline_notifications.py
  tasks/pipeline.py
  tasks/test.py
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7658 Add 7.27.0-rc3 and 6.27.0-rc3 to release.json
  release.json
Labels: changelog/no-changelog, team/agent-core

#7648 [runtime-security] call cancel function on module close
  pkg/security/model/process_cache_entry.go
  pkg/security/module/module.go
  pkg/security/probe/process_resolver.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#7662 go.mod: bump datadog-go to v4.5.0
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-apm

#7664 Fix log file source not added to main source list
  pkg/logs/input/docker/launcher.go
Labels: changelog/no-changelog, team/agent-core

#7660 [runtime-security] fix "not" lookup in ancestors
  pkg/security/model/accessors.go
  pkg/security/probe/accessors.go
  pkg/security/probe/serializers.go
  pkg/security/rules/ruleset.go
  pkg/security/rules/ruleset_test.go
  pkg/security/rules/truth_table.go
  pkg/security/secl/eval/context.go
  pkg/security/secl/eval/errors.go
  pkg/security/secl/eval/eval.go
  pkg/security/secl/eval/eval_operators.go
  pkg/security/secl/eval/eval_test.go
  pkg/security/secl/eval/macro.go
  pkg/security/secl/eval/model_test.go
  pkg/security/secl/eval/operators.go
  pkg/security/secl/eval/rule.go
  pkg/security/secl/generators/accessors/accessors.go
  pkg/security/secl/generators/operators/operators.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#7611 fix bug in vCPU count when more than one phys CPU
  pkg/process/checks/system_info_windows.go
  releasenotes/notes/fixprocesscpucount-77b101f29280c4ac.yaml
Labels: team/agent-platform, team/processes

#7672 Allow the iot agent to report as the regular agent when iot_host is false
  pkg/aggregator/aggregator.go
Labels: changelog/no-changelog, team/agent-platform

#7668 [process-agent] Fix exit parameters for process tasks
  tasks/process_agent.py
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7661 Update GCP Marketplace to Operator 0.5.0
  google-marketplace/chart/datadog-mp/charts/datadog-operator-0.2.1.tgz
  google-marketplace/chart/datadog-mp/charts/datadog-operator-0.5.4.tgz
  google-marketplace/chart/datadog-mp/requirements.lock
  google-marketplace/chart/datadog-mp/requirements.yaml
  google-marketplace/chart/datadog-mp/templates/application.yaml
  google-marketplace/publish-marketplace.sh
  google-marketplace/test-marketplace.sh
Labels: changelog/no-changelog, qa/skip-qa, team/containers

#7667 [integrations] Pin setuptools-scm to 5.0.2
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, team/agent-platform, team/integrations

#7679 Modify install execute sequence
  omnibus/resources/agent/msi/source.wxs.erb
Labels: changelog/no-changelog, team/agent-platform

#7673 [networks] Remove reliance on external IPs during offset guessing
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks

#7687 Adding 7.27.0-rc.4 and 6.27.0-rc.4 to release.json
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7680 snmp_listener: add missing tags config to snmp listener
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/collector/corechecks/snmp/config.go
  pkg/collector/corechecks/snmp/config_test.go
  pkg/snmp/snmp.go
  releasenotes/notes/add_tags_to_snmp_listener-61648c54e1916c21.yaml
Labels: team/infra-integrations

#7665 [system-probe][NET-1157] Add limit to the number of DNS stats objects created by DNSStatkeeper
  pkg/config/config.go
  pkg/network/config/config.go
  pkg/network/config/tracer_config.go
  pkg/network/dns_snooper.go
  pkg/network/dns_snooper_test.go
  pkg/network/dns_stats.go
  pkg/network/dns_stats_test.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/add-limit-for-dns-stats-be2110d5d18ad671.yaml
Labels: team/networks

#7695 [runtime-security] use description as title in event
  pkg/security/module/event.go
  pkg/security/module/event_easyjson.go
  pkg/security/module/server.go
Labels: changelog/no-changelog, team/agent-security

#7693 Update some Go dependecies
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/flare/archive.go
  pkg/flare/archive_dca.go
  pkg/flare/archive_security.go
Labels: changelog/no-changelog, team/containers

#7696 Adding 7.27.0-rc.5 and 6.27.0-rc.5 to release.json
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7698 Fix metric tags for sys obj detected profiles
  pkg/collector/corechecks/snmp/config.go
  pkg/collector/corechecks/snmp/config_test.go
  pkg/collector/corechecks/snmp/profile.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/collector/corechecks/snmp/test/conf.d/snmp.d/profiles/f5-big-ip.yaml
  pkg/collector/corechecks/snmp/test/test_profiles/validation_error.yaml
  pkg/collector/corechecks/snmp/test/valid_invalid_conf.d/snmp.d/profiles/f5-big-ip.yaml
Labels: changelog/no-changelog, team/infra-integrations

#7686 Update doc with current status
  docs/dev/caveats.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7701 Allow to have containerd without cri check if not K8S
  pkg/config/environment_detection.go
  releasenotes/notes/fix-containerd-cri-ab31a6f133934082.yaml
Labels: changelog/no-changelog, kind/bug, team/containers

#7704 [runtime-security] enable FIM even if system_probe_config.enabled is set to false
  pkg/process/config/yaml_config.go
  pkg/security/config/config.go
Labels: changelog/no-changelog, kind/bug, team/agent-security

#7709 Adding 7.27.0-rc.6 and 6.27.0-rc.6 to release.json
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#7682 [DCA][DDM] Support tags templating in DDM queries
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller_test.go
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/clusteragent/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal_test.go
  pkg/clusteragent/externalmetrics/model/utils.go
  pkg/clusteragent/externalmetrics/model/utils_test.go
  pkg/clusteragent/externalmetrics/provider_test.go
  releasenotes-dca/notes/ddm-tags-templating-3d9d3dc214f04a28.yaml
Labels: team/containers

#7640 [system-probe] Fix `system-probe.kitchen-test` task
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks

#7677 [system-probe] Track and remove "orphan" conntrack entries
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/networks

#7691 make kube_replica_set tag low cardinality
  pkg/tagger/collectors/kubelet_extract.go
  pkg/tagger/collectors/kubelet_extract_test.go
  releasenotes/notes/lower-kube_replica_set-tag-cardinality-b73ce59a3bfbbb55.yaml
Labels: component/tagger, kind/enhancement, team/container-app

#7706 Refactor/clean up system-probe invoke tasks
  .clang-format
  .gitlab-ci.yml
  .gitlab/binary_build/system_probe.yml
  .pre-commit-config.yaml
  cmd/system-probe/main.go
  tasks/git-hooks/clang-format.py
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/networks

#7710 [kitchen] Clean up NPM driver kitchen tests definition
  .gitlab/kitchen_testing/windows.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7689 [windows] Fix libyajl gem install failure
  tasks/winbuildscripts/libyajl2_install.ps1
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7647 [doc] Fix documentation of `logs_config.expected_tags_duration`
  pkg/config/config.go
Labels: changelog/no-changelog, component/config, qa/skip-qa, team/agent-core

#7681 [omnibus/python3] Do not install default pip with Python 3
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
  releasenotes/notes/pip3-version-pin-5a5fb91e25c29c7e.yaml
Labels: team/agent-core

#7634 switch zstd path to github.com/DataDog/zstd_0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/util/compression/zstd.go
Labels: changelog/no-changelog, team/container-app

#7663 [container utils] Log a warning when an unknown filter is configured
  pkg/util/containers/filter.go
Labels: changelog/no-changelog, team/containers

#7715 [runtime-security] fix array approvers
  cmd/security-agent/app/runtime.go
  pkg/security/model/accessors.go
  pkg/security/module/module.go
  pkg/security/probe/accessors.go
  pkg/security/probe/applier.go
  pkg/security/probe/capabilities.go
  pkg/security/probe/kfilters_test.go
  pkg/security/rules/ruleset.go
  pkg/security/rules/ruleset_test.go
  pkg/security/secl/generators/accessors/accessors.go
Labels: changelog/no-changelog, team/agent-security

#7610 Fix windows logs bytecount on the status page
  pkg/logs/input/file/tailer_windows.go
  releasenotes/notes/fix-windows-byte-count-5c62ed2b1d4464ad.yaml
Labels: team/agent-core

#7718 [networks] Fix HTTP test setup
  pkg/network/http/monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/networks

#7722 [runtime-security] fix array approvers
  cmd/security-agent/app/runtime.go
  pkg/security/model/accessors.go
  pkg/security/module/module.go
  pkg/security/probe/accessors.go
  pkg/security/probe/applier.go
  pkg/security/probe/capabilities.go
  pkg/security/probe/kfilters_test.go
  pkg/security/rules/ruleset.go
  pkg/security/rules/ruleset_test.go
  pkg/security/secl/generators/accessors/accessors.go
Labels: changelog/no-changelog, team/agent-security

#7719 [docs] Improve `pre-commit` docs
  docs/dev/agent_dev_env.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-platform

#7699 Bump libbcc version
  .gitlab-ci.yml
  go.mod
  go.sum
  omnibus/config/software/libbcc_compat.patch
  pkg/collector/corechecks/ebpf/c/bcc/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/c/bcc/tcp-queue-length-kern.c
  releasenotes/notes/update_libbcc-2b1ed17291edc396.yaml
Labels: component/system-probe, team/containers

#7726 Fix `tests_ebpf` GitLab job on `7.27.x` branch
  .gitlab/source_test/ebpf.yml
Labels: changelog/no-changelog, team/containers
