Repository DataDog/datadog-agent, pull requests merged in 2022-06, with the labels that each got.

#12222 [7.37][Backport] Do not fail if we cannot chown auth_token
  pkg/api/security/security.go
  pkg/util/filesystem/permission_nowindows.go
  releasenotes/notes/fix-startup-restricted-user-dc3f6af4cb7a9e0e.yaml
Labels: team/containers, category/bugfix, bugfix/regression

#11980 [network-agent] http: increase HTTP_BUFFER_SIZE to 160 bytes
  pkg/network/ebpf/c/http-buffer.h
  pkg/network/ebpf/c/http-types.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/model_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12231 Kacpe murzyn/7.36.1 changelog backport
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#12237 Correctly unschedule all sources for a multi-source config (7.37)
  pkg/logs/schedulers/ad/scheduler.go
  pkg/logs/schedulers/ad/scheduler_test.go
  pkg/logs/schedulers/source_manager.go
  pkg/logs/schedulers/types.go
Labels: changelog/no-changelog, bugfix/regression, team/agent-metrics-logs

#12181 Add public ip of azure instance to metadata
  pkg/metadata/host/host.go
  pkg/util/cloudproviders/azure/azure.go
  pkg/util/cloudproviders/azure/azure_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12073 [CWS] Look for /usr/lib/os-release before /etc/os-release
  pkg/security/ebpf/kernel/kernel.go
Labels: changelog/no-changelog, team/agent-security

#12235 7.36.1 changelog (#12207)
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#12230 [install_script] Pin Debian 7 installation to 6.35/7.35 on Debian 7
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/debian-7-install-7-35-e4f92a56d026abd5.yaml
Labels: team/agent-platform

#12232 [network-agent] reduce size of struct http_transaction_t
  pkg/network/ebpf/c/http-types.h
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12122 [CWS] use standard rate limiter instead of our own
  pkg/security/probe/probe.go
  pkg/security/utils/rate.go
  pkg/security/utils/rate_test.go
Labels: changelog/no-changelog, team/agent-security

#12182 [CWS] do not keep ref to perf raw samples
  pkg/security/ebpf/c/exec.h
  pkg/security/probe/process_resolver.go
  pkg/security/probe/reorderer.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security, bugfix/regression

#12072 [CSPM] remove more `context.TODO()` without deadline calls
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/rego_check.go
Labels: changelog/no-changelog, team/agent-security

#12210 [CWS] Generate constants documentation
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/scripts/secl-doc-gen.py
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
  docs/cloud-workload-security/secl.json
  pkg/security/probe/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/compiler/generators/accessors/doc/doc.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/consts_linux.go
  pkg/security/secl/model/consts_linux_amd64.go
  pkg/security/secl/model/consts_linux_arm.go
  pkg/security/secl/model/consts_linux_arm64.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, team/agent-security

#12249 [CWS] improvements to `NewKernelVersion`
  pkg/security/ebpf/kernel/kernel.go
Labels: changelog/no-changelog, team/agent-security

#12223 [CWS] Enable DNS detections by default
  pkg/config/config.go
  release.json
Labels: changelog/no-changelog, team/agent-security

#12109 [CWS] introduce policies provider
  cmd/security-agent/app/runtime.go
  go.mod
  go.sum
  pkg/security/config/config.go
  pkg/security/log/logger.go
  pkg/security/module/module.go
  pkg/security/module/server.go
  pkg/security/probe/self_tester.go
  pkg/security/probe/selftests/chmod.go
  pkg/security/probe/selftests/chown.go
  pkg/security/probe/selftests/open.go
  pkg/security/probe/selftests/tester.go
  pkg/security/rconfig/rconfig.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_dir.go
  pkg/security/secl/rules/policy_loader.go
  pkg/security/secl/rules/policy_provider.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#12242 Fix generated path stripping on Windows
  pkg/network/driver/types_windows.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#12241 [invoke] Fix go generate for trace-agent version (#12238)
  releasenotes/notes/traceAgentMissingVersion-dc1fb2696d1ef9c8.yaml
  tasks/trace_agent.py
Labels: team/agent-apm

#12164 [kitchen] Add Ubuntu x64 22.04 tests
  .gitlab/functional_test/security_agent.yml
  .gitlab/kitchen_testing/ubuntu.yml
  test/kitchen/drivers/azure-driver.yml
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/platforms.json
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/uservars-example.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12259 [CWS] sanitize SECL yaml versions
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
Labels: changelog/no-changelog, team/agent-security

#12253 [install_script] Release version 1.9.0
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12264 CWS: fix `nil pointer dereference` when remote config is not available
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#12234 Avoid dead-lock in `util/sliding_window`
  pkg/collector/worker/utilization_tracker.go
  pkg/util/sliding_window.go
  pkg/util/sliding_window_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#12266 [install_script] Update CHANGELOG-INSTALLSCRIPT for 1.9.0
  CHANGELOG-INSTALLSCRIPT.rst
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12267 [backport] CSPM: reduce amount of logs, when the error was generated by a user (#12209)
  pkg/compliance/checks/check.go
  pkg/compliance/checks/rego_check.go
  pkg/compliance/checks/rego_check_test.go
  pkg/compliance/report.go
Labels: changelog/no-changelog, team/agent-security

#12265 CWS: sync btfhub archive constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Labels: changelog/no-changelog, team/agent-security

#12254 SNMP Traps: Remove experimental notice in datadog.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#12239 [Database Monitoring] Pass new dbm sql obfuscator config options
  pkg/collector/python/datadog_agent.go
  pkg/obfuscate/obfuscate.go
  rtloader/test/datadog_agent/datadog_agent.go
Labels: changelog/no-changelog, team/database-monitoring

#12099 [process-agent] Add Event Listener
  cmd/process-agent/app/event_listener_linux.go
  cmd/process-agent/app/events.go
  pkg/process/events/listener.go
  pkg/process/events/listener_fallback.go
  pkg/process/events/listener_linux.go
  pkg/process/events/listener_linux_test.go
  pkg/process/events/model/model_common.go
  pkg/process/events/model/model_sysprobe.go
  pkg/process/events/model/serialization_test.go
Labels: changelog/no-changelog, team/processes

#12277 [Backport][7.37.x] Backport 12239
  pkg/collector/python/datadog_agent.go
  pkg/obfuscate/obfuscate.go
  rtloader/test/datadog_agent/datadog_agent.go
Labels: changelog/no-changelog, team/database-monitoring

#12120 pkg/trace: use go.uber.com/atomic
  docs/dev/atomics.md
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_oom_test.go
  pkg/trace/api/api_test.go
  pkg/trace/api/listener.go
  pkg/trace/api/responses.go
  pkg/trace/api/telemetry_test.go
  pkg/trace/atomic/float.go
  pkg/trace/atomic/float_test.go
  pkg/trace/go.mod
  pkg/trace/info/info.go
  pkg/trace/info/info_test.go
  pkg/trace/info/stats.go
  pkg/trace/info/stats_test.go
  pkg/trace/info/writer.go
  pkg/trace/log/throttled.go
  pkg/trace/metrics/client_test.go
  pkg/trace/metrics/timing/timing.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/dynamic_config.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/rare_sampler.go
  pkg/trace/sampler/remote_rates.go
  pkg/trace/sampler/remote_rates_test.go
  pkg/trace/sampler/scoresampler_test.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/testserver.go
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/agent-apm

#12201 [7.37][Backport] Fix cri metrics on cri-o due to excluded containers
  pkg/collector/corechecks/containers/cri/check.go
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/generic/filters.go
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/process/util/containers.go
  pkg/util/kubernetes/const.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  releasenotes/notes/fix-cri-check-on-crio-11f0ca4adef730b4.yaml
Labels: team/containers, category/bugfix, bugfix/regression, bugfix/new_feature

#12282 [release] Update release.json and Go modules for 6/7.37.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10621 [install_mac_os] Enable systemwide LaunchDaemon installation of agent
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-platform

#12283 api: fix flaky TestOTLPReceiveResourceSpans/#07
  pkg/trace/api/otlp_test.go
Labels: changelog/no-changelog, team/agent-apm

#12262 [system-probe] Invalidate interface cache entry on netlink error
  pkg/network/route_cache.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#12252 invoke: Use relative imports instead of importing from tasks
  tasks/__init__.py
  tasks/customaction.py
  tasks/dogstatsd.py
  tasks/libs/github_actions_tools.py
  tasks/libs/pipeline_tools.py
  tasks/pipeline.py
  tasks/release.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11973 [test/e2e] Add retries when installing kubectl
  test/e2e/scripts/run-instance/10-setup-kind.sh
Labels: changelog/no-changelog, qa/skip-qa, 7.37.0-drop

#12216 Upgrade kube-state-metrics to 2.4.2
  LICENSE-3rdparty.csv
  cmd/cluster-agent/custommetrics/server.go
  go.mod
  go.sum
  internal/patch/logr/funcr/README.md
  internal/patch/logr/funcr/funcr.go
  internal/patch/logr/funcr/funcr_test.go
  internal/patch/logr/funcr/go.mod
  internal/patch/logr/funcr/go.sum
  internal/patch/logr/funcr/internal/logr/README.md
  internal/patch/logr/funcr/internal/logr/discard.go
  internal/patch/logr/funcr/internal/logr/discard_test.go
  internal/patch/logr/funcr/internal/logr/logr.go
  internal/patch/logr/funcr/internal/logr/logr_test.go
  internal/patch/logr/funcr/internal/wrapper/wrapper.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/fake/fake_image_service.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/fake/fake_runtime.go
  pkg/clusteragent/custommetrics/api/generated/openapi/zz_generated.openapi.go
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/provider_test.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller.go
  pkg/clusteragent/externalmetrics/datadogmetric_controller_test.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal_test.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/clusteragent/externalmetrics/provider_test.go
  pkg/clusteragent/externalmetrics/telemetry.go
  pkg/clusteragent/externalmetrics/utils.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/containers/cri/check_metrics_extension.go
  pkg/collector/corechecks/containers/cri/check_test.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/util/containers/cri/crimock/criutil.go
  pkg/util/containers/cri/util.go
  pkg/util/containers/v2/metrics/cri/collector.go
  pkg/util/containers/v2/metrics/cri/collector_test.go
Labels: team/containers, changelog/no-changelog

#12297 [CWS] dns and network detection memory impact
  pkg/config/config.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/manager.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/reorderer.go
  pkg/security/probe/reorderer_test.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/process_test.go
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/new_feature

#12299 [omnibus] Revert hatchling upgrade on Python 2
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, team/integrations, qa/skip-qa

#12300 [winbuildscripts] reno 3.5.0 depend on >=PyYAML-5.3.1
  tasks/winbuildscripts/sysprobe.ps1
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#12298 gofmt pre-commit-hook: update the file and simplify by default
  .pre-commit-config.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12285 Add comments about secrets to flare code
  pkg/flare/archive.go
Labels: changelog/no-changelog, qa/skip-qa

#12286 Updating Google Marketplace dependency for the Datadog Operator
  google-marketplace/chart/datadog-mp/charts/datadog-operator-0.7.4.tgz
  google-marketplace/chart/datadog-mp/charts/datadog-operator-0.8.1.tgz
  google-marketplace/chart/datadog-mp/requirements.lock
  google-marketplace/chart/datadog-mp/requirements.yaml
  google-marketplace/chart/datadog-mp/templates/application.yaml
Labels: changelog/no-changelog, qa/skip-qa

#12276 Journald tailer support for tailing modes
  pkg/logs/internal/launchers/journald/launcher.go
  pkg/logs/internal/tailers/journald/docker_test.go
  pkg/logs/internal/tailers/journald/tailer.go
  pkg/logs/internal/tailers/journald/tailer_test.go
  releasenotes/notes/journald-support-tailing-modes-da9e7d78026e14e4.yaml
Labels: team/agent-metrics-logs

#12315 Invalidate interface cache entry on netlink error (#12262)
  pkg/network/route_cache.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#12287 [Serverless] Always call TellDaemonRuntimeStarted before TellDaemonRuntimeDone
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
Labels: changelog/no-changelog, team/serverless

#12078 [network] fix openssl when no fd are used
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/https.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/encoding/http.go
  pkg/network/event_common.go
  pkg/network/http/dump.go
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_windows_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, category/bugfix

#12306 [slack-notifier] Truncate very long job names
  tasks/libs/pipeline_notifications.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12083 Support OTLP ExponentialHistogram
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/support-otlp-exponentialhistogram-edfc37d9a2eff854.yaml
  test/e2e/containers/otlp_sender/go.mod
  test/e2e/containers/otlp_sender/go.sum
Labels: team/agent-platform

#12296 [pkg/otlp] Remove usages of `config.Map.Set`
  pkg/otlp/config.go
  pkg/otlp/map_provider.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, component/otlp

#12324 [notifications] Separate infrastructure failures from regular job failures
  tasks/libs/common/gitlab.py
  tasks/libs/pipeline_notifications.py
  tasks/libs/types.py
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa

#12275 Fix `agent status` hang
  pkg/util/cloudproviders/kubernetes/kubernetes.go
  pkg/util/hostname.go
  pkg/util/kubernetes/clustername/clustername.go
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#12319 Use go.uber.org/atomic instead of sync/atomic in systray
  cmd/systray/doflare.go
Labels: changelog/no-changelog, team/agent-shared-components

#12273 Enable govet
  .golangci.yml
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/app/run.go
  cmd/py-launcher/py-launcher.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/serializer/serializer.go
  pkg/serverless/trace/inferredspan/inferred_span.go
  pkg/trace/api/info_test.go
  pkg/util/kubernetes/autoscalers/datadogclient.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#12332 Revert "Do not commit changes to runtime integrity hashes to repo (#12261)"
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/integrity.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/tracer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12334 Fix inventory warnings not being printed
  pkg/metadata/inventories/host_metadata.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#12336 [process-agent][event-listener] Fix unreachable code
  pkg/process/events/listener_linux.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#12279 Add more accurate UDP recv path in runtime tracer
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/ksyms.go
  pkg/network/ebpf/c/port.h
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/skb.h
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer-stats.h
  pkg/network/ebpf/c/tracer-telemetry.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/kprobe_types.go
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/port.go
  pkg/network/port_test.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/testdata/reuseport.py
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/utils_linux.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#12333 [CWS] fix mutable variable test
  pkg/security/secl/compiler/eval/errors.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#12098 Refactor gosnmplib module to pkg/snmp
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_scalar.go
  pkg/collector/corechecks/snmp/internal/gosnmplib/gosnmp_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/session/session.go
  pkg/collector/corechecks/snmp/internal/valuestore/gosnmp_value.go
  pkg/collector/corechecks/snmp/internal/valuestore/gosnmp_value_test.go
  pkg/collector/corechecks/snmp/internal/valuestore/value.go
  pkg/collector/corechecks/snmp/internal/valuestore/value_utils.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/snmp/gosnmplib/gosnmp_auth.go
  pkg/snmp/gosnmplib/gosnmp_auth_test.go
  pkg/snmp/gosnmplib/gosnmp_log.go
  pkg/snmp/gosnmplib/gosnmp_log_test.go
  pkg/snmp/gosnmplib/gosnmp_utils.go
  pkg/snmp/gosnmplib/gosnmp_utils_test.go
  pkg/snmp/gosnmplib/testing_utils.go
  pkg/snmp/traps/config.go
Labels: changelog/no-changelog, team/infra-integrations

#12310 [CWS] start and close policy providers
  pkg/security/module/module.go
  pkg/security/probe/selftests/tester.go
  pkg/security/rconfig/rconfig.go
  pkg/security/secl/rules/policy_dir.go
  pkg/security/secl/rules/policy_provider.go
Labels: changelog/no-changelog, team/agent-security

#12325 [CWS] fix CWS e2e test - add support for local arm64 runs
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/scripts/run-instance/.gitignore
  test/e2e/scripts/run-instance/10-setup-kind.sh
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/argo.amd64.sha512sum
  test/e2e/scripts/run-instance/argo.arm64.sha512sum
Labels: changelog/no-changelog, team/agent-security

#12327 Fix Windows container startup and `agent status` hang (#12275)
  pkg/util/cloudproviders/kubernetes/kubernetes.go
  pkg/util/hostname.go
  pkg/util/kubernetes/clustername/clustername.go
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#12320 cca_in_ad -> create cca templates and filter them
  pkg/autodiscovery/common/utils/container_collect_all.go
  pkg/autodiscovery/listeners/service.go
  pkg/autodiscovery/listeners/service_test.go
  pkg/autodiscovery/providers/container.go
  pkg/autodiscovery/providers/kubelet.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#12321 cca_in_ad -> do not send service configs
  pkg/autodiscovery/autoconfig.go
Labels: team/containers, changelog/no-changelog, team/agent-metrics-logs

#12349 [release] Update release.json and Go modules for 6/7.37.0-rc.6
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#12295 Re-enable SA2001 checks
  .golangci.yml
  pkg/logs/internal/processor/processor.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#12318 [prometheus] fix check metrics parsing
  pkg/autodiscovery/common/types/prometheus.go
  pkg/autodiscovery/common/utils/prometheus_apiserver_test.go
  pkg/autodiscovery/common/utils/prometheus_kubelet_test.go
  pkg/autodiscovery/providers/prometheus_common_test.go
  releasenotes/notes/fix-prometheus-checks-metrics-07509580eb216c76.yaml
Labels: team/containers

#12341 pkg/trace/sampler: Fixes Rare Sampler logic
  pkg/trace/sampler/rare_sampler.go
  pkg/trace/sampler/rare_sampler_test.go
  releasenotes/notes/fixes-rare-sampler-7f2167cb7e3337d0.yaml
Labels: team/agent-apm

#12111 Regenerate sample docker manifests
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/cluster-agent-rbac.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/cluster-agent-rbac.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/README.md
  Dockerfiles/manifests/cluster-agent-datadogmetrics/agent-services.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-rbac.yaml
  Dockerfiles/manifests/kubernetes_state_core/README.md
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/README.md
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-rbac.yaml
  Dockerfiles/manifests/security-agent/README.md
  Dockerfiles/manifests/security-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/security-agent/system-probe-configmap.yaml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#12159 [process-agent] Add the Event Store
  cmd/process-agent/app/events.go
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/events/listener_linux_test.go
  pkg/process/events/model/model_common.go
  pkg/process/events/model/model_sysprobe.go
  pkg/process/events/model/serialization_test.go
  pkg/process/events/store.go
  pkg/process/events/store_test.go
Labels: changelog/no-changelog, team/processes

#12348 [Serverless] fix bootstrap script name in integration tests
  test/integration/serverless/serverless.yml
Labels: changelog/no-changelog, team/serverless

#12316 fix tcp launcher/tailer deadlock on agent shutdown
  pkg/logs/internal/launchers/listener/tcp.go
  releasenotes/notes/fix-tcp-listener-deadlock-d441552a6e64263e.yaml
Labels: team/agent-metrics-logs

#12288 [networks] Use NAT information to generate `ByteKey`
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
  pkg/network/tracer/testutil/conntrack.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks

#12355 [workloadmeta] Return empty in `ListContainers` instead of err
  pkg/collector/corechecks/containers/containerd/check_test.go
  pkg/collector/corechecks/containers/cri/check_test.go
  pkg/collector/corechecks/containers/docker/check_test.go
  pkg/collector/corechecks/containers/generic/adapters.go
  pkg/collector/corechecks/containers/generic/mock.go
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/collector/corechecks/containers/generic/processor_test.go
  pkg/compliance/agent/telemetry.go
  pkg/compliance/agent/telemetry_test.go
  pkg/process/util/containers.go
  pkg/security/agent/telemetry.go
  pkg/security/common/telemetry.go
  pkg/util/containers/v2/metrics/docker/collector.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
  releasenotes/notes/workloadmeta-list-containers-empty-ae8b62e1061b27c6.yaml
Labels: team/containers, team/processes, team/agent-security

#12356 [CI] Fix `revive` linter agent-core errors
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/jmxfetch/jmxfetch.go
  pkg/serializer/internal/stream/compressor.go
  pkg/serializer/internal/stream/json_payload_builder.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12351 [CWS] fix cws e2e tests
  pkg/config/config.go
  pkg/security/module/module.go
  pkg/security/module/server.go
  pkg/security/secl/rules/policy_dir.go
  test/e2e/cws-tests/tests/lib/common/app.py
Labels: changelog/no-changelog, team/agent-security

#12344 [KSM Core] Add ingress metrics
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes-dca/notes/ksm-ingress-1c2d5abfbeca6c2f.yaml
  releasenotes/notes/ksm-ingress-1c2d5abfbeca6c2f.yaml
Labels: team/containers

#12357 [CI] Fix `revive` linter integrations-tools-and-libraries errors
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/util/cloudproviders/cloudfoundry/cccache.go
  pkg/util/cloudproviders/cloudfoundry/types.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12360 Regenerate sample docker manifests
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/agent-services.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-deployment.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-rbac.yaml
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/agent-services.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-deployment.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-rbac.yaml
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/README.md
  Dockerfiles/manifests/cluster-agent-datadogmetrics/agent-services.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/kubernetes_state_core/README.md
  Dockerfiles/manifests/kubernetes_state_core/agent-services.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-deployment.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-rbac.yaml
  Dockerfiles/manifests/kubernetes_state_core/daemonset.yaml
  Dockerfiles/manifests/kubernetes_state_core/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/README.md
  Dockerfiles/manifests/orchestrator-explorer/agent-services.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-deployment.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/daemonset.yaml
  Dockerfiles/manifests/security-agent/README.md
  Dockerfiles/manifests/security-agent/agent-services.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/security-agent/daemonset.yaml
  Dockerfiles/manifests/security-agent/system-probe-configmap.yaml
Labels: team/containers, changelog/no-changelog

#12342 [tasks] Remove the --redo flag of release.build-rc
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12358 Update to go1.17.11
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .github/workflows/codeql-analysis.yml
  .github/workflows/windows-unittests.yml
  .gitlab-ci.yml
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/go-1-17-11-e57ccc89890fe6f8.yaml
  tools/gdb/Dockerfile
Labels: team/agent-shared-components

#12350 Adding documentation about hostname detection
  pkg/util/hostname_detection.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#12354 [CI] Fix `revive` linter agent-security errors
  pkg/security/probe/selftests/tester.go
  pkg/security/rconfig/rconfig.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12352 [CI] Fix `revive` linter container-integrations errors
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/clusteragent/admission/controllers/secret/config.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/clusteragent/clusterchecks/handler_api.go
  pkg/clusteragent/custommetrics/store.go
  pkg/clusteragent/custommetrics/types.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher.go
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/clusteragent/externalmetrics/status.go
  pkg/clusteragent/externalmetrics/store.go
  pkg/clusteragent/externalmetrics/utils.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/collector/corechecks/containers/docker/config.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/fake/containerd_util.go
  pkg/util/containers/cri/crimock/criutil.go
  pkg/util/containers/cri/util.go
  pkg/util/docker/client_mock.go
  pkg/util/docker/containers.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/fake/system_api_client.go
  pkg/util/docker/network_test_linux.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/endpoints.go
  pkg/util/kubernetes/apiserver/hpa_controller.go
  pkg/util/kubernetes/apiserver/metadata_controller.go
  pkg/util/kubernetes/apiserver/services.go
  pkg/util/kubernetes/apiserver/status.go
  pkg/util/kubernetes/apiserver/util.go
  pkg/util/kubernetes/apiserver/warning_handler.go
  pkg/util/kubernetes/autoscalers/datadogclient.go
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/processor.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/mock/kubelet.go
  pkg/util/podman/container.go
  pkg/util/podman/db_client.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12353 [CI] Fix `revive` linter errors
  pkg/collector/corechecks/embed/apm.go
  pkg/collector/corechecks/embed/process_agent.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12221 Update CODEOWNERS
  .github/CODEOWNERS
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#12369 [Serverless] Prepare v23 - cherry-pick handleRuntimeDone panic
  pkg/serverless/serverless.go
  pkg/serverless/serverless_test.go
Labels: changelog/no-changelog, team/serverless

#12359 Trims leading/trailing whitespace from `auth_token` before using it
  pkg/api/security/security.go
Labels: team/agent-core, changelog/no-changelog

#12368 [CWS] fix revive missing comments
  pkg/security/probe/selftests/tester.go
  pkg/security/rconfig/rconfig.go
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_dir.go
  pkg/security/secl/rules/policy_loader.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/utils/json.go
Labels: changelog/no-changelog, team/agent-security

#12339 Allow subscribing to all LogSources
  pkg/logs/sources/sources.go
  pkg/logs/sources/sources_test.go
Labels: changelog/no-changelog, qa/skip-qa

#12377 Isolate network namespaced tests from each other
  pkg/network/http/monitor_test.go
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/port_test.go
  pkg/network/testdata/setup_netns.sh
  pkg/network/testdata/teardown_netns.sh
  pkg/network/testutil/cmd.go
  pkg/network/tracer/conntracker_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12338 Redact any Bearer tokens present in 'agent status' output
  cmd/agent/app/status.go
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
  releasenotes/notes/scrub-bearer-0260bf82cb144352.yaml
  test/kitchen/test/integration/common/rspec/spec_helper.rb
Labels: team/agent-core

#12155 [Serverless] SLS-2094: Get KMS/Secrets Managers values from the Extension
  cmd/serverless/api_key.go
  cmd/serverless/env.go
  cmd/serverless/env_test.go
  cmd/serverless/main.go
Labels: changelog/no-changelog, team/serverless

#12367 Upgrade to Go1.17.11 (backport to 7.37)
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .github/workflows/codeql-analysis.yml
  .github/workflows/windows-unittests.yml
  .gitlab-ci.yml
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/go-1-17-11-e57ccc89890fe6f8.yaml
  tools/gdb/Dockerfile
Labels: team/agent-shared-components

#12220 Add a self cgroup reader
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/self_reader.go
  pkg/util/cgroups/self_reader_test.go
  pkg/util/cgroups/testdata/self-reader/mounts
  pkg/util/cgroups/testdata/self-reader/self/cgroup
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#12305 [go deps] update package release as go.sum/sum.golang.org mismatch
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/bugfix

#12381 [release] Update release.json and Go modules for 6/7.37.0-rc.7
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#12373 Fix TLS Handshakes with leader forwarding, decrease loglevel to warning
  cmd/agent/api/server.go
  cmd/agent/internal/clcrunnerapi/clc_runner_server.go
  cmd/cluster-agent/api/server.go
  cmd/security-agent/api/server.go
  pkg/clusteragent/api/handler_telemetry.go
  pkg/clusteragent/api/leader_forwarder.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/log/log.go
Labels: kind/bug, team/containers, changelog/no-changelog, kind/performance, category/bugfix, bugfix/regression

#12378 [CWS] fix listeners race
  .gitlab/source_test/ebpf.yml
  pkg/security/secl/rules/ruleset.go
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#12370 [RCM] Add a method to pull only the TUF version state
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/util.go
  pkg/config/remote/uptane/client_state.go
Labels: changelog/no-changelog, team/remote-config

#12383 [7.37] Fix TLS Handshakes with leader forwarding, decrease loglevel to warning
  cmd/agent/api/server.go
  cmd/agent/internal/clcrunnerapi/clc_runner_server.go
  cmd/cluster-agent/api/server.go
  cmd/security-agent/api/server.go
  pkg/clusteragent/api/handler_telemetry.go
  pkg/clusteragent/api/leader_forwarder.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/log.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/log/log.go
Labels: kind/bug, team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#10976 [netflow] Add NDM NetFlow feature
  .github/CODEOWNERS
  LICENSE-3rdparty.csv
  cmd/agent/app/run.go
  go.mod
  go.sum
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/collector/check/stats.go
  pkg/config/config.go
  pkg/epforwarder/epforwarder.go
  pkg/netflow/common/constants.go
  pkg/netflow/common/flow.go
  pkg/netflow/common/flow_test.go
  pkg/netflow/common/flowtype.go
  pkg/netflow/common/flowtype_test.go
  pkg/netflow/common/utils.go
  pkg/netflow/common/utils_test.go
  pkg/netflow/config/config.go
  pkg/netflow/config/config_test.go
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/flowaggregator/buildpayload.go
  pkg/netflow/flowaggregator/buildpayload_test.go
  pkg/netflow/flowaggregator/flowaccumulator.go
  pkg/netflow/flowaggregator/flowaccumulator_test.go
  pkg/netflow/goflowlib/convert.go
  pkg/netflow/goflowlib/convert_test.go
  pkg/netflow/goflowlib/flowstate.go
  pkg/netflow/goflowlib/flowstate_test.go
  pkg/netflow/goflowlib/formatdriver.go
  pkg/netflow/goflowlib/logger.go
  pkg/netflow/listener.go
  pkg/netflow/payload/payload.go
  pkg/netflow/server.go
  pkg/netflow/server_test.go
  pkg/netflow/testing_test.go
  releasenotes/notes/add_netflow_feature-5918efd15c656ea1.yaml
Labels: major_change, team/infra-integrations

#12340 [Serverless] JSONify integration tests
  test/integration/serverless/parse-json.js
  test/integration/serverless/recorder-extension/main.go
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/error-python
  test/integration/serverless/snapshots/log-csharp
  test/integration/serverless/snapshots/log-go
  test/integration/serverless/snapshots/log-java
  test/integration/serverless/snapshots/log-node
  test/integration/serverless/snapshots/log-proxy
  test/integration/serverless/snapshots/log-python
  test/integration/serverless/snapshots/metric-csharp
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/metric-python
  test/integration/serverless/snapshots/timeout-csharp
  test/integration/serverless/snapshots/timeout-go
  test/integration/serverless/snapshots/timeout-java
  test/integration/serverless/snapshots/timeout-node
  test/integration/serverless/snapshots/timeout-proxy
  test/integration/serverless/snapshots/timeout-python
  test/integration/serverless/snapshots/trace-csharp
  test/integration/serverless/snapshots/trace-go
  test/integration/serverless/snapshots/trace-java
  test/integration/serverless/snapshots/trace-node
  test/integration/serverless/snapshots/trace-proxy
  test/integration/serverless/snapshots/trace-python
Labels: changelog/no-changelog, team/serverless

#12387 [CSPM] Downgrade rego to 0.37.2
  go.mod
  go.sum
  release.json
Labels: changelog/no-changelog, team/agent-security

#12388 [CWS] Downgrade opa to v0.37.2
  go.mod
  go.sum
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#12049 [netflow] Add NDM NetFlow static enrichments
  pkg/netflow/common/flow.go
  pkg/netflow/enrichment/direction.go
  pkg/netflow/enrichment/direction_test.go
  pkg/netflow/enrichment/ether_type.go
  pkg/netflow/enrichment/ether_type_test.go
  pkg/netflow/enrichment/ip_protocol.go
  pkg/netflow/enrichment/ip_protocol_test.go
  pkg/netflow/enrichment/mac.go
  pkg/netflow/enrichment/mac_test.go
  pkg/netflow/enrichment/mask.go
  pkg/netflow/enrichment/mask_test.go
  pkg/netflow/enrichment/tcp_flags.go
  pkg/netflow/enrichment/tcp_flags_test.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/flowaggregator/buildpayload.go
  pkg/netflow/flowaggregator/buildpayload_test.go
  pkg/netflow/flowaggregator/flowaccumulator.go
  pkg/netflow/flowaggregator/flowaccumulator_test.go
  pkg/netflow/goflowlib/convert.go
  pkg/netflow/payload/payload.go
  pkg/netflow/server_test.go
  releasenotes/notes/add_netflow_enrichment-1e7152c33d43507c.yaml
Labels: team/infra-integrations

#12380 [CWS] fix regexp parsing
  pkg/security/secl/compiler/ast/secl.go
  pkg/security/secl/compiler/ast/secl_test.go
  pkg/security/secl/compiler/eval/eval_test.go
Labels: changelog/no-changelog, team/agent-security

#12256 [CWS] respect `EnableNetwork` when configuring functional tests module
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#12330 [CSPM] improve rego done status reports
  pkg/compliance/checks/rego_check.go
Labels: changelog/no-changelog, team/agent-security

#12398 [CWS] only reset rename state if syscall is supported
  pkg/security/tests/rename_test.go
Labels: changelog/no-changelog, team/agent-security

#12396 [CWS] add structured field definition
  pkg/security/probe/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, team/agent-security

#12400 [release] Update release.json and Go modules for 6/7.37.0-rc.8
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#12397 Add telemetry about container event bundling
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_eventbundle.go
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/docker/eventbundle.go
  pkg/collector/corechecks/containers/docker/events.go
  pkg/collector/corechecks/containers/docker/events_test.go
Labels: team/containers, changelog/no-changelog

#12393 pkg/otlp: Add `instrumentation_scope_metadata_as_tags`
  pkg/config/config_template.yaml
  pkg/config/otlp.go
  pkg/otlp/config_test.go
  pkg/otlp/internal/serializerexporter/config.go
  pkg/otlp/internal/serializerexporter/exporter.go
  pkg/otlp/map_provider_test.go
  pkg/otlp/model/internal/instrumentationscope/metadata.go
  pkg/otlp/model/internal/instrumentationscope/metadata_test.go
  pkg/otlp/model/translator/config.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/testdata/metrics/allconfig.yaml
  releasenotes/notes/add-instrumentation_scope_metadata_as_tags-333fd918eba05bcd.yaml
Labels: team/agent-platform

#12379 Move file tailer's openFile to pkg/util/filesystem
  pkg/logs/internal/tailers/file/open_file_nix.go
  pkg/logs/internal/tailers/file/rotate_nix.go
  pkg/logs/internal/tailers/file/rotate_windows.go
  pkg/logs/internal/tailers/file/tailer_nix.go
  pkg/logs/internal/tailers/file/tailer_windows.go
  pkg/util/filesystem/open_nix.go
  pkg/util/filesystem/open_windows.go
Labels: changelog/no-changelog, qa/skip-qa

#12407 Bump `fake-datadog` dependencies
  test/e2e/containers/fake_datadog/app/requirements.txt
Labels: team/containers, changelog/no-changelog

#12255 Flush sketches
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/tagset_telem.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
  pkg/aggregator/time_sampler_worker.go
  pkg/metrics/iterable_metrics.go
  pkg/metrics/iterable_series.go
  pkg/metrics/iterable_series_test.go
  pkg/metrics/iterable_skeches.go
  pkg/metrics/sketch_series.go
  pkg/metrics/sketch_series_test.go
  pkg/metrics/test_helper.go
  pkg/metrics/test_helper_test.go
  pkg/otlp/internal/serializerexporter/consumer.go
  pkg/otlp/internal/serializerexporter/exporter_test.go
  pkg/serializer/internal/metrics/sketch_benchmark_test.go
  pkg/serializer/internal/metrics/sketch_series_list.go
  pkg/serializer/internal/metrics/sketch_series_test.go
  pkg/serializer/internal/metrics/test_helper.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/split/split_test.go
  pkg/serializer/test_common.go
  pkg/util/buffered_chan.go
  pkg/util/buffered_chan_test.go
Labels: team/agent-core, changelog/no-changelog, team/agent-platform

#12399 Only run resolver test that requires root if root
  pkg/process/net/resolver/resolver_linux_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12376 cca_in_ad -> disable CCA scheduler
  pkg/logs/logs.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#12375 cca_in_ad -> do not schedule logs services
  pkg/logs/schedulers/ad/scheduler.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#12114 system-probe: ensure integrity checks are in sync
  .gitlab/source_test/go_generate_check.yml
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tracer.go
Labels: changelog/no-changelog, team/networks, team/agent-security

#12413 [Serverless] filter out empty logs to prevent snapshot diff flakiness
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
  test/integration/serverless/snapshots/log-csharp
Labels: changelog/no-changelog, team/serverless

#12346 [pkg/otlp/model] Partial sync with Datadog exporter codebase
  pkg/otlp/model/attributes/azure/azure.go
  pkg/otlp/model/attributes/azure/azure_test.go
  pkg/otlp/model/attributes/ec2/ec2.go
  pkg/otlp/model/attributes/ec2/ec2_test.go
  pkg/otlp/model/attributes/gcp/gcp.go
  pkg/otlp/model/attributes/gcp/gcp_test.go
  pkg/otlp/model/attributes/hostname.go
  pkg/otlp/model/attributes/hostname_test.go
  pkg/otlp/model/translator/config.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/trace/api/otlp.go
  pkg/trace/config/config.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12389 [process-agent] Add the Cleanup method to the Check interface
  cmd/process-agent/app/check.go
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/net.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_null.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
Labels: changelog/no-changelog, team/processes, team/networks, team/container-app

#12271 pkg/trace/api: add generic EVP Proxy API
  cmd/trace-agent/config/config.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/evp_intake_proxy.go
  pkg/trace/api/evp_intake_proxy_test.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  releasenotes/notes/trace-agent-evp-forwarding-api-000a992cbfe7c14b.yaml
Labels: team/agent-apm

#12432 [release] Update release.json and Go modules for 6/7.37.0-rc.9
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#12431 [CSPM] fix expected findings, with host-selectors reintroduction
  test/e2e/cws-tests/tests/test_e2e_cspm_kubernetes.py
Labels: changelog/no-changelog, team/agent-security

#12422 use a mock clock in dogstatsd unit tests
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#12148 Namespace routers for modules by name.
  cmd/system-probe/api/module/loader.go
  cmd/system-probe/modules/network_tracer.go
  cmd/system-probe/modules/oom_kill_probe.go
  cmd/system-probe/modules/process.go
  cmd/system-probe/modules/tcp_queue_tracer.go
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/process/net/check.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_windows.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12394 [networks] Add amazon linux 2 for testing in CI
  .gitlab/functional_test/system_probe.yml
  test/kitchen/platforms.json
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/linux.rb
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12434 Backport #12433: Revert "Update Agent container base image to Ubuntu 22.04 (#11745)"
  .gitignore
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/faccessat/README.md
  Dockerfiles/agent/faccessat/faccessat.c
  Dockerfiles/agent/faccessat/faccessat.sym
  Dockerfiles/agent/nosys-seccomp/README.md
  Dockerfiles/agent/nosys-seccomp/nosys.c
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  releasenotes/notes/base-ubuntu-2204-0d60f87f10aac675.yaml
  tasks/cluster_agent.py
Labels: team/containers, changelog/no-changelog, kind/performance, category/bugfix, bugfix/regression

#12428 Add invoke command for generating kitchen config for system-probe tests
  tasks/system_probe.py
Labels: dev/tooling, changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#12445 Fix TestCCCache_GetCFApplications flakiness
  pkg/util/cloudproviders/cloudfoundry/cccache_test.go
Labels: changelog/no-changelog, team/intg-tools-libs

#12433 Revert "Update Agent container base image to Ubuntu 22.04 (#11745)"
  .gitignore
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/faccessat/README.md
  Dockerfiles/agent/faccessat/faccessat.c
  Dockerfiles/agent/faccessat/faccessat.sym
  Dockerfiles/agent/nosys-seccomp/README.md
  Dockerfiles/agent/nosys-seccomp/nosys.c
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  releasenotes/notes/base-ubuntu-2204-0d60f87f10aac675.yaml
  tasks/cluster_agent.py
Labels: team/containers, changelog/no-changelog, kind/performance, category/bugfix, bugfix/regression

#12421 [RCM] Send tuf error back
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/util.go
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/remoteconfig.pb.go
Labels: changelog/no-changelog, team/remote-config

#12447 [backport] Revert "fix docker cluster agent arm64 job (#12022)"
  .gitlab/container_build/docker_linux.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/release_operations

#12437 [netflow] Use default max events per payload
  pkg/epforwarder/epforwarder.go
Labels: changelog/no-changelog, team/infra-integrations

#12250 Add more endpoints for connectivity diagnose
  pkg/diagnose/connectivity/endpoint_info.go
  pkg/diagnose/connectivity/trace_request.go
  pkg/diagnose/connectivity/trace_request_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#12451 [release] Update release.json and Go modules for 6/7.37.0-rc.11
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa

#12385 Enable Ingresses collection by default
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  releasenotes-dca/notes/ingress-resource-a8fe3b41f3a0d50a.yaml
Labels: team/container-app, need-change/operator, need-change/helm-chart

#12412 [CWS] policy versioning
  cmd/security-agent/app/runtime.go
  pkg/security/module/module.go
  pkg/security/rconfig/rconfig.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_dir.go
  pkg/security/secl/rules/policy_loader.go
  pkg/security/secl/rules/policy_provider.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/tests/module_tester.go
  pkg/security/utils/utils.go
Labels: changelog/no-changelog, team/agent-security

#12458 [CWS] add missing doc comment on `DefaultPolicyName`
  pkg/security/secl/rules/policy_provider.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#12307 [CWS] fix macro loading
  cmd/security-agent/app/runtime.go
  pkg/security/module/module.go
  pkg/security/probe/approvers_test.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/probe.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/eval_operators.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/macro.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/eval/oo_dns_name.go
  pkg/security/secl/compiler/eval/oo_dns_name_test.go
  pkg/security/secl/compiler/eval/oo_glob_cmp.go
  pkg/security/secl/compiler/eval/oo_glob_cmp_test.go
  pkg/security/secl/compiler/eval/operators.go
  pkg/security/secl/compiler/eval/opts.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/compiler/eval/state.go
  pkg/security/secl/compiler/generators/operators/operators.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, team/agent-security

#11466 [CWS] Add dns events in activity dumps
  cmd/security-agent/app/runtime.go
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_gen_linux.go
  pkg/security/probe/activity_dump_graph.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/namespace_resolver_graph.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_gen.go
Labels: changelog/no-changelog, team/agent-security

#12453 fix(tests, dogstatsd): add timeout after disabling debug loop to avoid data race
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#12459 Fix `docker_build_cluster_agent_arm64` on `main` branch: Revert "Fix `docker_build_cluster_agent_arm64` job (#12022)"
  .gitlab/container_build/docker_linux.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#12450 config_template: add `logs_config.open_files_limit`
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation
