Repository DataDog/datadog-agent, pull requests merged in 2022-03, with the labels that each got.

#11084 [CWS] Fix kernel maps fallback
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security, bugfix/regression

#11083 [process-agent][core-agent] Fix leaky HTTP connections
  cmd/agent/app/dogstatsd_stats.go
  cmd/agent/app/launchgui.go
  cmd/agent/app/listchecks.go
  cmd/agent/app/secret.go
  cmd/agent/app/status.go
  cmd/agent/app/tagger_list.go
  cmd/agent/app/workload_list.go
  cmd/agent/common/commands/health.go
  cmd/cluster-agent/app/metadata_mapper_digest.go
  cmd/cluster-agent/app/status.go
  cmd/process-agent/app/status.go
  cmd/security-agent/app/status.go
  cmd/system-probe/app/debug.go
  cmd/systray/doconfigure.go
  pkg/api/util/doget.go
  pkg/config/settings/http/client.go
  pkg/flare/archive.go
  pkg/flare/cluster_checks.go
  pkg/flare/config_check.go
  pkg/process/util/status.go
  pkg/status/status_process_agent.go
Labels: team/agent-core, changelog/no-changelog, team/processes, category/bugfix, bugfix/new_feature

#11105 Fix missing metrics on Windows in Docker/Containerd collectors + Linux swap
  pkg/collector/corechecks/containers/containerd/adapter.go
  pkg/collector/corechecks/containers/containerd/check_test.go
  pkg/collector/corechecks/containers/docker/adapter.go
  pkg/collector/corechecks/containers/docker/check_metrics_extension.go
  pkg/collector/corechecks/containers/docker/check_network.go
  pkg/collector/corechecks/containers/docker/check_network_others.go
  pkg/collector/corechecks/containers/docker/check_test.go
  pkg/util/cgroups/stats.go
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv1.go
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv2.go
  pkg/util/containers/v2/metrics/containerd/collector_linux.go
  pkg/util/containers/v2/metrics/containerd/collector_linux_test.go
  pkg/util/containers/v2/metrics/containerd/collector_test.go
  pkg/util/containers/v2/metrics/containerd/collector_win.go
  pkg/util/containers/v2/metrics/containerd/collector_windows.go
  pkg/util/containers/v2/metrics/containerd/collector_windows_test.go
  pkg/util/containers/v2/metrics/docker/collector.go
  pkg/util/containers/v2/metrics/docker/collector_windows.go
  pkg/util/containers/v2/metrics/docker/collector_windows_test.go
  pkg/util/containers/v2/metrics/mock/mock_samples.go
  pkg/util/containers/v2/metrics/provider/types.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
  pkg/util/containers/v2/metrics/system/collector_linux_test.go
  pkg/util/pointer/pointer.go
  pkg/util/system/network.go
  pkg/util/system/network_linux.go
  pkg/util/system/network_windows.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11078 Fix cgroups metrics collection on PCF
  pkg/autodiscovery/listeners/environment.go
  pkg/util/cgroups/reader.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11098 Fix sysprobe kitchen tests on windows
  .gitlab/functional_test/system_probe.yml
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/default.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/linux_use_azure_mnt.rb
Labels: dev/tooling, changelog/no-changelog, team/networks, qa/skip-qa

#11106 [CWS] Support more container runtimes in kernel space
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/cgroup.h
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11112 [orchestrator] Fix missing scrubbing
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cronjob.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/statefulset.go
  pkg/orchestrator/redact/pod.go
  pkg/status/templates/orchestrator.tmpl
  releasenotes-dca/notes/ds-sts-scrubbing-fix-555771b856b34eac.yaml
Labels: team/container-app, category/bugfix

#11124 [corechecks/helm] Handle releases with incomplete info
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/helm/helm_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/new_feature

#11128 Latest stable builds updated to 7.34.0
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11119 Update DataDog/ebpf to fix PID namespace issue
  go.mod
  go.sum
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11108 [RC] ttl_seconds should just be an integer
  pkg/config/remote/service/service.go
Labels: kind/bug, changelog/no-changelog, team/remote-config

#11140 Fix regexp used to perform matching of containerID in cgroup paths
  pkg/util/cgroups/reader.go
  pkg/util/cgroups/readerv1_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11134 Fix cgroups/pidMapper selection on cgroupV2
  pkg/util/cgroups/pid_mapper.go
  pkg/util/containers/v2/metrics/system/collector_network_linux.go
  pkg/util/system/namespace_linux.go
  pkg/util/system/namespace_linux_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/new_feature

#11142 [releasenote] Update OTLP ingest release note
  releasenotes/notes/otlp-not-experimental-56d7130909082cf1.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/improvement

#11143 [corechecks/helm] Keep deployed releases in memory
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/helm/helm_test.go
  pkg/collector/corechecks/cluster/helm/release.go
Labels: team/containers, changelog/no-changelog, category/improvement

#11155 [CWS] load_module: Fix the "path_resolution_error" event when loaded_from_memory
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11157 [release] Update release.json and Go modules for 6/7.35.0-rc.4
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10946 remove unused extraTags arg from dogstatsd.NewServer
  cmd/agent/app/run.go
  cmd/agent/app/settings/runtime_settings_test.go
  cmd/dogstatsd/main.go
  pkg/dogstatsd/README.md
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/serverless/metrics/metric.go
  pkg/serverless/metrics/metric_test.go
  test/benchmarks/dogstatsd/main.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11033 Clarify what team/* labels are for in PR template
  .github/PULL_REQUEST_TEMPLATE.md
  tasks/test.py
Labels: changelog/no-changelog, qa/skip-qa

#11056 fix a format-string bug
  pkg/process/checks/container.go
Labels: changelog/no-changelog, qa/skip-qa

#11095 Run decoder in a single goroutine
  pkg/logs/decoder/auto_multiline_handler.go
  pkg/logs/decoder/breaker/line_breaker.go
  pkg/logs/decoder/breaker/line_breaker_test.go
  pkg/logs/decoder/breaker/matcher.go
  pkg/logs/decoder/breaker/matcher_test.go
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/file_decoder.go
  pkg/logs/decoder/line_breaker.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_benchmark_test.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/decoder/line_parser.go
  pkg/logs/decoder/line_parser_test.go
  pkg/logs/decoder/multiline_handler.go
  pkg/logs/decoder/single_line_handler.go
  pkg/logs/internal/tailers/docker/matcher.go
Labels: team/agent-core, changelog/no-changelog

#11101 Determine the container runtime from the environment.
  pkg/config/config.go
  pkg/logs/config/integration_config.go
  pkg/logs/decoder/file_decoder.go
  pkg/logs/internal/launchers/docker/launcher.go
  pkg/logs/internal/launchers/docker/launcher_nix.go
  pkg/logs/internal/launchers/docker/launcher_nix_test.go
  pkg/logs/internal/launchers/docker/launcher_windows.go
  pkg/logs/internal/launchers/docker/launcher_windows_test.go
Labels: team/agent-core, team/containers, changelog/no-changelog

#11135 Handle windows log file rotation using DidRotate
  pkg/logs/internal/tailers/file/rotate_nix.go
  pkg/logs/internal/tailers/file/rotate_windows.go
  pkg/logs/internal/tailers/file/tailer.go
  pkg/logs/internal/tailers/file/tailer_windows.go
Labels: team/agent-core, changelog/no-changelog

#11094 Log warning when global processing `multi_line` rule is configured
  pkg/logs/config/config.go
  pkg/logs/logs.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11082 Add simple date pattern for automatic multi-line detection
  pkg/logs/decoder/auto_multiline_handler.go
  releasenotes/notes/add-simple-datestamp-mutltiline-pattern-875f829af8a57bbd.yaml
Labels: team/agent-core

#11141 Make the DEB package datadog-signing-keys a hard dependency
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/signing-keys-deb-strong-dep-fd8d8e605d88d9d9.yaml
Labels: team/agent-platform

#11161 Backport: Make the DEB package datadog-signing-keys a hard dependency (#11141)
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/signing-keys-deb-strong-dep-fd8d8e605d88d9d9.yaml
Labels: team/agent-platform

#11159 Nighlty builds update for 7.35.x
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#10754 Change agent connections telemetry to map format
  pkg/network/dns/driver_windows.go
  pkg/network/dns/packet_source_windows.go
  pkg/network/driver/types_windows.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
  pkg/network/encoding/json.go
  pkg/network/event_common.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, team/networks

#11067 Logs agent - retry more HTTP status codes
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  releasenotes/notes/logs_retry_404-715aafca20aaf2fa.yaml
Labels: team/agent-core

#11111 [demultiplexer] add a NoopForwarder and its support in the AgentDemultiplexer, use it for `check` command.
  cmd/agent/common/commands/check.go
  pkg/aggregator/demultiplexer.go
  pkg/forwarder/noop_forwarder.go
Labels: team/agent-core, changelog/no-changelog

#11110 [docs] update dogstatsd internals documentation.
  docs/dogstatsd/internals.md
  docs/dogstatsd/internals_schema.png
  docs/dogstatsd/internals_schema.svg
Labels: documentation, team/agent-core, changelog/no-changelog, qa/skip-qa

#11122 [hostname] tentative fix of the case where no hostname has been found.
  pkg/util/hostname.go
Labels: team/agent-core, changelog/no-changelog

#11030 [pkg/config] Move `pkg/config/seelog` to `pkg/config/internal/seelog`
  pkg/config/internal/seelog/seelog_config.go
  pkg/config/log.go
  pkg/config/log_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11009 [CWS] fix slow kprobe attachment (resulting in slow tests)
  go.mod
  go.sum
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#11028 [CWS] add bound check in unmarshall process binary
  cmd/security-agent/app/runtime.go
  pkg/security/probe/container_resolver.go
  pkg/security/secl/model/unmarshallers.go
Labels: changelog/no-changelog, team/agent-security

#11114 [CWS] improve rule ID pattern checking
  pkg/security/secl/rules/policy.go
Labels: changelog/no-changelog, team/agent-security

#11152 [internal/patch/logr] Add `funcr` package
  go.mod
  internal/patch/logr/funcr/README.md
  internal/patch/logr/funcr/funcr.go
  internal/patch/logr/funcr/funcr_test.go
  internal/patch/logr/funcr/go.mod
  internal/patch/logr/funcr/go.sum
  internal/patch/logr/funcr/internal/logr/README.md
  internal/patch/logr/funcr/internal/logr/discard.go
  internal/patch/logr/funcr/internal/logr/discard_test.go
  internal/patch/logr/funcr/internal/logr/logr.go
  internal/patch/logr/funcr/internal/logr/logr_test.go
  internal/patch/logr/funcr/internal/wrapper/wrapper.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11060 Support cgroups in containerized mode
  cmd/system-probe/app/run.go
  cmd/system-probe/utils/memory_monitor_linux.go
  cmd/system-probe/utils/memory_monitor_stub.go
  pkg/config/system_probe.go
  pkg/util/cgroups/memory_controller.go
Labels: changelog/no-changelog, team/agent-security

#11126 [DCA] Remove noisy klog warnings
  pkg/util/kubernetes/apiserver/warning_handler.go
  pkg/util/kubernetes/apiserver/warning_handler_test.go
  releasenotes-dca/notes/remove-noisy-warm-3b86fbd193cb83b4.yaml
Labels: team/containers

#11125 [CWS] use raw uname release instead of kernel version to compute rc file path
  pkg/ebpf/bytecode/runtime/runtime_asset.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/security/probe/constantfetch/runtime_compiled.go
Labels: changelog/no-changelog, team/agent-security

#10572 [CWS] Activity dump
  LICENSE-3rdparty.csv
  cmd/security-agent/app/runtime.go
  go.mod
  pkg/config/config.go
  pkg/security/agent/client.go
  pkg/security/api/api.pb.go
  pkg/security/api/api.proto
  pkg/security/config/config.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/metrics/metrics.go
  pkg/security/module/server.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_graph.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security

#11170 [CWS] Fix load module file resolution
  pkg/security/probe/model.go
Labels: changelog/no-changelog, team/agent-security

#11116 [docs] Update logs agent TCP/HTTP option descriptions
  pkg/config/config_template.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11165 update containerd dependency
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog

#10979 Bump semantic conventions used to v1.6.1
  LICENSE-3rdparty.csv
  pkg/otlp/model/attributes/attributes.go
  pkg/otlp/model/attributes/attributes_test.go
  pkg/otlp/model/attributes/azure/azure.go
  pkg/otlp/model/attributes/azure/azure_test.go
  pkg/otlp/model/attributes/ec2/ec2.go
  pkg/otlp/model/attributes/ec2/ec2_test.go
  pkg/otlp/model/attributes/gcp/gcp.go
  pkg/otlp/model/attributes/gcp/gcp_test.go
  pkg/otlp/model/attributes/hostname.go
  pkg/otlp/model/attributes/hostname_test.go
  pkg/otlp/model/attributes/process.go
  pkg/otlp/model/attributes/process_test.go
  pkg/otlp/model/attributes/system.go
  pkg/otlp/model/attributes/system_test.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/trace/api/otlp.go
Labels: changelog/no-changelog, team/agent-apm, team/agent-platform, qa/skip-qa, component/otlp

#11130 [CWS] pass the kernel version directly when fetching constants
  pkg/security/probe/probe.go
  pkg/security/tests/constants_test.go
Labels: changelog/no-changelog, team/agent-security

#11032 fix @env for dd_url
  pkg/config/config_template.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11174 [pkg/logs] Move decoder, metrics, pb, processor and tag to `internal`
  pkg/logs/agent_test.go
  pkg/logs/client/http/destination.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/internal/decoder/auto_multiline_handler.go
  pkg/logs/internal/decoder/breaker/line_breaker.go
  pkg/logs/internal/decoder/breaker/line_breaker_test.go
  pkg/logs/internal/decoder/breaker/matcher.go
  pkg/logs/internal/decoder/breaker/matcher_test.go
  pkg/logs/internal/decoder/decoder.go
  pkg/logs/internal/decoder/decoder_test.go
  pkg/logs/internal/decoder/file_decoder.go
  pkg/logs/internal/decoder/line_handler.go
  pkg/logs/internal/decoder/line_handler_benchmark_test.go
  pkg/logs/internal/decoder/line_handler_test.go
  pkg/logs/internal/decoder/line_parser.go
  pkg/logs/internal/decoder/line_parser_test.go
  pkg/logs/internal/decoder/multiline_handler.go
  pkg/logs/internal/decoder/single_line_handler.go
  pkg/logs/internal/launchers/file/launcher.go
  pkg/logs/internal/metrics/metrics.go
  pkg/logs/internal/metrics/metrics_test.go
  pkg/logs/internal/pb/agent_logs_payload.pb.go
  pkg/logs/internal/processor/encoder.go
  pkg/logs/internal/processor/encoder_test.go
  pkg/logs/internal/processor/json.go
  pkg/logs/internal/processor/json_serverless.go
  pkg/logs/internal/processor/processor.go
  pkg/logs/internal/processor/processor_test.go
  pkg/logs/internal/processor/proto.go
  pkg/logs/internal/processor/raw.go
  pkg/logs/internal/tag/local_provider.go
  pkg/logs/internal/tag/local_provider_test.go
  pkg/logs/internal/tag/provider.go
  pkg/logs/internal/tag/provider_benchmark_test.go
  pkg/logs/internal/tag/provider_test.go
  pkg/logs/internal/tailers/docker/matcher.go
  pkg/logs/internal/tailers/docker/matcher_test.go
  pkg/logs/internal/tailers/docker/tailer.go
  pkg/logs/internal/tailers/docker/tailer_test.go
  pkg/logs/internal/tailers/file/tailer.go
  pkg/logs/internal/tailers/file/tailer_nix.go
  pkg/logs/internal/tailers/file/tailer_test.go
  pkg/logs/internal/tailers/file/tailer_windows.go
  pkg/logs/internal/tailers/socket/tailer.go
  pkg/logs/logs.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/status/status.go
  pkg/logs/status/status_test.go
  pkg/logs/status/test_utils.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11171 Move `third_party` to `internal/third_party`
  internal/third_party/golang/LICENSE
  internal/third_party/golang/expansion/expand.go
  internal/third_party/golang/expansion/expand_test.go
  internal/third_party/kubernetes/LICENSE
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/fake/endpoint.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/fake/endpoint_windows.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/fake/fake_image_service.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/fake/fake_runtime.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/util/util_unix.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/util/util_unix_test.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/util/util_unsupported.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/util/util_windows.go
  internal/third_party/kubernetes/pkg/kubelet/cri/remote/util/util_windows_test.go
  internal/third_party/kubernetes/pkg/kubelet/types/pod_update.go
  internal/third_party/kubernetes/pkg/kubelet/types/pod_update_test.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
  pkg/util/containers/cri/util.go
  pkg/util/containers/cri/util_test.go
  pkg/workloadmeta/collectors/kubelet/kubelet.go
Labels: team/containers, changelog/no-changelog, team/agent-platform, qa/skip-qa

#11176 [pkg/workloadmeta/collectors] Move collectors to `internal` folder
  .github/CODEOWNERS
  pkg/workloadmeta/collectors/collectors.go
  pkg/workloadmeta/collectors/internal/cloudfoundry/cloudfoundry.go
  pkg/workloadmeta/collectors/internal/containerd/container_builder.go
  pkg/workloadmeta/collectors/internal/containerd/container_builder_test.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
  pkg/workloadmeta/collectors/internal/containerd/containerd_test.go
  pkg/workloadmeta/collectors/internal/containerd/event_builder.go
  pkg/workloadmeta/collectors/internal/containerd/event_builder_test.go
  pkg/workloadmeta/collectors/internal/containerd/stub.go
  pkg/workloadmeta/collectors/internal/docker/docker.go
  pkg/workloadmeta/collectors/internal/docker/stub.go
  pkg/workloadmeta/collectors/internal/ecs/ecs.go
  pkg/workloadmeta/collectors/internal/ecs/stub.go
  pkg/workloadmeta/collectors/internal/ecsfargate/ecsfargate.go
  pkg/workloadmeta/collectors/internal/ecsfargate/stub.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  pkg/workloadmeta/collectors/internal/kubelet/stub.go
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata.go
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata_test.go
  pkg/workloadmeta/collectors/internal/kubemetadata/stub.go
  pkg/workloadmeta/collectors/internal/podman/podman.go
  pkg/workloadmeta/collectors/internal/podman/podman_test.go
  pkg/workloadmeta/collectors/internal/podman/stub.go
  pkg/workloadmeta/collectors/internal/util/expire.go
  pkg/workloadmeta/collectors/internal/util/expire_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#11188 Update debian-10 azure image
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11187 Update scc.yaml allowedCapabilities
  Dockerfiles/manifests/openshift/scc.yaml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#11079 [install_script] Allow running without DD_API_KEY when config already exists
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/allow-no-apikey-eb529c2552f1fd6f.yaml
Labels: team/agent-platform

#11186 Fix panics in containerd collector when container cannot be retrieved
  pkg/workloadmeta/collectors/internal/containerd/container_builder.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
  pkg/workloadmeta/collectors/internal/containerd/event_builder.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11168 [hostname] tentative fix of the case where no hostname has been found…
  pkg/util/hostname.go
Labels: team/agent-core, changelog/no-changelog

#11192 [logs][config] Strictly limit vector override to the logs-agent
  pkg/logs/config/config.go
  pkg/logs/config/config_keys.go
  pkg/logs/config/config_test.go
  pkg/logs/logs.go
Labels: team/agent-core, changelog/no-changelog

#11182 [cmd/agent] Move some packages to `internal` folders
  .github/CODEOWNERS
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/api/internal/agent/agent_jmx.go
  cmd/agent/api/internal/agent/agent_nojmx.go
  cmd/agent/api/internal/agent/python_status.go
  cmd/agent/api/internal/agent/python_status_nopython.go
  cmd/agent/api/internal/check/check.go
  cmd/agent/api/server.go
  cmd/agent/app/config.go
  cmd/agent/app/internal/settings/runtime_setting_dogstatsd_capture_duration.go
  cmd/agent/app/internal/settings/runtime_setting_dogstatsd_stats.go
  cmd/agent/app/internal/settings/runtime_settings_test.go
  cmd/agent/app/run.go
  cmd/agent/internal/clcrunnerapi/clc_runner_listener.go
  cmd/agent/internal/clcrunnerapi/clc_runner_server.go
  cmd/agent/internal/clcrunnerapi/v1/clcrunner.go
Labels: team/agent-core, team/containers, changelog/no-changelog, qa/skip-qa

#11196 [CWS] update gopsutil
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#11172 [CWS] Reuse the service tag if we couldn't resolve it
  pkg/security/module/server.go
Labels: changelog/no-changelog, team/agent-security

#11096 Fix metric confusion when the metric name is contained in the tags
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
  pkg/aggregator/context_resolver_test.go
Labels: team/agent-core, changelog/no-changelog

#11024 pkg/config/remote: Handles multiple APM Remote Config files
  pkg/config/remote/client_test.go
  pkg/config/remote/configs.go
  pkg/config/remote/configs_apm_sampling.go
  pkg/config/remote/configs_test.go
  pkg/trace/sampler/remote_rates.go
  pkg/trace/sampler/remote_rates_test.go
Labels: changelog/no-changelog, team/agent-apm, team/remote-config, category/bugfix

#11090 e2e local tests quality of life improvements
  .gitignore
  test/e2e/scripts/run-instance/.gitignore
  test/e2e/scripts/run-instance/10-setup-kind.sh
  test/e2e/scripts/run-instance/11-setup-kind-cluster.sh
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/setup-instance/.gitignore
Labels: changelog/no-changelog, team/agent-security

#11198 [workloadmeta] Fix race condition when reading from the store
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11019 Retry queue duration
  pkg/config/config.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/internal/retry/disk_usage_limit.go
  pkg/forwarder/internal/retry/disk_usage_limit_test.go
  pkg/forwarder/internal/retry/on_disk_retry_queue.go
  pkg/forwarder/internal/retry/on_disk_retry_queue_test.go
  pkg/forwarder/internal/retry/queue_duration_capacity.go
  pkg/forwarder/internal/retry/queue_duration_capacity_test.go
  pkg/forwarder/internal/retry/time_interval_accumulator.go
  pkg/forwarder/internal/retry/time_interval_accumulator_test.go
  pkg/forwarder/internal/retry/transaction_retry_queue.go
  pkg/forwarder/internal/retry/transaction_retry_queue_test.go
  pkg/forwarder/telemetry.go
Labels: team/agent-core, changelog/no-changelog

#11206 Do not warn about missing proxy.no_proxy config
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
Labels: team/agent-core, changelog/no-changelog

#11180 Fix tcp queue length collector test on recent kernels
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_test.go
Labels: changelog/no-changelog, team/agent-security

#11166 [Serverless] Improve the adaptive flush strategy of the serverless extension
  pkg/serverless/daemon/interval.go
  pkg/serverless/daemon/interval_test.go
Labels: changelog/no-changelog, team/serverless

#11031 Update kitchen testing image
  .gitlab-ci.yml
  .gitlab/kitchen_common/cleanup.yml
  .gitlab/kitchen_common/testing.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11205 Fix batch strategy shutdown race
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
Labels: team/agent-core, changelog/no-changelog, bugfix/regression

#11203 Backport #11165 (containerd deps update)
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog

#11199 [CWS] Reuse tags service if we couldn't resolve it (#11172)
  pkg/security/module/server.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11208 Add Workflow that runs on Dependabot PRs to fix go.sum
  .github/workflows/dependabot-pr.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, dependencies

#11209 Fix parsing of DinD cgrou paths and change PID<>CID mapping in system collector
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/pid_mapper_test.go
  pkg/util/cgroups/reader.go
  pkg/util/cgroups/reader_detector.go
  pkg/util/cgroups/reader_detector_test.go
  pkg/util/cgroups/readerv1.go
  pkg/util/cgroups/testdata/container-cgroupv1/mounts
  pkg/util/cgroups/testdata/container-cgroupv2/mounts
  pkg/util/cgroups/testdata/dind-cgroupv1/mounts
  pkg/util/containers/v2/metrics/kubelet/collector.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11211 [install_script] Release version 1.8.0
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11185 [orchestration] explicitly collect 0 values for requests and limits
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
  releasenotes/notes/fix-0-value-e05621552f7597bf.yaml
Labels: team/container-app

#11214 [install_script] Update CHANGELOG-INSTALLSCRIPT for 1.8.0
  CHANGELOG-INSTALLSCRIPT.rst
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11215 [CWS] do not use parent as process context for exec event
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11212 [pkg/otlp] Skip TestStartPipelineFromConfig on Windows
  pkg/otlp/collector_test.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10836 [CWS] Run CWS functional tests on Amazon Linux 2
  .gitlab/functional_test/security_agent.yml
  go.mod
  go.sum
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/module/module.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/constantfetch/fetcher.go
  pkg/security/probe/constantfetch/runtime_compiled.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/tests/bpf_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/selinux_test.go
  pkg/util/kernel/download_headers.go
  test/kitchen/README.md
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-security

#11136 Use a "safe" Sender for core checks
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/containerlifecycle/check.go
  pkg/collector/corechecks/containers/containerd/check.go
  pkg/collector/corechecks/containers/cri/check.go
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/generic/check.go
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
  pkg/collector/corechecks/net/network.go
  pkg/collector/corechecks/net/ntp.go
  pkg/collector/corechecks/nvidia/jetson/jetson.go
  pkg/collector/corechecks/safesender.go
  pkg/collector/corechecks/safesender_test.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/system/cpu/cpu.go
  pkg/collector/corechecks/system/cpu/cpu_windows.go
  pkg/collector/corechecks/system/cpu/load.go
  pkg/collector/corechecks/system/disk/disk_nix.go
  pkg/collector/corechecks/system/disk/iostats_nix.go
  pkg/collector/corechecks/system/disk/iostats_pdh_windows.go
  pkg/collector/corechecks/system/filehandles/file_handles.go
  pkg/collector/corechecks/system/filehandles/file_handles_freebsd.go
  pkg/collector/corechecks/system/filehandles/file_handles_windows.go
  pkg/collector/corechecks/system/memory/memory_nix.go
  pkg/collector/corechecks/system/memory/memory_windows.go
  pkg/collector/corechecks/system/uptime/uptime.go
  pkg/collector/corechecks/system/winkmem/winkmem.go
  pkg/collector/corechecks/system/winproc/winproc_windows.go
  pkg/collector/corechecks/systemd/systemd.go
Labels: team/agent-core, team/containers, changelog/no-changelog, team/integrations, team/agent-platform, team/infra-integrations

#11222 [CWS] bump security agent policies to v0.22.1
  release.json
Labels: changelog/no-changelog, team/agent-security

#11231 [CWS] bump security agent policies to v0.22.1 (#11222)
  release.json
Labels: changelog/no-changelog, team/agent-security

#11221 [7.35] Backport container fixes
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/process.go
  pkg/process/checks/process_rt.go
  pkg/process/util/containers.go
  pkg/process/util/containers_test.go
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/pid_mapper_test.go
  pkg/util/cgroups/reader.go
  pkg/util/cgroups/reader_detector.go
  pkg/util/cgroups/reader_detector_test.go
  pkg/util/cgroups/readerv1.go
  pkg/util/cgroups/testdata/container-cgroupv1/mounts
  pkg/util/cgroups/testdata/container-cgroupv2/mounts
  pkg/util/cgroups/testdata/dind-cgroupv1/mounts
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv1.go
  pkg/util/containers/v2/metrics/containerd/collector_linux_test.go
  pkg/util/containers/v2/metrics/docker/collector.go
  pkg/util/containers/v2/metrics/docker/collector_linux.go
  pkg/util/containers/v2/metrics/docker/collector_test.go
  pkg/util/containers/v2/metrics/docker/collector_windows.go
  pkg/util/containers/v2/metrics/ecsfargate/collector.go
  pkg/util/containers/v2/metrics/ecsfargate/collector_test.go
  pkg/util/containers/v2/metrics/kubelet/collector.go
  pkg/util/containers/v2/metrics/kubelet/collector_test.go
  pkg/util/containers/v2/metrics/provider/provider.go
  pkg/util/containers/v2/metrics/provider/types.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
  pkg/util/containers/v2/metrics/system/collector_network_linux.go
  pkg/util/containers/v2/metrics/system/collector_network_linux_test.go
  pkg/util/ecs/metadata/v2/client_test.go
  pkg/util/ecs/metadata/v2/types.go
  pkg/workloadmeta/collectors/containerd/container_builder.go
  pkg/workloadmeta/collectors/containerd/containerd.go
  pkg/workloadmeta/collectors/containerd/event_builder.go
  pkg/workloadmeta/collectors/ecsfargate/ecsfargate.go
  pkg/workloadmeta/merge.go
  pkg/workloadmeta/merge_test.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/regression

#11219 [CWS] do not use parent as process context for exec event (#11215)
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11137 [corechecks/snmp] Remove copyStrings that are not needed anymore
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
Labels: changelog/no-changelog, team/infra-integrations

#11234 Remove map allocation from cgroup stats retrieval code path
  pkg/util/cgroups/cgroupv1_cpu.go
  pkg/util/cgroups/cgroupv1_memory.go
  pkg/util/cgroups/cgroupv2_memory.go
  pkg/util/cgroups/file.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11089 [CWS] do not modify seccomp in e2e tests
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/cws-tests/tests/lib/const.py
  test/e2e/cws-tests/tests/lib/cws/app.py
  test/e2e/cws-tests/tests/lib/cws/policy.py
  test/e2e/cws-tests/tests/lib/docker.py
  test/e2e/cws-tests/tests/lib/kubernetes.py
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/cws-tests/tests/test_e2e_cws_kubernetes.py
Labels: changelog/no-changelog, team/agent-security

#11239 [backport] Update debian-10 azure image
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa, category/release_operations

#11238 [backport] Update debian-10 azure image
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa, category/release_operations

#11240 [7.35] Remove map allocation from cgroup stats retrieval code path (#11234)
  pkg/util/cgroups/cgroupv1_cpu.go
  pkg/util/cgroups/cgroupv1_memory.go
  pkg/util/cgroups/cgroupv2_memory.go
  pkg/util/cgroups/file.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/regression

#11123 [demultiplexer] remove the `BufferedAggregator` in the Serverless Agent Demultiplexer
  pkg/aggregator/demultiplexer.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/server.go
  pkg/serverless/serverless.go
Labels: team/agent-core, changelog/no-changelog, team/serverless

#11201 (rcm) uptane client state should not return an error even if the repo is not valid
  pkg/config/remote/uptane/client_state.go
Labels: changelog/no-changelog, team/remote-config, category/bugfix

#11202 (rcm) refresh the agent immediately on restart
  pkg/config/remote/service/service.go
Labels: changelog/no-changelog, team/remote-config, category/improvement

#11237 [CWS] Add splice event type (7.35 backport)
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/splice.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/splice.go
  pkg/security/probe/accessors.go
  pkg/security/probe/approvers.go
  pkg/security/probe/capabilities.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/discarders.go
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/probe/splice.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/splice.schema.json
  pkg/security/tests/splice_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
  release.json
  releasenotes/notes/runtime-security-splice-933e982ff02d6c93.yaml
Labels: team/agent-security, category/improvement

#11210 Fix batch strategy shutdown race
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
Labels: team/agent-core, changelog/no-changelog, bugfix/regression

#11120 Improve docs, remove public fields for the file tailer
  pkg/logs/internal/launchers/file/launcher.go
  pkg/logs/internal/launchers/file/launcher_test.go
  pkg/logs/internal/tailers/file/file.go
  pkg/logs/internal/tailers/file/rotate_nix.go
  pkg/logs/internal/tailers/file/rotate_windows.go
  pkg/logs/internal/tailers/file/tailer.go
  pkg/logs/internal/tailers/file/tailer_nix.go
  pkg/logs/internal/tailers/file/tailer_test.go
  pkg/logs/internal/tailers/file/tailer_windows.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11248 [release] Update release.json and Go modules for 6/7.35.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11207 [CWS] fix discarders discovery with non scalar evaluator
  pkg/security/secl/compiler/eval/eval_operators.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/compiler/eval/operators.go
  pkg/security/secl/compiler/generators/operators/operators.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/regression

#11216 [orchestration] collect rr on jobs and cronjobs
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_test.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/job_test.go
  releasenotes-dca/notes/collect-rr-jobs-cronjobs-a08f83646cedd852.yaml
Labels: component/cluster-agent, team/container-app

#11247 [kitchen] Replace stable repo when upgrading the Agent
  test/kitchen/site-cookbooks/dd-agent-upgrade/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11260 Revert "Backport: Make the DEB package datadog-signing-keys a hard dependency (#11141)"
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/signing-keys-deb-strong-dep-fd8d8e605d88d9d9.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11259 Revert "Make the DEB package datadog-signing-keys a hard dependency"
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/signing-keys-deb-strong-dep-fd8d8e605d88d9d9.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11149 fix env var name for DD_APM_NON_LOCAL_TRAFFIC in config template documentation
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#11097 Simplify framing (= line breaking)
  pkg/logs/internal/decoder/breaker/line_breaker.go
  pkg/logs/internal/decoder/breaker/line_breaker_test.go
  pkg/logs/internal/decoder/breaker/matcher.go
  pkg/logs/internal/decoder/breaker/matcher_test.go
  pkg/logs/internal/decoder/decoder.go
  pkg/logs/internal/decoder/decoder_test.go
  pkg/logs/internal/decoder/file_decoder.go
  pkg/logs/internal/framer/docker_stream.go
  pkg/logs/internal/framer/docker_stream_test.go
  pkg/logs/internal/framer/framer.go
  pkg/logs/internal/framer/framer_test.go
  pkg/logs/internal/framer/matcher.go
  pkg/logs/internal/framer/matcher_test.go
  pkg/logs/internal/framer/onebyte.go
  pkg/logs/internal/framer/twobyte.go
  pkg/logs/internal/tailers/docker/matcher_test.go
  pkg/logs/internal/tailers/docker/tailer.go
Labels: team/agent-core, changelog/no-changelog

#11228 Update docs for the LogSources type
  pkg/logs/config/sources.go
Labels: changelog/no-changelog, qa/skip-qa

#11235 [CWS] Add splice event type
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/splice.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/splice.go
  pkg/security/probe/accessors.go
  pkg/security/probe/approvers.go
  pkg/security/probe/capabilities.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/discarders.go
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/probe/splice.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/splice.schema.json
  pkg/security/tests/splice_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
  release.json
  releasenotes/notes/runtime-security-splice-933e982ff02d6c93.yaml
Labels: team/agent-security

#11226 Prohibit restarting a logs agent
  pkg/logs/agent.go
  pkg/logs/agent_test.go
Labels: changelog/no-changelog, qa/skip-qa

#11230 [Process Agent] Add Version Command
  cmd/process-agent/app/version.go
  cmd/process-agent/app/version_test.go
  cmd/process-agent/collector.go
  cmd/process-agent/info.go
  cmd/process-agent/info_test.go
  cmd/process-agent/main_common.go
  releasenotes/notes/add-process-version-43dcbc3ccae2dccf.yaml
  tasks/process_agent.py
Labels: team/processes

#11262 [CWS] Always check for kernel lockdown confidentiality mode
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#11275 [CWS] fix `TestProcessExec` test
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#11277 Set container integrations as owner of `containerlifecycle`
  .github/CODEOWNERS
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#11280 [CWS] Use easyjson to serialize event types
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
Labels: changelog/no-changelog, team/agent-security

#11276 [windows] Fix aws invocation in omnibus builds
  tasks/ssm.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11272 [orchestration] fix resourcerequirements field
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_test.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/job_test.go
Labels: changelog/no-changelog, team/container-app

#11281 Fix dot escape in regex in `computeDomainsURL`
  pkg/forwarder/forwarder_health.go
Labels: changelog/no-changelog, team/agent-security

#11279 Stop checks before workloadmeta
  cmd/agent/app/run.go
Labels: team/containers, changelog/no-changelog

#11278 [contlcycle] Flush events when the agent is stopped
  pkg/collector/corechecks/containerlifecycle/check.go
  pkg/collector/corechecks/containerlifecycle/processor.go
  pkg/collector/corechecks/containerlifecycle/processor_test.go
Labels: team/containers, changelog/no-changelog

#11271 pkg/trace: Update config template
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm

#11295 [gitlab] Use specialized docker-enabled image to run serverless test
  .gitlab-ci.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/functional_test/serverless.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10934 Resolve Traps OIDs to names
  pkg/logs/internal/launchers/traps/launcher.go
  pkg/logs/internal/tailers/traps/tailer.go
  pkg/logs/internal/tailers/traps/tailer_test.go
  pkg/logs/schedulers/traps/scheduler.go
  pkg/snmp/traps/format.go
  pkg/snmp/traps/format_test.go
  pkg/snmp/traps/formatter.go
  pkg/snmp/traps/formatter_test.go
  pkg/snmp/traps/oid_resolver.go
  pkg/snmp/traps/oid_resolver_test.go
  pkg/snmp/traps/server_test.go
  pkg/snmp/traps/testing.go
  pkg/snmp/traps/traps_db.go
  releasenotes/notes/Resolve-SNMP-Traps-OIDs-to-names-70de58eecc4892aa.yaml
Labels: team/infra-integrations

#11225 Fix CCA logs scheduler startup
  pkg/autodiscovery/autoconfig.go
  pkg/logs/logs.go
  pkg/logs/schedulers/cca/scheduler.go
  pkg/logs/schedulers/cca/scheduler_test.go
Labels: team/agent-core, changelog/no-changelog

#10806 pkg/trace/api: reduce idle connection timeout for profiles
  pkg/trace/api/profiles.go
  releasenotes/notes/apm-profiling-reduce-idle-connection-timeout-47b6358a49c76f52.yaml
Labels: team/agent-apm, 7.35.0-drop

#11250 [CWS] add glob unit test addressing a bug in 7.34
  pkg/security/secl/compiler/eval/eval_test.go
Labels: changelog/no-changelog, team/agent-security

#11301 Fix deadlock in destination sender
  pkg/logs/sender/destination_sender.go
  pkg/logs/sender/destination_sender_test.go
  releasenotes/notes/destination-sender-deadlock-b4329079cb4df157.yaml
Labels: team/agent-core

#11304 Shrink reorderer metrics channel
  pkg/security/probe/reorderer.go
Labels: changelog/no-changelog, team/agent-security

#11306 [7.35] Fix deadlock in destination sender
  pkg/logs/sender/destination_sender.go
  pkg/logs/sender/destination_sender_test.go
  releasenotes/notes/destination-sender-deadlock-b4329079cb4df157.yaml
Labels: team/agent-core, category/bugfix, bugfix/regression

#11290 Add Datadog registry entries in flare
  pkg/flare/archive.go
  pkg/flare/archive_nix.go
  pkg/flare/archive_win.go
  releasenotes/notes/add-registry-to-flare-bb2b806f374633e8.yaml
Labels: team/agent-platform

#11314 [CWS] fix missing doc/serializers generated files
  docs/cloud-workload-security/backend.md
  pkg/security/probe/custom_events_easyjson.go
Labels: changelog/no-changelog, team/agent-security

#11264 Add a workflow to run mod tidy on an existing PR
  .github/workflows/go_mod_tidy.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, dependencies

#11310 [backport] JMXFetch: adding knobs for statsd client queue size + telemetry
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-statsd-qsize-telemetry-d12fe0746f750cc0.yaml
Labels: team/agent-core

#11312 Improve release note about RPM preinstall dependencies
  releasenotes/notes/add-rpm-preinstall-deps-8fceff8f07388d8d.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11303 [CWS] Generate fields resolver function
  pkg/security/probe/fields_resolver.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/compiler/generators/accessors/doc/doc.go
  pkg/security/secl/compiler/generators/accessors/resolver/fields_resolver.go
  pkg/security/secl/compiler/generators/accessors/resolver/fields_resolver.tmpl
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, team/agent-security

#10882 [CWS] Export Go runtime metrics to debug memory regressions
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/runtime_monitor.go
  pkg/security/utils/sys.go
Labels: changelog/no-changelog, team/agent-security

#11316 pkg/trace: Add release note for sampler change
  releasenotes/notes/apm-max-tps-0-value-0c5b09dfb820c6dd.yaml
Labels: team/agent-apm, bugfix/new_feature

#11311 Update Debian builder to Debian 8
  .gitlab-ci.yml
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/build-on-debian-8-bebd1f5e7debf4a0.yaml
  releasenotes/notes/build-on-debian-8-4c1d4c225f21df80.yaml
Labels: team/agent-platform

#11321 pkg/trace/api: ensure TagStats.Stats fields are not nil
  cmd/trace-agent/test/agent.go
  cmd/trace-agent/test/testsuite/otlp_test.go
  pkg/trace/api/otlp.go
  pkg/trace/info/stats.go
  pkg/trace/pb/otlppb/trace_service.pb.go
  releasenotes/notes/apm-otlp-panic-739fb84a9e87605a.yaml
Labels: team/agent-apm

#11322 pkg/trace/api: ensure duplicate SpanIDs in OTLP payloads don't cause panic
  pkg/trace/api/otlp.go
  pkg/trace/info/stats.go
  pkg/trace/pb/otlppb/trace_service.pb.go
  pkg/trace/test/agent.go
  pkg/trace/test/testsuite/otlp_test.go
  releasenotes/notes/apm-otlp-panic-739fb84a9e87605a.yaml
Labels: team/agent-apm

#11320 Improve release note about RPM preinstall dependencies
  releasenotes/notes/add-rpm-preinstall-deps-8fceff8f07388d8d.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11302 [Process Agent] Add timeout to api server
  cmd/process-agent/api/server.go
Labels: changelog/no-changelog, team/processes

#11325 Fix go mod tidy Github Action
  .github/workflows/go_mod_tidy.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11317 [corechecks/helm] Add event collection
  pkg/collector/corechecks/cluster/helm/events.go
  pkg/collector/corechecks/cluster/helm/events_test.go
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/helm/helm_test.go
  pkg/collector/corechecks/cluster/helm/release.go
  pkg/collector/corechecks/cluster/helm/releases_store.go
  pkg/collector/corechecks/cluster/helm/releases_store_test.go
  releasenotes/notes/helm-check-events-95ad885436481a70.yaml
Labels: team/containers, need-change/operator, need-change/helm-chart

#11326 Fix typo in GH action
  .github/workflows/go_mod_tidy.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11327 Fix missing token in GH action
  .github/workflows/go_mod_tidy.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11323 tasks: ensure trace-agent integration tests run
  .github/CODEOWNERS
  cmd/trace-agent/test/testsuite/cards_test.go
  tasks/trace_agent.py
Labels: changelog/no-changelog, team/agent-apm

#11181 Move some Agent Core owned packages to `internal` folders
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/check_sampler_bench_test.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/internal/tags/store.go
  pkg/aggregator/internal/tags/store_test.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
  pkg/aggregator/time_sampler_worker.go
  pkg/dogstatsd/internal/mapper/mapper.go
  pkg/dogstatsd/internal/mapper/mapper_cache.go
  pkg/dogstatsd/internal/mapper/mapper_cache_test.go
  pkg/dogstatsd/internal/mapper/mapper_test.go
  pkg/dogstatsd/server.go
  pkg/metadata/internal/gohai/gohai.go
  pkg/metadata/internal/gohai/gohai_test.go
  pkg/metadata/internal/gohai/payload.go
  pkg/metadata/internal/resources/payload.go
  pkg/metadata/internal/resources/resources.go
  pkg/metadata/internal/resources/resources_other.go
  pkg/metadata/internal/resources/resources_test.go
  pkg/metadata/internal/resources/resources_windows.go
  pkg/metadata/resources.go
  pkg/metadata/v5/payload.go
  pkg/metadata/v5/payload_common.go
  pkg/metadata/v5/payload_test.go
  pkg/metadata/v5/v5.go
  pkg/serializer/internal/metrics/events_test.go
  pkg/serializer/internal/metrics/series.go
  pkg/serializer/internal/metrics/series_test.go
  pkg/serializer/internal/metrics/service_checks_test.go
  pkg/serializer/internal/metrics/sketch_series_list.go
  pkg/serializer/internal/stream/compressor.go
  pkg/serializer/internal/stream/compressor_nozlib.go
  pkg/serializer/internal/stream/compressor_test.go
  pkg/serializer/internal/stream/json_payload_builder.go
  pkg/serializer/internal/stream/json_payload_builder_nozlib.go
  pkg/serializer/json_payload_builder_throughput_benchmark_test.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_benchmark_test.go
  pkg/serializer/series_benchmark_test.go
  pkg/util/hostname/file.go
  pkg/util/hostname/internal/file/hostname.go
  pkg/util/hostname/internal/file/hostname_test.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11292 [CWS] simplify functional tests `which` by using `exec.LookPath`
  pkg/security/tests/hardlink_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
  pkg/security/tests/stress_test.go
Labels: changelog/no-changelog, team/agent-security

#11086 [CWS] clang tidy fixes and improvements
  pkg/security/ebpf/c/bpf.h
  pkg/security/ebpf/c/buffer_selector.h
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/commit_creds.h
  pkg/security/ebpf/c/container.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/filename.h
  pkg/security/ebpf/c/link.h
  pkg/security/ebpf/c/mkdir.h
  pkg/security/ebpf/c/mmap.h
  pkg/security/ebpf/c/mnt.h
  pkg/security/ebpf/c/module.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/mprotect.h
  pkg/security/ebpf/c/open.h
  pkg/security/ebpf/c/overlayfs.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/process.h
  pkg/security/ebpf/c/ptrace.h
  pkg/security/ebpf/c/raw_syscalls.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/c/rmdir.h
  pkg/security/ebpf/c/selinux.h
  pkg/security/ebpf/c/setattr.h
  pkg/security/ebpf/c/setxattr.h
  pkg/security/ebpf/c/signal.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/c/umount.h
  pkg/security/ebpf/c/unlink.h
  pkg/security/ebpf/c/utimes.h
  tasks/system_probe.py
Labels: changelog/no-changelog, team/agent-security

#11308 [CWS] fix span and improve ptrace and signal tests
  pkg/security/ebpf/c/exec.h
  pkg/security/tests/ptrace_test.go
  pkg/security/tests/signal_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#11331 [CWS] fix missing copyright license from `fields_resolver.go`
  pkg/security/probe/fields_resolver.go
  pkg/security/secl/compiler/generators/accessors/resolver/fields_resolver.tmpl
Labels: changelog/no-changelog, team/agent-security
