Repository DataDog/datadog-agent, pull requests merged in 2022-04, with the labels that each got.

#11522 pkg/trace/api: OTLP: set error.msg from status message
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/apm-otlp-status-message-error-e60caa6e5a14d8cb.yaml
Labels: team/agent-apm

#11523 [CWS] improve cleanup of BTF spec in constant fetcher
  go.mod
  go.sum
  pkg/security/probe/constantfetch/core.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#10775 [CWS] do not release all the argv cache entry
  pkg/security/probe/process_resolver.go
  pkg/security/secl/model/process_cache_entry.go
Labels: changelog/no-changelog, team/agent-security

#11515 [workloadmeta, tagger] Add QOS class to kube pods
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  pkg/workloadmeta/types.go
  releasenotes/notes/qos-class-pods-a774cf7e4a60d703.yaml
Labels: team/containers

#11525 pkg/trace/api: OTLP: fix race with merge attributes
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/apm-otlp-fix-merged-attributes-314024861a58788e.yaml
Labels: team/agent-apm

#11508 [CWS] reduce complexity of the approver discovery
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/state.go
  pkg/security/secl/rules/approvers.go
  pkg/security/secl/rules/bucket.go
  pkg/security/secl/rules/filter_values.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/secl/rules/truth_table.go
Labels: changelog/no-changelog, team/agent-security

#11503 [CWS] Bump security agent policies to v0.24.1
  release.json
Labels: changelog/no-changelog, team/agent-security

#11493 [CWS] refactor the GetNextAncestorNoFork functions to remove the limit
  pkg/security/secl/model/process_cache_entry.go
Labels: changelog/no-changelog, team/agent-security

#11514 adding additional telemetry to logs sender
  pkg/logs/sender/destination_sender.go
  pkg/logs/sender/sender.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#11417 Windows/NPM Update release.json for 1.3.2 driver
  release.json
  releasenotes/notes/npm132driver-f59bb5ae5effecce.yaml
Labels: team/networks, category/bugfix

#11520 Add integration trace flag
  cmd/agent/common/commands/check.go
  pkg/config/config.go
Labels: changelog/no-changelog, team/integrations

#11538 pkg/trace: Fix deadlock
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/coresampler_test.go
Labels: changelog/no-changelog, team/agent-apm, bugfix/new_feature

#11374 [pkg/otlp] Add unit tests for literal `null` on config
  pkg/otlp/config_test.go
  pkg/otlp/testdata/experimental/receiver/null.yaml
  pkg/otlp/testdata/stable/receiver/null.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, component/otlp

#11542 [internal/tools] Run `inv -e tidy-all`
  internal/tools/go.sum
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11518 [Cluster Agent] Add info metric cluster_checks_configs_info
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/metrics.go
  releasenotes/notes/clc-info-metric-26bcbaa314cb8e10.yaml
Labels: team/containers

#11541 pkg/trace: backport fix to 7.35.x
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/coresampler_test.go
Labels: changelog/no-changelog, team/agent-apm, category/bugfix, bugfix/new_feature

#11502 [CWS] fix docker functional test arm64
  go.mod
  go.sum
  tasks/security_agent.py
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#11507 [7.35] Fix PID retrieval with cgroupv2 without host cgroup namespace
  pkg/util/cgroups/cgroupv1_pids.go
  pkg/util/cgroups/cgroupv2_pids.go
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/pid_mapper_test.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
Labels: kind/bug, team/containers, changelog/no-changelog, category/bugfix, bugfix/new_feature

#11506 Fix PID retrieval with cgroupv2 without host cgroup namespace
  pkg/util/cgroups/cgroupv1_pids.go
  pkg/util/cgroups/cgroupv2_pids.go
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/pid_mapper_test.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/new_feature

#11543 [release] Update release.json and Go modules for 6/7.35.0-rc.9
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11536 (rcm) bypass orgID check for employee sourced configs
  pkg/config/remote/client.go
  pkg/config/remote/configs.go
  pkg/config/remote/configs_test.go
  pkg/config/remote/data/file.go
  pkg/config/remote/data/file_test.go
  pkg/config/remote/service/service.go
  pkg/config/remote/uptane/client.go
Labels: changelog/no-changelog, team/remote-config

#11539 [CWS] sync BTFHub constants
  .gitattributes
  pkg/security/probe/constantfetch/btfhub.go
  pkg/security/probe/constantfetch/btfhub/constants.json
Labels: changelog/no-changelog, team/agent-security

#11440 [DCA][Admission Controller] Use ReinvocationPolicy `IfNeeded` + make it configurable
  pkg/clusteragent/admission/controllers/webhook/config.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes-dca/notes/adm-reinvocation-e1435102b435f1d1.yaml
Labels: team/containers

#11449 [SINT-408] Test Security of Uptane Partial Verification
  pkg/config/remote/uptane/client_test.go
  pkg/config/remote/uptane/partial_client.go
  pkg/config/remote/uptane/partial_client_test.go
Labels: changelog/no-changelog, team/remote-config

#11460 [CWS] Add IP and CIDR secl types
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/secl.json
  go.mod
  go.sum
  pkg/security/probe/accessors.go
  pkg/security/probe/model_test.go
  pkg/security/secl/compiler/ast/secl.go
  pkg/security/secl/compiler/ast/secl_test.go
  pkg/security/secl/compiler/eval/cidr.go
  pkg/security/secl/compiler/eval/errors.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/compiler/eval/field.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/eval/operators.go
  pkg/security/secl/compiler/eval/utils.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/model.go
  pkg/security/tests/network_test.go
Labels: changelog/no-changelog, team/agent-security

#11408 Switch default value of `external_metrics_provider.port` to 8443
  pkg/config/config.go
  releasenotes-dca/notes/external_metrics_provider_8443-670f76a2c0afef73.yaml
Labels: team/containers

#11416 generalize logs-agent AD Listener
  pkg/logs/internal/util/adlistener/ad.go
  pkg/logs/internal/util/adlistener/ad_test.go
  pkg/logs/logs.go
  pkg/logs/schedulers/ad/scheduler.go
Labels: team/agent-core, changelog/no-changelog

#11537 Fix system-probe functional tests
  go.mod
  go.sum
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, category/bugfix

#11517 Remove SendSeries
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/tagset_telem.go
  pkg/aggregator/time_sampler_worker.go
  pkg/config/config.go
  pkg/otlp/internal/serializerexporter/consumer.go
  pkg/serializer/internal/metrics/iterable_series.go
  pkg/serializer/internal/metrics/iterable_series_test.go
  pkg/serializer/internal/metrics/series.go
  pkg/serializer/internal/metrics/series_test.go
  pkg/serializer/internal/metrics/service_checks_test.go
  pkg/serializer/internal/metrics/test_helper.go
  pkg/serializer/internal/stream/json_payload_builder.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_benchmark_test.go
  pkg/serializer/serializer_test.go
  pkg/serializer/series_benchmark_test.go
  pkg/serializer/test_common.go
Labels: team/agent-core, changelog/no-changelog, team/agent-platform

#11289 Factor containers-or-pods choice into a package
  pkg/logs/agent.go
  pkg/logs/internal/launchers/container/launcher.go
  pkg/logs/internal/launchers/container/launcher_test.go
  pkg/logs/internal/launchers/container/noop.go
  pkg/logs/internal/launchers/docker/launcher.go
  pkg/logs/internal/launchers/docker/launcher_nodocker.go
  pkg/logs/internal/launchers/kubernetes/launcher.go
  pkg/logs/internal/launchers/kubernetes/launcher_nokubelet.go
  pkg/logs/internal/util/containersorpods/containers_or_pods.go
  pkg/logs/internal/util/containersorpods/containers_or_pods_test.go
  pkg/logs/internal/util/containersorpods/docker_docker.go
  pkg/logs/internal/util/containersorpods/docker_nodocker.go
  pkg/logs/internal/util/containersorpods/kubernetes_kubelet.go
  pkg/logs/internal/util/containersorpods/kubernetes_nokubelet.go
Labels: team/agent-core, changelog/no-changelog

#11562 Dustin.mitchell/fix codeowners errors
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa

#11560 [Process Agent] Disable console logging when running `check --json`
  cmd/process-agent/app/check.go
  releasenotes/notes/process-agent-fix-json-output-bc58ab39de316bc4.yaml
Labels: team/processes

#11563 [gitlab] Fix junit upload job when no owners are specified
  tasks/libs/junit_upload.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11435 Create a new dedicated call to get count of openfiles for a set of PIDs
  pkg/collector/corechecks/containers/containerd/check_metrics_extension.go
  pkg/collector/corechecks/containers/docker/check_metrics_extension.go
  pkg/collector/corechecks/containers/docker/check_network.go
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/collector/corechecks/containers/generic/processor_network.go
  pkg/process/util/containers.go
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/containerd/collector_linux_test.go
  pkg/util/containers/v2/metrics/containerd/collector_windows_test.go
  pkg/util/containers/v2/metrics/cri/collector.go
  pkg/util/containers/v2/metrics/cri/collector_test.go
  pkg/util/containers/v2/metrics/docker/collector.go
  pkg/util/containers/v2/metrics/ecsfargate/collector.go
  pkg/util/containers/v2/metrics/kubelet/collector.go
  pkg/util/containers/v2/metrics/kubelet/collector_test.go
  pkg/util/containers/v2/metrics/mock/mock.go
  pkg/util/containers/v2/metrics/mock/mock_samples.go
  pkg/util/containers/v2/metrics/provider/collector.go
  pkg/util/containers/v2/metrics/provider/collector_cache.go
  pkg/util/containers/v2/metrics/provider/collector_cache_test.go
  pkg/util/containers/v2/metrics/provider/mock.go
  pkg/util/containers/v2/metrics/provider/types.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11567 [release] Update release.json and Go modules for 6/7.36.0-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11519 Allow fast custom image publication
  .gitlab/internal_image_deploy.yml
Labels: team/containers, changelog/no-changelog, category/release_operations

#11568 [Cluster Agent] Support internal profiling
  cmd/agent/app/run.go
  cmd/agent/common/helpers.go
  cmd/cluster-agent/app/app.go
  cmd/cluster-agent/app/config.go
  pkg/config/settings/runtime_setting_profiling.go
  releasenotes-dca/notes/dca-internal-profiling-7b501ebb50928d9f.yaml
Labels: team/containers

#11573 [gitlab] Set Windows NPM / system-probe tests as allowed to fail
  .gitlab/functional_test/system_probe.yml
  .gitlab/kitchen_testing/windows.yml
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa, category/release_operations

#11545 [CWS] other fixes to constant tests
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/tests/constants_test.go
  pkg/security/tests/dns_test.go
  pkg/security/tests/network_device_test.go
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-security

#11564 Add missing call to manager Start for dns filter
  pkg/network/dns/monitor_linux.go
  pkg/network/dns/null.go
  pkg/network/dns/snooper.go
  pkg/network/dns/types.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, bugfix/regression

#11582 [CWS] bump security agent policies to v0.25.0
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#11579 [backport] [gitlab] Set Windows NPM / system-probe tests as allowed to fail
  .gitlab/functional_test/system_probe.yml
  .gitlab/kitchen_testing/windows.yml
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa

#11585 Final versions + prelude
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/prelude-release-7.35.0-2a2e5520271803fa.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11590 [workloadmeta] Clear list of subscribers when unsubscribing all
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11592 Changelog for 7.35.0
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11588 Fix dependency of deb packages on datadog-signing-keys
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/fix-signing-keys-dependency-84fb4c017cab72af.yaml
Labels: team/agent-platform

#11597 Changelog for 7.35.0 (#11592)
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11598 last_stable set to 6/7.35.0
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11600 Fix dependency of deb packages on datadog-signing-keys
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/fix-signing-keys-dependency-84fb4c017cab72af.yaml
Labels: team/agent-platform

#11602 Update debian 10 image
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11604 [release] Update release.json and Go modules for 6/7.35.1-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11601 [process-agent] Fix nil derefef on MacOS and suppress RT check banner
  cmd/process-agent/app/check.go
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix

#11594 [tagger] Add static tags to container/pod entities
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_main.go
  pkg/tagger/collectors/workloadmeta_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11571 [CWS] do not copy args envs during the snapshot
  go.mod
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#11613 [CSPM] bump security-agent-policies to v0.25.2
  release.json
Labels: changelog/no-changelog, team/agent-security

#11628 [release] Update release.json and Go modules for 6/7.36.0-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11626 [kitchen] Workaround dnf bug preventing installation on RHEL/CentOS 8.1
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11625 Fix telemetry to be monotonic counters
  pkg/network/dns/snooper.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11617 [fix] check_logger now correctly logs next run message
  pkg/collector/worker/check_logger.go
  pkg/collector/worker/check_logger_test.go
Labels: team/agent-core, changelog/no-changelog

#11629 Kacper murzyn/7.35.1 final
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
  releasenotes/notes/prelude-release-7.35.1-7156d8705146e959.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11623 [changelog] Fix reST formatting in 7.35.0 entry
  CHANGELOG.rst
Labels: documentation, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11632 changelog update
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11637 fix typo in log endianness config
  pkg/logs/internal/decoder/file_decoder.go
Labels: team/agent-core, changelog/no-changelog

#11636 Fix panic in Docker network check if generic part fails
  pkg/collector/corechecks/containers/docker/check_linux_test.go
  pkg/collector/corechecks/containers/docker/check_network.go
  releasenotes/notes/fix-docker-network-panic-5d574a731306232f.yaml
Labels: kind/bug, team/containers, qa/skip-qa, category/bugfix, bugfix/regression

#11609 [unrevert] Migrate NPM to `ebpf-manager` library
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/ebpf/probe/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length.go
  pkg/ebpf/perf.go
  pkg/ebpf/probes.go
  pkg/ebpf/probes_test.go
  pkg/network/dns/ebpf.go
  pkg/network/dns/monitor_linux.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/filter/packet_source_linux.go
  pkg/network/filter/socket_filter.go
  pkg/network/http/batch_manager.go
  pkg/network/http/dump.go
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
  pkg/network/http/monitor.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/dump.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/perf_batching.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer.go
  pkg/util/kernel/version_test.go
Labels: changelog/no-changelog, team/networks

#11634 changelog update (#11632)
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11578 [CWS] split offset guesser and runtime security probe ebpf code
  .gitlab/binary_build/system_probe.yml
  .gitlab/internal_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  omnibus/config/software/system-probe.rb
  pkg/ebpf/bytecode/asset_bindata.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/constants.h
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/prebuilt/offset-guesser.c
  pkg/security/ebpf/loader.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/probe/probe.go
  tasks/security_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11642 [CWS] Fix activity-dump cmd lineage
  cmd/security-agent/app/runtime.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11612 Fix address of non 64-bit aligned field XXX passed to sync/XXX
  pkg/aggregator/internal/tags/store.go
  pkg/metrics/iterable_series.go
  pkg/process/procutil/process_linux.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/regression

#11645 [RCM] Fix client state type
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/util.go
Labels: changelog/no-changelog, team/remote-config, category/bugfix, bugfix/regression

#11653 [CWS] do not use regexp to match ~/
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_test.go
Labels: changelog/no-changelog, team/agent-security

#11615 tasks: enable trace-agent integrations tests
  tasks/test.py
  tasks/trace_agent.py
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, category/release_operations

#11655 Revert "Revert "Improve status reporting of system-probe (#9896)""
  cmd/system-probe/api/module/loader.go
  cmd/system-probe/modules/oom_kill_probe.go
  cmd/system-probe/modules/process.go
  cmd/system-probe/modules/tcp_queue_tracer.go
  pkg/network/tracer/tracer.go
  pkg/status/templates/systemprobe.tmpl
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#11662 [unrevert] Fix do_sendfile return value handling (#10099)
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11484 [Serverless] added capture lambda payloads
  pkg/config/config.go
  pkg/serverless/daemon/routes.go
  pkg/serverless/invocationlifecycle/invocation_details.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/trace.go
  pkg/serverless/invocationlifecycle/trace_test.go
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/trace-csharp
  test/integration/serverless/snapshots/trace-node
  test/integration/serverless/snapshots/trace-proxy
  test/integration/serverless/snapshots/trace-python
  test/integration/serverless/src/csharp-tests/handler.cs
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#11652 [KSMCore] Fix concurrent map access
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  releasenotes-dca/notes/ksm-core-panic-9d8d75852a512e39.yaml
  releasenotes/notes/ksm-core-panic-9d8d75852a512e39.yaml
Labels: kind/bug, team/containers, category/bugfix

#11663 [workloadmeta] Suppress unset events for unknown entities
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/regression

#11679 [release] Update release.json and Go modules for 6/7.36.0-rc.3
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11620 [CWS] Isolate the glob matcher to the `*.file.path` fields using an operator override
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/secl.json
  pkg/security/probe/accessors.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_graph.go
  pkg/security/probe/capabilities.go
  pkg/security/probe/discarders.go
  pkg/security/probe/fields_resolver.go
  pkg/security/probe/oo_dns_name.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/field.go
  pkg/security/secl/compiler/eval/glob_test.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/eval/oo_dns_name.go
  pkg/security/secl/compiler/eval/oo_dns_name_test.go
  pkg/security/secl/compiler/eval/oo_glob_cmp.go
  pkg/security/secl/compiler/eval/oo_glob_cmp_test.go
  pkg/security/secl/compiler/eval/pattern_test.go
  pkg/security/secl/compiler/eval/strings.go
  pkg/security/secl/compiler/eval/strings_test.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/marshallers.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_gen.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/secl/rules/approvers.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11583 [CWS] Update ebpf-manager to release some inuse_space memory
  go.mod
  go.sum
  pkg/security/ebpf/probes/tc.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11646 fix multiple warning on DD_URL and DD_DD_URL conflict
  pkg/config/config.go
  releasenotes/notes/add-DD_URL-env-var-c2cacb4783c13bb0.yaml
Labels: team/agent-core

#11665 [CWS] Fix spanID tracking
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_gen.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/tests/span_test.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11668 [CWS] Do not snapshot kernel threads
  pkg/security/probe/process_resolver.go
  pkg/security/secl/model/process_cache_entry.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11680 [release] Update release.json and Go modules for 6/7.36.0-rc.4
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11558 [Contlcycle] Fix race condition in the queue
  pkg/collector/corechecks/containerlifecycle/processor.go
  pkg/collector/corechecks/containerlifecycle/queue.go
  pkg/collector/corechecks/containerlifecycle/queue_test.go
Labels: team/containers, changelog/no-changelog

#11572 [Cluster Agent] Add endpoint checks by node metric
  pkg/clusteragent/clusterchecks/dispatcher_endpoints_configs.go
  pkg/clusteragent/clusterchecks/metrics.go
  releasenotes-dca/notes/dca-ep-metric-60ee3d19e42f31f6.yaml
Labels: team/containers

#11574 [AD] Add poll duration metric
  pkg/autodiscovery/config_poller.go
  pkg/autodiscovery/telemetry/telemetry.go
  releasenotes/notes/ad-poll-metric-10e22cfb42b44a7e.yaml
Labels: team/containers

#11593 [Workloadmeta][Docker] Exclude pause containers
  pkg/util/docker/docker_util.go
  pkg/workloadmeta/collectors/internal/docker/docker.go
Labels: team/containers, changelog/no-changelog

#11556 Improve `include_headers` script
  pkg/ebpf/include_headers.go
Labels: changelog/no-changelog, team/networks, team/agent-security

#11633 [CWS] fix e2e tests
  test/e2e/cws-tests/requirements.txt
  test/e2e/cws-tests/tests/lib/config.py
  test/e2e/cws-tests/tests/lib/cws/app.py
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/cws-tests/tests/test_e2e_cws_kubernetes.py
Labels: changelog/no-changelog, team/agent-security

#11672 [CWS] replace usages of LockOSThread with syscall tester in functional tests
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
  pkg/security/tests/syscall_tester/go/syscall_go_tester.go
Labels: changelog/no-changelog, team/agent-security

#11521 [CI] Enable 'staticcheck' on golangci-lint
  .golangci.yml
  LICENSE-3rdparty.csv
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/app/dogstatsd_capture.go
  cmd/agent/app/remote_config.go
  cmd/agent/app/tagger_list.go
  cmd/secrets/providers/file.go
  cmd/system-probe/modules/process.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/runner/tracker/tracker_test.go
  pkg/compliance/checks/file_utils.go
  pkg/config/config.go
  pkg/config/process.go
  pkg/dogstatsd/listeners/uds_common_test.go
  pkg/dogstatsd/replay/file.go
  pkg/flare/archive_docker_test.go
  pkg/logs/client/tcp/prefixer.go
  pkg/logs/internal/launchers/listener/udp_nix_test.go
  pkg/network/event_common.go
  pkg/network/nettop/main.go
  pkg/obfuscate/json_test.go
  pkg/process/config/config_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/split/split.go
  pkg/serializer/split/split_test.go
  pkg/tagger/collectors/workloadmeta_test.go
  pkg/telemetry/prom_telemetry.go
  pkg/util/compression/no_compression.go
  pkg/util/compression/zlib.go
  pkg/util/compression/zstd.go
  pkg/util/containers/cri/util.go
  pkg/util/containers/types.go
  pkg/util/docker/docker_test.go
  pkg/util/hostname.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/common/common.go
  pkg/util/kubernetes/apiserver/openshift_types.go
  pkg/util/kubernetes/apiserver/wpa_controller_test.go
  test/system/dogstatsd/receive_and_forward_test.go
Labels: changelog/no-changelog, team/agent-platform

#11654 [CWS] extract `extractField` regexp to State cache
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/state.go
Labels: changelog/no-changelog, team/agent-security

#11674 telemetry retry queue duration
  pkg/forwarder/forwarder.go
  pkg/forwarder/telemetry.go
  pkg/telemetry/stats_telemetry.go
  releasenotes/notes/telemetry-retry-queue-duration-da549d181f0aa40d.yaml
Labels: team/agent-core

#11684 Fix linting issue in `workloadmeta_test.go`
  pkg/tagger/collectors/workloadmeta_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#11682 Change DCA HTTP Client parameters to reduce number of TLS Handshake errors
  pkg/util/clusteragent/clusteragent.go
Labels: kind/bug, team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix

#11656 Revert "Revert "Use netns provided for conntrack dump if none availab…
  pkg/network/netlink/consumer.go
  pkg/network/netlink/decoding.go
  pkg/network/netlink/socket.go
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#11660 Revert "Revert "Add support for UDPv6 receive to NPM (#10628)" (#11034)"
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/conn-tuple.h
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/sock.h
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer-telemetry.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/dump.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  releasenotes/notes/npm-udpv6-receive-1a62cf8b6080b7c6.yaml
Labels: component/system-probe, team/networks, qa/skip-qa

#11622 [Serverless] bump integration test dependencies
  cmd/serverless/main.go
  test/integration/serverless/src/go.mod
  test/integration/serverless/src/go.sum
Labels: changelog/no-changelog, team/serverless

#11691 Do not hold file open when pipeline is full
  pkg/logs/internal/tailers/file/tailer_windows.go
  releasenotes/notes/dont-hold-open-file-when-pipeline-full-f19561f89dab2a03.yaml
Labels: team/agent-core

#11657 [unrevert] Bump github.com/miekg/dns from 1.1.43 to 1.1.45 (#10343)
  go.mod
  go.sum
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11689 [CWS] fix typo in one activity dump config param
  pkg/security/config/config.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11587 [CWS] COS constant fixes
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/tests/network_test.go
Labels: changelog/no-changelog, team/agent-security

#11511 Remove `pip install` from CI jobs where possible
  .gitlab-ci.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/deploy_7/nix.yml
  .gitlab/docker_common/publish_job_templates.yml
  .gitlab/e2e.yml
  .gitlab/package_build/apk.yml
  .gitlab/package_build/dmg.yml
  .gitlab/source_test/golang_deps_generate.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test_junit_upload.yml
  .gitlab/trigger_release.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#11580 Small optimizations to image building
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#11631 [workloadmeta] Send last known state on EventTypeUnset
  pkg/workloadmeta/cached_entity.go
  pkg/workloadmeta/collectors/internal/cloudfoundry/cloudfoundry.go
  pkg/workloadmeta/collectors/internal/ecs/ecs.go
  pkg/workloadmeta/collectors/internal/ecsfargate/ecsfargate.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata.go
  pkg/workloadmeta/collectors/internal/podman/podman.go
  pkg/workloadmeta/collectors/internal/podman/podman_test.go
  pkg/workloadmeta/filter.go
  pkg/workloadmeta/filter_test.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog

#11697 [CWS] sync constants with btfhub archive
  pkg/security/probe/constantfetch/btfhub/constants.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#11557 [corechecks/snmp] Add option to format mac address
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metadata.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metric.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/gosnmplib/gosnmp_value.go
  pkg/collector/corechecks/snmp/internal/gosnmplib/gosnmp_value_test.go
  pkg/collector/corechecks/snmp/internal/report/report_format.go
  pkg/collector/corechecks/snmp/internal/report/report_format_test.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/collector/corechecks/snmp/internal/test/conf.d/snmp.d/profiles/_generic-if.yaml
  pkg/collector/corechecks/snmp/internal/test/metadata.d/snmp.d/profiles/_generic-if.yaml
  pkg/collector/corechecks/snmp/internal/valuestore/value.go
  pkg/collector/corechecks/snmp/internal/valuestore/value_test.go
  pkg/collector/corechecks/snmp/internal/valuestore/value_utils.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/infra-integrations

#11681 release.json update for the release branch 7.36.x
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11569 [corechecks/snmp] Add profile `static_tags` config
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metric.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/testing_utils.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/test/conf.d/snmp.d/profiles/_base.yaml
  pkg/collector/corechecks/snmp/internal/test/conf.d/snmp.d/profiles/_generic-if.yaml
  pkg/collector/corechecks/snmp/internal/test/conf.d/snmp.d/profiles/f5-big-ip.yaml
  pkg/collector/corechecks/snmp/snmp_test.go
  releasenotes/notes/snmp_add_static_tag_to_metric_tags-87757e343a32232e.yaml
Labels: kind/enhancement, changelog/no-changelog, team/infra-integrations

#11606 [golangci-lint] Do not skip folders
  .golangci.yml
  pkg/quantile/.golangci.yml
  pkg/quantile/bin.go
  pkg/quantile/key.go
  pkg/quantile/sparse.go
  pkg/quantile/sparse_test.go
  pkg/quantile/store.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11685 [7.36] Change DCA HTTP Client parameters to reduce number of TLS Handshake errors (#11682)
  pkg/util/clusteragent/clusteragent.go
Labels: kind/bug, team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix

#11701 [CWS] fix multiple fields specification in struct tags
  .golangci.yml
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, team/agent-security

#11621 [corechecks/helm] Add kube_namespace tag
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/helm/helm_test.go
  releasenotes/notes/helm-check-add-kube_namespace-tag-ec9090a20c7f5913.yaml
Labels: team/containers

#11403 [system-probe] add register feature to system-probe
  cmd/system-probe/modules/network_tracer.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_windows.go
  pkg/process/checks/net.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_unsupported.go
  pkg/process/net/common_windows.go
Labels: changelog/no-changelog, team/networks

#11249 [snmp] Use GETNEXT 1 for device reachable state for SNMP Listener and corecheck
  pkg/autodiscovery/listeners/snmp.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/snmp/constants.go
Labels: changelog/no-changelog, team/infra-integrations

#11705 [CWS] Run snapshot before starting the module
  pkg/security/ebpf/probes/event_types.go
  pkg/security/module/module.go
  pkg/security/probe/perf_buffer_monitor.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/regression

#11624 [Serverless] support lambda direct invocation trace propagation
  pkg/serverless/daemon/routes.go
  pkg/serverless/invocationlifecycle/constants.go
  pkg/serverless/invocationlifecycle/invocation_details.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/trace.go
  pkg/serverless/invocationlifecycle/trace_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#11692 Fix failing ipv6 test
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/netlink/testutil/testdata/wait_if.sh
  pkg/network/tracer/connection/kprobe/perf_batching_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#11164 [system-probe] Add and reorganize stats
  pkg/network/http/http_statkeeper_test.go
  pkg/network/http/monitor.go
  pkg/network/http/monitor_test.go
  pkg/network/http/telemetry.go
  pkg/network/mock_route_cache_test.go
  pkg/network/netlink/conntracker.go
  pkg/network/route_cache.go
  pkg/network/stats/reporter.go
  pkg/network/stats/reporter_test.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/gateway_lookup.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#11698 Remove `invoke deps` from instructions everywhere
  README.md
  cmd/process-agent/README.md
  docs/dev/agent_dev_env.md
  pkg/clusteragent/README.md
  pkg/proto/datadog/README.md
  pkg/proto/datadog/api/README.md
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11702 [docs] Add guidelines for using `internal` folders feature
  docs/dev/internal.md
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11715 [CWS] remove namespace switch event (7.36 backport)
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/process.h
  pkg/security/probe/probe.go
  pkg/security/secl/model/events.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#11700 [staticcheck] enable SA5001 check
  .golangci.yml
  pkg/compliance/checks/file_check_test.go
  pkg/dogstatsd/listeners/uds_linux_test.go
  pkg/flare/flare.go
  pkg/logs/internal/tailers/file/rotate_nix.go
  pkg/obfuscate/json_test.go
  pkg/security/probe/probe.go
  pkg/trace/api/api_test.go
  pkg/util/clusteragent/clcrunner_test.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/clusteragent/clusterchecks_test.go
  pkg/util/clusteragent/endpointschecks_test.go
  pkg/util/ecs/metadata/detection_test.go
  pkg/util/ecs/metadata/v1/client_test.go
  pkg/util/ecs/metadata/v2/client_test.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator_test.go
  pkg/util/kubernetes/kubelet/kubelet_test.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
  pkg/util/scrubber/scrubber.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11595 Include `install_info` to `version-history.json`
  pkg/util/version_history.go
  pkg/util/version_history_test.go
  releasenotes/notes/include-install_info-to-version-history-3aa393c42708e46a.yaml
Labels: team/agent-platform

#11599 Updates localbuild script to accommodate the included python zip.
  omnibus/resources/agent/msi/localbuild/README.md
  omnibus/resources/agent/msi/localbuild/parameters.wxi
  omnibus/resources/agent/msi/localbuild/rebuild.bat
Labels: changelog/no-changelog, qa/skip-qa

#11639 Fix unscheduling of template configs.
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/config_poller.go
Labels: team/containers, changelog/no-changelog

#11713 remove non-looping loop
  .golangci.yml
  pkg/logs/client/mock/mock.go
Labels: changelog/no-changelog, qa/skip-qa

#11669 Update buildimages
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#11723 Update buildimages to v7716393-f550d25
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#11666 Create install_info from deb, rpm and dmg packages
  omnibus/package-scripts/agent/postinst
  omnibus/package-scripts/agent/postrm
  omnibus/package-scripts/agent/posttrans
  omnibus/package-scripts/iot-agent/postinst
  omnibus/package-scripts/iot-agent/postrm
  omnibus/package-scripts/iot-agent/posttrans
Labels: changelog/no-changelog, team/agent-platform

#11724 Remove custom linters for pre-commit
  .pre-commit-config.yaml
  tasks/git-hooks/gofmt.py
  tasks/git-hooks/govet.py
  tasks/git-hooks/revive.py
Labels: changelog/no-changelog, qa/skip-qa

#10927 [system-probe] Lookup ipv6 conntrack addresses correctly
  pkg/network/netlink/conntrack.go
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/testutil/conntrack.go
Labels: kind/bug, changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#11717 Only report kprobe stats for current pid
  pkg/ebpf/debugfs.go
Labels: kind/bug, changelog/no-changelog, component/system-probe, qa/skip-qa

#11651 [system-probe] limit http header false positive detections
  pkg/network/ebpf/c/http.h
  pkg/network/http/http_statkeeper.go
  pkg/network/http/model.go
  pkg/network/http/telemetry.go
Labels: changelog/no-changelog, team/networks

#11731 pkg/trace/pb: add documentation comments to span.proto
  pkg/trace/pb/span.proto
Labels: documentation, changelog/no-changelog, team/agent-apm

#11720 [CWS] fix mmap and mprotect secl evaluation
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/tests/mmap_test.go
  pkg/security/tests/mprotect_test.go
Labels: changelog/no-changelog, team/agent-security, bugfix/regression

#11726 [CWS] decouple loglevel in functional tests and enable usage in TestOctogon
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#11619 [CWS] Allow setting debug log tags in both config and CLI
  pkg/security/config/config.go
  pkg/security/module/module.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#11673 [CWS] Fix some kernel fallback offset constants
  pkg/security/probe/constantfetch/fallback.go
Labels: changelog/no-changelog, team/agent-security

#11735 [CWS] fix mmap mprotect SECL evaluation
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/tests/mmap_test.go
  pkg/security/tests/mprotect_test.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/regression

#11728 [CWS] fix discarder erpc race
  pkg/security/probe/discarders.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#11589 Remove YAML Marshal/Unmarshal in AD config poller flow
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/autoconfig_test.go
  pkg/autodiscovery/config_poller.go
  pkg/autodiscovery/integration/config.go
Labels: component/autodiscovery, team/containers, changelog/no-changelog, kind/performance, category/improvement

#11730 Fix MIB resolution in the traps listener
  pkg/snmp/traps/oid_resolver.go
  pkg/snmp/traps/oid_resolver_test.go
Labels: changelog/no-changelog, team/infra-integrations, category/bugfix

#11729 Don't destroy rtloader on shutdown
  cmd/py-launcher/py-launcher.go
  pkg/collector/collector.go
  pkg/collector/embed_nopy.go
  pkg/collector/embed_python.go
  pkg/collector/python/init.go
  releasenotes/notes/shutdown-python-2f0b1137cb6d5560.yaml
Labels: team/agent-core

#11365 add histogram buckets stats in status page, expvars and telemetry
  cmd/agent/gui/views/templates/collectorStatus.tmpl
  cmd/agent/gui/views/templates/generalStatus.tmpl
  cmd/agent/gui/views/templates/singleCheck.tmpl
  pkg/collector/check/stats.go
  pkg/status/templates/collector.tmpl
Labels: team/agent-core, changelog/no-changelog

#11740 [CWS] remove argv0 from the required fields in schema
  pkg/security/tests/schemas/process.json
Labels: changelog/no-changelog, team/agent-security

#11736 Fix MIB resolution in the traps listener (#11730)
  pkg/snmp/traps/oid_resolver.go
  pkg/snmp/traps/oid_resolver_test.go
Labels: changelog/no-changelog, team/infra-integrations, category/bugfix

#11734 Update release.json and Go modules for 6/7.36.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#11644 Better default for snmp traps listener
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/snmp/traps/config.go
  pkg/snmp/traps/config_test.go
  pkg/snmp/traps/constants.go
  releasenotes/notes/Better-defaults-for-the-traps-listener-33a4f16395f810d0.yaml
Labels: team/infra-integrations
