Repository DataDog/datadog-agent, pull requests merged in 2022-12, with the labels that each got.

#13923 usm: Added protocol dispatcher
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/protocols/http-maps.h
  pkg/network/ebpf/c/protocols/http-types.h
  pkg/network/ebpf/c/protocols/https.h
  pkg/network/ebpf/c/protocols/protocol-classification-helpers.h
  pkg/network/ebpf/c/protocols/protocol-dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/protocol-dispatcher-maps.h
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/http/monitor.go
  pkg/network/protocols/http/shared_libraries_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14517 Track EC2 Spot related errors on e2e tests as infra failures
  tasks/libs/pipeline_data.py
  tasks/libs/types.py
  test/e2e/scripts/setup-instance/02-ec2.sh
Labels: changelog/no-changelog, qa/skip-qa, team/opentelemetry

#14537 [CWS] re-enabled self-tests by default
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-security

#14545 Fixed minimum required version for HTTP runtime compilation test
  pkg/network/protocols/http/compile_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14544 Move http encoding ownership to USM
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14551 [CWS] do not register VTCodec on security agent side
  pkg/security/agent/agent.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14527 fix: restricts '.d' gitignore pattern to build artifacts
  .gitignore
Labels: changelog/no-changelog, qa/skip-qa

#14548 Fix flaky test
  pkg/forwarder/worker_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#14554 [gitlab] Do automated releases to staging repositories
  .gitlab/trigger_release.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14540 [pkg/otlp/model] Move NaN metric test to its own file
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/nan_metrics_test.go
Labels: changelog/no-changelog, qa/skip-qa, component/otlp, team/opentelemetry

#14492 Fix usage of v2 API in Cluster Agent in E2E tests + fix everything to be able to run in sandbox
  test/e2e/argo-workflows/cspm-workflow.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/templates/fake-datadog.yaml
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
  test/e2e/argo-workflows/templates/nginx.yaml
  test/e2e/argo-workflows/templates/otlp-test.yaml
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/21-argo-setup.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/run-instance/argo.amd64.sha256sum
  test/e2e/scripts/run-instance/argo.amd64.sha512sum
  test/e2e/scripts/run-instance/argo.arm64.sha256sum
  test/e2e/scripts/run-instance/argo.arm64.sha512sum
  test/e2e/scripts/run-instance/kind-cluster.yaml
  test/e2e/scripts/setup-instance/.gitignore
  test/e2e/scripts/setup-instance/00-entrypoint-dev.sh
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
Labels: team/containers, changelog/no-changelog

#14502 Add "View Log" button to fatal error dialog
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstallerUI.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Dialogs.cs
  tools/windows/DatadogAgentInstaller/WixSetup/dialogs/fatalError.wxi
  tools/windows/DatadogAgentInstaller/WixSetup/localization-en-us.wxl
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#14556 [CSPM] fix exponential backoff init
  pkg/compliance/agent/node_labels.go
Labels: changelog/no-changelog, team/agent-security

#14536 [orchestration] detect unified service tags for the orchestrator-explorer
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/deployment_test.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/ust.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/ust_test.go
  releasenotes-dca/notes/collect-ust-orchestrator-1a298b291713d2b7.yaml
Labels: team/container-app

#13939 Adding BytesRead to LogSource
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/logs/internal/decoder/multiline_handler.go
  pkg/logs/internal/status/info.go
  pkg/logs/internal/tailers/file/tailer.go
  pkg/logs/sources/source.go
  pkg/logs/status/builder.go
  pkg/logs/status/status.go
  pkg/status/templates/logsagent.tmpl
Labels: changelog/no-changelog, team/agent-metrics-logs, 7.41.0-drop

#14577 [release] Update release.json and Go modules for 6/7.41.0-rc.7
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#14579 [process-agent] Refactor version command to use subcommands/fx
  cmd/process-agent/app/subcommands/subcommands.go
  cmd/process-agent/app/subcommands/version/version.go
  cmd/process-agent/app/version.go
  cmd/process-agent/app/version_test.go
  cmd/process-agent/main_common.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#14541 [orchestration] Add Pod Start and Schedule
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
  releasenotes/notes/PodStartSchedule-1bf8b53bf8e79f9c.yaml
Labels: team/container-app

#14205 Amit.slavin/usmo 15 filter http2 header frames
  pkg/network/ebpf/c/protocols/http2.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14499 pkg/trace/api: prioritize service name from span local "peer.service"
  .github/CODEOWNERS
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/apm-otlp-fix-service-precedence-916d72f88d1a2a52.yaml
Labels: team/opentelemetry

#14576 Fix self reader in case /host/sys is mounted in the Agent container
  pkg/util/cgroups/self_reader.go
  pkg/util/cgroups/self_reader_test.go
  pkg/util/cgroups/testdata/self-reader-cgroupv1/mounts
  pkg/util/cgroups/testdata/self-reader-cgroupv2/mounts
  pkg/util/cgroups/testdata/self-reader/self/cgroup
Labels: team/containers, changelog/no-changelog, category/bugfix

#14569 Add an option to force the Agent to trust hostname value retrieved from non-root UTS namespaces
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/hostname/os_hostname_linux.go
  releasenotes/notes/add-trust-uts-option-9ce336359bde636a.yaml
Labels: team/containers, component/tagger, category/improvement

#14367 Replace timestamp by increasing id to avoid configVersion matching different config changed in the same second
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/stores.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#14574 [snmp] Retry on scalar Null value
  pkg/collector/corechecks/snmp/internal/fetch/fetch_scalar.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#14535 [workloadmeta] Add ContainerImageMetadata Kind
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/workloadmeta/dump.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#14488 stop sending yaml if orchestrator manifest collection is enabled
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
Labels: changelog/no-changelog, team/container-app

#14443 Emit ebpf helper telemetry as prometheus metrics
  cmd/system-probe/app/run.go
  cmd/system-probe/config/config.go
  pkg/config/system_probe.go
  pkg/network/telemetry/ebpf_telemetry.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform

#14570 Remove unused macros
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/c/bpf_telemetry.h
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14583 usm: gotls: performance improvement
  pkg/network/go/bininspect/dwarf.go
  pkg/network/go/bininspect/newproc.go
  pkg/network/go/bininspect/symbols.go
  pkg/network/go/bininspect/types.go
  pkg/network/go/bininspect/utils.go
  pkg/util/common/common.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14584 [dogstatsd] origin telemetry can be enabled without having to enable the DSD debug mode
  pkg/config/config.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#14571 [CWS][SEC-5583] migrate more security agent commands to fx
  cmd/security-agent/app/app.go
  cmd/security-agent/app/metrics.go
  cmd/security-agent/app/start.go
  cmd/security-agent/app/subcommands/compliance/command.go
  cmd/security-agent/app/subcommands/compliance/compliance.go
  cmd/security-agent/app/subcommands/config/config.go
  cmd/security-agent/app/subcommands/config/config_unsupported.go
  cmd/security-agent/app/subcommands/flare/command.go
  cmd/security-agent/app/subcommands/runtime/activity_dump.go
  cmd/security-agent/app/subcommands/runtime/command.go
  cmd/security-agent/app/subcommands/runtime/command_unsupported.go
  cmd/security-agent/app/subcommands/version/command.go
  cmd/security-agent/app/version.go
Labels: changelog/no-changelog, team/agent-security

#14106 [CWS] common parser for all rules
  pkg/security/probe/discarders_test.go
  pkg/security/secl/compiler/ast/secl.go
  pkg/security/secl/compiler/ast/secl_test.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/macro.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/compiler/secl.go
  pkg/security/secl/compiler/secl_test.go
  pkg/security/secl/rules/rule_filters.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, team/agent-security

#14459 [CWS] bump nikos to v1.10.0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14594 Reset prometheus registry on tracer close
  pkg/network/telemetry/ebpf_telemetry.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14566 [process-agent] Log an error when `hidepid=invisible` is set
  cmd/agent/common/misconfig/mounts.go
  cmd/agent/common/misconfig/mounts_test.go
  cmd/agent/common/misconfig/tests/proc-mounts-hidepid-invisible
  cmd/agent/common/misconfig/tests/proc-mounts-hidepid-invisible-groups
  releasenotes/notes/hidepid-invisible-235607d4fbfe25f9.yaml
Labels: team/processes

#14596 [CWS] fix cli params commands
  cmd/security-agent/app/subcommands/compliance/command.go
  cmd/security-agent/app/subcommands/flare/command.go
  cmd/security-agent/app/subcommands/runtime/activity_dump.go
  cmd/security-agent/app/subcommands/runtime/command.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14555 Use netip directly in appsec serverless
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/serverless/appsec/httpsec/ip.go
  pkg/serverless/appsec/httpsec/ip_default.go
  pkg/serverless/appsec/httpsec/tags.go
  pkg/serverless/appsec/httpsec/tags_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-appsec

#14582 protocol-classification: Improving classification according to the RFC
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/protocols/http2.h
  pkg/network/ebpf/c/protocols/protocol-classification-helpers.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14614 [CWS] disable logs for check policy CLI cmd
  cmd/security-agent/app/subcommands/runtime/command.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14595 [CWS] Add syscall tester dep file to gitignore
  .gitignore
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14611 Fix `Run Go Mod Tidy And Generate Licenses` workflow
  .github/workflows/go_mod_tidy.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14496 [USM] gotls: hook already runnning processes
  pkg/network/protocols/http/ebpf_gotls.go
  pkg/network/testutil/cmd.go
  pkg/network/tracer/testutil/gotls_client/gotls_client.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, team/usm

#14618 [CWS] disable logger for policy eval
  cmd/security-agent/app/subcommands/runtime/command.go
Labels: changelog/no-changelog, team/agent-security

#14619 [CSPM] disable e2e CSPM aggregate hacks
  test/e2e/cws-tests/tests/test_e2e_cspm_docker.py
  test/e2e/cws-tests/tests/test_e2e_cspm_kubernetes.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14289 pkg/trace/metrics/timing: wait longer on windows
  pkg/trace/metrics/timing/timing_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#14578 Update the default FIPS proxy port
  cmd/agent/install_script.sh
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-shared-components

#14157 Mock `util.Fqdn` to make CF host alias tests less flakey
  pkg/util/cloudproviders/cloudfoundry/cloudfoundry_test.go
Labels: changelog/no-changelog, team/platform-integrations

#14483 fix(k8s-events): always attach Node's events to a host
  pkg/collector/corechecks/cluster/kubernetesapiserver/events_common.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/events_common_test.go
  releasenotes/notes/fix-k8s-event-mapping-to-node-80040486cf46fa18.yaml
Labels: team/containers, category/bugfix

#14627 CODEOWNERS: adding usm and npm to be responsible for contrack.go, tracer.go and http.go
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14626 [CWS] fix rate limiter
  pkg/security/module/rate_limiter.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14623 security-agent: flush logs at ends of command run for consistent output
  cmd/security-agent/app/app.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14586 pkg/{otlp,trace}: introduce APM stats consumer
  pkg/otlp/internal/serializerexporter/consumer.go
  pkg/otlp/internal/serializerexporter/consumer_test.go
  pkg/otlp/internal/serializerexporter/exporter.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  pkg/otlp/model/translator/consumer.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/sketches_test.go
  pkg/otlp/model/translator/statspayload.go
  pkg/otlp/model/translator/statspayload_test.go
  pkg/otlp/model/translator/testhelper_test.go
  pkg/trace/agent/agent.go
  pkg/trace/api/api.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/apm-otlp-support-datadogprocessor-384b9c0c3130289f.yaml
Labels: team/opentelemetry

#14526 [system-probe][NET-2876] add metric for tcp failed connects
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/tracer-telemetry.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#14244 [Cherry-pick] update changelog 7.40.1 (#14243)
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations

#14636 [CWS] fix rate limiter init when applying ruleset
  pkg/security/module/rate_limiter.go
Labels: changelog/no-changelog, team/agent-security

#13481 [CWS] Detect fileless execution
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/overlayfs.h
  pkg/security/probe/model.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/resolvers/dentry_resolver.go
  pkg/security/secl/model/model.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
  pkg/security/tests/syscall_tester.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
  releasenotes/notes/fileless-process-execution-8dadfb42a059be0f.yaml
Labels: changelog/no-changelog, team/agent-security

#14376 [serverless][SLS-2709][SLS-2712] Implement secure random inferred span IDs and new tag for enhanced metrics
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/serverless.go
  pkg/serverless/tags/tags.go
  pkg/serverless/tags/tags_test.go
  pkg/serverless/trace/cold_start_span_creator.go
  pkg/serverless/trace/inferredspan/inferred_span.go
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/error-python
  test/integration/serverless/snapshots/log-node
  test/integration/serverless/snapshots/metric-csharp
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/metric-python
Labels: changelog/no-changelog, team/serverless

#14593 Revert sampling priority metric accidental deletion
  pkg/trace/sampler/prioritysampler.go
Labels: changelog/no-changelog, team/agent-apm

#14225 [CWS][SEC-5905][SEC-6242] Add several new activity dump functional tests
  .gitlab/functional_test/security_agent.yml
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/tests/activity_dumps_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/module_tester.go
  test/kitchen/test/integration/security-agent-test/rspec/security-agent-test_spec.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14648 Bump Golang version to 1.18.9
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/go-1.18.9-3e413f5554edc84e.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#13849 [CWS] Add discarders stress tests
  pkg/security/probe/probe.go
  pkg/security/tests/discarders_stress_test.go
  pkg/security/tests/files_generator.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14639 pkg/ofbfuscate: allow dollar sign in SQL identifiers
  pkg/obfuscate/sql_test.go
  pkg/obfuscate/sql_tokenizer.go
  releasenotes/notes/sql-identifier-dollar-sign-4a2c61f45138e621.yaml
Labels: team/agent-apm, bugfix/functional

#14491 [SNMP] - Parse snmp config from the snmp_listener
  pkg/snmp/snmpparse/config_snmp.go
  pkg/snmp/snmpparse/config_snmp_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#14646 Add LoaderError to CO-RE telemetry
  go.mod
  go.sum
  pkg/ebpf/co_re.go
  pkg/ebpf/co_re_telemetry.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14654 Fix Configure() signature for some macOS files
  pkg/collector/corechecks/embed/apm.go
  pkg/collector/corechecks/embed/process_agent.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#14645 [github] Fix CODEOWNERS for core checks on Windows
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14630 Reduce PDH overhead in go core checks
  pkg/collector/corechecks/system/cpu/cpu_windows.go
  pkg/collector/corechecks/system/disk/iostats_pdh_windows.go
  pkg/collector/corechecks/system/filehandles/file_handles_windows.go
  pkg/collector/corechecks/system/memory/memory_windows.go
  pkg/collector/corechecks/system/winproc/winproc_windows.go
  pkg/util/winutil/pdhutil/pdhcounter.go
  releasenotes/notes/reduce-pdh-overhead-9e915f2ac9deb085.yaml
Labels: team/windows-agent

#14617 [CWS] retry parent mount
  pkg/security/module/module.go
  pkg/security/module/process_monitor.go
  pkg/security/module/rate_limiter.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/cgroups_monitor.go
  pkg/security/probe/discarders.go
  pkg/security/probe/errors.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/resolvers/cgroups_resolver.go
  pkg/security/probe/resolvers/mount_resolver.go
  pkg/security/probe/resolvers/mount_resolver_test.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/model.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#14640 [Serverless] Fix flaky test: do not attempt to close response body if it is nil.
  pkg/serverless/daemon/daemon_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#14082 [RCM] Update expiration date in pregenerated TUF validation tests
  pkg/remoteconfig/state/go.mod
  pkg/remoteconfig/state/repository_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/remote-config, 7.41.0-drop

#14667 [datadog-agent] Update agent-payload version to v5.0.45 in datadog-agent
  go.mod
  go.sum
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#14643 pkg/trace/filters: write an error when regex compile error
  pkg/trace/filters/blacklister.go
Labels: changelog/no-changelog, team/agent-apm

#14628 [process-agent] Allow using secret backends in Process Agent on Windows
  pkg/secrets/check_rights_nix_test.go
  pkg/secrets/check_rights_windows.go
  pkg/secrets/check_rights_windows_test.go
  pkg/secrets/exec_nix.go
  pkg/secrets/exec_windows.go
  pkg/secrets/fetch_secret.go
  pkg/secrets/fetch_secret_test.go
  releasenotes/notes/process-agent-on-win-secret-backend-a2f4668bc6bc07dc.yaml
  tasks/process_agent.py
Labels: kind/enhancement, team/processes, category/improvement

#14652 feat(dockerfile): Add base image labels
  Dockerfiles/agent/amd64/Dockerfile
  Dockerfiles/agent/arm64/Dockerfile
  Dockerfiles/agent/windows/amd64/Dockerfile
  Dockerfiles/cluster-agent/amd64/Dockerfile
  Dockerfiles/cluster-agent/arm64/Dockerfile
  Dockerfiles/dogstatsd/alpine/amd64/Dockerfile
  Dockerfiles/dogstatsd/alpine/arm64/Dockerfile
Labels: team/containers, changelog/no-changelog

#14560 Make BundleParams.DefaultConfPath mandatory
  cmd/dogstatsd/main.go
  cmd/security-agent/app/subcommands/flare/command.go
  cmd/security-agent/app/subcommands/status/command.go
  cmd/security-agent/app/subcommands/version/command.go
  comp/core/bundle_params.go
  comp/core/config/config.go
  comp/core/config/setup.go
  comp/core/internal/params.go
Labels: changelog/no-changelog, team/agent-security, team/agent-shared-components

#14327 Add `annotations_as_tags` parameter to kubernetes_state_core check
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/kubestatemetrics/builder/builder.go
  releasenotes/notes/ksm_annotations_as_tags-3d8bdbb8daf0f736.yaml
Labels: team/containers, component/kubernetes_state_core

#14482 [workloadmeta] Add remote mode
  cmd/process-agent/app/check.go
  cmd/process-agent/main_common.go
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/config/config_test.go
  pkg/proto/utils/workloadmeta.go
  pkg/proto/utils/workloadmeta_test.go
  pkg/workloadmeta/collectors.go
  pkg/workloadmeta/collectors/collectors.go
  pkg/workloadmeta/collectors/internal/remoteworkloadmeta/remoteworkloadmeta.go
  pkg/workloadmeta/server/server.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/telemetry/telemetry.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog, team/processes

#14670 Kacper murzyn/7.41.0 final
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  releasenotes/notes/prelude-release-7.41.0-d6b94240100924bc.yaml
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#14655 [gitlab] Add team slack channel name to CI JUnit uploads
  tasks/libs/junit_upload.py
  tasks/libs/pipeline_notifications.py
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14672 Kacper murzyn/7.40.1 changelog backport
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#14657 Upgrade to JMXFetch 0.47.2
  release.json
  releasenotes/notes/jmxfetch-0.47.2-c8211399517e021f.yaml
Labels: team/agent-metrics-logs

#14653 [windows] Make go version check optional in build script
  .gitlab/package_build/windows.yml
  tasks/winbuildscripts/dobuild.bat
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14486 [CWS][SEC-6252] remote workloadmeta in security agent
  cmd/security-agent/app/app.go
  pkg/config/config.go
  test/e2e/cws-tests/tests/lib/config.py
Labels: changelog/no-changelog, team/agent-security

#14674 [security-agent] Use `core.CreateBundleParams` instead of struct literal
  cmd/security-agent/app/subcommands/check/command.go
  cmd/security-agent/app/subcommands/compliance/command.go
  cmd/security-agent/app/subcommands/runtime/activity_dump.go
  cmd/security-agent/app/subcommands/runtime/command.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14660 Fix kernel header download & CO-RE telemetry
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, team/ebpf-platform

#14666 [RCM] Include TUF versions in error when config repo updates fail
  pkg/config/remote/uptane/client.go
Labels: changelog/no-changelog, team/remote-config, category/improvement

#13581 pkg/trace/api: update info endpoint test to check only keys.
  pkg/trace/api/info_test.go
Labels: changelog/no-changelog, team/agent-apm, 7.41.0-drop

#14663 Remove reference to windows_counter_refresh_interval configuration from config template
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/winutil/pdhutil/pdhhelper.go
Labels: changelog/no-changelog, qa/skip-qa

#14642 Add windows_counter_init_failure_limit option
  pkg/config/config.go
  pkg/util/winutil/pdhutil/pdhcounter.go
  releasenotes/notes/limit-pdh-init-failures-a4918705f55936fd.yaml
Labels: team/windows-agent

#14651 [gitlab] Make macOS build and deploy steps mandatory
  .gitlab/deploy_7/nix.yml
  .gitlab/package_build/dmg.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14616 Hide coverage details by default in inv test output
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#13389 pkg/config/config_template: DD_APM_IGNORE_RESOURCES is comma separated
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, 7.40.0-drop, 7.41.0-drop

#14276 (RCM-539) Add RC service and client to cluster-agent
  cmd/agent/api/grpc.go
  cmd/cluster-agent/app/app.go
  cmd/trace-agent/config/config.go
  pkg/config/remote/client.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/security/rconfig/rconfig.go
Labels: changelog/no-changelog, team/remote-config

#14309 Include 3rd-party licenses in the Agent package
  omnibus/config/projects/agent.rb
Labels: changelog/no-changelog, team/agent-platform

#14679 [CWS/CSPM] bump security agent policies to v0.42.0
  release.json
Labels: changelog/no-changelog, team/agent-security

#14637 pkg/trace: Support for dynamic sampling rates and rare sampler in AgentPayloads
  cmd/trace-agent/test/testsuite/traces_test.go
  pkg/trace/agent/agent.go
  pkg/trace/pb/agent_payload.pb.go
  pkg/trace/pb/agent_payload.proto
  pkg/trace/pb/span.pb.go
  pkg/trace/pb/tracer_payload.pb.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/rare_sampler.go
  pkg/trace/sampler/scoresampler.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
Labels: changelog/no-changelog, team/agent-apm

#14681 (rcm) scrub RC key
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
Labels: changelog/no-changelog, team/remote-config

#14151 [CWS][SEC-95] Export mount events
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/api/api.pb.go
  pkg/security/api/api_grpc.pb.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/dentry.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/mount.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/probes/const.go
  pkg/security/ebpf/probes/dentry.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/mount.go
  pkg/security/probe/accessors.go
  pkg/security/probe/fields_resolver.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/resolvers/mount_resolver.go
  pkg/security/probe/resolvers/mount_resolver_test.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/cmdwrapper.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/mount.schema.json
  pkg/security/tests/testdrive.go
  pkg/security/tests/testmount.go
  releasenotes/notes/cws-mount-event-1ccc3c4e86a27143.yaml
Labels: team/agent-security

#14656 pkg/trace/remoteconfighandler: Improve debug log
  pkg/trace/go.mod
  pkg/trace/remoteconfighandler/remote_config_handler.go
Labels: changelog/no-changelog, team/agent-apm

#14683 [RCM] Use the initial config root when calculating local cache key
  pkg/config/remote/service/service.go
Labels: changelog/no-changelog, team/remote-config

#14542 [system-probe] Use stat cookie as key for stored client state connections
  cmd/system-probe/modules/network_tracer_test.go
  pkg/network/encoding/encoding_test.go
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/event_windows.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#14678 fix(ad): prometheus endpoints config check
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/autodiscovery/providers/prometheus_services_test.go
  releasenotes/notes/fix-ad-prometheus-scrape-config-8c99b1cd6a4b1fae.yaml
Labels: component/autodiscovery, team/containers, category/bugfix

#14676 [CWS] fix fork/child cgroups release
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers/cgroups_resolver.go
  pkg/security/probe/resolvers/mount_resolver.go
  pkg/security/probe/resolvers/mount_resolver_test.go
Labels: changelog/no-changelog, team/agent-security

#14686 [datadog-agent] Bump agent-payload version to v5.0.46
  go.mod
  go.sum
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#14684 Add custom service extraction support for java processes
  pkg/process/metadata/parser/service.go
  pkg/process/metadata/parser/service_test.go
  pkg/process/metadata/parser/service_windows_test.go
Labels: changelog/no-changelog, team/processes

#14690 usm: kafka: Disable load on unsupported kernels
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14692 fix module dependency between `pkg/otlp/model` and `pkg/trace`
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/opentelemetry

#14694 tasks: system-probe: backproted version from main
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14696 [release] Update release.json and Go modules for 6/7.42.0-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#14697 Fix kafka runtime compilation
  .gitlab/binary_build/system_probe.yml
  .gitlab/internal_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/source_test/ebpf.yml
  omnibus/config/software/system-probe.rb
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14699 kafka: Fixed missing total hits
  pkg/network/kafka/telemetry.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14701 [CWS] fix span test, avoid conflict with the touch command
  pkg/security/tests/span_test.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#14675 7.41.0 CHANGELOG
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#14709 [CSPM] Remove unused prepared rego queries
  pkg/compliance/rego/rego_check.go
Labels: kind/bug, changelog/no-changelog, team/agent-security, category/bugfix, bugfix/performance

#14680 [RCM] fix(method): Use POST method to comply with GCP LB
  pkg/config/remote/api/http.go
Labels: kind/bug, changelog/no-changelog, qa/skip-qa, team/remote-config, category/bugfix, bugfix/functional

#14732 [gitlab] Update MSI RC urls for Choco and Winget
  tasks/winbuildscripts/Generate-Chocolatey-Package.ps1
  tasks/winbuildscripts/Update-Winget.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#14693 [backport][CSPM] fix exponential backoff init (#14556)
  pkg/compliance/agent/node_labels.go
Labels: kind/bug, changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#14703 pkg/otlp/model/translator: fix flakey test
  pkg/otlp/model/translator/statspayload_test.go
Labels: changelog/no-changelog, team/opentelemetry

#14730 Fix security docs links
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/backend.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/agent-security, team/documentation, category/release_operations

#14735 [release] Update release.json and Go modules for 6/7.42.0-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#14738 kafka: harden produce parsing
  pkg/ebpf/bytecode/runtime/kafka.go
  pkg/network/ebpf/c/kafka/kafka-helpers.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14707 kafka: split structs to spare 320 bytes for every kafka transcation o…
  pkg/ebpf/bytecode/runtime/kafka.go
  pkg/network/ebpf/c/kafka/kafka-helpers.h
  pkg/network/ebpf/c/kafka/kafka-types.h
  pkg/network/ebpf/c/kafka/kafka.h
  pkg/network/ebpf/c/prebuilt/kafka.c
  pkg/network/ebpf/c/runtime/kafka.c
  pkg/network/kafka/kafka_types.go
  pkg/network/kafka/kafka_types_linux.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14650 feat(kube-events): use cluster-tagger in event collection
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/unbundled_events.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/unbundled_events_test.go
  releasenotes/notes/add-cluster-tagger-in-k8s-events-collection-a3dd165ce93a7114.yaml
Labels: team/containers, 7.42.0-drop

#14742 [process-agent] Fix secrets build flag omission in process-agent
  tasks/process_agent.py
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix, bugfix/functional

#14737 [corechecks/snmp] Fix bug for experimental Detect Metrics feature
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/test/detectmetr.d/snmp.d/profiles/_abstract.yaml
  pkg/collector/corechecks/snmp/internal/test/detectmetr.d/snmp.d/profiles/_base.yaml
  pkg/collector/corechecks/snmp/internal/test/detectmetr.d/snmp.d/profiles/_generic-if.yaml
  pkg/collector/corechecks/snmp/internal/test/detectmetr.d/snmp.d/profiles/another_profile.yaml
  pkg/collector/corechecks/snmp/internal/test/detectmetr.d/snmp.d/profiles/f5-big-ip.yaml
Labels: kind/bug, changelog/no-changelog, team/network-device-monitoring, category/bugfix, bugfix/functional

#14741 Backport: Add missing telemetry to CollectorConnections payload
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, team/ebpf-platform

#14755 [Serverless] change account
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/serverless_test.go
  pkg/serverless/trace/inferredspan/span_enrichment_test.go
  pkg/serverless/trace/testdata/event_samples/api-gateway-non-proxy-async.json
  pkg/serverless/trace/testdata/event_samples/api-gateway-non-proxy.json
  pkg/serverless/trace/testdata/event_samples/eventbridge-custom.json
  pkg/serverless/trace/testdata/event_samples/http-api.json
  pkg/serverless/trace/testdata/event_samples/kinesis-batch.json
  pkg/serverless/trace/testdata/event_samples/kinesis.json
  pkg/serverless/trace/testdata/event_samples/sns-batch.json
  pkg/serverless/trace/testdata/event_samples/sns.json
  pkg/serverless/trace/testdata/event_samples/snssqs.json
  pkg/serverless/trace/testdata/event_samples/sqs-batch.json
  pkg/serverless/trace/testdata/event_samples/sqs.json
  pkg/serverless/trigger/testData/eventbridge-custom.json
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/appsec-csharp
  test/integration/serverless/snapshots/appsec-java
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/error-python
  test/integration/serverless/snapshots/log-csharp
  test/integration/serverless/snapshots/log-go
  test/integration/serverless/snapshots/log-java
  test/integration/serverless/snapshots/log-node
  test/integration/serverless/snapshots/log-proxy
  test/integration/serverless/snapshots/log-python
  test/integration/serverless/snapshots/metric-csharp
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/metric-python
  test/integration/serverless/snapshots/trace-csharp
  test/integration/serverless/snapshots/trace-go
  test/integration/serverless/snapshots/trace-java
  test/integration/serverless/snapshots/trace-node
  test/integration/serverless/snapshots/trace-python
Labels: changelog/no-changelog, team/serverless

#14753 [CWS] Truncate empty envs
  pkg/security/probe/process_resolver.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#14766 [CWS] reduce abnormal path event
  pkg/security/module/rate_limiter.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#14758 Do not discover unstable collectors
  pkg/collector/corechecks/cluster/orchestrator/discovery/collector_discovery.go
Labels: changelog/no-changelog, component/cluster-agent, team/container-app, category/bugfix, bugfix/functional

#14769 [pkg/trace][otlp] do not mark payloads to avoid races
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
Labels: changelog/no-changelog, category/bugfix, component/otlp, bugfix/functional, team/opentelemetry

#14729 Fix cpu check in Windows containers
  pkg/collector/corechecks/system/cpu/cpu_windows.go
  pkg/collector/corechecks/system/cpu/cpu_windows_test.go
  pkg/process/procutil/process_windows.go
  pkg/util/winutil/pdhutil/pdh.go
  pkg/util/winutil/pdhutil/pdhcounter.go
Labels: changelog/no-changelog, category/bugfix, bugfix/functional, team/windows-agent

#14765 [secrets] Fix config permissions check for Linux and macOS hosts
  pkg/secrets/check_rights_nix.go
  pkg/secrets/check_rights_nix_test.go
  releasenotes/notes/secret_backend_command_sha256-b322140f976f02e1.yaml
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix, bugfix/functional

#14767 usm: protocol dispatcher: Ignoring ACK packets
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/protocols/protocol-dispatcher-helpers.h
  pkg/network/ebpf/c/tracer.h
Labels: changelog/no-changelog, category/bugfix, bugfix/functional, team/usm

#14775 [release] Update release.json and Go modules for 6/7.41.1-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#14774 [CWS] fix checks for iterators
  pkg/security/probe/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/model/accessors.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#14664 Aj/buffer cold start span data
  cmd/serverless-init/main.go
  cmd/serverless/main.go
  pkg/serverless/daemon/daemon.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/daemon/routes.go
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/invocationlifecycle/invocation_details.go
  pkg/serverless/logs/logs_collector.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/trace/cold_start_span_creator.go
  pkg/serverless/trace/cold_start_span_creator_test.go
  pkg/serverless/trace/span_modifier.go
  pkg/serverless/trace/trace.go
  pkg/serverless/trace/trace_test.go
  test/integration/serverless/snapshots/log-proxy
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-python
  test/integration/serverless/snapshots/trace-csharp
  test/integration/serverless/snapshots/trace-go
  test/integration/serverless/snapshots/trace-java
  test/integration/serverless/snapshots/trace-node
  test/integration/serverless/snapshots/trace-python
Labels: changelog/no-changelog, team/serverless

#14771 [process-agent] Change the tag emitted by the process based service inference
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
  pkg/process/metadata/parser/service.go
  pkg/process/metadata/parser/service_test.go
  pkg/process/metadata/parser/service_windows_test.go
  releasenotes/notes/process-agent-service-tag-extraction-3fb97205155ed1a4.yaml
Labels: team/processes, category/bugfix, bugfix/functional, team/usm

#14781 [release] Update release.json and Go modules for 6/7.42.0-rc.3
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#14787 kafka: Minimized the allocated buffers for kafka perf events
  pkg/network/kafka/ebpf_main.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14746 [fargate] Make hostname resolution more reliable
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  pkg/autodiscovery/providers/config_reader.go
  pkg/config/environment.go
  pkg/dogstatsd/server_test.go
  pkg/network/tracer/tracer_test.go
  pkg/otlp/internal/serializerexporter/exporter_test.go
  pkg/otlp/internal/serializerexporter/factory_test.go
  pkg/process/config/config.go
  pkg/util/fargate/detection.go
  pkg/util/fargate/hostname_process.go
  pkg/util/hostname/common.go
  pkg/util/hostname/common_test.go
  pkg/util/hostname/providers_test.go
  pkg/util/kernel/fs.go
  pkg/util/static_tags.go
  pkg/util/static_tags_test.go
  releasenotes/notes/improve-ecs-fargate-hostname-detection-0a468e1c3a53b3df.yaml
Labels: team/containers, category/bugfix, bugfix/functional

#14745 7.41.0 CHANGELOG (#14675)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#14795 [omnibus] upgrade Python3 to `3.8.16`.
  omnibus/config/software/python3.rb
  releasenotes/notes/update-python-3-8-16-63368caf05939bfa.yaml
Labels: team/agent-metrics-logs

#14750 [CSPM] respect verbose on compliance check cli cmd
  cmd/security-agent/app/subcommands/check/command.go
Labels: changelog/no-changelog, team/agent-security

#14789 CODEOWNERS: splitting files so USM can own its own files
  .github/CODEOWNERS
  pkg/network/encoding/format_test.go
  pkg/network/encoding/format_usm_test.go
  pkg/network/event_common.go
  pkg/network/event_usm_common.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14705 config: test: Removed duplicated test
  pkg/network/config/config_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14589 Running dockers in the kitchen test
  .gitlab/JOBOWNERS
  .gitlab/functional_test/system_probe.yml
  pkg/network/protocols/dockers/dockers_test.go
  pkg/network/protocols/dockers/testdata/docker-compose.yml
  tasks/system_probe.py
  test/kitchen/drivers/azure-driver.yml
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/site-cookbooks/dd-system-probe-check/metadata.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/docker_installation.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/linux.rb
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14708 [CWS] Add tests for activity dump processes content
  pkg/security/probe/activity_dump_proto_dec_v1.go
  pkg/security/tests/activity_dumps_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14698 [CWS][SEC-6336] Add two checks to drop nodes with abnormal paths in activity dumps
  pkg/security/probe/activity_dump.go
Labels: changelog/no-changelog, team/agent-security

#14793 [gitlab] Repack macOS JUnit tarball to include correct name and job URL
  .gitlab/source_test/macos.yml
  tasks/__init__.py
  tasks/libs/junit_upload.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa
