Repository DataDog/datadog-agent, pull requests merged in 2022-10, with the labels that each got.

#13582 Fix system-probe.test command to use correct go binary
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#13681 7.40: [workloadmeta] Extract EntityMeta in kubemetadata #13678
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata.go
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/performance

#13678 [workloadmeta] Extract EntityMeta in kubemetadata
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata.go
  pkg/workloadmeta/collectors/internal/kubemetadata/kubemetadata_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/performance

#13691 [RCM] Rename execute predicate function
  pkg/config/remote/service/service.go
  pkg/config/remote/service/tracer_predicates.go
  pkg/config/remote/service/tracer_predicates_test.go
Labels: changelog/no-changelog, component/config, team/remote-config

#13682 system-probe: ebpf tests common
  .gitlab-ci.yml
  .gitlab/source_test/ebpf.yml
Labels: changelog/no-changelog, team/networks, qa/skip-qa, team/agent-security

#13651 [CWS] remove pid discarders for events
  pkg/security/probe/discarders.go
  pkg/security/tests/filters_test.go
Labels: kind/enhancement, changelog/no-changelog, team/agent-security

#13604 Fixed Goland remote debugging issue with the environment variables
  .run/Build agent.run.xml
  .run/Build process-agent.run.xml
  .run/Build system-probe.run.xml
  .run/Run agent.run.xml
  .run/Run process-agent.run.xml
  .run/Run system-probe.run.xml
  .run/bash_runner.sh
  .run/run.sh
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#13697 Fix dropped point telemetry
  pkg/forwarder/internal/retry/transaction_retry_queue.go
Labels: changelog/no-changelog, category/bugfix, team/agent-metrics-logs, bugfix/functional

#13696 Add system-probe testing for Amazon Linux 2022
  .gitlab/functional_test/system_probe.yml
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/testutil/server.go
  test/kitchen/platforms.json
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/linux.rb
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13702 [WA-91] Normalize windowsevent log tailer EventID field type
  pkg/logs/internal/tailers/windowsevent/tailer.go
  pkg/logs/internal/tailers/windowsevent/tailer_test.go
  releasenotes/notes/normalize-windowsevent-eventid-type-7ecd543601521137.yaml
Labels: team/windows-agent

#13701 Update CODEOWNERS update for networks team re-organization
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  tasks/pipeline.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa, team/usm, team/ebpf-platform, team/windows-kernel-integrations

#13653 [CWS] remove discarder dead code
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/rename.h
  pkg/security/ebpf/probes/all.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
Labels: kind/enhancement, changelog/no-changelog, team/agent-security

#13647 process-agent: Add X-DD-REQUEST-ID header
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
  pkg/process/util/api/headers/headers.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13743 [CWS] fix select probes with event monitor
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/security/config/config.go
  pkg/security/module/module.go
  pkg/security/probe/applier.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#13438 [CWS] add abnormal checks for the functional tests
  pkg/security/metrics/statsd_client.go
  pkg/security/module/module.go
  pkg/security/probe/probe_monitor.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/fields_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/probe_monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13714 pkg/trace/log: clean up superfluous log message on log.Errorf
  pkg/trace/log/logger.go
  releasenotes/notes/apm-log-cleanup-297915706d99eb7b.yaml
Labels: team/agent-apm

#13740 Remove conn_stats_max_entries_hit telemetry counter
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/tracer-telemetry.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13752 [CWS] activity-dumps add missing lock
  pkg/security/probe/activity_dump.go
Labels: changelog/no-changelog, team/agent-security

#13750 [CWS] move docker functional tests to clang 14 + arm support
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#13749 [CWS] remove `unsafe` in `SliceToArray`
  pkg/security/secl/model/unmarshallers.go
  pkg/security/secl/model/utils.go
Labels: changelog/no-changelog, team/agent-security

#13692 [CWS] Tweak CWS network to prevent a race with Cilium
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/ebpf/probes/tc.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#13711 [CWS] remove `+incompatible` dependencies
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/compliance/agent/node_labels.go
  pkg/compliance/checks/helpers.go
  pkg/security/agent/agent.go
  pkg/security/probe/process_resolver_test.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/tests/process_test.go
  pkg/security/tests/testdrive.go
Labels: changelog/no-changelog, team/agent-security

#13760 [CWS] Tweak CWS network to prevent a race with Cilium (backport #13692)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/ebpf/probes/tc.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#13642 [WIP] Adding NoProxyNonexactMatchExplicitlySet to ProxyMeta payload
  pkg/config/config.go
  pkg/metadata/host/host.go
  pkg/metadata/host/payload.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#13689 [gitlab] Send pipeline detailed data to Datadog
  .gitlab-ci.yml
  .gitlab/notify.yml
  tasks/libs/datadog_api.py
  tasks/libs/pipeline_data.py
  tasks/libs/pipeline_notifications.py
  tasks/libs/pipeline_stats.py
  tasks/libs/requirements-notifications.txt
  tasks/libs/requirements-stats.txt
  tasks/libs/types.py
  tasks/pipeline.py
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa

#13763 [CWS] copy []string when encoding/decoding protobufs
  pkg/security/probe/activity_dump_proto_dec_v1.go
  pkg/security/probe/activity_dump_proto_enc_v1.go
Labels: changelog/no-changelog, team/agent-security

#12429 [CSPM] use upstream gopsutil instead of fork
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/builder_test.go
  pkg/compliance/checks/process_check.go
  pkg/compliance/checks/process_check_test.go
  pkg/compliance/checks/process_utils.go
  pkg/compliance/checks/rego_check_input_test.go
  pkg/compliance/checks/rego_check_test.go
Labels: changelog/no-changelog, team/agent-security

#13405 [CWS] improve info extraction reorderer
  pkg/security/probe/model.go
  pkg/security/probe/reorderer.go
  pkg/security/probe/reorderer_test.go
Labels: changelog/no-changelog, team/agent-security

#13587 Fix OOM kill test to not use full system memory
  pkg/collector/corechecks/ebpf/probe/oom_kill_test.go
Labels: changelog/no-changelog, qa/skip-qa

#13489 [CWS] rework reload in test
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#13761 [workloadmeta/store] Don't send initial `set` events if filter type is `EvenTypeUnset`
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  releasenotes/notes/fix-workloadmeta-initial-events-unset-filter-77408d14e2fe5d90.yaml
Labels: team/containers

#13762 [CWS] Tweak CWS network (Backport 7.39)
  go.mod
  go.sum
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/ebpf/probes/tc.go
  pkg/security/probe/probe.go
  releasenotes/notes/runtime-security-veth-tc-91a0a98289242b16.yaml
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#13764 [release] Update release.json and Go modules for 6/7.39.2-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13300 [CWS] improve dd-service computation
  pkg/security/probe/model.go
  pkg/security/probe/model_test.go
Labels: changelog/no-changelog, team/agent-security

#13656 usm: ssl: openssl: Support SSL_read_ex and SSL_write_ex methods
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/http-types.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_ssl.go
  pkg/network/http/shared_libraries_test.go
  pkg/network/http/testutil/pythonserver.go
  pkg/network/http/testutil/testutil.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13713 Fix manifest payload submission
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/config/config.go
  pkg/orchestrator/config/config.go
  pkg/process/config/config.go
  pkg/process/util/api/payload.go
  pkg/serializer/serializer.go
Labels: changelog/no-changelog, team/container-app

#13655 [WIP] Emphasizes the "API Key invalid" in the status and GUI output
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/forwarder/forwarder_health.go
  pkg/forwarder/forwarder_health_test.go
  pkg/status/templates/forwarder.tmpl
Labels: changelog/no-changelog, team/agent-metrics-logs

#13755 [netflow] Increase aggregator buffer size
  pkg/netflow/common/constants.go
  pkg/netflow/config/config_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13782 [snmp] Move NormalizeNamespace to `pkg/snmp`
  pkg/collector/corechecks/snmp/common/utils.go
  pkg/collector/corechecks/snmp/common/utils_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/snmp/traps/config.go
  pkg/snmp/utils/utils.go
  pkg/snmp/utils/utils_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13774 [CSPM] fix expected finding in e2e tests
  test/e2e/cws-tests/tests/test_e2e_cspm_kubernetes.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13776 Backport 13713 to 7.40
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/config/config.go
  pkg/orchestrator/config/config.go
  pkg/process/config/config.go
  pkg/process/util/api/payload.go
  pkg/serializer/serializer.go
Labels: changelog/no-changelog, team/container-app

#13735 [windows] Backport PR for driver 2.0.5 to 7.40
  release.json
Labels: changelog/no-changelog, team/networks

#13770 fix ntp port
  cmd/agent/dist/conf.d/ntp.d/conf.yaml.default
Labels: changelog/no-changelog, qa/skip-qa

#13769 [RCM] Add an unverified repository and client for remote config
  pkg/config/remote/client.go
  pkg/remoteconfig/state/repository.go
  pkg/remoteconfig/state/repository_test.go
  pkg/remoteconfig/state/testingutils_test.go
  pkg/remoteconfig/state/tuf.go
Labels: changelog/no-changelog, team/remote-config, category/feature

#13785 add docstring for PrometheusScrapeChecksTransformer
  pkg/config/config.go
Labels: changelog/no-changelog, qa/skip-qa

#13775 Set `no_output_timeout` to 20m for CircleCI unit test
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#13756 [netflow] Add flows contexts and port rollup telemetry
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/portrollup/portrollup.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13781 [netflow] Normalize namespace for netflow
  pkg/netflow/config/config.go
  pkg/netflow/config/config_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13793 Kacper murzyn/7.39.2 final
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  releasenotes/notes/prelude-release-7.39.2-cddbd0dd8e953d7c.yaml
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#13766 Fix handling of --no-color to apply defaults when not present
  cmd/agent/command/command.go
Labels: changelog/no-changelog, team/agent-shared-components

#13789 Upgrade to go1.18.7
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/go-1.18.7-b65299bb591e3727.yaml
  tools/gdb/Dockerfile
Labels: team/containers, team/agent-apm, team/agent-security, team/serverless, team/agent-appsec

#13703 Save/restore iptables state during tests
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/testutil/iptables.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#13757 [netflow] Refactor ephemeral port rollup to use less mem
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/portrollup/portrollup.go
  pkg/netflow/portrollup/portrollup_test.go
  pkg/netflow/portrollup/portrolluptracker.go
  pkg/netflow/portrollup/portrolluptracker_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13792 [netflow] Avoid tracking ports when it is not needed
  pkg/netflow/portrollup/portrollup.go
  pkg/netflow/portrollup/portrollup_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13796 Upgrade to go1.18.7 (7.40.x)
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/go-1.18.7-b65299bb591e3727.yaml
  tools/gdb/Dockerfile
Labels: team/containers, team/agent-apm, team/agent-security, team/serverless, team/agent-appsec, category/bugfix, bugfix/security

#13577 Update codeowners for Agent Platform-owned system checks
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/windows-agent

#13811 [CWS] remove `newTestModuleWithProfile`
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#13751 [corechecks/containerd] Respect `exclude_pause_container` option when emitting events
  pkg/collector/corechecks/containers/containerd/check.go
  pkg/collector/corechecks/containers/containerd/events.go
  pkg/collector/corechecks/containers/containerd/events_test.go
  releasenotes/notes/containerd-ignore-pause-container-events-10866a6a2fc41c9f.yaml
Labels: team/containers

#13159 [CWS] run functional tests on amazonlinux2022
  .gitlab/functional_test/security_agent.yml
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/tests/constants_test.go
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13806 [netflow] report input buffer length instead of percent_full
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13780 [CWS][SEC-5503] handle exec in threads
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/tests/process_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, team/agent-security

#13808 [netflow] Use RWMutex instead of Mutex
  pkg/netflow/portrollup/portrollup.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13814 [netflow] Add metric and log to detect hash collision
  pkg/netflow/common/flow.go
  pkg/netflow/common/flow_test.go
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/flowaccumulator.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13815 [corechecks/helm] Add missing nil checks in getValue()
  pkg/collector/corechecks/cluster/helm/map_utils.go
  pkg/collector/corechecks/cluster/helm/map_utils_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix

#13821 [backport][corechecks/helm] Add missing nil checks in getValue()
  pkg/collector/corechecks/cluster/helm/map_utils.go
  pkg/collector/corechecks/cluster/helm/map_utils_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix

#13825 [APM] Add v2 of the evp_proxy endpoint
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
Labels: changelog/no-changelog, team/agent-apm

#13794 Re-introduce parent cgroup CPU limit parsing (used on ECS)
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/collector_linux_test.go
  releasenotes/notes/fix-ecs-parent-limit-2bcf000a0e895503.yaml
Labels: team/containers, category/bugfix, bugfix/functional

#13822 [CWS] bump policies
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#13833 Backport: [APM] Add v2 of the evp_proxy endpoint (#13825)
  pkg/trace/api/endpoints.go
  pkg/trace/api/info_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#13826 [7.40] Add changelog note for hostname resolution change
  releasenotes/notes/hostname-detection-container-e12cf0608270c9d4.yaml
Labels: team/containers, qa/skip-qa

#13831 [7.40] Re-introduce parent cgroup CPU limit parsing (used on ECS)
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/collector_linux_test.go
  releasenotes/notes/fix-ecs-parent-limit-2bcf000a0e895503.yaml
Labels: team/containers, qa/skip-qa, category/bugfix, bugfix/functional

#13823 [7.40] Fix entity uniqueness in AD kubecontainer provider
  pkg/autodiscovery/providers/kubecontainer.go
  releasenotes/notes/fix-ad-statefulset-ae77cc549e9a7cd0.yaml
Labels: team/containers, qa/skip-qa, category/bugfix, bugfix/functional

#13169 Add Windows Process Isolation container PID to CID mapping
  pkg/util/containers/metrics/docker/collector.go
  pkg/util/docker/docker_util.go
  releasenotes/notes/windows-docker-process-isolation-containers-606a8e11daea3349.yaml
Labels: team/containers, component/system-probe, team/networks, team/windows-kernel-integrations

#13795 [gitlab] Cover new infra failure type
  tasks/libs/pipeline_data.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#13832 [CWS] bump policies backport
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#13801 Regenerate sample docker manifests
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/agent-services.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-deployment.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-rbac.yaml
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/agent-only/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/agent-services.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-deployment.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-rbac.yaml
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/README.md
  Dockerfiles/manifests/cluster-agent-datadogmetrics/agent-services.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/daemonset.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/kubernetes_state_core/README.md
  Dockerfiles/manifests/kubernetes_state_core/agent-services.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-deployment.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-rbac.yaml
  Dockerfiles/manifests/kubernetes_state_core/daemonset.yaml
  Dockerfiles/manifests/orchestrator-explorer/README.md
  Dockerfiles/manifests/orchestrator-explorer/agent-services.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-deployment.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/daemonset.yaml
  Dockerfiles/manifests/orchestrator-explorer/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/security-agent/README.md
  Dockerfiles/manifests/security-agent/agent-services.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/security-agent/daemonset.yaml
  Dockerfiles/manifests/security-agent/kube-state-metrics-core-rbac.yaml
  Dockerfiles/manifests/security-agent/system-probe-configmap.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#13790 [serverless] Load proxy config from datadog.yaml for metric agent and solve the problem of wrong request ID log
  cmd/serverless/main.go
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
Labels: changelog/no-changelog, team/serverless

#13802 [CODEOWNERS] Add @DataDog/agent-shared-components to `/pkg/forwarder` owners
  .github/CODEOWNERS
Labels: dev/tooling, changelog/no-changelog, severity/minor, qa/skip-qa, team/agent-shared-components

#13700 DOCS-3949 CSM/CWS title updates
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/backend.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/documentation

#13717 Remove support for Android (comp/core changes)
  cmd/agent/subcommands/run/command.go
  comp/core/internal/params.go
  comp/core/internal/params_test.go
Labels: changelog/no-changelog, qa/skip-qa

#13829 monitor: tests: Ensures we capture the correct amount of requests in …
  pkg/network/http/monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#13805 7.39.2 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#13807 pkg/remoteconfig/state: add apply status to configs for RCTE2
  pkg/remoteconfig/state/configs.go
  pkg/remoteconfig/state/repository.go
Labels: changelog/no-changelog, team/remote-config

#13723 Convert tagger-list and workload-list commands to apps
  .github/CODEOWNERS
  cmd/agent/subcommands/taggerlist/command.go
  cmd/agent/subcommands/taggerlist/command_test.go
  cmd/agent/subcommands/workloadlist/command.go
  cmd/agent/subcommands/workloadlist/command_test.go
Labels: team/containers, changelog/no-changelog

#13718 Convert integrations subcommand to an app
  cmd/agent/subcommands/integrations/command.go
  cmd/agent/subcommands/integrations/command_test.go
  cmd/agent/subcommands/integrations/integrations_darwin.go
  cmd/agent/subcommands/integrations/integrations_nix.go
  cmd/agent/subcommands/integrations/integrations_windows.go
Labels: changelog/no-changelog, team/integrations

#13722 Convert jmx subcommand to an app
  cmd/agent/subcommands/check/command.go
  cmd/agent/subcommands/check/setup.go
  cmd/agent/subcommands/jmx/command.go
  cmd/agent/subcommands/jmx/command_test.go
  cmd/cluster-agent/commands/check/check.go
  cmd/cluster-agent/commands/check/setup.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#13720 Convert windows subcommands to apps
  .github/CODEOWNERS
  cmd/agent/subcommands/controlsvc/command.go
  cmd/agent/subcommands/controlsvc/command_test.go
  cmd/agent/subcommands/installsvc/command.go
  cmd/agent/subcommands/installsvc/command_test.go
  cmd/agent/subcommands/removesvc/command.go
  cmd/agent/subcommands/removesvc/command_test.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/windows/controlsvc/controlsvc.go
  cmd/agent/windows/service/service.go
  cmd/systray/doservicecontrol.go
Labels: changelog/no-changelog, team/windows-agent

#13719 Convert remoteconfig subcommand to an app
  cmd/agent/subcommands/remoteconfig/command.go
  cmd/agent/subcommands/remoteconfig/command_test.go
Labels: changelog/no-changelog, team/remote-config

#13848 Fix CODEOWNER for `/test/kitchen/test/integration/` tests
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/networks, team/agent-security

#13797 Fix panic in when a service tailed by the agent is deleted
  pkg/logs/service/services.go
  releasenotes/notes/fix-log-panic-removing-service-b36fee43555852db.yaml
Labels: team/agent-metrics-logs

#13721 Convert dogstatsd and stream-logs commands to apps
  .github/CODEOWNERS
  cmd/agent/subcommands/dogstatsdcapture/command.go
  cmd/agent/subcommands/dogstatsdcapture/command_test.go
  cmd/agent/subcommands/dogstatsdreplay/command.go
  cmd/agent/subcommands/dogstatsdreplay/command_test.go
  cmd/agent/subcommands/dogstatsdstats/command.go
  cmd/agent/subcommands/dogstatsdstats/command_test.go
  cmd/agent/subcommands/streamlogs/command.go
  cmd/agent/subcommands/streamlogs/command_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#13835 [CWS] fix envs truncation resolution
  pkg/security/probe/process_resolver.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#13708 [CWS] change `TestProcessIsThread` trigger from open to mmap event
  pkg/security/tests/process_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: kind/enhancement, changelog/no-changelog, team/agent-security

#13616 [CWS] Tighten vm protection flags tests
  pkg/security/tests/mmap_test.go
  pkg/security/tests/mprotect_test.go
Labels: changelog/no-changelog, team/agent-security

#13725 Convert shared subcommands to apps
  cmd/agent/subcommands/check/command.go
  cmd/agent/subcommands/check/command_test.go
  cmd/agent/subcommands/check/setup.go
  cmd/agent/subcommands/config/command.go
  cmd/agent/subcommands/config/command_test.go
  cmd/agent/subcommands/configcheck/command.go
  cmd/agent/subcommands/configcheck/command_test.go
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/diagnose/command_test.go
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/flare/command_test.go
  cmd/agent/subcommands/health/command.go
  cmd/agent/subcommands/health/command_test.go
  cmd/agent/subcommands/hostname/command.go
  cmd/agent/subcommands/hostname/command_test.go
  cmd/agent/subcommands/import/command.go
  cmd/agent/subcommands/import/command_test.go
  cmd/agent/subcommands/launchgui/command.go
  cmd/agent/subcommands/launchgui/command_test.go
  cmd/agent/subcommands/secret/command.go
  cmd/agent/subcommands/secret/command_test.go
  cmd/agent/subcommands/secrethelper/command.go
  cmd/agent/subcommands/status/command.go
  cmd/agent/subcommands/status/command_test.go
  cmd/agent/subcommands/stop/command.go
  cmd/agent/subcommands/stop/command_test.go
  cmd/agent/subcommands/troubleshooting/command.go
  cmd/agent/subcommands/troubleshooting/command_test.go
  cmd/agent/subcommands/version/command.go
  cmd/agent/subcommands/version/command_test.go
  cmd/cluster-agent/app/secret_helper.go
  cmd/secrethelper/providers/file.go
  cmd/secrethelper/providers/file_test.go
  cmd/secrethelper/providers/k8s_secret.go
  cmd/secrethelper/providers/k8s_secret_test.go
  cmd/secrethelper/secret_helper.go
  cmd/secrethelper/secret_helper_test.go
  cmd/secrethelper/testdata/read-secrets-secret5-target
  cmd/secrethelper/testdata/read-secrets/secret1
  cmd/secrethelper/testdata/read-secrets/secret3
  cmd/secrethelper/testdata/read-secrets/secret4
  cmd/secrethelper/testdata/read-secrets/secret5
  cmd/secrethelper/testdata/read-secrets/secret6
Labels: changelog/no-changelog, team/agent-shared-components

#13856 [Serverless] Small readability updates and other nitpicks.
  cmd/serverless/main.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/logs/testdata/platform_extension.json
  pkg/serverless/logs/testdata/platform_fault.json
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  pkg/serverless/trace/trace.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#13850 Go back to ops main branch for internal deployment
  .gitlab/internal_kubernetes_deploy.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#13353 [system-probe] Go-TLS attach probes
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/go-tls-conn.h
  pkg/network/ebpf/c/go-tls-goid.h
  pkg/network/ebpf/c/go-tls-location.h
  pkg/network/ebpf/c/go-tls-types.h
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/tags-types.h
  pkg/network/ebpf/go_tls_types.go
  pkg/network/ebpf/go_tls_types_linux.go
  pkg/network/go/bininspect/newproc.go
  pkg/network/go/bininspect/types.go
  pkg/network/http/ebpf_gotls.go
  pkg/network/http/ebpf_gotls_helpers.go
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
  pkg/network/http/gotls/lookup/internal/generate_luts.go
  pkg/network/http/http_types.go
  pkg/network/http/http_types_linux.go
  pkg/network/http/shared_libraries_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13845 Remove first and last quotes from BINARY_ARGUMENTS environment variable
  .run/run.sh
Labels: changelog/no-changelog, qa/skip-qa

#13827 Updating gohai
  go.mod
  go.sum
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/host_metadata.go
  pkg/metadata/inventories/host_metadata_test.go
  pkg/metadata/inventories/inventories_test.go
Labels: changelog/no-changelog, team/agent-shared-components, team/windows-agent

#13861 [CWS] remove deprecated use of `::set-output`
  .github/CODEOWNERS
  .github/workflows/cws-btfhub-sync.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13851 Maxime/740 fix panic removing log sources
  pkg/logs/service/services.go
  releasenotes/notes/fix-log-panic-removing-service-b36fee43555852db.yaml
Labels: team/agent-shared-components, team/agent-metrics-logs

#13859 [release] Update release.json and Go modules for 6/7.40.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13866 Adding unit test to service deletion
  pkg/logs/service/services_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, team/agent-metrics-logs

#13779 [SNMP] : Use datadog agent SNMP configuration as options for the integrated snmpwalk
  cmd/agent/subcommands/snmp/command.go
  pkg/snmp/snmpparse/config_snmp.go
  pkg/snmp/snmpparse/config_snmp_test.go
  releasenotes/notes/parse-snmp-configuration-1aaeefbb06d07380.yaml
Labels: component/cmd-agent, kind/feature, team/network-device-monitoring, category/improvement

#13858 fix infinite recursion in windows 'agent stopservice'
  cmd/agent/windows/controlsvc/controlsvc.go
Labels: changelog/no-changelog, qa/skip-qa

#13724 Rework build flags in subcommand
  cmd/agent/subcommands/controlsvc/command_nix.go
  cmd/agent/subcommands/installsvc/command_nix.go
  cmd/agent/subcommands/integrations/command_nopython.go
  cmd/agent/subcommands/jmx/command_nojmx.go
  cmd/agent/subcommands/removesvc/command_nix.go
  cmd/agent/subcommands/secrethelper/command_nosecrets.go
  cmd/agent/subcommands/stop/command_windows.go
  cmd/agent/subcommands/subcommands.go
  cmd/agent/subcommands/subcommands_jmx.go
  cmd/agent/subcommands/subcommands_nopython.go
  cmd/agent/subcommands/subcommands_nosecrets.go
  cmd/agent/subcommands/subcommands_python.go
  cmd/agent/subcommands/subcommands_secrets.go
  cmd/agent/subcommands/subcommands_windows.go
  docs/components/defining-apps.md
Labels: changelog/no-changelog, team/agent-shared-components

#13860 Bump OpenTelemetry Collector dependencies to v0.62.0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/otlp/internal/serializerexporter/exporter_test.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  pkg/otlp/model/internal/testutils/test_utils.go
  pkg/otlp/model/translator/exponential_histograms_translator.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_benchmark_test.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/sketches_test.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/testutil/otlp.go
  releasenotes/notes/v0.62.0-otel-37b59a4a734b30ab.yaml
Labels: qa/skip-qa, team/opentelemetry

#13869 [CWS] use cached filesystem for its resolution
  pkg/security/probe/model.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#13884 [CWS] fix a race during the ad snapshot
  pkg/security/probe/activity_dump.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#13868 Move 'troubleshooting' command to 'diagnose'
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/diagnose/command_test.go
  cmd/agent/subcommands/subcommands.go
  cmd/agent/subcommands/troubleshooting/command.go
  cmd/agent/subcommands/troubleshooting/command_test.go
  releasenotes/notes/deprecate-troubleshooting-command-cbc23c04b7c4f37a.yaml
Labels: team/agent-shared-components

#13768 pkg/trace/agent: Send all non manual user-drop traces go through error sampler, disable rare sampler by default
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  cmd/trace-agent/config/testdata/undocumented.yaml
  cmd/trace-agent/test/testsuite/traces_test.go
  pkg/config/apm.go
  pkg/flare/envvars.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/config/config.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  releasenotes/notes/ErrorSampleMoreSpansDisableRareSamplerDefault-9f07d3643ee26930.yaml
Labels: team/agent-apm

#13846 Downgrade clang to 12.0.1
  .gitlab-ci.yml
  .gitlab/deps_build.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#13881 [backport] config: increase dogstatsd_no_aggregation_pipeline_batch_size default.
  docs/dogstatsd/internals.md
  pkg/config/config.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#13855 [serverless] feat: limit permissions of dd-lambda-extension-cache.json
  pkg/serverless/executioncontext/executioncontext.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#13879 config: increase `dogstatsd_no_aggregation_pipeline_batch_size` default.
  docs/dogstatsd/internals.md
  pkg/config/config.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#13900 [CWS] replace `RWMutex` with `Mutex` in namespace resolver
  pkg/security/probe/namespace_resolver.go
Labels: changelog/no-changelog, team/agent-security

#12945 pkg/trace/watchdog: cleanup memory/CPU tests
  pkg/trace/watchdog/info_test.go
Labels: changelog/no-changelog, team/agent-apm, 7.39.0-drop, 7.40.0-drop

#13897 [CWS] Fix statsd mock and move it back to tests/
  pkg/security/probe/activity_dump_manager_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/statsd_client.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13892 Fix parent limit was not working in all combination of CPUSets/Limits
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/collector_linux_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional

#13903 [release] Update release.json and Go modules for 6/7.40.0-rc.6
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13874 [Logs - Journald] Allow multiple tailers on the same Journal
  pkg/logs/config/integration_config.go
  pkg/logs/internal/launchers/journald/launcher.go
  pkg/logs/internal/launchers/journald/launcher_test.go
  pkg/logs/internal/tailers/journald/journal_factory.go
  pkg/logs/internal/tailers/journald/tailer.go
  releasenotes/notes/journald-allow-multiple-tailers-35a3812681d64d5f.yaml
Labels: team/agent-metrics-logs

#13909 pkg/trace: Log error when watchdog fails to lookup CPU
  pkg/trace/api/api.go
  pkg/trace/watchdog/info.go
  pkg/trace/watchdog/info_test.go
  releasenotes/notes/LogCpuUsageLookupFailureAsError-f6bad1b421f2866e.yaml
Labels: team/agent-apm

#13890 Use manager level option to decide kprobe attach method
  go.mod
  go.sum
  pkg/network/dns/ebpf.go
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#13527 Add interface for dynamically generated runtime compilable assets
  pkg/ebpf/bytecode/asset_reader.go
  pkg/ebpf/bytecode/asset_reader_bindata.go
  pkg/ebpf/bytecode/asset_reader_nobindata.go
  pkg/ebpf/bytecode/runtime/asset.go
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/generated_asset.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/integrity.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/runtime_asset.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/telemetry.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/http/compile.go
  pkg/network/tracer/compile.go
  pkg/network/tracer/connection/kprobe/compile.go
  pkg/network/tracer/tracer.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/constantfetch/runtime_compiled.go
Labels: changelog/no-changelog, team/ebpf-platform

#13777 Poll agent integration configuration files for changes
  cmd/agent/common/autodiscovery.go
  pkg/autodiscovery/providers/README.md
  pkg/autodiscovery/providers/config_reader.go
  pkg/autodiscovery/providers/config_reader_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes/notes/agent-integration-config-polling-9e642c167a7e6033.yaml
Labels: component/autodiscovery, team/containers, category/feature

#13898 Downgrade bpf only clang to 12.0.1
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#13882 Reduce default context expiration time
  pkg/aggregator/time_sampler_test.go
  pkg/config/config.go
  releasenotes/notes/reduce-context-expiration-8b5df6473d5c80ba.yaml
Labels: team/agent-metrics-logs

#13824 Container check: ignore aberrant values for `container.memory.rss`
  pkg/util/cgroups/cgroupv1_memory.go
  releasenotes/notes/filter-out-aberrant-rss-value-64be20e1a66c0a4e.yaml
Labels: team/containers

#13837 Fix missing tags on the `kubernetes_state.cronjob.complete` service check
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators_test.go
  releasenotes/notes/fix_ksm_cronjob_complete_tags-9998dce7461d933b.yaml
Labels: team/containers, component/kubernetes_state_core

#13924 [CWS] Add support for runtime compilation on Amazon Linux 2022
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/security/tests/constants_test.go
  pkg/util/kernel/download_headers.go
Labels: changelog/no-changelog, team/agent-security

#13753 [CWS][SEC-4682] Add the possibility to change max_dump_size parameter at runtime
  cmd/system-probe/app/config.go
  pkg/config/settings/runtime_setting_activity_dump.go
  pkg/security/config/config.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_load_controller.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/activity_dump_manager_test.go
Labels: changelog/no-changelog, team/agent-security

#13880 [CWS] split host and docker functests
  .gitlab/functional_test/security_agent.yml
  test/kitchen/drivers/azure-driver.yml
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
  test/kitchen/test/integration/security-agent-test/rspec/security-agent-test_spec.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13363 test: use `T.Setenv` to set env vars in tests
  cmd/process-agent/collector_api_test.go
  cmd/serverless-init/log/log_test.go
  cmd/serverless-init/tag/tag_test.go
  cmd/serverless/api_key_test.go
  cmd/serverless/debug_test.go
  cmd/system-probe/config/config_test.go
  cmd/trace-agent/config/config_test.go
  cmd/trace-agent/test/testsuite/events_test.go
  cmd/trace-agent/test/testsuite/hostname_test.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/providers/file_test.go
  pkg/clusteragent/externalmetrics/model/utils_test.go
  pkg/collector/corechecks/systemd/systemd_test.go
  pkg/config/config_test.go
  pkg/config/process_test.go
  pkg/config/viper_test.go
  pkg/dogstatsd/server_test.go
  pkg/flare/envvars_test.go
  pkg/logs/config/config_test.go
  pkg/logs/internal/tailers/channel/tailer_test.go
  pkg/logs/message/message_test.go
  pkg/metadata/internal/gohai/gohai_test.go
  pkg/network/config/config_test.go
  pkg/network/http/monitor_test.go
  pkg/orchestrator/config/config_test.go
  pkg/process/config/config_nix_test.go
  pkg/process/config/config_test.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/util/util_linux_test.go
  pkg/runtime/runtime_test.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/invocationlifecycle/trace_test.go
  pkg/serverless/metrics/metric_test.go
  pkg/serverless/proxy/proxy_test.go
  pkg/serverless/serverless_test.go
  pkg/serverless/tags/tags_test.go
  pkg/serverless/trace/inferredspan/inferred_span_test.go
  pkg/serverless/trace/trace_test.go
  pkg/util/clusteragent/clusteragent_test.go
  pkg/util/grpc/agent_client_test.go
  pkg/util/kubernetes/clustername/clustername_test.go
Labels: changelog/no-changelog, team/agent-guild

#13870 Make windows service commands consistently dashed
  cmd/agent/subcommands/controlsvc/command.go
  cmd/agent/subcommands/installsvc/command.go
  cmd/agent/subcommands/removesvc/command.go
  releasenotes/notes/service-command-consistent-d7d8040e43798785.yaml
Labels: qa/skip-qa

#13932 Convert 'agent run' command to app
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#13637 [CWS] Fallback to /proc for missing mounts
  pkg/security/metrics/metrics.go
  pkg/security/probe/model.go
  pkg/security/probe/mount_resolver.go
  pkg/security/probe/mount_resolver_test.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/testdrive.go
  pkg/security/tests/xattr_test.go
Labels: changelog/no-changelog, team/agent-security

#13888 [SNMP] Use agent snmp configuration (network addresses) for the integrated snmpwalk
  cmd/agent/subcommands/snmp/command.go
  pkg/snmp/snmpparse/config_snmp.go
  pkg/snmp/snmpparse/config_snmp_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13941 tasks: system-probe: Check llc version as well
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa

#13935 pkg/trace/agent: Fix flaky TestProcess test
  pkg/trace/agent/agent_test.go
Labels: changelog/no-changelog, team/agent-apm

#13872 Provide clearer messages to users when Fx initialization fails
  cmd/agent/main.go
  cmd/agent/main_windows.go
  cmd/internal/runcmd/runcmd.go
  cmd/internal/runcmd/runcmd_test.go
  go.mod
Labels: changelog/no-changelog, qa/skip-qa

#13716 Convert snmp subcommand to an app
  cmd/agent/subcommands/snmp/command.go
  cmd/agent/subcommands/snmp/command_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#13947 [CWS] remove unused unsafe string pointer in testdrive path
  pkg/security/tests/mount_test.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/testdrive.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13920 [process-agent] Set SysprobeProcessModuleEnabled in check command
  cmd/process-agent/app/check.go
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix

#13568 Limit number of kernel header download attempts
  pkg/ebpf/bytecode/runtime/asset.go
  pkg/ebpf/bytecode/runtime/generated_asset.go
  pkg/ebpf/bytecode/runtime/telemetry.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
  pkg/network/event_common.go
  pkg/network/tracer/tracer.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/find_headers_test.go
Labels: changelog/no-changelog, team/ebpf-platform

#13952 [kitchen] Prevent failures due to mismatch between this repository and buildimages
  test/kitchen/Gemfile.local
  test/kitchen/README.md
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#12999 pkg/trace/config: correct and improve SpanNameAsResourceName docs
  pkg/trace/config/config.go
Labels: changelog/no-changelog, team/agent-apm, 7.40.0-drop

#13957 [backport] [kitchen] Prevent failures due to mismatch between this repository and buildimages
  test/kitchen/Gemfile.local
  test/kitchen/README.md
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#13834 [CWS] fix discarders with basename based rule
  pkg/security/probe/discarders.go
  pkg/security/probe/discarders_test.go
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#13690 Allow metrics to opt-out from origin detection
  pkg/config/config.go
  pkg/dogstatsd/convert_bench_test.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_bench_test.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs
