Repository DataDog/datadog-agent, pull requests merged in 2022-08, with the labels that each got.

#12920 CSPM: ignore exited containers when listing containers
  pkg/compliance/checks/docker_check.go
  pkg/compliance/checks/docker_check_test.go
Labels: changelog/no-changelog, team/agent-security

#12918 [CWS] fix negative process name backport
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/dns.h
  pkg/security/secl/model/model.go
  pkg/security/secl/model/oo_symlink.go
  pkg/security/tests/dns_test.go
  pkg/security/tests/process_test.go
  releasenotes/notes/fix-negative-process-ctx-rule-3142038e95e1a97a.yaml
Labels: team/agent-security, category/bugfix

#12928 (rcm-345) experimental forwarding of capabilities
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/remoteconfig.pb.go
Labels: changelog/no-changelog, qa/skip-qa, team/remote-config, category/feature

#12846 Prevent inventory from flooding the log with gohai warnings
  pkg/metadata/inventories/host_metadata.go
  pkg/metadata/inventories/host_metadata_test.go
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#12917 Fix the DD URL of the logs produced by the e2e tests
  test/e2e/scripts/run-instance/23-argo-get.sh
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#12883 Bump `github.com/docker/distribution` to `v2.8.1`
  pkg/trace/go.mod
  pkg/trace/go.sum
Labels: team/containers, changelog/no-changelog, qa/skip-qa, dependencies, dependencies-go

#12930 [epforwarder] Pass correct BatchMaxSize to NewBatchStrategy
  pkg/epforwarder/epforwarder.go
  pkg/logs/sender/batch_strategy.go
Labels: team/agent-core, changelog/no-changelog, team/infra-integrations

#12938 [BACKPORT] Fix test (#12848)
  .gitlab/functional_test/system_probe.yml
  pkg/network/dns/snooper_test.go
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/networks

#12932 [release] Update release.json and Go modules for 6/7.38.1-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#12906 Make endianness a compile time decision
  pkg/ebpf/map_cleaner.go
  pkg/network/netlink/encoding.go
  pkg/network/tracer/offsetguess.go
  pkg/process/procutil/dirent_linux.go
  pkg/process/procutil/endian_big.go
  pkg/process/procutil/endian_little.go
  pkg/util/native/endian_be.go
  pkg/util/native/endian_le.go
  pkg/util/native/endian_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12937 Disable configs in inventories
  pkg/config/config.go
  pkg/metadata/inventories/inventories_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#12617 Optimizing read_into_buffer helper
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/http-buffer.h
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_main.go
  pkg/network/http/monitor.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12897 [system-probe] Add static binary inspection to create lookup tables for crypto/tls.(*Conn).{Read,Write,Close} - copy
  LICENSE-3rdparty.csv
  generate_tools.go
  go.mod
  go.sum
  pkg/network/go/asmscan/scan.go
  pkg/network/go/bininspect/inspect.go
  pkg/network/go/bininspect/types.go
  pkg/network/go/binversion/LICENSE
  pkg/network/go/binversion/buildinfo.go
  pkg/network/go/dwarfutils/compile_unit.go
  pkg/network/go/dwarfutils/entry.go
  pkg/network/go/dwarfutils/locexpr/exec.go
  pkg/network/http/gotls/lookup/internal/generate_luts.go
  pkg/network/http/gotls/lookup/internal/program.go
  pkg/network/http/gotls/lookup/luts.go
  pkg/network/http/gotls/lookup/main.go
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#12946 Create new-style issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-request.md
Labels: changelog/no-changelog, qa/skip-qa

#12863 Add a new `vscode` top level command to invoke task.
  tasks/__init__.py
  tasks/vscode.py
Labels: changelog/no-changelog, team/agent-platform, team/networks, qa/skip-qa

#12947 pkg/trace/watchdog: do not assert on cpu being above .5 as it flakes
  pkg/trace/watchdog/info_test.go
Labels: changelog/no-changelog, team/agent-apm

#11433 Add external_metrics_provider.enable_datadogmetric_autogen
  pkg/clusteragent/externalmetrics/autoscaler_watcher.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/config/config.go
  releasenotes/notes/support-configurable-datadogmetric-autogen-1e31a0ef82c2bf1a.yaml
Labels: team/containers, category/feature

#12936 Fix configuration being shown in expvar
  pkg/collector/corechecks/systemd/systemd_test.go
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  pkg/metadata/inventories_collector.go
  pkg/status/status.go
Labels: changelog/no-changelog, team/agent-shared-components

#12010 [CSPM] do not read file if no parser is provided
  pkg/compliance/checks/helpers.go
Labels: changelog/no-changelog, team/agent-security

#12961 CSPM: sync btfhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Labels: changelog/no-changelog, team/agent-security

#12829 [demultiplexer] add a no-aggregation pipeline in DogStatsD
  cmd/agent/app/internal/settings/runtime_settings_test.go
  cmd/agent/app/run.go
  cmd/agent/common/commands/check.go
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/app/app.go
  cmd/dogstatsd/main.go
  cmd/security-agent/app/app.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/check_sampler_bench_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_agent_test.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/demultiplexer_test.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/no_aggregation_stream_worker.go
  pkg/aggregator/sender_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/compliance/agent/agent_test.go
  pkg/config/config.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/parse.go
  pkg/dogstatsd/parse_metrics.go
  pkg/dogstatsd/parse_metrics_test.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/dogstatsd/server_worker.go
  pkg/metadata/scheduler_test.go
  pkg/metrics/histogram_bucket.go
  pkg/metrics/metric_sample.go
  pkg/metrics/metric_sample_pool.go
  pkg/serverless/metrics/metric_test.go
  pkg/tagger/global.go
  pkg/tagger/interface.go
  pkg/tagger/local/fake_tagger.go
  pkg/tagger/local/tagger.go
  pkg/tagger/remote/tagger.go
  pkg/tagger/replay/tagger.go
  pkg/tagset/hashing_tags_accumulator.go
  pkg/tagset/hashless_tags_accumulator.go
  pkg/tagset/types.go
Labels: component/dogstatsd, component/aggregator, changelog/no-changelog, major_change, team/agent-metrics-logs

#12898 [snmp walk cmd] Address review for PR #12457
  .github/CODEOWNERS
  cmd/agent/app/snmp.go
Labels: changelog/no-changelog, team/infra-integrations

#12958 CSPM: Bump `github.com/open-policy-agent/opa` to v0.43.0
  go.mod
  go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
Labels: changelog/no-changelog, team/agent-security

#12964 Final versions for 7.38.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#12849 pkg/trace: stop using info.Version
  cmd/trace-agent/config/config.go
  cmd/trace-agent/run.go
  cmd/trace-agent/test/testsuite/testdata/clientstats.go
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-iot-agent.rb
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/debugger.go
  pkg/trace/api/evp_proxy.go
  pkg/trace/api/evp_proxy_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/api/pipeline_stats.go
  pkg/trace/api/profiles.go
  pkg/trace/api/telemetry.go
  pkg/trace/appsec/appsec.go
  pkg/trace/appsec/appsec_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info.go
  pkg/trace/info/make.go
  pkg/trace/info/version.go
  pkg/trace/info/version_test.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  pkg/trace/writer/trace.go
  releasenotes/notes/consistent-agent-version-c701a790d52bdc6c.yaml
  tasks/trace_agent.py
Labels: team/agent-apm

#12933 [epforwarder] Make input chan size configurable
  pkg/config/config.go
  pkg/epforwarder/epforwarder.go
  pkg/logs/config/config.go
  pkg/logs/config/config_keys.go
  pkg/logs/config/config_test.go
  pkg/logs/config/endpoints.go
Labels: team/agent-core, changelog/no-changelog, team/infra-integrations

#12969 [process-agent] Create mock for procutil.Probe
  pkg/process/procutil/mocks/probe.go
  tasks/process_agent.py
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#12737 [Windows] Fix styling of the Windows Agent installer GUI dialogs
  omnibus/resources/agent/msi/assets/apikeydlg.wxi
  omnibus/resources/agent/msi/assets/sitedlg.wxi
  omnibus/resources/agent/msi/localization-en-us.wxl.erb
Labels: changelog/no-changelog, team/agent-platform

#12972 [snmp/traps] Add log traps payload in trace level
  pkg/snmp/traps/forwarder.go
Labels: changelog/no-changelog, team/infra-integrations

#12956 [process-agent] Correct counter for process check duration log
  cmd/process-agent/collector.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#12973 Add QA cases for logs-agent cca_in_ad
  tools/agent_QA/README.md
  tools/agent_QA/board.py
  tools/agent_QA/release_qa.py
  tools/agent_QA/test_builder.py
  tools/agent_QA/test_cases/containers.py
Labels: changelog/no-changelog, qa/skip-qa

#12975 [process-agent] Create unit tests for process check
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#12909 [process-agent] Separate queue/forwarder for network connections
  cmd/process-agent/collector.go
  cmd/process-agent/info.go
  cmd/process-agent/info_test.go
  pkg/process/util/status.go
  pkg/process/util/status_test.go
  pkg/status/templates/process-agent.tmpl
Labels: kind/enhancement, changelog/no-changelog, team/processes, team/networks

#12955 [process-agent] Refactor uses of WithPermission in Process check
  pkg/process/checks/process.go
  pkg/process/checks/process_probe.go
  pkg/process/checks/process_rt.go
  pkg/process/procutil/option_unsupported.go
  pkg/process/procutil/process_linux.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#12966 Fix diagnose command to print logs in the right order
  cmd/agent/app/diagnose.go
  pkg/diagnose/runner.go
Labels: changelog/no-changelog, team/agent-shared-components

#12970 7.38.1 changelog update
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#12892 CWS: `security_go_generate` improvements
  .gitlab/source_test/go_generate_check.yml
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#12939 [CWS] improve process checks in functional tests
  pkg/security/tests/cmdwrapper.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#12940 [CWS] Fix abnormal paths event sent after calling fchown on a pipe FDs
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/chmod.h
  pkg/security/ebpf/c/chown.h
  pkg/security/ebpf/c/pipe.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/pipe.go
  pkg/security/probe/constantfetch/btfhub/constants.json
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, team/agent-security

#12781 Fix a bug in AD simple ConfigManager that would not pass the same config to scheduler between Schedule and Unschedule calls
  pkg/autodiscovery/configmgr.go
  pkg/autodiscovery/configmgr_test.go
  pkg/autodiscovery/simple_configmgr.go
  releasenotes/notes/fix-ad-clc-unschedule-f9f588d981a83662.yaml
Labels: component/autodiscovery, team/containers, category/bugfix, bugfix/functional

#12963 [macOS] Build rtloader with macOS 10.13 as the target OS version
  tasks/rtloader.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/agent-shared-components

#12603 [install_script] add support for fips mode
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/fips-be6e112db1a0b58d.yaml
Labels: changelog/no-changelog, team/agent-shared-components

#12902 CWS: dynamic AD config
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/activity_dump.h
  pkg/security/ebpf/probes/all.go
  pkg/security/module/server.go
  pkg/security/probe/activity_dump_load_controller.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/probe.go
  pkg/security/utils/utils.go
Labels: changelog/no-changelog, team/agent-security

#12983 CWS: dynamic AD dump timeout
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/activity_dump.h
  pkg/security/probe/activity_dump_load_controller.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#12981 [process-agent] Remove duplicated fmtProcessEvents function
  cmd/process-agent/app/events.go
  pkg/process/checks/process_events_common.go
  pkg/process/checks/process_events_linux.go
Labels: changelog/no-changelog, team/processes

#12980 [RCM] fix(tracer_predicates): Match new tracer predicates constraints
  pkg/config/remote/service/client_predicates.go
  pkg/config/remote/service/client_predicates_test.go
Labels: kind/enhancement, changelog/no-changelog, component/config, team/remote-config, category/improvement

#12977 [CODEOWNERS] Add `agent-metrics-logs` as `pkg/epforwarder` secondary owners
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#12808 [SNMP Traps] Add support for BITS field enrichment
  pkg/snmp/traps/formatter.go
  pkg/snmp/traps/formatter_test.go
  pkg/snmp/traps/forwarder_test.go
  pkg/snmp/traps/oid_resolver_test.go
  pkg/snmp/traps/testing.go
  pkg/snmp/traps/traps_db.go
  releasenotes/notes/[SNMP-Traps]-Add-support-for-BITS-field-enrichment-8b96afd5af6ecae5.yaml
Labels: team/infra-integrations

#12988 [Helm check] Introduce sync timeout and resync interval params and increase the defaults
  pkg/collector/corechecks/cluster/helm/helm.go
  releasenotes-dca/notes/helm-timeout-c88570bd12b6dc1d.yaml
  releasenotes/notes/helm-timeout-c88570bd12b6dc1d.yaml
Labels: team/containers

#12976 [process-agent] Create unit tests for process realtime check
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_rt_test.go
  pkg/process/checks/process_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#12992 Revert "update dgraph-io/ristretto to outcaste-io/ristretto"
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/obfuscate/cache.go
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
Labels: changelog/no-changelog, team/agent-apm

#12994 CWS: switch `activity_dump.path_merged` to a runtime metric
  pkg/security/metrics/metrics.go
Labels: changelog/no-changelog, team/agent-security

#10936 [orchestration] [check] add manifest
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  go.mod
  go.sum
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer_senders.go
  pkg/aggregator/mocksender/mocked_methods.go
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_unassigned.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/config/config.go
  pkg/forwarder/endpoints/endpoints.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/noop_forwarder.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/orchestrator/config/config.go
  pkg/process/checks/pod.go
  pkg/process/util/api/headers/headers.go
  pkg/process/util/api/payload.go
  pkg/serializer/serializer.go
  pkg/serializer/test_common.go
Labels: kind/feature, changelog/no-changelog, team/container-app

#12979 7.38.1 changelog update (#12970)
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#13000 [pkg/quantile] Update acceptable float error to account for ARM differences
  pkg/quantile/ddsketch_test.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#13001 Revert "pkg/trace/api: add containerID detection through UDS for cgroup2 (#11584)
  cmd/trace-agent/remote_config.go
  go.mod
  go.sum
  pkg/trace/api/api.go
  pkg/trace/api/container.go
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
  pkg/trace/api/debugger.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/api/pipeline_stats.go
  pkg/trace/api/profiles.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/cgroup2-a3868da0e9ae5450.yaml
Labels: changelog/no-changelog, team/agent-apm

#13005 [notifications] Add new infrastructure failure log filters
  tasks/libs/pipeline_notifications.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#13007 internal/tools: add a new tools to ensure submodules don't import datadog-agent
  internal/tools/independent-lint/go.mod
  internal/tools/independent-lint/go.sum
  internal/tools/independent-lint/independent.go
  tasks/go.py
  tasks/modules.py
Labels: changelog/no-changelog, team/agent-platform

#12974 [networks] Change probe responsible for sending HTTP notifications
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_main.go
Labels: changelog/no-changelog, team/networks

#13006 CWS: improve the userspace DNS decoder
  pkg/security/secl/model/dns_helpers.go
  pkg/security/secl/model/unmarshallers.go
Labels: changelog/no-changelog, team/agent-security

#12934 [epforwarder] Update NetFlow default configs
  pkg/epforwarder/epforwarder.go
  releasenotes/notes/update_netflow_default_configs-fe0c68eb55dcf012.yaml
Labels: team/infra-integrations

#12908 Add arbitrary journald filtering
  pkg/logs/config/integration_config.go
  pkg/logs/internal/tailers/journald/tailer.go
  pkg/logs/internal/tailers/journald/tailer_test.go
  pkg/logs/status/builder.go
  releasenotes/notes/arbitrary-journald-filtering-adce8c2b292c9586.yaml
Labels: team/agent-metrics-logs

#13004 Remove unused code
  pkg/forwarder/forwarder.go
  pkg/forwarder/internal/retry/queue_duration_capacity.go
  pkg/forwarder/internal/retry/queue_duration_capacity_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#13002 [demux] WaitForSamples returns both live and timed metrics.
  pkg/aggregator/demultiplexer_mock.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/metrics/enhanced_metrics_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#12905 bump SNMP traps DB version
  omnibus/config/software/snmp-traps.rb
  releasenotes/notes/Update-SNMP-Traps-DB-with-BITS-a8f419275252c7b9.yaml
Labels: team/infra-integrations

#12991 [RCM-357] Send canonical JSON to tracers
  go.mod
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
Labels: changelog/no-changelog, team/remote-config

#12891 add conversion of /.- chars to _ for labels entered in labelsAsTags
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  releasenotes/notes/improve-labelsAsTags-fafbb2e0dc98ae07.yaml
Labels: team/containers, component/kubernetes_state_core

#12985 [pkg/otlp] Deep copy values when reading a configuration section
  pkg/otlp/config.go
  releasenotes/notes/fix-otlp-concurrency-4966bff7ebac155e.yaml
Labels: team/agent-platform, category/bugfix, component/otlp, bugfix/functional

#12894 [RCM] Add more unit tests around TUF integrity validation
  pkg/remoteconfig/state/repository_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/remote-config

#12993 [process-agent] Abstract exchange of create times for connections check
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_notify.go
  pkg/process/checks/process_notify_test.go
  pkg/process/checks/process_test.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#12998 Fix truncated logs in the Cloud Run Agent
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Labels: qa/skip-qa, team/serverless

#12995 [process-agent] Add tests for check format functions
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_nix.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_windows.go
  pkg/process/checks/process_windows_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#13023 [procutil] Increase test coverage
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/procutil/resources/test_cwd/README.txt
  pkg/process/procutil/resources/test_procfs/proc/1/cwd
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#13024 Use a different client ID for process-agent CLI check command
  cmd/process-agent/app/check.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13015 CWS: reduce AD config size
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-security

#12989 [CWS] handle kworker loading module
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/process.h
  pkg/security/probe/accessors.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_gen.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/kernel_module_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/schemas/process.json
Labels: changelog/no-changelog, team/agent-security

#13021 [corechecks/containers/docker] Fix `docker.containers.running` grouping
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/docker/check_test.go
  releasenotes/notes/fix-docker-containers-running-2d89307e2941a2d1.yaml
Labels: team/containers

#13014 [CWS] do not send self test report until stable
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#12942 Add tagger-list cmd to process-agent cli
  cmd/agent/api/response/types.go
  cmd/agent/app/tagger_list.go
  cmd/process-agent/api/server.go
  cmd/process-agent/api/status.go
  cmd/process-agent/api/tagger_list.go
  cmd/process-agent/api/util.go
  cmd/process-agent/app/common.go
  cmd/process-agent/app/status.go
  cmd/process-agent/app/tagger_list.go
  cmd/process-agent/main_common.go
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  pkg/tagger/api/getlist.go
  pkg/tagger/api/response.go
  pkg/tagger/global.go
  pkg/tagger/interface.go
  pkg/tagger/local/fake_tagger.go
  pkg/tagger/local/tagger.go
  pkg/tagger/remote/tagger.go
  pkg/tagger/replay/tagger.go
  pkg/tagger/tagstore/tagstore.go
  releasenotes/notes/Add-tagger-list-to-process-agent-6f7773beb28dc2fd.yaml
Labels: team/containers, component/tagger, team/processes

#13031 CWS: fix entry nil pointer when checking for IsKworker
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security

#13013 [Helm check] Avoid re-processing known objects
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/helm/helm_test.go
Labels: team/containers, changelog/no-changelog

#12921 [process-agent] Separate endpoint for connections payloads
  cmd/process-agent/collector_api_test.go
  pkg/forwarder/endpoints/endpoints.go
Labels: kind/enhancement, changelog/no-changelog, team/processes

#13010 [gitlab] Upload built packages to the newly created release bucket
  .gitlab-ci.yml
  .gitlab/deploy_6/nix.yml
  .gitlab/deploy_6/windows.yml
  .gitlab/deploy_7/nix.yml
  .gitlab/deploy_7/windows.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#13012 [CWS] fix discarders flush and select specific probe during the snapshot
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/procfs.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/discarders.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/erpc.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#13032 [CWS] fix alloc_file_pseudo not present on all kernel
  pkg/security/ebpf/probes/event_types.go
Labels: changelog/no-changelog, team/agent-security

#13030 CWS: switch to protobuf for remote storage format by default
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-security

#13034 [k8s informers] Handle DeletedFinalStateUnknown in DeleteFunc
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_services.go
  pkg/autodiscovery/providers/prometheus_services.go
  pkg/collector/corechecks/cluster/helm/helm.go
Labels: team/containers, changelog/no-changelog

#12982 [cmd] status: log at info level always when running the command
  cmd/agent/app/status.go
  releasenotes/notes/agent-status-log-level-fix-93b84dd50b4a9257.yaml
Labels: team/agent-shared-components, bugfix/functional

#13019 Fix zombie processes create by the agent
  Dockerfiles/agent/nosys-seccomp/nosys.c
  releasenotes/notes/Fix-zombie-64b75433b548b963.yaml
Labels: team/containers

#12986 CWS: AD load controller feedback loop
  pkg/config/config.go
  pkg/security/config/config.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_load_controller.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/activity_dump_memlimits.go
Labels: changelog/no-changelog, team/agent-security

#13036 CWS/CSPM: Bump security agent policies to v0.28.0
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13038 Backport #13019 to `7.38.x`: Fix zombie processes created by the agent (#13019)
  Dockerfiles/agent/nosys-seccomp/nosys.c
  releasenotes/notes/Fix-zombie-64b75433b548b963.yaml
Labels: team/containers

#12879 Enable runtime compilation & kernel header downloading for USM
  pkg/config/system_probe.go
  pkg/network/config/config.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks

#13025 Optimize null-terminated string extraction
  pkg/security/secl/model/utils.go
  pkg/security/secl/model/utils_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#13022 add DCA releasenote for PR 12891
  releasenotes-dca/notes/improve-labelsAsTags-d197c8e0b466b71d.yaml
Labels: team/containers, component/kubernetes_state_core

#13039 [CWS] revert fix discarders flush and select specific probe
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/procfs.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/discarders.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/erpc.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#13035 [networks] Fix HTTP overcount in the event of PID collisions
  pkg/network/encoding/http.go
  pkg/network/encoding/http_test.go
Labels: changelog/no-changelog, team/networks

#13043 [CWS] revert UnmarshalPrintableString to UnmarshalString for container
  pkg/security/secl/model/unmarshallers.go
Labels: changelog/no-changelog, team/agent-security

#12880 Update agent for new 2.0 driver
  pkg/network/driver/ddnpmapi.h
  pkg/network/driver/handle.go
  pkg/network/driver/types.go
  pkg/network/driver/types_windows.go
  pkg/network/driver_interface.go
  release.json
  releasenotes/notes/windowsdriver20-11f39d5a55f319c0.yaml
  test/kitchen/site-cookbooks/dd-agent-install/recipes/_install_windows.rb
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/windows.rb
Labels: team/networks

#13044 [CWS] check entry not null for kworker from procfs
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security

#13040 [release] Update release.json and Go modules for 6/7.38.2-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#12943 Release Cluster Agent as part of Agent release
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/deploy_dca.yml
  .gitlab/internal_image_deploy.yml
  .gitlab/maintenance_jobs/docker.yml
  releasenotes-dca/config.yaml
  releasenotes-dca/notes/align-cluster-agent-release-4982c92b9a9c596f.yaml
  tasks/release.py
Labels: team/containers, component/cluster-agent, category/improvement, 7.39.0-drop

#13050 [release] Update release.json and Go modules for 6/7.39.0-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13054 Fix double " in DCA Job
  .gitlab/deploy_dca.yml
  .gitlab/internal_image_deploy.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix

#13064 [release] Update release.json and Go modules for 6/7.38.2-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13052 CWS: remove ubuntu 21.10 from functional tests
  .gitlab/functional_test/security_agent.yml
  test/kitchen/platforms.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13071 Final PR for 7.38.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#13072 Add prelude for 7.38.2 release
  releasenotes/notes/prelude-release-7.38.2-cbd206747e9f5377.yaml
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#12872 [Serverless] Add `post_runtime_duration` metric.
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/executioncontext/executioncontext_test.go
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  releasenotes/notes/add-aws_lambda_enhanced_post_runtime_duration-metric-7ffcc4892c5e8474.yaml
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/error-python
  test/integration/serverless/snapshots/metric-csharp
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/metric-python
Labels: qa/skip-qa, team/serverless

#13051 [CWS] fix enabled AD config
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#13055 [CWS] fix discarders flush
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/erpc.h
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/procfs.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/discarders.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/erpc.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#13061 [Serverless] Add S3 event for inferred spans
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/trace/inferredspan/constants.go
  pkg/serverless/trace/inferredspan/span_enrichment.go
  pkg/serverless/trace/inferredspan/span_enrichment_test.go
Labels: changelog/no-changelog, team/serverless

#13080 Release note for auto-instrumentation
  releasenotes-dca/notes/auto-instru-76b1d4f1b2ec1c84.yaml
Labels: team/containers, qa/skip-qa

#13083 Fix parameters to match images repo
  .gitlab/internal_image_deploy.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/release_operations

#13078 Update CHANGELOG for 7.38.2
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#13087 [RCM] Correct runtime ID and client ID usage in TracerPredicate protobuf
  pkg/config/remote/service/client_predicates.go
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/mocks/api_mockgen.pb.go
  pkg/proto/pbgo/remoteconfig.pb.go
Labels: changelog/no-changelog, team/remote-config, category/bugfix, bugfix/functional

#13075 Move kmsClient and secretsManager calls
  cmd/serverless/env.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#13094 [Admission][Auto-Instrumentation] Rename repos and annotations
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
Labels: team/containers, changelog/no-changelog

#13104 [release] Update release.json and Go modules for 6/7.39.0-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13041 CWS: compute activity dump node stats inline with insertion
  pkg/config/config.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/activity_dump.h
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_load_controller.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/activity_dump_memlimits.go
  pkg/security/probe/activity_dump_proto_dec_v1.go
  pkg/security/probe/activity_dump_test.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/performance

#13062 CWS: use `public.ecr.aws` instead of DockerHub to tackle rate limits
  pkg/security/tests/cmdwrapper.go
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, team/agent-security

#13122 [admission][auto-instru] Fix NODE_OPTIONS value
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#13124 [inv/tasks] Fix cluster agent `ldflags`
  tasks/cluster_agent_helpers.py
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#13117 Print status output directly to stdout without 'logger' prefixes
  cmd/agent/app/status.go
  releasenotes/notes/plain-json-agent-status-5d0a427ae6cc2338.yaml
Labels: qa/skip-qa, category/bugfix, team/agent-shared-components, bugfix/functional

#13118 [networks] Add configuration param for `MaxHTTPStatsBuffered`
  pkg/config/system_probe.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13111 Use more granular locking in AutoConfig
  pkg/autodiscovery/autoconfig.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#13125 [release] Update release.json and Go modules for 6/7.39.0-rc.3
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13120 [tools] Update `retry_file_dump` tool
  tools/retry_file_dump/.gitignore
  tools/retry_file_dump/README.md
  tools/retry_file_dump/go.mod
  tools/retry_file_dump/go.sum
  tools/retry_file_dump/main.go
Labels: dev/tooling, changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#12907 Adds 'print-default-build-tags' invoke task
  tasks/__init__.py
  tasks/build_tags.py
Labels: changelog/no-changelog, qa/skip-qa

#13048 CWS: remove usage of btf-internals in the constant fetcher
  LICENSE-3rdparty.csv
  pkg/security/probe/constantfetch/core.go
Labels: changelog/no-changelog, team/agent-security

#13130 [Serverless] Merge serverless base branch into main
  cmd/serverless/env.go
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/executioncontext/executioncontext_test.go
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  pkg/serverless/trace/inferredspan/constants.go
  pkg/serverless/trace/inferredspan/span_enrichment.go
  pkg/serverless/trace/inferredspan/span_enrichment_test.go
  releasenotes/notes/add-aws_lambda_enhanced_post_runtime_duration-metric-7ffcc4892c5e8474.yaml
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/error-python
  test/integration/serverless/snapshots/metric-csharp
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/metric-python
Labels: changelog/no-changelog, team/serverless

#13131 Scrub only non-json status requests
  cmd/agent/app/status.go
Labels: changelog/no-changelog, qa/skip-qa

#13128 CWS: bump security agent policies to v0.28.1
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13070 CWS: remove map of maps in dentry resolver
  pkg/security/probe/dentry_resolver.go
  pkg/security/probe/process_resolver.go
Labels: changelog/no-changelog, team/agent-security

#13106 [CWS] drop malformatted dns req events
  pkg/security/secl/model/unmarshallers.go
Labels: changelog/no-changelog, team/agent-security

#13085 [CWS] Fix test activity dump comm dns on sles-12
  pkg/security/tests/activity_dumps_test.go
Labels: changelog/no-changelog, team/agent-security

#13053 [CWS] Fix the activity-dump-comm-bind test
  pkg/security/probe/activity_dump.go
  pkg/security/tests/activity_dumps_test.go
Labels: changelog/no-changelog, team/agent-security

#13133 CWS: bump security agent policies to v0.28.1 (#13128)
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#13073 [DCA] Send RFC-1123 compliant host names for k8s events
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/util/kubelet/hostname.go
  pkg/util/kubernetes/clustername/clustername.go
Labels: team/containers, changelog/no-changelog

#13079 [snmp_listener] Fix config example
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/infra-integrations

#13132 [backport] Scrub only non-json status requests
  cmd/agent/app/status.go
Labels: changelog/no-changelog, qa/skip-qa

#13141 [release] Update release.json and Go modules for 6/7.39.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#13077 [Serverless] add isError flag to channelMessage
  pkg/logs/config/channel_message.go
  pkg/logs/internal/tailers/channel/tailer.go
  pkg/logs/internal/tailers/channel/tailer_test.go
Labels: changelog/no-changelog, team/serverless

#12552 [CWS] Display warning when building with kernel headers < 5.8
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#13126 Compile http prebuilt files using clang+llc method.
  tasks/system_probe.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#13086 http debug malformed in debug log, dump tags and connection tuple
  pkg/network/http/http_statkeeper.go
  pkg/network/http/model.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#13149 Fix goroutine leak in file launcher
  pkg/logs/internal/launchers/file/launcher.go
Labels: changelog/no-changelog, team/agent-metrics-logs, bugfix/functional

#13150 Backport Fix goroutine leak in file launcher
  pkg/logs/internal/launchers/file/launcher.go
Labels: changelog/no-changelog, team/agent-metrics-logs, bugfix/functional

#13063 [process-agent] Basic test for Windows probe implementations
  pkg/process/procutil/process_windows_test.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, qa/skip-qa, category/improvement

#13142 [CWS][SEC-4739] replace usage of `strings.Trim` with `strings.(Pre|Suf)fix`
  pkg/security/probe/activity_dump_local_storage.go
  pkg/security/probe/activity_dump_remote_storage_forwarder.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security
