Repository DataDog/datadog-agent, pull requests merged in 2022-02, with the labels that each got.

#10721 [CWS] do not exclude argv[0] from args (#10681)
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/probe/accessors.go
  pkg/security/probe/model.go
  pkg/security/probe/model_test.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/tests/process_test.go
  pkg/security/tests/schemas/process.json
  releasenotes/notes/cws-expose-arg0-db85ae10cdeafd34.yaml
Labels: kind/bug, team/agent-security, bugfix/regression

#10577 [CWS] tests cleanup + ioutil replacements
  .gitlab/functional_test/security_agent.yml
  pkg/security/module/self_tester.go
  pkg/security/probe/doc_generator/backend_doc_gen.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/syscall_table_generator/syscall_table_generator.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/doc/doc.go
  pkg/security/secl/rules/policy.go
  pkg/security/tests/cmdwrapper.go
  pkg/security/tests/dentry_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/mmap_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/mprotect_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/selinux_test.go
  pkg/security/tests/span_test.go
  pkg/security/tests/stress_test.go
  pkg/security/tests/stresser_test.go
  pkg/security/tests/syscall_tester.go
  pkg/security/tests/syscall_tester/go/syscall_go_tester.go
  pkg/security/tests/testdrive.go
  pkg/security/tests/unlink_test.go
  pkg/security/tests/utimes_test.go
  pkg/security/utils/cgroup.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, team/agent-security

#10732 Remove requirements.txt and point to datadog-agent-buildimages
  .github/dependabot.yaml
  requirements.txt
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa

#10695 Backport #10662: Improve the `Custom Metrics Server` section of `agent status`
  pkg/status/status.go
  pkg/status/templates/header.tmpl
  pkg/util/kubernetes/apiserver/controllers.go
  pkg/util/kubernetes/apiserver/status.go
  pkg/util/kubernetes/apiserver/status_stub.go
  pkg/util/kubernetes/autoscalers/datadogclient.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/new_feature

#10701 Fix the `Webhook info` section of the DCA `agent status` output on k8s 1.22+
  pkg/clusteragent/admission/start.go
  pkg/clusteragent/admission/status.go
  releasenotes-dca/notes/webhook_status-c6cb6fddc7d7df7c.yaml
Labels: team/containers, component/cluster-agent, category/bugfix

#10731 Fix typo
  pkg/dogstatsd/listeners/uds_common.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10740 Backport #10701: Fix the `Webhook info` section of the DCA `agent status` output on k8s 1.22+
  pkg/clusteragent/admission/start.go
  pkg/clusteragent/admission/status.go
  releasenotes-dca/notes/webhook_status-c6cb6fddc7d7df7c.yaml
Labels: team/containers, component/cluster-agent, category/bugfix

#10745 [release] Update release.json and Go modules for 6/7.34.0-rc.6
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10684 [SLS] Filter out DD_TAGS, DD_EXTRA_TAGS & function specific tags from managed service spans
  pkg/serverless/tags/tags.go
  pkg/serverless/trace/inferredspan/inferred_span.go
  pkg/serverless/trace/inferredspan/inferred_span_test.go
  pkg/serverless/trace/span_modifer_test.go
  pkg/serverless/trace/span_modifier.go
Labels: changelog/no-changelog, team/serverless

#10748 Set CODEOWNER for `/pkg/config/process.go` to Processes
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#10636 [Inventory] Add OTLP field
  cmd/agent/app/run.go
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: changelog/no-changelog, team/agent-platform

#10703 [omnibus] Add proper preinstall dependencies to RPMs
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  releasenotes/notes/add-rpm-preinstall-deps-8fceff8f07388d8d.yaml
Labels: team/agent-platform

#10430 [CWS] runtime compilation constants test and fixes
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/constantfetch/fetcher.go
  pkg/security/probe/constantfetch/runtime_compiled.go
  pkg/security/probe/probe.go
  pkg/security/tests/runtime_compiled_constants_test.go
Labels: changelog/no-changelog, team/agent-security

#10382 Add a generic caching layer for metrics provider collector
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/cri/collector.go
  pkg/util/containers/v2/metrics/docker/collector.go
  pkg/util/containers/v2/metrics/docker/collector_test.go
  pkg/util/containers/v2/metrics/ecsfargate/collector.go
  pkg/util/containers/v2/metrics/ecsfargate/collector_test.go
  pkg/util/containers/v2/metrics/provider/collector_cache.go
  pkg/util/containers/v2/metrics/provider/collector_cache_test.go
  pkg/util/containers/v2/metrics/provider/mock.go
  pkg/util/containers/v2/metrics/provider/provider.go
  pkg/util/containers/v2/metrics/provider/provider_test.go
  pkg/util/containers/v2/metrics/system/collector_linux.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/improvement

#8166 Add cgroup memory controller
  .gitlab/binary_build/serverless.yml
  LICENSE-3rdparty.csv
  cmd/system-probe/app/run.go
  cmd/system-probe/utils/memory_monitor_linux.go
  cmd/system-probe/utils/memory_monitor_stub.go
  go.mod
  go.sum
  pkg/config/config_template.yaml
  pkg/config/system_probe.go
  pkg/util/cgroups/memory_controller.go
Labels: changelog/no-changelog, team/agent-security

#10702 [snmp] normalize hostname
  pkg/collector/corechecks/snmp/checkconfig/config.go
  pkg/collector/corechecks/snmp/common/utils.go
  pkg/collector/corechecks/snmp/common/utils_test.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/config/config_template.yaml
  pkg/util/hostname.go
  pkg/util/hostname_test.go
  releasenotes/notes/snmp-normalize-namespace-9b6e4de441a4f2cd.yaml
Labels: team/infra-integrations, category/improvement

#10752 Fix json typos
  pkg/security/tests/schemas/ptrace.schema.json
  pkg/security/tests/schemas/span_context.json
Labels: changelog/no-changelog, team/agent-security

#10746 [windows] add 1.3.1 driver for 7.34
  release.json
  releasenotes/notes/bsod131-fceaf6319e3e1b5c.yaml
Labels: team/networks, major_change

#10530 [kitchen] Use newer instance types
  test/kitchen/drivers/azure-driver.yml
  test/kitchen/drivers/hyperv-driver.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10528 [kitchen] Remove old prefixes from maintenance jobs
  .gitlab/maintenance_jobs/kitchen.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10729 [Process Agent] Move Windows Settings to Global Config
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_probe.go
  pkg/process/checks/process_windows_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/process-agent-move-windows-settings-7c903ac4ba9fd393.yaml
Labels: team/processes

#10749 backport 1.3.1 npm version to main
  release.json
Labels: changelog/no-changelog, team/networks

#10707 [Process Agent] Remove `EnabledChecks` from `AgentConfig`
  cmd/process-agent/collector.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/config.go
  cmd/process-agent/config_test.go
  cmd/process-agent/main_common.go
  pkg/process/checks/process.go
  pkg/process/checks/process_rt.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
Labels: changelog/no-changelog, team/processes

#10411 Expose additional CloudFoundry metadata in the DCA API
  cmd/cluster-agent-cloudfoundry/app/app.go
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/cloudfoundry_metadata.go
  pkg/config/config.go
  pkg/util/cloudproviders/cloudfoundry/cccache.go
  pkg/util/cloudproviders/cloudfoundry/cccache_test.go
  pkg/util/cloudproviders/cloudfoundry/main_test.go
  pkg/util/cloudproviders/cloudfoundry/types.go
  pkg/util/cloudproviders/cloudfoundry/types_test.go
  releasenotes/notes/expose-pcf-nozzle-data-in-dca-api-dd544b82ac8a744a.yaml
Labels: team/agent-core, team/containers, team/intg-tools-libs

#10755 [CWS] increase retry of CWS & CSPM e2e tests
  .gitlab/e2e.yml
Labels: changelog/no-changelog, team/agent-security

#10763 Fix snyk
  .gitlab/source_test/security_scan.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10750 [process-agent] Remove profiling settings from AgentConfig
  cmd/process-agent/main_common.go
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/config/config.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/process-agent-add-profiling-settings-env-var-fb0b4b8579344b04.yaml
Labels: team/processes

#10761 Break pkg/logs/parsers into sub-packages
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/file_decoder.go
  pkg/logs/decoder/line_parser.go
  pkg/logs/decoder/line_parser_test.go
  pkg/logs/internal/parsers/dockerfile/docker_file.go
  pkg/logs/internal/parsers/dockerfile/docker_file_test.go
  pkg/logs/internal/parsers/dockerstream/docker_stream.go
  pkg/logs/internal/parsers/dockerstream/docker_stream_test.go
  pkg/logs/internal/parsers/encodedtext/encodedtext.go
  pkg/logs/internal/parsers/encodedtext/encodedtext_test.go
  pkg/logs/internal/parsers/interface.go
  pkg/logs/internal/parsers/kubernetes/kubernetes.go
  pkg/logs/internal/parsers/kubernetes/kubernetes_test.go
  pkg/logs/internal/parsers/noop/noop.go
  pkg/logs/internal/parsers/noop/noop_test.go
  pkg/logs/internal/tailers/docker/matcher.go
  pkg/logs/internal/tailers/socket/tailer.go
  pkg/logs/parser/constants.go
  pkg/logs/parser/docker_file.go
  pkg/logs/parser/docker_file_test.go
  pkg/logs/parser/interface.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10622 [invoke] Add support for unit tests on different Agent flavors
  tasks/build_tags.py
  tasks/dogstatsd.py
  tasks/flavor.py
  tasks/go.py
  tasks/libs/junit_upload.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10766 [pkg/otlp] Always map conventional attributes to tags
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  releasenotes/notes/otlp-map-attributes-to-tags-c7372bc01730ef1e.yaml
Labels: team/agent-platform

#10689 upgrade to go1.17.6
  .circleci/config.yml
  .circleci/images/runner/Dockerfile
  .github/workflows/codeql.yml
  .github/workflows/windows-unittests.yml
  .gitlab-ci.yml
  .gitlab/source_test/security_scan.yml
  README.md
  cmd/system-probe/utils/memory_monitor_linux.go
  cmd/system-probe/utils/memory_monitor_stub.go
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/modparser/go.mod
  internal/tools/modparser/testdata/match/go.mod
  internal/tools/modparser/testdata/nomatch/go.mod
  internal/tools/proto/go.mod
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  pkg/quantile/go.mod
  pkg/security/probe/accessors.go
  pkg/security/probe/custom_events_easyjson.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/probe/syscalls_linux_amd64.go
  pkg/security/probe/syscalls_linux_arm64.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/tests/runtime_compiled_constants_test.go
  pkg/util/cgroups/memory_controller.go
  pkg/util/kubernetes/apiserver/status.go
  pkg/util/kubernetes/apiserver/status_stub.go
  pkg/util/log/go.mod
  pkg/util/scrubber/go.mod
  pkg/util/winutil/go.mod
  pkg/util/winutil/go.sum
  releasenotes/notes/go-1.17.6-4d8970bbb1519c23.yaml
  tasks/go.py
  test/e2e/containers/otlp_sender/go.mod
  tools/retry_file_dump/go.mod
Labels: team/agent-core, team/agent-apm, team/agent-platform, team/processes, team/networks, team/agent-security, major_change

#10520 Docs / naming updates for pkg/autodiscovery
  pkg/autodiscovery/README.md
  pkg/autodiscovery/autoconfig.go
  pkg/autodiscovery/common/utils/prometheus_apiserver.go
  pkg/autodiscovery/common_test.go
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  pkg/autodiscovery/integration/config.go
  pkg/autodiscovery/integration/config_test.go
  pkg/autodiscovery/listeners/cloudfoundry.go
  pkg/autodiscovery/listeners/environment.go
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_endpoints_test.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/autodiscovery/listeners/service.go
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/types.go
  pkg/autodiscovery/listeners/workloadmeta.go
  pkg/autodiscovery/providers/cloudfoundry.go
  pkg/autodiscovery/providers/cloudfoundry_test.go
  pkg/autodiscovery/providers/consul.go
  pkg/autodiscovery/providers/consul_test.go
  pkg/autodiscovery/providers/etcd.go
  pkg/autodiscovery/providers/etcd_test.go
  pkg/autodiscovery/providers/kube_endpoints.go
  pkg/autodiscovery/providers/kube_endpoints_file.go
  pkg/autodiscovery/providers/kube_endpoints_file_test.go
  pkg/autodiscovery/providers/kube_endpoints_test.go
  pkg/autodiscovery/providers/prometheus_services_test.go
  pkg/autodiscovery/providers/providers.go
  pkg/autodiscovery/providers/utils.go
  pkg/autodiscovery/providers/zookeeper.go
  pkg/autodiscovery/providers/zookeeper_test.go
  pkg/autodiscovery/store.go
  pkg/autodiscovery/store_test.go
  pkg/autodiscovery/templatecache.go
  pkg/autodiscovery/templatecache_test.go
  pkg/collector/corechecks/embed/jmx/loader.go
  pkg/logs/scheduler/scheduler.go
  pkg/logs/scheduler/scheduler_test.go
  pkg/tagger/README.md
  pkg/tagger/collectors/workloadmeta_extract.go
  test/integration/listeners/docker/docker_listener_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10758 Add `process_test.go` to CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#10768 Add `containerd_namespaces` parameter
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/environment_containers.go
  pkg/config/environment_containers_test.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/namespaces.go
  pkg/util/containerd/namespaces_test.go
Labels: team/containers, changelog/no-changelog

#10771 [release] Update release.json and Go modules for 6/7.34.0-rc.7
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10774 Allow the docker build CI jobs to be retried
  .gitlab/image_build/docker_linux.yml
  .gitlab/image_build/docker_windows.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10697 pkg/otlp: move out of experimental
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/config/otlp.go
  pkg/config/tests/otlp_experimental.yaml
  pkg/config/tests/otlp_main.yaml
  pkg/config/viper.go
  pkg/metadata/host/host_test.go
  pkg/otlp/config.go
  pkg/otlp/config_test.go
  pkg/otlp/internal/serializerexporter/config.go
  pkg/trace/config/apply.go
  pkg/trace/config/config_test.go
  pkg/trace/config/env_test.go
  pkg/trace/config/testdata/full.yaml
  releasenotes/notes/otlp-not-experimental-56d7130909082cf1.yaml
Labels: team/agent-apm, team/agent-platform

#10767 [CWS] change the slack channel target for agent security notifications
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-security

#10659 [dsd] Support container ID field from dogstatsd 1.2
  pkg/aggregator/aggregator.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/dogstatsd/enrich.go
  pkg/dogstatsd/enrich_bench_test.go
  pkg/dogstatsd/enrich_test.go
  pkg/dogstatsd/parse.go
  pkg/dogstatsd/parse_events.go
  pkg/dogstatsd/parse_metrics.go
  pkg/dogstatsd/parse_service_checks.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/event.go
  pkg/metrics/metric_sample.go
  pkg/metrics/service_check.go
  pkg/tagger/global.go
  releasenotes/notes/dsd-container-b2039d8e0e510fbf.yaml
Labels: team/containers

#10762 [pkg/flare] Improve `zipFile` signature
  pkg/flare/archive.go
  pkg/flare/archive_linux.go
  pkg/flare/archive_linux_test.go
  pkg/flare/archive_test.go
Labels: kind/enhancement, dev/tooling, team/agent-core, component/cmd-agent, changelog/no-changelog, severity/minor, team/agent-security, component/security-agent, category/improvement

#10783 Bump security-agent-policies version to v0.20.0
  release.json
Labels: changelog/no-changelog, team/agent-security

#10778 Fix eBPF integrity file generator build tags
  pkg/ebpf/bytecode/runtime/integrity.go
Labels: changelog/no-changelog, team/agent-security

#10759 [Serverless] Fix panic due to race in metric flush/sample
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_worker.go
  pkg/serverless/metrics/metric_test.go
Labels: changelog/no-changelog, team/serverless

#10756 [Process Agent] Use global config for APIEndpoints
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/config.go
  cmd/process-agent/config_test.go
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/config/config.go
  pkg/process/config/config_nix_test.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestEnvSiteConfig-2.yaml
  pkg/process/config/testdata/TestEnvSiteConfig-3.yaml
  pkg/process/config/testdata/TestEnvSiteConfig-ProcessDiscovery.yaml
  pkg/process/config/testdata/TestEnvSiteConfig.yaml
  pkg/process/config/yaml_config.go
  releasenotes/notes/move-api-endpoints-b70b6c83fc28d1e5.yaml
Labels: team/processes

#10694 Update Omnibus tooling to support Python checks defined by a `pyproject.toml` file
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  tasks/agent.py
Labels: team/agent-core, changelog/no-changelog, team/integrations, team/agent-platform, qa/skip-qa

#10798 Include `internal/tools/proto` to tidy-all command
  internal/tools/proto/go.mod
  internal/tools/proto/go.sum
  tasks/modules.py
Labels: team/agent-core, changelog/no-changelog, team/agent-platform

#10787 Turn an error into a warning because the cause is not an agent malfunction
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/datadogexternal_test.go
Labels: team/containers, changelog/no-changelog

#10593 [gitlab] Give more explicit names to container jobs and stages
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/container_build.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/container_build/docker_windows_agent6.yml
  .gitlab/container_build/docker_windows_agent7.yml
  .gitlab/container_scan.yml
  .gitlab/deploy_6.yml
  .gitlab/deploy_6/container.yml
  .gitlab/deploy_7.yml
  .gitlab/deploy_7/container.yml
  .gitlab/dev_container_deploy.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/image_build.yml
  .gitlab/image_deploy.yml
Labels: team/containers, changelog/no-changelog, team/agent-platform, qa/skip-qa

#10785 [CWS] Fix mount option parsing
  pkg/security/probe/mount_resolver.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#10788 Bump security-agent-policies version to v0.20.0 (#10783)
  release.json
Labels: kind/packaging, changelog/no-changelog, team/agent-security, category/release_operations

#10803 Link against libpthread when using runtime compilation
  pkg/ebpf/compiler/compiler.go
Labels: changelog/no-changelog, team/agent-security

#10757 [CWS] fix runtime compiled constants config
  pkg/config/config.go
  pkg/security/module/module.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#10769 Add environment variables for OTLP ingest
  pkg/config/otlp.go
  pkg/otlp/config.go
  pkg/otlp/config_test.go
  pkg/otlp/testdata/empty.yaml
  releasenotes/notes/otlp-env-variables-4d6e37cddb13cd2c.yaml
Labels: team/agent-platform

#10794 Rename codescanning workflow file to make it unique across repositories
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog, team/agent-platform

#10698 [process-agent] Migrate batch size settings to global config
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/checks/config.go
  pkg/process/checks/config_test.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_rt.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/process-agent-add-batch-size-env-vars-df7721763f008554.yaml
Labels: team/processes

#10782 [install_script] Add ability to install dogstatsd through install_script.sh
  cmd/agent/install_script.sh
  releasenotes-installscript/notes/install-dogstatsd-031bb571d46c1902.yaml
  test/kitchen/site-cookbooks/dd-agent-install-script/files/dogstatsd_install_script.sh
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/test/integration/install-script/rspec/install-script_spec.rb
Labels: team/agent-platform

#10799 [CWS] Fix IsPrintableASCII typo
  pkg/security/secl/model/strings.go
Labels: changelog/no-changelog, team/agent-security

#10813 [codeowners] config_template.yaml: change from agent-all to agent-core
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10815 [pipeline] Update target datadog-agent-macos-build branch
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10830 [workloadmeta] Don't generate events with nil entities
  pkg/workloadmeta/store.go
  releasenotes/notes/fix-tagger-panic-9531b196af0a47d6.yaml
Labels: team/containers, qa/skip-qa

#10829 [pkg/otlp] Add more tests for configuration loading
  pkg/otlp/collector_test.go
  pkg/otlp/config_test.go
  pkg/otlp/testdata/experimental/metrics/allconfig.yaml
  pkg/otlp/testdata/experimental/port/alldisabled.yaml
  pkg/otlp/testdata/experimental/port/bindhost.yaml
  pkg/otlp/testdata/experimental/port/disabled.yaml
  pkg/otlp/testdata/experimental/port/invalid.yaml
  pkg/otlp/testdata/experimental/port/nobindhost.yaml
  pkg/otlp/testdata/experimental/port/nonlocal.yaml
  pkg/otlp/testdata/experimental/receiver/advanced.yaml
  pkg/otlp/testdata/experimental/receiver/noprotocols.yaml
  pkg/otlp/testdata/experimental/receiver/portandreceiver.yaml
  pkg/otlp/testdata/experimental/receiver/simple.yaml
  pkg/otlp/testdata/experimental/receiver/typo.yaml
  pkg/otlp/testdata/stable/invalid_port_based.yaml
  pkg/otlp/testdata/stable/metrics/allconfig.yaml
  pkg/otlp/testdata/stable/receiver/advanced.yaml
  pkg/otlp/testdata/stable/receiver/noprotocols.yaml
  pkg/otlp/testdata/stable/receiver/simple.yaml
  pkg/otlp/testdata/stable/receiver/typo.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10824 [CWS] fix `TestFallbackConstants`
  pkg/security/probe/constantfetch/runtime_compiled.go
  pkg/security/probe/probe.go
  pkg/security/tests/runtime_compiled_constants_test.go
Labels: changelog/no-changelog, team/agent-security

#10833 [AD] Prevent workloadmeta listeners from hanging at shutdown
  pkg/autodiscovery/listeners/workloadmeta.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10835 [release] Update release.json and Go modules for 6/7.33.1-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10733 [process-agent] Migrate expvar and config runtime port settings to global config
  cmd/process-agent/api/server.go
  cmd/process-agent/main_common.go
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  releasenotes/notes/process-agent-add-ports-env-vars-c763fac63219ce09.yaml
Labels: team/processes

#10818 [CWS] Fix security module startup on 4.14 and 4.15 kernels
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/bpf.h
Labels: changelog/no-changelog, team/agent-security, bugfix/regression

#10832 [release.py] Add datadog-agent-macos-build to the list of repos to branch
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10793 Make Decoder's structure as a 3-actor pipeline clearer
  pkg/logs/README.md
  pkg/logs/decoder/auto_multiline_handler.go
  pkg/logs/decoder/decoder.go
  pkg/logs/decoder/decoder_test.go
  pkg/logs/decoder/line_breaker.go
  pkg/logs/decoder/line_breaker_test.go
  pkg/logs/decoder/line_handler.go
  pkg/logs/decoder/line_handler_benchmark_test.go
  pkg/logs/decoder/line_handler_test.go
  pkg/logs/decoder/line_parser.go
  pkg/logs/decoder/line_parser_test.go
  pkg/logs/decoder/multiline_handler.go
  pkg/logs/decoder/single_line_handler.go
Labels: team/agent-core, changelog/no-changelog

#10839 [OTLP e2e] Fix gRPC endpoint definition
  test/e2e/argo-workflows/templates/datadog-agent.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10838 Add `hatchling` as a build dependency
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/agent-platform

#10796 retry fetching EC2 tags
  pkg/metadata/host/host_tags.go
  releasenotes/notes/retry-ec2-collect-tags-b634a9fa2d49010c.yaml
Labels: team/agent-core

#10834 [gohai] Update to include DataDog/gohai#87
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  releasenotes/notes/gohai-fix-panic-1857a562dafc3273.yaml
Labels: team/agent-core

#10826 Add integration tests for C# and proxy
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/log-proxy
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/timeout-csharp
  test/integration/serverless/snapshots/timeout-go
  test/integration/serverless/snapshots/timeout-java
  test/integration/serverless/snapshots/timeout-node
  test/integration/serverless/snapshots/timeout-proxy
  test/integration/serverless/snapshots/timeout-python
  test/integration/serverless/snapshots/trace-csharp
  test/integration/serverless/snapshots/trace-node
  test/integration/serverless/snapshots/trace-proxy
  test/integration/serverless/src/csharp-tests/handler.cs
  test/integration/serverless/src/proxyTestFunctions.js
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#10842 [CWS] fix agent rules documentation README and docker workflow
  docs/cloud-workload-security/README.md
  docs/cloud-workload-security/scripts/Dockerfile
Labels: changelog/no-changelog, team/agent-security

#10841 Fix install script for Heroku Agent
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10802 [CWS] Always try to load configuration files in security-agent
  cmd/security-agent/app/app.go
Labels: changelog/no-changelog, team/agent-security

#10843 [CWS] Fix generation of Operators tab by escaping pipes
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
Labels: documentation, changelog/no-changelog, team/agent-security

#10546 Allow to specify the image size in kitchen tests
  test/kitchen/drivers/azure-driver.yml
  test/kitchen/tasks/kitchen.py
  test/kitchen/tasks/run-test-kitchen.sh
Labels: changelog/no-changelog, team/agent-security

#10760 [Remote Config] Add exponential backoff to HTTP client
  pkg/config/config.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
Labels: changelog/no-changelog, team/remote-config

#10849 [install_script] Dogstatsd can be installed on aarch64 since 7.35
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform

#10825 Use net.ErrClosed, new in go1.16
  pkg/logs/client/tcp/connection_manager.go
Labels: team/agent-core, changelog/no-changelog

#10378 Some docs for workloadmeta
  pkg/workloadmeta/README.md
  pkg/workloadmeta/dump.go
  pkg/workloadmeta/filter.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_example_test.go
  pkg/workloadmeta/types.go
  pkg/workloadmeta/types_example_test.go
Labels: changelog/no-changelog, team/integrations, qa/skip-qa

#10847 Add HTTP status to agent metadata
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: component/metadata, changelog/no-changelog, team/networks

#10854 add comment about collecting ec2 tags on non-ec2 host
  pkg/metadata/host/host_tags.go
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10816 [Process Agent][POC] Add status command
  cmd/process-agent/api/server.go
  cmd/process-agent/api/status.go
  cmd/process-agent/app/status.go
  cmd/process-agent/app/status_test.go
  cmd/process-agent/collector.go
  cmd/process-agent/info.go
  cmd/process-agent/main_common.go
  releasenotes/notes/process-agent-status-command-6ea4385bea90836f.yaml
Labels: team/processes

#10637 [CWS] Handle chown with no user or group
  pkg/security/probe/accessors.go
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
Labels: changelog/no-changelog, team/agent-security

#10848 [CWS] Fix docker tests options
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#10861 [windows] update driver for actual release builds.
  release.json
Labels: changelog/no-changelog, team/networks

#10672 Add `Pull request workflow` to contribution.md
  docs/dev/contributing.md
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10862 [CWS] Filter mmap and mprotect process in functional tests
  pkg/security/tests/mmap_test.go
  pkg/security/tests/mprotect_test.go
Labels: changelog/no-changelog, team/agent-security

#10863 [CWS] Use only one ruleset
  pkg/security/module/module.go
Labels: changelog/no-changelog, team/agent-security

#10868 [release] Update release.json and Go modules for 6/7.34.0-rc.8
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10855 [tagger] Prevent panic on double closed channel
  pkg/tagger/subscriber/subscriber.go
Labels: team/containers, changelog/no-changelog

#10332 [CWS] container optimized OS support
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/commit_creds.h
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe.go
  releasenotes/notes/cws-container-optimized-os-support-804759bf48331bca.yaml
Labels: team/agent-security

#10780 SNMP Traps: Support v1 and v3
  cmd/agent/app/run.go
  pkg/config/config_template.yaml
  pkg/logs/internal/tailers/traps/tailer_test.go
  pkg/snmp/traps/config.go
  pkg/snmp/traps/config_test.go
  pkg/snmp/traps/constants.go
  pkg/snmp/traps/format.go
  pkg/snmp/traps/format_test.go
  pkg/snmp/traps/server.go
  pkg/snmp/traps/server_test.go
  pkg/snmp/traps/testing.go
  pkg/snmp/traps/validation.go
  releasenotes/notes/SNMP-Traps-Support-v1-and-v3-7ea83c24e9c37dff.yaml
Labels: team/infra-integrations

#10464 Fix SCC API version
  Dockerfiles/manifests/openshift/scc.yaml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10875 7.33.1 changelog update
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#10871 Remove python build tag for non-main Agent builds
  tasks/build_tags.py
Labels: changelog/no-changelog, team/processes, team/networks

#10853 Fix container check scheduling and liveness/readiness on EKS Fargate
  pkg/autodiscovery/listeners/environment.go
  pkg/util/kubernetes/hostinfo/apiserver.go
  pkg/util/kubernetes/hostinfo/no_apiserver.go
  pkg/util/kubernetes/hostinfo/node_annotations.go
  pkg/util/kubernetes/hostinfo/node_labels.go
  releasenotes/notes/fix-eks-fargate-bugs-88518beb7b09d6a3.yaml
Labels: kind/bug, team/containers, category/bugfix

#10858 [Serverless] Add Go race detection env var for integration test
  test/integration/serverless/run.sh
Labels: changelog/no-changelog, team/serverless

#10850 Add `argo-workflow` tag on the DD events generated by e2e tests
  .gitlab/e2e.yml
  tasks/test.py
  test/e2e/argo-workflows/default-workflow.yaml
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/setup-instance/04-send-dd-event.sh
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#10878 [workloadmeta/containerd] Don't error out on ignoreEvent
  pkg/workloadmeta/collectors/containerd/containerd.go
Labels: team/containers, changelog/no-changelog

#10518 [CWS] add runtime security agent command to download policy
  cmd/security-agent/app/runtime.go
  releasenotes/notes/cws-cmd-download-policy-0b19ce628afd289f.yaml
Labels: team/agent-security

#10889 Fix linting failure
  pkg/collector/corechecks/system/winkmem/winkmem.go
  pkg/collector/corechecks/system/winkmem/winkmem_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10618 [process-agent] Chunk payloads (CollectorProc) by desired count and weight
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/checks/chunking.go
  pkg/process/checks/chunking_test.go
  pkg/process/checks/config.go
  pkg/process/checks/config_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/checks/process_nix_test.go
  releasenotes/notes/process-agent-weight-aware-message-chunking-b534a02b06123d53.yaml
Labels: kind/enhancement, team/processes, category/improvement

#10877 7.33.1 changelog update (#10875)
  CHANGELOG.rst
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa, category/release_operations

#10557 [CWS] upgrade opa rego to v0.37.2
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security, dependencies

#10883 [CWS] ignore non existing cgroups in memory controller
  pkg/util/cgroups/memory_controller.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#10773 [CWS] preallocate eRPC requests for discarders
  pkg/security/probe/discarders.go
  pkg/security/secl/compiler/eval/registers.go
  pkg/security/secl/compiler/eval/rule.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10881 [7.34][Backport] Fix container check scheduling and liveness/readiness on EKS Fargate
  pkg/autodiscovery/listeners/environment.go
  pkg/util/kubernetes/hostinfo/apiserver.go
  pkg/util/kubernetes/hostinfo/no_apiserver.go
  pkg/util/kubernetes/hostinfo/node_annotations.go
  pkg/util/kubernetes/hostinfo/node_labels.go
  releasenotes/notes/fix-eks-fargate-bugs-88518beb7b09d6a3.yaml
Labels: kind/bug, team/containers, bugfix/new_feature

#10482 Remove useless header include in oomkill probe
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern.c
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
Labels: changelog/no-changelog, team/agent-security

#10899 Add config option to turn off kernel header downloading
  pkg/config/system_probe.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/config.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/find_headers_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10906 Validate kernel headers individually
  pkg/util/kernel/find_headers.go
Labels: changelog/no-changelog, team/networks

#10902 Add config option to turn off kernel header downloading
  pkg/config/system_probe.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/config.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/find_headers_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#10912 [release] Update release.json and Go modules for 6/7.34.0-rc.9
  go.mod
  pkg/otlp/model/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
Labels: team/agent-core, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10742 [CWS] Ignore kthreads for exit events
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#10898 [CWS] Make 'security-agent runtime' CLI support proxies
  pkg/security/agent/agent.go
  pkg/security/agent/client.go
Labels: changelog/no-changelog, team/agent-security

#10893 [CWS] run functional tests on OpenSUSE
  .gitlab/functional_test/security_agent.yml
  go.mod
  go.sum
  pkg/util/kernel/download_headers.go
  pkg/util/kernel/version.go
  test/kitchen/platforms.json
Labels: changelog/no-changelog, team/agent-security

#10909 [CWS] use computed build tags for linting functional tests
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security

#10723 [CWS] reduce statsd client pre alloc
  pkg/security/module/module.go
  pkg/security/probe/probe_monitor.go
Labels: changelog/no-changelog, team/agent-security

#10870 retry transaction when HTTP status is 404 Not Found
  pkg/forwarder/transaction/transaction.go
  releasenotes/notes/retry-http-404-5f0111acf2913710.yaml
Labels: team/agent-core

#10879 [otlp] Bump go.opentelemetry.io/collector to v0.44.0
  go.mod
  go.sum
  pkg/otlp/internal/configutils/utils.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  releasenotes/notes/otlp-bump-0.44.0-b96f237c4a112694.yaml
Labels: team/agent-platform

#10851 [process-agent] Remove remaining process env vars overrides
  cmd/process-agent/main_common.go
  pkg/config/process.go
  pkg/config/process_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/yaml_config.go
  pkg/process/util/containers.go
  releasenotes/notes/process-agent-add-scrubber-and-ctr-source-env-vars-3543c08590eb245d.yaml
Labels: team/containers, team/processes

#10903 do not panic on ctr.Add(<negative>)
  pkg/telemetry/prom_counter.go
  pkg/telemetry/prom_counter_test.go
Labels: team/agent-core, changelog/no-changelog

#10923 [backport][pipeline] Fix APIError init in notification jobs
  tasks/libs/common/remote_api.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#10922 [pkg/otlp] Export `Dimensions` struct and use it in Consumer interfaces
  pkg/otlp/internal/serializerexporter/consumer.go
  pkg/otlp/model/translator/consumer.go
  pkg/otlp/model/translator/dimensions.go
  pkg/otlp/model/translator/dimensions_test.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/sketches_test.go
  pkg/otlp/model/translator/ttlcache.go
  pkg/otlp/model/translator/ttlcache_test.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#10856 Enable RBACs collection by default
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  releasenotes-dca/notes/rbac-resources-ff739887a160114c.yaml
Labels: team/container-app, need-change/operator, need-change/helm-chart

#10500 [Serverless] add serverless-specific debug lines for traces and metrics
  pkg/aggregator/aggregator.go
  pkg/metrics/sketch_series.go
  pkg/trace/writer/trace.go
  pkg/util/log/log_not_serverless.go
  pkg/util/log/log_not_serverless_test.go
  pkg/util/log/log_serverless.go
  pkg/util/log/log_serverless_test.go
Labels: changelog/no-changelog, team/serverless

#10928 [CWS] fix noisy error about unsupported event type
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#10897 [workloadmeta/ecs] Re-parse tasks on every pull
  pkg/workloadmeta/collectors/ecs/ecs.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#10907 [CWS] fix TTY offsets
  pkg/security/probe/constantfetch/fallback.go
Labels: changelog/no-changelog, team/agent-security

#10920 [CWS] add more test on SECL list
  pkg/security/secl/compiler/eval/eval_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#10933 [CSPM] bump security agent policies tag to v0.21.0
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#10908 [CWS] multiple fixes around runtime compiled constants
  pkg/security/config/config.go
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/version.go
Labels: changelog/no-changelog, team/agent-security

#10935 [CSPM] bump sec agent policies tag to v0.21.0
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#10919 [pkg/otlp/model] Sync model module
  pkg/otlp/model/attributes/attributes.go
  pkg/otlp/model/attributes/attributes_test.go
  pkg/otlp/model/attributes/hostname.go
  pkg/otlp/model/attributes/hostname_test.go
  pkg/otlp/model/attributes/system_test.go
  pkg/otlp/model/translator/consumer.go
  pkg/otlp/model/translator/metrics_translator.go
Labels: changelog/no-changelog, team/agent-platform

#10801 SNMP Traps: Add support for namespace
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/snmp/traps/config.go
  pkg/snmp/traps/config_test.go
  pkg/snmp/traps/constants.go
  pkg/snmp/traps/format.go
  pkg/snmp/traps/format_test.go
  pkg/snmp/traps/server.go
  pkg/snmp/traps/testing.go
  releasenotes/notes/SNMP-Traps---support-namespace-f69befc242f23b0a.yaml
Labels: team/infra-integrations

#10156 [CWS] Allow merging macros
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/macro.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  releasenotes/notes/cws-combine-macros-dbe53ca040ed62c4.yaml
Labels: changelog/no-changelog, team/agent-security

#10932 [pkg/forwarder] Improve error messages for http errors in API key validity check
  pkg/forwarder/forwarder_health.go
Labels: kind/enhancement, component/forwarder, team/agent-core, changelog/no-changelog, severity/minor, category/improvement

#10931 [serverless] Use production dd-trace-dotnet layer in integration tests
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/trace-csharp
  test/integration/serverless/snapshots/trace-proxy
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#10938 [networks][orchestrator] Bump agent-payload to v5.0.15
  go.mod
  go.sum
  pkg/network/encoding/encoding_test.go
Labels: changelog/no-changelog, team/networks, team/container-app

#10890 [demultiplexer] the `Demultiplexer` is responsible of flushing all samplers/service checks/events to the serializer
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/time_sampler_worker.go
  pkg/dogstatsd/server_test.go
  pkg/serverless/metrics/metric_test.go
Labels: team/agent-core, changelog/no-changelog

#10929 [windows][containers] update cpu limit calculation
  pkg/util/containers/providers/windows/provider.go
  releasenotes/notes/fix-windows-container-cpu-limit-5e1e7489c63bd115.yaml
Labels: team/containers

#10532 [aggregator] implement time sampler sharding in the `Demultiplexer`.
  cmd/agent/app/run.go
  cmd/agent/common/commands/check.go
  cmd/serverless/main.go
  go.mod
  go.sum
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/aggregator/demultiplexer_test.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
  pkg/aggregator/time_sampler_worker.go
  pkg/config/config.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/server.go
  pkg/dogstatsd/server_bench_test.go
  pkg/dogstatsd/server_test.go
  pkg/metrics/metric_sample_pool.go
  pkg/serverless/daemon/daemon.go
  pkg/serverless/daemon/routes_test.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/logs/logs.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  pkg/serverless/metrics/metric.go
  pkg/serverless/metrics/metric_test.go
  pkg/serverless/serverless.go
  releasenotes/notes/dogstatsd-sharding-b00c2a44ae0e83d3.yaml
  test/benchmarks/aggregator/memory.go
Labels: team/agent-core, major_change, team/serverless

#10947 Document DD_EXTRA_TAGS
  pkg/config/config_template.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10915 use_local_defined_servers: include /etc/chrony.conf
  pkg/collector/corechecks/net/ntp_local_defined_server_nowindows.go
  releasenotes/notes/use_local_defined_servers-include-chronyd-support-a5dd58318f5294ef.yaml
Labels: team/agent-platform

#10953 [releasenote] remove dsd sharding release note entry (not enabled yet)
  releasenotes/notes/dogstatsd-sharding-b00c2a44ae0e83d3.yaml
Labels: team/agent-core, changelog/no-changelog, qa/skip-qa

#10880 [agent] re-enable the vector.metric.* knobs
  cmd/agent/app/run.go
Labels: team/agent-core, changelog/no-changelog

#10383 Migrate the containerd check to generic check infrastructure
  LICENSE-3rdparty.csv
  pkg/collector/corechecks/containers/containerd/adapter.go
  pkg/collector/corechecks/containers/containerd/check.go
  pkg/collector/corechecks/containers/containerd/check_metrics_extension.go
  pkg/collector/corechecks/containers/containerd/check_test.go
  pkg/collector/corechecks/containers/containerd/containerd.go
  pkg/collector/corechecks/containers/containerd/containerd_test.go
  pkg/collector/corechecks/containers/containerd/events.go
  pkg/collector/corechecks/containers/containerd/events_test.go
  pkg/collector/corechecks/containers/containerd/utils.go
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/docker/check_linux_test.go
  pkg/collector/corechecks/containers/docker/check_test.go
  pkg/collector/corechecks/containers/generic/check.go
  pkg/collector/corechecks/containers/generic/mock.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/fake/containerd_util.go
  pkg/util/containerd/namespaces.go
  pkg/util/containerd/namespaces_test.go
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv1.go
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv2.go
  pkg/util/containers/v2/metrics/containerd/collector_test.go
  pkg/util/containers/v2/metrics/containerd/collector_win.go
  releasenotes/notes/containerd-internal-change-ccc228609536c438.yaml
Labels: team/containers, major_change, category/improvement

#10901 [process-agent] Add process-agent runtime config to the core agent flare
  cmd/process-agent/api/server.go
  cmd/process-agent/app/status.go
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  pkg/status/status_process_agent.go
  releasenotes/notes/process-agent-add-runtime-cfg-to-core-flare-ed7231c140ad2c1b.yaml
Labels: team/agent-core, team/processes
