Repository DataDog/datadog-agent, pull requests merged in 2023-04, with the labels that each got.

#16375 Validating javatestutil.RunJavaVersion return code as part of the tests
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16389 [CWS] fix stacktrace in netns resolver
  pkg/security/resolvers/netns/resolver.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16403 Fix bugs from #15186
  .gitlab/functional_test/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16388 Add CODEOWNERS and JOBOWNERS entry.
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16413 [CWS] Adding rule tags to ruleset_loaded custom event
  pkg/security/module/policy_monitor.go
  pkg/security/module/policy_monitor_easyjson.go
Labels: changelog/no-changelog, team/agent-security

#16412 [CWS] remove unused code around process scoping of variables
  pkg/security/resolvers/process/resolver.go
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/rules/opts.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16174 [pkg/netflow] NetFlow Collector with blocking EP Forwarder
  cmd/agent/subcommands/run/command.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/epforwarder/epforwarder.go
  pkg/epforwarder/epforwarder_mockgen.go
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/flowaggregator/testutil.go
  pkg/netflow/server.go
  pkg/netflow/server_test.go
  pkg/netflow/testing_test.go
  pkg/netflow/testutil/testutil.go
  tasks/__init__.py
  tasks/epforwarder.py
Labels: changelog/no-changelog, team/network-device-monitoring, team/agent-metrics-logs

#15610 [windows] Remove explicit `service` tag from ETW (IIS) generated HTTP connections.
  pkg/network/protocols/http/model_windows.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-kernel-integrations, 7.44.0-drop

#16425 Unified KeyTuple into a new type called FourTuple. Also introduced Fo…
  pkg/network/encoding/http.go
  pkg/network/encoding/http2.go
  pkg/network/encoding/kafka.go
  pkg/network/event_common.go
  pkg/network/event_test.go
  pkg/network/protocols/http/http_statkeeper.go
  pkg/network/protocols/http/http_stats.go
  pkg/network/protocols/http/incomplete_stats.go
  pkg/network/protocols/http/model.go
  pkg/network/protocols/http/model_http2_linux.go
  pkg/network/protocols/http/model_http_linux.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/monitor_windows_test.go
  pkg/network/protocols/kafka/kafka_statkeeper.go
  pkg/network/protocols/kafka/kafka_stats.go
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/types/connection_key.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16407 [RCM-832] upgrade(inventories): Add RC enablement to the list of metadata sent by the agent
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: kind/enhancement, component/metadata, changelog/no-changelog, team/remote-config, category/improvement

#16410 process: fix gopls symlink
  pkg/process/procutil/resources/go.mod
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#16435 usm: kafka: tests: Ignore error when deleting a topic
  pkg/network/protocols/http/kafka_monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16341 Add PSI Some metrics to `container` check when running on Linux/cgroupv2
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/collector/corechecks/containers/generic/processor_test.go
  pkg/util/containers/metrics/mock/mock_samples.go
  pkg/util/containers/metrics/provider/types.go
  pkg/util/containers/metrics/system/collector_disk_linux.go
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/collector_linux_test.go
  pkg/util/containers/metrics/system/util.go
  releasenotes/notes/psi-some-metrics-55f112e91a44e7d3.yaml
Labels: team/containers, category/feature

#16405 Fix Prometheus scrape + service_endpoints missed updates leading to checks not being scheduled
  pkg/autodiscovery/providers/prometheus_services.go
  releasenotes/notes/prometheus-endpoints-no-update-0faad43bda24b26a.yaml
Labels: kind/bug, component/autodiscovery, team/containers, bugfix/functional

#16339 Add query/elapsed telemetry to external metrics server
  pkg/clusteragent/externalmetrics/provider.go
  pkg/clusteragent/externalmetrics/telemetry.go
Labels: team/containers, changelog/no-changelog, category/improvement

#16437 Adding `test` tag to all testing jobs
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/context_resolver_test.go
  pkg/collector/collector_demux_test.go
  pkg/security/probe/probe.go
  pkg/serializer/internal/metrics/series_test.go
  pkg/serializer/serializer_test.go
  tasks/build_tags.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16440 [RCM] upgrade(remote-config): Remove noisy log on missing config entry
  pkg/config/config.go
Labels: kind/bug, changelog/no-changelog, component/config, qa/skip-qa, team/remote-config, category/bugfix

#16441 [RCM] upgrade(remote-config): Remove noisy log on missing config entry
  pkg/config/config.go
  pkg/config/remote/service/service.go
Labels: kind/bug, changelog/no-changelog, component/config, qa/skip-qa, team/remote-config, category/bugfix

#16032 [CWS][SEC-7288] Introduce syscall hardening based on Security Profiles
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  pkg/config/system_probe.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/helpers/all.h
  pkg/security/ebpf/c/include/helpers/security_profile.h
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/all.h
  pkg/security/ebpf/c/include/structs/security_profile.h
  pkg/security/ebpf/probes/all.go
  pkg/security/events/custom.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_monitor.go
  pkg/security/secl/model/category.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/security_profile/dump/activity_dump_profile_proto_enc_v1.go
  pkg/security/security_profile/profile/manager.go
  pkg/security/security_profile/profile/profile.go
  pkg/security/security_profile/profile/profile_dir.go
  pkg/security/security_profile/profile/profile_proto_dec_v1.go
  pkg/security/serializers/serializers.go
  pkg/security/serializers/serializers_easyjson.go
Labels: changelog/no-changelog, team/agent-security

#16447 [CWS] fix log in `probe.go`
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16434 [system-probe] Fix netlink "length too short or too large" error
  pkg/network/netlink/socket.go
  releasenotes/notes/system-probe-netlink-decode-error-ecdd2e3a2425d730.yaml
Labels: component/system-probe, team/networks, qa/skip-qa

#16446 Fix "length too small or too large" error
  pkg/network/netlink/socket.go
  releasenotes/notes/system-probe-netlink-decode-error-ecdd2e3a2425d730.yaml
Labels: component/system-probe, team/networks, qa/skip-qa

#16392 [agent] Call `setupConfig` on mock sysprobe config component
  comp/core/sysprobeconfig/config.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16415 Fix panic on capture/replay shutdown because of failed start
  comp/dogstatsd/replay/capture.go
  comp/dogstatsd/server/server.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#16097 [SBOM] add `dd_env` to the sbom payload
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  releasenotes/notes/add-dd_env-sbompayload-768556d703beb87d.yaml
Labels: team/containers

#16270 admission/patch: support stage action
  pkg/clusteragent/admission/patch/patch_request.go
  pkg/clusteragent/admission/patch/patcher.go
  pkg/clusteragent/admission/patch/patcher_test.go
Labels: team/containers, changelog/no-changelog

#16017 Adds optional environment file for SystemD service
  omnibus/config/templates/datadog-agent/systemd.service.erb
  releasenotes/notes/SystemD-service-EnvironmentFile-2d28ba3eee4b50bc.yaml
Labels: team/agent-platform

#16442 chore: add fips.https to config_template.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#16380 Include allocs pprof in flare
  pkg/flare/archive.go
Labels: changelog/no-changelog, team/agent-shared-components

#16420 Add `podman_db_path` config for the rootless podman
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/podman/db_client.go
  pkg/workloadmeta/collectors/internal/podman/podman.go
  releasenotes/notes/configurable-podman-db-path-83d7039e316ea96c.yaml
Labels: team/containers

#15919 Handle the return value of `Close()` for writable files in `network/protocols`
  pkg/network/protocols/http/testutil/pythonserver.go
Labels: changelog/no-changelog, severity/minor, qa/skip-qa, team/usm

#16450 [process] add new fastpath to `DataScrubber`
  pkg/process/procutil/data_scrubber.go
  pkg/process/procutil/data_scrubber_test.go
Labels: changelog/no-changelog, team/processes

#16288 [Pipeline/Tooling] Retry Gitlab/Github API 5xx errors
  tasks/libs/common/github_workflows.py
  tasks/libs/common/githubapp.py
  tasks/libs/common/remote_api.py
  tasks/release.py
  tasks/test.py
  tasks/unit-tests/git_api_tests.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16345 Remap `vector` config to `observability_pipelines_worker`
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  cmd/trace-agent/config/testdata/observability_pipelines_worker_override.yaml
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/logs/config/config.go
  pkg/logs/config/config_keys.go
  pkg/logs/config/config_test.go
  releasenotes/notes/obs-pipeline-config-e4c593ec499a3709.yaml
Labels: team/agent-metrics-logs

#16452 Always set all properties when processing installer account
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsDomainClientTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsDomainControllerTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
Labels: changelog/no-changelog, team/windows-agent

#16460 [CI] Update isort version to 5.12.0
  .pre-commit-config.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16115 [corechecks/ksm] Convert labels/annotations as tags to snake_case
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes-dca/notes/fix-ksm-labels-annotations-snake-case-e761b9103c3ac71c.yaml
  releasenotes/notes/fix-ksm-labels-annotations-snake-case-e761b9103c3ac71c.yaml
Labels: team/containers

#16103 [apm] peer.service aggregation for trace stats, option to compute stats based on span.kind
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  pkg/config/apm.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/trace/agent/normalizer.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info_test.go
  pkg/trace/info/stats.go
  pkg/trace/info/stats_test.go
  pkg/trace/pb/stats.pb.go
  pkg/trace/pb/stats.proto
  pkg/trace/pb/stats_gen.go
  pkg/trace/pb/stats_gen_test.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/aggregation_test.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/stats/client_stats_aggregator_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/testutil/stats.go
  pkg/trace/traceutil/normalize.go
  pkg/trace/traceutil/normalize_test.go
  pkg/trace/traceutil/span.go
  releasenotes/notes/add-peer-service-for-trace-stats-225f1b90c9627c18.yaml
Labels: kind/feature, team/agent-apm

#16343 [process-agent] Cleanup processes-owned components in `initMisc`
  cmd/process-agent/api/server.go
  cmd/process-agent/main_common.go
  comp/README.md
  comp/process/apiserver/apiserver.go
  comp/process/apiserver/apiserver_test.go
  comp/process/apiserver/component.go
  comp/process/bundle.go
  comp/process/expvars/component.go
  comp/process/expvars/expvars.go
  comp/process/expvars/expvars_test.go
  pkg/process/status/expvars.go
Labels: changelog/no-changelog, team/processes

#16462 [backport] Always set all properties when processing installer account
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsDomainClientTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsDomainControllerTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
Labels: changelog/no-changelog, bugfix/functional, team/windows-agent

#16469 Not ignore `err` of `ResolveImageName`
  pkg/collector/corechecks/containers/docker/check.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#16429 [SEC-7943][CWS] add new constant to SECL based on the eBPF map names that CWS uses
  pkg/security/ebpf/compile.go
  pkg/security/secl/model/bpf_maps_generator/bpf_maps_generator.go
  pkg/security/secl/model/bpf_maps_generator/gen.go.tmpl
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/consts_map_names.go
  pkg/security/tests/bpf_test.go
  pkg/security/tests/syscall_tester/c/ebpf_probe.c
  pkg/security/tests/syscall_tester/go/syscall_go_tester.go
Labels: changelog/no-changelog, team/agent-security

#16477 [CWS] use vdso for monotonic clock reading instead of real syscall
  pkg/security/resolvers/time/resolver.go
Labels: changelog/no-changelog, team/agent-security

#16273 [CWS][SEC-2507] Add module arguments to init module event
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/hooks/module.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/module.go
  pkg/security/probe/field_handlers.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/field_handlers.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/serializers/serializers.go
  pkg/security/serializers/serializers_easyjson.go
  pkg/security/tests/kernel_module_test.go
  releasenotes/notes/cws-load-module-arguments-e17a88174b8da624.yaml
Labels: team/agent-security

#16467 Add Windows FILETIME helpers
  pkg/network/protocols/http/etw_http_service.go
  pkg/util/winutil/etw/etw-utils.go
  pkg/util/winutil/time.go
  pkg/util/winutil/time_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#16483 lint: fix flake8 lint
  test/integration/serverless/log_normalize.py
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#16481 CI: fix the `needs` relation for CWS/CSPM tests
  .gitlab/e2e.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16466 Fix structure parsing error on Server 2022
  pkg/network/protocols/http/etw_http_service.go
  releasenotes/notes/fixetw2022-0acc6da346e450c1.yaml
Labels: team/windows-kernel-integrations

#16475 Backport fix structure parsing erro on server 2022
  pkg/network/protocols/http/etw_http_service.go
  releasenotes/notes/fixetw2022-0acc6da346e450c1.yaml
Labels: team/windows-kernel-integrations

#16453 Clear rtloader CMakeCache before omnibus builds
  omnibus/config/software/datadog-agent.rb
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#16379 [trivy] Prevent sbom collection if disk usage is high
  pkg/config/config.go
  pkg/util/trivy/telemetry.go
  pkg/util/trivy/trivy.go
Labels: team/containers, changelog/no-changelog

#16465 [process-agent] Fix process CPU usage percentages being reported as negative values
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_nix.go
  pkg/process/checks/process_windows.go
  releasenotes/notes/process-agent-negative-cpu-process-fix-2f2d22446cd7d89f.yaml
Labels: team/processes

#16492 usm: tests: fix typos
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16491 flaky tls docker test
  pkg/network/protocols/tls/openssl.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16430 pkg/trace/api: ensure that OTLP container tags get added to the payload
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/apm-otlp-container-tags-payload-1a77c0ea8e10e8ef.yaml
Labels: team/opentelemetry

#16487 [process-agent] Fix `comp/process/expvars` tests
  pkg/process/status/expvars.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#16391 Allow loading config component overrides from yaml
  comp/core/config/config.go
  comp/core/config/params.go
  comp/dogstatsd/replay/writer_test.go
  comp/dogstatsd/server/convert_bench_test.go
  comp/dogstatsd/server/enrich_serverless_test.go
  comp/dogstatsd/server/enrich_test.go
  comp/dogstatsd/server/parse.go
  comp/dogstatsd/server/parse_events_test.go
  comp/dogstatsd/server/parse_metrics_test.go
  comp/dogstatsd/server/parse_service_checks_test.go
  comp/dogstatsd/server/parse_test.go
  comp/dogstatsd/server/server_bench_test.go
  comp/dogstatsd/server/server_test.go
  comp/dogstatsd/server/server_worker.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#16239 Sanitize HTML sent from the Agent in the GUI
  cmd/agent/gui/views/private/js/javascript.js
  cmd/agent/gui/views/private/js/purify.min.js
  cmd/agent/gui/views/templates/index.tmpl
Labels: changelog/no-changelog, team/agent-shared-components

#16496 [CWS] sync and warn on duplicated BPF map names
  pkg/security/secl/model/bpf_maps_generator/bpf_maps_generator.go
  pkg/security/secl/model/consts_map_names.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16461 [invoke] Add unit test tags to system-probe unit tests
  .gitlab/source_test/ebpf.yml
  tasks/build_tags.py
  tasks/winbuildscripts/sysprobe.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16518 [CI] Disable Codecov upload in CircleCI
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16517 [CWS] call custom marshaller after rate limiter
  pkg/security/events/custom.go
  pkg/security/module/policy_monitor.go
  pkg/security/module/self_tests.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, kind/performance, team/agent-security

#16480 [CircleCI] Use larger instances for unit and integration tests
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16416 trace/agent: improve the reliability of the processing loop
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/event/processor.go
  pkg/trace/event/processor_test.go
  pkg/trace/sampler/sampler.go
  pkg/trace/sampler/spansampler_test.go
  pkg/trace/traceutil/processed_trace.go
  pkg/trace/traceutil/processed_trace_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#16516 bump `go-securesystemslib` and `in-toto-golang`
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, dependencies, team/remote-config, dependencies-go

#16520 [CWS] simplify creation of lazy `NewCustomEvent`
  pkg/security/events/custom.go
  pkg/security/module/policy_monitor.go
  pkg/security/module/self_tests.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16519 [CWS] deduplicate map names
  pkg/security/ebpf/c/include/helpers/discarders.h
  pkg/security/ebpf/c/include/helpers/security_profile.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/discarder_monitor.go
  pkg/security/probe/probe.go
  pkg/security/secl/model/bpf_maps_generator/bpf_maps_generator.go
  pkg/security/secl/model/consts_map_names.go
  pkg/security/security_profile/profile/manager.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16432 Correct pattern used for auto multiline detection
  pkg/logs/internal/decoder/auto_multiline_handler.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#16404 Separate UpdateTime and DataTime in DatadogMetric controller
  pkg/clusteragent/externalmetrics/datadogmetric_controller_test.go
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/clusteragent/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/externalmetrics/provider_test.go
Labels: team/containers, changelog/no-changelog

#16073 validate orchestration config
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/discovery/collector_discovery_crd.go
  releasenotes-dca/notes/validate-config-b6bd131de42c023e.yaml
Labels: team/container-app

#16537 [CWS] add parameter to enable/disable anomaly for syscall
  pkg/config/system_probe.go
  pkg/security/config/config.go
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security

#16427 Fix detection of containers missing requests & limits
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
  releasenotes-dca/notes/fix-k8s-resource-requirements-304442bc02ab569b.yaml
  releasenotes/notes/fix-k8s-resource-requirements-26bcfbcffc5dbaf0.yaml
Labels: team/container-app

#16498 pkg/trace/api: ensure that setting the receiver port to 0 still allows pipes & sockets
  pkg/trace/api/api.go
  pkg/trace/api/api_nix_test.go
  pkg/trace/api/pipe.go
  pkg/trace/api/pipe_off.go
  pkg/trace/log/buflogger.go
  pkg/trace/log/logger.go
  releasenotes/notes/apm-fix-receiver-port-zero-issue-2ca61b837e5248e8.yaml
Labels: team/agent-apm

#16546 Bump OpenTelemetry Collector dependencies to v0.75.0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/otlp-v0.75.0-e54e052749677cb4.yaml
Labels: qa/skip-qa, team/opentelemetry

#16549 [CI] Disable `codecov` in the CI because its package disappeared from Pypi
  .circleci/requirements.txt
  .github/workflows/windows-lint-go.yml
  .github/workflows/windows-unittests.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16554 Increase memory request and limit for btf gen
  .gitlab/package_deps_build.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16500 [single-machine-performance] post report to GitHub
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, qa/skip-qa

#16544 Collect RFC1123 compliant cluster name for pods
  pkg/orchestrator/config/config.go
  releasenotes/notes/compliant-pod-cluster-name-9b674213adfe4fef.yaml
Labels: team/container-app

#16479 Add forwarder.Component
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/internal/settings/runtime_settings_test.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/main_windows.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command.go
  comp/README.md
  comp/dogstatsd/server/server_bench_test.go
  comp/dogstatsd/server/server_test.go
  comp/forwarder/bundle.go
  comp/forwarder/bundle_test.go
  comp/forwarder/defaultforwarder/component.go
  comp/forwarder/defaultforwarder/forwarder.go
  comp/forwarder/defaultforwarder/mock_component.go
  comp/forwarder/defaultforwarder/mock_forwarder.go
  comp/forwarder/defaultforwarder/params.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/check_sampler_bench_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_agent_test.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/aggregator/demultiplexer_test.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/test_common.go
  pkg/cli/subcommands/check/command.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/compliance/agent/agent_test.go
  pkg/metadata/scheduler_test.go
  pkg/serverless/metrics/metric_test.go
Labels: changelog/no-changelog, team/agent-security, team/agent-shared-components, team/agent-metrics-logs, team/platform-integrations

#16558 Fix rtloader build tool
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16553 [ksm-core][CI] add build flag to customresources to fix the CI
  pkg/collector/corechecks/cluster/ksm/customresources/crd.go
  pkg/collector/corechecks/cluster/ksm/customresources/cronjob.go
  pkg/collector/corechecks/cluster/ksm/customresources/hpa.go
  pkg/collector/corechecks/cluster/ksm/customresources/job.go
  pkg/collector/corechecks/cluster/ksm/customresources/node.go
  pkg/collector/corechecks/cluster/ksm/customresources/pdb.go
  pkg/collector/corechecks/cluster/ksm/customresources/pod.go
  pkg/collector/corechecks/cluster/ksm/customresources/utils.go
Labels: team/containers, changelog/no-changelog

#16560 Update jattach_test.go
  pkg/network/java/jattach_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16536 usm: kafka: Using topic name size in user mode
  pkg/ebpf/cgo/genpost.go
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/ebpf/c/protocols/kafka/types.h
  pkg/network/protocols/kafka/kafka_types_linux.go
  pkg/network/protocols/kafka/model_linux.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16525 pkg/trace/api: Make forwardingTransport requests run concurrently
  pkg/trace/api/transports.go
Labels: changelog/no-changelog, team/dynamic-instrumentation

#16524 pkg/trace/api: Add symdb upload reverse proxy endpoint
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  pkg/config/apm.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/symdb.go
  pkg/trace/api/symdb_test.go
  pkg/trace/config/config.go
  releasenotes/notes/apm-symdb-endpoint-ca0c373b539df46d.yaml
Labels: team/dynamic-instrumentation

#16540 [USM] enable process monitor only if needed
  pkg/network/protocols/http/monitor.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#16359 [pkg/networkdevice] Move payload to pkg/networkdevice
  .github/CODEOWNERS
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
  pkg/networkdevice/metadata/payload.go
  pkg/networkdevice/metadata/payload_utils.go
  pkg/networkdevice/metadata/payload_utils_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#16569 Fix E2E tests due to mismatch on admission controller service name
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#16565 update containerd version to v1.6.20
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#16385 [CWS] Add security profile anomaly detection and event filtering
  pkg/security/metrics/metrics.go
  pkg/security/module/cws.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/field_handlers.go
  pkg/security/probe/probe.go
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/dump/activity_dump_profile_proto_enc_v1.go
  pkg/security/security_profile/dump/activity_dump_test.go
  pkg/security/security_profile/profile/manager.go
  pkg/security/security_profile/profile/profile.go
  pkg/security/security_profile/profile/profile_dir.go
  pkg/security/security_profile/profile/profile_proto_dec_v1.go
  pkg/security/serializers/serializers.go
  pkg/security/tests/activity_dumps_test.go
Labels: changelog/no-changelog, team/agent-security

#15686 [SBOM] Generate SBOM for host
  .github/CODEOWNERS
  LICENSE-3rdparty.csv
  cmd/agent/common/loader.go
  pkg/collector/corechecks/loader.go
  pkg/collector/corechecks/sbom/check.go
  pkg/collector/corechecks/sbom/convert.go
  pkg/collector/corechecks/sbom/convert_test.go
  pkg/collector/corechecks/sbom/doc.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/config/config.go
  pkg/sbom/collectors/collectors.go
  pkg/sbom/collectors/containerd/containerd.go
  pkg/sbom/collectors/containerd/doc.go
  pkg/sbom/collectors/host/doc.go
  pkg/sbom/collectors/host/host.go
  pkg/sbom/sbom.go
  pkg/sbom/scanner/scanner.go
  pkg/sbom/telemetry/telemetry.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/util/containerd/containerd_util.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/collector.go
  pkg/util/trivy/telemetry.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  pkg/workloadmeta/telemetry/telemetry.go
Labels: changelog/no-changelog, team/agent-security

#16573 [CWS] Fix CI test from a regression introduced with #16385
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix

#16443 Retrieve container image ID
  pkg/util/podman/container.go
  pkg/workloadmeta/collectors/internal/containerd/container_builder.go
  pkg/workloadmeta/collectors/internal/containerd/container_builder_test.go
  pkg/workloadmeta/collectors/internal/containerd/event_builder_test.go
  pkg/workloadmeta/collectors/internal/docker/docker.go
  pkg/workloadmeta/collectors/internal/ecsfargate/ecsfargate.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  pkg/workloadmeta/collectors/internal/podman/podman.go
  pkg/workloadmeta/collectors/internal/podman/podman_test.go
  pkg/workloadmeta/types.go
  pkg/workloadmeta/types_test.go
Labels: team/containers, changelog/no-changelog

#16557 [Windows] Add additional flare output
  pkg/flare/archive_win.go
Labels: changelog/no-changelog, team/windows-kernel-integrations

#16555 [serverless] Fix GLIBC errors in integration tests
  test/integration/serverless/build_go_functions.sh
  test/integration/serverless/build_recorder.sh
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#16531 (7.45) [process-agent] Cache call to user.LookupId
  pkg/config/process.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_nix.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_test.go
  pkg/process/checks/process_windows.go
  pkg/process/checks/user_nix.go
  pkg/process/checks/user_nix_test.go
  pkg/process/checks/user_windows.go
  releasenotes/notes/cache-lookupid-10d510161283a406.yaml
Labels: team/processes

#16570 [ksm-core] Add metrics for `APIServices` objects
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/ksm/customresources/apiservice.go
  pkg/collector/corechecks/cluster/ksm/customresources/utils.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/util/kubernetes/apiserver/apiserver.go
  releasenotes/notes/ksm_core_add_apiservices-744768911f227570.yaml
Labels: team/containers, need-change/helm-chart

#16220 [Windows] Remove normalization from http tracking
  pkg/network/driver/ddnpmapi.h
  pkg/network/driver/types_windows.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/http2_test.go
  pkg/network/encoding/http_test.go
  pkg/network/event_common.go
  pkg/network/event_common_linux.go
  pkg/network/event_common_windows.go
  pkg/network/event_linux_test.go
  pkg/network/event_test.go
  pkg/network/event_windows_test.go
  pkg/network/protocols/http/etw_http_service.go
  pkg/network/protocols/http/http_statkeeper_test_windows.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/monitor_windows.go
  pkg/network/protocols/http/monitor_windows_test.go
  pkg/util/winutil/etw/etw-utils.go
  release.json
  releasenotes/notes/windowslocalhosthttp-9637c010d973b613.yaml
Labels: team/usm, team/windows-kernel-integrations

#16580 [single-machine-performance] Update lading to 0.14.0
  .gitlab/functional_test/regression_detector.yml
  test/regression/cases/uds_dogstatsd_to_api/lading/lading.yaml
Labels: changelog/no-changelog, qa/skip-qa

#16567 Fix the DCA admission controller in socket mode for pods with an init container
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/config_test.go
  releasenotes-dca/notes/fix-agent-pod-mutation-in-socket-mode-c610a4dfd7a63a09.yaml
Labels: team/containers, component/cluster-agent

#16579 Make the agent detect ECS EC2 environment even with host install
  pkg/config/environment.go
  releasenotes/notes/detect-ecs-ec2-on-host-install-531f216c04516546.yaml
Labels: team/containers, component/config

#16581 Decrease the log level when failing to extract container ID from `tcp_queue_length` and `oom_kill` checks
  pkg/collector/corechecks/ebpf/oom_kill.go
  pkg/collector/corechecks/ebpf/tcp_queue_length.go
Labels: team/containers, changelog/no-changelog

#16576 Revert "enable syscalls collection in activity dumps by default (#156…
  pkg/config/system_probe.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/performance

#16578 feat(cluster-agent): add active tag on external-metrics telemetry
  pkg/clusteragent/externalmetrics/telemetry.go
  releasenotes-dca/notes/external-metrics-telemetry-add-valid-tag-352fa5560a2cf0fb.yaml
Labels: kind/enhancement, team/containers, component/cluster-agent

#16541 [pkg/otlp] Remove usage of deprecated function WithPreviewHostnameFromAttributes.
  go.mod
  go.sum
  pkg/otlp/internal/serializerexporter/exporter.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/otlp-use-min-max-histograms-5c01fe14ef69e127.yaml
Labels: team/opentelemetry

#16588 sysprobe: make `agent-security` CODEOWNERS of sysprobe config as well
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, team/ebpf-platform

#16589 [CWS & CSPM] bump security agent policies to v0.45.0
  release.json
Labels: changelog/no-changelog, team/agent-security, category/release_operations

#16587 [CWS] remove syscall collection from default AD traced event types
  pkg/config/system_probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16360 [pkg/netflow] Add NetFlow Exporter to NDM Metadata
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/profile_metadata_test.go
  pkg/collector/corechecks/snmp/topology_integration_test.go
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/server_test.go
  pkg/networkdevice/metadata/payload.go
  pkg/networkdevice/metadata/payload_utils.go
  pkg/networkdevice/metadata/payload_utils_test.go
  releasenotes/notes/netflow_exporter_metadata-b6b1eba16ca1164d.yaml
Labels: team/network-device-monitoring

#16550 [pkg/netflow] Rename payload `device.ip` to `exporter.ip`
  pkg/netflow/common/flow.go
  pkg/netflow/common/flow_test.go
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/netflow/flowaggregator/buildpayload.go
  pkg/netflow/flowaggregator/buildpayload_test.go
  pkg/netflow/flowaggregator/flowaccumulator_test.go
  pkg/netflow/goflowlib/convert.go
  pkg/netflow/goflowlib/convert_test.go
  pkg/netflow/payload/payload.go
  pkg/netflow/testutil/testutil.go
  pkg/networkdevice/metadata/payload_utils.go
  pkg/networkdevice/metadata/payload_utils_test.go
  releasenotes/notes/netflow_rename_device_to_exporter-243fa5fc21101a1f.yaml
Labels: team/network-device-monitoring

#16335 ebpf: cleanup header download retry mechanism
  pkg/util/kernel/download_headers.go
  pkg/util/kernel/find_headers.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16367 [backport] [7.44.x] Upgrade JMXFetch to 0.47.8
  pkg/config/config.go
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0-47-8-upgrade-fa45b54e42d99504.yaml
Labels: team/agent-metrics-logs

#16593 [CWS] merge `Open + ReadAll` into `ReadFile`
  pkg/security/security_profile/profile/profile_dir.go
  pkg/security/tests/kernel_module_test.go
  pkg/security/tests/module_stresser.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16595 [release] Update release.json and Go modules for 6/7.44.0-rc.7
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/agent-core

#16575 [CWS] ignore abnormal path for profile
  pkg/security/security_profile/profile/manager.go
Labels: changelog/no-changelog, team/agent-security

#16533 e2e: use new helm chart capability to switch on remote config
  test/e2e/argo-workflows/templates/datadog-agent.yaml
Labels: changelog/no-changelog, team/agent-security

#16598 [CWS] fix SBOM resolver init
  pkg/sbom/scanner/scanner.go
  pkg/security/resolvers/sbom/resolver.go
Labels: changelog/no-changelog, team/agent-security

#15757 [CSPM] Bootstrap functional tests on rego compliance checks
  pkg/compliance/tests/.gitignore
  pkg/compliance/tests/audit_test.go
  pkg/compliance/tests/badenv_test.go
  pkg/compliance/tests/base_test.go
  pkg/compliance/tests/docker_test.go
  pkg/compliance/tests/file_test.go
  pkg/compliance/tests/helpers.go
  pkg/compliance/tests/kubernetes_test.go
  pkg/compliance/tests/process_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16597 Use correct counter for scan attempts
  pkg/sbom/scanner/scanner.go
Labels: changelog/no-changelog, team/agent-security

#16364 Upgrades JMXFetch and adds extra config options for JMXFetch statsd client
  pkg/config/config.go
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0.47.8-52ab4c3b6b877cd2.yaml
Labels: team/agent-metrics-logs

#16592 [gitlab] Refactor package deploy jobs
  .gitlab-ci.yml
  .gitlab/deploy_6/nix.yml
  .gitlab/deploy_6/windows.yml
  .gitlab/deploy_7/nix.yml
  .gitlab/deploy_7/windows.yml
  .gitlab/deploy_common.yml
  .gitlab/trigger_release.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16173 Add ability to run new-e2e tests based on test-infra
  .github/CODEOWNERS
  .gitlab/e2e.yml
  tasks/__init__.py
  tasks/new_e2e_tests.py
  test/new-e2e/containers/ecs_test.go
  test/new-e2e/containers/main_test.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/ndm/snmp/snmpTestEnv.go
  test/new-e2e/runner/ci-profile.go
  test/new-e2e/runner/configmap.go
  test/new-e2e/runner/local-profile.go
  test/new-e2e/runner/parameters/caching_store.go
  test/new-e2e/runner/parameters/const.go
  test/new-e2e/runner/parameters/errors.go
  test/new-e2e/runner/parameters/store.go
  test/new-e2e/runner/parameters/store_aws.go
  test/new-e2e/runner/parameters/store_env.go
  test/new-e2e/runner/profile.go
  test/new-e2e/scenarios/ndm/main.go
  test/new-e2e/system-probe/system-probe-test-env.go
  test/new-e2e/utils/credentials/manager.go
  test/new-e2e/utils/e2e/e2e.go
  test/new-e2e/utils/e2e/e2e_test.go
  test/new-e2e/utils/infra/stack_manager.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#16538 [omnibus] Ship source offer files for LGPL software
  omnibus/config/software/libxcrypt.rb
Labels: changelog/no-changelog, team/agent-platform

#16034 [system-probe] Start of dynamic instrumentation system probe module
  .github/CODEOWNERS
  cmd/system-probe/config/config.go
  cmd/system-probe/config/config_linux_test.go
  cmd/system-probe/modules/all_linux.go
  cmd/system-probe/modules/dynamic_instrumentation.go
  pkg/config/system_probe.go
  pkg/dynamicinstrumentation/config.go
  pkg/dynamicinstrumentation/doc.go
  pkg/dynamicinstrumentation/module_linux.go
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: changelog/no-changelog, qa/skip-qa, team/dynamic-instrumentation

#16599 [RC] Add missing unlock in case of error in RC
  pkg/config/remote/service/service.go
Labels: changelog/no-changelog, team/remote-config

#15470 Add confluent-kafka-python to omnibus
  omnibus/config/software/confluent-kafka-python.rb
  omnibus/config/software/cyrus-sasl.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/libcom_err.rb
  omnibus/config/software/librdkafka.rb
  omnibus/config/software/lmdb.rb
  releasenotes/notes/confluent-kafka-f2e66cc33d1c73c8.yaml
Labels: team/integrations

#16438 [SBOM] Replace BadgerDB cache by a custom LRU cache with a cleaning mechanism for Trivy
  .gitignore
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/cache_test.go
  pkg/util/trivy/collector.go
  pkg/util/trivy/containerd.go
  pkg/util/trivy/db.go
  pkg/util/trivy/db_test.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  pkg/workloadmeta/telemetry/telemetry.go
  releasenotes/notes/add-custom-local-cache-sbom-d64e46b509e40161.yaml
Labels: team/containers

#16535 [process-agent] Bring back override for `HOST_PROC` and `HOST_SYS` environment variables
  cmd/process-agent/command/command.go
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
Labels: changelog/no-changelog, team/processes

#16547 [SNMP] Add constant metric in profiles
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metric.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  releasenotes/notes/snmp-profile-constant-metrics-a8d3e8b19301a914.yaml
Labels: team/network-device-monitoring

#16577 pkg/otlp: Fix trace data dropping in OTLP ingest
  pkg/otlp/map_provider.go
  pkg/otlp/map_provider_test.go
  pkg/trace/api/otlp.go
  releasenotes/notes/fix-trace-data-dropping-otlp-ingest-843200ffdc2a8196.yaml
Labels: team/opentelemetry

#16604 Adding mandatory tags for Oracle monitoring
  pkg/collector/corechecks/oracle-dbm/oracle.go
  pkg/collector/corechecks/oracle-dbm/statements.go
Labels: changelog/no-changelog, team/database-monitoring

#16417 [ci] Correctly tag and push internal images to build-stable
  .gitlab-ci.yml
  .gitlab/deploy_7/container.yml
  .gitlab/deploy_dca.yml
Labels: team/containers, changelog/no-changelog

#16596 [CWS] Simplify the code in the raw_syscalls/sys_enter hook point
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/probe/probe.go
  pkg/security/security_profile/dump/activity_dump.go
Labels: changelog/no-changelog, team/agent-security

#16603 [kitchen] Split Win2008R2/2012/2012R2 kitchen tests from the rest, allow them to fail
  .gitlab/kitchen_testing/windows.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/windows-agent

#16609 [gitlab] Temporarily fix package size checks
  .gitlab/pkg_metrics.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16613 Revert "[CWS] Simplify the code in the raw_syscalls/sys_enter hook point"
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/probe/probe.go
  pkg/security/security_profile/dump/activity_dump.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16612 [SBOM] Replace BadgerDB cache by a custom LRU cache with a cleaning mechanism for Trivy
  .gitignore
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/sbom/collectors/collectors.go
  pkg/sbom/collectors/containerd/containerd.go
  pkg/sbom/collectors/docker/docker.go
  pkg/sbom/collectors/host/host.go
  pkg/sbom/scanner/scanner.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/cache_test.go
  pkg/util/trivy/containerd.go
  pkg/util/trivy/db.go
  pkg/util/trivy/db_test.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/telemetry/telemetry.go
  releasenotes/notes/add-custom-local-cache-sbom-d64e46b509e40161.yaml
Labels: team/containers

#16602 Upgrades JMXFetch and adds config option to control statsd blocking mode
  .circleci/requirements.txt
  .github/workflows/windows-unittests.yml
  pkg/config/config.go
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0.47.8-52ab4c3b6b877cd2.yaml
Labels: team/agent-metrics-logs

#16607 fix macos tests
  pkg/network/event_common_linux.go
  pkg/network/event_common_notwindows.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16315 Fill new information in container payload in process-agent
  go.mod
  go.sum
  pkg/process/checks/container_rt.go
  pkg/process/util/containers.go
  pkg/process/util/containers_test.go
Labels: team/containers, changelog/no-changelog, category/feature

#16178 Db/is event monitor support windows
  .github/CODEOWNERS
  cmd/system-probe/modules/all_windows.go
  cmd/system-probe/modules/eventmonitor.go
  docs/cloud-workload-security/secl_linux.json
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-windows-procmon-driver.rb
  omnibus/resources/agent/msi/source.wxs.erb
  pkg/ebpf/bytecode/runtime/offsetguess.go
  pkg/eventmonitor/eventmonitor.go
  pkg/eventmonitor/eventmonitor_linux.go
  pkg/eventmonitor/eventmonitor_windows.go
  pkg/network/events/network_consumer_windows.go
  pkg/process/events/process_events_consumer.go
  pkg/security/module/cws_unsupported.go
  pkg/security/module/opts.go
  pkg/security/probe/field_handlers_linux.go
  pkg/security/probe/field_handlers_windows.go
  pkg/security/probe/opts_linux.go
  pkg/security/probe/opts_windows.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_windows.go
  pkg/security/resolvers/process/resolver_windows.go
  pkg/security/resolvers/resolvers_linux.go
  pkg/security/resolvers/resolvers_windows.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/compiler/generators/accessors/field_handlers.tmpl
  pkg/security/secl/model/accessors_linux.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/field_handlers_linux.go
  pkg/security/secl/model/field_handlers_windows.go
  pkg/security/secl/model/model.go
  pkg/windowsdriver/.gitignore
  pkg/windowsdriver/include/procmonapi.h
  pkg/windowsdriver/olreader/olreader.go
  pkg/windowsdriver/procmon/procmon.go
  pkg/windowsdriver/procmon/types.go
  pkg/windowsdriver/procmon/types_windows.go
  tasks/libs/copyright.py
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/usm, team/windows-kernel-integrations

#16616 [release] Update release.json and Go modules for 6/7.43.2-rc.1
  .gitlab/functional_test/security_agent.yml
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/agent-core

#16617 [Windows] Fix install flow with closed source PR
  tools/windows/install-help/cal/customactiondata.cpp
Labels: changelog/no-changelog, team/windows-kernel-integrations

#16618 [macos] hack around macos test problem
  cmd/system-probe/config/config_unsupported.go
  cmd/system-probe/modules/eventmonitor.go
  pkg/eventmonitor/eventmonitor.go
  pkg/eventmonitor/eventmonitor_other.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_unsupported.go
  pkg/security/resolvers/resolvers_others.go
  pkg/security/secl/model/accessors_other.go
  pkg/security/secl/model/field_handlers_other.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#16623 [release] Update release.json and Go modules for 6/7.45.0-rc.1
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#16622 [CWS] events fix macOS - second round
  docs/cloud-workload-security/secl_linux.json
  pkg/security/probe/probe_unsupported.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/compiler/generators/accessors/field_handlers.tmpl
  pkg/security/secl/model/accessors_linux.go
  pkg/security/secl/model/accessors_other.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/field_handlers_other.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/field_handlers_windows.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/bugfix, bugfix/functional

#16626 Fix SBOM collection
  cmd/agent/common/loader.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#16614 [apm] Fix incorrect peer service config
  pkg/config/apm.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, team/agent-apm, category/bugfix, bugfix/functional

#16651 Allow everyone to check for agent configuration files
  omnibus/package-scripts/agent-deb/postinst
  omnibus/package-scripts/agent-rpm/postinst
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#16665 e2e: fix fedora gpg key
  test/e2e/scripts/setup-instance/01-ignition.sh
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/release_operations
