Repository DataDog/datadog-agent, pull requests merged in 2023-07, with the labels that each got.

#17903 [corechecks/snmp] Allow metric_type in scalar symbol
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#17407 usm: encoding: Migrate http2 encoder
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
  pkg/network/encoding/http2.go
  pkg/network/encoding/http2_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#17927 [CSPM] Update k8sconfig generated types to support k8s v1.27
  pkg/compliance/k8sconfig/types_generated.go
  pkg/compliance/tools/k8s_types_generator.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-cspm

#17686 Change MacOS install script
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-platform

#17266 Bump confluent-kafka-python version on omnibus
  omnibus/config/software/confluent-kafka-python.rb
  omnibus/config/software/librdkafka.rb
Labels: changelog/no-changelog, team/integrations

#17920 [CWS] refactor dentry resolver
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/helpers/exec.h
  pkg/security/ebpf/c/include/helpers/filesystem.h
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/probe/discarders.go
  pkg/security/resolvers/dentry/resolver.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/tests/dentry_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17463 Update kubernetes_state.md to reference integrations-core
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
Labels: documentation, team/containers, changelog/no-changelog, qa/skip-qa

#17923 Fix the `new-e2e-containers` GitLab job
  .gitlab-ci.yml
  test/new-e2e/containers/k8s_test.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#17871 Increase wait time in`TestKubeletTestSuite/TestGetPodWaitForContainer`
  pkg/util/kubernetes/kubelet/kubelet_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#17706 [NDM] Add protocol defaults for corecheck
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/session/session.go
  pkg/collector/corechecks/snmp/internal/session/session_test.go
  pkg/snmp/snmp_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#17947 [CSPM] Add certificates user/mode/group meta for certificates directory
  pkg/compliance/k8sconfig/loader.go
  pkg/compliance/k8sconfig/types.go
Labels: changelog/no-changelog, team/agent-cspm

#17948 Fix: TestRetryDelayNotElapsed flakiness
  pkg/util/retry/retrier_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#17881 [omnibus] Reset syschar in xccdf_session_result_reset in OpenSCAP
  omnibus/config/patches/openscap/session_reset_syschar.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, team/agent-cspm

#17952 CODEOWNERS: transfer OpenSCAP ownership to CSPM
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-cspm

#17380 [pkg/networkdevice] Add meraki fields to NDM Metadata payload
  pkg/networkdevice/metadata/payload.go
  releasenotes/notes/snmp_add_meraki_fields-af9fbb48d5cf7c30.yaml
Labels: team/network-device-monitoring

#17956 [CWS] use path_id for mount resolution
  pkg/security/ebpf/c/include/helpers/filesystem.h
  pkg/security/ebpf/c/include/hooks/mount.h
  pkg/security/ebpf/c/include/structs/filesystem.h
  pkg/security/probe/probe_linux.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/mount/resolver_test.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/serializers/serializers.go
  pkg/security/tests/mount_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17844 pkg/obfuscate: redis obfuscation var to remove arguments
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  cmd/trace-agent/config/testdata/full.yaml
  pkg/config/apm.go
  pkg/config/config_template.yaml
  pkg/flare/envvars.go
  pkg/obfuscate/obfuscate.go
  pkg/obfuscate/redis.go
  pkg/obfuscate/redis_test.go
  pkg/status/fixtures/agent_status.json
  pkg/trace/agent/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  releasenotes/notes/apm-new-redis-remove-all-args-51420bd142dd6ae7.yaml
Labels: team/agent-apm

#17974 Fix TestConcentratorStatsCounts to use full AggregationKey when comparing expected to actual stats.
  pkg/trace/stats/concentrator_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#17654 [windows] update to new signing
  .gitlab-ci.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/package_build/windows.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/windows.yml
  omnibus/config/projects/agent-binaries.rb
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  tasks/msi.py
  tasks/utils.py
  test/kitchen/test-definitions/windows-install-test.yml
  test/kitchen/test/integration/common/rspec_datadog/spec_helper.rb
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentSignature.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Program.cs
Labels: changelog/no-changelog, team/windows-agent

#17909 [RCM] Add rcclient test
  comp/remote-config/rcclient/rcclient.go
  comp/remote-config/rcclient/rcclient_test.go
Labels: changelog/no-changelog, team/remote-config

#17971 [CWS] Fix panic when one program has no environ variable
  pkg/security/secl/model/process_cache_entry.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17837 [CWS][SEC-8451] Rebase activity tree on insertion of new exec-exec nodes
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/dump/manager.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17954 Add some missing job's team in JOBOWNERS
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#17949 [ASC-582] Fix local flare with non-default expvar_port
  pkg/flare/archive.go
  releasenotes/notes/flare-local-with-non-default-expvar_port-4cf1514f9580137a.yaml
Labels: category/bugfix, team/agent-shared-components, bugfix/functional

#17757 [CWS] add syscalls map monitor
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/helpers/discarders.h
  pkg/security/ebpf/c/include/helpers/filesystem.h
  pkg/security/ebpf/c/include/helpers/syscalls.h
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/c/include/hooks/link.h
  pkg/security/ebpf/c/include/hooks/mmap.h
  pkg/security/ebpf/c/include/hooks/module.h
  pkg/security/ebpf/c/include/hooks/mount.h
  pkg/security/ebpf/c/include/hooks/open.h
  pkg/security/ebpf/c/include/hooks/rename.h
  pkg/security/ebpf/c/include/hooks/rmdir.h
  pkg/security/ebpf/c/include/hooks/setattr.h
  pkg/security/ebpf/c/include/hooks/setxattr.h
  pkg/security/ebpf/c/include/hooks/splice.h
  pkg/security/ebpf/c/include/hooks/unlink.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/mount.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/monitors/approver/approver_monitor.go
  pkg/security/probe/monitors/syscalls/syscalls_monitor.go
  pkg/security/probe/opts_linux.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_monitor.go
  pkg/security/secl/model/consts_map_names.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/statsd_client.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17970 fix import: use testify instead of gotest.tools
  pkg/util/filesystem/permission_nowindows_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#17980 [CWS][SEC-8451] Allow multiple "exec" children in an Activity Tree
  go.mod
  go.sum
  pkg/security/secl/model/model.go
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_enc_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/activity_tree/process_node.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17955 [RCM-1075] Fetch org and key status regularly
  pkg/config/remote/api/http.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/remoteconfig.pb.go
Labels: changelog/no-changelog, team/remote-config

#17979 Fix formatting of processes in `workload-list -v`
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog

#17985 [CWS] do not count twice broken lineage
  pkg/security/serializers/serializers.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#16799 [CWS] Introduce hash resolver
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/config/system_probe.go
  pkg/security/config/config.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/field_handlers_linux.go
  pkg/security/probe/field_handlers_windows.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/security_profile.go
  pkg/security/resolvers/hash/resolver.go
  pkg/security/resolvers/hash/resolver_test.go
  pkg/security/resolvers/resolvers_linux.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_string.go
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_enc_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/activity_tree/file_node.go
  pkg/security/security_profile/activity_tree/process_node.go
  pkg/security/security_profile/activity_tree/process_node_snapshot.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/dump/graph.go
  pkg/security/security_profile/dump/load_controller.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/security_profile/profile/manager.go
  pkg/security/serializers/serializers.go
  pkg/security/serializers/serializers_easyjson.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/statsdclient/statsd_client.go
  pkg/security/utils/proc.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17993 [CWS] remvove unused function
  pkg/security/resolvers/process/resolver.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#17842 Add information about defaulted limit and use it in process-agent
  pkg/process/util/containers.go
  pkg/process/util/containers_test.go
  pkg/util/containers/metrics/containerd/collector_linux.go
  pkg/util/containers/metrics/containerd/collector_linux_test.go
  pkg/util/containers/metrics/containerd/collector_windows.go
  pkg/util/containers/metrics/containerd/collector_windows_test.go
  pkg/util/containers/metrics/docker/collector_linux.go
  pkg/util/containers/metrics/docker/collector_windows.go
  pkg/util/containers/metrics/provider/types.go
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/collector_linux_test.go
Labels: team/containers, changelog/no-changelog

#17990 fix(remote-config): Remove useless error log
  pkg/config/remote/client.go
Labels: kind/bug, changelog/no-changelog, qa/skip-qa, team/remote-config, category/bugfix

#17611 Fix points being discarded when using different timeWindows and rollups
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/datadogexternal_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix

#17831 Add node/pods metadata to readiness probe - making sure Cluster Agent is ready to serve tag endpoints before being added to endpoints
  pkg/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/node.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/pod.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/reflector_store.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/utils.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/utils_test.go
Labels: team/containers, changelog/no-changelog, category/improvement

#17966 [CSPM] Handle system characteristics in XCCDF evaluator
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  omnibus/config/patches/openscap/oscap-io.patch
  omnibus/config/patches/openscap/session-print-syschar.patch
  omnibus/config/software/openscap.rb
  pkg/compliance/evaluator_xccdf.go
  pkg/compliance/scap/document.go
  pkg/compliance/scap/syschar.go
Labels: changelog/no-changelog, team/agent-cspm

#18005 CONT-3979 Create “Linux only” multi-arch agent docker images
  .gitlab/deploy_7/container.yml
Labels: team/containers, changelog/no-changelog

#18003 Update ddqa container-integrations config
  .ddqa/config.toml
Labels: dev/tooling, team/containers, qa/skip-qa

#17977 Utilizes protoscope definition language for protobuf serialization unit tests
  go.mod
  go.sum
  pkg/serializer/serializer_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#17981 [CSPM] Add a tool to product a JSON schema of our k8s configs
  pkg/compliance/k8sconfig/types.go
  pkg/compliance/tools/k8s_schema_generator/main.go
  pkg/compliance/tools/k8s_types_generator/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-cspm

#17854 fix(cluster-check): update node busyness score
  cmd/agent/subcommands/run/internal/clcrunnerapi/v1/clcrunner.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/clusteragent/clusterchecks/helpers_test.go
  pkg/clusteragent/clusterchecks/types/types.go
  pkg/status/status_test.go
  pkg/status/types.go
  releasenotes-dca/notes/clc-busyness-score-logic-update-0d1d1b3f8cef927f.yaml
Labels: team/containers, component/cluster-agent, component/clusterchecks

#17841 Fix: flaky TestAutoscalerController unittest
  pkg/util/kubernetes/apiserver/hpa_controller_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#17997 [process-agent] Use random TCP port in Workloadmeta gRPC server tests
  pkg/process/metadata/workloadmeta/grpc_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#18009 [CSPM] Improve handling of oscap-io termination
  pkg/compliance/evaluator_xccdf.go
Labels: changelog/no-changelog, team/agent-cspm

#17996 [CWS] Fix profile json and dot encoder
  pkg/security/security_profile/activity_tree/activity_tree_graph.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix

#17840 [CWS] Add a DNS name validator
  pkg/security/secl/model/dns_helpers.go
  pkg/security/secl/model/dns_helpers_test.go
  pkg/security/secl/model/unmarshallers.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17748 [CWS] Add unit tests for activity_tree.CreateProcessNode func
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_stats.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/profile/manager_test.go
  pkg/security/security_profile/tests/activity_tree_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17879 [CWS] Fix activity tree process cookie bug
  pkg/security/security_profile/activity_tree/activity_tree.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix

#17744 Update go version to 1.20.5
  .circleci/README.md
  .circleci/config.yml
  .circleci/images/builder/Dockerfile
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  .gitlab/source_test/ebpf.yml
  .go-version
  comp/core/flare/helpers/send_flare.go
  comp/dogstatsd/replay/writer.go
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  internal/tools/go.mod
  internal/tools/go.sum
  pkg/errors/errors.go
  pkg/logs/internal/launchers/windowsevent/launcher_windows.go
  pkg/network/protocols/http/etw_http_service.go
  pkg/process/procutil/process_windows.go
  pkg/trace/watchdog/info_test.go
  releasenotes/notes/bump-go-1.20.5-23b430584bf8f0b2.yaml
  tasks/go.py
  tasks/test.py
  tools/gdb/Dockerfile
Labels: team/agent-apm, team/agent-platform, component/system-probe, team/processes, team/networks, team/agent-security, major_change, team/agent-shared-components, team/agent-metrics-logs

#17964 [process-agent] Extend WorkloadMetaExtractor to expose NSPid and creation time and not update cache if there's no process creation/deletion
  pkg/process/metadata/workloadmeta/extractor.go
  pkg/process/metadata/workloadmeta/extractor_test.go
  pkg/process/metadata/workloadmeta/grpc.go
  pkg/process/metadata/workloadmeta/grpc_test.go
Labels: changelog/no-changelog, team/processes

#18001 Trigger the kernel_matrix_testing system if relevant code changes
  .gitlab-ci.yml
  .gitlab/kernel_version_testing/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18021 pkg/trace/stats: Fix concentrator flakes
  pkg/trace/stats/concentrator_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#17887 Annotates dogstatsd metric series with an origin
  comp/dogstatsd/server/enrich.go
  comp/dogstatsd/server/enrich_bench_test.go
  comp/dogstatsd/server/enrich_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/time_sampler.go
  pkg/metrics/histogram_bucket.go
  pkg/metrics/metric_sample.go
  pkg/metrics/metricsource.go
  pkg/metrics/series.go
  pkg/serializer/internal/metrics/iterable_series.go
  pkg/serializer/internal/metrics/origin_mapping.go
  pkg/serializer/serializer_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#18010 Fix CODEOWNERS for the GitLab jobs related to containers deploy
  .github/CODEOWNERS
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#17982 Add kube_node as a host tag
  pkg/util/kubernetes/hostinfo/node_labels.go
  pkg/util/kubernetes/hostinfo/tags.go
  releasenotes/notes/kube-node-tag-65b546a96e843bbc.yaml
Labels: team/container-app

#17897 [RCM-1040] Support log level change in sysprobe
  cmd/agent/subcommands/run/command.go
  cmd/system-probe/subcommands/run/command.go
  comp/remote-config/rcclient/component.go
  comp/remote-config/rcclient/rcclient.go
Labels: changelog/no-changelog, component/system-probe, team/remote-config

#17998 Always run kernel matrix testing cleanup
  .gitlab/kernel_version_testing/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18028 [CSPM] Stop oscap-io process after a period of inactivity
  pkg/compliance/evaluator_xccdf.go
Labels: changelog/no-changelog, team/agent-cspm

#18019 [CWS] fix default rc config overridden
  pkg/security/secl/rules/policy_loader.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17750 Added nightly/manual CI jobs for running macrobenchmarks on the Trace agent
  .gitlab-ci.yml
  .gitlab/benchmarks/macrobenchmarks.yml
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#18004 Kacper murzyn/7.46.0 final
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  releasenotes/notes/prelude-release-7.46.0-2f8af706183b80a4.yaml
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#17994 [RCM-1070] Add remote config to the status command
  cmd/agent/gui/views/templates/generalStatus.tmpl
  pkg/config/remote/service/service.go
  pkg/status/render.go
  pkg/status/status.go
  pkg/status/templates/remoteconfig.tmpl
Labels: changelog/no-changelog, team/remote-config

#18006 Replace agent-core with agent-release-management
  tasks/release.py
Labels: changelog/no-changelog, qa/skip-qa

#17775 Adds basic developer docs around jmxfetch and jmx checks
  docs/dev/checks/README.md
  docs/dev/checks/jmxfetch.md
Labels: changelog/no-changelog, editorial review, qa/skip-qa, team/agent-metrics-logs

#18035 Added feature_usm_enabled
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#18025 Add new metrics for resource aggregation to KSM check
  pkg/collector/corechecks/cluster/ksm/customresources/pod.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes/notes/ksm-resource-aggregation-metrics-1e5744c53e7f10e1.yaml
Labels: team/containers, component/kubernetes_state_core

#18002 Adding support for Oracle Autonomous Database (Oracle Cloud Infrastructure)
  pkg/collector/corechecks/oracle-dbm/activity.go
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/oracle.go
  releasenotes/notes/oracle-cloud-support-9c3139736b82bba3.yaml
Labels: team/database-monitoring

#18039 Kacper murzyn/7.45.1 changelog backport 2
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#18038 Kacper murzyn/7.45.1 changelog backport
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#17950 AETT-171 Publish junit reports in GitLab and new-e2e junit ones to Datadog
  .gitlab-ci.yml
  .gitlab/e2e.yml
  .gitlab/e2e_test_junit_upload.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test/windows.yml
  tasks/new_e2e_tests.py
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#17969 [USM] Process event monitor filter only needed events
  go.mod
  go.sum
  pkg/process/monitor/process_monitor.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#18036 CONT-3894, CONT-3969 Fix the processing of `%%` pattern inside AD annotations
  pkg/autodiscovery/configresolver/configresolver.go
  pkg/autodiscovery/configresolver/configresolver_test.go
  releasenotes/notes/fix-%%-AD-annotations-cfddac3fb363fab9.yaml
Labels: team/containers

#18046 Daniel.lavie/fix system probe agent metadata
  pkg/metadata/inventories/inventories.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#17839 [usm][npm] Use LRU map type for `connection_protocol` when available
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#17912 Disable `datadog.agent.check_status` by default
  pkg/collector/worker/worker.go
  pkg/collector/worker/worker_test.go
  pkg/config/config.go
  releasenotes/notes/disable-datadog-agent-check-status-6ed6ca34b74091c0.yaml
Labels: team/agent-metrics-logs

#18053 jmxfetch- add attach.allowAttachSelf as default
  pkg/jmxfetch/jmxfetch.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#17972 Refactor `connection_protocol` data expiration
  pkg/network/ebpf/c/port_range.h
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/ebpf/c/protocols/classification/stack-helpers.h
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/stats.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#17914 [NPM] Fix ebpf connection map iteration
  pkg/network/tracer/connection/perf_batching.go
  pkg/network/tracer/connection/tcp_close_consumer.go
  pkg/network/tracer/connection/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#18056 Fix `lint_windows-x64` GitLab CI job
  test/new-e2e/scenarios/system-probe/main.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#18032 [CWS&CSPM] bump security agent policies to v0.47.0
  release.json
Labels: changelog/no-changelog, team/agent-security, team/agent-cspm

#17762 AP-2034 Change retry logic to work with gotest format kitchen logs
  .gitlab/source_test/linux.yml
  tasks/test.py
  tasks/winbuildscripts/unittests.ps1
  test/kitchen/tasks/kitchen.py
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/tasks/unit-tests/__init__.py
  test/kitchen/tasks/unit-tests/gotest-failed-runlog
  test/kitchen/tasks/unit-tests/gotest-infra-failed-runlog
  test/kitchen/tasks/unit-tests/infra-failed-runlog
  test/kitchen/tasks/unit-tests/kitchen_unit_tests.py
  test/kitchen/tasks/unit-tests/test-failed-runlog
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#18037 [CWS] Security profile stable period per event type
  pkg/config/system_probe.go
  pkg/security/config/config.go
  pkg/security/probe/probe_linux.go
  pkg/security/secl/model/events.go
  pkg/security/security_profile/profile/manager.go
  pkg/security/security_profile/profile/profile.go
Labels: changelog/no-changelog, team/agent-security

#17559 [CWS] Allow computing the difference between 2 activity dumps
  cmd/security-agent/flags/flags_common.go
  cmd/security-agent/subcommands/runtime/activity_dump.go
  pkg/security/resolvers/netns/graph.go
  pkg/security/security_profile/activity_tree/activity_tree_graph.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/dump/graph.go
  pkg/security/utils/graph.go
Labels: changelog/no-changelog, team/agent-security

#17967 upgrade(remote-config): Disable Remote Config for FED customers
  cmd/agent/subcommands/remoteconfig/command.go
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/trace-agent/config/config.go
  cmd/trace-agent/run.go
  pkg/clusteragent/admission/patch/provider.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/flare/archive.go
Labels: kind/enhancement, changelog/no-changelog, team/remote-config

#18047 Add test for symbol `metric_type` precedence
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/network-device-monitoring

#18029 [CSPM] Fix missing $ref to etcd component in k8sconfig schemas
  pkg/compliance/tools/k8s_schema_generator/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-cspm

#18058 [CSPM] Skip empty objects when parsing syschar
  pkg/compliance/scap/syschar.go
Labels: changelog/no-changelog, team/agent-cspm

#18031 [RCM] Update flare release note
  releasenotes/notes/add-remote-config-flare-support-8701f1c9239e04f1.yaml
Labels: changelog/no-changelog, team/remote-config

#18060 [CWS] Fix security-agent CLI
  cmd/security-agent/subcommands/runtime/activity_dump.go
  cmd/security-agent/subcommands/runtime/command.go
  pkg/security/security_profile/profile/manager_test.go
  pkg/security/tests/activity_dumps_encoding_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#18057 [Single-Machine-Performance] Update Regression Detector lading
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, qa/skip-qa

#18034 pkg/otlp: add opencensus receiver support
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/otlp.go
  pkg/otlp/collector.go
  pkg/otlp/config.go
  pkg/otlp/config_test.go
  pkg/otlp/map_provider.go
  pkg/otlp/map_provider_not_serverless_test.go
  pkg/otlp/testdata/receiver/advanced.yaml
Labels: changelog/no-changelog, team/opentelemetry

#18061 Allow CI failures of the `new-e2e-containers` test
  .gitlab/e2e.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#18026 [CWS] Change Anomaly Detection limiters to be x events per y duration
  pkg/config/system_probe.go
  pkg/security/config/config.go
  pkg/security/events/custom.go
  pkg/security/events/event.go
  pkg/security/events/rate_limiter.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/rules/engine.go
  pkg/security/secl/model/model.go
  pkg/security/utils/limiter.go
  pkg/security/utils/limiter_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#17726 [workloadmeta] Add Remote Process Collector
  pkg/config/config.go
  pkg/config/process.go
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/util/proto/workloadmeta.go
  pkg/workloadmeta/collectors/collectors.go
  pkg/workloadmeta/collectors/internal/remote/generic.go
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector.go
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector_test.go
  pkg/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/telemetry/telemetry.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
  releasenotes/notes/add-workloadmeta-remote-process-collector-0fd952d2dae65f63.yaml
Labels: team/containers

#18069 [Dockerfile][cluster-agent] Fix file perms in cluster agent image to allow copying
  Dockerfiles/cluster-agent/Dockerfile
Labels: team/containers, changelog/no-changelog

#17798 [CWS] Update system-probe dockerfiles from public helm charts
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/security-agent/system-probe-configmap.yaml
Labels: changelog/no-changelog, team/agent-security

#18030 Give more memory to windows lint job to avoid flakiness in CI
  .gitlab/source_test/windows.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#18054 Switch Availability Zone in response to capacity shortage.
  .gitlab/kernel_version_testing/system_probe.yml
  tasks/system_probe.py
  test/new-e2e/main
  test/new-e2e/scenarios/system-probe/main.go
  test/new-e2e/system-probe/system-probe-test-env.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform

#18065 [usm] Fix early return when protocol is null
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#18043 [SBOM] Send usage metrics
  pkg/autodiscovery/configmgr.go
  pkg/collector/corechecks/safesender.go
  pkg/collector/corechecks/sbom/check.go
Labels: changelog/no-changelog, team/agent-security

#18070 Add fips.enabled to the inventory
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: kind/enhancement, component/metadata, changelog/no-changelog, team/agent-shared-components

#17682 [workloadmeta] New remote process collector
  pkg/config/config.go
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/workloadmeta/collectors/collectors.go
  pkg/workloadmeta/collectors/internal/remote/generic.go
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector.go
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector_test.go
  pkg/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta.go
  pkg/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta_test.go
  pkg/workloadmeta/collectors/internal/remoteworkloadmeta/remoteworkloadmeta.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/telemetry/telemetry.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
  releasenotes/notes/add-workloadmeta-remote-process-collector-0fd952d2dae65f63.yaml
Labels: team/containers, changelog/no-changelog

#18068 Fixes for kernel matrix testing invoke tasks
  tasks/kernel_matrix_testing/README.md
  tasks/kernel_matrix_testing/env-setup.sh
  tasks/kernel_matrix_testing/init_kmt.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18074 Increase timeout for tests jobs
  .gitlab/kernel_version_testing/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18044 Update cilium/ebpf to improve CO-RE performance
  .gitlab/functional_test/system_probe.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern.c
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_kern_types.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_kern_types_linux.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_test.go
  pkg/ebpf/btf.go
  pkg/ebpf/cgo/genpost.go
  pkg/ebpf/co_re.go
  pkg/security/probe/constantfetch/core.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform

#18059 [CSPM] Deprecate compliance_config.xccdf.enabled in favor of compliance_config.host_benchmarks.enabled
  pkg/compliance/agent.go
  pkg/config/config.go
  releasenotes/notes/rename-xccdf-configuration-flag-19129eabe11a7bcc.yaml
Labels: team/agent-cspm

#17596 Migrate `pkg/telemetry` to a Component
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command.go
  cmd/system-probe/api/server.go
  cmd/system-probe/subcommands/run/command.go
  comp/README.md
  comp/core/bundle.go
  comp/core/telemetry/component.go
  comp/core/telemetry/counter.go
  comp/core/telemetry/gauge.go
  comp/core/telemetry/histogram.go
  comp/core/telemetry/options.go
  comp/core/telemetry/prom_counter.go
  comp/core/telemetry/prom_counter_test.go
  comp/core/telemetry/prom_gauge.go
  comp/core/telemetry/prom_histogram.go
  comp/core/telemetry/simple_counter.go
  comp/core/telemetry/simple_gauge.go
  comp/core/telemetry/simple_histogram.go
  comp/core/telemetry/simple_prom_counter.go
  comp/core/telemetry/simple_prom_gauge.go
  comp/core/telemetry/simple_prom_histogram.go
  comp/core/telemetry/telemetry.go
  comp/core/telemetry/telemetry_test.go
  comp/dogstatsd/packets/pool.go
  comp/dogstatsd/server/float64_list_pool.go
  comp/dogstatsd/server/intern.go
  comp/process/expvars/expvars.go
  go.mod
  pkg/collector/check/stats/stats.go
  pkg/collector/check/stats/stats_test.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/embed/apm.go
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/collector/corechecks/embed/process_agent.go
  pkg/collector/python/check.go
  pkg/config/utils/telemetry.go
  pkg/config/utils/telemetry_test.go
  pkg/metrics/metric_sample_pool.go
  pkg/process/status/expvars.go
  pkg/telemetry/counter.go
  pkg/telemetry/counter_test.go
  pkg/telemetry/gauge.go
  pkg/telemetry/histogram.go
  pkg/telemetry/prom_summary.go
  pkg/telemetry/prom_telemetry.go
  pkg/telemetry/simple_counter.go
  pkg/telemetry/simple_gauge.go
  pkg/telemetry/simple_histogram.go
  pkg/telemetry/summaries.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  pkg/util/kubernetes/autoscalers/processor_test.go
  test/integration/util/leaderelection/leaderelection_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-shared-components, team/agent-metrics-logs

#18022 [process-agent] Extend process entity `GRPCServer` to close stream if a message is dropped
  pkg/process/metadata/workloadmeta/grpc.go
  pkg/process/metadata/workloadmeta/grpc_test.go
Labels: changelog/no-changelog, team/processes

#17962 [system-probe] add NPM specific configuration to inventories
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#18080 [Single-Machine-Performance] Rollback lading update
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, qa/skip-qa

#18073 [gohai] simplify helper functions, add more explicit comments
  pkg/gohai/utils/test_helpers.go
  pkg/gohai/utils/value.go
  pkg/gohai/utils/value_helpers.go
  pkg/gohai/utils/value_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#18078 [CWS] Bugfix anomaly detection rate limiter
  pkg/config/system_probe.go
  pkg/security/config/config.go
  pkg/security/events/rate_limiter.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/utils/limiter.go
  pkg/security/utils/limiter_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#18081 fix data race in workload meta unit test
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector_test.go
  pkg/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta_test.go
  pkg/workloadmeta/store_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#18050 Upload dependencies as they become available
  .gitlab/kernel_version_testing/system_probe.yml
  test/new-e2e/system-probe/test/micro-vm-init.sh
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18055 [process-agent] Add telemetry to extractor and grpc server
  pkg/process/metadata/workloadmeta/extractor.go
  pkg/process/metadata/workloadmeta/grpc.go
Labels: changelog/no-changelog, team/processes

#18072 [CWS] Tune anomaly detection defaults
  pkg/config/system_probe.go
Labels: changelog/no-changelog, team/agent-security

#17891 External Metrics batch error handling
  pkg/clusteragent/externalmetrics/metrics_retriever.go
  pkg/clusteragent/externalmetrics/metrics_retriever_backoff_test.go
  pkg/clusteragent/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/externalmetrics/model/datadogmetricinternal_test.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/config/config.go
  releasenotes/notes/em-batch-error-handling-caee30e96391cfcf.yaml
Labels: team/container-ecosystems

#18082 [single-machine-performance]: add API key
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, qa/skip-qa

#18083 Add telemetry module to system probe
  cmd/system-probe/subcommands/run/command.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform

#18049 Update CHANGELOGs for 7.46.0
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#18091 [release] Update release.json and Go modules for 6/7.47.0-rc.1
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#18102 Fix syntax error causing deploy_containers jobs to fail
  .gitlab/deploy_7/container.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/release_operations

#18103 [CSPM] Improve warning message after timeout in evaluateXCCDFRule
  pkg/compliance/evaluator_xccdf.go
Labels: changelog/no-changelog, qa/skip-qa, category/improvement, team/agent-cspm

#18113 Update CHANGELOGs for 7.46.0 (#18049)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#18114 latest stable set to 6/7.46.0
  release.json
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#18116 [release] Update release.json and Go modules for 6/7.47.0-rc.2
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#18121 [RCM-1106] Fix rc status output
  pkg/status/status.go
Labels: changelog/no-changelog, team/remote-config, category/improvement

#18076 [process-agent] Better handle multiple connections in StreamEntities GRPC server
  pkg/process/metadata/workloadmeta/grpc.go
  pkg/process/metadata/workloadmeta/grpc_test.go
Labels: changelog/no-changelog, team/processes

#18125 usm: https: Fixed a bug introduced in #16843
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, category/bugfix, bugfix/functional, team/usm

#18132 Partial revert "add default openmetrics check for telemetry (#16900)"
  cmd/agent/dist/conf.d/openmetrics.d/agent_internal.yaml
  tasks/agent.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#18087 [CWS] Bugfixing PID and Mount ID rate limiter
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/utils/limiter.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#18141 [CSPM] k8sconfig: handle possible nil data when parsing a bad certificate
  pkg/compliance/k8sconfig/loader.go
Labels: changelog/no-changelog, category/bugfix, bugfix/functional, team/agent-cspm

#18145 [workloadmeta] Enable Remote Process Collector only in core agent
  cmd/agent/common/loader.go
  pkg/workloadmeta/collectors/collectors.go
  pkg/workloadmeta/collectors/core-agent/collectors.go
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#18148 [collector] commit the default sender in all cases every worker run
  pkg/collector/worker/worker.go
Labels: changelog/no-changelog, category/bugfix, team/agent-metrics-logs, bugfix/functional

#18153 [RCM] Remove the remote config db on package uninstall
  omnibus/package-scripts/agent-deb/prerm
  omnibus/package-scripts/agent-rpm/prerm
  omnibus/package-scripts/iot-agent-deb/prerm
  omnibus/package-scripts/iot-agent-rpm/prerm
Labels: changelog/no-changelog, team/remote-config, category/bugfix

#18168 [CWS&CSPM] bump security agent policies to v0.47.1
  release.json
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional, team/agent-cspm

#18169 [CSPM] Don't close result channel in evaluateXCCDFRule
  pkg/compliance/evaluator_xccdf.go
Labels: changelog/no-changelog, qa/skip-qa, bugfix/functional, team/agent-cspm

#18167 Fix possible NPE if the nodeinfo client is not properly created
  pkg/util/kubernetes/hostinfo/tags.go
Labels: changelog/no-changelog, team/container-app, category/bugfix, bugfix/functional

#18175 [release] Update release.json and Go modules for 6/7.47.0-rc.3
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#18194 [RCM-1130] No error log before the first successful attempt
  comp/remote-config/rcclient/rcclient.go
  pkg/config/remote/client.go
Labels: changelog/no-changelog, team/remote-config, category/improvement

#18198 replace `github.com/golang/glog` v1.1.1 instead of v1.1.0
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/bugfix, bugfix/functional

#18200 [CWS] Lower DNS validator logs
  pkg/security/probe/probe_linux.go
  pkg/security/secl/model/dns_helpers.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement

#18165 [CWS] Fix exec-exec rebase to support siblings rebase
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  go.mod
  go.sum
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_enc_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/activity_tree/process_node.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/security_profile/tests/activity_tree_test.go
  pkg/security/serializers/serializers.go
  pkg/security/serializers/serializers_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#18193 usm: process monitor: Simplify API
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/ebpf_javatls.go
  pkg/network/usm/shared_libraries.go
  pkg/process/monitor/process_monitor.go
  pkg/process/monitor/process_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#18186 usm: protocols: Fixed a bug in initializing the protocols.
  pkg/network/usm/monitor.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#18112 usm: ci: Fixed kitchen prepare
  pkg/network/protocols/tls/gotls/dummy_test.go
  pkg/network/protocols/tls/gotls/testutil/server.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#18111 Make script robust to cwd
  tasks/kernel_matrix_testing/env-setup.sh
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18144 Align pulumi version with test-infra-definitions
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#18182 [CWS] cleanup and simplify the container context population check
  pkg/security/probe/field_handlers_linux.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security
