Repository DataDog/datadog-agent, pull requests merged in 2023-10, with the labels that each got.

#19857 Fix tag name and fetch token in upload job
  .gitlab/kitchen_tests_upload.yml
  tasks/libs/junit_upload.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#19853 Update release.json and Go modules for 6/7.49.0-rc.1
  go.mod
  pkg/gohai/go.mod
  pkg/gohai/go.sum
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#19858 [CSM] bump security agent policies to v0.49.0
  release.json
Labels: changelog/no-changelog, team/agent-security, category/release_operations, team/agent-cspm

#19850 CloudWatchEvent resources can potentially be empty
  pkg/serverless/trigger/extractor.go
  pkg/serverless/trigger/extractor_test.go
Labels: changelog/no-changelog, team/serverless

#19867 Fix linux loader error due to windows check.
  tasks/agent.py
Labels: changelog/no-changelog, team/windows-kernel-integrations

#19879 [CWS] Allow silent workloads snapshot to fail gracefully
  pkg/security/security_profile/dump/manager.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#19860 [CWS] remove wrong json tag on `EventSerializer` on windows
  pkg/security/resolvers/process/resolver_windows.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/model_windows.go
  pkg/security/serializers/serializers_base_windows_easyjson.go
  pkg/security/serializers/serializers_windows.go
  pkg/security/serializers/serializers_windows_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#19873 test/integration/common: fix log_trace calls syntax
  test/kitchen/test/integration/common/rspec_datadog/spec_helper.rb
Labels: changelog/no-changelog, team/agent-apm

#19874 Fix scrubbing of several secrets in the same annotation value
  pkg/orchestrator/redact/data_scrubber.go
Labels: changelog/no-changelog, team/container-app

#19714 [APMON-193] Single Step Instrumentation: allow pinning library versions
  pkg/clusteragent/admission/controllers/webhook/common.go
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/config.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/clusteragent/admission/mutate/test_utils.go
  pkg/config/apm.go
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/apm-onboarding, 7.49.0-drop

#19881 Pin required dependencies for notifier job
  tasks/libs/requirements-notifications.txt
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19899 Pin oscrypto to a git reference to get bugfix
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations, category/bugfix

#19911 [CWS] reduce log level for user resolver errors
  pkg/security/resolvers/usergroup/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix

#19903 fix support for the new secruntime track when using direct sender
  pkg/config/system_probe_cws.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#19913 [workloadmeta] Add deployment entity to workload-list output, clean up some errors
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/workloadmeta/dump.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#19909 [CSPM] Fix resolving group file relative to HOST_ROOT
  pkg/compliance/resolver.go
Labels: changelog/no-changelog, category/bugfix, bugfix/functional, team/agent-cspm

#19937 [comp/netflow] Fix flaky TestNetFlow_IntegrationTest_*
  comp/netflow/server/integration_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#19922 Remove init containers from containers in wlm pod spec
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
Labels: kind/bug, team/containers, changelog/no-changelog

#19938 Update buildimages version
  .circleci/config.yml
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#19923 [CWS] Fix: link process nodes to their parents when loading a profile
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, category/bugfix, bugfix/functional

#19933 Fix panic in SBOM collection when an image can't be scanned because of insufficient disk space
  pkg/sbom/collectors/containerd/containerd.go
  pkg/sbom/collectors/docker/docker.go
  pkg/sbom/sbom.go
  pkg/sbom/scanner/scanner.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  pkg/workloadmeta/collectors/internal/docker/image_sbom_trivy.go
Labels: kind/bug, team/containers, changelog/no-changelog

#19941 Fix syntax error in invoke command
  .gitlab/internal_kubernetes_deploy.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/release_operations

#19930 [Backport][7.48] Pin oscrypto to a git reference
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations, qa/skip-qa, category/bugfix, bugfix/functional

#19942 [release] Update release.json and Go modules for 6/7.48.0-rc.10
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#19926 [workloadmeta/containerd/image] Add missing labels
  pkg/workloadmeta/collectors/internal/containerd/image.go
  releasenotes/notes/fix-missing-labels-container-images-c2d6b05d564694b4.yaml
Labels: kind/bug, team/containers, category/bugfix, bugfix/functional

#19950 Update release.json and Go modules for 6/7.49.0-rc.2
  go.mod
  pkg/gohai/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#19961 [omnibus] Don't destroy OVAL probe sessions in OpenSCAP
  omnibus/config/patches/openscap/1001-Fix-probe_reset.patch
  omnibus/config/patches/openscap/dpkginfo-cache-close.patch
  omnibus/config/patches/openscap/oval_probe_session_reset.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, category/bugfix, bugfix/performance, team/agent-cspm

#19962 [RC-1255][QA] Fix remote-config flare source
  comp/core/flare/helpers/send_flare.go
Labels: changelog/no-changelog, team/remote-config, category/bugfix, bugfix/functional

#19928 [containerd] remove default value of openmetrics endpoint from containerd check config
  cmd/agent/dist/conf.d/containerd.d/conf.yaml.default
  pkg/collector/corechecks/containers/containerd/check.go
  releasenotes-dca/notes/drop-openmetrics-endpoint-cntnrd-default-conf-6d385d4553949fc9.yaml
Labels: component/collector, team/containers, category/bugfix, bugfix/functional

#19954 Add lib injection mutation type to `admission_webhooks.mutation*` metric help message
  pkg/clusteragent/admission/metrics/metrics.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional

#19910 [NPM-2998] clean up sources of potential flakiness
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/testutil/ping.go
  pkg/network/testutil/server.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/release_operations

#19927 usm: tests: Fixed gotls flakiness
  pkg/network/protocols/tls/gotls/testutil/gotls_client/gotls_client.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/release_operations, team/usm

#19965 Add LabelSelectors in admission controller for AKS to avoid conflict with AKS admissions enforcer
  pkg/clusteragent/admission/controllers/webhook/common.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  releasenotes-dca/notes/fix-dca-admission-webhook-aks-b5a7e2a73141b0dc.yaml
Labels: kind/bug, team/containers, category/bugfix, bugfix/functional

#19981 Kacper murzyn/7.48.0 final
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  releasenotes/notes/prelude-release-7.48.0-70de3376720531f0.yaml
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#19917 [NPM] [NPM-2970] Fix flaky test
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, category/release_operations

#19957 [usm] Fix ephemeral port range detection
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, team/usm

#19893 Modify preinst macos
  omnibus/package-scripts/agent-dmg/preinst
Labels: changelog/no-changelog, team/agent-platform

#19951 usm: Fixed in_flight map dumps
  pkg/network/protocols/http/protocol.go
  pkg/network/protocols/http2/protocol.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19891 usm: Own prefetch_file directory
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#19967 [CWS] fix edge case of syscall monitor
  pkg/security/ebpf/c/include/helpers/exec.h
  pkg/security/ebpf/c/include/helpers/syscalls.h
  pkg/security/ebpf/c/include/hooks/exec.h
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#19997 [CWS] run BTFHub sync only during weekdays
  .github/workflows/cws-btfhub-sync.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#19548 Reorder build dependencies
  omnibus/config/projects/agent.rb
  omnibus/config/software/agent-dependencies.rb
  omnibus/config/software/datadog-agent-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py2-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/datadog-agent.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, 7.49.0-drop

#19897 [CWS] log workload id on profile unlink error
  pkg/security/security_profile/profile/manager.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#19878 [oracle] DBMON-2860,DBMON-2860 Adding support for Oracle 11 and 12.1
  pkg/collector/corechecks/oracle-dbm/activity.go
  pkg/collector/corechecks/oracle-dbm/activity_queries.go
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/custom_queries_test.go
  pkg/collector/corechecks/oracle-dbm/init.go
  pkg/collector/corechecks/oracle-dbm/plan_queries.go
  pkg/collector/corechecks/oracle-dbm/processes.go
  pkg/collector/corechecks/oracle-dbm/shared_memory.go
  pkg/collector/corechecks/oracle-dbm/statement_metrics_queries.go
  pkg/collector/corechecks/oracle-dbm/statements.go
  pkg/collector/corechecks/oracle-dbm/sysmetrics.go
  pkg/collector/corechecks/oracle-dbm/tablespaces.go
  releasenotes/notes/oracle-12-11-510a8e3459ab9111.yaml
Labels: team/database-monitoring

#19983 [oracle] DBMON-2951 Adding query metrics workflow tracking
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/statements.go
Labels: changelog/no-changelog, team/database-monitoring

#20000 Do not aggregate per parent test for USM
  tasks/libs/junit_upload.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19939 Add merge queue configuration
  repository.datadog.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19963 pkg/proto/pbgo/trace: prevent v05 decoder from doing unbounded allocations
  pkg/proto/pbgo/trace/decoder_v05.go
  pkg/proto/pbgo/trace/decoder_v05_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#20019 ci: compare against 7.49.x branch instead of main
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#19953 usm: http2: remove redundant sleep in tests
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
  pkg/network/tracer/testutil/grpc/client.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19702 usm: tests: Changed an hacky check into a robust check
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19892 Fix flare e2e test
  test/fakeintake/server/server.go
  test/new-e2e/agent-subcommands/flare/fixtures/datadog-agent.yaml
  test/new-e2e/agent-subcommands/flare/fixtures/system-probe.yaml
  test/new-e2e/agent-subcommands/flare/flare_files.go
  test/new-e2e/agent-subcommands/flare/flare_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#19808 Update owners for /pkg/proto/datadog
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, 7.49.0-drop

#19895 [ASCII-778] Add fxutil.TestBundle
  comp/aggregator/bundle_test.go
  comp/checks/bundle_test.go
  comp/core/bundle_test.go
  comp/forwarder/bundle_test.go
  comp/metadata/bundle_test.go
  comp/ndmtmp/bundle_test.go
  comp/process/bundle_test.go
  comp/remote-config/bundle_test.go
  comp/trace/bundle.go
  comp/trace/bundle_test.go
  docs/components/defining-bundles.md
  pkg/util/fxutil/createcomponent.go
  pkg/util/fxutil/test.go
  tasks/components_templates/bundle_test.go.tmpl
Labels: changelog/no-changelog, qa/skip-qa, component framework

#19906 [E2E] Remove UpResultDeserializer
  test/new-e2e/pkg/utils/e2e/client/agent.go
  test/new-e2e/pkg/utils/e2e/client/docker.go
  test/new-e2e/pkg/utils/e2e/client/fakeintake.go
  test/new-e2e/pkg/utils/e2e/client/stack_initializer.go
  test/new-e2e/pkg/utils/e2e/client/up_result_deserializer.go
  test/new-e2e/pkg/utils/e2e/client/vm.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#19199 [fakeintake] retry on connection error in getFakePayloads
  test/fakeintake/client/client.go
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test, 7.49.0-drop

#19869 omnibus: configure: use existing `configure` command
  omnibus/config/software/cyrus-sasl.rb
  omnibus/config/software/freetds.rb
  omnibus/config/software/libacl.rb
  omnibus/config/software/libcom_err.rb
  omnibus/config/software/libelf.rb
  omnibus/config/software/libkrb5.rb
  omnibus/config/software/librdkafka.rb
  omnibus/config/software/libxcrypt.rb
  omnibus/config/software/m4.rb
  omnibus/config/software/pcre2.rb
  omnibus/config/software/python2.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/rpm.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19854 usm: grpc: Cut 30s from tests
  pkg/network/protocols/grpc/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19588 Simplify software exclusion
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/platform-integrations, 7.49.0-drop

#19856 USM: tests: eliminate sleeps
  pkg/network/protocols/http/testutil/pythonserver.go
  pkg/network/protocols/tls/java/jattach_test.go
  pkg/network/tracer/testutil/prefetch_file/prefetch_file.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/sharedlibraries/testutil/testutil.go
  pkg/network/usm/sharedlibraries/watcher_test.go
  pkg/network/usm/utils/file_registry_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20018 7.48.0 changelogs
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#19890 [USMON-547] faster protocol classification tests
  pkg/network/protocols/mysql/testdata/docker-compose.yml
  pkg/network/protocols/testutil/serverutils.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19925 [pkg/networkdevice/profile] Harmonize MetricTagConfig OID/Symbol(name) to Symbol object v2
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
  pkg/collector/corechecks/snmp/internal/test/test_profiles/validation_error.yaml
  pkg/networkdevice/profile/profiledefinition/metrics.go
  pkg/networkdevice/profile/profiledefinition/schema/profile_rc_schema.json
  pkg/networkdevice/profile/profiledefinition/schema/testcases/valid_profile_apc_ups.json
  pkg/networkdevice/profile/profiledefinition/yaml_utils.go
  pkg/networkdevice/profile/profiledefinition/yaml_utils_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#19849 Add eventlog config to the flare
  pkg/flare/archive_win.go
Labels: changelog/no-changelog, team/windows-agent, 7.49.0-drop

#19816 Add more Windows service info to flare
  .github/CODEOWNERS
  pkg/flare/archive_win.go
  pkg/flare/service_windows.go
  pkg/flare/service_windows_test.go
Labels: changelog/no-changelog, team/windows-agent, 7.49.0-drop

#19798 Add option to pass env var to execute command
  test/new-e2e/pkg/utils/e2e/client/agent.go
  test/new-e2e/pkg/utils/e2e/client/executeparams/execute_params.go
  test/new-e2e/pkg/utils/e2e/client/vm.go
  test/new-e2e/pkg/utils/e2e/client/vm_client.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test, 7.49.0-drop

#19994 [NPM-3008] Make some error logs debug
  pkg/network/tracer/gateway_lookup.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#19880 [NPM] Fix lost count for perf events
  pkg/network/tracer/connection/tcp_close_consumer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#19780 [NPM] Fix EBADF errors from ioctl call
  pkg/network/route_cache.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, 7.49.0-drop

#19902 Create Modules in `pkg/util`
  go.mod
  go.sum
  pkg/util/backoff/go.mod
  pkg/util/backoff/go.sum
  pkg/util/common/go.mod
  pkg/util/common/go.sum
  pkg/util/compression/go.mod
  pkg/util/compression/go.sum
  pkg/util/executable/go.mod
  pkg/util/executable/go.sum
  pkg/util/filesystem/go.mod
  pkg/util/filesystem/go.sum
  pkg/util/fxutil/go.mod
  pkg/util/fxutil/go.sum
  pkg/util/json/go.mod
  pkg/util/json/go.sum
  pkg/util/testutil/go.mod
  pkg/util/testutil/go.sum
Labels: changelog/no-changelog, team/opentelemetry

#19761 New Windows Event Log tailer
  .github/CODEOWNERS
  .gitlab/integration_test.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/integration_test/windows.yml
  pkg/logs/launchers/windowsevent/launcher.go
  pkg/logs/launchers/windowsevent/launcher_nix.go
  pkg/logs/launchers/windowsevent/launcher_test.go
  pkg/logs/tailers/windowsevent/event.h
  pkg/logs/tailers/windowsevent/event_to_tailer.go
  pkg/logs/tailers/windowsevent/eventlog.c
  pkg/logs/tailers/windowsevent/tailer.go
  pkg/logs/tailers/windowsevent/tailer_nix.go
  pkg/logs/tailers/windowsevent/tailer_test.go
  pkg/logs/tailers/windowsevent/tailer_windows.go
  pkg/logs/tailers/windowsevent/transform.go
  pkg/logs/tailers/windowsevent/transform_test.go
  pkg/util/strings/truncate.go
  pkg/util/strings/truncate_test.go
  pkg/util/winutil/eventlog/README.md
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/test.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/render.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/bookmark/bookmark.go
  pkg/util/winutil/eventlog/example_test.go
  pkg/util/winutil/eventlog/reporter/reporter.go
  pkg/util/winutil/eventlog/subscription/helpers_test.go
  pkg/util/winutil/eventlog/subscription/subscription.go
  pkg/util/winutil/eventlog/subscription/subscription_test.go
  pkg/util/winutil/eventlog/test/fake.go
  pkg/util/winutil/eventlog/test/test.go
  pkg/util/winutil/eventlog/test/windows.go
  pkg/util/winutil/winstrings.go
  releasenotes/notes/windows-event-log-tailer-pull-subscription-a0864adcb9e6b325.yaml
  tasks/agent.py
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/test.py
  tasks/trace_agent.py
  tasks/winbuildscripts/integrationtests.bat
  tasks/winbuildscripts/integrationtests.ps1
Labels: team/windows-agent, 7.49.0-drop

#20028 arbitrary devflow test commit 2
  repository.datadog.yml
Labels: changelog/no-changelog, team/agent-platform, mergequeue-status: in_progress

#19932 [oracle] Add database_instance and db_server tags (DBMON-2942)
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/init.go
  pkg/collector/corechecks/oracle-dbm/metadata.go
  pkg/collector/corechecks/oracle-dbm/oracle.go
  releasenotes/notes/oracle-db_instance-tag-aabef83bcc9f10f4.yaml
Labels: team/database-monitoring

#20021 [oracle] Document custom metrics metric_prefix parameter (DBMON-2971)
  cmd/agent/dist/conf.d/oracle-dbm.d/conf.yaml.example
  releasenotes/notes/oracle-conf-custom-query-prefix-3ca4482656458a4b.yaml
Labels: team/database-monitoring

#19955 Add dynamic handling of system-probe build outputs
  .gitlab-ci.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/functional_test/system_probe.yml
  .gitlab/kernel_version_testing/system_probe.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/package_deps_build.yml
  .gitlab/source_test/ebpf.yml
  omnibus/config/software/system-probe.rb
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform

#19976 Re-add logging logic that was accidentally removed
  cmd/serverless-init/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#20029 [NPM-3013] Add retry around getting conntracker update
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, category/release_operations

#20033 [SMP] Remove `_nomulti` experiments
  test/regression/cases/uds_dogstatsd_to_api_nodist_nomulti_100MiB/datadog-agent/datadog.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_nomulti_100MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_nomulti_100MiB/lading/lading.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_nomulti_200MiB/datadog-agent/datadog.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_nomulti_200MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_nomulti_200MiB/lading/lading.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/single-machine-performance

#20047 onboard missing modules to `DEFAULT_MODULES`
  pkg/util/filesystem/go.mod
  tasks/modules.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20025 [SBOM] Set 'host' field of SBOM payload
  pkg/collector/corechecks/sbom/processor.go
Labels: changelog/no-changelog, team/agent-security

#20032 [CWS] Fix hash resolution for anomaly detection events
  pkg/security/serializers/serializers_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#19943 [netflow] Use Eventually in tests to avoid time.Sleep
  comp/netflow/flowaggregator/aggregator_test.go
  comp/netflow/flowaggregator/testutil.go
  comp/netflow/server/integration_test.go
  comp/netflow/server/server_test.go
  comp/netflow/testutil/freeport.go
Labels: changelog/no-changelog, team/network-device-monitoring

#20052 [SBOM] Set 'host' field of SBOM payload
  pkg/collector/corechecks/sbom/processor.go
Labels: changelog/no-changelog, category/bugfix, team/container-ecosystems, bugfix/functional

#20049 bump `google.golang.org/grpc` to v1.58.3
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#20056 [CWS] Fix hash resolution for anomaly detection events backport (#20032)
  pkg/security/serializers/serializers_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#20045 usm: tests: Fix flakyness, and cut test time by 50s
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20053 [CODEOWNERS] Remove /pkg/netflow
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/network-device-monitoring

#20048 usm: tests: openssl: Use free port rather than a constant
  pkg/network/protocols/tls/openssl/testdata/docker-compose.yml
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20043 usm: Do not allocate buffers for unused response bodies
  pkg/network/protocols/tls/gotls/testutil/gotls_client/gotls_client.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20041 usm: tests: Remove unusued test helper function
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19980 [usm] migrate tests to monitor
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20061 revert grpc bump and opa bump
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, team/agent-cspm

#19973 [CWS] ensure `GetEvents` is actually streaming
  pkg/security/module/server.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#19991 [omnibus] Fix premature termination of probe workers in OpenSCAP
  omnibus/config/patches/openscap/dpkginfo-config-arch.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, category/bugfix, team/agent-cspm

#20030 Deprecate `metric_tags[].column` in favour of `symbol`
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metadata.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_validate_enrich_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/networkdevice/profile/profiledefinition/metrics.go
Labels: changelog/no-changelog, team/network-device-monitoring

#20039 [NPM-3010] avoid potential flakes in TestConntrackExists
  pkg/network/testutil/ping.go
  pkg/network/testutil/server.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa

#20058 Updated the version Python to 3.9.18 as needed for OpenSSL Windows update
  omnibus/config/software/python3.rb
  releasenotes/notes/update-python-openssl-on-windows-to-1.1.1w-0a00d9c8a0cfde12.yaml
Labels: team/agent-metrics-logs

#19940 [CWS] remove ring buffer very high size for high core count nodes
  pkg/security/ebpf/probes/all.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20065 usm: tests: jattach: Run jattach tests only in kitchen
  pkg/network/protocols/tls/java/jattach_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#19170 Automated Changelogs for Nightly CD
  .gitlab/internal_kubernetes_deploy.yml
  tasks/pipeline.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa, 7.49.0-drop

#20066 Deprecate metric tag column in json/jsonschema
  pkg/networkdevice/profile/profiledefinition/metrics.go
  pkg/networkdevice/profile/profiledefinition/schema/profile_rc_schema.json
  pkg/networkdevice/profile/profiledefinition/schema/testcases/valid_metric_tag_mapping.json
  pkg/networkdevice/profile/profiledefinition/schema/testcases/valid_profile_apc_ups.json
Labels: changelog/no-changelog, team/network-device-monitoring

#19978 [pkg/networkdevice] Move GetFreePort to pkg/networkdevice
  comp/netflow/flowaggregator/aggregator_test.go
  comp/netflow/server/integration_test.go
  comp/netflow/server/server_test.go
  pkg/networkdevice/testutils/doc.go
  pkg/networkdevice/testutils/freeport.go
  pkg/snmp/traps/forwarder_test.go
  pkg/snmp/traps/listener_test.go
  pkg/snmp/traps/server_test.go
  pkg/snmp/traps/traps_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#20038 Adds comment describing min log level needed for log_payloads
  pkg/config/config.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#20026 [CWS][SEC-11042] Fix tc probes not being properly detached from interfaces
  go.mod
  go.sum
  pkg/security/resolvers/netns/resolver.go
  pkg/security/tests/network_device_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20072 Updated the version Python to 3.9.18 as needed for OpenSSL Windows up…
  omnibus/config/software/python3.rb
  releasenotes/notes/update-python-openssl-on-windows-to-1.1.1w-0a00d9c8a0cfde12.yaml
Labels: team/agent-metrics-logs

#20073 Updated the version Python to 3.9.18 as needed for OpenSSL Windows up…
  omnibus/config/software/python3.rb
  releasenotes/notes/update-python-openssl-on-windows-to-1.1.1w-0a00d9c8a0cfde12.yaml
Labels: team/agent-metrics-logs

#19918 fetch dummy conntrack entry from netlink before init of ebpf conntracker
  pkg/network/netlink/consumer.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20077 [windows] update to new NPM driver (#18823)
  release.json
  releasenotes/notes/fix-restarting-npm-driver-2a32ab51d0bea48a.yaml
Labels: team/windows-kernel-integrations

#20068 [corechecks/snmp] Support symbol modifiers for global metric tags and metadata tags
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
  releasenotes/notes/NDMII-1196-support-extract-value-for-scalar-metric-tag-66096ec04e0d029b.yaml
Labels: team/network-device-monitoring

#19987 [CONTINT-258, CONTINT-52, CONTINT-3310] Several fixes for the containers new e2e tests
  .gitlab-ci.yml
  .gitlab/e2e.yml
  tasks/new_e2e_tests.py
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
  test/new-e2e/tests/containers/utils_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#20075 [release] Update release.json and Go modules for 6/7.48.1-rc.1
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#20017 feat(serverless): process API Gateway Lambda Authorizer payloads
  pkg/serverless/appsec/httpsec/proxy.go
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/trigger/events.go
  pkg/serverless/trigger/events_test.go
  pkg/serverless/trigger/extractor.go
  pkg/serverless/trigger/extractor_test.go
  pkg/serverless/trigger/testData/api-gateway-authorizer-request.json
  pkg/serverless/trigger/testData/api-gateway-authorizer-token.json
Labels: changelog/no-changelog, team/serverless, team/agent-appsec

#19477 Kfairise/migrate install script to new e2e
  .gitlab-ci.yml
  .gitlab/e2e_test_junit_upload.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/new-e2e_common/testing.yml
  .gitlab/new-e2e_testing.yml
  .gitlab/new-e2e_testing/debian.yml
  tasks/new_e2e_tests.py
  test/new-e2e/pkg/utils/e2e/client/agent.go
  test/new-e2e/pkg/utils/e2e/client/agent_cmd_runner.go
  test/new-e2e/pkg/utils/e2e/client/vm.go
  test/new-e2e/pkg/utils/e2e/client/vm_client.go
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
  test/new-e2e/tests/agent-platform/common/agent_install.go
  test/new-e2e/tests/agent-platform/common/agent_integration.go
  test/new-e2e/tests/agent-platform/common/file-manager/unix.go
  test/new-e2e/tests/agent-platform/common/helper/unix.go
  test/new-e2e/tests/agent-platform/common/pkg-manager/apt.go
  test/new-e2e/tests/agent-platform/common/svc-manager/systemctl.go
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/agent-platform/install/install.go
  test/new-e2e/tests/agent-platform/install/installparams/install_params.go
  test/new-e2e/tests/platforms/platforms.go
  test/new-e2e/tests/platforms/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/agent-e2e-test, 7.49.0-drop

#20074 Fix the setting of `host` field in contlcycle, contimage and sbom events
  pkg/collector/corechecks/containerimage/processor.go
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/collector/corechecks/containerlifecycle/event.go
  pkg/collector/corechecks/containerlifecycle/processor_test.go
  pkg/collector/corechecks/containerlifecycle/queue_test.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
Labels: team/containers, changelog/no-changelog, team/agent-security

#20067 [CONTINT-258, CONTINT-52, CONTINT-3310] Several fixes for the containers new e2e tests
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/utils.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#19975 [gitlab] Update JOBOWNERS for eBPF Platform and Windows teams
  .gitlab/JOBOWNERS
  tasks/libs/pipeline_notifications.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/windows-agent, team/ebpf-platform

#20069 [omnibus] Work around memory leak with usage of libapt in OpenSCAP
  omnibus/config/patches/openscap/dpkginfo-cache-no-close.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, category/bugfix, team/agent-cspm

#20090 Make security agent running test more robust with eventually
  .github/CODEOWNERS
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20088 test: kitchen: use DD_REPO_URL instead of REPO_URL
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19750 [e2e] do not refresh on destroy
  tasks/new_e2e_tests.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#20081 Ensure profiling is fine-grained in the Regression Detector
  test/regression/cases/file_to_blackhole/experiment.yaml
  test/regression/cases/file_tree/experiment.yaml
  test/regression/cases/otel_to_otel_logs/experiment.yaml
  test/regression/cases/tcp_dd_logs_filter_exclude/experiment.yaml
  test/regression/cases/tcp_syslog_to_blackhole/experiment.yaml
  test/regression/cases/trace_agent_json/experiment.yaml
  test/regression/cases/trace_agent_msgpack/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_100MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_16MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_1MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_200MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_32MiB/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_nodist_64MiB/experiment.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/single-machine-performance

#20062 feat(serverless/appsec/httpsec): parse XML request bodies
  pkg/serverless/appsec/httpsec/http.go
  pkg/serverless/appsec/httpsec/http_test.go
Labels: changelog/no-changelog, team/agent-appsec

#20095 [omnibus] Fix premature termination of probe workers in OpenSCAP
  omnibus/config/patches/openscap/dpkginfo-config-arch.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, team/agent-cspm

#20082 Update OTel collector version
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, team/opentelemetry

#20096 [omnibus] Work around memory leak with usage of libapt in OpenSCAP
  omnibus/config/patches/openscap/dpkginfo-cache-no-close.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, team/agent-cspm

#20098 [ASCII-730] Subcommand `gohai` displays full gohai data, including processes
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/diagnose/command_test.go
  pkg/gohai/gohai.go
  releasenotes/notes/gohai-subcommand-3d071a92b480ca73.yaml
Labels: team/agent-shared-components

#20080 Disable flaky event log test
  pkg/logs/tailers/windowsevent/tailer_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#19681 omnibus: Don't build / delete static libraries
  omnibus/config/software/attr.rb
  omnibus/config/software/elfutils.rb
  omnibus/config/software/liblz4.rb
  omnibus/config/software/librdkafka.rb
  omnibus/config/software/libselinux.rb
  omnibus/config/software/libsepol.rb
  omnibus/config/software/libxcrypt.rb
  omnibus/config/software/libxxhash.rb
  omnibus/config/software/m4.rb
  omnibus/config/software/pcre2.rb
  omnibus/config/software/popt.rb
  omnibus/config/software/sqlite.rb
  omnibus/config/software/util-linux.rb
  omnibus/config/software/zstd.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, 7.49.0-drop

#20085 [CWS] sample open FDs when snapshotting
  pkg/security/security_profile/activity_tree/process_node_snapshot.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#19835 [NDMII-2112][corechecks/snmp] Load downloaded profiles
  pkg/collector/corechecks/snmp/integration_profile_bundle_test.go
  pkg/collector/corechecks/snmp/integration_profile_metadata_test.go
  pkg/collector/corechecks/snmp/integration_topology_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_json_bundle.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_yaml.go
  pkg/collector/corechecks/snmp/internal/checkconfig/profile_yaml_test.go
  pkg/collector/corechecks/snmp/internal/test/zipprofiles.d/snmp.d/profiles/f5-big-ip.yaml
  pkg/collector/corechecks/snmp/internal/test/zipprofiles.d/snmp.d/profiles/profiles.json.gz
  pkg/collector/corechecks/snmp/internal/test/zipprofiles_err.d/snmp.d/profiles/profiles.json.gz
  pkg/collector/corechecks/snmp/snmp.go
  pkg/networkdevice/profile/profiledefinition/bundle.go
  releasenotes/notes/snmp_add_consume_downloaded_profile_bundle-27cec56fe8d069e3.yaml
Labels: team/network-device-monitoring

#20111 7.48.0 changelogs backport
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#20104 Release note for curl
  releasenotes/notes/bump-curl-8.4.0-b99de8b63bcc92a4.yaml
Labels: team/agent-platform, team/agent-security, cve_fix

#20106 Release note for curl
  releasenotes/notes/bump-curl-8.4.0-b99de8b63bcc92a4.yaml
Labels: team/agent-platform, team/agent-security, cve_fix

#20115 Add an `emacs.set-buildtags` `invoke` task to configure lsp-mode
  .gitignore
  tasks/__init__.py
  tasks/emacs.py
Labels: dev/tooling, team/containers, changelog/no-changelog, qa/skip-qa

#20120 Add some output after restart to understand why it fails
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20110 strip whitespace from SDM api response
  tasks/pipeline.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#20087 [invoke] Revamp notify task to separate mandatory and optional jobs
  tasks/libs/pipeline_data.py
  tasks/libs/pipeline_notifications.py
  tasks/libs/pipeline_stats.py
  tasks/libs/types.py
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19935 serverless/appsec/httpsec: support base64 encoded request body
  pkg/serverless/appsec/httpsec/http.go
  pkg/serverless/appsec/httpsec/http_test.go
  pkg/serverless/appsec/httpsec/proxy.go
  pkg/serverless/trace/testdata/event_samples/api-gateway-appsec.json
Labels: changelog/no-changelog, team/serverless, mergequeue-status: in_progress

#20130 usm: Temporarly disable grpc test
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20131 Allow e2e install script test to fail
  .gitlab/new-e2e_testing/debian.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20122 [CWS] add windows field accessors
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/model_windows.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#19945 Fix deadlock on system-probe shutdown.
  cmd/security-agent/main_windows.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/config/system_probe_cws_windows.go
  pkg/security/probe/probe_windows.go
  pkg/windowsdriver/olreader/olreader.go
  release.json
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/windows-kernel-integrations

#20135 remove incorrect assertion
  pkg/util/winutil/eventlog/subscription/subscription_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#19958 [windows][cws] Make security-agent run as service
  tools/windows/DatadogAgentInstaller/CustomActions/ServiceCustomAction.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Labels: changelog/no-changelog, team/agent-security, team/windows-kernel-integrations

#20147 usm: Remove irrelevant test
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20134 omnibus: remove development headers [APL-2290]
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#19979 [RC-1260] Add auto-register tool
  comp/core/flare/flare.go
  comp/remote-config/rcclient/component.go
  comp/remote-config/rcclient/rcclient.go
Labels: changelog/no-changelog, team/remote-config, component framework

#20124 Change parameter name from target to head
  tasks/libs/common/github_api.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-release-management

#20145 [CWS] open files snapshotting improvements
  pkg/security/security_profile/activity_tree/process_node_snapshot.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20151 Kacper murzyn/7.48.1 final
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  releasenotes/notes/prelude-release-7.48.1-42983b3697353403.yaml
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management
