Repository DataDog/datadog-agent, pull requests merged in 2023-12, with the labels that each got.

#21022 [windows] Add kitchen tests for cws
  .gitlab/kitchen_testing/windows.yml
  test/kitchen/test-definitions/upgrade6-test.yml
  test/kitchen/test-definitions/upgrade7-test.yml
  test/kitchen/test-definitions/windows-cwsinstall.yml
  test/kitchen/test-definitions/windows-install-test.yml
  test/kitchen/test/integration/common/rspec_datadog/spec_helper.rb
  test/kitchen/test/integration/win-agent-with-cws-option/rspec_datadog/Gemfile
  test/kitchen/test/integration/win-agent-with-cws-option/rspec_datadog/spec_helper.rb
  test/kitchen/test/integration/win-agent-with-cws-option/rspec_datadog/win-agent-with-cws-option_spec.rb
  test/kitchen/test/integration/win-agent-with-cws-option/rspec_datadog/windows_npm_spec_helper.rb
Labels: changelog/no-changelog, qa/skip-qa, team/windows-kernel-integrations

#21174 New release task - RC build page update
  tasks/release.py
  tasks/requirements_all_tasks.txt
  tasks/requirements_release_tasks.txt
  tasks/unit-tests/release_tests.py
Labels: changelog/no-changelog, category/release_operations, team/agent-release-management

#20972 [CWS] rearrange user sessions data model
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/resolvers/usersessions/resolver_linux.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/serializers/serializers_linux.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#21206 Fix semver use in go work task
  tasks/modules.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#21233 [CWS] fix process cache entry fetching when handling exit events
  pkg/security/probe/probe_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20937 [CWS] Add ptracer
  LICENSE-3rdparty.csv
  cmd/cws-instrumentation/command/command.go
  cmd/cws-instrumentation/subcommands/subcommands.go
  cmd/cws-instrumentation/subcommands/tracecmd/trace.go
  go.mod
  go.sum
  pkg/security/proto/api/api_grpc.pb.go
  pkg/security/proto/ebpfless/service.pb.go
  pkg/security/proto/ebpfless/service.proto
  pkg/security/proto/ebpfless/service_grpc.pb.go
  pkg/security/proto/ebpfless/service_vtproto.pb.go
  pkg/security/ptracer/exec.go
  pkg/security/ptracer/ptracer.go
  pkg/security/ptracer/syscalls_amd64.go
  pkg/security/ptracer/syscalls_arm64.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21241 [CWS] add openat2 to seccomp-bpf
  pkg/security/ptracer/syscalls_amd64.go
  pkg/security/ptracer/syscalls_arm64.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21225 [NPM-2841] Enable process event stream by default
  pkg/config/system_probe.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#21168 [ASCII-938] Deprecate `ipc_address` in favor of `cmd_host`
  .github/CODEOWNERS
  cmd/process-agent/subcommands/status/status_test.go
  comp/core/config/config_test.go
  docs/dev/agent_api.md
  pkg/config/config.go
  pkg/config/env/ipc_address.go
  pkg/config/env/ipc_address_test.go
  pkg/flare/archive_test.go
  releasenotes/notes/deprecate-ipc-address-6ef3bff2e5c13c10.yaml
Labels: team/agent-shared-components

#21242 [CWS] re-add windows scrubber
  pkg/security/serializers/serializers_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21205 APL-2320 Move Suse install script tests to new e2e
  .gitlab/new-e2e_common/testing.yml
  .gitlab/new-e2e_testing.yml
  .gitlab/new-e2e_testing/suse.yml
  test/new-e2e/tests/agent-platform/common/pkg-manager/zypper.go
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/agent-platform/platforms/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21075 Split tests across multiple VMSets
  .gitlab-ci.yml
  .gitlab/junit_upload/functional_test_junit_upload_system_probe.yml
  .gitlab/kernel_version_testing/system_probe.yml
  tasks/kernel_matrix_testing/vmconfig.py
  tasks/kmt.py
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/system-probe/config/vmconfig-arm64.json
  test/new-e2e/system-probe/config/vmconfig-x64.json
  test/new-e2e/system-probe/config/vmconfig.json
  test/new-e2e/system-probe/test-runner/files/no_tracersuite.json
  test/new-e2e/system-probe/test-runner/files/only_tracersuite.json
  test/new-e2e/system-probe/test-runner/main.go
  test/new-e2e/system-probe/test/micro-vm-init.sh
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#21215 [APL-2554] Bump `test-infra-definitions`
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa, team/agent-e2e-test, mergequeue-status: in_progress

#21230 simplify eBPF telemetry and make it thread-safe
  go.mod
  go.sum
  pkg/ebpf/c/bpf_telemetry.h
  pkg/network/protocols/events/consumer_test.go
  pkg/network/telemetry/ebpf_telemetry.go
  pkg/network/telemetry/ebpf_telemetry_testhelpers.go
  pkg/network/telemetry/telemetry_manager.go
  pkg/network/tracer/connection/fentry/manager.go
  pkg/network/tracer/connection/fentry/tracer.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/kprobe/tracer_test.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/sharedlibraries/ebpf.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform

#21086 serverless: add http.route tag when available
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/trigger/extractor.go
  pkg/serverless/trigger/extractor_test.go
Labels: changelog/no-changelog, team/serverless

#21019 [Serverless] Updates serverless to use fxutil.OneShot
  cmd/serverless/main.go
  cmd/serverless/main_test.go
  pkg/serverless/daemon/daemon.go
Labels: changelog/no-changelog, team/serverless, component framework

#21109 [Serverless] Allow serverless proxy settings to be read from datadog.yaml and env vars
  .github/workflows/serverless-integration.yml
  cmd/serverless/main.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/serverless/apikey/api_key.go
  pkg/serverless/apikey/env.go
  test/integration/serverless/datadog-proxy.yaml
  test/integration/serverless/log_normalize.py
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
  test/integration/serverless/snapshots/proxy-env-apikey
  test/integration/serverless/snapshots/proxy-env-kms
  test/integration/serverless/snapshots/proxy-env-secret
  test/integration/serverless/snapshots/proxy-yaml-apikey
  test/integration/serverless/snapshots/proxy-yaml-env-apikey
  test/integration/serverless/snapshots/proxy-yaml-env-kms
  test/integration/serverless/snapshots/proxy-yaml-env-secret
  test/integration/serverless/snapshots/proxy-yaml-kms
  test/integration/serverless/snapshots/proxy-yaml-secret
  test/integration/serverless/src/hello.js
Labels: changelog/no-changelog, team/serverless

#21256 [Serverless] Make educated first guess when getting event type.
  pkg/serverless/trace/testdata/event_samples/empty.json
  pkg/serverless/trigger/events.go
  pkg/serverless/trigger/events_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#20681 AMLII-176 Refactor no-index telemetry to use the Prometheus API
  cmd/agent/dist/conf.d/telemetry.d/conf.yaml.default
  cmd/agent/subcommands/run/command.go
  comp/core/telemetry/component.go
  comp/core/telemetry/options.go
  comp/core/telemetry/telemetry.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/domain_forwarder.go
  comp/forwarder/defaultforwarder/domain_forwarder_test.go
  comp/forwarder/defaultforwarder/internal/retry/point_count_telemetry.go
  comp/forwarder/defaultforwarder/internal/retry/test_common.go
  pkg/collector/corechecks/telemetry/check.go
  pkg/collector/corechecks/telemetry/check_test.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/histogram.go
  pkg/telemetry/options.go
  pkg/telemetry/simple_counter.go
  pkg/telemetry/simple_gauge.go
  pkg/telemetry/simple_histogram.go
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-metrics-logs, 7.50.0-drop

#21285 Decouple download and execution of install script to be able to retry…
  test/new-e2e/tests/agent-platform/install/install.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21277 ebpf-check: skip `NewProgramFromID` and fetch fd directly
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/prog.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform

#21289 add missing required components to systray
  cmd/systray/command/command.go
Labels: changelog/no-changelog, team/windows-agent

#21275 Drop the custom snowflake recipe
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations, qa/skip-qa

#21288 [CI] Remove addition of `ldflags` to fix an old issue using the `-race` flag on Windows
  tasks/test.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#21025 Add a config endpoint on a new api server
  cmd/agent/api/internal/config/endpoint.go
  cmd/agent/api/internal/config/endpoint_test.go
  cmd/agent/api/listener.go
  cmd/agent/api/listener_test.go
  cmd/agent/api/security.go
  cmd/agent/api/server.go
  cmd/agent/api/server_cmd.go
  cmd/agent/api/server_ipc.go
  comp/api/api/apiimpl/api.go
  pkg/api/security/security.go
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-shared-components, mergequeue-status: in_progress

#21237 [CONTINT-3389] Add check_delay metric in agent telemetry
  pkg/collector/check/stats/stats.go
  pkg/collector/check/stats/stats_test.go
  pkg/collector/check/stats/util.go
  pkg/collector/check/stats/util_test.go
  releasenotes/notes/add_check_delay_metric-bc977ed05432a091.yaml
Labels: component/collector, team/containers

#21268 [usm] Fix read hpack int bug
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21273 [CONTINT-258] Dump K8s cluster state at the end of e2e tests
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21274 dogstatsd: add better control on `Listen()` lifecycle
  comp/dogstatsd/listeners/named_pipe_windows.go
  comp/dogstatsd/listeners/named_pipe_windows_test.go
  comp/dogstatsd/listeners/udp.go
  comp/dogstatsd/listeners/udp_test.go
  comp/dogstatsd/listeners/uds_common.go
  comp/dogstatsd/listeners/uds_common_test.go
  comp/dogstatsd/listeners/uds_datagram.go
  comp/dogstatsd/listeners/uds_stream.go
  comp/dogstatsd/server/server.go
  test/integration/dogstatsd/origin_detection.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#21310 [SBOM] fix crash when host SBOM failed to be generated
  pkg/collector/corechecks/sbom/processor.go
Labels: changelog/no-changelog, team/agent-security

#21318 [backport] fix crash when host SBOM failed to be generated (#21310)
  pkg/collector/corechecks/sbom/processor.go
Labels: changelog/no-changelog, team/agent-security

#21146 Migrating the inventory checks metadata payload to component
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/api/server.go
  cmd/agent/api/server_cmd.go
  cmd/agent/common/loader.go
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/diagnose/command_test.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  cmd/agent/subcommands/run/settings.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command.go
  comp/README.md
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/api_mock.go
  comp/api/api/component.go
  comp/metadata/bundle.go
  comp/metadata/bundle_test.go
  comp/metadata/inventorychecks/README.md
  comp/metadata/inventorychecks/component.go
  comp/metadata/inventorychecks/component_mock.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks_test.go
  comp/metadata/inventorychecks/inventorychecksimpl/mock.go
  comp/process/apiserver/apiserver.go
  pkg/cli/standalone/jmx.go
  pkg/cli/subcommands/check/command.go
  pkg/collector/check/context.go
  pkg/collector/check/metadata.go
  pkg/collector/collector.go
  pkg/collector/collector_mock.go
  pkg/collector/corechecks/systemd/systemd.go
  pkg/collector/corechecks/systemd/systemd_test.go
  pkg/collector/python/datadog_agent.go
  pkg/config/settings/runtime_setting_activity_dump.go
  pkg/config/settings/runtime_setting_log_level.go
  pkg/flare/archive.go
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  pkg/metadata/inventories/payload.go
  pkg/metadata/inventories_collector.go
Labels: changelog/no-changelog, team/agent-shared-components, mergequeue-status: in_progress, component framework

#21306 [CWS] give value to `USE_RING_BUFFER` when runtime compiling eBPF probes
  pkg/security/ebpf/compile.go
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21074 USMON-651: Introducing callbackRunnerStopChannel in the process monitor component
  pkg/process/monitor/process_monitor.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21322 Move secrets flaky test instrumentation to testMain
  comp/core/secrets/secretsimpl/fetch_secret_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21320 remove netlink dial from ebpf conntracker startup
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#21293 Add support for private key w/ passphrase to SSH client
  test/new-e2e/pkg/runner/configmap.go
  test/new-e2e/pkg/runner/configmap_test.go
  test/new-e2e/pkg/runner/parameters/const.go
  test/new-e2e/pkg/runner/parameters/store_config_file.go
  test/new-e2e/pkg/utils/clients/ssh.go
  test/new-e2e/pkg/utils/e2e/client/vm_client.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-kernel-integrations

#21323 Update regression detector ro run with lading 0.20.1
  .gitlab/functional_test/regression_detector.yml
  test/regression/cases/file_to_blackhole/lading/lading.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/single-machine-performance

#21299 [NPM-3074] Another attempt at fixing TestUDPPythonReusePort test
  pkg/network/tracer/testdata/reuseport.py
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#21069 Change language annotation format for language detection
  comp/core/workloadmeta/collectors/internal/kubeapiserver/deployments.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/deployments_test.go
  pkg/clusteragent/languagedetection/patcher_test.go
  pkg/languagedetection/util/annotations.go
  pkg/languagedetection/util/annotations_test.go
  pkg/languagedetection/util/containerslanguages.go
  pkg/languagedetection/util/containerslanguages_test.go
Labels: kind/enhancement, team/containers, changelog/no-changelog, mergequeue-status: in_progress

#21300 Update windows APM auto-injection config template
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/windows-kernel-integrations

#21229 Add end-to-end tests for process agent check subcommands on linux host
  test/new-e2e/tests/process/linux_test.go
  test/new-e2e/tests/process/testing.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#21304 [util/containers/filter] Adds rancher/mirrored-pause exclusion
  pkg/util/containers/filter.go
  releasenotes/notes/rancher-exclude-mirrored-pause-627d3b6cf16bbd95.yaml
Labels: team/containers

#21321 [CWS] fix process ancestors args/envs serialization
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_windows.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21339 usm: go: Fix review warnings
  pkg/network/go/asmscan/scan.go
  pkg/network/go/bininspect/dwarf.go
  pkg/network/go/bininspect/newproc.go
  pkg/network/go/bininspect/symbols.go
  pkg/network/go/bininspect/types.go
  pkg/network/go/binversion/buildinfo.go
  pkg/network/go/dwarfutils/compile_unit.go
  pkg/network/go/dwarfutils/locexpr/exec.go
  pkg/network/go/goid/main.go
  pkg/network/go/lutgen/function.go
  pkg/network/go/rungo/install.go
  pkg/network/go/rungo/matrix/matrix.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress

#21342 fix revive issues for HTTP/2
  pkg/network/protocols/http2/dummy.go
  pkg/network/protocols/http2/kernel_requirements.go
  pkg/network/protocols/http2/model_linux.go
  pkg/network/protocols/http2/protocol.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress

#21338 [cherry-pick] Change language annotation format for language detection (#21069)
  pkg/clusteragent/languagedetection/patcher_test.go
  pkg/languagedetection/util/annotations.go
  pkg/languagedetection/util/annotations_test.go
  pkg/languagedetection/util/containerslanguages.go
  pkg/languagedetection/util/containerslanguages_test.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/deployments.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/deployments_test.go
Labels: team/containers, changelog/no-changelog, bugfix/functional, mergequeue-status: in_progress

#21269 [release] Update release.json and Go modules for 6/7.50.0-rc.6
  comp/core/telemetry/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#21346 usm: fix revive in protocols
  pkg/network/protocols/amqp/client.go
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/kafka/client.go
  pkg/network/protocols/kafka/debugging/debugging.go
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/protocols/kafka/protocol.go
  pkg/network/protocols/kafka/server.go
  pkg/network/protocols/kafka/statkeeper.go
  pkg/network/protocols/kafka/stats.go
  pkg/network/protocols/kafka/telemetry.go
  pkg/network/protocols/mongo/client.go
  pkg/network/protocols/mongo/server.go
  pkg/network/protocols/mysql/client.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/postgres/utils.go
  pkg/network/protocols/redis/client.go
  pkg/network/protocols/redis/server.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: removed

#21344 [CWS] fix revive TODOs in `pkg/security/secl`
  pkg/security/secl/compiler/ast/secl_test.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/log/logger.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_test.go
  pkg/security/secl/model/utils.go
  pkg/security/secl/rules/collected_events_regular.go
  pkg/security/secl/rules/policy_loader_test.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21351 AMLII-1312 Fix panic when context is missing for a sketch
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#21272 omnibus: Gemfile: use 'ref' instead of 'branch'
  omnibus/Gemfile
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21347 [CWS] fix agent rule documentation
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21319 Fix missing comma for centos new-e2e
  .gitlab/new-e2e_testing/centos.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21352 [usm]: fix revive in usm
  pkg/network/encoding/format_usm_test.go
  pkg/network/encoding/protocols.go
  pkg/network/protocols/types.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/compile.go
  pkg/network/usm/ebpf_gotls_helpers.go
  pkg/network/usm/ebpf_javatls.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor.go
  pkg/network/usm/monitor_test.go
  pkg/network/usm/monitor_testutil.go
  pkg/network/usm/monitor_windows.go
  pkg/network/usm/sharedlibraries/compile.go
  pkg/network/usm/sharedlibraries/testutil/fmapper/fmapper.go
  pkg/network/usm/sharedlibraries/testutil/testutil.go
  pkg/network/usm/sharedlibraries/watcher.go
  pkg/network/usm/utils/ebpfoptions.go
  pkg/network/usm/utils/file_registry.go
  pkg/network/usm/utils/testutils.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21349 [CWS] remove docker based macOS CWS documentation generation script
  docs/cloud-workload-security/README.md
  docs/cloud-workload-security/scripts/Dockerfile
  docs/cloud-workload-security/scripts/generate_documentation_docker.sh
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21167 More teams to slapr
  .github/workflows/slapr.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21358 AMLII-1313 Remove experimental code
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/internal/limiter/config.go
  pkg/aggregator/internal/limiter/config_test.go
  pkg/aggregator/internal/limiter/limiter.go
  pkg/aggregator/internal/limiter/limiter_test.go
  pkg/aggregator/internal/limiter/memory.go
  pkg/aggregator/internal/limiter/memory_linux.go
  pkg/aggregator/internal/tags_limiter/tags_limiter.go
  pkg/aggregator/internal/tags_limiter/tags_limiter_test.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#21356 usm: Fix revive warnings
  pkg/network/encoding/usm.go
  pkg/network/protocols/common.go
  pkg/network/protocols/ebpf.go
  pkg/network/protocols/events/batch_offsets.go
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/protocols/protocols.go
  pkg/network/protocols/telemetry/delta.go
  pkg/network/protocols/telemetry/prometheus.go
  pkg/network/protocols/testutil/patternscanner.go
  pkg/network/protocols/testutil/serverutils.go
  pkg/network/protocols/tls/gotls/testutil/client_builder.go
  pkg/network/protocols/tls/gotls/testutil/gotls_client/gotls_client.go
  pkg/network/protocols/tls/gotls/testutil/server.go
  pkg/network/protocols/tls/java/hotspot.go
  pkg/network/protocols/tls/java/jattach.go
  pkg/network/protocols/tls/java/testutil/inject.go
  pkg/network/protocols/tls/openssl/openssl.go
  pkg/network/tracer/testutil/grpc/client.go
  pkg/network/tracer/testutil/grpc/server.go
  pkg/network/tracer/testutil/prefetch_file/prefetch_file.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/process/monitor/process_monitor.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21276 [forwarder nss e2e test] Remove hardcoded stack
  test/new-e2e/tests/agent-shared-components/forwarder/nss_failover_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21360 [CWS] second batch of revive lint fixes in `pkg/security`
  pkg/security/ebpf/compile_unsupported.go
  pkg/security/module/cws_linux.go
  pkg/security/module/cws_others.go
  pkg/security/module/server.go
  pkg/security/probe/constantfetch/available_unsupported.go
  pkg/security/probe/constantfetch/btfhub.go
  pkg/security/probe/constantfetch/core.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/eventstream/reorderer/perfmap.go
  pkg/security/probe/eventstream/reorderer/reorderer.go
  pkg/security/probe/eventstream/ringbuffer/ringbuffer.go
  pkg/security/probe/field_handlers_windows.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/selftests/self_tests.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/resolvers/process/resolver_windows.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/security/resolvers/sbom/resolver_unsupported.go
  pkg/security/resolvers/tags/resolver.go
  pkg/security/rules/rule_filters_model.go
  pkg/security/rules/rule_filters_model_linux.go
  pkg/security/rules/rule_filters_model_other.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/activity_tree/file_node.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/security_profile/dump/remote_storage_forwarder.go
  pkg/security/security_profile/dump/storage_manager_unsupported.go
  pkg/security/security_profile/profile/profile.go
  pkg/security/serializers/serializers_windows.go
  pkg/security/tests/fake_tags_resolver.go
  pkg/security/tests/statsdclient/statsd_client.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21369 [CWS] fix hostfs group resolver (read the actual provided file path)
  pkg/security/resolvers/usergroup/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, mergequeue-status: in_progress

#21361 omnibus: integrations-py3: re-enable aerospike
  omnibus/config/software/datadog-agent-integrations-py3.rb
  releasenotes/notes/reenable-aerospike-suse-44bee275ba9f5f4d.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21359 Move api code from cmd to comp
  cmd/cluster-agent/api/agent/agent.go
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/grpc.go
  comp/api/api/apiimpl/internal/agent/agent.go
  comp/api/api/apiimpl/internal/agent/agent_jmx.go
  comp/api/api/apiimpl/internal/agent/agent_nojmx.go
  comp/api/api/apiimpl/internal/agent/python_status.go
  comp/api/api/apiimpl/internal/agent/python_status_nopython.go
  comp/api/api/apiimpl/internal/check/check.go
  comp/api/api/apiimpl/internal/config/endpoint.go
  comp/api/api/apiimpl/internal/config/endpoint_test.go
  comp/api/api/apiimpl/listener.go
  comp/api/api/apiimpl/listener_test.go
  comp/api/api/apiimpl/response/types.go
  comp/api/api/apiimpl/security.go
  comp/api/api/apiimpl/server.go
  comp/api/api/apiimpl/server_cmd.go
  comp/api/api/apiimpl/server_ipc.go
  comp/api/api/apiimpl/tools.go
  pkg/flare/config_check.go
  pkg/snmp/snmpparse/config_snmp.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21370 [test/integration] Remove unused `metadata_providers` tests
  test/integration/metadata_providers/kubernetes/Dockerfile
  test/integration/metadata_providers/kubernetes/README.md
  test/integration/metadata_providers/kubernetes/pod-configuration.yaml
Labels: changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21381 pkg/trace/api: Fix tracer flare proxy host
  pkg/trace/api/tracer_flare.go
  pkg/trace/api/tracer_flare_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#21366 pkg/remoteconfig: add api security to asm features config
  pkg/remoteconfig/state/configs_asm.go
Labels: changelog/no-changelog, team/serverless

#21364 AMLII-1313 Cleanup unused code
  cmd/agent/subcommands/run/command.go
  pkg/config/config.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#21368 [CWS] fix last batch of revive issues in `pkg/security`
  .mockery.yaml
  cmd/security-agent/subcommands/runtime/command_test.go
  pkg/security/agent/agent_windows.go
  pkg/security/agent/client_mocks.go
  pkg/security/agent/mocks/security_module_client_wrapper.go
  pkg/security/probe/selftests/tester_linux.go
  pkg/security/probe/selftests/tester_others.go
  pkg/security/resolvers/hash/resolver_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, mergequeue-status: in_progress

#21390 Update Centos 79 to try to fix flakiness
  test/new-e2e/tests/agent-platform/platforms/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21343 [ASCII-969] Update to Go 1.20.12
  .circleci/config.yml
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/bump-go-to-1.20.12-947aaa92c1f086ba.yaml
  tasks/go.py
  tools/gdb/Dockerfile
Labels: team/agent-shared-components, mergequeue-status: in_progress

#21379 [NPM-3074] Retry running reuseport.py script instead of retries in the script
  pkg/network/tracer/testdata/reuseport.py
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#21386 codeowners: Add USM and WKIT to network/config_test.go
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#21221 Remove windows 32 bits from code and ci
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/deprecated_architectures.md
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-iot-agent.rb
  omnibus/config/software/python2.rb
  omnibus/config/software/vc_redist.rb
  omnibus/config/software/vc_redist_14.rb
  omnibus/config/software/vc_ucrt_redist.rb
  pkg/gohai/cpu/cpu_windows_386.go
  pkg/gohai/platform/platform_windows_386.go
  pkg/util/pdhutil/pdh_386.go
  pkg/util/winutil/winmem_386.go
  tasks/update_go.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#20608 [NDM] Add bandwidth usage rate calculation to accommodate ifSpeed changes
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/report/interface_bandwidth_usage_rate.go
  pkg/collector/corechecks/snmp/internal/report/interface_bandwidth_usage_rate_test.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_testing.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
  releasenotes/notes/fix-spikes-bandwidth-usage-6ebbf16d1c733b5d.yaml
Labels: team/network-device-monitoring

#21181 Trigger new beta builds workflow as part of nightly job
  .gitlab/internal_kubernetes_deploy.yml
Labels: team/containers, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21307 Fix links in diagnose readme
  pkg/diagnose/README.md
Labels: team/containers, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21373 [language-detection] [e2e tests] Add test to ensure env setup prior to testing functionality
  test/new-e2e/tests/language-detection/setup_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#20807 [SNMP] Run traps server as a separate `fx.App`
  comp/snmptraps/bundle.go
  comp/snmptraps/server/component.go
  comp/snmptraps/server/serverimpl/server.go
  comp/snmptraps/server/serverimpl/server_test.go
  comp/snmptraps/status/component.go
  comp/snmptraps/status/statusimpl/mock.go
  comp/snmptraps/status/statusimpl/status.go
Labels: changelog/no-changelog, team/network-device-monitoring

#21376 [NPM-3079] Add more synchronization to DNS tests
  pkg/network/dns/monitor_linux.go
  pkg/network/dns/null.go
  pkg/network/dns/snooper.go
  pkg/network/dns/stats.go
  pkg/network/dns/types.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#21239 [CWS] add origin of events
  docs/cloud-workload-security/backend.schema.json
  pkg/security/probe/probe.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_epbfless.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_windows.go
  pkg/security/secl/model/model.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/tests/schemas/event.json
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21375 [ASCII-972] Remove mentions of old go versions when possible
  comp/systray/systray/systrayimpl/doflare.go
  pkg/network/dns/stats.go
  pkg/serverless/apikey/env.go
  pkg/trace/api/listener.go
  tasks/go.py
  tasks/trace_agent.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21334 separate system-probe marshal and unmarshal code
  cmd/system-probe/modules/network_tracer.go
  cmd/system-probe/modules/network_tracer_test.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/marshal/dns.go
  pkg/network/encoding/marshal/dns_test.go
  pkg/network/encoding/marshal/format.go
  pkg/network/encoding/marshal/format_test.go
  pkg/network/encoding/marshal/format_usm_linux_test.go
  pkg/network/encoding/marshal/format_usm_test.go
  pkg/network/encoding/marshal/http.go
  pkg/network/encoding/marshal/http2.go
  pkg/network/encoding/marshal/http2_test.go
  pkg/network/encoding/marshal/http_test.go
  pkg/network/encoding/marshal/json.go
  pkg/network/encoding/marshal/kafka.go
  pkg/network/encoding/marshal/kafka_test.go
  pkg/network/encoding/marshal/marshaler.go
  pkg/network/encoding/marshal/modeler.go
  pkg/network/encoding/marshal/protobuf.go
  pkg/network/encoding/marshal/protocols.go
  pkg/network/encoding/marshal/usm.go
  pkg/network/encoding/marshal/usm_lookup.go
  pkg/network/encoding/marshal/usm_lookup_test.go
  pkg/network/encoding/marshal/usm_lookup_windows.go
  pkg/network/encoding/marshal/usm_lookup_windows_test.go
  pkg/network/encoding/marshal/usm_payload_telemetry.go
  pkg/network/encoding/marshal/usm_test.go
  pkg/network/encoding/unmarshal/json.go
  pkg/network/encoding/unmarshal/protobuf.go
  pkg/network/encoding/unmarshal/unmarshaler.go
  pkg/process/checks/net.go
  pkg/process/net/common.go
  pkg/process/net/common_all.go
  pkg/process/net/common_unsupported.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress

#21408 pkg/trace/agent: only allocate GetAppServicesTags when InAzureAppServices
  pkg/trace/agent/agent.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, mergequeue-status: in_progress

#21407 [Doc] Warn about confusing `force_use_http` parameter name
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21398 exclude `functional_test_junit_upload_system_probe_kmt_*` from merge queue
  .gitlab/junit_upload/functional_test_junit_upload_security-agent.yml
  .gitlab/junit_upload/functional_test_junit_upload_system_probe.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21409 [CI] Disable Slapr while we can't get only required reviewers
  .github/workflows/slapr.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21397 [CI/Tooling] Remove `bench` invoke collection
  .gitlab-ci.yml
  .gitlab/integration_test/dogstatsd.yml
  tasks/bench.py
  test/benchmarks/aggregator/main.go
  test/benchmarks/aggregator/memory.go
  test/benchmarks/aggregator/metrics.go
  test/benchmarks/aggregator/push_metric.go
  test/benchmarks/dogstatsd/main.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21405 Bump `test-infra-definitions`
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21325 [HADXV-62] Add a CLI for the fake intake
  .gitlab/fakeintake.yml
  tasks/__init__.py
  tasks/fakeintake.py
  test/fakeintake/Dockerfile
  test/fakeintake/cmd/client/cmd/filter.go
  test/fakeintake/cmd/client/cmd/filterlogs.go
  test/fakeintake/cmd/client/cmd/filtermetrics.go
  test/fakeintake/cmd/client/cmd/flush.go
  test/fakeintake/cmd/client/cmd/get.go
  test/fakeintake/cmd/client/cmd/getcheckrun.go
  test/fakeintake/cmd/client/cmd/getcheckrunnames.go
  test/fakeintake/cmd/client/cmd/getconnections.go
  test/fakeintake/cmd/client/cmd/getconnectionsnames.go
  test/fakeintake/cmd/client/cmd/getcontainers.go
  test/fakeintake/cmd/client/cmd/getflare.go
  test/fakeintake/cmd/client/cmd/getlogservice.go
  test/fakeintake/cmd/client/cmd/getlogservicenames.go
  test/fakeintake/cmd/client/cmd/getmetric.go
  test/fakeintake/cmd/client/cmd/getmetricnames.go
  test/fakeintake/cmd/client/cmd/getprocessdiscoveries.go
  test/fakeintake/cmd/client/cmd/getprocesses.go
  test/fakeintake/cmd/client/cmd/root.go
  test/fakeintake/cmd/client/cmd/routestats.go
  test/fakeintake/cmd/client/main.go
  test/fakeintake/cmd/server/main.go
  test/fakeintake/docs/README.md
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa, team/agent-e2e-test, mergequeue-status: in_progress

#21254 [fakeintake] Add functionality to configure response overrides
  test/fakeintake/api/api.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_integration_test.go
  test/fakeintake/client/client_test.go
  test/fakeintake/server/body.go
  test/fakeintake/server/server.go
  test/fakeintake/server/server_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#20757 Add internal telemetry to track perf buffer / ring buffer usage
  cmd/system-probe/subcommands/run/command.go
  go.mod
  go.sum
  pkg/config/system_probe.go
  pkg/ebpf/config.go
  pkg/ebpf/perf_metrics.go
  pkg/ebpf/perf_metrics_nonlinux.go
  pkg/network/protocols/events/configuration.go
  pkg/network/tracer/connection/fentry/manager.go
  pkg/network/tracer/connection/fentry/tracer.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/sharedlibraries/ebpf.go
  pkg/security/probe/eventstream/reorderer/perfmap.go
  pkg/security/probe/eventstream/ringbuffer/ringbuffer.go
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress

#21382 don't format text as a link if we can't fetch PR number
  tasks/pipeline.py
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#21255 config: log an error if an APM replace tag is for env
  comp/trace/config/setup.go
  releasenotes/notes/warn-env-in-replace-tag-3ae57e9bb76d8aed.yaml
Labels: team/agent-apm, qa/skip-qa

#21294 [NPM-3102] enable process tagging for NPM
  cmd/system-probe/config/adjust.go
  cmd/system-probe/config/adjust_usm.go
  pkg/config/system_probe.go
  pkg/network/config/config_test.go
  pkg/process/checks/net_test.go
  pkg/process/metadata/parser/service.go
  pkg/process/metadata/parser/service_test.go
  pkg/process/metadata/parser/service_windows_test.go
  releasenotes/notes/process-inference-config-change-b236f0db34c17d55.yaml
Labels: component/system-probe, team/networks, qa/skip-qa

#21423 [NPM-3012] Add logging to debug test failure
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#21404 appsec: update go-libddwaf to v2.2.2
  go.mod
  go.sum
Labels: changelog/no-changelog, team/serverless, team/agent-appsec

#21403 Restore microbenchmark runs for trace-agent
  .gitlab/benchmarks/benchmarks.yml
  tasks/trace_agent.py
  test/benchmarks/apm_scripts/analyze-results.sh
  test/benchmarks/apm_scripts/capture-hardware-software-info.sh
  test/benchmarks/apm_scripts/post-pr-comment.sh
  test/benchmarks/apm_scripts/run-benchmarks.sh
  test/benchmarks/apm_scripts/upload-results-to-s3.sh
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, mergequeue-status: in_progress

#21400 [CWS] do not use nil selftest
  pkg/security/module/cws.go
  pkg/security/module/server_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21432 [CI/Tooling] Add the 'skipped' header on the same module line
  tasks/modules.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21411 speedup junit upload job
  tasks/libs/junit_upload.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21439 Fix Docker container metrics provider on windows
  pkg/util/containers/metrics/docker/collector.go
Labels: team/containers, changelog/no-changelog, bugfix/functional

#21394 pkg/trace/writer: pre-size the trace writer's compression buffer
  pkg/trace/writer/trace.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, mergequeue-status: in_progress

#21442 Fix Prometheus auto-discovery
  pkg/autodiscovery/common/types/prometheus.go
Labels: team/containers, changelog/no-changelog, mergequeue-status: in_progress

#21443 [NDM] Skip bandwidth usage rate metric sample if new entry in map
  pkg/collector/corechecks/snmp/internal/report/interface_bandwidth_usage_rate.go
  pkg/collector/corechecks/snmp/internal/report/interface_bandwidth_usage_rate_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#21451 bump security agent policies to v0.50.1
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21150 [CSPM] Compliance module: improve err report and fix tests
  cmd/system-probe/modules/compliance.go
  cmd/system-probe/modules/compliance_test.go
  pkg/compliance/dbconfig/loader.go
Labels: changelog/no-changelog, component/system-probe, team/agent-cspm

#21425 use multiple execute for multiple commands
  test/kitchen/site-cookbooks/dd-system-probe-check/recipes/linux.rb
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress

#21426 [NPM-3097] Use a different local address than loopback for conntrack offset guessing
  pkg/network/tracer/offsetguess/conntrack.go
  pkg/network/tracer/offsetguess/overlaps.go
  pkg/network/tracer/offsetguess/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#21447 disable NPM e2e tests
  test/new-e2e/tests/npm/agentenv_npm_test.go
  test/new-e2e/tests/npm/ec2_1host_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa, mergequeue-status: in_progress

#21459 [release] Update release.json and Go modules for 6/7.50.0-rc.7
  comp/core/telemetry/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#21284 Remove all occurences of retried tests on success
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21401 [CWS] Make the ProcessCache per container in EBPFLess mode
  pkg/security/probe/field_handlers_ebpfless.go
  pkg/security/probe/probe_epbfless.go
  pkg/security/proto/ebpfless/msg.go
  pkg/security/ptracer/cws.go
  pkg/security/ptracer/utils.go
  pkg/security/resolvers/process/resolver_ebpfless.go
  pkg/security/secl/model/model_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, mergequeue-status: removed

#21435 Remove pty=True on some pulumi command to avoid mixing stdout and stderr
  tasks/new_e2e_tests.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test, mergequeue-status: in_progress

#21449 Lower log level in gohai to debug
  pkg/gohai/filesystem/filesystem_nix.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21464 Fix locking in safeconfig
  pkg/config/model/viper.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#21246 [CWS] add no-strip option to cws-instrumention build
  tasks/cws_instrumentation.py
Labels: changelog/no-changelog, team/agent-security

#21436 (rc) make the agent install path configurable
  .gitlab/package_build/deb.yml
  omnibus/config/projects/agent.rb
Labels: changelog/no-changelog, team/remote-config

#21446 serverless/appsec: use agent logger backend
  pkg/serverless/appsec/appsec.go
Labels: changelog/no-changelog, team/agent-appsec

#21462 omnibus: lmdb: allow overriding build/install environment & use common env/flags
  omnibus/config/patches/lmdb/allow-makefile-override-vars.diff
  omnibus/config/software/lmdb.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21457 usm: http2: Fix wrong log in tests
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21467 Fix dependecy for centos fips test with agent 6
  .gitlab/new-e2e_testing/centos.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21472 Add tooling for opening PRs from other repos
  tasks/agent.py
  tasks/github_tasks.py
  tasks/release.py
  tasks/utils.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21172 Make pkg/config/remote a Go module
  cmd/agent/common/common.go
  cmd/agent/subcommands/remoteconfig/command.go
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/trace-agent/config/remote/config.go
  comp/process/runner/runnerimpl/runner_test.go
  comp/remote-config/rcclient/rcclient.go
  comp/remote-config/rcclient/rcclient_test.go
  comp/trace/agent/run.go
  comp/trace/config/setup.go
  go.mod
  pkg/clusteragent/admission/patch/provider.go
  pkg/clusteragent/admission/patch/rc_provider.go
  pkg/clusteragent/admission/patch/rc_provider_test.go
  pkg/clusteragent/admission/patch/start.go
  pkg/config/ipc_address.go
  pkg/config/remote/api/http.go
  pkg/config/remote/client/client.go
  pkg/config/remote/empty.go
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/config/remote/meta/meta.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/uptane/client.go
  pkg/config/remote/uptane/client_test.go
  pkg/config/remote/uptane/local_store.go
  pkg/flare/remote_config.go
  pkg/process/checks/host_info.go
  pkg/process/checks/host_info_test.go
  pkg/security/rconfig/policies.go
  pkg/security/rconfig/profiles.go
  pkg/security/utils/hostname.go
  pkg/util/grpc/agent_client.go
  pkg/util/grpc/agent_client_test.go
  pkg/util/grpc/go.mod
  pkg/util/grpc/go.sum
  tasks/modules.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/agent-shared-components

#21470 Add logging in testDNSStats
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, mergequeue-status: in_progress

#21471 Trigger child pipeline invoke task buffer flush to track progress
  tasks/libs/pipeline_tools.py
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21469 usm: tests: http2: Fix a bug in debug output of a test
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21402 USMON-617: hitsXXX counters are now TLS-aware
  pkg/network/protocols/http/telemetry.go
  pkg/network/protocols/http/tls_counter.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21484 [CWS] revert mount cleanup
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/mount/resolver_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21466 [oracle] go-ora upgrade to 2.7.26 (DBMON-3248)
  go.mod
  go.sum
  pkg/collector/corechecks/oracle-dbm/custom_queries.go
  pkg/collector/corechecks/oracle-dbm/custom_queries_test.go
  pkg/collector/corechecks/oracle-dbm/sql_wrappers.go
  releasenotes/notes/oracle-korean-bda30bea6825b962.yaml
Labels: team/database-monitoring

#21389 [ASCII-949] Migrate component new file hierarchy batch3
  cmd/agent/subcommands/run/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/status/status_test.go
  comp/languagedetection/bundle.go
  comp/languagedetection/client/clientimpl/client.go
  comp/languagedetection/client/clientimpl/client_test.go
  comp/languagedetection/client/clientimpl/telemetry.go
  comp/languagedetection/client/clientimpl/util.go
  comp/languagedetection/client/component.go
  comp/metadata/bundle.go
  comp/metadata/host/component.go
  comp/metadata/host/hostimpl/host.go
  comp/metadata/host/hostimpl/host_test.go
  comp/metadata/host/hostimpl/payload.go
  comp/metadata/host/hostimpl/payload_no_gohai.go
  comp/metadata/host/hostimpl/utils/common.go
  comp/metadata/host/hostimpl/utils/common_test.go
  comp/metadata/host/hostimpl/utils/host.go
  comp/metadata/host/hostimpl/utils/host_nix.go
  comp/metadata/host/hostimpl/utils/host_nix_test.go
  comp/metadata/host/hostimpl/utils/host_test.go
  comp/metadata/host/hostimpl/utils/host_windows.go
  comp/metadata/host/hostimpl/utils/host_windows_test.go
  comp/metadata/host/hostimpl/utils/meta.go
  comp/metadata/host/hostimpl/utils/meta_test.go
  comp/metadata/host/hostimpl/utils/tags.go
  comp/metadata/host/hostimpl/utils/tags_test.go
  comp/metadata/host/hostimpl/utils/uuid_nix.go
  comp/metadata/host/hostimpl/utils/uuid_windows.go
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost.go
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost_test.go
  comp/process/bundle.go
  comp/process/forwarders/component.go
  comp/process/forwarders/forwardersimpl/forwarders.go
  comp/process/forwarders/forwardersimpl/forwarders_mock.go
  comp/process/submitter/submitterimpl/submitter_test.go
  pkg/cloudfoundry/containertagger/container_tagger.go
  pkg/collector/metadata/agentchecks/agentchecks.go
  pkg/collector/metadata/agentchecks/payload.go
  pkg/internaltelemetry/sender.go
  pkg/logs/internal/tag/local_provider.go
  pkg/process/checks/net.go
  pkg/process/runner/submitter_test.go
  pkg/process/util/status/status.go
  pkg/process/util/status/status_test.go
  pkg/status/status.go
  tasks/components.py
  test/system/dogstatsd/receive_and_forward_test.go
Labels: changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress, component framework

#21475 [CWS] remove old build tags
  pkg/security/ebpf/probes/builder.go
  pkg/security/probe/security_profile.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/field_accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/field_handlers.tmpl
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/dns_helpers_linux.go
  pkg/security/secl/model/dns_helpers_linux_test.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/field_handlers_windows.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/oo_symlink_unix.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/secl/model/process_cache_entry_unix_test.go
  pkg/security/security_profile/profile/profile_proto_enc_v1.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21474 [CWS] satisfy SelfTestEnabled config parameter
  pkg/security/module/cws.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21496 [RC-1441] Support integration log configuration
  pkg/autodiscovery/providers/remote_config.go
Labels: changelog/no-changelog, team/remote-config

#21485 usm: http2: Handle flakiness
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#21473 Disable trigger_auto_staging_release when conductor is running
  .gitlab/trigger_release.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21498 [clusterchecks/handler_test] Fix flaky TestHandlerRun
  pkg/clusteragent/clusterchecks/handler_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21108 process-agent: use the new statsd component
  cmd/process-agent/main_common.go
  cmd/system-probe/subcommands/run/command.go
  pkg/process/statsd/statsd.go
Labels: changelog/no-changelog, component/system-probe, team/processes

#21279 [Fleet] Fix a bug in the `file_config` source
  comp/metadata/inventoryagent/configuration.go
  pkg/config/model/types.go
  pkg/config/model/viper.go
  pkg/config/model/viper_test.go
Labels: changelog/no-changelog, team/remote-config

#21324 [e2e] bump test-infra with better docker support
  .gitlab-ci.yml
  test/new-e2e/examples/agentenv_metrics_test.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/pkg/utils/e2e/client/docker.go
  test/new-e2e/pkg/utils/e2e/stack_definition.go
  test/new-e2e/test-infra-definition/docker_test.go
  test/new-e2e/tests/ndm/snmp/snmpTestEnv.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress

#21504 [CWS] make ebpfless probe less noisy
  pkg/security/probe/probe_epbfless.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security, mergequeue-status: in_progress

#21503 [CWS] Fix ECS containerID parsing
  pkg/security/common/containerutils/utils.go
  pkg/security/common/containerutils/utils_test.go
  pkg/security/ptracer/utils.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, mergequeue-status: in_progress

#21499 [CONTINT-52] Add new e2e tests for checks of the K8s control plane components
  test/new-e2e/tests/containers/kindvm_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress

#21424 AMLII-1322: Avoids call to log.trace when possible to reduce heap allocations
  pkg/collector/python/memory.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#21377 pkg/config: update language around the trace_buffer config
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#21492 Remove load balancer from process agent e2e test on Linux VM
  test/new-e2e/tests/process/linux_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#21517 simplify docker-compose network
  pkg/network/protocols/amqp/testdata/docker-compose.yml
  pkg/network/protocols/kafka/testdata/docker-compose.yml
  pkg/network/protocols/mongo/testdata/docker-compose.yml
  pkg/network/protocols/mysql/testdata/docker-compose.yml
  pkg/network/protocols/postgres/testdata/docker-compose.yml
  pkg/network/protocols/redis/testdata/docker-compose.yml
  pkg/network/protocols/testutil/serverutils.go
  pkg/network/protocols/tls/gotls/testdata/docker-compose.yml
  pkg/network/protocols/tls/java/testdata/docker-compose.yml
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress

#21518 Add wrappers around PingTCP and PingUDP to ensure non-nil return
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/testutil/ping.go
  pkg/network/tracer/conntracker_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, mergequeue-status: in_progress

#21502 telemetry: enable more go metrics
  comp/core/telemetry/telemetry.go
  comp/core/telemetry/telemetry_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#21506 Add cancellation for force pushed commits
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change
