Repository DataDog/datadog-agent, pull requests merged in 2023-01, with the labels that each got.

#14909 usm: remove the scenario of nil subprograms
  pkg/network/protocols/http/ebpf_gotls.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/ebpf_ssl.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14917 usm: http2: improved functions
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/protocols/http2.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14807 update profiling endpoint when the fips is enabled to avoid 404
  pkg/config/config.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#14500 pkg/clusteragent/admission: introduce deployment patcher
  cmd/cluster-agent/app/app.go
  go.mod
  pkg/clusteragent/admission/common/const.go
  pkg/clusteragent/admission/common/lib_config.go
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/test_utils.go
  pkg/clusteragent/admission/patch/patch_request.go
  pkg/clusteragent/admission/patch/patcher.go
  pkg/clusteragent/admission/patch/patcher_test.go
  pkg/clusteragent/admission/patch/provider.go
  pkg/clusteragent/admission/patch/start.go
  pkg/config/config.go
Labels: team/containers, changelog/no-changelog

#14780 [CWS] avoid using readonly map for eBPF test prog
  tasks/security_agent.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/bugfix, bugfix/functional

#14865 [e2e] add codeowners for new e2e tests
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-e2e-test

#14839 DogstatsD component improvements
  cmd/dogstatsd/command/command.go
  cmd/dogstatsd/generate.go
  cmd/dogstatsd/main_nix.go
  cmd/dogstatsd/main_windows.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#14874 [CWS] eval.Opts holds MacroStore and VariableStore
  cmd/security-agent/app/subcommands/runtime/command.go
  pkg/security/module/module.go
  pkg/security/probe/approvers_test.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/probe.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/macro.go
  pkg/security/secl/compiler/eval/oo_dns_name_test.go
  pkg/security/secl/compiler/eval/oo_glob_cmp_test.go
  pkg/security/secl/compiler/eval/opts.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/compiler/eval/state.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/rule_filters.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, team/agent-security

#14902 [fake-datadog] add docker compose
  test/e2e/containers/fake_datadog/README.md
  test/e2e/containers/fake_datadog/docker-compose.yaml
Labels: changelog/no-changelog, team/agent-e2e-test

#14809 usm: mongo: Added mongo classification
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/protocols/amqp-defs.h
  pkg/network/ebpf/c/protocols/https.h
  pkg/network/ebpf/c/protocols/mongo-defs.h
  pkg/network/ebpf/c/protocols/protocol-classification-defs.h
  pkg/network/ebpf/c/protocols/protocol-classification-helpers.h
  pkg/network/ebpf/c/protocols/protocol-classification-maps.h
  pkg/network/ebpf/c/protocols/protocol-classification-structs.h
  pkg/network/ebpf/c/protocols/protocol-dispatcher-helpers.h
  pkg/network/encoding/format_usm_test.go
  pkg/network/event_usm_common.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/mongo/client.go
  pkg/network/protocols/mongo/server.go
  pkg/network/protocols/mongo/testdata/docker-compose.yml
  pkg/network/protocols/testutil/serverutils.go
  pkg/network/tracer/tracer_classification_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14887 Update agent_dev_env.md
  docs/dev/agent_dev_env.md
Labels: documentation, team/containers, changelog/no-changelog, qa/skip-qa

#14796 [CWS][SEC-6508] use tail call limit to increase the number of args/envs
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/probes/exec.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#14926 [notifications] Catch all image pull errors as infra failures
  tasks/libs/pipeline_data.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14920 Do not install the integrations downloader for python 2
  omnibus/config/software/datadog-agent-integrations-py2.rb
Labels: changelog/no-changelog, qa/skip-qa

#14925 usm: classification: Shrink classification buffer to 24 bytes
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/protocols/protocol-classification-defs.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14908 config: usm: Added USM to system-probe.yaml.example file
  pkg/config/config_template.yaml
  pkg/config/render_config.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14884 setupConfig consumes 1 param instead of many, adding to SecAgent constructor
  comp/core/config/config.go
  comp/core/config/params.go
  comp/core/config/params_test.go
  comp/core/config/setup.go
Labels: changelog/no-changelog, team/agent-security

#14768 [e2e/ndm] add snmp test environment
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/ndm/snmp/compose/data/apc_ups.snmprec
  test/new-e2e/ndm/snmp/compose/data/args_list.txt
  test/new-e2e/ndm/snmp/compose/data/arista.snmprec
  test/new-e2e/ndm/snmp/compose/data/aruba-access-point.snmprec
  test/new-e2e/ndm/snmp/compose/data/aruba-switch.snmprec
  test/new-e2e/ndm/snmp/compose/data/aruba.snmprec
  test/new-e2e/ndm/snmp/compose/data/chatsworth_pdu.snmprec
  test/new-e2e/ndm/snmp/compose/data/checkpoint-firewall.snmprec
  test/new-e2e/ndm/snmp/compose/data/cisco-asa-5525.snmprec
  test/new-e2e/ndm/snmp/compose/data/cisco-asa.snmprec
  test/new-e2e/ndm/snmp/compose/data/cisco-catalyst.snmprec
  test/new-e2e/ndm/snmp/compose/data/cisco-csr1000v.snmprec
  test/new-e2e/ndm/snmp/compose/data/cisco-nexus.snmprec
  test/new-e2e/ndm/snmp/compose/data/cisco_icm.snmprec
  test/new-e2e/ndm/snmp/compose/data/constraint.snmprec
  test/new-e2e/ndm/snmp/compose/data/dell-poweredge.snmprec
  test/new-e2e/ndm/snmp/compose/data/dummy.snmprec
  test/new-e2e/ndm/snmp/compose/data/entity.snmprec
  test/new-e2e/ndm/snmp/compose/data/f5-big-ip.snmprec
  test/new-e2e/ndm/snmp/compose/data/fortinet-fortigate.snmprec
  test/new-e2e/ndm/snmp/compose/data/generic-router.snmprec
  test/new-e2e/ndm/snmp/compose/data/generic_host.snmprec
  test/new-e2e/ndm/snmp/compose/data/hp-ilo4.snmprec
  test/new-e2e/ndm/snmp/compose/data/hpe-proliant.snmprec
  test/new-e2e/ndm/snmp/compose/data/idrac.snmprec
  test/new-e2e/ndm/snmp/compose/data/if.snmprec
  test/new-e2e/ndm/snmp/compose/data/isilon.snmprec
  test/new-e2e/ndm/snmp/compose/data/juniper-ex-variation.snmprec
  test/new-e2e/ndm/snmp/compose/data/juniper-ex.snmprec
  test/new-e2e/ndm/snmp/compose/data/juniper-mx-variation.snmprec
  test/new-e2e/ndm/snmp/compose/data/juniper-mx.snmprec
  test/new-e2e/ndm/snmp/compose/data/juniper-srx-variation.snmprec
  test/new-e2e/ndm/snmp/compose/data/juniper-srx.snmprec
  test/new-e2e/ndm/snmp/compose/data/meraki-cloud-controller.snmprec
  test/new-e2e/ndm/snmp/compose/data/netapp.snmprec
  test/new-e2e/ndm/snmp/compose/data/palo-alto.snmprec
  test/new-e2e/ndm/snmp/compose/data/public.snmprec
  test/new-e2e/ndm/snmp/compose/data/public_delay.snmprec
  test/new-e2e/ndm/snmp/compose/snmpCompose.yaml
  test/new-e2e/ndm/snmp/config/public.yaml
  test/new-e2e/ndm/snmp/snmpTestEnv.go
  test/new-e2e/scenarios/ndm/main.go
  test/new-e2e/utils/credentials/store-aws.go
Labels: changelog/no-changelog, squad/aett, team/agent-e2e-test

#14515 [CWS] extract probe from event and activity dump manager
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/activity_dump_manager_test.go
  pkg/security/probe/discarders.go
  pkg/security/probe/model.go
  pkg/security/probe/namespace_resolver.go
  pkg/security/probe/probe.go
  pkg/security/probe/resolvers.go
  pkg/security/probe/resolvers/tc_resolver.go
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14823 [corechecks/snmp] Add IP Addresses to NDM Metadata interfaces (IPv4)
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metadata.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/metadata/payload.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/collector/corechecks/snmp/profile_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  releasenotes/notes/snmp_add_ip_addresses_to_ndm_metadata_interfaces-ff310a683f997bc1.yaml
Labels: team/network-device-monitoring

#14850 {Dockerfiles/agent,trace-agent/config}: disable apm `max_memory` and `max_cpu_percent` by default
  Dockerfiles/agent/datadog-kubernetes.yaml
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  releasenotes/notes/apm-max-cpu-mem-feb99ac256073f7c.yaml
Labels: team/agent-apm

#14784 [pkg/otlp] Add a simple example on metric export
  pkg/otlp/example/metric/README.md
  pkg/otlp/example/metric/doc.go
  pkg/otlp/example/metric/go.mod
  pkg/otlp/example/metric/go.sum
  pkg/otlp/example/metric/main.go
Labels: changelog/no-changelog, qa/skip-qa, component/otlp, team/opentelemetry

#14816 usm: Reducing chances for mistakes in the protocol type values
  pkg/network/event_usm_common.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/protocols_linux_test.go
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14924 usm: classification: split the functions and helpers to protocol-dedicated-files
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/protocols/amqp-helpers.h
  pkg/network/ebpf/c/protocols/http-classification-defs.h
  pkg/network/ebpf/c/protocols/http-classification-helpers.h
  pkg/network/ebpf/c/protocols/http2-defs.h
  pkg/network/ebpf/c/protocols/http2-helpers.h
  pkg/network/ebpf/c/protocols/http2.h
  pkg/network/ebpf/c/protocols/https.h
  pkg/network/ebpf/c/protocols/mongo-helpers.h
  pkg/network/ebpf/c/protocols/protocol-classification-common.h
  pkg/network/ebpf/c/protocols/protocol-classification-defs.h
  pkg/network/ebpf/c/protocols/protocol-classification-helpers.h
  pkg/network/ebpf/c/protocols/protocol-classification.h
  pkg/network/ebpf/c/protocols/protocol-dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/redis-defs.h
  pkg/network/ebpf/c/protocols/redis-helpers.h
  pkg/network/ebpf/c/runtime/tracer.c
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14885 [process-agent] Remove host info from AgentConfig
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/info.go
  cmd/process-agent/info_test.go
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/host_info.go
  pkg/process/checks/host_info_test.go
  pkg/process/checks/mocks/check.go
  pkg/process/checks/mocks/check_with_real_time.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_null.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/checks/process_events_fallback.go
  pkg/process/checks/process_events_linux.go
  pkg/process/checks/process_events_linux_test.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_rt.go
  pkg/process/checks/process_rt_test.go
  pkg/process/checks/process_test.go
  pkg/process/checks/system_info.go
  pkg/process/checks/system_info_darwin.go
  pkg/process/checks/system_info_windows.go
  pkg/process/config/config.go
  pkg/process/config/config_nix_test.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly-InvalidHostname.yaml
  pkg/process/config/yaml_config.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#14889 [process-agent] Remove remaining properties from AgentConfig
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/events/events.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/mocks/check.go
  pkg/process/checks/mocks/check_with_real_time.go
  pkg/process/checks/net.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_null.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/checks/process_events_fallback.go
  pkg/process/checks/process_events_linux.go
  pkg/process/config/config.go
  pkg/process/config/config_darwin.go
  pkg/process/config/config_nix.go
  pkg/process/config/config_nix_test.go
  pkg/process/config/config_test.go
  pkg/process/config/config_windows.go
  pkg/process/config/testdata/TestDDAgentConfig-NetConfig.yaml
  pkg/process/config/testdata/TestDDAgentConfig-OOMKillOnly.yaml
  pkg/process/config/testdata/TestDDAgentConfigBothVersions.yaml
  pkg/process/config/testdata/TestDDAgentConfigYaml.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net-2.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net-Windows.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-Net.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlEnc.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlEnc2.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly-2.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly-3.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly-4.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly-5.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly-6.yaml
  pkg/process/config/testdata/TestDDAgentConfigYamlOnly.yaml
  pkg/process/config/testdata/TestEnvSiteConfig-Enc.yaml
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#14927 Ignore RemoteSamplingClient when marshaling agent config
  pkg/trace/config/config.go
  releasenotes/notes/apm-fix-info-0ac3d9106e780798.yaml
Labels: team/agent-apm

#14859 pkg/obfuscate: fix panic due to missing logger
  pkg/obfuscate/obfuscate.go
  releasenotes/notes/fix-obfuscator-logger-8c6a4debbf3a0bf6.yaml
Labels: team/agent-apm

#14905 Update github.com/lxn/walk version
  cmd/systray/systray.go
  go.mod
  go.sum
Labels: changelog/no-changelog, team/windows-agent

#14764 gitignore runtime compiled hash files
  .gitignore
  .gitlab/source_test/ebpf.yml
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14904 [process-agent] Remove pkg/process/config package
  cmd/process-agent/command/command.go
  cmd/process-agent/info.go
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/config/config.go
  cmd/process-agent/subcommands/events/events.go
  cmd/process-agent/subcommands/status/status.go
  cmd/process-agent/subcommands/taggerlist/tagger_list.go
  pkg/config/config.go
  pkg/orchestrator/config/config_test.go
  pkg/process/config/config.go
  pkg/process/config/config_test.go
  pkg/process/config/testdata/TestDDAgentConfigYaml.yaml
  pkg/process/config/testdata/secret.go
  pkg/process/config/yaml_config.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#14939 [CWS Agent] Bugfixing SecAgent Params constructor
  comp/core/config/params.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14756 [USM] use per-cpu array map instead of in-stack buffer for classification
  pkg/network/ebpf/c/protocols/http2-helpers.h
  pkg/network/ebpf/c/protocols/protocol-classification-common.h
  pkg/network/ebpf/c/protocols/protocol-classification-defs.h
  pkg/network/ebpf/c/protocols/protocol-classification-maps.h
  pkg/network/ebpf/c/protocols/protocol-classification.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14929 [gitlab] Use DEB buildimage based on Ubuntu 14.04 instead of Debian 8
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, major_change

#14928 Adding config option to disable delta profiles when profiling the Agent
  pkg/config/config.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/util/profiling/profiling.go
  pkg/util/profiling/profiling_test.go
  pkg/util/profiling/settings.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#14891 Fixed nil return instead of an error in DogStatsD file replay
  pkg/dogstatsd/replay/file.go
  pkg/dogstatsd/replay/file_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs, bugfix/security

#14888 Removed sending API key as params in forwarder
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/transaction/transaction.go
  releasenotes/notes/remove-sending-API-keys-as-params-1cec05cf38b99b71.yaml
Labels: team/serverless, team/agent-shared-components, team/agent-metrics-logs

#14906 flags package to organize security agent subcommand flags
  cmd/security-agent/app/app.go
  cmd/security-agent/app/start.go
  cmd/security-agent/app/subcommands/check/command.go
  cmd/security-agent/app/subcommands/compliance/command.go
  cmd/security-agent/app/subcommands/flare/command.go
  cmd/security-agent/app/subcommands/runtime/activity_dump.go
  cmd/security-agent/app/subcommands/runtime/command.go
  cmd/security-agent/app/subcommands/status/command.go
  cmd/security-agent/flags/flags_common.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14899 [CI] Improve visibility for `docker run` commands in the CI
  .gitlab/binary_build/windows.yml
  .gitlab/choco_deploy.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/deploy_7/winget.yml
  .gitlab/deps_build.yml
  .gitlab/package_build/windows.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/windows.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14901 Replacing TODOs in exposed comments with more meaningful comments
  pkg/collector/corechecks/embed/jmx/check.go
  pkg/jmxfetch/jmxfetch.go
  pkg/serializer/internal/stream/compressor.go
  pkg/serializer/internal/stream/json_payload_builder.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#14940 Revert "[agent] Support for running secrets backends with sha256 verification"
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/secrets/check_rights_nix.go
  pkg/secrets/check_rights_nix_test.go
  pkg/secrets/check_rights_windows.go
  pkg/secrets/fetch_secret.go
  pkg/secrets/fetch_secret_test.go
  pkg/secrets/info.go
  pkg/secrets/no_secrets.go
  pkg/secrets/secrets.go
Labels: changelog/no-changelog, team/processes

#14895 [Serverless] Improve stability of two tests.
  pkg/serverless/registration/telemetry_api_test.go
  pkg/serverless/serverless_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#14587 Download btfs for kitchen tests
  .gitlab-ci.yml
  .gitlab/deps_build.yml
  .gitlab/source_test/ebpf.yml
  tasks/system_probe.py
  tasks/winbuildscripts/sysprobe.ps1
  test/kitchen/site-cookbooks/dd-system-probe-check/.gitignore
Labels: changelog/no-changelog, team/ebpf-platform

#14950 [backport][7.42.x] Revert "[agent] Support for running secrets backends with sha256"
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/secrets/check_rights_nix.go
  pkg/secrets/check_rights_nix_test.go
  pkg/secrets/check_rights_windows.go
  pkg/secrets/fetch_secret.go
  pkg/secrets/fetch_secret_test.go
  pkg/secrets/info.go
  pkg/secrets/no_secrets.go
  pkg/secrets/secrets.go
Labels: changelog/no-changelog, team/agent-shared-components

#14941 [secrets] Fix getDDAgentUserSID to account for NT AUTHORITY\SYSTEM
  pkg/secrets/check_rights_windows.go
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix

#14958 usm: classification: removed redundant nolint
  pkg/network/tracer/tracer_classification_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14918 Bump wheel dependency
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  releasenotes/notes/bump-wheel-218fcf0e14839ed5.yaml
Labels: team/integrations, category/bugfix, bugfix/security

#14919 [Backport] Bump wheel dependency
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  releasenotes/notes/bump-wheel-218fcf0e14839ed5.yaml
Labels: team/integrations, category/bugfix, bugfix/security

#14959 Fixing system_probe.py on linux machine
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14957 [7.42.x][backport][secrets] Fix getDDAgentUserSID to account for NT AUTHORITY\SYSTEM (#…
  pkg/secrets/check_rights_windows.go
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix, bugfix/functional

#14868 document trace API v04, including response
  pkg/trace/api/version.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#14779 [CWS] improve mount fallback
  pkg/security/probe/probe.go
  pkg/security/probe/probe_monitor.go
  pkg/security/probe/resolvers/cgroups_resolver.go
  pkg/security/probe/resolvers/mount_resolver.go
Labels: changelog/no-changelog, team/agent-security

#14964 [CWS] bump security agent policies to v0.42.1
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14966 [backport][CWS] bump security agent policies to v0.42.1 (#14964)
  release.json
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#14712 [usm] Extract batching functionality into package
  .github/CODEOWNERS
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/prebuilt/usm_events_test.c
  pkg/network/ebpf/c/protocols/events-types.h
  pkg/network/ebpf/c/protocols/events.h
  pkg/network/ebpf/c/protocols/http-maps.h
  pkg/network/ebpf/c/protocols/http-types.h
  pkg/network/ebpf/c/protocols/http.h
  pkg/network/protocols/events/README.md
  pkg/network/protocols/events/batch_offsets.go
  pkg/network/protocols/events/batch_offsets_test.go
  pkg/network/protocols/events/batch_reader.go
  pkg/network/protocols/events/configuration.go
  pkg/network/protocols/events/consumer.go
  pkg/network/protocols/events/consumer_test.go
  pkg/network/protocols/events/iterator.go
  pkg/network/protocols/events/types.go
  pkg/network/protocols/events/types_linux.go
  pkg/network/protocols/events/worker_pool.go
  pkg/network/protocols/http/batch_manager.go
  pkg/network/protocols/http/dump.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/ebpf_ssl.go
  pkg/network/protocols/http/http_statkeeper.go
  pkg/network/protocols/http/http_statkeeper_test.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/http/model_linux.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/monitor.go
  pkg/network/protocols/http/monitor_windows.go
  pkg/network/protocols/http/telemetry.go
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14883 [Process Agent] Split Collector into Runner and Submitter
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/config_test.go
  cmd/process-agent/main_common.go
  cmd/process-agent/mocks/submitter.go
  cmd/process-agent/submitter.go
  cmd/process-agent/submitter_test.go
  tasks/process_agent.py
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#14864 Bump Collector dependencies to v1.0.0-RC2/v0.68.0
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/otlp/collector.go
  pkg/otlp/collector_test.go
  pkg/otlp/internal/configutils/utils.go
  pkg/otlp/internal/configutils/utils_test.go
  pkg/otlp/internal/serializerexporter/exporter.go
  pkg/otlp/internal/serializerexporter/factory.go
  pkg/otlp/internal/serializerexporter/factory_test.go
  pkg/otlp/map_provider.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/v0.68.0-otel-f1571b993848d654.yaml
Labels: component/otlp, team/opentelemetry

#14585 Increase speed of generate_minimized_btfs jobs
  .gitlab-ci.yml
  .gitlab/package_deps_build.yml
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14685 Add dynamic way of determining eBPF helper availability on runtime compilation
  pkg/ebpf/bytecode/runtime/all_helpers.go
  pkg/ebpf/bytecode/runtime/asset.go
  pkg/ebpf/bytecode/runtime/generated_asset.go
  pkg/ebpf/bytecode/runtime/helpers.go
  pkg/ebpf/bytecode/runtime/helpers_test.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/bytecode/runtime/telemetry.go
  pkg/ebpf/c/bpf_cross_compile.h
  pkg/ebpf/compiler/compiler.go
  pkg/util/kernel/find_headers.go
  pkg/util/kernel/find_headers_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14956 [system-probe] Fix udp bind for random ports
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/kprobe_types.go
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#14797 NDM: Add snmp.interface_status metric
  pkg/collector/corechecks/snmp/common/contants.go
  pkg/collector/corechecks/snmp/internal/metadata/payload.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
  releasenotes/notes/NDM---Add-snmp.interface_status-metric-13fb0f54fd11f197.yaml
Labels: team/network-device-monitoring

#14649 NDM: Add snmp.device.[un]reachable metrics
  pkg/collector/corechecks/snmp/common/utils.go
  pkg/collector/corechecks/snmp/common/utils_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  releasenotes/notes/NDM---Add-snmp.device_up-metric-65a7855a959af675.yaml
Labels: team/network-device-monitoring

#14968 Improve log message
  pkg/collector/corechecks/systemd/systemd.go
Labels: changelog/no-changelog, qa/skip-qa

#13906 Use rv "0" when polling Kubernetes endpoint list
  pkg/util/kubernetes/apiserver/apiserver_kubelet.go
Labels: team/containers, changelog/no-changelog, category/improvement, container-app-no-reminder, 7.41.0-drop, 7.42.0-drop

#14970 [Windows] Upgrade NPM driver to 2.1.2
  release.json
  releasenotes/notes/driver212for742-0be3b5d6ba1bb38b.yaml
Labels: team/windows-kernel-integrations

#14161 include message count in pipeline full err message
  pkg/epforwarder/epforwarder.go
Labels: changelog/no-changelog, team/database-monitoring

#14979 [release] Update release.json and Go modules for 6/7.42.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/agent-core

#14687 Fix small typo in install XML.
  omnibus/resources/agent/msi/localization-en-us.wxl.erb
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#14976 Revert "pkg/obfuscate: improve formatting and string parsing in the SQL obfuscator (#11967)"
  pkg/obfuscate/sql.go
  pkg/obfuscate/sql_test.go
  pkg/obfuscate/sql_tokenizer.go
  pkg/obfuscate/testdata/json_tests.xml
  releasenotes/notes/update-sql-obfuscator-d34b610e911bbc0f.yaml
Labels: team/agent-apm

#14592 [workloadmeta/collectors/containerd] Collect image metadata
  pkg/config/config.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/containerd_util_test.go
  pkg/util/containerd/fake/containerd_util.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
  pkg/workloadmeta/collectors/internal/containerd/event_builder_test.go
  pkg/workloadmeta/collectors/internal/containerd/image.go
  pkg/workloadmeta/collectors/internal/containerd/image_test.go
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/testing/store.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog

#14770 [CSPM] remove the hostSelector field not used anymore
  cmd/security-agent/app/subcommands/check/command.go
  cmd/security-agent/app/subcommands/compliance/compliance.go
  pkg/compliance/agent/agent_test.go
  pkg/compliance/agent/node_labels.go
  pkg/compliance/agent/testdata/configs/cis-kubernetes.yaml
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/builder_test.go
  pkg/compliance/checks/env/env.go
  pkg/compliance/mocks/configuration.go
  pkg/compliance/mocks/env.go
  pkg/compliance/rego/rego_check.go
  pkg/compliance/rule.go
  pkg/compliance/suite_test.go
  pkg/compliance/testdata/cis-docker.yaml
  pkg/config/config.go
Labels: changelog/no-changelog, team/agent-security

#14944 [CWS][SEC-4767] add tests for live process monitoring
  pkg/security/module/event.go
  pkg/security/module/module.go
  pkg/security/module/process_monitor.go
  pkg/security/tests/event_monitoring_test.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#14802 [system-probe][NET-2899] fix race condition in ephemeral port checker
  pkg/network/ephemeral_linux.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#14993 [CWS] restore SECL documentation generation
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14983 Add __TARGET_ARCH_ to runtime compilation flags
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/compiler/compiler.go
  pkg/util/kernel/arch.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14982 Re-delete http runtime asset hash file
  pkg/ebpf/bytecode/runtime/http.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14763 Add CO-RE version of TCP Queue Length check
  .gitlab/binary_build/system_probe.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/package_deps_build.yml
  .gitlab/source_test/ebpf.yml
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/system-probe.rb
  pkg/collector/corechecks/ebpf/c/runtime/cgroup.h
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern.c
  pkg/collector/corechecks/ebpf/probe/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oom_kill_test.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#14951 [system-probe] Fix gateway lookup tests
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#15006 [usm] Reduce HTTP test memory utilization
  pkg/network/protocols/http/monitor_test.go
  pkg/network/protocols/http/testutil/testutil.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15007 [CWS] mount fallback to pid 1 by default
  pkg/security/probe/resolvers/mount_resolver.go
Labels: changelog/no-changelog, team/agent-security

#13008 [CWS][SEC-4020] parse args and envs from the new program stack pages
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/probes/const.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/probe/constantfetch/btfhub/constants.json
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#15010 [CWS] rework event json marshalling
  cmd/security-agent/app/subcommands/runtime/command.go
  pkg/security/events/custom.go
  pkg/security/module/server.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/probe/model.go
  pkg/security/probe/probe.go
  pkg/security/probe/serializers.go
  pkg/security/secl/model/model.go
  pkg/security/tests/bind_test.go
  pkg/security/tests/bpf_test.go
  pkg/security/tests/chmod_test.go
  pkg/security/tests/chown32_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/dns_test.go
  pkg/security/tests/fields_test.go
  pkg/security/tests/kernel_module_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/mmap_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/mprotect_test.go
  pkg/security/tests/network_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/ptrace_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/selinux_test.go
  pkg/security/tests/signal_test.go
  pkg/security/tests/span_test.go
  pkg/security/tests/splice_test.go
Labels: changelog/no-changelog, team/agent-security

#14625 [USM] protocol classification: add PostgreSQL classification
  .github/CODEOWNERS
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/network/ebpf/c/protocols/amqp-helpers.h
  pkg/network/ebpf/c/protocols/http-classification-helpers.h
  pkg/network/ebpf/c/protocols/http2-helpers.h
  pkg/network/ebpf/c/protocols/mongo-helpers.h
  pkg/network/ebpf/c/protocols/postgres-defs.h
  pkg/network/ebpf/c/protocols/postgres-helpers.h
  pkg/network/ebpf/c/protocols/protocol-classification-common.h
  pkg/network/ebpf/c/protocols/protocol-classification-defs.h
  pkg/network/ebpf/c/protocols/protocol-classification.h
  pkg/network/ebpf/c/protocols/redis-helpers.h
  pkg/network/ebpf/c/protocols/sql-defs.h
  pkg/network/ebpf/c/protocols/sql-helpers.h
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/postgres/testdata/docker-compose.yml
  pkg/network/protocols/postgres/utils.go
  pkg/network/tracer/tracer_classification_test.go
Labels: changelog/no-changelog, team/usm

#14972 [process-agent] Scaffold components for process agent
  .github/CODEOWNERS
  comp/README.md
  comp/process/bundle.go
  comp/process/bundle_test.go
  comp/process/containercheck/check.go
  comp/process/containercheck/component.go
  comp/process/processcheck/check.go
  comp/process/processcheck/component.go
  comp/process/runner/component.go
  comp/process/runner/runner.go
  comp/process/submitter/component.go
  comp/process/submitter/submitter.go
  comp/process/types/check.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, qa/skip-qa, category/improvement

#15015 [CWS] rework/cleanup `FieldHandlers`
  pkg/security/probe/field_handlers.go
  pkg/security/probe/model_test.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/process_resolver_test.go
  pkg/security/probe/resolvers.go
Labels: changelog/no-changelog, team/agent-security

#15024 Move etw ownership file
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/windows-kernel-integrations

#15026 [security-agent] remove redundant String() in compliance agent log
  cmd/security-agent/app/subcommands/compliance/compliance.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, component/security-agent

#14740 [system-probe][NET-2891] Fix tcp retransmit count
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer-stats.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#15030 usm: upgraded pgdriver version to indirectly upgrade mellium.in/sasl version due to a CVE ofound
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15025 [CWS] fix signal test
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14995 [process-agent] Support dynamically enabling profiling for process agent from CLI
  cmd/agent/subcommands/run/settings.go
  cmd/cluster-agent/app/config.go
  cmd/process-agent/main_common.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/config/settings/runtime_settings_test.go
  releasenotes/notes/process-agent-dynamic-profiling-0aece4cec9ca7526.yaml
Labels: team/containers, team/processes, team/agent-shared-components

#15036 .gitlab: move APM benchmark job to manual only
  .gitlab/benchmarks/benchmarks.yml
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#15017 [RCM] Update expiration date in pregenerated TUF validation tests
  pkg/remoteconfig/state/go.mod
  pkg/remoteconfig/state/repository_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/remote-config

#13791 NTP fix datatype
  cmd/agent/dist/conf.d/ntp.d/conf.yaml.default
Labels: changelog/no-changelog, qa/skip-qa, 7.41.0-drop, 7.42.0-drop

#15031 [AD/prometheus] Ignore headless services
  pkg/autodiscovery/common/utils/prometheus_apiserver.go
  pkg/autodiscovery/common/utils/prometheus_apiserver_test.go
  releasenotes/notes/ignore-prometheus-headless-services-6733bb93198c76f4.yaml
Labels: team/containers

#15008 Auto instrumentation: add RC provider
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/admission/common/const.go
  pkg/clusteragent/admission/common/lib_config.go
  pkg/clusteragent/admission/patch/file_provider.go
  pkg/clusteragent/admission/patch/patch_request.go
  pkg/clusteragent/admission/patch/patcher.go
  pkg/clusteragent/admission/patch/patcher_test.go
  pkg/clusteragent/admission/patch/provider.go
  pkg/clusteragent/admission/patch/rc_provider.go
  pkg/clusteragent/admission/patch/start.go
  pkg/config/config.go
  pkg/config/remote/client.go
  pkg/config/remote/data/product.go
  pkg/remoteconfig/state/configs.go
Labels: team/containers, changelog/no-changelog, team/remote-config

#15005 pkg/obfuscate: use github.com/outcaste-io/ristretto instead of github.com/dgraph-io/ristretto
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/obfuscate/cache.go
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#14960 [workloadmeta/kubelet] Parse image ID if name is a SHA256
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
Labels: team/containers, changelog/no-changelog

#14965 pkg/trace/api: remove unused internal OTLP HTTP server
  cmd/trace-agent/config/config_otlp_test.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/config/config.go
Labels: changelog/no-changelog, team/opentelemetry

#15050 [CWS] cleanup last uses of `jsonschema_description`
  docs/cloud-workload-security/README.md
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15004 [Serverless] Consolidate log normalization to single file for integration tests.
  test/integration/serverless/log_normalize.py
  test/integration/serverless/recorder-extension/main.go
  test/integration/serverless/run.sh
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#14980 [Serverless] Merge `serverless/main` to `main`
  pkg/serverless/logs/parse.go
  pkg/serverless/registration/telemetry_api_test.go
  pkg/serverless/serverless_test.go
  test/integration/serverless/log_normalize.py
  test/integration/serverless/recorder-extension/main.go
  test/integration/serverless/run.sh
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15022 Fixes multiple problems with http processing/tagging on Windows.
  pkg/network/protocols/http/etw_http_service.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/monitor_windows.go
  pkg/network/protocols/http/monitor_windows_test.go
  releasenotes/notes/fixwinhttploopback-cec77f41a8feff7f.yaml
Labels: team/usm

#14962 Add the plumbing in the agent forwarder to submit container images and SBOM
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_senders.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/mocksender/asserts.go
  pkg/aggregator/mocksender/mocked_methods.go
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/config/config.go
  pkg/containerimage/forwarder.go
  pkg/forwarder/endpoints/endpoints.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/noop_forwarder.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/otlp/internal/serializerexporter/consumer_test.go
  pkg/sbom/forwarder.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/test_common.go
  pkg/serializer/types_contimage.go
  pkg/serializer/types_sbom.go
Labels: team/containers, changelog/no-changelog

#15011 Improve documentation for BundleParams
  docs/components/defining-bundles.md
Labels: changelog/no-changelog, qa/skip-qa

#15044 pkg/clusteragent/admission: add unit tests
  pkg/clusteragent/admission/common/lib_config.go
  pkg/clusteragent/admission/common/lib_config_test.go
  pkg/clusteragent/admission/patch/file_provider.go
  pkg/clusteragent/admission/patch/patch_request_test.go
  pkg/clusteragent/admission/patch/provider.go
  pkg/clusteragent/admission/patch/rc_provider.go
  pkg/clusteragent/admission/patch/rc_provider_test.go
  pkg/clusteragent/admission/patch/start.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15061 [CWS] bump syscall table + extract into separate task
  pkg/security/secl/model/syscalls.go
  pkg/security/secl/model/syscalls_string_linux_amd64.go
  pkg/security/secl/model/syscalls_string_linux_arm64.go
  tasks/security_agent.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15055 [gitlab] Temporarily disable SUSE Agent 5 upgrade tests
  .gitlab/kitchen_testing/suse.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14946 [corechecks/snmp] Add LLDP remote device IP address
  pkg/collector/corechecks/snmp/internal/checkconfig/config_metadata.go
  pkg/collector/corechecks/snmp/internal/metadata/payload.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/profile_metadata_test.go
  releasenotes/notes/snmp_lldp_remote_device_ip-07aedf702830c8a5.yaml
Labels: team/network-device-monitoring

#15056 [gitlab] Temporarily disable SUSE Agent 5 upgrade tests
  .gitlab/kitchen_testing/suse.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#14471 [CWS] add discarders eBPF unit test
  .gitlab/source_test/ebpf.yml
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/baloum.h
  pkg/security/ebpf/c/dentry_resolver.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/discarders_test.h
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/ebpf/c/tests.h
  pkg/security/ebpf/loader.go
  pkg/security/ebpf/tests/discarders_test.go
  pkg/security/ebpf/tests/helpers_test.go
  pkg/security/probe/probe.go
  tasks/security_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, team/agent-security

#14915 [CWS Agent] Moving SecAgent subcommands to new dir part 2
  cmd/cluster-agent/app/compliance_cmd.go
  cmd/security-agent/app/app.go
  cmd/security-agent/app/subcommands/config/config.go
  cmd/security-agent/subcommands/check/command.go
  cmd/security-agent/subcommands/check/command_test.go
  cmd/security-agent/subcommands/check/command_unsupported.go
  cmd/security-agent/subcommands/check/reporter.go
  cmd/security-agent/subcommands/compliance/command.go
  cmd/security-agent/subcommands/compliance/command_kubeapiserver_test.go
  cmd/security-agent/subcommands/compliance/command_test.go
  cmd/security-agent/subcommands/compliance/compliance.go
  cmd/security-agent/subcommands/config/config.go
  cmd/security-agent/subcommands/config/config_unsupported.go
  cmd/security-agent/subcommands/flare/command.go
  cmd/security-agent/subcommands/flare/command_test.go
  cmd/security-agent/subcommands/runtime/activity_dump.go
  cmd/security-agent/subcommands/runtime/command.go
  cmd/security-agent/subcommands/runtime/command_unsupported.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14567 Add `container_image` core check
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  pkg/autodiscovery/listeners/container.go
  pkg/collector/corechecks/containerimage/check.go
  pkg/collector/corechecks/containerimage/processor.go
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/collector/corechecks/containerimage/queue.go
  pkg/collector/corechecks/containerimage/queue_test.go
  pkg/collector/corechecks/containers/containerd/utils.go
  pkg/collector/corechecks/containers/docker/utils.go
  pkg/util/containers/image.go
  pkg/util/containers/image_test.go
  pkg/workloadmeta/collectors/internal/containerd/image.go
  pkg/workloadmeta/collectors/internal/docker/docker.go
  pkg/workloadmeta/collectors/internal/podman/podman_test.go
  pkg/workloadmeta/types.go
  releasenotes/notes/container_image-22cddfd6c194def9.yaml
Labels: team/containers

#15034 [check command] Add `--instance-filter` option
  cmd/agent/common/autodiscovery.go
  cmd/agent/subcommands/jmx/command.go
  cmd/cluster-agent/commands/check/check.go
  pkg/cli/subcommands/check/command.go
  pkg/util/jsonquery/yaml.go
  pkg/util/jsonquery/yaml_test.go
  releasenotes/notes/add_instance_filter_to_agent_check_command-c166bec4ff8ebf96.yaml
Labels: team/network-device-monitoring, team/agent-shared-components

#14985 Migrate systray to an fx.App
  .github/CODEOWNERS
  cmd/systray/command/command.go
  cmd/systray/ddtray.exe.manifest
  cmd/systray/main_windows.go
  cmd/systray/systray.go
  comp/README.md
  comp/systray/bundle.go
  comp/systray/systray/component.go
  comp/systray/systray/doconfigure.go
  comp/systray/systray/doflare.go
  comp/systray/systray/doservicecontrol.go
  comp/systray/systray/systray.go
  comp/systray/systray/uac.c
  comp/systray/systray/uac.h
  omnibus/resources/agent/msi/source.wxs.erb
  omnibus/resources/iot/msi/source.wxs.erb
  pkg/config/config.go
  pkg/config/config_template.yaml
  pkg/util/winutil/users.go
  releasenotes/notes/break-ddtray-cmdline-args-compat-05fc525c6f6dea01.yaml
  releasenotes/notes/require-admin-for-ddtray-5a087c08fc8d2f4c.yaml
  tasks/systray.py
Labels: team/windows-agent

#15053 epforwarder: update dbm samples endpoint prefix
  pkg/epforwarder/epforwarder.go
Labels: changelog/no-changelog, team/database-monitoring

#15063 [process-agent] Refactor Check interface
  cmd/process-agent/collector.go
  cmd/process-agent/collector_api_test.go
  cmd/process-agent/collector_test.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/submitter.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_rt.go
  pkg/process/checks/mocks/check.go
  pkg/process/checks/mocks/check_with_real_time.go
  pkg/process/checks/net.go
  pkg/process/checks/pod.go
  pkg/process/checks/pod_null.go
  pkg/process/checks/process.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/checks/process_events_fallback.go
  pkg/process/checks/process_events_linux.go
  pkg/process/checks/process_events_linux_test.go
  pkg/process/checks/process_rt.go
  pkg/process/checks/process_rt_test.go
  pkg/process/checks/process_test.go
  pkg/process/checks/runner.go
  pkg/process/checks/runner_test.go
Labels: kind/enhancement, changelog/no-changelog, team/processes, category/improvement

#15070 usm: postgres classification: Reduced 5 seconds per test, 1m30s in total
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/postgres/utils.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15064 [CWS] Add 4 ebpf tests, one for each rate limiter algo
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/activity_dump.h
  pkg/security/ebpf/c/activity_dump_ratelimiter_test.h
  pkg/security/ebpf/c/baloum.h
  pkg/security/ebpf/c/discarders.h
  pkg/security/ebpf/c/tests.h
  pkg/security/ebpf/c/utils.h
  pkg/security/ebpf/tests/activity_dump_ratelimiter_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15046 [CWS] remove useless callbacks
  pkg/security/module/module.go
  pkg/security/probe/probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14989 Add `SBOM` core check
  .github/CODEOWNERS
  LICENSE-3rdparty.csv
  cmd/agent/subcommands/run/command.go
  go.mod
  go.sum
  pkg/collector/corechecks/sbom/check.go
  pkg/collector/corechecks/sbom/convert.go
  pkg/collector/corechecks/sbom/convert_test.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/collector/corechecks/sbom/queue.go
  pkg/collector/corechecks/sbom/queue_test.go
  pkg/util/pointer/pointer.go
  pkg/workloadmeta/types.go
  releasenotes/notes/sbom-01e923031b7d118b.yaml
Labels: team/containers

#15065 Prevent check from running after it was unscheduled.
  pkg/collector/internal/middleware/check_wrapper.go
  pkg/collector/internal/middleware/test_utils.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#14862 Restrict flare file from being accessible by other users on Unix
  comp/core/flare/helpers/builder.go
  pkg/util/filesystem/permission_nowindows.go
  pkg/util/filesystem/permission_nowindows_test.go
  pkg/util/filesystem/permission_windows.go
Labels: changelog/no-changelog, team/agent-shared-components

#15062 pkg/clusteragent/admission/patch: poll rc on leadership switch
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/admission/patch/provider.go
  pkg/clusteragent/admission/patch/rc_provider.go
  pkg/clusteragent/admission/patch/rc_provider_test.go
  pkg/clusteragent/admission/patch/start.go
  pkg/config/remote/client.go
Labels: team/containers, changelog/no-changelog

#15059 pkg/clusteragent/admission: add additional libconfig env vars
  pkg/clusteragent/admission/common/lib_config.go
  pkg/clusteragent/admission/common/lib_config_test.go
Labels: team/containers, changelog/no-changelog

#15075 usm: classification: Split USM and NPM classifications
  pkg/network/ebpf/c/protocols/https.h
  pkg/network/ebpf/c/protocols/protocol-dispatcher-helpers.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14757 Python memory telemetry
  docs/dev/agent_memory.md
  pkg/collector/python/init.go
  pkg/config/config.go
  releasenotes/notes/pymem-telemetry-0f62acb520d80a1f.yaml
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/rtloader/rtloader.cpp
  rtloader/three/CMakeLists.txt
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/three/three_mem.cpp
Labels: team/agent-metrics-logs

#15016 Add telemetry for number of contexts per origin
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#15072 [process-agent] Fix kitchen tests for process agent on main
  cmd/process-agent/collector.go
  cmd/process-agent/subcommands/check/check.go
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix

#15043 include `functests` in `DD_PIPELINE_ID` for system probe and security agent functests
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe.yml
  .gitlab/functional_test_cleanup.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15082 [install_script] Backport install_script changes
  cmd/agent/install_script.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15084 [CWS] fix rule in error reported twice
  pkg/security/module/policy_monitor.go
Labels: kind/bug, changelog/no-changelog, team/agent-security

#14665 Add java package in our circle-ci image
  .circleci/images/runner/Dockerfile
Labels: changelog/no-changelog, qa/skip-qa

#15051 Use DMI on EC2 Nitro instances to get host aliases
  pkg/config/config.go
  pkg/metadata/inventories/host_metadata.go
  pkg/metadata/inventories/host_metadata_nix_test.go
  pkg/metadata/inventories/host_metadata_test.go
  pkg/metadata/inventories/host_metadata_win.go
  pkg/metadata/inventories/inventories_test.go
  pkg/util/dmi/dmi_mock.go
  pkg/util/dmi/dmi_nix.go
  pkg/util/dmi/dmi_nix_test.go
  pkg/util/dmi/dmi_windows.go
  pkg/util/dmi/dmi_windows_mock.go
  pkg/util/ec2/ec2.go
  pkg/util/ec2/ec2_test.go
  releasenotes/notes/use-dmi-for-ec2-instance-id-47eb7188442b3cf1.yaml
Labels: team/agent-shared-components

#14661 [CWS] add inode to pid context to detect exec loss
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/process.h
  pkg/security/probe/field_handlers.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/probe.go
  pkg/security/probe/process_resolver.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, team/agent-security

#15093 Fix serializer tests flakiness
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15088 [RCM-632] Add UUID in request
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/util.go
  pkg/config/remote/uptane/client.go
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/remoteconfig.pb.go
Labels: changelog/no-changelog, team/remote-config

#15067 Trace-Agent: Prevent OOMs from big dictionary allocations in v5
  cmd/trace-agent/test/testsuite/traces_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/pb/decoder_v05.go
  pkg/trace/pb/decoder_v05_test.go
Labels: changelog/no-changelog, team/agent-apm

#14963 pkg/trace/api: Move semantic conventions to separate internal package
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/container.go
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
  pkg/trace/api/evp_proxy.go
  pkg/trace/api/evp_proxy_test.go
  pkg/trace/api/fuzz_test.go
  pkg/trace/api/internal/header/headers.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/api/responses.go
  pkg/trace/api/telemetry.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, team/opentelemetry

#15098 Factorize queue code duplicated at two places
  .github/CODEOWNERS
  pkg/collector/corechecks/containerimage/processor.go
  pkg/collector/corechecks/containerimage/queue.go
  pkg/collector/corechecks/containerimage/queue_test.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/queue.go
  pkg/collector/corechecks/sbom/queue_test.go
  pkg/util/aggregatingqueue/queue.go
  pkg/util/aggregatingqueue/queue_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#14438 [single-machine-performance] Push agent containers to SMP ECR
  .gitlab/container_build/docker_linux.yml
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15039 [Windows] implement mapping of pid to service name
  pkg/network/protocols/http/http_types.go
  pkg/pidfile/pidfile_windows.go
  pkg/trace/remoteconfighandler/mock_remote_client.go
  pkg/util/winutil/process.go
  pkg/util/winutil/scmmonitor.go
  pkg/util/winutil/scmmonitor_test.go
Labels: changelog/no-changelog, team/processes, team/agent-shared-components

#15126 Update README.md
  pkg/network/protocols/events/README.md
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15112 [CWS] remove useless variable
  cmd/system-probe/modules/security_runtime.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#14877 [CWS][SEC-4478] add RC to e2e tests
  .gitlab/e2e.yml
  test/e2e/argo-workflows/cws-workflow.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/cws-tests/tests/lib/config.py
  test/e2e/cws-tests/tests/lib/kubernetes.py
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/cws-tests/tests/test_e2e_cws_kubernetes.py
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, team/agent-security

#15097 [CWS] rename json fields to make them less misleading
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  pkg/security/probe/serializers.go
  pkg/security/probe/serializers_easyjson.go
  pkg/security/tests/schemas/mount.schema.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15108 pkg/trace/testutil: improve the randomization in the test spans generator
  pkg/trace/testutil/span.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#10069 DOCS-2215 Add @env variables to datadog.yaml
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, team/documentation, 7.39.0-drop, 7.40.0-drop, 7.41.0-drop, 7.42.0-drop

#15130 [CSPM] e2e remote configuration fix
  test/e2e/argo-workflows/cspm-workflow.yaml
  test/e2e/argo-workflows/default-workflow.yaml
  test/e2e/argo-workflows/otlp-workflow.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15095 [CWS][SEC-6632] chain only different binaries on activity dumps
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_manager.go
  pkg/security/secl/model/process_cache_entry.go
Labels: changelog/no-changelog, team/agent-security
