Repository DataDog/datadog-agent, pull requests merged in 2023-03, with the labels that each got.

#15870 Removed max entries from perf map
  pkg/ebpf/c/map-defs.h
  pkg/network/ebpf/c/protocols/events.h
  pkg/network/ebpf/c/protocols/http/maps.h
  pkg/network/ebpf/c/tracer-maps.h
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15861 {tagger,ksm,admission} add rc rev and id as tags
  pkg/clusteragent/admission/common/const.go
  pkg/clusteragent/admission/patch/patcher.go
  pkg/clusteragent/admission/patch/patcher_test.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_test.go
  pkg/util/kubernetes/const.go
Labels: team/containers, changelog/no-changelog

#15721 [corechecks/snmp] Add interface_configs to override interface speed
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/collector/corechecks/snmp/snmp.go
  pkg/collector/corechecks/snmp/snmp_test.go
  releasenotes/notes/snmp_interface_configs_to_override_interface_speed-0e86bbe648ea1704.yaml
Labels: team/network-device-monitoring

#15866 Fix some failures in dogstatsd TestUDPReceive
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/dogstatsd/batch.go
  pkg/dogstatsd/server_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#15756 [listeners/snmp] Add interface_configs to SNMP Listener
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
  pkg/autodiscovery/listeners/snmp.go
  pkg/autodiscovery/listeners/snmp_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/yaml_utils.go
  pkg/collector/corechecks/snmp/internal/checkconfig/yaml_utils_test.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage_test.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/snmp/snmp.go
  pkg/snmp/snmp_test.go
  pkg/snmp/snmpintegration/config.go
Labels: changelog/no-changelog, team/network-device-monitoring

#15835 Kacper murzyn/7.43.0 changelog (#15733)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
  releasenotes/notes/NDM---Add-snmp.device_up-metric-65a7855a959af675.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-core

#15701 [install_mac_os] Allow pinning minor version in macOS installation
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15887 Fixed copyrights for github.com/openshift/api/security
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15762 ebpf: move system-probe jobs to k8s runners
  .gitlab-ci.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/deps_build.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15893 Container build: fix apt mirrors on non-amd64 and do not use cache when building
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/agent/Dockerfile
  Dockerfiles/cluster-agent/Dockerfile
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/release_operations

#15875 Only pull system-probe dockers if kitchen tests triggered
  .gitlab/functional_test/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15846 Improve kitchen gen for running in cloud from dev
  .gitlab/kitchen_common/testing.yml
  tasks/system_probe.py
  test/kitchen/.gitignore
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/tasks/kitchen.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15876 Re-add flare.Module to systray
  cmd/systray/command/command.go
Labels: changelog/no-changelog, team/windows-agent

#15891 [CWS] improve SECL library for process data evaluation
  pkg/security/probe/field_handlers.go
  pkg/security/secl/args/parse.go
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, team/agent-security

#15865 Filter ignored container files in file provider
  pkg/logs/internal/launchers/file/launcher.go
  pkg/logs/internal/launchers/file/launcher_test.go
  pkg/logs/internal/launchers/file/provider/file_provider.go
  pkg/logs/internal/launchers/file/provider/file_provider_test.go
  releasenotes/notes/fix-container-ignore-files-78c4d9f81b78294f.yaml
Labels: team/agent-metrics-logs

#15874 [Serverless] Implement serverless `SBOMMessage` to avoid agent-payload dependency.
  pkg/serializer/types_sbom.go
  pkg/serializer/types_sbom_serverless.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15903 Fix gitlab syntax
  .gitlab/kitchen_common/testing.yml
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/tasks/kitchen.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15871 [Serverless] Use build tags to determine how to start logs agent.
  pkg/logs/agent.go
  pkg/logs/agent_not_serverless.go
  pkg/logs/agent_serverless.go
  pkg/logs/agent_test.go
  pkg/logs/logs.go
  pkg/logs/logs_not_serverless_test.go
  pkg/logs/logs_serverless_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15615 [agent] Integrate Windows SCM helper into service inference in process/checks
  pkg/config/system_probe.go
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
  pkg/process/metadata/parser/scm_reader.go
  pkg/process/metadata/parser/scm_reader_windows.go
  pkg/process/metadata/parser/service.go
  pkg/process/metadata/parser/service_test.go
  pkg/process/metadata/parser/service_windows_test.go
  releasenotes/notes/windows_service_parsing-367b31c6616ce01f.yaml
Labels: team/processes, team/windows-kernel-integrations

#15892 Only run health check if dogstatd has started
  pkg/dogstatsd/server.go
  pkg/status/status.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#15879 launch-gui: follow-up #15636
  cmd/agent/gui/views/templates/auth.tmpl
  comp/systray/systray/doconfigure.go
Labels: changelog/no-changelog, team/agent-shared-components

#15742 [process-agent] Remove the skipping a process if it has no commandline
  pkg/process/checks/process.go
  pkg/process/checks/process_test.go
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  pkg/process/procutil/process_windows.go
  pkg/process/procutil/process_windows_toolhelp.go
  pkg/process/procutil/resources/test_procfs/proc/448398/cmdline
  pkg/process/procutil/resources/test_procfs/proc/448398/io
  pkg/process/procutil/resources/test_procfs/proc/448398/stat
  pkg/process/procutil/resources/test_procfs/proc/448398/statm
  pkg/process/procutil/resources/test_procfs/proc/448398/status
  releasenotes/notes/process-agent-remove-proc-skip-for-missing-cmdline-3ee4cc5fd2d16652.yaml
Labels: team/processes

#15304 [NET-2994] Change TCP Retransmit Counts
  pkg/network/ebpf/c/co-re/tracer-fentry.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/c/tracer-stats.h
  pkg/network/ebpf/c/tracer.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/fentry/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  releasenotes/notes/tcp-retransmit-updates-43d2b63ea00f750f.yaml
Labels: component/system-probe, team/networks

#15682 [util/docker] Delete unused error channel
  pkg/util/docker/event_stream.go
  pkg/util/docker/event_types.go
  pkg/workloadmeta/collectors/internal/docker/docker.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15894 [corechecks/snmp] Handle empty interface_config
  pkg/collector/corechecks/snmp/internal/checkconfig/yaml_utils.go
  pkg/collector/corechecks/snmp/internal/checkconfig/yaml_utils_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#15867 Backport #15860: Update `github.com/containerd/containerd`
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15520 [corechecks/sbom] Implement the `InUse` flag
  pkg/collector/corechecks/sbom/check.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
Labels: team/containers, changelog/no-changelog

#15858 Regenerate the sample Kubernetes manifests
  Dockerfiles/manifests/agent-only/README.md
  Dockerfiles/manifests/agent-only/agent-services.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-deployment.yaml
  Dockerfiles/manifests/agent-only/cluster-agent-rbac.yaml
  Dockerfiles/manifests/agent-only/daemonset.yaml
  Dockerfiles/manifests/all-containers/README.md
  Dockerfiles/manifests/all-containers/agent-services.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-deployment.yaml
  Dockerfiles/manifests/all-containers/cluster-agent-rbac.yaml
  Dockerfiles/manifests/all-containers/daemonset.yaml
  Dockerfiles/manifests/all-containers/system-probe-configmap.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/README.md
  Dockerfiles/manifests/cluster-agent-datadogmetrics/agent-services.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent-datadogmetrics/daemonset.yaml
  Dockerfiles/manifests/cluster-agent/README.md
  Dockerfiles/manifests/cluster-agent/agent-services.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-agent/daemonset.yaml
  Dockerfiles/manifests/cluster-checks-runners/README.md
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-clusterchecks-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/agent-services.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-deployment.yaml
  Dockerfiles/manifests/cluster-checks-runners/cluster-agent-rbac.yaml
  Dockerfiles/manifests/cluster-checks-runners/daemonset.yaml
  Dockerfiles/manifests/kubernetes_state_core/README.md
  Dockerfiles/manifests/kubernetes_state_core/agent-services.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-deployment.yaml
  Dockerfiles/manifests/kubernetes_state_core/cluster-agent-rbac.yaml
  Dockerfiles/manifests/kubernetes_state_core/daemonset.yaml
  Dockerfiles/manifests/orchestrator-explorer/README.md
  Dockerfiles/manifests/orchestrator-explorer/agent-services.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-deployment.yaml
  Dockerfiles/manifests/orchestrator-explorer/cluster-agent-rbac.yaml
  Dockerfiles/manifests/orchestrator-explorer/daemonset.yaml
  Dockerfiles/manifests/security-agent/README.md
  Dockerfiles/manifests/security-agent/agent-services.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-confd-configmap.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-deployment.yaml
  Dockerfiles/manifests/security-agent/cluster-agent-rbac.yaml
  Dockerfiles/manifests/security-agent/daemonset.yaml
  Dockerfiles/manifests/security-agent/system-probe-configmap.yaml
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15420 Allow returning partial data from cgroups rather than nothing
  pkg/util/cgroups/cgroup.go
  pkg/util/cgroups/cgroup_mock.go
  pkg/util/cgroups/cgroupv1.go
  pkg/util/cgroups/cgroupv2.go
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/collector_linux_test.go
  releasenotes/notes/fix-partial-cgroups-data-1415d53b695378b2.yaml
Labels: team/containers, category/improvement

#15761 decode http2 traffic
  LICENSE-3rdparty.csv
  cmd/system-probe/modules/network_tracer.go
  go.mod
  go.sum
  pkg/config/system_probe.go
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableHTTP2.yaml
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/protocols/http/buffer.h
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/ebpf/c/protocols/http2/defs.h
  pkg/network/ebpf/c/protocols/http2/helpers.h
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/probes/probes.go
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
  pkg/network/encoding/http2.go
  pkg/network/encoding/http2_test.go
  pkg/network/event_common.go
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/protocols/http/debugging/debugging.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/http2_types.go
  pkg/network/protocols/http/http2_types_linux.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/http/kernel_requirements.go
  pkg/network/protocols/http/model_http2_linux.go
  pkg/network/protocols/http/model_http_linux.go
  pkg/network/protocols/http/monitor.go
  pkg/network/protocols/http/shared_libraries_test.go
  pkg/network/state.go
  pkg/network/state_linux_test.go
  pkg/network/state_test.go
  pkg/network/tracer/testutil/grpc/client.go
  pkg/network/tracer/testutil/grpc/server.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
  releasenotes/notes/added-grpc-parsing-logic-to-system-probe-62d64bb983454140.yaml
  tasks/system_probe.py
Labels: qa/skip-qa, major_change, team/usm

#15881 usm pre release changes
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/gotls/server.go
  pkg/network/protocols/http/ebpf_javatls.go
  pkg/network/protocols/kafka/server.go
  pkg/network/protocols/kafka/testdata/docker-compose.yml
  pkg/network/protocols/mongo/server.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/redis/server.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15910 [omnibus] Bump snowflake-connector-python to 3.0.1
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15859 [Pipeline/Tooling] Report arm64 package and binary size metrics
  .gitlab/pkg_metrics.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15918 [omnibus] Bump snowflake-connector-python to 3.0.1
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/bugfix, bugfix/security

#15869 [backport] Bump golang.org/x/net from 0.5.0 to 0.7.0 (#15655)
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa

#15878 [apiserver] Add debug logs to output k8s timeout settings when a timeout occurs
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/roundtrip.go
  pkg/util/kubernetes/apiserver/telemetry.go
  pkg/util/kubernetes/apiserver/util.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15883 Revert "use shared node types"
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cr.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/crd.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_unassigned.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/discovery/collector_discovery.go
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer.go
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer_test.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/forwarder/telemetry.go
  pkg/orchestrator/cache.go
  pkg/orchestrator/cache_test.go
  pkg/orchestrator/stats.go
  pkg/orchestrator/util.go
  pkg/process/checks/pod.go
  pkg/process/runner/submitter.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#15863 [CWS][SEC-7602] Filter syscalls events in kernel space
  pkg/security/ebpf/c/raw_syscalls.h
Labels: changelog/no-changelog, team/agent-security

#15888 [CWS] Enable activity dumps by default
  pkg/config/system_probe.go
  releasenotes/notes/cws-enable-security-profiles-by-default-647c307d94a92bd8.yaml
Labels: qa/skip-qa, team/agent-security

#15608 [workloadmeta/ecsfargate] Delete unused param
  pkg/workloadmeta/collectors/internal/ecsfargate/ecsfargate.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15901 Prevent the Agent from parsing large containerd Spec and filter stored environment variables
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_main.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/containerd_util_test.go
  pkg/util/containerd/fake/containerd_util.go
  pkg/util/containers/env_vars_filter.go
  pkg/util/containers/env_vars_filter_test.go
  pkg/util/containers/metrics/containerd/collector.go
  pkg/util/containers/metrics/containerd/collector_test.go
  pkg/workloadmeta/collectors/internal/containerd/container_builder.go
  pkg/workloadmeta/collectors/internal/containerd/container_builder_test.go
  pkg/workloadmeta/collectors/internal/containerd/event_builder_test.go
  pkg/workloadmeta/collectors/internal/docker/docker.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  pkg/workloadmeta/collectors/internal/podman/podman.go
  pkg/workloadmeta/collectors/internal/podman/podman_test.go
  pkg/workloadmeta/types.go
  releasenotes/notes/max-containerd-spec-5dec95b909062b4e.yaml
Labels: team/containers

#15857 add missing metrics `kube_deployment_status_replicas_ready` and `kube_horizontalpodautoscaler_status_target_metric`
  pkg/collector/corechecks/cluster/ksm/customresources/hpa.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  releasenotes/notes/add-hpa-deployment-metrics-ksm-corecheck.yaml
Labels: team/containers, component/clusterchecks, component/custommetrics, component/kubernetes_state_core, category/improvement

#15430 kafka parsing
  cmd/system-probe/config/config.go
  cmd/system-probe/modules/network_tracer.go
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/config/system_probe.go
  pkg/metadata/inventories/README.md
  pkg/metadata/inventories/inventories.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/config/testdata/TestDDAgentConfigYamlAndSystemProbeConfig-EnableDataStreams.yaml
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/classification/dispatcher-maps.h
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/protocols/kafka/defs.h
  pkg/network/ebpf/c/protocols/kafka/kafka-classification.h
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/ebpf/c/protocols/kafka/maps.h
  pkg/network/ebpf/c/protocols/kafka/parsing-maps.h
  pkg/network/ebpf/c/protocols/kafka/types.h
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/encoding/encoding.go
  pkg/network/encoding/format.go
  pkg/network/encoding/kafka.go
  pkg/network/event_common.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/http/kafka_monitor_test.go
  pkg/network/protocols/http/monitor.go
  pkg/network/protocols/http/shared_libraries_test.go
  pkg/network/protocols/kafka/debugging/debugging.go
  pkg/network/protocols/kafka/kafka_statkeeper.go
  pkg/network/protocols/kafka/kafka_stats.go
  pkg/network/protocols/kafka/kafka_types.go
  pkg/network/protocols/kafka/kafka_types_linux.go
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/protocols/kafka/model_windows.go
  pkg/network/protocols/kafka/telemetry.go
  pkg/network/state.go
  pkg/network/state_linux_test.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
  releasenotes/notes/kafka-parsing-7f37f446212c1dfd.yaml
  tasks/system_probe.py
  test/kitchen/test/integration/system-probe-test/rspec_datadog/system-probe-test_spec.rb
Labels: qa/skip-qa, major_change, team/usm

#15926 [Pipeline] Fix tests check_pkg_size-arm-a6 and check_pkg_size-arm-a7
  .gitlab/pkg_metrics.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15680 [CWS] Compute workloads SBOMs to enrich events and activity dumps
  LICENSE-3rdparty.csv
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  go.mod
  go.sum
  pkg/config/system_probe.go
  pkg/security/activitydump/activity_dump.go
  pkg/security/activitydump/activity_dump_proto_dec_v1.go
  pkg/security/activitydump/activity_dump_proto_enc_v1.go
  pkg/security/activitydump/graph.go
  pkg/security/activitydump/remote_storage.go
  pkg/security/agent/agent.go
  pkg/security/config/config.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/cgroups_monitor.go
  pkg/security/probe/field_handlers.go
  pkg/security/probe/probe_monitor.go
  pkg/security/proto/api/api.pb.go
  pkg/security/proto/api/api_grpc.pb.go
  pkg/security/proto/security_profile/v1/activity_dump.pb.go
  pkg/security/proto/security_profile/v1/activity_dump.proto
  pkg/security/proto/security_profile/v1/activity_dump_vtproto.pb.go
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/mount/resolver_test.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/resolvers/resolvers.go
  pkg/security/resolvers/sbom/package.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/security/resolvers/sbom/resolver_unsupported.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/field_handlers.go
  pkg/security/secl/model/model.go
  pkg/security/serializers/serializers.go
  pkg/security/serializers/serializers_easyjson.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/sbom_test.go
  pkg/security/utils/endpoint.go
  pkg/security/utils/proc.go
  pkg/util/trivy/collector.go
  pkg/util/trivy/report.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  release.json
  releasenotes/notes/runtime-security-sbom-95c989ca4e9413c8.yaml
  tasks/security_agent.py
  tasks/system_probe.py
Labels: team/agent-security

#15905 Allow system-probe start if datadog config is missing
  cmd/system-probe/subcommands/config/command.go
  cmd/system-probe/subcommands/debug/command.go
  cmd/system-probe/subcommands/modrestart/command.go
  cmd/system-probe/subcommands/run/command.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15930 [listeners/snmp] Add doc for interface_configs
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/network-device-monitoring

#15920 [corechecks/snmp] Rename speed_source tag value from `snmp` to `device`
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage.go
  pkg/collector/corechecks/snmp/internal/report/report_bandwidth_usage_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#15454 [SLS-2545] Internal filtering of DNS, TCP traces
  pkg/serverless/trace/trace.go
  pkg/serverless/trace/trace_test.go
Labels: changelog/no-changelog, team/serverless

#15694 [install_mac_os] Fix handling of GNU sed
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15936 pkg/obfuscate: 35 is a valid CC IIN
  pkg/obfuscate/credit_cards.go
Labels: changelog/no-changelog, qa/skip-qa

#15933 disable flaky tests
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15033 [CWS][SEC-5001] Add container.created_at attribute
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/secl.json
  pkg/security/activitydump/manager_test.go
  pkg/security/probe/field_handlers.go
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/field_handlers.go
  pkg/security/secl/model/model.go
  pkg/security/serializers/serializers.go
  pkg/security/serializers/serializers_easyjson.go
  pkg/security/tests/container_test.go
  releasenotes/notes/runtime-security-container-creation-time-41c50c708921080d.yaml
Labels: changelog/no-changelog, team/agent-security

#15938 Fixed a bug from merge
  pkg/network/protocols/http/kafka_monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14812 [workloadmeta/store] Retry collectors with exp backoff
  pkg/workloadmeta/store.go
  releasenotes/notes/workloadmeta-store-retry-collectors-backoff-129359ac8b33bdc3.yaml
Labels: team/containers

#15886 [NDM] Add Admin and Oper status tags to interface metric
  pkg/collector/corechecks/snmp/common/contants.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#15768 Fixes for worker utilization
  pkg/collector/worker/utilization_tracker.go
  pkg/collector/worker/utilization_tracker_test.go
  pkg/collector/worker/worker.go
  pkg/collector/worker/worker_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#15896 Handle the return value of `Close()` for writtable files and forces writes to disks in `tests/`
  test/benchmarks/kubernetes_state/main.go
  test/integration/utils/certificates.go
Labels: team/containers, changelog/no-changelog, severity/minor

#15899 Add datadog tags to `contimage` and `sbom` payloads
  go.mod
  go.sum
  pkg/collector/corechecks/containerimage/processor.go
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/tagger/README.md
  pkg/tagger/collectors/workloadmeta_extract.go
  pkg/tagger/collectors/workloadmeta_main.go
  pkg/tagger/collectors/workloadmeta_test.go
Labels: team/containers, changelog/no-changelog

#15726 Use sealed memfd file for runtime compilation
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/asset.go
  pkg/ebpf/bytecode/runtime/generated_asset.go
  pkg/ebpf/bytecode/runtime/protected_file.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/compiler/compiler.go
  pkg/ebpf/compiler/compiler_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15941 [CWS/CSPM] bump security agent policies to v0.44.0
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/release_operations

#15451 ignore system probe env vars when loading core config
  cmd/system-probe/config/config.go
  pkg/config/config.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#15555 fix kubelet client config when proxy is enabled and address is ipv6
  pkg/util/kubernetes/kubelet/kubelet_client.go
Labels: team/containers, changelog/no-changelog, category/bugfix

#15950 [CWS] fix `ENOSPC` error in security agent functional tests
  .gitlab/functional_test/security_agent.yml
Labels: changelog/no-changelog, team/agent-security

#15945 Fix Cluster Agent image build invoke task to use current arch by default instead of hardcoded amd64
  tasks/cluster_agent.py
Labels: team/containers, changelog/no-changelog, component/cluster-agent, qa/skip-qa

#15909 [gitlab] Allow targeting testing buildimages ECR
  .gitlab-ci.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/binary_build/windows.yml
  .gitlab/choco_build.yml
  .gitlab/choco_deploy.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/deploy_7/winget.yml
  .gitlab/deps_build.yml
  .gitlab/deps_fetch.yml
  .gitlab/docker_common/publish_job_templates.yml
  .gitlab/functional_test/regression_detector.yml
  .gitlab/functional_test/serverless.yml
  .gitlab/functional_test/system_probe.yml
  .gitlab/integration_test.yml
  .gitlab/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy.yml
  .gitlab/junit_upload/functional_test_junit_upload_security-agent.yml
  .gitlab/junit_upload/functional_test_junit_upload_system_probe.yml
  .gitlab/kitchen_common/cleanup.yml
  .gitlab/kitchen_common/testing.yml
  .gitlab/notify.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/dmg.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/package_build/windows.yml
  .gitlab/package_deps_build.yml
  .gitlab/pkg_metrics.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/golang_deps_generate.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test/windows.yml
  .gitlab/source_test_junit_upload.yml
  .gitlab/trigger_release.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15922 Display the actual error in the test output
  comp/core/flare/helpers/perm_info_win.go
  comp/core/flare/helpers/perm_info_win_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#15953 [CWS] fix discarder tests by correctly disabling activity dumps
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15942 [CWS] Export package source version
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/secl.json
  pkg/security/activitydump/activity_dump_proto_dec_v1.go
  pkg/security/activitydump/activity_dump_proto_enc_v1.go
  pkg/security/probe/field_handlers.go
  pkg/security/proto/security_profile/v1/activity_dump.pb.go
  pkg/security/proto/security_profile/v1/activity_dump.proto
  pkg/security/proto/security_profile/v1/activity_dump_vtproto.pb.go
  pkg/security/resolvers/sbom/package.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/field_handlers.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, team/agent-security

#15952 Always open podman DB as read only
  pkg/util/podman/db_client.go
Labels: team/containers, changelog/no-changelog, category/improvement

#15949 Fix client-go spammy logs "Got empty response for: external.metrics.k8s.io/v1beta1" with client-go/kubectl >= 1.25
  pkg/clusteragent/custommetrics/provider.go
  pkg/clusteragent/custommetrics/provider_test.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/clusteragent/externalmetrics/provider_test.go
Labels: team/containers, changelog/no-changelog, component/cluster-agent

#15906 [process-agent] Add retries to process agent kitchen tests
  test/kitchen/test/integration/container-collection-test/rspec_datadog/spec_helper.rb
  test/kitchen/test/integration/process-collection-test/rspec_datadog/spec_helper.rb
Labels: changelog/no-changelog, team/agent-platform, team/processes, qa/skip-qa

#15958 [fakeintake] listen to 0.0.0.0
  test/fakeintake/Dockerfile
  test/fakeintake/app/main.go
  test/fakeintake/server/server.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#15904 pkg/trace: Add config file support for apm features
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  cmd/trace-agent/remote_config_test.go
  pkg/config/apm.go
  pkg/config/config_template.yaml
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/fuzz_test.go
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/agent/truncator.go
  pkg/trace/agent/truncator_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  pkg/trace/config/features/features.go
  pkg/trace/config/features/features_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/testutil/features.go
  pkg/trace/testutil/features_test.go
  pkg/trace/traceutil/truncate.go
  pkg/trace/traceutil/truncate_test.go
  releasenotes/notes/apm-feature-flags-as-config-06145e28554f3f37.yaml
Labels: team/agent-apm

#15839 [CI] Rename `centos` kitchen tests for more clarity
  .gitlab/kitchen_testing/centos.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15960 [omnibus] Make setuptools a build-time dependency only
  cmd/agent/subcommands/integrations/command.go
  omnibus/config/patches/kubernetes-client-python-py3/remove-setuptools.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-confecho.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-configuration.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-events.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-options.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-setup.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-tests.patch
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/kubernetes-client-python-py3.rb
  omnibus/config/software/setuptools3.rb
  omnibus/config/software/supervisor-python-py3.rb
  releasenotes/notes/update-setuptools-pip-1b049dc6f774ac39.yaml
Labels: team/integrations, team/agent-platform

#15847 Use Standard_D11_v2 for system-probe azure vms
  .gitlab/functional_test/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15884 ninja: generate compiledb when building system-probe
  .gitignore
  tasks/system_probe.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15890 [trivy] Add option to use Badger DB for caching
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/cache_test.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  pkg/workloadmeta/telemetry/telemetry.go
Labels: team/containers, changelog/no-changelog

#15937 pkg/trace/api: Forward data streams data to mutiple endpoints
  pkg/trace/api/pipeline_stats.go
  pkg/trace/api/pipeline_stats_test.go
  releasenotes/notes/data-streams-multiple-endpoints-b7802e06d24769e5.yaml
Labels: team/agent-apm

#15897 Aj/fix log flushing with end strategy
  pkg/epforwarder/epforwarder.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
Labels: changelog/no-changelog, team/serverless

#15842 [backport] Bump go from 1.19.5 to 1.19.6
  .circleci/README.md
  .circleci/config.yml
  .circleci/images/builder/Dockerfile
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  .go-version
  cmd/trace-agent/test/agent.go
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/bump-go-1-19-6-20820a3864d846dc.yaml
  tasks/go.py
  tools/gdb/Dockerfile
Labels: team/agent-shared-components

#15895 [system-probe] Use aligned offsets for offset guessing
  .gitignore
  pkg/network/ebpf/c/prebuilt/offset-guess.c
  pkg/network/ebpf/c/runtime/offsetguess-test.c
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/offsetguess_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#15973 [CWS] actually disable trivy when the config asks so
  pkg/security/probe/field_handlers.go
  pkg/security/probe/probe_monitor.go
  pkg/security/resolvers/resolvers.go
  pkg/security/resolvers/sbom/resolver.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#15977 [release] Update release.json and Go modules for 6/7.44.0-rc.1
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15972 [CWS] remove duplicated sysprobe config entries
  pkg/config/system_probe.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/bugfix, bugfix/functional

#15980 Fixed path resolution for gotls hooking
  pkg/network/protocols/http/ebpf_gotls.go
Labels: changelog/no-changelog, category/bugfix, team/usm

#15984 [release] Update release.json and Go modules for 6/7.43.1-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15996 Kacper murzyn/7.43.1 final
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  releasenotes/notes/prelude-release-7.43.1-cde0a4ebfd190dc7.yaml
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#15989 Revert "pkg/trace: remove gogo protobuf (#14845)"
  cmd/trace-agent/test/backend.go
  cmd/trace-agent/test/testsuite/cards_test.go
  cmd/trace-agent/test/testsuite/chunking_test.go
  cmd/trace-agent/test/testsuite/events_test.go
  cmd/trace-agent/test/testsuite/hostname_test.go
  cmd/trace-agent/test/testsuite/otlp_test.go
  cmd/trace-agent/test/testsuite/proxy_test.go
  cmd/trace-agent/test/testsuite/stats_test.go
  cmd/trace-agent/test/testsuite/testdata/clientstats.go
  cmd/trace-agent/test/testsuite/traces_test.go
  internal/tools/proto/go.mod
  internal/tools/proto/go.sum
  internal/tools/proto/tools.go
  pkg/proto/pbgo/api.pb.go
  pkg/proto/pbgo/api.pb.gw.go
  pkg/proto/pbgo/mocks/api_mockgen.pb.go
  pkg/proto/pbgo/model.pb.go
  pkg/proto/pbgo/process.pb.go
  pkg/proto/pbgo/workloadmeta.pb.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/fuzz_test.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/api.go
  pkg/trace/api/otlp_test.go
  pkg/trace/go.mod
  pkg/trace/pb/agent_payload.pb.go
  pkg/trace/pb/agent_payload.proto
  pkg/trace/pb/span.pb.go
  pkg/trace/pb/span.proto
  pkg/trace/pb/trace.go
  pkg/trace/pb/tracer_payload.pb.go
  pkg/trace/pb/tracer_payload.proto
  pkg/trace/pb/tracer_payload_gen.go
  pkg/trace/sampler/spansampler_test.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
  tasks/libs/copyright.py
  tasks/test.py
Labels: changelog/no-changelog, team/agent-apm, category/bugfix, bugfix/performance

#15997 [tagger/workloadmeta] Rename containerImageSource to be consistent with the rest
  pkg/tagger/collectors/workloadmeta_main.go
Labels: kind/bug, team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#15994 [release] Update release.json and Go modules for 6/7.44.0-rc.2
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15998 7.43.1 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#16008 [process-agent] Fix retry handling in Process Agent kitchen tests
  test/kitchen/test/integration/container-collection-test/rspec_datadog/spec_helper.rb
  test/kitchen/test/integration/process-collection-test/rspec_datadog/spec_helper.rb
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#16026 7.43.1 changelog (#15998)
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#16042 Fix custom metrics query window
  pkg/util/kubernetes/autoscalers/processor.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#16038 [kubelet/client] Use proxy when URL includes resolved IP
  pkg/util/kubernetes/kubelet/kubelet_client.go
Labels: kind/bug, team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#16025 Revert "[omnibus] Make setuptools a build-time dependency only"
  omnibus/config/patches/kubernetes-client-python-py3/remove-setuptools.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-confecho.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-configuration.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-events.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-options.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-setup.patch
  omnibus/config/patches/supervisor-python-py3/remove-setuptools-tests.patch
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/kubernetes-client-python-py3.rb
  omnibus/config/software/setuptools3.rb
  omnibus/config/software/supervisor-python-py3.rb
  releasenotes/notes/update-setuptools-pip-1b049dc6f774ac39.yaml
Labels: team/integrations, team/agent-platform, team/agent-shared-components

#16035 Add support for more username formats
  tools/windows/DatadogAgentInstaller/CustomActions/Native/NativeMethods.cs
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional, team/windows-agent

#16014 Make WiX User.UpdateIfExists conditional
  tools/windows/DatadogAgentInstaller/CustomActions/Native/NativeMethods.cs
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActionsProjectExtensions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional, team/windows-agent

#16051 [release] Update release.json and Go modules for 6/7.44.0-rc.3
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#16045 Do not try to get Kubernetes cluster name outside of Kubernetes
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/config/environment_testing.go
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/clustername/clustername_test.go
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#15947 pkg/remoteconfig: add ASM product and config
  pkg/remoteconfig/state/configs.go
Labels: changelog/no-changelog, team/remote-config

#16064 Revert "pkg/remoteconfig: add ASM product and configuration (#15947)"
  pkg/remoteconfig/state/configs.go
Labels: changelog/no-changelog, team/remote-config

#16047 Updating JMXFetch to 0.47.5
  release.json
  releasenotes/notes/jmxfetch-0.47.4-ed387ad1d3443442.yaml
  releasenotes/notes/jmxfetch-0.47.5-ed387ad1d3443442.yaml
Labels: team/agent-metrics-logs

#16049 [CWS] Restore security-agent log file
  cmd/security-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command_test.go
  pkg/config/config.go
  pkg/config/config_darwin.go
  pkg/config/config_nix.go
  pkg/config/config_windows.go
Labels: changelog/no-changelog, team/agent-security

#16071 [process-agent] Fix `ServiceExtractor` using the wrong config
  pkg/process/checks/net_test.go
  pkg/process/metadata/parser/service.go
  pkg/process/metadata/parser/service_test.go
  pkg/process/metadata/parser/service_windows_test.go
Labels: changelog/no-changelog, team/processes, category/bugfix, bugfix/functional

#16074 [workloadmeta] Fix race condition when accessing entity from store
  pkg/workloadmeta/store.go
  pkg/workloadmeta/store_test.go
  pkg/workloadmeta/testing/store.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional

#16094 [trivy] Switch back to Bolt for caching
  pkg/util/trivy/trivy.go
Labels: team/containers, changelog/no-changelog

#16067 [gitlab] builders: updating images to go 1.19.7
  .circleci/README.md
  .circleci/config.yml
  .circleci/images/builder/Dockerfile
  .circleci/images/runner/Dockerfile
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/bump-golang-1.19.7-66bb37e313b96d40.yaml
  tasks/go.py
  tools/gdb/Dockerfile
Labels: team/agent-shared-components

#16100 [ksm] Fix network-bandwidth metrics not showing up
  pkg/collector/corechecks/cluster/ksm/customresources/node.go
  pkg/collector/corechecks/cluster/ksm/customresources/pod.go
  pkg/collector/corechecks/cluster/ksm/customresources/utils.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#16106 Fix process-agent service args
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Labels: changelog/no-changelog, bugfix/functional, team/windows-agent

#16056 [Next Gen Installer] Fix writing tags with CRLF line endings
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigCustomActions.cs
Labels: changelog/no-changelog, team/windows-agent

#16091 Fix unexpected changes from PR#16045
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/config/environment_testing.go
  pkg/util/kubernetes/clustername/clustername_test.go
  test/integration/util/kube_apiserver/apiserver_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa, category/release_operations

#16109 [KSM] Ensure user-defined `service` tag isn’t turned into `kube_service`
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
Labels: kind/bug, team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#16090 [release] Update release.json and Go modules for 6/7.44.0-rc.4
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#16028 usm: grpc: Enabled tests with different clients
  pkg/network/protocols/grpc/monitor_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#16085 Corrects internal_profiling.profile_dd_url config registration
  pkg/config/config.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs, bugfix/functional

#16036 Adds dev check example with a more complex check
  docs/dev/checks/README.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#15767 pkg/trace/api: add support for OpenTelemetry Span Links.
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/testutil/otlp.go
  releasenotes/notes/apm-span-links-support-78478b81bf08e26f.yaml
Labels: team/opentelemetry

#15956 Removing dead code
  pkg/util/sliding_window.go
  pkg/util/sliding_window_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, 7.44.0-drop

#16088 Fix the GUI metadata section where all data is displayed on a single line
  cmd/agent/gui/views/templates/generalStatus.tmpl
Labels: changelog/no-changelog, team/agent-shared-components

#16003 remove `deploy_staging_process_and_sysprobe` job
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/internal_deploy.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15951 [fakeintake] parse logs
  test/fakeintake/aggregator/checkRunAggregator.go
  test/fakeintake/aggregator/checkRunAggregator_test.go
  test/fakeintake/aggregator/common.go
  test/fakeintake/aggregator/common_test.go
  test/fakeintake/aggregator/fixtures/log_bytes
  test/fakeintake/aggregator/logAggregator.go
  test/fakeintake/aggregator/logAggregator_test.go
  test/fakeintake/aggregator/metricAggregator.go
  test/fakeintake/aggregator/metricAggregator_test.go
  test/fakeintake/api/api.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_integration_test.go
  test/fakeintake/client/client_test.go
  test/fakeintake/client/fixtures/api_v1_check_run_response
  test/fakeintake/client/fixtures/api_v2_logs_response
  test/fakeintake/client/fixtures/api_v2_series_response
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/fakeintake/server/server.go
  test/fakeintake/server/server_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#16009 create only AF_PACKET socket for headless socket filter
  pkg/network/filter/socket_filter.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16039 Fix handling of system-probe completion and invalid commands
  cmd/system-probe/main_common.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16122 Fix flaky TestUDPReceive test
  comp/dogstatsd/server/server_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#16119 Fix pod condition tag
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
Labels: changelog/no-changelog, team/container-app

#15957 [Testing/Tooling] Refactor test invoke tasks looping over flavors and modules
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16027 usm: dispatcher: Remove code duplication
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/classification/dispatcher-maps.h
  pkg/network/ebpf/c/protocols/classification/structs.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/ebpf/c/runtime/http.c
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15988 ebpf: move jobs running on btf_gen image to k8s runners
  .gitlab/deps_build.yml
  .gitlab/package_deps_build.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#16093 pkg/clusteragent/admission: configure init resources
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes-dca/notes/lib-injection-res-f74efd52aec32385.yaml
Labels: team/containers

#15982 [corechecks/snmp] Fix typo in auto_conf.yaml
  cmd/agent/dist/conf.d/snmp.d/auto_conf.yaml
Labels: changelog/no-changelog, team/network-device-monitoring

#16140 [backport] Fix pod condition tag (#16119)
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
Labels: changelog/no-changelog, team/container-app

#16031 [Testing/Tooling] Ensure all datadog-agent CODEOWNERS teams are in GITHUB_SLACK_MAP
  .gitlab/source_test.yml
  .gitlab/source_test/slack.yml
  tasks/libs/junit_upload.py
  tasks/libs/pipeline_notifications.py
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16052 [corechecks/snmp] Better logging for Topology Local Link resolution
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
Labels: changelog/no-changelog, team/network-device-monitoring

#16144 Aligns DCA flare input with Agent flare input
  pkg/cli/subcommands/dcaflare/command.go
Labels: team/containers, changelog/no-changelog

#16075 [system-probe] Fix offset guess test compilation hash
  .gitignore
  pkg/network/tracer/offsetguess_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#15964 Don't mix client and tagger tags
  pkg/tagset/hash_generator.go
  pkg/tagset/hash_generator_test.go
  pkg/tagset/hashing_tags_accumulator.go
  pkg/tagset/hashing_tags_accumulator_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#16150 Add missing pprof import to add handlers to default mux
  cmd/system-probe/subcommands/run/command.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/bugfix, bugfix/functional, team/ebpf-platform

#16146 Fix slack notification not send correctly because of caps in codeowners
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#16096 [usm/npm] Fix IPv4 mapped IPv6 IPs
  pkg/network/ebpf/c/sock.h
Labels: changelog/no-changelog, team/networks, qa/skip-qa, team/usm

#16020 [fakeintake] add low-level public API for fakeintake client
  test/fakeintake/aggregator/checkRunAggregator.go
  test/fakeintake/aggregator/checkRunAggregator_test.go
  test/fakeintake/aggregator/common.go
  test/fakeintake/aggregator/common_test.go
  test/fakeintake/aggregator/logAggregator.go
  test/fakeintake/aggregator/logAggregator_test.go
  test/fakeintake/aggregator/metricAggregator.go
  test/fakeintake/aggregator/metricAggregator_test.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_test.go
  test/fakeintake/server/server.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#15959 Make uriPasswordReplacer less aggressive
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs, 7.44.0-drop

#15142 move release notes from duplicated tree
  releasenotes/notes/integrations-pdh-refresh-param-a7bd86b713909b63.yaml
Labels: changelog/no-changelog, team/serverless

#16005 Fix flaky test
  comp/core/flare/helpers/perm_info_win_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#16084 Factorize all the aggregator, forwarder and sender code used to send `container_lifecycle`, `container_image` and `sbom` payloads.
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_senders.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/mocksender/asserts.go
  pkg/aggregator/mocksender/mocked_methods.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/collector/corechecks/containerimage/check.go
  pkg/collector/corechecks/containerimage/processor.go
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/collector/corechecks/containerlifecycle/processor.go
  pkg/collector/corechecks/containerlifecycle/processor_test.go
  pkg/collector/corechecks/sbom/check.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
  pkg/collector/corechecks/snmp/profile_metadata_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/collector/python/aggregator.go
  pkg/collector/python/init.go
  pkg/collector/python/test_aggregator.go
  pkg/config/config.go
  pkg/containerimage/forwarder.go
  pkg/containerlifecycle/forwarder.go
  pkg/epforwarder/epforwarder.go
  pkg/forwarder/endpoints/endpoints.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/forwarder_test.go
  pkg/forwarder/noop_forwarder.go
  pkg/forwarder/sync_forwarder.go
  pkg/forwarder/test_common.go
  pkg/logs/client/http/destination.go
  pkg/netflow/flowaggregator/aggregator.go
  pkg/netflow/flowaggregator/aggregator_test.go
  pkg/otlp/internal/serializerexporter/consumer_test.go
  pkg/sbom/forwarder.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/serializer/test_common.go
  pkg/serializer/types_contimage.go
  pkg/serializer/types_contlcycle.go
  pkg/serializer/types_sbom.go
  pkg/snmp/traps/forwarder.go
  pkg/snmp/traps/forwarder_test.go
  rtloader/common/builtins/aggregator.c
  rtloader/common/builtins/aggregator.h
  rtloader/include/rtloader_types.h
  rtloader/test/aggregator/aggregator.go
Labels: team/containers, changelog/no-changelog

#16006 [AD/Prometheus] Use the `prometheus.io/port` annotation to choose a container
  pkg/autodiscovery/common/utils/prometheus_kubelet.go
  pkg/autodiscovery/common/utils/prometheus_kubelet_test.go
  releasenotes/notes/prometheus-ad-port-adddaa3219ee2bb0.yaml
Labels: team/containers

#15917 Handle the return value of `Close()` for writable files and forces writes to disks in `pkg/forwarder`
  pkg/forwarder/internal/retry/on_disk_retry_queue.go
  releasenotes/notes/handle-deferred-close-forwarder.yaml
Labels: severity/minor, qa/skip-qa, team/agent-shared-components, team/agent-metrics-logs

#15921 Handle the return value of Close() for writable files and forces writes to disks in `system-probe`
  cmd/system-probe/utils/memory_monitor_linux.go
  releasenotes/notes/handle-deferred-close-system-probe.yaml
Labels: severity/minor, component/system-probe, team/ebpf-platform
