Repository DataDog/datadog-agent, pull requests merged in 2023-11, with the labels that each got.

#20378 USM total hits TLS library tag
  pkg/network/protocols/http/model_linux.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/telemetry.go
  pkg/network/protocols/http/telemetry_linux.go
  pkg/network/protocols/http/telemetry_windows.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20539 [oracle] Improve obfuscator formatting (DBMON-3061)
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/oracle_test.go
  releasenotes/notes/oracle-obfuscator-formatting-82605dc594edf858.yaml
Labels: team/database-monitoring

#20556 [NPM-3012] Retry until we read the required bytes
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20263 SVLS-4013: Fix logs buffering issues and general cleanup
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/initcontainer/initcontainer_test.go
  cmd/serverless-init/log/channel_writer.go
  cmd/serverless-init/log/channel_writer_test.go
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#20557 [languagedetection] Fix Node.js installation in E2E test
  test/new-e2e/tests/language-detection/node_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#20559 Reduce allocation pressure in process_linux
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa, team/single-machine-performance

#20553 Bump `github.com/docker/docker`
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, qa/skip-qa, dependencies, dependencies-go

#20547 old-e2e: fallback to v0.20.0 when kind version is not available
  test/e2e/scripts/run-instance/10-setup-kind.sh
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#20400 [CWS] do not report unknown source in broken lineage event
  pkg/security/probe/probe_linux.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20337 [CWS] disable windows to linux cross generation
  tasks/security_agent.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#20555 Kacper murzyn/7.49.0 changelogs
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#19970 AMLII-1105 Fix race condition during demultiplexer stop
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_senders.go
  pkg/aggregator/sender_test.go
  pkg/aggregator/test_common.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#20588 [CWS] bump protobuf related tooling
  pkg/security/proto/api/api.pb.go
  pkg/security/proto/api/api_grpc.pb.go
  pkg/security/proto/api/api_vtproto.pb.go
  tasks/security_agent.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20543 USM: refactor GoTLS (v2)
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20417 logs/tailers/journald: fix initial seek
  pkg/logs/launchers/journald/launcher_test.go
  pkg/logs/tailers/journald/journal_factory.go
  pkg/logs/tailers/journald/tailer.go
  pkg/logs/tailers/journald/tailer_test.go
  releasenotes/notes/fixes-journald-log-seek-on-init-d0d6465c8567916c.yaml
Labels: team/agent-metrics-logs

#20583 usm: http2: Simplify conditions to reduce bpf pressure
  pkg/network/ebpf/c/protocols/http2/decoding.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20582 usm: http2: Change HTTP2_MAX_HEADERS_COUNT_FOR_PROCESSING to 2
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20528 [USM] extract fix frame from filtering
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/protocols/ebpf.go
  pkg/network/protocols/http2/protocol.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, performance/report-required

#20577 [NPM-3012] Use non-blocking socket, with retries
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20584 [CONTINT-3424, CONTINT-3425] fix flaky tests in remote process collector
  pkg/workloadmeta/collectors/internal/remote/process_collector/process_collector_test.go
  pkg/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta_test.go
Labels: team/containers, changelog/no-changelog

#20498 omnibus: remove duplicated sqlite3 recipe
  omnibus/config/software/rpm.rb
  omnibus/config/software/sqlite.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20537 ebpf: handle symlinks when generating integrity files
  pkg/ebpf/bytecode/runtime/integrity.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform

#20535 Bump aptly to v1.5.3
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#20594 Kacper murzyn/7.49.0 changelogs (#20555)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, team/agent-release-management

#20542 [pkg/clusteragent] initialize workloadmeta store in PLD patcher
  pkg/clusteragent/languagedetection/patcher.go
Labels: team/containers, changelog/no-changelog, component/cluster-agent, category/bugfix

#20604 Latest stable set to 7.49.0
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-release-management

#20590 [CONTINT-3202] Fix several bugs in Process Language Detection patching logic
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/language_detection.go
  comp/languagedetection/client/README.md
  comp/languagedetection/client/client.go
  comp/languagedetection/client/client_test.go
  comp/languagedetection/client/util.go
  pkg/clusteragent/languagedetection/owners.go
  pkg/clusteragent/languagedetection/owners_test.go
  pkg/clusteragent/languagedetection/patcher_test.go
  pkg/clusteragent/languagedetection/telemetry.go
  pkg/util/clusteragent/clusteragent.go
Labels: team/containers, changelog/no-changelog

#20607 [CWS] remove `SupportFentry` and `SupportFexit`
  pkg/security/ebpf/probes/attr.go
  pkg/security/ebpf/probes/bind.go
  pkg/security/ebpf/probes/bpf.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/ebpf/probes/link.go
  pkg/security/ebpf/probes/mkdir.go
  pkg/security/ebpf/probes/mmap.go
  pkg/security/ebpf/probes/module.go
  pkg/security/ebpf/probes/mount.go
  pkg/security/ebpf/probes/mprotect.go
  pkg/security/ebpf/probes/open.go
  pkg/security/ebpf/probes/ptrace.go
  pkg/security/ebpf/probes/rename.go
  pkg/security/ebpf/probes/rmdir.go
  pkg/security/ebpf/probes/signal.go
  pkg/security/ebpf/probes/splice.go
  pkg/security/ebpf/probes/syscall_helpers.go
  pkg/security/ebpf/probes/unlink.go
  pkg/security/ebpf/probes/xattr.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20383 Use the standard AgentStackDef for the subcommand test suite
  test/new-e2e/tests/agent-subcommands/subcommands_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#20114 Add ability to skip instances without an error in check loader
  pkg/collector/check/check.go
  pkg/collector/corechecks/loader.go
  pkg/collector/corechecks/loader_test.go
  pkg/collector/python/check.go
  pkg/collector/python/loader.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#20610 Fix stale metrics being reported by KSM check in some cases
  pkg/kubestatemetrics/store/store.go
  pkg/kubestatemetrics/store/store_test.go
  releasenotes-dca/notes/ksm-fix-stale-metrics-e677f7ed7b6256d9.yaml
Labels: team/containers

#20609 Fix string interpolation in log message.
  pkg/serverless/appsec/httpsec/proxy.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#20612 pkg/trace/event: fix flaky TestMaxEPSSampler
  pkg/trace/event/sampler_max_eps_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#19876 Allow forcing clusterchecks rebalancing for scheduler workers utilisation rebalancing algo
  cmd/cluster-agent/api/v1/clusterchecks.go
  pkg/cli/subcommands/clusterchecks/command.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance_test.go
  pkg/clusteragent/clusterchecks/handler_api.go
  releasenotes-dca/notes/allow-force-clusterchecks-rebalancing-46b8f58eb157ecde.yaml
Labels: team/containers, component/clusterchecks

#20530 Move platforms to agent platform folder
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/agent-platform/platforms/platforms.go
  test/new-e2e/tests/agent-platform/platforms/platforms.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20618 [CONTINT-258] Add tests for container CPU metrics
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#20622 Bump pip version to 23.3.1
  omnibus/config/software/pip3.rb
Labels: changelog/no-changelog, team/integrations

#20587 [test/new-e2e/k8s] Test standalone dogstatsd
  .gitlab/e2e.yml
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#20600 [OTEL-1165] Stop override peer.service with other attributes in OTel
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/otlp-stop-override-peer-service-e93c5dc.yaml
Labels: component/otlp, team/opentelemetry

#20576 [NPM-3047] Fix negative tests and test handling in flaky TestReadInitialUDPState test
  pkg/network/port_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20437 [CONTINT-3396] update sbom payload with repodigest and repotags
  pkg/tagger/README.md
  pkg/workloadmeta/image_util.go
  pkg/workloadmeta/image_util_stub.go
  pkg/workloadmeta/image_util_test.go
  pkg/workloadmeta/types.go
  releasenotes/notes/ensure-metadata-is-updated-with-sbom-payload-f7fe475c7b7e31d1.yaml
Labels: team/containers, category/bugfix

#20626 Overwrite logs_dd_url instead of dd_url for DBM products in FIPS mode
  pkg/config/config.go
  pkg/config/config_test.go
Labels: changelog/no-changelog, team/database-monitoring, team/agent-shared-components

#20593 [pkg/network] Attempt to fix direction for intra-host outgoing connections
  pkg/network/state.go
  pkg/network/state_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#20635 [NPM-3012] Don't use require in EventuallyWithT
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20575 [Windows Installer] Deprecate Windows Server 2012/R2
  .gitlab/functional_test/system_probe.yml
  .gitlab/kitchen_testing/windows.yml
  .gitlab/kitchen_tests_upload.yml
  releasenotes/notes/Deprecate-Windows-versions-lower-than-2016-and-10-1ffb16aad965885d.yaml
  test/kitchen/platforms.json
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/InstallState/InstallStateTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/InstallStateCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/MinimumSupportedWindowsVersion.cs
Labels: team/windows-agent

#20611 [process-agent] Minor fixes to comments, logging and fx bundle boundaries
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/config/config.go
  cmd/process-agent/subcommands/events/events.go
  cmd/process-agent/subcommands/status/status.go
  comp/process/bundle.go
  comp/process/bundle_test.go
  pkg/process/metadata/workloadmeta/collector/process.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa

#20407 [Serverless] Use Extractor to determine trace context [SVLS-3935]
  pkg/serverless/daemon/routes.go
  pkg/serverless/daemon/routes_test.go
  pkg/serverless/invocationlifecycle/invocation_details.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/trace.go
  pkg/serverless/invocationlifecycle/trace_test.go
  pkg/serverless/trace/inferredspan/span_enrichment.go
  pkg/serverless/trace/inferredspan/span_enrichment_test.go
  pkg/serverless/trace/propagation/carriers.go
  pkg/serverless/trace/propagation/carriers_test.go
  pkg/serverless/trace/testdata/event_samples/sqs-aws-header.json
  pkg/serverless/trace/testdata/event_samples/sqs-batch.json
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#20560 [windows] Fix http truncation miscounting
  cmd/system-probe/config/adjust_usm.go
  pkg/config/system_probe.go
  pkg/network/config/config_test.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/model_windows_test.go
  releasenotes/notes/fixconnectiontruncation-a7fa7b4e5351b17e.yaml
Labels: component/system-probe, qa/skip-qa, team/usm, team/windows-kernel-integrations

#20664 [OTEL-1174] Include apm.trace_buffer in config_template.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#20501 [CSPM] Add loaders for database configurations
  pkg/compliance/cgroups_nolinux.go
  pkg/compliance/data.go
  pkg/compliance/dbconfig/loader.go
  pkg/compliance/dbconfig/loader_test.go
  pkg/compliance/dbconfig/types.go
  pkg/compliance/resolver.go
  pkg/compliance/utils/cgroups_linux.go
  pkg/compliance/utils/cgroups_nolinux.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-cspm

#20632 [CWS] fix anomaly events files hash state
  pkg/security/serializers/serializers_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20631 Bump snowflake connector version
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations

#20665 [CWS] ensure `struct path_leaf_t` has the same size on go and C sides
  pkg/security/secl/model/model_unix.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20509 [cmd/cluster-agent] disabled language detection handler if language detection feature is disabled
  cmd/cluster-agent/api/v1/language_detection.go
Labels: team/containers, changelog/no-changelog

#20639 [CWS] remove some fields from windows model
  docs/cloud-workload-security/backend.schema.json
  pkg/security/probe/field_handlers.go
  pkg/security/probe/field_handlers_linux.go
  pkg/security/probe/field_handlers_windows.go
  pkg/security/resolvers/process/resolver_windows.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/secl/model/process_cache_entry_windows.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/serializers/serializers_windows.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20630 [e2e] fix race condition workspace
  tasks/new_e2e_tests.py
  test/new-e2e/pkg/runner/ci_profile.go
  test/new-e2e/pkg/runner/local_profile.go
  test/new-e2e/pkg/runner/mock_profile.go
  test/new-e2e/pkg/runner/profile.go
  test/new-e2e/pkg/runner/profile_test.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#20672 usm: http2: Change http2_dynamic_counter_table to hash map
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20636 Remove load balancer and API Key checks in status tests
  test/new-e2e/tests/agent-subcommands/subcommands_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#19907 Add first flare e2e test for windows
  test/new-e2e/tests/agent-subcommands/flare/flare_common_test.go
  test/new-e2e/tests/agent-subcommands/flare/flare_files.go
  test/new-e2e/tests/agent-subcommands/flare/flare_helpers.go
  test/new-e2e/tests/agent-subcommands/flare/flare_nix_test.go
  test/new-e2e/tests/agent-subcommands/flare/flare_win_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/windows-agent

#20619 usm: ssl: Don't hook buildkitd processes
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/istio.go
  pkg/network/usm/utils/file_registry.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20615 migrate snooper tests to use new local DNS server
  LICENSE-3rdparty.csv
  pkg/network/dns/snooper_test.go
  pkg/network/testutil/server.go
  pkg/network/tracer/testutil/testdns/test_dns_server.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa

#20597 Add netflow to fips mode + update logs_dd_url instead of dd_url for ndm products
  pkg/config/config.go
  pkg/config/config_test.go
  releasenotes/notes/add-ndm-to-fips-mode-f0b6e379369c3f48.yaml
Labels: team/network-device-monitoring, team/agent-shared-components

#20197 [CWS] Fix: dont insert missing processes if exec event type is already stable
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/profile/manager.go
  pkg/security/security_profile/profile/manager_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/security_profile_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#20678 usm: http2: Print conn tuple of http2_stream_t instance
  pkg/network/protocols/http2/model_linux.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20616 [CWS] do not send exit event for dying kworkers
  pkg/security/ebpf/c/include/helpers/process.h
  pkg/security/ebpf/c/include/hooks/exec.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20634 Add tests for Cloud Foundry `workloadmeta` collectors
  pkg/workloadmeta/collectors/internal/cloudfoundry/cf_container/cloudfoundry_container.go
  pkg/workloadmeta/collectors/internal/cloudfoundry/cf_container/cloudfoundry_container_test.go
  pkg/workloadmeta/collectors/internal/cloudfoundry/cf_vm/cloudfoundry_vm.go
  pkg/workloadmeta/collectors/internal/cloudfoundry/cf_vm/cloudfoundry_vm_test.go
Labels: changelog/no-changelog, team/platform-integrations

#20447 Convert pkg/metrics to go module
  go.mod
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/ckey/go.mod
  pkg/aggregator/ckey/go.sum
  pkg/aggregator/ckey/sort_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/no_aggregation_stream_worker.go
  pkg/aggregator/time_sampler.go
  pkg/metrics/check_metrics.go
  pkg/metrics/check_metrics_test.go
  pkg/metrics/context_metrics.go
  pkg/metrics/context_metrics_flusher_test.go
  pkg/metrics/context_metrics_test.go
  pkg/metrics/count_test.go
  pkg/metrics/gauge_test.go
  pkg/metrics/go.mod
  pkg/metrics/go.sum
  pkg/metrics/histogram.go
  pkg/metrics/histogram_bucket.go
  pkg/metrics/histogram_test.go
  pkg/metrics/historate.go
  pkg/metrics/historate_test.go
  pkg/metrics/iterable_metrics.go
  pkg/metrics/metric_sample.go
  pkg/metrics/metric_sample_pool.go
  pkg/metrics/series.go
  pkg/serverless/tags/tags_test.go
  pkg/tagset/go.mod
  pkg/tagset/go.sum
  pkg/tagset/hashless_tags_accumulator.go
  pkg/util/aliases.go
  pkg/util/buf/buffered_chan.go
  pkg/util/buf/buffered_chan_test.go
  pkg/util/buf/go.mod
  pkg/util/buf/go.sum
  pkg/util/sort/go.mod
  pkg/util/sort/go.sum
  pkg/util/sort/sort.go
  pkg/util/sort/sort_benchmarks_note.md
  pkg/util/sort/sort_test.go
  pkg/util/sort/sort_uniq.go
  pkg/util/sort/sort_uniq_test.go
  tasks/modules.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs, team/opentelemetry

#20684 [NPM-3070] Fix empty incoming connection direction
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20682 [NPM] Ensure we have nat info for outgoing connection
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20625 [CONTINT-258] Leverage the testify assertion helpers in e2e tests
  test/new-e2e/tests/containers/base_test.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#20562 remove copy/paste code
  pkg/network/protocols/http/model.go
  pkg/network/protocols/http/model_linux.go
  pkg/network/protocols/http/model_linux_test.go
  pkg/network/protocols/http/model_test.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/model_windows_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20686 [CWS] add OS to events
  pkg/security/events/event.go
  pkg/security/events/event_easyjson.go
  pkg/security/module/server.go
  pkg/security/serializers/serializers_linux_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20675 [e2e] use json format to list stacks
  tasks/new_e2e_tests.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#20698 [CONTINT-3314] Dump the state of Kind when Pulumi stack creation failed
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/dump_cluster_state.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/kindvm_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#20671 [CWS] slow down the heartbeat to every 10 min after settle period
  pkg/security/rules/engine.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20633 [CI] Remove separate `revive` use
  Makefile.trace
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  tasks/test.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20003 [CI] Factor by image and tags for `x64` linux linting jobs
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20677 AP-2391 Modify test function to be able to run tests only on modified packages
  .gitlab/source_test/linux.yml
  .gitlab/source_test/windows.yml
  tasks/__init__.py
  tasks/test.py
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20687 [CWS] add weight to file hashes evaluation
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/model_unix.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20638 serverless: API Gateway through Kong event detection
  pkg/serverless/appsec/httpsec/proxy_test.go
  pkg/serverless/trace/testdata/event_samples/api-gateway-kong-appsec.json
  pkg/serverless/trace/testdata/event_samples/api-gateway-kong.json
  pkg/serverless/trigger/events.go
  pkg/serverless/trigger/events_test.go
  pkg/serverless/trigger/testData/api-gateway-kong.json
Labels: changelog/no-changelog, team/serverless

#20605 CI: allow omnibus software to be overridden through environment
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20478 [ASCII-849] Check component.go contains only the Component type
  tasks/components.py
  tasks/components_templates/impl/component.go.tmpl
  tasks/components_templates/impl/component_mock.go.tmpl
Labels: changelog/no-changelog, qa/skip-qa, component framework

#20394 [CWS] improve lineage check
  pkg/security/probe/errors.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_monitor.go
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/secl/model/errors.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/secl/model/process_cache_entry_unix_test.go
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/security_profile/tests/activity_tree_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20714 [corechecks/helm] Improve tests
  pkg/collector/corechecks/cluster/helm/helm_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#20689 AMLII-1224 always include telemetry in a flare
  pkg/flare/archive.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#20702 usm: http2: tests: Close grpc clients at the end of runClients rather than in the end of the test
  pkg/network/protocols/grpc/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20700 usm: http2: Change http2_iterations to hash map
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20703 usm: http2: Simplify and improve get_dynamic_counter
  pkg/network/ebpf/c/protocols/http2/decoding.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20693 chore: Group franz-go and bun dependabot updates
  .github/dependabot.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20393 usm: change http2_in_flight from LRU map to HASH map
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
  pkg/network/protocols/http2/protocol.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#20497 [pkg/util/kubernetes][CONTINT-477] add rate_limit_queries_remaining_min telemetry in cluster agent external metrics server
  pkg/util/kubernetes/autoscalers/datadogexternal.go
  pkg/util/kubernetes/autoscalers/datadogexternal_util.go
  pkg/util/kubernetes/autoscalers/datadogexternal_util_test.go
  releasenotes-dca/notes/add-rate_limit_queries_remaining_min_telemetry-233fcfdbc0fe3822.yaml
Labels: team/containers, component/cluster-agent

#20550 [apm] standardize peer tag aggregation
  comp/trace/config/setup.go
  pkg/config/apm.go
  pkg/config/config_template.yaml
  pkg/config/config_test.go
  pkg/flare/envvars.go
  pkg/proto/datadog/trace/stats.proto
  pkg/proto/pbgo/trace/stats.pb.go
  pkg/proto/pbgo/trace/stats_gen.go
  pkg/proto/pbgo/trace/stats_vtproto.pb.go
  pkg/trace/config/config.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/aggregation_test.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/stats/client_stats_aggregator_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/stats_test.go
  releasenotes/notes/add-default-peer-tags-for-aggregation-3d708e776c0eb05c.yaml
Labels: team/agent-apm

#20688 pkg/trace/api: fix container tagging over UDS
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
  pkg/trace/api/listener.go
  releasenotes/notes/fix-uds-tagging-ca55006e201cb283.yaml
Labels: team/agent-apm

#20726 Upload VM XML definition as artifacts of gitlab job
  .gitlab/kernel_version_testing/system_probe.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#20728 Fix a flaky test
  pkg/serverless/metrics/metric_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#20699 [process-agent] reduce allocations in parseStatContent
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
  releasenotes/notes/process-agent-improve-parse-stat-content-allocations-8c6fd48fb63649f1.yaml
Labels: team/processes, qa/skip-qa

#20725 [NPM-3015] Add more debugging to offset guess test; fix cleaning up
  pkg/network/tracer/offsetguess_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#20685 [CWS] remove force GC calls
  pkg/security/probe/probe_linux.go
  pkg/security/resolvers/resolvers_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20724 Enable load balancer for flare e2e tests
  test/new-e2e/tests/agent-subcommands/flare/flare_nix_test.go
  test/new-e2e/tests/agent-subcommands/flare/flare_win_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#20683 [omnibus] Update list of upstream patches in OpenSCAP
  omnibus/config/patches/openscap/0041-Fix-probe_reset.patch
  omnibus/config/patches/openscap/0043-Fix-various-issues-reported-by-Coverity.patch
  omnibus/config/patches/openscap/0046-Rewrite-dpkginfo-probe-without-using-APT.patch
  omnibus/config/patches/openscap/dpkginfo-cache-close.patch
  omnibus/config/patches/openscap/dpkginfo-cache-fixes.patch
  omnibus/config/patches/openscap/dpkginfo-cache-no-close.patch
  omnibus/config/patches/openscap/dpkginfo-cacheconfig.patch
  omnibus/config/patches/openscap/dpkginfo-config-arch.patch
  omnibus/config/patches/openscap/dpkginfo-no-apt.patch
  omnibus/config/software/openscap.rb
Labels: changelog/no-changelog, team/agent-cspm

#20705 [CWS] remove hash resolver for windows
  pkg/security/probe/field_handlers.go
  pkg/security/probe/field_handlers_linux.go
  pkg/security/resolvers/resolvers_windows.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20736 Clean error message in diagnose
  pkg/diagnose/runner.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#20735 add arch to CWS events
  pkg/security/events/event.go
  pkg/security/events/event_easyjson.go
  pkg/security/module/server.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20596 [Pipeline] CircleCI runner migration to GCR
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20674 [CWS] Keep snapshot probes after completion
  pkg/security/ebpf/c/include/hooks/procfs.h
  pkg/security/probe/probe_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20715 Enable container image collection by default
  pkg/config/config.go
  releasenotes/notes/enable_contimage-e958765b0f81a9a4.yaml
Labels: team/containers

#20561 Create pkg/util/http module
  cmd/security-agent/subcommands/runtime/command.go
  comp/core/flare/helpers/send_flare.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/forwarder_health.go
  comp/forwarder/defaultforwarder/forwarder_health_test.go
  comp/forwarder/defaultforwarder/sync_forwarder.go
  comp/forwarder/defaultforwarder/worker.go
  comp/trace/config/setup.go
  go.mod
  pkg/clusteragent/telemetry/collector.go
  pkg/config/remote/api/http.go
  pkg/logs/client/http/destination.go
  pkg/security/security_profile/dump/remote_storage.go
  pkg/serverless/apikey/api_key.go
  pkg/util/cloudproviders/alibaba/alibaba.go
  pkg/util/cloudproviders/azure/azure.go
  pkg/util/cloudproviders/gce/gce.go
  pkg/util/cloudproviders/ibm/ibm.go
  pkg/util/cloudproviders/oracle/oracle.go
  pkg/util/cloudproviders/tencent/tencent.go
  pkg/util/ec2/imds_helpers.go
  pkg/util/http/client.go
  pkg/util/http/go.mod
  pkg/util/http/go.sum
  pkg/util/http/helpers.go
  pkg/util/http/helpers_test.go
  pkg/util/http/transport.go
  pkg/util/http/transport_test.go
  pkg/util/kubernetes/autoscalers/datadogclient.go
  tasks/modules.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/opentelemetry

#20741 [backport][CWS] add arch to CWS events (#20735)
  pkg/security/events/event.go
  pkg/security/events/event_easyjson.go
  pkg/security/module/server.go
  releasenotes/notes/cws-events-arch-186143a045cf7fd5.yaml
Labels: component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#20321 tasks: release: add an invoke task to update last_stable fields
  tasks/libs/common/github_api.py
  tasks/release.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20743 [ASCII-889] Add a method to query routestats endpoint in fakeintake client
  test/fakeintake/client/client.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#20745 [CONTINT-3441][pkg/clusteragent] Use patch instead of update in language detection patcher
  pkg/clusteragent/languagedetection/patcher.go
  pkg/clusteragent/languagedetection/patcher_test.go
  pkg/clusteragent/languagedetection/telemetry.go
Labels: team/containers, changelog/no-changelog, component/cluster-agent

#20744 [CWS] fix broken lineage check for process activity
  pkg/security/probe/errors.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_monitor.go
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/secl/model/errors.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/secl/model/process_cache_entry_unix_test.go
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/security_profile/tests/activity_tree_test.go
  releasenotes/notes/fix-cws-broken-lineage-check-fc1426a52ed223e0.yaml
Labels: kind/bug, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#20640 [SVLS-3102] Send logs and metrics from the Lambda Extension to Vector/OPW
  comp/forwarder/defaultforwarder/sync_forwarder.go
  comp/logs/agent/config/config.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/serverless/metrics/metric.go
Labels: kind/feature, changelog/no-changelog, qa/skip-qa, team/serverless

#20750 Upgrade shirou/gopsutil and moby/sys/mountinfo in gohai go.mod
  go.mod
  go.sum
  pkg/gohai/go.mod
  pkg/gohai/go.sum
Labels: changelog/no-changelog, qa/skip-qa, dependencies, dependencies-go, team/agent-shared-components

#20554 [windows] Fix driver byte counts
  pkg/network/driver/ddnpmapi.h
  pkg/network/driver/handle.go
  pkg/network/driver/types_windows.go
  pkg/network/event_windows.go
  pkg/network/protocols/http/etw_http_service.go
  release.json
  releasenotes/notes/fixbyteovercount-71db480b4025b60d.yaml
Labels: component/system-probe, team/windows-kernel-integrations

#19896 Print full stack trace when recovering a panic in orchestrator collector
  pkg/collector/corechecks/cluster/orchestrator/processors/errors.go
Labels: changelog/no-changelog, team/container-app

#19875 Better test coverage and clean-up in orchestrator redact package
  pkg/orchestrator/redact/data_scrubber.go
  pkg/orchestrator/redact/data_scrubber_test.go
  pkg/orchestrator/redact/pod.go
  pkg/orchestrator/redact/pod_test.go
Labels: changelog/no-changelog, team/container-app

#20137 pkg/trace/api: Added tracer flare proxy
  go.mod
  go.sum
  pkg/trace/api/endpoints.go
  pkg/trace/api/tracer_flare.go
  pkg/trace/api/tracer_flare_test.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/apm-features-tracer-flare-endpoint-9ab2c32cd49e985f.yaml
Labels: team/agent-apm

#20753 Bump test-infra-definitions
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa

#20755 bump ebpf-manager to `v0.3.6`
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#20727 [PCF] Add support for container name collection without DCA
  pkg/workloadmeta/collectors/internal/cloudfoundry/cf_vm/cloudfoundry_vm.go
  pkg/workloadmeta/collectors/internal/cloudfoundry/cf_vm/cloudfoundry_vm_test.go
  releasenotes/notes/add-support-for-pcf-container-name-detection-7a158b71d89776d9.yaml
Labels: team/platform-integrations

#20759 pkg/trace/api: fix double-close deadlock
  pkg/trace/api/listener.go
  pkg/trace/api/listener_test.go
  releasenotes/notes/fix-apm-shutdown-35851730f8c9dad5.yaml
Labels: team/agent-apm, qa/skip-qa

#20761 pkg/trace/api: fix double-close deadlock
  pkg/trace/api/listener.go
  pkg/trace/api/listener_test.go
  releasenotes/notes/fix-apm-shutdown-35851730f8c9dad5.yaml
Labels: team/agent-apm, qa/skip-qa

#20760 Fix EvtFormatMessage crash
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  releasenotes/notes/fix-evtformatmessage-crash-c19b297722e0a34d.yaml
Labels: team/windows-agent

#20767 [windows] fix windows cws service.
  cmd/agent/subcommands/run/dependent_services_windows.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  pkg/security/agent/agent.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/windows-kernel-integrations

#20768 [windows] Add default security agent profile to installer when CWS is…
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-finalize.rb
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Labels: changelog/no-changelog, team/windows-agent, team/windows-kernel-integrations

#20738 Add `--enable-fat` flag to gmp build
  omnibus/config/software/gmp.rb
  releasenotes/notes/gmp-enable-fat-fa0493913eb0ec3d.yaml
Labels: team/agent-platform

#20742 [CWS] use the same function for CWS events and security profiles
  pkg/security/module/server.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/utils/arch.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20751 No longer pin oscrypto as snowflake-connector-python no longer depends on it
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations

#20328 [NDM] Configurable Netflow additional fields collection
  comp/netflow/common/flow.go
  comp/netflow/config/config.go
  comp/netflow/config/config_test.go
  comp/netflow/config/mock.go
  comp/netflow/config/service.go
  comp/netflow/flowaggregator/aggregator.go
  comp/netflow/flowaggregator/aggregator_test.go
  comp/netflow/flowaggregator/buildpayload.go
  comp/netflow/flowaggregator/buildpayload_test.go
  comp/netflow/flowaggregator/flowaccumulator.go
  comp/netflow/flowaggregator/flowaccumulator_test.go
  comp/netflow/goflowlib/additionalfields/netflow.go
  comp/netflow/goflowlib/additionalfields/netflow_test.go
  comp/netflow/goflowlib/convert.go
  comp/netflow/goflowlib/convert_test.go
  comp/netflow/goflowlib/flowstate.go
  comp/netflow/goflowlib/flowstate_test.go
  comp/netflow/goflowlib/formatdriver.go
  comp/netflow/goflowlib/netflowstate/netflow.go
  comp/netflow/goflowlib/netflowstate/stopper.go
  comp/netflow/payload/payload.go
  comp/netflow/server/integration_test.go
  comp/netflow/server/listener.go
  comp/netflow/testutil/testutil.go
  releasenotes/notes/ndm-netflow-additional-fields-f91ddc4420892249.yaml
Labels: team/network-device-monitoring

#20772 Update release.json and Go modules for 6/7.49.1-rc.1
  go.mod
  pkg/gohai/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management

#20701 Add Go win32_event_log check
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  pkg/collector/corechecks/windows_event_log/bookmark.go
  pkg/collector/corechecks/windows_event_log/check.go
  pkg/collector/corechecks/windows_event_log/check_test.go
  pkg/collector/corechecks/windows_event_log/config.go
  pkg/collector/corechecks/windows_event_log/config_helpers.go
  pkg/collector/corechecks/windows_event_log/config_test.go
  pkg/collector/corechecks/windows_event_log/event_formatting.go
  pkg/collector/corechecks/windows_event_log/filters.go
  pkg/collector/corechecks/windows_event_log/filters_test.go
  pkg/collector/corechecks/windows_event_log/subscription.go
  pkg/collector/corechecks/windows_event_log/unsupported_platforms.go
  pkg/config/mock.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/types.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/session/session.go
  pkg/util/winutil/eventlog/subscription/subscription.go
  releasenotes/notes/windows-event-log-check-ee8ba25825944c1c.yaml
  tasks/agent.py
Labels: team/windows-agent

#20739 [CONTINT-30][pkg/clusteragent/admission] Inject automatically libraries of auto-detected libraries into pods
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_util.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_util_test.go
  pkg/clusteragent/admission/mutate/config.go
  pkg/clusteragent/admission/mutate/cws_instrumentation.go
  pkg/clusteragent/admission/mutate/tags.go
  pkg/config/config.go
  releasenotes-dca/notes/inject_language_libraries_in_admission_controller-63eae7f820cc0f45.yaml
Labels: team/containers, component/cluster-agent

#19788 Support metrics filtering on kube namespace for service/endpoint check
  pkg/autodiscovery/listeners/kube_endpoints.go
  pkg/autodiscovery/listeners/kube_endpoints_test.go
  pkg/autodiscovery/listeners/kube_services.go
  pkg/autodiscovery/listeners/kube_services_test.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  releasenotes/notes/support-ad-clustercheck-metric-filtering-by-namespace-ec264b72dfed114a.yaml
Labels: team/containers, need-change/helm-chart

#20545 [gitlab] Update JOBOWNERS for new E2E tests
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20568 [CI] Remove `--skip-linters` flag from the test invoke task
  .circleci/config.yml
  .github/workflows/windows-unittests.yml
  .gitlab/source_test/linux.yml
  .vscode/tasks.json.template
  README.md
  tasks/test.py
  tasks/unit-tests/testdata/erroneous_circleci_config.yml
  tasks/unit-tests/testdata/fake_circleci_config.yml
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20167 [ASCII-749] Add NSS failover end-to-end test for forwarder
  .github/CODEOWNERS
  .gitlab/e2e.yml
  .gitlab/e2e_test_junit_upload.yml
  test/fakeintake/client/client.go
  test/new-e2e/go.mod
  test/new-e2e/tests/agent-shared-components/forwarder/nss_failover_test.go
  test/new-e2e/tests/agent-shared-components/forwarder/testfixtures/config.yaml.tmpl
  test/new-e2e/tests/agent-shared-components/forwarder/testfixtures/custom_logs.yaml.tmpl
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: removed

#20690 Origin Metrics - Core checks support
  pkg/aggregator/check_sampler.go
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#20569 Create modules in pkg/util
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/api/server.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  cmd/otel-agent/main.go
  comp/aggregator/diagnosesendermanager/diagnosesendermanagerimpl/sendermanager.go
  comp/languagedetection/client/client.go
  comp/languagedetection/client/client_test.go
  comp/logs/agent/agent.go
  comp/logs/agent/mock.go
  comp/metadata/bundle_test.go
  comp/metadata/runner/runnerimpl/runner.go
  comp/otelcol/collector/pipeline.go
  go.mod
  pkg/cli/standalone/jmx.go
  pkg/collector/corechecks/system/winregistry/winregistry.go
  pkg/config/config.go
  pkg/config/env/ipc_address.go
  pkg/logs/sources/source.go
  pkg/util/cache/go.mod
  pkg/util/cache/go.sum
  pkg/util/optional.go
  pkg/util/optional/go.mod
  pkg/util/optional/go.sum
  pkg/util/optional/optional.go
  pkg/util/optional/optional_test.go
  pkg/util/statstracker/go.mod
  pkg/util/statstracker/go.sum
  pkg/util/statstracker/stats_tracker.go
  pkg/util/statstracker/stats_tracker_test.go
  tasks/modules.py
Labels: changelog/no-changelog, qa/skip-qa, team/opentelemetry

#20401 [ASCII-860] Use a single source of truth for the default values of secrets config
  pkg/config/config.go
  pkg/config/system_probe.go
  pkg/secrets/fetch_secret.go
  pkg/secrets/fetch_secret_test.go
  pkg/secrets/no_secrets.go
  pkg/secrets/secrets.go
  pkg/secrets/secrets_default.go
  pkg/secrets/secrets_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress

#19912 Send CPU & Memory Request in container payload
  go.mod
  go.sum
  pkg/collector/corechecks/containers/kubelet/provider/pod/provider.go
  pkg/process/checks/container_rt.go
  pkg/process/util/containers/containers.go
  pkg/process/util/containers/containers_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  pkg/workloadmeta/collectors/internal/kubelet/kubelet.go
  pkg/workloadmeta/dump_test.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog

#20380 Update log regression test cases
  test/regression/cases/file_to_blackhole/lading/lading.yaml
  test/regression/cases/tcp_dd_logs_filter_exclude/lading/lading.yaml
  test/regression/cases/tcp_syslog_to_blackhole/lading/lading.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#20514 Adds instructions to readme about JMXFetch and clarifies detailed dev docs
  README.md
  docs/dev/checks/jmxfetch.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#20748 [AMLII-1178] logs/tailers: rephrase process_raw_message feature warning notice
  pkg/logs/tailers/journald/tailer.go
  pkg/logs/tailers/windowsevent/tailer.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs

#20614 Create modules for `pkg/collector/check/defaults`, `pkg/orchestrator/model`, and `pkg/process/util/api`
  comp/forwarder/defaultforwarder/telemetry.go
  go.mod
  pkg/clusteragent/orchestrator/status.go
  pkg/collector/check/defaults/go.mod
  pkg/collector/check/defaults/go.sum
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/orchestrator/aliases.go
  pkg/orchestrator/cache.go
  pkg/orchestrator/model/go.mod
  pkg/orchestrator/model/go.sum
  pkg/orchestrator/model/stats.go
  pkg/orchestrator/model/types.go
  pkg/process/util/api/go.mod
  pkg/process/util/api/go.sum
  tasks/modules.py
Labels: changelog/no-changelog, qa/skip-qa, team/opentelemetry

#20784 [CWS] first pass of cleanup to functional tests
  pkg/security/tests/latency_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/overlayfs_test.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/agent-security

#20786 add missing replace for `pkg/util/pointer` in `test/new-e2e/go.mod`
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#20710 Create stats about fast tests
  .gitlab-ci.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/windows.yml
  .gitlab/source_test_stats.yml
  .gitlab/source_test_stats/linux.yml
  .gitlab/source_test_stats/windows.yml
  tasks/__init__.py
  tasks/test.py
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#20796 Fix typed nil returned from metrics provider
  pkg/util/containers/metrics/provider/provider.go
Labels: kind/bug, team/containers, changelog/no-changelog, qa/skip-qa, category/bugfix

#19988 Follow symlinks in 89-copy-customfiles.sh
  Dockerfiles/agent/cont-init.d/89-copy-customfiles.sh
Labels: team/containers, changelog/no-changelog, category/bugfix
