Repository DataDog/datadog-agent, pull requests merged in 2023-02, with the labels that each got.

#15343 tracer: protocol classification: Adding a workaround to handle hitting instructions limits on socket filter
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa, team/usm

#15326 [RCM] fix(client_bypass): Fix timeout of client bypass
  pkg/config/remote/service/service.go
Labels: kind/bug, changelog/no-changelog, team/remote-config, category/bugfix, bugfix/functional

#15092 [CWS Agent] fix signature of NewRuleFilterModel on non-linux platforms
  pkg/security/module/rule_filters_model_nolinux.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15323 [CWS] fix size of args
  pkg/security/probe/process_resolver.go
  pkg/security/secl/model/process_cache_entry.go
Labels: changelog/no-changelog, team/agent-security

#15261 [CWS] split ResolveFields
  pkg/security/module/process_monitor.go
  pkg/security/probe/activity_dump.go
  pkg/security/secl/compiler/generators/accessors/field_handlers.tmpl
  pkg/security/secl/model/field_handlers.go
  pkg/security/tests/fields_test.go
  pkg/security/tests/kernel_module_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15345 fix(RCM): Fix timeout of client bypass
  pkg/config/remote/service/service.go
Labels: kind/bug, changelog/no-changelog, team/remote-config, category/bugfix, bugfix/functional

#15221 pkg/clusteragent/admission/patch: make file provider ready for e2e testing
  pkg/clusteragent/admission/patch/file_provider.go
  pkg/clusteragent/admission/patch/file_provider_test.go
  pkg/clusteragent/admission/patch/provider.go
  pkg/clusteragent/admission/patch/testdata/auto-instru.json
  pkg/config/config.go
Labels: team/containers, changelog/no-changelog

#15278 [USM] old java hotspot need credential
  pkg/network/java/hotspot.go
  pkg/network/java/jattach_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/bugfix, team/usm

#15262 [corechecks/snmp] No local resolution if multiple results
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#15335 [release] Update release.json and Go modules for 6/7.42.1-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15291 [pkg/trace] Embed ptraceotlp.UnimplementedGRPCServer to address future breaking change
  pkg/trace/api/otlp.go
Labels: changelog/no-changelog, qa/skip-qa, component/otlp, team/opentelemetry

#15340 Moved couple of noisy logs to trace
  pkg/network/go/bininspect/symbols.go
  pkg/network/protocols/http/shared_libraries.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#14799 pkg/trace: Emit APM onboarding events on startup
  cmd/trace-agent/remote_config_test.go
  cmd/trace-agent/run.go
  pkg/serverless/trace/cold_start_span_creator_test.go
  pkg/serverless/trace/span_modifer_test.go
  pkg/serverless/trace/trace.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/telemetry/collector.go
  pkg/trace/telemetry/collector_test.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/stats_test.go
  pkg/trace/writer/trace.go
  pkg/trace/writer/trace_test.go
  releasenotes/notes/apm-emit-telemetry-events-on-startup-b72043c4fe08e402.yaml
Labels: team/agent-apm, team/serverless

#15351 [backport] [kitchen] Use official datadog cookbook for initial Agent install in upgrade scenario
  test/kitchen/test-definitions/windows-install-test.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations

#15344 tracer: Use aliases to string instead of converting types
  pkg/network/dns/ebpf.go
  pkg/network/dns/monitor_linux.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/ebpf_ssl.go
  pkg/network/telemetry/telemetry_manager.go
  pkg/network/tracer/connection/kprobe/dump.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tcp_close_consumer.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, team/networks, qa/skip-qa, team/usm

#15213 [CWS] remove unsafe cache
  pkg/security/secl/compiler/eval/context.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/model/accessors.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15244 [CWS] remove `AppendFieldValues`
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/compiler/eval/macro.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15229 [serverless] fix: do not try to enable log api for local testing
  cmd/serverless/main.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/daemon/routes.go
  pkg/serverless/daemon/utils.go
Labels: changelog/no-changelog, team/serverless

#15356 [omnibus] Upgrade setuptools to 66.1.1, pip to 22.3.1 in Python 3 embedded environment
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/pip3.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/setuptools3.rb
  releasenotes/notes/update-setuptools-pip-1b049dc6f774ac39.yaml
Labels: team/integrations, team/agent-platform

#15214 [CWS] remove useless usage of unsafe in SECL registers
  pkg/security/secl/compiler/eval/registers.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15355 [corechecks/{containerimage,sbom}] Fix parsing of config
  pkg/collector/corechecks/containerimage/check.go
  pkg/collector/corechecks/sbom/check.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#15320 [Serverless] fix http + https proxy
  cmd/serverless-init/main.go
  cmd/serverless-init/main_test.go
Labels: changelog/no-changelog, team/serverless

#15354 [release] Update release.json and Go modules for 6/7.42.1-rc.3
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15314 USM: adding service_monitoring.java_agent_args=string parameter
  pkg/config/system_probe.go
  pkg/network/config/config.go
  pkg/network/java/hotspot.go
  pkg/network/protocols/http/ebpf_javatls.go
Labels: changelog/no-changelog, category/bugfix, team/usm

#15348 [golangci-lint] Upgrade to version 1.50.1
  .circleci/config.yml
  internal/tools/go.mod
  internal/tools/go.sum
  tasks/go.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15364 [backport] [corechecks/{containerimage,sbom}] Fix parsing of config (#15355)
  pkg/collector/corechecks/containerimage/check.go
  pkg/collector/corechecks/sbom/check.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#15380 tracer: protocol classification: Adding a workaround to handle hittin…
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
Labels: changelog/no-changelog, qa/skip-qa, category/bugfix, bugfix/functional, team/usm

#15109 [CWS][SEC-6692] introduce SECLDoc and add secl field examples to documentation
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/scripts/secl-doc-gen.py
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
  docs/cloud-workload-security/secl.json
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/compiler/generators/accessors/doc/doc.go
  pkg/security/secl/model/consts_linux.go
  pkg/security/secl/model/model.go
Labels: changelog/no-changelog, editorial review, qa/skip-qa, team/agent-security

#15201 [CWS] improve SetFieldValue tests
  pkg/security/probe/model_test.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/model_test.go
Labels: changelog/no-changelog, team/agent-security

#15381 [CWS] fix e2e tests
  test/e2e/cws-tests/tests/lib/const.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15353 Add history workload-list container-image entity
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog

#15385 [workloadmeta] Delete unnecessary attrs of ContainerImageMetadata
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/workloadmeta/collectors/internal/containerd/image.go
  pkg/workloadmeta/types.go
Labels: team/containers, changelog/no-changelog

#15382 [CWS] bump ebpf-manager fixing a data race
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security

#15383 [CWS] bump ebpf-manager fixing a data race
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#15241 [CSPM] [SEC-6966] Allow specifying processes environment variables as rule inputs
  pkg/compliance/checks/builder_test.go
  pkg/compliance/rego/rego_check_input_test.go
  pkg/compliance/rego/rego_check_test.go
  pkg/compliance/resource.go
  pkg/compliance/resources/file/file_check_test.go
  pkg/compliance/resources/process/process_check.go
  pkg/compliance/resources/process/process_check_test.go
  pkg/compliance/utils/process/process_utils.go
Labels: changelog/no-changelog, team/agent-security

#15386 [tagger/telemetry] Extract subsystem const
  pkg/tagger/telemetry/telemetry.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15393 Bump system probe build image (remove entrypoint)
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15363 [pkg/otlp/model] Do not send first value for cumulative monotonic sums if start timestamp matches timestamp
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  releasenotes/notes/otlp-first-mono-cumul-point-bug-f300edf522.yaml
Labels: component/otlp, team/opentelemetry

#15318 [process-agent] Refactor chunking to use generics
  pkg/collector/corechecks/cluster/orchestrator/processors/chunking.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor_test.go
  pkg/process/checks/chunking.go
  pkg/process/checks/chunking_test.go
  pkg/process/checks/process.go
  pkg/process/util/chunking.go
  pkg/process/util/chunking_test.go
  releasenotes/notes/refactor-chunking-to-use-generics-255b986656d1b76d.yaml
Labels: team/processes

#15398 Change flake8 url in .pre-commit to github
  .pre-commit-config.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15069 pkg/obfuscate: ensure correct format for http.url
  pkg/obfuscate/http.go
  pkg/obfuscate/http_test.go
Labels: changelog/no-changelog, team/agent-apm, 7.43.0-drop

#15224 [CSPM] [SEC-6973] Make the process cache coherent and error proof
  pkg/compliance/checks/builder.go
  pkg/compliance/checks/builder_test.go
  pkg/compliance/rego/rego_check_input_test.go
  pkg/compliance/rego/rego_check_test.go
  pkg/compliance/resources/file/file_check_test.go
  pkg/compliance/resources/process/process_check.go
  pkg/compliance/resources/process/process_check_test.go
  pkg/compliance/utils/process/process_utils.go
  pkg/compliance/utils/process/process_utils_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15399 flare: Do not scrub pprof files
  comp/core/flare/helpers/builder.go
  comp/core/flare/helpers/builder_test.go
  comp/core/flare/helpers/helpers.go
  pkg/flare/archive.go
Labels: team/containers, changelog/no-changelog, category/bugfix, team/agent-shared-components, bugfix/functional

#15387 [backport] [omnibus] Upgrade setuptools to 66.1.1, pip to 22.3.1 in Python 3 embedded environment
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/pip3.rb
  omnibus/config/software/python3.rb
  omnibus/config/software/setuptools3.rb
  releasenotes/notes/update-setuptools-pip-1b049dc6f774ac39.yaml
Labels: team/integrations, team/agent-platform, category/bugfix, bugfix/security

#15396 Kacper murzyn/7.42.1 final
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  releasenotes/notes/prelude-release-7.42.1-561abc521ef85ae2.yaml
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#15270 [kitchen] Update docs for local usage
  test/kitchen/Gemfile.local
  test/kitchen/README.md
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15402 Backport #15399: flare: Do not scrub pprof files
  comp/core/flare/helpers/builder.go
  comp/core/flare/helpers/builder_test.go
  comp/core/flare/helpers/helpers.go
  pkg/flare/archive.go
Labels: team/containers, changelog/no-changelog, category/bugfix, team/agent-shared-components, bugfix/functional

#15405 [release] Update release.json and Go modules for 6/7.43.0-rc.4
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15407 7.42.1 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-core

#15388 [corechecks/containerlifecycle] Fix parsing of config
  pkg/collector/corechecks/containerlifecycle/check.go
  releasenotes/notes/fix-contlifecycle-config-parsing-90695828006dbbf3.yaml
Labels: team/containers

#15412 [circleci] Go back to xlarge runners to prevent OOM kills of golangci
  .circleci/config.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15413 [gitlab] Add missing image and tags to single_machine_performance-push-main-sha job
  .gitlab/container_build/docker_linux.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15408 [CWS] increase volume size on ec2
  test/kitchen/drivers/ec2-driver.yml
  test/kitchen/site-cookbooks/dd-security-agent-check/recipes/default.rb
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15222 [Admission Controller] Mount the UDS socket in readonly mode
  pkg/clusteragent/admission/mutate/config.go
  pkg/clusteragent/admission/mutate/config_test.go
  releasenotes-dca/notes/mount_uds_socket_in_readonly_mode-5f2bf3b50e368413.yaml
Labels: team/containers

#15414 [CWS] bump `ebpf-manager` to fix potential deadlock
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15415 Fix dmi implementation to not collect information on serverless
  pkg/util/dmi/dmi_mock.go
  pkg/util/dmi/dmi_nix.go
  pkg/util/dmi/dmi_nix_test.go
  pkg/util/dmi/no_dmi.go
  pkg/util/dmi/no_dmi_mock.go
Labels: changelog/no-changelog, team/agent-shared-components

#15417 [backport][CWS] bump `ebpf-manager` to fix potential deadlock (#15414)
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/bugfix, bugfix/functional

#15277 [KSM Core] Add new metrics to the KSM Core check
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.md
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_defaults.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers_test.go
  releasenotes-dca/notes/add_extended_resources_ksm_core-88861571c2471f13.yaml
Labels: team/containers

#15397 Fix TestCCCache_RefreshOnCacheMiss flaky tests
  pkg/util/cloudproviders/cloudfoundry/cccache.go
  pkg/util/cloudproviders/cloudfoundry/cccache_test.go
Labels: changelog/no-changelog, team/platform-integrations

#15423 [SMP] Use aws s3 cp instead of aws s3 sync to copy .main_sha file
  .gitlab/container_build/docker_linux.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15404 [windows] fix http counting & tagging of loopback connections
  pkg/network/protocols/http/http_stats.go
Labels: changelog/no-changelog, team/windows-kernel-integrations

#15171 [usm] Add CO-RE support for HTTP(S) monitoring
  .gitlab/binary_build/system_probe.yml
  .gitlab/package_deps_build.yml
  .gitlab/source_test/ebpf.yml
  pkg/ebpf/c/bpf_telemetry.h
  pkg/network/ebpf/c/ip.h
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/protocols/classification/common.h
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/protocols/events-types.h
  pkg/network/ebpf/c/protocols/http/buffer.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/ebpf/c/protocols/http/maps.h
  pkg/network/ebpf/c/protocols/tls/go-tls-goid.h
  pkg/network/ebpf/c/protocols/tls/go-tls-location.h
  pkg/network/ebpf/c/protocols/tls/go-tls-types.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/sockfd.h
  pkg/network/protocols/http/ebpf_gotls.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/kernel_requirements.go
  pkg/network/protocols/http/monitor.go
  pkg/network/protocols/http/monitor_test.go
  pkg/network/tracer/testutil/go_tls.go
  pkg/network/tracer/tracer_usm_linux_test.go
  tasks/system_probe.py
  test/kitchen/test/integration/system-probe-test/rspec_datadog/system-probe-test_spec.rb
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15209 Re-add system-probe kitchen test tweaks
  test/kitchen/test/integration/system-probe-test/rspec_datadog/system-probe-test_spec.rb
Labels: changelog/no-changelog, qa/skip-qa, team/usm, team/ebpf-platform

#15322 [workloadmeta] Log only bundle size on ack timeout
  pkg/workloadmeta/store.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15410 [CWS] bump out of date dependencies
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15431 [CWS] fix noisy process test
  pkg/security/config/config.go
  pkg/security/module/module.go
  pkg/security/probe/probe.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, team/agent-security

#15332 Add option to specify cache location for SBOM scans
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/collector.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_stub.go
  pkg/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
Labels: team/containers, changelog/no-changelog, category/improvement

#15358 Move pkg/quantile into opentelemetry-mapping-go repository
  .copyright-overrides.yml
  .github/CODEOWNERS
  .github/dependabot.yaml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/sketch_map.go
  pkg/aggregator/time_sampler_test.go
  pkg/metrics/sketch_series.go
  pkg/metrics/test_helper.go
  pkg/metrics/test_helper_test.go
  pkg/otlp/internal/serializerexporter/consumer.go
  pkg/otlp/model/go.mod
  pkg/otlp/model/go.sum
  pkg/otlp/model/translator/consumer.go
  pkg/otlp/model/translator/exponential_histograms_translator.go
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/nan_metrics_test.go
  pkg/otlp/model/translator/sketches_test.go
  pkg/otlp/model/translator/testhelper_test.go
  pkg/quantile/agent.go
  pkg/quantile/agent_test.go
  pkg/quantile/bin.go
  pkg/quantile/bin_test.go
  pkg/quantile/config.go
  pkg/quantile/config_test.go
  pkg/quantile/ddsketch.go
  pkg/quantile/ddsketch_test.go
  pkg/quantile/go.mod
  pkg/quantile/go.sum
  pkg/quantile/key.go
  pkg/quantile/main_test.go
  pkg/quantile/pool.go
  pkg/quantile/print.go
  pkg/quantile/print_test.go
  pkg/quantile/sparse.go
  pkg/quantile/sparse_test.go
  pkg/quantile/store.go
  pkg/quantile/store_test.go
  pkg/quantile/summary/equal.go
  pkg/quantile/summary/equal_test.go
  pkg/quantile/summary/summary.go
  pkg/quantile/summary/summary_test.go
  pkg/quantile/test_helper.go
  pkg/serializer/internal/metrics/test_helper.go
  pkg/trace/go.mod
  tasks/modules.py
Labels: changelog/no-changelog, qa/skip-qa, team/opentelemetry

#15288 add manifest status in command `agent status` output
  pkg/clusteragent/orchestrator/status.go
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer.go
  pkg/forwarder/forwarder.go
  pkg/forwarder/telemetry.go
  pkg/status/templates/orchestrator.tmpl
Labels: changelog/no-changelog, team/container-app

#15347 [container_image_metadata] Fix handling of repo digests
  pkg/collector/corechecks/containerimage/processor.go
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/workloadmeta/collectors/internal/containerd/containerd.go
  pkg/workloadmeta/collectors/internal/containerd/image.go
  pkg/workloadmeta/collectors/internal/containerd/image_test.go
Labels: team/containers, changelog/no-changelog, category/bugfix, bugfix/functional

#15248 Fix formatting error when creating a local flare on Windows
  pkg/flare/archive_win.go
Labels: changelog/no-changelog, team/agent-shared-components

#15294 [fakeintake] add fake intake v0
  .github/CODEOWNERS
  .gitignore
  test/fake-intake/fakeintake/fakeintake.go
  test/fake-intake/fakeintake/fakeintake_test.go
  test/fake-intake/go.mod
  test/fake-intake/go.sum
  test/fake-intake/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#15297 [fake intake] add docker and readme
  test/fake-intake/.gitignore
  test/fake-intake/Dockerfile
  test/fake-intake/README.md
  test/fake-intake/docker-compose.yaml
  test/fake-intake/fakeintake/fakeintake.go
  test/new-e2e/README.md
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#15361 [e2e] parse v2 metrics
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/utils/payloadtesthelper/fixtures/README.md
  test/new-e2e/utils/payloadtesthelper/fixtures/api_v2_series_dump.txt
  test/new-e2e/utils/payloadtesthelper/metricPayloads.go
  test/new-e2e/utils/payloadtesthelper/metricPayloads_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#15439 Ignore `prune` events in Docker events
  pkg/util/docker/event_pull.go
  pkg/util/docker/event_pull_test.go
Labels: team/containers, changelog/no-changelog, category/improvement

#15319 [system-probe] Setup tracer instance for tests
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#15440 Disable host alias detection on Fargate
  pkg/util/ec2/dmi.go
Labels: changelog/no-changelog, team/agent-shared-components

#15359 [fake intake] add validate endpoint
  test/fake-intake/fakeintake/fakeintake.go
  test/fake-intake/fakeintake/fakeintake_test.go
  test/fake-intake/fakeintake/http.go
  test/fake-intake/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-e2e-test

#15406 remove deprecated EBPFSection from use
  pkg/collector/corechecks/ebpf/probe/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/tcp_queue_length.go
  pkg/network/dns/ebpf.go
  pkg/network/dns/monitor_linux.go
  pkg/network/ebpf/probes/probes.go
  pkg/network/protocols/events/consumer_test.go
  pkg/network/protocols/http/ebpf_gotls.go
  pkg/network/protocols/http/ebpf_main.go
  pkg/network/protocols/http/ebpf_ssl.go
  pkg/network/protocols/http/monitor.go
  pkg/network/protocols/http/shared_libraries_test.go
  pkg/network/tracer/connection/fentry/manager.go
  pkg/network/tracer/connection/fentry/probes.go
  pkg/network/tracer/connection/fentry/tracer.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/offsetguess.go
  pkg/network/tracer/tracer.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/attr.go
  pkg/security/ebpf/probes/bind.go
  pkg/security/ebpf/probes/bpf.go
  pkg/security/ebpf/probes/dentry.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/ebpf/probes/flow.go
  pkg/security/ebpf/probes/ioctl.go
  pkg/security/ebpf/probes/iouring.go
  pkg/security/ebpf/probes/link.go
  pkg/security/ebpf/probes/mkdir.go
  pkg/security/ebpf/probes/mmap.go
  pkg/security/ebpf/probes/module.go
  pkg/security/ebpf/probes/mount.go
  pkg/security/ebpf/probes/mprotect.go
  pkg/security/ebpf/probes/net_device.go
  pkg/security/ebpf/probes/open.go
  pkg/security/ebpf/probes/pipe.go
  pkg/security/ebpf/probes/raw_sys_exit.go
  pkg/security/ebpf/probes/rename.go
  pkg/security/ebpf/probes/rmdir.go
  pkg/security/ebpf/probes/selinux.go
  pkg/security/ebpf/probes/shared.go
  pkg/security/ebpf/probes/signal.go
  pkg/security/ebpf/probes/splice.go
  pkg/security/ebpf/probes/syscall_helpers.go
  pkg/security/ebpf/probes/syscall_monitor.go
  pkg/security/ebpf/probes/tc.go
  pkg/security/ebpf/probes/unlink.go
  pkg/security/ebpf/probes/xattr.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/tests/syscall_tester/go/syscall_go_tester.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15384 [CWS] fix functests config load
  cmd/system-probe/config/config.go
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15227 cmd/trace-agent/test: increase timeout for starting an agent to reduce flake
  cmd/trace-agent/test/agent.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#15433 [RCM] fix(sysprobe): Use unverified client in sysprobe
  pkg/config/remote/client.go
  pkg/security/rconfig/rconfig.go
Labels: kind/bug, changelog/no-changelog, qa/skip-qa, team/remote-config, category/bugfix, bugfix/functional

#15438 [CWS/CSPM] Remove internal dependency of pkg/security on pkg/compliance/*
  cmd/security-agent/subcommands/runtime/command.go
  pkg/security/agent/agent.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15450 backport: Leverage board vendor when available to detect EC2 UUID
  pkg/util/ec2/dmi.go
  pkg/util/ec2/dmi_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#15456 Modified ebpf-manager version
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15136 use shared node types
  cmd/process-agent/submitter.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cr.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/crd.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_unassigned.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/discovery/collector_discovery.go
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer.go
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer_test.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/forwarder/telemetry.go
  pkg/orchestrator/cache.go
  pkg/orchestrator/cache_test.go
  pkg/orchestrator/stats.go
  pkg/orchestrator/util.go
  pkg/process/checks/pod.go
Labels: changelog/no-changelog, team/container-app

#15461 [gitlab] Fix BTF_GEN image tag
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15238 [codeowners] add ndm team as ndm new e2e tests code owners
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/network-device-monitoring

#15453 Normalize subdir name used for packaged BTF access
  pkg/ebpf/btf.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15368 Adds logic to load the Datadog config
  cmd/serverless-init/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15466 [corechecks/{containerimage,sbom}] Use queue of size 1 in tests to fix flakyness
  pkg/collector/corechecks/containerimage/processor_test.go
  pkg/collector/corechecks/sbom/processor_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15333 [USM] java ci docker based tests
  pkg/network/java/jattach_test.go
  pkg/network/java/testdata/TestAgentLoaded.class
  pkg/network/java/testdata/TestAgentLoaded.jar
  pkg/network/java/testdata/TestAgentLoaded.java
  pkg/network/java/testdata/docker-compose.yml
  pkg/network/java/testutil/inject.go
  pkg/network/protocols/testutil/patternscanner.go
  pkg/network/protocols/testutil/serverutils.go
  pkg/network/tracer/tracer_usm_linux_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#15447 Updating JMXFetch to 0.47.3
  release.json
  releasenotes/notes/jmxfetch-0.47.3-ed387ad1d3443442.yaml
Labels: team/agent-metrics-logs

#15480 [corechecks/helm] Delete unused var in test
  pkg/collector/corechecks/cluster/helm/helm_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15240 AIT-5114 Expand AWS Serverless definition with function_arn
  pkg/trace/api/telemetry.go
  pkg/trace/api/telemetry_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, team/serverless

#15042 usm: Added mysql classification
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/protocols/mysql/defs.h
  pkg/network/ebpf/c/protocols/mysql/helpers.h
  pkg/network/encoding/format_usm_test.go
  pkg/network/event_usm_common.go
  pkg/network/protocols/http/http_types.go
  pkg/network/protocols/http/http_types_linux.go
  pkg/network/protocols/mysql/client.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/mysql/testdata/docker-compose.yml
  pkg/network/tracer/tracer_classification_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15482 [corechecks/containerlifecycle] Fix flaky TestProcessQueues
  pkg/collector/corechecks/containerlifecycle/processor_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15481 Bumping the max size of the DogStatsD binary check to 37MiB
  tasks/dogstatsd.py
Labels: changelog/no-changelog, qa/skip-qa

#15409 [process-agent] Move code outside of main package
  cmd/process-agent/config.go
  cmd/process-agent/config_test.go
  cmd/process-agent/main_common.go
  pkg/process/runner/collector.go
  pkg/process/runner/collector_api_test.go
  pkg/process/runner/collector_test.go
  pkg/process/runner/endpoints.go
  pkg/process/runner/endpoints_test.go
  pkg/process/runner/mocks/submitter.go
  pkg/process/runner/submitter.go
  pkg/process/runner/submitter_test.go
  pkg/process/status/info.go
  pkg/process/status/info_test.go
Labels: changelog/no-changelog, team/processes

#15473 Add single-machine-performance to codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15485 Address VPA fixes caught in QA (#15328)
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/verticalpodautoscaler.go
Labels: changelog/no-changelog, team/container-app, category/bugfix

#15469 Merge system-probe config before resolving secrets
  cmd/process-agent/command/command.go
  cmd/process-agent/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/config/config.go
  cmd/process-agent/subcommands/events/events.go
  cmd/process-agent/subcommands/status/status.go
  cmd/process-agent/subcommands/taggerlist/tagger_list.go
Labels: kind/bug, changelog/no-changelog, team/processes, category/bugfix, bugfix/functional

#15489 Jlineaweaver/vpa nulls forrc
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/verticalpodautoscaler.go
Labels: changelog/no-changelog, team/container-app, category/bugfix

#15491 [CWS] backport: only enable ringbuffer on non-backported kernels
  pkg/security/ebpf/kernel/kernel.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#15490 [CWS] only enable ringbuffer on non-backported kernels
  pkg/security/ebpf/kernel/kernel.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#15475 Add SLES to BTF processing
  .gitlab/deps_build.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15377 Start collecting conditions for VPAs
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/verticalpodautoscaler_test.go
  releasenotes-dca/notes/VerticalPodAutoscalerConditions-6fbc9e6b5812b28d.yaml
Labels: component/cluster-agent, team/container-app, category/feature

#15477 SLS-3057: Fixes a bug where we didn't periodically flush metrics
  cmd/serverless-init/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15471 [system-probe] Fix connection type in conntrack debug table dump
  pkg/network/tracer/ebpf_conntracker.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#15427 set NoIndex flag for internal payload dropped metric
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#15495 [release] Update release.json and Go modules for 6/7.43.0-rc.5
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15334 [CWS] uses scoped api key instead of rc key
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/setup-instance/03-ssh.sh
Labels: changelog/no-changelog, team/agent-security

#15504 [corechecks/helm] Fix flaky tests
  pkg/collector/corechecks/cluster/helm/helm_test.go
Labels: team/containers, changelog/no-changelog, qa/skip-qa

#15341 Fix IPv6 detection
  pkg/api/util/util.go
  pkg/api/util/util_test.go
  pkg/autodiscovery/configresolver/configresolver.go
Labels: team/containers, changelog/no-changelog

#15484 [gitlab] bumping buildimages to use tags available on dockerhub
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, team/agent-shared-components

#15509 pkg/clusteragent/admission: add rc and patcher telemetry
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/patch/patcher.go
  pkg/clusteragent/admission/patch/rc_provider.go
  releasenotes-dca/notes/auto-instru-telem-eac08645853a4cac.yaml
Labels: team/containers

#15512 [backport][gitlab] bumping buildimages to use tags available on dockerhub (#15484)
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform

#15494 SLS-3100: Add support for container apps in serverless-init logs channel
  pkg/logs/internal/tailers/channel/tailer.go
  pkg/logs/internal/tailers/channel/tailer_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15502 Use ebpf-platform-ops for pipeline notifications
  tasks/libs/pipeline_notifications.py
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15507 USM: java ci attach, skip in the test
  pkg/network/java/jattach_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm

#15493 [process-agent] Add config component as dependency to existing components
  comp/process/bundle_test.go
  comp/process/containercheck/check.go
  comp/process/processcheck/check.go
  comp/process/runner/runner.go
  comp/process/submitter/submitter.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa, team/agent-shared-components

#15463 Change BTF_GEN buildimage id.
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform

#15519 [RCM] Seed the root version as 1 when using an unverified TUF store
  pkg/remoteconfig/state/repository.go
  pkg/remoteconfig/state/repository_test.go
Labels: changelog/no-changelog, team/remote-config, category/bugfix

#15517 [CWS] add drop max dump reached metric
  pkg/security/metrics/metrics.go
  pkg/security/probe/activity_dump_manager.go
Labels: changelog/no-changelog, team/agent-security

#15419 [CWS] improve signal event pid ns translation
  pkg/security/ebpf/c/process.h
  pkg/security/ebpf/c/ptrace.h
  pkg/security/ebpf/c/signal.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/signal.go
Labels: changelog/no-changelog, team/agent-security

#15516 Add build and publish CI for fakeintake
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/docker_common/publish_job_templates.yml
  .gitlab/fakeintake.yml
Labels: changelog/no-changelog, squad/aett, team/agent-e2e-test

#15541 [CWS] replace recursive mount `finalize` function with non-recursive DFS
  pkg/security/probe/resolvers/mount_resolver.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15558 [CWS] move reorderer to different package
  pkg/security/probe/probe.go
  pkg/security/probe/reorderer/monitor.go
  pkg/security/probe/reorderer/perf.go
  pkg/security/probe/reorderer/perfmap.go
  pkg/security/probe/reorderer/reorderer.go
  pkg/security/probe/reorderer/reorderer_test.go
  pkg/security/probe/ringbuffer.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15546 [orchestration] nil check all optional VPA fields during extraction
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/verticalpodautoscaler_test.go
Labels: changelog/no-changelog, team/container-app, category/bugfix, bugfix/functional

#15457 [CSPM] Remove process input "exe" field
  pkg/compliance/checks/builder_test.go
  pkg/compliance/rego/rego_check_input_test.go
  pkg/compliance/rego/rego_check_test.go
  pkg/compliance/resource.go
  pkg/compliance/resources/file/file_check_test.go
  pkg/compliance/resources/process/process_check.go
  pkg/compliance/resources/process/process_check_test.go
  pkg/compliance/utils/process/process_utils.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security

#15020 [gitlab] Use Python Artifactory cache on main / release branch / deploy pipelines only
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15498 Add support for a LocalService struct that has a default implementati…
  cmd/serverless-init/cloudservice/cloudrun.go
  cmd/serverless-init/cloudservice/service.go
  cmd/serverless-init/cloudservice/service_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15424 [usm] Flush all available event batches
  pkg/network/ebpf/c/protocols/events-types.h
  pkg/network/ebpf/c/protocols/events.h
  pkg/network/protocols/events/consumer.go
  pkg/network/protocols/events/iterator.go
  pkg/network/protocols/events/types_linux.go
Labels: changelog/no-changelog, qa/skip-qa, team/usm

#15581 Disable trace agent flaky tests
  cmd/trace-agent/test/testsuite/traces_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15567 [release] Update release.json and Go modules for 6/7.43.0-rc.6
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15543 [CI] Fix pipeline by using `v13249166-eafe611` for `DATADOG_AGENT_BUILDIMAGES`
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15539 [CWS] use a common impl of PathKey
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/secl.json
  pkg/security/probe/activity_dump_proto_dec_v1.go
  pkg/security/probe/discarders.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/resolvers/dentry_resolver.go
  pkg/security/secl/model/accessors.go
  pkg/security/secl/model/errors.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
Labels: changelog/no-changelog, team/agent-security

#15536 [CWS] add new activity dump metrics
  pkg/security/metrics/metrics.go
  pkg/security/probe/activity_dump.go
  pkg/security/probe/process_resolver.go
  pkg/security/probe/serializers.go
Labels: changelog/no-changelog, team/agent-security

#15534 kitchen: remove rvm from dd testing buildimage
  .gitlab-ci.yml
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe.yml
  .gitlab/kitchen_common/cleanup.yml
  .gitlab/kitchen_common/testing.yml
  .gitlab/kitchen_testing/amazonlinux.yml
  .gitlab/kitchen_testing/centos.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/suse.yml
  .gitlab/kitchen_testing/ubuntu.yml
  .gitlab/kitchen_testing/windows.yml
  test/kitchen/tasks/clean.sh
  test/kitchen/tasks/kitchen_setup.sh
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/tasks/show-strays.sh
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15535 Bump snowflake-connector-python
  omnibus/config/software/snowflake-connector-python-py3.rb
Labels: changelog/no-changelog, team/integrations, qa/skip-qa

#15563 cmd/trace-agent/test: fix flaky tests
  cmd/trace-agent/test/agent.go
  cmd/trace-agent/test/testsuite/traces_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#15566 {cmd/trace-agent/internal/osutil,pkg/trace/log}: print critical errors
  cmd/trace-agent/internal/osutil/osutil.go
  pkg/trace/log/logger.go
  releasenotes/notes/apm-init-errors-500026891d619c19.yaml
Labels: team/agent-apm

#15533 [RCM-685] Improve cache bypass
  pkg/config/remote/service/clients.go
  pkg/config/remote/service/clients_test.go
  pkg/config/remote/service/service.go
Labels: changelog/no-changelog, team/remote-config

#15086 [CWS][SEC-6349] Check tracefs default mount dir before checking for the debugfs one
  pkg/ebpf/debugfs.go
  pkg/ebpf/debuglog_dumper.go
  pkg/flare/archive_linux.go
  pkg/network/tracer/tracer.go
  pkg/security/probe/probe.go
  pkg/security/tests/trace_pipe.go
  pkg/util/kernel/fs.go
Labels: changelog/no-changelog, team/agent-security

#15531 [release] Update release.json and Go modules for 6/7.42.2-rc.1
  .gitlab-ci.yml
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-core

#15588 Fix broken tests in comp/core
  comp/core/config/config.go
  comp/core/flare/helpers/builder_test.go
  comp/core/flare/helpers/perm_info_nix_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components

#15557 [devex] copyright snippet
  .vscode/.gitignore
  .vscode/copyright.code-snippets
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa

#15551 SLS-3123: Remove old code that caused a crash when trying to retrieve secrets manager keys
  cmd/serverless/main.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15550 Don't send blank logs for serverless-init
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless

#15527 Tag version for datadog-init telemetry
  cmd/serverless-init/tag/tag.go
  cmd/serverless-init/tag/tag_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless
