Repository DataDog/datadog-agent, pull requests merged in 2024-06, with the labels that each got.

#26022 Add permission change event to CWS windows
  pkg/security/probe/field_handlers_windows.go
  pkg/security/probe/model_windows.go
  pkg/security/probe/probe_windows.go
  pkg/security/resolvers/resolvers_windows.go
  pkg/security/resolvers/securitydescriptors/resolver_windows.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/field_handlers_windows.go
  pkg/security/secl/model/model_windows.go
  pkg/security/serializers/serializers_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/windows-kernel-integrations

#26154 Create leader engine when running check command in DCA
  cmd/cluster-agent/subcommands/check/command.go
  releasenotes/notes/fix-manual-check-run-dca-cb3415a653d359ea.yaml
Labels: team/containers

#26153 [OASIS-12] Add trace agent comp to OTel agent
  cmd/otel-agent/subcommands/run/command.go
Labels: changelog/no-changelog, team/opentelemetry

#26196 usm: kafka: test: Remove unnecessary defer
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26222 [autodiscovery/scheduler] Mark TestController as flaky
  comp/core/autodiscovery/scheduler/controller_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform

#26219 [CWS] downgrade queue network device to debug
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#26220 [CWS] sync pkg/security/seclwin
  pkg/security/seclwin/model/accessors_win.go
  pkg/security/seclwin/model/consts_common.go
  pkg/security/seclwin/model/events.go
  pkg/security/seclwin/model/field_handlers_win.go
  pkg/security/seclwin/model/model.go
  pkg/security/seclwin/model/model_win.go
  pkg/security/seclwin/model/security_profile.go
  tasks/security_agent.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#26225 usm: kafka: tests: Improve cleanup to solve flakiness
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change

#26209 Improve pkg installed telemetry
  pkg/fleet/installer/installer.go
Labels: changelog/no-changelog, team/fleet-automation, qa/skip-qa

#26234 upgrade(installer): Add more telemetry for injector installation
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/service/apm_inject.go
  pkg/fleet/installer/service/apm_inject_test.go
  pkg/fleet/installer/service/apm_sockets.go
  pkg/fleet/installer/service/apm_sockets_test.go
  pkg/fleet/installer/service/docker.go
  pkg/fleet/installer/service/docker_test.go
  pkg/fleet/installer/service/file.go
  pkg/fleet/installer/service/file_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#25051 [AI-3657] Add Metrics Origins metadata for python checks
  pkg/aggregator/sender.go
  pkg/aggregator/sender_test.go
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
  releasenotes/notes/python_metrics_origins-fc6e79b40c33d94d.yaml
Labels: team/agent-metrics-logs

#26249 Fix and reenable AML e2e tests
  .gitlab/e2e/e2e.yml
  test/new-e2e/tests/agent-metric-logs/log-agent/k8s-logs/file_tailing_cca_off_test.go
  test/new-e2e/tests/agent-metric-logs/log-agent/k8s-logs/file_tailing_test.go
Labels: changelog/no-changelog, qa/no-code-change

#26206 Minor fix on github wofklows
  .github/workflows/chase_release_managers.yml
  .github/workflows/create_release_schedule.yml
  .github/workflows/external-contributor.yml
  .github/workflows/send-failure-summary-notification.yml
Labels: changelog/no-changelog, qa/no-code-change

#26233 fix(opentelemetry): add OTEL_RESOURCE_ATTRIBUTES spaces trimming
  comp/core/tagger/taggerimpl/collectors/workloadmeta_extract.go
  comp/core/tagger/taggerimpl/collectors/workloadmeta_test.go
Labels: changelog/no-changelog, team/container-platform

#26316 installer - reenable suse tests
  test/new-e2e/tests/installer/all_packages_test.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/package_agent_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation

#26231 test(installer): Test tracer upgrade
  test/new-e2e/tests/installer/all_packages_test.go
  test/new-e2e/tests/installer/host/fixtures.go
  test/new-e2e/tests/installer/package_apm_inject_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#26329 [CONTINT-4239] Fix namespace label as tags config and error log
  cmd/cluster-agent/api/v1/kubernetes_metadata.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver_test.go
Labels: team/containers, changelog/no-changelog

#26333 fix otel imports
  comp/otelcol/provider/impl/go.mod
  comp/otelcol/provider/impl/go.sum
Labels: changelog/no-changelog, qa/done

#26321 usm: Don't run USM is it is disabled or not supported
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26350 [CWS] ensure device and user path are serialized for windows fim events
  pkg/security/serializers/serializers_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#26181 Fail if the Go test command has not been executed properly, even with TestWasher
  tasks/testwasher.py
  tasks/unit-tests/testwasher_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26179 (fleet) embed systemd units in the installer binary
  omnibus/config/software/installer.rb
  omnibus/config/templates/installer/datadog-agent-exp.service.erb
  omnibus/config/templates/installer/datadog-agent-process-exp.service.erb
  omnibus/config/templates/installer/datadog-agent-process.service.erb
  omnibus/config/templates/installer/datadog-agent-security-exp.service.erb
  omnibus/config/templates/installer/datadog-agent-security.service.erb
  omnibus/config/templates/installer/datadog-installer-exp.service.erb
  pkg/fleet/bootstraper/bootstraper.go
  pkg/fleet/installer/service/embedded/datadog-agent-exp.service
  pkg/fleet/installer/service/embedded/datadog-agent-process-exp.service
  pkg/fleet/installer/service/embedded/datadog-agent-process.service
  pkg/fleet/installer/service/embedded/datadog-agent-security-exp.service
  pkg/fleet/installer/service/embedded/datadog-agent-security.service
  pkg/fleet/installer/service/embedded/datadog-agent-sysprobe-exp.service
  pkg/fleet/installer/service/embedded/datadog-agent-sysprobe.service
  pkg/fleet/installer/service/embedded/datadog-agent-trace-exp.service
  pkg/fleet/installer/service/embedded/datadog-agent-trace.service
  pkg/fleet/installer/service/embedded/datadog-agent.service
  pkg/fleet/installer/service/embedded/datadog-installer-exp.service
  pkg/fleet/installer/service/embedded/datadog-installer.service
  pkg/fleet/installer/service/embedded/embed.go
  pkg/fleet/installer/service/systemd.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/package_installer_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#26192 add env check for installation
  pkg/fleet/env/env_test.go
  pkg/fleet/env/install_script.go
  pkg/fleet/installer/service/apm_inject.go
  pkg/fleet/installer/service/apm_inject_test.go
  pkg/fleet/installer/service/apm_sockets.go
  pkg/fleet/installer/service/docker.go
  test/new-e2e/tests/installer/package_apm_inject_test.go
Labels: changelog/no-changelog, team/fleet-automation, qa/skip-qa

#26226 feat(ci): Add a new test to validate modules are correctly set in DEFAULT_MODULES
  .gitlab/source_test/technical_linters.yml
  comp/README.md
  comp/otelcol/provider/def/component.go
  comp/otelcol/provider/impl/go.mod
  comp/otelcol/provider/impl/go.sum
  comp/otelcol/provider/impl/provider.go
  tasks/go.py
  tasks/modules.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26362 (fleet) add pre-requisites to update the installer during package updates
  pkg/fleet/bootstraper/bootstraper.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/daemon/remote_config.go
  pkg/fleet/internal/bootstrap/bootstrap.go
  pkg/fleet/internal/exec/installer_exec.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#26092 Include all exporters from primary contrib into our collector-contrib
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  cmd/agent/subcommands/dogstatsdcapture/command.go
  cmd/agent/subcommands/dogstatsdreplay/command.go
  cmd/trace-agent/test/testsuite/otlp_test.go
  comp/core/tagger/taggerimpl/remote/tagger.go
  comp/core/workloadmeta/collectors/internal/remote/generic.go
  comp/otelcol/collector-contrib/impl/collectorcontrib.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  go.mod
  go.sum
  pkg/network/usm/testutil/grpc/client.go
  pkg/process/events/listener_linux.go
  pkg/process/metadata/workloadmeta/collector/process_test.go
  pkg/process/metadata/workloadmeta/grpc_test.go
  pkg/security/agent/client.go
  pkg/util/containers/cri/util.go
  pkg/util/grpc/agent_client.go
  tasks/licenses.py
  test/new-e2e/pkg/e2e/suite_test.go
Labels: changelog/no-changelog, component/system-probe, team/opentelemetry, qa/done

#26391 [windows][cws] Fix stats crash on map
  pkg/security/probe/probe_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/windows-kernel-integrations

#26221 Re-enable triggering workflow manually
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change

#26399 Follow Agent RC staging deployment pipeline inside the build pipeline
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
Labels: changelog/no-changelog, category/release_operations, team/agent-release-management, qa/no-code-change

#26334 Use github.com/json-iterator/go instead of encode/json for system-probe API
  comp/core/settings/settingsimpl/settingsimpl.go
  comp/core/settings/settingsimpl/settingsimpl_test.go
  pkg/network/config/replace_rules.go
Labels: changelog/no-changelog, component/system-probe, team/agent-shared-components

#26358 Fix auto-cancel for KMT jobs
  tasks/libs/pipeline/tools.py
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26383 usm: http2: Fixed extraction of request method length if method is in the dynamic table
  pkg/network/ebpf/c/protocols/http2/decoding-tls.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/protocols/http2/raw_traffic.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26400 [CWS] Do not warn user if only the 'hash' action of a rule is specified
  pkg/security/secl/rules/actions.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#26401 [CWS] bump security agent policies to v0.55.1
  release.json
Labels: changelog/no-changelog, qa/done

#26243 AMLII-1818 Skip jmx checks in the collector
  pkg/collector/scheduler.go
  releasenotes/notes/fix-jmx-integration-10ce3c8d9b709aac.yaml
Labels: team/agent-metrics-logs

#26337 fix(upload): Handle case when the archive already contains a folder
  tasks/libs/common/junit_upload_core.py
  tasks/unit-tests/junit_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#26368 upgrade(installer): Add installer commands to instrument / uninstrument host & docker
  cmd/installer/command/command.go
  cmd/installer/subcommands/installer/apm.go
  cmd/installer/subcommands/installer/command.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/service/apm_inject.go
  pkg/fleet/installer/service/apm_inject_windows.go
  pkg/fleet/installer/service/docker.go
  pkg/fleet/installer/service/file.go
  pkg/fleet/installer/service/file_test.go
  pkg/fleet/internal/exec/installer_exec.go
  test/new-e2e/tests/installer/all_packages_test.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/package_apm_inject_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#26404 usm: ssl: Ignore containerd tempmounts
  pkg/network/usm/ebpf_ssl.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26366 [SBOM] Fix OS name reporting on Windows
  pkg/sbom/collectors/host/host_wmi.go
Labels: changelog/no-changelog, team/agent-security

#26398 [ASCII-1866] Compute status date when needed
  comp/core/status/statusimpl/common_header_provider.go
  comp/core/status/statusimpl/common_header_provider_test.go
  releasenotes/notes/status-fix-date-3449df92774a0dd4.yaml
Labels: category/bugfix, team/agent-shared-components, bugfix/functional, qa/done

#26427 fix(opentelemetry): add OTEL_RESOURCE_ATTRIBUTES key/pair check
  comp/core/tagger/taggerimpl/collectors/workloadmeta_extract.go
Labels: changelog/no-changelog, team/container-platform, qa/skip-qa

#26352 Fix panic in etwtracer stop hook
  .gitlab/e2e/e2e.yml
  comp/trace/etwtracer/etwtracerimpl/etwtracerimpl.go
  releasenotes/notes/fix-agent-etwtracer-shutdown-panic-fae2346480bc8427.yaml
  test/new-e2e/tests/agent-subcommands/run/run_common_test.go
  test/new-e2e/tests/agent-subcommands/run/run_nix_test.go
  test/new-e2e/tests/agent-subcommands/run/run_win_test.go
Labels: team/windows-agent, qa/done

#26332 Added disclaimer message for agent developer tools notifications
  tasks/notify.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26360 [ASCII] Update Go version to 1.21.11
  .circleci/config.yml
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/bump-go-to-1.21.11-90571ee14ed4f7dd.yaml
  tasks/go.py
  test/fakeintake/Dockerfile
  tools/gdb/Dockerfile
Labels: changelog/no-changelog, team/agent-shared-components, go-update, team/agent-developer-tools, qa/no-code-changes

#26407 add metrics origins for recent integrations
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
  releasenotes/notes/python_metrics_origins_recent-e6bca555a8df2e2e.yaml
Labels: team/agent-metrics-logs, team/agent-processing-and-routing

#26392 feat(release): Tweak version computation for release context
  tasks/agent.py
  tasks/libs/common/utils.py
  tasks/release.py
  tasks/unit-tests/utils_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#26452 USM: tests: skip flaky AMQP & Postgres TLS classification tests
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change

#26444 Fix clean-up of non-remote autoscaling settings
  pkg/clusteragent/autoscaling/workload/config_retriever_settings.go
  pkg/clusteragent/autoscaling/workload/config_retriever_values.go
  pkg/clusteragent/autoscaling/workload/controller.go
Labels: team/containers, changelog/no-changelog, component/cluster-agent, category/bugfix, qa/done

#26349 [CONTP-222] Autodiscovery: fix controller register and unit test
  comp/core/autodiscovery/scheduler/controller.go
  comp/core/autodiscovery/scheduler/controller_test.go
Labels: changelog/no-changelog, bugfix/functional, team/container-platform

#26455 Fix typo in conf.yaml.example
  cmd/agent/dist/conf.d/cisco_sdwan.d/conf.yaml.example
Labels: changelog/no-changelog, team/agent-shared-components, qa/skip-qa

#26482 [CONTP-222] fix check-cmd
  cmd/agent/common/autodiscovery.go
  comp/core/autodiscovery/common/types/consts.go
  comp/core/autodiscovery/scheduler/controller.go
Labels: changelog/no-changelog, category/bugfix, team/container-platform

#26486 [release] Update release.json and gitlab files for 7.55 branch
  .gitlab-ci.yml
  .gitlab/notify/notify.yml
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26442 Add a hook to have a new line at the end of the `release.json` file
  .pre-commit-config.yaml
  release.json
Labels: changelog/no-changelog, team/agent-security, team/agent-metrics-logs, team/windows-kernel-integrations, team/agent-release-management, qa/no-code-change, team/agent-developer-tools, team/agent-build-and-releases

#26357 Remove the `test_linter.tmp` file during the tests
  tasks/unit-tests/linter_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26426 [ASCII-1867][gohai] lower errors log level to warn, debug log individual errors
  pkg/gohai/gohai.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#26423 [ASCII-1867][gohai] if all errors are the same then return it directly
  pkg/gohai/utils/common.go
  pkg/gohai/utils/common_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#26397 [ASCII-1865] Add an invoke task to compute PR stats
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
  tasks/unit-tests/github_api_tests.py
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#26344 Remove unneeded `golang.org/x/net/context` import
  comp/core/autodiscovery/providers/etcd.go
  comp/core/autodiscovery/providers/etcd_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform

#26406 Create a `Color` enum and start using it
  tasks/devcontainer.py
  tasks/libs/common/color.py
  tasks/libs/common/status.py
  tasks/setup.py
  tasks/vscode.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26330 populate PID for container entity on containerd runtime
  comp/core/workloadmeta/collectors/internal/containerd/container_builder.go
  comp/core/workloadmeta/collectors/internal/containerd/container_builder_test.go
  comp/core/workloadmeta/collectors/internal/containerd/event_builder_test.go
Labels: kind/enhancement, changelog/no-changelog, team/opentelemetry

#26327 Move the tests in the test folder
  tasks/unit-tests/custom_task/__init__.py
  tasks/unit-tests/custom_task/custom_task_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#26365 [CWS] ensure `EnableApprovers` and `EnableDiscarders` are respected on windows
  pkg/security/probe/probe_kernel_file_windows_test.go
  pkg/security/probe/probe_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#26359 Add the ability to run specific tests with the `invoke-unit-tests` task
  tasks/unit_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26355 Update the ruff rules
  pyproject.toml
  tasks/setup.py
Labels: changelog/no-changelog, qa/no-code-change

#26318 Print the command to use locally to run an e2e tests from the CI
  tasks/new_e2e_tests.py
  test/new-e2e/README.md
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools

#26478 usm: https: Remove special treatment for port 443
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/ebpf/c/protocols/tls/https.h
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26361 If json format is enabled, then do not color the diff
  tasks/ebpf.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change

#26223 usm: sharedlibraries: Handle open(2) syscall
  pkg/network/ebpf/c/shared-libraries/probes.h
  pkg/network/ebpf/c/shared-libraries/types.h
  pkg/network/protocols/tls/openssl/testdata/musl/docker-compose.yml
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/sharedlibraries/ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26201 [ASCII-1813] Update macos old runner to 12 for gohai test workflow
  .github/workflows/gohai.yml
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#26409 Fix incorrect slice pre-allocation
  pkg/util/profiling/profiling.go
Labels: changelog/no-changelog, team/agent-shared-components

#26384 [CONTINT-4216] Make the `oom_kill` check capture the `oom_score`
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oomkill/model/oom_kill_types.go
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill_test.go
  releasenotes/notes/oom_score-384c6e7f13906123.yaml
Labels: team/containers, component/system-probe

#26410 Fix incorrect slice pre-allocation
  pkg/network/usm/sharedlibraries/testutil/fmapper/fmapper.go
Labels: changelog/no-changelog, component/system-probe, team/usm

#26253 [e2e] handle context timeout on pulumi up and destroy
  test/new-e2e/pkg/e2e/pulumi_provisioner.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
  test/new-e2e/pkg/utils/infra/stack_manager_test.go
  test/new-e2e/system-probe/system-probe-test-env.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/kindvm_test.go
  test/new-e2e/tests/orchestrator/suite_test.go
Labels: changelog/no-changelog, qa/no-code-change

#25795 [oracle] Adaptive handling of multi-byte charactersets in activity sampling
  pkg/collector/corechecks/oracle/activity.go
  pkg/collector/corechecks/oracle/activity_integration_test.go
  pkg/collector/corechecks/oracle/activity_queries.go
  pkg/collector/corechecks/oracle/oracle.go
  releasenotes/notes/oracle-sql-substring-length-f2a2dd52b005d0a2.yaml
Labels: team/database-monitoring

#26237 Retry transient errors on GitLab API calls automatically
  tasks/libs/ciproviders/gitlab_api.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26328 [USM] Added traced programs to the USM status
  pkg/network/usm/monitor.go
  pkg/network/usm/utils/debugger.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26491 chore(opentelemetry): add malformed OTEL_RESOURCE_ATTRIBUTES unit test
  comp/core/tagger/taggerimpl/collectors/workloadmeta_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform, qa/skip-qa

#26251 fix(health): add newStartupCatalog method
  pkg/status/health/global.go
  pkg/status/health/health.go
  pkg/status/health/health_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#26483 Fix the build-links update task
  tasks/release.py
Labels: changelog/no-changelog, category/release_operations, team/agent-release-management, qa/no-code-change

#26202 Fix the git command in the setup script for Windows
  tasks/setup.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26230 Refactor a bit e2e tests rules to be able to chain them
  .gitlab-ci.yml
  .gitlab/deploy_packages/oci.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/e2e/e2e.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-build-and-releases

#26394 [OASIS-48] Fix agent config in OTel agent
  cmd/otel-agent/config/agent_config.go
  cmd/otel-agent/subcommands/run/command.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done

#26105 [OASIS-12] Move pkgagent initialization to newAgent
  comp/trace/agent/agent.go
  comp/trace/agent/agent_mock.go
Labels: changelog/no-changelog, team/agent-apm

#26320 [CWS] Remove argo-based e2e tests
  .gitlab/JOBOWNERS
  .gitlab/e2e/e2e.yml
  test/e2e/argo-workflows/cws-workflow.yaml
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/cws-tests/README.md
  test/e2e/cws-tests/tests/lib/cws/app.py
  test/e2e/cws-tests/tests/lib/cws/policy.py
  test/e2e/cws-tests/tests/lib/cws/schemas.py
  test/e2e/cws-tests/tests/test_e2e_cws_docker.py
  test/e2e/cws-tests/tests/test_e2e_cws_kubernetes.py
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change

#26345 [NETPATH-144] Add container id to source
  comp/networkpath/npcollector/npcollectorimpl/common/pathtest.go
  comp/networkpath/npcollector/npcollectorimpl/common/pathtest_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  comp/networkpath/npcollector/npcollectorimpl/utils.go
  pkg/networkpath/payload/payload.go
  pkg/networkpath/traceroute/traceroute.go
  pkg/networkpath/traceroute/traceroute_linux.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring

#26553 USM: tests: only skip TLS classification tests
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change

#26257 [NETPATH-160] Add protocol to TCP path payload
  pkg/networkpath/traceroute/runner.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring

#26552 [workloadmeta/cached_entity] Avoid deep copy when there's 1 source
  comp/core/workloadmeta/impl/cached_entity.go
Labels: changelog/no-changelog, qa/done, team/container-platform

#26448 Add an agent.build step in tests to validate it works
  .gitlab/source_test/linux.yml
  tasks/agent.py
  tasks/winbuildscripts/unittests.ps1
Labels: changelog/no-changelog, qa/no-code-change

#26319 Create a `get_commit_sha` function in the git module
  tasks/cws_instrumentation.py
  tasks/diff.py
  tasks/libs/common/git.py
  tasks/libs/common/utils.py
  tasks/new_e2e_tests.py
  tasks/pipeline.py
  tasks/security_agent.py
  tasks/system_probe.py
  tasks/unit-tests/libs/common/git_tests.py
Labels: changelog/no-changelog, component/system-probe, qa/no-code-change

#26195 Bump msodbcsql18 to 18.3.3.1
  omnibus/config/software/msodbcsql18.rb
  releasenotes/notes/bump-msodbcsql18-to-18.3.3.1-662a475ee03e604e.yaml
Labels: team/agent-build-and-releases

#26555 Bump memory limits for go mod tidy check and otel agent builds
  .gitlab/binary_build/otel_agent.yml
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change, team/agent-ci-experience, team/agent-build-and-releases

#25933 [OASIS-37] Add Datadog connector
  LICENSE-3rdparty.csv
  comp/otelcol/collector-contrib/impl/collectorcontrib.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  go.mod
  go.sum
Labels: changelog/no-changelog, team/opentelemetry

#26561 tasks: force a newline at EOF when editing release.json
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change

#26473 Fix broken link in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: changelog/no-changelog, team/agent-ci-experience

#26460 update the invoke task to create components to use the new file structure
  tasks/components.py
  tasks/components_templates/component_mock.go.tmpl
  tasks/components_templates/def/component.go.tmpl
  tasks/components_templates/fx/fx.go.tmpl
  tasks/components_templates/impl/component.go.tmpl
  tasks/components_templates/impl/component_mock.go.tmpl
  tasks/components_templates/mock/mock.go.tmpl
Labels: changelog/no-changelog, qa/no-code-change

#26336 Set timeout for requests made by the EVP proxy
  pkg/trace/api/api.go
  pkg/trace/api/evp_proxy.go
  pkg/trace/api/evp_proxy_test.go
  tasks/go_deps.py
Labels: changelog/no-changelog, team/agent-apm, qa/done

#26472 AMLII-1839 Fix bug when user remove the streamlog file and the flare maker does not attach the file again.
  cmd/agent/subcommands/flare/command.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#26317 [CONTP-226]Autodiscovery: fix TestResolveTemplate flaky unit test
  comp/core/autodiscovery/autodiscoveryimpl/autoconfig_test.go
Labels: changelog/no-changelog, team/container-platform

#26447 upgrade(installer): Replace deb/rpm injector install scripts
  pkg/fleet/installer/service/apm_inject.go
  pkg/fleet/installer/service/embedded/dd-cleanup
  pkg/fleet/installer/service/embedded/dd-container-install
  pkg/fleet/installer/service/embedded/dd-host-install
  test/new-e2e/tests/installer/package_apm_inject_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#26303 [CONTP-130] Increase timeout to fix flaky test in clusterchecks TestHandlerRun
  pkg/clusteragent/clusterchecks/handler_test.go
Labels: changelog/no-changelog, team/container-platform

#26568 [OASIS-12] Allow serializerexporter to consume APM stats
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/components/exporter/datadogexporter/factory.go
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory_test.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done

#25926 Serverless Agent supports `stream-logs`
  cmd/serverless/dependencies_linux_amd64.txt
  cmd/serverless/dependencies_linux_arm64.txt
  cmd/serverless/main.go
  comp/logs/agent/agentimpl/agent_serverless_init.go
  pkg/logs/diagnostic/format.go
  pkg/logs/diagnostic/noop_message_receiver.go
  pkg/logs/pipeline/provider.go
  pkg/serverless/logs/logs_collector.go
  pkg/serverless/streamlogs/streamlogs.go
  pkg/serverless/streamlogs/streamlogs_test.go
  releasenotes/notes/add-stream-logs-for-serverless-agent-8d8505fc25bf1a5a.yaml
Labels: team/serverless

#25642 kubernetes_apiserver: Introduce `bundle_unspecifed_events` to send bundled and unbundled events both
  cmd/agent/dist/conf.d/kubernetes_apiserver.d/conf.yaml.example
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/unbundled_events.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/unbundled_events_test.go
  releasenotes/notes/enhance-unbundle-events-5c614d0f877fac9e.yaml
Labels: team/containers

#26339 [ASCII-1503] Use telemetry component inside secrets and rctelemetryreporter component
  cmd/dogstatsd/subcommands/start/command.go
  cmd/trace-agent/subcommands/run/command.go
  comp/api/api/apiimpl/api_test.go
  comp/api/api/apiimpl/internal/agent/agent_test.go
  comp/core/config/config_test.go
  comp/core/config/go.mod
  comp/core/config/go.sum
  comp/core/flare/flare_test.go
  comp/core/secrets/go.mod
  comp/core/secrets/go.sum
  comp/core/secrets/secretsimpl/fetch_secret.go
  comp/core/secrets/secretsimpl/fetch_secret_test.go
  comp/core/secrets/secretsimpl/info_nix_test.go
  comp/core/secrets/secretsimpl/info_windows_test.go
  comp/core/secrets/secretsimpl/secrets.go
  comp/core/secrets/secretsimpl/secrets_mock.go
  comp/core/secrets/secretsimpl/secrets_test.go
  comp/core/status/statusimpl/go.sum
  comp/core/telemetry/noopsimpl/telemetry.go
  comp/core/telemetry/telemetryimpl/telemetry.go
  comp/core/telemetry/telemetryimpl/telemetry_mock.go
  comp/languagedetection/bundle_test.go
  comp/languagedetection/client/clientimpl/client_test.go
  comp/logs/agent/config/go.sum
  comp/otelcol/otlp/testutil/go.sum
  comp/remote-config/rctelemetryreporter/rctelemetryreporterimpl/rctelemetryreporter.go
  comp/serializer/compression/go.sum
  comp/trace/bundle_test.go
  pkg/api/go.sum
  pkg/config/setup/config_secret_test.go
  pkg/config/setup/config_test.go
  pkg/config/setup/go.mod
  pkg/config/setup/go.sum
  pkg/config/utils/go.sum
  pkg/logs/auditor/go.sum
  pkg/logs/diagnostic/go.sum
  pkg/logs/message/go.sum
  pkg/logs/sources/go.sum
  pkg/logs/util/testutils/go.sum
  pkg/util/flavor/go.sum
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#26217 Removed commented-out debug log
  pkg/network/ebpf/c/skb.h
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26373 OASIS-14: Change configprovider component to converter component
  cmd/otel-agent/subcommands/run/command.go
  comp/README.md
  comp/otelcol/converter/def/component.go
  comp/otelcol/converter/def/go.mod
  comp/otelcol/converter/def/go.sum
  comp/otelcol/converter/fx/fx.go
  comp/otelcol/converter/impl/converter.go
  comp/otelcol/converter/impl/converter_test.go
  comp/otelcol/converter/impl/go.mod
  comp/otelcol/converter/impl/go.sum
  comp/otelcol/converter/impl/testdata/dd/config-dd-result.yaml
  comp/otelcol/converter/impl/testdata/dd/config-dd.yaml
  comp/otelcol/converter/impl/testdata/nop/config-result.yaml
  comp/otelcol/converter/impl/testdata/nop/config.yaml
  comp/otelcol/provider/def/go.mod
  comp/otelcol/provider/def/go.sum
  comp/otelcol/provider/impl/go.mod
  comp/otelcol/provider/impl/go.sum
  comp/otelcol/provider/impl/provider.go
  comp/otelcol/provider/impl/provider_test.go
  go.mod
  tasks/modules.py
Labels: changelog/no-changelog, team/opentelemetry

#26591 fix TLS classification version tests
  pkg/network/ebpf/c/protocols/tls/tls.h
  pkg/network/protocols/tls/openssl/openssl.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26492 fix(ci): Set back the upload of windows tests to a dedicated step
  .gitlab/junit_upload/junit_upload.yml
Labels: changelog/no-changelog, qa/no-code-change

#26453 [pr-commenter] Updated create-vm message with commit sha
  .gitlab/notify/notify.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26139 [add-skip-ci-mq-check] Add skip ci check
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/common/skip_ci_check.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26538 typo
  pkg/security/common/containerutils/utils.go
Labels: community, changelog/no-changelog, team/agent-security, qa/no-code-change

#26390 [DevX] Disable Codecov comment on PRs
  .codecov.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26326 Dispatch job failure summaries / alerts to target team channels (ACIX-255)
  .github/workflows/send-failure-summary-notification.yml
  tasks/notify.py
  tasks/owners.py
  tasks/unit-tests/notify_tests.py
  tasks/unit-tests/testdata/jobowners.txt
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26254 [ASCII-1503] propagate telemetry component in pkg/network
  cmd/agent/subcommands/run/command.go
  cmd/system-probe/api/module/factory_linux.go
  cmd/system-probe/api/module/factory_others.go
  cmd/system-probe/api/module/loader.go
  cmd/system-probe/api/restart.go
  cmd/system-probe/api/server.go
  cmd/system-probe/modules/compliance.go
  cmd/system-probe/modules/crashdetect_windows.go
  cmd/system-probe/modules/dynamic_instrumentation.go
  cmd/system-probe/modules/ebpf.go
  cmd/system-probe/modules/eventmonitor.go
  cmd/system-probe/modules/language_detection.go
  cmd/system-probe/modules/network_tracer.go
  cmd/system-probe/modules/oom_kill_probe.go
  cmd/system-probe/modules/ping.go
  cmd/system-probe/modules/process.go
  cmd/system-probe/modules/tcp_queue_tracer.go
  cmd/system-probe/modules/traceroute.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollectorcomp.go
  pkg/cli/subcommands/check/command.go
  pkg/collector/corechecks/networkpath/networkpath.go
  pkg/commonchecks/corechecks.go
  pkg/network/dns/driver_windows.go
  pkg/network/dns/monitor_linux.go
  pkg/network/dns/monitor_windows.go
  pkg/network/dns/packet_source_windows.go
  pkg/network/dns/snooper_test.go
  pkg/network/driver/handle.go
  pkg/network/driver_interface.go
  pkg/network/driver_interface_test.go
  pkg/network/gateway_lookup_linux.go
  pkg/network/gateway_lookup_unsupported.go
  pkg/network/netlink/conntrack_debug.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/consumer_test.go
  pkg/network/nettop/main.go
  pkg/network/route_cache.go
  pkg/network/route_cache_test.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/conntracker_test.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/ebpf_conntracker_test.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/tracer/tracer_windows.go
  pkg/networkpath/traceroute/runner.go
  pkg/networkpath/traceroute/traceroute_darwin.go
  pkg/networkpath/traceroute/traceroute_linux.go
  pkg/networkpath/traceroute/traceroute_windows.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/no-code-change

#26594 fix panic in RemoveNameMappings
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/names.go
Labels: changelog/no-changelog, qa/no-code-change

#26450 [APM] Add obfuscation for OpenSearch traces
  comp/trace/config/setup.go
  pkg/config/config_template.yaml
  pkg/config/setup/apm.go
  pkg/obfuscate/json.go
  pkg/obfuscate/obfuscate.go
  pkg/trace/agent/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/config/config.go
  releasenotes/notes/add-opensearch-obfuscation-a26c678785bce376.yaml
Labels: team/agent-apm, qa/done

#26175 [EBPF] Add extra stats to KMT jobs
  .gitlab/kernel_matrix_testing/common.yml
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
  tasks/kernel_matrix_testing/ci.py
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#25966 [USM] Support for postgres truncate operation
  pkg/network/encoding/marshal/usm_postgres.go
  pkg/network/encoding/marshal/usm_postgres_test.go
  pkg/network/protocols/postgres/operations.go
  pkg/network/protocols/postgres/testutils.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/postgres_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26367 [CONTP-223] Allow entity level filtering for workloadmetadata subscribers
  cmd/cluster-agent/api/v1/languagedetection/util.go
  cmd/cluster-agent/api/v1/languagedetection/util_test.go
  comp/core/autodiscovery/listeners/container.go
  comp/core/autodiscovery/listeners/kubelet.go
  comp/core/autodiscovery/providers/container.go
  comp/core/workloadmeta/collectors/collectors.go
  comp/core/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/docker/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta_test.go
  comp/core/workloadmeta/def/component.go
  comp/core/workloadmeta/def/filter.go
  comp/core/workloadmeta/def/filter_test.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/impl/store.go
  comp/core/workloadmeta/impl/store_example_test.go
  comp/core/workloadmeta/impl/store_test.go
  comp/core/workloadmeta/impl/workloadmeta_mock.go
  comp/core/workloadmeta/proto/proto.go
  comp/core/workloadmeta/proto/proto_test.go
  comp/languagedetection/client/clientimpl/client.go
  pkg/cloudfoundry/containertagger/container_tagger.go
  pkg/clusteragent/autoscaling/workload/pod_watcher.go
  pkg/clusteragent/languagedetection/patcher.go
  pkg/collector/corechecks/containerimage/check.go
  pkg/collector/corechecks/containerlifecycle/check.go
  pkg/collector/corechecks/sbom/check.go
  pkg/process/metadata/workloadmeta/collector/process.go
  pkg/util/containers/metrics/system/filter_container.go
  pkg/util/kubernetes/apiserver/controllers/metadata_controller.go
Labels: kind/enhancement, changelog/no-changelog, qa/done, team/container-platform

#26245 [USMON-1010] unify http2 plaintext and TLS implementations
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding-tls.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26389 [CWS] bump path_id on first rename
  pkg/security/ebpf/c/include/helpers/filesystem.h
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#25809 [CWS] Allow setting a TTL on value sets
  LICENSE-3rdparty.csv
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/rules/actions.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#26132 [CONTP-220] default annotations exclusion for generic metadata collection
  comp/core/workloadmeta/collectors/internal/kubeapiserver/metadata.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/metadata_test.go
  pkg/config/setup/config.go
Labels: kind/enhancement, changelog/no-changelog, component/cluster-agent, team/container-platform

#26432 chore(kitchen/windows): adds support for multiple certs to be used for windows binaries signing verification
  test/kitchen/test/integration/common/rspec_datadog/spec_helper.rb
Labels: changelog/no-changelog, team/agent-build-and-releases, qa/no-code-changes

#26593 Update release.json and Go modules for 6/7.54.1-rc.1
  cmd/agent/common/path/go.mod
  comp/core/config/go.mod
  comp/core/hostname/hostnameinterface/go.mod
  comp/core/log/go.mod
  comp/core/secrets/go.mod
  comp/core/status/statusimpl/go.mod
  comp/core/telemetry/go.mod
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/logs/agent/config/go.mod
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/testutil/go.mod
  comp/serializer/compression/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/api/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/config/remote/go.mod
  pkg/config/setup/go.mod
  pkg/config/utils/go.mod
  pkg/gohai/go.mod
  pkg/logs/auditor/go.mod
  pkg/logs/client/go.mod
  pkg/logs/diagnostic/go.mod
  pkg/logs/message/go.mod
  pkg/logs/metrics/go.mod
  pkg/logs/pipeline/go.mod
  pkg/logs/processor/go.mod
  pkg/logs/sds/go.mod
  pkg/logs/sender/go.mod
  pkg/logs/sources/go.mod
  pkg/logs/util/testutils/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/security/seclwin/go.mod
  pkg/serializer/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/flavor/go.mod
  pkg/util/fxutil/go.mod
  pkg/util/grpc/go.mod
  pkg/util/hostname/validate/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  pkg/util/system/go.mod
  pkg/util/uuid/go.mod
  pkg/util/winutil/go.mod
  release.json
  test/fakeintake/go.mod
  test/new-e2e/go.mod
Labels: changelog/no-changelog, component/system-probe, category/release_operations, team/agent-release-management, qa/no-code-changes

#26252 [APM] Rename DD_APM_MAX_TPS config to DD_APM_TARGET_TPS
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  comp/trace/config/testdata/deprecated-max-tps-apm.yaml
  comp/trace/config/testdata/full.yaml
  comp/trace/config/testdata/undocumented.yaml
  pkg/config/config_template.yaml
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  pkg/config/setup/apm.go
  pkg/flare/envvars.go
  releasenotes/notes/apm-rename-target-tps-6e7fce5828fcccb4.yaml
  test/new-e2e/tests/apm/docker_test.go
  test/new-e2e/tests/apm/tests.go
Labels: team/agent-apm, team/agent-shared-components, qa/done

#26603 7.55.x: Backport #26540
  .gitlab/notify/notify.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience, backport/7.55.x

#26094 [ACIX-254] Send metrics on failure alerts
  tasks/notify.py
  tasks/owners.py
  tasks/unit-tests/notify_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26443 [acix-255] Remove deprecated notifications for all teams
  tasks/notify.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26485 Update the documentation to install the hooks
  docs/dev/agent_dev_env.md
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools

#26610 [CWS] fix process scoped vars
  pkg/security/rules/bundled_policy_provider_linux.go
  pkg/security/secl/compiler/eval/variables.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#26598 [EBPF] Allow more variants for image names in kmt.update-resources
  tasks/kernel_matrix_testing/download.py
  tasks/kernel_matrix_testing/vmconfig.py
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#26177 Add ci vis links to linux unit and e2e tests
  .gitlab/e2e/e2e.yml
  .gitlab/source_test/linux.yml
  tasks/__init__.py
  tasks/gitlab_helpers.py
  tasks/unit-tests/gitlab_helpers_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#26607 [CI] Fix XCode version detection
  tasks/libs/common/utils.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26589 [OASIS-12] Fix datadog exporter default configs
  cmd/otel-agent/config/agent_config.go
  cmd/otel-agent/config/agent_config_test.go
  cmd/otel-agent/config/testdata/config.yaml
  cmd/otel-agent/config/testdata/config_default.yaml
  comp/otelcol/otlp/components/exporter/datadogexporter/factory.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done

#26615 Backport #26609 to `7.55.x`: Bump github.com/mostynb/go-grpc-compression from 1.2.2 to 1.2.3
  go.mod
  go.sum
Labels: kind/security, team/containers, changelog/no-changelog, dependencies, category/bugfix, dependencies-go, bugfix/security, qa/no-code-change

#25519 Add OTel integration test
  .gitlab/integration_test/include.yml
  .gitlab/integration_test/otel.yml
  tasks/__init__.py
  tasks/gotest.py
  tasks/modules.py
  test/otel/.gitignore
  test/otel/README.md
  test/otel/dependencies.go.fake
  test/otel/go.mod.fake
Labels: changelog/no-changelog, team/opentelemetry, team/agent-developer-tools

#26569 Update trace agent component to new component structure
  cmd/otel-agent/subcommands/run/command.go
  cmd/trace-agent/subcommands/run/command.go
  comp/README.md
  comp/trace/agent/def/component.go
  comp/trace/agent/def/go.mod
  comp/trace/agent/fx/module.go
  comp/trace/agent/fx/module_mock.go
  comp/trace/agent/impl/agent.go
  comp/trace/agent/impl/agent_mock.go
  comp/trace/agent/impl/agent_nix.go
  comp/trace/agent/impl/agent_test.go
  comp/trace/agent/impl/agent_windows.go
  comp/trace/agent/impl/params.go
  comp/trace/agent/impl/run.go
  comp/trace/agent/impl/run_test.go
  comp/trace/bundle.go
  comp/trace/bundle_mock.go
  comp/trace/bundle_test.go
  go.mod
  tasks/modules.py
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa

#26372 Use a separate ReceiverTimeout value for EVPProxy handlers
  comp/trace/config/setup.go
  pkg/config/setup/config.go
  pkg/trace/api/api.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/evp_proxy.go
  pkg/trace/api/evp_proxy_test.go
  pkg/trace/config/config.go
Labels: changelog/no-changelog, team/agent-apm

#25473 [SVLS-3697] Fix missing post runtime duration metrics and log values after a shutdown
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/executioncontext/executioncontext_test.go
  pkg/serverless/logs/logs_collector.go
  pkg/serverless/logs/logs_test.go
Labels: kind/bug, changelog/no-changelog, team/serverless, qa/done

#26040 use eBPF program bypass feature
  go.mod
  go.sum
  pkg/ebpf/c/bpf_bypass.h
  pkg/ebpf/c/bpf_tracing.h
  pkg/network/config/config.go
  pkg/network/dns/ebpf.go
  pkg/network/ebpf/c/prebuilt/conntrack.c
  pkg/network/ebpf/c/prebuilt/usm.c
  pkg/network/ebpf/c/protocols/sockfd-probes.h
  pkg/network/ebpf/c/protocols/tls/java/erpc_dispatcher.h
  pkg/network/ebpf/c/protocols/tls/native-tls.h
  pkg/network/ebpf/c/runtime/conntrack.c
  pkg/network/ebpf/c/runtime/usm.c
  pkg/network/ebpf/c/shared-libraries/probes.h
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/tcp_recv.h
  pkg/network/protocols/types.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_classification_linux_test.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/tracer/tracer_windows.go
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/monitor.go
  pkg/network/usm/sharedlibraries/ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#25835 Add support for logs to the infra attributes processor.
  comp/otelcol/otlp/components/processor/infraattributesprocessor/factory.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/logs.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/logs_test.go
Labels: changelog/no-changelog, team/opentelemetry

#26608 Handle potential `GitlabJobPlayError` when running a cleanup job
  tasks/libs/pipeline/tools.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#25659 [CI] Add unit tests and linter jobs on macOS Gitlab amd64 runners
  .gitlab/source_test/macos.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26616 fix(installer): Properly stop installer unit at experiment stop
  pkg/fleet/installer/installer.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#26601 Add the recommended extensions for VSCode
  .vscode/.gitignore
  .vscode/extensions.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#26563 [backport]fix(release): Get only tags that are on the current branch
  tasks/libs/common/utils.py
  tasks/unit-tests/utils_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#26255 USM: add MySQL classification to TLS classifier
  pkg/network/ebpf/c/protocols/mysql/helpers.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/mysql/client.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/mysql/testdata/docker-compose.yml
  pkg/network/protocols/mysql/testdata/runner.sh
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/testutil/tls_settings.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/postgres_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#26171 [EBPF] Test correct packaging of eBPF files
  omnibus/package-scripts/agent-deb/prerm
  omnibus/package-scripts/agent-rpm/prerm
  pkg/collector/corechecks/ebpf/c/runtime/ebpf-kern.c
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/c/runtime/tcp-queue-length-kern.c
  pkg/ebpf/c/bpf_metadata.h
  pkg/ebpf/testdata/c/logdebug-test.c
  pkg/network/ebpf/c/co-re/tracer-fentry.c
  pkg/network/ebpf/c/prebuilt/conntrack.c
  pkg/network/ebpf/c/prebuilt/dns.c
  pkg/network/ebpf/c/prebuilt/offset-guess.c
  pkg/network/ebpf/c/prebuilt/shared-libraries.c
  pkg/network/ebpf/c/prebuilt/usm.c
  pkg/network/ebpf/c/prebuilt/usm_events_test.c
  pkg/network/ebpf/c/runtime/conntrack.c
  pkg/network/ebpf/c/runtime/offsetguess-test.c
  pkg/network/ebpf/c/runtime/shared-libraries.c
  pkg/network/ebpf/c/runtime/usm.c
  pkg/network/ebpf/c/tracer.c
  pkg/security/ebpf/c/prebuilt/offset-guesser.c
  pkg/security/ebpf/c/prebuilt/probe.c
  pkg/security/tests/syscall_tester/c/ebpf_probe.c
  tasks/system_probe.py
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/agent-platform/step-by-step/step_by_step_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done
