Repository DataDog/datadog-agent, pull requests merged in 2024-08, with the labels that each got.

#28010 [CWS] clean up activity dump header JSON serialization
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/dump/activity_dump_easyjson.go
  pkg/security/security_profile/dump/activity_dump_easyjson.mock
  pkg/security/security_profile/dump/manager_test.go
  pkg/security/security_profile/dump/remote_storage.go
  tasks/security_agent.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#27674 [CWS] Rework ptracer main func
  pkg/security/ptracer/cws.go
  pkg/security/ptracer/hooks.go
  pkg/security/ptracer/proc.go
  pkg/security/ptracer/ptracer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#27059 [CWS] Replace 64 bits trace ID by 128 bits for ebpf and ebpfless
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  go.mod
  pkg/security/ebpf/c/include/helpers/span.h
  pkg/security/ebpf/c/include/structs/events_context.h
  pkg/security/proto/ebpfless/msg.go
  pkg/security/ptracer/span.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_helpers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/seclwin/go.mod
  pkg/security/seclwin/go.sum
  pkg/security/seclwin/model/model.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_enc_v1.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/tests/activity_dumps_test.go
  pkg/security/tests/schemas/span_context.json
  pkg/security/tests/span_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#28117 fix(installer): Pull & build datadog-packages from Gitlab (#27970)
  .gitlab/deploy_packages/oci.yml
  .gitlab/packaging/oci.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery

#28116 fix(installer): Pull & build datadog-packages from Gitlab (#27970)
  .gitlab/deploy_packages/oci.yml
  .gitlab/packaging/oci.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery

#28101 [ASCII-2108] Fix CVE-2024-41110 (backport #28085)
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  go.mod
  go.sum
  releasenotes/notes/fix-cve-CVE-2024-41110-6e219c863c9f08e0.yaml
Labels: dependencies, dependencies-go, bugfix/security, qa/no-code-change

#28100 [ASCII-2108] Fix CVE-2024-41110 (backport #28085)
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  go.mod
  go.sum
  releasenotes/notes/fix-cve-CVE-2024-41110-6e219c863c9f08e0.yaml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/agent-metrics-logs/log-agent/listener/tcp_test.go
Labels: dependencies, dependencies-go, bugfix/security, qa/no-code-change

#27547 [ASCII-1977] Use configuration pubsub system to update log_level
  cmd/serverless/dependencies_linux_amd64.txt
  cmd/serverless/dependencies_linux_arm64.txt
  cmd/serverless/main.go
  comp/core/log/impl-systemprobe/systemprobe_logger.go
  comp/core/log/impl-trace/go.mod
  comp/core/log/impl-trace/trace_logger.go
  comp/core/log/impl/go.mod
  comp/core/log/impl/logger.go
  comp/core/log/mock/go.mod
  comp/core/log/mock/mock.go
  comp/core/status/statusimpl/go.mod
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/trace/config/config.go
  comp/trace/config/setup.go
  go.mod
  pkg/config/aliases.go
  pkg/config/settings/runtime_setting_log_level.go
  pkg/config/utils/miscellaneous.go
  pkg/serializer/go.mod
  pkg/util/log/log.go
  pkg/util/log/setup/defatults_darwin.go
  pkg/util/log/setup/defaults_nix.go
  pkg/util/log/setup/go.mod
  pkg/util/log/setup/go.sum
  pkg/util/log/setup/internal/seelog/seelog_config.go
  pkg/util/log/setup/log.go
  pkg/util/log/setup/log_format.go
  pkg/util/log/setup/log_format_serverless.go
  pkg/util/log/setup/log_nix.go
  pkg/util/log/setup/log_nix_test.go
  pkg/util/log/setup/log_test.go
  pkg/util/log/setup/log_windows.go
  tasks/modules.py
  test/otel/go.mod.fake
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#28122 [CWS] ebpfless: do not fallback on negative fds
  pkg/security/ptracer/process.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#28111 [ASCII-2099] Update Go version to 1.21.12
  .circleci/config.yml
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/bump-go-to-1.21.12-b77332e852c843c1.yaml
  tasks/go.py
  test/fakeintake/Dockerfile
  tools/gdb/Dockerfile
Labels: qa/no-code-change, backport/7.55.x

#28119 fix ecs feature flag
  pkg/collector/corechecks/orchestrator/ecs/ecs_test.go
  pkg/orchestrator/config/config.go
Labels: changelog/no-changelog, team/container-app

#28123 [notify] Fix consecutive / cumulative job alert URLs
  tasks/libs/notify/alerts.py
  tasks/libs/notify/utils.py
  tasks/libs/pipeline/notifications.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28124 Fix `*/TestCLI/agent_CLI/agent_check_-r_container` e2e test
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/no-code-change

#28128 Fix the k8s cluster state dump in e2e tests
  test/new-e2e/tests/containers/dump_cluster_state.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/no-code-change

#28112 use slice for NPM connection tags
  pkg/network/encoding/marshal/format.go
  pkg/network/encoding/marshal/format_test.go
  pkg/network/event_common.go
  pkg/network/tracer/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28108 [NPM] Optimize memory allocation in TCP Failures path
  cmd/system-probe/config/adjust_npm.go
  pkg/config/setup/system_probe.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/tracer/connection/failure/failed_conn_consumer.go
  pkg/network/tracer/connection/failure/matching.go
  pkg/network/tracer/connection/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#27906 [agent] Stop chunking manual check output
  cmd/process-agent/subcommands/check/check.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_check_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_common_test.go
  pkg/process/checks/process_discovery_check.go
  pkg/process/checks/process_discovery_check_test.go
  pkg/process/checks/process_events_linux_test.go
  pkg/process/checks/process_test.go
  releasenotes/notes/process-agent-stop-chunking-46a1a6b7f48bde14.yaml
  test/new-e2e/tests/process/windows_test.go
Labels: team/processes, qa/done

#28095 [CONTP-62] Add external_metrics_provider.api_key and app_key to secret allowlistpath
  comp/core/secrets/secretsimpl/secrets.go
Labels: changelog/no-changelog, team/agent-shared-components, team/container-platform

#28140 fix linter execution time wrong section
  tasks/linter.py
Labels: changelog/no-changelog, qa/done

#28131 [ASCII-2115] add OTLP section in the GUI
  comp/otelcol/collector/impl-pipeline/status.go
  comp/otelcol/collector/impl-pipeline/status_templates/otlpHTML.tmpl
  comp/otelcol/collector/impl-pipeline/status_test.go
  releasenotes/notes/fix-otlp-status-out-gui-7c34339ac01c1532.yaml
Labels: qa/done, backport/7.56.x

#28132 Fixed failure summaries
  tasks/gitlab_helpers.py
  tasks/libs/notify/failure_summary.py
  tasks/libs/notify/utils.py
  tasks/libs/pipeline/data.py
  tasks/notify.py
  tasks/unit_tests/libs/notify/utils_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28099 [ASCII-2112] Increase test timeout to avoid flakiness
  comp/core/configsync/configsyncimpl/sync_integration_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#28134 [CWS] add a CORE support rule filter
  pkg/compliance/agent.go
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/rules/engine.go
  pkg/security/rules/rule_filters_model.go
  pkg/security/rules/rule_filters_model_linux.go
  pkg/security/rules/rule_filters_model_other.go
  pkg/security/tests/rule_filters_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28141 [Backport 7.56.x][NPM] Optimize memory allocation in TCP Failures path (#28108)
  cmd/system-probe/config/adjust_npm.go
  pkg/config/setup/system_probe.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/tracer/connection/failure/failed_conn_consumer.go
  pkg/network/tracer/connection/failure/matching.go
  pkg/network/tracer/connection/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28118 add `remotewmonly` build tag to include only remote collectors
  comp/core/workloadmeta/collectors/all_options.go
  comp/core/workloadmeta/collectors/collectors.go
  comp/core/workloadmeta/collectors/remote_options.go
  tasks/build_tags.py
Labels: changelog/no-changelog, qa/done, team/container-platform

#28137 Struct Tags need to be copied by ProviderComponentConstructor
  pkg/util/fxutil/provide_comp.go
  pkg/util/fxutil/provide_comp_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#28096 upgrade(fleet): Add new Fleet Policies layer & loader
  comp/core/config/params.go
  comp/core/config/setup.go
  comp/core/settings/settingsimpl/settingsimpl_test.go
  comp/metadata/inventoryagent/README.md
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  comp/metadata/securityagent/README.md
  comp/metadata/securityagent/impl/security_agent.go
  pkg/config/model/types.go
  pkg/config/model/viper.go
  pkg/config/model/viper_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, team/fleet-automation

#28157 [CWS] remove useless approver code and improve readability
  pkg/security/probe/kfilters/bpf.go
  pkg/security/probe/kfilters/capabilities.go
  pkg/security/probe/kfilters/capabilities_linux.go
  pkg/security/probe/kfilters/capabilities_windows.go
  pkg/security/probe/kfilters/mmap.go
  pkg/security/probe/kfilters/mprotect.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/kfilters/splice.go
  pkg/security/secl/rules/approvers.go
  pkg/security/secl/rules/capabilities.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28097 Collect SystemInfo for Pods and ECS Tasks
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/ecs/task.go
  pkg/collector/corechecks/cluster/orchestrator/processors/ecs/task.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/collector/corechecks/orchestrator/ecs/ecs.go
  pkg/collector/corechecks/orchestrator/ecs/ecs_test.go
  pkg/collector/corechecks/orchestrator/pod/pod.go
  releasenotes/notes/releasenotes-bc8a48e994edc6ef.yaml
Labels: team/container-app

#27959 Refactoring autoinstrumentation webhook in prep for auto-instrumentation-v2
  pkg/clusteragent/admission/mutate/autoinstrumentation/annotation_extractor.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/annotation_extractor_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_util_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/env_vars.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/language_versions.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/lib_config.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/lib_requirement.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/mutators.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/mutators_test.go
  pkg/clusteragent/admission/mutate/common/common.go
  pkg/clusteragent/admission/mutate/common/test_utils.go
Labels: changelog/no-changelog, team/apm-onboarding

#28158 [Documentation] Fix links to current install page in-app
  README.md
  cmd/agent/install_script.sh
Labels: documentation, changelog/no-changelog, qa/no-code-change

#28133 Align collector-contrib to use new component layout and fxutil helpers
  comp/otelcol/collector-contrib/fx/fx.go
  comp/otelcol/collector-contrib/impl/collectorcontrib.go
  comp/otelcol/collector-contrib/impl/components.go
  tasks/collector.py
  tasks/components.py
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#28161 [E2e] Log the output of CLI commands when tests fail
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/no-code-change

#28081 use builtin min and max functions
  comp/forwarder/defaultforwarder/internal/retry/disk_usage_limit.go
  pkg/collector/corechecks/system/wincrashdetect/probe/crashparse.go
  pkg/gohai/processes/gops/gops.go
  pkg/logs/internal/parsers/dockerstream/docker_stream.go
  pkg/logs/internal/util/containersorpods/containers_or_pods.go
  pkg/network/driver_interface.go
  pkg/network/event_common.go
  pkg/network/protocols/events/batch_offsets.go
  pkg/process/checks/net.go
  pkg/trace/sampler/rare_sampler_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#28138 use accurate size when allocating DNAT map
  pkg/network/state.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28144 [ASCII-2079] Add password log scrubber pattern
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
Labels: changelog/no-changelog, qa/done

#28076 [CONTINT-4332] Expose pod runtimeclass as tag
  comp/core/tagger/taggerimpl/collectors/workloadmeta_extract.go
  comp/core/tagger/taggerimpl/collectors/workloadmeta_test.go
  comp/core/tagger/tags/tags.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/pod.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/proto/proto.go
  comp/core/workloadmeta/proto/proto_test.go
  pkg/proto/datadog/workloadmeta/workloadmeta.proto
  pkg/proto/pbgo/core/workloadmeta.pb.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes/notes/expose-runtime-class-pods-5a75d5cff37ea743.yaml
Labels: team/containers

#28177 [ASCII-2079] Add more real log tests for password scrubbing
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
Labels: changelog/no-changelog, qa/done

#28126 (fleet) remove call to chown -R in repository
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/repository/repositories.go
  pkg/fleet/installer/repository/repositories_test.go
  pkg/fleet/installer/repository/repository.go
  pkg/fleet/installer/repository/repository_test.go
  pkg/fleet/installer/service/datadog_agent.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/package_agent_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28181 [USMON-1140] remove redundant code from tests
  pkg/network/usm/tests/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change

#27400 [USM] Handle Istio binary path
  pkg/config/setup/system_probe.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/istio.go
  pkg/network/usm/istio_test.go
  pkg/network/usm/utils/pathutils.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28155 [golangci-lint] Bump v1.59.1
  internal/tools/go.mod
  internal/tools/go.sum
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28163 fix(stale-branches): Update exclusions
  repository.datadog.yml
Labels: changelog/no-changelog, qa/no-code-change

#28165 [CWS] remove multiple event type per expression internal support
  pkg/security/secl/compiler/eval/errors.go
  pkg/security/secl/compiler/eval/event.go
  pkg/security/secl/compiler/eval/macro.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/secl/rules/testutil.go
  pkg/security/secl/validators/rule_structure_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28168 Submit metric directly from autoscaling controller to notify availability
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/autoscaling/controller.go
  pkg/clusteragent/autoscaling/processor.go
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/provider.go
  pkg/clusteragent/autoscaling/workload/telemetry.go
Labels: changelog/no-changelog, qa/done

#27471 Fix container.net.* metrics accuracy and tagging
  pkg/collector/corechecks/containers/generic/processor_network.go
  pkg/collector/corechecks/containers/generic/processor_network_test.go
  pkg/util/containers/metrics/system/collector_network_linux.go
  pkg/util/containers/metrics/system/collector_network_linux_test.go
  pkg/util/system/file_linux.go
  pkg/util/system/namespace_linux.go
  pkg/util/system/namespace_linux_test.go
  pkg/util/system/network_linux.go
  pkg/util/system/network_linux_test.go
  releasenotes/notes/fix-container-net-3feaf380bed1a51d.yaml
Labels: kind/bug, team/containers, category/bugfix

#28187 [E2e] Get unlimited logs of restarted containers
  test/new-e2e/tests/containers/dump_cluster_state.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/no-code-change

#28188 Update CHANGELOG-DCA.rst for 7.55.3
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: team/agent-build-and-releases, backport/main, team/container-platform

#28167 [CWS] make approver/kfilter naming a bit more consistent
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/approvers_test.go
  pkg/security/probe/kfilters/bpf.go
  pkg/security/probe/kfilters/kfilters_bpf.go
  pkg/security/probe/kfilters/mmap.go
  pkg/security/probe/kfilters/mprotect.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/kfilters/splice.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/rules/approvers.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28183 get-failed-jobs: Fixed infra / non infra failure filtering
  tasks/libs/pipeline/data.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28192 [github] Update CODEOWNERS for root files
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28036 add test cases and validation code for OTEL-1986
  tasks/collector.py
  tasks/unit_tests/collector_tests.py
  tasks/unit_tests/testdata/collector/awscontainerinsightreceiver_manifest.yaml
  tasks/unit_tests/testdata/collector/datadogconnector_manifest.yaml
  tasks/unit_tests/testdata/collector/datadogexporter_manifest.yaml
  tasks/unit_tests/testdata/collector/healthcheckextension_manifest.yaml
  tasks/unit_tests/testdata/collector/mismatched_versions_manifest.yaml
  tasks/unit_tests/testdata/collector/outdated_version_manifest.yaml
  tasks/unit_tests/testdata/collector/pprofextension_manifest.yaml
  tasks/unit_tests/testdata/collector/prometheusreceiver_manifest.yaml
  tasks/unit_tests/testdata/collector/valid_datadog_manifest.yaml
  tasks/unit_tests/testdata/collector/valid_manifest_without_specified_version.yaml
  tasks/unit_tests/testdata/collector/zpagesextension_manifest.yaml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#28171 APM: Update gomaxprocs value BEFORE we use it in creating the trace-agent
  comp/trace/agent/impl/agent.go
  comp/trace/agent/impl/run.go
  releasenotes/notes/trace-agent-gomaxprocs-9d8660446a7473b5.yaml
Labels: team/agent-apm

#28195 tagger: fix typo in `NodeAgentOptionsForSecurityResolvers`
  comp/core/tagger/taggerimpl/remote/tagger.go
  pkg/security/resolvers/tags/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#27603 pkg/trace: refactor peer tags config and add to info endpoint
  comp/core/log/impl-trace/go.mod
  comp/core/log/impl-trace/go.sum
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/config/peer_tags.go
  pkg/trace/config/peer_tags.ini
  pkg/trace/config/peer_tags_test.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/aggregation_test.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/stats/client_stats_aggregator_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/otel_util.go
  pkg/trace/stats/statsraw.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/testutil/stats.go
Labels: changelog/no-changelog, team/agent-apm

#28193 discovery: Add system-probe module to CI
  .github/labeler.yml
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/usm, qa/done

#28185 Fix golangci-lint config warnings
  .golangci.yml
Labels: dev/tooling, changelog/no-changelog, qa/no-code-change

#28186 Extend `module.for-each` invoke task
  tasks/modules.py
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#28088 Add AWS Neuron metric origin
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
  releasenotes/notes/aws_neuron_origin-98d361379b1c1a7b.yaml
Labels: team/agent-metrics-logs, team/agent-processing-and-routing

#28162 [revive] allow unused variables starting with underscore
  .golangci.yml
Labels: dev/tooling, changelog/no-changelog, qa/no-code-change, team/agent-devx-loops

#28106 fix system-probe log_level runtime setting
  cmd/system-probe/subcommands/run/command.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#28170 [NPM] skip eexist errors in bpf telemetry
  pkg/network/ebpf/c/tracer.c
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28174 add NPM connection batch extractor
  pkg/network/tracer/connection/batch_extractor.go
  pkg/network/tracer/connection/batch_extractor_test.go
  pkg/network/tracer/connection/perf_batching.go
  pkg/network/tracer/connection/perf_batching_test.go
  pkg/network/tracer/connection/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28179 improve invalid gMSA error message
  releasenotes/notes/msi-invalid-gmsa-error-message-d6943b9dc18a0cd7.yaml
  tools/windows/DatadogAgentInstaller/CustomActions/Native/NativeMethods.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ProcessUserCustomActions.cs
Labels: team/windows-agent, qa/done

#28143 delete subdirs on uninstall instead of top-level dir
  .gitlab/kitchen_testing/new-e2e_testing/windows.yml
  releasenotes/notes/msi-uninstall-scope-install-dir-deletion-a5540d2d3523a399.yaml
  test/new-e2e/tests/windows/common/registry.go
  test/new-e2e/tests/windows/install-test/install_test.go
  tools/windows/DatadogAgentInstaller/CustomActions/CleanUpFilesCustomAction.cs
  tools/windows/DatadogAgentInstaller/CustomActions/InstallStateCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentInstaller.cs
Labels: team/windows-agent, qa/done

#27559 [PROCS-3946][PROCS-4193][PROCS-4192] Add local process collector for language detection
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_nop.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_test.go
  comp/core/workloadmeta/collectors/internal/process/process_data.go
  comp/core/workloadmeta/collectors/internal/process/stub.go
  comp/core/workloadmeta/def/types.go
  pkg/process/metadata/workloadmeta/collector/process.go
  pkg/process/metadata/workloadmeta/collector/process_test.go
  pkg/process/metadata/workloadmeta/extractor.go
  pkg/process/metadata/workloadmeta/extractor_test.go
  pkg/process/metadata/workloadmeta/grpc.go
  pkg/process/util/containers/containers.go
  pkg/process/util/containers/mocks/containers.go
  releasenotes/notes/process-language-detection-core-edd5b24aa71e99ba.yaml
  test/new-e2e/tests/language-detection/etc/core_config.yaml
  test/new-e2e/tests/language-detection/etc/core_config_no_check.yaml
  test/new-e2e/tests/language-detection/etc/process_config_no_check.yaml
  test/new-e2e/tests/language-detection/language_detection_test.go
  test/new-e2e/tests/language-detection/node_test.go
  test/new-e2e/tests/language-detection/python_test.go
Labels: team/processes, qa/done, team/container-platform

#28184 Add `gocheckcompilerdirectives` linter and fix warnings
  .golangci.yml
  cmd/system-probe/modules/traceroute_linux.go
  cmd/system-probe/modules/traceroute_windows.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  comp/snmptraps/packet/test_helpers.go
  pkg/networkpath/traceroute/tcp/utils_test.go
Labels: dev/tooling, changelog/no-changelog, component/system-probe, qa/no-code-change

#28203 Do not print execution time in headless mode in Go linter task
  tasks/linter.py
Labels: changelog/no-changelog, qa/no-code-change

#28052 Remove deprecated `CI_ENABLE_CONTAINER_IMAGE_BUILDS`
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/fakeintake.yml
Labels: changelog/no-changelog, qa/done

#28200 Add a config to enable happy eyeball in http transport
  pkg/config/setup/config.go
  pkg/util/http/transport.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#28202 fix(build-rc): Use correct semantic version ordering
  tasks/libs/releasing/version.py
  tasks/unit_tests/version_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#28051 discovery: Add system-probe endpoint for service list
  pkg/collector/corechecks/servicediscovery/errors.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/testdata/docker-compose.yml
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/service_detector_test.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  pkg/collector/corechecks/servicediscovery/telemetry.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28204 Deploy Image Goland Task
  .run/Publish Docker.run.xml
  .run/bash_runner.sh
  .run/deploy_image.sh
Labels: changelog/no-changelog, team/usm, qa/done, team/agent-devx-loops

#27648 Make JSON output available for diagnose command
  cmd/agent/subcommands/diagnose/README.md
  cmd/agent/subcommands/diagnose/command.go
  cmd/cluster-agent/subcommands/diagnose/command.go
  comp/api/api/apiimpl/internal/agent/agent.go
  pkg/diagnose/diagnosis/loader.go
  pkg/diagnose/runner.go
  pkg/diagnose/runner_test.go
  pkg/flare/archive.go
  pkg/flare/diagnose.go
  releasenotes/notes/add-jdon-output-for-diagnose-command-35adf0f143c27f79.yaml
  test/new-e2e/tests/agent-shared-components/api/api_test.go
Labels: team/agent-shared-components

#27462 Fix Cluster Agent triggering error logs in APIServer about external metrics OpenAPI spec
  LICENSE-3rdparty.csv
  cmd/cluster-agent/custommetrics/server.go
  go.mod
  go.sum
  pkg/clusteragent/autoscaling/custommetrics/api/generated/openapi/zz_generated.openapi.go
  pkg/clusteragent/autoscaling/custommetrics/api/openapi-gen.go
  releasenotes-dca/notes/extmetrics-openapi-error-logs-c285d6a70e167caf.yaml
  tasks/cluster_agent.py
  tools/boilerplate.go.txt
Labels: kind/bug, team/containers, component/cluster-agent, category/bugfix, bugfix/functional, qa/done

#28233 [SBOM] Fix package database directory on Alpine
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-cspm, qa/done, backport/7.56.x

#28211 add comp/core/tagger/utils module
  comp/core/tagger/utils/go.mod
  comp/core/tagger/utils/go.sum
  go.mod
  tasks/modules.py
Labels: changelog/no-changelog, qa/done, team/container-platform

#28198 usm: classification: tls: Do not classify a classified connection in a socket filter
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/usm/monitor_testutil.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#27905 [NDM][Cisco SD-WAN] Enable sending cloud application metrics
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metrics.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metrics_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/sdwan.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/sdwan_test.go
  releasenotes/notes/cisco-sdwan-cloud-application-metrics-25c456dab15a3bfc.yaml
Labels: team/network-device-monitoring

#28205 [ASCII-2079] Backport password log scrubbing rule for 7.56.x
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
Labels: changelog/no-changelog, qa/done, backport/7.56.x

#28248 ensure proper locking in Add method of reflector store
  comp/core/workloadmeta/collectors/internal/kubeapiserver/reflector_store.go
Labels: changelog/no-changelog, component/cluster-agent, qa/done, team/container-platform

#28232 fix(installer): Retry layer extracts on upstream internal errors
  pkg/fleet/internal/oci/download.go
  pkg/fleet/internal/oci/download_test.go
  pkg/fleet/internal/tar/tar.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28246 bump(codeql): Remove the fixed cli version to be able to update the action
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog, qa/no-code-change

#28247 [ASCII-2117] Fix test failure
  pkg/config/setup/config_secret_test.go
Labels: changelog/no-changelog, qa/done

#28107 APM: pull span stats concentration into separate struct
  comp/trace/config/setup.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/span_concentrator.go
Labels: changelog/no-changelog, team/agent-apm, team/opentelemetry

#28053 fix label and env format
  Dockerfiles/agent/Dockerfile
Labels: changelog/no-changelog, qa/done

#28147 [CWS] Restore ability to trigger dump over gRPC
  cmd/security-agent/subcommands/runtime/activity_dump.go
  cmd/security-agent/subcommands/runtime/activity_dump_test.go
  cmd/system-probe/subcommands/runtime/activity_dump.go
  cmd/system-probe/subcommands/runtime/activity_dump_test.go
  pkg/security/agent/client.go
  pkg/security/agent/mocks/security_module_client_wrapper.go
  pkg/security/proto/api/api.pb.go
  pkg/security/proto/api/api.proto
  pkg/security/proto/api/api_grpc.pb.go
  pkg/security/proto/api/api_vtproto.pb.go
  pkg/security/proto/api/mocks/security_module_client.go
  pkg/security/proto/api/mocks/security_module_server.go
  pkg/security/security_profile/dump/manager.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28253 [CWS] Avoid procfs scanning multiple time per tick
  pkg/security/ptracer/proc.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#28256 fix(junit): Add the line separator in job_env repack
  tasks/libs/common/junit_upload_core.py
Labels: changelog/no-changelog, qa/no-code-change

#28254 Retry the go cache jobs twice instead of once
  .gitlab/deps_fetch/deps_fetch.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28074 Add config to re-enable support of arbitrary container-id for containerd
  pkg/config/setup/config.go
  pkg/util/containers/metrics/system/collector_linux.go
  pkg/util/containers/metrics/system/filter_container.go
  pkg/util/trie/trie.go
  pkg/util/trie/trie_test.go
Labels: team/containers, changelog/no-changelog, qa/done

#28242 Adding some extra asserts to debug falky tests in dogstatsd server_test
  comp/dogstatsd/server/server_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change

#28206 [OTEL-1726] Respect span.type attr in otel_util
  pkg/trace/traceutil/otel_util.go
  pkg/trace/traceutil/otel_util_test.go
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change

#28245 discovery: Get service list and names from system-probe
  .github/CODEOWNERS
  pkg/collector/corechecks/servicediscovery/errors.go
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_mock.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/service_detector_test.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_windows.go
Labels: changelog/no-changelog, team/usm, qa/done

#28227 [apm] aggregate peer tag stats on consumer spans
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/aggregation_test.go
  releasenotes/notes/apm-aggregate-peer-tag-stats-on-consumer-spans-2d90583d14611468.yaml
Labels: team/agent-apm, team/opentelemetry, qa/done

#27453 Convert `test/otel` into a module
  tasks/gotest.py
  tasks/modules.py
  test/otel/.gitignore
  test/otel/dependencies.go
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, team/opentelemetry, qa/done

#28142 [NETPATH-175] add maxContexts to pathteststore
  comp/networkpath/npcollector/npcollectorimpl/config.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  comp/networkpath/npcollector/npcollectorimpl/pathteststore/pathteststore.go
  comp/networkpath/npcollector/npcollectorimpl/pathteststore/pathteststore_test.go
  pkg/config/setup/config.go
  releasenotes/notes/network-path-add-max-path-config-91d70b05b0db086a.yaml
Labels: team/networks, team/network-device-monitoring

#28156 [network path] Rename hop.success to hop.reachable
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  pkg/networkpath/payload/pathevent.go
  pkg/networkpath/telemetry/telemetry.go
  pkg/networkpath/telemetry/telemetry_test.go
  pkg/networkpath/traceroute/runner.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring

#28258 Fix the retry mechanism when downloading Go dependencies and tools
  tasks/install_tasks.py
  tasks/libs/common/go.py
  tasks/libs/common/retry.py
Labels: changelog/no-changelog, qa/no-code-change

#28252 discovery: Report open ports
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/service_detector_test.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  pkg/collector/corechecks/servicediscovery/servicetype/servicetype.go
  pkg/collector/corechecks/servicediscovery/servicetype/servicetype_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28265 fix(fleet): Dump logs of the experimental installer during tests errors
  test/new-e2e/tests/installer/upgrade_scenario_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation

#27620 USMON-830: Kafka fetch latency
  pkg/network/ebpf/c/protocols/kafka/defs.h
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/ebpf/c/protocols/kafka/types.h
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/marshal/usm_kafka.go
  pkg/network/protocols/common.go
  pkg/network/protocols/http/debugging/debugging.go
  pkg/network/protocols/kafka/debugging/debugging.go
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/protocols/kafka/statkeeper.go
  pkg/network/protocols/kafka/statkeeper_test.go
  pkg/network/protocols/kafka/stats.go
  pkg/network/protocols/kafka/stats_test.go
  pkg/network/protocols/kafka/telemetry.go
  pkg/network/protocols/kafka/types.go
  pkg/network/protocols/kafka/types_linux.go
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm

#28266 Fix the `test_on_branch` Python unit tests on nightly branches
  tasks/unit_tests/version_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#28260 [NDM][Cisco SD-WAN] Enable sending BGP neighbor metrics
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metrics.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metrics_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/sdwan.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/sdwan_test.go
  releasenotes/notes/cisco-sdwan-bgp-neighbor-metrics-1bbf0a7161d3028a.yaml
Labels: team/network-device-monitoring, qa/done

#28255 discovery: Report PID
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
Labels: changelog/no-changelog, team/usm, qa/done

#28270 Handle unregistered teams in the `chase_release_managers` task and fix a link
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#28257 fix(compare_to_self): Push an empty commit to prevent confusion
  tasks/pipeline.py
  tasks/unit_tests/pipeline_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#28229 [apm] add ip address peer tag quantization
  pkg/obfuscate/ip_address.go
  pkg/obfuscate/ip_address_test.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/statsraw_test.go
  releasenotes/notes/apm-quantize-ip-addresses-on-peer-tags-f409b4e789a47875.yaml
Labels: team/agent-apm, qa/done

#28172 Create a secondary collector catalog for WorkloadMeta.
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/jmx/command.go
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/process-agent/command/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/trace-agent/subcommands/run/command.go
  comp/core/workloadmeta/collectors/catalog-less/catalog.go
  comp/core/workloadmeta/collectors/catalog-less/options.go
  comp/core/workloadmeta/collectors/catalog/all_options.go
  comp/core/workloadmeta/collectors/catalog/catalog.go
  comp/core/workloadmeta/collectors/catalog/remote_options.go
  pkg/cli/subcommands/check/command.go
  test/integration/corechecks/docker/main_test.go
  test/integration/listeners/docker/docker_listener_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#27983 feat(ssm): Add a new linter on ssm param used in the gitlab configuration
  .gitlab-ci.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/choco_deploy/choco_deploy.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/deploy_packages/oci.yml
  .gitlab/deploy_packages/winget.yml
  .gitlab/integration_test/windows.yml
  .gitlab/source_test/notify.yml
  tasks/linter.py
  tasks/unit_tests/linter_tests.py
  tools/ci/docker-login.ps1
Labels: changelog/no-changelog, qa/no-code-change

#28276 BARX-500 removes the retries for the install agent 7 and 6
  .gitlab/kitchen_testing/new-e2e_testing.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery

#28067 feat(fleet): Add "remote config file" config layer
  cmd/agent/command/command.go
  cmd/agent/subcommands/check/command.go
  cmd/agent/subcommands/configcheck/command.go
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/dogstatsd/command.go
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/hostname/command.go
  cmd/agent/subcommands/integrations/command.go
  cmd/agent/subcommands/jmx/command.go
  cmd/agent/subcommands/processchecks/command.go
  cmd/agent/subcommands/remoteconfig/command.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/snmp/command.go
  cmd/agent/subcommands/status/command.go
  cmd/process-agent/command/command.go
  cmd/process-agent/command/main_common.go
  cmd/process-agent/flags/flags_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/security-agent/command/command.go
  cmd/security-agent/subcommands/check/command.go
  cmd/security-agent/subcommands/compliance/command.go
  cmd/security-agent/subcommands/config/config.go
  cmd/security-agent/subcommands/runtime/activity_dump.go
  cmd/security-agent/subcommands/runtime/command.go
  cmd/security-agent/subcommands/runtime/deprecated_commands.go
  cmd/security-agent/subcommands/runtime/security_profile.go
  cmd/security-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/status/command.go
  cmd/security-agent/subcommands/version/command.go
  cmd/security-agent/subcommands/workloadlist/command.go
  cmd/system-probe/command/command.go
  cmd/system-probe/config/config.go
  cmd/system-probe/config/config_linux_test.go
  cmd/system-probe/config/config_test.go
  cmd/system-probe/subcommands/config/command.go
  cmd/system-probe/subcommands/debug/command.go
  cmd/system-probe/subcommands/modrestart/command.go
  cmd/system-probe/subcommands/run/command.go
  cmd/trace-agent/subcommands/config/command.go
  cmd/trace-agent/subcommands/info/command.go
  cmd/trace-agent/subcommands/params.go
  cmd/trace-agent/subcommands/run/command.go
  comp/core/sysprobeconfig/sysprobeconfigimpl/config.go
  comp/core/sysprobeconfig/sysprobeconfigimpl/params.go
  comp/metadata/systemprobe/README.md
  comp/metadata/systemprobe/impl/system_probe.go
  pkg/cli/subcommands/check/command.go
  pkg/cli/subcommands/config/command.go
  pkg/cli/subcommands/health/command.go
  pkg/cli/subcommands/taggerlist/command.go
  pkg/cli/subcommands/workloadlist/command.go
  pkg/network/config/config_test.go
  pkg/process/checks/enabled_checks_test.go
  pkg/security/tests/module_tester.go
Labels: changelog/no-changelog, component/system-probe, team/agent-shared-components, team/fleet-automation

#28027 Add and export GetHostTags function for python checks
  pkg/collector/python/datadog_agent.go
  pkg/collector/python/init.go
  releasenotes/notes/get-host-tags-in-python-checks-3d6c7d9b670eb5e5.yaml
  rtloader/common/builtins/datadog_agent.c
  rtloader/common/builtins/datadog_agent.h
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/include/rtloader_types.h
  rtloader/rtloader/api.cpp
  rtloader/three/three.cpp
  rtloader/three/three.h
  rtloader/two/two.cpp
  rtloader/two/two.h
Labels: team/agent-metrics-logs

#28230 [apm] add new out.host and dns.hostname new peer_tags
  pkg/trace/config/peer_tags.ini
  pkg/trace/config/peer_tags_test.go
  releasenotes/notes/apm-add-new-peer-hostname-precursors-b938072255d5dc4e.yaml
Labels: team/agent-apm, qa/done

#28269 Add Hostname and ExtraTags in CollectorECSTask
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/ecs/task.go
  pkg/collector/corechecks/cluster/orchestrator/processors/ecs/task.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/collector/corechecks/orchestrator/ecs/ecs.go
  releasenotes/notes/releasenotes-b163a9c66c36d00b.yaml
Labels: team/container-app, qa/done

#28251 [USM] Relocate USM postgres types
  pkg/network/protocols/postgres/ebpf/types.go
  pkg/network/protocols/postgres/ebpf/types_linux.go
  pkg/network/protocols/postgres/model_linux.go
  pkg/network/protocols/postgres/model_linux_test.go
  pkg/network/protocols/postgres/protocol.go
  pkg/network/protocols/postgres/statskeeper_test.go
  pkg/network/protocols/postgres/telemetry.go
  pkg/network/protocols/postgres/telemetry_test.go
  pkg/network/usm/postgres_monitor_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28201 [DBM] bump go-sqllexer to 0.0.13
  comp/core/log/impl-trace/go.mod
  comp/core/log/impl-trace/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/obfuscate/sql_test.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  releasenotes/notes/bump-go-sqllexer-0.0.13-cf2247e13f7fdecc.yaml
  test/otel/go.mod
  test/otel/go.sum
Labels: qa/done

#28287 [apm] add ECS task metadata endpoint to allowed IPs for quantization
  pkg/obfuscate/ip_address.go
  pkg/obfuscate/ip_address_test.go
Labels: changelog/no-changelog, qa/done

#28281 discovery: Report service type
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
Labels: changelog/no-changelog, team/usm, qa/done

#28125 [workloadmeta/remote] Make private funcs that don't need to be exposed
  comp/core/workloadmeta/collectors/internal/remote/processcollector/process_collector.go
Labels: changelog/no-changelog, qa/done, team/container-platform

#28121 [workloadmeta/remote] Delete unused param from StreamEntities()
  comp/core/workloadmeta/collectors/internal/remote/generic.go
  comp/core/workloadmeta/collectors/internal/remote/processcollector/process_collector.go
  comp/core/workloadmeta/collectors/internal/remote/workloadmeta/workloadmeta.go
Labels: changelog/no-changelog, qa/done, team/container-platform

#28239 CAP-1815 support custom sensitive annotations and labels
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cr.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/crd.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/horizontalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/limitrange.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/networkpolicy.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/storageclass.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/verticalpodautoscaler.go
  pkg/config/setup/config.go
  pkg/orchestrator/config/config.go
  pkg/orchestrator/config/config_test.go
  pkg/orchestrator/redact/pod.go
  pkg/orchestrator/redact/pod_test.go
  releasenotes/notes/support-custom-sensitive-annotations-and-labels-beb5066432315d34.yaml
Labels: team/container-app

#28299 Increase the max retry attempts for AWS to 5
  test/new-e2e/pkg/runner/parameters/store_aws.go
  test/new-e2e/pkg/utils/clients/aws.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops

#27865 Unrevert 27096 paullgdc/telemetry/make telemetry proxy async
  pkg/trace/api/api.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/telemetry.go
  pkg/trace/api/telemetry_test.go
Labels: changelog/no-changelog, team/agent-apm

#28305 [CWS] make sure we define a few VM constants even on darwin
  pkg/security/secl/model/consts_darwin.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, backport/7.56.x

#28298 fix(FA): Support pointer stream error
  pkg/fleet/internal/oci/download.go
  pkg/fleet/internal/oci/download_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28272 [ASCII-2130] Add e2e test for diagnose command
  test/new-e2e/tests/agent-subcommands/diagnose/diagnose_common_test.go
  test/new-e2e/tests/agent-subcommands/diagnose/diagnose_nix_test.go
  test/new-e2e/tests/agent-subcommands/diagnose/diagnose_win_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#28259 [ASCII-2075] Wait for providers to stop in metadata runner stop
  comp/metadata/runner/runnerimpl/runner.go
  comp/metadata/runner/runnerimpl/runner_test.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#28182 [USMON-1140] Harden TLS handshake classification
  pkg/network/ebpf/c/protocols/tls/tls.h
  pkg/network/usm/tests/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28303 Add tests to `get_infra_failure_info`
  tasks/unit_tests/libs/data_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#27738 [EBPF] Report complexity changes in PRs
  .gitlab/kernel_matrix_testing/common.yml
  tasks/ebpf.py
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change

#27875 Adding test for new comp wrapper above the logger.
  comp/core/flare/builder/go.mod
  comp/core/flare/builder/go.sum
  comp/core/flare/types/go.mod
  comp/core/flare/types/go.sum
  comp/core/healthprobe/impl/healthprobe_test.go
  comp/core/log/impl-systemprobe/systemprobe_logger_test.go
  comp/core/log/impl-trace/go.mod
  comp/core/log/impl-trace/trace_logger_test.go
  comp/core/log/impl/go.mod
  comp/core/log/impl/logger_test.go
  comp/core/sysprobeconfig/sysprobeconfigimpl/config_mock.go
  comp/def/go.mod
  comp/def/go.sum
  comp/def/lifecycle_mock.go
  comp/otelcol/collector/impl-pipeline/flare_filler_test.go
  comp/rdnsquerier/impl/rdnsquerier_testutils.go
  docs/public/components/testing.md
  go.mod
  pkg/config/mock/go.mod
  tasks/modules.py
Labels: changelog/no-changelog, qa/no-code-change

#28268 [CWS] add a approver mode to bypass discarders
  cmd/security-agent/subcommands/runtime/command_test.go
  cmd/system-probe/subcommands/runtime/command_test.go
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/kfilters/report.go
  pkg/security/secl/rules/approvers.go
  pkg/security/secl/rules/capabilities.go
  pkg/security/secl/rules/filter_values.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#27971 Create function to access system probe config
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/run/dependent_services_windows.go
  cmd/system-probe/config/adjust_npm_test.go
  cmd/system-probe/config/config.go
  cmd/system-probe/config/config_linux_test.go
  cmd/system-probe/config/config_test.go
  cmd/system-probe/modules/eventmonitor_linux.go
  cmd/system-probe/modules/network_tracer.go
  comp/core/config/setup.go
  comp/core/sysprobeconfig/sysprobeconfigimpl/config.go
  comp/core/sysprobeconfig/sysprobeconfigimpl/config_mock.go
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  pkg/collector/corechecks/ebpf/ebpf.go
  pkg/collector/corechecks/ebpf/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe.go
  pkg/collector/corechecks/ebpf/tcpqueuelength/tcp_queue_length.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/system/wincrashdetect/wincrashdetect_windows_test.go
  pkg/config/aliases.go
  pkg/config/mock.go
  pkg/config/setup/config.go
  pkg/config/setup/config_init.go
  pkg/config/test_helpers.go
  pkg/ebpf/config.go
  pkg/ebpf/telemetry/errors_telemetry_test.go
  pkg/eventmonitor/config/config.go
  pkg/flare/archive.go
  pkg/flare/archive_linux.go
  pkg/flare/archive_security.go
  pkg/network/config/config.go
  pkg/network/config/config_bpf_linux_test.go
  pkg/network/config/config_test.go
  pkg/network/config/replace_rules.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/marshal/dns.go
  pkg/network/encoding/marshal/dns_test.go
  pkg/network/encoding/marshal/modeler.go
  pkg/network/encoding/marshal/usm.go
  pkg/network/state_test.go
  pkg/networkdevice/pinger/pinger_linux.go
  pkg/networkpath/traceroute/traceroute_linux.go
  pkg/networkpath/traceroute/traceroute_windows.go
  pkg/process/checks/process.go
  pkg/process/events/listener_linux.go
  pkg/security/config/config.go
  pkg/security/module/msg_sender.go
  pkg/security/module/server.go
  pkg/security/probe/config/config.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/util/crashreport/crashreport.go
Labels: changelog/no-changelog, component/system-probe, qa/done

#28311 fix(trace-agent): Add fleetcfgpath flag
  cmd/trace-agent/command/command.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28282 Fix a cluster-agent crash at startup
  cmd/cluster-agent/subcommands/start/command.go
  flakes.yaml
  pkg/util/kubernetes/apiserver/controllers/controllers.go
Labels: team/containers, changelog/no-changelog, qa/done

#27974 Create dedicated mock for system-probe config in the mock package
  pkg/config/mock.go
  pkg/config/mock/mock.go
Labels: changelog/no-changelog, team/agent-shared-components

#28164 Increase security for Datadog application folder
  test/new-e2e/tests/windows/install-test/install_test.go
  test/new-e2e/tests/windows/install-test/installtester.go
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigCustomActions.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigureUserCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentCustomActions.cs
Labels: changelog/no-changelog, team/windows-agent, qa/done

#28323 fix(ssm_wrapper): Send filter message to stderr
  tools/ci/aws_ssm_get_wrapper.ps1
  tools/ci/aws_ssm_get_wrapper.sh
Labels: changelog/no-changelog, qa/no-code-change

#28325 fix(invoke): use absolute import
  tasks/setup.py
Labels: changelog/no-changelog, qa/no-code-change

#28324 Skip flaky tests in the Slack notification
  tasks/libs/pipeline/notifications.py
  tasks/testwasher.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#28293 [apm] aggregate _dd.base_service tag for internal service overrides
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/aggregation_test.go
  pkg/trace/stats/statsraw_test.go
  releasenotes/notes/apm-aggregate-base-service-internal-service-overrides-7c8c0a1787e0508c.yaml
Labels: team/agent-apm, team/opentelemetry, qa/done

#27811 k8s auto-instrumentation v2
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/injector.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/injector_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/language_versions.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/mutators.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/version.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/version_test.go
  pkg/config/setup/apm.go
  releasenotes-dca/notes/auto-instru-beta-2-56963fba2f6cb928.yaml
Labels: team/apm-onboarding

#28291 [E2E] default to ErrorActionPreference=Stop
  test/new-e2e/pkg/utils/e2e/client/host.go
  test/new-e2e/tests/windows/common/acl.go
  test/new-e2e/tests/windows/common/crashdump.go
  test/new-e2e/tests/windows/common/powershell/command_builder.go
  test/new-e2e/tests/windows/common/service.go
  test/new-e2e/tests/windows/common/utils.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change

#28328 [NPM] remove unused NPM TCPClosedTimeout config
  pkg/network/config/config.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28244 Enable LimitRange and StorageClass collection in the orchestrator check
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/limitrange.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/storageclass.go
  releasenotes-dca/notes/limitrange-storageclass-collection-565db81f99f34c57.yaml
Labels: team/container-app

#28109 [NETPATH-241] Improve TCP traceroute packet parsing
  pkg/networkpath/traceroute/tcp/utils.go
  pkg/networkpath/traceroute/tcp/utils_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring

#28338 [NPM] Fix: set conntrack map type to LRU
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/ebpf_conntracker_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done

#28173 do not copy ConnectionStats until we have to
  pkg/network/event_common.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/conntracker_integration_test.go
  pkg/network/netlink/conntracker_test.go
  pkg/network/netlink/noop.go
  pkg/network/state.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/tcp_close_consumer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/conntracker_test.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/testutil/conntrack.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_windows.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28340 fix(e2e-test): k8s auto-instrumentation v2
  test/new-e2e/tests/containers/k8s_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform
