Repository DataDog/datadog-agent, pull requests merged in 2024-01, with the labels that each got.

#21807 usm: tests: Allow controlling log level via environment variable
  pkg/network/protocols/grpc/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, qa/done

#21808 usm: tests: Modify gotls_client to support http2 as well
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/protocols/tls/gotls/testutil/client_builder.go
  pkg/network/protocols/tls/gotls/testutil/gotls_client/gotls_client.go
  pkg/network/tracer/testutil/grpc/client.go
  pkg/network/tracer/tracer_classification_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress, qa/done

#21806 usm: tests: add grpc tls server
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/tracer/testutil/grpc/builder.go
  pkg/network/tracer/testutil/grpc/grpc_external_server/grpc_external_server.go
  pkg/network/tracer/testutil/grpc/server.go
  pkg/network/tracer/tracer_classification_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: removed, qa/done

#21818 usm: http2: Fix external grpc server
  pkg/network/protocols/http/testutil/testutil.go
  pkg/network/tracer/testutil/grpc/builder.go
  pkg/network/tracer/testutil/grpc/server.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, qa/done

#21819 usm: tls: Flip read/recv conn tuples
  pkg/network/ebpf/c/protocols/tls/native-tls.h
  pkg/network/ebpf/c/runtime/usm.c
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, qa/done

#21809 [USM] Removed agent-usm.jar from system-probe binary to reduce deployment binary size
  omnibus/config/software/system-probe.rb
Labels: changelog/no-changelog, qa/skip-qa, team/usm, qa/done

#21623 Move label and milestone checks on github
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gohai.yml
  .github/workflows/label-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/milestone-analysis.yml
  .github/workflows/windows-linters.yml
  .github/workflows/windows-unittests.yml
  tasks/go_test.py
  tasks/unit-tests/linters_tests.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: removed, qa/no-code-change

#21780 feat(ci): decommission old container-integrations e2e tests
  .gitlab/e2e.yml
Labels: team/containers, changelog/no-changelog, mergequeue-status: in_progress, qa/no-code-change

#21711 [CSPM] Adds some missing field in db_mongodb config struct
  pkg/compliance/dbconfig/types.go
Labels: changelog/no-changelog, team/agent-cspm

#21822 [release] Update release.json and Go modules for 6/7.50.2-rc.1
  comp/core/telemetry/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#21821 [gitlab] Update JOBOWNERS for new E2E jobs
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#20825 [DBMON-2322] Install msodbcsql18 driver on linux
  omnibus/config/software/datadog-agent-integrations-py2-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
  omnibus/config/software/msodbcsql18.rb
  releasenotes/notes/install-msodbcsql18-driver-for-dockerized-agent-a975e8498ef8d9d5.yaml
Labels: team/database-monitoring

#21823 usm: gotls: tests: Make go-tls client to work with http2 tls
  pkg/network/protocols/tls/gotls/testutil/client_builder.go
  pkg/network/protocols/tls/gotls/testutil/gotls_client/gotls_client.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress, qa/done

#21755 [USM] Increment number of frames in packet
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress, qa/done

#21826 [PROCS-3604] Update resource stats check for Processes e2e tests
  test/new-e2e/tests/process/testing.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21800 [NPM-3012] Fix clean exit from test
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, mergequeue-status: in_progress, qa/done

#21771 [NPM-3099] Remove source port guessing
  pkg/network/ebpf/c/prebuilt/offset-guess.c
  pkg/network/ebpf/c/runtime/offsetguess-test.c
  pkg/network/ebpf/c/sock.h
  pkg/network/tracer/offsetguess/tracer.go
  pkg/network/tracer/offsetguess_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa, mergequeue-status: in_progress, qa/done

#21827 [rc] remove pkg/config/remotes dependency on pkg/version
  cmd/agent/common/remote_config.go
  pkg/config/remote/go.mod
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/util.go
  pkg/config/remote/service/util_test.go
Labels: changelog/no-changelog, team/remote-config

#21830 [rc] Add the two rc testing products to the agent
  pkg/remoteconfig/state/products.go
Labels: changelog/no-changelog, team/remote-config

#21824 remove freetds and msodbcsql18 for py2
  omnibus/config/software/datadog-agent-integrations-py2-dependencies.rb
  releasenotes/notes/remove-freetds-and-msodbcsql18-dependencies-for-py2-f61115508d97326b.yaml
Labels: team/database-monitoring

#21804 Stop using distutils in invoke tasks
  tasks/agent.py
  tasks/cluster_agent_helpers.py
  tasks/dogstatsd.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21697 [APL-2624] run package build on file changes
  .gitlab-ci.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/dmg.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/package_build/windows.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21835 usm: gotls: add config option to control system-probe tests self-hooking
  pkg/config/setup/system_probe.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/usm/ebpf_gotls.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: removed, qa/done

#21825 remove postgresql dependencies
  omnibus/config/software/datadog-agent-integrations-py2-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
  releasenotes/notes/remove-postgresql-dependency-36757c0a86ccf48a.yaml
Labels: team/database-monitoring

#21764 Update checkout action version
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-update-commenter.yml
  .github/workflows/go_mod_tidy.yml
  .github/workflows/gohai.yml
  .github/workflows/serverless-benchmarks.yml
  .github/workflows/serverless-binary-size.yml
  .github/workflows/serverless-integration.yml
  .github/workflows/windows-linters.yml
  .github/workflows/windows-unittests.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21842 Skip TestWindowsTestSuite/TestProcessDiscoveryCheck
  test/new-e2e/tests/process/windows_test.go
Labels: changelog/no-changelog, team/processes, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21782 [ASCII-973] Add tests for update-go invoke task
  .github/CODEOWNERS
  tasks/unit-tests/update_go_tests.py
  tasks/update_go.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#21843 Adds explicit service for trace-agent's profiler configuration
  comp/trace/agent/run.go
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, qa/no-code-change

#21839 Force trigger of new jobs on new commits as well
  .github/workflows/label-analysis.yml
  .github/workflows/milestone-analysis.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21846 additional dependencies needed for rebuilding on changes
  .gitlab/binary_build/linux.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21852 Skip TestWindowsTestSuite/TestManualProcessDiscoveryCheck
  test/new-e2e/tests/process/windows_test.go
Labels: changelog/no-changelog, qa/skip-qa, 7.35.0-drop, mergequeue-status: in_progress, qa/no-code-change

#21837 [USM] Limit http2 paths error logs
  pkg/network/protocols/http2/model_linux.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: removed, qa/done

#21803 Add retry to bundle install for some errors
  tasks/agent.py
  tasks/updater.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21855 Kacper murzyn/7.50.2 final
  comp/core/telemetry/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  release.json
  releasenotes/notes/prelude-release-7.50.2-422e2af8790c1c69.yaml
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management, qa/no-code-change

#21779 [CWS] Close ebpfless gaps
  cmd/cws-instrumentation/subcommands/tracecmd/trace.go
  pkg/security/probe/probe_epbfless.go
  pkg/security/proto/ebpfless/msg.go
  pkg/security/ptracer/cws.go
  pkg/security/ptracer/process.go
  pkg/security/ptracer/ptracer.go
  pkg/security/ptracer/syscalls_amd64.go
  pkg/security/ptracer/syscalls_arm64.go
  pkg/security/resolvers/process/resolver_ebpfless.go
  pkg/security/tests/main_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21840 [ASCII-976] split `pkg/status` into sub packages
  cmd/cluster-agent/api/agent/agent.go
  pkg/flare/archive.go
  pkg/flare/archive_dca.go
  pkg/status/aggregator/aggregator.go
  pkg/status/autodiscovery/autodicovery.go
  pkg/status/clusteragent/clusteragent.go
  pkg/status/clusteragent/status_apiserver.go
  pkg/status/clusteragent/status_no_apiserver.go
  pkg/status/collector/collector.go
  pkg/status/common/common.go
  pkg/status/compliance/compliance.go
  pkg/status/dogstatsd/dogstatsd.go
  pkg/status/endpoints/endpoints.go
  pkg/status/forwarder/forwarder.go
  pkg/status/hostname/hostname.go
  pkg/status/netflow/netflow.go
  pkg/status/ntp/ntp.go
  pkg/status/processagent/processagent.go
  pkg/status/remoteconfiguration/remoteconfiguration.go
  pkg/status/snmptraps/snmptraps.go
  pkg/status/status.go
  pkg/status/systemprobe/systemprobe.go
  pkg/status/systemprobe/systemprobe_unsupported.go
Labels: changelog/no-changelog, team/agent-shared-components, mergequeue-status: in_progress

#21383 [CWS] enable verification for system-probe remote configuration clients
  pkg/security/rconfig/policies.go
  pkg/security/rconfig/profiles.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21790 APL-2674 Add function to recreate SSH connection on VM reboot
  test/new-e2e/pkg/utils/e2e/client/vm.go
  test/new-e2e/pkg/utils/e2e/client/vm_client.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21859 7.50.2 changelogs
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management, qa/no-code-change

#20059 switch CRD collector to stable collector
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/crd.go
  releasenotes-dca/notes/add-option-to-enable-crd-collection-0f1f55f9a34ff1f5.yaml
Labels: component/clusterchecks, team/container-app

#21705 feat(tool): Add linter in devcontainer config
  tasks/vscode.py
Labels: dev/tooling, team/containers, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21861 usm: Update codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/usm, qa/done

#21863 Fix Windows flaky e2e tests
  .gitlab/e2e.yml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#21532 [dogstatsd] Add inode origin detection
  comp/dogstatsd/server/parse.go
  comp/dogstatsd/server/parse_metrics_test.go
  comp/dogstatsd/server/parse_test.go
  pkg/util/containers/metrics/mock/mock.go
  pkg/util/containers/metrics/provider/collector.go
  pkg/util/containers/metrics/provider/collector_cache.go
  pkg/util/containers/metrics/provider/collector_types.go
  pkg/util/containers/metrics/provider/metacollector.go
  pkg/util/containers/metrics/system/collector_linux.go
Labels: component/dogstatsd, team/containers, changelog/no-changelog, mergequeue-status: rejected

#21785 Replace builtin encoding/json with the faster github.com/json-iterator/go
  pkg/serverless/appsec/appsec.go
  pkg/serverless/appsec/httpsec/http.go
  pkg/serverless/appsec/httpsec/proxy.go
  pkg/serverless/appsec/httpsec/tags.go
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/trace.go
  pkg/serverless/logs/parse.go
  pkg/serverless/registration/extension_api.go
  pkg/serverless/registration/telemetry_api_payload.go
  pkg/serverless/serverless.go
  pkg/serverless/trace/inferredspan/propagation.go
  pkg/serverless/trace/propagation/carriers.go
  pkg/serverless/trace/propagation/carriers_test.go
  pkg/serverless/trigger/events.go
  pkg/serverless/trigger/events/events.go
  pkg/serverless/trigger/extractor.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless, mergequeue-status: in_progress, qa/done

#21864 Bump github.com/go-git/go-git/v5 from v5.4.2 to v5.11.0
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, mergequeue-status: in_progress

#21811 Increment the number of interesting frames in HTTP/2
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress, qa/done

#21728 Fix panic in KSM check when nil map set as annotations as tags value
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
Labels: team/containers, changelog/no-changelog, mergequeue-status: in_progress

#21832 Convert comp/core/log into module
  comp/core/log/go.mod
  comp/core/log/go.sum
  comp/core/log/logimpl/params.go
  go.mod
  tasks/modules.py
Labels: changelog/no-changelog, qa/skip-qa, team/opentelemetry, qa/no-code-change

#21848 remove program_tag from ebpf check metrics
  pkg/collector/corechecks/ebpf/ebpf.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress, qa/done

#21847 add internal telemetry for CO-RE loads
  pkg/ebpf/btf.go
  pkg/ebpf/co_re.go
  pkg/ebpf/ebpf.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress, qa/done

#20879 [USMON-390] Enable direct flush of events from socket filter programs
  pkg/network/ebpf/c/protocols/events.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: rejected, qa/done

#21514 [container-app] use explicit type values instead of iota interpolation
  pkg/orchestrator/model/types.go
Labels: changelog/no-changelog, team/container-app

#21873 Fix slice aliasing bug in secrets resolver
  comp/core/secrets/secretsimpl/secrets.go
  comp/core/secrets/secretsimpl/secrets_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/done

#21874 update KMT ubuntu image paths
  test/new-e2e/system-probe/config/vmconfig.json
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress, qa/done

#21875 render LastError on agent gui even when not JSON
  cmd/agent/gui/render.go
  releasenotes/notes/show-go-check-error-in-agent-gui-fc4f1de1b942d710.yaml
Labels: team/windows-agent, mergequeue-status: in_progress

#21868 [CONTINT-52] Add e2e tests for `container_image` and `sbom` checks
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21862 Kacper murzyn/7.50.bugfixes changelog backport
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management, mergequeue-status: in_progress, qa/no-code-change

#21670 [ASCII-985][Component] Reduce the usage of aggregator package in favour of comp/aggregator/demultiplexer
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/internal/settings/runtime_settings_test.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/otel-agent/main.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/serverless-init/metric/metric_test.go
  comp/aggregator/demultiplexer/component_mock.go
  comp/aggregator/demultiplexer/demultiplexerimpl/demultiplexer.go
  comp/aggregator/demultiplexer/demultiplexerimpl/demultiplexer_fake_sampler_mock.go
  comp/aggregator/demultiplexer/demultiplexerimpl/params.go
  comp/aggregator/demultiplexer/demultiplexerimpl/test_agent_demultiplexer.go
  comp/dogstatsd/server/server_bench_test.go
  comp/dogstatsd/server/server_test.go
  pkg/aggregator/demultiplexer_mock.go
  pkg/aggregator/mocksender/mocksender.go
  pkg/cli/subcommands/check/command.go
  pkg/collector/collector_demux_test.go
  pkg/collector/corechecks/oracle-dbm/oracle_test.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/metadata/scheduler_test.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/logs/logs_test.go
  pkg/serverless/metrics/enhanced_metrics_test.go
Labels: changelog/no-changelog, qa/skip-qa, mergequeue-status: removed, component framework, qa/no-code-change

#21872 usm: tls: Fix wrong classification
  pkg/network/ebpf/c/protocols/tls/https.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: rejected, qa/done

#21776 [ASCII-1004] Workflow to update buildimages and Go version
  .github/CODEOWNERS
  .github/workflows/buildimages-update.yml
  tasks/update_go.py
Labels: dev/tooling, changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#21883 [CONTINT-567] Fix GetSelfContainerID on cgroupv2 using cgroup inode to resolve the ContainerID
  pkg/util/containers/metrics/system/collector_linux.go
Labels: team/containers, changelog/no-changelog, mergequeue-status: rejected

#21880 [CWS/CSPM] bump security agent policies to v0.51.0
  release.json
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, mergequeue-status: in_progress, qa/no-code-change

#21857 tasks: compare uncompressed package sizes
  tasks/package.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21856 [CWS][SEC-12049] autosuppression v2
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  pkg/security/events/custom.go
  pkg/security/events/event.go
  pkg/security/metrics/metrics.go
  pkg/security/module/cws.go
  pkg/security/module/server.go
  pkg/security/rules/engine.go
  pkg/security/secl/model/model.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/security_profile_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, mergequeue-status: in_progress

#21884 feat(gitlab): add new options for gitlab automatic retry
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21622 [SEC-11980][CWS] add ssdeep algorithm support in hash resolver
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/setup/system_probe_cws.go
  pkg/security/resolvers/hash/resolver_linux.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_string.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, mergequeue-status: rejected

#21885 [CSPM] Detect K8s managed env in edges cases
  pkg/compliance/k8sconfig/loader.go
  pkg/compliance/k8sconfig/loader_test.go
  pkg/compliance/k8sconfig/types.go
Labels: changelog/no-changelog, team/agent-cspm, mergequeue-status: rejected

#21770 [CONTINT-3589] Fix host sbom scan sending on closed channel
  pkg/collector/corechecks/sbom/check.go
  pkg/collector/corechecks/sbom/processor.go
Labels: team/containers, changelog/no-changelog, team/agent-security, mergequeue-status: rejected

#21876 add new log writer to http server in dca to avoid tls flood
  cmd/cluster-agent/admission/server.go
  cmd/cluster-agent/api/server.go
  pkg/config/aliases.go
  pkg/config/logs/log.go
Labels: team/containers, changelog/no-changelog

#21247 dogstatsd/aggregator: add more memory telemetry
  comp/dogstatsd/packets/buffer.go
  comp/dogstatsd/packets/telemetry.go
  comp/dogstatsd/packets/types.go
  comp/dogstatsd/server/server_worker.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/check_sampler_bench_test.go
  pkg/aggregator/check_sampler_test.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_bench_test.go
  pkg/aggregator/context_resolver_debug.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/internal/tags/store.go
  pkg/aggregator/time_sampler.go
  pkg/collector/python/aggregator.go
  pkg/collector/python/memory.go
  pkg/config/setup/config.go
  pkg/util/size.go
Labels: changelog/no-changelog, team/agent-metrics-logs, mergequeue-status: in_progress

#21871 Handle writes to current directory when it is read-only
  pkg/network/protocols/tls/java/hotspot.go
  pkg/network/protocols/tls/java/jattach_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, qa/done

#21111 CI: use XZ for gomod archives
  .circleci/config.yml
  .gitlab-ci.yml
  .gitlab/deps_fetch.yml
  tasks/winbuildscripts/extract-modcache.bat
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21886 fix(mq): prevent mandatory job run during devflow actions
  .github/workflows/label-analysis.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21740 Bump to opentelemetry-mapping-go v0.11.0
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  comp/core/log/go.mod
  comp/core/log/go.sum
  comp/otelcol/otlp/internal/logsagentexporter/factory.go
  comp/otelcol/otlp/internal/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/internal/serializerexporter/exporter.go
  comp/otelcol/otlp/internal/serializerexporter/exporter_test.go
  comp/otelcol/otlp/internal/serializerexporter/factory.go
  comp/trace/config/setup.go
  go.mod
  go.sum
  pkg/metrics/go.mod
  pkg/metrics/go.sum
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/config/config.go
  pkg/trace/go.mod
  pkg/trace/go.sum
Labels: changelog/no-changelog, component/otlp, team/opentelemetry, mergequeue-status: in_progress

#21834 [Upgrade E2E] Kitchen tests upgrade migration to e2e
  .gitlab/e2e_test_junit_upload.yml
  .gitlab/kitchen_testing/centos.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/suse.yml
  .gitlab/kitchen_testing/ubuntu.yml
  .gitlab/kitchen_tests_upload.yml
  .gitlab/new-e2e_common/testing.yml
  .gitlab/new-e2e_testing/amazonlinux.yml
  .gitlab/new-e2e_testing/centos.yml
  .gitlab/new-e2e_testing/debian.yml
  .gitlab/new-e2e_testing/suse.yml
  .gitlab/new-e2e_testing/ubuntu.yml
  tasks/new_e2e_tests.py
  test/new-e2e/tests/agent-platform/common/agent_install.go
  test/new-e2e/tests/agent-platform/install/install.go
  test/new-e2e/tests/agent-platform/install/installparams/install_params.go
  test/new-e2e/tests/agent-platform/upgrade/upgrade_test.go
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21849 AMLII-1337/ E2E util code reusability
  test/new-e2e/pkg/utils/e2e/e2e.go
  test/new-e2e/pkg/utils/e2e/stack_definition.go
  test/new-e2e/tests/agent-metric-logs/log-agent/linux-log/file-tailing/01_file_tailing_test.go
  test/new-e2e/tests/agent-metric-logs/log-agent/linux-log/file-tailing/log-config/config.yaml
  test/new-e2e/tests/agent-metric-logs/log-agent/utils/file_tailing_utils.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#21635 [snmp/traps] Update to populate multiple V3 users in gosnmp trap listener
  go.mod
  go.sum
  pkg/snmp/traps/config/config.go
  pkg/snmp/traps/config/config_test.go
  pkg/snmp/traps/listener/listener_test.go
  pkg/snmp/traps/listener/test_helpers.go
  releasenotes/notes/add-multiple-users-traps-support-d8358352c65974d4.yaml
Labels: team/network-device-monitoring

#21854 Fix e2e test for secret command
  test/new-e2e/tests/agent-subcommands/secret/secret_nix_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, qa/no-code-change

#21894 `inv -e tidy-all`
  comp/logs/agent/config/go.mod
  comp/logs/agent/config/go.sum
  pkg/config/utils/go.mod
  pkg/config/utils/go.sum
Labels: changelog/no-changelog, qa/skip-qa, team/opentelemetry, mergequeue-status: in_progress, qa/no-code-change

#21890 tasks: github: fix get-milestone-id task
  tasks/github_tasks.py
Labels: changelog/no-changelog, team/agent-platform, mergequeue-status: in_progress, qa/no-code-change

#21673 [APMON-406] Re-define Single Step Instrumentation logic for existing configuration options
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/common_test.go
Labels: changelog/no-changelog, need-change/operator, need-change/helm-chart, team/apm-onboarding

#21901 [ASCII-1028] Fix inventory e2e test
  test/new-e2e/tests/agent-shared-components/inventory/inventory_agent_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#21283 Refactor KMT tasks
  tasks/kernel_matrix_testing/command.py
  tasks/kernel_matrix_testing/compiler.py
  tasks/kernel_matrix_testing/ddvm_rsa
  tasks/kernel_matrix_testing/download.py
  tasks/kernel_matrix_testing/init_kmt.py
  tasks/kernel_matrix_testing/kmt_os.py
  tasks/kernel_matrix_testing/stacks.py
  tasks/kernel_matrix_testing/vmconfig.py
  tasks/kmt.py
  test/new-e2e/system-probe/config/platforms.json
  test/new-e2e/system-probe/config/vmconfig.json
  test/new-e2e/system-probe/test/micro-vm-init.sh
  test/new-e2e/system-probe/test/setup-microvm-deps.sh
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress, qa/done

#21897 fix interaction between mergequeue and omnibus/go-version file change rules
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21567 Use XZ to compress deb & rpm packages [APL-2626]
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
Labels: changelog/no-changelog, team/agent-platform, mergequeue-status: in_progress

#21902 fix issue introduce by #21532 in the serveless agent
  pkg/util/containers/metrics/provider/provider.go
Labels: team/containers, changelog/no-changelog, team/serverless, mergequeue-status: in_progress

#21586 [CWS] ensure bounds are checked when reading notifications from olreader
  pkg/windowsdriver/olreader/olreader.go
  pkg/windowsdriver/procmon/procmon.go
Labels: changelog/no-changelog, team/agent-security, mergequeue-status: in_progress

#21896 [CWS] Add CWS 7.51 release notes
  releasenotes/notes/csm-7-51-bc0935e1e6069661.yaml
Labels: qa/skip-qa, team/agent-security, mergequeue-status: in_progress, qa/no-code-change

#21628 Add default location for chrony.conf on Ubuntu
  pkg/collector/corechecks/net/ntp_local_defined_server_nowindows.go
  releasenotes/notes/add-ubuntu-chrony-default-location-4d50d846e8b1379e.yaml
Labels: team/platform-integrations, mergequeue-status: in_progress

#21664 [CWS] Report rule actions in ruleset_loaded event
  pkg/security/rules/monitor/policy_monitor.go
  pkg/security/rules/monitor/policy_monitor_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#21866 [CWS] Restore check on PID for signal action
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/rules/actions.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#20102 [NDM] Add rawId/rawIdType to agent payload, omit empty
  pkg/networkdevice/metadata/payload.go
Labels: changelog/no-changelog, team/network-device-monitoring, mergequeue-status: in_progress, 7.50.0-drop

#21699 [CONTINT-3589] Do not close sbom channel on shutdown
  comp/core/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
Labels: team/containers, changelog/no-changelog, mergequeue-status: in_progress

#21878 hardcode netns struct offset to 48 bytes
  pkg/network/ebpf/c/prebuilt/offset-guess.h
  pkg/network/tracer/offsetguess/offsetguess_types_linux.go
  pkg/network/tracer/offsetguess/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, mergequeue-status: in_progress, qa/done

#21907 Remove feature_cspm_enabled check to quiet down the e2e test
  test/new-e2e/tests/agent-shared-components/inventory/inventory_agent_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#21881 [ASCII-1025] Render check output using status component
  cmd/agent/gui/render.go
  cmd/process-agent/subcommands/status/status.go
  comp/core/status/render_helpers.go
  comp/core/status/render_helpers_test.go
  pkg/cli/subcommands/check/command.go
  pkg/status/collector/collector.go
  pkg/status/render/helpers.go
  pkg/status/render/render.go
  pkg/status/render/templates/collectorHTML.tmpl
Labels: changelog/no-changelog, team/agent-shared-components, mergequeue-status: in_progress

#21783 [Serverless] Always create REPORT log message when logs enabled.
  pkg/serverless/logs/logs_collector.go
  pkg/serverless/logs/logs_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/serverless, mergequeue-status: in_progress, qa/done

#21914 Update internal agent image template to tmpl-v8
  .gitlab/internal_image_deploy.yml
Labels: team/containers, changelog/no-changelog, mergequeue-status: in_progress

#21915 [release] Update release.json and Go modules for 6/7.51.0-rc.1
  cmd/agent/common/path/go.mod
  comp/core/config/go.mod
  comp/core/log/go.mod
  comp/core/log/go.sum
  comp/core/secrets/go.mod
  comp/core/secrets/go.sum
  comp/core/telemetry/go.mod
  comp/logs/agent/config/go.mod
  comp/logs/agent/config/go.sum
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/config/remote/go.mod
  pkg/config/setup/go.mod
  pkg/config/utils/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/grpc/go.mod
  pkg/util/hostname/validate/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management, mergequeue-status: removed, qa/no-code-change

#21899 Fix incorrect metadata about system-probe
  comp/metadata/inventoryagent/inventoryagent.go
  releasenotes/notes/fix-inventory-agent-metadata-sysprobe-18961f4a24e88b0d.yaml
Labels: team/agent-shared-components

#21917 [release] Update release.json and Go modules for 6/7.50.3-rc.1
  comp/core/telemetry/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management

#21922 tasks: handle gitlab !reference tags
  tasks/pipeline.py
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21898 [Onboarding telemetry] Add metrics tags for injection type
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
Labels: changelog/no-changelog, category/improvement, team/apm-onboarding, 7.51.0-drop

#21936 usm: http2: tests: Improve gRPC TLS test managment
  pkg/network/tracer/testutil/grpc/builder.go
  pkg/network/tracer/usm_grpc_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/release_operations, team/usm, qa/no-code-change

#21944 usm: http2: tests: Make client blocking
  pkg/network/tracer/testutil/grpc/client.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/release_operations, team/usm, mergequeue-status: in_progress, qa/no-code-change

#21925 ignore ebpf check metrics for unknown modules
  pkg/collector/corechecks/ebpf/ebpf.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/bugfix, bugfix/functional, team/ebpf-platform, mergequeue-status: in_progress, qa/done

#21892 fix(MQ): do not trigger the label checks in case of label/unlabel to prevent race condition during MQ
  .github/workflows/label-analysis.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, mergequeue-status: in_progress, qa/no-code-change, 7.51.0-drop

#21953 Bump github.com/cloudflare/circl from 1.3.3 to 1.3.7
  go.mod
  go.sum
Labels: kind/security, team/containers, changelog/no-changelog, category/bugfix, bugfix/security, mergequeue-status: in_progress

#21965 Fix `deploy_containers-a7-rc` GitLab jobs
  .gitlab/deploy_containers/conditions.yml
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, mergequeue-status: in_progress, qa/no-code-change

#21970 Kacper murzyn/7.50.3 final
  comp/core/telemetry/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  releasenotes/notes/prelude-release-7.50.3-81c4b624e3c49a68.yaml
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management, qa/no-code-change

#21973 Add default retry 2 on all new-e2e install tests
  .gitlab/new-e2e_common/testing.yml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, mergequeue-status: in_progress, qa/no-code-change

#21972 Fix process agent status output
  cmd/process-agent/subcommands/status/status.go
  cmd/process-agent/subcommands/status/status_test.go
Labels: changelog/no-changelog, team/processes, category/bugfix, team/agent-shared-components, bugfix/functional, mergequeue-status: in_progress

#21967 Fix secret resolving for string slices
  comp/core/secrets/secretsimpl/secrets_test.go
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
Labels: changelog/no-changelog, category/bugfix, team/agent-shared-components, bugfix/functional

#21971 usm: http2: tests: Eliminate panic in tests
  pkg/network/tracer/usm_grpc_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/release_operations, team/usm, qa/no-code-change

#21989 [usm] Revert "Flush events from socket filter programs (#20879)"
  pkg/network/ebpf/c/protocols/events.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/bugfix, bugfix/functional, team/usm, qa/done

#21977 7.50.3 changelog
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-release-management, qa/no-code-change

#21963 Fix missing metadata file when generating local flares
  cmd/agent/subcommands/flare/command.go
Labels: changelog/no-changelog, category/bugfix, team/agent-shared-components, bugfix/functional, mergequeue-status: in_progress

#21992 [release] Update release.json and Go modules for 6/7.51.0-rc.2
  cmd/agent/common/path/go.mod
  comp/core/config/go.mod
  comp/core/log/go.mod
  comp/core/secrets/go.mod
  comp/core/telemetry/go.mod
  comp/logs/agent/config/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/config/remote/go.mod
  pkg/config/setup/go.mod
  pkg/config/utils/go.mod
  pkg/gohai/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/grpc/go.mod
  pkg/util/hostname/validate/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  pkg/util/winutil/go.mod
  release.json
  test/new-e2e/go.mod
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, category/release_operations, team/agent-release-management, qa/no-code-change

#21993 [CSPM] Fix race on shutdown of compliance agent
  cmd/cluster-agent/subcommands/start/compliance.go
  cmd/security-agent/subcommands/check/command.go
  cmd/security-agent/subcommands/compliance/command.go
  cmd/security-agent/subcommands/compliance/compliance.go
  pkg/compliance/agent.go
  pkg/compliance/reporter.go
Labels: changelog/no-changelog, category/bugfix, bugfix/functional, team/agent-cspm, mergequeue-status: in_progress

#21975 [USM] Rate limit process monitor debug logs
  pkg/process/monitor/process_monitor.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/bugfix, bugfix/functional, team/usm, mergequeue-status: in_progress, qa/done

#21995 [CWS] fix unescaped characters in e2e tests policy
  test/new-e2e/tests/cws/e2e_cws_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-security, category/release_operations, mergequeue-status: in_progress, qa/done

#21956 Fix linux package compression settings
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/iot-agent.rb
  tasks/agent.py
Labels: changelog/no-changelog, team/agent-platform, category/release_operations, mergequeue-status: in_progress, qa/no-code-change

#22004 [CWS] fix thread tracking with clone3 with ebpfless
  pkg/security/ptracer/cws.go
  pkg/security/ptracer/ptracer.go
  pkg/security/ptracer/syscalls_amd64.go
  pkg/security/ptracer/syscalls_arm64.go
Labels: kind/bug, changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional, mergequeue-status: in_progress

#22016 [CWS] fix openat2 for ebpfless
  pkg/security/ptracer/cws.go
  pkg/security/tests/open_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional, mergequeue-status: in_progress

#21910 USMON-689: Fix HTTP2 Kernel Telemetry Update in User Mode
  pkg/network/protocols/http2/telemetry.go
  pkg/network/protocols/http2/telemetry_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, category/bugfix, bugfix/functional, team/usm, qa/done

#22002 [RC-1440] gate logs metadata inventory payload with the inventories_checks_configuration_enabled config
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/remote-config, mergequeue-status: in_progress, qa/done

#22029 Fix several E2E tests errors following refactor merge
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/pkg/e2e/suite.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
Labels: changelog/no-changelog, qa/skip-qa, category/release_operations, team/agent-e2e-test, mergequeue-status: in_progress, qa/no-code-change

#22026 [RC-1484] allow log scheduling from remote-config provider
  pkg/config/setup/config.go
  pkg/logs/schedulers/ad/scheduler.go
  pkg/logs/schedulers/ad/scheduler_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/remote-config, mergequeue-status: in_progress, qa/done

#21991 [USM] Add infrastructure for HTTP/2 Raw Traffic Tests
  pkg/network/protocols/http2/raw_traffic.go
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, qa/done

#21979 Imporve KMT destroy task
  tasks/kernel_matrix_testing/README.md
  tasks/kernel_matrix_testing/libvirt.py
  tasks/kernel_matrix_testing/stacks.py
  tasks/kernel_matrix_testing/vmconfig.py
  tasks/kmt.py
  test/new-e2e/system-probe/errors.go
  test/new-e2e/system-probe/system-probe-test-env.go
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform, qa/done

#22001 Use compressed docker disk
  test/new-e2e/system-probe/config/vmconfig.json
Labels: changelog/no-changelog, qa/skip-qa, team/ebpf-platform, qa/done

#22025 [CWS] Fix proc container ID parsing (which was too loose)
  pkg/security/common/containerutils/utils.go
  pkg/security/common/containerutils/utils_test.go
  pkg/security/security_profile/activity_tree/paths_reducer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix

#21941 logs: Correct `use_compression` default
  pkg/config/config_template.yaml
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/agent-metrics-logs, mergequeue-status: in_progress, qa/no-code-change

#22003 test/fakeintake: add traces
  test/fakeintake/aggregator/fixtures/trace_bytes
  test/fakeintake/aggregator/traceAggregator.go
  test/fakeintake/aggregator/traceAggregator_test.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_test.go
  test/fakeintake/client/fixtures/api_v02_trace_response
  test/fakeintake/cmd/client/cmd/get.go
  test/fakeintake/cmd/client/cmd/gettraces.go
  test/fakeintake/docs/README.md
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, team/agent-apm, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#22027 [CWS] fix ptracer size
  cmd/cws-instrumentation/subcommands/tracecmd/trace.go
  pkg/config/setup/constants/constants.go
  pkg/config/setup/system_probe_cws.go
  pkg/security/tests/main_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, mergequeue-status: in_progress

#21948 [metrics/system] Set cgroup init fail log level as `info`
  pkg/util/containers/metrics/provider/provider.go
  pkg/util/containers/metrics/system/collector_linux.go
Labels: team/containers, changelog/no-changelog

#21681 Add updater build for e2e tests
  .gitlab/kitchen_deploy.yml
  .gitlab/package_build/deb.yml
  omnibus/config/software/updater.rb
Labels: changelog/no-changelog, team/remote-config

#21921 Fix bad configuration in inventory agent e2e tests
  test/new-e2e/tests/agent-shared-components/inventory/inventory_agent_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#21958 Remove dependabot run on .circleci directory
  .github/dependabot.yaml
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#22018 Rename failures to error in API config expvars
  comp/api/api/apiimpl/internal/config/endpoint.go
  comp/api/api/apiimpl/internal/config/endpoint_test.go
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/done

#22046 [backport][CWS] fix ptracer size (#22027)
  cmd/cws-instrumentation/subcommands/tracecmd/trace.go
  pkg/config/setup/constants/constants.go
  pkg/config/setup/system_probe_cws.go
  pkg/security/tests/main_test.go
Labels: changelog/no-changelog, team/agent-security, category/bugfix, bugfix/functional

#22059 [backport][CWS] Fix container ID parsing (which was too loose) (#22025)
  pkg/security/common/containerutils/utils.go
  pkg/security/common/containerutils/utils_test.go
  pkg/security/security_profile/activity_tree/paths_reducer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, bugfix/functional

#22022 Add kmt.ssh-config task
  tasks/kmt.py
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/ebpf-platform, mergequeue-status: in_progress, qa/done

#21949 usm: gotls: Remove usage of bpf_probe_read
  pkg/network/ebpf/c/protocols/tls/go-tls-goid.h
Labels: changelog/no-changelog, component/system-probe, qa/skip-qa, team/usm, mergequeue-status: in_progress, qa/done

#21997 Clean up all kitchen files related to old installer tests
  .gitlab/kitchen_common/testing.yml
  .gitlab/kitchen_testing/centos.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/suse.yml
  .gitlab/kitchen_testing/ubuntu.yml
  .gitlab/kitchen_tests_upload.yml
  test/kitchen/Berksfile
  test/kitchen/site-cookbooks/dd-agent-enable-fips/.gitignore
  test/kitchen/site-cookbooks/dd-agent-enable-fips/Berksfile
  test/kitchen/site-cookbooks/dd-agent-enable-fips/Gemfile
  test/kitchen/site-cookbooks/dd-agent-enable-fips/README.md
  test/kitchen/site-cookbooks/dd-agent-enable-fips/chefignore
  test/kitchen/site-cookbooks/dd-agent-enable-fips/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-enable-fips/recipes/enable.rb
  test/kitchen/site-cookbooks/dd-agent-enable-fips/recipes/ensure.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/.gitignore
  test/kitchen/site-cookbooks/dd-agent-install-script/Berksfile
  test/kitchen/site-cookbooks/dd-agent-install-script/Gemfile
  test/kitchen/site-cookbooks/dd-agent-install-script/README.md
  test/kitchen/site-cookbooks/dd-agent-install-script/Vagrantfile
  test/kitchen/site-cookbooks/dd-agent-install-script/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/chefignore
  test/kitchen/site-cookbooks/dd-agent-install-script/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/default.rb
  test/kitchen/site-cookbooks/dd-agent-install-script/recipes/old_vault.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/.gitignore
  test/kitchen/site-cookbooks/dd-agent-step-by-step/Berksfile
  test/kitchen/site-cookbooks/dd-agent-step-by-step/Gemfile
  test/kitchen/site-cookbooks/dd-agent-step-by-step/README.md
  test/kitchen/site-cookbooks/dd-agent-step-by-step/Vagrantfile
  test/kitchen/site-cookbooks/dd-agent-step-by-step/attributes/default.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/chefignore
  test/kitchen/site-cookbooks/dd-agent-step-by-step/metadata.rb
  test/kitchen/site-cookbooks/dd-agent-step-by-step/recipes/default.rb
  test/kitchen/test-definitions/install-script-test.yml
  test/kitchen/test-definitions/step-by-step-test.yml
  test/kitchen/test/integration/common/rspec_datadog/dogstatsd_spec_helper.rb
  test/kitchen/test/integration/common/rspec_datadog/iot_spec_helper.rb
  test/kitchen/test/integration/install-script/rspec_datadog/Gemfile
  test/kitchen/test/integration/install-script/rspec_datadog/dogstatsd_spec_helper.rb
  test/kitchen/test/integration/install-script/rspec_datadog/install-script_spec.rb
  test/kitchen/test/integration/install-script/rspec_datadog/iot_spec_helper.rb
  test/kitchen/test/integration/install-script/rspec_datadog/spec_helper.rb
  test/kitchen/test/integration/step-by-step/rspec_datadog/Gemfile
  test/kitchen/test/integration/step-by-step/rspec_datadog/spec_helper.rb
  test/kitchen/test/integration/step-by-step/rspec_datadog/step-by-step_spec.rb
Labels: changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21974 Fix defaults in config_template to match the code
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, qa/skip-qa, team/agent-shared-components, mergequeue-status: in_progress, qa/no-code-change

#22014 Handle team/triage in lint-teamassignment
  tasks/go_test.py
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#22015 Handle Triage milestone in lint-milestone
  tasks/go_test.py
Labels: dev/tooling, changelog/no-changelog, team/agent-platform, qa/skip-qa, mergequeue-status: in_progress, qa/no-code-change

#21911 create module of `comp/forwarder/defaultforwarder`
  LICENSE-3rdparty.csv
  comp/forwarder/defaultforwarder/blocked_endpoints.go
  comp/forwarder/defaultforwarder/blocked_endpoints_test.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/domain_forwarder_test.go
  comp/forwarder/defaultforwarder/forwarder_health.go
  comp/forwarder/defaultforwarder/forwarder_health_test.go
  comp/forwarder/defaultforwarder/forwarder_test.go
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/defaultforwarder/go.sum
  comp/forwarder/defaultforwarder/internal/retry/file_removal_policy.go
  comp/forwarder/defaultforwarder/internal/retry/http_transactions_serializer.go
  comp/forwarder/defaultforwarder/internal/retry/http_transactions_serializer_test.go
  comp/forwarder/defaultforwarder/internal/retry/on_disk_retry_queue.go
  comp/forwarder/defaultforwarder/internal/retry/on_disk_retry_queue_test.go
  comp/forwarder/defaultforwarder/internal/retry/transaction_retry_queue.go
  comp/forwarder/defaultforwarder/internal/retry/transaction_retry_queue_test.go
  comp/forwarder/defaultforwarder/params.go
  comp/forwarder/defaultforwarder/resolver/domain_resolver.go
  comp/forwarder/defaultforwarder/transaction/transaction_test.go
  comp/forwarder/defaultforwarder/worker_test.go
  comp/forwarder/orchestrator/orchestratorimpl/forwarder_orchestrator.go
  comp/process/forwarders/forwardersimpl/forwarders.go
  go.mod
  pkg/aggregator/check_sampler_bench_test.go
  pkg/diagnose/connectivity/core_endpoint.go
  pkg/process/runner/submitter.go
  pkg/util/aliases.go
  pkg/util/common.go
  pkg/util/filesystem/common.go
  tasks/modules.py
  test/e2e/containers/otlp_sender/cmd/sender/main.go
  test/e2e/containers/otlp_sender/go.mod
  test/e2e/containers/otlp_sender/go.sum
  test/e2e/containers/otlp_sender/internal/filereceiver/factory.go
Labels: changelog/no-changelog, team/opentelemetry
