Repository DataDog/datadog-agent, pull requests merged in 2024-04, with the labels that each got.

#24233 usm: http2: classification: Fixed flakiness
  pkg/network/tracer/tracer_classification_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#24234 usm: tests: Remove 'without keepalive' scenario from TestHTTPSViaLibraryIntegration
  pkg/network/usm/monitor_tls_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#24098 [EBPF] Fix suffix for decompression of images in local KMT
  tasks/kernel_matrix_testing/download.py
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#24166 [CWS] fix stuck callback in testetwregistrynotifications
  pkg/security/probe/probe_kernel_reg_windows_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#24047 [CWS] only run btfhub sync job on Friday
  .github/workflows/cws-btfhub-sync.yml
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change

#24096 [CWS] skip user group tests if docker is not available
  pkg/security/tests/usergroup_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#24200 [CWS] fix a security dump segfault
  pkg/security/security_profile/dump/manager.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, backport/7.53.x

#24180 [ASCII-1391][E2E] Avoid a panic in secrets e2e tests
  test/new-e2e/tests/agent-shared-components/secret/secret_nix_test.go
  test/new-e2e/tests/agent-shared-components/secret/secret_win_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24072 [fleet] agent install info files
  cmd/updater/user_all.go
  omnibus/package-scripts/updater-deb/postinst
  omnibus/package-scripts/updater-deb/postrm
  pkg/updater/service/datadog_agent.go
  pkg/util/installinfo/install_info.go
  pkg/util/installinfo/install_info_nix.go
  pkg/util/installinfo/install_info_nix_test.go
  test/new-e2e/tests/updater/linux_test.go
Labels: changelog/no-changelog, team/fleet-automation

#24056 [fleet] run updater on change
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/fleet-automation

#24062 add a `check-go-mod-replaces` task to ensure go mod are correctly replaced
  tasks/__init__.py
  tasks/go.py
Labels: changelog/no-changelog, qa/done, team/agent-developer-tools, team/agent-ci-experience

#23911 [ASCII-1160] Healthprobe component
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/system-probe/subcommands/run/command.go
  comp/README.md
  comp/core/healthprobe/component.go
  comp/core/healthprobe/component_mock.go
  comp/core/healthprobe/healthprobeimpl/healthprobe.go
  comp/core/healthprobe/healthprobeimpl/healthprobe_mock.go
  comp/core/healthprobe/healthprobeimpl/healthprobe_test.go
  pkg/api/go.mod
  pkg/api/go.sum
  pkg/api/healthprobe/healthprobe.go
  pkg/api/healthprobe/stack.go
Labels: team/containers, changelog/no-changelog, component/system-probe, team/agent-shared-components, team/agent-metrics-logs, team/ebpf-platform, 7.53.0-drop

#24111 [fleet] support agent symlink
  pkg/updater/service/cmd_executor.go
  pkg/updater/service/datadog_agent.go
  pkg/updater/service/helper/main.go
  pkg/updater/service/systemd_test.go
  test/new-e2e/tests/updater/linux_test.go
Labels: changelog/no-changelog, team/fleet-automation

#24011 [AMLII-1537] Remove global dogstatsd replay state
  cmd/agent/subcommands/jmx/command.go
  comp/README.md
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/grpc.go
  comp/api/api/apiimpl/server.go
  comp/api/api/apiimpl/server_cmd.go
  comp/dogstatsd/bundle.go
  comp/dogstatsd/bundle_mock.go
  comp/dogstatsd/listeners/udp_test.go
  comp/dogstatsd/listeners/uds_common.go
  comp/dogstatsd/listeners/uds_common_test.go
  comp/dogstatsd/listeners/uds_datagram.go
  comp/dogstatsd/listeners/uds_datagram_test.go
  comp/dogstatsd/listeners/uds_linux.go
  comp/dogstatsd/listeners/uds_linux_test.go
  comp/dogstatsd/listeners/uds_nolinux.go
  comp/dogstatsd/listeners/uds_stream.go
  comp/dogstatsd/listeners/uds_stream_test.go
  comp/dogstatsd/pidmap/component.go
  comp/dogstatsd/pidmap/pidmapimpl/state.go
  comp/dogstatsd/replay/state.go
  comp/dogstatsd/server/server.go
  comp/dogstatsd/server/server_test.go
  comp/dogstatsd/server/serverless.go
  pkg/cli/subcommands/check/command.go
  test/integration/dogstatsd/origin_detection.go
Labels: changelog/no-changelog, team/agent-metrics-logs, component framework, 7.53.0-drop

#24227 [SVLS-4646] Prevent Flaky Serverless AppSec Integration Tests
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
Labels: changelog/no-changelog, team/serverless

#24159 [NPM] Negative cache route lookups
  pkg/network/route_cache.go
  pkg/network/route_cache_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#24161 Fix log level for http destination
  pkg/logs/client/http/destination.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/skip-qa

#24076 Adding Agent Processing and Routing (APR) to mappings
  .ddqa/config.toml
  tasks/libs/github_jira_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-processing-and-routing

#24154 [SVLS-4646] Update Serverless Integration Tests Retry Job
  .github/workflows/serverless-integration.yml
Labels: changelog/no-changelog, team/serverless

#24242 [NPM-3238] Log trace_pipe during conntrack tests
  pkg/network/tracer/conntracker_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/skip-qa

#24229 Handle early subscriber channel closure in tagger server
  comp/core/tagger/server/server.go
  comp/core/tagger/subscriber/subscriber.go
  releasenotes/notes/fix-tagger-race-condition-d8fe3104ad6f9a30.yaml
Labels: team/processes

#23950 add E2E event log helper, collect eventlog after failed test
  test/new-e2e/tests/windows/common/eventlog.go
  test/new-e2e/tests/windows/install-test/install_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change

#23983 [NDM] Clarify and cleanup error messages in profile loading.
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/profile/profile.go
  pkg/collector/corechecks/snmp/internal/profile/profile_initconfig.go
  pkg/collector/corechecks/snmp/internal/profile/profile_json_bundle.go
  pkg/collector/corechecks/snmp/internal/profile/profile_json_bundle_test.go
  pkg/collector/corechecks/snmp/internal/profile/profile_resolver.go
  pkg/collector/corechecks/snmp/internal/profile/profile_resolver_test.go
  pkg/collector/corechecks/snmp/internal/profile/profile_test.go
  pkg/collector/corechecks/snmp/internal/profile/profile_yaml.go
  pkg/collector/corechecks/snmp/internal/profile/profile_yaml_test.go
  pkg/collector/corechecks/snmp/internal/profile/testing_utils.go
  pkg/collector/corechecks/snmp/internal/profile/utils.go
Labels: changelog/no-changelog, team/network-device-monitoring

#24179 Fix job names in KMT task
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform

#24217 omnibus: python3: don't generate debug symbols
  omnibus/config/software/python3.rb
Labels: changelog/no-changelog, qa/no-code-change, backport/7.52.x, team/agent-build-and-releases

#24144 system-probe: Allow specifying extra test arguments in invoke task
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/no-code-change

#24110 ADXT-132 e2e(errors: Wrap internal errors in custom Error
  test/new-e2e/pkg/utils/infra/stack_manager.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools

#24059 [corechecks/containerd/events] Fix flaky test
  pkg/collector/corechecks/containers/containerd/events_test.go
Labels: team/containers, changelog/no-changelog, qa/done

#24065 [clusteragent/admission/controllers/webhook] Increase test timeout
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
Labels: team/containers, changelog/no-changelog, qa/done

#24050 [clusteragent/admission/mutate] Add docs
  pkg/clusteragent/admission/mutate/doc.go
Labels: team/containers, changelog/no-changelog, qa/no-code-change

#24136 feat(ci): Add a gitlab FF to uncollapse the multiline logs
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change

#24020 [Backport 7.52.x] use no-kmod branch of btfhub-archive
  .github/workflows/cws-btfhub-sync.yml
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, backport

#24272 Add the original description in backport PRs
  .github/workflows/backport-pr.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24135 [clusteragent/admission/mutate/tags] Add alias for admission_controller.pod_owners_cache_validity
  pkg/clusteragent/admission/mutate/tagsfromlabels/tags.go
  pkg/clusteragent/admission/mutate/tagsfromlabels/tags_test.go
  pkg/config/setup/config.go
Labels: team/containers, changelog/no-changelog, qa/done

#24094 [NDM] Add mock Cisco SDWAN API server
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/client_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/fixtures/payloads.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/request.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/request_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/test_utils.go
Labels: changelog/no-changelog, team/network-device-monitoring

#24170 Add "apm-onboarding" in github_jira_map.yaml
  tasks/libs/github_jira_map.yaml
Labels: dev/tooling, changelog/no-changelog, qa/no-code-change

#24141 fix(ci): Remove unused rules in .gitlab-ci.yml file
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change

#24273 run multiple CodeQL languages in parallel
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24237 [CWS] add toggle in module tester to disable trace pipe logging
  pkg/security/tests/main_linux.go
  pkg/security/tests/module_tester_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#23898 [CWS] Improve kill actions tests and schema validation
  pkg/security/module/cws.go
  pkg/security/module/msg_sender.go
  pkg/security/module/opts.go
  pkg/security/module/server.go
  pkg/security/probe/actions.go
  pkg/security/probe/actions_easyjson.go
  pkg/security/probe/process_killer.go
  pkg/security/tests/action_test.go
  pkg/security/tests/eventmonitor_test.go
  pkg/security/tests/main_linux.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/process_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/agent_context.json
  pkg/security/tests/schemas/kill.schema.json
  pkg/security/tests/schemas/message.schema.json
  pkg/security/tests/signal_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24281 [CWS] add "pattern -> glob" conversion on windows paths
  pkg/security/secl/compiler/eval/oo_case_insensitive.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/model_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24127 [CWS] use backoff v4 instead of v2+incompatible in windows probe
  pkg/security/probe/probe_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#23284 apm: rm deprecated peer_service_aggregation config
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  pkg/config/config_template.yaml
  pkg/config/setup/apm.go
  pkg/config/setup/config_test.go
  pkg/flare/envvars.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/stats/client_stats_aggregator_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  releasenotes/notes/apm-peer-tags-8beffcb2d72581ee.yaml
Labels: team/agent-apm, qa/done

#24157 feat(ci): Remove leading slash to ease future file parsing
  .gitlab-ci.yml
  .gitlab/benchmarks/include.yml
  .gitlab/binary_build/include.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/container_build/include.yml
  .gitlab/deploy_containers/deploy_containers_a6.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/deploy_packages/include.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/dev_container_deploy/include.yml
  .gitlab/functional_test/common.yml
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe_windows.yml
  .gitlab/functional_test_cleanup/functional_test_cleanup.yml
  .gitlab/functional_test_sysprobe/system_probe.yml
  .gitlab/integration_test/include.yml
  .gitlab/internal_kubernetes_deploy/include.yml
  .gitlab/kitchen_cleanup/include.yml
  .gitlab/kitchen_cleanup/kitchen_cleanup.yml
  .gitlab/kitchen_testing/centos.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/include.yml
  .gitlab/kitchen_testing/new-e2e_testing/include.yml
  .gitlab/kitchen_testing/suse.yml
  .gitlab/kitchen_testing/ubuntu.yml
  .gitlab/kitchen_testing/windows.yml
  .gitlab/maintenance_jobs/docker.yml
  .gitlab/maintenance_jobs/include.yml
  .gitlab/package_build/include.yml
  .gitlab/packaging/include.yml
  .gitlab/source_test/include.yml
  tasks/unit-tests/testdata/fake_gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change

#24052 Fast-tests: Improve module detection to not run any tests on not targ…
  tasks/go_test.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#24286 fix install info early return
  pkg/util/installinfo/install_info_nix.go
Labels: changelog/no-changelog, team/fleet-automation

#24290 [backport 7.53.x] Handle early subscriber channel closure in tagger server (#24229)
  comp/core/tagger/server/server.go
  comp/core/tagger/subscriber/subscriber.go
  releasenotes/notes/fix-tagger-race-condition-d8fe3104ad6f9a30.yaml
Labels: team/processes, category/bugfix, bugfix/functional

#24210 [ASCII-1350] Add agent startup time to `inventoryagent`
  comp/metadata/inventoryagent/README.md
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  comp/metadata/inventoryhost/README.md
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost.go
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost_test.go
  releasenotes/notes/add-startup-timestamp-in-agent-metadata-payload-378e378c0e5ff6e8.yaml
Labels: changelog/no-changelog, team/agent-shared-components, backport/7.53.x

#24232 Change OTel top-level spans identification logic to opt-in instead of default
  cmd/trace-agent/test/testsuite/otlp_test.go
  pkg/config/config_template.yaml
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/otel-top-level-spans-3e391e77dd7ebf83.yaml
Labels: team/opentelemetry, backport/7.53.x

#24226 feat(ci): Always build agent 6 & 7 together
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change

#24095 [NDM] Add Cisco SD-WAN payload processor
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/types.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/cedge_interface.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/cedge_interface_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/devices.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/devices_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/interfaces.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/interfaces_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/vedge_interface.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/vedge_interface_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#24150 AMLII-1574 - Adding `dirname` tag for full file path log configurations
  pkg/logs/tailers/file/tailer.go
  pkg/logs/tailers/file/tailer_test.go
  releasenotes/notes/adding-dirname-tag-to-all-log-files-6318f7f0405e82e7.yaml
  test/new-e2e/tests/agent-metric-logs/log-agent/linux-log/file-tailing/file_tailing_test.go
  test/new-e2e/tests/agent-metric-logs/log-agent/linux-log/journald/journald_tailing_test.go
  test/new-e2e/tests/agent-metric-logs/log-agent/utils/file_tailing_utils.go
  test/new-e2e/tests/agent-metric-logs/log-agent/windows-log/file-tailing/file_tailing_test.go
Labels: team/agent-metrics-logs, qa/skip-qa

#24139 feat(ci): Use `with changes` rules
  .gitlab-ci.yml
  .gitlab/benchmarks/benchmarks.yml
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change

#24061 Create agent bundle
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  comp/README.md
  comp/agent/bundle.go
  comp/agent/bundle_test.go
Labels: changelog/no-changelog, qa/no-code-change, qa/skip-qa

#24134 ci: Fix secagent/sysprobe rules overriding 'when' for jobs that use them
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#24296 Remove 'stack' tasks in favor newer 'status' task
  tasks/kernel_matrix_testing/README.md
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#24298 Fix trace api dogstatsd unit test to pass locally
  pkg/trace/api/dogstatsd_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/no-code-change

#24284 [oracle] Bug fixes for the legacy mode (DBMON-3803)
  pkg/collector/corechecks/oracle/connectionTest.go
  pkg/collector/corechecks/oracle/init.go
  pkg/collector/corechecks/oracle/oracle.go
  pkg/collector/corechecks/oracle/oracle_test.go
  pkg/collector/corechecks/oracle/testutil.go
Labels: changelog/no-changelog, team/database-monitoring, backport/7.53.x

#24202 [usm] Fix `system-probe.generate-lookup-tables`
  pkg/network/go/bininspect/newproc.go
  pkg/network/go/bininspect/types.go
  pkg/network/go/bininspect/utils.go
  pkg/network/go/goid/internal/generate_goid_lut.go
  pkg/network/go/goid/internal/testprogram/program.go
  pkg/network/go/goid/main.go
  pkg/network/go/goversion/version.go
  pkg/network/go/lutgen/function.go
  pkg/network/go/lutgen/run.go
  pkg/network/go/lutgen/template.go
  pkg/network/go/rungo/matrix/matrix.go
  pkg/network/protocols/http/gotls/lookup/internal/generate_luts.go
  pkg/network/protocols/http/gotls/lookup/internal/testprogram/program.go
  pkg/network/protocols/http/gotls/lookup/luts.go
  pkg/network/protocols/http/gotls/lookup/main.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/skip-qa

#23767 Add ebpf bytecode to the test packages on every iteration
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, 7.53.0-drop

#24211 [e2e] use ci job id to name stacks
  test/new-e2e/pkg/runner/ci_profile.go
Labels: changelog/no-changelog, qa/no-code-change

#24300 [Orchestrator] Increase e2e test timeout to 10m
  test/new-e2e/tests/orchestrator/k8s_test.go
Labels: changelog/no-changelog, team/container-app

#24148 [CWS] add a no op mount resolver
  pkg/security/resolvers/mount/interface.go
  pkg/security/resolvers/mount/no_op_resolver.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/path/interface.go
  pkg/security/resolvers/path/no_op_resolver.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24306 [CWS] change windows self test to use `create.file.path`
  pkg/security/probe/selftests/create_file_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24305 usm: tls: Fixed a typo
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/istio.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#23904 [ASCII-1158] Add unit tests for the api component
  comp/api/api/apiimpl/api_test.go
  comp/api/api/apiimpl/internal/agent/agent_test.go
  comp/api/api/apiimpl/server.go
  comp/api/authtoken/component_mock.go
  comp/api/authtoken/fetchonlyimpl/mock.go
  comp/core/flare/component.go
  comp/core/flare/component_mock.go
  comp/core/flare/flareimpl/mock.go
  comp/forwarder/eventplatformreceiver/component_mock.go
  comp/forwarder/eventplatformreceiver/eventplatformreceiverimpl/mock.go
  comp/metadata/host/component_mock.go
  comp/metadata/host/hostimpl/mock.go
  comp/metadata/inventorychecks/inventorychecksimpl/mock.go
  comp/metadata/packagesigning/packagesigningimpl/mock.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/skip-qa, 7.53.0-drop

#24246 [usm] Build lookup table test programs as Go modules
  pkg/network/go/lutgen/run.go
  pkg/network/go/rungo/matrix/matrix.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#24302 [fleet] add first systemd test
  test/new-e2e/tests/updater/linux_test.go
  test/new-e2e/tests/updater/systemd.go
Labels: changelog/no-changelog, team/fleet-automation

#24164 Convert comp/netflow/payload into a module.
  comp/netflow/payload/go.mod
  go.mod
  tasks/modules.py
Labels: changelog/no-changelog, team/network-device-monitoring, team/agent-developer-tools, team/agent-ci-experience, qa/skip-qa

#23558 Add E2E tests for Windows Installer agent config related options
  .gitlab/kitchen_testing/new-e2e_testing/windows.yml
  test/kitchen/test-definitions/windows-install-test.yml
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/windows/common/agent/agent.go
  test/new-e2e/tests/windows/common/agent/agent_install_params.go
  test/new-e2e/tests/windows/common/service.go
  test/new-e2e/tests/windows/common/user.go
  test/new-e2e/tests/windows/install-test/install_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change

#24153 feat(ci): Merge agent 6 and 7 rules - part 1
  .gitlab-ci.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/linux.yml
  .gitlab/choco_build/choco_build.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/container_scan/container_scan.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/remote_updater.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/package_build/windows.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/oci.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
Labels: changelog/no-changelog, qa/no-code-change

#24307 run `inv -e check-go-mod-replaces` in the CI
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#23504 [CONTINT-3852] Move all origin detection logic into Tagger component
  comp/core/tagger/global.go
  comp/core/tagger/tagger.go
  comp/core/tagger/tagger_test.go
  comp/dogstatsd/server/enrich.go
  comp/dogstatsd/server/enrich_bench_test.go
  comp/dogstatsd/server/enrich_test.go
  comp/dogstatsd/server/server.go
  comp/dogstatsd/server/server_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  go.mod
  pkg/aggregator/aggregator.go
  pkg/metrics/event/event.go
  pkg/metrics/go.mod
  pkg/metrics/metric_sample.go
  pkg/metrics/servicecheck/service_check.go
  pkg/serializer/go.mod
  pkg/serializer/internal/metrics/events_test.go
  pkg/serializer/internal/metrics/service_checks_test.go
  pkg/tagger/go.mod
  pkg/tagger/types/go.mod
  pkg/tagger/types/types.go
  tasks/modules.py
Labels: team/containers, changelog/no-changelog, qa/done, qa/skip-qa

#23956 [macos-fetch-log-fail-stacktrace] Simplified error message of lint_macos job
  tasks/libs/github_actions_tools.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24320 Fix flaky test in pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/concentrator_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/done

#24212 [gitlab] Update JOBOWNERS for renamed KMT tests
  .gitlab/JOBOWNERS
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24173 feat(ci): Merge rules for agent 6 & 7 - part 2
  .gitlab-ci.yml
  .gitlab/check_deploy/check_deploy.yml
  .gitlab/deploy_containers/deploy_containers.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/deploy_packages/cluster_agent_cloudfoundry.yml
  .gitlab/deploy_packages/deploy_common.yml
  .gitlab/deploy_packages/nix.yml
  .gitlab/deploy_packages/windows.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/kitchen_testing/new-e2e_testing/amazonlinux.yml
  .gitlab/kitchen_testing/new-e2e_testing/centos.yml
  .gitlab/kitchen_testing/new-e2e_testing/debian.yml
  .gitlab/kitchen_testing/new-e2e_testing/suse.yml
  .gitlab/kitchen_testing/new-e2e_testing/ubuntu.yml
  .gitlab/kitchen_testing/new-e2e_testing/windows.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
Labels: changelog/no-changelog, qa/no-code-change

#24312 [CWS] fix missing set on `GlobCaseInsensitive` when doing glob + case insensitive matches
  pkg/security/secl/compiler/eval/oo_case_insensitive.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24213 [e2e] retry stack creation on ssh connection refused
  test/new-e2e/pkg/utils/infra/retriable_errors.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
Labels: changelog/no-changelog, qa/no-code-change

#24198 feat(ci): Merge rules for agent 6 and 7 - part 3
  .gitlab-ci.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
Labels: changelog/no-changelog, qa/no-code-change

#24118 [CWS] validate event against the upstream schema
  pkg/security/doc_generator/backend_doc_gen.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/tests/schemas.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24316 Use environment variable
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change

#24004 [EBPF-419] Allow testing against KMT VMs of different architecture
  tasks/kernel_matrix_testing/compiler.py
  tasks/kernel_matrix_testing/infra.py
  tasks/kernel_matrix_testing/init_kmt.py
  tasks/kernel_matrix_testing/kmt_os.py
  tasks/kernel_matrix_testing/stacks.py
  tasks/kernel_matrix_testing/tool.py
  tasks/kernel_matrix_testing/vmconfig.py
  tasks/kmt.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, 7.53.0-drop

#24329 [NDM] Fix flaky Cisco SD-WAN test
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/devices_test.go
Labels: changelog/no-changelog, team/network-device-monitoring, qa/no-code-change

#24207 feat(ci): Merge rules for agent 6 and 7 - part 4
  .gitlab-ci.yml
  .gitlab/choco_build/choco_build.yml
  .gitlab/choco_deploy/choco_deploy.yml
  .gitlab/container_scan/container_scan.yml
  .gitlab/deploy_packages/windows.yml
  .gitlab/deploy_packages/winget.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/docker_windows.yml
Labels: changelog/no-changelog, qa/no-code-change

#24331 Fix directory structure of pre-downloaded dockers tarball
  .gitlab/kernel_matrix_testing/common.yml
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#24178 [ASCII-1340] Metadata schedule component
  cmd/agent/common/common.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  comp/README.md
  comp/agent/bundle.go
  comp/agent/bundle_test.go
  comp/agent/metadatascheduler/component.go
  comp/agent/metadatascheduler/metadataschedulerimpl/metadatascheduler.go
  pkg/metadata/helper.go
  pkg/metadata/scheduler.go
  pkg/metadata/scheduler_test.go
Labels: changelog/no-changelog, team/agent-shared-components

#24322 [CWS] fix CWS feature e2e test
  test/new-e2e/tests/cws/api/ddsql.go
  test/new-e2e/tests/cws/ec2_test.go
Labels: changelog/no-changelog, team/agent-security, qa/done, backport/7.52.x, backport/7.53.x

#24209 feat(ci): Merge rules for agent 6 and 7 - part 5
  .gitlab-ci.yml
  .gitlab/binary_build/linux.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/kitchen_cleanup/kitchen_cleanup.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/new-e2e_testing.yml
  .gitlab/kitchen_testing/new-e2e_testing/amazonlinux.yml
  .gitlab/kitchen_testing/new-e2e_testing/centos.yml
  .gitlab/kitchen_testing/new-e2e_testing/debian.yml
  .gitlab/kitchen_testing/new-e2e_testing/suse.yml
  .gitlab/kitchen_testing/new-e2e_testing/ubuntu.yml
  .gitlab/kitchen_testing/new-e2e_testing/windows.yml
  .gitlab/kitchen_testing/testing.yml
  .gitlab/kitchen_testing/windows.yml
  .gitlab/package_build/deb.yml
  .gitlab/package_build/rpm.yml
  .gitlab/package_build/suse_rpm.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
Labels: changelog/no-changelog, qa/no-code-change

#24151 Start upload_dependencies jobs at the same time as the environment setup jobs.
  .gitlab/kernel_matrix_testing/common.yml
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#24308 [gitlab] move ownership of test-infra bump involved files to agent-dev-tools
  .github/CODEOWNERS
  .github/dependabot.yaml
  .gitlab-ci.yml
  .gitlab/common/test_infra_version.yml
  tasks/buildimages.py
  tasks/pipeline.py
  test/new-e2e/go.mod
Labels: changelog/no-changelog, qa/no-code-change

#24339 Set 7.54.0 as current_milestone
  release.json
Labels: changelog/no-changelog, team/agent-release-management, qa/no-code-change

#24067 Map FA tickets to FA board
  .ddqa/config.toml
  tasks/libs/github_jira_map.yaml
Labels: changelog/no-changelog, team/remote-config, qa/no-code-change, team/fleet-automation

#24147 [ASCII-1335] Create pid component
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_test.go
  cmd/agent/subcommands/run/command_windows.go
  cmd/process-agent/command/main_common.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command_test.go
  cmd/system-probe/subcommands/run/command.go
  cmd/updater/subcommands/run/command.go
  comp/README.md
  comp/core/bundle.go
  comp/core/bundle_test.go
  comp/core/pid/component.go
  comp/core/pid/pidimpl/pid.go
Labels: changelog/no-changelog, component/system-probe, team/processes, team/agent-security, team/remote-config, team/agent-shared-components

#24138 [ASCII-1346][Config Refresh E2E Test] Retry interactions with non-core agents
  test/new-e2e/tests/agent-shared-components/config-refresh/non_core_agents_sync_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24089 orchestrator: Collect all node resources capacity
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/node.go
  releasenotes/notes/collect-node-capacities-a4fa1256cba0f172.yaml
Labels: team/container-app

#24335 Fix nfs initialization for KMT on linux
  tasks/kernel_matrix_testing/kmt_os.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#24114 Untie Remote Configuration db from API Key value
  pkg/config/remote/service/service.go
  pkg/config/remote/service/util.go
  pkg/config/remote/service/util_test.go
  pkg/config/remote/uptane/client.go
  pkg/config/remote/uptane/client_benchmark_test.go
  pkg/config/remote/uptane/client_test.go
  pkg/config/remote/uptane/local_store.go
  pkg/config/remote/uptane/local_store_test.go
  pkg/config/remote/uptane/org_store.go
  pkg/config/remote/uptane/remote_store_test.go
  pkg/config/remote/uptane/target_store.go
  pkg/config/remote/uptane/target_store_test.go
Labels: changelog/no-changelog, team/remote-config, qa/done

#24321 Rename capture start/stop to not conflict with lifecycle hooks
  comp/api/api/apiimpl/grpc.go
  comp/dogstatsd/replay/capture.go
  comp/dogstatsd/replay/component.go
  comp/dogstatsd/replay/mock.go
  comp/dogstatsd/server/server.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change

#24294 Match the sources directory for eBPF object files inside build container and on host
  tasks/kernel_matrix_testing/compiler.py
  tasks/kmt.py
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#24342 Fix components ownership
  .github/CODEOWNERS
  comp/README.md
  comp/aggregator/bundle.go
  comp/aggregator/demultiplexer/component.go
  comp/checks/bundle.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24347 Fix the expected arch suffix for 'kmt-dockers' directory
  .gitlab/kernel_matrix_testing/system_probe.yml
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#24358 [CWS] only report ebpfless selftest once
  pkg/security/probe/selftests/tester.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#24241 Migrate win32_event_log check to component
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command_windows.go
  comp/README.md
  comp/checks/windowseventlog/component.go
  comp/checks/windowseventlog/windowseventlogimpl/check/bookmark.go
  comp/checks/windowseventlog/windowseventlogimpl/check/check.go
  comp/checks/windowseventlog/windowseventlogimpl/check/check_test.go
  comp/checks/windowseventlog/windowseventlogimpl/check/config.go
  comp/checks/windowseventlog/windowseventlogimpl/check/config_helpers.go
  comp/checks/windowseventlog/windowseventlogimpl/check/config_test.go
  comp/checks/windowseventlog/windowseventlogimpl/check/event_formatting.go
  comp/checks/windowseventlog/windowseventlogimpl/check/filters.go
  comp/checks/windowseventlog/windowseventlogimpl/check/filters_test.go
  comp/checks/windowseventlog/windowseventlogimpl/check/subscription.go
  comp/checks/windowseventlog/windowseventlogimpl/check/unsupported_platforms.go
  comp/checks/windowseventlog/windowseventlogimpl/windows_event_log.go
  pkg/cli/subcommands/check/command_windows.go
  pkg/commonchecks/corechecks.go
  tasks/agent.py
Labels: changelog/no-changelog, team/windows-agent, qa/done

#24285 usm: tls: nodejs: Introduce NodeJS TLS support for USM
  pkg/config/setup/system_probe.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/ebpf/c/protocols/tls/native-tls.h
  pkg/network/ebpf/c/protocols/tls/tags-types.h
  pkg/network/protocols/http/testutil/pythonserver.go
  pkg/network/protocols/http/tls_counter.go
  pkg/network/protocols/http/tls_counter_linux.go
  pkg/network/protocols/http/types.go
  pkg/network/protocols/http/types_linux.go
  pkg/network/protocols/testutil/serverutils.go
  pkg/network/protocols/tls/nodejs/nodejs.go
  pkg/network/protocols/tls/nodejs/testdata/certs/.keep
  pkg/network/protocols/tls/nodejs/testdata/docker-compose.yml
  pkg/network/protocols/tls/nodejs/testdata/server.js
  pkg/network/tags_linux.go
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/monitor.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/nodejs.go
  releasenotes/notes/usm-capture-tls-from-nodejs-e280a9aa6fca3304.yaml
Labels: component/system-probe, team/usm, qa/done

#24270 [OTEL-1726] Add OTel span utils to tracetuil
  .github/CODEOWNERS
  comp/core/log/go.mod
  comp/core/log/go.sum
  pkg/trace/api/otlp.go
  pkg/trace/go.mod
  pkg/trace/traceutil/normalize.go
  pkg/trace/traceutil/otel_util.go
  pkg/trace/traceutil/otel_util_test.go
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change

#24366 Fix unused linter error in pkg/security/probe/selftests/tester.go on macOS
  pkg/security/probe/selftests/tester.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#24271 [OTEL-1720] Update codeowners for trace stats
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change

#23133 dogstatsd: add a way to shard time samplers by origin
  comp/dogstatsd/server/batch.go
  docs/public/architecture/dogstatsd/internals.md
  pkg/aggregator/demultiplexer.go
  pkg/config/setup/config.go
  releasenotes/notes/isolated-pipelines-be70e490c5450272.yaml
Labels: [deprecated] qa/skip-qa - use other qa/ labels, team/agent-metrics-logs

#24352 [CWS] switch to `NullAuditor` in the event forwarder
  cmd/security-agent/subcommands/runtime/command.go
  pkg/config/setup/config.go
  pkg/security/module/msg_sender.go
  pkg/security/reporter/reporter.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#24368 [CWS] fix linter error on macos because config is unused in self tester
  pkg/security/probe/selftests/tester.go
  pkg/security/probe/selftests/tester_others.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#24370 fix(ci): set back correct ssm name
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change

#24282 fix(ci): prevent pipelines from being in blocked state
  .gitlab-ci.yml
  .gitlab/benchmarks/macrobenchmarks.yml
  .gitlab/deploy_containers/conditions.yml
Labels: changelog/no-changelog, qa/no-code-change

#24137 [gitlab] Rework & Improve package size submissions
  .gitlab-ci.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  tasks/libs/datadog_api.py
  tasks/libs/package/__init__.py
  tasks/libs/package/size.py
  tasks/package.py
  tasks/unit-tests/package_lib_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24293 [pyproject.toml] Remove deprecated py36 black setting
  pyproject.toml
Labels: dev/tooling, changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24353 trace-agent: remove deprecated apm_config.log_throttling
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  pkg/config/config_template.yaml
  pkg/config/legacy/converter.go
  pkg/config/legacy/converter_test.go
  pkg/config/legacy/tests/datadog.conf
  pkg/config/setup/apm.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  releasenotes/notes/apm-log_throttling-221de519835e30fb.yaml
Labels: changelog/no-changelog, team/agent-apm, qa/done

#24133 feat(ci): Add new methods to generate full gitlab configuration
  tasks/libs/common/gitlab.py
  tasks/unit-tests/gitlab_api_tests.py
  tasks/unit-tests/testdata/a.yml
  tasks/unit-tests/testdata/b.yml
  tasks/unit-tests/testdata/c.yml
  tasks/unit-tests/testdata/ci_config_with_reference.yml
  tasks/unit-tests/testdata/expected.yml
  tasks/unit-tests/testdata/in.yml
  tasks/unit-tests/testdata/out.yml
Labels: changelog/no-changelog, qa/no-code-change

#24334 feat(ci): Add a new task to test generation of MQ pipeline
  tasks/libs/common/gitlab.py
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change

#24299 Add go test modified packages git hook
  .pre-commit-config.yaml
Labels: dev/tooling, changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24346 Add a `modules.for-each` invoke task
  tasks/__init__.py
  tasks/modules.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, team/agent-ci-experience

#24009 [ASCII-1164] Remove Start / Stop in forwarders component
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/forwarder.go
  comp/forwarder/eventplatform/component.go
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/forwarder/orchestrator/orchestratorimpl/forwarder_orchestrator.go
  comp/forwarder/orchestrator/orchestratorinterface/component.go
  comp/process/forwarders/forwardersimpl/forwarders.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_test.go
  pkg/process/runner/collector_api_test.go
  pkg/process/runner/mocks/submitter.go
  pkg/process/runner/submitter.go
Labels: changelog/no-changelog, team/processes, team/container-app, team/agent-shared-components, team/agent-metrics-logs, component framework

#24109 [ASCII-1334] Create ExpvarServer component
  cmd/agent/common/common.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  comp/README.md
  comp/agent/bundle.go
  comp/agent/expvarserver/component.go
  comp/agent/expvarserver/expvarserverimpl/expvarserver.go
Labels: changelog/no-changelog, team/agent-shared-components, component framework

#24332 fix(ci): Prevent benchmark job from being generated in MQ
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change

#24380 give ownership of security go generate check file to agent-security
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change

#24378 [gitlab] Send package metrics to org2
  .gitlab/pkg_metrics/pkg_metrics.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24382 [corechecks/networkpath] Add tags
  pkg/collector/corechecks/networkpath/config.go
  pkg/collector/corechecks/networkpath/networkpath.go
  pkg/networkpath/traceroute/traceroute.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring

#24101 [NDM] Add Cisco SD-WAN metrics and metadata sender
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metadata.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metadata_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metrics.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/report/metrics_test.go
Labels: changelog/no-changelog, team/network-device-monitoring

#24374 [CWS] fix error with `bdist_wheel` in `security_go_generate_check`
  .gitlab/source_test/go_generate_check.yml
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change

#24375 [git] take ownership of pre-commit hooks config
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change

#24125 Add ndmflowAggregator to fakeintake and add new-e2e ndm/netflow test.
  .github/CODEOWNERS
  test/fakeintake/Dockerfile
  test/fakeintake/aggregator/checkRunAggregator.go
  test/fakeintake/aggregator/fixtures/ndmflow_bytes
  test/fakeintake/aggregator/logAggregator.go
  test/fakeintake/aggregator/metricAggregator.go
  test/fakeintake/aggregator/ndmflowAggregator.go
  test/fakeintake/aggregator/ndmflowAggregator_test.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_test.go
  test/fakeintake/client/fixtures/api_v2_ndmflow_response
  test/fakeintake/go.mod
  test/new-e2e/go.mod
  test/new-e2e/tests/ndm/netflow/compose/netflowCompose.yaml
  test/new-e2e/tests/ndm/netflow/config/netflowConfig.yaml
  test/new-e2e/tests/ndm/netflow/netflow_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools

#24367 Update to smp 0.13.0
  .gitlab/functional_test/regression_detector.yml
  test/regression/cases/basic_py_check/experiment.yaml
  test/regression/cases/file_to_blackhole/experiment.yaml
  test/regression/cases/file_tree/experiment.yaml
  test/regression/cases/idle/experiment.yaml
  test/regression/cases/otel_to_otel_logs/experiment.yaml
  test/regression/cases/process_agent_real_time_mode/experiment.yaml
  test/regression/cases/process_agent_standard_check/experiment.yaml
  test/regression/cases/process_agent_standard_check_with_stats/experiment.yaml
  test/regression/cases/pycheck_1000_100byte_tags/experiment.yaml
  test/regression/cases/tcp_dd_logs_filter_exclude/experiment.yaml
  test/regression/cases/tcp_syslog_to_blackhole/experiment.yaml
  test/regression/cases/trace_agent_json/experiment.yaml
  test/regression/cases/trace_agent_msgpack/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/experiment.yaml
  test/regression/config.yaml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change

#24392 [CSPM] remove unused runner when creating compliance agent
  cmd/cluster-agent/subcommands/start/compliance.go
  cmd/security-agent/subcommands/compliance/compliance.go
Labels: changelog/no-changelog, team/agent-security, team/agent-cspm

#24387 fix(dogstatsd): fix Origin Detection with UDS
  comp/core/tagger/tagger.go
Labels: team/containers, changelog/no-changelog, qa/done

#23977 Create module for logsagentexporter
  LICENSE-3rdparty.csv
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/collector_test.go
  comp/otelcol/otlp/collector_test_config.go
  comp/otelcol/otlp/collector_test_config_serverless.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory_test.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter_test.go
  comp/otelcol/otlp/config_test.go
  comp/otelcol/otlp/map_provider_not_serverless_test.go
  comp/otelcol/otlp/map_provider_serverless_test.go
  comp/otelcol/otlp/testutil/doc.go
  comp/otelcol/otlp/testutil/go.mod
  comp/otelcol/otlp/testutil/go.sum
  comp/otelcol/otlp/testutil/testutil.go
  go.mod
  tasks/modules.py
Labels: changelog/no-changelog, team/opentelemetry

#24371 usm: http2: Handle frame header remainder in the first packet
  pkg/network/ebpf/c/protocols/http2/decoding-tls.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#24386 refactor: Clean tasks libs
  tasks/__init__.py
  tasks/components.py
  tasks/git-hooks/copyright.py
  tasks/github_tasks.py
  tasks/go_test.py
  tasks/junit_tasks.py
  tasks/kmt.py
  tasks/libs/build/ninja.py
  tasks/libs/ciproviders/__init__.py
  tasks/libs/ciproviders/github_actions_tools.py
  tasks/libs/ciproviders/github_api.py
  tasks/libs/ciproviders/gitlab.py
  tasks/libs/common/datadog_api.py
  tasks/libs/common/go_workspaces.py
  tasks/libs/common/junit_upload_core.py
  tasks/libs/package/size.py
  tasks/libs/pipeline/__init__.py
  tasks/libs/pipeline/data.py
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/notifications.py
  tasks/libs/pipeline/stats.py
  tasks/libs/pipeline/tools.py
  tasks/libs/types/__init__.py
  tasks/libs/types/copyright.py
  tasks/libs/types/types.py
  tasks/libs/types/version.py
  tasks/linter.py
  tasks/new_e2e_tests.py
  tasks/notify.py
  tasks/package.py
  tasks/pipeline.py
  tasks/pr_checks.py
  tasks/release.py
  tasks/security_agent.py
  tasks/show_linters_issues/golangci_lint_parser.py
  tasks/show_linters_issues/show_linters_issues.py
  tasks/system_probe.py
  tasks/unit-tests/github_api_tests.py
  tasks/unit-tests/github_tasks_tests.py
  tasks/unit-tests/gitlab_api_tests.py
  tasks/unit-tests/pipeline_lib_tests.py
  tasks/unit-tests/release_tests.py
  tasks/unit-tests/version_tests.py
Labels: changelog/no-changelog, component/system-probe, qa/no-code-change, team/agent-developer-tools

#24410 7.52.1 changelog (#24376)
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-release-management, qa/no-code-change

#24409 7.52.1 changelog (#24376)
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-release-management, qa/no-code-change

#24403 [CWS] read more lines from k8s when fetching pod logs in e2e tests
  test/e2e/cws-tests/tests/lib/kubernetes.py
Labels: changelog/no-changelog, team/agent-security, qa/done

#24394 [e2e] retry agent status on telemetry
  test/new-e2e/test-infra-definition/agent_test.go
Labels: changelog/no-changelog, qa/no-code-change

#24354 [precommit-set-x] Added rule to disallow `set -x` usage
  .github/workflows/go-update-commenter.yml
  .pre-commit-config.yaml
  Dockerfiles/agent/Dockerfile
  pkg/network/netlink/testutil/testdata/wait_if.sh
  tasks/kernel_matrix_testing/env-setup.sh
  test/e2e/argo-workflows/templates/datadog-agent.yaml
  test/e2e/argo-workflows/templates/fake-datadog.yaml
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
  test/e2e/argo-workflows/templates/nginx.yaml
  test/e2e/argo-workflows/templates/otlp-test.yaml
  test/e2e/scripts/run-instance/10-setup-kind.sh
  test/e2e/scripts/run-instance/11-setup-kind-cluster.sh
  test/e2e/scripts/run-instance/20-argo-download.sh
  test/e2e/scripts/run-instance/21-argo-setup.sh
  test/e2e/scripts/run-instance/22-argo-submit.sh
  test/e2e/scripts/run-instance/23-argo-get.sh
  test/e2e/scripts/setup-instance/00-entrypoint-dev.sh
  test/e2e/scripts/setup-instance/00-entrypoint-gitlab.sh
  test/e2e/scripts/setup-instance/00-entrypoint-local.sh
  test/e2e/scripts/setup-instance/01-ignition.sh
  test/e2e/scripts/setup-instance/02-ec2.sh
  test/kitchen/tasks/clean.sh
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/tasks/show-strays.sh
  test/new-e2e/system-probe/test/micro-vm-init.sh
  tools/ci/aws_ssm_get_wrapper.sh
  tools/pre-commit/shell_check_no_set_x.sh
Labels: changelog/no-changelog, component/system-probe, qa/no-code-change, team/agent-ci-experience

#24401 [CWS] do not implement containers telemetry on windows
  pkg/security/agent/telemetry_linux.go
  pkg/security/agent/telemetry_others.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#24411 [ASCII-1402] improve the creation components tasks to include more information
  docs/public/guidelines/components/defining-bundles.md
  docs/public/guidelines/components/defining-components.md
  tasks/components.py
  tasks/components_templates/bundle.go.tmpl
  tasks/components_templates/bundle_test.go.tmpl
  tasks/components_templates/impl/component.go.tmpl
  tasks/components_templates/impl/component_mock.go.tmpl
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24388 [CWS] get rid of flags const file for security-agent cmd line
  cmd/security-agent/command/command.go
  cmd/security-agent/command/command_test.go
  cmd/security-agent/flags/flags_common.go
  cmd/security-agent/subcommands/check/command.go
  cmd/security-agent/subcommands/compliance/command.go
  cmd/security-agent/subcommands/flare/command.go
  cmd/security-agent/subcommands/runtime/activity_dump.go
  cmd/security-agent/subcommands/runtime/command.go
  cmd/security-agent/subcommands/runtime/deprecated_commands.go
  cmd/security-agent/subcommands/runtime/security_profile.go
  cmd/security-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/status/command.go
Labels: changelog/no-changelog, team/agent-security

#24418 Fix `TestEKSSuite/Test00UpAndRunning/agent_pods_are_ready_and_not_restarting` flaky new-e2e test
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, dev/testing, changelog/no-changelog, qa/no-code-change

#24292 [ASCII-1332] Runtime settings component
  comp/README.md
  comp/core/settings/component.go
  comp/core/settings/component_mock.go
  comp/core/settings/settingsimpl/settings_mock.go
  comp/core/settings/settingsimpl/settingsimpl.go
  comp/core/settings/settingsimpl/settingsimpl_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#24112 [invoke] Add tasks to query CODEOWNERS files
  tasks/__init__.py
  tasks/github_tasks.py
  tasks/libs/owners/__init__.py
  tasks/libs/owners/parsing.py
  tasks/libs/pipeline/notifications.py
  tasks/owners.py
  tasks/pipeline.py
  tasks/show_linters_issues/golangci_lint_parser.py
  tasks/unit-tests/github_tasks_tests.py
  tasks/unit-tests/owners_lib_tests.py
  tasks/unit-tests/testdata/jobowners.txt
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24420 [CWS] replace `seclog.Debugf` with `fmt.Errorf` for error de-duplication
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#24419 better error message for `inv -e check-go-mod-replaces`
  tasks/go.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-ci-experience

#24424 pkg/config: update APM obfuscation defaults in config_template.yaml
  pkg/config/config_template.yaml
Labels: changelog/no-changelog, team/agent-apm, qa/no-code-change
