Repository DataDog/datadog-agent, pull requests merged in 2024-09, with the labels that each got.

#28942 [USM] Fix counterOpenSSL typo
  pkg/network/protocols/http/tls_counter.go
  pkg/network/protocols/http/tls_counter_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28944 Add UT for Kafka Producer with noAcks Configuration
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28811 [ksm] Allow collecting pod metrics from the Kubelet
  pkg/collector/corechecks/cluster/ksm/customresources/pod.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/kubestatemetrics/builder/kubelet_pods.go
  pkg/kubestatemetrics/builder/kubelet_pods_stub.go
  pkg/kubestatemetrics/builder/kubelet_pods_test.go
  pkg/util/kubernetes/kubelet/conversion.go
  pkg/util/kubernetes/kubelet/conversion_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
  releasenotes-dca/notes/ksm-pods-in-node-agent-13d9041602521d42.yaml
  releasenotes/notes/ksm-pods-in-node-agent-13d9041602521d42.yaml
Labels: team/container-platform

#28931 discovery: Report RSS
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/stat.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  test/fakeintake/aggregator/servicediscoveryAggregator.go
  test/new-e2e/tests/discovery/linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28897 discovery: Add size checks to file reads
  pkg/collector/corechecks/servicediscovery/apm/detect.go
  pkg/collector/corechecks/servicediscovery/usm/jboss.go
  pkg/collector/corechecks/servicediscovery/usm/jee.go
  pkg/collector/corechecks/servicediscovery/usm/laravel.go
  pkg/collector/corechecks/servicediscovery/usm/nodejs.go
  pkg/collector/corechecks/servicediscovery/usm/service.go
  pkg/collector/corechecks/servicediscovery/usm/spring.go
  pkg/collector/corechecks/servicediscovery/usm/tomcat.go
  pkg/collector/corechecks/servicediscovery/usm/weblogic.go
  pkg/collector/corechecks/servicediscovery/usm/websphere.go
Labels: changelog/no-changelog, team/usm, qa/done

#28347 [CWS] exclude binaries from kill action
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_ebpfless.go
  pkg/security/probe/probe_windows.go
  pkg/security/probe/process_killer.go
  pkg/security/probe/process_killer_linux.go
  pkg/security/probe/process_killer_windows.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/tests/action_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/testopts.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28509 [CWS] remove pid discarder as not used
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/helpers/discarders.h
  pkg/security/ebpf/c/include/helpers/erpc.h
  pkg/security/ebpf/c/include/hooks/bpf.h
  pkg/security/ebpf/c/include/hooks/chdir.h
  pkg/security/ebpf/c/include/hooks/chmod.h
  pkg/security/ebpf/c/include/hooks/chown.h
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/c/include/hooks/link.h
  pkg/security/ebpf/c/include/hooks/mkdir.h
  pkg/security/ebpf/c/include/hooks/mmap.h
  pkg/security/ebpf/c/include/hooks/module.h
  pkg/security/ebpf/c/include/hooks/mprotect.h
  pkg/security/ebpf/c/include/hooks/network/bind.h
  pkg/security/ebpf/c/include/hooks/open.h
  pkg/security/ebpf/c/include/hooks/ptrace.h
  pkg/security/ebpf/c/include/hooks/rename.h
  pkg/security/ebpf/c/include/hooks/rmdir.h
  pkg/security/ebpf/c/include/hooks/setxattr.h
  pkg/security/ebpf/c/include/hooks/signal.h
  pkg/security/ebpf/c/include/hooks/splice.h
  pkg/security/ebpf/c/include/hooks/unlink.h
  pkg/security/ebpf/c/include/hooks/utimes.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/filter.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/erpc/erpc.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/model/consts_map_names_linux.go
  pkg/security/seclwin/model/consts_map_names_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28950 (fleet) make the installer useable on darwin
  cmd/installer/user/user_darwin.go
  cmd/installer/user/user_nix.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28952 service discovery: Fix concurrent access (read/write) to shared maps
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/languagedetection/privileged/privileged_detector.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28957 [CWS] Fix TestActionKillExcludeBinary test
  pkg/security/tests/action_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28953 Set the `SLACK_API_TOKEN` in the `create_rc_pr` workflow
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28737 [CWS] improve lock contention related to the `pathnames` LRU map
  pkg/security/ebpf/c/include/maps.h
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28959 changelog update 7.56.2
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/main, backport/7.57.x

#28958 Removed "Produce - no acks required" test
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28960 [CWS] skip TestActionKillExcludeBinary in ebpfless mode
  pkg/security/tests/action_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28965 service discovery: Improve performance of NewProcess
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28966 [CWS] split `containers_running` and profile containers telemetry
  pkg/security/agent/agent.go
  pkg/security/agent/agent_nix.go
  pkg/security/agent/prof_containers_telemetry.go
  pkg/security/agent/telemetry_linux.go
  pkg/security/agent/telemetry_others.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28954 discovery: Use exe for language detection
  pkg/collector/corechecks/servicediscovery/language/language.go
  pkg/collector/corechecks/servicediscovery/language/language_nix_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28969 feat(ci): Add a timeout on new-e2e-unit-tests
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, qa/no-code-change

#28961 [EBPF] complexity: do not exit with error code if there are no errors
  tasks/ebpf.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/done

#28403 [CWS] remove approver flags as not really used
  cmd/security-agent/subcommands/runtime/command_test.go
  cmd/system-probe/subcommands/runtime/command_test.go
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/structs/filter.h
  pkg/security/probe/kfilters/kfilters.go
  pkg/security/probe/kfilters/policy.go
  pkg/security/probe/kfilters/report.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/proto/api/api.pb.go
  pkg/security/proto/api/api.proto
  pkg/security/proto/api/api_vtproto.pb.go
  pkg/security/proto/api/transform_functions.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28365 [CWS] remove an approver limitation
  pkg/security/secl/rules/approvers.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28831 [ASCII-2228] Use params for dsd server
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/internal/settings/runtime_settings_test.go
  cmd/dogstatsd/subcommands/start/command.go
  comp/dogstatsd/bundle.go
  comp/dogstatsd/server/component.go
  comp/dogstatsd/server/server_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/done

#28964 Update the latest stable version
  release.json
Labels: changelog/no-changelog, team/agent-security, team/agent-metrics-logs, team/windows-kernel-integrations, team/agent-release-management, qa/no-code-change, team/agent-delivery

#28987 discovery: e2e: Retry nodejs install
  test/new-e2e/tests/discovery/testdata/provision/provision.sh
Labels: changelog/no-changelog, team/usm, qa/done

#28864 [EBPF] kmt: Fix detection of docker auth helpers
  tasks/kernel_matrix_testing/compiler.py
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change

#27587 Remove all `source /root/.bashrc` using the honor entrypoint FF
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/deps_fetch/deps_fetch.yml
  .gitlab/e2e/e2e.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/notify/notify.yml
  .gitlab/package_build/dmg.yml
  .gitlab/package_build/heroku.yml
  .gitlab/package_build/installer.yml
  .gitlab/package_build/linux.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/oci.yml
  .gitlab/packaging/rpm.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test/notify.yml
  .gitlab/source_test/slack.yml
  .gitlab/source_test/technical_linters.yml
  .gitlab/source_test/tooling_unit_tests.yml
  .gitlab/trigger_release/trigger_release.yml
  tools/ci/aws_ssm_get_wrapper.sh
  tools/ci/junit_upload.sh
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28971 service discovery: Improve performance of getSockets
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#27340 Create e2e test job for wkit system probe tests
  .gitlab-ci.yml
  .gitlab/e2e/e2e.yml
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe_windows.yml
  tasks/unit_tests/testdata/fake_gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#28991 [CWS] use common capabilities struct
  pkg/security/probe/kfilters/approvers_test.go
  pkg/security/probe/kfilters/bpf.go
  pkg/security/probe/kfilters/capabilities.go
  pkg/security/probe/kfilters/capabilities_linux.go
  pkg/security/probe/kfilters/capabilities_windows.go
  pkg/security/probe/kfilters/mmap.go
  pkg/security/probe/kfilters/mprotect.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/kfilters/splice.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#29004 Revert "Remove all `source /root/.bashrc` using the honor entrypoint FF"
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/deps_fetch/deps_fetch.yml
  .gitlab/e2e/e2e.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/notify/notify.yml
  .gitlab/package_build/dmg.yml
  .gitlab/package_build/heroku.yml
  .gitlab/package_build/installer.yml
  .gitlab/package_build/linux.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/oci.yml
  .gitlab/packaging/rpm.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test/notify.yml
  .gitlab/source_test/slack.yml
  .gitlab/source_test/technical_linters.yml
  .gitlab/source_test/tooling_unit_tests.yml
  .gitlab/trigger_release/trigger_release.yml
  tools/ci/aws_ssm_get_wrapper.sh
  tools/ci/junit_upload.sh
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#28922 (fleet) send the resolved policies version to the backend
  pkg/config/setup/config.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/env/env.go
  pkg/fleet/env/env_test.go
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/core/remoteconfig.pb.go
  pkg/proto/pbgo/core/remoteconfig_gen.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28943 service discovery: Don't override global variable
  pkg/collector/corechecks/servicediscovery/usm/php.go
  pkg/collector/corechecks/servicediscovery/usm/php_test.go
Labels: changelog/no-changelog, team/usm, qa/done

#28900 V2 Auto Multiline Detection - Telemetry, Status page, and more config options
  comp/logs/agent/config/integration_config.go
  pkg/config/setup/config.go
  pkg/logs/internal/decoder/auto_multiline_detection/aggregator.go
  pkg/logs/internal/decoder/auto_multiline_detection/aggregator_test.go
  pkg/logs/internal/decoder/auto_multiline_detection/json_detector.go
  pkg/logs/internal/decoder/auto_multiline_detection/labeler.go
  pkg/logs/internal/decoder/auto_multiline_detection/labeler_test.go
  pkg/logs/internal/decoder/auto_multiline_detection/pattern_table.go
  pkg/logs/internal/decoder/auto_multiline_detection/pattern_table_test.go
  pkg/logs/internal/decoder/auto_multiline_detection/timestamp_detector.go
  pkg/logs/internal/decoder/auto_multiline_detection/timestamp_detector_test.go
  pkg/logs/internal/decoder/auto_multiline_detection/user_samples.go
  pkg/logs/internal/decoder/auto_multiline_handler.go
  pkg/logs/internal/decoder/decoder.go
Labels: changelog/no-changelog, team/agent-metrics-logs

#28441 [CWS] restrict rule with kill action on policy source
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/probe/process_killer.go
  pkg/security/tests/module_tester_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#28986 service discovery: Improve performance of getNsInfo
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28494 Support tracer top level tag for stats and refactor (APMSP-1241)
  pkg/trace/stats/aggregation_test.go
  pkg/trace/stats/span_concentrator.go
  pkg/trace/stats/statsraw_test.go
  pkg/trace/traceutil/span.go
Labels: changelog/no-changelog, team/agent-apm, qa/done

#28937 [NPM-3110] Fix revive lint warnings for the networks team
  pkg/network/buffer.go
  pkg/network/config/config.go
  pkg/network/config/replace_rules.go
  pkg/network/config/sysctl/sysctl.go
  pkg/network/config/sysctl/sysctl_darwin.go
  pkg/network/dns/types.go
  pkg/network/ebpf/bpf_module.go
  pkg/network/ebpf/conntrack.go
  pkg/network/encoding/marshal/dns.go
  pkg/network/event_common.go
  pkg/network/events/monitor.go
  pkg/network/events/network_consumer.go
  pkg/network/events/network_consumer_others.go
  pkg/network/netlink/circuit_breaker.go
  pkg/network/netlink/conntracker_test.go
  pkg/network/netlink/consumer_test.go
  pkg/network/netlink/noop.go
  pkg/network/netlink/socket.go
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/nettop/main.go
  pkg/network/tags_linux.go
  pkg/network/testutil/cmd.go
  pkg/network/testutil/iptables.go
  pkg/network/tracer/connection/dump.go
  pkg/network/tracer/connection/ebpf_tracer.go
  pkg/network/tracer/connection/fentry/manager.go
  pkg/network/tracer/connection/fentry/probes.go
  pkg/network/tracer/connection/fentry/tracer.go
  pkg/network/tracer/connection/kprobe/compile.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/offsetguess/conntrack.go
  pkg/network/tracer/offsetguess/offsetguess.go
  pkg/network/tracer/offsetguess/tracer.go
  pkg/network/tracer/offsetguess_test.go
  pkg/network/tracer/testutil/tcp.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/types/connection_key.go
  pkg/process/checks/net.go
  pkg/process/util/address.go
  pkg/process/util/util.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#29019 refactor pkg/config references to pkg/config/setup go module
  pkg/util/containers/env_vars_filter.go
  pkg/util/containers/filter.go
  pkg/util/containers/filter_test.go
Labels: changelog/no-changelog, qa/done

#29023 Fix issue causing missing kubelet.volume.* metrics
  pkg/collector/corechecks/containers/kubelet/provider/kubelet/provider.go
  pkg/collector/corechecks/containers/kubelet/provider/kubelet/provider_test.go
  pkg/collector/corechecks/containers/kubelet/testdata/kubelet_metrics.txt
  releasenotes/notes/kubelet-core-volume-metrics-fix-a95e22dbc29dea88.yaml
Labels: team/containers, qa/done

#28743 [otel-agent] address broken log level assignment
  cmd/otel-agent/config/agent_config.go
  cmd/otel-agent/config/agent_config_test.go
  cmd/otel-agent/config/testdata/datadog.yaml
  cmd/otel-agent/config/testdata/datadog_low_log_level.yaml
Labels: changelog/no-changelog, team/opentelemetry

#29029 Mark windows security agent test as flaky and log output
  test/new-e2e/tests/security-agent-functional/security_agent_test.go
  test/new-e2e/tests/windows/remoteexecutable.go
Labels: changelog/no-changelog, team/windows-kernel-integrations, qa/no-code-change

#29016 [CWS] rework kfilter internals
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/kfilters_bpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#29034 discovery: Improve gunicorn name
  pkg/collector/corechecks/servicediscovery/usm/python.go
  pkg/collector/corechecks/servicediscovery/usm/service_test.go
Labels: changelog/no-changelog, team/usm, qa/done

#28862 [ASCII-2071] Improve forwarder params
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/snmp/command.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/otel-agent/subcommands/run/command.go
  comp/forwarder/bundle.go
  comp/forwarder/defaultforwarder/component.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/forwarder.go
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/defaultforwarder/params.go
  comp/otelcol/otlp/integrationtest/integration_test.go
  comp/process/forwarders/forwardersimpl/forwarders.go
  pkg/cli/subcommands/check/command.go
Labels: changelog/no-changelog, qa/done

#29020 (fleet) add remote config client state to the daemon status
  cmd/installer/subcommands/daemon/status.tmpl
  pkg/config/remote/client/client.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/daemon/local_api.go
  pkg/fleet/daemon/local_api_test.go
  pkg/fleet/daemon/remote_config.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#28990 e2e: Allow setting custom retry strategies
  test/new-e2e/pkg/utils/infra/retriable_errors.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops

#29035 fix(FA) - Mark Ansible tests as flaky
  test/new-e2e/tests/installer/all_packages_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, team/fleet-automation

#29036 discovery: Move static ignore list to system-probe
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/testutil/fake_server/.gitignore
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#29011 [CWS] exclude installer binaries
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_ebpfless.go
  pkg/security/probe/probe_windows.go
  pkg/security/probe/process_killer.go
  pkg/security/probe/process_killer_linux.go
  pkg/security/probe/process_killer_test.go
  pkg/security/tests/action_test.go
  pkg/security/tests/main_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29012 extract system-probe module fx dependencies into a struct
  cmd/system-probe/api/module/common.go
  cmd/system-probe/api/module/factory_linux.go
  cmd/system-probe/api/module/factory_others.go
  cmd/system-probe/api/module/loader.go
  cmd/system-probe/modules/compliance.go
  cmd/system-probe/modules/crashdetect_windows.go
  cmd/system-probe/modules/dynamic_instrumentation.go
  cmd/system-probe/modules/ebpf.go
  cmd/system-probe/modules/eventmonitor.go
  cmd/system-probe/modules/language_detection.go
  cmd/system-probe/modules/network_tracer.go
  cmd/system-probe/modules/oom_kill_probe.go
  cmd/system-probe/modules/ping.go
  cmd/system-probe/modules/process.go
  cmd/system-probe/modules/tcp_queue_tracer.go
  cmd/system-probe/modules/traceroute.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#29033 service discovery: Add check yaml by default
  cmd/agent/dist/conf.d/service_discovery.d/conf.yaml.default
  omnibus/config/software/datadog-agent-finalize.rb
  tasks/agent.py
  test/new-e2e/tests/agent-subcommands/configcheck/configcheck_nix_test.go
Labels: changelog/no-changelog, team/usm, qa/done

#28993 [clusteragent/admission/mutate] Mark injected volumes as safe to evict for the k8s cluster autoscaler
  pkg/clusteragent/admission/mutate/agent_sidecar/agent_sidecar_test.go
  pkg/clusteragent/admission/mutate/agent_sidecar/providers.go
  pkg/clusteragent/admission/mutate/agent_sidecar/providers_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/mutators.go
  pkg/clusteragent/admission/mutate/common/common.go
  pkg/clusteragent/admission/mutate/common/common_test.go
  pkg/clusteragent/admission/mutate/config/config.go
  pkg/clusteragent/admission/mutate/config/config_test.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/cws_instrumentation.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/cws_instrumentation_test.go
  releasenotes-dca/notes/configure-volumes-for-k8s-autoscaler-d96fa7357c4be699.yaml
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/apm-onboarding

#29024 creates pkg/util/containers/image go module
  cmd/serverless/dependencies_linux_amd64.txt
  cmd/serverless/dependencies_linux_arm64.txt
  comp/core/autodiscovery/listeners/container.go
  comp/core/workloadmeta/collectors/internal/docker/docker.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/def/types.go
  go.mod
  pkg/collector/corechecks/containers/containerd/utils.go
  pkg/collector/corechecks/containers/docker/utils.go
  pkg/collector/corechecks/containers/kubelet/common/testing/utils.go
  pkg/util/containers/image/go.mod
  pkg/util/containers/image/go.sum
  pkg/util/containers/image/image.go
  pkg/util/containers/image/image_test.go
  tasks/modules.py
Labels: changelog/no-changelog, qa/done

#28402 [CWS] Fix activity dump local storage
  pkg/security/security_profile/dump/local_storage.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done

#29030 [SMP] Collect telemetry from checks during SMP runs
  test/regression/cases/basic_py_check/datadog-agent/datadog.yaml
  test/regression/cases/file_tree/datadog-agent/datadog.yaml
  test/regression/cases/idle/datadog-agent/datadog.yaml
  test/regression/cases/otel_to_otel_logs/datadog-agent/datadog.yaml
  test/regression/cases/pycheck_lots_of_tags/datadog-agent/datadog.yaml
  test/regression/cases/tcp_dd_logs_filter_exclude/datadog-agent/datadog.yaml
  test/regression/cases/tcp_syslog_to_blackhole/datadog-agent/datadog.yaml
  test/regression/cases/uds_dogstatsd_to_api/datadog-agent/datadog.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/datadog-agent/datadog.yaml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change

#28927 Include zpages data in flare
  LICENSE-3rdparty.csv
  comp/otelcol/collector/impl-pipeline/flare_filler.go
  comp/otelcol/collector/impl-pipeline/flare_filler_test.go
  comp/otelcol/ddflareextension/def/types.go
  comp/otelcol/ddflareextension/impl/config.go
  comp/otelcol/ddflareextension/impl/config_test.go
  comp/otelcol/ddflareextension/impl/extension.go
  go.mod
  go.sum
Labels: changelog/no-changelog, team/opentelemetry

#29021 [CWS] Allow syscall tester to be built with gcc
  tasks/security_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#28925 [ASCII-2246] Log Fx Events using logger.Debug
  cmd/installer/subcommands/daemon/run_windows.go
  cmd/internal/runcmd/runcmd.go
  cmd/internal/runcmd/runcmd_test.go
  cmd/process-agent/command/main_common.go
  cmd/serverless/dependencies_linux_amd64.txt
  cmd/serverless/dependencies_linux_arm64.txt
  comp/core/log/fx-systemprobe/fx.go
  comp/core/log/fx-trace/fx.go
  comp/core/log/fx/fx.go
  comp/snmptraps/server/serverimpl/server.go
  pkg/util/fxutil/logging.go
  pkg/util/fxutil/logging/logging.go
  pkg/util/fxutil/oneshot.go
  pkg/util/fxutil/provide_comp.go
  pkg/util/fxutil/run.go
  pkg/util/fxutil/test.go
Labels: changelog/no-changelog, qa/done

#28526 USMON-1008: Parse Produce Response
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/kafka/kafka-classification.h
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/ebpf/c/protocols/kafka/types.h
  pkg/network/protocols/ebpf_types.go
  pkg/network/protocols/ebpf_types_linux.go
  pkg/network/protocols/kafka/kernel_telemetry.go
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/protocols/kafka/protocol.go
  pkg/network/protocols/kafka/statkeeper.go
  pkg/network/protocols/kafka/types_linux.go
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28999 Add params to jmxlogger.Module
  cmd/agent/subcommands/jmx/command.go
  cmd/agent/subcommands/run/command.go
  comp/agent/bundle.go
  comp/agent/bundle_test.go
  comp/agent/jmxlogger/jmxloggerimpl/jmxlogger.go
  pkg/cli/subcommands/check/command.go
Labels: changelog/no-changelog, qa/done

#29000 discovery: Rework service name handling
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/usm/java.go
  pkg/collector/corechecks/servicediscovery/usm/service.go
  pkg/collector/corechecks/servicediscovery/usm/service_test.go
  test/fakeintake/aggregator/servicediscoveryAggregator.go
  test/new-e2e/tests/discovery/linux_test.go
  test/new-e2e/tests/discovery/testdata/provision/provision.sh
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28924 Dynamic binary size test comment message based on size change.
  .github/workflows/serverless-binary-size.yml
  test/integration/serverless_perf/write_message.sh
Labels: changelog/no-changelog, team/serverless, qa/no-code-change

#29008 convert pkg/util/tagger and comp/core/tagger/types to module
  comp/core/tagger/types/go.mod
  comp/core/tagger/types/go.sum
  go.mod
  pkg/util/tagger/go.mod
  pkg/util/tagger/go.sum
  pkg/util/tagger/tagger.go
  tasks/modules.py
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#29058 Revert "service discovery: Add check yaml by default"
  cmd/agent/dist/conf.d/service_discovery.d/conf.yaml.default
  omnibus/config/software/datadog-agent-finalize.rb
  tasks/agent.py
  test/new-e2e/tests/agent-subcommands/configcheck/configcheck_nix_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change

#29059 [CWS] fix small possible nil-ptr deref regarding profiled containers telemetry
  pkg/security/agent/agent.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#28685 [NETPATH-294] Update Network Path timeout logic between agent and system-probe
  cmd/agent/dist/conf.d/network_path.d/conf.yaml.example
  cmd/system-probe/modules/traceroute.go
  cmd/system-probe/modules/traceroute_test.go
  comp/networkpath/npcollector/npcollectorimpl/config.go
  comp/networkpath/npcollector/npcollectorimpl/config_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  pkg/collector/corechecks/networkpath/config.go
  pkg/collector/corechecks/networkpath/config_test.go
  pkg/collector/corechecks/networkpath/networkpath.go
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
  pkg/networkpath/traceroute/runner.go
  pkg/networkpath/traceroute/runner_test.go
  pkg/networkpath/traceroute/traceroute.go
  pkg/networkpath/traceroute/traceroute_linux.go
  pkg/networkpath/traceroute/traceroute_windows.go
  pkg/process/net/common.go
Labels: changelog/no-changelog, component/system-probe, team/networks

#29063 Increases the idle rss limit to account for the default checks
  test/regression/cases/idle/experiment.yaml
Labels: changelog/no-changelog, qa/no-code-change

#29032 [windows] Update release.json to include fixes to driver installation merge modules
  .gitlab/e2e_install_packages/windows.yml
  release.json
  releasenotes/notes/fixdriverinstallationhandleleak-346543b8c5f21303.yaml
Labels: team/windows-agent, team/windows-kernel-integrations, backport/7.57.x

#29061 [CWS] secagent tests: simplify into one `fxutil.Test` invocation
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29065 [CWS] remove "ignore DD agent containers" telemetry option
  cmd/security-agent/subcommands/runtime/command.go
  pkg/config/setup/config.go
  pkg/security/agent/agent.go
  pkg/security/agent/agent_nix.go
  pkg/security/agent/telemetry_linux.go
  pkg/security/telemetry/telemetry.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#28970 [CWS-2960] Allow disarming kill actions on inaccurate rules
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_ebpfless.go
  pkg/security/probe/probe_windows.go
  pkg/security/probe/process_killer.go
  pkg/security/tests/action_test.go
  pkg/security/tests/main_linux.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
  pkg/security/tests/testopts.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#29045 service discovery: Remove redundant map
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/servicetype/servicetype.go
  pkg/collector/corechecks/servicediscovery/servicetype/servicetype_test.go
Labels: changelog/no-changelog, team/usm, qa/done

#28951 [NDM][Cisco SD-WAN] Increase default statistics lookup interval to 30 mins
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/client.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/client_test.go
Labels: changelog/no-changelog, team/network-device-monitoring, qa/done

#29050 [CWS] do not approve with zero flags entry
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/filter.h
  pkg/security/ebpf/map.go
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/bpf.go
  pkg/security/probe/kfilters/mmap.go
  pkg/security/probe/kfilters/mprotect.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/kfilters/splice.go
  pkg/security/tests/filters_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29074 [CWS] Use a single TTL-based cache implementation
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/policy_test.go
  pkg/security/seclwin/go.mod
  pkg/security/seclwin/go.sum
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#27437 [USMON-417] gotls: Restore support on fedora
  pkg/network/ebpf/c/protocols/tls/go-tls-maps.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/protocols/tls/gotls/testutil/helpers.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, performance/report-required, qa/done

#28921 Add minor version to Python lockfiles and update buildimage
  .gitlab-ci.yml
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, qa/no-code-change

#28723 [clusteragent/autoscaling] Check that autoscaling target is not cluster agent
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/util/kubernetes/helpers.go
  pkg/util/kubernetes/helpers_test.go
Labels: team/containers, changelog/no-changelog, qa/done

#29052 [dbm] bump go-sqllexer to 0.0.14
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/obfuscate/sql_test.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  releasenotes/notes/bump-go-sqllexer-0.0.14-26ba053cf04ac223.yaml
  test/otel/go.mod
  test/otel/go.sum
Labels: team/database-monitoring, team/opentelemetry, qa/done

#29003 discovery: report CPU usage
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/stat.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  test/fakeintake/aggregator/servicediscoveryAggregator.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#29055 add startstop test with FIM disabled
  .gitlab/e2e/e2e.yml
  test/new-e2e/tests/windows/service-test/fixtures/system-probe-nofim.yaml
  test/new-e2e/tests/windows/service-test/startstop_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change

#29068 use distinct MSI log files
  test/new-e2e/tests/installer/windows/base_suite.go
  test/new-e2e/tests/installer/windows/datadog_installer.go
  test/new-e2e/tests/installer/windows/suites/installer-package/base_suite.go
  test/new-e2e/tests/installer/windows/suites/installer-package/install_test.go
  test/new-e2e/tests/installer/windows/suites/installer-package/rollback_test.go
  test/new-e2e/tests/installer/windows/suites/installer-package/upgrade_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change

#28546 [system-probe] Add packet counting to existing UDP byte counters
  pkg/network/ebpf/c/co-re/tracer-fentry.c
  pkg/network/ebpf/c/tracer.c
  pkg/network/tracer/tracer_linux_test.go
  releasenotes/notes/npm-udp-packet-counting-ebce8760bec29f50.yaml
Labels: component/system-probe, team/networks

#28870 Assign mapped hostname from OTLP logs in logs agent pipeline
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter_test.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done

#29062 [NETPATH-278] Use default port for Network Traffic UDP traces
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  releasenotes/notes/networkpath-use-default-udp-port-4145a4b3700e98f4.yaml
Labels: team/networks, team/network-device-monitoring

#29077 service discovery: Add check configuration by default
  cmd/agent/dist/conf.d/service_discovery.d/conf.yaml.default
  omnibus/config/software/datadog-agent-finalize.rb
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  tasks/agent.py
  test/new-e2e/tests/agent-subcommands/configcheck/configcheck_nix_test.go
  test/new-e2e/tests/discovery/linux_test.go
  test/new-e2e/tests/discovery/testdata/config/check_config.yaml
Labels: changelog/no-changelog, team/usm, qa/done

#28998 [EBPF] kmt: improve retry logic and error management
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/system-probe/connector/metric/metric.go
  test/new-e2e/system-probe/errors.go
  test/new-e2e/system-probe/errors_test.go
  test/new-e2e/system-probe/system-probe-test-env.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change

#29076 [clusteragent/admission/mutate] Add option to create socket volumes
  pkg/clusteragent/admission/mutate/agent_sidecar/providers.go
  pkg/clusteragent/admission/mutate/agent_sidecar/providers_test.go
  pkg/clusteragent/admission/mutate/config/config.go
  pkg/clusteragent/admission/mutate/config/config_test.go
  pkg/config/config_template.yaml
  pkg/config/setup/config.go
  releasenotes-dca/notes/admin-controller-vols-with-type-socket-dd57e8c0d3bb2c51.yaml
Labels: team/container-platform

#28660 add service tag to container
  cmd/process-agent/command/main_common.go
  comp/core/tagger/taggerimpl/collectors/workloadmeta_extract.go
  comp/core/tagger/taggerimpl/collectors/workloadmeta_test.go
  comp/core/tagger/tags/tags.go
Labels: changelog/no-changelog, team/container-app

#28135 [CWS] Generate policy JSON schema
  pkg/security/generators/schemas/policy/main.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/model.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/tests/schemas/policy.schema.json
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#29098 [CWS] bump security agent policies to v0.58.0
  release.json
Labels: changelog/no-changelog, team/agent-security, team/agent-metrics-logs, team/windows-kernel-integrations, team/agent-release-management, qa/done, team/agent-delivery

#29040 [EBPF-557] Force KMT CI to run when ebpf jobs are modified
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change

#29100 feat(ci): add a slack channel for apm reliability and performance
  tasks/libs/pipeline/github_slack_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops

#28988 [CONTP-393] add filters to tagger
  comp/core/tagger/taggerimpl/generic_store/composite_store.go
  comp/core/tagger/taggerimpl/generic_store/default_store.go
  comp/core/tagger/taggerimpl/generic_store/store_bench_test.go
  comp/core/tagger/taggerimpl/generic_store/store_test.go
  comp/core/tagger/taggerimpl/remote/tagstore.go
  comp/core/tagger/taggerimpl/tagstore/tagstore.go
  comp/core/tagger/types/entity_id.go
  comp/core/tagger/types/filter_builder.go
  comp/core/tagger/types/filter_builder_test.go
  comp/core/tagger/types/filters.go
  comp/core/tagger/types/filters_test.go
  comp/core/tagger/types/types.go
Labels: kind/enhancement, component/tagger, changelog/no-changelog, qa/done

#29046 [service discovery] read inject process metadata
  pkg/collector/corechecks/servicediscovery/module/envs.go
  pkg/collector/corechecks/servicediscovery/module/envs_test.go
  pkg/collector/corechecks/servicediscovery/module/injected_process.go
  pkg/collector/corechecks/servicediscovery/module/injected_process_gen.go
  pkg/collector/corechecks/servicediscovery/module/injected_process_gen_test.go
  tasks/libs/types/copyright.py
Labels: changelog/no-changelog, component/system-probe, qa/done

#29075 (fleet) fix the run path when using the CDN
  cmd/installer/subcommands/daemon/status.tmpl
  pkg/fleet/internal/cdn/cdn.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation

#29048 discovery: use executable basename for service name detector dispatch
  pkg/collector/corechecks/servicediscovery/language/language.go
  pkg/collector/corechecks/servicediscovery/language/language_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/usm/service.go
  pkg/collector/corechecks/servicediscovery/usm/service_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28702 Add another OTel test for the ingestor to replace old Argo e2e test
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_k8s/e2e_k8s.yml
  test/e2e/argo-workflows/otlp-workflow.yaml
  test/e2e/argo-workflows/templates/otlp-test.yaml
  test/new-e2e/tests/otel/otel_test.go
  test/new-e2e/tests/otel/otlp-ingest/pipelines_test.go
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change

#29083 feat(ssm): Write secret in a temporary file
  .gitlab/choco_deploy/choco_deploy.yml
  .gitlab/deploy_packages/winget.yml
  .gitlab/integration_test/windows.yml
  tasks/unit_tests/linter_tests.py
  tasks/winbuildscripts/unittests.ps1
  tools/ci/aws_ssm_get_wrapper.ps1
  tools/ci/docker-login.ps1
Labels: changelog/no-changelog, qa/no-code-change

#29101 fix(check-for-changes): Sort by semver and filter tags
  tasks/libs/common/git.py
  tasks/release.py
  tasks/unit_tests/libs/common/git_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#29007 Remove all source `/root/.bashrc` using the honor entrypoint FF
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/deps_fetch/deps_fetch.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/notify/notify.yml
  .gitlab/package_build/dmg.yml
  .gitlab/package_build/heroku.yml
  .gitlab/package_build/installer.yml
  .gitlab/package_build/linux.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/oci.yml
  .gitlab/packaging/rpm.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test/notify.yml
  .gitlab/source_test/slack.yml
  .gitlab/source_test/technical_linters.yml
  .gitlab/source_test/tooling_unit_tests.yml
  .gitlab/trigger_release/trigger_release.yml
  tools/ci/aws_ssm_get_wrapper.sh
  tools/ci/junit_upload.sh
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#29109 Bump dogstatsd max size
  tasks/dogstatsd.py
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change

#29106 discovery: Ignore ephemeral UDP ports
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#29112 Add dogstatsd check size in MQ
  .gitlab/binary_build/linux.yml
  .gitlab/integration_test/dogstatsd.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#29079 [CWS] Fix TestWriteFileEventWithCreate
  pkg/security/tests/file_windows_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change

#29093 [CWS] Disable enforcement on remote configuration loss
  pkg/config/remote/client/client.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/daemon/remote_config.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_ebpfless.go
  pkg/security/probe/probe_others.go
  pkg/security/probe/probe_windows.go
  pkg/security/probe/process_killer.go
  pkg/security/rconfig/policies.go
  pkg/security/rules/engine.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security

#29111 [CWS] Add enforcement metrics
  pkg/security/metrics/metrics.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_ebpfless.go
  pkg/security/probe/probe_windows.go
  pkg/security/probe/process_killer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#28821 UnmarshalKey implemented using pure reflection
  pkg/config/structure/unmarshal.go
  pkg/config/structure/unmarshal_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#28994 [SBOM] Collect host SBOM in flare
  comp/collector/collector/collectorimpl/collector.go
  pkg/sbom/collectors/host/collector.go
  pkg/sbom/collectors/host/request.go
  pkg/sbom/sbom.go
  pkg/sbom/scanner/scanner.go
  pkg/sbom/types/types.go
Labels: changelog/no-changelog, team/agent-security

#29095 [PROCS-4328] Add ECS EC2 e2e test for process checks in the core agent.
  test/new-e2e/tests/process/ecs_test.go
Labels: changelog/no-changelog, team/processes, qa/no-code-change

#28767 Enable v2 AD label support for logs
  comp/core/autodiscovery/common/utils/pod_annotations.go
  comp/core/autodiscovery/common/utils/pod_annotations_test.go
  releasenotes/notes/ad-label-support-logs-24ddb721e3f429fe.yaml
Labels: team/container-platform

#29113 discovery: Limit number of reported ports
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#28939 fix oom kill cgroup name to be victim
  pkg/collector/corechecks/ebpf/c/runtime/cgroup.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oomkill/c_types_linux.go
  pkg/collector/corechecks/ebpf/probe/oomkill/model/oom_kill_types.go
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill_test.go
  pkg/ebpf/cgo/genpost.go
  releasenotes/notes/oom-kill-cgroup-victim-2aa7ca4e8e3ffac2.yaml
Labels: kind/bug, component/system-probe, team/ebpf-platform, qa/done

#28175 remove unneeded Address functions
  pkg/ebpf/cgo/genpost.go
  pkg/network/dns/cache_test.go
  pkg/network/driver/types_windows.go
  pkg/network/event_common.go
  pkg/network/event_windows.go
  pkg/network/gateway_lookup_linux.go
  pkg/network/nat.go
  pkg/network/netlink/conntracker.go
  pkg/network/netlink/decoding.go
  pkg/network/protocols/http/etw_http_service.go
  pkg/network/protocols/http/model_linux.go
  pkg/network/protocols/http/statkeeper_test_linux.go
  pkg/network/protocols/http/statkeeper_test_windows.go
  pkg/network/protocols/kafka/statkeeper_test.go
  pkg/network/protocols/postgres/model_linux_test.go
  pkg/network/route_cache.go
  pkg/network/tracer/cached_conntrack.go
  pkg/network/tracer/connection/util/conn_tracer.go
  pkg/process/util/address.go
  pkg/process/util/address_test.go
  pkg/util/winutil/iphelper/routes.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#29123 Enable sub agent tagging of target metrics collected by lading for the idle agent SMP experiment
  test/regression/cases/idle/lading/lading.yaml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change

#28771 Add Oracle telemetry
  comp/core/agenttelemetry/impl/config.go
  pkg/collector/corechecks/oracle/activity.go
  pkg/collector/corechecks/oracle/statements.go
  pkg/collector/corechecks/oracle/telemetry.go
  releasenotes/notes/oracle-telemetry-bcc1ab08a2b92bc6.yaml
Labels: team/database-monitoring

#29088 Document infra attributes processor
  comp/otelcol/otlp/components/processor/infraattributesprocessor/README.md
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change

#29064 [NPM] Fix eBPF-less connection timestamp
  pkg/network/tracer/connection/ebpfless_tracer.go
Labels: changelog/no-changelog, component/system-probe, qa/done

#29027 [NPM] Use IMDSv2 for vpc_id (network_id) lookups
  cmd/process-agent/subcommands/check/check.go
  cmd/system-probe/modules/network_tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_windows.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/net.go
  pkg/process/checks/process.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_unsupported.go
  pkg/process/net/common_windows.go
  pkg/process/net/mocks/sys_probe_util.go
  pkg/process/net/shared.go
  pkg/util/cloudproviders/network.go
  pkg/util/ec2/ec2_test.go
  pkg/util/ec2/imds_helpers.go
  pkg/util/ec2/network.go
  pkg/util/ec2/network_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done

#28639 Add dynamic instrumentation system-probe module
  .github/CODEOWNERS
  cmd/system-probe/modules/dynamic_instrumentation.go
  pkg/config/setup/system_probe.go
  pkg/dynamicinstrumentation/codegen/c/dynamicinstrumentation.c
  pkg/dynamicinstrumentation/codegen/c/types.h
  pkg/dynamicinstrumentation/codegen/codegen.go
  pkg/dynamicinstrumentation/codegen/compile.go
  pkg/dynamicinstrumentation/codegen/output_offsets.go
  pkg/dynamicinstrumentation/codegen/templates.go
  pkg/dynamicinstrumentation/di.go
  pkg/dynamicinstrumentation/diagnostics/diagnostics.go
  pkg/dynamicinstrumentation/diconfig/binary_inspection.go
  pkg/dynamicinstrumentation/diconfig/config_manager.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
  pkg/dynamicinstrumentation/diconfig/file_config_manager.go
  pkg/dynamicinstrumentation/ditypes/analysis.go
  pkg/dynamicinstrumentation/ditypes/config.go
  pkg/dynamicinstrumentation/ditypes/config_test.go
  pkg/dynamicinstrumentation/ditypes/diagnostics.go
  pkg/dynamicinstrumentation/ditypes/ebpf.go
  pkg/dynamicinstrumentation/ditypes/ebpf_linux.go
  pkg/dynamicinstrumentation/ditypes/ringbuffer.go
  pkg/dynamicinstrumentation/ditypes/snapshot.go
  pkg/dynamicinstrumentation/ditypes/snapshot_test.go
  pkg/dynamicinstrumentation/ditypes/testdata/snapshot-00.json
  pkg/dynamicinstrumentation/ditypes/testdata/snapshot-01.json
  pkg/dynamicinstrumentation/ditypes/testdata/snapshot-02.json
  pkg/dynamicinstrumentation/ebpf/ebpf.go
  pkg/dynamicinstrumentation/eventparser/event_parser.go
  pkg/dynamicinstrumentation/eventparser/event_parser_test.go
  pkg/dynamicinstrumentation/eventparser/param_stack.go
  pkg/dynamicinstrumentation/module/config.go
  pkg/dynamicinstrumentation/module/doc.go
  pkg/dynamicinstrumentation/module/module.go
  pkg/dynamicinstrumentation/module/module_stub.go
  pkg/dynamicinstrumentation/proctracker/proctracker.go
  pkg/dynamicinstrumentation/proctracker/types.go
  pkg/dynamicinstrumentation/ratelimiter/ratelimit.go
  pkg/dynamicinstrumentation/ratelimiter/ratelimit_test.go
  pkg/dynamicinstrumentation/ringbufconsumer.go
  pkg/dynamicinstrumentation/uploader/di_log_converter.go
  pkg/dynamicinstrumentation/uploader/offline.go
  pkg/dynamicinstrumentation/uploader/stack_trace.go
  pkg/dynamicinstrumentation/uploader/uploader.go
  pkg/dynamicinstrumentation/util/file_watcher.go
  pkg/dynamicinstrumentation/util/file_watcher_test.go
  pkg/ebpf/bytecode/runtime/.gitignore
  pkg/ebpf/bytecode/runtime/asset.go
  pkg/ebpf/bytecode/runtime/protected_file.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/cgo/genpost.go
  pkg/ebpf/compiler/compiler.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/agent-shared-components

#29092 [NETPATH-297] Update timeout to be per hop instead of per path
  cmd/agent/dist/conf.d/network_path.d/conf.yaml.example
  cmd/system-probe/modules/traceroute.go
  pkg/collector/corechecks/networkpath/config.go
  pkg/collector/corechecks/networkpath/config_test.go
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
  pkg/networkpath/traceroute/runner.go
  pkg/networkpath/traceroute/tcp/tcpv4.go
  pkg/process/net/common.go
  releasenotes/notes/network-path-change-timeout-configuration-4ccec24497bd1574.yaml
Labels: component/system-probe, team/networks, team/network-device-monitoring

#29131 [release] Update current milestone to 7.59.0
  release.json
Labels: changelog/no-changelog, category/release_operations, team/agent-release-management, qa/no-code-change, team/agent-delivery

#29133 [release] Update release.json and gitlab files for 7.58.x branch
  .gitlab-ci.yml
  .gitlab/notify/notify.yml
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#29103 Fix typo on ownerhsip
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops

#29118 [CWS] discard the last good parent inode
  pkg/security/probe/discarders_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29129 remove unnecessary println
  comp/core/tagger/taggerimpl/tagstore/tagstore_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform

#29134 fix(release): Set milestone as non-devel tag
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change

#29128 Revert "[USMON-417] gotls: Restore support on fedora (#27437)"
  pkg/network/ebpf/c/protocols/tls/go-tls-maps.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/protocols/tls/gotls/testutil/helpers.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, backport/7.58.x

#29132 Changelog updates for 7.57.0 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/7.58.x

#28940 add fetch-driver-msm invoke task
  tasks/libs/common/utils.py
  tasks/msi.py
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change

#29143 USMON-1152: Remove Kafka monitor tests optimization
  pkg/network/usm/kafka_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#29026 [SVLS-5257] Add lambda file descriptor enhanced metrics
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  pkg/serverless/proc/proc.go
  pkg/serverless/proc/proc_test.go
  pkg/serverless/proc/testData/file-descriptor/invalid_malformed/31/limits
  pkg/serverless/proc/testData/file-descriptor/invalid_malformed/9/limits
  pkg/serverless/proc/testData/file-descriptor/invalid_missing/31/limits
  pkg/serverless/proc/testData/file-descriptor/invalid_missing/9/limits
  pkg/serverless/proc/testData/file-descriptor/valid/31/fd/1
  pkg/serverless/proc/testData/file-descriptor/valid/31/fd/2
  pkg/serverless/proc/testData/file-descriptor/valid/31/limits
  pkg/serverless/proc/testData/file-descriptor/valid/9/fd/1
  pkg/serverless/proc/testData/file-descriptor/valid/9/fd/2
  pkg/serverless/proc/testData/file-descriptor/valid/9/fd/3
  pkg/serverless/proc/testData/file-descriptor/valid/9/limits
  pkg/serverless/serverless.go
  test/integration/serverless/snapshots/error-csharp
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/error-python
  test/integration/serverless/snapshots/metric-csharp
  test/integration/serverless/snapshots/metric-go
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
  test/integration/serverless/snapshots/metric-python
Labels: changelog/no-changelog, team/serverless

#29135 replace bool function argument with an early return
  comp/forwarder/defaultforwarder/forwarder.go
  comp/process/forwarders/forwardersimpl/forwarders.go
Labels: changelog/no-changelog, team/processes, qa/no-code-change, team/agent-processing-and-routing

#29120 [CWS] optimize `os.Stat` in hash resolver because of heavy usage
  pkg/security/resolvers/hash/resolver_linux.go
  pkg/security/utils/stat_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29124 use merge-friendly way of adding vars to genpost
  pkg/ebpf/cgo/genpost.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#29125 move runtime compilation asset gitignore to subdir
  .gitignore
  pkg/ebpf/bytecode/runtime/.gitignore
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#29142 Bump the latest stable version
  release.json
Labels: changelog/no-changelog, team/agent-security, team/agent-metrics-logs, team/windows-kernel-integrations, team/agent-release-management, qa/no-code-change, team/agent-delivery

#29144 [CWS] Add auto-suppression guards
  pkg/security/config/config.go
  pkg/security/config/config_linux.go
  pkg/security/config/config_others.go
  pkg/security/rules/autosuppression/autosuppression.go
  pkg/security/rules/engine.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, bugfix/functional

#29158 [CWS] directly call `filepath.Join` instead of `HostProc` in utils
  pkg/security/utils/proc_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29044 [OTEL-1282] Replace logging-exporter with debug-exporter
  LICENSE-3rdparty.csv
  cmd/serverless/dependencies_linux_amd64.txt
  cmd/serverless/dependencies_linux_arm64.txt
  comp/otelcol/collector-contrib/impl/components.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/collector-contrib/impl/manifest.yaml
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/config_test.go
  comp/otelcol/otlp/map_provider.go
  comp/otelcol/otlp/map_provider_not_serverless_test.go
  comp/otelcol/otlp/map_provider_serverless_test.go
  comp/otelcol/otlp/testdata/debug/loglevel_disabled.yaml
  comp/otelcol/otlp/testdata/debug/verbosity_detailed.yaml
  comp/otelcol/otlp/testdata/debug/verbosity_none.yaml
  comp/otelcol/otlp/testdata/metrics/allconfig.yaml
  go.mod
  go.sum
  pkg/config/config_template.yaml
  pkg/config/setup/otlp.go
  releasenotes/notes/otel-replace-logging-exporter-82062f8c865cb529.yaml
  tasks/unit_tests/testdata/collector/valid_datadog_manifest.yaml
  test/e2e/containers/otlp_sender/cmd/sender/main.go
  test/e2e/containers/otlp_sender/go.mod
  test/e2e/containers/otlp_sender/go.sum
  test/regression/cases/otel_to_otel_logs/datadog-agent/datadog.yaml
Labels: team/opentelemetry

#29147 USMON-1210: Kafka monitoring fetch functions rename
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/protocols/ebpf_types.go
  pkg/network/protocols/ebpf_types_linux.go
  pkg/network/protocols/kafka/protocol.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#29203 [CWS] keep updating the cache of disarmed rules
  pkg/security/probe/process_killer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done

#29198 Configure the CI to run the e2e tests on GCP
  .gitlab-ci.yml
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change

#29206 Exclude ancostas and maascamp from OpenTelemetry QA
  .ddqa/config.toml
Labels: changelog/no-changelog, qa/no-code-change

#29210 bump `github.com/DataDog/agent-payload` to v5.0.132
  go.mod
  go.sum
Labels: team/containers, changelog/no-changelog, team/networks, team/agent-security, team/usm, qa/done

#29138 feat(secrets): Rename the wrapper script as secrets might come from vault as well
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/choco_deploy/choco_deploy.yml
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/common/shared.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/fakeintake.yml
  .gitlab/deploy_packages/winget.yml
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_install_packages/common.yml
  .gitlab/e2e_k8s/e2e_k8s.yml
  .gitlab/functional_test/regression_detector.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/windows.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/kernel_matrix_testing/common.yml
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/maintenance_jobs/docker.yml
  .gitlab/maintenance_jobs/kitchen.yml
  .gitlab/notify/notify.yml
  .gitlab/packaging/rpm.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/linux.yml
  .gitlab/trigger_release/trigger_release.yml
  tasks/linter.py
  tasks/pipeline.py
  tasks/unit_tests/linter_tests.py
  tasks/winbuildscripts/unittests.ps1
  test/kitchen/tasks/clean.sh
  test/kitchen/tasks/run-test-kitchen.sh
  test/kitchen/tasks/show-strays.sh
  tools/ci/docker-login.ps1
  tools/ci/fetch_secret.ps1
  tools/ci/fetch_secret.sh
  tools/ci/junit_upload.sh
Labels: changelog/no-changelog, major_change, team/agent-devx-infra

#29127 [USM] Add symbol extraction using pclntab
  pkg/collector/corechecks/servicediscovery/apm/detect.go
  pkg/collector/corechecks/servicediscovery/apm/detect_nix_test.go
  pkg/collector/corechecks/servicediscovery/apm/testutil/instrumented/instrumented.go
  pkg/network/go/bininspect/pclntab.go
  pkg/network/go/bininspect/symbols.go
  pkg/network/usm/testutil/generic_testutil_builder.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done

#29221 [EBPF] Replace generated pointers to structs with uintptr
  pkg/ebpf/cgo/genpost.go
  pkg/network/ebpf/kprobe_types_linux.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done

#29211 use sync.Once to avoid recalculating tagger.tagstore_use_composite_entity_id on each call
  pkg/util/tagger/tagger.go
Labels: kind/enhancement, changelog/no-changelog, qa/done
