Repository DataDog/datadog-agent, pull requests merged in 2024-12, with the labels that each got.

#31634 usm: Fix imports
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/kafka/server.go
  pkg/network/protocols/mongo/server.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/redis/server.go
  pkg/network/protocols/tls/gotls/testutil/server.go
  pkg/network/protocols/tls/nodejs/nodejs.go
  pkg/network/usm/monitor_tls_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, medium review

#31619 upgrade(installer): Return specific error codes
  cmd/installer/main.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/installer/errors/errors.go
  pkg/fleet/installer/errors/errors_test.go
  pkg/fleet/installer/installer.go
  pkg/fleet/internal/exec/installer_exec.go
  pkg/fleet/internal/oci/download.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#31628 (fleet) env cleanup
  cmd/installer/subcommands/installer/command.go
  comp/updater/telemetry/telemetryimpl/telemetry.go
  comp/updater/updater/updaterimpl/updater.go
  pkg/fleet/bootstrapper/bootstrapper.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/env/http_client.go
  pkg/fleet/env/install_script.go
  pkg/fleet/installer/default_packages.go
  pkg/fleet/installer/default_packages_test.go
  pkg/fleet/installer/env/env.go
  pkg/fleet/installer/env/env_test.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/installer_test.go
  pkg/fleet/installer/packages/apm_inject.go
  pkg/fleet/installer/packages/apm_inject_test.go
  pkg/fleet/installer/setup.go
  pkg/fleet/internal/bootstrap/bootstrap.go
  pkg/fleet/internal/bootstrap/bootstrap_nix.go
  pkg/fleet/internal/bootstrap/bootstrap_windows.go
  pkg/fleet/internal/cdn/cdn.go
  pkg/fleet/internal/cdn/cdn_http.go
  pkg/fleet/internal/cdn/cdn_local.go
  pkg/fleet/internal/cdn/cdn_rc.go
  pkg/fleet/internal/cdn/scope_expression.go
  pkg/fleet/internal/cdn/tags.go
  pkg/fleet/internal/exec/installer_exec.go
  pkg/fleet/internal/oci/download.go
  pkg/fleet/internal/oci/download_test.go
  pkg/fleet/telemetry/telemetry.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#31641 [incident-32914] Disable worktree unit tests
  tasks/unit_tests/libs/common/worktree_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#31633 [CWS] remove hash burst config, since we always have burst = 1
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/resolvers/hash/resolver_linux.go
  pkg/security/resolvers/hash/resolver_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#31637 [CWS-2966] add missing cws-instrumentation flags in attach mode
  cmd/cws-instrumentation/subcommands/tracecmd/trace.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#31632 [CWS] add additional fentry check for weak duplicated symbols
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#31635 usm: config: Default USM configuration should not warn about using network_config.enable_http_monitoring
  cmd/system-probe/config/adjust_usm.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  pkg/network/config/config_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31627 [ADXT-767] [lint] Exclude test/new-e2e from windows and macos linter
  modules.yml
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change, short review

#31600 [github] update qa check logic
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/label-analysis.yml
  tasks/github_tasks.py
  tasks/unit_tests/github_tasks_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, medium review

#31567 USM: tests: add test helper to get empty config
  pkg/network/usm/compile_test.go
  pkg/network/usm/ebpf_ssl_test.go
  pkg/network/usm/istio_test.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/sharedlibraries/watcher_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/utils/testutils.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#31320 Add a basic e2e test JMXFetch
  .gitlab/e2e/e2e.yml
  test/new-e2e/pkg/utils/e2e/client/agent_commands.go
  test/new-e2e/pkg/utils/e2e/client/agentclient/agent.go
  test/new-e2e/tests/agent-metrics-logs/jmxfetch/docs.go
  test/new-e2e/tests/agent-metrics-logs/jmxfetch/jmxfetch_nix_test.go
  test/new-e2e/tests/agent-metrics-logs/jmxfetch/testdata/docker-labels.yaml
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change, team/agent-devx-loops, medium review

#31645 [EBPF] fix flaky gpu-module test
  pkg/gpu/probe_test.go
  pkg/gpu/testdata/cudasample.c
  pkg/gpu/testutil/samplebins.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#30546 Move containers integration tests to e2e provisioners
  test/new-e2e/pkg/environments/aws/kubernetes/eks.go
  test/new-e2e/pkg/environments/aws/kubernetes/kind.go
  test/new-e2e/tests/containers/base_test.go
  test/new-e2e/tests/containers/docker_test.go
  test/new-e2e/tests/containers/dump_cluster_state.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform, team/agent-devx-loops, long review

#31655 [Backport 7.61.x] [tagger/remote] Fix "tagger-list" command
  comp/core/tagger/impl-dual/dual.go
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/impl-remote/remote_test.go
Labels: kind/bug, changelog/no-changelog, category/bugfix, qa/done, team/container-platform, short review

#29458 [JUnit] Raise error on `datadog-ci` command not found
  tasks/libs/common/junit_upload_core.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, medium review

#31604 Increase extreme memory usage limit
  pkg/collector/corechecks/oracle/oracle_integration_test.go
Labels: changelog/no-changelog, team/database-monitoring, qa/done, short review

#31660 Suffix the branch name with a timestamp when creating a new branch to build a release candidate
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#31524 [usm] Create entry in `connection_protocol` only if needed
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/protocols/classification/routing.h
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/tracer/tracer_testutil.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, long review

#31646 Remove unused function GetSyslogURIFromConfig
  pkg/util/log/setup/log_nix.go
  pkg/util/log/setup/log_windows.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, short review

#31648 Fix pkg/util/log/setup/defaults_darwin.go file name
  pkg/util/log/setup/defaults_darwin.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change, short review

#31670 Revert "[JUnit] Raise error on `datadog-ci` command not found (#29458)"
  tasks/libs/common/junit_upload_core.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#31556 serializer: lower the verbosity of the log of the metadata and process metadata payload successfully sent.
  pkg/serializer/serializer.go
Labels: changelog/no-changelog, qa/done, team/agent-processing-and-routing, short review

#31639 usm: config: Default USM configuration should not warn about using network_config.enable_https_monitoring
  cmd/system-probe/config/adjust_usm.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  pkg/network/config/config_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31664 [CWS] do not enable fentry on kernel < 6.1
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#31662 Stop initializing the logger twice in dogstatsd
  cmd/dogstatsd/subcommands/start/command.go
Labels: changelog/no-changelog, team/agent-shared-components, team/agent-metrics-logs, qa/done, short review

#31663 Fix dogstatsd config file path help message
  cmd/dogstatsd/subcommands/start/command.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change, short review

#31687 [JUnit] Raise error on `datadog-ci` command not found
  tasks/libs/common/junit_upload_core.py
  tasks/unit_tests/junit_tests.py
Labels: changelog/no-changelog, qa/done, team/agent-devx-infra, short review

#31549 [release] Update release.json and Go modules for 6.53.1-rc.1
  cmd/agent/common/path/go.mod
  comp/core/config/go.mod
  comp/core/hostname/hostnameinterface/go.mod
  comp/core/log/go.mod
  comp/core/secrets/go.mod
  comp/core/status/statusimpl/go.mod
  comp/core/telemetry/go.mod
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/logs/agent/config/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/api/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/config/remote/go.mod
  pkg/config/setup/go.mod
  pkg/config/utils/go.mod
  pkg/gohai/go.mod
  pkg/logs/auditor/go.mod
  pkg/logs/client/go.mod
  pkg/logs/diagnostic/go.mod
  pkg/logs/message/go.mod
  pkg/logs/metrics/go.mod
  pkg/logs/pipeline/go.mod
  pkg/logs/processor/go.mod
  pkg/logs/sender/go.mod
  pkg/logs/sources/go.mod
  pkg/logs/util/testutils/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/security/seclwin/go.mod
  pkg/serializer/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/flavor/go.mod
  pkg/util/grpc/go.mod
  pkg/util/hostname/validate/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  pkg/util/system/go.mod
  pkg/util/uuid/go.mod
  pkg/util/winutil/go.mod
  release.json
  test/fakeintake/go.mod
  test/new-e2e/go.mod
Labels: changelog/no-changelog, component/system-probe, category/release_operations, team/agent-release-management, qa/no-code-change, team/agent-build-and-releases

#31610 [HA Agent] Add initial e2e test for HA Agent feature
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/e2e/e2e.yml
  test/new-e2e/tests/ha-agent/haagent_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops, medium review

#31666 [CWS] Fix cgroup dentry resolution for RHEL 7
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review, backport/7.61.x

#31653 Remade worktree unit tests
  tasks/libs/common/worktree.py
  tasks/unit_tests/libs/common/worktree_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, medium review

#31696 Stop creating go.work.backup when go.work already exists
  go.work
  tasks/modules.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops, short review

#31697 Set codeowners for go.work file
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change, short review

#31710 Add the version to the slack notification for RC PRs
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#31606 [CWS] Change tags retrieval retry logic
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/tags/resolver_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, medium review, qa/rc-required

#31703 [Backport 7.61.x] [CWS] Fix cgroup dentry resolution for RHEL 7 (#31666)
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#26207 feat(issues): Enable a new issue workflow for automatic issue triage
  .github/workflows/assign_issue.yml
  tasks/__init__.py
  tasks/issue.py
  tasks/libs/common/utils.py
  tasks/libs/issue/assign.py
  tasks/libs/issue/model/actions.py
  tasks/libs/issue/model/constants.py
  tasks/owners.py
  tasks/unit_tests/issue_tests.py
  tasks/unit_tests/utils_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#31293 simplify flare requests for system-probe
  .github/CODEOWNERS
  cmd/agent/subcommands/flare/command.go
  cmd/system-probe/api/client/client.go
  pkg/flare/archive.go
  pkg/flare/archive_linux.go
  pkg/flare/sysprobe/archive.go
  pkg/flare/sysprobe/archive_linux.go
  pkg/flare/sysprobe/archive_nolinux.go
  pkg/flare/sysprobe/archive_unsupported.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_unsupported.go
  pkg/process/net/common_windows.go
  pkg/process/net/mocks/sys_probe_util.go
  pkg/process/net/shared.go
  pkg/status/systemprobe/status.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, long review

#31543 [CONTP-512] Add settings on sidecar to terminate on finished job
  pkg/clusteragent/admission/mutate/agent_sidecar/agent_sidecar.go
  pkg/clusteragent/admission/mutate/agent_sidecar/agent_sidecar_test.go
  releasenotes/notes/sidecar-killed-on-job-5dd6537ed1098646.yaml
Labels: team/container-platform, medium review, qa/rc-required

#31711 [Bug Fix] fix backward compatibility issue in remote tagger dca server
  comp/core/tagger/server/server.go
Labels: component/tagger, changelog/no-changelog, component/cluster-agent, bugfix/functional, team/container-platform, short review, qa/rc-required, backport/7.61.x

#31725 Update SMP CLI version to `0.19.3`.
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change, short review

#31364 move service discovery to simpler sysprobe client
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/languagedetection/detector.go
  pkg/languagedetection/detector_linux_test.go
  pkg/process/net/common.go
  pkg/process/net/common_linux.go
  pkg/process/net/common_unsupported.go
  pkg/process/net/common_windows.go
  pkg/process/net/mocks/sys_probe_util.go
  pkg/process/net/shared.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#31723 Fix out of sync go work and update check
  tasks/go.py
  tools/retry_file_dump/go.mod
  tools/retry_file_dump/go.sum
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change, short review

#31728 [e2e] mark TestAdmissionControllerWithAutoDetectedLanguage
  test/new-e2e/tests/containers/k8s_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#31555 enable omnibus git cache on windows
  .gitlab-ci.yml
  .gitlab/package_build/windows.yml
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, long review

#31718 [CWS] sync yaml usage to v3 in `pkg/security/secl`
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/policy.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#31671 Performance improvements of External Metrics controller and allow multiple workers
  cmd/secrethelper/secret_helper.go
  cmd/secrethelper/secret_helper_test.go
  pkg/clusteragent/autoscaling/externalmetrics/datadogmetric_controller.go
  pkg/clusteragent/autoscaling/externalmetrics/datadogmetric_controller_test.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/autoscaling/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/autoscaling/externalmetrics/provider.go
  pkg/clusteragent/autoscaling/externalmetrics/telemetry.go
  pkg/config/setup/config.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
Labels: team/containers, changelog/no-changelog, component/cluster-agent, kind/performance, qa/done, component/autoscaling, medium review, backport/7.61.x

#31686 [HA Agent] Improve HA Agent RCListener log
  comp/haagent/impl/haagent_comp.go
  test/new-e2e/tests/ha-agent/haagent_test.go
Labels: changelog/no-changelog, qa/done, short review, team/ndm-core

#31734 [HA Agent] Log leader state change
  comp/haagent/impl/haagent.go
  comp/haagent/impl/utils.go
  comp/haagent/impl/utils_test.go
Labels: changelog/no-changelog, qa/done, short review, team/ndm-core

#31667 fix(notify): Change the message to fit the new task name
  .gitlab/notify/notify.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#31716 CI: container build: ensure JMX is enabled in jmx-fips images
  .gitlab/container_build/docker_linux.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#31744 sharedlibraries: tests: Fix bugs in the test
  pkg/network/usm/sharedlibraries/ebpf_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, medium review

#31695 (fleet) build the bootstrapper as a shell script on linux
  .gitlab/.ci-linters.yml
  .gitlab/deploy_packages/deploy_common.yml
  .gitlab/package_build/installer.yml
  tasks/installer.py
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation, medium review

#31740 [CI] Don't stop the integration tests at the first failure
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/gotest.py
  tasks/libs/common/utils.py
  tasks/trace_agent.py
Labels: changelog/no-changelog, qa/done, team/agent-devx-infra, medium review

#31397 [NPM-3530] Add TCP retransmit support to ebpfless
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_retransmit_test.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review

#31742 [CWS] fix ttl field `time.Duration` unmarshaller
  pkg/security/events/rate_limiter.go
  pkg/security/generators/schemas/policy/main.go
  pkg/security/probe/process_killer.go
  pkg/security/probe/selftests/ebpfless.go
  pkg/security/secl/rules/model.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/tests/action_test.go
  pkg/security/tests/event_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#31685 [NETPATH-366] Enrich dynamic network path with NPM domain cache
  comp/networkpath/npcollector/component.go
  comp/networkpath/npcollector/npcollectorimpl/common/pathtest.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_mock.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  pkg/process/checks/net.go
  releasenotes/notes/network-path-local-dns-41303d691d58a2b4.yaml
Labels: team/networks, qa/done, medium review

#31724 Conditionally set GOFIPS env var
  Dockerfiles/agent/Dockerfile
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, short review

#31704 usm: kafka: Remove code duplication in response parser
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31745 sharedlibraries: rework ebpf prog concurrency
  pkg/network/usm/sharedlibraries/ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#31491 [NPM-3586] Add RTT support to ebpf-less tracer
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_rtt.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_rtt_test.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/connection/ebpfless_tracer.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review

#31738 [tagger] Move entity ID functions to types package
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_main.go
  comp/core/tagger/collectors/workloadmeta_test.go
  comp/core/tagger/common/entity_id_builder.go
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/impl/local_tagger.go
  comp/core/tagger/impl/replay_tagger.go
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/mock/fake_tagger.go
  comp/core/tagger/types/entity_id.go
  comp/dogstatsd/replay/impl/writer.go
  comp/otelcol/otlp/collector.go
  pkg/collector/corechecks/containers/kubelet/provider/cadvisor/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/kubelet/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/pod/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/probe/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/summary/provider_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, long review

#31668 [CWS] Do not infer cgroup from container ID
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/ptracer/utils.go
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/container/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/secl/containerutils/cgroup.go
  pkg/security/secl/containerutils/helpers.go
  pkg/security/secl/containerutils/helpers_test.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/utils/cgroup.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#31135 bump mockery to 2.49.2
  internal/tools/go.mod
  internal/tools/go.sum
  pkg/collector/corechecks/gpu/nvidia/mocks.go
  pkg/eventmonitor/proto/api/mocks/event_monitoring_module_client.go
  pkg/eventmonitor/proto/api/mocks/event_monitoring_module_get_process_events_client.go
  pkg/eventmonitor/proto/api/mocks/event_monitoring_module_server.go
  pkg/process/checks/mocks/check.go
  pkg/process/net/mocks/sys_probe_util.go
  pkg/process/procutil/mocks/probe.go
  pkg/process/runner/mocks/submitter.go
  pkg/security/agent/mocks/security_module_client_wrapper.go
  pkg/security/proto/api/mocks/security_module_client.go
  pkg/security/proto/api/mocks/security_module_server.go
  pkg/serializer/mocks/metric_serializer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, long review

#31692 [CWS] Export cgroup.version
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/field_handlers_ebpfless.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/tests/cgroup_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, long review, qa/rc-required

#31753 Disable python check focused SMP experiments that give false positives
  test/regression/x-disabled-cases/basic_py_check/datadog-agent/checks.d/my-check.py
  test/regression/x-disabled-cases/basic_py_check/datadog-agent/conf.d/my-check.d/conf.yaml
  test/regression/x-disabled-cases/basic_py_check/datadog-agent/datadog.yaml
  test/regression/x-disabled-cases/basic_py_check/experiment.yaml
  test/regression/x-disabled-cases/basic_py_check/lading/lading.yaml
  test/regression/x-disabled-cases/pycheck_lots_of_tags/datadog-agent/checks.d/my-check.py
  test/regression/x-disabled-cases/pycheck_lots_of_tags/datadog-agent/conf.d/my-check.d/conf.yaml
  test/regression/x-disabled-cases/pycheck_lots_of_tags/datadog-agent/datadog.yaml
  test/regression/x-disabled-cases/pycheck_lots_of_tags/experiment.yaml
  test/regression/x-disabled-cases/pycheck_lots_of_tags/lading/lading.yaml
Labels: changelog/no-changelog, qa/no-code-change, medium review

#31757 [E2E] Mark TestKindSuite as flaky
  test/new-e2e/tests/containers/kindvm_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#31466 Add foundations for Windows FIPS flavor
  .gitlab/package_build/windows.yml
  omnibus/config/software/datadog-agent.rb
  tasks/build_tags.py
  tasks/msi.py
  tasks/omnibus.py
  tasks/system_probe.py
  tasks/winbuildscripts/dobuild.bat
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentFlavor.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentInstaller.cs
Labels: changelog/no-changelog, component/system-probe, team/windows-agent, qa/no-code-change, long review

#31765 [CWS] improve handling of nil `HumanReadableDuration`
  pkg/security/events/rate_limiter.go
  pkg/security/probe/process_killer.go
  pkg/security/secl/rules/model.go
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#31752 [fleet] Add DJM installation scenario
  cmd/installer/subcommands/installer/command.go
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/datadog_installer.go
  pkg/fleet/installer/setup/common/config.go
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/databricks_windows.go
  pkg/fleet/installer/setup/setup.go
Labels: changelog/no-changelog, team/windows-agent, qa/done, medium review

#31764 [CWS] re-enabled `gen_mocks` in `security-agent.go-generate-check`
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#31769 [CWS] fix unmarshalling of regular int to `time.Duration`
  pkg/security/secl/rules/model.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#31751 [EBPF-560] attacher: Fix TestSingleFile flaky test
  pkg/ebpf/uprobes/attacher_test.go
  pkg/ebpf/uprobes/testutil.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, medium review

#31701 fix(installer): Skip LD_PRELOAD check if echo not in path
  pkg/fleet/installer/packages/apm_inject.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#31651 [EBPF] gpu: Add tagger integration
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_stub.go
  pkg/collector/corechecks/gpu/model/model.go
  pkg/commonchecks/corechecks.go
  pkg/gpu/consumer.go
  pkg/gpu/probe_test.go
  pkg/gpu/stats.go
  pkg/gpu/stream.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#31774 discovery: do not fail to get services if CPU stats can't be updated
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31783 omnibus: remove libelf & glib recipes
  omnibus/config/software/glib.rb
  omnibus/config/software/libelf.rb
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#31702 [CWS] Index workload per cgroup
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#31776 discovery: tests: use collect instead of t in EventuallyWithT calls
  pkg/collector/corechecks/servicediscovery/module/comm_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#31789 fix(podresources): switch socket error to debug
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: changelog/no-changelog, team/container-app, qa/done, team/container-platform, medium review

#31772 [USM] Fix TestInvalidBatchCountMetric flakiness
  pkg/network/protocols/events/consumer_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, long review

#31754 Update update-go task to update go.work, and rework modules.go-work to only synchronise used modules with modules.yml
  go.work
  internal/tools/worksynchronizer/go.mod
  internal/tools/worksynchronizer/go.sum
  internal/tools/worksynchronizer/worksynchronizer.go
  modules.yml
  tasks/modules.py
  tasks/update_go.py
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change, medium review

#31755 Revert "Move containers integration tests to e2e provisioners"
  test/new-e2e/pkg/environments/aws/kubernetes/eks.go
  test/new-e2e/pkg/environments/aws/kubernetes/kind.go
  test/new-e2e/tests/containers/base_test.go
  test/new-e2e/tests/containers/docker_test.go
  test/new-e2e/tests/containers/dump_cluster_state.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform, long review

#31781 Conditionally set GOFIPS env var
  Dockerfiles/agent/Dockerfile
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, short review

#31775 Gowork off on serverless integration test
  .github/workflows/serverless-integration.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#31799 Fix gitlab diff (unhashable type list)
  tasks/libs/ciproviders/gitlab_api.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#31800 [PROCS-4577] Remove `ECSEC2Suite` embed from `ECSEC2CoreAgentSuite` struct
  test/new-e2e/tests/process/ecs_test.go
Labels: changelog/no-changelog, team/processes, qa/no-code-change, short review

#31798 [Backport 7.60.x] [EBPF] gpu: mark TestvectorAddProgramDetected as flaky
  test/new-e2e/tests/gpu/gpu_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review

#31465 [CONTP-499] Parsing GPU tags on kubeapiserver collector
  .github/CODEOWNERS
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet_test.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod_test.go
  pkg/util/gpu/common.go
  pkg/util/gpu/common_test.go
  releasenotes/notes/kubeapiserver-gpu-tagging-e6202bc782982e5d.yaml
Labels: team/agent-shared-components, team/container-platform, long review, qa/rc-required

#31805 Fixing logic for when to enable APM
  pkg/config/utils/miscellaneous.go
  pkg/config/utils/miscellaneous_test.go
Labels: changelog/no-changelog, team/agent-apm, team/apm-onboarding, qa/done, short review, backport/7.61.x

#31763 [ebpfless] Implement connection duration and fix IsOpen
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, short review

#31811 Mark TestPodParser test as flaky
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform, short review

#31814 Do not print Ansible logs
  test/new-e2e/tests/installer/unix/all_packages_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, short review

#31816 [ebpfless] Fix TestTCPRemoveEntries
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, short review

#31573 Replace --incremental-build by their --rebuild equivalent
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-dogstatsd.rb
  omnibus/config/software/datadog-iot-agent.rb
  omnibus/config/software/installer.rb
  tasks/cws_instrumentation.py
  tasks/process_agent.py
  tasks/security_agent.py
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/no-code-change, team/agent-delivery, medium review

#31777 [HA Agent] Refactor is_leader to state
  comp/haagent/def/component.go
  comp/haagent/def/state.go
  comp/haagent/impl/haagent.go
  comp/haagent/impl/haagent_test.go
  comp/haagent/impl/utils_test.go
  comp/haagent/mock/mock.go
Labels: changelog/no-changelog, qa/done, medium review, team/ndm-core

#31795 (fleet) isolate the downloader in its own sub cmd
  .github/CODEOWNERS
  .gitlab/package_build/installer.yml
  cmd/installer-downloader/main.go
  cmd/installer/main.go
  pkg/fleet/installer/setup.sh
  pkg/fleet/installer/setup/install.sh
  tasks/installer.py
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation, medium review

#31762 Fix comp/otelcol/collector-contrib module path
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/manifest.yaml
  tasks/unit_tests/testdata/collector/valid_datadog_manifest.yaml
  tasks/unit_tests/testdata/collector/valid_manifest_without_specified_version.yaml
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change, medium review

#31793 Bump gohai workflow macos runners to 13
  .github/workflows/gohai.yml
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change, short review

#30062 [ACIX-453] Agent 6 release tasks support
  .github/workflows/create_rc_pr.yml
  .gitlab/check_merge/do_not_merge.yml
  .gitlab/e2e_install_packages/windows.yml
  .gitlab/functional_test/regression_detector.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  omnibus/config/software/datadog-agent-integrations-py3.rb
  tasks/kmt.py
  tasks/libs/ciproviders/github_api.py
  tasks/libs/common/git.py
  tasks/libs/releasing/json.py
  tasks/libs/releasing/notes.py
  tasks/libs/releasing/version.py
  tasks/notes.py
  tasks/release.py
  tasks/unit_tests/release_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, long review

#31784 upgrade(installer): Uninstall deb/rpm agent when installing the OCI
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/datadog_agent_windows.go
  pkg/fleet/installer/packages/pkg_manager.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/unix/package_agent_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#31822 fix(fleet): Skip broken tests
  test/new-e2e/tests/installer/unix/package_apm_inject_test.go
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation, short review

#31782 [HA Agent] Add datadog.agent.ha_agent.running metric
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/sender_test.go
Labels: changelog/no-changelog, qa/done, medium review

#31802 omnibus: reorder depencencies
  omnibus/config/projects/agent.rb
  omnibus/config/software/agent-dependencies.rb
  omnibus/config/software/datadog-agent-dependencies.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/snmp-traps.rb
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, medium review

#31808 Set GOFIPS via build arg for docker env
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/agent/Dockerfile
Labels: changelog/no-changelog, qa/no-code-change, short review

#31817 [ebpfless] Fix revive linter warnings in TCP processor
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_retransmit_test.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_rtt_test.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/connection/ebpfless/tcp_utils.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/no-code-change, medium review

#31839 Bugfix - recognize PDB as K8s resource
  pkg/orchestrator/model/types.go
Labels: changelog/no-changelog, team/container-app, qa/no-code-change, short review

#31542 [serverless] Support trace context propagation for ALB target groups with MultiValueHeaders
  pkg/serverless/trace/propagation/carriers.go
  pkg/serverless/trace/propagation/carriers_test.go
  pkg/serverless/trace/propagation/extractor.go
  pkg/serverless/trace/propagation/extractor_test.go
  pkg/serverless/trigger/events/events.go
  pkg/serverless/trigger/extractor.go
  pkg/serverless/trigger/extractor_test.go
Labels: changelog/no-changelog, team/serverless, qa/done, medium review

#31732 Deprecate Windows .bat scripts
  .github/CODEOWNERS
  .gitlab/package_build/installer.yml
  .gitlab/package_build/windows.yml
  Dockerfiles/agent/windows/README.md
  docs/dev/agent_omnibus.md
  tasks/__init__.py
  tasks/winbuild.py
  tasks/winbuildscripts/Build-AgentPackages.ps1
  tasks/winbuildscripts/Build-InstallerPackages.ps1
  tasks/winbuildscripts/Build-OmnibusTarget.ps1
  tasks/winbuildscripts/Generate-OCIPackage.ps1
  tasks/winbuildscripts/buildinstaller.bat
  tasks/winbuildscripts/buildlocal.bat
  tasks/winbuildscripts/buildwin.bat
  tasks/winbuildscripts/common.ps1
  tasks/winbuildscripts/dobuild.bat
  tasks/winbuildscripts/libyajl2_install.ps1
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, team/agent-devx-loops, long review

#31846 Query Aurora instances per cluster
  pkg/databasemonitoring/aws/aurora.go
  pkg/databasemonitoring/aws/aurora_test.go
  releasenotes/notes/query-aurora-instances-per-cluster-8481d23d9e432e1a.yaml
Labels: team/database-monitoring, short review, qa/rc-required, backport/7.61.x

#31850 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, short review

#31851 Add apm_config.additional_endpoints to authorized config paths
  comp/api/api/def/component.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, short review, backport/7.61.x

#31837 [CONTP-535] optimise tagger server chunking function by processing chunks in place
  comp/core/tagger/server/README.md
  comp/core/tagger/server/server.go
  comp/core/tagger/server/util.go
  comp/core/tagger/server/util_benchmark_test.go
  comp/core/tagger/server/util_test.go
Labels: kind/enhancement, component/tagger, changelog/no-changelog, qa/done, team/container-platform, medium review

#31862 usm: Move helper function to its only usage
  pkg/network/usm/sharedlibraries/watcher.go
  pkg/process/monitor/process_monitor.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31578 refactor(package_size): Move code to a python invoke task
  .gitlab/JOBOWNERS
  .gitlab/pkg_metrics/pkg_metrics.yml
  tasks/libs/common/git.py
  tasks/libs/package/size.py
  tasks/libs/package/utils.py
  tasks/package.py
  tasks/unit_tests/package_lib_tests.py
  tasks/unit_tests/package_tests.py
  tasks/unit_tests/testdata/package_sizes.json
  tasks/unit_tests/testdata/package_sizes_real.json
  tasks/unit_tests/testdata/packages/datadog-agent-7.aarch64.rpm
  tasks/unit_tests/testdata/packages/datadog-agent-7.x86_64.rpm
  tasks/unit_tests/testdata/packages/datadog-agent_7_arm64.deb
  tasks/unit_tests/testdata/packages/datadog-dogstatsd-7.x86_64.rpm
  tasks/unit_tests/testdata/packages/datadog-dogstatsd_7_amd64.deb
  tasks/unit_tests/testdata/packages/datadog-dogstatsd_7_arm64.deb
  tasks/unit_tests/testdata/packages/datadog-heroku-agent_7_amd64.deb
  tasks/unit_tests/testdata/packages/datadog-iot-agent-7.aarch64.rpm
  tasks/unit_tests/testdata/packages/datadog-iot-agent-7.x86_64.rpm
  tasks/unit_tests/testdata/packages/datadog-iot-agent_7_amd64.deb
  tasks/unit_tests/testdata/packages/datadog-iot-agent_7_arm64.deb
Labels: changelog/no-changelog, qa/no-code-change, long review

#31792 [CWS] small optimizations to regex parsing in SECL
  pkg/security/secl/compiler/eval/strings.go
  pkg/security/secl/compiler/eval/strings_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#31835 [HA Agent] e2e test for datadog.agent.ha_agent.running metric
  test/new-e2e/tests/ha-agent/haagent_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#31859 add missing `test` build tag on testing utility files
  comp/aggregator/diagnosesendermanager/component_mock.go
  comp/snmptraps/oidresolver/oidresolverimpl/mock.go
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/mongo/server.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/redis/server.go
  pkg/network/usm/monitor_testutil.go
  pkg/security/secl/rules/testutil.go
  pkg/util/dmi/dmi_mock.go
  pkg/util/dmi/no_dmi_mock.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#31869 Fix pipeline cancel retries
  tasks/libs/ciproviders/gitlab_api.py
  tasks/libs/pipeline/tools.py
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#31871 [bug] flake pod parse testing
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#31875 fix(ci): [agent6] Remove internal image/k8s deploy stages
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/include.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change

#31867 fix(assign_issue): Use the correct option name
  .github/workflows/assign_issue.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#31863 event monitor: tests: Allow setting cached hostname
  pkg/ebpf/uprobes/attacher_test.go
  pkg/eventmonitor/consumers/testutil/testutil.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/sharedlibraries/watcher_test.go
  pkg/process/monitor/process_monitor_test.go
  pkg/security/utils/hostname_testutil.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/usm, team/ebpf-platform, qa/no-code-change, medium review

#31840 (fleet) downloader flavors
  .gitattributes
  .gitlab/package_build/installer.yml
  cmd/installer-downloader/main.go
  cmd/installer/subcommands/installer/command.go
  comp/updater/telemetry/telemetryimpl/telemetry.go
  pkg/fleet/bootstrapper/bootstrapper.go
  pkg/fleet/installer/default_packages.go
  pkg/fleet/installer/default_packages_test.go
  pkg/fleet/installer/fixtures/README.md
  pkg/fleet/installer/fixtures/fs.go
  pkg/fleet/installer/fixtures/oci-layout-simple-v1-linux2-amd128.tar
  pkg/fleet/installer/fixtures/oci-layout-simple-v1.tar
  pkg/fleet/installer/fixtures/oci-layout-simple-v2.tar
  pkg/fleet/installer/fixtures/server.go
  pkg/fleet/installer/fixtures/simple-v1-config/datadog.yaml.example
  pkg/fleet/installer/fixtures/simple-v1/executable.sh
  pkg/fleet/installer/fixtures/simple-v1/file.txt
  pkg/fleet/installer/fixtures/simple-v2-config/datadog.yaml.example
  pkg/fleet/installer/fixtures/simple-v2/executable-new.sh
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/installer_test.go
  pkg/fleet/installer/oci/download.go
  pkg/fleet/installer/oci/download_test.go
  pkg/fleet/installer/oci/mirror.go
  pkg/fleet/installer/oci/mirror_test.go
  pkg/fleet/installer/setup/common/config.go
  pkg/fleet/installer/setup/setup.go
  pkg/fleet/installer/tar/tar.go
  pkg/fleet/internal/bootstrap/bootstrap_nix.go
  pkg/fleet/internal/bootstrap/bootstrap_windows.go
  pkg/fleet/internal/fixtures/README.md
  pkg/fleet/telemetry/telemetry.go
  tasks/installer.py
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation, long review

#31880 Add rocky 9.4 to KMT platforms
  test/new-e2e/system-probe/config/platforms.json
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review

#29981 logs/sds: fallback on default excluded keywords if no included keywords available.
  pkg/logs/sds/scanner.go
Labels: changelog/no-changelog, qa/done, team/agent-processing-and-routing, short review

#31771 Add initial Windows E2E FIPS package test/support
  .gitlab/e2e_install_packages/windows.yml
  .gitlab/e2e_testing_deploy/e2e_deploy.yml
  test/new-e2e/tests/windows/base_agent_installer_suite.go
  test/new-e2e/tests/windows/common/agent/package.go
  test/new-e2e/tests/windows/common/policy.go
  test/new-e2e/tests/windows/common/registry.go
  test/new-e2e/tests/windows/fips-test/fips_test.go
  test/new-e2e/tests/windows/install-test/npm_test.go
  test/new-e2e/tests/windows/install-test/upgrade_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, medium review

#31813 Only start telemetryForwarder when we start the receiver (APMSP-1633)
  pkg/trace/api/api.go
  pkg/trace/api/telemetry.go
  pkg/trace/api/telemetry_test.go
Labels: changelog/no-changelog, qa/done, short review

#31733 Implement UnsetForSource method
  pkg/config/model/viper.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/nodetreemodel/inner_node.go
  pkg/config/nodetreemodel/leaf_node.go
  pkg/config/nodetreemodel/missing_node.go
  pkg/config/nodetreemodel/node.go
  pkg/config/nodetreemodel/struct_node.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, long review

#31806 fix(podresources): detect API availability client creation
  pkg/config/env/environment_container_features.go
  pkg/config/env/environment_containers.go
  pkg/util/kubernetes/kubelet/kubelet.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#31832 feat(package_size): Display the package size message in the PR
  .gitlab/pkg_metrics/pkg_metrics.yml
  tasks/libs/package/size.py
  tasks/libs/package/utils.py
  tasks/package.py
  tasks/unit_tests/package_lib_tests.py
  tasks/unit_tests/package_tests.py
  tasks/unit_tests/testdata/package_sizes_real.json
Labels: changelog/no-changelog, qa/no-code-change, long review

#31892 Fix the Create RC PR Workflow
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#31876 [CONTP-521] use a hybrid health check for wlm kubeapiserver collector
  comp/core/healthprobe/impl/healthprobe_test.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  pkg/status/health/global.go
  pkg/status/health/health.go
  pkg/status/health/health_test.go
  pkg/status/health/options.go
Labels: kind/enhancement, changelog/no-changelog, component/cluster-agent, team/container-platform, medium review, qa/rc-required

#31893 add agent onboarding as codeowners to install related files
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, short review

#31884 [CWS] remove watch dir option from directory provider
  cmd/security-agent/subcommands/runtime/command.go
  cmd/system-probe/subcommands/runtime/command.go
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/rules/engine.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/policy_dir.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/tests/module_tester.go
  releasenotes/notes/cws-remove-watch-dir-option-f8faee4937353316.yaml
Labels: component/system-probe, team/agent-security, qa/done, medium review

#31770 Update filesystem permission to restrict access to datadog user
  comp/api/authtoken/go.mod
  comp/core/config/go.mod
  comp/core/log/impl-trace/go.mod
  comp/core/log/impl/go.mod
  comp/core/log/mock/go.mod
  comp/core/status/statusimpl/go.mod
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/logs/agent/config/go.mod
  comp/otelcol/converter/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/testutil/go.mod
  comp/serializer/compression/go.mod
  go.mod
  pkg/api/go.mod
  pkg/config/env/go.mod
  pkg/config/mock/go.mod
  pkg/config/remote/go.mod
  pkg/config/setup/go.mod
  pkg/config/utils/go.mod
  pkg/logs/auditor/go.mod
  pkg/logs/client/go.mod
  pkg/logs/diagnostic/go.mod
  pkg/logs/message/go.mod
  pkg/logs/pipeline/go.mod
  pkg/logs/processor/go.mod
  pkg/logs/sds/go.mod
  pkg/logs/sender/go.mod
  pkg/logs/sources/go.mod
  pkg/logs/util/testutils/go.mod
  pkg/metrics/go.mod
  pkg/serializer/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/filesystem/go.sum
  pkg/util/filesystem/permission_windows.go
  pkg/util/filesystem/permission_windows_test.go
  pkg/util/flavor/go.mod
  pkg/util/grpc/go.mod
  pkg/util/http/go.mod
  pkg/util/log/setup/go.mod
  pkg/util/system/go.mod
  pkg/util/winutil/service.go
  pkg/util/winutil/users.go
  pkg/util/winutil/users_test.go
  releasenotes/notes/file-permissions-to-dduser-windows-6e9940175f9130ff.yaml
  test/otel/go.mod
Labels: team/agent-shared-components, team/windows-agent, qa/done, long review

#31104 [usm] system-probe, add Postgres message counters to the eBPF module
  pkg/network/ebpf/c/protocols/postgres/decoding-maps.h
  pkg/network/ebpf/c/protocols/postgres/decoding.h
  pkg/network/ebpf/c/protocols/postgres/types.h
  pkg/network/protocols/ebpf_types.go
  pkg/network/protocols/ebpf_types_linux.go
  pkg/network/protocols/postgres/ebpf/types.go
  pkg/network/protocols/postgres/ebpf/types_linux.go
  pkg/network/protocols/postgres/protocol.go
  pkg/network/protocols/postgres/telemetry.go
  pkg/network/protocols/telemetry/metric.go
  pkg/network/usm/postgres_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, long review

#31861 Fix require.Eventually gotchas
  pkg/network/dns/snooper_test.go
  pkg/network/tracer/testutil/testdns/test_dns_server.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, team/usm, qa/no-code-change, long review

#31886 [CWS] add `rocky_9.4` to CWS KMT tested platforms
  .gitlab/kernel_matrix_testing/security_agent.yml
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#31831 [tasks] add download link to update python
  tasks/libs/common/utils.py
  tasks/setup.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#31878 usm: process monitor: Increase number of runners
  pkg/process/monitor/process_monitor.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31868 omnibus: snmp-traps: drop dependency on datadog-agent
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-dependencies.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/snmp-traps.rb
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, medium review

#31864 usm: process monitor: reuse consumers.NewProcessConsumer
  cmd/system-probe/modules/eventmonitor.go
  cmd/system-probe/modules/eventmonitor_linux.go
  cmd/system-probe/modules/eventmonitor_windows.go
  pkg/ebpf/uprobes/attacher_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/sharedlibraries/watcher_test.go
  pkg/process/monitor/process_monitor.go
  pkg/process/monitor/process_monitor_test.go
  pkg/process/monitor/testutil/testutil.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#31947 usm: sowatcher: Cut instruction cout by 90%
  pkg/network/ebpf/c/shared-libraries/probes.h
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#31949 fix(assign_issue): Add the required slack token
  .github/workflows/assign_issue.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#31190 Make # of log pipelines configurable and default to GOMAXPROCS
  comp/logs/agent/agentimpl/agent_core_init.go
  comp/logs/agent/agentimpl/agent_serverless_init.go
  comp/logs/agent/config/constants.go
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent.go
  pkg/compliance/reporter.go
  pkg/config/setup/config.go
  pkg/security/reporter/reporter.go
Labels: changelog/no-changelog, component/system-probe, team/agent-metrics-logs, long review

#31952 Update release.json
  release.json
Labels: changelog/no-changelog, team/agent-security, team/agent-metrics-logs, team/windows-kernel-integrations, qa/no-code-change, team/agent-delivery, short review

#31953 (fleet) small optmisation to the installer script
  pkg/fleet/installer/setup/install.sh
  tasks/installer.py
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation, short review

#31955 usm: test: Do not use splice in transparent proxy
  pkg/network/tracer/testutil/proxy/external_unix_proxy_server/external_unix_proxy_server.go
  pkg/network/tracer/testutil/proxy/unix_transparent_proxy.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, short review
