Repository DataDog/datadog-agent, pull requests merged in 2025-06, with the labels that each got.

#37530 usm: kafka: tests: Fix format for raw kernel telemetry
  pkg/network/protocols/kafka/model_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#37246 Skip TestLockRanges
  pkg/ebpf/lockcontention_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review

#37104 Add configuration to make Go loader have priority over Python
  pkg/collector/corechecks/loader.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#37537 Fix agent 6 branch
  requirements.txt
  test/new-e2e/tests/language-detection/language_detection_test.go
  test/new-e2e/tests/language-detection/node_test.go
Labels: changelog/no-changelog, qa/no-code-change

#37472 [chore] update google.golang.org/genproto versions
  comp/core/tagger/fx-remote/go.mod
  comp/core/tagger/fx-remote/go.sum
  comp/core/tagger/impl-remote/go.mod
  comp/core/tagger/impl-remote/go.sum
  comp/otelcol/collector-contrib/def/go.mod
  comp/otelcol/collector-contrib/def/go.sum
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.sum
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.mod
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.sum
  go.mod
  go.sum
  internal/tools/proto/go.mod
  internal/tools/proto/go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/proto/go.mod
  pkg/proto/go.sum
  pkg/trace/go.sum
  pkg/util/grpc/go.mod
  pkg/util/grpc/go.sum
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/done, long review, team/opentelemetry-agent

#37318 [ACIX-470] Refactor linting tasks
  tasks/libs/linter/__init__.py
  tasks/libs/linter/gitlab.py
  tasks/libs/linter/go.py
  tasks/libs/linter/shell.py
  tasks/linter.py
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#37540 Reset eBPF resource mappings in lock contention tests
  pkg/ebpf/lockcontention_test.go
  pkg/ebpf/mappings.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review, ask-review

#37426 Remove inventoryotel status section
  comp/metadata/inventoryotel/component_mock.go
  comp/metadata/inventoryotel/inventoryotelimpl/inventoryotel.go
  comp/metadata/inventoryotel/inventoryotelimpl/inventoryotel_test.go
  comp/metadata/inventoryotel/inventoryotelimpl/mock.go
  comp/metadata/inventoryotel/inventoryotelimpl/status.go
  comp/metadata/inventoryotel/inventoryotelimpl/status_templates/inventory.tmpl
  comp/metadata/inventoryotel/inventoryotelimpl/status_templates/inventoryHTML.tmpl
Labels: changelog/no-changelog, qa/done, medium review, backport/7.67.x

#37508 service discovery: Rework network stats interface
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/network_ebpf.go
  pkg/collector/corechecks/servicediscovery/module/network_linux.go
  pkg/collector/corechecks/servicediscovery/module/network_mock_linux.go
  pkg/collector/corechecks/servicediscovery/module/network_noebpf.go
  pkg/collector/corechecks/servicediscovery/module/network_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review, ask-review, team/agent-discovery

#37543 Update curl to 8.14.0
  omnibus/config/software/curl.rb
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37291 [CWS] allow to remove rule with approver from the discarder discovery
  pkg/security/clihelpers/eval.go
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/kfilters/approvers_test.go
  pkg/security/probe/kfilters/capabilities.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/kfilters/report.go
  pkg/security/probe/kfilters/report_test.go
  pkg/security/rules/monitor/policy_monitor_easyjson.go
  pkg/security/secl/rules/approvers.go
  pkg/security/secl/rules/capabilities.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement, qa/done, long review

#37164 [CONTINT-4555] `ecs_cluster_name` as global tag
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_main.go
  comp/core/tagger/collectors/workloadmeta_test.go
  releasenotes/notes/ecs_cluster_name-as-global-tag-fb71d44d5ab969be.yaml
Labels: qa/done, team/container-platform, medium review, team/container-integrations

#37211 [CONTINT-4672] exposed metric for kubernetes_state.cronjob.duration_since_last_successful
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers_test.go
  releasenotes-dca/notes/add_cronjob_duration_last_success-e1c9128fe164338d.yaml
Labels: qa/done, short review, team/container-integrations

#37535 Bump windows runner version for gohai test workflow
  .github/workflows/gohai.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review, team/agent-configuration

#37553 [DJM] Bump agent version to 7.66.0
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/dataproc.go
  pkg/fleet/installer/setup/djm/emr.go
  test/new-e2e/tests/installer/script/databricks_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#37544 [AGTMETRICS-245]Only set endpoint valid if it is true to avoid unsetting it.
  comp/forwarder/defaultforwarder/forwarder_health.go
  comp/forwarder/defaultforwarder/forwarder_health_test.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, backport/7.67.x

#37548 Add additional additional_endpoints to the secrets allowlist
  comp/core/secrets/secretsimpl/secrets.go
Labels: changelog/no-changelog, qa/done, short review, backport/7.67.x

#37512 dyninst/testprogs: use a free-standing go.mod
  modules.yml
  pkg/dyninst/testprogs/progs/go.mod
Labels: changelog/no-changelog, qa/done, short review, ask-review

#37556 Changelog update for 7.66.1 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/main, team/agent-delivery, short review, backport/7.67.x

#37488 Hardcode DD_CC and related vars in repackaging task
  tasks/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#37565 [CWS] include seclwin sync in `cws-go-generate`
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#37566 [CWS] improve go gen check usability
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#37546 Use raw tracepoints for net_dev_queue
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/offsetguess/conntrack.go
  pkg/network/tracer/offsetguess/tracer.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, medium review

#37382 (fleet) collect journalctl logs on error
  pkg/fleet/installer/packages/datadog_agent_linux.go
  pkg/fleet/installer/packages/service/systemd/systemd.go
  pkg/fleet/installer/setup/common/services_nix.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#37584 usm: tests: Use t.Cleanup instead of local defer to cleanup unused resources
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/redis_monitor_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#37596 [CWS] fix auid test. make sure there is no other approver detected
  pkg/security/tests/filters_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, short review

#37616 Revert "(fleet) collect journalctl logs on error"
  pkg/fleet/installer/packages/datadog_agent_linux.go
  pkg/fleet/installer/packages/service/systemd/systemd.go
  pkg/fleet/installer/setup/common/services_nix.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#37603 [CWS] fix stat error not reported
  pkg/security/utils/stat_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, short review

#37588 [USM]: kafka: Better latency mergers
  pkg/network/protocols/kafka/stats.go
  pkg/network/protocols/sketchespool.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#37579 Update container-intake team name to container-experiences
  .ddqa/config.toml
  .github/CODEOWNERS
  .gitlab/e2e/e2e.yml
  comp/README.md
  comp/process/agent/component.go
  comp/process/apiserver/component.go
  comp/process/bundle.go
  comp/process/connectionscheck/component.go
  comp/process/containercheck/component.go
  comp/process/expvars/component.go
  comp/process/forwarders/component.go
  comp/process/gpusubscriber/def/component.go
  comp/process/hostinfo/component.go
  comp/process/processcheck/component.go
  comp/process/processdiscoverycheck/component.go
  comp/process/processeventscheck/component.go
  comp/process/profiler/component.go
  comp/process/rtcontainercheck/component.go
  comp/process/runner/component.go
  comp/process/status/component.go
  comp/process/submitter/component.go
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/github_slack_review_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, long review, [deprecated] team/container-intake, team/container-experiences

#37551 [serverless-init] Fix multiline stacktraces being split up into multiple logs
  cmd/serverless-init/log/channel_writer.go
  cmd/serverless-init/log/channel_writer_test.go
  releasenotes/notes/fix-split-up-stacktraces-serverless-init-9c050afc1862a346.yaml
Labels: team/serverless, qa/done, short review

#37577 dyninst: run system-probe tests
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-devx

#37569 dyninst/...: reenable testing
  go.mod
  pkg/dyninst/ebpf/scratch.h
  pkg/dyninst/irgen/irgen_all_symbols_test.go
  pkg/dyninst/irgen/snapshot_test.go
  pkg/dyninst/irgen/testdata/snapshot/simple/arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/simple/arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/object/elf_test.go
  pkg/dyninst/testprogs/test_progs.go
  pkg/dyninst/testprogs/test_progs_test.go
  tasks/kmt.py
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, ask-review

#37568 CXP-2266 [agent] enrich process collector with container data
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_test.go
  comp/core/workloadmeta/def/types.go
Labels: changelog/no-changelog, qa/done, medium review

#37381 [CWS] Enable to track SetSockOpt syscall
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/hooks/all.h
  pkg/security/ebpf/c/include/hooks/setsockopt.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/raw_sys_exit.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/consts_darwin.go
  pkg/security/secl/model/consts_linux.go
  pkg/security/secl/model/consts_windows.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/seclwin/model/consts_common.go
  pkg/security/seclwin/model/consts_win.go
  pkg/security/seclwin/model/events.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/tests/setsockopt_test.go
  releasenotes/notes/setsockopt-hook-a0bff3583e718629.yaml
Labels: component/system-probe, team/agent-security, qa/done, long review

#37607 [INCIDENT-39082] Disable remote config tests on fips pipelines
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#37464 [AGENTCFG-236] Sending the correct proto payload to the api/beta/sketches endpoint when running the connectivity command
  pkg/diagnose/connectivity/core_endpoint.go
  pkg/diagnose/connectivity/core_endpoint_test.go
  pkg/diagnose/connectivity/endpoint_info.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-configuration

#36588 Introduce application_monitoring.yaml.example
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent.rb
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  releasenotes/notes/application_monitoring.yaml
Labels: qa/done, team/agent-delivery, medium review, team/agent-configuration

#37655 Reapply "[CWS] fix stat error not reported" (#37627)
  pkg/security/utils/stat_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#37417 [ACIX-894] Refactor gitlab linter tasks logic
  tasks/gitlab_helpers.py
  tasks/kmt.py
  tasks/libs/ciproviders/gitlab_api.py
  tasks/libs/linter/gitlab.py
  tasks/linter.py
  tasks/unit_tests/gitlab_api_tests.py
  tasks/unit_tests/linter_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#37351 Fix more config unit tests
  pkg/config/nodetreemodel/getter.go
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
  pkg/config/setup/go.mod
  pkg/serverless/apikey/env_test.go
  pkg/util/flavor/flavor.go
  pkg/util/flavor/go.mod
Labels: changelog/no-changelog, qa/done, medium review, team/agent-configuration

#37344 [NPM-4440] Move packet capture to separate package, add Sink interface
  pkg/networkpath/traceroute/common/afpacket_source_linux.go
  pkg/networkpath/traceroute/packets/afpacket_source_linux.go
  pkg/networkpath/traceroute/packets/attach.go
  pkg/networkpath/traceroute/packets/attach_linux.go
  pkg/networkpath/traceroute/packets/attach_nolinux.go
  pkg/networkpath/traceroute/packets/frame_parser.go
  pkg/networkpath/traceroute/packets/frame_parser_test.go
  pkg/networkpath/traceroute/packets/packet_sink.go
  pkg/networkpath/traceroute/packets/packet_sink_unix.go
  pkg/networkpath/traceroute/packets/packet_source.go
  pkg/networkpath/traceroute/packets/rawconn_unix.go
  pkg/networkpath/traceroute/packets/tcp.go
  pkg/networkpath/traceroute/packets/tcp_test.go
  pkg/networkpath/traceroute/sack/sack_driver_linux.go
  pkg/networkpath/traceroute/sack/sack_packet_linux.go
  pkg/networkpath/traceroute/sack/traceroute_sack_linux.go
  pkg/networkpath/traceroute/tcp/tcpv4_unix.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, long review

#37652 [USMON-1439] - Bump agent-payload version for access to redis error types
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  go.mod
  go.sum
  pkg/logs/pipeline/go.mod
  pkg/logs/pipeline/go.sum
  pkg/logs/processor/go.mod
  pkg/logs/processor/go.sum
  pkg/process/util/api/go.mod
  pkg/process/util/api/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, team/usm, qa/done, long review

#37664 [CWS] enable on demand by default
  pkg/config/setup/system_probe_cws.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review, team/agent-configuration

#37651 Update release.json
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37649 Remove old image deploy jobs
  .gitlab/deploy_containers/deploy_containers_a7.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37653 [CWS] allow to set variable in cli eval
  pkg/security/clihelpers/eval.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement, qa/done, medium review

#37644 Revert "Revert "(fleet) collect journalctl logs on error" (#37616)"
  pkg/fleet/installer/packages/datadog_agent_linux.go
  pkg/fleet/installer/packages/service/systemd/systemd.go
  pkg/fleet/installer/packages/service/sysvinit/sysvinit.go
  pkg/fleet/installer/packages/service/upstart/upstart.go
  pkg/fleet/installer/setup/common/services_nix.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#37550 [BARX-909] Update Windows image labels to align with Linux image labels
  .gitlab/container_build/docker_windows.yml
  .gitlab/setup/setup.yml
  Dockerfiles/agent/windows/amd64/Dockerfile
  releasenotes/notes/windows-oci-labels.yaml
Labels: team/windows-agent, qa/no-code-change, team/agent-delivery, medium review

#37680 [INCIDENT-39082] Disable apm on fips pipelines
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#37672 add UseBasicParsing option
  releasenotes/notes/install-script-telem-usebasicparsing-8300e0ce310af687.yaml
  tools/windows/DatadogAgentInstallScript/Install-Datadog.ps1
Labels: qa/done, short review

#37564 [RC] Prevent error logs on client requests when RC is uninitialized
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
Labels: changelog/no-changelog, qa/done, short review

#37345 [AGENTCFG-259] Adding comparison tests for GetEnvVars, GetKnownKeysLowercased, and AllKeysLowercased
  pkg/config/nodetreemodel/compatibility_test.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/getter.go
  pkg/config/nodetreemodel/read_config_file.go
Labels: changelog/no-changelog, qa/done, long review, team/agent-configuration

#37702 dyninst: leave a note reminding of bug processing location lists
  pkg/dyninst/irgen/irgen.go
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, short review

#37699 [agent] Rename remote process collector to correct ID
  comp/core/workloadmeta/collectors/internal/remote/processcollector/process_collector.go
Labels: changelog/no-changelog, qa/done, short review

#37687 Update service.datadog.yaml
  service.datadog.yaml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37706 dyninst: pass ir.Program as a pointer
  pkg/dyninst/compiler/compile.go
  pkg/dyninst/compiler/compile_test.go
  pkg/dyninst/compiler/sm/generate.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/irgen/testdata/snapshot/simple/arch=amd64,toolchain=go1.24.0.yaml
  pkg/dyninst/irgen/testdata/snapshot/simple/arch=arm64,toolchain=go1.24.0.yaml
Labels: changelog/no-changelog, qa/done, long review

#37717 fix(create_rc): Prevent multiple RC creation
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#37633 Report Fleet Status in Agent Command
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  comp/README.md
  comp/fleetstatus/def/component.go
  comp/fleetstatus/fx/fx.go
  comp/fleetstatus/impl/fleetstatus.go
  comp/fleetstatus/impl/fleetstatus_test.go
  comp/fleetstatus/impl/status_templates/fleetstatus.tmpl
  comp/updater/daemonchecker/def/component.go
  comp/updater/daemonchecker/fx/fx.go
  comp/updater/daemonchecker/impl/daemon_checker_unix.go
  comp/updater/daemonchecker/impl/daemon_checker_windows.go
  comp/updater/daemonchecker/impl/daemonchecker.go
  comp/updater/daemonchecker/mock/mock.go
  test/new-e2e/tests/agent-subcommands/status/status_common_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#37716 update omnibus-ruby
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37698 Adding a optional CI job to run unit tests with nodetreemodel config implementation
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-configuration

#37725 Add release note for #37631
  releasenotes/notes/fix-overlayfs-based-sbom-generation-e874ec6598cf230f.yaml
Labels: team/agent-security, qa/no-code-change, short review

#37722 Revert "Stop reporting fake Ready status in WLM based on AD annotation"
  comp/core/autodiscovery/listeners/container.go
  comp/core/autodiscovery/listeners/container_test.go
  comp/core/autodiscovery/listeners/kubelet.go
  comp/core/autodiscovery/listeners/kubelet_test.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod_test.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/podwatcher_test.go
Labels: team/containers, changelog/no-changelog, qa/done, medium review, backport/7.67.x

#37691 Adjust docker container memory experiment with higher limit due to SMP update that exposes docker socket
  test/regression/cases/docker_containers_memory/experiment.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#37729 omnibus: installer: handle OMNIBUS_FORCE_PACKAGES
  omnibus/config/projects/installer.rb
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37747 Update to an available version of maven for windows fips Docker builds
  Dockerfiles/agent/install-fips.ps1
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37736 [dyninst/irgen] Support inlined functions
  pkg/dyninst/compiler/codegen/code.go
  pkg/dyninst/compiler/compile_test.go
  pkg/dyninst/compiler/sm/generate.go
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/integration_test.go
  pkg/dyninst/ir/program.go
  pkg/dyninst/irgen/irgen.go
  pkg/dyninst/irgen/testdata/snapshot/simple.yaml
  pkg/dyninst/irgen/testdata/snapshot/simple/arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/simple/arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/testprogs/progs/events_simple/main.go
  pkg/dyninst/testprogs/progs/simple/main.go
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, long review

#37748 Allow RDS autodiscovery to discover all instances by specifying an empty tag list
  pkg/databasemonitoring/aws/aurora.go
  pkg/databasemonitoring/aws/aurora_test.go
  pkg/databasemonitoring/aws/rds.go
  pkg/databasemonitoring/aws/rds_test.go
  releasenotes/notes/allow-rds-autodiscovery-with-empty-tags-c0c4061f4c12eadd.yaml
Labels: qa/done, medium review

#37630 OTEL-2538 obfuscate otel db semantics for sql queries
  pkg/trace/transform/obfuscate.go
  releasenotes/notes/properly-obfuscate-OTel-db-queries-9c572d14c886e946.yaml
Labels: qa/done, short review

#37692 [AMCC-11] dogstatsd: additional metric control mechanism between the sampler and the serializer
  comp/dogstatsd/server/enrich.go
  comp/dogstatsd/server/enrich_bench_test.go
  comp/dogstatsd/server/enrich_test.go
  comp/dogstatsd/server/server.go
  comp/dogstatsd/server/server_test.go
  comp/dogstatsd/server/server_worker.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
  pkg/aggregator/time_sampler_worker.go
  pkg/metrics/histogram.go
  pkg/metrics/histogram_test.go
  pkg/util/strings/blocklist.go
  pkg/util/strings/blocklist_test.go
Labels: changelog/no-changelog, qa/done, long review

#37720 Update image publish jobs for mutable tags to new method
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/deploy_containers/deploy_mutable_image_tags.yml
Labels: changelog/no-changelog, team/agent-delivery, long review, qa/rc-required

#37714 [ACIX-882] Added retry to codesign
  omnibus/config/software/datadog-agent-finalize.rb
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, medium review

#37801 Update CODEOWNERS to transfer ownership to agent-build
  .ddqa/config.toml
  .github/CODEOWNERS
  tasks/libs/issue/model/constants.py
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/github_slack_review_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, medium review

#37248 [CONTP-675]Autoscaling Failover local workload store check: subcommand, flare support
  cmd/cluster-agent/api/agent/agent.go
  pkg/cli/subcommands/autoscalerlist/command.go
  pkg/clusteragent/autoscaling/workload/loadstore/dump.go
  pkg/clusteragent/autoscaling/workload/loadstore/dump_noop.go
  pkg/clusteragent/autoscaling/workload/loadstore/dump_test.go
  pkg/flare/clusteragent/archive_dca.go
  pkg/flare/clusteragent/archive_dca_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, long review, team/container-integrations

#37683 [CWS-4639] Report monitored files in ruleset loaded event
  pkg/security/rules/engine.go
  pkg/security/rules/monitor/policy_monitor.go
  pkg/security/rules/monitor/policy_monitor_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#37802 Fix static quality gates image suffix logic
  tasks/static_quality_gates/lib/docker_agent_lib.py
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review, backport/7.67.x

#37602 [CWS] move documentation generation into a regular task
  .github/CODEOWNERS
  .gitlab/source_test/go_generate_check.yml
  docs/cloud-workload-security/README.md
  docs/cloud-workload-security/scripts/requirements-docs.txt
  tasks/libs/cws/backend_doc_gen.py
  tasks/libs/cws/common.py
  tasks/libs/cws/secl_doc_gen.py
  tasks/libs/cws/templates/backend_linux.md
  tasks/libs/cws/templates/backend_windows.md
  tasks/libs/cws/templates/linux_expressions.md
  tasks/libs/cws/templates/windows_expressions.md
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, medium review

#37648 [CWS] Add approver on `connect.addr.family` field
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/hooks/network/connect.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/approvers_test.go
  pkg/security/probe/kfilters/capabilities_linux.go
  pkg/security/probe/kfilters/connect.go
  pkg/security/secl/compiler/eval/utils.go
  pkg/security/secl/model/consts_map_names_linux.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement, qa/done, medium review

#37668 CXP-2267 [agent] feat: add language data collection
  .github/CODEOWNERS
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, long review

#37494 add rollback to config experiments on Windows
  .gitlab/e2e/e2e.yml
  cmd/installer/subcommands/daemon/api.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/local_api.go
  pkg/fleet/daemon/local_api_test.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/datadog_agent_windows.go
  test/new-e2e/tests/installer/windows/base_suite.go
  test/new-e2e/tests/installer/windows/installer.go
  test/new-e2e/tests/installer/windows/suites/agent-package/config_test.go
  test/new-e2e/tests/windows/common/registry.go
Labels: changelog/no-changelog, team/windows-agent, qa/done, medium review, ask-review

#37821 fix regression detector ci for 7.66.x release branch
  .gitlab/functional_test/regression_detector.yml
  test/regression/cases/file_to_blackhole_300ms_latency/experiment.yaml
  test/regression/cases/uds_dogstatsd_20mb_12k_contexts_20_senders/experiment.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review, qa/skip-qa

#37724 [AGENTRUN-359] Remove gRPC Gateway from Agent CMD API
  LICENSE-3rdparty.csv
  comp/api/api/apiimpl/api_test.go
  comp/api/api/apiimpl/server_cmd.go
  comp/api/api/apiimpl/tools.go
  comp/api/grpcserver/def/component.go
  comp/api/grpcserver/impl-agent/grpc.go
  comp/api/grpcserver/impl-none/grpc.go
  comp/core/tagger/fx-remote/go.mod
  comp/core/tagger/fx-remote/go.sum
  comp/core/tagger/impl-remote/go.mod
  comp/core/tagger/impl-remote/go.sum
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.mod
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.sum
  docs/dev/gomodreplace.md
  go.mod
  internal/tools/proto/go.mod
  internal/tools/proto/go.sum
  internal/tools/proto/tools.go
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/proto/datadog/README.md
  pkg/proto/datadog/api/README.md
  pkg/proto/datadog/api/v1/api.proto
  pkg/proto/go.mod
  pkg/proto/go.sum
  pkg/proto/pbgo/core/api.pb.go
  pkg/proto/pbgo/core/api.pb.gw.go
  pkg/proto/protodep.lock
  pkg/proto/protodep.toml
  pkg/util/grpc/go.mod
  pkg/util/grpc/go.sum
  tasks/install_tasks.py
  tasks/protobuf.py
Labels: changelog/no-changelog, qa/done, long review, team/agent-runtimes

#37703 feat: added truncatedLogs metric
  pkg/logs/internal/decoder/auto_multiline_detection/aggregator.go
  pkg/logs/internal/decoder/multiline_handler.go
  pkg/logs/internal/decoder/single_line_handler.go
  pkg/logs/metrics/metrics.go
  pkg/logs/metrics/metrics_test.go
  pkg/logs/status/builder.go
  pkg/logs/status/status_test.go
  releasenotes/notes/truncated_count_metric-ef102f7deabb9206.yaml
Labels: qa/done, medium review, team/agent-log-pipelines

#37800 omnibus: update libkrb5 to 1.21.3
  omnibus/config/software/libkrb5.rb
  releasenotes/notes/update_krb5-2b8bb0788f731049.yaml
Labels: qa/no-code-change, team/agent-delivery, short review, ask-review, backport/7.67.x

#37806 dockerfiles: dogstatsd: update default alpine version to 3.21
  Dockerfiles/dogstatsd/alpine/Dockerfile
  releasenotes/notes/update_alpine-b8bcd24d4b9ff80b.yaml
Labels: qa/no-code-change, short review, ask-review, backport/7.67.x, team/agent-build

#37362 chore(fleet): Create APM SSI script
  .gitlab/package_build/installer.yml
  pkg/fleet/installer/packages/embedded/scripts/dd-container-install
  pkg/fleet/installer/packages/embedded/scripts/dd-host-install
  pkg/fleet/installer/setup/common/packages.go
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/defaultscript/apm_ssi.go
  pkg/fleet/installer/setup/defaultscript/default_script.go
  pkg/fleet/installer/setup/setup.go
  test/new-e2e/tests/installer/script/all_scripts_test.go
  test/new-e2e/tests/installer/script/ssi_script_test.go
  test/new-e2e/tests/installer/unix/all_packages_test.go
  test/new-e2e/tests/installer/unix/package_agent_test.go
  test/new-e2e/tests/installer/unix/package_apm_inject_test.go
  test/new-e2e/tests/installer/unix/package_installer_test.go
Labels: changelog/no-changelog, qa/done, long review

#37845 [CWS] Sort replayed events
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#37846 [BARX-1044] Update deploy_container-cws jobs to use tag method for mutable tags instead of full index push
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
Labels: changelog/no-changelog, team/agent-delivery, short review, qa/rc-required

#37749 Avoid sprintf in obfuscator
  pkg/collector/python/datadog_agent.go
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/obfuscate/obfuscate.go
  pkg/obfuscate/sql.go
  pkg/obfuscate/sql_test.go
  releasenotes/notes/improve-obfuscator-key-generation-3c2858554c1b55a3.yaml
Labels: team/agent-apm, qa/done, medium review

#37375 [AGENTRUN-297] Detail comments in Python executable configuration
  rtloader/three/three.cpp
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-runtimes

#37829 Disable CWS and HA Agent e2e tests on FIPS Agent pipelines
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx, backport/7.67.x

#37851 [Backport 7.67.x] [INCIDENT-39082] Disable fips failing e2e tests
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#35636 Enable persisting non-core integrations by default
  omnibus/python-scripts/post.py
  releasenotes/notes/Persist-third-party-integrations-by-default-ec661f73bbdcc1ea.yaml
  test/new-e2e/tests/agent-platform/persisting-integrations/persisting_integrations_test.go
Labels: team/windows-agent, qa/done, medium review

#37853 fix(fleet): Remove flake mark on TestInstallParity
  test/new-e2e/tests/installer/script/default_script_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#37859 Include tegrastats stderr when failing to run
  pkg/collector/corechecks/nvidia/jetson/jetson.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-runtimes

#37833 ignore uprobes for perf stats in userspace
  pkg/collector/corechecks/ebpf/c/runtime/ebpf-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/ebpf-kern.c
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/c_types.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/c_types_linux.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe.go
  pkg/ebpf/mappings.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review, ask-review

#37838 Add forgotten origin mappings in the agent for Keda, DuckDB and Supabase
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
  releasenotes/notes/Add-Origins-for-DuckDB,-Keda-and-Supabase-696896ef6390356f.yaml
Labels: qa/done, short review, team/agent-metric-pipelines

#37863 [CWS] Export field in subexpression matches
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  pkg/security/secl/compiler/eval/context.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#37854 [CWS] Export scope field in policy report
  pkg/security/rules/monitor/policy_monitor.go
  pkg/security/rules/monitor/policy_monitor_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#37528 WINA-1171: CPU info rework
  pkg/gohai/cpu/cpu_test.go
  pkg/gohai/cpu/cpu_windows.c
  pkg/gohai/cpu/cpu_windows.go
  pkg/gohai/cpu/cpu_windows.h
  pkg/gohai/cpu/cpu_windows_386.go
  pkg/gohai/cpu/cpu_windows_amd64.go
  releasenotes/notes/windows-agent-cpu-info-18e54faf1ffbd15a.yaml
Labels: qa/done, long review, ask-review, team/agent-configuration

#36749 [CWS] Adding a resolver to add file metadata. For now, only on execs
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  docs/cloud-workload-security/secl_windows.json
  docs/cloud-workload-security/windows_expressions.md
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/metrics/metrics.go
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/field_handlers_ebpfless.go
  pkg/security/probe/field_handlers_windows.go
  pkg/security/probe/probe_monitor.go
  pkg/security/resolvers/file/analyzer.go
  pkg/security/resolvers/file/analyzer_test.go
  pkg/security/resolvers/file/elf.go
  pkg/security/resolvers/file/macho.go
  pkg/security/resolvers/file/pe.go
  pkg/security/resolvers/file/resolver_linux.go
  pkg/security/resolvers/file/resolver_other.go
  pkg/security/resolvers/file/testdata/test_7z
  pkg/security/resolvers/file/testdata/test_bz2
  pkg/security/resolvers/file/testdata/test_empty
  pkg/security/resolvers/file/testdata/test_gz
  pkg/security/resolvers/file/testdata/test_sh
  pkg/security/resolvers/file/testdata/test_sh_exe
  pkg/security/resolvers/file/testdata/test_tar
  pkg/security/resolvers/file/testdata/test_tgz
  pkg/security/resolvers/file/testdata/test_txt
  pkg/security/resolvers/file/testdata/test_xz
  pkg/security/resolvers/file/testdata/test_zip
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/seclwin/model/consts_common.go
  pkg/security/seclwin/model/model.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/serializers/serializers_windows.go
  pkg/security/tests/file_metadata_test.go
  pkg/security/tests/module_tester_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#37865 [CWS] Report empty policies
  pkg/security/rules/monitor/policy_monitor.go
  pkg/security/rules/monitor/policy_monitor_easyjson.go
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_dir.go
  pkg/security/secl/rules/policy_loader_test.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/schemas/heartbeat.schema.json
  pkg/security/secl/schemas/ruleset_loaded.schema.json
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, long review, qa/rc-required

#37871 Refactor a flaky otel-agent test
  cmd/otel-agent/main_test.go
  cmd/otel-agent/subcommands/run/command_test.go
  cmd/otel-agent/test_config.yaml
Labels: changelog/no-changelog, qa/done, short review, team/opentelemetry-agent

#37832 APM: Reduce likelihood of receiver shutdown panic
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/done, short review

#37894 Bump embedded Python to 3.12.11
  omnibus/config/software/openssl3.rb
  omnibus/config/software/python3.rb
  releasenotes/notes/Bump-the-Python-version-to-3.12.11-cf45f3de34091752.yaml
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
Labels: qa/no-code-change, team/agent-delivery, medium review

#37909 [incident-39523] Revert "(fleet) support upgrades on deb/rpm"
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-installer-symlinks.rb
  omnibus/package-scripts/agent-deb/prerm
  omnibus/package-scripts/agent-rpm/prerm
  pkg/fleet/installer/repository/link.go
  pkg/fleet/installer/repository/repository.go
  pkg/fleet/installer/repository/repository_test.go
  tasks/libs/common/utils.py
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/windows/suites/agent-package/upgrade_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#37893 chore: added logs.truncated metric to config file
  comp/core/agenttelemetry/impl/config.go
  releasenotes/notes/logs.truncated-in-config-file-5c9073fb8d4f7db0.yaml
Labels: qa/done, short review, need-change/agenttelemetry-governance, team/agent-runtimes

#37875 do not recursively set perms on installer data directory
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/paths/installer_paths_windows.go
  pkg/fleet/installer/paths/paths_windows_test.go
  releasenotes/notes/fix-installer-data-permissions-2a7df94e7da444d2.yaml
Labels: qa/done, medium review, ask-review

#37881 Update github.com/cloudflare/circl to 1.6.1
  go.mod
  internal/tools/go.mod
  internal/tools/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/done, medium review, ask-review, team/agent-runtimes

#37300 [NDINT-290] Versa SLA Metrics w/ Session Auth
  pkg/collector/corechecks/network-devices/versa/client/auth.go
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/request.go
  pkg/collector/corechecks/network-devices/versa/client/test_utils.go
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/versa.go
  pkg/collector/corechecks/network-devices/versa/versa_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/ndm-integrations

#37835 [NDINT-91] update flush timing to use ticker
  comp/netflow/flowaggregator/aggregator.go
Labels: changelog/no-changelog, qa/done, short review, team/ndm-integrations

#37301 [clusteragent/autoscaling] Clear autoscaling telemetry gauges when autoscaler deleted
  comp/core/telemetry/gauge.go
  comp/core/telemetry/noopsimpl/gauge.go
  comp/core/telemetry/telemetryimpl/prom_gauge.go
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/telemetry.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection_test.go
  pkg/util/kubernetes/autoscalers/processor_test.go
Labels: team/containers, changelog/no-changelog, qa/done, component/autoscaling, medium review

#37708 Add remote certificate collection to the Windows Certificate Store integration
  .gitlab-ci.yml
  .gitlab/e2e/e2e.yml
  cmd/agent/dist/conf.d/windows_certificate.d/conf.yaml.example
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/util/winutil/wnet.go
  releasenotes/notes/add-remote-cert-collection-for-windows-cert-check-e6ec4fb92e30fe57.yaml
  test/new-e2e/tests/windows/common/registry.go
  test/new-e2e/tests/windows/windows-certificate/windows_certificate_remote_test.go
Labels: team/windows-agent, qa/done, long review, ask-review

#37913 [release] Update current milestone to 7.69.0
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37916 [release] Update release.json and .gitlab-ci.yml files for 7.68.x branch
  .gitlab-ci.yml
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#37926 Re-adjust docker windows static quality gates
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change

#37918 Compress nightly build like stable builds
  omnibus/config/projects/agent.rb
  omnibus/config/projects/dogstatsd.rb
  omnibus/config/projects/installer.rb
  omnibus/config/projects/iot-agent.rb
  omnibus/config/projects/otel-agent.rb
Labels: changelog/no-changelog, qa/no-code-change, medium review

#37891 Fix static quality gates image suffix logic (#37802)
  tasks/static_quality_gates/lib/docker_agent_lib.py
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#37935 Re-adjust docker windows static quality gates (2)
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change

#37910 Revert "[incident-39523] Revert "(fleet) support upgrades on deb/rpm""
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-installer-symlinks.rb
  omnibus/package-scripts/agent-deb/prerm
  omnibus/package-scripts/agent-rpm/prerm
  pkg/aggregator/aggregator_test.go
  pkg/fleet/installer/repository/link.go
  pkg/fleet/installer/repository/repository.go
  pkg/fleet/installer/repository/repository_test.go
  tasks/libs/common/utils.py
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/windows/suites/agent-package/upgrade_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#37945 [pkg/dyninst] Support pointer chasing limit
  pkg/dyninst/compiler/codegen/code.go
  pkg/dyninst/compiler/sm/functions.go
  pkg/dyninst/compiler/sm/generate.go
  pkg/dyninst/compiler/testdata/snapshot/simple.arch=amd64,toolchain=go1.24.3.c
  pkg/dyninst/compiler/testdata/snapshot/simple.arch=arm64,toolchain=go1.24.3.c
  pkg/dyninst/ebpf/context.h
  pkg/dyninst/ebpf/event.c
  pkg/dyninst/ebpf/queue.h
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/ebpf/types.h
  pkg/dyninst/ir/program.go
  pkg/dyninst/irgen/irgen.go
  pkg/dyninst/irgen/testdata/snapshot/simple.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/simple.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/testprogs/progs/simple/main.go
  pkg/dyninst/testprogs/testdata/probes/simple.yaml
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, long review

#37841 [DEBUG-3986] dyninst/actuator: add a stateful control layer
  pkg/dyninst/actuator/actuator.go
  pkg/dyninst/actuator/configuration.go
  pkg/dyninst/actuator/doc.go
  pkg/dyninst/actuator/message.go
  pkg/dyninst/actuator/process.go
  pkg/dyninst/actuator/processstate_string.go
  pkg/dyninst/actuator/program.go
  pkg/dyninst/actuator/programstate_string.go
  pkg/dyninst/actuator/queue.go
  pkg/dyninst/actuator/queue_test.go
  pkg/dyninst/actuator/state.go
  pkg/dyninst/actuator/state_effects_test.go
  pkg/dyninst/actuator/state_enums.go
  pkg/dyninst/actuator/state_event_yaml_test.go
  pkg/dyninst/actuator/state_helpers_test.go
  pkg/dyninst/actuator/state_property_test.go
  pkg/dyninst/actuator/state_snapshot_test.go
  pkg/dyninst/actuator/state_validate_test.go
  pkg/dyninst/actuator/testdata/snapshot/aborted_program_cleanup_with_queue.yaml
  pkg/dyninst/actuator/testdata/snapshot/attaching_failure.yaml
  pkg/dyninst/actuator/testdata/snapshot/attaching_failure_while_detaching.yaml
  pkg/dyninst/actuator/testdata/snapshot/compilation_failure.yaml
  pkg/dyninst/actuator/testdata/snapshot/failure_with_queued_programs.yaml
  pkg/dyninst/actuator/testdata/snapshot/happy_path_multiple_processes.yaml
  pkg/dyninst/actuator/testdata/snapshot/happy_path_single_process.yaml
  pkg/dyninst/actuator/testdata/snapshot/loading_failure.yaml
  pkg/dyninst/actuator/testdata/snapshot/multiple_programs_queued.yaml
  pkg/dyninst/actuator/testdata/snapshot/probe_update_during_attaching.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_removed_during_attaching_failure.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_removed_during_attaching_success.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_removed_during_compilation.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_removed_during_loading.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_removed_when_attached.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_removed_when_queued.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_update_changes_probes.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_update_no_changes.yaml
  pkg/dyninst/actuator/testdata/snapshot/process_update_removes_all_probes.yaml
  pkg/dyninst/actuator/testdata/snapshot/shutdown_with_active_programs.yaml
  pkg/dyninst/compiler/compile.go
  pkg/dyninst/dyninsttest/util.go
  pkg/dyninst/ebpfbench/main.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/object/elf.go
  pkg/dyninst/object/object.go
Labels: changelog/no-changelog, qa/done, long review

#37939 Export properly the IMG_NEW_TAGS variable
  .gitlab/deploy_containers/deploy_mutable_image_tags.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review, backport/7.68.x

#37944 [CWS] report approvers-only when used
  pkg/security/probe/kfilters/report.go
  pkg/security/probe/kfilters/report_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, short review

#37936 [CWS] make kfilters naming consistent
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/approvers_test.go
  pkg/security/probe/kfilters/bpf.go
  pkg/security/probe/kfilters/capabilities_linux.go
  pkg/security/probe/kfilters/connect.go
  pkg/security/probe/kfilters/kfilters_bpf.go
  pkg/security/probe/kfilters/mmap.go
  pkg/security/probe/kfilters/mprotect.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/kfilters/process.go
  pkg/security/probe/kfilters/splice.go
  pkg/security/probe/kfilters/sysctl.go
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement, qa/done, long review

#37947 update snapshots
  test/integration/serverless/snapshots/error-java
  test/integration/serverless/snapshots/error-node
  test/integration/serverless/snapshots/error-proxy
  test/integration/serverless/snapshots/metric-java
  test/integration/serverless/snapshots/metric-node
  test/integration/serverless/snapshots/metric-proxy
Labels: changelog/no-changelog, team/serverless, qa/no-code-change, long review

#37922 [CWS] Increase self test timeout
  pkg/security/probe/selftests/tester.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#37758 Add optional CI job to run tests using nodetreemodel
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-configuration

#37867 Remove hacks required to convert yaml to overrides
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-configuration

#37949 Fix scope of gitlab token used in ebpf notify job
  .gitlab/kernel_matrix_testing/common.yml
Labels: changelog/no-changelog, qa/done, short review, ask-review

#37964 metrics: use the same function to get `histogram_aggregates` & `histogram_percentiles`
  pkg/metrics/go.mod
  pkg/metrics/histogram.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-metric-pipelines

#37971 [CWS] cache fentry support status between probe creations
  pkg/security/probe/probe_ebpf.go
  tasks/security_agent.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#37927 Disabled VPA on dogstatsd jobs
  .gitlab/packaging/deb.yml
  .gitlab/packaging/rpm.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#37975 [USMON-1452] usm: merge statis tags
  pkg/network/protocols/http/stats.go
  pkg/network/protocols/http/stats_test.go
  pkg/network/protocols/kafka/stats.go
  pkg/network/protocols/kafka/stats_test.go
  pkg/network/protocols/redis/stats.go
  pkg/network/protocols/redis/stats_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#37889 Add .log extension on install-info file in flare
  pkg/flare/archive.go
  test/new-e2e/tests/agent-subcommands/flare/flare_files.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#37977 Remove unused log debug serverless functions
  pkg/aggregator/demultiplexer.go
  pkg/util/log/log_not_serverless.go
  pkg/util/log/log_not_serverless_test.go
  pkg/util/log/log_serverless.go
Labels: changelog/no-changelog, qa/done, medium review, ask-review, team/agent-runtimes

#37878 Add 'preserve_root_device' config flag and mountinfo parser for raw device names
  cmd/agent/dist/conf.d/disk.d/conf.yaml.default
  pkg/collector/corechecks/system/disk/diskv2/disk.go
  pkg/collector/corechecks/system/disk/diskv2/disk_nix.go
  pkg/collector/corechecks/system/disk/diskv2/disk_nix_test.go
  pkg/collector/corechecks/system/disk/diskv2/disk_windows.go
  pkg/collector/corechecks/system/disk/diskv2/with_test.go
Labels: changelog/no-changelog, qa/done, long review, team/agent-runtimes

#37960 Remove klog v1
  LICENSE-3rdparty.csv
  cmd/agent/klog.go
  cmd/cluster-agent/klog.go
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review, ask-review

#38003 [CWS] create the ruleset loaded event before setting the current ruleset
  pkg/security/rules/engine.go
  pkg/security/rules/monitor/policy_monitor.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#37839 [CNM-4158] Enable cilium lb by default
  pkg/config/setup/system_probe.go
  pkg/network/tracer/cilium_lb.go
  pkg/network/tracer/conntracker_test.go
  releasenotes/notes/cnm-cilium-conntracker-enabled-by-default-698043061ed19d70.yaml
  test/new-e2e/tests/npm/cilium_lb_conntracker_test.go
  test/new-e2e/tests/npm/config.go
  test/new-e2e/tests/npm/config/npm-helm-cilium-lb-values.yaml
Labels: component/system-probe, team/networks, qa/done, medium review

#37903 fix password prompt during kmt.launch-stack
  .gitlab/kernel_matrix_testing/common.yml
  tasks/kernel_matrix_testing/stacks.py
  tasks/kmt.py
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review, ask-review

#37983 In serverless tests using env vars, init the configmock
  pkg/serverless/invocationlifecycle/trace_test.go
  pkg/serverless/trace/inferredspan/inferred_span_test.go
  pkg/serverless/trace/trace_test.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-configuration

#37994 Go DI decoding of strings, slices, and arrays
  pkg/dyninst/decode/decoder.go
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, medium review

#38017 Changelog update for 7.67.0 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/main, team/agent-delivery, medium review

#38016 Update test-infra-definitions
  .gitlab/common/test_infra_version.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review

#38049 [Backprot] Changelog updates for 7.67.0 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, medium review

#37684 [DJM] Add resource tags to databricks hosts
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/databricks_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#37682 [DJM] Enable GPU integration for Databricks cluster if env. var is present
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/databricks_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#38058 [system-probe] Fix panic in test
  pkg/network/tracer/ebpf_conntracker_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, short review

#38033 usm: kafka: Change customer facing terminology from fetch to consume
  pkg/network/protocols/kafka/debugging/debugging.go
  pkg/network/protocols/kafka/kernel_telemetry.go
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/protocols/kafka/telemetry.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review
