Repository DataDog/datadog-agent, pull requests merged in 2025-01, with the labels that each got.

#32358 USMON-1392: HTTP Batch flush with telemetry
  pkg/network/ebpf/c/protocols/events.h
  pkg/network/ebpf/c/protocols/flush.h
  pkg/network/protocols/events/consumer_test.go
  pkg/network/protocols/events/helpers.go
  pkg/network/protocols/http/event_pipeline_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#32593 usm: http2: Remove duplicated variable assignment
  pkg/network/protocols/http2/model_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#32594 usm: http2: Remove redundant string conversion
  pkg/network/protocols/http2/model_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#32579 [CWS] simplify a bit the model accessors
  pkg/security/events/token_limiter.go
  pkg/security/probe/discarders_linux.go
  pkg/security/rules/filtermodel/os_only_filter.go
  pkg/security/rules/filtermodel/rule_filters_model.go
  pkg/security/secl/compiler/eval/event.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/model_test.go
  pkg/security/secl/rules/collected_events_functests.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/seclwin/model/accessors_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, long review

#32580 [CWS] use secl field in SetFieldValue
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/seclwin/model/accessors_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, long review

#32547 Remove an unused replace directive
  .github/dependabot.yaml
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.sum
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-shared-components, qa/no-code-change, medium review

#32550 [ASCII-2612] Run Go checks in core-agent rather than checks-agent
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  cmd/checks-agent/subcommands/start/start.go
  comp/core/autodiscovery/stream/stream.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done

#32595 usm: http2: improve performance decode http2 path
  pkg/network/protocols/http2/model_linux.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#32590 chore(devcontainer): add workdir option
  tasks/devcontainer.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#32597 Reduce warn log in lock contention collector to debug
  pkg/ebpf/lockcontention.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review

#32501 [BARX-713] Add dev image tagged with commit
  .gitlab/dev_container_deploy/docker_linux.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#31717 [USMON-1385] usm: sharedlibraries: Use fexit
  pkg/ebpf/c/bpf_bypass.h
  pkg/network/ebpf/c/shared-libraries/probes.h
  pkg/network/ebpf/c/shared-libraries/types.h
  pkg/network/usm/sharedlibraries/ebpf.go
  pkg/network/usm/sharedlibraries/watcher_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, long review

#32598 [CWS] lru instead of map for sbom resolution
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/sbom/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, short review

#32596 [CWS] Add metrics for cgroup resolver
  pkg/security/metrics/metrics.go
  pkg/security/probe/probe_monitor.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/mount/resolver_test.go
  pkg/security/resolvers/process/resolver_test.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/resolvers/resolvers_ebpfless.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#32526 Tag pod with affinities
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
  pkg/logs/pipeline/go.mod
  pkg/logs/pipeline/go.sum
  pkg/logs/processor/go.mod
  pkg/logs/processor/go.sum
  pkg/process/util/api/go.mod
  pkg/process/util/api/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, team/container-app, qa/done, long review

#32583 Add a task to list all files owned by a team
  tasks/owners.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops, short review

#32390 Add retry ability to configsync comp
  cmd/otel-agent/command/command.go
  cmd/otel-agent/subcommands/run/command.go
  cmd/otel-agent/subcommands/subcommands.go
  cmd/process-agent/command/main_common.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/trace-agent/subcommands/run/command.go
  comp/core/configsync/configsyncimpl/module.go
  comp/core/configsync/configsyncimpl/module_integration_test.go
  comp/core/configsync/configsyncimpl/module_test.go
  comp/core/configsync/configsyncimpl/params.go
  comp/core/configsync/configsyncimpl/sync.go
  comp/core/configsync/configsyncimpl/test_common.go
  comp/forwarder/defaultforwarder/forwarder.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, long review

#32522 [EBPF] telemetry: clean maps before stopping the manager
  pkg/ebpf/telemetry/errors_telemetry.go
  pkg/ebpf/telemetry/modifier.go
  pkg/ebpf/telemetry/modifier_test.go
  pkg/ebpf/telemetry/perf_metrics.go
  pkg/network/usm/sharedlibraries/ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, long review, ask-review

#32537 [e2e] implement diagnosable interface on Host environment
  test/new-e2e/pkg/e2e/suite.go
  test/new-e2e/pkg/environments/host.go
  test/new-e2e/pkg/utils/common/types.go
  test/new-e2e/pkg/utils/e2e/client/agent_client.go
  test/new-e2e/pkg/utils/e2e/client/agent_commands.go
  test/new-e2e/pkg/utils/e2e/client/agentclient/agent.go
  test/new-e2e/pkg/utils/e2e/client/host.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32599 fix(invoke unit tests): Add condition to have successful tests locally
  tasks/unit_tests/package_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#32240 Deprecate Windows .bat scripts
  .gitlab/integration_test/windows.yml
  .gitlab/lint/windows.yml
  .gitlab/source_test/windows.yml
  tasks/winbuildscripts/Invoke-IntegrationTests.ps1
  tasks/winbuildscripts/Invoke-Linters.ps1
  tasks/winbuildscripts/Invoke-UnitTests.ps1
  tasks/winbuildscripts/README.md
  tasks/winbuildscripts/common.ps1
  tasks/winbuildscripts/integrationtests.bat
  tasks/winbuildscripts/integrationtests.ps1
  tasks/winbuildscripts/lint.bat
  tasks/winbuildscripts/lint.ps1
  tasks/winbuildscripts/lintlocal.bat
  tasks/winbuildscripts/pre-go-build.ps1
  tasks/winbuildscripts/setpath.bat
  tasks/winbuildscripts/unitlocal.bat
  tasks/winbuildscripts/unittests.bat
  tasks/winbuildscripts/unittests.ps1
  tools/ci/fetch_secret.ps1
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, long review

#32613 [e2e] increase pulumi log level for e2e test gpu
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32615 ebpf platform: Add documentation to bpf_bypass
  pkg/ebpf/c/bpf_bypass.h
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/no-code-change, short review

#32617 usm: http2: Verify we're not exceeding buffer length
  pkg/network/protocols/http2/model_linux.go
  pkg/network/protocols/http2/model_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#32388 [CWS] introduce FIM meta rules
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/rules/actions.go
  pkg/security/secl/rules/bucket.go
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/fim_others.go
  pkg/security/secl/rules/fim_test.go
  pkg/security/secl/rules/fim_unix.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/secl/validators/rule_structure.go
  pkg/security/secl/validators/rule_structure_test.go
  pkg/security/tests/fim_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#32359 Fix E2E documentation link in agent_tests.md
  docs/dev/agent_tests.md
Labels: changelog/no-changelog, qa/no-code-change, short review

#32616 feat(ask-review): Add the requester to the ask-review message
  .github/workflows/label-analysis.yml
  tasks/issue.py
  tasks/libs/ciproviders/github_api.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#32243 Update logging around configsync and fix false notification when the configuration was not updated
  comp/core/configsync/configsyncimpl/sync.go
  comp/core/configsync/configsyncimpl/sync_test.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/forwarder.go
  pkg/config/model/viper.go
  pkg/config/model/viper_test.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, medium review

#32622 [CWS] fix cgroupv1 parsing
  pkg/security/utils/cgroup.go
  pkg/security/utils/cgroup_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review, backport/7.62.x

#32554 [BARX-710] Retry container build job
  .gitlab/container_build/docker_windows.yml
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, team/agent-delivery, short review

#32630 ci(source_test): Increase the `new-e2e-unit-tests` timeout
  .gitlab/source_test/linux.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32629 Revert "Add `apm_config.obfuscation.cache.max_size` to set the maximum size of obfuscation query cache"
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  comp/trace/config/testdata/full.yaml
  pkg/collector/python/test_datadog_agent.go
  pkg/config/config_template.yaml
  pkg/config/setup/apm.go
  pkg/config/setup/config_test.go
  pkg/flare/envvars.go
  pkg/obfuscate/cache.go
  pkg/obfuscate/obfuscate.go
  releasenotes/notes/add-obfuscation-cache-max-size-411301253b92e191.yaml
Labels: team/agent-apm, qa/no-code-change, medium review

#32612 [CWS] Delete cgroup from cache for non container cgroups
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, short review, qa/rc-required, backport/7.62.x

#32636 Rename the freeze-date to cutoff-date in the create-schedule task
  .github/workflows/create_release_schedule.yml
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#32600 Move winproc to windows corechecks
  tasks/agent.py
Labels: changelog/no-changelog, qa/done, short review

#32607 fix(notify): Mock environ in all situations
  .gitlab/notify/notify.yml
  tasks/libs/notify/pipeline_status.py
  tasks/libs/notify/utils.py
  tasks/notify.py
  tasks/unit_tests/libs/notify/alerts_tests.py
  tasks/unit_tests/notify_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review

#32560 [CWS] do not marshal event before actually log in trace level
  pkg/security/module/server.go
  pkg/security/probe/probe.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_ebpfless.go
  pkg/security/probe/probe_windows.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_others.go
  pkg/security/serializers/serializers_windows.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, medium review

#32640 chore(origindetection): remove taggertypes.ProductOrigin
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/impl/tagger_test.go
  comp/dogstatsd/server/enrich.go
  comp/dogstatsd/server/enrich_test.go
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  go.mod
  pkg/metrics/go.mod
  pkg/serializer/go.mod
  pkg/tagger/types/go.mod
  pkg/tagger/types/go.sum
  pkg/tagger/types/types.go
Labels: changelog/no-changelog, qa/done, team/container-platform, long review

#31741 [CONTP-549] throttle the number of parallel client initial syncs in the tagger server
  cmd/cluster-agent/api/server.go
  comp/api/api/apiimpl/server_cmd.go
  comp/core/tagger/server/server.go
  comp/core/tagger/server/syncthrottler.go
  comp/core/tagger/server/syncthrottler_test.go
  pkg/config/setup/config.go
Labels: kind/enhancement, changelog/no-changelog, team/container-platform, medium review, qa/rc-required

#32586 Integrations Logs E2E Rotation Flaky Fix
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/fixtures/integration.py
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/fixtures/tenLogs.py
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/fixtures/tenLogs.yaml
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/logs_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/no-code-change, medium review

#32553 [CWS] add syscall ctx for rmdir & mkdir
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/hooks/mkdir.h
  pkg/security/ebpf/c/include/hooks/rmdir.h
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#32637 fix(download_with_retry): Prevent calling method with wrong number of arguments
  tasks/libs/ciproviders/github_actions_tools.py
  tasks/unit_tests/github_actions_tools_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#32649 [backport 7.62.x] [bugfix] Add retry ability to configsync comp (#32390)
  cmd/otel-agent/command/command.go
  cmd/otel-agent/subcommands/run/command.go
  cmd/otel-agent/subcommands/subcommands.go
  cmd/process-agent/command/main_common.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/trace-agent/subcommands/run/command.go
  comp/core/configsync/configsyncimpl/module.go
  comp/core/configsync/configsyncimpl/module_integration_test.go
  comp/core/configsync/configsyncimpl/module_test.go
  comp/core/configsync/configsyncimpl/params.go
  comp/core/configsync/configsyncimpl/sync.go
  comp/core/configsync/configsyncimpl/test_common.go
  comp/forwarder/defaultforwarder/forwarder.go
Labels: changelog/no-changelog, team/agent-shared-components, long review, qa/rc-required

#32647 Correctly tag mulitline logs for regex multi line handler.
  pkg/logs/internal/decoder/multiline_handler.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/done, short review

#32643 fix(fleet): Remove Docker network between tests to avoid random collisions
  test/new-e2e/tests/installer/host/host.go
Labels: changelog/no-changelog, qa/no-code-change, team/fleet-automation, short review

#32642 [SBOM] Do not use cyclonedx 1.6 version for cyclonedx 1.4
  pkg/collector/corechecks/sbom/convert.go
Labels: changelog/no-changelog, team/agent-security, short review, qa/rc-required, backport/7.62.x

#32464 [AMLII-2198] Add TCP Diagnosis when `force_use_tcp` is true
  pkg/diagnose/connectivity/core_endpoint.go
  pkg/diagnose/connectivity/core_endpoint_test.go
  pkg/logs/client/tcp/destination.go
  pkg/logs/client/tcp/destination_test.go
  pkg/logs/status/statusinterface/status_noop.go
  releasenotes/notes/add-tcp-diagnosis-check-9a88a7fae42e9e56.yaml
Labels: team/agent-metrics-logs, qa/done, long review

#32610 Do not clear host SBOM on non container cgroups deletion
  pkg/security/resolvers/sbom/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#32657 Revert "Integrations Logs E2E Rotation Flaky Fix (#32586)"
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/fixtures/integration.py
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/fixtures/tenLogs.py
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/fixtures/tenLogs.yaml
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/integrations/logs_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32667 [USM] Revert #32496
  pkg/network/ebpf/c/protocols/flush.h
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review, backport/7.62.x

#32648 feat(release): Add a new webhook for Agent6 release
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32472 feat(dependabot): Group dependencies for test/new-e2e
  .github/dependabot.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32279 Do not exit when prometheus receiver is defined without static configs
  comp/otelcol/converter/impl/converter_test.go
  comp/otelcol/converter/impl/prometheus.go
  comp/otelcol/converter/impl/testdata/receivers/empty-staticconfigs/config-result.yaml
  comp/otelcol/converter/impl/testdata/receivers/empty-staticconfigs/config.yaml
  comp/otelcol/converter/impl/testdata/receivers/missing-staticconfigs-section/config-result.yaml
  comp/otelcol/converter/impl/testdata/receivers/missing-staticconfigs-section/config.yaml
Labels: changelog/no-changelog, qa/done, medium review

#31967 Add task to show added / removed invoke tasks
  tasks/diff.py
  tasks/libs/common/worktree.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, medium review

#32655 [e2e][otel] skip broken e2e tests
  test/new-e2e/tests/otel/otel-agent/complete_test.go
  test/new-e2e/tests/otel/otel-agent/infraattributes_eks_test.go
  test/new-e2e/tests/otel/otel-agent/infraattributes_test.go
  test/new-e2e/tests/otel/otel-agent/minimal_test.go
  test/new-e2e/tests/otel/otel-agent/no_dd_exporter_test.go
  test/new-e2e/tests/otel/otel-agent/receive_resource_spans_v2_test.go
  test/new-e2e/tests/otel/otel-agent/sampling_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32466 omnibus: fix false positive when forcing omnibus versions through env
  tasks/libs/common/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#32525 [DJM] Add new script for dataproc
  .gitlab/package_build/installer.yml
  go.mod
  pkg/fleet/installer/setup/djm/dataproc.go
  pkg/fleet/installer/setup/djm/emr.go
  pkg/fleet/installer/setup/djm/emr_test.go
  pkg/fleet/installer/setup/djm/testdata/emrExtraInstanceData.json
  pkg/fleet/installer/setup/djm/testdata/emrInstance.json
  pkg/fleet/installer/setup/setup.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#32671 [incident-33553] Retry go deps fetch on tar extract error
  .gitlab-ci.yml
  .gitlab/deps_fetch/deps_fetch.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, medium review

#32502 Add worktree support to release note tasks
  tasks/notes.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, medium review, ask-review

#32684 usm: tests: Cache event monitor
  pkg/network/usm/ebpf_ssl_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, medium review

#32626 [CWS] rework sbom resolver
  pkg/security/resolvers/sbom/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review, backport/7.62.x

#32670 usm: process monitor: tests: Remove code duplication
  pkg/process/monitor/process_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, medium review

#32685 consolidate setup usm
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, short review

#32697 feat(notify): [agent6] don't create team notifications
  tasks/notify.py
Labels: changelog/no-changelog, qa/no-code-change

#32695 [CTK-4612] Mark ECS-EC2 process test as flaky
  test/new-e2e/tests/process/ecs_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/container-intake

#32538 Remove plugin import from containerd
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tasks/build_tags.py
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, medium review

#32694 fix(release) [Agent6] Prevent updating a `/pkg/util/optional` in agent6 RC
  tasks/release.py
  tasks/unit_tests/release_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#31894 Send device scan status
  cmd/agent/subcommands/snmp/command.go
  comp/snmpscan/def/component.go
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/sendpayload.go
  comp/snmpscan/mock/mock.go
  pkg/networkdevice/metadata/payload.go
Labels: changelog/no-changelog, medium review, team/ndm-core, qa/rc-required

#32623 Add common Windows runner config
  .gitlab-ci.yml
  .gitlab/binary_build/windows.yml
  .gitlab/choco_build/choco_build.yml
  .gitlab/container_build/docker_windows_agent7.yml
  .gitlab/deploy_packages/winget.yml
  .gitlab/integration_test/windows.yml
  .gitlab/lint/windows.yml
  .gitlab/package_build/installer.yml
  .gitlab/package_build/windows.yml
  .gitlab/powershell_script_signing/powershell_script_signing.yml
  .gitlab/source_test/windows.yml
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, team/agent-devx-infra, medium review

#32658 chore(origindetection): consolidate External Data
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/impl/tagger_test.go
  comp/dogstatsd/server/enrich.go
  comp/dogstatsd/server/enrich_bench_test.go
  comp/dogstatsd/server/enrich_test.go
  comp/dogstatsd/server/parse.go
  comp/dogstatsd/server/parse_events.go
  comp/dogstatsd/server/parse_metrics.go
  comp/dogstatsd/server/parse_service_checks.go
  pkg/tagger/types/types.go
Labels: changelog/no-changelog, qa/done, medium review

#32371 remove unused double flush telemetry
  pkg/network/ebpf/c/tracer/telemetry.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/ebpf_tracer.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, medium review

#32701 [CWS] bump jinja2 version used in docs generator
  docs/cloud-workload-security/scripts/requirements-docs.txt
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#31402 in buffer batching with perf buffers for NPM
  .github/CODEOWNERS
  cmd/system-probe/config/adjust_npm.go
  pkg/config/setup/system_probe.go
  pkg/ebpf/c/bpf_helpers_custom.h
  pkg/ebpf/manager.go
  pkg/ebpf/perf/event.go
  pkg/ebpf/telemetry/perf_metrics.go
  pkg/network/config/config.go
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/maps.h
  pkg/network/event_common_linux.go
  pkg/network/event_common_notlinux.go
  pkg/network/protocols/events/configuration.go
  pkg/network/state_linux_test.go
  pkg/network/tracer/connection/ebpf_tracer.go
  pkg/network/tracer/connection/fentry/manager.go
  pkg/network/tracer/connection/fentry/probes.go
  pkg/network/tracer/connection/fentry/tracer.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/kprobe/tracer_test.go
  pkg/network/tracer/connection/perf_batching.go
  pkg/network/tracer/connection/perf_batching_test.go
  pkg/network/tracer/connection/tcp_close_consumer.go
  pkg/network/tracer/connection/tcp_close_consumer_test.go
  pkg/network/tracer/connection/util/conn_tracer.go
  pkg/util/encoding/binary.go
  pkg/util/encoding/binary_test.go
  pkg/util/slices/map.go
  pkg/util/slices/map_test.go
  pkg/util/sync/pool.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, long review

#32646 feat(fleet): Add install info on installer script install
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/setup/common/setup.go
  pkg/util/installinfo/install_info_nix.go
  pkg/util/installinfo/install_info_nix_test.go
  pkg/util/installinfo/install_info_windows.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#32716 [Backport 7.62.x][incident-33684] Reuse sysprobe-client between traceroute calls
  pkg/networkpath/traceroute/traceroute_linux.go
  pkg/networkpath/traceroute/traceroute_sysprobe.go
  pkg/networkpath/traceroute/traceroute_windows.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, backport, short review

#32019 wmeta: Add GPU entity
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/workloadmeta/def/component.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/def/types_test.go
  comp/core/workloadmeta/impl/store.go
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review

#32720 [ADXT-716] Test washer failing wash known flaky unit test
  tasks/testwasher.py
  tasks/unit_tests/testdata/flakes_4.yaml
  tasks/unit_tests/testdata/test_output_failure_flaky_panic.json
  tasks/unit_tests/testdata/test_output_failure_panic.json
  tasks/unit_tests/testwasher_tests.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops, medium review, ask-review

#32719 Bump go-git to latest version
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/no-code-change, backport/6.53.x, short review, backport/7.61.x, backport/7.62.x

#32521 [EBPF] gpu: auto-enable agent check if system-probe gpu_monitoring module is enabled
  Dockerfiles/agent/cont-init.d/60-sysprobe-check.sh
  cmd/agent/dist/conf.d/gpu.d/conf.yaml.example
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, medium review, ask-review

#32683 [e2e][gpu] increase pulumi logs verbosity to max value
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops, short review

#32690 [ADXT-823] Display attempt in "stack up took ..." message
  test/new-e2e/pkg/utils/infra/stack_manager.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops, short review

#32709 [incident-33684] Reuse sysprobe-client between traceroute calls
  pkg/networkpath/traceroute/traceroute_linux.go
  pkg/networkpath/traceroute/traceroute_sysprobe.go
  pkg/networkpath/traceroute/traceroute_windows.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, medium review

#32672 feat(installer): Always load the installer unit & disable it using config
  cmd/installer/subcommands/daemon/run_nix.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/installer/packages/datadog_installer.go
  test/new-e2e/tests/installer/unix/all_packages_test.go
  test/new-e2e/tests/installer/unix/package_installer_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#32711 [OTEL-2309] Fix panic in /otel-agent -h
  cmd/otel-agent/command/command.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done, short review

#32117 Update ProgramData Directory permissions
  releasenotes/notes/update-programdata-permissions-6271744e48907d71.yaml
  test/new-e2e/tests/windows/common/acl.go
  test/new-e2e/tests/windows/install-test/assert.go
  test/new-e2e/tests/windows/install-test/installtester.go
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigureUserCustomActions.cs
Labels: team/windows-agent, qa/done, long review

#32731 Ratchet down the Quality Gate RSS limits to lock in recent improvements
  test/regression/cases/quality_gate_idle/experiment.yaml
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
  test/regression/cases/quality_gate_logs/experiment.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32727 [CWS] improve handling of missing inode key in exec file cache map
  pkg/security/resolvers/process/resolver_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#32354 Harden Windows System Probe named pipe
  cmd/agent/subcommands/flare/command_windows_test.go
  cmd/system-probe/api/server/listener_windows.go
  cmd/system-probe/api/server/listener_windows_testutil.go
  pkg/collector/corechecks/system/wincrashdetect/wincrashdetect_windows_test.go
  releasenotes/notes/windows_system_probe_namedpipe_hardening-cfc08b47465f1f2b.yaml
Labels: component/system-probe, team/windows-kernel-integrations, qa/done, medium review

#32571 [new-e2e] Check empty instance reservations condition for dumpKindClusterState
  test/new-e2e/pkg/provisioners/aws/kubernetes/kubernetes_dump.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops, short review

#32712 Ensure agent 6 RC creation fails if a previous RC PR already exists
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32668 workloadmeta: add missing runtime and state fields in container parsed from ECS v1
  comp/core/workloadmeta/collectors/internal/ecs/v1parser.go
  comp/core/workloadmeta/def/merge.go
  releasenotes/notes/cws-fix-containers-billing-19580e6f968dd79a.yaml
Labels: changelog/no-changelog, team/container-platform, medium review, qa/rc-required, backport/7.61.x, backport/7.62.x

#32738 [Backport 7.61.x] Bump go-git to latest version
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  releasenotes/notes/Fix-CVE-2025-21613-e315819fea996bd4.yaml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: qa/no-code-change, medium review

#32559 [NPM-3666] Add dmesg to agent flare
  cmd/system-probe/api/debug/handlers_linux.go
  cmd/system-probe/api/debug/handlers_linux_test.go
  cmd/system-probe/api/debug/handlers_nolinux.go
  cmd/system-probe/api/server.go
  pkg/flare/archive_linux.go
  pkg/flare/archive_nolinux.go
  pkg/flare/archive_security.go
  releasenotes/notes/agent-flare-dmesg-d1de3cbb876c05d8.yaml
Labels: component/system-probe, team/agent-shared-components, team/ebpf-platform, qa/done, long review

#32650 Collect errors telemetry for shared maps
  pkg/ebpf/manager_test.go
  pkg/ebpf/names/names.go
  pkg/ebpf/printk_patcher_test.go
  pkg/ebpf/telemetry/errors_telemetry_test.go
  pkg/ebpf/telemetry/modifier.go
  pkg/ebpf/telemetry/modifier_test.go
  pkg/ebpf/testdata/c/error_telemetry.c
  pkg/ebpf/testdata/c/logdebug-test.c
  pkg/ebpf/testdata/c/uprobe_attacher-test.c
  pkg/ebpf/uprobes/attacher_test.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, long review

#32517 Record log content bytes from TCP / UDP
  pkg/logs/tailers/socket/tailer.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/done, medium review

#32732 [CWS] onboard second batch of fs constants to the fetcher
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/btfhub/constants.json
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#32572 [NPM-4125] Refactor connection direction to use SYN packets
  pkg/network/event_common.go
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/connection/ebpfless/tcp_utils.go
  pkg/network/tracer/connection/ebpfless_tracer.go
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, long review

#32729 [CWS] Improve systemd cgroupv1 parsing
  pkg/security/utils/cgroup.go
  pkg/security/utils/cgroup_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, medium review

#32730 fix(containers): [agent6] Updates on container deploy
  .gitlab/deploy_containers/conditions.yml
  .gitlab/deploy_containers/deploy_containers_a6.yml
Labels: changelog/no-changelog, qa/no-code-change

#32753 [CWS] fix `OffsetNameMountpointDentry` offset request
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#32689 [ADXT-726] Retry on ssh rejected error
  test/new-e2e/pkg/utils/infra/retriable_errors.go
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-loops, short review

#32754 fix(installer): Don't chown files that don't exist
  pkg/fleet/installer/packages/datadog_agent.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#32756 omnibus: remove leftover reference to python_2_embedded
  omnibus/config/software/vc_redist.rb
Labels: changelog/no-changelog, qa/done, team/agent-delivery, short review

#32705 Replace python_2_embedded with python_3_embedded
  omnibus/config/software/datadog-agent.rb
Labels: changelog/no-changelog, qa/done, team/agent-delivery, short review

#31974 Add IsConfigured to the config interface
  .golangci.yml
  pkg/config/model/types.go
  pkg/config/model/viper.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/teeconfig/teeconfig.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, medium review

#32733 Reduce tolerance of all package size increase threshold
  tasks/libs/package/size.py
  tasks/unit_tests/package_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#32737 [Backport 7.62.x] Bump go-git to latest version (#32719)
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32726 Remove apm-ecosystems-performance from release teams
  tasks/libs/releasing/documentation.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops, short review

#32770 [CWS] fix potential race regarding `newTCNetDevices`
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#32773 [CWS] refactor fallback constant fetcher
  pkg/security/probe/constantfetch/fallback.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#32771 fix(installer): Don't try to instrument Snap's Docker
  pkg/fleet/installer/packages/docker.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#32627 add update testing target msi to pipeline
  .gitlab/e2e_install_packages/windows.yml
  .gitlab/e2e_testing_deploy/e2e_deploy.yml
  .gitlab/package_build/windows.yml
  tasks/msi.py
  tasks/winbuild.py
  tasks/winbuildscripts/Build-AgentPackages.ps1
  test/new-e2e/tests/windows/common/agent/agent.go
  test/new-e2e/tests/windows/common/agent/package.go
  test/new-e2e/tests/windows/common/product.go
  test/new-e2e/tests/windows/install-test/upgrade_test.go
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentFlavor.cs
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, medium review

#32618 feat(installer): add default installer install script
  .gitlab/package_build/installer.yml
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/embedded/datadog-agent-security-exp.service
  pkg/fleet/installer/packages/embedded/datadog-agent-security.service
  pkg/fleet/installer/setup/common/config.go
  pkg/fleet/installer/setup/common/packages.go
  pkg/fleet/installer/setup/common/services_nix.go
  pkg/fleet/installer/setup/common/services_windows.go
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/defaultscript/default_script.go
  pkg/fleet/installer/setup/setup.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#32758 [ACIX-512] Updated jira mapping to replace APL
  tasks/libs/pipeline/github_jira_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review, ask-review

#32775 check_pkg_size gitlab job will run only on dev branch
  .gitlab/pkg_metrics/pkg_metrics.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32774 [gitlab] Use --apparent-size option of du to compute directory sizes
  tasks/libs/package/size.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32659 Sets default value for agent-telemetry's compression to 1
  pkg/config/setup/config.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, medium review

#32776 ci(gitlab logs): Prevent breaking the collapsed sections in gitlab logs
  tasks/libs/common/utils.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#32787 ci(macos): Migrate to macos13 ventura (#31033)
  .gitlab/lint/macos.yml
  .gitlab/source_test/macos.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32624 MSI raise error if password contains semicolon
  releasenotes/notes/password-contains-semicolon-error-5c63154508759fa0.yaml
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/ProcessUserCustomActions/UserCustomActionsTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ProcessUserCustomActions.cs
Labels: team/windows-agent, qa/done, short review

#32794 [CONTINT-4550] Fix pkg/clusteragent/autoscaling/workload/loadstore/TestStoreAndPurgeEntities
  pkg/clusteragent/autoscaling/workload/loadstore/store_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#32789 [CWS] remove useless `kv.Code != 0` checks
  pkg/security/probe/constantfetch/fallback.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#32793 [gitlab] Fix ancestor computation for check_pkg_size
  tasks/libs/package/utils.py
  tasks/unit_tests/package_lib_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#32796 [gitlab] Run check_pkg_size, allowed to fail, on main and release branches
  .gitlab/pkg_metrics/pkg_metrics.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32769 [CONTP-581] handle unpopulated workloadmeta container fields in protobuf
  comp/core/workloadmeta/proto/proto.go
  comp/core/workloadmeta/proto/proto_test.go
  pkg/proto/datadog/workloadmeta/workloadmeta.proto
  pkg/proto/pbgo/core/api.pb.go
  pkg/proto/pbgo/core/autodiscovery.pb.go
  pkg/proto/pbgo/core/model.pb.go
  pkg/proto/pbgo/core/remoteagent.pb.go
  pkg/proto/pbgo/core/remoteconfig.pb.go
  pkg/proto/pbgo/core/workloadmeta.pb.go
  pkg/proto/pbgo/languagedetection/api.pb.go
  pkg/proto/pbgo/process/process.pb.go
  pkg/proto/pbgo/process/workloadmeta_process.pb.go
  pkg/proto/pbgo/trace/agent_payload.pb.go
  pkg/proto/pbgo/trace/span.pb.go
  pkg/proto/pbgo/trace/stats.pb.go
  pkg/proto/pbgo/trace/tracer_payload.pb.go
Labels: changelog/no-changelog, team/agent-apm, category/bugfix, team/agent-shared-components, team/container-platform, long review, qa/rc-required

#32691 [Second] Add `apm_config.obfuscation.cache.max_size` to set the maximum size of obfuscation query cache
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  comp/trace/config/testdata/full.yaml
  pkg/collector/python/test_datadog_agent.go
  pkg/config/config_template.yaml
  pkg/config/setup/apm.go
  pkg/config/setup/config_test.go
  pkg/flare/envvars.go
  pkg/obfuscate/cache.go
  pkg/obfuscate/obfuscate.go
  releasenotes/notes/add-obfuscation-cache-max-size-411301253b92e191.yaml
Labels: team/agent-apm, qa/done, medium review

#32782 [SBOM] Disable RPM archive trivy analyzer
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, short review, qa/rc-required, backport/7.62.x

#32795 [CWS] remove `simpleHTTPRequest` and use regular client
  pkg/security/ptracer/container_context.go
  pkg/security/ptracer/utils.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review, backport/7.62.x

#32781 fix(installer): Don't run preinst when there is nothing to do
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/datadog_agent.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#32609 Force the configsync component to be instantiated by FX when used
  cmd/process-agent/command/main_common.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/trace-agent/subcommands/run/command.go
  comp/core/configsync/configsyncimpl/module.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#32799 omibus cache: ignore env variables set by integrations-core pipelines
  tasks/libs/common/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#32780 Reduce log level used when updating the configuration
  pkg/config/model/viper.go
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, short review

#32802 [CWS] remove gopacket dependency from cws-instrumentation
  pkg/dynamicinstrumentation/proctracker/proctracker.go
  pkg/security/proto/ebpfless/msg.go
  pkg/security/ptracer/hooks.go
  pkg/security/ptracer/utils.go
  pkg/security/resolvers/envvars/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/secl/model/args_envs.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/sharedconsts/argsenvs.go
  pkg/security/secl/model/sharedconsts/exitcode.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/seclwin/model/args_envs.go
  pkg/security/seclwin/model/consts_common.go
  pkg/security/serializers/serializers_base.go
  pkg/security/tests/process_test.go
  pkg/security/utils/proc_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#32805 (fleet) fix the version used to reference the installer from the install scripts
  .gitlab/package_build/installer.yml
  tasks/installer.py
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#32806 Add task to print pr state
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#32762 [ACIX-499] Made a variable for help channel
  tasks/issue.py
  tasks/libs/notify/unit_tests.py
  tasks/libs/notify/utils.py
  tasks/libs/pipeline/notifications.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32693 [CWS] Snapshot and runtime use the same file to identify cgroups
  pkg/security/ebpf/c/include/hooks/cgroup.h
  pkg/security/resolvers/container/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/resolvers/resolvers_ebpfless.go
  pkg/security/tests/cgroup_test.go
  pkg/security/utils/cgroup.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#32588 [task] add task to start a windows dev environment
  tasks/__init__.py
  tasks/requirements.txt
  tasks/windows_dev_env.py
Labels: changelog/no-changelog, qa/no-code-change, long review, ask-review

#32813 [CWS] skip TestAcceptEvent on ebpfless
  pkg/security/tests/accept_test.go
  pkg/security/tests/main_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#32438 Add Secrets test in ProgramData
  test/new-e2e/tests/agent-shared-components/secret/secret_win_test.go
  test/new-e2e/tests/agent-shared-components/secretsutils/helpers.go
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#32820 Bump github.com/DataDog/go-sqllexer to v0.0.19
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, team/database-monitoring, qa/done

#32757 chore(origindetection): implement LocalData struct for DogStatsD
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/origindetection/origindetection.go
  comp/core/tagger/origindetection/origindetection_test.go
  comp/dogstatsd/server/enrich.go
  comp/dogstatsd/server/enrich_bench_test.go
  comp/dogstatsd/server/enrich_test.go
  comp/dogstatsd/server/parse.go
  comp/dogstatsd/server/parse_events.go
  comp/dogstatsd/server/parse_metrics.go
  comp/dogstatsd/server/parse_metrics_test.go
  comp/dogstatsd/server/parse_service_checks.go
  comp/dogstatsd/server/parse_test.go
  pkg/tagger/types/types.go
Labels: changelog/no-changelog, qa/done, team/container-platform, long review

#32819 Update lading version to 0.25.3
  test/regression/config.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32822 add contents write permissions to GITHUB_TOKEN for OTel workflow
  .github/workflows/collector-generate-and-update.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#32463 AMLII-2181 Add FIPS JMX tests
  .gitlab/e2e/e2e.yml
  test/new-e2e/tests/agent-metrics-logs/jmxfetch/jmxfetch_nix_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#32800 fix(go): [agent6] Bump docker to a more recent version
  go.mod
  go.sum
  releasenotes/notes/Fix-CVE-2024-41110-c728023ab5556b15.yaml
Labels: qa/no-code-change

#32788 Bind `auto_multi_line_detection_custom_samples` to env var
  pkg/config/setup/config.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/done, short review

#32817 [CWS] Mark some cgroup fields as experimental
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/secl/model/model_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, short review

#32698 [SBOM] Add spec version check in FuzzConvertBOM
  pkg/collector/corechecks/sbom/convert_test.go
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#32814 [CWS] Fix TestSecurityProfileSyscallDrift functional tests
  pkg/security/tests/security_profile_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, short review
