Repository DataDog/datadog-agent, pull requests merged in 2025-10, with the labels that each got.

#41424 Mark TestManualProcessCheckWithIO as flaky
  test/new-e2e/tests/process/linux_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/container-experiences

#41372 [autodiscovery] Store errors instead of logging
  comp/core/autodiscovery/common/utils/annotations.go
  comp/core/autodiscovery/common/utils/annotations_test.go
  comp/core/autodiscovery/providers/consul.go
  comp/core/autodiscovery/providers/etcd.go
  comp/core/autodiscovery/providers/zookeeper.go
  releasenotes/notes/store-build-template-errs-c3edad010acdd679.yaml
Labels: qa/done, team/container-platform, medium review

#41383 Move dependent services code behind windows build tag
  cmd/agent/subcommands/run/dependent_services.go
  cmd/agent/subcommands/run/dependent_services_nix.go
  cmd/agent/subcommands/run/dependent_services_windows.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-runtimes

#41387 Retry getting ec2 metadata to fix flakiness
  test/new-e2e/pkg/utils/e2e/client/ec2_metadata.go
Labels: changelog/no-changelog, team/agent-e2e-test, qa/no-code-change, short review, ask-review

#41394 [CWS] bump go-rpmdb version to latest
  go.mod
  go.sum
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#41183 [DJM] GPU monitoring setup cleanup after moving to agent 7.70
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/databricks_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#40746 [AGENTRUN-674] worker utilization warning
  pkg/collector/runner/expvars/expvars.go
  pkg/collector/runner/expvars/expvars_test.go
  pkg/collector/runner/expvars/workers.go
  pkg/collector/runner/expvars/workers_test.go
  pkg/collector/runner/runner.go
  pkg/collector/runner/runner_test.go
  pkg/collector/worker/utilization.go
  pkg/collector/worker/utilization_test.go
  pkg/collector/worker/worker_test.go
  pkg/config/setup/config.go
  pkg/status/collector/status.go
  pkg/status/collector/status_templates/collector.tmpl
  pkg/status/collector/status_templates/collectorHTML.tmpl
  releasenotes/notes/add-check-worker-utilization-stats-fd60866dd32527d8.yaml
Labels: qa/done, long review, team/agent-runtimes

#41406 Extend metrics serializer tests
  pkg/serializer/serializer_test.go
Labels: changelog/no-changelog, qa/done, short review

#41417 Adding wincrashdetect spec.yaml
  cmd/agent/dist/assets/wincrashdetect/spec.yaml
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review, team/agent-configuration

#41467 Imporve replace bind parameter test
  pkg/obfuscate/sql_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/no-code-change, short review

#41132 [tls-certs] Add parser for X509 DER certificates
  .github/CODEOWNERS
  pkg/network/ebpf/c/protocols/tls/tls-certs-parser.h
  pkg/network/ebpf/c/protocols/tls/tls-certs-tests/.gitignore
  pkg/network/ebpf/c/protocols/tls/tls-certs-tests/datadoghq.der
  pkg/network/ebpf/c/protocols/tls/tls-certs-tests/digicert_ca.der
  pkg/network/ebpf/c/protocols/tls/tls-certs-tests/parser-test.c
  pkg/network/ebpf/c/protocols/tls/tls-certs-tests/test.sh
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, team/cloud-network-monitoring

#41322 add e2e test file permissions
  test/new-e2e/tests/installer/windows/suites/agent-package/domain_test.go
  test/new-e2e/tests/installer/windows/suites/agent-package/upgrade_test.go
  test/new-e2e/tests/installer/windows/suites/install-exe/install_test.go
  test/new-e2e/tests/windows/common/acl.go
  test/new-e2e/tests/windows/common/agent/agent.go
  test/new-e2e/tests/windows/common/fixtures/get-acl-helpers.ps1
  test/new-e2e/tests/windows/install-test/install_test.go
  test/new-e2e/tests/windows/install-test/installtester.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review

#41470 process_log: Use privileged logs client
  comp/core/autodiscovery/providers/process_log.go
  pkg/privileged-logs/client/open_other.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-discovery

#41331 process: Add process entity tags
  comp/process/processcheck/processcheckimpl/check.go
  comp/process/processcheck/processcheckimpl/check_linux_test.go
  comp/process/processcheck/processcheckimpl/check_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_test.go
  pkg/process/runner/runner_test.go
Labels: changelog/no-changelog, qa/done, medium review, ask-review, team/agent-discovery

#40526 [CONTP-546] DCA: Fix Language Detection Issues During Leader Election Changes
  cmd/cluster-agent/api/v1/languagedetection/handler.go
  cmd/cluster-agent/api/v1/languagedetection/util.go
  pkg/clusteragent/languagedetection/patcher.go
Labels: changelog/no-changelog, category/bugfix, qa/done, team/container-platform, long review

#41478 privileged-logs: Log accesses once per path
  pkg/privileged-logs/module/handler.go
  pkg/privileged-logs/module/handler_test.go
  pkg/privileged-logs/module/module.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-discovery

#41251 Node UID support for the Cluster Agent
  cmd/cluster-agent/api/server.go
  cmd/cluster-agent/api/v1/kubernetes_metadata.go
  cmd/cluster-agent/api/v1/kubernetes_metadata_test.go
  comp/core/workloadmeta/collectors/internal/cloudfoundry/vm/cf_vm_test.go
  comp/core/workloadmeta/collectors/internal/kubemetadata/kubemetadata_test.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/metadata.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/impl/store_test.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/clusteragent/clusteragent_test.go
  releasenotes/notes/Node-UID-support-for-the-Cluster-Agent-44c06be6a215673b.yaml
Labels: qa/done, medium review, team/container-integrations

#41428 (fleet) disable config experiments on windows
  pkg/fleet/installer/config/config.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/paths/installer_paths.go
  pkg/fleet/installer/paths/installer_paths_windows.go
  releasenotes/notes/fix-remote-agent-mngmt-config-windows-4c116b804ce96a16.yaml
Labels: changelog/no-changelog, category/bugfix, qa/done, medium review, team/windows-products, backport/7.71.x

#40962 Add support for Go context shutdown in DDOT
  comp/otelcol/collector/impl/collector.go
  comp/otelcol/collector/impl/collector_nix.go
  comp/otelcol/collector/impl/collector_windows.go
Labels: changelog/no-changelog, qa/done, short review, team/opentelemetry-agent

#41485 [BARX-1219] Update agent-release-management to use new MSI artifact location
  .gitlab/deploy_packages/windows.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review, team/windows-products

#41484 [Backport to 7.71.x] fix(fleet): Fixes to the APM SSI script
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/defaultscript/apm_ssi.go
  pkg/fleet/installer/setup/defaultscript/default_script.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#41411 Parse extended memory metric config option (#41388)
  pkg/collector/corechecks/containers/generic/check.go
  releasenotes/notes/fix-container-extended-metrics-d28e0048ff88ecc1.yaml
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#41506 [EBPF] gpu: skip cgroup tests when cgroupfs is readonly
  .gitlab/functional_test/oracle.yml
  pkg/gpu/cgroups_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review

#41507 [incident-43782] "Revert" Gitlab short lived tokens generation
  tasks/libs/ciproviders/gitlab_api.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#41389 [FA] Report integration config file
  comp/core/autodiscovery/providers/config_reader.go
  comp/core/autodiscovery/providers/config_reader_test.go
  comp/metadata/inventorychecks/README.md
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  pkg/config/legacy/docker.go
  pkg/config/legacy/kubernetes.go
Labels: changelog/no-changelog, qa/done, long review

#41472 fix(octo-sts): Use the correct naming convention for the chainguard file
  .github/chainguard/self.stale.manage-stale.sts.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#41474 [SYNTH-22126] Fixes for Synthetics Scheduler
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/syntheticstestscheduler/impl/scheduler.go
  comp/syntheticstestscheduler/impl/syntheticstestscheduler_test.go
  comp/syntheticstestscheduler/impl/worker.go
  comp/syntheticstestscheduler/impl/worker_test.go
  pkg/remoteconfig/state/products.go
Labels: changelog/no-changelog, team/remote-config, qa/done, medium review, team/agent-log-pipelines

#41352 [AGENTCFG-378] Adding an e2e test to ensure that ccrid is reported correctly regardless of IMDS version
  test/new-e2e/tests/agent-configuration/api/api_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-configuration

#41495 Stop sending the `example.metric` metric to the /sketches endpoint
  pkg/diagnose/connectivity/core_endpoint_test.go
  pkg/diagnose/connectivity/endpoint_info.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-configuration

#41493 support json marshaling and unmarshaling of the Set action
  pkg/security/secl/rules/model.go
  pkg/security/secl/rules/model_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#40604 smp: publish agent images to multiple regions
  .gitlab/container_build/docker_linux.yml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change, team/agent-delivery, medium review, team/agent-build

#41275 Handle controller objective
  go.mod
  go.sum
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/external/recommender_client.go
  pkg/clusteragent/autoscaling/workload/external/recommender_client_build_request_test.go
  pkg/clusteragent/autoscaling/workload/local/recommendation_settings.go
  pkg/clusteragent/autoscaling/workload/local/replica_calculator.go
  pkg/clusteragent/autoscaling/workload/local/replica_calculator_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_string.go
  releasenotes/notes/custom-query-autoscaling-34f2f7d5e0a1c93f.yaml
Labels: qa/done, long review

#41429 register the default config command for other agents
  cmd/cluster-agent/api/agent/agent.go
  cmd/process-agent/api/server.go
  cmd/security-agent/api/agent/agent.go
  cmd/system-probe/api/config.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, team/ebpf-platform, team/container-platform, medium review, qa/rc-required, team/agent-configuration, team/container-experiences

#41528 Additional diagnostics for Windows start/stop tests
  test/new-e2e/tests/windows/service-test/diagnostics.go
  test/new-e2e/tests/windows/service-test/startstop_test.go
Labels: changelog/no-changelog, qa/done, short review, ask-review

#41522 KSM Core: Container resources metrics are now only emitted for scheduled pods
  pkg/collector/corechecks/cluster/ksm/customresources/pod.go
  releasenotes/notes/ksm-metrics-scheduled-0b476a8be2beecf9.yaml
Labels: component/cluster-agent, category/bugfix, bugfix/functional, qa/done, medium review, team/container-integrations

#41531 Adds missing runType to testConfig
  comp/syntheticstestscheduler/common/data.go
  comp/syntheticstestscheduler/common/result.go
  comp/syntheticstestscheduler/impl/syntheticstestscheduler_test.go
  comp/syntheticstestscheduler/impl/worker.go
Labels: changelog/no-changelog, qa/done, medium review

#41520 [CWS/CSPM] Bump security agent policies to v0.72.0
  release.json
Labels: changelog/no-changelog, team/agent-security, category/release_operations, qa/done, short review

#41518 [EBPF-828] gpu: support retries of NVML init in system-probe
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/nvidia/base_test.go
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/collector/corechecks/gpu/nvidia/collector_test.go
  pkg/collector/corechecks/gpu/nvidia/ebpf_test.go
  pkg/collector/corechecks/gpu/nvidia/helpers.go
  pkg/gpu/context.go
  pkg/gpu/context_test.go
  pkg/gpu/probe.go
  pkg/gpu/safenvml/cache.go
  pkg/gpu/safenvml/cache_test.go
  pkg/gpu/stats.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, long review, ask-review

#41540 Revert "Add coat metric about state of trace-agent"
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  comp/README.md
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/agenttelemetry/impl/config.go
  comp/trace-telemetry/def/component.go
  comp/trace-telemetry/fx/fx.go
  comp/trace-telemetry/impl/trace-telemetry.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-runtimes

#41524 [CONS-7687] Fix container filter for podman
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/reader.go
Labels: changelog/no-changelog, qa/done, short review, team/container-integrations

#41534 [EBPF] kmt: skip local test jobs on mergequeue
  .gitlab/source_test/kmt_tasks.yml
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review

#34085 [AGENTRUN-41] Trace-agent loader for socket-activation
  .github/CODEOWNERS
  Dockerfiles/agent/s6-services/trace/run
  cmd/agent/subcommands/secret/command.go
  cmd/loader/docs.go
  cmd/loader/main_nix.go
  cmd/loader/memory_darwin.go
  cmd/loader/memory_linux.go
  comp/otelcol/otlp/configcheck/configcheck.go
  go.mod
  omnibus/config/software/datadog-agent.rb
  omnibus/config/templates/init-scripts-agent/upstart_debian.trace.conf.erb
  omnibus/config/templates/init-scripts-agent/upstart_redhat.trace.conf.erb
  pkg/config/setup/apm.go
  pkg/config/setup/config.go
  pkg/diagnose/ports/ports.go
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-trace.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/gen/debrpm/datadog-agent-trace-exp.service
  pkg/fleet/installer/packages/embedded/templates/gen/debrpm/datadog-agent-trace.service
  pkg/fleet/installer/packages/embedded/templates/gen/oci/datadog-agent-trace-exp.service
  pkg/fleet/installer/packages/embedded/templates/gen/oci/datadog-agent-trace.service
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/loader/listeners.go
  pkg/trace/api/loader/loader.go
  pkg/trace/api/loader/loader_nix.go
  pkg/trace/api/otlp.go
  tasks/__init__.py
  tasks/build_tags.py
  tasks/loader.py
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/fixtures/config.yaml
  test/new-e2e/tests/agent-subcommands/flare/flare_common_test.go
  test/new-e2e/tests/agent-subcommands/status/status_nix_test.go
  test/new-e2e/tests/fips-compliance/fips_nix_test.go
Labels: changelog/no-changelog, team/agent-apm, long review, qa/rc-required, ask-review, team/agent-runtimes

#41547 Revert "Revert "Add coat metric about state of trace-agent""
  .github/CODEOWNERS
  cmd/agent/subcommands/run/command.go
  comp/README.md
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/agenttelemetry/impl/config.go
  comp/trace-telemetry/def/component.go
  comp/trace-telemetry/fx/fx.go
  comp/trace-telemetry/impl/trace-telemetry.go
Labels: changelog/no-changelog, qa/done, medium review, need-change/agenttelemetry-governance, team/agent-runtimes

#41438 use latest version of integrations-core
  release.json
Labels: team/agent-security, team/agent-metrics-logs, team/windows-kernel-integrations, team/agent-delivery

#41471 backport #40181
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/common/shared.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/notify/notify.yml
  .gitlab/trigger_release/trigger_release.yml
  release.json
  tasks/auth.py
  tasks/kmt.py
  tasks/libs/common/auth.py
  tasks/libs/common/github_api.py
  tasks/libs/common/gitlab.py
  tasks/libs/common/utils.py
  tasks/libs/pipeline_data.py
  tasks/linter_tasks.py
  tasks/pipeline.py
  tasks/release.py
  tasks/unit-tests/gitlab_api_tests.py
  tasks/unit-tests/notify_tests.py
  tools/ci/authanywhere.sh
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#41553 Fixes casing on test props to remove flakyness
  comp/syntheticstestscheduler/impl/syntheticstestscheduler_test.go
Labels: changelog/no-changelog, qa/done, short review

#41173 [CONTINT-4776] Emit k8s cloud provider tag
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/tagger/collectors/workloadmeta_main.go
  comp/core/tagger/tags/tags.go
  comp/dogstatsd/server/server_test.go
  comp/metadata/host/hostimpl/hosttags/tags.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/config/setup/constants/constants.go
  pkg/util/clusteragent/clusteragent.go
  pkg/util/kubernetes/cloudprovider/cloudprovider.go
  pkg/util/kubernetes/cloudprovider/cloudprovider_dca.go
  pkg/util/kubernetes/cloudprovider/cloudprovider_no.go
  pkg/util/kubernetes/cloudprovider/cloudprovider_test.go
  pkg/util/kubernetes/cloudprovider/doc.go
  pkg/util/kubernetes/hostinfo/no_node_labels.go
  pkg/util/kubernetes/hostinfo/node_labels.go
  pkg/util/tags/static_tags.go
  pkg/util/tags/static_tags_test.go
  releasenotes/notes/add-kube-cloud-provider-tag-d74b15705701b85e.yaml
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
Labels: qa/done, team/container-platform, long review

#41533 Fix is-dev-branch call
  .gitlab/e2e/e2e.yml
  tasks/new_e2e_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#41390 Revert "Mark TestScripts in installer/script as flaky (#41355)"
  flakes.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#41555 [EBPF] gpu: fix panic in stream handling
  pkg/gpu/consumer.go
  pkg/gpu/consumer_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review, backport/7.72.x

#41563 [NOJIRA][FUZZ] Add fuzz test pkg/gpu
  pkg/gpu/consumer_fuzz_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change, short review

#41545 Fixes issue using wrong lock type
  pkg/collector/corechecks/cluster/ksm/customresources/rollout_tracker.go
  pkg/collector/corechecks/cluster/ksm/customresources/rollout_tracker_test.go
  releasenotes/notes/fix-deployment-rollout-test-486d1901cec07432.yaml
Labels: qa/done, short review, team/container-integrations, backport/7.72.x

#41566 [EBPF] gpu: do not panic on unknown event types
  pkg/gpu/consumer.go
  pkg/gpu/consumer_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review

#41077 [CWS] Make DNS resolution failues an event
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/events/custom.go
  pkg/security/events/rate_limiter.go
  pkg/security/probe/custom_events.go
  pkg/security/probe/custom_events_easyjson.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_monitor.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/category.go
  pkg/security/secl/model/errors.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_unix.go
  pkg/security/seclwin/model/events.go
  pkg/security/seclwin/model/model.go
  pkg/security/tests/failed_dns_test.go
  tasks/security_agent.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/feature, qa/done, long review

#39892 Proof of concept of user customizable agent devcontainer setup.
  tasks/devcontainer.py
Labels: changelog/no-changelog, qa/no-code-change, team/container-platform, short review, team/agent-devx

#41582 [Serverless-Init] Improve Tags Performance
  comp/logs/agent/agentimpl/agent_serverless_init.go
  pkg/config/env/environment.go
  pkg/config/setup/config.go
  pkg/logs/pipeline/go.mod
  pkg/logs/pipeline/pipeline.go
  pkg/logs/processor/json_serverless.go
  pkg/logs/processor/json_serverless_init.go
  releasenotes/notes/serverless-init-cache-tags-to-string-1f3c0f0f5090c242.yaml
Labels: qa/done, medium review, team/agent-log-pipelines

#41583 [dyninst/irgen] Workaround DWARF containing repeated entries for the same variable
  pkg/dyninst/irgen/irgen.go
Labels: changelog/no-changelog, qa/done, short review, team/debugger

#41599 usm: http2: Fix time comparison for incomplete requests
  pkg/network/protocols/http2/incomplete_stats.go
  pkg/network/protocols/http2/incomplete_stats_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review, ask-review

#41558 [CWS] Build go syscall tester for the target arch
  tasks/security_agent.py
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#39774 USMON-1458: USM DirectConsumer
  pkg/config/setup/system_probe_usm.go
  pkg/network/config/usm_config.go
  pkg/network/config/usm_config_linux.go
  pkg/network/config/usm_config_test.go
  pkg/network/ebpf/c/protocols/direct_consumer.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/ebpf/c/protocols/http/usm-events.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/protocols/events/batch_consumer.go
  pkg/network/protocols/events/configuration.go
  pkg/network/protocols/events/consumer.go
  pkg/network/protocols/events/consumer_test.go
  pkg/network/protocols/events/direct_consumer.go
  pkg/network/protocols/events/test_helpers.go
  pkg/network/protocols/http/event_pipeline_test.go
  pkg/network/protocols/http/protocol.go
  pkg/network/protocols/http2/dynamic_table.go
  pkg/network/protocols/http2/protocol.go
  pkg/network/protocols/kafka/protocol.go
  pkg/network/protocols/modifier.go
  pkg/network/protocols/postgres/protocol.go
  pkg/network/protocols/redis/protocol.go
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/usm_http_monitor_test.go
  pkg/network/usm/utils/testutils.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, long review

#41608 Revert gitlab tokens user side
  tasks/libs/ciproviders/gitlab_api.py
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change, short review, backport/7.70.x, backport/7.71.x

#41618 Fix `origin/` prefix being (now) prepended twice
  tasks/quality_gates.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review, team/agent-build

#41613 Pin agent-release-management to the 7.71.x branch
  .gitlab-ci.yml
  .gitlab/trigger_release/agent.yml
  .gitlab/trigger_release/installer.yml
Labels: changelog/no-changelog, qa/done, short review, team/agent-devx

#41309 service discovery : Drop use of DD_INJECTION_ENABLED
  comp/core/workloadmeta/collectors/internal/process/process_service_collector_test.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/def/types_test.go
  comp/core/workloadmeta/proto/proto_test.go
  pkg/collector/corechecks/servicediscovery/apm/detect.go
  pkg/collector/corechecks/servicediscovery/apm/detect_nix_test.go
  pkg/collector/corechecks/servicediscovery/detector/service_detector.go
  pkg/collector/corechecks/servicediscovery/envs/envs.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_services_test.go
  pkg/process/checks/process_linux.go
  pkg/process/checks/process_linux_test.go
  pkg/process/procutil/process_model.go
  pkg/proto/datadog/workloadmeta/workloadmeta.proto
  pkg/proto/pbgo/core/workloadmeta.pb.go
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, ask-review, team/agent-discovery

#41616 Sync `static_quality_gates` job dependencies
  .gitlab/functional_test/static_quality_gate.yml
Labels: changelog/no-changelog, qa/no-code-change, medium review

#41365 [CONTP-728] feat(resourceTypeCache): Add cache refresh-on-miss strategy
  pkg/util/kubernetes/apiserver/resourcetypes.go
  pkg/util/kubernetes/apiserver/resourcetypes_test.go
Labels: changelog/no-changelog, team/container-app, qa/done, team/container-platform, long review

#41480 discovery: Add E2E test for privileged logs
  test/new-e2e/tests/discovery/linux_test.go
  test/new-e2e/tests/discovery/testdata/config/system_probe_config_privileged_logs.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review, team/agent-discovery

#41635 dyninst: fix plumbing of container ID to trace-agent
  pkg/dyninst/uploader/logs.go
  pkg/dyninst/uploader/uploader_test.go
Labels: changelog/no-changelog, qa/done, short review, team/debugger, backport/7.72.x

#41571 [dyninst/test] Fail integration test as soon as probe installation fails
  pkg/dyninst/integration_test.go
Labels: changelog/no-changelog, qa/done, short review, team/debugger

#40941 [chore] re-enable hostmetadata feature ddprofling
  comp/core/config/go.mod
  comp/core/configsync/go.mod
  comp/core/ipc/httphelpers/go.mod
  comp/core/ipc/impl/go.mod
  comp/core/ipc/mock/go.mod
  comp/core/log/fx/go.mod
  comp/core/log/impl-trace/go.mod
  comp/core/log/impl/go.mod
  comp/core/secrets/noop-impl/go.mod
  comp/core/status/statusimpl/go.mod
  comp/core/tagger/def/go.mod
  comp/core/tagger/fx-remote/go.mod
  comp/core/tagger/impl-remote/go.mod
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/logs/agent/config/go.mod
  comp/otelcol/collector-contrib/impl/components.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/converter/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/extension.go
  comp/otelcol/ddprofilingextension/impl/extension_test.go
  comp/otelcol/ddprofilingextension/impl/factory.go
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.mod
  comp/otelcol/otlp/testutil/go.mod
  comp/otelcol/status/impl/go.mod
  comp/serializer/logscompression/go.mod
  comp/serializer/metricscompression/go.mod
  go.mod
  pkg/logs/client/go.mod
  pkg/logs/diagnostic/go.mod
  pkg/logs/message/go.mod
  pkg/logs/pipeline/go.mod
  pkg/logs/processor/go.mod
  pkg/logs/sds/go.mod
  pkg/logs/sender/go.mod
  pkg/logs/sources/go.mod
  pkg/logs/util/testutils/go.mod
  pkg/metrics/go.mod
  pkg/network/driver/go.mod
  pkg/serializer/go.mod
  pkg/util/compression/go.mod
  release.json
  test/otel/go.mod
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, ask-review, team/opentelemetry-agent, team/agent-devx

#41632 [dynamic test] Fix evaluation of index that was very wrong
  tasks/dyntest.py
  tasks/libs/dynamic_test/indexers/e2e.py
  tasks/new_e2e_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#41648 Fix the interval run for test coming from RC.
  comp/syntheticstestscheduler/common/data.go
Labels: changelog/no-changelog, qa/done, short review

#41654 Increase timeouts for e2e-process tests on Fargate to 5 min
  test/new-e2e/tests/process/fargate_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/container-experiences

#41660 Fix logs agent verbose status output
  comp/logs/agent/agentimpl/status_templates/logsagent.tmpl
Labels: changelog/no-changelog, qa/done, short review, team/agent-log-pipelines

#41684 Add unit test for interval for PR #41648.
  comp/syntheticstestscheduler/common/data_test.go
Labels: changelog/no-changelog, qa/done, short review

#41539 fix(serverless-init): add nil channel check for service check and event flushing
  comp/dogstatsd/server/batch.go
  comp/dogstatsd/server/batch_test.go
Labels: changelog/no-changelog, team/serverless, qa/done, medium review

#41515 [CWS] Refactor handleEvent
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement, qa/done, long review

#41673 [BARX-1191] Run `dda inv tidy` as part of the `dda -- inv release.create-rc <something>` command
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#41675 Update System Probe Test Timeout
  test/new-e2e/tests/windows/remoteexecutable.go
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#41650 [DJM-968] DJM supports DD_NO_AGENT_INSTALL
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/dataproc.go
  pkg/fleet/installer/setup/djm/emr.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#41652 Revert "backport #40181"
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/test_gitlab_configuration.yml
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/common/shared.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/notify/notify.yml
  .gitlab/trigger_release/trigger_release.yml
  tasks/auth.py
  tasks/kmt.py
  tasks/libs/common/auth.py
  tasks/libs/common/github_api.py
  tasks/libs/common/gitlab.py
  tasks/libs/common/utils.py
  tasks/libs/pipeline_data.py
  tasks/linter_tasks.py
  tasks/pipeline.py
  tasks/release.py
  tasks/unit-tests/gitlab_api_tests.py
  tasks/unit-tests/notify_tests.py
  tools/ci/authanywhere.sh
Labels: changelog/no-changelog, qa/no-code-change

#41697 Skip SNMP autodiscovery E2E tests
  test/new-e2e/tests/ndm/snmp/autodiscovery_test.go
Labels: changelog/no-changelog, qa/done, short review, team/ndm-core

#41706 Fix coverage subcommand and make the baseline test slightly more complicated
  cmd/agent/subcommands/coverage/command.go
  cmd/cluster-agent/subcommands/coverage/command.go
  cmd/system-probe/subcommands/coverage/command.go
  test/new-e2e/tests/agent-devx/base_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/no-code-change, team/container-platform, medium review, ask-review, team/agent-configuration, team/agent-devx

#41714 SBOM: remove the now useless replace on `github.com/saracen/walker`
  go.mod
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#41728 fix(installer): Use right permissions for config files
  pkg/fleet/installer/config/config.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#41721 Update Traceroute library (#41715)
  go.mod
  go.sum
  test/new-e2e/tests/netpath/network-path-integration/fixtures/network_path_windows.yaml
Labels: changelog/no-changelog, qa/done, short review, team/windows-products, team/cloud-network-monitoring

#41637 [ACIX-1015] Migrate docs/dev/tools.md to public website
  docs/dev/tools.md
  docs/public/how-to/debug-agents/index.md
  docs/public/how-to/debug-agents/linux.md
  docs/public/how-to/debug-agents/windows.md
  mkdocs.yml
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#41730 [AGENTRUN] Fix RemoteAgentRegistry flakiness
  comp/core/remoteagentregistry/impl/registry_test.go
  comp/core/remoteagentregistry/impl/services_test.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#41653 Fetch CCRID for cases where k8s returns HostAliases
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost_test.go
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/cloudproviders_test.go
  pkg/util/cloudproviders/mock.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-runtimes, team/agent-configuration

#41741 fix(tests): Use the correct param name & deactivate kitchen+centos
  .gitlab/kitchen_testing/centos.yml
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/agent-platform/install/installparams/install_params.go
Labels: team/container-ecosystems, team/agent-devx-loops, team/agent-delivery

#41711 Fix `HasLogsSectionEnabled` and add tests for package
  .golangci.yml
  comp/otelcol/otlp/configcheck/configcheck.go
  comp/otelcol/otlp/configcheck/configcheck_test.go
  comp/otelcol/otlp/pipeline_validator_serverless.go
Labels: changelog/no-changelog, qa/done, medium review, ask-review, team/opentelemetry-agent

#41642 [CWS] Export UserSessionType and ID, and add SSH type
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/resolvers/usersessions/resolver_linux.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/usersession/user_session.go
  pkg/security/seclwin/model/model.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/tests/user_session_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/improvement, qa/done, long review

#41643 Fix / Debug move mount tests
  pkg/security/tests/move_mount_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#41734 [EBPF-842] fix(gpu): solve flaky test instability
  pkg/collector/corechecks/gpu/nvidia/device_events_test.go
Labels: changelog/no-changelog, qa/done, short review
