Repository DataDog/datadog-agent, pull requests merged in 2025-08, with the labels that each got.

#39388 CXP-2430 [agent] use new agent payload package version
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  go.mod
  go.sum
  pkg/logs/pipeline/go.mod
  pkg/logs/pipeline/go.sum
  pkg/logs/processor/go.mod
  pkg/logs/processor/go.sum
  pkg/process/util/api/go.mod
  pkg/process/util/api/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, qa/done, long review, team/container-experiences

#39437 [CWS] make sure the hash action post check is not crashing
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/secl/rules/model.go
  pkg/security/seclwin/model/model_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#38006 Add log discovery based on service information in WLM
  .github/CODEOWNERS
  .golangci.yml
  comp/core/autodiscovery/providers/names/provider_names.go
  comp/core/autodiscovery/providers/process_log.go
  comp/core/autodiscovery/providers/process_log_test.go
  comp/core/autodiscovery/providers/providers.go
  pkg/logs/schedulers/ad/scheduler.go
  pkg/logs/schedulers/ad/scheduler_test.go
Labels: changelog/no-changelog, qa/done, long review, ask-review, team/agent-discovery

#39285 [ACIX-974] Add datadog-ci bash utilities
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#39434 pkg/dyninst: Fix bug in how int16 and int32s are cast
  pkg/dyninst/decode/types.go
  pkg/dyninst/testdata/decoded/sample/testSingleInt16.json
  pkg/dyninst/testdata/decoded/sample/testSingleInt32.json
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, long review

#39445 [chore] Update factory_test.go in ddflareextension
  comp/otelcol/ddflareextension/impl/factory_test.go
Labels: changelog/no-changelog, qa/done, short review, team/opentelemetry-agent

#39438 [CWS] Check for nil pointers in `GetFileField`
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/seclwin/model/model_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, short review

#39022 [clusteragent/autoscaling] Make it possible to apply vertical recommendations to init sidecar containers as well as to regular containers
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
  pkg/clusteragent/autoscaling/workload/pod_patcher_test.go
  releasenotes/notes/autoscaling-recommendations-for-sidecar-containers-3c8802ef8a95373a.yaml
Labels: team/containers, qa/done, component/autoscaling, long review

#39457 windows: move `system-probe-unit-tests` linting to `lint-windows` job
  tasks/winbuildscripts/Invoke-Linters.ps1
  tasks/winbuildscripts/secagent.ps1
  tasks/winbuildscripts/sysprobe.ps1
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, medium review

#39422 discovery: add discovered_services metric to process collector
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review, team/agent-discovery

#39440 Fix likely race condition in `collector_test`
  pkg/trace/telemetry/collector_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review

#39489 [CWS] fix missing embed files when generating btfhub constants
  .github/workflows/cws-btfhub-sync.yml
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#39289 Also make `curl` retry in macOS install script (ABLD-18 follow-up)
  cmd/agent/install_mac_os.sh
Labels: changelog/no-changelog, team/container-ecosystems, qa/no-code-change, short review, ask-review, team/agent-build

#39484 [CWS] generate `{Get,Validate}FileField` from model
  pkg/security/generators/accessors/accessors.go
  pkg/security/generators/accessors/common/types.go
  pkg/security/generators/accessors/field_accessors.tmpl
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/seclwin/model/model_win.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review

#39487 Update codeowners for omnibus-related invoke tasks to agent-build
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, short review

#38578 [AGTMETRICS-243] Stream config updates to `RemoteAgents` in `RemoteAgentRegistry`
  LICENSE-3rdparty.csv
  comp/core/remoteagentregistry/impl/detail.go
  comp/core/remoteagentregistry/impl/remoteagentregistry.go
  comp/core/remoteagentregistry/impl/remoteagentregistry_test.go
  internal/remote-agent/main.go
  pkg/config/setup/config.go
  pkg/proto/datadog/api/v1/api.proto
  pkg/proto/datadog/remoteagent/remoteagent.proto
  pkg/proto/pbgo/core/api.pb.go
  pkg/proto/pbgo/core/remoteagent.pb.go
  pkg/proto/pbgo/mocks/core/api_mockgen.pb.go
Labels: changelog/no-changelog, qa/done, long review, team/agent-runtimes

#39338 [CAP-2696] Collect time zone for Cronjob in the orchestrator check
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_v1_test.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/cronjob_v1beta1_test.go
  releasenotes-dca/notes/add-tz-to-cronjob-17565a9ea5208484.yaml
Labels: team/container-app, qa/done, medium review

#38572 Add dbm-health event track
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  pkg/collector/check/stats/stats.go
  releasenotes/notes/add-dbm-health-event-handling-f8940d960e379636.yaml
Labels: qa/done, short review, team/agent-runtimes, team/agent-log-pipelines

#39500 [test-infra-definitions][automated] Bump test-infra-definitions to b3…
  .gitlab/common/test_infra_version.yml
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  go.mod
  go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#39504 [test-infra-definitions][automated] Bump test-infra-definitions to b3…
  .gitlab/common/test_infra_version.yml
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  go.mod
  go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#39493 [CWS] remove manual dda installation from `security_go_generate_check`
  .gitlab/source_test/go_generate_check.yml
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#39347 Remove 'WithConfigMissingOK' method
  cmd/agent/subcommands/integrations/command.go
  cmd/agent/subcommands/integrations/command_test.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/serverless-init/main.go
  cmd/system-probe/subcommands/config/command.go
  cmd/system-probe/subcommands/coverage/command.go
  cmd/system-probe/subcommands/debug/command.go
  cmd/system-probe/subcommands/modrestart/command.go
  cmd/system-probe/subcommands/run/command.go
  cmd/system-probe/subcommands/runtime/activity_dump.go
  cmd/system-probe/subcommands/runtime/command.go
  cmd/system-probe/subcommands/runtime/security_profile.go
  comp/core/config/config.go
  comp/core/config/params.go
  comp/core/config/params_test.go
  comp/core/config/setup.go
  comp/process/bundle_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, team/agent-configuration

#39508 Bump build images to v72499966-f7e12097
  .gitlab-ci.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#39510 [CWS] fix missing embed files when combining btfhub constants
  .github/workflows/cws-btfhub-sync.yml
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#39168 CAP-2711 Add arn tags to ecs task
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_test.go
  comp/core/tagger/tags/tags.go
  comp/core/workloadmeta/collectors/util/ecs_util.go
  comp/core/workloadmeta/collectors/util/ecs_util_test.go
  comp/core/workloadmeta/def/types.go
  releasenotes/notes/add-arn-tag-to-ecs-0f2408b39decc01e.yaml
  test/new-e2e/tests/containers/ecs_test.go
Labels: qa/done, team/container-platform, medium review

#39452 dynisnt: run some tests in merge queue to prevent skew
  .gitlab/source_test/ebpf.yml
  pkg/dyninst/end_to_end_test.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/irgen/irgen_all_symbols_test.go
Labels: changelog/no-changelog, qa/done, medium review, ask-review

#39498 fix test TestFlushManifest
  pkg/collector/corechecks/cluster/orchestrator/manifest_buffer_test.go
Labels: changelog/no-changelog, team/container-app, qa/done, short review

#39463 dyninst/irgen,symdb: test all the test programs
  pkg/dyninst/dyninsttest/util.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/irgen/main_test.go
  pkg/dyninst/irgen/snapshot_test.go
  pkg/dyninst/irgen/testdata/snapshot/busyloop.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/busyloop.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/rc_tester.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/rc_tester.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/rc_tester_v1.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/rc_tester_v1.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/symdb/symdb_test.go
  pkg/dyninst/symdb/testdata/snapshot/busyloop.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/busyloop.arch=arm64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/rc_tester.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/rc_tester.arch=arm64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/rc_tester_v1.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/rc_tester_v1.arch=arm64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/simple.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/simple.arch=arm64,toolchain=go1.24.3.out
Labels: changelog/no-changelog, qa/done, long review

#39477 retry msi error 1719
  pkg/fleet/installer/msi/msiexec.go
  pkg/fleet/installer/msi/msiexec_test.go
  releasenotes/notes/windows-remote-update-retry-1719-8d74b38c23cf5336.yaml
Labels: qa/done, medium review, ask-review

#36943 [SINT-3271] Sign Testing Linux Repositories with a Test Key
  .gitlab-ci.yml
  .gitlab/.ci-linters.yml
  .gitlab/e2e_testing_deploy/e2e_deploy.yml
  .gitlab/install_script_testing/install_script_testing.yml
  test/new-e2e/tests/agent-platform/ddot/ddot_install_test.go
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
  test/new-e2e/tests/agent-platform/install/install.go
  test/new-e2e/tests/agent-platform/install/installparams/install_params.go
  test/new-e2e/tests/agent-platform/persisting-integrations/persisting_integrations_test.go
  test/new-e2e/tests/agent-platform/step-by-step/step_by_step_test.go
  test/new-e2e/tests/installer/script/default_script_test.go
  test/new-e2e/tests/installer/unix/all_packages_test.go
  test/new-e2e/tests/installer/unix/package_definitions.go
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#39342 Restrict environment variables used for omnibus build
  omnibus/config/software/dbus.rb
  tasks/libs/common/omnibus.py
  tasks/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, long review

#39505 Update libsqlite3 to 3.50.4
  omnibus/config/software/libsqlite3.rb
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-build

#39538 [SINT-3833] dd-octo-sts: syntax correction
  .github/chainguard/self.add-milestone.modify-pr.sts.yaml
  .github/chainguard/self.buildimages-update.create-pr.sts.yaml
  .github/chainguard/self.code-review-complexity.modify-pr.sts.yaml
  .github/chainguard/self.collector-generate-and-update.create-pr.sts.yaml
  .github/chainguard/self.create-rc-pr.create-pr.sts.yaml
  .github/chainguard/self.cws-btfhub-sync.create-pr.sts.yaml
  .github/chainguard/self.external-contributor.modify-pr.sts.yaml
  .github/chainguard/self.go-update-commenter.modify-pr.sts.yaml
  .github/chainguard/self.label-analysis.modify-pr.sts.yaml
  .github/chainguard/self.labeler.modify-pr.sts.yaml
  .github/chainguard/self.serverless-benchmarks.modify-pr.sts.yaml
  .github/chainguard/self.serverless-binary-size.modify-pr.sts.yaml
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx, team/agent-build

#39518 Compile secret backend command in a temp build directory
  comp/core/secrets/secretsimpl/fetch_secret_test.go
  comp/core/secrets/secretsimpl/test/src/test_command/main.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-configuration

#39539 Don't explicitly download dependencies before Agent builds on windows
  tasks/winbuildscripts/common.ps1
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review, team/windows-products

#39557 dyninst/rcscrape: remove debug log line
  pkg/dyninst/rcscrape/scraper.go
Labels: changelog/no-changelog, qa/done, short review

#39354 feat: add new service discovery payload data
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_test.go
  comp/core/workloadmeta/collectors/internal/processlanguage/process_collector.go
  comp/process/processcheck/processcheckimpl/check_test.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  pkg/process/checks/process.go
  pkg/process/checks/process_fallback.go
  pkg/process/checks/process_fallback_test.go
  pkg/process/checks/process_linux.go
  pkg/process/checks/process_linux_test.go
  pkg/process/procutil/process_model.go
Labels: changelog/no-changelog, qa/done, long review, team/container-experiences

#39399 Revert "Disable temporarily stack cleaner" + add runtimes tests
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#39309 Fix Windows Fleet golden image
  .gitlab/e2e/e2e.yml
  pkg/fleet/installer/packages/datadog_agent_windows.go
  pkg/fleet/installer/packages/service/windows/system_api.go
  pkg/fleet/installer/packages/user/windows/user.go
  releasenotes/notes/fleet-golden-image-8da622540d6495bc.yaml
  test/new-e2e/tests/installer/windows/base_suite.go
  test/new-e2e/tests/installer/windows/suites/agent-package/domain_test.go
  test/new-e2e/tests/installer/windows/suites/agent-package/upgrade_test.go
  test/new-e2e/tests/windows/common/hostinfo.go
Labels: team/windows-agent, qa/done, long review, ask-review

#39548 Add 'infrastructure_mode' setting to the Agent
  comp/metadata/inventoryagent/README.md
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-configuration

#39601 Revert "Make agent-build team owners of various bazel config files"
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, short review

#39573 Rename all the main Linux build images to the new naming scheme
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/ci_configuration.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/binary_build/fakeintake.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/otel_agent.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/check_merge/do_not_merge.yml
  .gitlab/common/skip_ci_check.yml
  .gitlab/deps_build/deps_build.yml
  .gitlab/deps_fetch/deps_fetch.yml
  .gitlab/e2e/e2e.yml
  .gitlab/functional_test/oracle.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/integration_test/linux.yml
  .gitlab/integration_test/otel.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/kernel_matrix_testing/common.yml
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
  .gitlab/lint/technical_linters.yml
  .gitlab/notify/notify.yml
  .gitlab/package_build/heroku.yml
  .gitlab/package_build/installer.yml
  .gitlab/package_build/linux.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/oci.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/scan/windows.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/notify.yml
  .gitlab/source_test/slack.yml
  .gitlab/source_test/tooling_unit_tests.yml
  .gitlab/trigger_release/agent.yml
  .gitlab/trigger_release/installer.yml
  tasks/kernel_matrix_testing/compiler.py
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#39028 New bookmark system with initial bookmark seeding
  comp/checks/windowseventlog/windowseventlogimpl/check/check_test.go
  comp/checks/windowseventlog/windowseventlogimpl/check/subscription.go
  comp/logs/auditor/def/types.go
  comp/logs/auditor/impl-none/auditor_noop.go
  comp/logs/auditor/impl/auditor.go
  comp/logs/auditor/mock/auditor_mock.go
  pkg/logs/tailers/windowsevent/tailer.go
  pkg/logs/tailers/windowsevent/tailer_test.go
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/bookmark/bookmark.go
  releasenotes/notes/windows-event-log-bookmark-fix-d8ae5cfd846ab0e2.yaml
Labels: team/windows-agent, qa/done, long review

#39594 [CSPM] remove unused `NewContainerFilter` filter function
  pkg/compliance/utils/filters.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#39585 [SBOM] exclude `/var/lib/kubelet/pods/**` when languages scanners are running
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#39459 [NDMII-3574] Update NDM autodiscovery Digest
  comp/core/autodiscovery/listeners/snmp.go
  comp/core/autodiscovery/listeners/snmp_test.go
  pkg/collector/corechecks/snmp/internal/discovery/discovery.go
  pkg/collector/corechecks/snmp/status/status.go
  pkg/collector/corechecks/snmp/status/status_test.go
  pkg/persistentcache/persistentcache.go
  pkg/persistentcache/persistentcache_test.go
  pkg/snmp/snmp.go
  pkg/snmp/snmp_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/ndm-core

#39592 [CWS] Fix linking / unlinking order of workload events in security profiles manager
  pkg/security/security_profile/manager.go
  pkg/security/security_profile/secprofs.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#38593 [EBPF] Split GPU core-check and GPU Probe
  pkg/collector/corechecks/gpu/config.go
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/nvidia/clocks.go
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/collector/corechecks/gpu/nvidia/collector_test.go
  pkg/collector/corechecks/gpu/nvidia/device.go
  pkg/collector/corechecks/gpu/nvidia/ebpf.go
  pkg/collector/corechecks/gpu/nvidia/ebpf_test.go
  pkg/collector/corechecks/gpu/nvidia/fields.go
  pkg/collector/corechecks/gpu/nvidia/gpm.go
  pkg/collector/corechecks/gpu/nvidia/gpm_test.go
  pkg/collector/corechecks/gpu/nvidia/nvlink.go
  pkg/collector/corechecks/gpu/nvidia/nvlink_test.go
  pkg/collector/corechecks/gpu/nvidia/process.go
  pkg/collector/corechecks/gpu/nvidia/process_test.go
  pkg/collector/corechecks/gpu/nvidia/remappedrows.go
  pkg/collector/corechecks/gpu/nvidia/samples.go
  pkg/config/env/environment_containers.go
  pkg/config/setup/config.go
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/databricks_test.go
  pkg/gpu/containers/containers.go
  pkg/gpu/containers/containers_test.go
  pkg/gpu/safenvml/errors.go
  pkg/gpu/safenvml/lib.go
  releasenotes/notes/change-gpum-config-flags-ec1865c47eec319f.yaml
  test/new-e2e/tests/gpu/gpu_test.go
  test/new-e2e/tests/gpu/provisioner.go
  test/new-e2e/tests/gpu/testdata/config/agent_config.yaml
  test/new-e2e/tests/gpu/testdata/config/system_probe_config.yaml
Labels: need-change/operator, need-change/helm-chart, team/ebpf-platform, qa/done, long review, ask-review

#39612 dyninst/object: import correct logging library
  pkg/dyninst/object/disk_cache.go
Labels: changelog/no-changelog, qa/done, short review

#39600 CXP-2500 [agent] add process collection interval config support + test refactor
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review, team/container-experiences

#38809 [SBOM] Allow setting additional folders to scan
  pkg/config/setup/config.go
  pkg/sbom/sbom.go
  pkg/sbom/types/types.go
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#39618 Redirect agent-e2e-framework-help to agent-devx-reviews
  tasks/libs/pipeline/github_slack_review_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#39541 CAP-2788 fix `labels as tags` and `annotations as tags` for pod collection
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/crd.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/horizontalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/limitrange.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/networkpolicy.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_terminated.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_unassigned.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/poddisruptionbudget.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/storageclass.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/types.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/util/tags.go
  pkg/collector/corechecks/cluster/orchestrator/util/tags_test.go
  pkg/collector/corechecks/cluster/orchestrator/util/types.go
  pkg/collector/corechecks/cluster/orchestrator/util/types_test.go
  pkg/collector/corechecks/orchestrator/pod/pod.go
  pkg/collector/corechecks/orchestrator/pod/pod_test.go
Labels: changelog/no-changelog, qa/done, long review

#39503 [EBPF-773] uprobes: fix attachment when multiple rules match a target
  pkg/ebpf/uprobes/attacher.go
  pkg/ebpf/uprobes/attacher_test.go
  pkg/ebpf/uprobes/inspector.go
  pkg/ebpf/uprobes/inspector_test.go
  pkg/ebpf/uprobes/testutil.go
  pkg/network/go/bininspect/symbols.go
  pkg/network/usm/ebpf_gotls_helpers.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, medium review, ask-review

#39586 [EBPF] gpu: add telemetry counter for missing device-container mappings
  pkg/collector/corechecks/gpu/gpu.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review

#39593 allow building system probe in hacky_dev_image_build
  tasks/agent.py
Labels: changelog/no-changelog, qa/done, medium review, team/agent-runtimes

#39605 Update Data Streams messages log format
  pkg/datastreams/live_messages.go
  pkg/datastreams/live_messages_test.go
  releasenotes/notes/kafka-messages-log-format-7bea9792c59b294d.yaml
Labels: short review, qa/rc-required

#39559 CAP-2756 Add container_instance_arn host tag
  pkg/util/ec2/tags/container_instance_arn.go
  pkg/util/ec2/tags/container_instance_arn_nodocker.go
  pkg/util/ec2/tags/ec2_tags.go
  pkg/util/ec2/tags/ec2_tags_test.go
  releasenotes/notes/add-container-instance-arn-tag-f6273f443db06ff5.yaml
Labels: qa/done, medium review, team/agent-runtimes

#38801 [EBPF] gpu: disable autodiscovery provider for the GPU check
  .gitlab-ci.yml
  .golangci.yml
  Dockerfiles/agent/cont-init.d/60-sysprobe-check.sh
  cmd/agent/dist/conf.d/gpu.d/conf.yaml.default
  cmd/agent/dist/conf.d/gpu.d/conf.yaml.example
  comp/core/autodiscovery/listeners/staticconfig.go
  comp/core/autodiscovery/providers/gpu.go
  comp/core/autodiscovery/providers/gpu_nop.go
  comp/core/autodiscovery/providers/gpu_test.go
  comp/core/autodiscovery/providers/providers.go
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review, ask-review

#39625 [GPUM]: changed Metric.Priority to be of an enum type
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/collector/corechecks/gpu/nvidia/collector_test.go
  pkg/collector/corechecks/gpu/nvidia/ebpf.go
  pkg/collector/corechecks/gpu/nvidia/gpm.go
  pkg/collector/corechecks/gpu/nvidia/process.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#39453 [FA] Add copy and remove_all instructions
  pkg/fleet/daemon/daemon.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/installer_test.go
  pkg/fleet/installer/repository/repository.go
  pkg/fleet/installer/repository/repository_nix.go
  pkg/fleet/installer/repository/repository_test.go
  pkg/fleet/installer/repository/repository_win.go
  test/new-e2e/tests/installer/unix/upgrade_scenario_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/windows-products

#39474 Fetch Host CCRID for Azure, add to v5 Metadata Payload
  comp/metadata/host/hostimpl/utils/meta.go
  comp/metadata/inventoryhost/README.md
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost.go
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost_test.go
  pkg/config/setup/config.go
  pkg/util/cloudproviders/azure/azure.go
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/cloudproviders_test.go
Labels: changelog/no-changelog, qa/done, long review, team/agent-configuration

#39476 [pkg/clusteragent/autoscaling/workload] Fix unit test timestamp to prevent timezone mismatch
  pkg/clusteragent/autoscaling/workload/dump_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_string.go
Labels: changelog/no-changelog, qa/done, component/autoscaling, medium review

#39525 dyninst/symdb: fix handling of types in packages with dots
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/symdb/func_name.go
  pkg/dyninst/symdb/symdb.go
  pkg/dyninst/symdb/testdata/snapshot/sample.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/sample.arch=arm64,toolchain=go1.24.3.out
  pkg/dyninst/testdata/decoded/sample/testArrayOfMaps.json
  pkg/dyninst/testdata/decoded/sample/testError.json
  pkg/dyninst/testdata/decoded/sample/testEsotericHeap.json
  pkg/dyninst/testdata/decoded/sample/testEsotericStack.json
  pkg/dyninst/testdata/decoded/sample/testInterface.json
  pkg/dyninst/testdata/decoded/sample/testMapArrayToArray.json
  pkg/dyninst/testdata/decoded/sample/testMapEmbeddedMaps.json
  pkg/dyninst/testdata/decoded/sample/testMapIntToInt.json
  pkg/dyninst/testdata/decoded/sample/testMapLargeKeyLargeValue.json
  pkg/dyninst/testdata/decoded/sample/testMapLargeKeySmallValue.json
  pkg/dyninst/testdata/decoded/sample/testMapMassive.json
  pkg/dyninst/testdata/decoded/sample/testMapSmallKeyLargeValue.json
  pkg/dyninst/testdata/decoded/sample/testMapSmallKeySmallValue.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToInt.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToSlice.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToStruct.json
  pkg/dyninst/testdata/decoded/sample/testMapWithLinkedList.json
  pkg/dyninst/testdata/decoded/sample/testMapWithSmallKeyAndValue.json
  pkg/dyninst/testdata/decoded/sample/testMapWithSmallKeyAndValueMassive.json
  pkg/dyninst/testdata/decoded/sample/testMapWithSmallValue.json
  pkg/dyninst/testdata/decoded/sample/testMapWithSmallValueMassive.json
  pkg/dyninst/testdata/decoded/sample/testPointerToMap.json
  pkg/dyninst/testdata/decoded/sample/testSmallMap.json
  pkg/dyninst/testdata/decoded/sample/testStructWithMap.json
  pkg/dyninst/testprogs/progs/sample/lib.v2/lib.go
  pkg/dyninst/testprogs/progs/sample/main.go
Labels: changelog/no-changelog, qa/done, long review, team/debugger

#39627 [GPUM]: reverted gpu to container mapping logic
  pkg/collector/corechecks/gpu/gpu.go
  pkg/gpu/containers/containers.go
  pkg/gpu/containers/containers_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#39624 workloadmeta: add support for container owner in protobuf (and remote collector)
  comp/core/workloadmeta/proto/proto.go
  comp/core/workloadmeta/proto/proto_test.go
  pkg/proto/datadog/workloadmeta/workloadmeta.proto
  pkg/proto/pbgo/core/workloadmeta.pb.go
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review

#39613 Use multi-arch Linux build images
  .gitlab-ci.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/.pre/ci_configuration.yml
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cluster_agent_cloudfoundry.yml
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/binary_build/fakeintake.yml
  .gitlab/binary_build/linux.yml
  .gitlab/binary_build/otel_agent.yml
  .gitlab/binary_build/serverless.yml
  .gitlab/binary_build/system_probe.yml
  .gitlab/check_merge/do_not_merge.yml
  .gitlab/common/skip_ci_check.yml
  .gitlab/deps_build/deps_build.yml
  .gitlab/deps_fetch/deps_fetch.yml
  .gitlab/e2e/e2e.yml
  .gitlab/functional_test/oracle.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/integration_test/linux.yml
  .gitlab/integration_test/otel.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
  .gitlab/kernel_matrix_testing/common.yml
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
  .gitlab/lint/technical_linters.yml
  .gitlab/notify/notify.yml
  .gitlab/package_build/heroku.yml
  .gitlab/package_build/installer.yml
  .gitlab/package_build/linux.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/oci.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/scan/windows.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/go_generate_check.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/notify.yml
  .gitlab/source_test/slack.yml
  .gitlab/source_test/tooling_unit_tests.yml
  .gitlab/trigger_release/agent.yml
  .gitlab/trigger_release/installer.yml
  tasks/kernel_matrix_testing/compiler.py
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#39565 Cleanup datadog-installer tmp directory with GarbageCollector and Purge
  pkg/fleet/installer/bootstrap/bootstrap_windows.go
  pkg/fleet/installer/bootstrap/bootstrap_windows_test.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/installer_test.go
  pkg/fleet/installer/paths/installer_paths_windows.go
  releasenotes/notes/adding-tmp-cleanup-to-fleet-for-Windows-7d1f202eb14a8313.yaml
Labels: qa/done, medium review, ask-review, team/windows-products

#39638 Fix stabilization window implementation
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_horizontal.go
  pkg/clusteragent/autoscaling/workload/controller_horizontal_test.go
  pkg/clusteragent/autoscaling/workload/dump_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_string.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_test_utils.go
Labels: kind/bug, changelog/no-changelog, category/bugfix, bugfix/functional, qa/done, component/autoscaling, long review, team/container-integrations

#39361 Use the same version of `dda` as builds across CI
  .github/actions/install-dda/action.yml
  .github/workflows/assign_issue.yml
  .gitlab/.pre/ci_configuration.yml
  .gitlab/benchmarks/benchmarks.yml
  .gitlab/common/macos.yml
  .gitlab/fuzz/infra.yaml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/notify/notify.yml
  .gitlab/packaging/oci.yml
  .gitlab/post_rc_build/post_rc_tasks.yml
  .gitlab/setup/setup.yml
  .gitlab/source_test/notify.yml
  .gitlab/source_test/tooling_unit_tests.yml
  .gitlab/trigger_release/agent.yml
  tasks/winbuildscripts/secagent.ps1
  tasks/winbuildscripts/sysprobe.ps1
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#39617 Update release.json with current_milestone to 7.71.0
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#39245 [CONTP-898] Use cluster tagger in KSM check to tag metrics with namespace labels and annotations as tags
  .gitlab/common/test_infra_version.yml
  cmd/cluster-agent/subcommands/start/command.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators_test.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  pkg/collector/corechecks/cluster/ksm/stub.go
  pkg/commonchecks/corechecks.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/containers/k8s_test.go
Labels: changelog/no-changelog, team/container-platform, long review, qa/rc-required, team/container-integrations

#39552 [SINT-3833] adjust dd-octo-sts settings
  .github/CODEOWNERS
  .github/chainguard/self.add-milestone.modify-pr.sts.yaml
  .github/chainguard/self.code-review-complexity.modify-pr.sts.yaml
  .github/chainguard/self.external-contributor.modify-pr.sts.yaml
  .github/chainguard/self.go-update-commenter.modify-pr.sts.yaml
  .github/chainguard/self.label-analysis.modify-pr.sts.yaml
  .github/chainguard/self.labeler.modify-pr.sts.yaml
  .github/chainguard/self.serverless-benchmarks.modify-pr.sts.yaml
  .github/chainguard/self.serverless-binary-size.modify-pr.sts.yaml
  .github/workflows/add_milestone.yml
  .github/workflows/external-contributor.yml
  .github/workflows/go-update-commenter.yml
  .github/workflows/serverless-binary-size.yml
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-devx

#39563 [CIEXE-1103]Make vault read generalizable for omnibus tests
  tasks/libs/common/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Labels: changelog/no-changelog, qa/no-code-change, long review, team/agent-build

#39658 Enable GCE CCRID detection
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/gce/gce.go
  pkg/util/cloudproviders/gce/gce_test.go
Labels: changelog/no-changelog, short review, qa/rc-required, team/agent-configuration, backport/7.70.x

#39357 [NDINT-290] Separate out Analytics parsers
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/parser.go
  pkg/collector/corechecks/network-devices/versa/client/parser_test.go
Labels: changelog/no-changelog, qa/done, long review, team/ndm-integrations

#39363 [CWS] Fix Flaky IOUring Connect Test
  pkg/security/tests/connect_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#39189 Don't run clone job if the upload was already made within ddci
  .gitlab/.pre/clone.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#39645 dyninst: implement hmap support
  pkg/dyninst/compiler/generate.go
  pkg/dyninst/compiler/instructions.go
  pkg/dyninst/compiler/ops.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/ebpf/stack_machine.h
Labels: changelog/no-changelog, qa/done, medium review

#39604 Make agent-build codeowners of most Bazel configuration.
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, medium review, qa/skip-qa

#39549 [NDINT-290] Add QoS, DIA, and Site Metrics
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/fixtures/payloads.go
  pkg/collector/corechecks/network-devices/versa/client/parser.go
  pkg/collector/corechecks/network-devices/versa/client/parser_test.go
  pkg/collector/corechecks/network-devices/versa/client/request.go
  pkg/collector/corechecks/network-devices/versa/client/request_test.go
  pkg/collector/corechecks/network-devices/versa/client/test_utils.go
  pkg/collector/corechecks/network-devices/versa/client/types.go
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/report/sender_test.go
  pkg/collector/corechecks/network-devices/versa/versa.go
Labels: changelog/no-changelog, qa/done, long review

#39679 Cleanup the unix socket the ethtool handler opens
  pkg/collector/corechecks/net/networkv2/network.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-runtimes

#39522 [OTAGENT-486] Support for DDOT receiving remote config changes.
  cmd/otel-agent/subcommands/run/command.go
  pkg/fleet/daemon/remote_config.go
  pkg/fleet/installer/installer.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done, long review

#39622 Use resolved `git` hashes in Omnibus environment
  tasks/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-build

#39671 use systemtemp in new download method
  pkg/fleet/installer/bootstrap/bootstrap_windows.go
Labels: changelog/no-changelog, qa/done, short review, ask-review

#39535 Remove usage of the old deb_* images to use the unified linux one
  .gitlab-ci.yml
  .gitlab/binary_build/linux.yml
  .gitlab/deps_fetch/deps_fetch.yml
  .gitlab/e2e/e2e.yml
  .gitlab/fuzz/infra.yaml
  .gitlab/lint/linux.yml
  .gitlab/source_test/linux.yml
  .gitlab/source_test/protobuf.yml
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#39692 [SBOM] add more debug logs around overlayfs scanning
  pkg/util/trivy/overlayfs.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#39666 AGTMETRICS-344 Update jmxfetch snapshot url
  omnibus/config/software/jmxfetch.rb
Labels: changelog/no-changelog, qa/no-code-change, short review

#39711 Revert "[AGNTLOG-243] Add Filtering to MRF Feature"
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  pkg/config/setup/multi_region_failover.go
  pkg/logs/message/message.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/processor_only_provider.go
  pkg/logs/processor/go.mod
  pkg/logs/processor/processor.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
  pkg/logs/sender/worker.go
  pkg/logs/sender/worker_test.go
  releasenotes/notes/add-filtering-for-mrf-destinations-bfe83ab30271d5a3.yaml
Labels: qa/done, medium review, team/agent-log-pipelines, backport/7.70.x

#39688 [CONS-7514] Upgrade `kube-state-metrics`
  go.mod
  go.sum
  releasenotes-dca/notes/cronjob-timezone-b38a4f6e4a92490c.yaml
Labels: team/containers, qa/done, short review

#39608 [CNM-4626] Add ICMP Mode to dynamic paths
  comp/networkpath/npcollector/npcollectorimpl/config.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  pkg/config/setup/config.go
  pkg/networkpath/payload/go.mod
  pkg/networkpath/payload/go.sum
  pkg/networkpath/payload/pathevent.go
  pkg/networkpath/payload/payload_test.go
Labels: changelog/no-changelog, team/networks, qa/done, medium review

#39701 [CWS] fix SECL error types
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/policy_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review, backport/7.70.x

#39754 [ABLD-130] Update `MODULE.bazel.lock`
  MODULE.bazel.lock
Labels: changelog/no-changelog, qa/no-code-change, ask-review

#39582 [EBPF-769] gpu: mark vectoradd test flaky on specific log
  .gitlab-ci.yml
  test/new-e2e/tests/gpu/gpu_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review

#39702 [GPUM]: info logs for check's collectors
  pkg/collector/corechecks/gpu/nvidia/collector.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review

#39717 checks: use decimals for delay time reporting
  pkg/collector/check/stats/stats.go
  pkg/collector/check/stats/util.go
  pkg/collector/check/stats/util_test.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-runtimes

#39704 [EBPF] gpu: add telemetry for collector execution time
  pkg/collector/corechecks/gpu/gpu.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review

#39727 [Backport 7.70.x] [CONS-7514] Upgrade `kube-state-metrics` (#39688)
  go.mod
  go.sum
  releasenotes-dca/notes/cronjob-timezone-b38a4f6e4a92490c.yaml
Labels: team/containers, qa/done, short review

#39560 dyninst/symdb: don't ignore packages that only have types
  pkg/dyninst/symdb/symdb.go
  pkg/dyninst/symdb/testdata/snapshot/sample.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/sample.arch=arm64,toolchain=go1.24.3.out
Labels: changelog/no-changelog, qa/done, short review, team/debugger

#39705 [EBPF] gpu: use common timestamp for reporting metrics
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, backport/7.70.x

#39770 [CWS] Rename test.Run to test.RunMultiMode
  pkg/security/tests/bind_test.go
  pkg/security/tests/chown_test.go
  pkg/security/tests/file_windows_test.go
  pkg/security/tests/fim_test.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
  pkg/security/tests/process_windows_test.go
  pkg/security/tests/ptrace_test.go
  pkg/security/tests/registry_windows_test.go
  pkg/security/tests/signal_test.go
  pkg/security/tests/span_test.go
  pkg/security/tests/user_session_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review

#39611 tee output for debugging
  .gitlab/scan/windows.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#39767 [CWS] fix ebpfless tests
  pkg/security/probe/file_hasher.go
  pkg/security/tests/main_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#39780 Override system `awscli` dependency in the macOS runners
  .gitlab/common/macos.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#38415 CONTINT-4704: skip resource cache checks on node agent
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes/notes/fix-remove-label-cache-check-node-agent-7c44d45636a7757e.yaml
Labels: qa/done, medium review, team/container-integrations

#39791 Fix PATH propagation on macOS jobs
  .gitlab/common/macos.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#39782 [backport 7.70.x][CWS] fix hash resolver on ebpfless platform
  pkg/security/probe/file_hasher.go
Labels: changelog/no-changelog, team/agent-security, qa/done, backport, short review

#39775 Allow rc_kubernetes_deploy job to fail
  .gitlab/internal_kubernetes_deploy/rc_kubernetes_deploy.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#39772 Remove the `agent_integration_tests` GitLab job as it doesn’t run any useful test anymore
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/integration_test/linux.yml
  tasks/cluster_agent.py
  tasks/gointegrationtest.py
  test/integration/util/leaderelection/leaderelection_test.go
  test/integration/util/leaderelection/testdata/apiserver-compose.yaml
  test/integration/util/leaderelection/testdata/kubeconfig.json
  test/integration/utils/certificates.go
  test/integration/utils/certificates_test.go
  test/integration/utils/compose.go
Labels: team/containers, changelog/no-changelog, qa/no-code-change, long review, ask-review

#39751 Passed FORCED_PACKAGE_COMPRESSION_LEVEL environment variable through to omnibus builds
  tasks/libs/common/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, short review, backport/7.70.x

#39802 [CWS] remove now unneeded `fmt.Printf` in `TestConnect*`
  pkg/security/tests/connect_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, short review

#39796 Install the binary distributions of dda on macOS runners (#39719)
  .gitlab/common/macos.yml
  .gitlab/package_build/dmg.yml
  .gitlab/source_test/macos.yml
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#39655 chore(fleet): Add SBOM products to installer install script
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/defaultscript/default_script.go
  test/new-e2e/tests/installer/script/default_script_test.go
Labels: changelog/no-changelog, qa/done, short review, team/windows-products

#39806 [cmd/cluster-agent/start] Don't register system checks
  cmd/cluster-agent/subcommands/start/command.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#39700 fix(fleet): Categorize installer download errors properly
  pkg/fleet/installer/bootstrap/bootstrap.go
  pkg/fleet/installer/bootstrap/bootstrap_nix.go
  pkg/fleet/installer/bootstrap/bootstrap_windows.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#39466 [AGENTCFG-87] Panic-ing if multiple transformers are set for an envvar
  pkg/collector/python/test_datadog_agent.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/viperconfig/viper.go
  pkg/config/viperconfig/viper_test.go
Labels: changelog/no-changelog, qa/done, long review, team/agent-configuration

#39793 Properly adjust ownership of Go build artifacts
  tasks/libs/common/go.py
  tasks/unit_tests/libs/common/go_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#39729 Fix failing `Codecov` uploads on macOS
  tasks/coverage.py
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review, team/agent-devx

#39809 [CWS] fix CGroupManager deprecation and sync proto generation
  pkg/security/proto/api/api.pb.go
  pkg/security/proto/api/api.proto
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#39815 Update agent payload to v5.0.162
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  go.mod
  go.sum
  pkg/logs/pipeline/go.mod
  pkg/logs/pipeline/go.sum
  pkg/logs/processor/go.mod
  pkg/logs/processor/go.sum
  pkg/process/util/api/go.mod
  pkg/process/util/api/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, qa/done

#39733 Add Thumbprint and Serial Number tags to the Windows Certificate Store Integration
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_test.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_util.go
  pkg/util/winutil/wincrypt.go
  releasenotes/notes/windows-certificate-thumbprint-and-serial-number-tags-5aa1e4848896aac5.yaml
Labels: qa/done, medium review, ask-review, team/windows-products, backport/7.70.x

#39827 Add --development --no-development option to agent hacky_dev_image_build.
  tasks/agent.py
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-runtimes

#39828 Changelog update for 7.69.0 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/main, team/agent-delivery, medium review

#39840 Add `LD_PRELOAD` to list of pass-through variables
  tasks/libs/common/omnibus.py
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-build, backport/7.70.x

#39657 [ksm] Migrate from Kubelet pod watcher to workloadmeta
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet_test.go
  comp/core/workloadmeta/def/types.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators_test.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  pkg/collector/corechecks/cluster/ksm/stub.go
  pkg/commonchecks/corechecks.go
  pkg/commonchecks/corechecks_cluster.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/kubestatemetrics/builder/kubelet_pods.go
  pkg/kubestatemetrics/builder/kubelet_pods_stub.go
  pkg/kubestatemetrics/builder/kubelet_pods_test.go
  pkg/kubestatemetrics/builder/workloadmeta_conversion.go
  pkg/kubestatemetrics/builder/workloadmeta_conversion_test.go
  pkg/kubestatemetrics/builder/workloadmeta_pods.go
  pkg/kubestatemetrics/builder/workloadmeta_pods_stub.go
  pkg/kubestatemetrics/builder/workloadmeta_pods_test.go
  pkg/util/kubernetes/kubelet/conversion.go
  pkg/util/kubernetes/kubelet/conversion_test.go
Labels: changelog/no-changelog, qa/done, team/container-platform, long review, ask-review

#39846 Revert "[USM] Support http2 PRIORITY flag (#39366)"
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, backport, short review, backport/7.70.x

#39834 fix(installer): Fix potential panic in tests
  cmd/installer/subcommands/daemon/run_windows.go
Labels: changelog/no-changelog, qa/done, short review, team/windows-products

#39848 logs: fix race condition with stream-logs
  pkg/logs/message/message.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-discovery

#39850 process_log: Do not use tracer service name
  comp/core/autodiscovery/providers/process_log.go
  comp/core/autodiscovery/providers/process_log_test.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-discovery

#39633 Revert "Fix MacOS build conflicting with system Python 3"
  tasks/libs/common/omnibus.py
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Labels: changelog/no-changelog, qa/no-code-change, long review, ask-review, team/agent-build

#39863 Update last_stable to 7.69.0
  release.json
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#39114 Team rename changes for Agent Onboarding
  .ddqa/config.toml
  .github/CODEOWNERS
  tasks/libs/issue/model/constants.py
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/github_slack_review_map.yaml
  tasks/libs/releasing/documentation.py
Labels: dev/tooling, changelog/no-changelog, qa/no-code-change, medium review, team/agent-devx

#39723 Update curl to 8.14.1
  omnibus/config/software/curl.rb
Labels: changelog/no-changelog, qa/done, short review

#39958 Fix DDOT install script bugs (#39930)
  pkg/fleet/installer/packages/datadog_agent_ddot_linux.go
Labels: qa/no-code-change, short review, team/windows-products

#39922 [ACIX-616] Enable stackcleaner on many jobs (3/4)
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#39864 [E2E] Add a mechanism to retry more some known errors
  test/new-e2e/pkg/utils/infra/retriable_errors.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
  test/new-e2e/pkg/utils/infra/stack_manager_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-devx

#39801 [CWS] remove dig import from cws-instrumentation
  cmd/cws-instrumentation/main_linux.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#39537 Remove auth-anywhere on the fly install + bump test infra
  .gitlab/e2e/e2e.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#39096 [SBOM] convert to cyclonedx sooner in the pipeline
  cmd/sbomgen/scanners.go
  comp/core/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/crio/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/docker/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/util/image_util.go
  comp/core/workloadmeta/collectors/util/image_util_test.go
  comp/core/workloadmeta/def/types.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/sbom/collectors/host/flare_provider.go
  pkg/sbom/collectors/host/host.go
  pkg/sbom/collectors/host/host_wmi.go
  pkg/sbom/sbom.go
  pkg/sbom/scanner/scanner_test.go
  pkg/security/resolvers/sbom/file_querier.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/util/trivy/overlayfs.go
  pkg/util/trivy/report.go
  pkg/util/trivy/scan_image.go
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, ask-review

#39980 [SBOM] make sure Tools is not nil before converting the BOM format (2nd part)
  pkg/sbom/bomconvert/convert.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#39954 mark TestInstallScript flaky
  test/new-e2e/tests/installer/windows/suites/install-script/agent-user_test.go
  test/new-e2e/tests/installer/windows/suites/install-script/domain_test.go
  test/new-e2e/tests/installer/windows/suites/install-script/install_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#39902 [AGENTRUN-639] Fix race between Cancel and Run in Python check
  pkg/collector/python/check.go
  pkg/collector/python/check_test.go
  pkg/collector/python/test_check.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#39977 [AGENTRUN-641] Improve TestLinuxRunSuite/TestRunAgentCtrlC e2e test reliability
  test/new-e2e/tests/agent-subcommands/run/run_nix_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-runtimes

#39969 [macos runners] Report runner ID to Datadog
  .gitlab/common/macos.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#39890 Enable Test Singing For Windows Driver Testing
  .gitlab/e2e/e2e.yml
  test/new-e2e/go.mod
  test/new-e2e/pkg/provisioners/aws/host/windows/host.go
  test/new-e2e/tests/npm/ec2_1host_wkit_test.go
  test/new-e2e/tests/sysprobe-functional/sysprobe_test.go
  test/new-e2e/tests/windows/common/powershell/command_builder.go
  test/new-e2e/tests/windows/components/testsigning/component.go
  test/new-e2e/tests/windows/components/testsigning/params.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review, team/windows-products

#39948 change codeowners to be CNM
  .ddqa/config.toml
  .github/CODEOWNERS
  comp/README.md
  comp/networkpath/bundle.go
  comp/networkpath/npcollector/component.go
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/pipeline.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#39997 [AGENTCFG-377] Only add the secret-generic-connectory side binary to the non-fips agents
  omnibus/config/software/datadog-agent-dependencies.rb
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-build, backport/7.70.x

#39952 [OTAGENT-480] refactor host metadata pusher in serializer exporter
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/factory.go
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/apm_stats_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/host_metadata_pusher.go
  comp/otelcol/otlp/components/exporter/serializerexporter/serializer.go
  comp/otelcol/otlp/components/exporter/serializerexporter/serializer_test.go
  go.mod
  pkg/opentelemetry-mapping-go/inframetadata/go.mod
  pkg/opentelemetry-mapping-go/inframetadata/payload/payload.go
Labels: changelog/no-changelog, qa/done, long review, team/opentelemetry-agent

#40015 [Datadog] Fix Static Code Analysis violation
  pkg/security/ptracer/ptracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#39722 Add Data Streams Monitoring team
  .ddqa/config.toml
  tasks/libs/issue/model/constants.py
  tasks/libs/pipeline/github_slack_review_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review, qa/skip-qa, team/agent-devx
