Repository DataDog/datadog-agent, pull requests merged in 2025-03, with the labels that each got.

#34607 usm: go tls: Silently fail for unsupported environments
  pkg/network/usm/ebpf_gotls.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review, ask-review, backport/7.64.x

#34606 usm: gotls: Remove special constructor
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review, ask-review

#34108 cleanup(network/ebpf): remove unreachable check
  pkg/network/ebpf/c/protocols/http/http.h
Labels: community, changelog/no-changelog, component/system-probe, team/usm, qa/done, short review

#34565 [backport] bump `github.com/cyphar/filepath-securejoin` to v0.4.1 (#34562)
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#34602 [CWS] simplify signature of `GetFamilyAddress`
  pkg/security/agent/client.go
  pkg/security/config/config.go
  pkg/security/module/cws.go
  pkg/security/probe/probe_ebpfless.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#34600 (fleet) idempotent dir/ownership in postinsts
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/datadog_installer.go
  pkg/fleet/installer/packages/file/file.go
  pkg/fleet/installer/packages/user/user.go
  test/new-e2e/tests/installer/script/default_script_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#34618 Update release.json and Go modules for 6.53.2-rc.3
  cmd/agent/common/path/go.mod
  comp/core/config/go.mod
  comp/core/hostname/hostnameinterface/go.mod
  comp/core/log/go.mod
  comp/core/secrets/go.mod
  comp/core/status/statusimpl/go.mod
  comp/core/telemetry/go.mod
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/logs/agent/config/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  go.mod
  pkg/aggregator/ckey/go.mod
  pkg/api/go.mod
  pkg/config/env/go.mod
  pkg/config/logs/go.mod
  pkg/config/model/go.mod
  pkg/config/remote/go.mod
  pkg/config/setup/go.mod
  pkg/config/utils/go.mod
  pkg/gohai/go.mod
  pkg/logs/auditor/go.mod
  pkg/logs/client/go.mod
  pkg/logs/diagnostic/go.mod
  pkg/logs/message/go.mod
  pkg/logs/metrics/go.mod
  pkg/logs/pipeline/go.mod
  pkg/logs/processor/go.mod
  pkg/logs/sender/go.mod
  pkg/logs/sources/go.mod
  pkg/logs/util/testutils/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/security/seclwin/go.mod
  pkg/serializer/go.mod
  pkg/tagset/go.mod
  pkg/telemetry/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/filesystem/go.mod
  pkg/util/flavor/go.mod
  pkg/util/grpc/go.mod
  pkg/util/hostname/validate/go.mod
  pkg/util/http/go.mod
  pkg/util/log/go.mod
  pkg/util/system/go.mod
  pkg/util/uuid/go.mod
  pkg/util/winutil/go.mod
  test/fakeintake/go.mod
  test/new-e2e/go.mod
Labels: changelog/no-changelog, component/system-probe, qa/no-code-change

#34580 [CWS] Ignore trivy walk errors when file doesn't exist
  go.mod
  go.sum
  pkg/util/trivy/trivy.go
  pkg/util/trivy/walker.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#34613 Revert "[incident-35594] Added markonlog to mark as flaky incident"
  test/new-e2e/tests/installer/script/all_scripts_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#34493 Update golang.org/x/oauth2 to fix CVE
  .github/workflows/update_dependencies.yml
  comp/core/tagger/fx-remote/go.sum
  comp/core/tagger/impl-remote/go.sum
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.sum
  go.mod
  go.sum
  pkg/config/remote/go.sum
  pkg/fleet/installer/go.mod
  pkg/fleet/installer/go.sum
  pkg/util/grpc/go.mod
  pkg/util/grpc/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: changelog/no-changelog, qa/done, long review, ask-review, team/agent-runtimes

#34466 Lint log.Component Printf like methods
  .golangci.yml
  comp/core/agenttelemetry/impl/agenttelemetry.go
  comp/core/gui/guiimpl/gui.go
  comp/core/tagger/impl/tagger.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/metadata/inventoryotel/inventoryotelimpl/inventoryotel.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/trace/etwtracer/etwtracerimpl/etwtracerimpl.go
Labels: changelog/no-changelog, qa/done, medium review

#34612 [CWS] fix `pidToMounts` cleanup in mount resolver
  pkg/security/resolvers/mount/resolver.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34351 Update logs and epforwarders to support API key refresh
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/logs/agent/agentimpl/agent_test.go
  comp/logs/agent/config/config.go
  comp/logs/agent/config/config_keys.go
  comp/logs/agent/config/config_keys_test.go
  comp/logs/agent/config/config_test.go
  comp/logs/agent/config/endpoints.go
  comp/logs/agent/config/endpoints_test.go
  comp/logs/agent/config/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent_test.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/client/http/test_utils.go
  pkg/logs/client/tcp/connection_manager_test.go
  pkg/logs/client/tcp/destination_test.go
  pkg/logs/client/tcp/test_utils.go
Labels: changelog/no-changelog, team/network-device-monitoring, team/database-monitoring, team/usm, long review, team/ndm-core, qa/rc-required, team/agent-configuration

#34611 uprobe attacher: Fixed wrong documentation
  pkg/ebpf/uprobes/attacher.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review, ask-review

#34615 [data-jobs-monitoring] Added team mapping + sorted review map
  tasks/libs/pipeline/github_slack_review_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#34623 usm: protocols: Get manager on constructor
  pkg/network/protocols/http/protocol.go
  pkg/network/protocols/http2/protocol.go
  pkg/network/protocols/kafka/protocol.go
  pkg/network/protocols/postgres/protocol.go
  pkg/network/protocols/protocols.go
  pkg/network/protocols/redis/protocol.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/monitor_test.go
  pkg/network/usm/monitor_testutil.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review

#34627 [Backport 7.63.x] [AGENTRUN-162] Disable X25519Kyber768Draft00 in the agent
  go.mod
  go.work
  releasenotes/notes/fix-kyber-firewall-again-8252b095a52698e2.yaml
Labels: qa/done, short review, team/agent-runtimes

#34504 reset counter 'watcher.libMatches' in SharedLibrarySuite.TestValidPathExistsInTheMemory()
  pkg/network/usm/sharedlibraries/watcher_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review, ask-review

#34622 [CWS] Forward signals from tracer to tracee
  pkg/security/ptracer/ptracer.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, short review, backport/7.64.x

#32378 [CWS] Add 'cgroup' variable scope
  cmd/security-agent/subcommands/runtime/command.go
  cmd/system-probe/subcommands/runtime/command.go
  pkg/network/events/monitor_test.go
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/rules/engine_linux.go
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/secl/rules/model.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/scope.go
  pkg/security/secl/rules/scope_linux.go
  pkg/security/secl/rules/scope_others.go
  pkg/security/secl/schemas/policy.schema.json
  pkg/security/seclwin/model/model.go
  pkg/security/seclwin/model/model_win.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/tests/cgroup_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, long review, qa/rc-required

#34616 Remove unnecessary logic
  comp/otelcol/converter/impl/converter_test.go
  comp/otelcol/converter/impl/coreconfig.go
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/api-section/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/api-section/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/key-site-section/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/key-site-section/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/no-api-section/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/no-api-section/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/all/no-overrides/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/api-set-no-key/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/api-set-no-key/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/empty-string/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/empty-string/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/multiple-dd-exporter/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/multiple-dd-exporter/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/no-api-key-section/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/no-api-key-section/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/no-api-no-add/acfg.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/no-api-no-add/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/no-api-no-add/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/secret/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/secret/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/unset/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/apikey/unset/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/none/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/none/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/api-set-no-site/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/api-set-no-site/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/empty-string/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/empty-string/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/multiple-dd-exporter/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/multiple-dd-exporter/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/no-api-site-section/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/no-api-site-section/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/unset-core-mptystr-col/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/unset-core-mptystr-col/config.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/unset/config-result.yaml
  comp/otelcol/converter/impl/testdata/dd-core-cfg/site/unset/config.yaml
Labels: changelog/no-changelog, team/opentelemetry, qa/done, long review

#34478 [CWS] Allow setting ips as secl variables
  pkg/security/events/token_limiter.go
  pkg/security/generators/accessors/accessors.tmpl
  pkg/security/probe/discarders_linux.go
  pkg/security/rules/engine.go
  pkg/security/rules/filtermodel/os_only_filter.go
  pkg/security/rules/filtermodel/rule_filters_model.go
  pkg/security/secl/compiler/eval/event.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/model_test.go
  pkg/security/secl/rules/collected_events_functests.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/seclwin/model/accessors_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#34535 Bump go-ora version to 2.8.24
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, team/database-monitoring, qa/no-code-change, short review, backport/7.64.x

#34625 [CONTP-547] Change trace logs format in dca pld handler
  cmd/cluster-agent/api/v1/languagedetection/handler.go
  cmd/cluster-agent/api/v1/languagedetection/util.go
Labels: changelog/no-changelog, qa/done, short review

#34628 [Backport 7.64.x] [AGENTRUN-162] Disable X25519Kyber768Draft00 in the agent
  go.mod
  go.work
  releasenotes/notes/fix-kyber-firewall-again-8252b095a52698e2.yaml
Labels: qa/done, short review, team/agent-runtimes

#34489 change default for process checks in core agent
  cmd/agent/subcommands/flare/command_other_test.go
  cmd/agent/subcommands/flare/command_test.go
  comp/core/profiler/impl/profiler.go
  comp/core/profiler/impl/profiler_test.go
  comp/core/workloadmeta/collectors/internal/remote/processcollector/process_collector_test.go
  pkg/config/config_template.yaml
  pkg/config/setup/process.go
  pkg/config/setup/process_test.go
  pkg/flare/archive.go
  pkg/process/metadata/workloadmeta/collector/process_test.go
  releasenotes/notes/process-check-in-core-agent-default-f1006c4863990a26.yaml
  test/new-e2e/tests/agent-configuration/config-refresh/fixtures/config.yaml.tmpl
  test/new-e2e/tests/agent-runtimes/ipc/fixtures/config.yaml.tmpl
  test/new-e2e/tests/agent-subcommands/flare/flare_common_test.go
  test/new-e2e/tests/agent-subcommands/flare/flare_files.go
  test/new-e2e/tests/agent-subcommands/flare/flare_nix_test.go
  test/new-e2e/tests/agent-subcommands/status/status_common_test.go
  test/new-e2e/tests/agent-subcommands/status/status_nix_test.go
  test/new-e2e/tests/agent-subcommands/status/status_win_test.go
  test/new-e2e/tests/fips-compliance/fixtures/system-probe.yaml
  test/new-e2e/tests/installer/script/default_script_test.go
  test/new-e2e/tests/installer/unix/package_agent_test.go
  test/new-e2e/tests/installer/unix/upgrade_scenario_test.go
  test/new-e2e/tests/language-detection/etc/process_config.yaml
  test/new-e2e/tests/language-detection/etc/process_config_no_check.yaml
  test/new-e2e/tests/process/config/helm-template.tmpl
  test/new-e2e/tests/process/config/process_check.yaml
  test/new-e2e/tests/process/config/process_discovery_check.yaml
  test/new-e2e/tests/process/docker_test.go
Labels: qa/done, long review, team/container-intake, ask-review

#34639 Bump go-ora version to 2.8.24 (#34535)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Labels: changelog/no-changelog, team/database-monitoring, qa/done, short review

#33765 apm: add version checking for stats obfuscation to avoid double obfus…
  comp/otelcol/otlp/testutil/testutil.go
  pkg/obfuscate/obfuscate.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/agent/fuzz_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/api/internal/header/headers.go
  releasenotes/notes/traceagent-statsobf-6fd2cb51be47c0b9.yaml
Labels: team/agent-apm, qa/done, medium review

#34645 fix(ssi): properly parse lib versions from env var
  pkg/clusteragent/admission/mutate/autoinstrumentation/config_test.go
  pkg/config/setup/apm.go
Labels: changelog/no-changelog, qa/done, medium review, team/injection-platform, backport/7.64.x

#34647 Clone strings to free DWARF objects in dynamic instrumentation
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, short review, backport/7.64.x

#34644 bump github.com/DataDog/go-sqllexer to v0.1.3 to fix trimQuotes failure
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  releasenotes/notes/go-sqllexer-bump-v0.1.3-ec5ef097ddac3455.yaml
  test/otel/go.mod
  test/otel/go.sum
Labels: team/database-monitoring, qa/done, long review, backport/7.64.x

#34673 bump github.com/DataDog/go-sqllexer to v0.1.3 to fix trimQuotes failu…
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  releasenotes/notes/go-sqllexer-bump-v0.1.3-ec5ef097ddac3455.yaml
  test/otel/go.mod
  test/otel/go.sum
Labels: team/database-monitoring, qa/done, long review

#34558 update remote config channel
  tasks/libs/pipeline/github_slack_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#34195 [netpath] Increase pathtest_interval to 10min
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-configuration

#33918 [AGENTRUN-17] adding e2e test to auth artifact creation flow
  test/new-e2e/tests/agent-runtimes/auth_artifact/docs.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/fixtures/security-agent.yaml
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_common_test.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_nix_test.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_win_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-runtimes

#34462 Reapply "[AGENTRUN-139] migrate all agent start command to use createorfetch auth impl"
  cmd/dogstatsd/subcommands/start/command.go
  cmd/otel-agent/subcommands/run/command.go
  cmd/process-agent/command/main_common.go
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/trace-agent/subcommands/run/command.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#34643 [CWS] add one more test for multi policies
  pkg/security/secl/rules/policy_loader_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34691 Remove redundant err variable from fmt.Errorf as it is nil
  pkg/security/resolvers/process/resolver_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review, ask-review

#34682 usm: protocols: Don't exclude probes, maps and TCs if those are used by a supported protocol
  pkg/network/usm/ebpf_main.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, short review, ask-review

#34619 Build cryptography against embedded OpenSSL for FIPS Windows Agent
  .gitlab/package_build/windows.yml
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/windows-agent, qa/done, team/agent-delivery, medium review

#34687 usm: sharedlibraries: Move tcpsendmsg kprobe from general usm to native tls
  pkg/network/ebpf/c/prebuilt/usm.c
  pkg/network/ebpf/c/protocols/tls/native-tls.h
  pkg/network/ebpf/c/runtime/usm.c
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/ebpf_ssl.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review, ask-review

#34700 [CWS] handle correctly nil scope returned by scoper
  pkg/security/secl/compiler/eval/variables.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34204 [BARX-870] Add jobs to build and release the full image
  .gitlab/container_build/docker_linux.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/e2e.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  releasenotes/notes/add-new-full-image-dcae2679c88d30fc.yaml
Labels: team/agent-delivery, medium review, qa/rc-required, backport/7.64.x

#34703 Add NewFactory method with type
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
Labels: changelog/no-changelog, team/opentelemetry, qa/done, short review, backport/7.64.x

#34709 Revert "[AGENTRUN-17] adding e2e test to auth artifact creation flow"
  test/new-e2e/tests/agent-runtimes/auth_artifact/docs.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/fixtures/security-agent.yaml
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_common_test.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_nix_test.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_win_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-runtimes

#34624 [CWS] remove rule ID conflict error
  pkg/security/rules/monitor/policy_monitor.go
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#33136 collect terminated pods
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/inventory/inventory.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_terminated.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8scollector.go
  pkg/collector/corechecks/cluster/orchestrator/discovery/collector_discovery_crd.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, team/container-app, medium review, qa/rc-required

#34702 [CWS] use `modernc.org/sqlite` in CWS functional tests
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/util/trivy/sqlite_functests.go
  pkg/util/trivy/sqlite_no_functests.go
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, medium review

#34718 Changelog update for 7.63.3 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/main, team/agent-delivery, medium review, backport/7.64.x

#34626 [AGENTRUN-162] Disable X25519Kyber768Draft00 in the agent
  go.mod
  go.work
  releasenotes/notes/fix-kyber-firewall-again-8252b095a52698e2.yaml
Labels: qa/done, short review, ask-review, team/agent-runtimes

#34694 [CWS] add fork of golang-lru with iterator methods
  .golangci.yml
  pkg/security/utils/lru/LICENSE
  pkg/security/utils/lru/README.md
  pkg/security/utils/lru/internal/list.go
  pkg/security/utils/lru/lru.go
  pkg/security/utils/lru/lru_test.go
  pkg/security/utils/lru/simplelru/lru.go
  pkg/security/utils/lru/simplelru/lru_test.go
  tasks/libs/types/copyright.py
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review, ask-review

#34715 usm: Better handle shared maps and probes in configureManagerWithSupportedProtocols
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/ebpf_main_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review, ask-review

#34688 [DJM] Enable DSM on DD_DATA_STREAMS_ENABLED
  pkg/fleet/installer/setup/djm/emr.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#34697 Add apm_config.profiling_additional_endpoints to authorized config paths
  comp/api/api/def/component.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#33634 [CWS] fix open with perm denied not reported
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/constants/macros.h
  pkg/security/ebpf/c/include/hooks/chdir.h
  pkg/security/ebpf/c/include/hooks/link.h
  pkg/security/ebpf/c/include/hooks/mkdir.h
  pkg/security/ebpf/c/include/hooks/open.h
  pkg/security/ebpf/c/include/hooks/rename.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/dentry_resolver.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/builder.go
  pkg/security/ebpf/probes/const.go
  pkg/security/ebpf/probes/dentry.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
  pkg/security/ebpf/probes/open.go
  pkg/security/secl/model/marshallers_linux.go
  pkg/security/secl/model/model_helpers_unix.go
  pkg/security/tests/fim_test.go
  pkg/security/tests/syscall_tester.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#33855 [CWS] increase selftest retry
  pkg/security/module/cws.go
  pkg/security/tests/selftests_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#34729 fix(fleet): Ignore files deleted when enforcing permissions to avoid race
  pkg/fleet/installer/packages/file/file.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#34482 [CWS] sysctl event
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/helpers/all.h
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/helpers/container.h
  pkg/security/ebpf/c/include/helpers/process.h
  pkg/security/ebpf/c/include/helpers/span.h
  pkg/security/ebpf/c/include/helpers/sysctl.h
  pkg/security/ebpf/c/include/hooks/all.h
  pkg/security/ebpf/c/include/hooks/sysctl.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/sysctl.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/capabilities_linux.go
  pkg/security/probe/kfilters/sysctl.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/category.go
  pkg/security/secl/model/consts_common.go
  pkg/security/secl/model/consts_darwin.go
  pkg/security/secl/model/consts_linux.go
  pkg/security/secl/model/consts_windows.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/secl/schemas/sysctl.schema.json
  pkg/security/seclwin/model/consts_common.go
  pkg/security/seclwin/model/consts_win.go
  pkg/security/seclwin/model/events.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/tests/schemas.go
  pkg/security/tests/sysctl_test.go
  pkg/security/utils/cgroup.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#34713 Fix rtloader test unsafe Errorf
  rtloader/test/rtloader/rtloader.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-metric-pipelines

#34736 [EBPF] kmt: fix detection of runtime failures
  test/new-e2e/system-probe/test-json-review/main.go
  test/new-e2e/system-probe/test-json-review/main_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#34732 Remove last AML entry from codeowners
  .github/CODEOWNERS
  comp/README.md
  comp/logs/auditor/def/component.go
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review

#34740 [CWS] simplify `NewWithEvict` with empty callback
  pkg/security/security_profile/dump/manager.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34746 [CWS] Use distinct probe UIDs for kprobes hooking on the same symbol
  pkg/security/ebpf/probes/builder.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34329 Send a "config expired" message from the core-agent to the rc-client when the config has expired
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/uptane/client.go
  pkg/config/remote/uptane/client_state.go
  pkg/config/remote/uptane/client_test.go
  pkg/config/remote/uptane/local_store.go
  pkg/config/remote/uptane/local_store_test.go
  pkg/config/remote/uptane/util.go
  pkg/config/remote/uptane/util_test.go
  pkg/proto/datadog/remoteconfig/remoteconfig.proto
  pkg/proto/pbgo/core/remoteconfig.pb.go
  pkg/proto/pbgo/core/remoteconfig_gen.go
  pkg/remoteconfig/state/agent_config_test.go
  pkg/remoteconfig/state/repository_test.go
Labels: changelog/no-changelog, team/remote-config, qa/done, long review

#34509 add statsd wrapper of demux
  cmd/agent/subcommands/run/command.go
  cmd/process-agent/command/main_common.go
  cmd/process-agent/subcommands/check/check.go
  comp/networkpath/bundle_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_testutils.go
  comp/networkpath/npcollector/npcollectorimpl/npcollectorcomp.go
  comp/networkpath/npcollector/npcollectorimpl/pathteststore/pathteststore_test.go
  comp/process/agent/agentimpl/agent.go
  comp/process/bundle_test.go
  comp/process/containercheck/containercheckimpl/check.go
  comp/process/processcheck/processcheckimpl/check.go
  comp/process/processeventscheck/processeventscheckimpl/check.go
  comp/process/submitter/submitterimpl/submitter.go
  comp/process/submitter/submitterimpl/submitter_test.go
  pkg/aggregator/statsd.go
  pkg/process/checks/checks.go
  pkg/process/checks/container.go
  pkg/process/checks/container_check_test.go
  pkg/process/checks/enable_checks_containerized_test.go
  pkg/process/checks/enabled_checks_linux_test.go
  pkg/process/checks/enabled_checks_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_events_fallback.go
  pkg/process/checks/process_events_linux.go
  pkg/process/checks/process_test.go
  pkg/process/runner/collector_api_test.go
  pkg/process/runner/runner_test.go
  pkg/process/runner/submitter.go
  pkg/process/runner/submitter_test.go
  pkg/process/statsd/statsd.go
Labels: changelog/no-changelog, qa/done, long review, team/container-intake, ask-review

#34750 quality_gate_idle: set memory bound to 283 MiB
  test/regression/cases/quality_gate_idle/experiment.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#34751 quality_gate_logs: lower memory bound to 314 MiB
  test/regression/cases/quality_gate_logs/experiment.yaml
Labels: changelog/no-changelog, qa/no-code-change, short review

#34213 [CONTINT-4520, CONTINT-4587] Remove legacy docker corechecks integration tests
  tasks/gointegrationtest.py
  test/integration/corechecks/docker/basemetrics_test.go
  test/integration/corechecks/docker/catalog.go
  test/integration/corechecks/docker/events_test.go
  test/integration/corechecks/docker/exitcode_test.go
  test/integration/corechecks/docker/globalmetrics_test.go
  test/integration/corechecks/docker/main_test.go
  test/integration/corechecks/docker/serviceup_test.go
  test/integration/corechecks/docker/testdata/basemetrics.compose
  test/integration/corechecks/docker/testdata/events.compose
  test/integration/corechecks/docker/testdata/exitcode.compose
  test/integration/corechecks/docker/testdata/globalmetrics.compose
Labels: team/containers, dev/testing, changelog/no-changelog, qa/done, medium review

#34684 USM: make the istio monitor to a real protocol
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/istio.go
  pkg/network/usm/istio_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, medium review, ask-review

#34758 [CWS] fix nil interface vs nil sub-type but not-nil interface confusion in scoper
  pkg/security/secl/rules/scope.go
  pkg/security/secl/rules/scope_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34757 trivy: fix skip/only dirs in os + languages mode
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review, backport/7.64.x

#34698 Fix automatic milestone workflow on release branch
  .github/workflows/add_milestone.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review, ask-review

#34620 fix(installer): Call binary from daemon when getting state
  cmd/installer/subcommands/daemon/run_windows_test.go
  cmd/installer/subcommands/installer/command_test.go
  cmd/installer/subcommands/subcommands.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/daemon/local_api.go
  pkg/fleet/daemon/local_api_test.go
  pkg/fleet/installer/bootstrap/bootstrap.go
  pkg/fleet/installer/bootstrap/bootstrap_nix.go
  pkg/fleet/installer/bootstrap/bootstrap_windows.go
  pkg/fleet/installer/bootstrap/bootstrapper.go
  pkg/fleet/installer/commands/apm.go
  pkg/fleet/installer/commands/bootstrapper.go
  pkg/fleet/installer/commands/command.go
  pkg/fleet/installer/commands/command_mock.go
  pkg/fleet/installer/commands/command_test.go
  pkg/fleet/installer/commands/umask_nix.go
  pkg/fleet/installer/commands/umask_windows.go
  pkg/fleet/installer/env/env.go
  pkg/fleet/installer/exec/installer_exec.go
  pkg/fleet/installer/go.mod
  pkg/fleet/installer/go.sum
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/installer_test.go
  pkg/fleet/installer/paths/installer_paths_windows.go
  pkg/fleet/installer/repository/repository.go
  pkg/fleet/internal/internal_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#34572 chore(clusteragent): Enable PHP by default
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/config_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/language_versions.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/target_mutator_test.go
  releasenotes/notes/clusteragent-install-php-default-63ae244680e3de0c.yaml
Labels: qa/done, medium review, team/injection-platform

#34759 [CONTINT-4520, CONTINT-4587] Remove legacy `kubelet` and `kube_apiserver` integration tests
  tasks/gointegrationtest.py
  test/integration/util/kube_apiserver/apiserver_test.go
  test/integration/util/kube_apiserver/common.go
  test/integration/util/kube_apiserver/testdata/apiserver-compose.yaml
  test/integration/util/kube_apiserver/testdata/kubeconfig.json
  test/integration/util/kubelet/common.go
  test/integration/util/kubelet/insecurekubelet_test.go
  test/integration/util/kubelet/securekubelet_test.go
  test/integration/util/kubelet/testdata/Dockerfile
  test/integration/util/kubelet/testdata/Dockerfile.base
  test/integration/util/kubelet/testdata/entrypoint.sh
  test/integration/util/kubelet/testdata/insecure-kubelet-compose.yaml
  test/integration/util/kubelet/testdata/secure-kubelet-compose.yaml
Labels: team/containers, dev/testing, changelog/no-changelog, qa/done, long review

#34763 [CWS] Fix sysctl supported check
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/probe_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34743 [cluster-agent/languagedetection] Use strings.Builder to reduce allocations
  cmd/cluster-agent/api/v1/languagedetection/handler.go
  cmd/cluster-agent/api/v1/languagedetection/util.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#34768 [EBPF] gpu: fix failing e2e test
  test/new-e2e/tests/gpu/gpu_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/no-code-change, short review, ask-review

#34764 Fix bug in KSM check when node_kubelet pod collection mode is used
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  releasenotes-dca/notes/fix_ksm_resource_tagging-9b025f2ebb3a7acc.yaml
Labels: changelog/no-changelog, team/container-platform, medium review, qa/rc-required, backport/7.64.x

#34738 [CWS] lru: remove expire related code
  pkg/security/utils/lru/internal/list.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34772 [CWS] Fix cws-instrumentation signal forwarder
  go.mod
  go.sum
  pkg/security/ptracer/ptracer.go
  pkg/security/ptracer/ptracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, category/bugfix, qa/done, medium review, backport/7.64.x

#34788 Provide a way for agent RC integrations to ignore "signature expired" config updates
  pkg/config/remote/client/client.go
Labels: changelog/no-changelog, team/remote-config, qa/done, short review

#34789 Update ownership for status subpackages
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-configuration

#34793 [Backport 7.64.x] [cluster-agent/languagedetection] Use strings.Builder to reduce allocations (#34743)
  cmd/cluster-agent/api/v1/languagedetection/handler.go
  cmd/cluster-agent/api/v1/languagedetection/util.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#34250 include kind and api version in manifests
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/crd.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/horizontalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/limitrange.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/networkpolicy.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_terminated.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_unassigned.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/poddisruptionbudget.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/storageclass.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8scollector.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/crd.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cronjob_v1.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/cronjob_v1beta1.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/horizontalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/limitrange.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/namespace.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/networkpolicy.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/poddisruptionbudget.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/storageclass.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/verticalpodautoscaler.go
  pkg/collector/corechecks/cluster/orchestrator/processors/processor.go
  pkg/collector/corechecks/orchestrator/pod/pod.go
  pkg/util/kubernetes/const.go
  releasenotes/notes/releasenotes-4a9d33cbee262f70.yaml
Labels: team/container-app, qa/done, long review

#34745 fix return type of connection_protocol map lookup
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
Labels: changelog/no-changelog, component/system-probe, category/bugfix, team/usm, qa/done, short review, ask-review, backport/7.64.x

#34264 [SVLS-6367] Update Step Function Trace Context
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/invocationlifecycle/lifecycle.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/invocationlifecycle/trace_test.go
  pkg/serverless/trace/propagation/carriers.go
  pkg/serverless/trace/propagation/carriers_test.go
  pkg/serverless/trace/propagation/extractor.go
  pkg/serverless/trace/propagation/extractor_test.go
  pkg/serverless/trigger/events.go
  pkg/serverless/trigger/events/events.go
  pkg/serverless/trigger/events_test.go
  pkg/serverless/trigger/testData/lambdarootstepfunction.json
  pkg/serverless/trigger/testData/legacylambdarootstepfunction.json
  pkg/serverless/trigger/testData/legacynestedstepfunction.json
  pkg/serverless/trigger/testData/nestedstepfunction.json
  releasenotes/notes/feature/lambda-sfn-jsonata-trace-context.yaml
  test/integration/serverless/log_normalize.py
Labels: team/serverless, qa/done, long review

#34792 Add Docker e2e test for OTLP Ingest
  test/new-e2e/tests/otel/otlp-ingest/compose/otlp_ingest_compose.yaml
  test/new-e2e/tests/otel/otlp-ingest/docker_pipelines_test.go
  test/new-e2e/tests/otel/utils/docker_pipelines_utils.go
  test/new-e2e/tests/otel/utils/pipelines_utils.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#34795 [Backport 7.64.x] [CWS] Fix cws-instrumentation signal forwarder (#34772)
  go.mod
  go.sum
  pkg/security/ptracer/ptracer.go
  pkg/security/ptracer/ptracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, backport, medium review

#34797 Update README for infraattributesprocessor
  comp/otelcol/otlp/components/processor/infraattributesprocessor/README.md
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change, short review

#33943 [usm] add regular and raw tracepoints /sched_process_exit
  pkg/network/ebpf/c/protocols/tls/native-tls.h
  pkg/network/protocols/http/types.go
  pkg/network/protocols/http/types_linux.go
  pkg/network/protocols/http/types_linux_test.go
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/ebpf_ssl_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/sharedlibraries/watcher.go
  pkg/network/usm/sharedlibraries/watcher_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, long review, ask-review

#34818 [CWS] do not cache cgroup dentry resolution
  pkg/security/resolvers/resolvers_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34522 [codeowners] remove the opentelemetry team
  .github/CODEOWNERS
  comp/README.md
  comp/otelcol/bundle.go
  comp/otelcol/collector-contrib/def/component.go
  comp/otelcol/collector/def/component.go
  comp/otelcol/collector/fx-pipeline/fx.go
  comp/otelcol/collector/fx/fx.go
  comp/otelcol/converter/def/component.go
  comp/otelcol/ddflareextension/def/component.go
  comp/otelcol/ddprofilingextension/def/component.go
  comp/otelcol/ddprofilingextension/fx/fx.go
  comp/otelcol/logsagentpipeline/component.go
  comp/otelcol/status/def/component.go
  tasks/libs/pipeline/github_jira_map.yaml
Labels: changelog/no-changelog, qa/no-code-change, long review

#34824 [CWS] fix dentry resolution callbacks on centos7
  pkg/security/ebpf/probes/const.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34827 Bump the current_milestone to the next patch version on release branches
  .github/workflows/add_milestone.yml
  tasks/libs/releasing/json.py
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-devx-loops, team/agent-delivery, short review, backport/7.63.x, backport/7.64.x

#34564 [podman] Use sqlite3 driver
  pkg/util/podman/sqlite_db_client.go
Labels: changelog/no-changelog, qa/done, short review

#34711 Reapply "[AGENTRUN-17] adding e2e test to auth artifact creation flow"
  test/new-e2e/tests/agent-runtimes/auth_artifact/docs.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/fixtures/config.yaml
  test/new-e2e/tests/agent-runtimes/auth_artifact/fixtures/security-agent.yaml
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_common_test.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_nix_test.go
  test/new-e2e/tests/agent-runtimes/auth_artifact/ipc_security_win_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-runtimes

#34821 Fix the ot-beta and fips images pushed to our internal ECR
  .gitlab/deploy_containers/deploy_containers_a7.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review, backport/7.64.x

#34646 Fix delve config file name in documentation
  docs/dev/tools.md
Labels: changelog/no-changelog, qa/no-code-change, short review, ask-review, team/agent-runtimes

#34820 [Backport 7.64.x] [BARX-870] Add jobs to build and release the full image
  .gitlab/container_build/docker_linux.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/e2e.yml
  .gitlab/internal_image_deploy/internal_image_deploy.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  releasenotes/notes/add-new-full-image-dcae2679c88d30fc.yaml
Labels: changelog/no-changelog, team/agent-delivery, medium review, qa/rc-required

#34826 Fix map deletes which may be affected by race conditions
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/protocols/tls/native-tls.h
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review

#34773 CAP-2329 Unblocking Configure() by moving Initialize() in the first Run().
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_test.go
  pkg/util/kubernetes/apiserver/util.go
Labels: changelog/no-changelog, team/container-app, medium review, qa/rc-required, backport/7.64.x

#34790 GPU: hostgpu payload: filter out hosts with no GPUs
  comp/metadata/hostgpu/impl/hostgpu.go
  comp/metadata/hostgpu/impl/hostgpu_test.go
  comp/metadata/internal/util/inventory_payload.go
  comp/metadata/internal/util/inventory_payload_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review, ask-review

#34836 trivy: add missing build tags on trivy FS walker
  pkg/util/trivy/walker/walker.go
  pkg/util/trivy/walker/walker_test.go
Labels: changelog/no-changelog, team/agent-security, qa/no-code-change, short review

#34637 [CWS-3771] Remove maps from mount resolver
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/mount/resolver_test.go
  pkg/security/utils/cache/lru_2layers.go
  pkg/security/utils/cache/lru_2layers_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#34579 [CWS] system-probe: create auth_token if not already present at startup
  cmd/system-probe/subcommands/run/command.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#34831 [CWS/CSPM] use no-op status provider instead of logs one
  pkg/compliance/reporter.go
  pkg/security/common/status_provider.go
  pkg/security/reporter/reporter.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34685 fix(worktree):Remove filter option to prevent later issues at pull time
  tasks/libs/common/worktree.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#34560 Update release.json
  release.json
Labels: changelog/no-changelog, team/agent-security, team/windows-kernel-integrations, qa/no-code-change, team/agent-delivery, short review, team/agent-metric-pipelines

#34841 [Backport 7.64.x] CAP-2329 Unblocking Configure() by moving Initialize() in the first Run(). (#34773)
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_test.go
  pkg/util/kubernetes/apiserver/util.go
Labels: changelog/no-changelog, team/container-app, qa/rc-required

#34670 [NDINT-225] Start scaffolding for versa integration
  pkg/collector/corechecks/network-devices/versa/report/metadata.go
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/versa.go
  pkg/commonchecks/corechecks.go
Labels: changelog/no-changelog, qa/done, medium review, team/ndm-integrations

#34823 [DDR] - Fix APM setting not found
  cmd/agent/subcommands/run/command.go
  pkg/config/setup/multi_region_failover.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#33991 [ADXT-901] Fix e2e_pre_test for agent6
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_pre_test/e2e_pre_test.yml
  .gitlab/kernel_matrix_testing/common.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#34832 Reset RC DB in case an agent changes the RC url
  pkg/config/remote/service/service.go
  pkg/config/remote/service/util.go
  pkg/config/remote/service/util_test.go
Labels: changelog/no-changelog, team/remote-config, qa/done, short review

#34859 move `AgentPayloadVersion` to `pkg/version`
  cmd/security-agent/subcommands/version/command.go
  pkg/cli/subcommands/version/command.go
  pkg/serializer/serializer.go
  pkg/serializer/serializer_test.go
  pkg/version/base.go
  tasks/libs/common/utils.py
Labels: changelog/no-changelog, qa/done, medium review, ask-review, team/agent-runtimes, team/agent-metric-pipelines

#34830 Avoid importing cmd/agent/common in security-agent
  cmd/agent/common/common.go
  cmd/agent/subcommands/run/internal/clcrunnerapi/v1/clcrunner.go
  cmd/security-agent/api/agent/agent.go
  comp/api/commonendpoints/impl/common_endpoints.go
  pkg/api/go.mod
  pkg/api/version/version.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-runtimes

#34861 [CWS] remove usage of `dogstatsd.ClientBundle`
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/check/command.go
  cmd/security-agent/subcommands/start/command.go
  comp/dogstatsd/bundle.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review, ask-review

#34871 fix(create_rc): Add the required dependency
  .github/workflows/assess_permissions.yml
  .github/workflows/create_rc_pr.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#34828 [CONTP-683] feat[beta]: Support injecting APM and Dogstatsd sockets using CSI volumes instead of hostpath volume
  pkg/clusteragent/admission/mutate/config/config.go
  pkg/clusteragent/admission/mutate/config/config_test.go
  pkg/clusteragent/admission/mutate/config/mutator.go
  pkg/config/setup/config.go
  releasenotes-dca/notes/support-csi-volume-in-dca-config-webhook-bb75ea7b0a81c3fe.yaml
Labels: kind/feature, team/container-platform, long review, qa/rc-required

#34854 trivy: implement a real memory cache
  pkg/util/trivy/cache.go
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, qa/done, short review

#34848 [CWS] fix parsing of set value key ETW event
  pkg/security/probe/probe_kernel_reg_windows.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34566 feat(gitlab): Simplify rules
  .gitlab-ci.yml
  .gitlab/.ci-linters.yml
  .gitlab/.pre/cancel-prev-pipelines.yml
  .gitlab/check_merge/do_not_merge.yml
  .gitlab/e2e_install_packages/windows.yml
  .gitlab/functional_test/regression_detector.yml
  .gitlab/functional_test/static_quality_gate.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/integration_test/otel.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/kernel_matrix_testing/common.yml
  .gitlab/notify/notify.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/golang_deps_diff.yml
  .gitlab/source_test/macos.yml
  .gitlab/source_test/notify.yml
  .gitlab/trigger_release/trigger_release.yml
Labels: changelog/no-changelog, qa/no-code-change, long review, ask-review

#34834 [CWS] Fix error in getCommonSECLVariables
  pkg/security/rules/engine.go
  pkg/security/secl/rules/ruleset.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#34851 GPU: refactor gpu-check collectors
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/nvidia/clocks.go
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/collector/corechecks/gpu/nvidia/collector_test.go
  pkg/collector/corechecks/gpu/nvidia/device.go
  pkg/collector/corechecks/gpu/nvidia/fields.go
  pkg/collector/corechecks/gpu/nvidia/remappedrows.go
  pkg/collector/corechecks/gpu/nvidia/samples.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review

#34770 Add proxy endpoint for OpenLineage intake
  comp/trace/config/setup.go
  pkg/config/setup/config.go
  pkg/trace/api/endpoints.go
  pkg/trace/api/openlineage.go
  pkg/trace/api/openlineage_test.go
  pkg/trace/config/config.go
  releasenotes/notes/apm-openlineage-proxy-9c64ae84094d8d6c.yaml
Labels: team/agent-apm, qa/done, medium review, ask-review

#34860 service discovery: move `GetServiceName` into own package
  pkg/collector/corechecks/servicediscovery/detector/service_detector.go
  pkg/collector/corechecks/servicediscovery/detector/service_detector_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
Labels: changelog/no-changelog, component/system-probe, qa/done, short review, team/agent-discovery

#34601 (fleet) run the agent embedded installer when installed through the OCI
  .gitlab/e2e_install_packages/installer.yml
  cmd/agent/installer.go
  omnibus/config/software/datadog-agent-finalize.rb
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/daemon/task_db.go
  pkg/fleet/daemon/task_db_test.go
  pkg/fleet/installer/commands/command.go
  pkg/fleet/installer/exec/installer_exec.go
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/embedded/datadog-agent-exp.service
  pkg/fleet/installer/packages/embedded/datadog-agent-installer-exp.service
  pkg/fleet/installer/packages/embedded/datadog-agent-installer.service
  pkg/fleet/installer/packages/embedded/datadog-agent.service
  pkg/fleet/installer/packages/systemd/systemd.go
  pkg/fleet/installer/setup/common/packages.go
  pkg/fleet/installer/setup/common/services_nix.go
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/dataproc.go
  pkg/fleet/installer/setup/djm/emr.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/script/default_script_test.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#34634 [EBPF] gpu: do not report utilization as a percentage
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/model/model.go
  pkg/gpu/aggregator.go
  pkg/gpu/probe_test.go
  pkg/gpu/stats.go
  pkg/gpu/stats_test.go
  test/new-e2e/tests/gpu/gpu_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, long review

#34884 [CONTP-547] add logging of owner languages received by the pld handler
  cmd/cluster-agent/api/v1/languagedetection/handler.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#34881 Get the milestone from the release.json file when opening a PR
  tasks/libs/ciproviders/github_api.py
  tasks/libs/releasing/json.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra

#34878 [pkg/util/trivy/docker] add missing go build tags
  pkg/util/trivy/docker.go
  pkg/util/trivy/image.go
  pkg/util/trivy/overlayfs.go
  pkg/util/trivy/scan_image.go
  pkg/util/trivy/trivy.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review

#34427 [AGENTCFG-79] Remove usage of Viper from comp/logs/agent/config/parser.go
  comp/logs/agent/config/go.mod
  comp/logs/agent/config/integration_config.go
  comp/logs/agent/config/parser.go
  comp/logs/agent/config/parser_test.go
  comp/logs/agent/config/processing_rules.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks_test.go
  pkg/logs/launchers/container/tailerfactory/file_test.go
  pkg/logs/schedulers/channel/scheduler_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, team/agent-log-pipelines

#34719 Add a nightly static quality gates threshold update
  .gitlab-ci.yml
  .gitlab/functional_test/static_quality_gate.yml
  tasks/quality_gates.py
  tasks/static_quality_gates/lib/gates_lib.py
  tasks/unit_tests/quality_gates_tests.py
  tasks/unit_tests/testdata/quality_gate_config_test.yml
Labels: changelog/no-changelog, qa/no-code-change, long review

#34891 [DJM script] Fix spark tags that are breaking job metrics correlation
  pkg/fleet/installer/setup/djm/databricks.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#34894 Remove deprecated integration tests
  tasks/agent.py
  tasks/cluster_agent.py
  test/integration/corechecks/docker/basemetrics_test.go
  test/integration/corechecks/docker/catalog.go
  test/integration/corechecks/docker/events_test.go
  test/integration/corechecks/docker/exitcode_test.go
  test/integration/corechecks/docker/globalmetrics_test.go
  test/integration/corechecks/docker/main_test.go
  test/integration/corechecks/docker/serviceup_test.go
  test/integration/corechecks/docker/testdata/basemetrics.compose
  test/integration/corechecks/docker/testdata/events.compose
  test/integration/corechecks/docker/testdata/exitcode.compose
  test/integration/corechecks/docker/testdata/globalmetrics.compose
  test/integration/util/kube_apiserver/apiserver_test.go
  test/integration/util/kube_apiserver/common.go
  test/integration/util/kube_apiserver/testdata/apiserver-compose.yaml
  test/integration/util/kube_apiserver/testdata/kubeconfig.json
  test/integration/util/kubelet/common.go
  test/integration/util/kubelet/insecurekubelet_test.go
  test/integration/util/kubelet/securekubelet_test.go
  test/integration/util/kubelet/testdata/Dockerfile
  test/integration/util/kubelet/testdata/Dockerfile.base
  test/integration/util/kubelet/testdata/entrypoint.sh
  test/integration/util/kubelet/testdata/insecure-kubelet-compose.yaml
  test/integration/util/kubelet/testdata/secure-kubelet-compose.yaml
Labels: changelog/no-changelog, qa/no-code-change

#34829 Increase remote-tagger timeout to fetch auth token
  comp/core/tagger/impl-remote/remote.go
Labels: changelog/no-changelog, team/container-platform, short review, qa/rc-required, backport/7.64.x

#34242 [SBOM] Allow excluding containers from infrastructure vulnerabilities monitoring
  comp/core/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/crio/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/docker/image_sbom_trivy.go
  pkg/collector/corechecks/sbom/check.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
  pkg/sbom/collectors/collectors.go
  pkg/security/security_profile/profile/profile.go
  pkg/util/containers/filter.go
  pkg/util/docker/docker_util.go
  pkg/util/docker/global.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, medium review, qa/rc-required, ask-review

#34862 regression_detector.yml: bump smp 0.20.2 -> 0.21.0
  .gitlab/functional_test/regression_detector.yml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change, short review

#34897 [CWS] Create policy state from policy instead of rule
  pkg/security/rules/monitor/policy_monitor.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34883 Bump integrations-core pin
  release.json
Labels: changelog/no-changelog, team/agent-security, team/windows-kernel-integrations, qa/no-code-change, team/agent-delivery, short review, team/agent-metric-pipelines

#34798 Mark E2E Logs Multi Line Tests as Flaky
  test/new-e2e/tests/agent-log-pipelines/linux-log/file-tailing/multi_line_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-log-pipelines

#34895 Ensure correct default build tags in fips image for processes
  releasenotes/notes/bugfix-add-missing-build-tags-in-fips-image-8d30a4de0b69edd0.yaml
  tasks/agent.py
  tasks/build_tags.py
  tasks/process_agent.py
  tasks/trace_agent.py
Labels: qa/done, medium review, backport/7.64.x

#34917 usm: Change map keys from u32 to void*
  pkg/network/ebpf/c/protocols/tls/go-tls-maps.h
  pkg/network/ebpf/c/protocols/tls/native-tls-maps.h
Labels: changelog/no-changelog, team/usm, qa/done, ask-review

#34885 [tagger/taglist] Use "unique" for tags
  comp/core/tagger/taglist/taglist.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#34890 [AGENTRUN-168] remove hardcoded logs-agent component from API component
  cmd/agent/subcommands/jmx/command.go
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/api_test.go
  comp/api/api/apiimpl/internal/agent/agent.go
  comp/api/api/apiimpl/internal/agent/agent_test.go
  comp/api/api/apiimpl/server_cmd.go
  comp/logs/agent/agentimpl/agent.go
Labels: changelog/no-changelog, qa/done, medium review

#34915 [CWS] split raw packet unmarshaller in build gated file
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/secl/model/unmarshallers_pcap_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#34299 Remove obsolete experimental code
  comp/dogstatsd/server/batch.go
  pkg/aggregator/demultiplexer.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-metric-pipelines

#34207 (fleet) add dotnet SSI for IIS support to the installer on windows
  .gitlab/e2e/e2e.yml
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/apm_library_dotnet.go
  pkg/fleet/installer/packages/apm_library_dotnet_windows.go
  pkg/fleet/installer/packages/exec/dotnet_library_exec.go
  pkg/fleet/installer/packages/pre_remove_hooks.go
  test/new-e2e/tests/installer/unix/package_definitions.go
  test/new-e2e/tests/installer/windows/installer.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_no_iis_test.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_test.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/resources/index.aspx
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/resources/web.config
Labels: changelog/no-changelog, qa/done, team/fleet-automation, medium review

#34928 fix(dda): Bump to latest version
  .github/actions/install-dda/action.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#34927 Fix the nightly deployment pipeline
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  service.datadog.yaml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review
