Repository DataDog/datadog-agent, pull requests merged in 2025-02, with the labels that each got.

#33068 [FA] Add config version tag in metric
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, long review

#33256 [HA Agent] update datadog.agent.ha_agent.running metric tags
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  test/new-e2e/tests/ha-agent/haagent_test.go
Labels: changelog/no-changelog, qa/done, short review

#33379 [NPM-4140] Enable ebpfless tests in CI/KMT
  pkg/config/setup/system_probe.go
  pkg/ebpf/ebpftest/buildmode.go
  pkg/ebpf/ebpftest/buildmode_test.go
  pkg/network/tracer/testutil/config_linux.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/usm/tests/tracer_classification_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, long review

#33626 [EBPF] uprobes: ensure shared libraries are attached even if attaching to executable fails
  pkg/ebpf/uprobes/attacher.go
  pkg/ebpf/uprobes/attacher_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review, ask-review

#33539 Update last_stable to 7.62.0
  release.json
Labels: changelog/no-changelog, team/agent-release-management, qa/no-code-change, team/agent-delivery, short review

#33629 Changelog updates for 7.62.1 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, qa/no-code-change, backport/main, team/agent-delivery, short review

#33590 [pkg/util/crio] Add missing go build tag
  pkg/util/crio/crio_util.go
Labels: changelog/no-changelog, qa/done, short review

#33653 DCA: don't upload security-agent-policies git/github folders to S3
  .gitlab/binary_build/cluster_agent.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#33461 chore(apm): use origindetection Local Data resolution
  comp/core/tagger/origindetection/origindetection.go
  comp/core/tagger/origindetection/origindetection_test.go
  pkg/trace/api/container_linux.go
Labels: changelog/no-changelog, qa/done, long review

#33546 [HA Agent][NDMII-3313] Add ha_agent_metadata
  .github/CODEOWNERS
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/diagnose/command_test.go
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  comp/README.md
  comp/metadata/bundle.go
  comp/metadata/bundle_test.go
  comp/metadata/haagent/README.md
  comp/metadata/haagent/def/component.go
  comp/metadata/haagent/fx/fx.go
  comp/metadata/haagent/impl/haagent.go
  comp/metadata/haagent/impl/haagentimpl.go
  comp/metadata/haagent/impl/haagentimpl_test.go
  comp/metadata/haagent/impl/status.go
  comp/metadata/haagent/impl/status_templates/inventory.tmpl
  comp/metadata/haagent/impl/status_templates/inventoryHTML.tmpl
Labels: changelog/no-changelog, team/agent-shared-components, qa/done, long review

#33619 [EBPF] gpu: enable uprobe attacher debug endpoints
  cmd/system-probe/modules/gpu.go
  pkg/gpu/const.go
  pkg/gpu/probe.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review, ask-review

#33631 [EBPF] gpu: limit warning logs in NVML
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review

#33660 Revert "Update last_stable to 7.62.0 (#33539)"
  release.json
Labels: changelog/no-changelog, qa/no-code-change, short review

#33193 Kernel telemetry counter http2 continuation frames
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/protocols/http2/model_linux.go
  pkg/network/protocols/http2/telemetry.go
  pkg/network/protocols/http2/telemetry_test.go
  pkg/network/protocols/http2/types_linux.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/done, long review, ask-review

#33657 [CWS] statically define what getter to be generated
  pkg/security/generators/accessors/accessors.go
  pkg/security/generators/accessors/common/types.go
  pkg/security/generators/accessors/field_accessors.tmpl
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/seclwin/model/model_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, long review

#33551 APM: Normalize env as a tag value not a full tag (APMS-14643)
  cmd/trace-agent/config/remote/config.go
  comp/trace/config/setup.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/api/otlp.go
  pkg/trace/traceutil/normalize.go
  releasenotes/notes/traceagent-envnorm-24129c7e92fbeda9.yaml
Labels: team/agent-apm, qa/done, medium review

#33233 [HA Agent] Add datadog.agent.ha_agent.integration_runs
  comp/core/gui/guiimpl/checks.go
  comp/haagent/def/component.go
  comp/haagent/impl/haagent.go
  comp/haagent/impl/haagent_test.go
  comp/haagent/mock/mock.go
  pkg/cli/subcommands/check/command.go
  pkg/collector/check/stats/stats.go
  pkg/collector/runner/expvars/expvars.go
  pkg/collector/runner/expvars/expvars_test.go
  pkg/collector/worker/check_logger_test.go
  pkg/collector/worker/worker.go
Labels: changelog/no-changelog, qa/done, long review, team/ndm-core

#33668 Minor fix for Agent Log & Metric team names
  .ddqa/config.toml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#33664 [CWS] load policies in a predictable order
  pkg/security/rconfig/policies.go
  pkg/security/secl/rules/policy_dir.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#33642 [CTK-4365] [CTK-4612] [CTK-4612] Update tests to look at all possible payloads to look for valid processes instead of just the first 2
  test/new-e2e/tests/process/docker_test.go
  test/new-e2e/tests/process/ecs_test.go
  test/new-e2e/tests/process/testing.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#33643 Ensure developer docs reflect the current version of Go
  docs/public/.hooks/inject_variables.py
  docs/public/.hooks/plugin_register.py
  docs/public/setup.md
  mkdocs.yml
  tasks/update_go.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-developer-tools, medium review

#33667 [CWS] tests: avoid calling `t.Fatal` from probe goroutine
  pkg/security/tests/activity_dumps_test.go
  pkg/security/tests/cgroup_test.go
  pkg/security/tests/link_test.go
  pkg/security/tests/mkdir_test.go
  pkg/security/tests/mmap_test.go
  pkg/security/tests/mprotect_test.go
  pkg/security/tests/network_test.go
  pkg/security/tests/open_test.go
  pkg/security/tests/process_test.go
  pkg/security/tests/rename_test.go
  pkg/security/tests/rmdir_test.go
  pkg/security/tests/security_profile_test.go
  pkg/security/tests/unlink_test.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#33672 Remove Old Team Name (SIT) from CODEOWNERS
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  tasks/libs/issue/assign.py
  tasks/libs/issue/model/constants.py
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/github_slack_review_map.yaml
  tasks/libs/releasing/documentation.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#33671 Run Windows MSI E2E on release.json change
  .gitlab-ci.yml
Labels: changelog/no-changelog, team/windows-agent, qa/no-code-change, short review, ask-review

#33588 [EBPF-641] gpu: configure cgroup permissions for agent
  cmd/system-probe/modules/gpu.go
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
  pkg/collector/corechecks/gpu/gpu.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, medium review, ask-review

#32882 [clusteragent/autoscaling] Generate local horizontal recommendations
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/workloadmeta/collectors/internal/ecs/v1parser.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/pod_test.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet_test.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod_test.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/def/types_test.go
  pkg/clusteragent/autoscaling/max_heap.go
  pkg/clusteragent/autoscaling/workload/common/doc.go
  pkg/clusteragent/autoscaling/workload/common/scale_direction.go
  pkg/clusteragent/autoscaling/workload/config_retriever.go
  pkg/clusteragent/autoscaling/workload/config_retriever_test.go
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_horizontal.go
  pkg/clusteragent/autoscaling/workload/controller_horizontal_test.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/loadstore/entity.go
  pkg/clusteragent/autoscaling/workload/loadstore/store.go
  pkg/clusteragent/autoscaling/workload/loadstore/store_test.go
  pkg/clusteragent/autoscaling/workload/loadstore/storeimpl.go
  pkg/clusteragent/autoscaling/workload/local/doc.go
  pkg/clusteragent/autoscaling/workload/local/recommendation_settings.go
  pkg/clusteragent/autoscaling/workload/local/recommendation_settings_test.go
  pkg/clusteragent/autoscaling/workload/local/recommender.go
  pkg/clusteragent/autoscaling/workload/local/recommender_test.go
  pkg/clusteragent/autoscaling/workload/local/recommender_testutils.go
  pkg/clusteragent/autoscaling/workload/local/replica_calculator.go
  pkg/clusteragent/autoscaling/workload/local/replica_calculator_test.go
  pkg/clusteragent/autoscaling/workload/local/telemetry.go
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
  pkg/clusteragent/autoscaling/workload/pod_patcher_test.go
  pkg/clusteragent/autoscaling/workload/pod_watcher.go
  pkg/clusteragent/autoscaling/workload/pod_watcher_test.go
  pkg/clusteragent/autoscaling/workload/provider/doc.go
  pkg/clusteragent/autoscaling/workload/provider/provider.go
  pkg/util/kubernetes/resource.go
  pkg/util/kubernetes/resource_test.go
Labels: team/containers, changelog/no-changelog, qa/done, component/autoscaling, long review

#33677 SMP lower `quality_gate_idle` limit
  test/regression/cases/quality_gate_idle/experiment.yaml
Labels: changelog/no-changelog, team/single-machine-performance, qa/no-code-change, short review

#32938 [OTEL-2317] Add status section for OTel Agent
  cmd/agent/subcommands/run/command.go
  comp/README.md
  comp/otelcol/status/def/component.go
  comp/otelcol/status/fx/fx.go
  comp/otelcol/status/impl/status.go
  comp/otelcol/status/impl/status_templates/otelagent.tmpl
  comp/otelcol/status/impl/status_templates/otelagentHTML.tmpl
  comp/otelcol/status/impl/status_test.go
Labels: changelog/no-changelog, team/opentelemetry, qa/no-code-change, long review

#33544 [AMLII-2244] Update the agent to use cached message in multiline handler
  pkg/logs/internal/decoder/auto_multiline_detection/aggregator_test.go
  pkg/logs/internal/decoder/line_handler_test.go
  pkg/logs/internal/decoder/multiline_handler.go
  pkg/logs/message/message.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-logs

#33670 [pkg/orchestrator/redact] Use orchestrator build tag
  pkg/orchestrator/redact/data_scrubber_test.go
  pkg/orchestrator/redact/metadata.go
  pkg/orchestrator/redact/pod.go
  pkg/orchestrator/redact/pod_test.go
Labels: changelog/no-changelog, qa/done, medium review

#32964 Static Quality Gates
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/static_quality_gate.yml
  tasks/__init__.py
  tasks/quality_gates.py
  tasks/static_quality_gates/__init__.py
  tasks/static_quality_gates/lib/gates_lib.py
  tasks/static_quality_gates/static_quality_gate_agent_deb_amd64.py
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
  tasks/unit_tests/quality_gates_tests.py
  tasks/unit_tests/testdata/fake_agent_image/with_tar_gz_archive/output.tar
  tasks/unit_tests/testdata/fake_agent_image/without_tar_gz_archive/output.tar
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, long review

#33648 [FA][HA Agent] Add config_id only to agent running metrics
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-metrics

#33630 [EBPF] gpu: enable periodic uprobe attacher scan
  pkg/gpu/config/config.go
  pkg/gpu/consumer.go
  pkg/gpu/probe.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, short review, ask-review

#33639 add e2e test for PHP language-detection
  test/new-e2e/tests/language-detection/language_detection_test.go
  test/new-e2e/tests/language-detection/php_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, team/container-intake

#33632 service discovery: Remove redundant test
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review, ask-review, team/agent-discovery

#33655 system-probe: flare: Pull runtime configuration via the config handler of system-probe
  pkg/flare/archive.go
Labels: changelog/no-changelog, short review, qa/rc-required, backport/7.63.x, team/agent-configuration

#33692 Disable fentry by default in event stream
  pkg/config/setup/system_probe.go
Labels: changelog/no-changelog, team/agent-security, qa/done, medium review, backport/7.62.x, backport/7.63.x

#33679 Increase the timeout for the fips-server start command
  test/new-e2e/tests/fips-compliance/common.go
  test/new-e2e/tests/fips-compliance/fips_ciphers_win_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#33681 Fix various nil pointer dereferences in dynamic instrumentation sysprobe module
  pkg/dynamicinstrumentation/codegen/codegen.go
  pkg/dynamicinstrumentation/codegen/codegen_test.go
  pkg/dynamicinstrumentation/diconfig/binary_inspection.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Labels: changelog/no-changelog, team/dynamic-instrumentation, qa/done, medium review

#33678 [chore] add used_by_otel to pkg/util/uuid
  modules.yml
  pkg/util/uuid/go.mod
Labels: changelog/no-changelog, qa/no-code-change, short review

#33156 Add ddprofilingextension
  LICENSE-3rdparty.csv
  comp/README.md
  comp/otelcol/collector/impl/collector.go
  comp/otelcol/ddprofilingextension/README.md
  comp/otelcol/ddprofilingextension/def/component.go
  comp/otelcol/ddprofilingextension/def/go.mod
  comp/otelcol/ddprofilingextension/def/go.sum
  comp/otelcol/ddprofilingextension/fx/fx.go
  comp/otelcol/ddprofilingextension/impl/config.go
  comp/otelcol/ddprofilingextension/impl/extension.go
  comp/otelcol/ddprofilingextension/impl/extension_test.go
  comp/otelcol/ddprofilingextension/impl/factory.go
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/server.go
  comp/otelcol/otlp/components/exporter/datadogexporter/traces_exporter_test.go
  comp/trace/agent/def/component.go
  comp/trace/agent/impl/agent.go
  go.mod
  go.sum
  go.work
  internal/tools/go.mod
  internal/tools/go.sum
  modules.yml
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.sum
  test/otel/testdata/builder-config.yaml
  test/otel/testdata/collector-config.yaml
Labels: changelog/no-changelog, team/opentelemetry, qa/done, long review

#33708 Revert "Static Quality Gates"
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/static_quality_gate.yml
  tasks/__init__.py
  tasks/quality_gates.py
  tasks/static_quality_gates/__init__.py
  tasks/static_quality_gates/lib/gates_lib.py
  tasks/static_quality_gates/static_quality_gate_agent_deb_amd64.py
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
  tasks/unit_tests/quality_gates_tests.py
  tasks/unit_tests/testdata/fake_agent_image/with_tar_gz_archive/output.tar
  tasks/unit_tests/testdata/fake_agent_image/without_tar_gz_archive/output.tar
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, long review

#33424 [CONTP-573] Send lang detected info only once all container info present
  comp/languagedetection/client/clientimpl/client.go
  comp/languagedetection/client/clientimpl/client_test.go
  comp/languagedetection/client/clientimpl/util.go
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review

#33676 [EBPF] gpu: do not parse all nvInfo attributes
  pkg/gpu/cuda/cubin.go
  pkg/gpu/cuda/fatbin_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review, ask-review

#33284 Move config/set trace-agent endpoint to debug server (APMSP-1728)
  comp/trace/agent/impl/run.go
  pkg/trace/remoteconfighandler/remote_config_handler.go
  pkg/trace/remoteconfighandler/remote_config_handler_test.go
  releasenotes/notes/traceagent-configsetdebug-981622d3c616950c.yaml
Labels: team/agent-apm, qa/done, medium review

#33707 [networks] Fix rare race on TestSendfileRegression
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, short review

#33712 Update build image in CircleCI
  .circleci/config.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#32515 Route agent crash detection through agent telemetry component
  comp/checks/agentcrashdetect/agentcrashdetectimpl/agentcrashdetect.go
  comp/checks/bundle_test.go
  comp/core/agenttelemetry/def/component.go
  comp/core/agenttelemetry/impl/agenttelemetry.go
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/agenttelemetry/impl/config.go
  comp/core/agenttelemetry/impl/sender.go
  pkg/internaltelemetry/client.go
  releasenotes/notes/agent-tel-bsod-payload-791ab2c7f553abb4.yaml
Labels: [deprecated] team/agent-shared-components, qa/done, medium review, need-change/agenttelemetry-governance

#33586 Prevent setting a probabilistic decision maker for OTLP spans sampled by the Error Sampler
  pkg/config/config_template.yaml
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/sampler.go
  releasenotes/notes/fix-ingestion-reason-for-otlp-spans-71a29c0ffb8f7ade.yaml
Labels: team/opentelemetry, qa/done, medium review

#33644 `logs.processed` and `logs.sent` metrics will not be emitted
  comp/core/agenttelemetry/impl/config.go
  releasenotes/notes/agent-tel-remove-unused-3642aaa41394e6f1.yaml
Labels: qa/no-code-change, short review, need-change/agenttelemetry-governance

#33710 Revert "revert static quality gates"
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/static_quality_gate.yml
  tasks/__init__.py
  tasks/quality_gates.py
  tasks/static_quality_gates/__init__.py
  tasks/static_quality_gates/lib/gates_lib.py
  tasks/static_quality_gates/static_quality_gate_agent_deb_amd64.py
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
  tasks/unit_tests/quality_gates_tests.py
  tasks/unit_tests/testdata/fake_agent_image/with_tar_gz_archive/output.tar
  tasks/unit_tests/testdata/fake_agent_image/without_tar_gz_archive/output.tar
  test/static/static_quality_gates.yml
Labels: changelog/no-changelog, qa/no-code-change, long review

#33187 Support obfuscation for valkey spans
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  comp/trace/config/testdata/full.yaml
  pkg/collector/python/test_datadog_agent.go
  pkg/config/config_template.yaml
  pkg/config/setup/apm.go
  pkg/obfuscate/obfuscate.go
  pkg/trace/agent/fuzz_test.go
  pkg/trace/agent/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
  pkg/trace/transform/obfuscate.go
  releasenotes/notes/add-valkey-support-c800f16cfb220811.yaml
Labels: team/agent-apm, qa/done, long review

#32377 [NDM] Move validation to profiledefinition
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/profile/profile_resolver.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/networkdevice/profile/go.mod
  pkg/networkdevice/profile/go.sum
  pkg/networkdevice/profile/profiledefinition/normalize_cmd/cmd/root.go
  pkg/networkdevice/profile/profiledefinition/normalize_cmd/main.go
  pkg/networkdevice/profile/profiledefinition/validation.go
  pkg/networkdevice/profile/profiledefinition/validation_test.go
Labels: changelog/no-changelog, team/network-device-monitoring, qa/done, medium review

#32587 [SNMP] Updatable profile provider
  pkg/collector/corechecks/snmp/internal/profile/profile_initconfig.go
  pkg/collector/corechecks/snmp/internal/profile/profile_resolver.go
  pkg/collector/corechecks/snmp/internal/profile/profile_resolver_test.go
  pkg/collector/corechecks/snmp/internal/profile/profile_yaml.go
  pkg/collector/corechecks/snmp/internal/profile/profile_yaml_test.go
  pkg/collector/corechecks/snmp/internal/profile/testing_utils.go
  pkg/collector/corechecks/snmp/internal/profile/updatable.go
  pkg/collector/corechecks/snmp/internal/profile/updatable_test.go
Labels: changelog/no-changelog, team/network-device-monitoring, qa/no-code-change, medium review, team/ndm-core

#33704 [Backport 7.62.x] Disable fentry by default in event stream
  pkg/config/setup/system_probe.go
Labels: changelog/no-changelog, team/agent-security, qa/done, backport, short review

#33697 feat(github): Add a new workflow to check repo permissions
  .github/workflows/assess_permissions.yml
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
  tasks/unit_tests/github_api_tests.py
  tasks/unit_tests/github_tasks_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#33722 fix(issue.assign): Remove unexpected reference to `containers`
  tasks/libs/issue/assign.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#33705 discovery: module: sort container tags before parsing them
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, short review, team/agent-discovery

#33698 CI: DCA: use gitlab artifacts for the binaries instead of an S3 bucket
  .gitlab/binary_build/cluster_agent.yml
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/cluster-agent/Dockerfile
  Dockerfiles/cws-instrumentation/Dockerfile
  tasks/cws_instrumentation.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, long review, ask-review

#33686 Add native sidecar resource requirement type
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  go.mod
  go.sum
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
  pkg/logs/pipeline/go.mod
  pkg/logs/pipeline/go.sum
  pkg/logs/processor/go.mod
  pkg/logs/processor/go.sum
  pkg/process/util/api/go.mod
  pkg/process/util/api/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  releasenotes/notes/releasenotes-54e5a86cbfcfa3e6.yaml
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Labels: team/container-app, qa/done, long review

#33701 podresources: Fix path to check socket
  pkg/config/env/environment_containers.go
Labels: changelog/no-changelog, qa/done, team/container-platform, medium review, ask-review

#33656 [HA Agent] Use title case for consistency with the rest of status page
  cmd/agent/subcommands/diagnose/command.go
  comp/metadata/haagent/impl/status.go
  comp/metadata/haagent/impl/status_templates/inventoryHTML.tmpl
Labels: changelog/no-changelog, qa/done, short review

#33658 Update QA cards for ASC teams
  .ddqa/config.toml
Labels: changelog/no-changelog, qa/no-code-change, short review, team/agent-runtimes, team/agent-configuration

#33729 [EBPF] ebpfcheck: add occupation and occupation_increase map metrics
  pkg/collector/corechecks/ebpf/ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, short review, ask-review

#33747 Revert "feat(MQ): Grant merge permissions on release branches for agent-supply-chain (#32801)"
  repository.datadog.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#33713 update cobra.Command for inventory-otel diagnose cmd
  cmd/agent/subcommands/diagnose/command.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#33742 Add `privkey` and `authkey` in the scrubber
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
  pkg/util/scrubber/yaml_scrubber_test.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#33699 Remove the dependency of dogstatsd on linter
  .gitlab/package_build/linux.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-delivery, short review

#33689 enable ecs by default
  pkg/config/config_template.yaml
  pkg/config/setup/config.go
  releasenotes/notes/releasenotes-bac55ded540c6e83.yaml
Labels: team/container-app, qa/done, medium review

#33733 [network path] Add datadog.network_path.collector.pathtest_processing_chan_size metric
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, short review

#33750 Docker static quality gates metrics weren't correctly registered
  .gitlab/functional_test/static_quality_gate.yml
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#33751 Remove CodeQL while it is migrated to Gitlab
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#33761 [corechecks/cluster/ksm] Expose resource annotations after custom resources configured
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  releasenotes-dca/notes/fix-annotations-as-tags-custom-collectors-7e657f9e7921838a.yaml
Labels: team/containers, qa/done, short review, backport/7.62.x, backport/7.63.x

#33659 [CWS] Support ttl and size for global int set
  pkg/security/rules/engine.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/opts.go
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/model_windows.go
  pkg/security/secl/model/variables.go
  pkg/security/secl/rules/opts.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/seclwin/model/model_win.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, medium review, qa/rc-required

#33756 fix(deploy): [agent6] Set the correct value for manual deploy
  .gitlab/deploy_containers/conditions.yml
Labels: changelog/no-changelog, qa/no-code-change

#33773 Remove `generate_windows_gitlab_runner_bump_pr_manual` job
  .gitlab/trigger_release/trigger_release.yml
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, short review

#33749 feat(mergequeue): Restrict permissions on release branches to agent-supply-chain
  repository.datadog.yml
Labels: changelog/no-changelog, qa/no-code-change, short review

#33738 fix(renovate): Add buildimage update to circleci
  renovate.json
Labels: changelog/no-changelog, qa/no-code-change, short review

#33703 chore(apm): consolidate External Data Origin Detection
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/server/server.go
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
  pkg/trace/api/pipeline_stats_test.go
  pkg/trace/api/profiles_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/done, medium review

#33776 Quality Gates Unit tests tearDown wasn't working as expected fix
  tasks/unit_tests/quality_gates_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#33778 [CWS] allow to set field value on helper fields
  pkg/security/generators/accessors/accessors.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/model_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, long review

#33780 [fleet] add aws remote server location
  pkg/fleet/telemetry/http_wrapper.go
Labels: changelog/no-changelog, qa/done, team/fleet-automation, short review

#33636 feat(protobuf): Test the protoc version
  pkg/proto/datadog/README.md
  renovate.json
  tasks/libs/common/check_tools_version.py
  tasks/protobuf.py
  tasks/unit_tests/libs/common/check_tools_tests.py
Labels: changelog/no-changelog, qa/no-code-change, medium review

#33764 add github workflow link to pr body
  tasks/libs/ciproviders/github_api.py
  tasks/release.py
Labels: changelog/no-changelog, qa/no-code-change, team/agent-devx-infra, team/agent-delivery, short review

#33719 [Network Path] Ignore gopacket unsupported layers to avoid false negatives, fix UDP payload calculation
  pkg/networkpath/traceroute/icmp/tcp_parser.go
  pkg/networkpath/traceroute/icmp/udp_parser.go
  pkg/networkpath/traceroute/tcp/parser.go
  pkg/networkpath/traceroute/udp/udpv4.go
  pkg/networkpath/traceroute/udp/udpv4_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, medium review, backport/7.63.x

#33777 usm,npm: classification: Add test to ensure no regression with TLS classification
  pkg/network/tracer/tracer_linux_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, team/usm, qa/no-code-change, short review

#33740 [networks] Fix flaking networks e2e test
  test/new-e2e/tests/npm/common_1host.go
Labels: changelog/no-changelog, team/networks, qa/done, short review

#33330 [NPM-3751] retry network ID fetch
  cmd/system-probe/modules/network_tracer.go
  pkg/process/checks/net.go
  pkg/process/net/common.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, medium review

#33793 Revert "chore(apm): consolidate External Data Origin Detection (#33703)"
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/server/server.go
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
  pkg/trace/api/pipeline_stats_test.go
  pkg/trace/api/profiles_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info_test.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#33787 service discovery: Add params to endpoint
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/params.go
  pkg/collector/corechecks/servicediscovery/module/params_test.go
Labels: changelog/no-changelog, component/system-probe, qa/done, medium review, ask-review, team/agent-discovery

#33075 [ASCII-2671] Add check loader name tag on `checks.execution_time` metric
  comp/collector/collector/collectorimpl/internal/middleware/check_wrapper.go
  comp/core/agenttelemetry/impl/config.go
  pkg/collector/check/check.go
  pkg/collector/check/check_mock.go
  pkg/collector/check/stats/stats.go
  pkg/collector/check/stats/stats_test.go
  pkg/collector/check/stub/stub.go
  pkg/collector/corechecks/checkbase.go
  pkg/collector/corechecks/embed/apm/apm.go
  pkg/collector/corechecks/embed/process/process_agent.go
  pkg/collector/corechecks/loader.go
  pkg/collector/corechecks/longrunning_test.go
  pkg/collector/python/check.go
  pkg/collector/python/loader.go
  pkg/collector/scheduler_test.go
Labels: changelog/no-changelog, [deprecated] team/agent-shared-components, qa/done, long review, need-change/agenttelemetry-governance, ask-review

#33759 Remove setuptools env var override
  pkg/collector/python/init.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-metric-pipelines

#33757 [network path] Update dynamic path limits
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-configuration

#33791 Add uid as a tag to k[ret]probe stats
  pkg/ebpf/telemetry/debugfs_stat_collector_linux.go
  pkg/ebpf/telemetry/debugfs_test.go
Labels: changelog/no-changelog, component/system-probe, team/ebpf-platform, qa/done, medium review, backport/7.63.x

#33286 [corechecks/cluster/ksm] Support kubernetes resource labels/annotations as tags in ksm check
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  releasenotes-dca/notes/add-resource-labels-annotations-tags-ksm-117ff93f6b2cdb93.yaml
  test/new-e2e/tests/containers/k8s_test.go
Labels: team/containers, qa/done, medium review

#33641 Change reported digest for containerd image layers to the rootfs diffid
  comp/core/workloadmeta/collectors/internal/containerd/image.go
  comp/core/workloadmeta/collectors/internal/containerd/image_test.go
Labels: team/containers, changelog/no-changelog, qa/done, team/container-platform, short review

#33717 [afpacket] Fix race with Close() seen in CI
  go.mod
  go.sum
  pkg/network/filter/packet_source_linux.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, medium review

#33560 [OTAGENT-21] respect the FF metricremappingdisabled in serializer exporter
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
Labels: changelog/no-changelog, team/opentelemetry, qa/done, medium review

#33734 [networks] Add timeouts/graceful shutdown to test suite
  pkg/network/tracer/testutil/tcp.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, medium review

#33794 [Backport 7.63.x][Network Path] Ignore gopacket unsupported layers to avoid false nega…
  pkg/networkpath/traceroute/icmp/tcp_parser.go
  pkg/networkpath/traceroute/icmp/udp_parser.go
  pkg/networkpath/traceroute/tcp/parser.go
  pkg/networkpath/traceroute/udp/udpv4.go
  pkg/networkpath/traceroute/udp/udpv4_test.go
Labels: team/networks, team/network-device-monitoring, backport, medium review

#33795 [ASCII-2748] Stop excluding checks from `checks.execution_time` telemetry
  comp/core/agenttelemetry/impl/config.go
Labels: changelog/no-changelog, qa/done, short review, need-change/agenttelemetry-governance, team/agent-runtimes

#33673 [CWS] Resolve cgroup context when snapshotting `traced_cgroups` map
  pkg/security/ebpf/c/include/structs/activity_dump.h
  pkg/security/secl/model/marshallers_linux.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/security_profile/dump/activity_dump.go
  pkg/security/security_profile/dump/load_controller.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/tests/module_tester_linux.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, medium review

#33803 fix(ssi): remove newly added config variables
  pkg/clusteragent/admission/common/label_selectors.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/filter.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/mutator.go
  pkg/clusteragent/admission/mutate/common/filter.go
  pkg/clusteragent/admission/mutate/common/filter_test.go
  pkg/clusteragent/admission/mutate/common/mutator.go
  pkg/clusteragent/admission/mutate/config/config_test.go
  pkg/clusteragent/admission/mutate/config/filter.go
  pkg/clusteragent/admission/mutate/tagsfromlabels/filter.go
  pkg/clusteragent/admission/mutate/tagsfromlabels/tags_test.go
  pkg/config/setup/config.go
  releasenotes/notes/decouple-admission-controller-webhooks-e75f98372d5edc01.yaml
Labels: changelog/no-changelog, qa/done, long review

#33811 feat(notification): Display the pipeline duration in the message
  tasks/libs/pipeline/notifications.py
  tasks/unit_tests/notify_tests.py
Labels: changelog/no-changelog, qa/no-code-change, short review

#33816 fix(windows): [agent6] Set correct data for the windows signature test
  test/kitchen/test/integration/common/rspec_datadog/spec_helper.rb
  test/new-e2e/tests/windows/command/agent.go
  test/new-e2e/tests/windows/common/agent/agent.go
Labels: changelog/no-changelog, qa/no-code-change

#33752 Simplify secretsutils API and documentation
  test/new-e2e/examples/agentenv_file_permissions_test.go
  test/new-e2e/examples/agentenv_file_permissions_win_test.go
  test/new-e2e/tests/agent-configuration/api/api_test.go
  test/new-e2e/tests/agent-configuration/config-refresh/non_core_agents_sync_nix_test.go
  test/new-e2e/tests/agent-configuration/config-refresh/non_core_agents_sync_win_test.go
  test/new-e2e/tests/agent-configuration/secret/secret_nix_test.go
  test/new-e2e/tests/agent-configuration/secret/secret_win_test.go
  test/new-e2e/tests/agent-configuration/secretsutils/client.go
  test/new-e2e/tests/agent-configuration/secretsutils/helpers.go
  test/new-e2e/tests/agent-subcommands/secret/secret_nix_test.go
  test/new-e2e/tests/agent-subcommands/secret/secret_win_test.go
  test/new-e2e/tests/apm/vm_test.go
Labels: changelog/no-changelog, qa/done, medium review, team/agent-configuration

#33810 [NDM] Use agent logger in GoFlow
  comp/netflow/goflowlib/flowstate.go
  comp/netflow/goflowlib/logger.go
Labels: changelog/no-changelog, qa/done, short review, team/ndm-integrations

#33812 [EBPF] gpu: fallback container -> device assignment in systems with only one GPU
  pkg/gpu/context.go
  pkg/gpu/context_test.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review, ask-review

#33805 [Network Path] Add test go build tag
  pkg/networkpath/traceroute/udp/udpv4_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review, backport/7.63.x

#33819 chore(tagger): reduce backoff for `queryContainerIDFromOriginInfo()`
  comp/core/tagger/impl-remote/remote.go
Labels: changelog/no-changelog, qa/done, team/container-platform, short review

#33829 Revert "feat(notification): Display the pipeline duration in the message (#33811)"
  tasks/libs/pipeline/notifications.py
  tasks/unit_tests/notify_tests.py
Labels: changelog/no-changelog, qa/no-code-change

#33808 Log orgs in org mismatch
  pkg/config/remote/uptane/client.go
Labels: changelog/no-changelog, team/remote-config, qa/done, short review

#33556 Add otel-agent status subcommand
  cmd/otel-agent/command/command.go
  cmd/otel-agent/subcommands/status/command.go
  cmd/otel-agent/subcommands/status/command_test.go
  cmd/otel-agent/subcommands/status/test_config.yaml
  comp/otelcol/status/def/component.go
  comp/otelcol/status/impl/status.go
  comp/otelcol/status/impl/status_test.go
  test/new-e2e/tests/otel/otel-agent/minimal_test.go
  test/new-e2e/tests/otel/utils/config_utils.go
Labels: changelog/no-changelog, qa/no-code-change, medium review

#33563 [NPM-4801] Clean Up Network Path, Enhance Testing
  pkg/networkpath/traceroute/common/common.go
  pkg/networkpath/traceroute/icmp/tcp_parser_test.go
  pkg/networkpath/traceroute/icmp/udp_parser_test.go
  pkg/networkpath/traceroute/tcp/parser.go
  pkg/networkpath/traceroute/tcp/parser_test.go
  pkg/networkpath/traceroute/tcp/tcpv4.go
  pkg/networkpath/traceroute/tcp/tcpv4_unix.go
  pkg/networkpath/traceroute/tcp/utils_unix.go
  pkg/networkpath/traceroute/tcp/utils_unix_test.go
  pkg/networkpath/traceroute/testutils/testutils.go
  pkg/networkpath/traceroute/udp/udpv4.go
  pkg/networkpath/traceroute/winconn/winconn_windows_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, long review

#31504 (fleet) small improvements to the mirroring logic
  pkg/fleet/installer/oci/download_test.go
  pkg/fleet/installer/oci/mirror.go
  pkg/fleet/installer/oci/mirror_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/done, short review

#33783 [CWS] make exec event document clearer
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/secl/model/model_unix.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/no-code-change, medium review, ask-review

#33755 [EBPF] gpu: add telemetry counter to indicate streams without assigned devices
  pkg/gpu/consumer.go
Labels: changelog/no-changelog, team/ebpf-platform, qa/done, medium review, ask-review

#33382 AMLII-2249 - fortify log tailer pipeline for journald and windows events
  pkg/logs/internal/decoder/decoder.go
  pkg/logs/internal/decoder/noop_line_handler.go
  pkg/logs/tailers/journald/tailer.go
  pkg/logs/tailers/windowsevent/tailer.go
  releasenotes/notes/fortify-tailer-683c71f78f75adcb.yaml
Labels: team/agent-metrics-logs, qa/done, medium review, team/agent-log-pipelines

#33842 [networks] Add more test timeouts
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Labels: changelog/no-changelog, component/system-probe, team/networks, qa/done, short review

#33594 Remove duplicate config files from the `site-packages` folder
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, qa/no-code-change, medium review

#33831 fix(e2e_pre_test): [agent6] Remove the `e2e_pre_test` from agent6 branch
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/e2e_pre_test/e2e_pre_test.yml
Labels: changelog/no-changelog, qa/no-code-change

#33817 service discovery: Report additional names separately
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/service_detector_test.go
Labels: changelog/no-changelog, qa/done, medium review, ask-review, team/agent-discovery

#33851 usm: http2: Make TestHTTP2KernelTelemetry generic per HTTP2_TELEMETRY_MAX_PATH_LEN
  pkg/network/protocols/http2/telemetry.go
  pkg/network/protocols/http2/types.go
  pkg/network/protocols/http2/types_linux.go
  pkg/network/usm/usm_http2_monitor_test.go
Labels: changelog/no-changelog, component/system-probe, team/usm, qa/no-code-change, medium review, ask-review

#33847 Remove test files from the python site-packages folder
  omnibus/config/software/datadog-agent-integrations-py3.rb
Labels: changelog/no-changelog, team/integrations, qa/no-code-change, short review

#33852 Update integrations core to HEAD
  release.json
Labels: changelog/no-changelog, team/agent-security, team/windows-kernel-integrations, qa/no-code-change, team/agent-delivery, short review, team/agent-metric-pipelines

#33830 Verify that the apparmor base profile always contain an include
  pkg/fleet/installer/packages/app_armor.go
  pkg/fleet/installer/packages/app_armor_test.go
  test/new-e2e/go.mod
  test/new-e2e/tests/installer/unix/package_apm_inject_test.go
Labels: changelog/no-changelog, team/windows-agent, qa/done, medium review

#33854 fix(agent6): Backport #25108 - fix new-e2e step-by-step suse test
  test/new-e2e/tests/agent-platform/step-by-step/step_by_step_test.go
Labels: changelog/no-changelog, qa/no-code-change

#33858 Changelog updates for 7.62.2 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Labels: changelog/no-changelog, team/agent-release-management, qa/no-code-change, medium review

#33796 feat(ssi): add namespace support for labels/expressions
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/config.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/config_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/target_filter.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/target_filter_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/testdata/both_labels_and_names.yaml
  pkg/clusteragent/admission/mutate/autoinstrumentation/testdata/filter.yaml
  pkg/clusteragent/admission/mutate/autoinstrumentation/testdata/filter_no_default.yaml
  pkg/clusteragent/admission/mutate/autoinstrumentation/testdata/targets_namespace_labels.yaml
Labels: changelog/no-changelog, qa/done, long review

#33844 2 small cgroup parsing fixes
  pkg/util/cgroups/pid_mapper.go
  pkg/util/cgroups/readerv2.go
Labels: changelog/no-changelog, qa/done, short review

#33824 Remove lazy linker flag
  tasks/libs/common/utils.py
Labels: changelog/no-changelog, qa/done, short review

#33343 bump `dd-trace-go` to v1.71.1
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/done, short review, team/agent-runtimes

#33832 Fix and reapply "chore(apm): consolidate External Data Origin Detection"
  cmd/trace-agent/config/remote/config.go
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/server/server.go
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
  pkg/trace/api/pipeline_stats_test.go
  pkg/trace/api/profiles_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info_test.go
Labels: changelog/no-changelog, qa/done, medium review

#33239 [APM] Add MRF support on trace-agent
  comp/remote-config/rcclient/rcclientimpl/agent_failover.go
  comp/remote-config/rcclient/rcclientimpl/rcclient.go
  comp/remote-config/rcclient/rcclientimpl/rcclient_test.go
  comp/trace/config/setup.go
  pkg/trace/config/config.go
  pkg/trace/writer/sender.go
  pkg/trace/writer/sender_test.go
  releasenotes/notes/apm-add-mrf-config-48e0220faa45c703.yaml
Labels: team/agent-apm, qa/done, medium review

#33779 feat(trigger_release): Create `on_failure` jobs for trigger_release
  .gitlab-ci.yml
  .gitlab/.ci-linters.yml
  .gitlab/JOBOWNERS
  .gitlab/trigger_release/trigger_release.yml
Labels: changelog/no-changelog, qa/no-code-change, backport/6.53.x, medium review

#33602 service discovery: Report network statistics
  cmd/system-probe/api/module/factory_linux.go
  cmd/system-probe/api/module/loader_linux.go
  cmd/system-probe/modules/discovery_linux.go
  pkg/collector/corechecks/servicediscovery/c/ebpf/runtime/discovery-net.c
  pkg/collector/corechecks/servicediscovery/c/ebpf/runtime/discovery-types.h
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/config.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/kern_types.go
  pkg/collector/corechecks/servicediscovery/module/kern_types_linux.go
  pkg/collector/corechecks/servicediscovery/module/network_ebpf.go
  pkg/collector/corechecks/servicediscovery/module/network_linux.go
  pkg/collector/corechecks/servicediscovery/module/network_mock_linux.go
  pkg/collector/corechecks/servicediscovery/module/network_noebpf.go
  pkg/collector/corechecks/servicediscovery/module/network_test.go
  pkg/config/setup/system_probe.go
  pkg/network/tracer/connection/kprobe/config.go
  tasks/system_probe.py
Labels: changelog/no-changelog, component/system-probe, qa/done, long review, ask-review, team/agent-discovery

#33871 make all CWS tests `allow_failure: true`
  .gitlab/e2e/e2e.yml
  .gitlab/functional_test/security_agent.yml
Labels: changelog/no-changelog, qa/done, team/agent-devx-infra, team/agent-devx-loops

#33785 chore(apm): consolidate inode Origin Detection
  pkg/trace/api/container_linux.go
  pkg/trace/api/container_linux_test.go
Labels: changelog/no-changelog, team/agent-apm, qa/done, short review

#33868 service discovery: Handle java -m flag
  pkg/collector/corechecks/servicediscovery/usm/java.go
  pkg/collector/corechecks/servicediscovery/usm/service.go
  pkg/collector/corechecks/servicediscovery/usm/service_test.go
Labels: changelog/no-changelog, qa/done, short review, ask-review, team/agent-discovery

#32634 Unexport AddLoader method from Scheduler
  pkg/collector/scheduler.go
  pkg/collector/scheduler_test.go
Labels: changelog/no-changelog, team/agent-metrics-logs, qa/done, short review

#33869 [netpath] Mark tests flaky until fixed
  test/new-e2e/tests/netpath/network-path-integration/netpath_int_nix_test.go
  test/new-e2e/tests/netpath/network-path-integration/netpath_int_win_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, short review

#33866 [CWS] Do not use fentry if `tasks_rcu_exit_srcu` kernel symbol is found
  pkg/ebpf/kernel_bugs.go
  pkg/security/probe/probe_ebpf.go
Labels: changelog/no-changelog, component/system-probe, team/agent-security, qa/done, short review

#33857 [workloadmeta/collectors/ecs] Leave runtime empty
  comp/core/workloadmeta/collectors/internal/ecs/v1parser.go
  comp/core/workloadmeta/collectors/internal/ecs/v1parser_test.go
  releasenotes/notes/fix-ecs-runtime-3e75bbcb8d328b1d.yaml
Labels: qa/done, team/container-platform, short review, backport/7.63.x

#33881 Mark the PersistingIntegrations suite flakey until we can investigate
  test/new-e2e/tests/agent-platform/persisting-integrations/persisting_integrations_test.go
Labels: changelog/no-changelog, qa/no-code-change, short review

#33649 [HA Agent] Remove ha_agent_enabled:true tag
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Labels: changelog/no-changelog, qa/done, short review, team/agent-metrics

#33748 [NPM-4178] Add parallel traceroute implementation
  pkg/networkpath/traceroute/common/traceroute_parallel.go
  pkg/networkpath/traceroute/common/traceroute_parallel_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, long review

#33680 [AGNTLOG-56 ] Create Auditor Component
  .github/CODEOWNERS
  comp/README.md
  comp/logs/auditor/def/component.go
  comp/logs/auditor/def/types.go
  comp/logs/auditor/fx/fx.go
  comp/logs/auditor/impl-none/auditor_noop.go
  comp/logs/auditor/impl/api_v0.go
  comp/logs/auditor/impl/api_v0_test.go
  comp/logs/auditor/impl/api_v1.go
  comp/logs/auditor/impl/api_v1_test.go
  comp/logs/auditor/impl/api_v2.go
  comp/logs/auditor/impl/api_v2_test.go
  comp/logs/auditor/impl/auditor.go
  comp/logs/auditor/impl/auditor_test.go
  comp/logs/auditor/mock/auditor_mock.go
  comp/logs/auditor/mock/registry_mock.go
Labels: changelog/no-changelog, qa/done, long review, team/agent-log-pipelines

#33841 [netpath] Add rate limit to dynamic paths
  comp/networkpath/npcollector/npcollectorimpl/config.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
  comp/networkpath/npcollector/npcollectorimpl/pathteststore/pathteststore.go
  comp/networkpath/npcollector/npcollectorimpl/pathteststore/pathteststore_test.go
  pkg/config/setup/config.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, medium review

#33767 [NPM-4241][netpath] Revamp Dynamic Path metrics
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector_test.go
Labels: changelog/no-changelog, team/networks, team/network-device-monitoring, qa/done, short review

#33894 remove dependency on `github.com/dvsekhvalnov/jose2go` and use stdlib
  LICENSE-3rdparty.csv
  comp/core/gui/guiimpl/gui.go
  go.mod
  go.sum
Labels: changelog/no-changelog, qa/done, medium review, team/agent-configuration
